USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [MIDI].[GenericTransProcessing_MIDIHolding]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MIDI].[GenericTransProcessing_MIDIHolding]
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED


DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT

SELECT @RowsAffected = COUNT(*) FROM [MIDI].[CTLoad_MIDIHolding] mh
IF @RowsAffected = 0 BEGIN
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - No rows to process'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	RETURN
END
ELSE
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Starting first part'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
/*******************************************************************************************************************************************
	1.	Update MCCs
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		1.1.	Collect previously-unseen MCCs from the new data
	***********************************************************************************************************************/

		INSERT INTO [WH_AllPublishers].[Trans].[MCCList] ([MCC], [MCCGroup], [MCCCategory], [MCCDesc], [SectorID])
		SELECT	DISTINCT 
				[MCC] = COALESCE(cis.[MCC], '')
			,	[MCCGroup] = ''
			,	[MCCCategory] = ''
			,	[MCCDesc] = ''
			,	[SectorID] = 1
		FROM [MIDI].[CTLoad_MIDIHolding] cis
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Trans].[MCCList] mcc
							WHERE mcc.[MCC] = COALESCE(cis.[MCC], ''))
	
	/***********************************************************************************************************************
		1.2.	Assign MMCID
	***********************************************************************************************************************/
		
		UPDATE cis
		SET cis.[MCCID] = mcc.[MCCID]
		FROM [MIDI].[CTLoad_MIDIHolding] cis
		CROSS APPLY (	SELECT	TOP(1)	--	non-deterministic UPDATE
								mcc.[MCCID]
						FROM [WH_AllPublishers].[Trans].[MCCList] mcc
						WHERE COALESCE(cis.[MCC], '') = mcc.[MCC]
						ORDER BY mcc.[MCCID] DESC) mcc
		WHERE cis.[MCCID] IS NULL;

/*******************************************************************************************************************************************
	2.	Assign customer IDs
*******************************************************************************************************************************************/

	UPDATE it
	SET it.[CustomerGUID] = ic.[CustomerGUID]
	FROM [MIDI].[CTLoad_MIDIHolding] it
	INNER JOIN [WHB].[Inbound_CustomerExternalIDs] ic
		ON it.[ExternalCustomerGUID] = ic.[ExternalID]
		AND ic.[ExternalIDSource] = 'VOP'
	WHERE it.[CustomerGUID] IS NULL

	UPDATE it
	SET it.[CustomerGUID] = ic.[CustomerGUID]
	FROM [MIDI].[CTLoad_MIDIHolding] it
	INNER JOIN [WHB].[Inbound_Cards] ic
		ON it.[ExternalCardGUID] = ic.[ExternalCardID]
	WHERE it.[CustomerGUID] IS NULL

	UPDATE it
	SET it.[CardGUID] = ic.[CardGUID]
	FROM [MIDI].[CTLoad_MIDIHolding] it
	INNER JOIN [WHB].[Inbound_Cards] ic
		ON it.[ExternalCardGUID] = ic.[ExternalCardID]
	WHERE it.[CardGUID] IS NULL

	UPDATE it
	SET it.[CustomerGUID] = ic.[CustomerGUID]
	FROM [MIDI].[CTLoad_MIDIHolding] it
	INNER JOIN [WHB].[Inbound_Cards] ic
		ON it.[CardGUID] = ic.[CardGUID]
	WHERE it.[CustomerGUID] IS NULL

	INSERT INTO [Derived].[CINList] (	[CIN]
									,	[OriginalCIN])
	SELECT	DISTINCT
			[CIN] = CONVERT(VARCHAR(64), cis.[CustomerGUID])
		,	[OriginalCIN] = CONVERT(VARCHAR(64), cis.[CustomerGUID])
	FROM [MIDI].[CTLoad_MIDIHolding] cis
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[CINList] cl
						WHERE CONVERT(VARCHAR(64), cis.[CustomerGUID]) = CONVERT(VARCHAR(64), cl.[OriginalCIN]))
	AND cis.[CustomerGUID] IS NOT NULL
	
	UPDATE cis
	SET	cis.[CINID] = cl.[CINID]
	FROM [MIDI].[CTLoad_MIDIHolding] cis
	INNER JOIN [Derived].[CINList] cl
		ON cis.[CIN] = cl.[CIN]
	WHERE cis.[CINID] IS NULL

	-- (7,426,003 rows affected) / 00:01:58
	SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Update various columns [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	4.	Assign CCs
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		4.1.	Add existing CCs
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #NewCombinations
		SELECT	cis.[MerchantID]
			,	cis.[Narrative]
			,	cis.[OriginatorID]
			,	cis.[MerchantCountry]
			,	cis.[MCCID]
			,	[Transactions] = COUNT(*)
		INTO #NewCombinations
		FROM [MIDI].[CTLoad_MIDIHolding] cis
		GROUP BY	cis.[MerchantID]
				,	cis.[Narrative]
				,	cis.[OriginatorID]
				,	cis.[MerchantCountry]
				,	cis.[MCCID]

		DROP TABLE IF EXISTS #ExistingCCs
		SELECT	[BrandID] = MAX(cc.[BrandID])
			,	cc.[MID]
			,	cc.[Narrative]
			,	cc.[LocationCountry]
			,	cc.[MCCID]
			,	[IsHighVariance] = MIN(cc.[IsHighVariance])
			,	[IsUKSpend] = MAX(cc.[IsUKSpend])
			,	[PaymentGatewayStatusID] = MAX(cc.[PaymentGatewayStatusID])
		INTO #ExistingCCs
		FROM (	SELECT	[BrandID] = MAX(cc.[BrandID])
					,	cc.[MID]
					,	cc.[Narrative]
					,	cc.[LocationCountry]
					,	cc.[MCCID]
					,	[IsHighVariance] = MIN(CONVERT(INT, cc.[IsHighVariance]))
					,	[IsUKSpend] = MAX(CONVERT(INT, cc.[IsUKSpend]))
					,	[PaymentGatewayStatusID] = MAX(CONVERT(INT, cc.[PaymentGatewayStatusID]))
				FROM [WH_FAB].[Trans].[ConsumerCombination] cc
				WHERE EXISTS (	SELECT 1
								FROM #NewCombinations nc
								WHERE cc.[MID] = nc.[MerchantID]
							--	AND cc.[Narrative] = nc.[Narrative]
							--	AND cc.[OriginatorID] = nc.[OriginatorID]
								AND cc.[LocationCountry] = nc.[MerchantCountry]
								AND cc.[MCCID] = nc.[MCCID])
				GROUP BY	cc.[MID]
						,	cc.[Narrative]
						,	cc.[LocationCountry]
						,	cc.[MCCID]
				UNION ALL
				SELECT	[BrandID] = MAX(cc.[BrandID])
					,	cc.[MID]
					,	cc.[Narrative]
					,	cc.[LocationCountry]
					,	cc.[MCCID]
					,	[IsHighVariance] = MIN(CONVERT(INT, cc.[IsHighVariance]))
					,	[IsUKSpend] = MAX(CONVERT(INT, cc.[IsUKSpend]))
					,	[PaymentGatewayStatusID] = MAX(CONVERT(INT, cc.[PaymentGatewayStatusID]))
				FROM [WH_Monzo].[Trans].[ConsumerCombination] cc
				WHERE EXISTS (	SELECT 1
								FROM #NewCombinations nc
								WHERE cc.[MID] = nc.[MerchantID]
							--	AND cc.[Narrative] = nc.[Narrative]
							--	AND cc.[OriginatorID] = nc.[OriginatorID]
								AND cc.[LocationCountry] = nc.[MerchantCountry]
								AND cc.[MCCID] = nc.[MCCID])
				GROUP BY	cc.[MID]
						,	cc.[Narrative]
						,	cc.[LocationCountry]
						,	cc.[MCCID]
				UNION ALL
				SELECT	[BrandID] = MAX(cc.[BrandID])
					,	cc.[MID]
					,	cc.[Narrative]
					,	cc.[LocationCountry]
					,	cc.[MCCID]
					,	[IsHighVariance] = MIN(CONVERT(INT, cc.[IsHighVariance]))
					,	[IsUKSpend] = MAX(CONVERT(INT, cc.[IsUKSpend]))
					,	[PaymentGatewayStatusID] = MAX(CONVERT(INT, cc.[PaymentGatewayStatusID]))
				FROM [WH_NWG].[Trans].[ConsumerCombination] cc
				WHERE EXISTS (	SELECT 1
								FROM #NewCombinations nc
								WHERE cc.[MID] = nc.[MerchantID]
							--	AND cc.[Narrative] = nc.[Narrative]
							--	AND cc.[OriginatorID] = nc.[OriginatorID]
								AND cc.[LocationCountry] = nc.[MerchantCountry]
								AND cc.[MCCID] = nc.[MCCID])
				GROUP BY	cc.[MID]
						,	cc.[Narrative]
						,	cc.[LocationCountry]
						,	cc.[MCCID]) cc
		GROUP BY	cc.[MID]
				,	cc.[Narrative]
				,	cc.[LocationCountry]
				,	cc.[MCCID]
		
		INSERT INTO [Trans].[ConsumerCombination]
		SELECT	[BrandID] = MAX(ecc.[BrandID])
			,	ecc.[MID]
			,	ecc.[Narrative]
			,	ecc.[LocationCountry]
			,	ecc.[MCCID]
			,	nc.[OriginatorID]
			,	[IsHighVariance] = MIN(ecc.[IsHighVariance])
			,	[IsUKSpend] = MAX(ecc.[IsUKSpend])
			,	[PaymentGatewayStatusID] = MAX(ecc.[PaymentGatewayStatusID])
			,	[ModifiedDate] = GETDATE()
		FROM #NewCombinations nc
		INNER JOIN #ExistingCCs ecc
			ON nc.[MerchantID] = ecc.[MID]
			AND nc.[MerchantCountry] = ecc.[LocationCountry]
			AND nc.[MCCID] = ecc.[MCCID]
			AND nc.[Narrative] LIKE ecc.[Narrative]
		WHERE NOT EXISTS (	SELECT 1
							FROM [Trans].[ConsumerCombination] cc
							WHERE ecc.[MID] = cc.[MID]
							AND ecc.[Narrative] = cc.[Narrative]
							AND ecc.[LocationCountry] = cc.[LocationCountry]
							AND ecc.[MCCID] = cc.[MCCID]
							AND nc.[OriginatorID] = cc.[OriginatorID])
		GROUP BY	ecc.[MID]
				,	ecc.[Narrative]
				,	ecc.[LocationCountry]
				,	ecc.[MCCID]
				,	nc.[OriginatorID]

	/***********************************************************************************************************************
		4.1.	Non High Variance
	***********************************************************************************************************************/

		UPDATE cis
		SET cis.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
		FROM (	SELECT *
				FROM [MIDI].[CTLoad_MIDIHolding] cis WITH (TABLOCK)
				WHERE cis.[ConsumerCombinationID] IS NULL) cis
		CROSS APPLY (	SELECT	TOP 1	--	non-deterministic update
								cc.[ConsumerCombinationID]
						FROM [Trans].[ConsumerCombination] cc
						WHERE cc.[PaymentGatewayStatusID] != 1	--	not default Paypal
						AND cis.[MerchantID] = cc.[MID]
						AND cis.[MerchantCountry] = cc.[LocationCountry]
						AND cis.[MCCID] = cc.[MCCID]
						AND cis.[OriginatorID] = cc.[OriginatorID]
						AND cis.[Narrative] = cc.[Narrative]
						AND cc.[IsHighVariance] = 0
						ORDER BY [ConsumerCombinationID] DESC) cc

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Set Non-Paypal Combinations (low variance - 1) [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	

	/***********************************************************************************************************************
		4.2.	High Variance
	***********************************************************************************************************************/

		UPDATE cis
		SET cis.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
		FROM (	SELECT *
				FROM [MIDI].[CTLoad_MIDIHolding] cis WITH (TABLOCK)
				WHERE cis.[ConsumerCombinationID] IS NULL) cis
		CROSS APPLY (	SELECT	TOP 1	--	non-deterministic update
								cc.[ConsumerCombinationID]
						FROM [Trans].[ConsumerCombination] cc
						WHERE cc.[PaymentGatewayStatusID] != 1	--	not default Paypal
						AND cis.[MerchantID] = cc.[MID]
						AND cis.[MerchantCountry] = cc.[LocationCountry]
						AND cis.[MCCID] = cc.[MCCID]
						AND cis.[OriginatorID] = cc.[OriginatorID]
						AND cis.[Narrative] LIKE cc.[Narrative]
						AND cc.[IsHighVariance] = 1
						ORDER BY [ConsumerCombinationID] DESC) cc

		-- (212,684 rows affected) / 00:01:04

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Set Non-Paypal Combinations (high variance) [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
/*******************************************************************************************************************************************
	7.	Log Stats for the processed file
*******************************************************************************************************************************************/

	INSERT INTO [MIDI].[CardTransaction_QA] (	[FileID]
											,	[FileCount]
											,	[MatchedCount]
											,	[UnmatchedCount]
											,	[NoCINCount]
											,	[PositiveCount])
	SELECT	[FileID]
		,	[FileCount] = COUNT(1)
		,	[MatchedCount] = SUM(CASE WHEN [ConsumerCombinationID] IS NULL THEN 0 ELSE 1 END)
		,	[UnmatchedCount] = SUM(CASE WHEN [ConsumerCombinationID] IS NULL THEN 1 ELSE 0 END)
		,	[NoCINCount] = SUM(CASE WHEN [CINID] IS NOT NULL THEN 0 ELSE 1 END)
		,	[PositiveCount] = SUM(CASE WHEN [IsRefund] = 0 THEN 1 ELSE 0 END)
	FROM [MIDI].[CTLoad_MIDIHolding]
	GROUP BY [FileID]
	
/*******************************************************************************************************************************************
	8.	Load transaction with an assigned CINID & ConsumerCombinationID to permanent holding table
*******************************************************************************************************************************************/

	INSERT INTO [MIDI].[ConsumerTransactionHolding] (	[FileID]
													,	[RowNum]
													,	[TransactionID]
													,	[CINID]
													,	[CustomerGUID]
													,	[CardGUID]
													,	[ConsumerCombinationID]
													,	[SecondaryCombinationID]
													,	[LocationID]
													,	[Amount]
													,	[Amount_OriginalCurrency]
													,	[TranDate]
													,	[TranTime]
													,	[CardholderPresentData]
													,	[AuthCode]
													,	[CurrencyCode]
													,	[TokenTransactionIndicator]
													,	[IsRefund]
													,	[IsOnline]
													,	[InputModeID]
													,	[PaymentTypeID]
													,	[LoadDate]
													,	[FileName])
	SELECT	mh.[FileID]
		,	mh.[RowNum]
		,	mh.[TransactionID]
		,	mh.[CINID]
		,	mh.[CustomerGUID]
		,	mh.[CardGUID]
		,	mh.[ConsumerCombinationID]
		,	mh.[SecondaryCombinationID]
		,	mh.[LocationID]
		,	mh.[Amount]
		,	mh.[Amount_OriginalCurrency]
		,	mh.[TranDate]
		,	mh.[TranTime]
		,	mh.[CardholderPresentData]
		,	mh.[AuthCode]
		,	mh.[CurrencyCode]
		,	mh.[TokenTransactionIndicator]
		,	mh.[IsRefund]
		,	mh.[IsOnline]
		,	mh.[InputModeID]
		,	mh.[PaymentTypeID]
		,	mh.[LoadDate]
		,	mh.[FileName]
	FROM [MIDI].[CTLoad_MIDIHolding] mh
	WHERE mh.[CINID] IS NOT NULL
	AND mh.[ConsumerCombinationID] IS NOT NULL
	AND mh.[LocationID] IS NOT NULL
	AND NOT EXISTS (SELECT 1
					FROM [MIDI].[ConsumerTransactionHolding] cth
					WHERE mh.[FileID] = cth.[FileID]
					AND mh.[RowNum] = cth.[RowNum])
	
/*******************************************************************************************************************************************
	9.	Delete loaded transactions with an assigned CINID & ConsumerCombinationID
*******************************************************************************************************************************************/

	DELETE mh
	FROM [MIDI].[CTLoad_MIDIHolding] mh
	WHERE EXISTS (	SELECT 1
					FROM [MIDI].[ConsumerTransactionHolding] cth
					WHERE mh.[FileID] = cth.[FileID]
					AND mh.[RowNum] = cth.[RowNum])

	SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - capture matched transactions to holding [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
						
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - End of second part'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

END
GO
