USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [MIDI].[InboundTransactionDeleter]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=====================================================================================================
-- This is just a simple program to pull data from a source table into a generic destination table which 
-- is then used as the source of data for the rest of the MIDI process
--=====================================================================================================
CREATE PROCEDURE [MIDI].[InboundTransactionDeleter]
AS
BEGIN

	SET NOCOUNT ON
	SET ANSI_WARNINGS OFF
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @ProcessName VARCHAR(100) = ISNULL(OBJECT_NAME(@@PROCID),'SSMS')
		,	@Activity VARCHAR(200)
		,	@time DATETIME = GETDATE()
		,	@msg VARCHAR(200)
		,	@SSMS BIT
		,	@RowsAffected INT

	SET @Activity = @ProcessName + ' - Starting';
	EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		1.	Prepare loop parameters
	*******************************************************************************************************************************************/

		DECLARE @ID INT
			,	@MinID INT
			,	@BatchSize INT = 1000000
			,	@BatchNumber INT = 1

		SELECT	@ID = MAX([ID])
			,	@MinID = MIN([ID])
		FROM [Inbound].[Transactions]

		DROP TABLE IF EXISTS #Transactions_All
		CREATE TABLE #Transactions_All ([ID] INT
									,	[BankID] VARCHAR(4)
									,	[FileID] INT
									,	[RowNum] INT
									,	[TransactionID] [varchar](100)
									,	[TransactionReferenceNumber] [varchar](100)
									,	[MerchantID] [varchar](50) NULL
									,	[Amount] [decimal](19, 4))

		CREATE CLUSTERED INDEX [CIX_FileRow] ON #Transactions_All ([FileID], [TransactionID], [TransactionReferenceNumber], [MerchantID], [Amount])

		DROP TABLE IF EXISTS #Transactions
		CREATE TABLE #Transactions ([ID] INT PRIMARY KEY)

	/*******************************************************************************************************************************************
		2.	Begin loop
	*******************************************************************************************************************************************/

		WHILE @ID > @MinID
			BEGIN

				SET @Activity = @ProcessName + ' - Batch ' + CONVERT(VARCHAR, @BatchNumber) + ' - Starting'
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			--	DECLARE @ID INT = 1593357244, @BatchSize INT = 1000000

				TRUNCATE TABLE #Transactions_All;
				;WITH
				Inbound AS (SELECT	TOP (@BatchSize)
									tr.[ID]
								,	tr.[FileName]
								,	tr.[BankID]
								,	tr.[RowNum]
								,	tr.[TransactionID]
								,	tr.[TransactionReferenceNumber]
								,	tr.[MerchantID]
								,	tr.[Amount]
							FROM [Inbound].[Transactions] tr
							WHERE tr.[ID] <= @ID
							ORDER BY tr.[ID] DESC)


				INSERT INTO #Transactions_All
				SELECT	tr.[ID]
					,	tr.[BankID]
					,	[FileID] = tf.[ID]
					,	tr.[RowNum]
					,	tr.[TransactionID]
					,	tr.[TransactionReferenceNumber]
					,	tr.[MerchantID]
					,	tr.[Amount]
				FROM Inbound tr
				INNER JOIN [WHB].[Transaction_Files] tf
					ON tr.[FileName] = tf.[FileName]
				ORDER BY	tf.[ID]
						,	tr.[TransactionID]
						,	tr.[MerchantID]
						,	tr.[Amount]
				OPTION(RECOMPILE)

				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = @ProcessName + ' - Batch ' + CONVERT(VARCHAR, @BatchNumber) + ' - Fetched [' + CONVERT(VARCHAR, @RowsAffected, 1) + '] rows from [Inbound].[Transactions] to #Transactions_All'
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
				TRUNCATE TABLE #Transactions
				INSERT INTO #Transactions
				SELECT	i.[ID]
				FROM #Transactions_All i WITH (NOLOCK)
				WHERE EXISTS (SELECT 1
								FROM [WHB].[Inbound_Transactions] w WITH (NOLOCK)
								WHERE i.[FileID] = w.[FileID]
								AND i.[TransactionID] = w.[TransactionID]
								AND i.[MerchantID] = w.[MerchantID]
								AND i.[Amount] = w.[Amount]
								AND i.[RowNum] = w.[SourceRowNum]
								AND i.[BankID] = w.[BankID])
				ORDER BY	i.[ID]
				OPTION(RECOMPILE)
				
				SET @RowsAffected = @@ROWCOUNT
				
				INSERT INTO #Transactions
				SELECT	i.[ID]
				FROM #Transactions_All i WITH (NOLOCK)
				WHERE EXISTS (SELECT 1
								FROM [WHB].[Inbound_Transactions] w WITH (NOLOCK)
								WHERE i.[FileID] = w.[FileID]
								AND i.[TransactionReferenceNumber] = w.[TransactionID]
								AND i.[MerchantID] = w.[MerchantID]
								AND i.[Amount] = w.[Amount]
								AND i.[RowNum] = w.[SourceRowNum]
								AND i.[BankID] = w.[BankID])
				ORDER BY	i.[ID]
				OPTION(RECOMPILE)
				
				SET @RowsAffected = @RowsAffected + @@ROWCOUNT
				SET @Activity = @ProcessName + ' - Batch ' + CONVERT(VARCHAR, @BatchNumber) + ' - Fetched [' + CONVERT(VARCHAR, @RowsAffected, 1) + '] rows from #Transactions_All that exist in [WHB].[Inbound_Transactions] to #Transactions'
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				DECLARE	@MinID_Loop INT
					,	@MaxID_Loop INT

				SELECT	@MinID_Loop = MIN([ID]) - 1
					,	@MaxID_Loop = MAX([ID]) + 1
				FROM #Transactions

				DELETE i
				FROM [Inbound].[Transactions] i WITH (NOLOCK)
				WHERE EXISTS (	SELECT 1
								FROM #Transactions w WITH (NOLOCK)
								WHERE i.[ID] = w.[ID])
				AND i.[ID] > @MinID_Loop
				AND i.[ID] < @MaxID_Loop
				OPTION(RECOMPILE)
	
				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = @ProcessName + ' - Batch ' + CONVERT(VARCHAR, @BatchNumber) + ' - Deleted [' + CONVERT(VARCHAR, @RowsAffected, 1) + '] rows from [Inbound].[Transactions]'
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				SET @BatchNumber = @BatchNumber + 1
				SET @ID = @ID - @BatchSize
			
			END
	
	/*******************************************************************************************************************************************
		4.	Complete
	*******************************************************************************************************************************************/
			
		SET @Activity = @ProcessName + ' - Completed';
		EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

END
GO
