USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [MIDI].[MIDI_Controller]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[MIDI_Controller]
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT 

	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Start'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

--	Populate File IDs

	EXEC [MIDI].[Inbound_FilesToProcess]

--	Populate Credit & Debit transactions

	EXEC [WHB].[Inbound_Transactions_Update]

	DECLARE @FileIDsToRun INT = 1

	WHILE 0 < @FileIDsToRun
		BEGIN
	
			EXEC [MIDI].[GenericTransExtracter_DCTrans]
		
			SELECT @FileIDsToRun = COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE TableName = 'Transactions'
			AND FileProcessed = 0

		END

	EXEC [MIDI].[GenericTransProcessing_MIDIHolding]

	EXEC [MIDI].[GenericTransLoader]

	EXEC [MIDI].[CurrencyUpdater]

	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Complete'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

END

GO
