USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [MIDI].[ManualModule_UpdatedCombinations_Update]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[ManualModule_UpdatedCombinations_Update] (@RunDate DATE)

AS
BEGIN

	UPDATE mnc
	SET [IsHighVariance] = 0
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	
	UPDATE mnc
	SET mnc.[UpdatedBrandID] = COALESCE(br.[UpdatedBrandID], mnc.[OriginalBrandID])
--	SELECT	mnc.[ID], mnc.[OriginalBrandID], mnc.[UpdatedBrandID], COALESCE(br.[UpdatedBrandID], mnc.[OriginalBrandID])
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	LEFT JOIN [WH_AllPublishers].[MIDI].[CTLoad_MIDINewCombo_Branding] br
		ON br.[ID] = mnc.[ID]
		AND br.[DatabaseName] = 'WH_Mashreq'
	WHERE mnc.[UpdatedBrandID] IS NULL
--	AND mnc.[OriginalBrandID] != COALESCE(br.[UpdatedBrandID], mnc.[OriginalBrandID])

	UPDATE mnc
	SET mnc.[UpdatedNarrative] = COALESCE(na.[Narrative], mnc.[OriginalNarrative])
--	SELECT	mnc.[ID], mnc.[OriginalNarrative], mnc.[Narrative_Cleaned], mnc.[UpdatedNarrative], COALESCE(na.[Narrative], mnc.[OriginalNarrative])
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	LEFT JOIN [WH_AllPublishers].[MIDI].[CTLoad_MIDINewCombo_Narrative] na
		ON na.[ID] = mnc.[ID]
		AND na.[DatabaseName] = 'WH_Mashreq'
	WHERE mnc.[UpdatedNarrative] IS NULL
--	AND mnc.[OriginalNarrative] != COALESCE(na.[Narrative], mnc.[OriginalNarrative])

	UPDATE mnc
	SET [IsHighVariance] = 1
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	WHERE [OriginalNarrative] != [UpdatedNarrative]
	AND ([UpdatedNarrative] LIKE '%[%]%' OR [UpdatedNarrative] LIKE '%[_]%' OR [UpdatedNarrative] LIKE '%[[0-9]]%')
		
	UPDATE mnc
	SET mnc.[IsUKSpend] = CASE
							WHEN [LocationCountry] = 'GB' THEN 1
							WHEN br.[IsNamedException] = 1 THEN 1
							ELSE 0
						END
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	INNER JOIN [Warehouse].[Relational].[Brand] br
		ON mnc.[UpdatedBrandID] = br.[BrandID]

	--	DECLARE @RunDate DATE = GETDATE()

	DELETE
	FROM [MIDI].[CTLoad_MIDINewCombo_Log]
	WHERE [RunDate] = @RunDate

	INSERT INTO [MIDI].[CTLoad_MIDINewCombo_Log]
	SELECT	*
		,	[EntryReviewed] = 0
		,	[RunDate] = @RunDate
	FROM [MIDI].[CTLoad_MIDINewCombo] m

END



GO
