USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [MIDI].[ManualModule]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[ManualModule]
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT
	
/*******************************************************************************************************************************************
	1.	Clear down Staging tables
*******************************************************************************************************************************************/

	TRUNCATE TABLE [MIDI].[CTLoad_MIDINewCombo_Branded]
	TRUNCATE TABLE [MIDI].[CTLoad_MIDINewCombo_PossibleBrands]
	TRUNCATE TABLE [MIDI].[CTLoad_MIDINewCombo]


/*******************************************************************************************************************************************
	2.	Check whether execution is necessary
*******************************************************************************************************************************************/

	SELECT @RowsAffected = COUNT(*) FROM [MIDI].[CTLoad_MIDIHolding] cis
	IF @RowsAffected = 0 BEGIN
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - No rows to process'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		--RETURN
	END
	ELSE
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Starting manual module'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	

/*******************************************************************************************************************************************
	3.	Fetch new combinations that need to be branded
*******************************************************************************************************************************************/

	INSERT INTO [MIDI].[CTLoad_MIDINewCombo] (	[MID]
											,	[OriginalNarrative]
											,	[Narrative_Cleaned]
											,	[LocationCountry]
											,	[MCCID]
											,	[OriginatorID]
											,	[MatchCount])
	SELECT	[MID] = [MerchantID]
		,	[OriginalNarrative] = [Narrative]
		,	[Narrative_Cleaned] = [Narrative]
		,	[MerchantCountry]
		,	[MCCID]
		,	[OriginatorID]
		,	[MatchCount] = COUNT(*)
	FROM [MIDI].[CTLoad_MIDIHolding] mh
	WHERE [ConsumerCombinationID] IS NULL
	AND [Narrative] IS NOT NULL
	AND [MCCID] IS NOT NULL
	AND [MerchantID] IS NOT NULL
	GROUP BY	[MerchantID]
			,	[Narrative]
			,	[MerchantCountry]
			,	[MCCID]
			,	[OriginatorID]
	ORDER BY	[Narrative]
			,	[MerchantCountry]
			,	[MCCID]
			,	[MerchantID]
			,	[OriginatorID]

	SET @RowsAffected = @@ROWCOUNT

	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Collect rows to process [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
/*******************************************************************************************************************************************
	4.	Clean the Narrative column to remove PSP prefixes (CRV*, IZ* etc)
*******************************************************************************************************************************************/
	
	UPDATE mnc
	SET	[Narrative_Cleaned] = ISNULL(x.[Narrative_Cleaned], mnc.[Narrative_Cleaned])
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc -- 90,605
	OUTER APPLY [WH_AllPublishers].[dbo].[iTVF_NarrativeCleaner](-1,mnc.[Narrative_Cleaned]) q1
	OUTER APPLY [WH_AllPublishers].[dbo].[iTVF_NarrativeCleaner](q1.[ID],q1.[Narrative_Cleaned]) q2
	OUTER APPLY [WH_AllPublishers].[dbo].[iTVF_NarrativeCleaner](q2.[ID],q2.[Narrative_Cleaned]) q3
	CROSS APPLY (SELECT	[Narrative_Cleaned] = COALESCE(q3.[Narrative_Cleaned], q2.[Narrative_Cleaned], q1.[Narrative_Cleaned], mnc.[Narrative_Cleaned])) x

	SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative cleaner [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
	ALTER INDEX ALL ON [MIDI].[CTLoad_MIDINewCombo] REBUILD WITH (SORT_IN_TEMPDB = ON)

	SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Indexes rebuilt on [MIDI].[CTLoad_MIDINewCombo] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
/*******************************************************************************************************************************************
	5.	Store Combinations & Lookups that are cross publisher
*******************************************************************************************************************************************/
	
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Store Combinations [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
		DROP TABLE IF EXISTS #NarrativeBrandLookup
		SELECT	[BrandID]
			,	[Narrative]
		INTO #NarrativeBrandLookup
		FROM [WH_AllPublishers].[Staging].[BrandMatch]
		WHERE [BrandID] != 944
		
		SET @RowsAffected = @@ROWCOUNT

		CREATE CLUSTERED INDEX [CIX_All] ON #NarrativeBrandLookup ([BrandID], [Narrative])
		CREATE NONCLUSTERED INDEX [IX_BrandID] ON #NarrativeBrandLookup ([BrandID])
		CREATE NONCLUSTERED INDEX [IX_Narrative] ON #NarrativeBrandLookup ([Narrative])
		CREATE NONCLUSTERED INDEX [IX_NarrativeBrand] ON #NarrativeBrandLookup ([Narrative], [BrandID])

		DROP TABLE IF EXISTS #NarrativeBrandLookup_MNC
		SELECT	DISTINCT
				[MIDINewComboID] = mnc.[ID]
			,	[Narrative] = mnc.[OriginalNarrative]
			,	[Narrative_Cleaned] = mnc.[Narrative_Cleaned]
			,	[BrandID] = nbl.[BrandID]
		INTO #NarrativeBrandLookup_MNC
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		INNER JOIN #NarrativeBrandLookup nbl
			ON mnc.[Narrative_Cleaned] LIKE nbl.[Narrative]

		CREATE CLUSTERED INDEX CIX_All ON #NarrativeBrandLookup_MNC ([MIDINewComboID], [BrandID])
	
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Store Lookups [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	6.	Run through various scenarios to suggest a BrandID in dreasing probability of a correct match
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		6.1.	Narrative, MID, MCC, Country
	***********************************************************************************************************************/
			
		DROP TABLE IF EXISTS #MIDI_ConsumerCombination_1
		SELECT	[BrandID]
			,	[MID]
			,	[MCCID]
			,	[Narrative]
			,	[LocationCountry]
		INTO #MIDI_ConsumerCombination_1
		FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
		WHERE cc.[BrandID] NOT IN (944, 943, 1293)
		AND EXISTS (SELECT 1
					FROM [MIDI].[CTLoad_MIDINewCombo] mnc
					WHERE cc.[MID] = mnc.[MID]
					AND cc.[MCCID] = mnc.[MCCID]
					AND cc.[Narrative] = mnc.[OriginalNarrative])

		CREATE CLUSTERED INDEX CIX_All ON #MIDI_ConsumerCombination_1 (	[BrandID]
																	,	[MID]
																	,	[Narrative]
																	,	[LocationCountry]
																	,	[MCCID]
																--	,	[OriginatorID]
																		)

		INSERT INTO [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] (	[ComboID]
																,	[SuggestedBrandID]
																,	[MatchTypeID])
		SELECT	DISTINCT 
				mnc.[ID]
			,	cc.[BrandID]
			,	1 as [MatchTypeID]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		CROSS APPLY (	SELECT	TOP 1
								cc.[MID]
							,	cc.[MCCID]
							,	cc.[LocationCountry]
							,	cc.[BrandID]
							,	COUNT(*) AS [Matches]
						FROM #MIDI_ConsumerCombination_1 cc
						WHERE mnc.[MID] = cc.[MID]
						AND mnc.[LocationCountry] = cc.[LocationCountry]
						AND mnc.[MCCID] = cc.[MCCID]
						AND mnc.[OriginalNarrative] = cc.[Narrative]
						AND cc.[BrandID] NOT IN (944, 943, 1293)
						GROUP BY	cc.[MID]
								,	cc.[MCCID]
								,	cc.[LocationCountry]
								,	cc.[BrandID]
						ORDER BY COUNT(*) DESC) cc
		
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative, MID, MCC, Country [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT


	/***********************************************************************************************************************
		6.2.	Narrative Lookup, MID, MCC, Country
	***********************************************************************************************************************/
	
		DROP TABLE IF EXISTS #MIDI_ConsumerCombination_2
		SELECT	[BrandID]
			,	[MID]
			,	[MCCID]
			,	[LocationCountry]
			,	[ComboCount] = COUNT(*) OVER (PARTITION BY [MID], [MCCID], [LocationCountry])
		INTO #MIDI_ConsumerCombination_2
		FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
		WHERE cc.[BrandID] NOT IN (944, 943, 1293)
		AND EXISTS (SELECT 1
					FROM [MIDI].[CTLoad_MIDINewCombo] mnc
					WHERE cc.[MID] = mnc.[MID]
					AND cc.[MCCID] = mnc.[MCCID]
					AND cc.[LocationCountry] = mnc.[LocationCountry]
					)

		;WITH
		DELETER AS (	SELECT	*
							,	[ComboRank] = ROW_NUMBER() OVER (PARTITION BY [MID], [MCCID], [LocationCountry] ORDER BY [ComboCount])
						FROM #MIDI_ConsumerCombination_2)

		DELETE
		FROM DELETER
		WHERE [ComboRank] > 1
		
	
		CREATE CLUSTERED INDEX CIX_All ON #MIDI_ConsumerCombination_2 (	[BrandID]
																	,	[MID]
																--	,	[Narrative]
																	,	[LocationCountry]
																	,	[MCCID]
																--	,	[OriginatorID]
																		)
																		
		INSERT INTO [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] (	[ComboID]
																,	[SuggestedBrandID]
																,	[MatchTypeID])
		SELECT	DISTINCT 
				mnc.[ID]
			,	cc.[BrandID]
			,	2 as [MatchTypeID]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		CROSS APPLY (	SELECT	TOP 1
								cc.[MID]
							,	cc.[MCCID]
							,	cc.[LocationCountry]
							,	cc.[BrandID]
							,	COUNT(*) AS [Matches]
						FROM #MIDI_ConsumerCombination_2 cc
						INNER JOIN #NarrativeBrandLookup_MNC bm 
							ON bm.[BrandID] = cc.[BrandID]
						WHERE mnc.[MID] = cc.[MID]
						AND mnc.[LocationCountry] = cc.[LocationCountry]
						AND mnc.[MCCID] = cc.[MCCID]
						AND mnc.[ID] = bm.[MIDINewComboID]
						AND cc.[BrandID] NOT IN (944, 943, 1293)
						GROUP BY	cc.[MID]
								,	cc.[MCCID]
								,	cc.[LocationCountry]
								,	cc.[BrandID]
						ORDER BY COUNT(*) DESC) cc
		WHERE NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] pb
							WHERE mnc.[ID] = pb.[ComboID])

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative Lookup, MID, MCC, Country [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		6.3.	Narrative Lookup, MID, Country
	***********************************************************************************************************************/
	
		DROP TABLE IF EXISTS #MIDI_ConsumerCombination_3
		SELECT	cc.[BrandID]
			,	cc.[MID]
			,	cc.[LocationCountry]
			,	[Transactions] = SUM(cc.[Transactions])
		INTO #MIDI_ConsumerCombination_3
		FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
		WHERE cc.[BrandID] NOT IN (944, 943, 1293)
		AND EXISTS (SELECT 1
					FROM [MIDI].[CTLoad_MIDINewCombo] mnc
					INNER JOIN #NarrativeBrandLookup_MNC bm
						ON mnc.[ID] = bm.[MIDINewComboID]
					WHERE cc.[MID] = mnc.[MID]
					AND cc.[LocationCountry] = mnc.[LocationCountry]
					AND mnc.[Narrative_Cleaned] LIKE bm.[Narrative]
					AND cc.[BrandID] = bm.[BrandID]
					)
		GROUP BY	cc.[BrandID]
				,	cc.[MID]
				,	cc.[LocationCountry]

		CREATE CLUSTERED INDEX CIX_All ON #MIDI_ConsumerCombination_3 (	[BrandID]
																	,	[MID]
																--	,	[Narrative]
																	,	[LocationCountry]
																--	,	[MCCID]
																--	,	[OriginatorID]
																		)

		INSERT INTO [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] (	[ComboID]
																,	[SuggestedBrandID]
																,	[MatchTypeID])
		SELECT	DISTINCT 
				mnc.[ID]
			,	cc.[BrandID]
			,	3 as [MatchTypeID]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		CROSS APPLY (	SELECT	TOP 1
								cc.[MID]
							,	cc.[LocationCountry]
							,	cc.[BrandID]
							,	COUNT(*) AS [Matches]
						FROM #MIDI_ConsumerCombination_3 cc
						INNER JOIN #NarrativeBrandLookup_MNC bm 
							ON bm.[BrandID] = cc.[BrandID]
						WHERE mnc.[MID] = cc.[MID]
						AND mnc.[LocationCountry] = cc.[LocationCountry]
						AND mnc.[ID] = bm.[MIDINewComboID]
						AND cc.[BrandID] NOT IN (944, 943, 1293)
						GROUP BY	cc.[MID]
								,	cc.[LocationCountry]
								,	cc.[BrandID]
						ORDER BY COUNT(*) DESC) cc
		WHERE NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] pb
							WHERE mnc.[ID] = pb.[ComboID])

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative Lookup, MID, Country [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		6.4.	Narrative Lookup, MCC, Country
	***********************************************************************************************************************/
	
		DROP TABLE IF EXISTS #MIDI_ConsumerCombination_4
		SELECT	cc.[BrandID]
			,	cc.[MCCID]
			,	cc.[LocationCountry]
			,	[Transactions] = SUM(cc.[Transactions])
		INTO #MIDI_ConsumerCombination_4
		FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
		WHERE cc.[BrandID] NOT IN (944, 943, 1293)
		AND EXISTS (SELECT 1
					FROM [MIDI].[CTLoad_MIDINewCombo] mnc
					INNER JOIN #NarrativeBrandLookup_MNC bm
						ON mnc.[ID] = bm.[MIDINewComboID]
					WHERE cc.[MCCID] = mnc.[MCCID]
					AND cc.[LocationCountry] = mnc.[LocationCountry]
					AND mnc.[Narrative_Cleaned] LIKE bm.[Narrative]
					AND cc.[BrandID] = bm.[BrandID]
					)
		GROUP BY	cc.[BrandID]
				,	cc.[MCCID]
				,	cc.[LocationCountry]

		CREATE CLUSTERED INDEX CIX_All ON #MIDI_ConsumerCombination_4 (	[BrandID]
																--	,	[MID]
																--	,	[Narrative]
																	,	[LocationCountry]
																	,	[MCCID]
																--	,	[OriginatorID]
																		)

		INSERT INTO [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] (	[ComboID]
																,	[SuggestedBrandID]
																,	[MatchTypeID])
		SELECT	DISTINCT 
				mnc.[ID]
			,	cc.[BrandID]
			,	4 as [MatchTypeID]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		CROSS APPLY (	SELECT	TOP 1
								cc.[MCCID]
							,	cc.[LocationCountry]
							,	cc.[BrandID]
							,	COUNT(*) AS [Matches]
						FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
						INNER JOIN #NarrativeBrandLookup_MNC bm 
							ON bm.[BrandID] = cc.[BrandID]
						WHERE mnc.[LocationCountry] = cc.[LocationCountry]
						AND mnc.[MCCID] = cc.[MCCID]
						AND mnc.[ID] = bm.[MIDINewComboID]
						AND cc.[BrandID] NOT IN (944, 943, 1293)
						GROUP BY	cc.[MCCID]
								,	cc.[LocationCountry]
								,	cc.[BrandID]
						ORDER BY COUNT(*) DESC) cc
		WHERE NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] pb
							WHERE mnc.[ID] = pb.[ComboID])

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative Lookup, MCC, Country [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT


	/***********************************************************************************************************************
		6.5.	Narrative Lookup, MID
	***********************************************************************************************************************/
	
		DROP TABLE IF EXISTS #MIDI_ConsumerCombination_5
		SELECT	cc.[BrandID]
			,	cc.[MID]
			,	[Transactions] = SUM(cc.[Transactions])
		INTO #MIDI_ConsumerCombination_5
		FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
		WHERE cc.[BrandID] NOT IN (944, 943, 1293)
		AND EXISTS (SELECT 1
					FROM [MIDI].[CTLoad_MIDINewCombo] mnc
					INNER JOIN #NarrativeBrandLookup_MNC bm
						ON mnc.[ID] = bm.[MIDINewComboID]
					WHERE cc.[MID] = mnc.[MID]
					AND mnc.[Narrative_Cleaned] LIKE bm.[Narrative]
					AND cc.[BrandID] = bm.[BrandID]
					)
		GROUP BY	cc.[BrandID]
				,	cc.[MID]

		CREATE CLUSTERED INDEX CIX_All ON #MIDI_ConsumerCombination_5 (	[BrandID]
																	,	[MID]
																--	,	[Narrative]
																--	,	[LocationCountry]
																--	,	[MCCID]
																--	,	[OriginatorID]
																		)

		INSERT INTO [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] (	[ComboID]
																,	[SuggestedBrandID]
																,	[MatchTypeID])
		SELECT	DISTINCT 
				mnc.[ID]
			,	cc.[BrandID]
			,	5 as [MatchTypeID]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		CROSS APPLY (	SELECT	TOP 1
								cc.[MID]
							,	cc.[BrandID]
							,	COUNT(*) AS [Matches]
						FROM #MIDI_ConsumerCombination_5 cc
						INNER JOIN #NarrativeBrandLookup_MNC bm 
							ON bm.[BrandID] = cc.[BrandID]
						WHERE mnc.[MID] = cc.[MID]
						AND mnc.[ID] = bm.[MIDINewComboID]
						AND cc.[BrandID] NOT IN (944, 943, 1293)
						GROUP BY	cc.[MID]
								,	cc.[BrandID]
						ORDER BY COUNT(*) DESC) cc
		WHERE NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] pb
							WHERE mnc.[ID] = pb.[ComboID])

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative Lookup, MID [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		6.6.	Narrative Lookup, MCC
	***********************************************************************************************************************/
	
		DROP TABLE IF EXISTS #MIDI_ConsumerCombination_6
		SELECT	cc.[BrandID]
			,	cc.[MCCID]
			,	[Transactions] = SUM(cc.[Transactions])
		INTO #MIDI_ConsumerCombination_6
		FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
		WHERE cc.[BrandID] NOT IN (944, 943, 1293)
		AND EXISTS (SELECT 1
					FROM [MIDI].[CTLoad_MIDINewCombo] mnc
					INNER JOIN #NarrativeBrandLookup_MNC bm
						ON mnc.[ID] = bm.[MIDINewComboID]
					WHERE cc.[MCCID] = mnc.[MCCID]
					AND mnc.[Narrative_Cleaned] LIKE bm.[Narrative]
					AND cc.[BrandID] = bm.[BrandID]
					)
		GROUP BY	cc.[BrandID]
				,	cc.[MCCID]

		CREATE CLUSTERED INDEX CIX_All ON #MIDI_ConsumerCombination_6 (	[BrandID]
																--	,	[MID]
																--	,	[Narrative]
																--	,	[LocationCountry]
																	,	[MCCID]
																--	,	[OriginatorID]
																		)

		INSERT INTO [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] (	[ComboID]
																,	[SuggestedBrandID]
																,	[MatchTypeID])
		SELECT	DISTINCT 
				mnc.[ID]
			,	cc.[BrandID]
			,	6 as [MatchTypeID]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		CROSS APPLY (	SELECT	TOP 1
								cc.[MCCID]
							,	cc.[BrandID]
							,	COUNT(*) AS [Matches]
						FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
						INNER JOIN #NarrativeBrandLookup_MNC bm 
							ON bm.[BrandID] = cc.[BrandID]
						WHERE mnc.[MCCID] = cc.[MCCID]
						AND mnc.[ID] = bm.[MIDINewComboID]
						AND cc.[BrandID] NOT IN (944, 943, 1293)
						GROUP BY	cc.[MCCID]
								,	cc.[BrandID]
						ORDER BY COUNT(*) DESC) cc
		WHERE NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] pb
							WHERE mnc.[ID] = pb.[ComboID])

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative Lookup, MCC [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		6.7.	MID, MCC
	***********************************************************************************************************************/
	
	--	IF OBJECT_ID('tempdb..#SharedMIDs') IS NOT NULL DROP TABLE #SharedMIDs;
	--	SELECT	DISTINCT
	--			MID
	--		,	MCCID
	--	INTO #SharedMIDs
	--	FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] c
	--	WHERE c.Narrative LIKE '%PP%*%'
	--	OR c.Narrative LIKE 'CURVE*%'
	--	OR c.Narrative LIKE '%PP%*%'
	--	OR c.Narrative LIKE 'CURVE*%'
	--	OR c.Narrative LIKE 'CRV*%'
	--	OR c.Narrative LIKE '%PayPal%*%'
	--	OR c.Narrative LIKE 'iz*%'
	--	OR c.Narrative LIKE 'FBPAY%'
	--	OR c.Narrative LIKE 'LAYBUY%'
	--	OR c.Narrative LIKE 'NYA%'
	--	OR c.Narrative LIKE 'DMN%'
	--	OR c.Narrative LIKE 'RITUAL-%'
	--	OR c.Narrative LIKE 'SQ%*%'
	--	OR c.Narrative LIKE 'SUMUP%'
	--	OR c.Narrative LIKE 'ZIP.CO*%'
	--	OR BrandID = 943
	--	OR BrandID = 1293

	--/*

	--	WITH
	--	MultipleByMID AS (	SELECT	MID
	--							,	MCCID
	--						FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] c
	--						WHERE NOT EXISTS (SELECT 1 FROM #SharedMIDs sm WHERE c.MID = sm.MID AND c.MCCID = sm.MCCID)
	--						AND MID NOT IN ('', 'VCR%')
	--						AND BrandID NOT IN (943, 944, 1293)
	--						GROUP BY	MID
	--								,	MCCID
	--						HAVING COUNT(DISTINCT BrandID) > 5)

	--	SELECT *
	--	FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] c
	--	WHERE EXISTS (SELECT 1 FROM MultipleByMID sm WHERE c.MID = sm.MID AND c.MCCID = sm.MCCID)
	--	ORDER BY Narrative_Cleaned,MID,MCCID

	--*/

	--	INSERT INTO #SharedMIDs
	--	SELECT	DISTINCT
	--			MID
	--		,	MCCID
	--	FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] c
	--	WHERE EXISTS (SELECT 1
	--				  FROM #SharedMIDs sm
	--				  WHERE c.MID = sm.MID)
	--	AND NOT EXISTS (SELECT 1
	--					FROM #SharedMIDs sm
	--					WHERE c.MID = sm.MID
	--					AND c.MCCID = sm.MCCID)

	--	INSERT INTO #SharedMIDs
	--	SELECT	DISTINCT
	--			MID
	--		,	MCCID
	--	FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] c
	--	WHERE c.MID IN ('', 'VCR%')
	--	AND NOT EXISTS (SELECT 1
	--					FROM #SharedMIDs sm
	--					WHERE c.MID = sm.MID
	--					AND c.MCCID = sm.MCCID)

	--	CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #SharedMIDs (MID, MCCID)
	
	--	DROP TABLE IF EXISTS #MIDI_ConsumerCombination_7
	--	SELECT	cc.BrandID
	--		,	cc.MID
	--		,	cc.MCCID
	--		,	Transactions = SUM(cc.Transactions)
	--	INTO #MIDI_ConsumerCombination_7
	--	FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
	--	WHERE cc.BrandID NOT IN (944, 943, 1293)
	--	AND NOT EXISTS (	SELECT 1
	--						FROM #SharedMIDs sm
	--						WHERE cc.MID = sm.MID
	--						AND cc.MCCID = sm.MCCID)
	--	GROUP BY	cc.BrandID
	--			,	cc.MID
	--			,	cc.MCCID

	--	CREATE CLUSTERED INDEX CIX_All ON #MIDI_ConsumerCombination_7 (	[BrandID]
	--																,	[MID]
	--															--	,	[Narrative]
	--															--	,	[LocationCountry]
	--																,	[MCCID]
	--															--	,	[OriginatorID]
	--																	)

	--	IF OBJECT_ID('tempdb..#MCCMID') IS NOT NULL DROP TABLE #MCCMID;
	--	SELECT	mnc.ID
	--		,	mnc.MID
	--		,	mnc.MCCID
	--		,	x.BrandID
	--		,	x.Matches
	--		,	fm.MatchRatio
	--		,	ROW_NUMBER() OVER (PARTITION BY mnc.ID ORDER BY x.Matches DESC, fm.MatchRatio) AS MatchRank
	--	INTO #MCCMID
	--	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	--	CROSS APPLY (	SELECT	cc.MID
	--						,	cc.MCCID
	--						,	cc.BrandID
	--						,	br.BrandName
	--						,	COUNT(*) AS Matches
	--					FROM #MIDI_ConsumerCombination_7 cc
	--					INNER JOIN [Warehouse].[Relational].[Brand] br
	--						ON cc.BrandID = br.BrandID	
	--					WHERE mnc.MCCID = cc.MCCID
	--					AND mnc.MID = cc.MID
	--					AND NOT EXISTS (	SELECT 1
	--										FROM #SharedMIDs sm
	--										WHERE cc.MID = sm.MID
	--										AND cc.MCCID = sm.MCCID)
	--					GROUP BY	cc.MID
	--							,	cc.MCCID
	--							,	cc.BrandID
	--							,	br.BrandName) x
	--	OUTER APPLY [WH_AllPublishers].[dbo].[FuzzyMatch_iTVF2k5](mnc.Narrative_Cleaned, x.BrandName) fm
	--	WHERE NOT EXISTS (	SELECT 1
	--						FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] p
	--						WHERE p.ComboID = mnc.ID)

	--	DELETE
	--	FROM #MCCMID
	--	WHERE MatchRank > 1


	--	INSERT INTO [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] (	ComboID
	--															,	SuggestedBrandID
	--															,	MatchTypeID)
	--	SELECT	DISTINCT 
	--			mnc.ID
	--		,	mm.BrandID
	--		,	7 as MatchTypeID
	--	FROM #MCCMID mm
	--	INNER JOIN [MIDI].[CTLoad_MIDINewCombo] mnc
	--		ON mm.ID = mnc.ID

	--	SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - MID, MCC [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		6.8.	Narrative Lookup ONLY
	***********************************************************************************************************************/

		INSERT INTO [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] (	[ComboID]
																,	[SuggestedBrandID]
																,	[MatchTypeID])
		SELECT	DISTINCT 
				mnc.[ID]
			,	bm.[BrandID]
			,	8 as [MatchTypeID]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		INNER JOIN #NarrativeBrandLookup_MNC bm 
			ON mnc.[ID] = bm.[MIDINewComboID]
		WHERE NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] pb
							WHERE mnc.[ID] = pb.[ComboID])

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative ONLY [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/***********************************************************************************************************************
		6.9.	Narrative Fuzzy Match
	***********************************************************************************************************************/
	
	/*

		IF OBJECT_ID('tempdb..#FuzzyMatch') IS NOT NULL DROP TABLE #FuzzyMatch;
		SELECT	mnc.[ID]
			,	mnc.[MID]
			,	mnc.[Narrative]
			,	mnc.[Narrative_Cleaned]
			,	mnc.[LocationCountry]
			,	mnc.[MCCID]
			,	cc.[BrandID]
			,	cc.[Narrative] AS NarrativeMatched
			,	fm.MatchRatio
			,	ROW_NUMBER() OVER (PARTITION BY mnc.[ID] ORDER BY fm.MatchRatio) AS MatchRank
		INTO #FuzzyMatch
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		CROSS JOIN [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
		OUTER APPLY [dbo].[FuzzyMatch_iTVF2k5](mnc.[Narrative], cc.[Narrative]) fm
		WHERE mnc.[LocationCountry] = cc.[LocationCountry]
		AND mnc.[MCCID] = cc.[MCCID]
		AND NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] p
							WHERE p.[ComboID] = mnc.[ID])
		AND fm.MatchRatio > 0
		AND 1 = 2


		DECLARE @ID INT
			,	@MaxID INT

		SELECT	@ID = MIN(ID)
			,	@MaxID = MAX(ID)
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		WHERE EXISTS (	SELECT 1
						FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
						WHERE mnc.[LocationCountry] = cc.[LocationCountry]
						AND mnc.[MCCID] = cc.[MCCID])
		AND NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] p
							WHERE p.[ComboID] = mnc.[ID])

		SELECT COUNT(*)
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		WHERE EXISTS (	SELECT 1
						FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
						WHERE mnc.[LocationCountry] = cc.[LocationCountry]
						AND mnc.[MCCID] = cc.[MCCID])
		AND NOT EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] p
							WHERE p.[ComboID] = mnc.[ID])

		SELECT @ID

		WHILE @ID < @MaxID
			BEGIN
				INSERT INTO #FuzzyMatch
				SELECT	mnc.[ID]
					,	mnc.[MID]
					,	mnc.[Narrative]
					,	mnc.[Narrative_Cleaned]
					,	mnc.[LocationCountry]
					,	mnc.[MCCID]
					,	cc.[BrandID]
					,	cc.[Narrative] AS NarrativeMatched
					,	fm.MatchRatio
					,	ROW_NUMBER() OVER (PARTITION BY mnc.[ID] ORDER BY fm.MatchRatio DESC) AS MatchRank
				FROM [MIDI].[CTLoad_MIDINewCombo] mnc
				CROSS JOIN [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
				OUTER APPLY [dbo].[FuzzyMatch_iTVF2k5](mnc.[Narrative_Cleaned], cc.[Narrative]) fm
				WHERE mnc.[LocationCountry] = cc.[LocationCountry]
				AND mnc.[MCCID] = cc.[MCCID]
				AND mnc.[ID] = @ID
				AND fm.MatchRatio > 0

				SELECT	@ID = MIN(ID)
				FROM [MIDI].[CTLoad_MIDINewCombo] mnc
				WHERE EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination] cc
								WHERE mnc.[LocationCountry] = cc.[LocationCountry]
								AND mnc.[MCCID] = cc.[MCCID])
				AND NOT EXISTS (	SELECT 1
									FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] p
									WHERE p.[ComboID] = mnc.[ID])
				AND @ID < ID
			END

			15:29


		SELECT COUNT(DISTINCT ID)
		FROM #FuzzyMatch

		CREATE CLUSTERED INDEX CIX_ID ON #FuzzyMatch (ID, [BrandID])

		SELECT	DISTINCT
				fm.[ID]
			,	fm.[MID]
			,	fm.[Narrative]
			,	fm.[Narrative_Cleaned]
			,	fm.[LocationCountry]
			,	fm.[MCCID]
			,	fm.[BrandID]
			,	fm.[Narrative]Matched
			,	fm.MatchRatio
			,	fm.MatchRank
			,	br.BrandName
		FROM #FuzzyMatch fm
		INNER JOIN Warehouse.Relational.Brand br
			ON fm.[BrandID] = br.[BrandID]
		WHERE Warehouse.[Prototype].[DamLev](fm.[Narrative_Cleaned], fm.[Narrative]Matched, 100) < 5
		ORDER BY	fm.[ID]
				,	fm.MatchRatio DESC

		SELECT	*
			,	Warehouse.[Prototype].[DamLev](Narrative, [Narrative_Cleaned], 100)
		FROM [MIDI.CTLoad_MIDINewCombo

		*/
		
		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative Fuzzy Match [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	7.	Update the suggested brand ID with the results of the preivous step
*******************************************************************************************************************************************/
		
	UPDATE mnc
	SET [OriginalBrandID] = pbm.[SuggestedBrandID]
	,	[MatchType] = pbm.[MatchTypeID]
	,	[BrandProbability] = pbm.[BrandProbability]
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	INNER JOIN (SELECT	ID
					,	[ComboID]
					,	[SuggestedBrandID]
					,	[MatchTypeID]
					,	[BrandProbability]
					,	[MinMatchTypeID] = MIN([MatchTypeID]) OVER (PARTITION BY [ComboID])
				FROM [MIDI].[CTLoad_MIDINewCombo_PossibleBrands] pb) pbm
		ON mnc.[ID] = pbm.[ComboID]
	WHERE [MatchTypeID] = [MinMatchTypeID] 
	AND mnc.[OriginalBrandID] IS NULL

	SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Update BrandIDs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	

/*******************************************************************************************************************************************
	8.	Mark the rest as unbranded
*******************************************************************************************************************************************/

	UPDATE [MIDI].[CTLoad_MIDINewCombo]
	SET	[OriginalBrandID] = 944
	,	[MatchType] = 10
	WHERE [OriginalBrandID] IS NULL

	SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Mark remaining unbranded [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	

/*******************************************************************************************************************************************
	9.	Mark known Narrative prefixes as the PSPs they belong to
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		9.1.	Mark paypal
	***********************************************************************************************************************/

		UPDATE [MIDI].[CTLoad_MIDINewCombo] 
		SET	[OriginalBrandID] = 943
		,	[MatchType] = 11
		WHERE (	[OriginalNarrative] LIKE '%PAYPAL%'
			OR	[OriginalNarrative] LIKE 'PP*%')
		AND ([OriginalBrandID] = 944 OR [MatchType] = 9)

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Mark PayPal [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		9.2.	Mark iZettle
	***********************************************************************************************************************/

		UPDATE [MIDI].[CTLoad_MIDINewCombo]
		SET	[OriginalBrandID] = 1293
		,	[MatchType] = 12
		WHERE [OriginalNarrative] Like '%IZ *%'
		AND ([OriginalBrandID] = 944 OR [MatchType] = 9)

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Mark iZettle [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	

/*******************************************************************************************************************************************
	10.	Where they are known cases where a Brand is assigned based on the above rules that is incorrect, change that brand to correct brand
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		10.1.	Swtich BrandID base on known MCC examples
	***********************************************************************************************************************/

		UPDATE mnc
		SET [OriginalBrandID] = mc.[BrandIDChange]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		INNER JOIN [MIDI].[MIDIBrandChange_MCC] mc
			ON mnc.[OriginalBrandID] = mc.[BrandIDInitial]
			AND mnc.[MCCID] = mc.[MCCID]

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - MCC BrandID Change [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		
	/***********************************************************************************************************************
		10.2.	Swtich BrandID base on known Narrative examples
	***********************************************************************************************************************/
	
		UPDATE mnc
		SET [OriginalBrandID] = mc.[BrandIDChange]
		FROM [MIDI].[CTLoad_MIDINewCombo] mnc
		INNER JOIN [MIDI].[MIDIBrandChange_Narrative] mc
			ON mnc.[OriginalBrandID] = mc.[BrandIDInitial]
			AND mnc.[Narrative_Cleaned] LIKE mc.[Narrative]

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Narrative BrandID Change [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	
/*******************************************************************************************************************************************
	11.	Various updates
*******************************************************************************************************************************************/

	DECLARE @MCC_SpendThreshold FLOAT = 0.05
	
	DROP TABLE IF EXISTS #MCCs
	;WITH
	MCCIDs AS (	SELECT	[BrandID]
					,	[MCCID]
		    		,	[Transactions]
					,	[Amount]
					,	[Amount_BrandID] = SUM([Amount]) OVER (PARTITION BY [BrandID])
				FROM (	SELECT	[BrandID]
							,	[MCCID]
							,	[Transactions] = SUM([Transactions])
							,	[Amount] = SUM(ABS([Amount]))
						FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination]
						GROUP BY	[BrandID]
								,	[MCCID]) c),
	
	MCCIDRanked AS (SELECT	m.[BrandID]
						,	m.[MCCID]
						,	[RankMCC] = RANK() OVER (PARTITION BY [BrandID] ORDER BY Amount DESC, [Transactions] DESC)
					FROM MCCIDs m
					INNER JOIN [Warehouse].[Relational].[MCCList] mcc
						ON m.[MCCID] = mcc.[MCCID]
					WHERE [Amount_BrandID] * @MCC_SpendThreshold <= [Amount]),

	MMCCIDRanked_Pivot AS (	SELECT	[BrandID]
								,	[MostCommonMCCID] = MAX(CASE WHEN [RankMCC] = 1 THEN [MCCID] ELSE '' END)
								,	[SecondCommonMCCID] = MAX(CASE WHEN [RankMCC] = 2 THEN [MCCID] ELSE '' END)
								,	[ThirdCommonMCCID] = MAX(CASE WHEN [RankMCC] = 3 THEN [MCCID] ELSE '' END)
							FROM MCCIDRanked
							GROUP BY [BrandID])

	SELECT	mcc.[BrandID]
		,	[MostCommonMCCID] = COALESCE(mcc.[MostCommonMCCID], '')
		,	[SecondCommonMCCID] = COALESCE(mcc.[SecondCommonMCCID], '')
		,	[ThirdCommonMCCID] = COALESCE(mcc.[ThirdCommonMCCID], '')
	INTO #MCCs
	FROM MMCCIDRanked_Pivot mcc;

	UPDATE mnc
	SET	mnc.[OriginalBrand_FirstMostCommonMCCID] = COALESCE(mcc.[MostCommonMCCID], '')
	,	mnc.[OriginalBrand_SecondMostCommonMCCID] = COALESCE(mcc.[SecondCommonMCCID], '')
	,	mnc.[OriginalBrand_ThirdMostCommonMCCID] = COALESCE(mcc.[ThirdCommonMCCID], '')
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	LEFT JOIN #MCCs mcc
		ON mnc.[OriginalBrandID] = mcc.[BrandID]

	UPDATE [MIDI].[CTLoad_MIDINewCombo]
	SET DoMCCsMatch =	CASE
							WHEN [MCCID] IN ([OriginalBrand_FirstMostCommonMCCID],	[OriginalBrand_SecondMostCommonMCCID], [OriginalBrand_ThirdMostCommonMCCID]) THEN 1
							ELSE 0
						END
		
	DROP TABLE IF EXISTS #CombinedCombinationsTemp
	SELECT	[MID]
		,	[LocationCountry]
		,	[MCCID]
		,	[Narrative]
		,	[Narrative_Cleaned]
		,	[BrandID]
		,	[Narrative_CleanedLength] = LEN([Narrative_Cleaned])
	INTO #CombinedCombinationsTemp
	FROM (	SELECT	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[Narrative]
				,	[Narrative_Cleaned]
				,	[BrandID]
			FROM [WH_AllPublishers].[Staging].[MIDI_ConsumerCombination]
			UNION ALL
			SELECT	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[OriginalNarrative]
				,	[Narrative_Cleaned]
				,	[OriginalBrandID]
			FROM [MIDI].[CTLoad_MIDINewCombo]) c

	;WITH
	Updater AS (SELECT	[MID]
					,	[LocationCountry]
					,	[MCCID]
					,	[Narrative_CleanedLength]
					,	[Narrative_CleanedLength_Avg] = AVG([Narrative_CleanedLength]) OVER (PARTITION BY [MID], [LocationCountry], [MCCID])
				FROM #CombinedCombinationsTemp)

	UPDATE Updater
	SET [Narrative_CleanedLength] = [Narrative_CleanedLength_Avg];

	CREATE NONCLUSTERED COLUMNSTORE INDEX CSI_All ON #CombinedCombinationsTemp ([MID], [LocationCountry], [MCCID], [Narrative], [Narrative_Cleaned], [BrandID], [Narrative_CleanedLength])
	
	DROP TABLE IF EXISTS #CombinedCombinations
	SELECT	DISTINCT
			[MID]
		,	[LocationCountry]
		,	[MCCID]
		,	[Narrative]
		,	[Narrative_Cleaned]
		,	[BrandID]
		,	[Narrative_CleanedLength]
		,	[NarrativeCount] = CONVERT(INT, NULL)
		,	[NarrativeCount_PartialLeft] = CONVERT(INT, NULL)
		,	[NarrativeCount_PartialRight] = CONVERT(INT, NULL)
	INTO #CombinedCombinations
	FROM #CombinedCombinationsTemp c

	;WITH
	Updater AS (SELECT	[MID]
					,	[LocationCountry]
					,	[MCCID]
					,	[NarrativeCount]
					,	[NarrativeCount_PartialLeft]
					,	[NarrativeCount_PartialRight]
					,	[NarrativeCount_New] = COUNT(*) OVER (PARTITION BY [MID], [LocationCountry], [MCCID])
					,	[NarrativeCount_PartialLeft_New] = COUNT(*) OVER (PARTITION BY LEFT([Narrative_Cleaned], [Narrative_CleanedLength] * 0.25), [MID], [LocationCountry], [MCCID])
					,	[NarrativeCount_PartialRight_New] = COUNT(*) OVER (PARTITION BY RIGHT([Narrative_Cleaned], [Narrative_CleanedLength] * 0.25), [MID], [LocationCountry], [MCCID])
				FROM #CombinedCombinations)

	UPDATE Updater
	SET [NarrativeCount] = [NarrativeCount_New]
	,	[NarrativeCount_PartialLeft] = [NarrativeCount_PartialLeft_New]
	,	[NarrativeCount_PartialRight] = [NarrativeCount_PartialRight_New];

	DROP TABLE IF EXISTS #EntriesPerCombination
	SELECT	[MID]
		,	[LocationCountry]
		,	[MCCID]
		,	[NarrativeCount]
		,	[NarrativeCount_PartialLeft] = MAX([NarrativeCount_PartialLeft])
		,	[NarrativeCount_PartialRight] = MAX([NarrativeCount_PartialRight])
		,	[BrandCount] = COUNT(DISTINCT [BrandID])
	INTO #EntriesPerCombination
	FROM #CombinedCombinations
	GROUP BY	[MID]
			,	[LocationCountry]
			,	[MCCID]
			,	[NarrativeCount]


	UPDATE mnc
	SET	mnc.[NarrativeCount] = COALESCE(epc.[NarrativeCount], 0)
	,	mnc.[NarrativeCount_PartialLeft] = COALESCE(epc.[NarrativeCount_PartialLeft], 0)
	,	mnc.[NarrativeCount_PartialRight] = COALESCE(epc.[NarrativeCount_PartialRight], 0)
	,	mnc.[BrandCount] = COALESCE(epc.[BrandCount], 0)
	FROM [MIDI].[CTLoad_MIDINewCombo] mnc
	LEFT JOIN #EntriesPerCombination epc
		ON mnc.[MID] = epc.[MID]
		AND mnc.[MCCID] = epc.[MCCID]
		AND mnc.[LocationCountry] = epc.[LocationCountry]
		
	DROP TABLE IF EXISTS #ProbabilityCorrectMatch_BrandID_MCCID
	SELECT	bsc.[MatchTypeID]
		,	bsc.[MatchType]
		,	mnc.[DoMCCsMatch]
		,	mnc.[OriginalBrandID]
		,	mnc.[MCCID]
		,	[CorrectMatches] = COUNT(CASE WHEN mnc.[OriginalBrandID] = mnc.[UpdatedBrandID] THEN 1 END) * 1.0 / COUNT(*)
	INTO #ProbabilityCorrectMatch_BrandID_MCCID
	FROM [MIDI].[CTLoad_MIDINewCombo_Log] mnc
	INNER JOIN [MIDI].[CTLoad_BrandSuggestConfidence] bsc
		ON mnc.[MatchType] = bsc.[MatchTypeID]
	GROUP BY	bsc.[MatchTypeID]
			,	bsc.[MatchType]
			,	mnc.[DoMCCsMatch]
			,	mnc.[OriginalBrandID]
			,	mnc.[MCCID]
	ORDER BY	bsc.[MatchTypeID]
			,	bsc.[MatchType]
			,	mnc.[DoMCCsMatch]
			,	mnc.[OriginalBrandID]
			
	DROP TABLE IF EXISTS #ProbabilityCorrectMatch_BrandID
	SELECT	bsc.[MatchTypeID]
		,	bsc.[MatchType]
		,	mnc.[DoMCCsMatch]
		,	mnc.[OriginalBrandID]
		,	[CorrectMatches] = COUNT(CASE WHEN mnc.[OriginalBrandID] = mnc.[UpdatedBrandID] THEN 1 END) * 1.0 / COUNT(*)
	INTO #ProbabilityCorrectMatch_BrandID
	FROM [MIDI].[CTLoad_MIDINewCombo_Log] mnc
	INNER JOIN [MIDI].[CTLoad_BrandSuggestConfidence] bsc
		ON mnc.[MatchType] = bsc.[MatchTypeID]
	GROUP BY	bsc.[MatchTypeID]
			,	bsc.[MatchType]
			,	mnc.[DoMCCsMatch]
			,	mnc.[OriginalBrandID]
	ORDER BY	bsc.[MatchTypeID]
			,	bsc.[MatchType]
			,	mnc.[DoMCCsMatch]
			,	mnc.[OriginalBrandID]
			
	DROP TABLE IF EXISTS #ProbabilityCorrectMatch_MCCID
	SELECT	bsc.[MatchTypeID]
		,	bsc.[MatchType]
		,	mnc.[DoMCCsMatch]
		,	mnc.[MCCID]
		,	[CorrectMatches] = COUNT(CASE WHEN mnc.[OriginalBrandID] = mnc.[UpdatedBrandID] THEN 1 END) * 1.0 / COUNT(*)
	INTO #ProbabilityCorrectMatch_MCCID
	FROM [MIDI].[CTLoad_MIDINewCombo_Log] mnc
	INNER JOIN [MIDI].[CTLoad_BrandSuggestConfidence] bsc
		ON mnc.[MatchType] = bsc.[MatchTypeID]
	GROUP BY	bsc.[MatchTypeID]
			,	bsc.[MatchType]
			,	mnc.[DoMCCsMatch]
			,	mnc.[MCCID]
	ORDER BY	bsc.[MatchTypeID]
			,	bsc.[MatchType]
			,	mnc.[DoMCCsMatch]
			,	mnc.[MCCID]
			
	DROP TABLE IF EXISTS #ProbabilityCorrectMatch
	SELECT	bsc.[MatchTypeID]
		,	bsc.[MatchType]
		,	mnc.[DoMCCsMatch]
		,	[CorrectMatches] = COUNT(CASE WHEN mnc.[OriginalBrandID] = mnc.[UpdatedBrandID] THEN 1 END) * 1.0 / COUNT(*)
	INTO #ProbabilityCorrectMatch
	FROM [MIDI].[CTLoad_MIDINewCombo_Log] mnc
	INNER JOIN [MIDI].[CTLoad_BrandSuggestConfidence] bsc
		ON mnc.[MatchType] = bsc.[MatchTypeID]
	GROUP BY	bsc.[MatchTypeID]
			,	bsc.[MatchType]
			,	mnc.[DoMCCsMatch]
	ORDER BY	bsc.[MatchTypeID]
			,	bsc.[MatchType]
			,	mnc.[DoMCCsMatch]

	UPDATE mnc
	SET mnc.[BrandProbability] = CONVERT(DECIMAL(19,4), pcm.[CorrectMatches])
	FROM #ProbabilityCorrectMatch_BrandID_MCCID pcm
	INNER JOIN [MIDI].[CTLoad_MIDINewCombo] mnc
		ON pcm.[OriginalBrandID] = mnc.[OriginalBrandID]
		AND pcm.[MCCID] = mnc.[MCCID]
		AND pcm.[DoMCCsMatch] = mnc.[DoMCCsMatch]
		AND pcm.[MatchTypeID] = mnc.[MatchType]
	WHERE [BrandProbability] IS NULL

	UPDATE mnc
	SET mnc.[BrandProbability] = CONVERT(DECIMAL(19,4), pcm.[CorrectMatches])
	FROM #ProbabilityCorrectMatch_BrandID pcm
	INNER JOIN [MIDI].[CTLoad_MIDINewCombo] mnc
		ON pcm.[OriginalBrandID] = mnc.[OriginalBrandID]
		AND pcm.[DoMCCsMatch] = mnc.[DoMCCsMatch]
		AND pcm.[MatchTypeID] = mnc.[MatchType]
	WHERE [BrandProbability] IS NULL

	UPDATE mnc
	SET mnc.[BrandProbability] = CONVERT(DECIMAL(19,4), pcm.[CorrectMatches])
	FROM #ProbabilityCorrectMatch_MCCID pcm
	INNER JOIN [MIDI].[CTLoad_MIDINewCombo] mnc
		ON pcm.[MCCID] = mnc.[MCCID]
		AND pcm.[DoMCCsMatch] = mnc.[DoMCCsMatch]
		AND pcm.[MatchTypeID] = mnc.[MatchType]
	WHERE [BrandProbability] IS NULL

	UPDATE mnc
	SET mnc.[BrandProbability] = CONVERT(DECIMAL(19,4), pcm.[CorrectMatches])
	FROM #ProbabilityCorrectMatch pcm
	INNER JOIN [MIDI].[CTLoad_MIDINewCombo] mnc
		ON pcm.[DoMCCsMatch] = mnc.[DoMCCsMatch]
		AND pcm.[MatchTypeID] = mnc.[MatchType]
	WHERE [BrandProbability] IS NULL

END

RETURN 0


GO
