USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Monitor].[Execute_Uploader]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Monitor].[Execute_Uploader]	@SourceFolder VARCHAR(MAX)
											,	@S3Location VARCHAR(MAX)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED --  
	DECLARE @sql varchar(4000)
	SET @sql = 'aws s3 cp "' + @SourceFolder + '" "' + @S3Location + '" --recursive --acl bucket-owner-full-control --profile trusted-analytics-insight-etl-role'

	DROP TABLE IF EXISTS #Output
	CREATE TABLE #Output ([Line] varchar(MAX))
	INSERT #Output EXEC xp_cmdshell @sql

	DECLARE @RunID INT
	SELECT	@RunID = COALESCE(MAX([RunID]) + 1, 1)
	FROM [Monitor].[ExecLog]

	DECLARE @ErrorString VARCHAR(100) = '%Traceback%'
	DECLARE @ErrorString2 VARCHAR(100) = '%Error%'
	DECLARE @ErrorString3 VARCHAR(100) = '%not recognized%'

	INSERT INTO [Monitor].[ExecLog] (	[Msg]
									,	[isError]
									,	[CreatedDateTime]
									,	[RunID]
									,	[ExecCommand])
	SELECT	[Msg] = o.[Line]
		,	[isError] = x.[isError]
		,	[CreatedDateTime] = GETDATE()
		,	[RunID] = @RunID
		,	[ExecCommand] = @sql
	FROM #Output o
	CROSS APPLY (	SELECT CAST(COALESCE(MAX(1), 0) AS BIT)
					FROM #Output
					WHERE [Line] LIKE @ErrorString
					OR [Line] LIKE @ErrorString2
					OR [Line] LIKE @ErrorString3) x([isError])

	IF (SELECT TOP 1 1 FROM [Monitor].[ExecLog] WHERE [RunID] = @RunID AND [isError] = 1) IS NOT NULL
	BEGIN

		DECLARE @Error VARCHAR(MAX)

		SELECT	@Error = STUFF((SELECT	' ' + [msg]
								FROM [Monitor].[ExecLog]
								WHERE [RunID] = @RunID
								AND [LogID] >= (SELECT MIN([LogID])
												FROM [Monitor].[ExecLog]
												WHERE [RunID] = @RunID
												AND (	[msg] LIKE @ErrorString
													OR	[msg] LIKE @ErrorString2
													OR	[msg] LIKE @ErrorString3))
								ORDER BY [LogID]
								FOR XML PATH ('')
								), 1, 1, '')
	
		DECLARE @ErrorEnd VARCHAR(300) = '... SELECT * FROM [Monitor].[ExecLog] WHERE RunID =' + CAST(@RunID AS varchar) + ' for more info'
		DECLARE @ErrorOutput VARCHAR(4096) = RIGHT(@Error, 1999 - LEN(@ErrorEnd)) + @ErrorEnd -- max is 2048 NVARCHAR
		RAISERROR(@ErrorOutput,15,-1, -1) 

	END

END
GO
