USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Segmentation].[StreamMembershipsToAWS]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Segmentation].[StreamMembershipsToAWS]	@PublisherID INT
													,	@DailySegmentation BIT = 0

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Pull list of all offers for the selected publisher that need to be pushed to production
		*******************************************************************************************************************************************/
		
		--	DECLARE @PublisherID INT = 2068, @DailySegmentation BIT = 0

			DROP TABLE IF EXISTS #OfferProcessLog
			CREATE TABLE #OfferProcessLog (	[IronOfferID] INT
										,	[OfferGUID] UNIQUEIDENTIFIER
										,	[AddedDate] DATETIME)
			
			INSERT INTO #OfferProcessLog
			SELECT	DISTINCT
					opl.[IronOfferID]
				,	[OfferGUID] = iof.[HydraOfferID]
				,	opl.[AddedDate]
			FROM [Segmentation].[OfferProcessLog] opl
			INNER JOIN [Derived].[IronOffer] iof
				ON opl.[IronOfferID] = iof.[IronOfferID]
				AND iof.[ClubID] = @PublisherID
			WHERE opl.[Processed] = 0
			AND EXISTS (SELECT 1
						FROM [Segmentation].[OfferMemberAddition] oma
						WHERE opl.[IronOfferID] = oma.[IronOfferID]
						AND opl.[AddedDate] = oma.[AddedDate])
			AND @DailySegmentation = 0
			
			INSERT INTO #OfferProcessLog
			SELECT	DISTINCT
					opl.[IronOfferID]
				,	[OfferGUID] = iof.[HydraOfferID]
				,	opl.[AddedDate]
			FROM [Segmentation].[OfferProcessLog] opl
			INNER JOIN [Derived].[IronOffer] iof
				ON opl.[IronOfferID] = iof.[IronOfferID]
				AND iof.[ClubID] = @PublisherID
			WHERE opl.[Processed] = 0
			AND EXISTS (SELECT 1
						FROM [Segmentation].[OfferMemberAddition_Daily] oma
						WHERE opl.[IronOfferID] = oma.[IronOfferID]
						AND opl.[AddedDate] = oma.[AddedDate])
			AND @DailySegmentation = 1

			CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #OfferProcessLog ([IronOfferID], [OfferGUID])

		/*******************************************************************************************************************************************
			2.	Pull list of all customers for the selected publisher
		*******************************************************************************************************************************************/
		
		--	DECLARE @PublisherID INT = 2068

			DROP TABLE IF EXISTS #Customer
			SELECT	DISTINCT
					cu.[CompositeID]
				,	cu.[CustomerGUID]
			INTO #Customer
			FROM [Derived].[Customer] cu
			WHERE cu.[ClubID] = @PublisherID

			CREATE CLUSTERED INDEX [CIX_CustomerID] ON #Customer ([CompositeID], [CustomerGUID])
			CREATE NONCLUSTERED INDEX [IX_CustomerGUID] ON #Customer ([CustomerGUID])

		/*******************************************************************************************************************************************
			3.	Stream full list of offer memberships to AWS
		*******************************************************************************************************************************************/
		
			IF @DailySegmentation = 0
				BEGIN
					SELECT	[ID] = NEWID()
						,	[CustomerGUID]
						,	[HydraOfferID]
						,	[StartDate]
						,	[EndDate]
					FROM (	SELECT	DISTINCT
									cu.[CustomerGUID]
								,	[HydraOfferID] = iof.[OfferGUID]
								,	[StartDate] = CONVERT(VARCHAR, oma.[StartDate], 126)
								,	[EndDate] = CONVERT(VARCHAR, oma.[EndDate], 126)
							FROM [Segmentation].[OfferMemberAddition] oma
							INNER JOIN #OfferProcessLog iof
								ON oma.[IronOfferID] = iof.[IronOfferID]
								AND oma.[AddedDate] = iof.[AddedDate]
							INNER JOIN #Customer cu
								ON oma.[CompositeID] = cu.[CompositeID]
							) oma
					ORDER BY	[CustomerGUID]
							,	[StartDate]
							,	[EndDate]
				END
				
			IF @DailySegmentation = 1
				BEGIN
					SELECT	[ID] = NEWID()
						,	[CustomerGUID]
						,	[HydraOfferID]
						,	[StartDate]
						,	[EndDate]
					FROM (	SELECT	DISTINCT
									cu.[CustomerGUID]
								,	[HydraOfferID] = iof.[OfferGUID]
								,	[StartDate] = CONVERT(VARCHAR, oma.[StartDate], 126)
								,	[EndDate] = CONVERT(VARCHAR, oma.[EndDate], 126)
							FROM [Segmentation].[OfferMemberAddition_Daily] oma
							INNER JOIN #OfferProcessLog iof
								ON oma.[IronOfferID] = iof.[IronOfferID]
								AND oma.[AddedDate] = iof.[AddedDate]
							INNER JOIN #Customer cu
								ON oma.[CompositeID] = cu.[CompositeID]
							) oma
					ORDER BY	[CustomerGUID]
							,	[StartDate]
							,	[EndDate]
				END

		/*******************************************************************************************************************************************
			4.	Mark offers as processed
		*******************************************************************************************************************************************/

			UPDATE opl
			SET	opl.[Processed] = 1
			,	opl.[ProcessedDate] = GETDATE()
			FROM [Segmentation].[OfferProcessLog] opl
			WHERE EXISTS (	SELECT 1
							FROM #OfferProcessLog opl2
							WHERE opl.[IronOfferID] = opl2.[IronOfferID]
							AND opl.[AddedDate] = opl2.[AddedDate])
			AND opl.[Processed] = 0
			AND opl.[PublisherID] = @PublisherID

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
