USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Segmentation].[OfferMemberAddition_Daily_Extend]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Segmentation].[OfferMemberAddition_Daily_Extend] @ExecutionDate DATE = NULL

AS
BEGIN

	IF @ExecutionDate IS NULL SET @ExecutionDate = GETDATE()

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	--	DECLARE @ExecutionDate DATE = '2025-11-24'

	/*******************************************************************************************************************************************
		1.	Fetch cycle dates, the start of the current cycle and either the end of the current cycle if there are at 4 days left of it,
			or the end of the next cycle otherwise.
			This is done so that customers that go through the daily segementation after the point that BAU selections have ran for the next
			cycle, they still had memberships assigned for it.
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
			1.1.	Fetch the dates from the calendar table
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #CycleDates
			SELECT	[StartDate] = MIN([HalfCycleStartDate])
				,	[EndDate] = MAX([HalfCycleEndDate])
				,	[Cycles] = COUNT(DISTINCT [HalfCycleEndDate])
			INTO #CycleDates
			FROM [WH_AllPublishers].[Derived].[Calendar] cal
			WHERE [HalfCycleEndDate] > GETDATE()
			AND [HalfCycleStartDate] < DATEADD(DAY, 4, @ExecutionDate)

		/*******************************************************************************************************************************************
				1.2.	Assign to parameters
		*******************************************************************************************************************************************/

			DECLARE @StartDate DATETIME
				,	@EndDate DATETIME
				,	@Cycles INT

			SELECT	@StartDate = [StartDate]
				,	@EndDate = DATEADD(SECOND, -1, DATEADD(DAY, 1, CONVERT(DATETIME, [EndDate])))
				,	@Cycles = COALESCE([Cycles], 1)
			FROM #CycleDates

		/*******************************************************************************************************************************************
				1.3.	If there is only one cycle, exit the process as extensions aren't required
		*******************************************************************************************************************************************/

			IF @Cycles <= 1 RETURN

	/*******************************************************************************************************************************************
		2.	Fetch offers incldued in the daily load, enriching with the extended end date if the offer is valid to that point
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Offers
		SELECT	DISTINCT
				iof.[PartnerID]
			,	iof.[IronOfferID]
			,	iof.[IronOfferName]
			,	iof.[StartDate]
			,	iof.[EndDate]
			,	[UpdatedEndDate] = @EndDate
		INTO #Offers
		FROM [Derived].[IronOffer] iof
		WHERE EXISTS (	SELECT 1
						FROM [Segmentation].[OfferMemberAddition_Daily] oma
						WHERE iof.[IronOfferID] = oma.[IronOfferID])
		AND iof.[EndDate] > @EndDate

	/*******************************************************************************************************************************************
		3.	Update [EndDate] of offer memberships if extension is required
	*******************************************************************************************************************************************/

		UPDATE oma
		SET oma.[EndDate] = o.[UpdatedEndDate]
		FROM #Offers o
		INNER JOIN [Segmentation].[OfferMemberAddition_Daily] oma
			ON o.[IronOfferID] = oma.[IronOfferID]

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
