USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Segmentation].[Segmentation_CustomerUpdate_Daily]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Segmentation].[Segmentation_CustomerUpdate_Daily]
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	/*******************************************************************************************************************************************
		1.	Load new customers to holding table
	*******************************************************************************************************************************************/

		INSERT INTO [Segmentation].[Customer] (	[CustomerGUID]
											,	[RegistrationDate]
											,	[LoadDate]
											,	[HasTransactions]
											,	[ToSegment]
											,	[Segmented])
		SELECT	[CustomerGUID]
			,	[RegistrationDate]
			,	[LoadDate]
			,	[HasTransactions] = 0
			,	[ToSegment] =	CASE
									WHEN [RegistrationDate] < DATEADD(DAY, -2, GETDATE()) THEN 1
									ELSE 0
								END
			,	[Segmented] = 0
		FROM [WHB].[Inbound_Customers] ic
		WHERE NOT EXISTS (	SELECT 1
							FROM [Segmentation].[Customer] scu
							WHERE ic.[CustomerGUID] = scu.[CustomerGUID])

	/*******************************************************************************************************************************************
		2.	Mark customers that have been registered at least two days
	*******************************************************************************************************************************************/
	
		UPDATE scu
		SET scu.[ToSegment] = 1
		FROM [Segmentation].[Customer] scu
		WHERE scu.[RegistrationDate] < DATEADD(DAY, -2, GETDATE())
		AND scu.[ToSegment] = 0

	/*******************************************************************************************************************************************
		3.	Check for customer transactions
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #Customers
		SELECT	scu.[CustomerGUID]
			,	cl.[CINID]
		INTO #Customers
		FROM [Segmentation].[Customer] scu
		INNER JOIN [Derived].[Customer] cu
			ON scu.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [Derived].[CINList] cl
			ON cu.[SourceUID] = cl.[CIN]
		WHERE scu.[HasTransactions] = 0

		CREATE CLUSTERED INDEX [CIX_CINID] ON #Customers ([CINID])
	
		DROP TABLE IF EXISTS #CustomersWithTransactions
		SELECT	cu.[CustomerGUID]
		INTO #CustomersWithTransactions
		FROM #Customers cu
		WHERE EXISTS (	SELECT 1
						FROM [Trans].[ConsumerTransaction] ct
						WHERE cu.[CINID] = ct.[CINID])

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #CustomersWithTransactions ([CustomerGUID])
	
		UPDATE scu
		SET	scu.[ToSegment] = 1
		,	scu.[HasTransactions] = 1
		FROM [Segmentation].[Customer] scu
		WHERE scu.[HasTransactions] = 0
		AND scu.[Segmented] = 0
		AND EXISTS (SELECT 1
					FROM #CustomersWithTransactions cwt
					WHERE scu.[CustomerGUID] = cwt.[CustomerGUID])

END

GO
