USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Selections].[PartnerAlternate]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

	Author:		Rory Francis

	Date:		24th July 2019

	Purpose:	Replicate offer memberships for primary and secondary retailers

*/

CREATE PROCEDURE [Selections].[PartnerAlternate]	
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

/*******************************************************************************************************************************************
	1.	Fetch the latest email date to execute
*******************************************************************************************************************************************/

	DECLARE @EmailDate DATE

	SELECT	@EmailDate = MIN([EmailDate])
	FROM (	SELECT	[EmailDate]
			FROM [Selections].[CampaignSetup_POS]
			WHERE [SelectionRun] = 0
			AND [ReadyToRun] = 1
			AND [EndDate] > GETDATE()
			UNION ALL
			SELECT	[EmailDate]
			FROM [Selections].[CampaignSetup_DD]
			WHERE [SelectionRun] = 0
			AND [ReadyToRun] = 1
			AND [EndDate] > GETDATE()) cs

/*******************************************************************************************************************************************
	2.	Grab offers that need to be replicated
*******************************************************************************************************************************************/

	DROP TABLE IF EXISTS #OfferLookup
	SELECT	DISTINCT
			cs.[PublisherID]
		,	rpo.[PrimaryPartnerID]
		,	rpo.[PrimaryIronOfferID]
		,	rpo.[SecondaryPartnerID]
		,	rpo.[SecondaryIronOfferID]
	INTO #OfferLookup
	FROM  [Selections].[CampaignSetup_POS] cs
	CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (cs.[OfferID], ',') iof
	INNER JOIN [WH_AllPublishers].[Selections].[CampaignSetup_ReplicatedPartners_Offers] rpo
		ON iof.[Item] = rpo.[PrimaryIronOfferID]
	WHERE cs.[EmailDate] = @EmailDate
	
	INSERT INTO #OfferLookup
	SELECT	DISTINCT
			cs.[PublisherID]
		,	rpo.[PrimaryPartnerID]
		,	rpo.[PrimaryIronOfferID]
		,	rpo.[SecondaryPartnerID]
		,	rpo.[SecondaryIronOfferID]
	FROM  [Selections].[CampaignSetup_DD] cs
	CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (cs.[OfferID], ',') iof
	INNER JOIN [WH_AllPublishers].[Selections].[CampaignSetup_ReplicatedPartners_Offers] rpo
		ON iof.[Item] = rpo.[PrimaryIronOfferID]
	WHERE cs.[EmailDate] = @EmailDate

/*******************************************************************************************************************************************
	3.	Remove any existing memberships for the secondary partner
*******************************************************************************************************************************************/
	
	DELETE oma
	FROM [Segmentation].[OfferMemberAddition] oma
	WHERE EXISTS (	SELECT 1
					FROM #OfferLookup ol
					INNER JOIN [Derived].[IronOffer] iof
						ON ol.[SecondaryPartnerID] = iof.[PartnerID]
					WHERE oma.[IronOfferID] = iof.[IronOfferID])

/*******************************************************************************************************************************************
	4.	Insert new memberships for the secondary partner
*******************************************************************************************************************************************/

	INSERT INTO [Segmentation].[OfferMemberAddition]
	SELECT	DISTINCT
			oma.[CompositeID]
		,	[IronOfferID] = ol.[SecondaryIronOfferID]
		,	oma.[StartDate]
		,	oma.[EndDate]
		,	oma.[AddedDate]
	FROM #OfferLookup ol
	INNER JOIN [Segmentation].[OfferMemberAddition] oma
		ON ol.[PrimaryIronOfferID] = oma.[IronOfferID]
	ORDER BY	ol.[SecondaryIronOfferID]

END


GO
