USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Selections].[CampaignExecution_Loop_POS_Daily]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************************************
Modified Log:

Change No:	Name:			Date:			Description of change:
1.			Rory Francis	2018-05-02		Warehouse.Staging.ROCShopperSegment_PreSELECTion_ALSS to 
											Warehouse.Selections.ROCShopperSegment_PreSELECTion_AL

2.			Rory Francis	2018-05-03		Adding in process to use priority flag to dedupe while
											pulling Selections
											
****************************************************************************************************/
/*
Update Date		Updated By		Update
*/

CREATE PROCEDURE [Selections].[CampaignExecution_Loop_POS_Daily] @ExecutionDate DATE = NULL
AS
BEGIN
	
	IF @ExecutionDate IS NULL SET @ExecutionDate = GETDATE()

--	DECLARE @ExecutionDate DATE = GETDATE()

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	SET NOCOUNT ON

	DECLARE @StoredProcedureName VARCHAR(100) = COALESCE(OBJECT_NAME(@@PROCID), 'CampaignExecution_Loop_POS')
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	/*******************************************************************************************************************************************
		1.	Prepare parameters for sProc to run
	*******************************************************************************************************************************************/
							
		DECLARE @Qry NVARCHAR(MAX)
			,	@Msg VARCHAR(2048)

	/*******************************************************************************************************************************************
		2.	Prepare campaigns to run through for Selection loop
	*******************************************************************************************************************************************/

			/***********************************************************************************************************************
				2.1.	Store all camapigns to be run in this cycle, whether they have been executed already or not
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #AllCampaigns
				SELECT	*
				INTO #AllCampaigns
				FROM [Selections].[CampaignSetup_POS] cs
				WHERE @ExecutionDate BETWEEN cs.[StartDate] AND cs.[EndDate]
				AND cs.[NurseryOffer] = 0

			/***********************************************************************************************************************
				2.2.	Store all camapigns to be run in this execution
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #CampaignsToRun
				SELECT	ac.*
					,	[RunID] = ROW_NUMBER() OVER (ORDER BY ac.[PartnerID], ac.[PriorityFlag] ASC, ac.[ID])
				INTO #CampaignsToRun
				FROM #AllCampaigns ac
				WHERE ac.[ReadyToRun] = 1
	
				SET @RowsAffected = @@ROWCOUNT;

				SELECT	ctr.[StartDate]
					,	ctr.[EndDate]
					,	ctr.[PublisherID]
					,	ctr.[CampaignName]
					,	ctr.[ClientServicesRef]
					,	ctr.[OfferID]
					,	ctr.[Gender]
					,	ctr.[AgeRange]
					,	ctr.[DriveTimeMins]
					,	ctr.[LiveNearAnyStore]
					,	ctr.[SocialClass]
					,	ctr.[sProcPreSelection]
					,	ctr.[OutputTableName]
					,	ctr.[NotIn_TableName1]
					,	ctr.[NotIn_TableName2]
					,	ctr.[MustBeIn_TableName1]
					,	ctr.[MustBeIn_TableName2]
					,	ctr.[MarketableByEmail]
					,	ctr.[CustomerBaseOfferDate]
					,	ctr.[SelectedInAnotherCampaign]
					,	ctr.[DeDupeAgainstCampaigns]
					,	ctr.[CampaignID_Include]
					,	ctr.[CampaignID_Exclude]
					,	ctr.[Throttling]
					,	ctr.[RandomThrottle]
					,	ctr.[PriorityFlag]
				FROM #CampaignsToRun ctr
				ORDER BY ctr.[RunID]

				SET @msg = 'Loaded #CampaignsToRun [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_Loop_POS', @msg

	/*******************************************************************************************************************************************
		3.	Prepare variable to input into individual Selection sProc
	*******************************************************************************************************************************************/

		DECLARE	@RunID INT
			,	@MaxID INT

		SELECT	@RunID = 1
			,	@MaxID = MAX([RunID])
		FROM #CampaignsToRun

		DECLARE	@PartnerID CHAR(4)
			,	@NewCampaign BIT
			,	@StartDate VARCHAR(10)
			,	@EndDate VARCHAR(10)
			,	@CampaignName VARCHAR (250)
			,	@ClientServicesRef VARCHAR(10)
			,	@OfferID VARCHAR(40)
			,	@PriorityFlag INT
			,	@Throttling VARCHAR(200)
			,	@RandomThrottle CHAR(1)
			,	@MarketableByEmail CHAR(1)
			,	@Gender CHAR(1)
			,	@AgeRange VARCHAR(7)
			,	@DriveTimeMins CHAR(3)
			,	@LiveNearAnyStore BIT
			,	@SocialClass VARCHAR(5)
			,	@OutletSector CHAR(6)
			,	@CustomerBaseOfferDate VARCHAR(10)
			,	@SelectedInAnotherCampaign VARCHAR(20)
			,	@DeDupeAgainstCampaigns VARCHAR(50)
			,	@CampaignID_Include CHAR(3)
			,	@CampaignID_Exclude CHAR(3)
			,	@sProcPreSelection NVARCHAR(150)
			,	@OutputTableName VARCHAR (100)
			,	@NotIn_TableName1 VARCHAR(100)
			,	@NotIn_TableName2 VARCHAR(100)
			,	@NotIn_TableName3 VARCHAR(100)
			,	@NotIn_TableName4 VARCHAR(100)
			,	@MustBeIn_TableName1 VARCHAR(100)
			,	@MustBeIn_TableName2 VARCHAR(100)
			,	@MustBeIn_TableName3 VARCHAR(100)
			,	@MustBeIn_TableName4 VARCHAR(100)
			,	@CampaignTypeID INT
			,	@OutputTableNamePartnerDedupe VARCHAR (100)
			,	@AlternatePartnerOutputTable VARCHAR(150)
			,	@PreviouslyRanPartnerID INT = 0
			,	@FreqStretch_TransCount INT
			,	@ControlGroupPercentage INT
			,	@ThrottleType CHAR(1)
			,	@PublisherID INT

	/*******************************************************************************************************************************************
		4.	Loop through each of the campaigns and run Selections
	*******************************************************************************************************************************************/
	
		WHILE @RunID <= @MaxID 
			BEGIN

			/***********************************************************************************************************************
				4.1.	Parametrise entries from CampaignSetup_DD
			***********************************************************************************************************************/

				IF EXISTS (SELECT 1 FROM #CampaignsToRun WHERE [RunID] = @RunID)
					BEGIN
						SELECT	@PartnerID = [PartnerID]
							,	@StartDate = [StartDate] 
							,	@EndDate = [EndDate]
							,	@CampaignName = [CampaignName]
							,	@ClientServicesRef = [ClientServicesRef]
							,	@OfferID = [OfferID]
							,	@PriorityFlag = [PriorityFlag]
							,	@Throttling = [Throttling]
							,	@RandomThrottle = [RandomThrottle]
							,	@MarketableByEmail = [MarketableByEmail]
							,	@Gender = [Gender]
							,	@AgeRange = [AgeRange]
							,	@DriveTimeMins = [DriveTimeMins]
							,	@LiveNearAnyStore = [LiveNearAnyStore]
							,	@SocialClass = [SocialClass]
							,	@CustomerBaseOfferDate = [CustomerBaseOfferDate]
							,	@SelectedInAnotherCampaign = [SelectedInAnotherCampaign]
							,	@DeDupeAgainstCampaigns = [DeDupeAgainstCampaigns]
							,	@CampaignID_Include = [CampaignID_Include]
							,	@CampaignID_Exclude = [CampaignID_Exclude]
							,	@sProcPreSelection = [sProcPreSelection]
							,	@OutputTableName = LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']'
							,	@NotIn_TableName1 = [NotIn_TableName1]
							,	@NotIn_TableName2 = [NotIn_TableName2]
							,	@NotIn_TableName3 = [NotIn_TableName3]
							,	@NotIn_TableName4 = [NotIn_TableName4]
							,	@MustBeIn_TableName1 = [MustBeIn_TableName1]
							,	@MustBeIn_TableName2 = [MustBeIn_TableName2]
							,	@MustBeIn_TableName3 = [MustBeIn_TableName3]
							,	@MustBeIn_TableName4 = [MustBeIn_TableName4]
							,	@NewCampaign = [NewCampaign]
							,	@FreqStretch_TransCount = [FreqStretch_TransCount]
							,	@ControlGroupPercentage = [ControlGroupPercentage]
							,	@AlternatePartnerOutputTable =	CASE
																	WHEN RIGHT(LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']', 1) = ']' THEN LEFT(LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']', LEN(LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']') - 1) + '_APR]'
																	ELSE LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']' + '_APR'
																END
							,	@ThrottleType = [ThrottleType]
							,	@PublisherID = [PublisherID]
						FROM #CampaignsToRun
						WHERE @RunID = [RunID]

			/***********************************************************************************************************************
				4.2.	If loop runs to new partner then truncate dedupe table
			***********************************************************************************************************************/

				IF @PartnerID != @PreviouslyRanPartnerID
					BEGIN

						TRUNCATE TABLE [Selections].[CampaignExecution_PartnerDedupe]

					END

			/***********************************************************************************************************************
				4.3.	Populate CampaignCode_Selections_PartnerDedupe table with all customers already selected for this partner
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #PartnerDedupe_OfferIDs
				SELECT	[IronOfferID] = iof.[Item]
				INTO #PartnerDedupe_OfferIDs
				FROM #AllCampaigns ac
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (ac.[OfferID], ',') iof
				WHERE ac.[PartnerID] = @PartnerID
				AND ac.[PriorityFlag] < @PriorityFlag
					
				INSERT INTO [Selections].[CampaignExecution_PartnerDedupe] ([PartnerID]
																		,	[CompositeID])
				SELECT	[PartnerID] = @PartnerID
					,	oma.[CompositeID]
				FROM [Segmentation].[OfferMemberAddition_Daily] oma
				WHERE EXISTS (	SELECT 1
								FROM #PartnerDedupe_OfferIDs pd
								WHERE oma.[IronOfferID] = pd.[IronOfferID])
	
				SET @RowsAffected = @@ROWCOUNT;

				UPDATE STATISTICS [Selections].[CampaignExecution_PartnerDedupe]

				SET @msg = 'Loaded [CampaignExecution_PartnerDedupe] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_Loop_POS', @msg

			/***********************************************************************************************************************
				4.4.	Exec Selection for individual campaign
			***********************************************************************************************************************/

				EXEC [Selections].[CampaignExecution_IndividualCampaign_POS_Daily]	@PartnerID
																				,	@StartDate
																				,	@EndDate
																				,	@CampaignName
																				,	@ClientServicesRef
																				,	@OfferID
																				,	@Throttling
																				,	@RandomThrottle
																				,	@MarketableByEmail
																				,	@Gender
																				,	@AgeRange
																				,	@DriveTimeMins
																				,	@LiveNearAnyStore
																				,	@SocialClass
																				,	@CustomerBaseOfferDate
																				,	@SelectedInAnotherCampaign
																				,	@DeDupeAgainstCampaigns
																				,	@CampaignID_Include
																				,	@CampaignID_Exclude
																				,	@OutputTableName
																				,	@NotIn_TableName1
																				,	@NotIn_TableName2
																				,	@NotIn_TableName3
																				,	@NotIn_TableName4
																				,	@MustBeIn_TableName1
																				,	@MustBeIn_TableName2
																				,	@MustBeIn_TableName3
																				,	@MustBeIn_TableName4
																				,	@NewCampaign
																				,	@FreqStretch_TransCount
																				,	@ControlGroupPercentage
																				,	@ThrottleType
																				,	@PublisherID

				SET @msg = 'Excuted [CampaignExecution_IndividualCampaign_POS]'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_Loop_POS', @msg

			/***********************************************************************************************************************
				4.5.	Insert the Selections counts for the campaign into the [Selections].[CampaignExecution_SelectionCounts_Daily] table
			***********************************************************************************************************************/

			--	DECLARE @OfferID VARCHAR(100) = '1,2,3'

				DROP TABLE IF EXISTS #SelectionCount_OfferIDs
				SELECT	[IronOfferID] = iof.[Item]
				INTO #SelectionCount_OfferIDs
				FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@OfferID, ',') iof
				
				DROP TABLE IF EXISTS #SelectionCount
				SELECT	[ClientServicesRef] = @ClientServicesRef
					,	[OfferID] = [IronOfferID]
					,	[CountSelected] = COUNT(1)
				INTO #SelectionCount
				FROM [Segmentation].[OfferMemberAddition_Daily] oma
				WHERE EXISTS (	SELECT 1
								FROM #SelectionCount_OfferIDs sc
								WHERE oma.[IronOfferID] = sc.[IronOfferID])
				GROUP BY	[IronOfferID]

				DELETE sc
				FROM [Selections].[CampaignExecution_SelectionCounts_Daily] sc
				WHERE sc.[EmailDate] = @ExecutionDate
				AND EXISTS (	SELECT 1
								FROM #SelectionCount_OfferIDs sco
								WHERE sc.[IronOfferID] = sco.[IronOfferID])

				INSERT INTO [Selections].[CampaignExecution_SelectionCounts_Daily] ([EmailDate]
																				,	[OutputTableName]
																				,	[IronOfferID]
																				,	[CountSelected]
																				,	[RunDateTime]
																				,	[NewCampaign]
																				,	[ClientServicesRef])
				SELECT	[EmailDate] = @ExecutionDate
					,	[OutputTableName] = @OutputTableName
					,	[IronOfferID] = sc.[OfferID]
					,	[CountSelected] = sc.[CountSelected]
					,	[RunDateTime] = GETDATE()
					,	[NewCampaign] = @NewCampaign
					,	[ClientServicesRef] = sc.[ClientServicesRef]
				FROM #SelectionCount sc
	
				SET @RowsAffected = @@ROWCOUNT;

				SET @msg = 'Loaded [CampaignExecution_SelectionCounts_Daily] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_Loop_POS', @msg

			/***********************************************************************************************************************
				4.7.	Update the previously ran partner variable to prepare for next loop
			***********************************************************************************************************************/

				SET @PreviouslyRanPartnerID = @PartnerID

			/***********************************************************************************************************************
				4.8.	If the partner being looped has an alternate partner record then replicate the Selection for that record
			***********************************************************************************************************************/

				IF @PartnerID IN (4805, 4825, 5291)	--	Ideal World, KitBag, Ninja
					BEGIN 

					--	DECLARE @OfferID VARCHAR(100) = '26898,26895,26896,26897,00000,00000'
					
						DROP TABLE IF EXISTS #PrimaryPartnerOffers
						SELECT	DISTINCT
								[PublisherID] = o.[PublisherID]
							,	[PartnerID] = o.[PartnerID]
							,	[OfferID] = iof.[Item]
						INTO #PrimaryPartnerOffers
						FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@OfferID, ',') iof
						INNER JOIN [WH_AllPublishers].[Derived].[Offer] o
							ON iof.[Item] = o.[IronOfferID]
			
						DROP TABLE IF EXISTS #SecondaryPartnerOffers
						SELECT	DISTINCT
								[PublisherID] = pps.[PublisherID]
							,	[SecondaryPartnerID] = p.[PartnerID]
							,	[SecondaryPartnerName] = p.[PartnerName]
							,	[PrimaryIronOfferID] = iofp.[IronOfferID]
							,	[PrimaryIronOfferName] = iofp.[IronOfferName]
							,	[SecondaryIronOfferID] = iofs.[IronOfferID]
							,	[SecondaryIronOfferName] = iofs.[IronOfferName]
							,	[SecondaryClientServicesRef] = LEFT(iofs.[IronOfferName], CHARINDEX('/', iofs.[IronOfferName]) - 1)
						INTO #SecondaryPartnerOffers
						FROM #PrimaryPartnerOffers pps
						INNER JOIN [Derived].[IronOffer] iofp
							ON pps.[OfferID] = iofp.[IronOfferID]
							AND pps.[PublisherID] = iofp.[ClubID]
						INNER JOIN [Warehouse].[APW].[PartnerAlternate] pa
							ON	pps.[PartnerID] = pa.[AlternatePartnerID]
							AND	pa.[PartnerID] in (SELECT [PartnerID] FROM [Derived].[Partner])
						INNER JOIN [Derived].[Partner] p
							ON pa.[PartnerID] = p.[PartnerID]
						INNER JOIN [Derived].[IronOffer] iofs
							ON pa.[PartnerID] = iofs.[PartnerID]
							AND	iofp.[EndDate] = iofs.[EndDate]
							AND iofp.[ClubID] = iofs.[ClubID]
							AND	SUBSTRING(iofp.[IronOfferName],  LEN(iofp.[IronOfferName]) - CHARINDEX('/', REVERSE(iofp.[IronOfferName])) + 2, 9999) = SUBSTRING(iofs.[IronOfferName],  LEN(iofs.[IronOfferName]) - CHARINDEX('/', REVERSE(iofs.[IronOfferName])) + 2, 9999)
						--	AND	iofp.[StartDate] = iofs.[StartDate]
						--	AND	iofp.[IronOfferName] = iofs.[IronOfferName]
						
						DROP TABLE IF EXISTS #SecondaryPartnerOfferMembers
						SELECT	DISTINCT
								[CompositeID] = oma.[CompositeID]
							,	[PartnerID] = spo.[SecondaryPartnerID]
							,	[PartnerName] = spo.[SecondaryPartnerName]
							,	[OfferID] = spo.[SecondaryIronOfferID]
							,	[ClientServicesRef] = spo.[SecondaryClientServicesRef]
							,	[StartDate] = oma.[StartDate]
							,	[EndDate] = oma.[EndDate]
						INTO #SecondaryPartnerOfferMembers
						FROM [Segmentation].[OfferMemberAddition_Daily] oma
						INNER JOIN #SecondaryPartnerOffers spo
							ON oma.[IronOfferID] = spo.[PrimaryIronOfferID]
						
						INSERT INTO [Segmentation].[OfferMemberAddition_Daily]
						SELECT	[CompositeID]
							,	[OfferID]
							,	[StartDate]
							,	[EndDate]
							,	[Date] = GETDATE()
						FROM #SecondaryPartnerOfferMembers spo
						WHERE NOT EXISTS (	SELECT 1
											FROM [Segmentation].[OfferMemberAddition_Daily] oma
											WHERE spo.[CompositeID] = oma.[CompositeID]
											AND spo.[OfferID] = oma.[IronOfferID])
						ORDER BY	[OfferID]
	
						SET @RowsAffected = @@ROWCOUNT;

						SET @msg = 'Loaded alternate selection to [OfferMemberAddition_Daily] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
						EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_Loop_POS', @msg

					END	--	IF @PartnerID IN (4805)

			/***********************************************************************************************************************
				4.9.	Prepare for next loop
			***********************************************************************************************************************/

						SET @RunID = @RunID + 1
		
				END	--	5.1 IF EXISTS (SELECT 1 FROM #CampaignsToRun WHERE [RunID] = @RunID)


		/***********************************************************************************************************************
			4.10.	Table clear down
		***********************************************************************************************************************/

					TRUNCATE TABLE [Selections].[CampaignExecution_PartnerDedupe]

			END	--	8. WHILE @RunID <= @MaxID		

	/*******************************************************************************************************************************************
		5. Display all counts for all Selections run with email date
	*******************************************************************************************************************************************/

		SELECT *
		FROM [Selections].[CampaignExecution_SelectionCounts_Daily]
		WHERE [EmailDate] = @ExecutionDate
		ORDER BY	[RunDateTime]
				,	[EmailDate]
				,	[OutputTableName]
				,	[IronOfferID]
		
		EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_Loop_POS', 'Finished'

END

GO
