USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Selections].[AddOffersTo_IronOffer_Campaign_HTM]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Author:		Suraj Chahal
Date:		29/08/2013
Purpose:	Run subsequent to IronOfferMember Populated to pull through extra information:
				a). HTM - For which headroom segment the offer is reffering to; this is NULL for universal offers
				b). ClientServicesRef - Used to group offers together
		This data will be used later to work out if offers or above or equal to base offer rates

*/

CREATE PROCEDURE [Selections].[AddOffersTo_IronOffer_Campaign_HTM]

AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DROP TABLE IF EXISTS #CampaignSetup
	SELECT	DISTINCT
			cs.[PartnerID]
		,	cs.[ClientServicesRef]
		,	[IronOfferID] = iof.[Item]
	INTO #CampaignSetup
	FROM [Selections].[CampaignSetup_POS] cs
	CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (cs.[OfferID], ',') iof

	INSERT INTO #CampaignSetup
	SELECT	DISTINCT
			cs.[PartnerID]
		,	cs.[ClientServicesRef]
		,	[IronOfferID] = iof.[Item]
	FROM [Selections].[CampaignSetup_DD] cs
	CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (cs.[OfferID], ',') iof
	
	DROP TABLE IF EXISTS #Offers
	SELECT	DISTINCT
			[ClientServicesRef] = cs.[ClientServicesRef]
		,	[PartnerID] = iof.[PartnerID]
		,	[EPOCU] = NULL
		,	[HTMSegment] = NULL
		,	[IronOfferID] = iof.[IronOfferID]
		,	[CashBackRate] = NULL
		,	[CommissionRate] = NULL
		,	[BaseOfferID] = NULL
		,	[Base_CashbackRate] = NULL
		,	[Base_CommissionRate] = NULL
		,	[AboveBase] = NULL
		,	[isConditionalOffer] = 0
	INTO #Offers
	FROM [Derived].[IronOffer] iof
	INNER JOIN #CampaignSetup cs
		ON iof.[IronOfferID] = cs.[IronOfferID]
	WHERE EXISTS (	SELECT 1
					FROM [Segmentation].[OfferMemberAddition] oma
					WHERE iof.[IronOfferID] = oma.[IronOfferID])
	OR EXISTS (		SELECT 1
					FROM [Segmentation].[OfferMemberAddition_Daily] oma
					WHERE iof.[IronOfferID] = oma.[IronOfferID])
	ORDER BY	iof.[IronOfferID]

	INSERT INTO [Derived].[IronOffer_Campaign_HTM]
	SELECT	[ClientServicesRef]
		,	[PartnerID]
		,	[EPOCU]
		,	[HTMSegment]
		,	[IronOfferID]
		,	[CashBackRate]
		,	[CommissionRate]
		,	[BaseOfferID]
		,	[Base_CashbackRate]
		,	[Base_CommissionRate]
		,	[AboveBase]
		,	[isConditionalOffer]
	FROM #Offers o
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[IronOffer_Campaign_HTM] htm
						WHERE o.[IronOfferID] = htm.[IronOfferID])

	DROP TABLE IF EXISTS #OfferStats
	SELECT 	ht.ClientServicesRef,
		pcr.PartnerID,
		ht.EPOCU, 
		ht.HTMSegment, 
		ht.IronOfferID,
		pcr.CashbackRate,
		pcr.CommissionRate,
		pcr.AboveBase
	INTO #OfferStats
	FROM [Derived].[IronOffer_Campaign_HTM] ht
	LEFT OUTER JOIN	(	SELECT	p.PartnerID
							,	i.IronOfferID
							,	i.StartDate
							,	i.EndDate
							,	io.AboveBase
							,	MAX(CASE WHEN Status = 1 AND TypeID = 1 THEN CommissionRate END) as CashbackRate
							,	CAST(MAX(CASE WHEN Status = 1 AND TypeID = 2 THEN CommissionRate END) AS NUMERIC(32,2)) as CommissionRate
						FROM [Derived].[IronOffer_PartnerCommissionRule] p
						INNER JOIN [Derived].[IronOffer] i
							ON i.IronOfferID = p.IronOfferID
						LEFT OUTER JOIN [Derived].[IronOffer] io
							ON i.IronOfferID = io.IronOfferID
						WHERE i.IronOfferID IS NOT NULL
						GROUP BY p.PartnerID, i.IronOfferID, i.StartDate, i.EndDate, io.AboveBase
				) pcr
			ON ht.IronOfferID = PCR.IronOfferID

	--Update CashbackRates
	
		UPDATE [Derived].[IronOffer_Campaign_HTM]
		SET	CashbackRate = os.CashbackRate
		FROM #offerstats os
		INNER JOIN [Derived].[IronOffer_Campaign_HTM] ht
			on os.IronOfferID = ht.IronOfferID
		WHERE ht.CashbackRate IS NULL

	--Update CommissionRates

		UPDATE [Derived].[IronOffer_Campaign_HTM]
		SET	CommissionRate = os.CommissionRate
		FROM #offerstats os
		INNER JOIN [Derived].[IronOffer_Campaign_HTM] ht
			on os.IronOfferID = ht.IronOfferID
		WHERE ht.CommissionRate IS NULL

	--Update AboveBase

		UPDATE [Derived].[IronOffer_Campaign_HTM]
		SET	AboveBase =	CASE	
							WHEN Base_CashbackRate IS NULL THEN 1
							WHEN CashbackRate > Base_CashbackRate THEN 1
							ELSE 0
						END
		FROM [Derived].[IronOffer_Campaign_HTM] 
		WHERE AboveBase IS NULL

	--Updating isConditionalOffer

		UPDATE [Derived].[IronOffer_Campaign_HTM]
		SET	isConditionalOffer = 1
		FROM [Derived].[IronOffer_PartnerCommissionRule] pcr
		INNER JOIN [Derived].[IronOffer_Campaign_HTM] ht
			on pcr.IronOfferID = ht.IronOfferID
		WHERE	pcr.MinimumBasketSize IS NOT NULL

END
GO
