USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Selections].[HIL004_PreSelection_sProc]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[HIL004_PreSelection_sProc]
AS
BEGIN

--	FIND YOUR COMP BRANDS --

--WITH CTE AS (
--SELECT *
--FROM WH_AllPublishers.Trans.Brand						-- Asda, Coop, M&S and Sainsbury’s 
--WHERE (
--		brandname like '%Asda' 
--	 or brandname like '%Co-operative Food%' 
--	 or brandname like '%marks & Spencer' 
--	 or brandname like '%Sainsbury' 
--	))
 
--SELECT
--	STRING_AGG(brandid,',') as brandid,
--	STRING_AGG(brandname,',') as brandname
--FROM CTE

-----------------------------------------------------------------------------------
--	FIND PARTNERID  --
--  SELECT TOP 10 * FROM Derived.Partner WHERE PartnerName LIKE '%hil%'

-----------------------------------------------------------------------------------
--	FILL THESE IN  --

declare @schema_name sysname = 'YaninaM' --add the name of your personal sandbox schema
declare @table_name varchar(max) = 'Hilton_compsteal_Jun26' --publishers will be appended so leave them off
declare @comp_steal_months int = 24 --months to look back for comp steal
declare @comp_brandids varchar(max) = '151,849,2452,3035,3949,6072'
declare	@PartnerID VARCHAR(max) = 6139
/*Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9*/
declare @bau_segments varchar(max) = '8,9'
declare @bespoke_segments varchar(max) = '7'
-----------------------------------------------------------------------------------
-- !		DON'T CHANGE THESE	! 

DECLARE @table_name_FAB sysname = concat(@table_name,'_FAB')
DECLARE @table_name_msh sysname = concat(@table_name,'_msh')

DECLARE @QualifiedName_FAB sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_FAB)
DECLARE @QualifiedName_msh sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_msh)

DECLARE @sql_FAB_drop nvarchar(max)
DECLARE @sql_msh_drop nvarchar(max)

DECLARE @sql_FAB_create nvarchar(max)
DECLARE @sql_msh_create nvarchar(max)

DECLARE @sql_FAB_selections nvarchar(max)
DECLARE @sql_msh_selections nvarchar(max)

DECLARE @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
DECLARE @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
DECLARE @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
SELECT	DISTINCT BrandID
into	#comp_brands
from	WH_AllPublishers.Trans.Brand b
where	charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------


-----------------------------------------------------------------------------------

/*
	Mashreq
*/

/*Mashreq SELECTION*/

IF OBJECT_ID('tempdb..#FB_msh') IS NOT NULL DROP TABLE #FB_msh
CREATE TABLE #FB_msh (CINID int not null primary key, FanID int)
INSERT INTO #FB_msh
SELECT	CINID, FanID
FROM	WH_mashreq.Derived.Customer  C
JOIN	WH_mashreq.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
;

IF OBJECT_ID('tempdb..#CC_msh') IS NOT NULL DROP TABLE #CC_msh
CREATE TABLE #CC_msh (ConsumerCombinationID int not null primary key, BrandID int)
INSERT INTO #CC_msh
SELECT	ConsumerCombinationID, BrandID
FROM	WH_mashreq.Trans.ConsumerCombination  CC
WHERE	BrandID IN (select brandid from #comp_brands)
;

IF OBJECT_ID('tempdb..#Trans_msh') IS NOT NULL DROP TABLE #Trans_msh
CREATE TABLE #Trans_msh (FanID int, CINID int not null primary key)
INSERT INTO #Trans_msh
SELECT	FanID, CT.CINID
FROM	#FB_msh F
JOIN	WH_mashreq.Trans.Consumertransaction CT ON F.CINID = CT.CINID
JOIN	#CC_msh C ON C.ConsumerCombinationID = CT.ConsumerCombinationID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND Amount > 0
GROUP BY FanID, CT.CINID
;

IF OBJECT_ID(@QualifiedName_msh) IS NOT NULL
BEGIN
	SET @sql_msh_drop = 'DROP TABLE ' + @QualifiedName_msh
	EXEC (@sql_msh_drop)
END

SET @sql_msh_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_msh
	+ ' FROM #Trans_msh GROUP BY FanID, CINID'
EXEC (@sql_msh_create)
;
-----------------------------------------------------------------------------------

/* Mashreq SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_msh') IS NOT NULL DROP TABLE #SegmentAssignment_msh
;
create table #SegmentAssignment_msh (FanID int)
;
SET @sql_msh_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_msh
;
insert into #SegmentAssignment_msh
exec (@sql_msh_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_msh') IS NOT NULL DROP TABLE #FinalSelection_msh
;
create table #FinalSelection_msh (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_msh
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_mashreq.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_msh
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_mashreq.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_msh sa
			WHERE sg.[FanID] = sa.[FanID])
end
;
select 'SELECTION TABLE NAMES BELOW'
;
select @QualifiedName_FAB, @QualifiedName_msh
;

	DROP TABLE IF EXISTS [Selections].[HIL004_PreSelection]
	SELECT FanID
	INTO [Selections].[HIL004_PreSelection]
	FROM #FinalSelection_msh
END





GO
