USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Selections].[CampaignExecution_AssignTopOfferstoSeniorStaff]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/***********************************************************************************************************************
Title: Auto-Generation of all PreSelections table for upcoming campaigns
Author: Rory Francis
Creation Date: 20 July 2018
Purpose: Run through each of the upcoming cmapigns AND run their required bespoke code to populate PreSelections tables

------------------------------------------------------------------------------------------------------------------------

Modified Log:

Change No:	Name:			Date:			Description of change:

											
***********************************************************************************************************************/

CREATE PROCEDURE [Selections].[CampaignExecution_AssignTopOfferstoSeniorStaff] 

AS
BEGIN
	
	SET NOCOUNT ON

/*******************************************************************************************************************************************
	1. Store Customers to be updated, all live offers & the top offer per retailer
*******************************************************************************************************************************************/
	
	DECLARE	@EmailDate DATE

	SELECT @EmailDate = MIN(EmailDate)
	FROM [Selections].[CampaignSetup_POS]
	WHERE EmailDate > GETDATE()

	IF OBJECT_ID('tempdb..#PrioritisedCustomerAccounts') IS NOT NULL DROP TABLE #PrioritisedCustomerAccounts
	SELECT *
	INTO #PrioritisedCustomerAccounts
	FROM [Selections].[PrioritisedCustomerAccounts] pca
	WHERE EndDate IS NULL
	AND EXISTS (SELECT 1
				FROM [Derived].[Customer] cu
				WHERE pca.[FanID] = cu.[FanID]
				AND cu.[CurrentlyActive] = 1)
	
	IF OBJECT_ID('tempdb..#CampaignSetup') IS NOT NULL DROP TABLE #CampaignSetup
	SELECT	[PartnerID] = iof.[PartnerID]
		,	[IronOfferID] = iof.[IronOfferID]
		,	[StartDate] = cs.[StartDate]
		,	[EndDate] = cs.[EndDate]
	INTO #CampaignSetup
	FROM [Selections].[CampaignSetup_POS] cs
	CROSS APPLY [Warehouse].[dbo].[il_SplitDelimitedStringArray] (cs.OfferID, ',') ss
	INNER JOIN [Derived].[IronOffer] iof
		ON ss.[Item] = iof.[IronOfferID] 
	WHERE cs.[StartDate] = @EmailDate

	IF OBJECT_ID('tempdb..#OfferMember') IS NOT NULL DROP TABLE #OfferMember
	SELECT	DISTINCT
			[IronOfferID]
	INTO #OfferMember
	FROM (	SELECT	DISTINCT
					[IronOfferID]
			FROM [Derived].[IronOfferMember] iom
			WHERE iom.EndDate > @EmailDate
			UNION ALL
			SELECT	DISTINCT
					[IronOfferID]
			FROM [Segmentation].[OfferMemberAddition] oma) om

	IF OBJECT_ID('tempdb..#Offers') IS NOT NULL DROP TABLE #Offers
	SELECT	[PartnerID] = iof.[PartnerID]
		,	[PartnerName] = pa.[PartnerName]
		,	[IronOfferID] = iof.[IronOfferID]
		,	[IronOfferName] = iof.[IronOfferName]
		,	[StartDate] = cs.[StartDate]
		,	[EndDate] = cs.[EndDate]
		,	[OfferRank] = ROW_NUMBER() OVER (PARTITION BY iof.[PartnerID] ORDER BY iof.[TopCashBackRate] DESC, iof.[IronOfferName], iof.[IronOfferID])
	INTO #Offers
	FROM [Derived].[IronOffer] iof
	LEFT JOIN [Derived].[Partner] pa
		ON iof.[PartnerID] = pa.[PartnerID]
	INNER JOIN #CampaignSetup cs
		ON iof.[IronOfferID] = cs.[IronOfferID]
	WHERE iof.[EndDate] > @EmailDate
	AND EXISTS (SELECT 1
				FROM #OfferMember om
				WHERE iof.[IronOfferID] = om.[IronOfferID])

	IF OBJECT_ID('tempdb..#TopOffers') IS NOT NULL DROP TABLE #TopOffers
	SELECT	[PartnerID]
		,	[PartnerName]
		,	[IronOfferID]
		,	[IronOfferName]
		,	[StartDate]
		,	[EndDate]
	INTO #TopOffers
	FROM #Offers
	WHERE OfferRank = 1
	
	IF OBJECT_ID('tempdb..#PrioritisedCustomerAccounts_ExistingMemberships') IS NOT NULL DROP TABLE #PrioritisedCustomerAccounts_ExistingMemberships
	SELECT	*
	INTO #PrioritisedCustomerAccounts_ExistingMemberships
	FROM [Derived].[IronOfferMember] iom
	WHERE iom.EndDate > @EmailDate
	AND EXISTS (SELECT 1
				FROM #PrioritisedCustomerAccounts pca
				WHERE iom.[CompositeID] = pca.[CompositeID])

/*******************************************************************************************************************************************
	2. Remove all offer memberships asigned through the normal process
*******************************************************************************************************************************************/

	DELETE oma
	FROM [Segmentation].[OfferMemberAddition] oma
	INNER JOIN #PrioritisedCustomerAccounts cu
		ON oma.CompositeID = cu.CompositeID


/*******************************************************************************************************************************************
	3. Assign the selected customers a memberships for each offer
*******************************************************************************************************************************************/

	IF OBJECT_ID('tempdb..#NewMemberships') IS NOT NULL DROP TABLE #NewMemberships
	SELECT	[CompositeID] = pca.[CompositeID]
		,	[IronOfferID] = cs.[IronOfferID]
		,	[StartDate] = cs.[StartDate]
		,	[EndDate] = DATEADD(second, -1, CONVERT(DATETIME, DATEADD(day, 1, cs.[EndDate])))
		,	[PartnerID] = cs.[PartnerID]
	INTO #NewMemberships
	FROM #CampaignSetup cs
	CROSS JOIN #PrioritisedCustomerAccounts pca
	WHERE EXISTS (	SELECT 1
					FROM #TopOffers tpo
					WHERE tpo.IronOfferID = cs.IronOfferID)
	GROUP BY	pca.[CompositeID]
			,	cs.[IronOfferID]
			,	cs.[StartDate]
			,	cs.[EndDate]
			,	cs.[PartnerID]

	INSERT INTO [Segmentation].[OfferMemberAddition]
	SELECT	[CompositeID]
		,	[IronOfferID]
		,	[StartDate]
		,	[EndDate]
		,	GETDATE()
	FROM #NewMemberships nm
	WHERE NOT EXISTS (	SELECT 1
						FROM #PrioritisedCustomerAccounts_ExistingMemberships em
						INNER JOIN [Derived].[IronOffer] iof
							ON em.[IronOfferID] = iof.[IronOfferID]
						WHERE nm.[CompositeID] = em.[CompositeID]
						AND nm.[PartnerID] = iof.[PartnerID])
	AND NOT EXISTS (	SELECT 1
						FROM [Segmentation].[OfferMemberAddition] oma
						INNER JOIN #Offers iof
							ON oma.IronOfferID = iof.IronOfferID
						WHERE nm.CompositeID = oma.CompositeID
						AND nm.PartnerID = iof.PartnerID)


END


GO
