USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Selections].[CampaignSetup_PreSelections_Daily]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***********************************************************************************************************************
Title: Auto-Generation of all PreSelections table for upcoming campaigns
Author: Rory Francis
Creation Date: 20 July 2018
Purpose: Run through each of the upcoming cmapigns AND run their required bespoke code to populate PreSelections tables

------------------------------------------------------------------------------------------------------------------------

Modified Log:

Change No:	Name:			Date:			Description of change:

											
***********************************************************************************************************************/

CREATE PROCEDURE [Selections].[CampaignSetup_PreSelections_Daily]

AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	/*******************************************************************************************************************************************
		1.	Store all camapigns to be run in this cycle
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #AllCampaigns
		SELECT	[ID] = MIN([ID])
			,	[PartnerID] = CONVERT(INT, [PartnerID])
			,	[ClientServicesRef]
			,	[NotIn_TableName1]
			,	[NotIn_TableName2]
			,	[NotIn_TableName3]
			,	[NotIn_TableName4]
			,	[MustBeIn_TableName1]
			,	[MustBeIn_TableName2]
			,	[MustBeIn_TableName3]
			,	[MustBeIn_TableName4]
			,	[sProcPreSelection]
			,	[ReadyToRun]
		INTO #AllCampaigns
		FROM [WH_AllPublishers].[Selections].[CampaignSetup_All] cs
		WHERE [DatabaseName] = DB_NAME()
		AND [EndDate] >= CONVERT(DATE, GETDATE())
		AND [NurseryOffer] = 0
		GROUP BY	CONVERT(INT, [PartnerID])
				,	[ClientServicesRef]
				,	[NotIn_TableName1]
				,	[NotIn_TableName2]
				,	[NotIn_TableName3]
				,	[NotIn_TableName4]
				,	[MustBeIn_TableName1]
				,	[MustBeIn_TableName2]
				,	[MustBeIn_TableName3]
				,	[MustBeIn_TableName4]
				,	[sProcPreSelection]
				,	[ReadyToRun]

	CREATE CLUSTERED INDEX [CIX_PartnerID] ON #AllCampaigns ([PartnerID])
	
/*******************************************************************************************************************************************
	2.	Fetch campaigns requiring preselection to be run
*******************************************************************************************************************************************/
	
		/***********************************************************************************************************************
			2.1.	Place all camapigns requiring preselection into holding table, add entry for Europcar's card type split
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #PreSelectionsToRun_Temp
			SELECT	[RunID] = ROW_NUMBER() OVER (ORDER BY [PartnerID])
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[NotIn_TableName1]
				,	[NotIn_TableName2]
				,	[NotIn_TableName3]
				,	[NotIn_TableName4]
				,	[MustBeIn_TableName1]
				,	[MustBeIn_TableName2]
				,	[MustBeIn_TableName3]
				,	[MustBeIn_TableName4]
				,	[sProcPreSelection]
				,	[ReadyToRun]
			INTO #PreSelectionsToRun_Temp
			FROM (	SELECT	[PartnerID]
						,	[ClientServicesRef]
						,	[NotIn_TableName1]
						,	[NotIn_TableName2]
						,	[NotIn_TableName3]
						,	[NotIn_TableName4]
						,	[MustBeIn_TableName1]
						,	[MustBeIn_TableName2]
						,	[MustBeIn_TableName3]
						,	[MustBeIn_TableName4]
						,	[sProcPreSelection]
						,	[ReadyToRun]
					FROM #AllCampaigns
					WHERE [ReadyToRun] = 1
					AND [sProcPreSelection] LIKE '%PreSelection%'
					GROUP BY	[PartnerID]
							,	[ClientServicesRef]
							,	[NotIn_TableName1]
							,	[NotIn_TableName2]
							,	[NotIn_TableName3]
							,	[NotIn_TableName4]
							,	[MustBeIn_TableName1]
							,	[MustBeIn_TableName2]
							,	[MustBeIn_TableName3]
							,	[MustBeIn_TableName4]
							,	[sProcPreSelection]
							,	[ReadyToRun]) ac

			DROP TABLE IF EXISTS #PreSelectionsToRun
			CREATE TABLE #PreSelectionsToRun (	[ID] INT IDENTITY
											,	[RunID] INT
											,	[PartnerID] INT
											,	[ClientServicesRef] VARCHAR(10)
											,	[TableName] VARCHAR(100) NULL
											,	[TableSource] VARCHAR(100) NULL
											,	[sProcPreSelection] VARCHAR(150) NULL
											,	[sProcPreSelectionCounts] BIGINT NULL)

			INSERT INTO #PreSelectionsToRun
			SELECT	DISTINCT
					[RunID]
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[TableName] = [NotIn_TableName1]
				,	[TableSource] = '[NotIn_TableName1]'
				,	[sProcPreSelection]
				,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
			FROM #PreSelectionsToRun_Temp
			WHERE [NotIn_TableName1] LIKE '%PreSelection%'

			INSERT INTO #PreSelectionsToRun
			SELECT	DISTINCT
					[RunID]
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[TableName] = [NotIn_TableName2]
				,	[TableSource] = '[NotIn_TableName2]'
				,	[sProcPreSelection]
				,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
			FROM #PreSelectionsToRun_Temp
			WHERE [NotIn_TableName2] LIKE '%PreSelection%'

			INSERT INTO #PreSelectionsToRun
			SELECT	DISTINCT
					[RunID]
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[TableName] = [NotIn_TableName3]
				,	[TableSource] = '[NotIn_TableName3]'
				,	[sProcPreSelection]
				,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
			FROM #PreSelectionsToRun_Temp
			WHERE [NotIn_TableName3] LIKE '%PreSelection%'

			INSERT INTO #PreSelectionsToRun
			SELECT	DISTINCT
					[RunID]
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[TableName] = [NotIn_TableName4]
				,	[TableSource] = '[NotIn_TableName4]'
				,	[sProcPreSelection]
				,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
			FROM #PreSelectionsToRun_Temp
			WHERE [NotIn_TableName4] LIKE '%PreSelection%'

			INSERT INTO #PreSelectionsToRun
			SELECT	DISTINCT
					[RunID]
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[TableName] = [MustBeIn_TableName1]
				,	[TableSource] = '[MustBeIn_TableName1]'
				,	[sProcPreSelection]
				,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
			FROM #PreSelectionsToRun_Temp
			WHERE [MustBeIn_TableName1] LIKE '%PreSelection%'

			INSERT INTO #PreSelectionsToRun
			SELECT	DISTINCT
					[RunID]
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[TableName] = [MustBeIn_TableName2]
				,	[TableSource] = '[MustBeIn_TableName2]'
				,	[sProcPreSelection]
				,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
			FROM #PreSelectionsToRun_Temp
			WHERE [MustBeIn_TableName2] LIKE '%PreSelection%'

			INSERT INTO #PreSelectionsToRun
			SELECT	DISTINCT
					[RunID]
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[TableName] = [MustBeIn_TableName3]
				,	[TableSource] = '[MustBeIn_TableName3]'
				,	[sProcPreSelection]
				,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
			FROM #PreSelectionsToRun_Temp
			WHERE [MustBeIn_TableName3] LIKE '%PreSelection%'

			INSERT INTO #PreSelectionsToRun
			SELECT	DISTINCT
					[RunID]
				,	[PartnerID]
				,	[ClientServicesRef]
				,	[TableName] = [MustBeIn_TableName4]
				,	[TableSource] = '[MustBeIn_TableName4]'
				,	[sProcPreSelection]
				,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
			FROM #PreSelectionsToRun_Temp
			WHERE [MustBeIn_TableName4] LIKE '%PreSelection%'

		/***********************************************************************************************************************
			2.2.	List PreSelections to be ran
		***********************************************************************************************************************/
				
			DROP TABLE IF EXISTS #Created
			SELECT	[TableName] = t.[name]
			INTO #Created
			FROM [sys].[tables] t
			INNER JOIN [sys].[schemas] s
				ON t.[schema_id] = s.[schema_id]
			WHERE s.[name] = 'Selections'
			AND t.[name] LIKE '%_PreSelection'
			AND t.[create_date] > DATEADD(HOUR, -2, GETDATE())
				
			DELETE ps
			FROM #PreSelectionsToRun ps
			WHERE EXISTS (	SELECT 1
							FROM #Created c
							WHERE ps.[TableName] LIKE '%' + c.[TableName] + '%')

			SELECT 'PreSelections to run through' AS [Result set displayed below]
			SELECT *
			FROM #PreSelectionsToRun
			ORDER BY [RunID]

/*******************************************************************************************************************************************
	3.	Loop through each of the campaigns requiring preselection and run the bespoke code
*******************************************************************************************************************************************/

	DECLARE @ID INT
		,	@MaxID INT
		,	@PartnerID INT
		,	@ClientServicesRef VARCHAR(10)
		,	@PreSelectionsProc VARCHAR(250)
		,	@PreSelectionTable VARCHAR(250)
		,	@CreateIndex VARCHAR(500)
		,	@TableInsert VARCHAR(500)
		,	@PreSelectionRowCount VARCHAR(50)
		,	@TableName VARCHAR(500)

	SELECT @ID = 1
			, @MaxID = Max(RunID)
	FROM #PreSelectionsToRun
			
	WHILE @ID <= @MaxID 
		BEGIN

			SELECT	@PartnerID = [PartnerID]
				,	@ClientServicesRef = [ClientServicesRef]
				,	@PreSelectionsProc = [sProcPreSelection]
			FROM #PreSelectionsToRun
			WHERE [ID] = @ID

			EXEC(@PreSelectionsProc)

			SET @PreSelectionRowCount = (SELECT @@ROWCOUNT)

			UPDATE #PreSelectionsToRun
			SET [sProcPreSelectionCounts] = @PreSelectionRowCount
			WHERE [ID] = @ID

			SELECT @TableName = [TableName]
			FROM #PreSelectionsToRun
			WHERE [ID] = @ID

			SET @CreateIndex = 'CREATE CLUSTERED INDEX [CIX_Fan] on ' + @TableName + ' ([FanID]) WITH (DATA_COMPRESSION = PAGE) ON [' + DB_NAME() + '_Indexes]'

			IF INDEXPROPERTY(OBJECT_ID(@TableName), 'CIX_Fan', 'IndexID') IS NULL EXEC (@CreateIndex)

			SELECT @ID = MIN([ID])
			FROM #PreSelectionsToRun
			WHERE [ID] > @ID

		END	--	@ID <= @MaxID

	SELECT 'PreSelections ran'
	SELECT *
	FROM #PreSelectionsToRun
	ORDER BY [RunID]

/*******************************************************************************************************************************************
	4. Fetch all current segmentation
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		4.1.	Store all camapigns to be run in this execution
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #CurrentCustomerSegment
		SELECT	DISTINCT
				ac.[PartnerID]
		INTO #CurrentCustomerSegment
		FROM #AllCampaigns ac
		WHERE [ReadyToRun] = 1

		CREATE CLUSTERED INDEX CIX_PartnerID ON #CurrentCustomerSegment ([PartnerID])

	/***********************************************************************************************************************
		4.2.	Fetch the existing segmentation from Roc_Shopper_Segment_Members
	***********************************************************************************************************************/
	
		TRUNCATE TABLE [Segmentation].[CurrentCustomerSegment]
		INSERT INTO [Segmentation].[CurrentCustomerSegment] ([PartnerID], [FanID], [ShopperSegmentTypeID])
		SELECT	[PartnerID]
			,	[FanID]
			,	[ShopperSegmentTypeID]
		FROM (	SELECT	sg.[PartnerID]
					,	sg.[FanID]
					,	sg.[ShopperSegmentTypeID]
				FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
				WHERE sg.[EndDate] IS NULL) sg
		WHERE EXISTS (	SELECT 1
						FROM #CurrentCustomerSegment ccs
						WHERE sg.[PartnerID] = ccs.[PartnerID])
		AND EXISTS (SELECT 1
					FROM [Derived].[Customer] cu
					WHERE cu.[FanID] = sg.[FanID]
					AND cu.[CurrentlyActive] = 1)			
		ORDER BY	sg.[PartnerID]
				,	sg.[FanID]
				,	sg.[ShopperSegmentTypeID]
				
		UPDATE STATISTICS [Segmentation].[CurrentCustomerSegment]

END
GO
