USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [Selections].[CQM001_PreSelection_sProc]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[CQM001_PreSelection_sProc]
AS
BEGIN

/*
	FIND YOUR COMP BRANDS
	Cult Beauty, Sephora, Look Fantastic, Beauty Bay & Beauty Pie
*/
with t1 as (
select *
from warehouse.Relational.Brand
where (
brandname like '%talabat%'
	or brandname like '%noon%food%'
	or brandname like '%keeta%'
	or brandname like '%deliveroo%'
	))

select
	STRING_AGG(brandid,',') as brandid,
	STRING_AGG(brandname,',') as brandname
from t1
--;
-----------------------------------------------------------------------------------
/*
	FIND PARTNERID
*/
SELECT TOP 10 * FROM Warehouse.Relational.Partner WHERE PartnerName LIKE '%careem%'
;
-----------------------------------------------------------------------------------
/*
	FILL THESE IN
*/
declare @schema_name sysname = 'YaninaM' --add the name of your personal sandbox schema
declare @table_name varchar(max) = 'CareemFood_compsteal_aug26' --publishers will be appended so leave them off
declare @comp_steal_months int = 99 --months to look back for comp steal
declare @comp_brandids varchar(max) = '2009,6169,6831,7856'
declare	@PartnerID VARCHAR(max) = 6164
/*Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9*/
declare @bau_segments varchar(max) = '8,9'
declare @bespoke_segments varchar(max) = '7'
-----------------------------------------------------------------------------------
/*
	!
	DON'T CHANGE THESE
	!
*/
declare @table_name_Mashreq sysname = concat(@table_name,'_Mashreq')
declare @QualifiedName_Mashreq sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_Mashreq)
declare @sql_Mashreq_drop nvarchar(max)
declare @sql_Mashreq_create nvarchar(max)
declare @sql_Mashreq_selections nvarchar(max)

declare @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
declare @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
declare @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
select distinct BrandID
into #comp_brands
from Warehouse.Relational.Brand b
where charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------

/*
	Mashreq
*/

/*Mashreq SELECTION*/

IF OBJECT_ID('tempdb..#FB_Mashreq') IS NOT NULL DROP TABLE #FB_Mashreq
CREATE TABLE #FB_Mashreq (CINID int not null primary key,fanid int)
INSERT INTO #FB_Mashreq
select distinct a.cinid,fanid from (
SELECT	CINID, MIN(Trandate) AS Mindate
FROM	Wh_Mashreq.trans.ConsumerTransaction ct
group by cinid)a
join wh_mashreq.derived.cinlist cl on cl.CINID=a.CINID
join WH_Mashreq.derived.customer c on c.SourceUID=cl.CIN
where mindate<'2026-02-01'
group by a.cinid,fanid
;
IF OBJECT_ID('tempdb..#CC_Mashreq') IS NOT NULL DROP TABLE #CC_Mashreq
CREATE TABLE #CC_Mashreq (brandid int, consumercombinationid int not null primary key)
INSERT INTO #CC_Mashreq
SELECT	CC.BrandID	,ConsumerCombinationID
FROM	wh_Mashreq.trans.ConsumerCombination CC
WHERE	CC.BrandID IN (select brandid from #comp_brands);

IF OBJECT_ID('tempdb..#trans_Mashreq') IS NOT NULL DROP TABLE #trans_Mashreq
CREATE TABLE #trans_Mashreq (fanid int, cinid int not null primary key)
INSERT INTO #trans_Mashreq
SELECT  FanID, CT.CINID
FROM	Wh_Mashreq.trans.ConsumerTransaction ct
JOIN	#CC_Mashreq cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_Mashreq fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND Amount_OriginalCurrency > 0 and CurrencyCode='AED'
GROUP BY FanID, CT.CINID
;

IF OBJECT_ID(@QualifiedName_Mashreq) IS NOT NULL
BEGIN
	SET @sql_Mashreq_drop = 'DROP TABLE ' + @QualifiedName_Mashreq
	EXEC (@sql_Mashreq_drop)
END

SET @sql_Mashreq_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_Mashreq
	+ ' FROM #Trans_Mashreq GROUP BY FanID, CINID'
EXEC (@sql_Mashreq_create)
;
-----------------------------------------------------------------------------------

/* Mashreq SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_Mashreq') IS NOT NULL DROP TABLE #SegmentAssignment_Mashreq
;
create table #SegmentAssignment_Mashreq (FanID int)
;
SET @sql_Mashreq_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_Mashreq
;
insert into #SegmentAssignment_Mashreq
exec (@sql_Mashreq_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_Mashreq') IS NOT NULL DROP TABLE #FinalSelection_Mashreq
;
create table #FinalSelection_Mashreq (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_Mashreq
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [wh_mashreq].[Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_Mashreq
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [wh_mashreq].[Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_Mashreq sa
			WHERE sg.[FanID] = sa.[FanID])
end
;
-----------------------------------------------------------------------------------
select 'SELECTION TABLE NAMES BELOW'
;
select @QualifiedName_Mashreq
;

	DROP TABLE IF EXISTS [Selections].[CQM001_PreSelection]
	SELECT FanID
	INTO [Selections].[CQM001_PreSelection]
	FROM #FinalSelection_Mashreq
END


GO
