USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[CustomerSegmentation_ExclusionsInsight]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[CustomerSegmentation_ExclusionsInsight]
AS
BEGIN

SET NOCOUNT ON

IF (SELECT GETDATE()) > '2022-08-26' RETURN

DROP TABLE IF EXISTS Sandbox.ConalM.AcquisitionTesting_Rory6;

-- table populated by DataOps on Sunday every 2 weeks
-- limit to fans that are in the Acquire segment across the specified
WITH	Acquire_users_current_cycle AS 
(
	SELECT	  FanID
			, PartnerID
			, ShopperSegmentTypeID
	FROM	WH_Mashreq.Segmentation.Roc_Shopper_Segment_Members sg
	WHERE	sg.PartnerID IN (4063,4162,4553,4580,4583,4585,4592,4661,4721,4731,4744,4767,4769,4771,4781,4816,4821,4825,4827,4842,4843,4849,4866,4878,4888,4890,4892,4895,4896,4898,4899,4904,4909,4917,4924,4928,4944,4950)
		AND sg.ShopperSegmentTypeID = 7 
		AND sg.EndDate IS NULL
)
-- find the brands and segments from the CTE above, used at the end of the script to populate table: Sandbox.ConalM.AcquisitionTesting_Rory
, segment_cross_partnerid AS
(
	SELECT    PartnerID
			, ShopperSegmentTypeID
	FROM	Acquire_users_current_cycle
	GROUP BY  PartnerID
			, ShopperSegmentTypeID
)

-- find how many Partners each FanID is an acquire customer for, as we want to find the users who are acquire for all PartnerIDs
, Acquire_users_current_cycle_per_retailer AS
(
	SELECT    FanID
			, COUNT(1) AS Partners
	FROM	Acquire_users_current_cycle
	GROUP BY  FanID
)

-- limit to FanID's who are acquire for all Partners
, Total_Acquire_Audience AS
(
	SELECT	FanID
	FROM	Acquire_users_current_cycle_per_retailer
	WHERE	Partners = (SELECT COUNT(DISTINCT PartnerID) FROM Acquire_users_current_cycle)
)

-- add a hash column which will be used for the randomised control
, Total_Acquire_Audience_with_hash AS
(
	SELECT	  FanID
			, HASHBYTES('SHA1',CONCAT(FanID,'Test 6')) AS Hash_Value
	FROM	Total_Acquire_Audience
)

-- add an ntile function which will allow test/control splits
, NTILE_Grouping AS
(
	SELECT    FanID
			, Hash_Value
			, NTILE(20) OVER (ORDER BY Hash_Value) AS Ntile_group
	FROM	Total_Acquire_Audience_with_hash
)

-- add a rank which will allow the defined number of 50k to be selected for the test/control group
, NTILE_Grouping_with_rank AS
(
	SELECT	  FanID
			, Hash_Value
			, Ntile_group
			, ROW_NUMBER() OVER (PARTITION BY Ntile_group ORDER BY Hash_Value) AS Ntile_Rank
	FROM	NTILE_Grouping
)

-- define a CASE statement to determine which customers are in the test group and which are in the control groups
, Test_Control AS
(
	SELECT		  FanID
				, Ntile_group
				, Ntile_Rank
				, CASE	WHEN Ntile_group = 1  AND Ntile_Rank <= 50000 THEN 'Test Group'
						WHEN Ntile_group = 2  AND Ntile_Rank <= 50000 THEN 'Control Group 1'
						WHEN Ntile_group = 3  AND Ntile_Rank <= 50000 THEN 'Control Group 2'
						WHEN Ntile_group = 4  AND Ntile_Rank <= 50000 THEN 'Control Group 3'
						WHEN Ntile_group = 5  AND Ntile_Rank <= 50000 THEN 'Control Group 4'
						WHEN Ntile_group = 6  AND Ntile_Rank <= 50000 THEN 'Control Group 5'
						WHEN Ntile_group = 7  AND Ntile_Rank <= 50000 THEN 'Control Group 6'
						WHEN Ntile_group = 8  AND Ntile_Rank <= 50000 THEN 'Control Group 7'
						WHEN Ntile_group = 9  AND Ntile_Rank <= 50000 THEN 'Control Group 8'
						WHEN Ntile_group = 10 AND Ntile_Rank <= 50000 THEN 'Control Group 9'
						WHEN Ntile_group = 11 AND Ntile_Rank <= 50000 THEN 'Control Group 10'
						WHEN Ntile_group = 12 AND Ntile_Rank <= 50000 THEN 'Control Group 11'
						WHEN Ntile_group = 13 AND Ntile_Rank <= 50000 THEN 'Control Group 12'
						WHEN Ntile_group = 14 AND Ntile_Rank <= 50000 THEN 'Control Group 13'
						WHEN Ntile_group = 15 AND Ntile_Rank <= 50000 THEN 'Control Group 14'
						WHEN Ntile_group = 16 AND Ntile_Rank <= 50000 THEN 'Control Group 15'
						WHEN Ntile_group = 17 AND Ntile_Rank <= 50000 THEN 'Control Group 16'
						WHEN Ntile_group = 18 AND Ntile_Rank <= 50000 THEN 'Control Group 17'
						WHEN Ntile_group = 19 AND Ntile_Rank <= 50000 THEN 'Control Group 18'
						WHEN Ntile_group = 20 AND Ntile_Rank <= 50000 THEN 'Control Group 19'
						ELSE 'Other' END AS Test_Control_Flag
	FROM		NTILE_Grouping_with_rank
)

-- restrict to those just in the test group to send to Rory for exclusion in the selection process
, test_group AS
(
	SELECT	  FanID
	FROM	Test_Control
	WHERE	Test_Control_Flag = 'Test Group'
)

-- table for rory

SELECT		*
INTO		Sandbox.ConalM.AcquisitionTesting_Rory6
FROM		test_group
CROSS JOIN	segment_cross_partnerid


DECLARE @PartnerID INT
	,	@MaxPartnerID INT
	,	@TableName VARCHAR(250)
	,	@SQL VARCHAR(MAX)

SELECT	@PartnerID = MIN(PartnerID )
	,	@MaxPartnerID = MAX(PartnerID)
FROM Sandbox.ConalM.AcquisitionTesting_Rory6

WHILE 1 = 1
	BEGIN

		SET @TableName = '[WH_Mashreq].[Selections].[ConalExclusion_' + CONVERT(VARCHAR(10), @PartnerID) + ']'

		SET @SQL = '
		DROP TABLE IF EXISTS ' + @TableName + '
		SELECT	FanID
		INTO ' + @TableName + '
		FROM Sandbox.ConalM.AcquisitionTesting_Rory6
		WHERE PartnerID = ' + CONVERT(VARCHAR(10), @PartnerID)

		PRINT @TableName
		EXEC(@SQL)

		UPDATE cs
		SET cs.NotIn_TableName2 = @TableName
		FROM Warehouse.Selections.CampaignSetup_POS cs
		WHERE PartnerID = @PartnerID
		AND StartDate > GETDATE()


		IF @PartnerID = @MaxPartnerID BREAK

		SELECT	@PartnerID = MIN(PartnerID)
		FROM Sandbox.ConalM.AcquisitionTesting_Rory6
		WHERE PartnerID > @PartnerID

	END

END


GO
