USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Customer_Registered]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_Registered] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch all customer details
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Customer
			SELECT	cu.[CustomerGUID]
				,	cu.[FanID]
				,	[Registered] = 0
			INTO #Customer
			FROM [WHB].[Customer] cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_Registered] cr
								WHERE cu.[CustomerGUID] = cr.[CustomerGUID]
								AND cr.[EndDate] IS NULL
								AND cr.[Registered] = 1)
			
			CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Customer ([CustomerGUID])

		/*******************************************************************************************************************************************
			2.	Mark customers with at least one login as [Registered]
		*******************************************************************************************************************************************/

			UPDATE cu
			SET cu.[Registered] = 1
			FROM #Customer cu
			WHERE EXISTS (	SELECT 1
							FROM [Derived].[AppLogins] al
							WHERE cu.[CustomerGUID] = al.[CustomerGUID])

		/*******************************************************************************************************************************************
			3.	Store customers that don't have an open matching record in [Derived].[Customer_Registered]
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #CustomerRegistered_New
			SELECT	cu.[CustomerGUID]
				,	cu.[FanID]
				,	cu.[Registered]
			INTO #CustomerRegistered_New
			FROM #Customer cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_Registered] cr
								WHERE cu.[CustomerGUID] = cr.[CustomerGUID]
								AND cr.[EndDate] IS NULL)
			
			CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #CustomerRegistered_New ([CustomerGUID])

			DROP TABLE IF EXISTS #CustomerRegistered_Update
			SELECT	cu.[CustomerGUID]
				,	cu.[FanID]
				,	cu.[Registered]
			INTO #CustomerRegistered_Update
			FROM #Customer cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_Registered] cr
								WHERE cu.[CustomerGUID] = cr.[CustomerGUID]
								AND cu.[Registered] != cr.[Registered]
								AND cr.[EndDate] IS NOT NULL)
			AND cu.[Registered] = 1
			
			CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #CustomerRegistered_Update ([CustomerGUID])
							
		/*******************************************************************************************************************************************
			4.	End existing entries in [Derived].[Customer_Registered] where the type has changed
		*******************************************************************************************************************************************/

			--	DECLARE @RunDate DATE = GETDATE()
			DECLARE @EndDate DATE = DATEADD(DAY, -1, @RunDate)

			UPDATE cr
			SET cr.[EndDate] = @EndDate
			FROM [Derived].[Customer_Registered] cr
			WHERE cr.[EndDate] IS NULL
			AND EXISTS (SELECT 1
						FROM #CustomerRegistered_Update cr2
						WHERE cr.[CustomerGUID] = cr2.[CustomerGUID])

		/*******************************************************************************************************************************************
			5. For new customers or customers who have registered, insert to [Derived].[Customer_Registered]
		*******************************************************************************************************************************************/
		
			--	DECLARE @RunDate DATE = GETDATE()

			INSERT INTO [Derived].[Customer_Registered] (	[CustomerGUID]
														,	[FanID]		
														,	[Registered]
														,	[StartDate]
														,	[EndDate])
			SELECT	cr.[CustomerGUID]
				,	cr.[FanID]		
				,	cr.[Registered]
				,	[StartDate] = @RunDate
				,	[EndDate] = NULL
			FROM #CustomerRegistered_New cr
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_Registered] cr2
								WHERE cr.[CustomerGUID] = cr2.[CustomerGUID]
								AND cr2.[EndDate] IS NULL)

			INSERT INTO [Derived].[Customer_Registered] (	[CustomerGUID]
														,	[FanID]		
														,	[Registered]
														,	[StartDate]
														,	[EndDate])
			SELECT	cr.[CustomerGUID]
				,	cr.[FanID]		
				,	cr.[Registered]
				,	[StartDate] = @RunDate
				,	[EndDate] = NULL
			FROM #CustomerRegistered_Update cr
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_Registered] cr2
								WHERE cr.[CustomerGUID] = cr2.[CustomerGUID]
								AND cr2.[EndDate] IS NULL)

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
