USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_FilesNameUpdate]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Inbound_FilesNameUpdate]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = COALESCE(OBJECT_NAME(@@PROCID), 'Manual')
		,	@msg VARCHAR(200)
		,	@RowsAffected INT

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Update all file names to remove file extensions
		*******************************************************************************************************************************************/
		
			UPDATE [Inbound].[Balances] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Balances] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Bank] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Bank] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankAccountCustomerLinks] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankAccountCustomerLinks] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankAccountNominees] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankAccountNominees] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankAccountProduct] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankAccountProduct] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankAccounts] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankAccounts] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankAccountStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankAccountStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankAccountSubProduct] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankAccountSubProduct] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankAccountType] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankAccountType] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankAccountTypeHistory] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankAccountTypeHistory] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[BankFundedIronOfferMembers] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[BankFundedIronOfferMembers] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CardProduct] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CardProduct] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Cards] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Cards] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CardStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CardStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CardType] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CardType] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CharityOffers] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CharityOffers] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CharityRedemptions] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CharityRedemptions] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Country] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Country] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CustomerAddresses] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CustomerAddresses] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CustomerExternalIDs] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CustomerExternalIDs] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CustomerMatch] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CustomerMatch] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CustomerRegistrationType] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CustomerRegistrationType] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Customers] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Customers] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[CustomerStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[CustomerStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Goodwill] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Goodwill] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Login] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Login] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MatchedTransactions] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MatchedTransactions] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MatchedTransactionTypes] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MatchedTransactionTypes] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MatcherRun] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MatcherRun] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MatcherRunStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MatcherRunStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MergedStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MergedStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MissingPayBank] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MissingPayBank] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MissingPayCard] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MissingPayCard] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MissingRedemption] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MissingRedemption] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MissingTransaction] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MissingTransaction] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[MissingTransactionStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[MissingTransactionStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Offer] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Offer] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[OfferDetail] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[OfferDetail] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[OfferStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[OfferStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Partner] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Partner] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[PayBank] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[PayBank] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[PayCard] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[PayCard] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[PaymentStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[PaymentStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[RedemptionItems] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[RedemptionItems] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[RedemptionOffers] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[RedemptionOffers] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[RedemptionPartners] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[RedemptionPartners] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Redemptions] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Redemptions] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[ReportMissingStatus] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[ReportMissingStatus] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[SegmentType] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[SegmentType] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[StaffNote] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[StaffNote] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Transactions] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Transactions] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[Transactions_DD] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[Transactions_DD] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[WelcomeIronOfferMembers] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[WelcomeIronOfferMembers] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'
			UPDATE [Inbound].[WelcomeOffer] SET [FileName] = REPLACE([FileName], '.csv', '') WHERE REVERSE([FileName]) LIKE 'vsc.%'
			UPDATE [Inbound].[WelcomeOffer] SET [FileName] = REPLACE([FileName], '.txt', '') WHERE REVERSE([FileName]) LIKE 'txt.%'


			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END



GO
