USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_Transactions_Update]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Inbound_Transactions_Update]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT

	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Start'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	BEGIN TRY

		WHILE (SELECT COUNT(*) FROM [WHB].[Transaction_Files] f WHERE [TableName] = 'Transactions' AND [FileProcessed] = 0) > 0
			BEGIN

				/*******************************************************************************************************************************************
					1.	Fetch files that haven't been processed
				*******************************************************************************************************************************************/
				
					DROP TABLE IF EXISTS #FilesToProcess_LoadDate
					SELECT	[FileName] = MIN([FileName])
					INTO #FilesToProcess_LoadDate
					FROM [WHB].[Transaction_Files] f
					WHERE [TableName] = 'Transactions'
					AND [FileProcessed] = 0

					CREATE UNIQUE CLUSTERED INDEX [CIX_FileNameLoadDate] ON #FilesToProcess_LoadDate ([FileName])
					
					DROP TABLE IF EXISTS #FilesToProcess
					SELECT	TOP 1000
							[FileID] = [ID]
						,	[LoadDate]
						,	[FileName] = CONVERT(NVARCHAR(250), [FileName])
					INTO #FilesToProcess
					FROM [WHB].[Transaction_Files] f
					WHERE [TableName] = 'Transactions'
					AND EXISTS (SELECT 1
								FROM #FilesToProcess_LoadDate ftp
								WHERE f.[FileName] = ftp.[FileName])
					AND [FileProcessed] = 0
					ORDER BY	[LoadDate]
							,	[ID]
							
					SET @RowsAffected = @@ROWCOUNT;
					
					CREATE UNIQUE CLUSTERED INDEX [CIX_FileNameLoadDate] ON #FilesToProcess ([LoadDate], [FileName])

					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Fetch files [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

												
				/*******************************************************************************************************************************************
					2.	Fetch latest Transactions file to be processed
				*******************************************************************************************************************************************/
				
					DROP TABLE IF EXISTS #Inbound_Transactions
					SELECT	t.[ID]
						,	t.[BankID]
						,	t.[TransactionID]
						,	t.[CustomerGUID]
						,	t.[ExternalCustomerID]
						,	t.[BankAccountGUID]
						,	t.[CardGUID]
						,	t.[ExternalCardGUID]
						,	t.[TransactionDate]
						,	t.[TransactionTime]
						,	t.[Amount]
						,	t.[CurrencyCode]
						,	t.[BillingAmount]
						,	t.[BillingCurrencyCode]
						,	t.[MerchantID]
						,	t.[MerchantDBAName]
						,	t.[OriginatorID]
						,	t.[MerchantCountry]
						,	t.[MerchantCategoryCode]
						,	t.[MerchantAddress]
						,	t.[MerchantCity]
						,	t.[MerchantTown]
						,	t.[MerchantState]
						,	t.[MerchantPostalCode]
						,	t.[MerchantRegion]
						,	t.[CardholderPresent]
						,	t.[ProcessCode]
						,	t.[PostStatus]
						,	t.[CardInputMode]
						,	[PaymentTypeID] = 2
						,	t.[ProductCode]
						,	t.[DPAN]
						,	[AuthCode] = RIGHT(CONCAT('000000', t.[AuthCode]), 6)
						,	t.[BIN]
						,	t.[Arn]
						,	[MaskedPAN] = RIGHT(CONCAT('0000', t.[MaskedPAN]), 4)
						,	t.[TerminalID]
						,	t.[LoadDate]
						,	t.[FileName]
						,	t.[Is_Domestic]
					INTO #Inbound_Transactions
					FROM [Inbound].[Transactions] t WITH (NOLOCK)
					WHERE EXISTS (	SELECT 1
									FROM #FilesToProcess ftp
									WHERE t.[FileName] = ftp.[FileName])
					OPTION (RECOMPILE)

					UPDATE it
					SET it.[PaymentTypeID] =	CASE
													WHEN ca.[CreditOrDebit] = 'Credit' THEN 2
													WHEN ca.[CreditOrDebit] = 'Debit' THEN 1
													ELSE 2
												END
					FROM #Inbound_Transactions it
					INNER JOIN [WHB].[Inbound_Cards] ca
						ON it.[CardGUID] = ca.[CardGUID]
							
					SET @RowsAffected = @@ROWCOUNT;

					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load Transactions from [Inbound].[Transactions] to #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					CREATE CLUSTERED INDEX [CIX_ID] ON #Inbound_Transactions ([ID])
					CREATE NONCLUSTERED INDEX [IX_All] ON #Inbound_Transactions ([BankID], [FileName])
					
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Index #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					UPDATE #Inbound_Transactions
					SET [TransactionID] = NULL
					WHERE [TransactionID] = '0000000000000'
					
					SET @RowsAffected = @@ROWCOUNT;
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Set [TransactionID] to NULL when "0000000000000" in #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					WHILE 1 = 1
						BEGIN

							;WITH
							DELETER AS (SELECT	[FileName]
											,	[BankID]
											,	[TransactionID]
											,	[ID] = MAX([ID])
										FROM #Inbound_Transactions
										GROUP BY	[FileName]
												,	[BankID]
												,	[TransactionID]
										HAVING COUNT(*) > 1)

							DELETE i
							FROM #Inbound_Transactions i
							WHERE EXISTS (	SELECT 1
											FROM DELETER d
											WHERE i.[FileName] = d.[FileName]
											AND i.[BankID] = d.[BankID]
											AND i.[TransactionID] = d.[TransactionID])
							AND NOT EXISTS (SELECT 1
											FROM DELETER d
											WHERE i.[ID] = d.[ID])

							SET @RowsAffected = @@ROWCOUNT
							SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Delete duplicates from #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

							IF @RowsAffected = 0 BREAK

						END

					DROP TABLE IF EXISTS #Transactions
					SELECT	[ID] = MIN(i.[ID])
						,	i.[BankID]
						,	ftp.[FileID]
						,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY ftp.[FileID] ORDER BY ISNULL(i.[TransactionID], MIN(i.[ID])))
						,	i.[TransactionID]
						,	i.[CustomerGUID]
						,	i.[ExternalCustomerID]
						,	i.[BankAccountGUID]
						,	i.[CardGUID]
						,	i.[ExternalCardGUID]
						,	i.[TransactionDate]
						,	i.[TransactionTime]
						,	i.[Amount]
						,	[CurrencyCode] = COALESCE(i.[CurrencyCode], '')
						,	i.[BillingAmount]
						,	[BillingCurrencyCode]= COALESCE(i.[BillingCurrencyCode], '')
						,	[MerchantID] = COALESCE(i.[MerchantID], '')
						,	[Narrative] = MAX(COALESCE(i.[MerchantDBAName], ''))
						,	[OriginatorID] = COALESCE(MAX(i.[OriginatorID]), '')
						,	[MerchantCountry] = COALESCE(i.[MerchantCountry], '')
						,	[MerchantCategoryCode] = COALESCE(i.[MerchantCategoryCode], '')
						,	[MerchantAddress] = COALESCE(MAX(i.[MerchantAddress]), '')
						,	[MerchantCity] = COALESCE(MAX(i.[MerchantCity]), '')
						,	[MerchantTown] = COALESCE(MAX(i.[MerchantTown]), '')
						,	[MerchantState] = COALESCE(MAX(i.[MerchantState]), '')
						,	[MerchantPostalCode] = COALESCE(MAX(i.[MerchantPostalCode]), '')
						,	[MerchantRegion] = COALESCE(MAX(i.[MerchantRegion]), '')
						,	i.[CardholderPresent]
						,	i.[ProcessCode]
						,	i.[PostStatus]
						,	i.[CardInputMode]
						,	[PaymentTypeID] = COALESCE(i.[PaymentTypeID], 0)
						,	i.[ProductCode]
						,	i.[DPAN]
						,	i.[AuthCode]
						,	i.[BIN]
						,	i.[Arn]
						,	i.[MaskedPAN]
						,	i.[TerminalID]
						,	[LoadDate] = MIN(i.[LoadDate])
						,	i.[FileName]
						,	i.[Is_Domestic]
					INTO #Transactions
					FROM #Inbound_Transactions i
					INNER JOIN #FilesToProcess ftp
						ON i.[FileName] = ftp.[FileName]
					--	AND i.[LoadDate] = ftp.[LoadDate]
					WHERE TRY_CONVERT(DATETIME, [TransactionDate]) IS NOT NULL
					GROUP BY	ftp.[FileID]
							,	i.[BankID]
							,	i.[TransactionID]
							,	i.[CustomerGUID]
							,	i.[ExternalCustomerID]
							,	i.[BankAccountGUID]
							,	i.[CardGUID]
							,	i.[ExternalCardGUID]
							,	i.[TransactionDate]
							,	i.[TransactionTime]
							,	i.[Amount]
							,	COALESCE(i.[CurrencyCode], '')
							,	i.[BillingAmount]
							,	COALESCE(i.[BillingCurrencyCode], '')
							,	COALESCE(i.[MerchantID], '')
							,	COALESCE(i.[MerchantCountry], '')
							,	COALESCE(i.[MerchantCategoryCode], '')
							,	i.[CardholderPresent]
							,	i.[ProcessCode]
							,	i.[PostStatus]
							,	i.[CardInputMode]
							,	COALESCE(i.[PaymentTypeID], 0)
							,	i.[ProductCode]
							,	i.[DPAN]
							,	i.[AuthCode]
							,	i.[BIN]
							,	i.[Arn]
							,	i.[MaskedPAN]
							,	i.[TerminalID]
							,	i.[FileName]
							,	i.[Is_Domestic]
					OPTION (RECOMPILE)

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load Transactions from #Inbound_Transactions to #Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
												
				/*******************************************************************************************************************************************
					3.	Remove duplicate transactions
				*******************************************************************************************************************************************/

					DROP TABLE IF EXISTS #Dupes
					SELECT	[TransactionID]
						,	[MerchantID]
						,	[MerchantCategoryCode]
						,	[TransactionDate]
						,	[TransactionTime]
						,	[Amount]
						,	[CustomerGUIDs] = COUNT(DISTINCT [CustomerGUID])
						,	[CardGUIDs] = COUNT(DISTINCT [CardGUID])
						,	[MinID] = MIN([ID])
					INTO #Dupes
					FROM #Transactions
					GROUP BY	[TransactionID]
							,	[MerchantID]
							,	[MerchantCategoryCode]
							,	[TransactionDate]
							,	[TransactionTime]
							,	[Amount]
					HAVING COUNT(*) > 1

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Identify Dupes in #Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
					
					INSERT INTO [WHB].[Inbound_Transactions_ToExclude]
					SELECT	[ID]
						,	[FileID]
						,	[TransactionID]
						,	[RowNum]
						,	[CustomerGUID]
						,	[ExternalCustomerID]
						,	[BankAccountGUID]
						,	[CardGUID]
						,	[TransactionDate]
						,	[TransactionTime]
						,	[Amount]
						,	[CurrencyCode]
						,	[MerchantID]
						,	[Narrative]
						,	[MerchantAcquirerBIN] = [OriginatorID]
						,	[OriginatorID]
						,	[MerchantCountry]
						,	[MerchantCategoryCode]
						,	[MerchantCity]
						,	[MerchantState]
						,	[MerchantPostalCode]
						
						,	[VisaStoreName] = ''
						,	[VisaMerchantName] = ''

						,	[CardholderPresent]
						,	[ProcessCode]
						,	[PostStatus]
						,	[CardInputMode]
						,	[ReversalInd] = NULL
						,	[TokenTransactionIndicator] = NULL
						,	[TokenRequesterId] = NULL
						,	[PaymentTypeID]
						,	[LoadDate]
						,	[FileName]
						,	[BillingAmount] = NULL
						,	[BillingCurrencyCode] = ''
						,	[BIN]
						,	[ARN]
						,	[Is_Domestic]
					FROM #Transactions t
					WHERE EXISTS (	SELECT 1
									FROM #Dupes d
									WHERE t.[TransactionID] = d.[TransactionID]
									AND t.[MerchantID] = d.[MerchantID]
									AND t.[MerchantCategoryCode] = d.[MerchantCategoryCode]
									AND t.[TransactionDate] = d.[TransactionDate]
								--	AND t.[TransactionTime] = d.[TransactionTime]
									AND t.[Amount] = d.[Amount])
					AND NOT EXISTS (SELECT 1
									FROM #Dupes d
									WHERE t.[ID] = d.[MinID])
					ORDER BY [TransactionID]

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Store Dupes in [WHB].[Inbound_Transactions_ToExclude] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					DELETE t
					FROM #Transactions t
					WHERE EXISTS (	SELECT 1
									FROM [WHB].[Inbound_Transactions_ToExclude] tte
									WHERE t.[ID] = tte.[ID]
									AND t.[TransactionID] = tte.[TransactionID]
									)

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Delete Dupes from #Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					CREATE CLUSTERED INDEX [CIX_GUID] ON #Transactions ([FileID], [TransactionID], [MerchantID], [Amount])

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Index #Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				/*******************************************************************************************************************************************
					4.	Check max RowNum that may have been loaded for the FileID
				*******************************************************************************************************************************************/

					DROP TABLE IF EXISTS #RowNums
					SELECT	t.[FileID]
						,	[RowNum] = MAX([RowNum])
					INTO #RowNums
					FROM [WHB].[Inbound_Transactions] t
					WHERE EXISTS (	SELECT 1
									FROM #FilesToProcess ftp
									WHERE t.[FileID] = ftp.[FileID])
					GROUP BY	t.[FileID]

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Get the Max [RowNum] per file from [WHB].[Inbound_Transactions] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				/*******************************************************************************************************************************************
					5.	Load to table
				*******************************************************************************************************************************************/

					DROP TABLE IF EXISTS #Inbound_Transactions_ToLoad
					SELECT	[FileID] = t.[FileID]
						,	[RowNum] = t.[RowNum] + COALESCE(rn.[RowNum], 0)
						,	t.[BankID]
						,	t.[TransactionID]
						,	t.[CustomerGUID]
						,	t.[ExternalCustomerID]
						,	t.[BankAccountGUID]
						,	t.[CardGUID]
						,	t.[ExternalCardGUID]
						,	t.[TransactionDate]
						,	t.[TransactionTime]
						,	[Amount_GBP] = CONVERT(DECIMAL(19,3), NULL)
						,	t.[Amount]
						,	t.[CurrencyCode]
						,	t.[BillingAmount]
						,	t.[BillingCurrencyCode]
						,	t.[MerchantID]
						,	t.[Narrative]
						,	t.[OriginatorID]
						,	t.[MerchantCountry]
						,	t.[MerchantCategoryCode]
						,	t.[MerchantAddress]
						,	t.[MerchantCity]
						,	t.[MerchantTown]
						,	t.[MerchantState]
						,	t.[MerchantPostalCode]
						,	t.[MerchantRegion]
						,	t.[CardholderPresent]
						,	t.[ProcessCode]
						,	t.[PostStatus]
						,	t.[CardInputMode]
						,	t.[PaymentTypeID]
						,	t.[ProductCode]
						,	t.[DPAN]
						,	t.[AuthCode]
						,	t.[BIN]
						,	t.[Arn]
						,	t.[MaskedPAN]
						,	t.[TerminalID]
						,	t.[LoadDate]
						,	t.[FileName]
						,	t.[Is_Domestic]
					INTO #Inbound_Transactions_ToLoad
					FROM #Transactions t
					LEFT JOIN #RowNums rn
						ON t.[FileID] = rn.[FileID]
					WHERE NOT EXISTS (	SELECT 1
										FROM [WHB].[Inbound_Transactions] it
										WHERE t.[TransactionID] = it.[TransactionID]
										AND t.[MerchantID] = it.[MerchantID]
										AND t.[Amount] = it.[Amount])

					UPDATE it
					SET [CurrencyCode] = 'AED'
					FROM #Inbound_Transactions_ToLoad it
					WHERE it.[Amount] = 0

					UPDATE it
					SET [Amount_GBP] = it.[Amount] * cer.[ConversionRate]
					FROM #Inbound_Transactions_ToLoad it
					INNER JOIN [WH_AllPublishers].[Derived].[CurrencyExchangeRates] cer
						ON  it.[CurrencyCode] = cer.[FromCurrency]
						AND CONVERT(DATE, it.[TransactionDate]) = cer.[Date]
						AND cer.[ToCurrency] = 'GBP'
								
					UPDATE it
					SET [Amount_GBP] = it.[Amount]
					FROM #Inbound_Transactions_ToLoad it
					WHERE it.[CurrencyCode] = 'GBP'

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Fetch new transactions from #Transactions to #Inbound_Transactions_ToLoad [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					CREATE CLUSTERED INDEX [CIX_FileRow] ON #Inbound_Transactions_ToLoad ([FileID], [RowNum])
					CREATE NONCLUSTERED INDEX [IX_TranMerAmount] ON #Inbound_Transactions_ToLoad ([TransactionID], [MerchantID], [Amount])

					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Index #Inbound_Transactions_ToLoad [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
					DECLARE @RowNum INT = (SELECT MIN([RowNum]) FROM #Inbound_Transactions_ToLoad) - 1
						,	@MaxRowNum INT = (SELECT MAX([RowNum]) FROM #Inbound_Transactions_ToLoad) + 1
						,	@BatchSize INT = 1500000

					WHILE @RowNum < @MaxRowNum
						BEGIN

							INSERT INTO [WHB].[Inbound_Transactions] (	[FileID]
																	,	[RowNum]
																	,	[BankID]
																	,	[TransactionID]
																	,	[CustomerGUID]
																	,	[ExternalCustomerID]
																	,	[BankAccountGUID]
																	,	[CardGUID]
																	,	[ExternalCardGUID]
																	,	[TransactionDate]
																	,	[TransactionTime]
																	,	[Amount_GBP]
																	,	[Amount]
																	,	[CurrencyCode]
																	,	[BillingAmount]
																	,	[BillingCurrencyCode]
																	,	[MerchantID]
																	,	[Narrative]
																	,	[OriginatorID]
																	,	[MerchantCountry]
																	,	[MerchantCategoryCode]
																	,	[MerchantAddress]
																	,	[MerchantCity]
																	,	[MerchantTown]
																	,	[MerchantState]
																	,	[MerchantPostalCode]
																	,	[MerchantRegion]
																	,	[CardholderPresent]
																	,	[ProcessCode]
																	,	[PostStatus]
																	,	[CardInputMode]
																	,	[PaymentTypeID]
																	,	[ProductCode]
																	,	[DPAN]
																	,	[MaskedPAN]
																	,	[AuthCode]
																	,	[BIN]
																	,	[Arn]
																	,	[TerminalID]
																	,	[LoadDate]
																	,	[FileName]
																	,	[Is_Domestic])
							SELECT	TOP(@BatchSize)
									t.[FileID]
								,	t.[RowNum]
								,	t.[BankID]
								,	t.[TransactionID]
								,	t.[CustomerGUID]
								,	t.[ExternalCustomerID]
								,	t.[BankAccountGUID]
								,	t.[CardGUID]
								,	t.[ExternalCardGUID]
								,	t.[TransactionDate]
								,	t.[TransactionTime]
								,	t.[Amount_GBP]
								,	t.[Amount]
								,	t.[CurrencyCode]
								,	t.[BillingAmount]
								,	t.[BillingCurrencyCode]
								,	t.[MerchantID]
								,	t.[Narrative]
								,	t.[OriginatorID]
								,	t.[MerchantCountry]
								,	t.[MerchantCategoryCode]
								,	t.[MerchantAddress]
								,	t.[MerchantCity]
								,	t.[MerchantTown]
								,	t.[MerchantState]
								,	t.[MerchantPostalCode]
								,	t.[MerchantRegion]
								,	t.[CardholderPresent]
								,	t.[ProcessCode]
								,	t.[PostStatus]
								,	t.[CardInputMode]
								,	t.[PaymentTypeID]
								,	t.[ProductCode]
								,	t.[DPAN]
								,	t.[MaskedPAN]
								,	t.[AuthCode]
								,	t.[BIN]
								,	t.[Arn]
								,	t.[TerminalID]
								,	t.[LoadDate]
								,	t.[FileName]
								,	t.[Is_Domestic]
							FROM #Inbound_Transactions_ToLoad t
							WHERE t.[RowNum] > @RowNum
							AND t.[RowNum] <= @RowNum + @BatchSize
							AND NOT EXISTS (	SELECT 1
												FROM [WHB].[Inbound_Transactions] it WITH(INDEX([CIX_FileRow]))
												WHERE t.[FileID] = it.[FileID]
												AND t.[RowNum] = it.[RowNum])
						--	AND NOT EXISTS (	SELECT 1
						--						FROM [WHB].[Inbound_Transactions] it
						--						WHERE t.[TransactionID] = it.[TransactionID]
						--						AND t.[MerchantID] = it.[MerchantID]
						--						AND t.[Amount] = it.[Amount])
							ORDER BY	t.[FileID]
									,	t.[RowNum]
									
							SET @RowsAffected = @@ROWCOUNT
							SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load rows to [WHB].[Inbound_Transactions] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

							SET @RowNum = @RowNum + @BatchSize

						END
						
					INSERT INTO [Trans].[Location] ([Address]
												,	[City]
												,	[Town]
												,	[State]
												,	[Postcode]
												,	[Region])
					SELECT	DISTINCT
							t.[MerchantAddress]
						,	t.[MerchantCity]
						,	t.[MerchantTown]
						,	t.[MerchantState]
						,	t.[MerchantPostalCode]
						,	t.[MerchantRegion]
					FROM #Inbound_Transactions_ToLoad t
					EXCEPT
					SELECT	loc.[Address]
						,	loc.[City]
						,	loc.[Town]
						,	loc.[State]
						,	loc.[Postcode]
						,	loc.[Region]
					FROM [Trans].[Location] loc

				/*******************************************************************************************************************************************
					6.	Log to table
				*******************************************************************************************************************************************/
													
					DROP TABLE IF EXISTS #FileCounts
					SELECT	ftp.[FileID]
						,	[DataSource] = 'Inbound'
						,	[Entries] = COUNT(DISTINCT [TransactionID])
					INTO #FileCounts
					FROM #FilesToProcess ftp
					INNER JOIN [Inbound].[Transactions] t
						ON t.[FileName] = ftp.[FileName]
					--	AND t.[LoadDate] = ftp.[LoadDate]
					GROUP BY	ftp.[FileID]
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Store row counts from [Inbound].[Transactions] for this file [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					INSERT INTO #FileCounts
					SELECT	ftp.[FileID]
						,	[DataSource] = 'WHB'
						,	[Entries] = COUNT(DISTINCT [TransactionID])
					FROM #FilesToProcess ftp
					INNER JOIN [WHB].[Inbound_Transactions] it
						ON it.[FileID] = ftp.[FileID]
					--	AND it.[LoadDate] = ftp.[LoadDate]
					GROUP BY	ftp.[FileID]
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Store row counts from [WHB].[Inbound_Transactions] for this file [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
					
					DROP TABLE IF EXISTS #FileCounts_ToLoad
					SELECT	ftp.[FileID]
						,	ftp.[FileName]
						,	ftp.[LoadDate]
						,	[Imported_RowCount] = COALESCE(MAX(CASE WHEN fc.[DataSource] = 'WHB' THEN fc.[Entries] ELSE 0 END), 0)
						,	[Total_RowCount] = COALESCE(MAX(CASE WHEN fc.[DataSource] = 'Inbound' THEN fc.[Entries] ELSE 0 END), 0)
					INTO #FileCounts_ToLoad
					FROM #FilesToProcess ftp
					LEFT JOIN #FileCounts fc
						ON ftp.[FileID] = fc.[FileID]
					GROUP BY	ftp.[FileID]
							,	ftp.[FileName]
							,	ftp.[LoadDate]
					HAVING COALESCE(MAX(CASE WHEN fc.[DataSource] = 'Inbound' THEN fc.[Entries] ELSE 0 END), 0) > 0
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Join row counts from [WHB] & [Inbound] for this file [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
							
					MERGE [MIDI].[FilesToProcess] target		-- Destination table
					USING #FileCounts_ToLoad source				-- Source table
					ON target.[FileID] = source.[FileID]		-- Match criteria
					AND target.[FileName] = source.[FileName]	-- Match criteria
					AND target.[LoadDate] = source.[LoadDate]	-- Match criteria

					WHEN MATCHED THEN
						UPDATE SET	target.[Total_RowCount] = source.[Total_RowCount]	-- If matched, update to new value
								,	target.[Imported_RowCount] = source.[Imported_RowCount]		-- If matched, update to new value
								,	target.[Imported_Date] = GETDATE()		-- If matched, update to new value

					WHEN NOT MATCHED THEN					-- If not matched, add new rows
						INSERT ([FileID]
							,	[FileName]
							,	[LoadDate]
							,	[Total_RowCount]
							,	[Imported_RowCount]
							,	[Imported_Date])
						VALUES (source.[FileID]
							,	source.[FileName]
							,	source.[LoadDate]
							,	source.[Total_RowCount]
							,	source.[Imported_RowCount]
							,	GETDATE());
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load row counts from [WHB] & [Inbound] for this file [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				/*******************************************************************************************************************************************
					7.	Update [WHB].[Transaction_Files]
				*******************************************************************************************************************************************/

					UPDATE i
					SET i.[FileProcessed] = 1
					FROM [WHB].[Transaction_Files] i
					WHERE EXISTS (	SELECT 1
									FROM #FilesToProcess ftp
									WHERE i.[ID] = ftp.[FileID]
									AND i.[FileName] = ftp.[FileName]
									AND i.[LoadDate] = ftp.[LoadDate])
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Mark file as processed [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Transaction_Files] f WHERE [TableName] = 'Transactions' AND [FileProcessed] = 0) > 0		
			
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Finish'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
