USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_IronOfferMember]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[PartnersOffers_IronOfferMember] @RunDate DATE = NULL
AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	/*******************************************************************************************************************************************
		0.	If [IronOfferMember] insert is still running from the [IronOfferMember Load - Virgin] job, then skip this execution
			as it will block & cause dupes
	*******************************************************************************************************************************************/
	
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Find the latest Welcome Offer Memberships that have been assigned
		*******************************************************************************************************************************************/
			
		--	DECLARE @RunDate DATE = GETDATE()

			DECLARE @TwoDaysAgo DATE = DATEADD(DAY, -2, @RunDate)

			DROP TABLE IF EXISTS #WelcomeIronOfferMembers
			SELECT	[OfferGUID] = wiom.[OfferGUID]
				,	[IronOfferID] = iof.[IronOfferID]
				,	[CustomerGUID] = wiom.[CustomerGUID]
				,	[CompositeID] = cu.[CompositeID]
				,	[StartDate] = wiom.[StartDate]
				,	[EndDate] = wiom.[EndDate]
				,	[ImportDate] = MIN(wiom.[LoadDate])
			INTO #WelcomeIronOfferMembers
			FROM [WHB].[Inbound_WelcomeIronOfferMembers] wiom
			INNER JOIN [Derived].[IronOffer] iof
				ON wiom.[OfferGUID] = iof.[HydraOfferID]
			INNER JOIN [Derived].[Customer] cu
				ON wiom.[CustomerGUID] = cu.[CustomerGUID]
			WHERE @TwoDaysAgo < wiom.[LoadDate]
			AND iof.IsSignedOff = 1
			GROUP BY	wiom.[OfferGUID]
					,	iof.[IronOfferID]
					,	wiom.[CustomerGUID]
					,	cu.[CompositeID]
					,	wiom.[StartDate]
					,	wiom.[EndDate]
			
			INSERT INTO #WelcomeIronOfferMembers
			SELECT	[OfferGUID] = wiom.[OfferGUID]
				,	[IronOfferID] = iof.[IronOfferID]
				,	[CustomerGUID] = wiom.[CustomerGUID]
				,	[CompositeID] = cu.[CompositeID]
				,	[StartDate] = wiom.[ExtendedStartDate]
				,	[EndDate] = wiom.[ExtendedEndDate]
				,	[ImportDate] = MIN(wiom.[LoadDate])
			FROM [WHB].[Inbound_WelcomeIronOfferMembers] wiom
			INNER JOIN [Derived].[IronOffer] iof
				ON wiom.[OfferGUID] = iof.[HydraOfferID]
			INNER JOIN [Derived].[Customer] cu
				ON wiom.[CustomerGUID] = cu.[CustomerGUID]
			WHERE @TwoDaysAgo < wiom.[LoadDate]
			AND wiom.[ExtendedStartDate] IS NOT NULL
			AND wiom.[ExtendedEndDate] IS NOT NULL
			AND (	wiom.[PushedToProduction] IS NULL
				OR	wiom.[PushedToProduction] = 1)
			GROUP BY	wiom.[OfferGUID]
					,	iof.[IronOfferID]
					,	wiom.[CustomerGUID]
					,	cu.[CompositeID]
					,	wiom.[ExtendedStartDate]
					,	wiom.[ExtendedEndDate]

			CREATE CLUSTERED INDEX [CSX_Dates] ON #WelcomeIronOfferMembers ([StartDate], [EndDate])
			CREATE NONCLUSTERED INDEX [IX_DatesGUIDs_All] ON #WelcomeIronOfferMembers ([StartDate], [EndDate], [OfferGUID], [CustomerGUID]) INCLUDE ([IronOfferID], [CompositeID], [ImportDate])

		/*******************************************************************************************************************************************
			1.	Find the latest Welcome Offer Memberships that have been assigned
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #BankFundedIronOfferMembers
			SELECT	[OfferGUID] = wiom.[OfferGUID]
				,	[IronOfferID] = iof.[IronOfferID]
				,	[CustomerGUID] = wiom.[CustomerGUID]
				,	[CompositeID] = cu.[CompositeID]
				,	[StartDate] = wiom.[StartDate]
				,	[EndDate] = wiom.[EndDate]
				,	[ImportDate] = MIN(wiom.[LoadDate])
			INTO #BankFundedIronOfferMembers
			FROM [Inbound].[BankFundedIronOfferMembers] wiom
			INNER JOIN [Derived].[IronOffer] iof
				ON wiom.[OfferGUID] = iof.[HydraOfferID]
			INNER JOIN [Derived].[Customer] cu
				ON wiom.[CustomerGUID] = cu.[CustomerGUID]
			WHERE @TwoDaysAgo < wiom.[LoadDate]
			AND iof.IsSignedOff = 1
			GROUP BY	wiom.[OfferGUID]
					,	iof.[IronOfferID]
					,	wiom.[CustomerGUID]
					,	cu.[CompositeID]
					,	wiom.[StartDate]
					,	wiom.[EndDate]

			CREATE CLUSTERED INDEX [CSX_Dates] ON #BankFundedIronOfferMembers ([StartDate], [EndDate])
			CREATE NONCLUSTERED INDEX [IX_DatesGUIDs_All] ON #BankFundedIronOfferMembers ([StartDate], [EndDate], [OfferGUID], [CustomerGUID]) INCLUDE ([IronOfferID], [CompositeID], [ImportDate])

		/*******************************************************************************************************************************************
			2.	Find the latest Segmented Offer Memberships that have been assigned
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #SegmentedIronOfferMember
			SELECT	[OfferGUID] = iof.[HydraOfferID]
				,	[IronOfferID] = iof.[IronOfferID]
				,	[CustomerGUID] = cu.[CustomerGUID]
				,	[CompositeID] = cu.[CompositeID]
				,	[StartDate] = oma.[StartDate]
				,	[EndDate] = oma.[EndDate]
				,	[ImportDate] = MIN(opl.[ProcessedDate])
			INTO #SegmentedIronOfferMember
			FROM [Segmentation].[OfferMemberAddition] oma
			INNER JOIN [Derived].[IronOffer] iof
				ON oma.[IronOfferID] = iof.[IronOfferID]
			INNER JOIN [Derived].[Customer] cu
				ON oma.[CompositeID] = cu.[CompositeID]
			INNER JOIN [Segmentation].[OfferProcessLog] opl
				ON oma.[IronOfferID] = opl.[IronOfferID]
				AND oma.[AddedDate] = opl.[AddedDate]
				AND opl.IsUpdate = 0
				AND opl.Processed = 1
			WHERE @TwoDaysAgo < opl.[ProcessedDate]
			GROUP BY	iof.[HydraOfferID]
					,	iof.[IronOfferID]
					,	cu.[CustomerGUID]
					,	cu.[CompositeID]
					,	oma.[StartDate]
					,	oma.[EndDate]

		/*******************************************************************************************************************************************
			3.	Split out the rows that need to be added [Derived].[IronOfferMember]
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #IronOfferMember
			SELECT	DISTINCT
					wiom.[OfferGUID]
				,	wiom.[IronOfferID]
				,	wiom.[CustomerGUID]
				,	wiom.[CompositeID]
				,	wiom.[StartDate]
				,	wiom.[EndDate]
				,	wiom.[ImportDate]
			INTO #IronOfferMember
			FROM #WelcomeIronOfferMembers wiom
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[IronOfferMember] iom
								WHERE wiom.[OfferGUID] = iom.[OfferGUID]
								AND CONVERT(DATE, wiom.[StartDate]) = CONVERT(DATE, iom.[StartDate])
								AND CONVERT(DATE, wiom.[EndDate]) = CONVERT(DATE, iom.[EndDate])
								AND wiom.[CustomerGUID] = iom.[OriginalCustomerGUID])

			INSERT INTO #IronOfferMember
			SELECT	DISTINCT
					biom.[OfferGUID]
				,	biom.[IronOfferID]
				,	biom.[CustomerGUID]
				,	biom.[CompositeID]
				,	biom.[StartDate]
				,	biom.[EndDate]
				,	biom.[ImportDate]
			FROM #BankFundedIronOfferMembers biom
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[IronOfferMember] iom
								WHERE biom.[OfferGUID] = iom.[OfferGUID]
								AND CONVERT(DATE, biom.[StartDate]) = CONVERT(DATE, iom.[StartDate])
								AND CONVERT(DATE, biom.[EndDate]) = CONVERT(DATE, iom.[EndDate])
								AND biom.[CustomerGUID] = iom.[OriginalCustomerGUID])

			INSERT INTO #IronOfferMember
			SELECT	DISTINCT
					siom.[OfferGUID]
				,	siom.[IronOfferID]
				,	siom.[CustomerGUID]
				,	siom.[CompositeID]
				,	siom.[StartDate]
				,	siom.[EndDate]
				,	siom.[ImportDate]
			FROM #SegmentedIronOfferMember siom
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[IronOfferMember] iom
								WHERE siom.[OfferGUID] = iom.[OfferGUID]
								AND CONVERT(DATE, siom.[StartDate]) = CONVERT(DATE, iom.[StartDate])
								AND CONVERT(DATE, siom.[EndDate]) = CONVERT(DATE, iom.[EndDate])
								AND siom.[CustomerGUID] = iom.[OriginalCustomerGUID])

			CREATE CLUSTERED INDEX [CIX_GUIDs] ON #IronOfferMember ([IronOfferID])

		/*******************************************************************************************************************************************
			3.	Insert the latest Offer Memberships to [Derived].[IronOfferMember]
		*******************************************************************************************************************************************/
	
			DECLARE	@RowCount BIGINT
				,	@ModifiedDate DATETIME

			SET @RowCount = 500000

			WHILE @RowCount = 500000
				BEGIN

					SET @ModifiedDate = GETDATE()

					;WITH
					IronOfferMember_MissingRows AS (SELECT	TOP(@RowCount)
															iom.[OfferGUID]
														,	iom.[IronOfferID]
														,	iom.[CustomerGUID]
														,	iom.[CompositeID]
														,	iom.[StartDate]
														,	iom.[EndDate]
														,	iom.[ImportDate]
													FROM #IronOfferMember iom
													ORDER BY	[OfferGUID]
															,	[CustomerGUID])

					DELETE
					FROM IronOfferMember_MissingRows
					OUTPUT	DELETED.[OfferGUID]
						,	DELETED.[IronOfferID]
						,	DELETED.[CustomerGUID]
						,	DELETED.[CustomerGUID]
						,	DELETED.[CompositeID]
						,	DELETED.[StartDate]
						,	DELETED.[EndDate]
						,	DELETED.[ImportDate]
						,	@ModifiedDate
					INTO [Derived].[IronOfferMember]
				--	OPTION (OPTIMIZE FOR (@RowCount = 150000)) 

					SET @RowCount = @@ROWCOUNT

				END

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
