USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Actito_DailyCalculation]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[Actito_DailyCalculation] @ExecutionDate DATE = NULL
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)

		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		IF @ExecutionDate IS NULL SET @ExecutionDate = GETDATE()

	/*******************************************************************************************************************************************
		1.	Fetch all active customers
	*******************************************************************************************************************************************/

	--	DECLARE @ExecutionDate DATE = GETDATE()

		DROP TABLE IF EXISTS #Customer
		SELECT	[FanID] = cu.[FanID]
			,	[CustomerGUID] = cu.[CustomerGUID]
			,	[SourceUID] = cu.[SourceUID]
			,	[ClubID] = cu.[ClubID]
			,	[AccountType] = cu.[AccountType]
			,	[Title] = ca.[Title]
			,	[FirstName] = ca.[FirstName]
			,	[LastName] = ca.[LastName]
			,	[Email] = ca.[Email]
			,	[DOB] = ca.[DOB]
			,	[MarketableByEmail] = ca.[MarketableByEmail]
			,	[EmailTracking] = cu.[EmailTracking]
			,	[PostCodeDistrict] = RIGHT(RTRIM(COALESCE(cup.[Postcode], '')), 3)
			,	[CashbackAvailable] = cu.[CashbackAvailable]
			,	[CashbackPending] = cu.[CashbackPending]
			,	[CashbackLTV] = cu.[CashbackLTV]
			,	[EmailStructureValid] = cu.[EmailStructureValid]
			,	[CurrentlyActive] = cu.[CurrentlyActive]
			,	[RegistrationDate] = cu.[RegistrationDate]
			,	cu.[IsCredit]
			,	cu.[IsDebit]
			,	[IsLoyalty] =	CASE
									WHEN cu.[AccountType] = 'Premier' THEN 1
									WHEN cu.[AccountType] = 'Core' THEN 0
									ELSE 0
								END
			,	[LoyaltyAccount] = 0
		INTO #Customer
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[Customer_PII] cup
			ON cu.[CustomerGUID] = cup.[CustomerGUID]
		CROSS APPLY (	SELECT	[Email] =	CASE
												WHEN cu.[CurrentlyActive] = 0 THEN 'ClosedAccount@RewardInsight.com'
												WHEN cu.[EmailStructureValid] = 0 THEN 'InvalidEmail@RewardInsight.com'
												ELSE cup.[Email]
											END
							,	[Title] =	CASE
												WHEN cu.[CurrentlyActive] = 0 THEN ''
												ELSE cu.[Title]
											END
							,	[FirstName] =	CASE
													WHEN cu.[CurrentlyActive] = 0 THEN ''
													ELSE cup.[FirstName]
												END
							,	[LastName] =	CASE
													WHEN cu.[CurrentlyActive] = 0 THEN ''
													ELSE cup.[LastName]
												END
							,	[DOB] =	CASE
											WHEN cu.[CurrentlyActive] = 0 THEN '1900-01-01'
											ELSE cup.[DOB]
										END
							,	[PostCodeDistrict] =	CASE
															WHEN cu.[CurrentlyActive] = 0 THEN ''
															ELSE cu.[PostCodeDistrict]
														END
							,	[MarketableByEmail] =	CASE
															WHEN cu.[CurrentlyActive] = 0 THEN 0
															ELSE cu.[MarketableByEmail]
														END
							,	[EmailTracking]	=	CASE
														WHEN cu.[CurrentlyActive] = 0 THEN 0
														ELSE cu.[MarketableByEmail]
													END) ca

		CREATE CLUSTERED INDEX CIX_FanID ON #Customer ([CustomerGUID])

		DROP TABLE IF EXISTS #Customer_LoyaltyAccount
		SELECT	DISTINCT
				bacl.[CustomerGUID]
		INTO #Customer_LoyaltyAccount
		FROM [WHB].[Inbound_BankAccountCustomerLinks] bacl
		INNER JOIN [WHB].[Inbound_BankAccountTypeHistory] bath
			ON bacl.[BankAccountGUID] = bath.[BankAccountGUID]
		INNER JOIN [Derived].[BankAccountProduct] bap
			ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
		WHERE bacl.[EndDate] IS NULL
		AND bath.[EndDate] IS NULL
		AND bap.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE')

		CREATE CLUSTERED INDEX CIX_FanID ON #Customer_LoyaltyAccount ([CustomerGUID])

		UPDATE cu
		SET cu.[LoyaltyAccount] = 1
		FROM #Customer cu
		WHERE EXISTS (	SELECT 1
						FROM #Customer_LoyaltyAccount cla
						WHERE cu.[CustomerGUID] = cla.[CustomerGUID])

	/*******************************************************************************************************************************************
		2.	Fetch First Earn
	*******************************************************************************************************************************************/

		/***************************************************************************************************************************************
			2.1.	Fetch First Earn (POS) email customers (First earn through retailer offer)
		***************************************************************************************************************************************/

			/***********************************************************************************************************************************
				2.1.1.	Fetch subset of trans covering all transactions that have been procssed the previous day
			***********************************************************************************************************************************/
		
			--	DECLARE @ExecutionDate DATE = GETDATE()

				DROP TABLE IF EXISTS #MatchedTransactions
				SELECT	TOP 10000000
						mt.[TransactionTypeID]
					,	mt.[DescriptionID]
					,	mt.[RetailerGUID]
					,	mt.[CustomerGUID]
					,	mt.[AccountGUID]
					,	mt.[CardGUID]
					,	mt.[OfferGUID]
					,	mt.[CashbackEarned]
					,	mt.[TransactionDate]
					,	mt.[MatchedDate]
					,	[AddedDate] = @ExecutionDate
				INTO #MatchedTransactions
				FROM [WHB].[Inbound_MatchedTransactions] mt WITH (NOLOCK)
				ORDER BY mt.[ID] DESC

				DROP TABLE IF EXISTS #FirstEarnTemp_POS
				SELECT	mt.[CustomerGUID]
					,	mt.[AccountGUID]
					,	mt.[CardGUID]
					,	mt.[CashbackEarned]
					,	mt.[TransactionDate]
					,	mt.[OfferGUID]
					,	mt.[MatchedDate]
					,	mt.[AddedDate]
				INTO #FirstEarnTemp_POS
				FROM #MatchedTransactions mt WITH (NOLOCK)
				WHERE 0 < mt.[CashbackEarned]
				AND mt.[TransactionTypeID] IN (1)
				AND mt.[RetailerGUID] IS NOT NULL
				AND CONVERT(DATE, mt.[MatchedDate]) <= @ExecutionDate
			
				CREATE CLUSTERED INDEX CIX_CustomerGUID ON #FirstEarnTemp_POS ([CustomerGUID])

				DROP TABLE IF EXISTS #FirstEarnTrans_POS;
				WITH
				FirstEarnTrans AS (	SELECT	cu.[FanID]
										,	tr.[CustomerGUID]
										,	tr.[AccountGUID]
										,	tr.[CardGUID]
										,	pa.[RetailerID]
										,	pa.[RetailerName]
										,	tr.[OfferGUID]
										,	tr.[CashbackEarned]
										,	[TranDate] = CONVERT(DATETIME, tr.[TransactionDate])
										,	tr.[MatchedDate]
										,	tr.[AddedDate]
										,	[TransactionNumber] = ROW_NUMBER() OVER (PARTITION BY cu.[FanID] ORDER BY CONVERT(DATETIME, tr.[TransactionDate]), tr.[MatchedDate], tr.[AccountGUID], tr.[CardGUID], tr.[CashbackEarned])
									FROM #FirstEarnTemp_POS tr
									INNER JOIN #Customer cu
										ON tr.[CustomerGUID] = cu.[CustomerGUID]
									INNER JOIN [Derived].[IronOffer] iof
										ON tr.[OfferGUID] = iof.[HydraOfferID]
									INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
										ON iof.[PartnerID] = pa.[PartnerID])
								
				SELECT	fet.[FanID]
					,	fet.[CustomerGUID]
					,	fet.[AccountGUID]
					,	fet.[CardGUID]
					,	fet.[RetailerID]
					,	fet.[RetailerName]
					,	fet.[OfferGUID]
					,	fet.[CashbackEarned]
					,	fet.[TranDate]
					,	fet.[MatchedDate]
					,	fet.[AddedDate]
				INTO #FirstEarnTrans_POS
				FROM FirstEarnTrans fet
				WHERE fet.[TransactionNumber] = 1

			/***********************************************************************************************************************************
				2.1.2.	Load new First Earn customers to permanent table
			***********************************************************************************************************************************/

				INSERT INTO [Email].[Trigger_FirstEarnDate] (	[EarnType]
															,	[FanID]
															,	[CustomerGUID]
															,	[AccountGUID]
															,	[CardGUID]
															,	[IsTravel]
															,	[TranDate]
															,	[MatchedDate]
															,	[AddedDate]
															,	[PartnerID]
															,	[PartnerName]
															,	[CashbackAmount])
				SELECT	[EarnType] = 'POS'
					,	fet.[FanID]
					,	fet.[CustomerGUID]
					,	fet.[AccountGUID]
					,	fet.[CardGUID]
					,	[IsTravel] = 0
					,	fet.[TranDate]
					,	fet.[MatchedDate]
					,	fet.[AddedDate]
					,	fet.[RetailerID]
					,	fet.[RetailerName]
					,	fet.[CashbackEarned]
				FROM #FirstEarnTrans_POS fet
				WHERE NOT EXISTS (	SELECT 1
									FROM [Email].[Trigger_FirstEarnDate] fed
									WHERE fet.[CustomerGUID] = fed.[CustomerGUID]
									AND [EarnType] = 'POS')
				AND NOT EXISTS (SELECT 1
								FROM [Derived].[Cards] ca
								WHERE fet.[CardGUID] = ca.[CardGUID]
								AND [CardProductID] IN (5, 6))

				INSERT INTO [Email].[Trigger_FirstEarnDate] (	[EarnType]
															,	[FanID]
															,	[CustomerGUID]
															,	[AccountGUID]
															,	[CardGUID]
															,	[IsTravel]
															,	[TranDate]
															,	[MatchedDate]
															,	[AddedDate]
															,	[PartnerID]
															,	[PartnerName]
															,	[CashbackAmount])
				SELECT	[EarnType] = 'POS'
					,	fet.[FanID]
					,	fet.[CustomerGUID]
					,	fet.[AccountGUID]
					,	fet.[CardGUID]
					,	[IsTravel] = 1
					,	fet.[TranDate]
					,	fet.[MatchedDate]
					,	fet.[AddedDate]
					,	fet.[RetailerID]
					,	fet.[RetailerName]
					,	fet.[CashbackEarned]
				FROM #FirstEarnTrans_POS fet
				WHERE NOT EXISTS (	SELECT 1
									FROM [Email].[Trigger_FirstEarnDate] fed
									WHERE fet.[CustomerGUID] = fed.[CustomerGUID]
									AND [EarnType] = 'POS')
				AND EXISTS (SELECT 1
							FROM [Derived].[Cards] ca
							WHERE fet.[CardGUID] = ca.[CardGUID]
							AND [CardProductID] IN (5, 6))

			/***********************************************************************************************************************************
				2.1.3.	Fetch First Earn customers from permanent table
						Taken from permament table rather than temp table to avoid missing customers if process is ran multiple times in one day
			***********************************************************************************************************************************/
			
			--	DECLARE @ExecutionDate DATE = GETDATE()

				DROP TABLE IF EXISTS #Trigger_FirstEarn_POS
				SELECT	[FanID] = fed.[FanID]
					,	[CustomerGUID] = fed.[CustomerGUID]
					,	[PartnerName] = fed.[PartnerName]
					,	[TranDate] = DATEADD(DAY, -1, @ExecutionDate)	--	Previous day to execution date
					,	[CashbackAmount] = fed.[CashbackAmount]
					,	[FirstEarn_Type] = fed.[EarnType]
					,	[IsTravel] = fed.[IsTravel]
				INTO #Trigger_FirstEarn_POS
				FROM [Email].[Trigger_FirstEarnDate] fed
				WHERE CONVERT(DATE, fed.[AddedDate]) = CONVERT(DATE, @ExecutionDate)	--	Today
				AND fed.[EarnType] = 'POS'

		/*******************************************************************************************************************************************
			2.2.	Fetch First Earn (Mobile) email customers
		*******************************************************************************************************************************************/

			/***********************************************************************************************************************************
				2.2.1.	Fetch subset of trans covering all transactions that have been procssed the previous day
			***********************************************************************************************************************************/
		
			--	DECLARE @ExecutionDate DATE = GETDATE()

				DROP TABLE IF EXISTS #FirstEarnTemp_Mobile
				SELECT	TOP 10000000
						mt.[CustomerGUID]
					,	mt.[AccountGUID]
					,	mt.[CardGUID]
					,	mt.[OfferGUID]
					,	mt.[CashbackEarned]
					,	mt.[TransactionDate]
					,	mt.[MatchedDate]
					,	[AddedDate] = @ExecutionDate
				INTO #FirstEarnTemp_Mobile
				FROM #MatchedTransactions mt
				WHERE 0 < mt.[CashbackEarned]
				AND mt.[TransactionTypeID] IN (11)
				AND CONVERT(DATE, mt.[MatchedDate]) <= @ExecutionDate
				ORDER BY [MatchedDate] DESC
			
				CREATE CLUSTERED INDEX CIX_CustomerGUID ON #FirstEarnTemp_Mobile ([CustomerGUID])

				DROP TABLE IF EXISTS #FirstEarnTrans_Mobile;
				WITH
				FirstEarnTrans AS (	SELECT	cu.[FanID]
										,	tr.[CustomerGUID]
										,	tr.[AccountGUID]
										,	tr.[CardGUID]
										,	pa.[RetailerID]
										,	pa.[RetailerName]
										,	tr.[OfferGUID]
										,	tr.[CashbackEarned]
										,	[TranDate] = CONVERT(DATETIME, tr.[TransactionDate])
										,	tr.[MatchedDate]
										,	tr.[AddedDate]
										,	[TransactionNumber] = ROW_NUMBER() OVER (PARTITION BY cu.[FanID] ORDER BY CONVERT(DATETIME, tr.[TransactionDate]), tr.[MatchedDate], tr.[AccountGUID], tr.[CardGUID], tr.[CashbackEarned])
									FROM #FirstEarnTemp_Mobile tr
									INNER JOIN #Customer cu
										ON tr.[CustomerGUID] = cu.[CustomerGUID]
									LEFT JOIN [Derived].[IronOffer] iof
										ON tr.[OfferGUID] = iof.[HydraOfferID]
									LEFT JOIN [WH_AllPublishers].[Derived].[Partner] pa
										ON iof.[PartnerID] = pa.[PartnerID])
								

				SELECT	fet.[FanID]
					,	fet.[CustomerGUID]
					,	fet.[AccountGUID]
					,	fet.[CardGUID]
					,	fet.[RetailerID]
					,	fet.[RetailerName]
					,	fet.[OfferGUID]
					,	fet.[CashbackEarned]
					,	fet.[TranDate]
					,	fet.[MatchedDate]
					,	fet.[AddedDate]
				INTO #FirstEarnTrans_Mobile
				FROM FirstEarnTrans fet
				WHERE fet.[TransactionNumber] = 1

			/***********************************************************************************************************************************
				2.2.2.	Load new First Earn customers to permanent table
			***********************************************************************************************************************************/

				INSERT INTO [Email].[Trigger_FirstEarnDate] (	[EarnType]
															,	[FanID]
															,	[CustomerGUID]
															,	[AccountGUID]
															,	[CardGUID]
															,	[IsTravel]
															,	[TranDate]
															,	[MatchedDate]
															,	[AddedDate]
															,	[PartnerID]
															,	[PartnerName]
															,	[CashbackAmount])
				SELECT	[EarnType] = 'ML'
					,	fet.[FanID]
					,	fet.[CustomerGUID]
					,	fet.[AccountGUID]
					,	fet.[CardGUID]
					,	[IsTravel] = 0
					,	fet.[TranDate]
					,	fet.[MatchedDate]
					,	fet.[AddedDate]
					,	fet.[RetailerID]
					,	[RetailerName] =	CASE
												WHEN bap.[BankAccountProductCode] = 'QE' THEN 'Premier Reward Black'
												WHEN bap.[BankAccountProductCode] = 'QB' THEN 'Premier Reward'
												WHEN bap.[BankAccountProductCode] = 'QD' THEN 'Reward Platinum'
												WHEN bap.[BankAccountProductCode] = 'QC' THEN 'Reward Silver'
												WHEN bap.[BankAccountProductCode] = 'QA' THEN 'Reward'
											END
					,	fet.[CashbackEarned]
				FROM #FirstEarnTrans_Mobile fet
				INNER JOIN [Derived].[BankAccountTypeHistory] bath
					ON fet.[AccountGUID] = bath.[BankAccountGUID]
				INNER JOIN [Derived].[BankAccountProduct] bap
					ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
				WHERE bath.[EndDate] IS NULL
				AND bap.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE')
				AND NOT EXISTS (	SELECT 1
									FROM [Email].[Trigger_FirstEarnDate] fed
									WHERE fet.[CustomerGUID] = fed.[CustomerGUID]
									AND fed.[EarnType] = 'ML')
				ORDER BY fet.[CustomerGUID]

			/***********************************************************************************************************************************
				2.2.3.	Fetch First Earn customers from permanent table
						Taken from permament table rather than temp table to avoid missing customers if process is ran multiple times in one day
			***********************************************************************************************************************************/
		
			--	DECLARE @ExecutionDate DATE = GETDATE()

				DROP TABLE IF EXISTS #Trigger_FirstEarn_Mobile
				SELECT	fed.[FanID]
					,	fed.[CustomerGUID]
					,	fed.[PartnerName]
					,	[TranDate] = DATEADD(DAY, -1, @ExecutionDate)	--	Previous day to execution date
					,	fed.[CashbackAmount]
					,	[FirstEarn_Type] = fed.[EarnType]
				INTO #Trigger_FirstEarn_Mobile
				FROM [Email].[Trigger_FirstEarnDate] fed
				INNER JOIN #Customer cu
					ON fed.[CustomerGUID] = cu.[CustomerGUID]
				WHERE fed.[EarnType] = 'ML'
				AND CONVERT(DATE, fed.[AddedDate]) = CONVERT(DATE, @ExecutionDate)	--	Today
				AND NOT (cu.[AccountType] = 'Premier' AND fed.[PartnerName] IN ('Premier Reward', 'Premier Reward Black'))

		/*******************************************************************************************************************************************
			2.3.	Fetch First Earn (DD) email customers
		*******************************************************************************************************************************************/

			/***********************************************************************************************************************************
				2.3.1.	Fetch subset of trans covering all transactions that have been procssed the previous day
			***********************************************************************************************************************************/
		
			--	DECLARE @ExecutionDate DATE = GETDATE()
	
				DROP TABLE IF EXISTS #DescriptionID_DirectDebits
				SELECT	[DescriptionID]
				INTO #DescriptionID_DirectDebits
				FROM [WHB].[MatchedTransactions_Description]
				WHERE [Description] LIKE 'direct debit - reward earned - %'
		
				CREATE CLUSTERED INDEX [CIX_DescID] ON #DescriptionID_DirectDebits ([DescriptionID])

				DROP TABLE IF EXISTS #FirstEarnTemp_DD
				SELECT	TOP 10000000
						mt.[CustomerGUID]
					,	mt.[AccountGUID]
					,	mt.[CardGUID]
					,	mt.[OfferGUID]
					,	mt.[CashbackEarned]
					,	mt.[TransactionDate]
					,	mt.[MatchedDate]
					,	[AddedDate] = @ExecutionDate
				INTO #FirstEarnTemp_DD
				FROM #MatchedTransactions mt
				WHERE 0 < mt.[CashbackEarned]
				AND mt.[TransactionTypeID] IN (8)
				AND EXISTS (	SELECT 1
								FROM #DescriptionID_DirectDebits mtd
								WHERE mt.[DescriptionID] = mt.[DescriptionID])
				AND CONVERT(DATE, mt.[MatchedDate]) <= @ExecutionDate
				ORDER BY [MatchedDate] DESC
			
				CREATE CLUSTERED INDEX CIX_CustomerGUID ON #FirstEarnTemp_DD ([CustomerGUID])

				DROP TABLE IF EXISTS #FirstEarnTrans_DD;
				WITH
				FirstEarnTrans AS (	SELECT	cu.[FanID]
										,	tr.[CustomerGUID]
										,	tr.[AccountGUID]
										,	tr.[CardGUID]
										,	pa.[RetailerID]
										,	pa.[RetailerName]
										,	tr.[OfferGUID]
										,	tr.[CashbackEarned]
										,	[TranDate] = CONVERT(DATETIME, tr.[TransactionDate])
										,	tr.[MatchedDate]
										,	tr.[AddedDate]
										,	[TransactionNumber] = ROW_NUMBER() OVER (PARTITION BY cu.[FanID] ORDER BY CONVERT(DATETIME, tr.[TransactionDate]), tr.[MatchedDate], tr.[AccountGUID], tr.[CardGUID], tr.[CashbackEarned])
									FROM #FirstEarnTemp_DD tr
									INNER JOIN #Customer cu
										ON tr.[CustomerGUID] = cu.[CustomerGUID]
									LEFT JOIN [Derived].[IronOffer] iof
										ON tr.[OfferGUID] = iof.[HydraOfferID]
									LEFT JOIN [WH_AllPublishers].[Derived].[Partner] pa
										ON iof.[PartnerID] = pa.[PartnerID])
								

				SELECT	fet.[FanID]
					,	fet.[CustomerGUID]
					,	fet.[AccountGUID]
					,	fet.[CardGUID]
					,	fet.[RetailerID]
					,	fet.[RetailerName]
					,	fet.[OfferGUID]
					,	fet.[CashbackEarned]
					,	fet.[TranDate]
					,	fet.[MatchedDate]
					,	fet.[AddedDate]
				INTO #FirstEarnTrans_DD
				FROM FirstEarnTrans fet
				WHERE fet.[TransactionNumber] = 1

			/***********************************************************************************************************************************
				2.3.2.	Load new First Earn customers to permanent table
			***********************************************************************************************************************************/
			
				INSERT INTO [Email].[Trigger_FirstEarnDate] (	[EarnType]
															,	[FanID]
															,	[CustomerGUID]
															,	[AccountGUID]
															,	[CardGUID]
															,	[IsTravel]
															,	[TranDate]
															,	[MatchedDate]
															,	[AddedDate]
															,	[PartnerID]
															,	[PartnerName]
															,	[CashbackAmount])
				SELECT	[EarnType] = 'DD'
					,	fet.[FanID]
					,	fet.[CustomerGUID]
					,	fet.[AccountGUID]
					,	fet.[CardGUID]
					,	[IsTravel] = 0
					,	fet.[TranDate]
					,	fet.[MatchedDate]
					,	fet.[AddedDate]
					,	fet.[RetailerID]
					,	[RetailerName] =	CASE
												WHEN bap.[BankAccountProductCode] = 'QE' THEN 'Premier Reward Black'
												WHEN bap.[BankAccountProductCode] = 'QB' THEN 'Premier Reward'
												WHEN bap.[BankAccountProductCode] = 'QD' THEN 'Reward Platinum'
												WHEN bap.[BankAccountProductCode] = 'QC' THEN 'Reward Silver'
												WHEN bap.[BankAccountProductCode] = 'QA' THEN 'Reward'
											END
					,	fet.[CashbackEarned]
				FROM #FirstEarnTrans_DD fet
				INNER JOIN [Derived].[BankAccountTypeHistory] bath
					ON fet.[AccountGUID] = bath.[BankAccountGUID]
				INNER JOIN [Derived].[BankAccountProduct] bap
					ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
				WHERE bath.[EndDate] IS NULL
				AND bap.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE')
				AND NOT EXISTS (	SELECT 1
									FROM [Email].[Trigger_FirstEarnDate] fed
									WHERE fet.[CustomerGUID] = fed.[CustomerGUID]
									AND fed.[EarnType] = 'DD')
				ORDER BY fet.[MatchedDate]

			/***********************************************************************************************************************************
				2.3.3.	Fetch First Earn customers from permanent table
						Taken from permament table rather than temp table to avoid missing customers if process is ran multiple times in one day
			***********************************************************************************************************************************/
		
			--	DECLARE @ExecutionDate DATE = GETDATE()

				DROP TABLE IF EXISTS #Trigger_FirstEarn_DD
				SELECT	fed.[FanID]
					,	fed.[CustomerGUID]
					,	fed.[PartnerName]
					,	[TranDate] = DATEADD(DAY, -1, @ExecutionDate)	--	Previous day to execution date
					,	fed.[CashbackAmount]
					,	[FirstEarn_Type] = fed.[EarnType]
				INTO #Trigger_FirstEarn_DD
				FROM [Email].[Trigger_FirstEarnDate] fed
				INNER JOIN #Customer cu
					ON fed.[CustomerGUID] = cu.[CustomerGUID]
				WHERE fed.[EarnType] = 'DD'
				AND CONVERT(DATE, fed.[AddedDate]) = CONVERT(DATE, @ExecutionDate)	--	Today
				AND NOT (cu.[AccountType] = 'Premier' AND fed.[PartnerName] IN ('Premier Reward', 'Premier Reward Black'))

	/*******************************************************************************************************************************************
		3.	Fetch Reached £5 Balance email customers (£5 first earn)
	*******************************************************************************************************************************************/

		/***************************************************************************************************************************************
			3.1.	Fetch customers who currently have £5 Cashback Available, but didn't in their most recent [Customer_CashbackBalances]
		***************************************************************************************************************************************/
		
			--	DECLARE @ExecutionDate DATE = GETDATE()

			DECLARE @Yesterday_FivePoundBalance DATE = DATEADD(DAY, -1, @ExecutionDate)

			DROP TABLE IF EXISTS #Customer_CashbackBalances_R5
			SELECT	[FanID] = cu.[FanID]
				,	[CustomerGUID] = cu.[CustomerGUID]
				,	[CurrentCashbackAvailable] = cu.[CashbackAvailable]
				,	[PreviousCashbackAvailable] = COALESCE(cb.[CashbackAvailable], 0)
			INTO #Customer_CashbackBalances_R5
			FROM [Derived].[Customer] cu
			LEFT JOIN [Derived].[Customer_CashbackBalances] cb
				ON cu.[CustomerGUID] = cb.[CustomerGUID]
				AND [EndDate] = DATEADD(DAY, -1, @ExecutionDate)	--	Day prior to execution
			WHERE 5 <= cu.[CashbackAvailable]
			AND COALESCE(cb.[CashbackAvailable], 0) < 5
			AND NOT EXISTS (	SELECT 1
								FROM [Email].[Trigger_Reach5GBPDate] r5
								WHERE cu.[CustomerGUID] = r5.[CustomerGUID])
								
		/***************************************************************************************************************************************
			3.2.	Load new £5 Balance customers to permanent table
		***************************************************************************************************************************************/

			INSERT INTO [Email].[Trigger_Reach5GBPDate] (	[FanID]
														,	[CustomerGUID]
														,	[CashbackAvailable]
														,	[PreviousCashbackAvailable]
														,	[Reach5GBPDate])
			SELECT	[FanID] = cb.[FanID]
				,	[CustomerGUID] = cb.[CustomerGUID]
				,	[CashbackAvailable] = cb.[CurrentCashbackAvailable]
				,	[PreviousCashbackAvailable] = cb.[PreviousCashbackAvailable]
				,	[Reach5GBPDate] = @ExecutionDate	--	Today
			FROM #Customer_CashbackBalances_R5 cb

		/***************************************************************************************************************************************
			3.3.	Fetch £5 Balance customers from permanent table
					Taken from permament table rather than temp table to avoid missing customers if process is ran multiple times in one day
		***************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Trigger_Reach5Pounds
			SELECT	[FanID] = r5.[FanID]
				,	[CustomerGUID] = r5.[CustomerGUID]
				,	[Reach5GBPDate] = @ExecutionDate	--	Today
			INTO #Trigger_Reach5Pounds
			FROM [Email].[Trigger_Reach5GBPDate] r5
			WHERE [Reach5GBPDate] = CONVERT(DATE, @ExecutionDate)	--	Day prior to execution
			AND EXISTS (SELECT 1
						FROM [Derived].[Customer] cu
						WHERE r5.[CustomerGUID] = cu.[CustomerGUID]
						AND cu.[CashbackAvailable] >= 5)

	/*******************************************************************************************************************************************
		4.	Mobile Dormant
	*******************************************************************************************************************************************/

		/***************************************************************************************************************************************
			4.1.	Fetch all customers eligible to earn on Mobile Login
		***************************************************************************************************************************************/

			/***********************************************************************************************************************************
				4.1.1.	Fetch eligible customers
			***********************************************************************************************************************************/

			--	DECLARE @ExecutionDate DATE = GETDATE()

				DECLARE @ThreeMonthsAgo DATE = DATEADD(MONTH, -3, @ExecutionDate)

				DROP TABLE IF EXISTS #Customers_MobileDormant
				SELECT	iom.[CustomerGUID]
				INTO #Customers_MobileDormant
				FROM [Derived].[IronOfferMember] iom
				WHERE iom.[IronOfferID] IN (18295, 18296, 18297, 18298)
				GROUP BY	iom.[CustomerGUID]
				HAVING MIN([StartDate]) < DATEADD(MONTH, -3, @ExecutionDate)	--	Three months prior to execution

			/***********************************************************************************************************************************
				4.1.2.	Fetch eligible bank accounts
			***********************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #Accounts_MobileDormant
				SELECT	bath.[BankAccountGUID]
				INTO #Accounts_MobileDormant
				FROM [Derived].[BankAccountTypeHistory] bath
				INNER JOIN [Derived].[BankAccountProduct] bap
					ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
				WHERE bath.[EndDate] IS NULL
				AND bap.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE')

			/***********************************************************************************************************************************
				4.1.3.	Fetch eligible Customer / Accounts
			***********************************************************************************************************************************/

				DROP TABLE IF EXISTS #Eligible_MobileDormant
				SELECT	bacl.[BankAccountGUID]
					,	bacl.[CustomerGUID]
					,	cu.[CompositeID]
					,	cu.[FanID]
				INTO #Eligible_MobileDormant
				FROM [Derived].[BankAccountCustomerLinks] bacl
				INNER JOIN [Derived].[Customer] cu
					ON bacl.[CustomerGUID] = cu.[CustomerGUID]
				WHERE bacl.[EndDate] IS NULL
				AND cu.[CurrentlyActive] = 1
				AND EXISTS (SELECT 1
							FROM #Customers_MobileDormant cmd
							WHERE cu.[CustomerGUID] = cmd.[CustomerGUID])
				AND EXISTS (SELECT 1
							FROM #Accounts_MobileDormant amd
							WHERE bacl.[BankAccountGUID] = amd.[BankAccountGUID])

		/***************************************************************************************************************************************
			4.2.	Fetch customers that have earnt in the last 3 months or have already been emailed
		***************************************************************************************************************************************/

			/***********************************************************************************************************************************
				4.2.1.	Fetch the actual customers that earnt
			***********************************************************************************************************************************/
			
			--	DECLARE @ExecutionDate DATE = GETDATE()
	
				DROP TABLE IF EXISTS #DescriptionID_MobileLogin
				SELECT	[DescriptionID]
				INTO #DescriptionID_MobileLogin
				FROM [WHB].[MatchedTransactions_Description]
				WHERE [Description] LIKE 'mobile login - reward earned - %'
		
				CREATE CLUSTERED INDEX [CIX_DescID] ON #DescriptionID_MobileLogin ([DescriptionID])

				DROP TABLE IF EXISTS #EarningCustomers_MobileDormant
				SELECT	mt.[CustomerGUID]
					,	mt.[AccountGUID]
					,	[Transactions] = COUNT(mt.[CashbackEarned])
					,	[CashbackEarned] = SUM(mt.[CashbackEarned])
					,	[TranDate] = MAX(mt.[TransactionDate])
				INTO #EarningCustomers_MobileDormant
				FROM #MatchedTransactions mt
				WHERE 0 < mt.[CashbackEarned]
				AND mt.[TransactionTypeID] IN (11)
				AND CONVERT(DATE, mt.[MatchedDate]) >= DATEADD(MONTH, -3, @ExecutionDate)	--	Three months prior to execution
				GROUP BY	mt.[CustomerGUID]
						,	mt.[AccountGUID]

				INSERT INTO #EarningCustomers_MobileDormant
				SELECT	bt.[CustomerGUID]
					,	bt.[AccountGUID]
					,	[Transactions] = COUNT(bt.[CashbackEarned])
					,	[CashbackEarned] = SUM(bt.[CashbackEarned])
					,	[TranDate] = MAX(bt.[TranDate])
				FROM [Derived].[BankTrans] bt
				WHERE EXISTS (	SELECT 1
								FROM #DescriptionID_MobileLogin ml
								WHERE bt.[DescriptionID] = ml.[DescriptionID])
				AND bt.[TransactionTypeID] IN (11)
				AND CONVERT(DATE, bt.[TranDate]) >= DATEADD(MONTH, -3, @ExecutionDate)	--	Three months prior to execution
				GROUP BY	bt.[CustomerGUID]
						,	bt.[AccountGUID]

			/***********************************************************************************************************************************
				4.2.2.  Fetch customers that are linked to the customers that have earnt
			***********************************************************************************************************************************/

				DROP TABLE IF EXISTS #EarningCustomers_Joint_MobileDormant
				SELECT	DISTINCT
						bacl2.[CustomerGUID]
				INTO #EarningCustomers_Joint_MobileDormant
				FROM #EarningCustomers_MobileDormant ec
				INNER JOIN [Derived].[BankAccountCustomerLinks] bacl1
					ON ec.[CustomerGUID] = bacl1.[CustomerGUID]
				INNER JOIN [Derived].[BankAccountCustomerLinks] bacl2
					ON bacl1.[BankAccountGUID] = bacl2.[BankAccountGUID]
					
			/***********************************************************************************************************************************
				4.2.3.	Fetch customers that have been emailed in the last 3 months
			***********************************************************************************************************************************/
			
			--	DECLARE @ExecutionDate DATE = GETDATE()

				DROP TABLE IF EXISTS #EmailedCustomers_MobileDormant
				SELECT	DISTINCT
						mdc.[CustomerGUID]
					,	mdc.[FanID]
				INTO #EmailedCustomers_MobileDormant
				FROM [Email].[Trigger_MobileDormantCustomers] mdc
				WHERE mdc.[MobileDormantDate] >= DATEADD(MONTH, -3, @ExecutionDate)	--	Three motnhs prior to execution

			/***********************************************************************************************************************************
				4.2.4.  Fetch customers that are linked to the customers that have been emailed in the last 3 months
			***********************************************************************************************************************************/

				DROP TABLE IF EXISTS #EmailedCustomers_Joint_MobileDormant
				SELECT	DISTINCT
						bacl2.[CustomerGUID]
				INTO #EmailedCustomers_Joint_MobileDormant
				FROM #EmailedCustomers_MobileDormant ec
				INNER JOIN [Derived].[BankAccountCustomerLinks] bacl1
					ON ec.[CustomerGUID] = bacl1.[CustomerGUID]
				INNER JOIN [Derived].[BankAccountCustomerLinks] bacl2
					ON bacl1.[BankAccountGUID] = bacl2.[BankAccountGUID]
	
			/***********************************************************************************************************************************
				4.2.5.  Fetch eligible customers that have not earnt in the last three months and have not been emailed
			***********************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #DormantCustomers_MobileDormant
				SELECT	emd.[BankAccountGUID]
					,	emd.[CustomerGUID]
					,	emd.[CompositeID]
					,	emd.[FanID]
				INTO #DormantCustomers_MobileDormant
				FROM #Eligible_MobileDormant emd
				WHERE NOT EXISTS (	SELECT 1
									FROM #EarningCustomers_MobileDormant ec
									WHERE emd.[CustomerGUID] = ec.[CustomerGUID])
				AND NOT EXISTS (	SELECT 1
									FROM #EarningCustomers_Joint_MobileDormant ecj
									WHERE emd.[CustomerGUID] = ecj.[CustomerGUID])
				AND NOT EXISTS (	SELECT 1
									FROM #EmailedCustomers_MobileDormant ec2
									WHERE emd.[CustomerGUID] = ec2.[CustomerGUID])
				AND NOT EXISTS (	SELECT 1
									FROM #EmailedCustomers_Joint_MobileDormant ecj2
									WHERE emd.[CustomerGUID] = ecj2.[CustomerGUID])

		/***************************************************************************************************************************************
			4.3.	Fetch customers that have earnt in the last 3 months
		***************************************************************************************************************************************/
		
		--	DECLARE @ExecutionDate DATE = GETDATE()
		
			INSERT INTO [Email].[Trigger_MobileDormantCustomers] (	[FanID]
																,	[CustomerGUID]
																,	[MobileDormantDate])
			SELECT	[FanID]
				,	[CustomerGUID]
				,	[MobileDormantDate] = @ExecutionDate
			FROM #DormantCustomers_MobileDormant

		/***************************************************************************************************************************************
			4.4.	Fetch Mobile Dormant Customers to be emailed
		***************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Trigger_MobileDormant
			SELECT	[FanID]
				,	[CustomerGUID]
				,	[MobileDormantDate]
			INTO #Trigger_MobileDormant
			FROM [Email].[Trigger_MobileDormantCustomers] r5
			WHERE [MobileDormantDate] = @ExecutionDate

	/*******************************************************************************************************************************************
		5.	Redemption Reminder
	*******************************************************************************************************************************************/

		/***************************************************************************************************************************************
			5.1.	Fetch potential customers
		***************************************************************************************************************************************/

			/***********************************************************************************************************************************
				5.1.1.	Identify if there is a newsletter going out today
			***********************************************************************************************************************************/
		
				DECLARE	@NewslettersBeingSentToday INT = 0

				SELECT	@NewslettersBeingSentToday = COUNT(*)
				FROM [WH_AllPublishers].[Email].[EmailSend]
				WHERE [Scheme] = 'MyRewards'
				AND [EmailSendDate] = CONVERT(DATE, GETDATE())
				AND [EmailType] IN ('Newsletter - Full Generic', 'Newsletter - Full Dynamic')

			/***********************************************************************************************************************************
				5.1.2.	Fetch customers with at least £50 only when there is no newsletter going out
			***********************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #CustomerBalanceToday_RedemptionReminder
				SELECT	cu.[CustomerGUID]
					,	cu.[FanID]
					,	cu.[CashbackAvailable]
				INTO #CustomerBalanceToday_RedemptionReminder
				FROM [Derived].[Customer] cu
				WHERE cu.[CashbackAvailable] >= 50
				AND @NewslettersBeingSentToday = 0

			/***********************************************************************************************************************************
				5.1.3.	Fetch customers who had a lower balance the previous day
			***********************************************************************************************************************************/
			
				--	DECLARE @ExecutionDate DATE = GETDATE()

				DROP TABLE IF EXISTS #CustomerBalance_RedemptionReminder
				SELECT	cb.[CustomerGUID]
					,	cb.[FanID]
					,	[CurrentCashbackAvailable] = rr.[CashbackAvailable]
					,	[PreviousCashbackAvailable] = cb.[CashbackAvailable]
				INTO #CustomerBalance_RedemptionReminder
				FROM [Derived].[Customer_CashbackBalances] cb
				INNER JOIN #CustomerBalanceToday_RedemptionReminder rr
					ON cb.[CustomerGUID] = rr.[CustomerGUID]
				WHERE cb.[EndDate] = DATEADD(DAY, -1, @ExecutionDate)
				AND rr.[CashbackAvailable] > cb.[CashbackAvailable]

		/***************************************************************************************************************************************
			5.2.	Create threshold table of balance values starting from £50 incrementaing in values of £20
		***************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #CashbackThresholds_RedemptionReminder
			;WITH
			CashbackThresholds AS (	SELECT	TOP 5000
											[ID] = ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
									FROM [sys].[tables])
						
			SELECT	[ID]
				,	[CashbackThresholds] =	30 + ([ID] * 20)
			INTO #CashbackThresholds_RedemptionReminder
			FROM CashbackThresholds

			CREATE CLUSTERED INDEX [CIX_Cashback] ON #CashbackThresholds_RedemptionReminder ([CashbackThresholds])

		/***************************************************************************************************************************************
			5.3.	Store customers that have crossed a balance threshold in the last 24 hours
		***************************************************************************************************************************************/
		
			INSERT INTO [Email].[Trigger_RedemptionReminderCustomers]
			SELECT	cb.[FanID]
				,	cb.[CustomerGUID]
				,	[Date] = CONVERT(DATE, GETDATE())
			FROM #CustomerBalance_RedemptionReminder cb
			INNER JOIN #CashbackThresholds_RedemptionReminder ct
				ON cb.[PreviousCashbackAvailable] < ct.[CashbackThresholds]
				AND ct.[CashbackThresholds] <= cb.[CurrentCashbackAvailable]
			WHERE NOT EXISTS (	SELECT 1
								FROM [Email].[Trigger_RedemptionReminderCustomers] rr
								WHERE cb.[CustomerGUID] = rr.[CustomerGUID]
								AND rr.[Date] BETWEEN DATEADD(MONTH, -1, GETDATE()) AND GETDATE())

		/***************************************************************************************************************************************
			5.4.	Fetch Redemption Reminder Customers to be emailed
		***************************************************************************************************************************************/
		
			--	DECLARE @ExecutionDate DATE = GETDATE()

			DROP TABLE IF EXISTS #Trigger_RedemptionReminder
			SELECT	[FanID]
				,	[CustomerGUID]
				,	[Date]
			INTO #Trigger_RedemptionReminder
			FROM [Email].[Trigger_RedemptionReminderCustomers] r5
			WHERE [Date] = @ExecutionDate

	/*******************************************************************************************************************************************
		6.	Product Monitoring
	*******************************************************************************************************************************************/

		/***************************************************************************************************************************************
			6.1.	xxxxxxxxxxxx
		***************************************************************************************************************************************/

			/***********************************************************************************************************************************
				6.1.1.	xxxxxxxxxxxx
			***********************************************************************************************************************************/
				
			--	DECLARE @ExecutionDate DATE = GETDATE()
				DECLARE	@35DaysAgo DATETIME = DATEADD(DAY, -35, @ExecutionDate)
					,	@3MonthsAgo DATETIME = DATEADD(MONTH, -3, @ExecutionDate)
			
				DROP TABLE IF EXISTS #LoyaltyAccounts_Bank
				SELECT	DISTINCT
						bath.[BankAccountGUID]
					,	[TypeDesc] =	CASE
											WHEN bap.[BankAccountProductCode] = 'QE' THEN 'Premier Reward Black'
											WHEN bap.[BankAccountProductCode] = 'QB' THEN 'Premier Reward'
											WHEN bap.[BankAccountProductCode] = 'QD' THEN 'Reward Platinum'
											WHEN bap.[BankAccountProductCode] = 'QC' THEN 'Reward Silver'
											WHEN bap.[BankAccountProductCode] = 'QA' THEN 'Reward'
										END
					,	[TypeRank] =	CASE
											WHEN bap.[BankAccountProductCode] = 'QE' THEN 1
											WHEN bap.[BankAccountProductCode] = 'QB' THEN 2
											WHEN bap.[BankAccountProductCode] = 'QD' THEN 3
											WHEN bap.[BankAccountProductCode] = 'QC' THEN 4
											WHEN bap.[BankAccountProductCode] = 'QA' THEN 5
										END
				INTO #LoyaltyAccounts_Bank
				FROM [Derived].[BankAccountTypeHistory] bath
				INNER JOIN [Derived].[BankAccountProduct] bap
					ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
				WHERE bath.[EndDate] IS NULL
				AND bap.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE')
				
				DROP TABLE IF EXISTS #LoyaltyAccounts_Memberships_All
				SELECT	iom.[CustomerGUID]
					,	[StartDate] = MIN(iom.[StartDate])
				INTO #LoyaltyAccounts_Memberships_All
				FROM [Derived].[IronOfferMember] iom
				WHERE iom.[IronOfferID] IN (18295, 18296, 18297, 18298)
				GROUP BY	iom.[CustomerGUID]
				
				DROP TABLE IF EXISTS #LoyaltyAccounts_Memberships
				SELECT	lam.[CustomerGUID]
					,	lam.[StartDate]
					,	[Days] = DATEDIFF(DAY, lam.[StartDate], @ExecutionDate)
				INTO #LoyaltyAccounts_Memberships
				FROM #LoyaltyAccounts_Memberships_All lam
				WHERE DATEDIFF(DAY, lam.[StartDate], @ExecutionDate) IN (65, 125, 183)
				
				DROP TABLE IF EXISTS #LoyaltyAccounts_Memberships_CustomerBank
				SELECT	lam.[CustomerGUID]
					,	bacl.[BankAccountGUID]
					,	lam.[Days]
				INTO #LoyaltyAccounts_Memberships_CustomerBank
				FROM #LoyaltyAccounts_Memberships lam
				INNER JOIN [Derived].[BankAccountCustomerLinks] bacl
					ON lam.[CustomerGUID] = bacl.[CustomerGUID]
					AND bacl.[EndDate] IS NULL
		
				CREATE CLUSTERED INDEX [CIX_Bank] ON #LoyaltyAccounts_Memberships_CustomerBank ([BankAccountGUID])

				DROP TABLE IF EXISTS #DescriptionID_DD_ML
				SELECT	[DescriptionID]
				INTO #DescriptionID_DD_ML
				FROM [WHB].[MatchedTransactions_Description]
				WHERE [Description] LIKE 'direct debit - reward earned - %'
				OR [Description] LIKE 'mobile login - reward earned - %'
		
				CREATE CLUSTERED INDEX [CIX_DescID] ON #DescriptionID_DD_ML ([DescriptionID])

				DROP TABLE IF EXISTS #ProdMon_Trans
				SELECT	mt.[CustomerGUID]
					,	mt.[AccountGUID]
					,	mt.[TransactionDate]
					,	mt.[MatchedDate]
					,	[Transactions] = COUNT(mt.[CashbackEarned])
					,	[CashbackEarned] = SUM(mt.[CashbackEarned])
					,	[TranDate] = MAX(mt.[TransactionDate])
				INTO #ProdMon_Trans
				FROM [WHB].[Inbound_MatchedTransactions] mt
				WHERE EXISTS (	SELECT 1
								FROM #DescriptionID_DD_ML d
								WHERE mt.[DescriptionID] = d.[DescriptionID])
				AND EXISTS (	SELECT 1
								FROM #LoyaltyAccounts_Memberships_CustomerBank cb
								WHERE mt.[AccountGUID] = cb.[BankAccountGUID])
				AND mt.[TransactionTypeID] IN (8, 11)
				AND CONVERT(DATE, mt.[MatchedDate]) >= @3MonthsAgo	--	Three months prior to execution
				GROUP BY	mt.[CustomerGUID]
						,	mt.[AccountGUID]
						,	mt.[TransactionDate]
						,	mt.[MatchedDate]
						
				DROP TABLE IF EXISTS #ProdMon_Trans_3Months
				SELECT	pm.[AccountGUID]
					,	[CashbackEarned] = SUM(pm.[CashbackEarned])
				INTO #ProdMon_Trans_3Months
				FROM #ProdMon_Trans pm
				WHERE CONVERT(DATE, pm.[MatchedDate]) >= @3MonthsAgo	--	Three months prior to execution
				GROUP BY pm.[AccountGUID]
						
				DROP TABLE IF EXISTS #ProdMon_Trans_35Days
				SELECT	pm.[AccountGUID]
					,	[CashbackEarned] = SUM(pm.[CashbackEarned])
				INTO #ProdMon_Trans_35Days
				FROM #ProdMon_Trans pm
				WHERE CONVERT(DATE, pm.[MatchedDate]) >= @35DaysAgo	--	Three months prior to execution
				GROUP BY pm.[AccountGUID]

				DROP TABLE IF EXISTS #ProdMon_Trans_Earnings
				SELECT	[AccountGUID] = COALESCE(pm1.[AccountGUID], pm2.[AccountGUID])
					,	[CashbackEarned_3Months] = MAX(COALESCE(pm1.[CashbackEarned], 0))
					,	[CashbackEarned_35Days] = MAX(COALESCE(pm2.[CashbackEarned], 0))
				INTO #ProdMon_Trans_Earnings
				FROM #ProdMon_Trans_3Months pm1
				FULL OUTER JOIN #ProdMon_Trans_35Days pm2
					ON pm1.[AccountGUID] = pm2.[AccountGUID]
				GROUP BY	COALESCE(pm1.[AccountGUID], pm2.[AccountGUID])
				
				DROP TABLE IF EXISTS #ProdMonitoring
				SELECT	DISTINCT
						cb.[CustomerGUID]
					,	cb.[Days]
					,	lab.[TypeDesc]
					,	lab.[TypeRank]
				INTO #ProdMonitoring
				FROM #LoyaltyAccounts_Memberships_CustomerBank cb
				INNER JOIN #LoyaltyAccounts_Bank lab
					ON cb.[BankAccountGUID] = lab.[BankAccountGUID]
				LEFT JOIN #ProdMon_Trans_Earnings pm
					ON cb.[BankAccountGUID] = pm.[AccountGUID]
				WHERE cb.[Days] IN (65, 125)
				AND COALESCE(pm.[CashbackEarned_35Days], 0) < 2

				INSERT INTO #ProdMonitoring
				SELECT	DISTINCT
						cb.[CustomerGUID]
					,	cb.[Days]
					,	lab.[TypeDesc]
					,	lab.[TypeRank]
				FROM #LoyaltyAccounts_Memberships_CustomerBank cb
				INNER JOIN #LoyaltyAccounts_Bank lab
					ON cb.[BankAccountGUID] = lab.[BankAccountGUID]
				LEFT JOIN #ProdMon_Trans_Earnings pm
					ON cb.[BankAccountGUID] = pm.[AccountGUID]
				WHERE cb.[Days] IN (183)
				AND COALESCE(pm.[CashbackEarned_3Months], 0) < 2
				
				DROP TABLE IF EXISTS #ProdMonitoring_ToEmail
				SELECT	[CustomerGUID]
					,	[TriggerType] =	CASE
											WHEN [Days] = 65 THEN '60'
											WHEN [Days] = 125 THEN '120'
											WHEN [Days] = 183 THEN '6Month'
										END
					,	[TypeDesc]
				INTO #ProdMonitoring_ToEmail
				FROM (	SELECT	[CustomerGUID]
							,	[Days]
							,	[TypeDesc]
							,	[TypeRank] = ROW_NUMBER() OVER (PARTITION BY [CustomerGUID], [Days] ORDER BY [TypeRank])
						FROM #ProdMonitoring) pm
				WHERE pm.[TypeRank] = 1

	/*******************************************************************************************************************************************
		7.	Credit Card Additions
	*******************************************************************************************************************************************/

		/***************************************************************************************************************************************
			7.1.	xxxxxxxxxxxx
		***************************************************************************************************************************************/

			/***********************************************************************************************************************************
				7.1.1.	xxxxxxxxxxxx
			***********************************************************************************************************************************/
			
			--	DECLARE @ExecutionDate DATE = GETDATE()
				DECLARE @ReportDate DATE = DATEADD(dd, -1, @ExecutionDate)
				DECLARE @ActivatedDate DATE = DATEADD(dd, -2, @ExecutionDate)
				
				DROP TABLE IF EXISTS #NewCards
				SELECT	ca.[CardGUID]
				INTO #NewCards
				FROM [Derived].[Cards] ca
				GROUP BY ca.[CardGUID]
				HAVING CONVERT(DATE, MIN(ca.[StartDate])) = @ReportDate
				AND CONVERT(DATE, MAX(ca.[EndDate])) IS NULL
		
				CREATE CLUSTERED INDEX [CIX_Card] ON #NewCards ([CardGUID])
											
			--	DECLARE @ExecutionDate DATE = GETDATE()	DECLARE @ReportDate DATE = DATEADD(dd, -1, @ExecutionDate), @ActivatedDate DATE = DATEADD(dd, -2, @ExecutionDate)
			
				DROP TABLE IF EXISTS #NewCards_Customers
				SELECT	ca.[CustomerGUID]
					,	cu.[RegistrationDate]
					,	cp.[CardProductDescription]
					,	[NewCreditCardToday] = MAX(CASE WHEN ca.[CreditOrDebit] = 'credit' THEN 1 ELSE 0 END)
					,	[HasCreditCardBefore] = 0
					,	[NewDebitCardToday] = MAX(CASE WHEN ca.[CreditOrDebit] = 'debit' THEN 1 ELSE 0 END)
					,	[HasDebitCardBefore] = 0
					,	[ActivatedBeforeToday] = MAX(CASE WHEN cu.[RegistrationDate] < @ReportDate THEN 1 ELSE 0 END)
				INTO #NewCards_Customers
				FROM [Derived].[Cards] ca
				LEFT JOIN [Derived].[CardProduct] cp
					ON ca.[CardProductID] = cp.[CardProductID]
				INNER JOIN #Customer cu
					ON ca.[CustomerGUID] = cu.[CustomerGUID]
				WHERE EXISTS (	SELECT 1
								FROM #NewCards nc
								WHERE ca.[CardGUID] = nc.[CardGUID])
				GROUP BY	ca.[CustomerGUID]
						,	cu.[RegistrationDate]
						,	cp.[CardProductDescription]
						
											
			--	DECLARE @ExecutionDate DATE = GETDATE()	DECLARE @ReportDate DATE = DATEADD(dd, -1, @ExecutionDate), @ActivatedDate DATE = DATEADD(dd, -2, @ExecutionDate)

				UPDATE ncc
				SET ncc.[HasCreditCardBefore] = 1
				FROM #NewCards_Customers ncc
				WHERE EXISTS (	SELECT 1
								FROM [Derived].[Cards] ca
								WHERE ncc.[CustomerGUID] = ca.[CustomerGUID]
								AND ca.[CreditOrDebit] = 'credit'
								AND ca.[StartDate] < @ReportDate)

				UPDATE ncc
				SET ncc.[HasDebitCardBefore] = 1
				FROM #NewCards_Customers ncc
				WHERE EXISTS (	SELECT 1
								FROM [Derived].[Cards] ca
								WHERE ncc.[CustomerGUID] = ca.[CustomerGUID]
								AND ca.[CreditOrDebit] = 'debit'
								AND ca.[StartDate] < @ReportDate)

				DROP TABLE IF EXISTS #Welcome_Cards_All
				SELECT	ncc.[CustomerGUID]
					,	ncc.[RegistrationDate]
					,	ncc.[CardProductDescription]
					,	ncc.[NewCreditCardToday]
					,	ncc.[HasCreditCardBefore]
					,	ncc.[NewDebitCardToday]
					,	ncc.[HasDebitCardBefore]
					,	ncc.[ActivatedBeforeToday]
					,	[WelcomeEmailCode] =	CASE
													WHEN ncc.[NewCreditCardToday] = 1 AND ncc.[HasCreditCardBefore] = 0 AND ncc.[HasDebitCardBefore] = 1 AND ncc.[ActivatedBeforeToday] = 1 THEN 'W1'
													WHEN ncc.[NewCreditCardToday] = 1 AND ncc.[HasCreditCardBefore] = 0 AND ncc.[HasDebitCardBefore] = 1 AND ncc.[ActivatedBeforeToday] = 0 THEN 'W2'
													WHEN ncc.[NewCreditCardToday] = 1 AND ncc.[HasCreditCardBefore] = 0 AND ncc.[NewDebitCardToday] = 1 AND ncc.[HasDebitCardBefore] = 0 THEN 'W3'
													WHEN ncc.[NewCreditCardToday] = 1 AND ncc.[HasCreditCardBefore] = 0 AND ncc.[NewDebitCardToday] = 0 AND ncc.[HasDebitCardBefore] = 0 THEN 'W4'
													WHEN ncc.[NewCreditCardToday] = 0 AND ncc.[NewDebitCardToday] = 1 AND ncc.[HasDebitCardBefore] = 0 AND ncc.[HasCreditCardBefore] = 1 THEN 'W5'
												END
				INTO #Welcome_Cards_All
				FROM #NewCards_Customers ncc

			--	DECLARE @ExecutionDate DATE = GETDATE()	DECLARE @ReportDate DATE = DATEADD(dd, -1, @ExecutionDate), @ActivatedDate DATE = DATEADD(dd, -2, @ExecutionDate)

			--	New Credit Card, no other cards

				DROP TABLE IF EXISTS #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = CONVERT(VARCHAR(10), 'W8')
				INTO #Welcome_Cards
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Reward Credit')
				AND wca.[NewCreditCardToday] = 1
				AND wca.[RegistrationDate] >= @ActivatedDate
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0
							AND MAX(wca2.[NewDebitCardToday]) = 0
							AND MAX(wca2.[HasDebitCardBefore]) = 0)
				GROUP BY wca.[CustomerGUID]
				
				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W8-RB'
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Reward Black Credit')
				AND wca.[NewCreditCardToday] = 1
				AND wca.[RegistrationDate] >= @ActivatedDate
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0
							AND MAX(wca2.[NewDebitCardToday]) = 0
							AND MAX(wca2.[HasDebitCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]
				
			--	Adding Credit Card, has debit cards

				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W7'
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Reward Credit')
				AND wca.[NewCreditCardToday] = 1
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]
				
				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W7-RB'
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Reward Black Credit')
				AND wca.[NewCreditCardToday] = 1
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]

			-- Tavel New

				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W9'
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Travel Credit')
				AND wca.[NewCreditCardToday] = 1
				AND wca.[RegistrationDate] >= @ActivatedDate
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0
							AND MAX(wca2.[NewDebitCardToday]) = 0
							AND MAX(wca2.[HasDebitCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]

			-- Tavel Added
				
				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W10'
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Travel Credit')
				AND wca.[NewCreditCardToday] = 1
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							AND wca.[CardProductDescription] = wca2.[CardProductDescription]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]

	/*******************************************************************************************************************************************
		7.	Sainsburys
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #ShopperOffer
		SELECT	[IronOfferID]
			,	[HydraOfferID]
		INTO #ShopperOffer
		FROM [Derived].[IronOffer]
		WHERE [IronOfferID] = 30545		

		DROP TABLE IF EXISTS #Customer_Sains
		SELECT	cu.[FanID]
			,	cu.[CustomerGUID]
			,	cu.[CompositeID]
			,	cu.[SourceUID]
			,	iom.[OfferGUID]
			,	iom.[IronOfferID]
			,	cu.[ClubID]
		INTO #Customer_Sains
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[IronOfferMember] iom 
			ON iom.[CompositeID] = cu.[CompositeID]
		INNER JOIN #ShopperOffer n
			ON iom.[IronOfferID] = n.[IronOfferID]
			AND iom.[OfferGUID] = n.[HydraOfferID]
		WHERE iom.[StartDate] <= GETDATE()
		AND iom.[EndDate] > GETDATE()

		DROP TABLE IF EXISTS #MatchedTransactions_Sains
		SELECT	mt.*
		INTO #MatchedTransactions_Sains
		FROM #MatchedTransactions mt
		WHERE EXISTS (	SELECT 1
						FROM #ShopperOffer so
						WHERE mt.[OfferGUID] = so.[HydraOfferID])

		IF CAST(GETDATE() AS date) >= '2024-07-25' AND CAST(GETDATE() AS date) <= '2024-10-16'

		BEGIN

			drop table if exists #MaxSendCustomerA
			SELECT	[CustomerGUID]
				,	[FanID]
				,	[LastSenddate] = MAX(SendDate)
			into #MaxSendCustomerA
			from [Email].[Trigger_Sainsburys]
			where customerType = 'A'
			group by	[CustomerGUID]
					,	[FanID]	

			DROP TABLE IF EXISTS #AllIncentivised
			SELECT	mt.[CustomerGUID]
				,	c.[FanID]
				,	max(TransactionDate)TranDate
			INTO #AllIncentivised
			FROM #MatchedTransactions_Sains mt
			INNER JOIN #Customer_Sains c 
				ON mt.[CustomerGUID] = c.[CustomerGUID]
			AND [CashbackEarned] > 0
			GROUP BY	mt.[CustomerGUID]
					,	c.[FanID]

			delete AI
			FROM #AllIncentivised AI
			WHERE EXISTS (
							SELECT 1
							FROM #MaxSendCustomerA ms 
							where AI.[CustomerGUID] = ms.[CustomerGUID]
							and ms.LastSenddate <= dateadd(dd,2,AI.TranDate)
							) 
							
			delete AI
			FROM #AllIncentivised AI
			WHERE EXISTS (
							SELECT 1
							FROM #MaxSendCustomerA ms 
							where AI.[CustomerGUID] = ms.[CustomerGUID]
							and AI.Trandate <= ms.lastsenddate
							) 

			INSERT INTO [Email].[Trigger_Sainsburys]
			select	[FanID]
				,	[CustomerGUID]
				,	cast(getdate() as date),'A'
			from #AllIncentivised

		END

	/*******************************************************************************************************************************************
		4.	Customer B -	Fetch cardholders who haven't shopped in the last 14 days to recieve a reminder email 
	*******************************************************************************************************************************************/

		IF CAST(GETDATE() AS date) >= '2024-08-01' AND CAST(GETDATE() AS date) <= '2024-10-11'

		BEGIN

			drop table if exists #MaxSend
			SELECT	[CustomerGUID]
				,	[FanID]
				,	[LastSenddate] = MAX(SendDate)
			into #MaxSend
			from [Email].[Trigger_Sainsburys]
			group by	[CustomerGUID]
					,	[FanID]	

			DROP TABLE IF EXISTS #NotShoppedInLast14Days
			SELECT	[CustomerGUID]
				,	[FanID]
				,	[IronOfferID]
			INTO #NotShoppedInLast14Days
			FROM #Customer_Sains c
			WHERE NOT EXISTS (
				SELECT 1
				FROM #MatchedTransactions_Sains mt
				WHERE TransactionDate >= DATEADD(DAY, -14, CAST(GETDATE() AS DATE))
				AND mt.[OfferGUID] = c.[OfferGUID]    
				AND mt.[CustomerGUID] = c.[CustomerGUID]
				AND [CashbackEarned] > 0)

		--exclude customer if they have had an email in 14 days 
			delete n 
			from #NotShoppedInLast14Days n
			where exists (
							select 1 
							from #MaxSend ms 
							where n.[CustomerGUID] = ms.[CustomerGUID]
							and ms.LastSenddate > DATEADD(DAY, -14, CAST(GETDATE() AS DATE))
							)


			--UPDATE Warehouse.SmartEmail.DailyData
			--SET SainsReminder = CAST(GETDATE() AS DATE)
			--WHERE FanID IN (SELECT FanID FROM #NotShoppedInLast14Days)

			INSERT INTO [Email].[Trigger_Sainsburys]
			select	[FanID]
				,	[CustomerGUID]
				,	cast(getdate() as date)
				,	'B'
			from #NotShoppedInLast14Days


		END

		drop table if exists #SainsEarnConfirmation 
		SELECT [CustomerGUID],SendDate
		into #SainsEarnConfirmation
		FROM [Email].[Trigger_Sainsburys]
		WHERE customerType = 'A'
		and SendDate = cast(getdate() as date)

		drop table if exists #SainsReminder
		SELECT [CustomerGUID],SendDate
		into #SainsReminder
		FROM [Email].[Trigger_Sainsburys]
		WHERE customerType = 'B'
		and SendDate = cast(getdate() as date)

	/*******************************************************************************************************************************************
		8.	Truncate final table and populate with all fields
	*******************************************************************************************************************************************/
	
		BEGIN TRAN	--	Delta Processing

		/***************************************************************************************************************************************
			8.1.	If the Daily Calcs haven't already run today, Truncate yesterdays table and copy data from todays table, before updates are made
		***************************************************************************************************************************************/


			DECLARE @Today_DailyDataLog DATE = @ExecutionDate
				,	@DailyDataLogEntriesForToday INT
				,	@Weekday VARCHAR(15) = (SELECT DATENAME (dw , @ExecutionDate))

			SELECT @DailyDataLogEntriesForToday = COUNT(*)
			FROM [Email].[EmailDailyDataLog]
			WHERE CONVERT(DATE, [CompletionDate]) = @Today_DailyDataLog

			IF @DailyDataLogEntriesForToday = 0 --	AND DATENAME (dw , @Today_DailyDataLog) NOT IN ('Saturday', 'Sunday')
				BEGIN

					TRUNCATE TABLE [Email].[DailyData_PreviousDay]
					
					--IF DATENAME (dw , @Today_DailyDataLog) != 'Monday'
					--	BEGIN

							INSERT INTO [Email].[DailyData_PreviousDay]
							SELECT * 
							FROM [Email].[DailyData]

					--	END

				END


		/***************************************************************************************************************************************
			8.2.	Truncate final table and populate with all fields 
		***************************************************************************************************************************************/
		
			TRUNCATE TABLE [Email].[DailyData]

			INSERT INTO [Email].[DailyData] (	[FanID]
											,	[CustomerGUID]
											,	[Email]
											,	[PublisherID]
											,	[CustomerSegment]
											,	[LoyaltyAccount]
											,	[IsLoyalty]
											,	[Title]
											,	[FirstName]
											,	[LastName]
											,	[DOB]
											,	[CashbackAvailable]
											,	[CashbackPending]
											,	[CashbackLTV]
											,	[PartialPostCode]
											,	[Marketable]
											,	[MarketableByEmail]
											,	[EmailTracking]
											,	[FirstEarn_Date]
											,	[FirstEarn_Amount]
											,	[FirstEarn_RetailerName]
											,	[FirstEarn_Type]
											,	[FirstEarn_DD]
											,	[FirstEarn_Mobile]
											,	[MobileDormancy]
											,	[Reached5GBP_Date]
											,	[RedeemReminder_Day]
											,	[AccountType]
											,	[TriggerType]
											,	[WelcomeEmailCode]
											,	[SainsReminder]
											,	[SainsEarnConfirmation]
											,	[FirstEarnTravel]
											,	[TravelAdded]
											,	[IsDebit]
											,	[IsCredit])
			SELECT	DISTINCT
					[FanID] = cu.[FanID]
				,	[CustomerGUID] = cu.[CustomerGUID]
				,	[Email] = cu.[Email]
				,	[PublisherID] = cu.[ClubID]
				,	[CustomerSegment] = COALESCE(cu.[AccountType], '')
				,	[LoyaltyAccount] = cu.[LoyaltyAccount]
				,	[IsLoyalty] = cu.[IsLoyalty]
				,	[Title] = COALESCE(cu.[Title], '')
				,	[FirstName] = cu.[FirstName]
				,	[LastName] = cu.[LastName]
				,	[DOB] = COALESCE(cu.[DOB], '1900-01-01')
				,	[CashbackAvailable] = cu.[CashbackAvailable]
				,	[CashbackPending] = cu.[CashbackPending]
				,	[CashbackLTV] = cu.[CashbackLTV]
				,	[PartialPostCode] = cu.[PostCodeDistrict]
				,	[Marketable] =	CASE
										WHEN cu.[MarketableByEmail] = 1 THEN 1
										ELSE 0
									END
				,	[MarketableByEmail] = cu.[MarketableByEmail]
				,	[EmailTracking] = cu.[EmailTracking]
				,	[FirstEarn_Date] = COALESCE(pos.[TranDate], '1900-01-01')
				,	[FirstEarn_Amount] = COALESCE(pos.[CashbackAmount], '0')
				,	[FirstEarn_RetailerName] = COALESCE(pos.[PartnerName], '')
				,	[FirstEarn_Type] = COALESCE(pos.[FirstEarn_Type], '')
				,	[FirstEarn_DD] = dd.[FirstEarn_Type]
				,	[FirstEarn_Mobile] = ml.[FirstEarn_Type]
				,	[MobileDormancy] = CASE WHEN md.[CustomerGUID] IS NOT NULL THEN 1 ELSE 0 END
				,	[Reached5GBP_Date] = COALESCE(fp.[Reach5GBPDate], '1900-01-01')
				,	[RedeemReminder_Day] = CASE WHEN rr.[CustomerGUID] IS NOT NULL THEN 1 ELSE 0 END
				,	[AccountType] = pm.[TypeDesc]
				,	[TriggerType] = pm.[TriggerType]
				,	wc.[WelcomeEmailCode]
				,   [SainsReminder] = sr.SendDate
				,   [SainsEarnConfirmation] = sec.SendDate
				,	[FirstEarnTravel] = pos.[IsTravel]
				,	[TravelAdded] =	CASE
										WHEN wc.[WelcomeEmailCode] = 'W9' THEN 2
										WHEN wc.[WelcomeEmailCode] = 'W10' THEN 1
									END
				,	[IsDebit] = cu.[IsDebit]
				,	[IsCredit] = cu.[IsCredit]
			FROM #Customer cu
			LEFT JOIN #Trigger_FirstEarn_POS pos
				ON cu.[CustomerGUID] = pos.[CustomerGUID]
			LEFT JOIN #Trigger_FirstEarn_DD dd
				ON cu.[CustomerGUID] = dd.[CustomerGUID]
			LEFT JOIN #Trigger_FirstEarn_Mobile ml
				ON cu.[CustomerGUID] = ml.[CustomerGUID]
			LEFT JOIN #Trigger_Reach5Pounds fp
				ON cu.[CustomerGUID] = fp.[CustomerGUID]
			LEFT JOIN #Trigger_MobileDormant md
				ON cu.[CustomerGUID] = md.[CustomerGUID]
			LEFT JOIN #Trigger_RedemptionReminder rr
				ON cu.[CustomerGUID] = rr.[CustomerGUID]
			LEFT JOIN #Welcome_Cards wc
				ON cu.[CustomerGUID] = wc.[CustomerGUID]
			LEFT JOIN #ProdMonitoring_ToEmail pm
				ON cu.[CustomerGUID] = pm.[CustomerGUID]
			LEFT JOIN #SainsEarnConfirmation sec
				ON cu.[CustomerGUID] = sec.[CustomerGUID]
			LEFT JOIN #SainsReminder sr 
				ON cu.[CustomerGUID] = sr.[CustomerGUID]
				
		/***************************************************************************************************************************************
			8.3.	Calculate Delta records
		***************************************************************************************************************************************/

			TRUNCATE TABLE [Email].[Actito_Deltas]
		
			INSERT INTO [Email].[Actito_Deltas]
			SELECT * 
			FROM [Email].[DailyData]
			EXCEPT 
			SELECT * 
			FROM [Email].[DailyData_PreviousDay]

			EXEC [Email].[Newsletter_DailyDataSampleCustomers_Populate]

		COMMIT TRAN	--	Delta Processing


	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'


	INSERT INTO [Email].[EmailDailyDataLog]
	SELECT @ExecutionDate
	
	RETURN 0; -- normal exit here

END TRY
BEGIN CATCH

	-- Grab the error details
	SELECT  
		@ERROR_NUMBER = ERROR_NUMBER(), 
		@ERROR_SEVERITY = ERROR_SEVERITY(), 
		@ERROR_STATE = ERROR_STATE(), 
		@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
		@ERROR_LINE = ERROR_LINE(),   
		@ERROR_MESSAGE = ERROR_MESSAGE();
	SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

	IF @@TRANCOUNT > 0 ROLLBACK TRAN;

	-- Insert the error into the ErrorLog
	INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
	VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);

	-- Regenerate an error to return to caller
	SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
	RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

	-- Return a failure
	RETURN -1;
END CATCH

RETURN 0; -- should never run

END
GO
