USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Redemptions_RedemptionOffers]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[Redemptions_RedemptionOffers]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	/*******************************************************************************************************************************************
			1.		Find latest redemption files
	*******************************************************************************************************************************************/
	
			MERGE [Derived].[RedemptionOffers] target												-- Destination table
			USING [WHB].[Inbound_RedemptionOffers] source											-- Source table
			ON target.[RedemptionOfferGUID] = source.[RedemptionOfferGUID]							-- Match criteria

			WHEN MATCHED THEN
				UPDATE SET	target.[RedemptionPartnerGUID]			= source.[RedemptionPartnerGUID]
						,	target.[Currency]						= source.[Currency]
						,	target.[PublisherID]					= source.[PublisherID]

						,	target.[TradeUp_CashbackRequired]		= source.[Amount]
						,	target.[TradeUp_MarketingPercentage]	= source.[MarketingPercentage]
						,	target.[TradeUp_WarningThreshold]		= source.[WarningThreshold]
						,	target.[Status]							= source.[Status]
						,	target.[Priority]						= source.[Priority]
						,	target.[RedemptionOfferType]			= 'Trade Up'

			WHEN NOT MATCHED THEN																	-- If not matched, add new rows
				INSERT ([RedemptionPartnerGUID]
					,	[PublisherID]
					,	[Currency]
					,	[RedemptionOfferGUID]
					,	[TradeUp_CashbackRequired]
					,	[TradeUp_MarketingPercentage]
					,	[TradeUp_WarningThreshold]
					,	[Status]
					,	[Priority]
					,	[RedemptionOfferType])
				VALUES (source.[RedemptionPartnerGUID]
					,	source.[PublisherID]
					,	source.[Currency]
					,	source.[RedemptionOfferGUID]
					,	source.[Amount]
					,	source.[MarketingPercentage]
					,	source.[WarningThreshold]
					,	source.[Status]
					,	source.[Priority]
					,	'Trade Up');

	/*******************************************************************************************************************************************
			2.		Find latest charity files
	*******************************************************************************************************************************************/
	
			MERGE [Derived].[RedemptionOffers] target												-- Destination table
			USING [WHB].[Inbound_CharityOffers] source											-- Source table
			ON target.[RedemptionOfferGUID] = source.[CharityOfferGUID]							-- Match criteria

			WHEN MATCHED THEN
				UPDATE SET	target.[RedemptionPartnerGUID]			= source.[RedemptionPartnerGUID]
						,	target.[Currency]						= source.[Currency]

						,	target.[RedemptionOfferID]				= source.[CharityItemID]
						,	target.[Charity_MinimumCashback]		= source.[MinimumAmount]
						,	target.[Status]							= source.[Status]
						,	target.[Priority]						= source.[Priority]
						,	target.[RedemptionOfferType]			= 'Charity'

			WHEN NOT MATCHED THEN																	-- If not matched, add new rows
				INSERT ([RedemptionPartnerGUID]
					,	[Currency]
					,	[RedemptionOfferGUID]
					,	[RedemptionOfferID]
					,	[Charity_MinimumCashback]
					,	[Status]
					,	[Priority]
					,	[PublisherID]
					,	[RedemptionOfferType])
				VALUES (source.[RedemptionPartnerGUID]
					,	source.[Currency]
					,	source.[CharityOfferGUID]
					,	source.[CharityItemID]
					,	source.[MinimumAmount]
					,	source.[Status]
					,	source.[Priority]
					,	source.[PublisherID]
					,	'Charity');


		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END






GO
