USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[CustomerSegmentation]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[CustomerSegmentation] @DailySegmentation BIT = 0
AS

BEGIN

DECLARE @ExecutionDate DATE = GETDATE()

IF @DailySegmentation = 1 EXEC [Segmentation].[Segmentation_CustomerUpdate_Daily]

EXEC [Segmentation].[Segmentation_Loop_POS]	@ExecutionDate = @ExecutionDate
										,	@DailySegmentation = @DailySegmentation
										,	@PartnerID = NULL

END
GO
