USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_IronOfferMember_DailySegmentation]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[PartnersOffers_IronOfferMember_DailySegmentation] @RunDate DATE = NULL
AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Find the latest Segmented Offer Memberships that have been assigned
		*******************************************************************************************************************************************/
		
		--	DECLARE @RunDate DATE = GETDATE()

			DECLARE @TwoDaysAgo DATE = DATEADD(DAY, -2, @RunDate)
			
			DROP TABLE IF EXISTS #OfferProcessLog
			SELECT	opl.[IronOfferID]
				,	opl.[AddedDate]
				,	[ProcessedDate] = MIN(opl.[ProcessedDate])
			INTO #OfferProcessLog
			FROM [Segmentation].[OfferProcessLog] opl
			WHERE @TwoDaysAgo < opl.[ProcessedDate]
			AND opl.[Processed] = 1
			GROUP BY	opl.[IronOfferID]
					,	opl.[AddedDate]

			CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #OfferProcessLog ([IronOfferID], [AddedDate])
			
			DROP TABLE IF EXISTS #SegmentedIronOfferMember
			SELECT	DISTINCT
					[OfferGUID] = iof.[HydraOfferID]
				,	[IronOfferID] = iof.[IronOfferID]
				,	[CustomerGUID] = cu.[CustomerGUID]
				,	[CompositeID] = cu.[CompositeID]
				,	[StartDate] = oma.[StartDate]
				,	[EndDate] = oma.[EndDate]
				,	[ImportDate] = opl.[ProcessedDate]
			INTO #SegmentedIronOfferMember
			FROM [Segmentation].[OfferMemberAddition_Daily] oma
			INNER JOIN [Derived].[IronOffer] iof
				ON oma.[IronOfferID] = iof.[IronOfferID]
			INNER JOIN [Derived].[Customer] cu
				ON oma.[CompositeID] = cu.[CompositeID]
			INNER JOIN #OfferProcessLog opl
				ON oma.[IronOfferID] = opl.[IronOfferID]
				AND oma.[AddedDate] = opl.[AddedDate]

		/*******************************************************************************************************************************************
			3.	Split out the rows that need to be added [Derived].[IronOfferMember]
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #IronOfferMember
			SELECT	siom.[OfferGUID]
				,	siom.[IronOfferID]
				,	siom.[CustomerGUID]
				,	siom.[CompositeID]
				,	siom.[StartDate]
				,	siom.[EndDate]
				,	siom.[ImportDate]
			INTO #IronOfferMember
			FROM #SegmentedIronOfferMember siom
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[IronOfferMember] iom
								WHERE siom.[IronOfferID] = iom.[IronOfferID]
								AND siom.[CompositeID] = iom.[CompositeID]
								AND siom.[StartDate] = iom.[StartDate]
								AND siom.[EndDate] = iom.[EndDate])
								
			CREATE CLUSTERED INDEX [CSX_Dates] ON #SegmentedIronOfferMember ([StartDate], [EndDate])
			CREATE NONCLUSTERED INDEX [IX_DatesGUIDs_All] ON #SegmentedIronOfferMember ([StartDate], [EndDate], [OfferGUID], [CustomerGUID]) INCLUDE ([IronOfferID], [CompositeID], [ImportDate])
			
		/*******************************************************************************************************************************************
			3.	Insert the latest Offer Memberships to [Derived].[IronOfferMember]
		*******************************************************************************************************************************************/
	
			DECLARE	@RowCount BIGINT
				,	@ModifiedDate DATETIME

			SET @RowCount = 500000

			WHILE @RowCount = 500000
				BEGIN

					SET @ModifiedDate = GETDATE()

					;WITH
					IronOfferMember_MissingRows AS (SELECT	TOP(@RowCount)
															iom.[OfferGUID]
														,	iom.[IronOfferID]
														,	iom.[CustomerGUID]
														,	iom.[CompositeID]
														,	iom.[StartDate]
														,	iom.[EndDate]
														,	iom.[ImportDate]
													FROM #IronOfferMember iom
													ORDER BY	[OfferGUID]
															,	[CustomerGUID])

					DELETE
					FROM IronOfferMember_MissingRows
					OUTPUT	DELETED.[OfferGUID]
						,	DELETED.[IronOfferID]
						,	DELETED.[CustomerGUID]
						,	DELETED.[CustomerGUID]
						,	DELETED.[CompositeID]
						,	DELETED.[StartDate]
						,	DELETED.[EndDate]
						,	DELETED.[ImportDate]
						,	@ModifiedDate
					INTO [Derived].[IronOfferMember]
				--	OPTION (OPTIMIZE FOR (@RowCount = 150000)) 

					SET @RowCount = @@ROWCOUNT

				END

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
