USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Customer_SchemeMembership]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_SchemeMembership] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch all customer details
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Customer
			SELECT	cu.[CustomerGUID]
				,	cu.[FanID]
				,	cu.[AccountType]
				,	[IsLoyalty] =	CASE
										WHEN cu.[AccountType] = 'Premier' THEN 1
										ELSE 0
									END
				,	[LoyaltyAccount] = 0
			INTO #Customer
			FROM [WHB].[Customer] cu			

			CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Customer ([CustomerGUID])

		/*******************************************************************************************************************************************
			2.	Fetch all loyalty account customers
		*******************************************************************************************************************************************/

			/***************************************************************************************************************************************
				2.1.	Fetch all product types
			***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #BankAccountProduct
				SELECT	bap.[BankAccountProductID]
					,	bap.[BankAccountProductCode]
					,	bap.[BankAccountProductName]
				INTO #BankAccountProduct
				FROM [WHB].[Inbound_BankAccountProduct] bap
				WHERE bap.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE')

				CREATE UNIQUE CLUSTERED INDEX [UCIX_BankAccountProductID] ON #BankAccountProduct ([BankAccountProductID])

			/***************************************************************************************************************************************
				2.2.	Fetch all Bank Account matching the above product types
			***************************************************************************************************************************************/
	
				DROP TABLE IF EXISTS #BankAccountTypeHistory
				SELECT	DISTINCT
						bath.[BankAccountGUID]
				INTO #BankAccountTypeHistory
				FROM [WHB].[Inbound_BankAccountTypeHistory] bath
				WHERE EXISTS (	SELECT	1
								FROM #BankAccountProduct bap
								WHERE bath.[BankAccountProductID] = bap.[BankAccountProductID])
				AND bath.[EndDate] IS NULL

				CREATE UNIQUE CLUSTERED INDEX [UCIX_BankAccountGUID] ON #BankAccountTypeHistory ([BankAccountGUID])

			/***************************************************************************************************************************************
				2.3.	Fetch all customers matching the above Bank Accounts
			***************************************************************************************************************************************/
	
				DROP TABLE IF EXISTS #BankAccountCustomerLinks
				SELECT	DISTINCT
						bacl.[CustomerGUID]
				INTO #BankAccountCustomerLinks
				FROM [WHB].[Inbound_BankAccountCustomerLinks] bacl
				WHERE EXISTS (	SELECT	1
								FROM #BankAccountTypeHistory bath
								WHERE bacl.[BankAccountGUID] = bath.[BankAccountGUID])
				AND bacl.[EndDate] IS NULL

				CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #BankAccountCustomerLinks ([CustomerGUID])

			/***************************************************************************************************************************************
				2.4.	Update the Loyalty Account flag for customers found above
			***************************************************************************************************************************************/
	
				UPDATE cu
				SET cu.[LoyaltyAccount] = 1
				FROM #Customer cu
				WHERE EXISTS (	SELECT 1
								FROM #BankAccountCustomerLinks bacl
								WHERE cu.[CustomerGUID] = bacl.[CustomerGUID])

		/*******************************************************************************************************************************************
			3.	Find each customers Scheme Membership type
		*******************************************************************************************************************************************/

			/***************************************************************************************************************************************
				3.1.	Fetch all Scheme Membership types
			***************************************************************************************************************************************/
	
				DROP TABLE IF EXISTS #SchemeMembershipType
				SELECT	cu.[CustomerGUID]
					,	cu.[FanID]
					,	[LoyaltyAccount] = COALESCE(cu2.[LoyaltyAccount], 0)
					,	[SchemeMembershipTypeID] =	CASE
														WHEN cu.[CurrentlyActive] = 0 THEN 8
														WHEN cpm.[PaymentMethodsAvailableID] IN (0) THEN 4
														WHEN cpm.[PaymentMethodsAvailableID] IN (1) THEN 5
														WHEN cpm.[PaymentMethodsAvailableID] IN (2) THEN 2
														WHEN cpm.[PaymentMethodsAvailableID] IN (3) THEN 4
														ELSE NULL
													END
				INTO #SchemeMembershipType
				FROM [WHB].[Customer] cu
				INNER JOIN [Derived].[Customer_PaymentMethodsAvailable] cpm
					ON cu.[CustomerGUID] = cpm.[CustomerGUID]
					AND cpm.[EndDate] IS NULL
				LEFT JOIN #Customer cu2
					ON cu.[CustomerGUID] = cu2.[CustomerGUID]

			/***************************************************************************************************************************************
				3.2.	Update Scheme Membership types fpr Loyalty Account customers
			***************************************************************************************************************************************/
			
				UPDATE smt
				SET smt.[SchemeMembershipTypeID] =	CASE
														WHEN smt.[SchemeMembershipTypeID] IN (1,2,5) THEN 6
														WHEN smt.[SchemeMembershipTypeID] IN (3,4) THEN 7
														ELSE smt.[SchemeMembershipTypeID]
													 END
				FROM #SchemeMembershipType smt
				WHERE smt.[LoyaltyAccount] = 1
				AND smt.[SchemeMembershipTypeID] IN (1, 2, 3, 4, 5)

		/*******************************************************************************************************************************************
			4.	End existing entries in [Derived].[Customer_SchemeMembership] where the type has changed
		*******************************************************************************************************************************************/

			--	DECLARE @RunDate DATE = GETDATE()
			DECLARE @EndDate DATE = DATEADD(DAY, -1, @RunDate)

			UPDATE csm
			SET csm.[EndDate] = @EndDate
			FROM [Derived].[Customer_SchemeMembership] csm
			WHERE csm.[EndDate] IS NULL
			AND NOT EXISTS (SELECT 1
							FROM #SchemeMembershipType smt
							WHERE csm.[CustomerGUID] = smt.[CustomerGUID]
							AND csm.[SchemeMembershipTypeID] = smt.[SchemeMembershipTypeID])

		/*******************************************************************************************************************************************
			5. For new customers or customers who have had a change type, insert to [Derived].[Customer_SchemeMembership]
		*******************************************************************************************************************************************/
		
			--	DECLARE @RunDate DATE = GETDATE()

			INSERT INTO [Derived].[Customer_SchemeMembership] (	[CustomerGUID]
															,	[FanID]		
															,	[SchemeMembershipTypeID]
															,	[StartDate]
															,	[EndDate])
			SELECT	smt.[CustomerGUID]
				,	smt.[FanID]		
				,	smt.[SchemeMembershipTypeID]
				,	[StartDate] = @RunDate
				,	[EndDate] = NULL
			FROM #SchemeMembershipType smt
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_SchemeMembership] csm
								WHERE smt.[CustomerGUID] = csm.[CustomerGUID]
								AND csm.[EndDate] IS NULL)

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
