USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[LoginInfo_Load]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[LoginInfo_Load] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Populate new User Agent details
		*******************************************************************************************************************************************/

			DECLARE @Query varchar(400)
			SET @Query = '"E:\DataOpsFunctions\useragent-parser\useragent-parser.exe"'

			DROP TABLE IF EXISTS #Output;
			CREATE TABLE #Output ([Line] varchar(255))

			INSERT #Output EXEC xp_cmdshell @Query

		/*******************************************************************************************************************************************
			2.	Populate errors
		*******************************************************************************************************************************************/

			DECLARE @RunID INT
			SELECT @RunID = NEXT VALUE FOR [WHB].[LoginInfo_Log_RunID]

			INSERT INTO [WHB].[LoginInfo_Log] ([Msg], [isError], [CreatedDateTime], [RunID])
			SELECT	[Msg] = o.[Line]
				,	[isError] = x.[isError]
				,	[CreatedDateTime] = GETDATE()
				,	[RunID] = @RunID
			FROM #Output o
			CROSS APPLY (	SELECT CAST(COALESCE(MAX(1), 0) AS BIT)
							FROM #Output
							WHERE o.[Line] LIKE '%Traceback%') x([isError])

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
