USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_WelcomeIronOfferMembers_Update]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Inbound_WelcomeIronOfferMembers_Update] @FileNameDate DATE = NULL

AS
BEGIN

	IF @FileNameDate IS NULL SET @FileNameDate = GETDATE()

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	IF @FileNameDate IS NULL SET @FileNameDate = GETDATE()

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'WelcomeIronOfferMembers'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'WelcomeIronOfferMembers'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -1, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'WelcomeIronOfferMembers'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[CustomerGUID]
				,	i.[OfferGUID]
				,	i.[StartDate]
				,	i.[EndDate]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[WelcomeIronOfferMembers] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[CustomerGUID]
					,	i.[OfferGUID]
					,	i.[StartDate]
					,	i.[EndDate]

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
		
			MERGE [WHB].[Inbound_WelcomeIronOfferMembers] target									-- Destination table
			USING #Inbound source																	-- Source table
			ON target.[CustomerGUID] = source.[CustomerGUID]										-- Match criteria
			AND target.[OfferGUID] = source.[OfferGUID]												-- Match criteria
			AND target.[StartDate] = source.[StartDate]												-- Match criteria
			AND target.[EndDate] = source.[EndDate]													-- Match criteria

			WHEN MATCHED THEN																		-- If matched, update to new value
				UPDATE SET	target.[InboundID] = source.[ID]
						,	target.[CustomerGUID] = source.[CustomerGUID]
						,	target.[OfferGUID] = source.[OfferGUID]
						,	target.[StartDate] = source.[StartDate]
						,	target.[EndDate] = source.[EndDate]
						,	target.[LoadDate] = source.[LoadDate]
						,	target.[FileName] = source.[FileName]


			WHEN NOT MATCHED THEN																	-- If not matched, add new rows
				INSERT ([InboundID]
					,	[CustomerGUID]
					,	[OfferGUID]
					,	[StartDate]
					,	[EndDate]
					,	[LoadDate]
					,	[FileName])
				VALUES (source.[ID]
					,	source.[CustomerGUID]
					,	source.[OfferGUID]
					,	source.[StartDate]
					,	source.[EndDate]
					,	source.[LoadDate]
					,	source.[FileName]);

		SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Loaded rows to [WHB].[Inbound_WelcomeIronOfferMembers] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] 'Inbound_WelcomeIronOfferMembers', @msg


		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'WelcomeIronOfferMembers' AND [FileProcessed] = 0) > 0


		/*******************************************************************************************************************************************
			6.	Calculate the extended Start Dates & End Dates
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #CycleDates
			SELECT	DISTINCT
					[StartDate]
				,	[EndDate]
				,	[StartDateTime] = CONVERT([datetime2](7), [StartDate])
				,	[EndDateTime] = CONVERT([datetime2](7), CONVERT([datetime], [EndDate]) + CONVERT([datetime], '1900-01-01 23:59:59'))
			INTO #CycleDates
			FROM [WH_AllPublishers].[Derived].[HalfCycleDates]

			CREATE UNIQUE CLUSTERED INDEX [CIX_StartEnd] ON #CycleDates ([StartDate], [EndDate])

			UPDATE iom
			SET [PushedToProduction] = -1
			FROM [WHB].[Inbound_WelcomeIronOfferMembers] iom
			WHERE EXISTS (	SELECT 1
							FROM #CycleDates cd
							WHERE CONVERT(DATE, iom.[EndDate]) = CONVERT(DATE, cd.[EndDate]))
			AND [PushedToProduction] IS NULL
			
			UPDATE iom
			SET iom.[ExtendedStartDate] = CONVERT(DATE, DATEADD(DAY, 1, iom.[EndDate]))
			,	iom.[ExtendedEndDate] =	cd.[EndDateTime]
			FROM [WHB].[Inbound_WelcomeIronOfferMembers] iom
			INNER JOIN #CycleDates cd
				ON iom.[EndDate] >= cd.[StartDate]
				AND iom.[EndDate] < DATEADD(DAY, 1, cd.[EndDate])
			INNER JOIN [Derived].[IronOffer] iof
				ON iom.[OfferGUID] = iof.[HydraOfferID]
			WHERE iom.[PushedToProduction] IS NULL

			UPDATE [WHB].[Inbound_WelcomeIronOfferMembers]
			SET [PushedToProduction] = -1
			WHERE CONVERT(DATE, [StartDate]) = CONVERT(DATE, [ExtendedStartDate])
			AND [PushedToProduction] IS NULL

			UPDATE [WHB].[Inbound_WelcomeIronOfferMembers]
			SET [PushedToProduction] = -2
			WHERE [ExtendedStartDate] IS NULL
			AND [PushedToProduction] IS NULL
			
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
