USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_Customers_Update]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Inbound_Customers_Update] @FileNameDate DATE = NULL

AS
BEGIN

	IF @FileNameDate IS NULL SET @FileNameDate = GETDATE()

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Customers'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Customers'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Customers'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[CustomerID]
				,	i.[CustomerGUID]
				,	i.[SourceUID]
				,	i.[Forename]
				,	i.[Surname]
				,	[Title] = COALESCE(i.[Title], '')
				,	i.[PostCode]
				,	i.[DateOfBirth]
				,	i.[Gender]
				,	i.[EmailAddress]
				,	i.[BankID]
				,	i.[MarketableByEmail]
				,	i.[MarketableByPush]
				,	i.[RegistrationDate]
				,	i.[DeactivatedDate]
				,	i.[OptOutDate]
				,	i.[ClosedDate]
				,	i.[EmailTracking]
				,	i.[CustomerStatusID]
				,	i.[EmailImages]
				,	i.[MarketableByPhone]
				,	i.[MarketableByPaper]
				,	i.[MarketableBySMS]
				,	i.[SegmentTypeID]
				,	i.[DeceasedDate]
				,	i.[RegistrationTypeID]
				,	i.[TelephoneNumber]
				,	i.[MobileNumber]
				,	i.[FailedLogins]
				,	i.[AgreedTermssAndCons]
				,	i.[PreferredLanguageCode]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[Version]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[Customers] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[CustomerID]
					,	i.[CustomerGUID]
					,	i.[SourceUID]
					,	i.[Forename]
					,	i.[Surname]
					,	COALESCE(i.[Title], '')
					,	i.[PostCode]
					,	i.[DateOfBirth]
					,	i.[Gender]
					,	i.[EmailAddress]
					,	i.[BankID]
					,	i.[MarketableByEmail]
					,	i.[MarketableByPush]
					,	i.[RegistrationDate]
					,	i.[DeactivatedDate]
					,	i.[OptOutDate]
					,	i.[ClosedDate]
					,	i.[EmailTracking]
					,	i.[CustomerStatusID]
					,	i.[EmailImages]
					,	i.[MarketableByPhone]
					,	i.[MarketableByPaper]
					,	i.[MarketableBySMS]
					,	i.[SegmentTypeID]
					,	i.[DeceasedDate]
					,	i.[RegistrationTypeID]
					,	i.[TelephoneNumber]
					,	i.[MobileNumber]
					,	i.[FailedLogins]
					,	i.[AgreedTermssAndCons]
					,	i.[PreferredLanguageCode]
					,	i.[CreatedAt]
					,	i.[UpdatedAt]
					,	i.[Version]

			UPDATE #Inbound SET [SegmentTypeID] = 0 WHERE [SegmentTypeID] = -1
			UPDATE #Inbound SET [RegistrationTypeID] = 0 WHERE [RegistrationTypeID] = -1

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
		
			MERGE [WHB].[Inbound_Customers] target												-- Destination table
			USING #Inbound source																-- Source table
			ON target.[CustomerGUID] = source.[CustomerGUID]									-- Match criteria

			WHEN MATCHED THEN																	-- If matched, update to new value
				UPDATE SET	target.[InboundID] = source.[ID]
						,	target.[CustomerID] = source.[CustomerID]
						,	target.[CustomerGUID] = source.[CustomerGUID]
						,	target.[SourceUID] = source.[SourceUID]
						,	target.[Forename] = source.[Forename]
						,	target.[Surname] = source.[Surname]
						,	target.[Title] = source.[Title]
						,	target.[PostCode] = source.[PostCode]
						,	target.[DateOfBirth] = source.[DateOfBirth]
						,	target.[Gender] = source.[Gender]
						,	target.[EmailAddress] = source.[EmailAddress]
						,	target.[BankID] = source.[BankID]
						,	target.[MarketableByEmail] = source.[MarketableByEmail]
						,	target.[MarketableByPush] = source.[MarketableByPush]
						,	target.[RegistrationDate] = source.[RegistrationDate]
						,	target.[DeactivatedDate] = source.[DeactivatedDate]
						,	target.[OptOutDate] = source.[OptOutDate]
						,	target.[ClosedDate] = source.[ClosedDate]
						,	target.[EmailTracking] = source.[EmailTracking]
						,	target.[CustomerStatusID] = source.[CustomerStatusID]
						,	target.[EmailImages] = source.[EmailImages]
						,	target.[MarketableByPhone] = source.[MarketableByPhone]
						,	target.[MarketableByPaper] = source.[MarketableByPaper]
						,	target.[MarketableBySMS] = source.[MarketableBySMS]
						,	target.[SegmentTypeID] = source.[SegmentTypeID]
						,	target.[DeceasedDate] = source.[DeceasedDate]
						,	target.[RegistrationTypeID] = source.[RegistrationTypeID]
						,	target.[TelephoneNumber] = source.[TelephoneNumber]
						,	target.[MobileNumber] = source.[MobileNumber]
						,	target.[FailedLogins] = source.[FailedLogins]
						,	target.[AgreedTermssAndCons] = source.[AgreedTermssAndCons]
						,	target.[PreferredLanguageCode] = source.[PreferredLanguageCode]
						,	target.[CreatedAt] = source.[CreatedAt]
						,	target.[UpdatedAt] = source.[UpdatedAt]
						,	target.[Version] = source.[Version]
						,	target.[LoadDate] = source.[LoadDate]
						,	target.[FileName] = source.[FileName]


			WHEN NOT MATCHED THEN															-- If not matched, add new rows
				INSERT ([InboundID]
					,	[CustomerID]
					,	[CustomerGUID]
					,	[SourceUID]
					,	[Forename]
					,	[Surname]
					,	[Title]
					,	[PostCode]
					,	[DateOfBirth]
					,	[Gender]
					,	[EmailAddress]
					,	[BankID]
					,	[MarketableByEmail]
					,	[MarketableByPush]
					,	[RegistrationDate]
					,	[DeactivatedDate]
					,	[OptOutDate]
					,	[ClosedDate]
					,	[EmailTracking]
					,	[CustomerStatusID]
					,	[EmailImages]
					,	[MarketableByPhone]
					,	[MarketableByPaper]
					,	[MarketableBySMS]
					,	[SegmentTypeID]
					,	[DeceasedDate]
					,	[RegistrationTypeID]
					,	[TelephoneNumber]
					,	[MobileNumber]
					,	[FailedLogins]
					,	[AgreedTermssAndCons]
					,	[PreferredLanguageCode]
					,	[CreatedAt]
					,	[UpdatedAt]
					,	[Version]
					,	[LoadDate]
					,	[FileName])
				VALUES (source.[ID]
					,	source.[CustomerID]
					,	source.[CustomerGUID]
					,	source.[SourceUID]
					,	source.[Forename]
					,	source.[Surname]
					,	source.[Title]
					,	source.[PostCode]
					,	source.[DateOfBirth]
					,	source.[Gender]
					,	source.[EmailAddress]
					,	source.[BankID]
					,	source.[MarketableByEmail]
					,	source.[MarketableByPush]
					,	source.[RegistrationDate]
					,	source.[DeactivatedDate]
					,	source.[OptOutDate]
					,	source.[ClosedDate]
					,	source.[EmailTracking]
					,	source.[CustomerStatusID]
					,	source.[EmailImages]
					,	source.[MarketableByPhone]
					,	source.[MarketableByPaper]
					,	source.[MarketableBySMS]
					,	source.[SegmentTypeID]
					,	source.[DeceasedDate]
					,	source.[RegistrationTypeID]
					,	source.[TelephoneNumber]
					,	source.[MobileNumber]
					,	source.[FailedLogins]
					,	source.[AgreedTermssAndCons]
					,	source.[PreferredLanguageCode]
					,	source.[CreatedAt]
					,	source.[UpdatedAt]
					,	source.[Version]
					,	source.[LoadDate]
					,	source.[FileName]);

		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'Customers' AND [FileProcessed] = 0) > 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END








GO
