USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_PartnerCommissionRule]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	
CREATE PROCEDURE [WHB].[PartnersOffers_PartnerCommissionRule]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Reload PartnerCommissionRule Data
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #PartnerCommissionRule_Inbound
			SELECT	DISTINCT
					PCR_ID = NULL
				,	[OfferDetailGUID] = iofd.[OfferDetailGUID]
				,	PartnerID = oi.PartnerID
				,	TypeID = 1	--	Marketing
				,	RewardType =	CASE
										WHEN iofd.IsBounty = 0 THEN 'Percentage'
										ELSE 'Bounty'
									END
				,	CommissionRate = iofd.MarketingRate
				,	Override = iofd.Override
				,	Status = iof.OfferStatusID
				,	Priority = iof.PrioritisationScore
				,	DeletionDate = NULL
				,	MaximumUsesPerFan = NULL
				,	[NumberofPriorTransactions] = NULL
				,	MinimumBasketSize = CASE
											WHEN iofd.MinimumSpendAmount = 0.00 AND iofd.MaximumSpendAmount = 0.00 THEN NULL
											ELSE iofd.MinimumSpendAmount
										END
				,	MaximumBasketSize = CASE
											WHEN iofd.MinimumSpendAmount = 0.00 AND iofd.MaximumSpendAmount = 0.00 THEN NULL
											ELSE iofd.MaximumSpendAmount
										END
				,	Channel = iof.OfferChannelID
				,	ClubID = oi.[PublisherID]
				,	IronOfferID = oi.IronOfferID
				,	OutletID = NULL
				,	CardHolderPresence = NULL
				,	[OfferCap] = iofd.[OfferCap]
			INTO #PartnerCommissionRule_Inbound
			FROM [WHB].[Inbound_Offer] iof
			INNER JOIN [WHB].[Inbound_OfferDetail] iofd
				ON iof.OfferGUID = iofd.OfferGUID
			INNER JOIN [WH_AllPublishers].[Derived].[OfferIDs] oi
				ON CONVERT(VARCHAR(64), iof.OfferGUID) = oi.OfferCode
			WHERE EXISTS (	SELECT 1
							FROM [Derived].[IronOffer] iof
							WHERE oi.IronOfferID = oi.IronOfferID)
			and PartnerID != 5033

			INSERT INTO #PartnerCommissionRule_Inbound
			SELECT	DISTINCT
					PCR_ID = NULL
				,	[OfferDetailGUID] = iofd.[OfferDetailGUID]
				,	PartnerID = oi.PartnerID
				,	TypeID = 2	--	Billing
				,	RewardType =	CASE
										WHEN iofd.IsBounty = 0 THEN 'Percentage'
										ELSE 'Bounty'
									END
				,	CommissionRate = iofd.BillingRate
				,	Override = iofd.Override
				,	Status = iof.OfferStatusID
				,	Priority = iof.PrioritisationScore
				,	DeletionDate = NULL
				,	MaximumUsesPerFan = NULL
				,	[NumberofPriorTransactions] = NULL
				,	MinimumBasketSize = CASE
											WHEN iofd.MinimumSpendAmount = 0.00 AND iofd.MaximumSpendAmount = 0.00 THEN NULL
											ELSE iofd.MinimumSpendAmount
										END
				,	MaximumBasketSize = CASE
											WHEN iofd.MinimumSpendAmount = 0.00 AND iofd.MaximumSpendAmount = 0.00 THEN NULL
											ELSE iofd.MaximumSpendAmount
										END
				,	Channel = iof.OfferChannelID
				,	ClubID = oi.[PublisherID]
				,	IronOfferID = oi.IronOfferID
				,	OutletID = NULL
				,	CardHolderPresence = NULL
				,	[OfferCap] = iofd.[OfferCap]
			FROM [WHB].[Inbound_Offer] iof
			INNER JOIN [WHB].[Inbound_OfferDetail] iofd
				ON iof.OfferGUID = iofd.OfferGUID
			INNER JOIN [WH_AllPublishers].[Derived].[OfferIDs] oi
				ON CONVERT(VARCHAR(64), iof.OfferGUID) = oi.OfferCode
			WHERE EXISTS (	SELECT 1
							FROM [Derived].[IronOffer] iof
							WHERE oi.IronOfferID = oi.IronOfferID)
			and PartnerID != 5033
							
			MERGE [Derived].[IronOffer_PartnerCommissionRule] target		-- Destination table
			USING #PartnerCommissionRule_Inbound source								-- Source table
				ON target.[OfferDetailGUID] = source.[OfferDetailGUID]				-- Match criteria
				AND target.[TypeID] = source.[TypeID]
				AND target.[ClubID] = source.[ClubID]				

				-- Match criteria

			WHEN MATCHED THEN
				UPDATE SET	target.[OfferDetailGUID]			= source.[OfferDetailGUID]				-- If matched, update to new value
						,	target.[PartnerID]					= source.[PartnerID]					-- If matched, update to new value
						,	target.[TypeID]						= source.[TypeID]						-- If matched, update to new value
						,	target.[RewardType]					= source.[RewardType]					-- If matched, update to new value
						,	target.[CommissionRate]				= source.[CommissionRate]				-- If matched, update to new value
						,	target.[Status]						= source.[Status]						-- If matched, update to new value
						,	target.[Override]					= source.[Override]						-- If matched, update to new value
						,	target.[Priority]					= source.[Priority]						-- If matched, update to new value
						,	target.[DeletionDate]				= source.[DeletionDate]					-- If matched, update to new value
						,	target.[MaximumUsesPerFan]			= source.[MaximumUsesPerFan]			-- If matched, update to new value
						,	target.[NumberofPriorTransactions]	= source.[NumberofPriorTransactions]	-- If matched, update to new value
						,	target.[MinimumBasketSize]			= source.[MinimumBasketSize]			-- If matched, update to new value
						,	target.[MaximumBasketSize]			= source.[MaximumBasketSize]			-- If matched, update to new value
						,	target.[Channel]					= source.[Channel]						-- If matched, update to new value
						,	target.[ClubID]						= source.[ClubID]						-- If matched, update to new value
						,	target.[IronOfferID]				= source.[IronOfferID]					-- If matched, update to new value
						,	target.[OutletID]					= source.[OutletID]						-- If matched, update to new value
						,	target.[CardHolderPresence]			= source.[CardHolderPresence]			-- If matched, update to new value
						,	target.[OfferCap]					= source.[OfferCap]						-- If matched, update to new value

			WHEN NOT MATCHED THEN													-- If not matched, add new rows
				INSERT ([OfferDetailGUID]
					,	[PartnerID]
					,	[TypeID]
					,	[RewardType]
					,	[CommissionRate]
					,	[Status]
					,	[Override]
					,	[Priority]
					,	[DeletionDate]
					,	[MaximumUsesPerFan]
					,	[NumberofPriorTransactions]
					,	[MinimumBasketSize]
					,	[MaximumBasketSize]
					,	[Channel]
					,	[ClubID]
					,	[IronOfferID]
					,	[OutletID]
					,	[CardHolderPresence]
					,	[OfferCap])
				VALUES (source.[OfferDetailGUID]
					,	source.[PartnerID]
					,	source.[TypeID]
					,	source.[RewardType]
					,	source.[CommissionRate]
					,	source.[Status]
					,	source.[Override]
					,	source.[Priority]
					,	source.[DeletionDate]
					,	source.[MaximumUsesPerFan]
					,	source.[NumberofPriorTransactions]
					,	source.[MinimumBasketSize]
					,	source.[MaximumBasketSize]
					,	source.[Channel]
					,	source.[ClubID]
					,	source.[IronOfferID]
					,	source.[OutletID]
					,	source.[CardHolderPresence]
					,	source.[OfferCap]);

		/*******************************************************************************************************************************************
			2.	Index Maint
		*******************************************************************************************************************************************/
		
			ALTER INDEX ALL ON [Derived].[IronOffer_PartnerCommissionRule] REBUILD
			ALTER INDEX ALL ON [Derived].[IronOffer_PartnerCommissionRule] REORGANIZE
			
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END





SELECT *
FROM [Inbound].[Offer]
WHERE [OfferName] = 'AT118/Lapsed'


SELECT *
FROM [Derived].[IronOffer]
ORDER BY	[StartDate] DESC
		,	[IronOfferName]
		,	[ClubID]
GO
