USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_FilesToProcess]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Inbound_FilesToProcess] @IndividualTableName VARCHAR(100) = NULL

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = COALESCE(OBJECT_NAME(@@PROCID), 'Manual')
		,	@msg VARCHAR(200)
		,	@RowsAffected INT

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch all the files & load datetimes for each of the tables in the Inbound Schema
		*******************************************************************************************************************************************/
		
		--	DECLARE @IndividualTableName VARCHAR(100) = NULL

			DROP TABLE IF EXISTS #InboundTables;
			SELECT	[RowID] = ROW_NUMBER() OVER (ORDER BY t.[name])
				,	[TableName] = t.[name]
				,	[SourceTable] = '[' + DB_NAME() + '].[' + s.[name] + '].[' + t.[name] + ']'
				,	[HasTable_LoadDate] = MAX(CASE WHEN c.[Name] = 'LoadDate' THEN 1 ELSE 0 END)
				,	[HasTable_FileName] = MAX(CASE WHEN c.[Name] = 'FileName' THEN 1 ELSE 0 END)
			INTO #InboundTables
			FROM [sys].[tables] t
			INNER JOIN [sys].[schemas] s
				ON t.[schema_id] = s.[schema_id]
			LEFT JOIN [sys].[columns] c
				ON t.[object_id] = c.[object_id]
			WHERE s.[name] = 'Inbound'
			AND t.[name] NOT IN ('ErrorLog', 'HistoricalTransactions', 'Transactions', 'Transactions_DD', 'S3FileNames')
			AND (	t.[name] = @IndividualTableName
				OR @IndividualTableName IS NULL)
			GROUP BY	t.[name]
					,	s.[name]
			HAVING MAX(CASE WHEN c.[Name] = 'LoadDate' THEN 1 ELSE 0 END) = 1
			AND MAX(CASE WHEN c.[Name] = 'FileName' THEN 1 ELSE 0 END) = 1

			DECLARE @RowID INT = 1
				,	@TableName VARCHAR(MAX)
				,	@SourceTable VARCHAR(MAX)
				,	@Query VARCHAR(MAX)

			WHILE 1 = 1
				BEGIN
					
					IF NOT EXISTS (SELECT 1 FROM #InboundTables WHERE @RowID = RowID)
						BREAK

					SELECT	@TableName = TableName
						,	@SourceTable = SourceTable
					FROM #InboundTables
					WHERE RowID = @RowID

					SET @Query = '	
									INSERT INTO [WHB].[Inbound_Files]
									SELECT	DISTINCT	
											''' + @TableName + '''
										,	[LoadDate] = st.[LoadDate]
										,	[FileName]
										,	[FileNameDate] = TRY_CONVERT(DATE, SUBSTRING([FileName], PATINDEX(''%20[0-9][0-9][0-9][0-9][0-9][0-9]%'', [FileName]), 8))
										,	[DataSource] = DB_NAME()
										,	0
									FROM ' + @SourceTable + ' st
									WHERE NOT EXISTS (	SELECT 1
														FROM [WHB].[Inbound_Files] f
														WHERE st.[FileName] = f.[FileName]
														AND st.[LoadDate] = f.[LoadDate]
														AND f.[TableName] = ''' + @TableName + ''')
									ORDER BY	[FileName]
											,	[LoadDate]'
					EXEC(@Query)

					SET @RowID = @RowID + 1

				END

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END




GO
