USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Redemptions_Redemptions]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[Redemptions_Redemptions]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	/***********************************************************************************************************************************************
			1.		Find all Cancelled Redemptions
	***********************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #CancelledRedemptions
			SELECT	[TransactionGUID] = ir.[RedemptionTransactionGUID]
			INTO #CancelledRedemptions
			FROM [WHB].[Inbound_Redemptions] ir
			WHERE ir.[Cancelled] = 1
			
			INSERT INTO #CancelledRedemptions
			SELECT	[TransactionGUID] = cr.[DonationTransactionGUID]
			FROM [WHB].[Inbound_CharityRedemptions] cr
			WHERE cr.[Cancelled] = 1

	/***********************************************************************************************************************************************
			1.		Insert all new Trade Up Redemptions
	***********************************************************************************************************************************************/

		/*******************************************************************************************************************************************
				1.1.	Fetch all new Trade Up Redemptions
		*******************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #TradeUp_Redemptions
			SELECT	ir.*
			INTO #TradeUp_Redemptions
			FROM [WHB].[Inbound_Redemptions] ir
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Redemptions] r
								WHERE ir.[RedemptionTransactionGUID] = r.[TransactionGUID])

			CREATE CLUSTERED INDEX [CIX_TranGUID] ON #TradeUp_Redemptions (RedemptionTransactionGUID)
			CREATE NONCLUSTERED INDEX [IX_CustGUID] ON #TradeUp_Redemptions ([CustomerGUID])

		/*******************************************************************************************************************************************
				1.2.	Prepare entry for inserting to [Derived].[Redemptions]
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #TradeUp_Redemptions_ToLoad
			SELECT	DISTINCT
					[Currency] = tur.[Currency]
				,	[RedemptionType] =	CASE
											WHEN rp.[PartnerType] = 'Retail' THEN 'Trade Up'
											ELSE rp.[PartnerType]
										END
				,	[RedemptionPartnerGUID] = ro.[RedemptionPartnerGUID]
				,	[RedemptionOfferGUID] = COALESCE(tur.[RedemptionOfferGUID], ri.[RedemptionOfferGUID])
				,	[TransactionGUID] = tur.[RedemptionTransactionGUID]
				,	[TradeUp_RedemptionItemID] = tur.[RedemptionItemID]
				,	[FanID] = cu.[FanID]
				,	[CustomerGUID] = tur.[CustomerGUID]
				,	[OriginalCustomerGUID] = tur.[CustomerGUID]
				,	[CashbackUsed] = tur.[Amount]
				,	[CashbackEarned] = tur.[Cashback]
				,	[RedeemedDate] = tur.[RedeemedDate]
				,	[ConfirmedDate] = tur.[ConfirmedDate]
				,	[RedemptionNumber] = 1
				,	[Cancelled] = COALESCE(tur.[Cancelled], 0)
				,	Redemptions =	CASE
										WHEN ro.[RedemptionPartnerGUID] = '10F087E0-ECE5-814E-974B-AA3727FC8644' AND ro.[TradeUp_CashbackRequired] = 0 THEN 1
										WHEN ro.[RedemptionPartnerGUID] = '10F087E0-ECE5-814E-974B-AA3727FC8644' AND ro.[TradeUp_CashbackRequired] IS NULL THEN 1
										WHEN ro.[RedemptionPartnerGUID] = '10F087E0-ECE5-814E-974B-AA3727FC8644' AND tur.[Amount] / ro.[TradeUp_CashbackRequired] < 1 THEN 1
										WHEN ro.[RedemptionPartnerGUID] = '10F087E0-ECE5-814E-974B-AA3727FC8644' THEN tur.[Amount] / ro.[TradeUp_CashbackRequired]
										ELSE 1
									END
			INTO #TradeUp_Redemptions_ToLoad
			FROM #TradeUp_Redemptions tur
			INNER JOIN [Derived].[Customer] cu
				ON tur.[CustomerGUID] = cu.[CustomerGUID]
			LEFT JOIN [Derived].[RedemptionItems] ri
				ON tur.[RedemptionItemID] = ri.[RedemptionItemID]
			INNER JOIN [Derived].[RedemptionOffers] ro
				ON COALESCE(tur.[RedemptionOfferGUID], ri.[RedemptionOfferGUID]) = ro.[RedemptionOfferGUID]
				AND cu.[ClubID] = ro.[PublisherID]
			INNER JOIN [Derived].[RedemptionPartners] rp
				ON ro.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]

		/*******************************************************************************************************************************************
				1.2.	Insert new Trade Up Redemptions to [Derived].[Redemptions]
		*******************************************************************************************************************************************/

			;WITH
			Tally AS (	SELECT ID = ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
						FROM sys.tables),

			Numbers AS (SELECT	[Redemptions] = t2.[ID]
							,	[RedemptionNumber] = t1.[ID]
						FROM Tally t1
						CROSS JOIN Tally t2
						WHERE t1.[ID] <= t2.[ID])
					
			INSERT INTO [Derived].[Redemptions]	
			SELECT	DISTINCT
					tur.[Currency]
				,	tur.[RedemptionType]
				,	tur.[RedemptionPartnerGUID]
				,	tur.[RedemptionOfferGUID]
				,	tur.[TransactionGUID]
				,	tur.[TradeUp_RedemptionItemID]
				,	tur.[FanID]
				,	tur.[CustomerGUID]
				,	tur.[OriginalCustomerGUID]
				,	[CashbackUsed] = tur.[CashbackUsed] / tur.[Redemptions]
				,	tur.[CashbackEarned]
				,	tur.[RedeemedDate]
				,	tur.[ConfirmedDate]
				,	n.[RedemptionNumber]
				,	tur.[Cancelled]
				,	[GiftAid] = 0
				,	[BankAccountGUID] = NULL
			FROM #TradeUp_Redemptions_ToLoad tur
			INNER JOIN Numbers n
				ON tur.[Redemptions] = n.[Redemptions]
			ORDER BY	tur.[TransactionGUID]
					,	n.[RedemptionNumber]

	/***********************************************************************************************************************************************
			2.		Insert all new Charity Redemptions
	***********************************************************************************************************************************************/
		
		/*******************************************************************************************************************************************
				2.1.		Fetch all new Charity Redemptions
		*******************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #Charity_Redemptions
			SELECT	cr.*
			INTO #Charity_Redemptions
			FROM [WHB].[Inbound_CharityRedemptions] cr
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Redemptions] r
								WHERE cr.[DonationTransactionGUID] = r.[TransactionGUID])

			CREATE CLUSTERED INDEX [CIX_TranGUID] ON #Charity_Redemptions ([DonationTransactionGUID])

		/*******************************************************************************************************************************************
				2.2.		Insert new Charity Redemptions to [Derived].[Redemptions]
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[Redemptions]
			SELECT	DISTINCT
					[Currency] = cr.[Currency]
				,	[RedemptionType] = 'Charity'
				,	[RedemptionPartnerGUID] = ro.[RedemptionPartnerGUID]
				,	[RedemptionOfferGUID] = ro.[RedemptionOfferGUID]
				,	[TransactionGUID] = cr.[DonationTransactionGUID]
				,	[TradeUp_RedemptionItemID] = NULL
				,	[FanID] = cu.[FanID]
				,	[CustomerGUID] = cr.[CustomerGUID]
				,	[OriginalCustomerGUID] = cr.[CustomerGUID]
				,	[CashbackUsed] = cr.[Amount]
				,	[CashbackEarned] = 0
				,	[RedeemedDate] = cr.[RedeemedDate]
				,	[ConfirmedDate] = cr.[ConfirmedDate]
				,	[RedemptionNumber] = 1
				,	[Cancelled] = COALESCE(cr.[Cancelled], 0)
				,	[GiftAid] = COALESCE(cr.[GiftAid], 0)
				,	[BankAccountGUID] = NULL
			FROM #Charity_Redemptions cr
			INNER JOIN [Derived].[Customer] cu
				ON cr.[CustomerGUID] = cu.[CustomerGUID]
			INNER JOIN [Derived].[RedemptionOffers] ro
				ON cr.[CharityOfferID] = ro.[RedemptionOfferID]

	/***********************************************************************************************************************************************
			3.		Insert all new Pay Card
	***********************************************************************************************************************************************/
		
		/*******************************************************************************************************************************************
				3.1.		Fetch all new Pay Card Redemptions
		*******************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #Paycard_Redemptions
			SELECT	mt.*
			INTO #Paycard_Redemptions
			FROM [WHB].[Inbound_MatchedTransactions] mt
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Redemptions] r
								WHERE mt.[TransactionGUID] = r.[TransactionGUID])
			AND [TransactionTypeID] IN (2)

			CREATE CLUSTERED INDEX [CIX_TranGUID] ON #Paycard_Redemptions ([TransactionGUID])

		/*******************************************************************************************************************************************
				3.2.		Insert new Pay Card Redemptions to [Derived].[Redemptions]
		*******************************************************************************************************************************************/
		
			INSERT INTO [Derived].[Redemptions]
			SELECT	DISTINCT
					[Currency] = 'GBP'
				,	[RedemptionType] = 'Pay Card'
				,	[RetailerGUID] = pr.[RetailerGUID]
				,	[OfferGUID] = pr.[OfferGUID]
				,	[TransactionGUID] = pr.TransactionGUID
				,	[TradeUp_RedemptionItemID] = NULL
				,	[FanID] = cu.[FanID]
				,	[CustomerGUID] = pr.[CustomerGUID]
				,	[OriginalCustomerGUID] = pr.[CustomerGUID]
				,	[CashbackUsed] = pr.[CashbackEarned] * -1
				,	[CashbackEarned] = 0
				,	[TransactionDate] = pr.[TransactionDate]
				,	[MatchedDate] = pr.[MatchedDate]
				,	[RedemptionNumber] = 1
				,	[Cancelled] = 0
				,	[GiftAid] = 0
				,	[BankAccountGUID] = NULL
			FROM #Paycard_Redemptions pr
			INNER JOIN [Derived].[Customer] cu
				ON pr.[CustomerGUID] = cu.[CustomerGUID]
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Redemptions] r
								WHERE pr.[TransactionGUID] = r.[TransactionGUID])

	/***********************************************************************************************************************************************
			4.		Insert all new Pay Bank
	***********************************************************************************************************************************************/
		
		/*******************************************************************************************************************************************
				4.1.		Fetch all new Pay Bank Redemptions
		*******************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #PayBank_Redemptions
			SELECT	mt.*
			INTO #PayBank_Redemptions
			FROM [WHB].[Inbound_MatchedTransactions] mt
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Redemptions] r
								WHERE mt.[TransactionGUID] = r.[TransactionGUID])
			AND [TransactionTypeID] IN (3)

			CREATE CLUSTERED INDEX CIX_TranGUID ON #PayBank_Redemptions ([TransactionGUID])

		/*******************************************************************************************************************************************
				4.2.		Insert new Pay Bank Redemptions to [Derived].[Redemptions]
		*******************************************************************************************************************************************/
		
			INSERT INTO [Derived].[Redemptions]
			SELECT	DISTINCT
					[Currency] = 'GBP'
				,	[RedemptionType] = 'Pay Bank'
				,	[RetailerGUID] = pr.[RetailerGUID]
				,	[OfferGUID] = pr.[OfferGUID]
				,	[TransactionGUID] = pr.[TransactionGUID]
				,	[TradeUp_RedemptionItemID] = NULL
				,	[FanID] = cu.[FanID]
				,	[CustomerGUID] = pr.[CustomerGUID]
				,	[OriginalCustomerGUID] = pr.[CustomerGUID]
				,	[CashbackUsed] = pr.[CashbackEarned] * -1
				,	[CashbackEarned] = 0
				,	[TransactionDate] = pr.[TransactionDate]
				,	[MatchedDate] = pr.[MatchedDate]
				,	[RedemptionNumber] = 1
				,	[Cancelled] = 0
				,	[GiftAid] = 0
				,	[BankAccountGUID] = pr.[AccountGUID]
			FROM #PayBank_Redemptions pr
			INNER JOIN [Derived].[Customer] cu
				ON pr.[CustomerGUID] = cu.[CustomerGUID]
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Redemptions] r
								WHERE pr.[TransactionGUID] = r.[TransactionGUID])

	/***********************************************************************************************************************************************
			5.		Insert all new Points Exchange
	***********************************************************************************************************************************************/
		
		/*******************************************************************************************************************************************
				5.1.		Fetch all new Points Exchange
		*******************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #PointsExchange_Redemptions
			SELECT	mt.*
			INTO #PointsExchange_Redemptions
			FROM [WHB].[Inbound_MatchedTransactions] mt
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Redemptions] r
								WHERE mt.[TransactionGUID] = r.[TransactionGUID])
			AND [TransactionTypeID] IN (9)

			CREATE CLUSTERED INDEX CIX_TranGUID ON #PointsExchange_Redemptions ([TransactionGUID])

		/*******************************************************************************************************************************************
				5.2.		Insert new Points Exchange Redemptions to [Derived].[Redemptions]
		*******************************************************************************************************************************************/
		
			INSERT INTO [Derived].[Redemptions]
			SELECT	DISTINCT
					[Currency] = 'GBP'
				,	[RedemptionType] = 'Points Exchange'
				,	[RetailerGUID] = pr.[RetailerGUID]
				,	[OfferGUID] = pr.[OfferGUID]
				,	[TransactionGUID] = pr.[TransactionGUID]
				,	[TradeUp_RedemptionItemID] = NULL
				,	[FanID] = cu.[FanID]
				,	[CustomerGUID] = pr.[CustomerGUID]
				,	[OriginalCustomerGUID] = pr.[CustomerGUID]
				,	[CashbackUsed] = pr.[CashbackEarned] * -1
				,	[CashbackEarned] = 0
				,	[TransactionDate] = pr.[TransactionDate]
				,	[MatchedDate] = pr.[MatchedDate]
				,	[RedemptionNumber] = 1
				,	[Cancelled] = 0
				,	[GiftAid] = 0
				,	[BankAccountGUID] = NULL
			FROM #PointsExchange_Redemptions pr
			INNER JOIN [Derived].[Customer] cu
				ON pr.[CustomerGUID] = cu.[CustomerGUID]
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Redemptions] r
								WHERE pr.[TransactionGUID] = r.[TransactionGUID])

	/***********************************************************************************************************************************************
			6.		Update entries for merged customers
	***********************************************************************************************************************************************/
			
		DROP TABLE IF EXISTS #CustomerMerges
		SELECT	[OriginalCustomerGUID] = cm.[OriginalCustomerGUID]
			,	[CustomerGUID] = cm.[CustomerGUID]
			,	[FanID] = cu.[FanID]
			,	[CompositeID] = cu.[CompositeID]
		INTO #CustomerMerges
		FROM [Derived].[CustomerMerges] cm
		INNER JOIN [Derived].[Customer] cu
			ON cm.[CustomerGUID] = cu.[CustomerGUID]
		WHERE cm.[EndDate] IS NULL

		CREATE CLUSTERED INDEX [CIX_OriginalCustomerGUID] ON #CustomerMerges ([OriginalCustomerGUID])
		CREATE NONCLUSTERED INDEX [IX_ALL] ON #CustomerMerges ([OriginalCustomerGUID], [CustomerGUID]) INCLUDE ([FanID])
					
		UPDATE r
		SET r.[CustomerGUID] = cm.[CustomerGUID]
		,	r.[FanID] = cm.[FanID]
		FROM [Derived].[Redemptions] r
		INNER JOIN #CustomerMerges cm
			ON r.[OriginalCustomerGUID] = cm.[OriginalCustomerGUID]
			AND r.[CustomerGUID] != cm.[CustomerGUID]

	/***********************************************************************************************************************************************
			7.		Remove cancelled redemptions in the table
	***********************************************************************************************************************************************/
			
		UPDATE r
		SET r.[Cancelled] = 1
		FROM [Derived].[Redemptions] r
		WHERE EXISTS (	SELECT 1
						FROM #CancelledRedemptions cr
						WHERE cr.[TransactionGUID] = r.[TransactionGUID])			

	/***********************************************************************************************************************************************
			8.		Index Maint
	***********************************************************************************************************************************************/

		ALTER INDEX ALL ON [Derived].[Redemptions] REBUILD
		ALTER INDEX ALL ON [Derived].[Redemptions] REORGANIZE							

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END




GO
