USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[AllPublishers_Customer_Earnings]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[AllPublishers_Customer_Earnings]	@ExecutionType VARCHAR(50) = 'Day'
													,	@ExecutionDateStart DATE = NULL
													,	@ExecutionDateEnd DATE = NULL
													,	@PublisherID INT = 2068
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = '2024-08-15', @ExecutionDateEnd DATE = '2024-08-15', @PublisherID INT = 2068

		IF @ExecutionDateStart = NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd = NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType

	/*******************************************************************************************************************************************
		2.	Fetch aggregate of retailer earnings within the period
	*******************************************************************************************************************************************/
			
		DECLARE @MinDate_ST DATE
			,	@MaxDate_ST DATE

		SELECT	@MinDate_ST = MIN([StartDate])
			,	@MaxDate_ST = MAX([EndDate])
		FROM #Dates

		DROP TABLE IF EXISTS #Earnings_Retailer
		SELECT	[PublisherID] = CASE WHEN st.[PublisherID] = 166 THEN 182 ELSE st.[PublisherID] END
			,	st.[FanID]
			,	st.[PartnerID]
			,	[Refund] =	CASE
								WHEN COALESCE(st.[Spend], 0) < 0 THEN 1
								ELSE 0
							END
			,	[Transactions] = COUNT(DISTINCT st.[ID])
			,	[Spend] = SUM(st.[Spend])
			,	[CashbackEarned] = SUM(st.[RetailerCashback])
			,	[Investment] = SUM(st.[Investment])
			,	[FirstTransaction] = MIN(st.[TranDate])
			,	[LastTransaction] = MAX(st.[TranDate])
		INTO #Earnings_Retailer
		FROM [WH_AllPublishers].[Derived].[SchemeTrans] st
		WHERE CONVERT(DATE, st.[TranDate]) BETWEEN @MinDate_ST AND @MaxDate_ST
		AND st.[IsRetailerReport] = 1
		AND st.[PublisherID] = @PublisherID
		GROUP BY	CASE WHEN st.[PublisherID] = 166 THEN 182 ELSE st.[PublisherID] END
				,	st.[FanID]
				,	st.[PartnerID]
				,	CASE
						WHEN COALESCE(st.[Spend], 0) < 0 THEN 1
						ELSE 0
					END

		CREATE CLUSTERED INDEX [CIX_CustomerGUID_Dates] ON #Earnings_Retailer ([FanID])

	/*******************************************************************************************************************************************
		3.	Fetch aggregate of bank earnings within the period
	*******************************************************************************************************************************************/

		DECLARE @MinDate_BT DATE
			,	@MaxDate_BT DATE

		SELECT	@MinDate_BT = MIN([StartDate])
			,	@MaxDate_BT = MAX([EndDate])
		FROM #Dates
					
		DROP TABLE IF EXISTS #Earnings_Bank
		SELECT	[PublisherID] = @PublisherID
			,	bt.[FanID]
			,	[PartnerID] = bt.[DescriptionID]
			,	[Refund] =	CASE
								WHEN COALESCE(bt.[TransactionAmount], 0) < 0 THEN 1
								ELSE 0
							END
			,	[Transactions] = COUNT(DISTINCT bt.[TransactionGUID])
			,	[Spend] = SUM(bt.[TransactionAmount])
			,	[CashbackEarned] = SUM(bt.[CashbackEarned])
			,	[Investment] = SUM(bt.[CashbackEarned])
			,	[FirstTransaction] = MIN(bt.[TranDate])
			,	[LastTransaction] = MAX(bt.[TranDate])
		INTO #Earnings_Bank
		FROM [Derived].[BankTrans] bt
		WHERE CONVERT(DATE, bt.[TranDate]) BETWEEN @MinDate_BT AND @MaxDate_BT
		AND bt.[TransactionTypeID] = 8
		GROUP BY	bt.[FanID]
				,	bt.[DescriptionID]
				,	CASE
						WHEN COALESCE(bt.[TransactionAmount], 0) < 0 THEN 1
						ELSE 0
					END

		CREATE CLUSTERED INDEX [CIX_CustomerGUID_Dates] ON #Earnings_Bank ([FanID])

	/*******************************************************************************************************************************************
		4.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #Customers
		SELECT	cu.[CustomerGUID]
			,	cu.[FanID]
			,	cu.[PublisherID]
		INTO #Customers
		FROM [WH_AllPublishers].[Derived].[Customer] cu
		WHERE cu.[PublisherID] = @PublisherID
		AND EXISTS (SELECT 1
					FROM #Earnings_Bank eb
					WHERE cu.[FanID] = eb.[FanID])

		INSERT INTO #Customers
		SELECT	cu.[CustomerGUID]
			,	cu.[FanID]
			,	cu.[PublisherID]
		FROM [WH_AllPublishers].[Derived].[Customer] cu
		WHERE cu.[PublisherID] = @PublisherID
		AND NOT EXISTS (	SELECT 1
							FROM #Customers cu2
							WHERE cu.[FanID] = cu2.[FanID])
		AND EXISTS (	SELECT 1
							FROM #Earnings_Retailer er
							WHERE cu.[FanID] = er.[FanID])

		CREATE CLUSTERED INDEX [CIX_CustomerGUID_Dates] ON #Customers ([FanID])

	/*******************************************************************************************************************************************
		5.	Delete existing data for the period
	*******************************************************************************************************************************************/
		
		DELETE ce
		FROM [WH_AllPublishers].[Report].[Customer_Earnings] ce
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE ce.[CalendarDate] = d.[CalendarDate]
						AND ce.[MonthStart] = d.[StartDate]
						AND ce.[MonthEnd] = d.[EndDate])
		AND ce.[PublisherID] = @PublisherID

	/*******************************************************************************************************************************************
		6.	Load new retailer earnings for the period
	*******************************************************************************************************************************************/
	
		INSERT INTO [WH_AllPublishers].[Report].[Customer_Earnings]
		SELECT	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
			,	er.[PublisherID]
			,	cu.[CustomerGUID]
			,	er.[FanID]
			,	[EarningSource] = 'Retailer'
			,	[EarningTypeID] = pa.[RetailerID]
			,	[EarningRetailer] =	pa.[RetailerName]
			,	er.[Refund]
			,	[Transactions] = SUM(er.[Transactions])
			,	[Spend] = SUM(er.[Spend])
			,	[CashbackEarned] = SUM(er.[CashbackEarned])
			,	[Investment] = SUM(er.[Investment])
			,	[FirstTransaction] = MIN(er.[FirstTransaction])
			,	[LastTransaction] = MAX(er.[LastTransaction])
		FROM #Earnings_Retailer er
		INNER JOIN #Customers cu
			ON er.[FanID] = cu.[FanID]
		INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
			ON er.[PartnerID] = pa.[PartnerID]
		CROSS JOIN #Dates d
		GROUP BY	d.[CalendarDate]
				,	d.[StartDate]
				,	d.[EndDate]
				,	er.[PublisherID]
				,	cu.[CustomerGUID]
				,	er.[FanID]
				,	pa.[RetailerID]
				,	pa.[RetailerName]
				,	er.[Refund]

	/*******************************************************************************************************************************************
		7.	Load new bank earnings for the period
	*******************************************************************************************************************************************/

		INSERT INTO [WH_AllPublishers].[Report].[Customer_Earnings]
		SELECT	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
			,	er.[PublisherID]
			,	cu.[CustomerGUID]
			,	er.[FanID]
			,	[EarningSource] = 'Bank'
			,	[EarningTypeID] = pa.[RetailerID]
			,	[EarningRetailer] =	pa.[RetailerName]
			,	er.[Refund]
			,	[Transactions] = SUM(er.[Transactions])
			,	[Spend] = SUM(er.[Spend])
			,	[CashbackEarned] = SUM(er.[CashbackEarned])
			,	[Investment] = SUM(er.[Investment])
			,	[FirstTransaction] = MIN(er.[FirstTransaction])
			,	[LastTransaction] = MAX(er.[LastTransaction])
		FROM #Earnings_Bank er
		INNER JOIN #Customers cu
			ON er.[FanID] = cu.[FanID]
		INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
			ON er.[PartnerID] = pa.[PartnerID]
		CROSS JOIN #Dates d
		GROUP BY	d.[CalendarDate]
				,	d.[StartDate]
				,	d.[EndDate]
				,	er.[PublisherID]
				,	cu.[CustomerGUID]
				,	er.[FanID]
				,	pa.[RetailerID]
				,	pa.[RetailerName]
				,	er.[Refund]

	/*******************************************************************************************************************************************
		8.	Mark as updated
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Earnings_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] = @PublisherID

END
GO
