USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[Actito_TriggerEmailCustomers]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Actito_TriggerEmailCustomers] @RunDate DATE = NULL
AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
	
	--	DECLARE @RunDate DATE = GETDATE()

		DROP TABLE IF EXISTS #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = CONVERT(VARCHAR(25), '')
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = ad.[FirstEarn_Date]
			,	[FirstEarn_Amount] = ad.[FirstEarn_Amount]
			,	[FirstEarn_RetailerName] = ad.[FirstEarn_RetailerName]
			,	[FirstEarn_Type] = ad.[FirstEarn_Type]
			,	[FirstEarn_DD] = ad.[FirstEarn_DD]
			,	[FirstEarn_Mobile] = ad.[FirstEarn_Mobile]
			,	[MobileDormancy] = ad.[MobileDormancy]
			,	[Reached5GBP_Date] = ad.[Reached5GBP_Date]
			,	[RedeemReminder_Day] = ad.[RedeemReminder_Day]
			,	[AccountType] = ad.[AccountType]
			,	[TriggerType] = ad.[TriggerType]
			,	[WelcomeEmailCode] = ad.[WelcomeEmailCode]
		INTO #TriggerEmailTracking
		FROM [Email].[Actito_Deltas] ad
		WHERE 0 = 1
		
		INSERT INTO #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = 'First Earn POS'
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = ad.[FirstEarn_Date]
			,	[FirstEarn_Amount] = ad.[FirstEarn_Amount]
			,	[FirstEarn_RetailerName] = ad.[FirstEarn_RetailerName]
			,	[FirstEarn_Type] = ad.[FirstEarn_Type]
			,	[FirstEarn_DD] = NULL
			,	[FirstEarn_Mobile] = NULL
			,	[MobileDormancy] = NULL
			,	[Reached5GBP_Date] = NULL
			,	[RedeemReminder_Day] = NULL
			,	[AccountType] = NULL
			,	[TriggerType] = NULL
			,	[WelcomeEmailCode] = NULL
		FROM [Email].[Actito_Deltas] ad
		WHERE '1900-01-01' < ad.[FirstEarn_Date]
		
		INSERT INTO #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = 'First Earn DD'
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = NULL
			,	[FirstEarn_Amount] = NULL
			,	[FirstEarn_RetailerName] = NULL
			,	[FirstEarn_Type] = NULL
			,	[FirstEarn_DD] = ad.[FirstEarn_DD]
			,	[FirstEarn_Mobile] = NULL
			,	[MobileDormancy] = NULL
			,	[Reached5GBP_Date] = NULL
			,	[RedeemReminder_Day] = NULL
			,	[AccountType] = NULL
			,	[TriggerType] = NULL
			,	[WelcomeEmailCode] = NULL
		FROM [Email].[Actito_Deltas] ad
		WHERE ad.[FirstEarn_DD] IS NOT NULL
		AND ad.[FirstEarn_DD] != ''
		
		INSERT INTO #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = 'First Earn Mobile'
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = NULL
			,	[FirstEarn_Amount] = NULL
			,	[FirstEarn_RetailerName] = NULL
			,	[FirstEarn_Type] = NULL
			,	[FirstEarn_DD] = NULL
			,	[FirstEarn_Mobile] = ad.[FirstEarn_Mobile]
			,	[MobileDormancy] = NULL
			,	[Reached5GBP_Date] = NULL
			,	[RedeemReminder_Day] = NULL
			,	[AccountType] = NULL
			,	[TriggerType] = NULL
			,	[WelcomeEmailCode] = NULL
		FROM [Email].[Actito_Deltas] ad
		WHERE ad.[FirstEarn_Mobile] IS NOT NULL
		AND ad.[FirstEarn_Mobile] != ''
		
		INSERT INTO #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = 'Mobile Dormancy'
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = NULL
			,	[FirstEarn_Amount] = NULL
			,	[FirstEarn_RetailerName] = NULL
			,	[FirstEarn_Type] = NULL
			,	[FirstEarn_DD] = NULL
			,	[FirstEarn_Mobile] = NULL
			,	[MobileDormancy] = ad.[MobileDormancy]
			,	[Reached5GBP_Date] = NULL
			,	[RedeemReminder_Day] = NULL
			,	[AccountType] = NULL
			,	[TriggerType] = NULL
			,	[WelcomeEmailCode] = NULL
		FROM [Email].[Actito_Deltas] ad
		WHERE ad.[MobileDormancy] = 1
		
		INSERT INTO #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = '£5 Balance'
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = NULL
			,	[FirstEarn_Amount] = NULL
			,	[FirstEarn_RetailerName] = NULL
			,	[FirstEarn_Type] = NULL
			,	[FirstEarn_DD] = NULL
			,	[FirstEarn_Mobile] = NULL
			,	[MobileDormancy] = NULL
			,	[Reached5GBP_Date] = ad.[Reached5GBP_Date]
			,	[RedeemReminder_Day] = NULL
			,	[AccountType] = NULL
			,	[TriggerType] = NULL
			,	[WelcomeEmailCode] = NULL
		FROM [Email].[Actito_Deltas] ad
		WHERE '1900-01-01' < ad.[Reached5GBP_Date]
		
		INSERT INTO #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = 'Redemption Reminder'
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = NULL
			,	[FirstEarn_Amount] = NULL
			,	[FirstEarn_RetailerName] = NULL
			,	[FirstEarn_Type] = NULL
			,	[FirstEarn_DD] = NULL
			,	[FirstEarn_Mobile] = NULL
			,	[MobileDormancy] = NULL
			,	[Reached5GBP_Date] = NULL
			,	[RedeemReminder_Day] = ad.[RedeemReminder_Day]
			,	[AccountType] = NULL
			,	[TriggerType] = NULL
			,	[WelcomeEmailCode] = NULL
		FROM [Email].[Actito_Deltas] ad
		WHERE ad.[RedeemReminder_Day] = 1
		
		INSERT INTO #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = 'Product Monitoring'
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = NULL
			,	[FirstEarn_Amount] = NULL
			,	[FirstEarn_RetailerName] = NULL
			,	[FirstEarn_Type] = NULL
			,	[FirstEarn_DD] = NULL
			,	[FirstEarn_Mobile] = NULL
			,	[MobileDormancy] = NULL
			,	[Reached5GBP_Date] = NULL
			,	[RedeemReminder_Day] = NULL
			,	[AccountType] = ad.[AccountType]
			,	[TriggerType] = ad.[TriggerType]
			,	[WelcomeEmailCode] = NULL
		FROM [Email].[Actito_Deltas] ad
		WHERE ad.[AccountType] IS NOT NULL
		OR ad.[TriggerType] IS NOT NULL
		
		INSERT INTO #TriggerEmailTracking
		SELECT	ad.[FanID]
			,	ad.[CustomerGUID]
			,	[TriggerEmailType] = 'Redemption Reminder'
			,	[EmailSendDate] = @RunDate
			,	[FirstEarn_Date] = NULL
			,	[FirstEarn_Amount] = NULL
			,	[FirstEarn_RetailerName] = NULL
			,	[FirstEarn_Type] = NULL
			,	[FirstEarn_DD] = NULL
			,	[FirstEarn_Mobile] = NULL
			,	[MobileDormancy] = NULL
			,	[Reached5GBP_Date] = NULL
			,	[RedeemReminder_Day] = NULL
			,	[AccountType] = NULL
			,	[TriggerType] = NULL
			,	[WelcomeEmailCode] = ad.[WelcomeEmailCode]
		FROM [Email].[Actito_Deltas] ad
		WHERE ad.[WelcomeEmailCode] IS NOT NULL

		DELETE
		FROM [Email].[TriggerEmailCustomers]
		WHERE [EmailSendDate] = @RunDate

		INSERT INTO [Email].[TriggerEmailCustomers]
		SELECT *
		FROM #TriggerEmailTracking

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
	
	RETURN 0; -- normal exit here

END TRY
BEGIN CATCH		
		
	-- Grab the error details
	SELECT  
		@ERROR_NUMBER = ERROR_NUMBER(), 
		@ERROR_SEVERITY = ERROR_SEVERITY(), 
		@ERROR_STATE = ERROR_STATE(), 
		@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
		@ERROR_LINE = ERROR_LINE(),   
		@ERROR_MESSAGE = ERROR_MESSAGE();
	SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

	IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
	-- Insert the error into the ErrorLog
	INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
	VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

	-- Regenerate an error to return to caller
	SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
	RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

	-- Return a failure
	RETURN -1;
END CATCH

RETURN 0; -- should never run

END


GO
