USE [WH_Mashreq]
GO
/****** Object:  StoredProcedure [WHB].[MatchedTransactions_CardGUIDUpdate]    Script Date: 9/8/2026 1:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






	
CREATE PROCEDURE [WHB].[MatchedTransactions_CardGUIDUpdate]
AS
BEGIN

	DROP TABLE IF EXISTS #MatchedTransactions
	SELECT	[TransactionExternalId]
	INTO #MatchedTransactions
	FROM [Inbound].[MatchedTransactions] t
	WHERE [TransactionTypeID] IN (1,7)
	AND [RetailerGUID] IS NOT NULL
	AND [CardGUID] IS NULL

	CREATE CLUSTERED INDEX CIX_External ON #MatchedTransactions ([TransactionExternalId])

	DROP TABLE IF EXISTS #Transactions
	SELECT	[TransactionID]
		,	[CardGUID]
	INTO #Transactions
	FROM [Inbound].[Transactions] t
	WHERE EXISTS (	SELECT 1
					FROM #MatchedTransactions mt
					WHERE mt.[TransactionExternalId] = t.[TransactionID])

	CREATE CLUSTERED INDEX CIX_ExternalCard ON #Transactions ([TransactionID], [CardGUID])

	UPDATE mt
	SET mt.[CardGUID] = t.[CardGUID]
	FROM #Transactions t
	INNER JOIN [Inbound].[MatchedTransactions] mt
		ON t.[TransactionID] = mt.[TransactionExternalId]
	WHERE mt.[CardGUID] IS NULL

	UPDATE mt
	SET mt.[CardGUID] = t.[CardGUID]
	FROM #Transactions t
	INNER JOIN [WHB].[Inbound_MatchedTransactions] mt
		ON t.[TransactionID] = mt.[TransactionExternalId]
	WHERE mt.[CardGUID] IS NULL

END





GO
