USE [WH_QNB]
GO
/****** Object:  StoredProcedure [Inbound].[S3FileNames_AssignFileType]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Inbound].[S3FileNames_AssignFileType]
AS
BEGIN

UPDATE s3
SET s3.[FileType] =	CASE
						WHEN s3.[FileName] LIKE '%DIMAIN_BALANCE%' THEN 'BALANCE'
						WHEN s3.[FileName] LIKE '%DIMAIN_BANKACCOUNTCUSTOMERLINK%' THEN 'BANKACCOUNTCUSTOMERLINK'
						WHEN s3.[FileName] LIKE '%DIMAIN_BANKACCOUNTNOMINEE%' THEN 'BANKACCOUNTNOMINEE'
						WHEN s3.[FileName] LIKE '%DIMAIN_BANKACCOUNTTYPEHISTORY%' THEN 'BANKACCOUNTTYPEHISTORY'
						WHEN s3.[FileName] LIKE '%DIMAIN_BANKACCOUNT%' THEN 'BANKACCOUNT'
						WHEN s3.[FileName] LIKE '%DIMAIN_CARD%' THEN 'CARD'
						WHEN s3.[FileName] LIKE '%DIMAIN_CHARITYREDEMPTION%' THEN 'CHARITYREDEMPTION'
						WHEN s3.[FileName] LIKE '%DIMAIN_CUSTOMERADDRESS%' THEN 'CUSTOMERADDRESS'
						WHEN s3.[FileName] LIKE '%DIMAIN_CUSTOMEREXTERNALID%' THEN 'CUSTOMEREXTERNALID'
						WHEN s3.[FileName] LIKE '%DIMAIN_CUSTOMER%' THEN 'CUSTOMER'
						WHEN s3.[FileName] LIKE '%DIMAIN_GESTUREOFGOODWILL%' THEN 'GESTUREOFGOODWILL'
						WHEN s3.[FileName] LIKE '%DIMAIN_GoodwillTransactions_%' THEN 'GESTUREOFGOODWILL'
						WHEN s3.[FileName] LIKE '%DIMAIN_LOGIN%' THEN 'LOGIN'
						WHEN s3.[FileName] LIKE '%DIMAIN_MATCHEDTRANSACTION%' THEN 'MATCHEDTRANSACTION'
						WHEN s3.[FileName] LIKE '%DIMAIN_MISSINGPAYBANK%' THEN 'MISSINGPAYBANK'
						WHEN s3.[FileName] LIKE '%DIMAIN_MISSINGPAYCARD%' THEN 'MISSINGPAYCARD'
						WHEN s3.[FileName] LIKE '%DIMAIN_MISSINGREDEMPTION%' THEN 'MISSINGREDEMPTION'
						WHEN s3.[FileName] LIKE '%DIMAIN_MISSINGTRANSACTION%' THEN 'MISSINGTRANSACTION'
						WHEN s3.[FileName] LIKE '%DIMAIN_OFFERDETAIL%' THEN 'OFFERDETAIL'
						WHEN s3.[FileName] LIKE '%DIMAIN_OFFERMEMBER%' THEN 'OFFERMEMBER'
						WHEN s3.[FileName] LIKE '%DIMAIN_WelcomeOfferMembers%' THEN 'OFFERMEMBER'
						WHEN s3.[FileName] LIKE '%DIMAIN_OFFER%' THEN 'OFFER'
						WHEN s3.[FileName] LIKE '%DIMAIN_REDEMPTIONITEM%' THEN 'REDEMPTIONITEM'
						WHEN s3.[FileName] LIKE '%DIMAIN_REDEMPTIONOFFER%' THEN 'REDEMPTIONOFFER'
						WHEN s3.[FileName] LIKE '%DIMAIN_CharityOffers_%' THEN 'REDEMPTIONOFFER'
						WHEN s3.[FileName] LIKE '%DIMAIN_NonStockRedemptionRetailerOffers%' THEN 'REDEMPTIONOFFER'
						WHEN s3.[FileName] LIKE '%DIMAIN_REDEMPTIONPARTNER%' THEN 'REDEMPTIONPARTNER'
						WHEN s3.[FileName] LIKE '%DIMAIN_NonStockRedemptions%' THEN 'REDEMPTION'
						WHEN s3.[FileName] LIKE '%DIMAIN_REDEMPTION%' THEN 'REDEMPTION'
						WHEN s3.[FileName] LIKE '%DIMAIN_ReportMissingStatuses_%' THEN 'REPORTMISSINGSTATUS'
						WHEN s3.[FileName] LIKE '%PRD.T.%.TXT%' THEN 'TRANS_CREDIT'
						WHEN s3.[FileName] LIKE '%PGPC.NCBP.TRANS.%.TXT%' THEN 'TRANS_DEBIT'
						WHEN s3.[FileName] LIKE '%PNCW.NCBP.DDTRN.%.TXT%' THEN 'TRANS_DIRECTDEBIT'
						WHEN s3.[FileName] LIKE '%PRCW.NCBP.DDTRN.%.TXT%' THEN 'TRANS_DIRECTDEBIT'
						WHEN s3.[FileName] LIKE '%PRCW.NCMP.MLE.RBS.%.TXT%' THEN 'MOBILELOGIN'
						WHEN s3.[FileName] LIKE '%PNCW.NCMP.MLE.NWB.%.TXT%' THEN 'MOBILELOGIN'
						WHEN s3.[FileName] LIKE '%PGPC.NCBP.CARDH.%.TXT%' THEN 'CUSTOMERCARDMAPPING'
						WHEN s3.[FileName] LIKE '%PRD.M.%.TXT%' THEN 'CUSTOMERCARDMAPPING'
					END
FROM [Inbound].[S3FileNames] s3
WHERE s3.[FileType] IS NULL

END
GO
