USE [WH_QNB]
GO
/****** Object:  StoredProcedure [MIDI].[__CTDDL_CT_Load_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [MIDI].[__CTDDL_CT_Load_Archived]
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @Time DATETIME, @Msg VARCHAR(2048)

	SET @Msg = 'CTDDL_CT_Load started'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

	/*******************************************************************************************************************************************
		0.	Load new Bank Accounts
	*******************************************************************************************************************************************/
	
		INSERT INTO [WHB].[BankAccountIDs]
		SELECT	[BankAccountGUID]
		FROM [Derived].[BankAccounts] ba
		WHERE NOT EXISTS (	SELECT 1
							FROM [WHB].[BankAccountIDs] bai
							WHERE ba.[BankAccountGUID] = bai.[BankAccountGUID])

	/*******************************************************************************************************************************************
		1.	Declare variables
	*******************************************************************************************************************************************/
		
		DECLARE	@MaxConsumerCombinationID BIGINT = (SELECT MAX(ConsumerCombinationID_DD) FROM [Warehouse].[Relational].ConsumerCombination_DD)
			,	@Proceed BIT = 1

		TRUNCATE TABLE [Warehouse].[Staging].[ConsumerTransaction_DD_Holding_GUID]
		
	/*******************************************************************************************************************************************
		2.	Fetch any new Files
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #FileIDs
		SELECT	[FileID] = [ID]
			,	[FileNameDate]
			,	[FileName]
			,	[Inserted] = 0
		INTO #FileIDs
		FROM [WH_QNB].[WHB].[Transaction_Files] nf
		WHERE [FileName] LIKE '%ddtr%'
		AND [FileNameDate] > DATEADD(WEEK, -1, GETDATE())
		AND NOT EXISTS (	SELECT 1
							FROM [Warehouse].[Relational].[ConsumerTransaction_DD] ct
							WHERE nf.[ID] = ct.[FileID])

		CREATE CLUSTERED INDEX CIX_FileID ON #FileIDs ([FileID])

		SET @Msg = '2.	Fetch any new Files'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

	/*******************************************************************************************************************************************
		3.	If they are no new files to load then exit
	*******************************************************************************************************************************************/

		IF (SELECT COUNT(*) FROM #FileIDs) = 0
			BEGIN
				RETURN
			END

	/*******************************************************************************************************************************************
		4.	Fetch MyRewards customers
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #MyRewardsCustomers
		SELECT DISTINCT
			   bacl.BankAccountGUID
		INTO #MyRewardsCustomers
		FROM [WH_QNB].[Derived].[BankAccountCustomerLinks] bacl
		INNER JOIN [WH_QNB].[Derived].[Customer] cu
			ON bacl.[CustomerGUID] = cu.[CustomerGUID]
		WHERE bacl.[EndDate] IS NULL
		AND cu.CurrentlyActive = 1

		CREATE CLUSTERED INDEX CIX_BankAccountGUID ON #MyRewardsCustomers (BankAccountGUID)

		SET @Msg = '4.	Fetch MyRewards customers'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

	/*******************************************************************************************************************************************
		5.	Fetch all customer IDs relating to sole account customers
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #IssuerBankAccount_SoleAccount;
		WITH
		BankAccountGUID AS (SELECT	BankAccountGUID
							FROM [WH_QNB].[Derived].[BankAccountCustomerLinks] iba
							WHERE iba.[EndDate] IS NULL
							GROUP BY BankAccountGUID
							HAVING COUNT(DISTINCT [CustomerGUID]) = 1)

		SELECT	DISTINCT
				bacl.BankAccountGUID
			,	bacl.customerGUID
			,	cu.FanID
		INTO #IssuerBankAccount_SoleAccount
		FROM [WH_QNB].[Derived].[BankAccountCustomerLinks] bacl
		INNER JOIN [WH_QNB].[Derived].[Customer] cu
			ON bacl.[CustomerGUID] = cu.[CustomerGUID]
		WHERE bacl.[EndDate] IS NULL
		AND EXISTS (SELECT 1
					FROM BankAccountGUID ba
					WHERE bacl.BankAccountGUID = ba.BankAccountGUID);
					
		WITH
		BankAccountGUID AS (	SELECT BankAccountGUID
								FROM [WH_QNB].[Derived].[BankAccountCustomerLinks] iba
								GROUP BY BankAccountGUID
								HAVING COUNT(DISTINCT [CustomerGUID]) = 1)

		INSERT INTO #IssuerBankAccount_SoleAccount
		SELECT	DISTINCT
				bacl.BankAccountGUID
			,	bacl.customerGUID
			,	cu.FanID
		FROM [WH_QNB].[Derived].[BankAccountCustomerLinks] bacl
		INNER JOIN [WH_QNB].[Derived].[Customer] cu
			ON bacl.[CustomerGUID] = cu.[CustomerGUID]
		WHERE NOT EXISTS (SELECT 1
						  FROM #IssuerBankAccount_SoleAccount sa
						  WHERE bacl.BankAccountGUID = sa.BankAccountGUID)
		AND EXISTS (SELECT 1
					FROM BankAccountGUID ba
					WHERE bacl.BankAccountGUID = ba.BankAccountGUID)	

		CREATE NONCLUSTERED COLUMNSTORE INDEX CSI_All ON #IssuerBankAccount_SoleAccount (BankAccountGUID, customerGUID, FanID)

		SET @Msg = '5.	Fetch all customer IDs relating to sole account customers'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

	/*******************************************************************************************************************************************
		6.	Fetch all customer IDs per bank account
	*******************************************************************************************************************************************/
		
		/***********************************************************************************************************************
			6.1.	Select all customer details for every bank account
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #IssuerBankAccount_JointAccount;
			SELECT	bacl.[BankAccountGUID]
				,	bacl.[StartDate]
				,	cu.[CustomerGUID]
				,	cu.[FanID]
				,	cu.[RegistrationDate]
			INTO #IssuerBankAccount_JointAccount
			FROM [WH_QNB].[Derived].[BankAccountCustomerLinks] bacl
			INNER JOIN [WH_QNB].[Derived].[Customer] cu
				ON bacl.[CustomerGUID] = cu.[CustomerGUID]

			CREATE NONCLUSTERED COLUMNSTORE INDEX CSI_All ON #IssuerBankAccount_JointAccount ([BankAccountGUID], [CustomerGUID], [FanID])

			SET @Msg = '6.1.	Select all customer details for every bank account'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output
		
		/***********************************************************************************************************************
			6.2.	Select one customer bank account that is currently active and has the minimum IssuerCustomerID
		***********************************************************************************************************************/
		
			DROP TABLE IF EXISTS #EarliestJoningCustomer;
			WITH
			FirstIssuerID AS (	SELECT	iba.[BankAccountGUID]
									,	iba.[FanID]
									,	iba.[CustomerGUID]
									,	iba.[StartDate]
									,	iba.[RegistrationDate]
									,	[RankPerBank] = RANK() OVER (PARTITION BY iba.[BankAccountGUID] ORDER BY iba.[StartDate] DESC, iba.[RegistrationDate] DESC, iba.[CustomerGUID])
								FROM #IssuerBankAccount_JointAccount iba)

			SELECT	iba.[BankAccountGUID]
				,	iba.[FanID]
			INTO #EarliestJoningCustomer
			FROM #IssuerBankAccount_JointAccount iba
			INNER JOIN FirstIssuerID fii
				ON iba.[BankAccountGUID] = fii.[BankAccountGUID]
				AND iba.[CustomerGUID] = fii.[CustomerGUID]
				AND fii.[RankPerBank] = 1
				
			CREATE CLUSTERED INDEX [CIX_Bank] ON #EarliestJoningCustomer ([BankAccountGUID], [FanID])

			SET @Msg = '6.2.	Select one customer bank account that is currently active and has the minimum IssuerCustomerID'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output
			
	/*******************************************************************************************************************************************
		7.	Loop through each new FileID adding transactions to a holding table
	*******************************************************************************************************************************************/

		SET @Msg = 'LOOP STARTS #####'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

		DECLARE	@FileID INT
			  , @FileDate DATE
	
		WHILE EXISTS (SELECT 1 FROM #FileIDs WHERE Inserted = 0)
		BEGIN
		
		/***********************************************************************************************************************
			7.1.	Select next FileID to extract
		***********************************************************************************************************************/
	
			SET @FileID = (SELECT MIN(FileID) FROM #FileIDs WHERE Inserted = 0)

			SET @Msg = '7.1.	Next FileID to extract: ' + CAST(@FileID AS VARCHAR(10)); EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output		

		/***********************************************************************************************************************
			7.2.	Fetch all transactions for the looped FileID
		***********************************************************************************************************************/
		
			DROP TABLE IF EXISTS #TransactionHistory
			SELECT	[FileID]
				,	[RowNum] = ROW_NUMBER() OVER (ORDER BY [TransactionID])
				,	[TransactionID]
				,	[OIN]
				,	[Narrative] = CAST([Narrative] AS VARCHAR(18))
				,	[Amount]
				,	[Date] = [TransactionDate]
				,	[BankAccountGUID]
				,	[FanID] = NULL
				,	[CustomerGUID]
				,	[ConsumerCombinationID_DD] = NULL
			INTO #TransactionHistory
			FROM (	SELECT	DISTINCT
							f.[FileID]
						,	[TransactionID]
						,	[OIN]
						,	[Narrative] = COALESCE([Narrative], '')
						,	[Amount]
						,	[TransactionDate]
						,	[BankAccountGUID]
						,	[CustomerGUID]
					FROM [WH_QNB].[Inbound].[Transactions_DD] dd
					INNER JOIN #FileIDs f
						ON dd.[FileName] = f.[FileName]
					WHERE 1 = 1
					AND f.[FileID] = @FileID
				--	AND f.[FileID] = 51481
					) dd

			CREATE CLUSTERED INDEX [CIX_FileRow] ON #TransactionHistory ([FileID], [RowNum])
			CREATE NONCLUSTERED INDEX [IX_BankAccount_Customer] ON #TransactionHistory ([BankAccountGUID]) INCLUDE ([CustomerGUID], [FanID])
			CREATE NONCLUSTERED INDEX [IX_OINNar_CC] ON #TransactionHistory ([OIN], [Narrative]) INCLUDE ([ConsumerCombinationID_DD])

			SET @Msg = '7.2.	Fetch all transactions for the looped FileID'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output
		

		/***********************************************************************************************************************
			7.3.	Update all missing Customer IDs
		***********************************************************************************************************************/
					
				UPDATE th
				SET	th.[FanID] = cu.[FanID]
				FROM #TransactionHistory th
				INNER JOIN [Derived].[Customer] cu
					ON th.[CustomerGUID] = cu.[CustomerGUID]
				WHERE th.[FanID] IS NULL
			
				UPDATE th
				SET	th.[FanID] = cu.[FanID]
				FROM #TransactionHistory th
				INNER JOIN [WH_AllPublishers].[Derived].[CustomerIDs] cu
					ON CONVERT(VARCHAR(100), th.[CustomerGUID]) = cu.[CustomerID]
				WHERE th.[FanID] IS NULL

			/*******************************************************************************************************************
				7.3.1.	Update all Customer IDs for sole accounts
			*******************************************************************************************************************/
			
				UPDATE th
				SET th.[CustomerGUID] = ba.[CustomerGUID]
				FROM #TransactionHistory th
				INNER JOIN #IssuerBankAccount_SoleAccount ba
					ON th.[BankAccountGUID] = ba.[BankAccountGUID]
				WHERE th.[CustomerGUID] IS NULL
			
				UPDATE th
				SET th.[FanID] = ba.[FanID]
				FROM #TransactionHistory th
				INNER JOIN #IssuerBankAccount_SoleAccount ba
					ON th.[BankAccountGUID] = ba.[BankAccountGUID]
				WHERE th.[FanID] IS NULL

				SET @Msg = '7.3.1.	Update all Customer IDs for sole accounts'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output
					
			/*******************************************************************************************************************
				7.3.2.	Update FanID with the earliset currently active customer per bank account
			*******************************************************************************************************************/

				UPDATE th
				SET th.[FanID] = ejc.[FanID]
				FROM #TransactionHistory th
				INNER JOIN #EarliestJoningCustomer ejc
					ON th.[BankAccountGUID] = ejc.[BankAccountGUID]
				WHERE th.[FanID] IS NULL

				SET @Msg = '7.3.2.	Update FanID with the earliset currently active customer per bank account'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output
					
			/*******************************************************************************************************************
				7.3.3.	Update all Customer IDs for joint accounts
			*******************************************************************************************************************/
		
				UPDATE th
				SET th.[FanID] = fa.[FanID]
				FROM #TransactionHistory th
				INNER JOIN #IssuerBankAccount_JointAccount fa
					ON th.[BankAccountGUID] = fa.[BankAccountGUID]
				WHERE th.[FanID] IS NULL
		
				UPDATE th
				SET th.[FanID] = fa.[FanID]
				FROM #TransactionHistory th
				INNER JOIN #IssuerBankAccount_JointAccount fa
					ON th.[CustomerGUID] = fa.[CustomerGUID]
				WHERE th.[FanID] IS NULL

				SET @Msg = '7.3.3.	Update all Customer IDs for joint accounts'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

		/***********************************************************************************************************************
			7.4.	Find all new ConsumerCombinations
		***********************************************************************************************************************/
					
			/*******************************************************************************************************************
				7.4.1.	Fetch all unique OIN, Narrative combinations from the fetched transactions
			*******************************************************************************************************************/
			
				DROP TABLE IF EXISTS #Combos;
				CREATE TABLE #Combos (	[ID] INT IDENTITY
									,	[ConsumerCombinationID_DD] BIGINT
									,	[OIN] INT
									,	[Narrative_RBS] VARCHAR(50)
									,	[Narrative_VF] VARCHAR(50)
									,	[Narrative_VF_Filled] VARCHAR(50))
				;WITH
				CC_DD AS (	SELECT	DISTINCT
						  			[OIN]
						  		,	[Narrative]
							FROM #TransactionHistory),
					
			/*******************************************************************************************************************
				7.4.2.	Fetch all Voca File entries
			*******************************************************************************************************************/
		
				VocaFile_OINs AS (	SELECT	[OIN] = [ServiceUserNumber]
								  		,	[Narrative] = MAX([ServiceUserName])
									FROM [Warehouse].[Staging].[VocaFile_OriginatorRecord]
									GROUP BY [ServiceUserNumber])					

			/*******************************************************************************************************************
				7.4.3.	Fetch all unique OIN, Narrative combinations from the fetched transactions & Voca File
				CJM it makes no sense to have a clustered index on all of the columns, there's no advantage to it that I can see.
				Also, it generated a warning and occasionally an error.
			*******************************************************************************************************************/

				INSERT INTO #Combos
				SELECT	DISTINCT
						[ConsumerCombinationID_DD] = NULL
					,	dd.[OIN]
					,	[Narrative_RBS] = dd.[Narrative]
					,	[Narrative_VF] = CONVERT(VARCHAR(500), vf.[Narrative])
					,	[Narrative_VF_Filled] = COALESCE(CONVERT(VARCHAR(500), vf.[Narrative]), '')
				FROM CC_DD dd
				LEFT JOIN VocaFile_OINs vf
					ON dd.[OIN] = vf.[OIN]
				ORDER BY	dd.[OIN]
						,	dd.[Narrative]

				CREATE CLUSTERED INDEX CIX_OIN ON #Combos ([OIN], [Narrative_RBS], [Narrative_VF_Filled])

				SET @Msg = '7.4.3.	Fetch all unique OIN, Narrative combinations from the fetched transactions & Voca File'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output
				
			/*******************************************************************************************************************
				7.4.4.	Insert new combinations to the ConumberCombination_DD table as unbranded
				The LIKE operator without wildcards (%) is the same as the = operator
			*******************************************************************************************************************/
			
				DROP TABLE IF EXISTS #ConsumerCombination_DD
				CREATE TABLE #ConsumerCombination_DD (	[ConsumerCombinationID_DD] BIGINT
													,	[IsHighVariance] BIT
													,	[OIN] INT
													,	[Narrative_RBS] VARCHAR(50)
													,	[Narrative_VF] VARCHAR(50)
													,	[Narrative_VF_Filled] VARCHAR(50))

				INSERT INTO #ConsumerCombination_DD WITH (TABLOCK)
				SELECT	[ConsumerCombinationID_DD] = MAX(cc.[ConsumerCombinationID_DD])
					,	[IsHighVariance] = 0
					,	cc.[OIN]
					,	cc.[Narrative_RBS]
					,	cc.[Narrative_VF]
					,	[Narrative_VF_Filled] = COALESCE(cc.[Narrative_VF], '')
				FROM [Warehouse].[Relational].[ConsumerCombination_DD] cc
				WHERE EXISTS (SELECT 1
							  FROM #Combos c
							  WHERE c.[OIN] = cc.[OIN])
				GROUP BY	cc.[OIN]
						,	cc.[Narrative_RBS]
						,	cc.[Narrative_VF]
						,	COALESCE(cc.[Narrative_VF], '')
				
				CREATE CLUSTERED INDEX [CIX_OIN] ON #ConsumerCombination_DD ([OIN], [Narrative_RBS], [Narrative_VF_Filled])

				UPDATE #ConsumerCombination_DD
				SET [IsHighVariance] = 1
				WHERE [Narrative_RBS] LIKE '%[%]%'

				UPDATE #ConsumerCombination_DD
				SET [IsHighVariance] = 1
				WHERE [Narrative_RBS] LIKE '%[_]%'

				UPDATE c
				SET c.[ConsumerCombinationID_DD] = cc.[ConsumerCombinationID_DD]
				FROM #Combos c
				INNER JOIN #ConsumerCombination_DD cc
					ON c.[OIN] = cc.[OIN]
					AND c.[Narrative_RBS] = cc.[Narrative_RBS]
					AND c.[Narrative_VF_Filled] = cc.[Narrative_VF_Filled]
				WHERE c.[ConsumerCombinationID_DD] IS NULL
				OPTION(RECOMPILE)

				UPDATE c
				SET c.[ConsumerCombinationID_DD] = cc.[ConsumerCombinationID_DD]
				FROM (SELECT * FROM #Combos WHERE [ConsumerCombinationID_DD] IS NULL) c
				INNER JOIN (SELECT *
							FROM #ConsumerCombination_DD
							WHERE [IsHighVariance] = 1) cc
					ON c.[OIN] = cc.[OIN]
					AND c.[Narrative_RBS] LIKE cc.[Narrative_RBS]
					AND c.[Narrative_VF_Filled] = cc.[Narrative_VF_Filled]
				OPTION(RECOMPILE)
				
				INSERT INTO [Warehouse].[Relational].[ConsumerCombination_DD] WITH (TABLOCK) (	[OIN]
																							,	[Narrative_RBS]
																							,	[Narrative_VF]
																							,	[BrandID])
				SELECT	DISTINCT
						[OIN]
					,	[Narrative_RBS]
					,	[Narrative_VF]
					,	[BrandID] = 944
				FROM #Combos c
				WHERE NOT EXISTS (	SELECT 1
									FROM [Warehouse].[Relational].[ConsumerCombination_DD] cc
									WHERE c.[OIN] = cc.[OIN]
									AND c.[Narrative_RBS] = cc.[Narrative_RBS]
									AND COALESCE(c.[Narrative_VF], '') = COALESCE(cc.[Narrative_VF], ''))
				AND [ConsumerCombinationID_DD] IS NULL

				UPDATE c
				SET c.[ConsumerCombinationID_DD] = cc.[ConsumerCombinationID_DD]
				FROM #Combos c
				INNER JOIN [Warehouse].[Relational].[ConsumerCombination_DD] cc
					ON c.[OIN] = cc.[OIN]
					AND c.[Narrative_RBS] = cc.[Narrative_RBS]
					AND c.[Narrative_VF_Filled] = COALESCE(cc.[Narrative_VF], '')
				WHERE c.[ConsumerCombinationID_DD] IS NULL
				
				SET @Msg = '7.4.4.	Insert new combinations to the ConumberCombination_DD table as unbranded'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

		/***********************************************************************************************************************
			7.5.	Update the ConsumerCombinationIDs in the transaction file
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #CC_Updater
			SELECT	th.[FileID]
				,	th.[RowNum]
				,	[ConsumerCombinationID_DD] = MAX(c.[ConsumerCombinationID_DD])
			INTO #CC_Updater
			FROM #TransactionHistory th
			INNER JOIN #Combos c
				ON th.[OIN] = c.[OIN]
				AND th.[Narrative] = c.[Narrative_RBS]
			WHERE th.[ConsumerCombinationID_DD] IS NULL
			GROUP BY	th.[FileID]
					,	th.[RowNum]

			CREATE CLUSTERED INDEX CIX_All ON #CC_Updater ([FileID], [RowNum], [ConsumerCombinationID_DD])

			UPDATE th
			SET th.[ConsumerCombinationID_DD] = nc.[ConsumerCombinationID_DD]
			FROM #TransactionHistory th
			INNER JOIN #CC_Updater nc
				ON th.[FileID] = nc.[FileID]
				AND th.[RowNum] = nc.[RowNum]
			WHERE th.[ConsumerCombinationID_DD] IS NULL
			
		--	SELECT * FROM #TransactionHistory WHERE [ConsumerCombinationID_DD] IS NULL
		--	UPDATE #TransactionHistory SET [Narrative] = '' WHERE [Narrative] IS NULL

			SET @Msg = '7.5.	Update the ConsumerCombinationIDs in the transaction file'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

		/***********************************************************************************************************************
			7.6.	Insert the entries into [Warehouse].[Staging].[ConsumerTransaction_DD_Holding_GUID]
		***********************************************************************************************************************/
			
			INSERT INTO [Warehouse].[Staging].[ConsumerTransaction_DD_Holding_GUID] WITH (TABLOCK) ([FileID]
																								,	[RowNum]
																								,	[ConsumerCombinationID_DD]
																								,	[TranDate]
																								,	[BankAccountGUID]
																								,	[FanID]
																								,	[Amount])
			SELECT	[FileID]
				,	[RowNum]
				,	[ConsumerCombinationID_DD]
				,	[TranDate] = [Date]
				,	[BankAccountGUID]
				,	[FanID]
				,	[Amount]
			FROM #TransactionHistory th

			SET @Msg = '7.6.	Insert the entries into [Warehouse].[Staging].[ConsumerTransaction_DD_Holding_GUID]'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

		/***********************************************************************************************************************
			7.7.	Insert new cins we havent seen before into relational.CINlist
		***********************************************************************************************************************/

			--INSERT INTO Relational.CINList (CIN)
			--SELECT CIN
			--FROM (
			--	SELECT DISTINCT fa.SourceUID AS CIN
			--	FROM [Warehouse].[Staging].[ConsumerTransaction_DD_Holding_GUID] ct
			--	INNER JOIN SLC_Report..Fan fa ON ct.FanID = fa.ID
			--	WHERE fa.SourceUID NOT IN (SELECT CIN FROM Relational.CINList)
			--) d
			--ORDER BY CIN;

		/***********************************************************************************************************************
			7.8.	Update the #FileID table to show insert is completed
		***********************************************************************************************************************/

			UPDATE f
			SET [Inserted] = 1
			FROM #FileIDs f
			WHERE [FileID] = @FileID
		--	WHERE EXISTS (SELECT 1 FROM #TransactionHistory th WHERE f.[FileID] = th.[FileID])
			
		END

		SET @Msg = 'LOOP ENDS #####'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

	/*******************************************************************************************************************************************
		8.	Fetch existing entries from [Warehouse].[Relational].[ConsumerTransaction_DD] where the FanID can be backpopulated
	*******************************************************************************************************************************************/
		
		IF OBJECT_ID('tempdb..#ConsumerTransaction_DD_NoFanID') IS NOT NULL DROP TABLE #ConsumerTransaction_DD_NoFanID
		SELECT FileID
			 , RowNum
			 , ct.[BankAccountID]
			 , ba.[BankAccountGUID]
			 , FanID
		INTO #ConsumerTransaction_DD_NoFanID
		FROM [Warehouse].[Relational].[ConsumerTransaction_DD] ct
		INNER JOIN [WHB].[BankAccountIDs] ba
			ON ct.[BankAccountID] = ba.[BankAccountID]
		WHERE ct.[FanID] IS NULL
		AND EXISTS (SELECT 1
					FROM #MyRewardsCustomers mrc
					WHERE mrc.[BankAccountGUID] = ba.[BankAccountGUID])

		CREATE NONCLUSTERED INDEX IX_BankAccountGUID ON #ConsumerTransaction_DD_NoFanID (BankAccountID, FanID)

		SET @Msg = '8.	Fetch existing entries from [Warehouse].[Relational].[ConsumerTransaction_DD] where the FanID can be backpopulated'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

		/***********************************************************************************************************************
			8.1.	Update accounts with only one customer
		***********************************************************************************************************************/

			UPDATE ct
			SET ct.FanID = sa.FanID
			FROM #ConsumerTransaction_DD_NoFanID ct
			INNER JOIN #IssuerBankAccount_SoleAccount sa
				ON ct.[BankAccountGUID] = sa.BankAccountGUID

			SET @Msg = '8.1.	Update accounts with only one customer'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

		/***********************************************************************************************************************
			8.2.	Update joint accounts with the first customer to join
		***********************************************************************************************************************/

			UPDATE ct
			SET ct.FanID = ejc.FanID
			FROM #ConsumerTransaction_DD_NoFanID ct
			INNER JOIN #EarliestJoningCustomer ejc
				ON ct.[BankAccountGUID] = ejc.BankAccountGUID
			WHERE ct.FanID IS NULL

			CREATE CLUSTERED INDEX CIX_All ON #ConsumerTransaction_DD_NoFanID (FileID, RowNum, FanID)

			SET @Msg = '8.2.	Update joint accounts with the first customer to join'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

	/*******************************************************************************************************************************************
		9.	Insert to [Warehouse].[Relational].[ConsumerTransaction_DD]
	*******************************************************************************************************************************************/

			BEGIN TRY

				INSERT INTO [Warehouse].[Relational].[ConsumerTransaction_DD] WITH (TABLOCK) (	[FileID]
																							,	[RowNum]
																							,	[ConsumerCombinationID_DD]
																							,	[TranDate]
																							,	[BankAccountID]
																							,	[FanID]
																							,	[Amount])
				SELECT	cth.[FileID]
					,	cth.[RowNum]
					,	cth.[ConsumerCombinationID_DD]
					,	cth.[TranDate]
					,	[BankAccountID] = ba.[BankAccountID]
					,	cth.[FanID]
					,	cth.[Amount]
				FROM [Warehouse].[Staging].[ConsumerTransaction_DD_Holding_GUID] cth WITH (TABLOCK)
				LEFT JOIN [WHB].[BankAccountIDs] ba
					ON cth.[BankAccountGUID] = ba.[BankAccountGUID]
				WHERE NOT EXISTS (	SELECT 1
									FROM [Warehouse].[Relational].[ConsumerTransaction_DD] ct
									WHERE cth.[FileID] = ct.[FileID]
									AND cth.[RowNum] = ct.[RowNum]
									)

				SET @Msg = '9.	Insert to [Warehouse].[Relational].[ConsumerTransaction_DD]'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output
	
			END TRY

			BEGIN CATCH

				DELETE ct
				FROM [Warehouse].[Relational].[ConsumerTransaction_DD] ct
				WHERE EXISTS (SELECT 1
							  FROM #FileIDs fi
							  WHERE ct.FileID = fi.FileID)

				SET @Proceed = 0

			END CATCH

			UPDATE STATISTICS [Warehouse].[Relational].[ConsumerTransaction_DD]

		IF @Proceed = 0
			BEGIN
				RETURN
			END

	/*******************************************************************************************************************************************
		10.	Insert new transactions to [AWSFile].[ConsumerTransaction_DDForFile]
	*******************************************************************************************************************************************/
		
		INSERT INTO [Warehouse].[AWSFile].[ConsumerTransaction_DDForFile] WITH (TABLOCK) (	[FileID]
																						,	[RowNum]
																						,	[Amount]
																						,	[TranDate]
																						,	[BankAccountID]
																						,	[FanID]
																						,	[ConsumerCombinationID_DD])
		SELECT	[FileID]
			,	[RowNum]
			,	[Amount]
			,	[TranDate]
			,	[BankAccountID] = ba.[BankAccountID]
			,	[FanID]
			,	[ConsumerCombinationID_DD]
		FROM [Warehouse].[Staging].[ConsumerTransaction_DD_Holding_GUID] ct
		LEFT JOIN [WHB].[BankAccountIDs] ba
			ON ct.[BankAccountGUID] = ba.[BankAccountGUID]
		WHERE NOT EXISTS (	SELECT 1
							FROM [Warehouse].[AWSFile].[ConsumerTransaction_DDForFile] ff
							WHERE ct.[FileID] = ff.[FileID]
							AND ct.[RowNum] = ff.[RowNum])

		SET @Msg = '10.	Insert new transactions to [AWSFile].[ConsumerTransaction_DDForFile]'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

	/*******************************************************************************************************************************************
		11.	Fetch MyRewards customers
	*******************************************************************************************************************************************/
	
		/*IF OBJECT_ID('tempdb..#MyRewardsCustomers') IS NOT NULL DROP TABLE #MyRewardsCustomers
		SELECT DISTINCT
			   iba.BankAccountGUID
		INTO #MyRewardsCustomers
		FROM [SLC_Report].[dbo].[IssuerBankAccount] iba
		INNER JOIN [SLC_Report].[dbo].[IssuerCustomer] ic
			ON iba.IssuerCustomerID = ic.ID
		INNER JOIN [Warehouse].[Relational].[Customer] cu
			ON ic.SourceUID = cu.SourceUID
		WHERE iba.CustomerStatus = 1
		AND cu.CurrentlyActive = 1
		-- 4,318,978 / 00:00:12

		CREATE CLUSTERED INDEX CIX_BankAccountGUID ON #MyRewardsCustomers (BankAccountGUID)
		-- 00:00:08*/

		/***********************************************************************************************************************
			11.1. Fetch all MyRewards Transactions from holding table 
		***********************************************************************************************************************/

				DROP TABLE IF EXISTS [RIPU].[AWSFile].[CT_DD_DailyLoad_S3]
				SELECT 
					CONCAT(cast (ctd.FileID as varchar), cast(ctd.RowNum as varchar)) AS TranSequenceID
					, ac.CINID	AS ProxyUserID
					,ctd.TranDate
					, SUBSTRING(CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', ccd.Narrative_RBS + CAST(ccd.OIN AS VARCHAR(10))), 2), 3, 64) AS ProxyOINTupleID
					, ctd.Amount
					, CASE
					WHEN TRIM(UPPER(c.PostArea)) != TRIM(UPPER(t2.postareacode)) THEN NULL
					ELSE TRIM(UPPER(t2.postareacode))
					END AS userpostcodearea
					, [PublisherID] = 1
					, ccd.OIN									AS MID -- proxy OIN
					, br2.BrandID								AS BrandID
					, ctd.ConsumerCombinationID_DD
					,[CurrentAgeBandText] =		CASE      
											WHEN c.[AgeCurrent] < 18 OR c.[AgeCurrent] IS NULL THEN '99. Unknown'
											WHEN c.[AgeCurrent] BETWEEN 18 AND 24 THEN '01. 18 to 24'
											WHEN c.[AgeCurrent] BETWEEN 25 AND 34 THEN '02. 25 to 34'
											WHEN c.[AgeCurrent] BETWEEN 35 AND 44 THEN '03. 35 to 44'
											WHEN c.[AgeCurrent] BETWEEN 45 AND 54 THEN '04. 45 to 54'
											WHEN c.[AgeCurrent] BETWEEN 55 AND 64 THEN '05. 55 to 64' 
											WHEN c.[AgeCurrent] BETWEEN 65 AND 74 THEN '06. 65 to 74'
											WHEN c.[AgeCurrent] >= 75 Then '07. 75+'
										END
					, NULL AS [UpdateType]
					, CAST(DATEADD(HOUR, -6, GETDATE()) AS DATE) AS [UpdateDate]
					, CAST(DATEADD(HOUR, -6, GETDATE()) AS DATE) AS [LoadDate]
				INTO [RIPU].[AWSFile].[CT_DD_DailyLoad_S3]
				FROM [Warehouse].[Staging].[ConsumerTransaction_DD_Holding_GUID] ctd
				INNER JOIN [Derived].[Customer] c
					ON c.FanID = ctd.FanID
				INNER JOIN [RIPU].[Processing].[CustomersAffinity] ac
					ON ac.FanID = c.FanID
				INNER JOIN [RIPU].[Derived].[Customer] rc
					ON ac.CINID = rc.cinid
				--INNER JOIN Processing.ConsumerCombination cc
				--    ON cc.ConsumerCombinationID = ctd.ConsumerCombinationID_DD
				INNER JOIN [Warehouse].[Relational].[ConsumerCombination_DD] ccd
					ON ccd.ConsumerCombinationID_DD = ctd.ConsumerCombinationID_DD
				INNER JOIN [Warehouse].[Relational].[Brand] br2
					ON ccd.[BrandID] = br2.[BrandID]
				LEFT JOIN [Warehouse].[Relational].[PostArea] t2 
					ON TRIM(UPPER(c.PostArea)) = TRIM(UPPER(t2.postareacode))
				where ac.cinid is not null and rc.inprogram = 1
				
			/*IF (SELECT GETDATE()) < '2024-09-05'
				BEGIN

					INSERT INTO [RIPU].[AWSFile].[CT_DD_DailyLoad_S3]
					SELECT *
					FROM [RIPU].[AWSFile].[CT_DD_DailyLoad_S3_20240904] o
					WHERE NOT EXISTS (	SELECT 1
										FROM [RIPU].[AWSFile].[CT_DD_DailyLoad_S3] n
										WHERE o.[TranSequenceID] = n.[TranSequenceID])

				END*/

			SET @Msg = '10.	Insert new transactions to [AWSFile].[ConsumerTransaction_DDForFile]'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

	/*******************************************************************************************************************************************
		11.	Insert new CCs to [Warehouse].[Staging].[ConsumerCombination_DD_OINI]
	*******************************************************************************************************************************************/
		
		TRUNCATE TABLE [Warehouse].[Staging].[ConsumerCombination_DD_OINI]
		INSERT INTO [Warehouse].[Staging].[ConsumerCombination_DD_OINI] (ConsumerCombinationID_DD
														   , OIN
														   , Narrative_RBS
														   , Narrative_VF
														   , BrandID)
		SELECT ConsumerCombinationID_DD
			 , OIN
			 , Narrative_RBS
			 , Narrative_VF
			 , BrandID
		FROM [Warehouse].[Relational].[ConsumerCombination_DD]
		WHERE ConsumerCombinationID_DD > @MaxConsumerCombinationID

		SET @Msg = '11.	Insert new CCs to [Warehouse].[Staging].[ConsumerCombination_DD_OINI]'; EXEC [Warehouse].[Staging].[oo_TimerMessage_V2] @Msg , @Time Output

		
				UPDATE ct
				SET ct.FanID = nf.FanID
				FROM [Warehouse].[Relational].[ConsumerTransaction_DD] ct
				INNER JOIN #ConsumerTransaction_DD_NoFanID nf
					ON ct.FileID = nf.FileID
					AND ct.RowNum = nf.RowNum

END
GO
