USE [WH_QNB]
GO
/****** Object:  StoredProcedure [MIDI].[GenericTransExtracter_DCTrans]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[GenericTransExtracter_DCTrans]
AS
BEGIN

SET NOCOUNT ON
SET ANSI_WARNINGS OFF
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @ProcessName VARCHAR(50)
	,	@Activity VARCHAR(200)
	,	@time DATETIME = GETDATE()
	,	@SSMS BIT
	,	@RowsAffected INT

SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Start';
EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

WHILE (	SELECT	COUNT(*)
		FROM [MIDI].[FilesToProcess] ftp
		INNER JOIN [WHB].[Transaction_Files] f
			ON ftp.[FileID] = f.[ID]
			AND ftp.[FileName] = f.[FileName]
			AND ftp.[LoadDate] = f.[LoadDate]
		WHERE f.[TableName] = 'Transactions'
		AND COALESCE(ftp.[Processed_RowCount], 0) < ftp.[Imported_RowCount]) > 0

	BEGIN

		/*******************************************************************************************************************************************
			1.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = ftp.[FileID]
				,	[LoadDate] = f.[LoadDate]
				,	[FileName] = f.[FileName]
			INTO #FilesToProcess
			FROM [MIDI].[FilesToProcess] ftp
			INNER JOIN [WHB].[Transaction_Files] f
				ON ftp.[FileID] = f.[ID]
			WHERE f.[TableName] = 'Transactions'
			AND COALESCE(ftp.[Processed_RowCount], 0) < ftp.[Imported_RowCount]
			ORDER BY	f.[LoadDate]
					,	ftp.[FileID]

			SET @RowsAffected = @@ROWCOUNT

			IF @RowsAffected = 0 BEGIN
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 1. No rows to process'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				RETURN
			END

			DECLARE @WorkWithFile VARCHAR(15) = (SELECT CONVERT(VARCHAR(15), MIN([FileID]),105) FROM #FilesToProcess)
			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 1. Starting extract for file - [' + @WorkWithFile + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		/*******************************************************************************************************************************************
			2.	Fetch transactions to be loaded
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				2.1.	Fetch all transactions
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Inbound_Transactions
				SELECT	tr.[FileID]
					,	tr.[RowNum]
					,	tr.[TransactionID]
					,	tr.[TransactionGUID]
					,	tr.[CustomerGUID]
					,	tr.[ExternalCustomerID]
					,	tr.[CardGUID]
					,	tr.[ExternalCardGUID]
					,	tr.[BIN]
					,	tr.[MaskedPAN]
					,	tr.[DPAN]
					,	tr.[TransactionDate]
					,	tr.[TransactionTime]
					,	[Amount] = tr.[Amount_GBP]
					,	[Amount_OriginalCurrency] = tr.[Amount]
					,	[CurrencyCode] = ISNULL(LTRIM(RTRIM(tr.[CurrencyCode])), '')
					,	[MerchantID] = ISNULL(LTRIM(RTRIM(tr.[MerchantID])), '')
					,	[Narrative] = ISNULL(LTRIM(RTRIM(tr.[Narrative])), '')
					,	[MerchantCategoryCode] = ISNULL(LTRIM(RTRIM(tr.[MerchantCategoryCode])), '')
					,	[MerchantCountry] = ISNULL(LTRIM(RTRIM(tr.[MerchantCountry])), '')
					,	[LocationCountry] = CONVERT(VARCHAR(3), NULL)
					,	tr.[OriginatorID]
					,	tr.[PaymentTypeID]
					,	tr.[CardInputMode]
					,	tr.[CardholderPresent]
					,	[MerchantCity] = COALESCE(tr.[MerchantCity], '')
					,	[MerchantTown] = COALESCE(tr.[MerchantTown], '')
					,	[MerchantState] = COALESCE(tr.[MerchantState], '')
					,	[MerchantAddress] = COALESCE(tr.[MerchantAddress], '')
					,	[MerchantPostalCode] = COALESCE(tr.[MerchantPostalCode], '')
					,	[MerchantRegion] = COALESCE(tr.[MerchantRegion], '')
					,	tr.[AuthCode]
					,	tr.[Arn]
					,	tr.[PostStatus]
					,	tr.[LoadDate]
					,	tr.[FileName]
				INTO #Inbound_Transactions
				FROM (	SELECT	tr.[FileID]
							,	tr.[RowNum]
							,	tr.[TransactionID]
							,	[TransactionGUID] = CONVERT(UNIQUEIDENTIFIER, HASHBYTES('MD5', tr.[TransactionID]))
							,	tr.[CustomerGUID]
							,	tr.[ExternalCustomerID]
							,	tr.[CardGUID]
							,	tr.[ExternalCardGUID]
							,	tr.[BIN]
							,	tr.[MaskedPAN]
							,	tr.[DPAN]
							,	tr.[TransactionDate]
							,	tr.[TransactionTime]
							,	tr.[Amount_GBP]
							,	tr.[Amount]
							,	tr.[CurrencyCode]
							,	tr.[MerchantID]
							,	tr.[Narrative]
							,	tr.[MerchantCategoryCode]
							,	tr.[MerchantCountry]
							,	tr.[OriginatorID]
							,	tr.[PaymentTypeID]
							,	tr.[CardInputMode]
							,	tr.[ProcessCode]
							,	tr.[CardholderPresent]
							,	tr.[AuthCode]
							,	tr.[Arn]
							,	tr.[MerchantCity]
							,	tr.[MerchantTown]
							,	tr.[MerchantState]
							,	tr.[MerchantAddress]
							,	tr.[MerchantPostalCode]
							,	tr.[MerchantRegion]
							,	tr.[PostStatus]
							,	tr.[LoadDate]
							,	tr.[FileName]
						FROM [WHB].[Inbound_Transactions] tr
						WHERE EXISTS (	SELECT 1
										FROM #FilesToProcess ftp
										WHERE tr.[FileID] = ftp.[FileID])) tr

				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.1. Retrieved ' + CAST(@RowsAffected AS VARCHAR(10)) + ' rows from [WHB].[Inbound_Transactions]';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				CREATE CLUSTERED INDEX [CIX_FileRow] ON #Inbound_Transactions ([FileID], [RowNum])

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.1. Created Index [CIX_FileRow] ON #Inbound_Transactions';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
				DELETE tr
				FROM #Inbound_Transactions tr
				WHERE EXISTS (	SELECT 1
								FROM [MIDI].[ConsumerTransactionHolding] pti WITH (NOLOCK)
								INNER JOIN #FilesToProcess ftp
									ON pti.[FileID] = ftp.[FileID]
								WHERE tr.[FileID] = pti.[FileID]
								AND tr.[RowNum] = pti.[RowNum]);

				SET @RowsAffected = @RowsAffected - @@ROWCOUNT
								
				DELETE tr
				FROM #Inbound_Transactions tr
				WHERE EXISTS (	SELECT 1
								FROM [MIDI].[CTLoad_MIDIHolding] pti WITH (NOLOCK)
								INNER JOIN #FilesToProcess ftp
									ON pti.[FileID] = ftp.[FileID]
								WHERE tr.[FileID] = pti.[FileID]
								AND tr.[RowNum] = pti.[RowNum]);

				SET @RowsAffected = @RowsAffected - @@ROWCOUNT

				DECLARE @FileID_CT INT = 0
				
				WHILE @FileID_CT >= 0
					BEGIN

						SELECT @FileID_CT = MIN([FileID])
						FROM #FilesToProcess
						WHERE [FileID] > @FileID_CT

						DELETE tr
						FROM #Inbound_Transactions tr
						WHERE tr.[FileID] = @FileID_CT
						AND EXISTS (	SELECT 1
										FROM (	SELECT	ct.[RowNum]
												FROM [Trans].[ConsumerTransaction] ct WITH (NOLOCK)
												WHERE ct.[FileID] = @FileID_CT) ct
										WHERE tr.[RowNum] = ct.[RowNum]);

						SET @RowsAffected = @RowsAffected - @@ROWCOUNT

					END

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.1. ' + CAST(@RowsAffected AS VARCHAR(10)) + ' rows remaining not existing already loaded';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				CREATE NONCLUSTERED INDEX [IX_Narrative] ON #Inbound_Transactions ([Narrative])
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.1. Created Index [IX_Narrative] ON #Inbound_Transactions';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				CREATE NONCLUSTERED INDEX [IX_ExtCust] ON #Inbound_Transactions ([ExternalCustomerID])
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.1. Created Index [IX_ExtCust] ON #Inbound_Transactions';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				CREATE NONCLUSTERED INDEX [IX_MCC] ON #Inbound_Transactions ([MerchantCategoryCode])
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.1. Created Index [IX_MCC] ON #Inbound_Transactions';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			/*******************************************************************************************************************************************
				2.2.	Clean narratives
			*******************************************************************************************************************************************/

				UPDATE tr
				SET tr.[Narrative] = REPLACE(tr.[Narrative], '""', '"')
				FROM #Inbound_Transactions tr
				WHERE tr.[Narrative] LIKE '%""%'

				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.2. Cleaned ' + CAST(@RowsAffected AS VARCHAR(10)) + ' Narratives - Removed double quotes';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				UPDATE tr
				SET tr.[Narrative] = LTRIM(RTRIM(SUBSTRING(tr.[Narrative], 2, LEN(tr.[Narrative]) - 2)))
				FROM #Inbound_Transactions tr
				WHERE LEFT(tr.[Narrative], 1) = '"'
				AND RIGHT(tr.[Narrative], 1) = '"'

				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.2. Cleaned ' + CAST(@RowsAffected AS VARCHAR(10)) + ' Narratives - Removed quotes';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				UPDATE tr
				SET tr.[OriginatorID] = '000000'
				FROM #Inbound_Transactions tr
				WHERE TRY_CONVERT(BIGINT, [OriginatorID]) IS NULL

				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2.2. Cleaned ' + CAST(@RowsAffected AS VARCHAR(10)) + ' OriginatorIDs';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
		/*******************************************************************************************************************************************
			3.	Load transactions to [MIDI].[CTLoad_InitialStage]
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				3.1.	Fetch Customers
			*******************************************************************************************************************************************/

				UPDATE it
				SET it.[CustomerGUID] = ic.[CustomerGUID]
				FROM #Inbound_Transactions it
				INNER JOIN [WHB].[Inbound_CustomerExternalIDs] ic
					ON it.[ExternalCustomerID] = ic.[ExternalID]
					AND ic.[ExternalIDSource] = 'VOP'
				WHERE it.[CustomerGUID] IS NULL

				UPDATE it
				SET it.[CustomerGUID] = ic.[CustomerGUID]
				FROM #Inbound_Transactions it
				INNER JOIN [WHB].[Inbound_Cards] ic
					ON it.[ExternalCardGUID] = ic.[ExternalCardID]
				WHERE it.[CustomerGUID] IS NULL

				UPDATE it
				SET it.[CardGUID] = ic.[CardGUID]
				FROM #Inbound_Transactions it
				INNER JOIN [WHB].[Inbound_Cards] ic
					ON it.[ExternalCardGUID] = ic.[ExternalCardID]
				WHERE it.[CardGUID] IS NULL

				UPDATE it
				SET it.[CustomerGUID] = ic.[CustomerGUID]
				FROM #Inbound_Transactions it
				INNER JOIN [WHB].[Inbound_Cards] ic
					ON it.[CardGUID] = ic.[CardGUID]
				WHERE it.[CustomerGUID] IS NULL

				DROP TABLE IF EXISTS #Customers
				SELECT	DISTINCT
						cu.[CustomerGUID]
				INTO #Customers
				FROM #Inbound_Transactions cu

				SET @RowsAffected = @@ROWCOUNT

				CREATE UNIQUE CLUSTERED INDEX [UCIX_CustGUID] ON #Customers ([CustomerGUID])

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.2. Fetched ' + CAST(@RowsAffected AS VARCHAR(10)) + ' Customers';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				INSERT INTO [Derived].[CINList] (	[CIN]
												,	[OriginalCIN])
				SELECT	DISTINCT
						[CIN] = cu.[CustomerGUID]
					,	[OriginalCIN] = cu.[CustomerGUID]
				FROM #Customers cu
				WHERE NOT EXISTS (	SELECT 1
									FROM [Derived].[CINList] cl
									WHERE cu.[CustomerGUID] = cl.[OriginalCIN])
				AND cu.[CustomerGUID] IS NOT NULL

				SET @RowsAffected = @@ROWCOUNT;
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.2. Store previously-unseen CINs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				DROP TABLE IF EXISTS #CustomerCINs
				SELECT	cu.[CustomerGUID]
					,	cl.[CINID]
				INTO #CustomerCINs
				FROM #Customers cu
				LEFT JOIN [Derived].[CINList] cl
					ON cu.[CustomerGUID] = cl.[CIN]
					
				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.2. Fetched ' + CAST(@RowsAffected AS VARCHAR(10)) + ' Customer CINIDs';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				CREATE UNIQUE CLUSTERED INDEX [UCIX_CustExtID] ON #CustomerCINs ([CustomerGUID])
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.2. Created Index [UCIX_CustExtID] ON #CustomerCINs';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			
			/*******************************************************************************************************************************************
				3.3.	Fetch Country Codes
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #CountryCodes
				SELECT	[Alpha2Code]
					,	[NumericCode]
				INTO #CountryCodes
				FROM [Warehouse].[Relational].[CountryCodes_ISO_2] cc

				SET @RowsAffected = @@ROWCOUNT

				CREATE CLUSTERED INDEX [CIX_All] ON #CountryCodes ([NumericCode], [Alpha2Code])

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.3. Fetched ' + CAST(@RowsAffected AS VARCHAR(10)) + ' Country Codes';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			/*******************************************************************************************************************************************
				3.4.	Fetch Card Input Modes
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #CardInputMode
				SELECT	[InputModeID] = CONVERT(INT, [InputModeID])
					,	[CardInputMode] = CONVERT(VARCHAR(50), [CardInputMode])
				INTO #CardInputMode
				FROM [Warehouse].[Relational].[CardInputMode]

				SET @RowsAffected = @@ROWCOUNT

				CREATE CLUSTERED INDEX [CIX_All] ON #CardInputMode ([CardInputMode], [InputModeID])

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.4. Stored ' + CAST(@RowsAffected AS VARCHAR(10)) + ' [InputModeID]s';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			/*******************************************************************************************************************************************
				3.5.	Fetch MCCs
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #MCCs
				SELECT	[MCC]
					,	[MCCID] = MIN([MCCID])
				INTO #MCCs
				FROM [Warehouse].[Relational].[MCCList] mcc
				WHERE EXISTS (	SELECT 1
								FROM #Inbound_Transactions t
								WHERE mcc.[MCC] = t.[MerchantCategoryCode])
				GROUP BY	[MCC]

				SET @RowsAffected = @@ROWCOUNT

				CREATE CLUSTERED INDEX [CIX_All] ON #MCCs ([MCC], [MCCID])

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.5. Stored ' + CAST(@RowsAffected AS VARCHAR(10)) + ' [MCC]s';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			/*******************************************************************************************************************************************
				3.3.	Remove transactions with incorrect dates
			*******************************************************************************************************************************************/
			
				ALTER INDEX [IX_PostBank] ON [MIDI].[CTLoad_InitialStage] DISABLE
				ALTER INDEX [IX_CardInputMode] ON [MIDI].[CTLoad_InitialStage] DISABLE
				ALTER INDEX [IX_MerchantCountry] ON [MIDI].[CTLoad_InitialStage] DISABLE
				ALTER INDEX [IX_CurrencyCode] ON [MIDI].[CTLoad_InitialStage] DISABLE

				ALTER INDEX [IX_MCC] ON [MIDI].[CTLoad_InitialStage] DISABLE
				ALTER INDEX [IX_CardGUID] ON [MIDI].[CTLoad_InitialStage] DISABLE
				ALTER INDEX [IX_CC_Identifier] ON [MIDI].[CTLoad_InitialStage] DISABLE

				TRUNCATE TABLE [MIDI].[CTLoad_InitialStage]
				INSERT INTO [MIDI].[CTLoad_InitialStage] (	[FileID]
														,	[RowNum]
														,	[TransactionID]
														,	[CustomerGUID]
														,	[ExternalCustomerGUID]
														,	[CIN]
														,	[CINID]
														,	[CardGUID]
														,	[ExternalCardGUID]
														,	[BIN]
														,	[MaskedPAN]
														,	[DPAN]
														,	[TranDate]
														,	[TranTime]

														,	[MerchantID]
														,	[MerchantCountry]
														,	[Narrative]
														,	[MCC]
														,	[MCCID]
														,	[OriginatorID]
														,	[Amount]
														,	[Amount_OriginalCurrency]
														,	[CurrencyCode]

														,	[CardInputMode]
														,	[InputModeID]
														,	[CardholderPresentData]
														,	[PaymentTypeID]
														,	[AuthCode]
														,	[Arn]
														,	[IsOnline]
														,	[IsRefund]
														,	[LocationID]
														,	[ConsumerCombinationID]
														,	[RequiresSecondaryID]
														,	[SecondaryCombinationID]
														,	[LoadDate]
														,	[FileName])
				SELECT	DISTINCT
						ct.[FileID]
					,	ct.[RowNum]
					,	ct.[TransactionID]
					,	cu.[CustomerGUID]
					,	[ExternalCustomerGUID] = ct.[ExternalCustomerID]
					,	[CIN] = cu.[CustomerGUID]
					,	cu.[CINID]
					,	ct.[CardGUID]
					,	ct.[ExternalCardGUID]
					,	ct.[BIN]
					,	ct.[MaskedPAN]
					,	ct.[DPAN]
					,	[TranDate] = ct.[TransactionDate]
					,	[TranTime] = ct.[TransactionTime]

					,	ct.[MerchantID]
					,	[MerchantCountry] = COALESCE(cc.[Alpha2Code], ct.[MerchantCountry])
					,	ct.[Narrative]
					,	[MCC] = ct.[MerchantCategoryCode]
					,	mcc.[MCCID]
					,	ct.[OriginatorID]
					,	ct.[Amount]
					,	ct.[Amount_OriginalCurrency]
					,	ct.[CurrencyCode]

					,	ct.[CardInputMode]
					,	[InputModeID] = ISNULL(cim.[InputModeID], 0)
					,	[CardholderPresentData] = ct.[CardholderPresent]
					,	[PaymentTypeID] =	CASE
												WHEN [PaymentTypeID] = 0 THEN 2	--	Debit
												ELSE 1 --	Credit
											END
					,	ct.[AuthCode]
					,	ct.[Arn]
					,	[IsOnline] =	CASE
											WHEN ct.[CardholderPresent] = 5 THEN 1
											ELSE 0
										END
					,	[IsRefund] =	CASE
											WHEN ct.[Amount] < 0 THEN 1
											ELSE 0
										END
					,	loc.[LocationID]
					,	[ConsumerCombinationID] = NULL
					,	[RequiresSecondaryID] = NULL
					,	[SecondaryCombinationID] = NULL
					,	ct.[LoadDate]
					,	ct.[FileName]
				FROM #Inbound_Transactions ct
				LEFT JOIN #CustomerCINs cu
					ON ct.[CustomerGUID] = cu.[CustomerGUID]
				LEFT JOIN #CountryCodes cc
					ON ct.[MerchantCountry] = cc.[NumericCode]
				LEFT JOIN #CardInputMode cim
					ON ct.[CardInputMode] = cim.[CardInputMode]
				LEFT JOIN #MCCs mcc
					ON ct.[MerchantCategoryCode] = mcc.[MCC]
				LEFT JOIN [Trans].[Location] loc
					ON ct.[MerchantAddress] = loc.[Address]
					AND ct.[MerchantCity] = loc.[City]
					AND ct.[MerchantTown] = loc.[Town]
					AND ct.[MerchantPostalCode] = loc.[Postcode]
					AND ct.[MerchantState] = loc.[State]
					AND ct.[MerchantRegion] = loc.[Region]
				ORDER BY	ct.[FileID]
						,	ct.[RowNum]

				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.3. Loaded ' + CAST(@RowsAffected AS VARCHAR(10)) + ' rows to [MIDI].[CTLoad_InitialStage]';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
				ALTER INDEX ALL ON [MIDI].[CTLoad_InitialStage] REBUILD
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.3. Rebuilt Indexes on [MIDI].[CTLoad_InitialStage]';
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		/*******************************************************************************************************************************************
			4.	Data cleansing
		*******************************************************************************************************************************************/

			DELETE
		--	SELECT *
			FROM [MIDI].[CTLoad_InitialStage]
			WHERE [TranDate] = '0001-01-01'

			SET @RowsAffected = @@ROWCOUNT
			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 4. Removed ' + CAST(@RowsAffected AS VARCHAR(10)) + ' rows from [MIDI].[CTLoad_InitialStage] with incorrect [TranDate]s';
			EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		/*******************************************************************************************************************************************
			5.	Log file counts
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #RowCounts
			SELECT	[FileID] = ftp.[FileID]
				,	[LoadDate] = ftp.[LoadDate]
				,	[RowCount] = COALESCE(COUNT(ct.[RowNum]), 0)
			INTO #RowCounts
			FROM #FilesToProcess ftp
			LEFT JOIN [MIDI].[CTLoad_InitialStage] ct
				ON ftp.[FileID] = ct.[FileID]
			GROUP BY	ftp.[FileID]
					,	ftp.[LoadDate]

			MERGE [MIDI].[GenericTrans_FilesProcessed] target	-- Destination table
			USING #RowCounts source						-- Source table
			ON target.[FileID] = source.[FileID]					-- Match criteria

			WHEN MATCHED THEN
				UPDATE SET	target.[RowsImported] = [RowCount]	-- If matched, update to new value
						,	target.[ImportedDate] = GETDATE()		-- If matched, update to new value

			WHEN NOT MATCHED THEN			-- If not matched, add new rows
				INSERT ([FileID]
					,	[LoadDate]
					,	[RowsImported]
					,	[ImportedDate])
				VALUES (source.[FileID]
					,	source.[LoadDate]
					,	source.[RowCount]
					,	GETDATE());

			SET @RowsAffected = @@ROWCOUNT
			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 5. Updated ' + CAST(@RowsAffected AS VARCHAR(10)) + ' files counts on [MIDI].[GenericTrans_FilesProcessed]';
			EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		/*******************************************************************************************************************************************
			6.	Execute next stage of transactions loading
		*******************************************************************************************************************************************/

			EXEC [MIDI].[GenericTransProcessing]

			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Completed';
			EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			PRINT CHAR(13)

	END	--	WHILE (	SELECT	COUNT(*)

END

GO
