USE [WH_QNB]
GO
/****** Object:  StoredProcedure [MIDI].[__GenericTransProcessing_Timestamp_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[__GenericTransProcessing_Timestamp_Archived]
AS
BEGIN

SET NOCOUNT ON
SET ANSI_WARNINGS OFF
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT, @RowsCount INT

SET @RowsAffected = @@ROWCOUNT
SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Start'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	1.	Collect Transactions that have a timestamp but haven't been loaded to the final table yet
*******************************************************************************************************************************************/
	
	DROP TABLE IF EXISTS #Inbound_Transactions
	SELECT	it.[FileID]
		,	it.[RowNum]
		,	it.[TransactionDate]
		,	it.[TransactionTime]
		,	it.[Amount]
	INTO #Inbound_Transactions
	FROM [WHB].[Inbound_Transactions] it
	WHERE it.[TransactionTime] IS NOT NULL
	AND NOT EXISTS (SELECT 1
					FROM [Trans].[ConsumerTransaction_Timestamp] ct
					WHERE it.[FileID] = ct.[FileID]
					AND it.[RowNum] = ct.[RowNum])
		
	SET @RowsAffected = @@ROWCOUNT;
					
	CREATE CLUSTERED INDEX [CIX_FileRow] ON #Inbound_Transactions ([FileID], [RowNum])
	
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Build [CIX_FileRow] index on #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	2.	Load Transactions that are in the holding table
*******************************************************************************************************************************************/

	INSERT INTO [Trans].[ConsumerTransaction_Timestamp]
	SELECT	[FileID]
		,	[RowNum]
		,	[TranDate] = [TransactionDate]
		,	[TranTime] = [TransactionTime]
		,	[Amount]
	FROM #Inbound_Transactions it
	WHERE EXISTS (	SELECT 1
					FROM [Trans].[ConsumerTransaction_CreditCardHolding] cth
					WHERE it.[FileID] = cth.[FileID]
					AND it.[RowNum] = cth.[RowNum])
		
	SET @RowsAffected = @@ROWCOUNT;	
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load transactions from #Inbound_Transactions (in [ConsumerTransaction_CreditCardHolding]) [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
/*******************************************************************************************************************************************
	3.	Load Transactions that are in the Transaction table
*******************************************************************************************************************************************/

	INSERT INTO [Trans].[ConsumerTransaction_Timestamp]
	SELECT	[FileID]
		,	[RowNum]
		,	[TranDate] = [TransactionDate]
		,	[TranTime] = [TransactionTime]
		,	[Amount]
	FROM #Inbound_Transactions it
	WHERE EXISTS (	SELECT 1
					FROM [Trans].[ConsumerTransaction_CreditCard] cth
					WHERE it.[FileID] = cth.[FileID]
					AND it.[RowNum] = cth.[RowNum])
		
	SET @RowsAffected = @@ROWCOUNT;	
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load transactions from #Inbound_Transactions (in [ConsumerTransaction_CreditCard]) [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - End'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

END
GO
