USE [WH_QNB]
GO
/****** Object:  StoredProcedure [MIDI].[GenericTransProcessing]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[GenericTransProcessing]
AS
BEGIN

SET NOCOUNT ON
SET ANSI_WARNINGS OFF
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT, @RowsCount INT

DROP TABLE IF EXISTS #FilesToProcessTemp
SELECT	[FileID] = ftp.[FileID]
	,	[LoadDate] = f.[LoadDate]
	,	[FileName] = f.[FileName]
INTO #FilesToProcessTemp
FROM [MIDI].[FilesToProcess] ftp
INNER JOIN [WHB].[Transaction_Files] f
	ON ftp.[FileID] = f.[ID]
WHERE f.[TableName] = 'Transactions'
OPTION(RECOMPILE)

DROP TABLE IF EXISTS #FilesToProcess
SELECT	TOP 1000
		[FileID] = ftp.[FileID]
	,	[LoadDate] = ftp.[LoadDate]
	,	[FileName] = ftp.[FileName]
INTO #FilesToProcess
FROM #FilesToProcessTemp ftp
WHERE EXISTS (	SELECT 1
				FROM [MIDI].[CTLoad_InitialStage] pfi
				WHERE ftp.[FileID] = pfi.[FileID])
OPTION(RECOMPILE)

SELECT @RowsAffected = @@ROWCOUNT

IF @RowsAffected = 0 BEGIN
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - No rows to process'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
	RETURN
END
ELSE
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Starting first part'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	1.	Update MCCs
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		1.1.	Rebuild index
	***********************************************************************************************************************/

		ALTER INDEX [IX_MCC] ON [MIDI].[CTLoad_InitialStage] REBUILD

	/***********************************************************************************************************************
		1.2.	Collect previously-unseen MCCs from the new data
	***********************************************************************************************************************/

		INSERT INTO [WH_AllPublishers].[Trans].[MCCList] (	[MCC]
														,	[MCCGroup]
														,	[MCCCategory]
														,	[MCCDesc]
														,	[SectorID])
		SELECT	DISTINCT 
				[MCC] = COALESCE(cis.[MCC], '')
			,	[MCCGroup] = ''
			,	[MCCCategory] = ''
			,	[MCCDesc] = ''
			,	[SectorID] = 1
		FROM [MIDI].[CTLoad_InitialStage] cis
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Trans].[MCCList] mcc
							WHERE mcc.[MCC] = COALESCE(cis.[MCC], ''))

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Add new MMCID [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		1.3.	Assign MMCID
	***********************************************************************************************************************/
		
		UPDATE cis
		SET cis.[MCCID] = mcc.[MCCID]
		FROM [MIDI].[CTLoad_InitialStage] cis
		CROSS APPLY (	SELECT	TOP(1)	--	non-deterministic UPDATE
								mcc.[MCCID]
						FROM [WH_AllPublishers].[Trans].[MCCList] mcc
						WHERE cis.[MCC] = mcc.[MCC]
						ORDER BY mcc.[MCCID] DESC) mcc
		WHERE cis.[MCCID] IS NULL;
		
		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign MMCID [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	3.	Update various columns
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		3.1.	Assign Generic MID for Visa Claim Resolutions
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #VCR
		SELECT *
		INTO #VCR
		FROM [MIDI].[CTLoad_InitialStage] ct
		WHERE [MerchantID] LIKE 'VCR%[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%'
		OR [MerchantID] LIKE 'MCR%[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%'

		UPDATE vcr
		SET vcr.[MerchantID] = LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([MerchantID], '0', ''), '1', ''), '2', ''), '3', ''), '4', ''), '5', ''), '6', ''), '7', ''), '8', ''), '9', ''))) + '%'
		FROM #VCR vcr

		CREATE CLUSTERED INDEX CIX_MID ON #VCR ([FileID], [RowNum], [MerchantID])

		UPDATE ct
		SET ct.[MerchantID] = vcr.[MerchantID]
		FROM #VCR vcr
		INNER JOIN [MIDI].[CTLoad_InitialStage] ct
			ON vcr.[FileID] = ct.[FileID]
			AND vcr.[RowNum] = ct.[RowNum]

		SET @RowsAffected = @@ROWCOUNT;
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 3.2. Assign Generic MID for VCR [' + CAST(@RowsAffected AS VARCHAR(10)) + ']';
		EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	4.	Assign CCs
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		4.1.	Rebuild CC Indexs
	***********************************************************************************************************************/

		ALTER INDEX [IX_CC_Updater] ON [MIDI].[CTLoad_InitialStage] REBUILD
		ALTER INDEX [IX_CC_Identifier] ON [MIDI].[CTLoad_InitialStage] REBUILD
		
		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Rebuild [IX_CC_Updater] AND [IX_CC_Identifier] index on [MIDI].[CTLoad_InitialStage] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		4.1.	Add existing CCs
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #NewCombinations
		SELECT	cis.[MerchantID]
			,	cis.[Narrative]
			,	cis.[OriginatorID]
			,	cis.[MerchantCountry]
			,	cis.[MCCID]
			,	[Transactions] = COUNT(*)
		INTO #NewCombinations
		FROM [MIDI].[CTLoad_InitialStage] cis
		GROUP BY	cis.[MerchantID]
				,	cis.[Narrative]
				,	cis.[OriginatorID]
				,	cis.[MerchantCountry]
				,	cis.[MCCID]

		DROP TABLE IF EXISTS #ExistingCCs
		SELECT	[BrandID] = MAX(cc.[BrandID])
			,	cc.[MID]
			,	cc.[Narrative]
			,	cc.[LocationCountry]
			,	cc.[MCCID]
			,	[IsHighVariance] = MIN(cc.[IsHighVariance])
			,	[IsUKSpend] = MAX(cc.[IsUKSpend])
			,	[PaymentGatewayStatusID] = MAX(cc.[PaymentGatewayStatusID])
		INTO #ExistingCCs
		FROM (	SELECT	[BrandID] = MAX(cc.[BrandID])
					,	cc.[MID]
					,	cc.[Narrative]
					,	cc.[LocationCountry]
					,	cc.[MCCID]
					,	[IsHighVariance] = MIN(CONVERT(INT, cc.[IsHighVariance]))
					,	[IsUKSpend] = MAX(CONVERT(INT, cc.[IsUKSpend]))
					,	[PaymentGatewayStatusID] = MAX(CONVERT(INT, cc.[PaymentGatewayStatusID]))
				FROM [WH_FAB].[Trans].[ConsumerCombination] cc
				WHERE EXISTS (	SELECT 1
								FROM #NewCombinations nc
								WHERE cc.[MID] = nc.[MerchantID]
							--	AND cc.[Narrative] = nc.[Narrative]
							--	AND cc.[OriginatorID] = nc.[OriginatorID]
								AND cc.[LocationCountry] = nc.[MerchantCountry]
								AND cc.[MCCID] = nc.[MCCID])
				GROUP BY	cc.[MID]
						,	cc.[Narrative]
						,	cc.[LocationCountry]
						,	cc.[MCCID]
				UNION ALL
				SELECT	[BrandID] = MAX(cc.[BrandID])
					,	cc.[MID]
					,	cc.[Narrative]
					,	cc.[LocationCountry]
					,	cc.[MCCID]
					,	[IsHighVariance] = MIN(CONVERT(INT, cc.[IsHighVariance]))
					,	[IsUKSpend] = MAX(CONVERT(INT, cc.[IsUKSpend]))
					,	[PaymentGatewayStatusID] = MAX(CONVERT(INT, cc.[PaymentGatewayStatusID]))
				FROM [WH_Monzo].[Trans].[ConsumerCombination] cc
				WHERE EXISTS (	SELECT 1
								FROM #NewCombinations nc
								WHERE cc.[MID] = nc.[MerchantID]
							--	AND cc.[Narrative] = nc.[Narrative]
							--	AND cc.[OriginatorID] = nc.[OriginatorID]
								AND cc.[LocationCountry] = nc.[MerchantCountry]
								AND cc.[MCCID] = nc.[MCCID])
				GROUP BY	cc.[MID]
						,	cc.[Narrative]
						,	cc.[LocationCountry]
						,	cc.[MCCID]
				UNION ALL
				SELECT	[BrandID] = MAX(cc.[BrandID])
					,	cc.[MID]
					,	cc.[Narrative]
					,	cc.[LocationCountry]
					,	cc.[MCCID]
					,	[IsHighVariance] = MIN(CONVERT(INT, cc.[IsHighVariance]))
					,	[IsUKSpend] = MAX(CONVERT(INT, cc.[IsUKSpend]))
					,	[PaymentGatewayStatusID] = MAX(CONVERT(INT, cc.[PaymentGatewayStatusID]))
				FROM [WH_NWG].[Trans].[ConsumerCombination] cc
				WHERE EXISTS (	SELECT 1
								FROM #NewCombinations nc
								WHERE cc.[MID] = nc.[MerchantID]
							--	AND cc.[Narrative] = nc.[Narrative]
							--	AND cc.[OriginatorID] = nc.[OriginatorID]
								AND cc.[LocationCountry] = nc.[MerchantCountry]
								AND cc.[MCCID] = nc.[MCCID])
				GROUP BY	cc.[MID]
						,	cc.[Narrative]
						,	cc.[LocationCountry]
						,	cc.[MCCID]) cc
		GROUP BY	cc.[MID]
				,	cc.[Narrative]
				,	cc.[LocationCountry]
				,	cc.[MCCID]
		
		INSERT INTO [Trans].[ConsumerCombination]
		SELECT	[BrandID] = MAX(ecc.[BrandID])
			,	ecc.[MID]
			,	ecc.[Narrative]
			,	ecc.[LocationCountry]
			,	ecc.[MCCID]
			,	nc.[OriginatorID]
			,	[IsHighVariance] = MIN(ecc.[IsHighVariance])
			,	[IsUKSpend] = MAX(ecc.[IsUKSpend])
			,	[PaymentGatewayStatusID] = MAX(ecc.[PaymentGatewayStatusID])
			,	[ModifiedDate] = GETDATE()
		FROM #NewCombinations nc
		INNER JOIN #ExistingCCs ecc
			ON nc.[MerchantID] = ecc.[MID]
			AND nc.[MerchantCountry] = ecc.[LocationCountry]
			AND nc.[MCCID] = ecc.[MCCID]
			AND nc.[Narrative] LIKE ecc.[Narrative]
		WHERE NOT EXISTS (	SELECT 1
							FROM [Trans].[ConsumerCombination] cc
							WHERE ecc.[MID] = cc.[MID]
							AND ecc.[Narrative] = cc.[Narrative]
							AND ecc.[LocationCountry] = cc.[LocationCountry]
							AND ecc.[MCCID] = cc.[MCCID]
							AND nc.[OriginatorID] = cc.[OriginatorID])
		GROUP BY	ecc.[MID]
				,	ecc.[Narrative]
				,	ecc.[LocationCountry]
				,	ecc.[MCCID]
				,	nc.[OriginatorID]

	/***********************************************************************************************************************
		4.1.	Non High Variance
	***********************************************************************************************************************/
	
		/***********************************************************************************************************************
			4.2.1.	Fetch CCs
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #CC_LV
			SELECT	[ConsumerCombinationID] = MAX([ConsumerCombinationID])
				,	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[OriginatorID]
				,	[Narrative]
			INTO #CC_LV
			FROM [Trans].[ConsumerCombination] cc
			WHERE EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_InitialStage] cis WITH (NOLOCK, INDEX ([IX_CC_Identifier]))
							WHERE cc.[MID] = cis.[MerchantID]
							AND cc.[LocationCountry] = cis.[MerchantCountry]
							AND cc.[Narrative] = cis.[Narrative]
							AND cc.[OriginatorID] = cis.[OriginatorID]
							AND cc.[MCCID] = cis.[MCCID]
							AND cis.[ConsumerCombinationID] IS NULL)
			AND cc.[IsHighVariance] = 0
			GROUP BY	[MID]
					,	[LocationCountry]
					,	[MCCID]
					,	[OriginatorID]
					,	[Narrative]
			OPTION (RECOMPILE)

			SET @RowsAffected = @@ROWCOUNT;
				
			CREATE CLUSTERED INDEX [CIX_CC] ON #CC_LV ([ConsumerCombinationID])
			CREATE NONCLUSTERED INDEX [IX_CC_Cover] ON #CC_LV ([MID], [LocationCountry], [MCCID], [OriginatorID], [Narrative])

			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CCs - Non High Variance - Fetch CCs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			
		/***********************************************************************************************************************
			4.2.2.	Link CCs to Transactions & create Looper table
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #CC_LV_Updater
			SELECT	cis.[FileID]
				,	cis.[RowNum]
				,	cis.[TransactionID]
				,	cc.[ConsumerCombinationID]
			INTO #CC_LV_Updater
			FROM [MIDI].[CTLoad_InitialStage] cis WITH (NOLOCK, INDEX ([IX_CC_Identifier]))
			INNER JOIN #CC_LV cc
				ON cis.[MerchantID] = cc.[MID]
				AND cis.[MerchantCountry] = cc.[LocationCountry]
				AND cis.[MCCID] = cc.[MCCID]
				AND cis.[OriginatorID] = cc.[OriginatorID]
				AND cis.[Narrative] = cc.[Narrative]
			WHERE cis.[ConsumerCombinationID] IS NULL
			OPTION (RECOMPILE)

			SET @RowsAffected = @@ROWCOUNT;
		
			CREATE CLUSTERED INDEX [CIX_FileRowCC] ON #CC_LV_Updater ([FileID], [RowNum], [TransactionID], [ConsumerCombinationID])
		
			DROP TABLE IF EXISTS #CC_LV_Updater_Loop
			SELECT	[FileID]
				,	[RowNum]
				,	[TransactionID]
				,	[ConsumerCombinationID]
			INTO #CC_LV_Updater_Loop
			FROM #CC_LV_Updater
			WHERE 1 = 2

			CREATE CLUSTERED INDEX [CIX_FileRowCC] ON #CC_LV_Updater_Loop ([FileID], [RowNum], [TransactionID], [ConsumerCombinationID])
			
			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CCs - Non High Variance - Link CCs to Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		/***********************************************************************************************************************
			4.2.3.	Update CC IDs
		***********************************************************************************************************************/
		
			SET @RowsAffected = 0
				
			WHILE (SELECT COUNT(*) FROM #CC_LV_Updater) > 0
				BEGIN

					TRUNCATE TABLE #CC_LV_Updater_Loop

					;WITH
					CC_LV_Looper AS (	SELECT TOP(500000) * 
										FROM #CC_LV_Updater
										ORDER BY	[FileID]
												,	[RowNum]
												,	[TransactionID])

					DELETE
					FROM CC_LV_Looper
					OUTPUT	DELETED.[FileID]
						,	DELETED.[RowNum]
						,	DELETED.[TransactionID]
						,	DELETED.[ConsumerCombinationID]
					INTO #CC_LV_Updater_Loop

					;WITH
					CC_LV_Updater AS (	SELECT	cis.[ConsumerCombinationID]
											,	[ConsumerCombinationID_New] = ccu.[ConsumerCombinationID]
									--	SELECT COUNT(*)
										FROM [MIDI].[CTLoad_InitialStage] cis WITH (INDEX ([IX_CC_Updater]))
										INNER JOIN #CC_LV_Updater_Loop ccu 
											ON cis.[FileID] = ccu.[FileID]
											AND cis.[RowNum] = ccu.[RowNum]
											AND cis.[TransactionID] = ccu.[TransactionID]
										)
										
				
					UPDATE CC_LV_Updater
					SET [ConsumerCombinationID] = [ConsumerCombinationID_New]

					SET @RowsAffected = @RowsAffected + @@ROWCOUNT

				END

			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CCs - Non High Variance - Link CCs to Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/***********************************************************************************************************************
		4.3.	High Variance
	***********************************************************************************************************************/

		/***********************************************************************************************************************
			4.3.1.	Fetch CCs
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #CC_HV
			SELECT	[ConsumerCombinationID] = MAX([ConsumerCombinationID])
				,	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[OriginatorID]
				,	[Narrative]
			INTO #CC_HV
			FROM [Trans].[ConsumerCombination] cc
			WHERE EXISTS (	SELECT 1
							FROM [MIDI].[CTLoad_InitialStage] cis WITH (INDEX ([IX_CC_Identifier]))
							WHERE cc.[MID] = cis.[MerchantID]
							AND cc.[LocationCountry] = cis.[MerchantCountry]
							AND cc.[OriginatorID] = cis.[OriginatorID]
							AND cc.[MCCID] = cis.[MCCID]
							AND cis.[ConsumerCombinationID] IS NULL)
			AND cc.[IsHighVariance] = 1
			GROUP BY	[MID]
					,	[LocationCountry]
					,	[MCCID]
					,	[OriginatorID]
					,	[Narrative]
			OPTION (RECOMPILE)

			SET @RowsAffected = @@ROWCOUNT;
				
			CREATE CLUSTERED INDEX [CIX_CC] ON #CC_HV ([ConsumerCombinationID])
			CREATE NONCLUSTERED INDEX [IX_CC_Cover] ON #CC_HV ([MID], [LocationCountry], [MCCID], [OriginatorID], [Narrative])

			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CCs - High Variance - Fetch CCs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		/***********************************************************************************************************************
			4.3.2.	Link CCs to Transactions & create Looper table
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #CC_HV_Updater
			SELECT	cis.[FileID]
				,	cis.[RowNum]
				,	cis.[TransactionID]
				,	cc.[ConsumerCombinationID]
			INTO #CC_HV_Updater
			FROM [MIDI].[CTLoad_InitialStage] cis WITH (NOLOCK, INDEX ([IX_CC_Identifier]))
			INNER JOIN #CC_HV cc
				ON cis.[MerchantID] = cc.[MID]
				AND cis.[MerchantCountry] = cc.[LocationCountry]
				AND cis.[MCCID] = cc.[MCCID]
				AND cis.[OriginatorID] = cc.[OriginatorID]
				AND cis.[Narrative] LIKE cc.[Narrative]
			WHERE cis.[ConsumerCombinationID] IS NULL
			OPTION (RECOMPILE)

			SET @RowsAffected = @@ROWCOUNT;
		
			CREATE CLUSTERED INDEX [CIX_FileRowCC] ON #CC_HV_Updater ([FileID], [RowNum], [TransactionID], [ConsumerCombinationID])
		
			DROP TABLE IF EXISTS #CC_HV_Updater_Loop
			SELECT	[FileID]
				,	[RowNum]
				,	[TransactionID]
				,	[ConsumerCombinationID]
			INTO #CC_HV_Updater_Loop
			FROM #CC_HV_Updater
			WHERE 1 = 2

			CREATE CLUSTERED INDEX [CIX_FileRowCC] ON #CC_HV_Updater_Loop ([FileID], [RowNum], [TransactionID], [ConsumerCombinationID])

			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CCs - High Variance - Link CCs to Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		/***********************************************************************************************************************
			4.3.3.	Update CC IDs
		***********************************************************************************************************************/
				
			SET @RowsAffected = 0
			
			WHILE (SELECT COUNT(*) FROM #CC_HV_Updater) > 0
				BEGIN

					TRUNCATE TABLE #CC_HV_Updater_Loop

					;WITH
					CC_HV_Looper AS (	SELECT TOP(500000) * 
										FROM #CC_HV_Updater
										ORDER BY	[FileID]
												,	[RowNum]
												,	[TransactionID])

					DELETE
					FROM CC_HV_Looper
					OUTPUT	DELETED.[FileID]
						,	DELETED.[RowNum]
						,	DELETED.[TransactionID]
						,	DELETED.[ConsumerCombinationID]
					INTO #CC_HV_Updater_Loop

					;WITH
					CC_HV_Updater AS (	SELECT	TOP 50000
												cis.[ConsumerCombinationID]
											,	[ConsumerCombinationID_New] = ccu.[ConsumerCombinationID]
									--	SELECT COUNT(*)
										FROM [MIDI].[CTLoad_InitialStage] cis WITH (INDEX ([IX_CC_Updater]))
										INNER JOIN #CC_HV_Updater_Loop ccu 
											ON cis.[FileID] = ccu.[FileID]
											AND cis.[RowNum] = ccu.[RowNum]
											AND cis.[TransactionID] = ccu.[TransactionID])
				
					UPDATE CC_HV_Updater
					SET [ConsumerCombinationID] = [ConsumerCombinationID_New]

					SET @RowsAffected = @RowsAffected + @@ROWCOUNT

				END

			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CCs - High Variance - Link CCs to Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			
/*******************************************************************************************************************************************
	6.	Log Stats for the processed file
*******************************************************************************************************************************************/

	INSERT INTO [MIDI].[CardTransaction_QA] (	[FileID]
											,	[FileCount]
											,	[MatchedCount]
											,	[UnmatchedCount]
											,	[NoCINCount]
											,	[PositiveCount]
											,	[QADate])
	SELECT	[FileID]
		,	[FileCount] = COUNT(1)
		,	[MatchedCount] = SUM(CASE WHEN [ConsumerCombinationID] IS NULL THEN 0 ELSE 1 END)
		,	[UnmatchedCount] = SUM(CASE WHEN [ConsumerCombinationID] IS NULL THEN 1 ELSE 0 END)
		,	[NoCINCount] = SUM(CASE WHEN [CINID] IS NOT NULL THEN 0 ELSE 1 END)
		,	[PositiveCount] = SUM(CASE WHEN [IsRefund] = 0 THEN 1 ELSE 0 END)
		,	[QADate] = GETDATE()
	FROM [MIDI].[CTLoad_InitialStage]
	GROUP BY [FileID]
	
	SET @RowsAffected = @@ROWCOUNT;
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 6. Stored [' + CAST(@RowsAffected AS VARCHAR(10)) + '] log entries in [MIDI].[CardTransaction_QA]';
	EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
/*******************************************************************************************************************************************
	7.	Load transaction with an assigned [CINID], [ConsumerCombinationID] & [LocationID] to permanent holding table
*******************************************************************************************************************************************/

	INSERT INTO [MIDI].[ConsumerTransactionHolding] (	[FileID]
													,	[RowNum]
													,	[TransactionID]
													,	[CINID]
													,	[CustomerGUID]
													,	[CardGUID]
													,	[ConsumerCombinationID]
													,	[SecondaryCombinationID]
													,	[LocationID]
													,	[Amount]
													,	[Amount_OriginalCurrency]
													,	[TranDate]
													,	[TranTime]
													,	[CardholderPresentData]
													,	[AuthCode]
													,	[CurrencyCode]
													,	[IsRefund]
													,	[IsOnline]
													,	[InputModeID]
													,	[PaymentTypeID]
													,	[LoadDate]
													,	[FileName])
	SELECT	cis.[FileID]
		,	cis.[RowNum]
		,	cis.[TransactionID]
		,	cis.[CINID]
		,	cis.[CustomerGUID]
		,	cis.[CardGUID]
		,	cis.[ConsumerCombinationID]
		,	cis.[SecondaryCombinationID]
		,	cis.[LocationID]
		,	cis.[Amount]
		,	cis.[Amount_OriginalCurrency]
		,	cis.[TranDate]
		,	cis.[TranTime]
		,	cis.[CardholderPresentData]
		,	cis.[AuthCode]
		,	cis.[CurrencyCode]
		,	cis.[IsRefund]
		,	cis.[IsOnline]
		,	cis.[InputModeID]
		,	cis.[PaymentTypeID]
		,	cis.[LoadDate]
		,	cis.[FileName]
	FROM [MIDI].[CTLoad_InitialStage] cis WITH (NOLOCK)
	WHERE cis.[CINID] IS NOT NULL
	AND cis.[ConsumerCombinationID] IS NOT NULL
	AND cis.[LocationID] IS NOT NULL
	ORDER BY	cis.[FileID]
			,	cis.[RowNum]

	SET @RowsAffected = @@ROWCOUNT;
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 7. capture matched transactions to holding [' + CAST(@RowsAffected AS VARCHAR(10)) + ']';
	EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	DROP TABLE IF EXISTS #RowCount_CH
	SELECT	[FileID] = ftp.[FileID]
		,	[RowsProcessed] = COUNT(pti.[RowNum])
	INTO #RowCount_CH
	FROM #FilesToProcess ftp
	LEFT JOIN [MIDI].[ConsumerTransactionHolding] pti
		ON ftp.[FileID] = pti.[FileID]
	GROUP BY	ftp.[FileID]

	INSERT INTO #RowCount_CH
	SELECT	[FileID] = ftp.[FileID]
		,	[RowsProcessed] = COUNT(pti.[RowNum])
	FROM #FilesToProcess ftp
	LEFT JOIN [MIDI].[CTLoad_MIDIHolding] pti
		ON ftp.[FileID] = pti.[FileID]
	GROUP BY	ftp.[FileID]

	INSERT INTO #RowCount_CH
	SELECT	[FileID] = ftp.[FileID]
		,	[RowsProcessed] = COUNT(pti.[RowNum])
	FROM #FilesToProcess ftp
	LEFT JOIN [Trans].[ConsumerTransaction] pti
		ON ftp.[FileID] = pti.[FileID]
	GROUP BY	ftp.[FileID]

	UPDATE fp
	SET	fp.[RowsProcessed] = ISNULL(rc.[RowsProcessed], 0)
	,	fp.[ProcessedDate] = GETDATE()
	FROM [MIDI].[GenericTrans_FilesProcessed] fp
	INNER JOIN (SELECT	[FileID]
					,	[RowsProcessed] = SUM([RowsProcessed])
				FROM #RowCount_CH
				GROUP BY [FileID]) rc
		ON fp.[FileID] = rc.[FileID]
			   
	SET @RowsAffected = @@ROWCOUNT;
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 7. Updated [' + CAST(@RowsAffected AS VARCHAR(10)) + '] log entries in [MIDI].[GenericTrans_FilesProcessed]';
	EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	   
/*******************************************************************************************************************************************
	8.	Where there is no assigned [CINID], [ConsumerCombinationID] & [LocationID], load to permanent MIDI holding table
*******************************************************************************************************************************************/
	
	INSERT INTO [MIDI].[CTLoad_MIDIHolding] (	[FileID]
											,	[RowNum]
											,	[TransactionID]
											,	[CustomerGUID]
											,	[ExternalCustomerGUID]
											,	[CIN]
											,	[CINID]
											,	[BankAccountGUID]
											,	[CardGUID]
											,	[ExternalCardGUID]
											,	[TranDate]
											,	[TranTime]
											,	[Amount]
											,	[Amount_OriginalCurrency]
											,	[AuthCode]
											,	[CurrencyCode]
											,	[MerchantID]
											,	[Narrative]
											,	[OriginatorID]
											,	[MerchantCountry]
											,	[MCC]
											,	[MCCID]
											,	[CardholderPresentData]
											,	[ProcessCode]
											,	[PostStatus]
											,	[CardInputMode]
											,	[InputModeID]
											,	[PaymentTypeID]
											,	[IsOnline]
											,	[IsRefund]
											,	[ConsumerCombinationID]
											,	[RequiresSecondaryID]
											,	[SecondaryCombinationID]
											,	[LocationID]
											,	[LoadDate]
											,	[FileName])
	SELECT	cis.[FileID]
		,	cis.[RowNum]
		,	cis.[TransactionID]
		,	cis.[CustomerGUID]
		,	cis.[ExternalCustomerGUID]
		,	cis.[CIN]
		,	cis.[CINID]
		,	cis.[BankAccountGUID]
		,	cis.[CardGUID]
		,	cis.[ExternalCardGUID]
		,	cis.[TranDate]
		,	cis.[TranTime]
		,	cis.[Amount]
		,	cis.[Amount_OriginalCurrency]
		,	cis.[AuthCode]
		,	cis.[CurrencyCode]
		,	cis.[MerchantID]
		,	cis.[Narrative]
		,	cis.[OriginatorID]
		,	cis.[MerchantCountry]
		,	cis.[MCC]
		,	cis.[MCCID]
		,	cis.[CardholderPresentData]
		,	cis.[ProcessCode]
		,	cis.[PostStatus]
		,	cis.[CardInputMode]
		,	cis.[InputModeID]
		,	cis.[PaymentTypeID]
		,	cis.[IsOnline]
		,	cis.[IsRefund]
		,	cis.[ConsumerCombinationID]
		,	cis.[RequiresSecondaryID]
		,	cis.[SecondaryCombinationID]
		,	cis.[LocationID]
		,	cis.[LoadDate]
		,	cis.[FileName]
	FROM [MIDI].[CTLoad_InitialStage] cis
	WHERE (cis.[CINID] IS NULL
	OR cis.[ConsumerCombinationID] IS NULL
	OR cis.[LocationID] IS NULL)
	AND NOT EXISTS (SELECT 1
					FROM [MIDI].[CTLoad_MIDIHolding] cth
					WHERE cis.[FileID] = cth.[FileID]
					AND cis.[RowNum] = cth.[RowNum])
	AND NOT EXISTS (SELECT 1
					FROM [MIDI].[ConsumerTransactionHolding] cth
					WHERE cis.[FileID] = cth.[FileID]
					AND cis.[RowNum] = cth.[RowNum])

	SET @RowsAffected = @@ROWCOUNT;
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 8. capture matched transactions to MIDI holding [' + CAST(@RowsAffected AS VARCHAR(10)) + ']';
	EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
/*******************************************************************************************************************************************
	9.	Clear down Staging table
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		9.1.	Clear down Staging table
	***********************************************************************************************************************/

		TRUNCATE TABLE [MIDI].[CTLoad_InitialStage]
		
	/***********************************************************************************************************************
		9.2.	Mark the file as processsed
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #RowCount_MH
		SELECT	[FileID] = ftp.[FileID]
			,	[RowsProcessed] = COUNT(pti.[RowNum])
		INTO #RowCount_MH
		FROM #FilesToProcess ftp
		INNER JOIN [MIDI].[ConsumerTransactionHolding] pti
			ON ftp.[FileID] = pti.[FileID]
		GROUP BY	ftp.[FileID]

		INSERT INTO #RowCount_MH
		SELECT	[FileID] = ftp.[FileID]
			,	[RowsProcessed] = COUNT(pti.[RowNum])
		FROM #FilesToProcess ftp
		INNER JOIN [MIDI].[CTLoad_MIDIHolding] pti
			ON ftp.[FileID] = pti.[FileID]
		GROUP BY	ftp.[FileID]

		INSERT INTO #RowCount_MH
		SELECT	[FileID] = ftp.[FileID]
			,	[RowsProcessed] = COUNT(pti.[RowNum])
		FROM #FilesToProcess ftp
		INNER JOIN [Trans].[ConsumerTransaction] pti
			ON ftp.[FileID] = pti.[FileID]
		GROUP BY	ftp.[FileID]
			
		DROP TABLE IF EXISTS #RowCount
		SELECT	[FileID] = ftp.[FileID]
			,	[FileName] = ftp.[FileName]
			,	[LoadDate] = ftp.[LoadDate]
			,	[RowsProcessed] = MAX(COALESCE(pti.[RowsProcessed], 0))
		INTO #RowCount
		FROM #FilesToProcess ftp
		LEFT JOIN (SELECT	[FileID]
						,	[RowsProcessed] = SUM([RowsProcessed])
					FROM #RowCount_MH
					GROUP BY [FileID]) pti
			ON ftp.[FileID] = pti.[FileID]
		GROUP BY	ftp.[FileID]
				,	ftp.[FileName]
				,	ftp.[LoadDate]

		UPDATE fp
		SET	fp.[RowsProcessed] = ISNULL(rc.[RowsProcessed], 0)
		,	fp.[ProcessedDate] = GETDATE()
		FROM [MIDI].[GenericTrans_FilesProcessed] fp
		INNER JOIN (SELECT	[FileID]
						,	[RowsProcessed] = SUM([RowsProcessed])
					FROM #RowCount_CH
					GROUP BY [FileID]) rc
			ON fp.[FileID] = rc.[FileID]

		MERGE [MIDI].[FilesToProcess] target	-- Destination table
		USING #RowCount source						-- Source table
		ON target.[FileID] = source.[FileID]					-- Match criteria

		WHEN MATCHED THEN
			UPDATE SET	target.[Processed_RowCount] = [RowsProcessed]	-- If matched, update to new value
					,	target.[Processed_Date] = GETDATE()		-- If matched, update to new value

		WHEN NOT MATCHED THEN			-- If not matched, add new rows
			INSERT ([FileID]
				,	[FileName]
				,	[LoadDate]
				,	[Processed_RowCount]
				,	[Processed_Date])
			VALUES (source.[FileID]
				,	source.[FileName]
				,	source.[LoadDate]
				,	source.[RowsProcessed]
				,	GETDATE());
	
		SET @RowsAffected = @@ROWCOUNT;
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 9.2. Updated [' + CAST(@RowsAffected AS VARCHAR(10)) + '] log entries in [MIDI].[FilesToProcess]';
		EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

END

GO
