USE [WH_QNB]
GO
/****** Object:  StoredProcedure [MIDI].[Inbound_FilesToProcess]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[Inbound_FilesToProcess]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch all the files & load datetimes for each of the tables in the Inbound Schema
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Transactions
			SELECT	[LoadDate] = MIN(t.[LoadDate])
				,	t.[FileName]
			INTO #Transactions
			FROM [Inbound].[Transactions] t WITH (NOLOCK)
			WHERE t.[LoadDate] > DATEADD(WEEK, -1, GETDATE())
			GROUP BY	t.[FileName]

			INSERT INTO #Transactions
			SELECT	[LoadDate] = MIN(t.[LoadDate])
				,	t.[FileName]
			FROM [Inbound].[Transactions_DD] t WITH (NOLOCK)
			WHERE t.[LoadDate] > DATEADD(WEEK, -1, GETDATE())
			GROUP BY	t.[FileName]
			
			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	DISTINCT
					[TableName] = 'Transactions'
				,	[LoadDate] = CONVERT(SMALLDATETIME, t.[LoadDate])
				,	[FileName] = t.[FileName]
				,	[FileNameDate] = COALESCE(	TRY_CONVERT(DATE, SUBSTRING([FileName], PATINDEX('%[0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]%', [FileName]), 10), 110)
											,	TRY_CONVERT(DATE, SUBSTRING([FileName], PATINDEX('%20[0-9][0-9]-[0-9][0-9]-[0-9][0-9]%', [FileName]), 10))
											,	TRY_CONVERT(DATE, SUBSTRING([FileName], PATINDEX('%20[0-9][0-9][0-1][0-9][0-3][0-9]%', [FileName]), 8))
											,	TRY_CONVERT(DATE, RIGHT(dc.[DateConvert_ddmmyyyy], 4) + SUBSTRING(dc.[DateConvert_ddmmyyyy], 3, 2) + LEFT(dc.[DateConvert_ddmmyyyy], 2))
											,	TRY_CONVERT(DATE, RIGHT(dc.[DateConvert_ddmmyy], 2) + SUBSTRING(dc.[DateConvert_ddmmyy], 3, 2) + LEFT(dc.[DateConvert_ddmmyy], 2)))
				,	[FileProcessed] = 0
			INTO #Inbound_Files
			FROM #Transactions t
			CROSS APPLY (	SELECT	[DateConvert_ddmmyyyy] = COALESCE(	CASE WHEN SUBSTRING([FileName], PATINDEX('%[0-3][0-9]0[1-9]20[2-4][2-9]%', [FileName]), 3) = LEFT([FileName], 2) THEN NULL ELSE SUBSTRING([FileName], PATINDEX('%[0-3][0-9]0[1-9]20[2-4][2-9]%', [FileName]), 8) END
																	,	CASE WHEN SUBSTRING([FileName], PATINDEX('%[0-3][0-9]1[0-2]20[2-4][2-9]%', [FileName]), 3) = LEFT([FileName], 2) THEN NULL ELSE SUBSTRING([FileName], PATINDEX('%[0-3][0-9]1[0-2]20[2-4][2-9]%', [FileName]), 8) END)
								,	[DateConvert_ddmmyy] = COALESCE(	CASE WHEN SUBSTRING([FileName], PATINDEX('%[0-3][0-9]0[1-9]2[2-9]%', [FileName]), 3) = LEFT([FileName], 2) THEN NULL ELSE SUBSTRING([FileName], PATINDEX('%[0-3][0-9]0[1-9]2[2-9]%', [FileName]), 6) END
																	,	CASE WHEN SUBSTRING([FileName], PATINDEX('%[0-3][0-9]1[0-2]2[2-9]%', [FileName]), 3) = LEFT([FileName], 2) THEN NULL ELSE SUBSTRING([FileName], PATINDEX('%[0-3][0-9]1[0-2]2[2-9]%', [FileName]), 6) END)) dc
			
			CREATE CLUSTERED INDEX [CIX_DateFileLoad] ON #Inbound_Files ([FileNameDate], [FileName], [LoadDate])
			
			INSERT INTO [WHB].[Transaction_Files] (	[TableName]
												,	[LoadDate]
												,	[FileName]
												,	[FileNameDate]
												,	[FileProcessed])
			SELECT	DISTINCT
					i.[TableName]
				,	i.[LoadDate]
				,	i.[FileName]
				,	i.[FileNameDate]
				,	i.[FileProcessed]
			FROM #Inbound_Files i
			WHERE NOT EXISTS (	SELECT 1
								FROM [WHB].[Transaction_Files] i2
								WHERE i.[FileName] = i2.[FileName])
			ORDER BY	i.[FileNameDate]
					,	i.[TableName]
					,	i.[FileName]
					,	i.[LoadDate]

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
