USE [WH_QNB]
GO
/****** Object:  StoredProcedure [MIDI].[__GenericTransLoader_Credit_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[__GenericTransLoader_Credit_Archived]
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT

	DECLARE	@CurrentRow INT = 1
		,	@CurrentPartitionID INT
		,	@CurrentPartitionStart DATE
		,	@msg NVARCHAR(4000)
		,	@Rows INT

	DECLARE	@strThisPartitionStartDate VARCHAR(8)
		,	@strNextPartitionStartDate VARCHAR(8)
		,	@strPartitionID VARCHAR(3)
	
	DECLARE	@IdentitySeed BIGINT

	/*******************************************************************************************************************************************
		1.	If there's no data to process, drop out
	*******************************************************************************************************************************************/

		SELECT @RowsAffected = COUNT(*) FROM [MIDI].[ConsumerTransaction_CreditHolding] 
		IF @RowsAffected = 0 BEGIN
			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 1. No rows to process'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			RETURN 0
		END

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 1. Program started'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/*******************************************************************************************************************************************
		2.	If the shadow table has data, drop out
	*******************************************************************************************************************************************/

		IF EXISTS(SELECT 1 FROM SYS.TABLES WHERE [Name] = 'ConsumerTransaction_shadow')
			BEGIN -- check if the table has any content 
				DECLARE @RowCount INT; 

				SELECT @RowCount = COUNT(*)
				FROM [Trans].[ConsumerTransaction_Pre_shadow] 

				IF @RowCount > 0
					BEGIN -- Log it, raise an error and return
						SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 2. ERROR: shadow table contains data'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
						RETURN -1
					END

			END
			
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 2. Shadow table is empty, process can continue'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/*******************************************************************************************************************************************
		3.	Create a new partition if necessary. Use the same filegroup for the new partition
	*******************************************************************************************************************************************/
	
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 3. No new partitions require creating'

		DECLARE @MaxPartitionDate DATETIME
		SELECT @MaxPartitionDate = CONVERT(DATETIME,MAX(prv.[Value]),120) 
		FROM sys.partition_range_values prv
		INNER JOIN sys.partition_functions pf 
			ON pf.function_id = prv.function_id
		WHERE pf.[Name] = 'PartitionByMonthFunction'

		IF @MaxPartitionDate < DATEADD(DAY,1,EOMONTH(GETDATE()))
			BEGIN

				ALTER PARTITION SCHEME PartitionByMonthScheme NEXT USED [PRIMARY];

				DECLARE @SplitFunction NVARCHAR(MAX) = N'ALTER PARTITION FUNCTION PartitionByMonthFunction() SPLIT RANGE (N''' + CONVERT(NVARCHAR, DATEADD(MONTH,1,@MaxPartitionDate), 126) + ''');';
				EXEC sp_executesql @SplitFunction;

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 3. Created new partition ' + ' [' + CONVERT(NVARCHAR, DATEADD(MONTH,1,@MaxPartitionDate), 126) + ']';

			END

		EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/*******************************************************************************************************************************************
		4.	Measure the CT holding table
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #CTHolding;
		SELECT	[PartitionID]
			,	[Rows]
			,	[TranDate] = DATEADD(MONTH,DATEDIFF(MONTH, 0, [TranDate]), 0)
			,	[rn] = ROW_NUMBER() OVER (ORDER BY [PartitionID] DESC)
		INTO #CTHolding
		FROM (	SELECT	[PartitionID] = $PARTITION.[PartitionByMonthFunction_Date]([TranDate])
					,	[TranDate] = MIN([TranDate])
					,	[Rows] = COUNT(*)
			FROM [MIDI].[ConsumerTransaction_CreditHolding]
			GROUP BY $PARTITION.[PartitionByMonthFunction_Date]([TranDate])) d
		
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 4. Measure the CT holding table'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/*******************************************************************************************************************************************
		5.	Load Holding transactions to monthly Tran table partitions, most recent months first
	*******************************************************************************************************************************************/
		
		PRINT CHAR(13)

		WHILE 1 = 1
			BEGIN

			/*******************************************************************************************************************************************
				5.1.	Fetch partition details
			*******************************************************************************************************************************************/
		
				SELECT	@CurrentPartitionID = [PartitionID]
					,	@CurrentPartitionStart = [TranDate]
					,	@Rows = [Rows] 
				FROM #CTHolding
				WHERE [rn] = @CurrentRow
			
				IF @@ROWCOUNT = 0 BREAK

				SELECT	@strThisPartitionStartDate = CONVERT(VARCHAR(8),@CurrentPartitionStart,112)
					,	@strNextPartitionStartDate = CONVERT(VARCHAR(8),DATEADD(MONTH,1,@CurrentPartitionStart),112)
					,	@strPartitionID = CAST(@CurrentPartitionID AS VARCHAR(3))

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.1. Fetch partition details'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
			/*******************************************************************************************************************************************
				5.2.	Modify the check constraint on Trandate to match this partition numbers date range
			*******************************************************************************************************************************************/

				ALTER TABLE [Trans].[ConsumerTransaction_Pre_shadow] DROP CONSTRAINT [CheckTranDate_Pre_shadow]
				EXEC('ALTER TABLE [Trans].[ConsumerTransaction_Pre_shadow] ADD CONSTRAINT [CheckTranDate_Pre_shadow] CHECK (TranDate >= ''' + @strThisPartitionStartDate + ''' AND TranDate < ''' + @strNextPartitionStartDate + ''')')
				ALTER TABLE [Trans].[ConsumerTransaction_Pre_shadow] CHECK CONSTRAINT [CheckTranDate_Pre_shadow]
				ALTER TABLE [Trans].[ConsumerTransaction_Pre_shadow] NOCHECK CONSTRAINT ALL
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.2. Modify the Tran Date check constraint'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
			/*******************************************************************************************************************************************
				5.3.	Disable indexes on the shadow table (for performance)
			*******************************************************************************************************************************************/

				IF @Rows > 10000 AND (SELECT DATENAME(WEEKDAY, GETDATE())) = 'Saturday'
					BEGIN -- Only if the rowcount exceeds a threshold, disable the indexes
						ALTER INDEX [csx_ConsumerTrans_Pre_shadow] ON [Trans].[ConsumerTransaction_Pre_shadow] DISABLE 
						ALTER INDEX [ix_ConsumerTrans_Pre_shadow_ConsumerCombinationID] ON [Trans].[ConsumerTransaction_Pre_shadow] DISABLE
						ALTER INDEX [IX_ConsumerTrans_Pre_shadow_CINID] ON [Trans].[ConsumerTransaction_Pre_shadow] DISABLE
					END
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.3. Disable constraints & indexes on the shadow table'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			/*******************************************************************************************************************************************
				5.4.	Assign identity value + 1 from [Trans].[ConsumerTransaction_Credit_Pre] to parameter
						This allows the Shadow table to continue with the same incremental [ID] value as the main table
			*******************************************************************************************************************************************/
			
				SELECT @IdentitySeed = IDENT_CURRENT('[Trans].[ConsumerTransaction_Credit_Pre]') + 1;

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.4. Store Identity value from [Trans].[ConsumerTransaction_Credit_Pre]'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT				
				
			/*******************************************************************************************************************************************
				5.5.	Switch live data to the shadow table for this partition
			*******************************************************************************************************************************************/

				EXEC('ALTER TABLE [Trans].[ConsumerTransaction_Credit_Pre] SWITCH PARTITION ' + @strPartitionID + ' TO [Trans].[ConsumerTransaction_Pre_shadow]')	
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.5. Switch live data to the shadow table for this partition'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT				
				
			/*******************************************************************************************************************************************
				5.6.	Reseed the shadow table to have the same idenity value as the transaction table
			*******************************************************************************************************************************************/

				DBCC CHECKIDENT ('[Trans].[ConsumerTransaction_Pre_shadow]', RESEED, @IdentitySeed) WITH NO_INFOMSGS
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.6. Reseed the shadow table'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT				

			/*******************************************************************************************************************************************
				5.7.	Load the [Trans].[ConsumerTransaction_Pre_shadow] table with the given months data from [MIDI].[ConsumerTransaction_CreditHolding]
			*******************************************************************************************************************************************/

				INSERT INTO [Trans].[ConsumerTransaction_Pre_shadow] WITH (TABLOCKX) (	[FileID]
																				,	[RowNum]
																				,	[TransactionID]
																				,	[ConsumerCombinationID]
																				,	[SecondaryCombinationID]
																				,	[LocationID]
																				,	[CINID]
																				,	[CardGUID]
																				,	[Amount]
																				,	[Amount_OriginalCurrency]
																				,	[CurrencyCode]
																				,	[TranDate]
																				,	[IsRefund]
																				,	[CardholderPresentData]
																				,	[IsOnline]
																				,	[InputModeID]
																				,	[TokenTransactionIndicator]
																				,	[PaymentTypeID])
				SELECT	[FileID]
					,	[RowNum]
					,	[TransactionID]
					,	[ConsumerCombinationID]
					,	[SecondaryCombinationID]
					,	[LocationID] = -1
					,	[CINID]
					,	[CardGUID]
					,	[Amount] = CASE WHEN [CurrencyCode] = 'GBP' THEN [Amount] END
					,	[Amount_OriginalCurrency] = [Amount]
					,	[CurrencyCode]
					,	[TranDate]
					,	[IsRefund]
					,	[CardholderPresentData]
					,	[IsOnline]
					,	[InputModeID]
					,	[TokenTransactionIndicator]
					,	[PaymentTypeID]
				FROM [MIDI].[ConsumerTransaction_CreditHolding] cth
				WHERE NOT EXISTS (	SELECT 1
									FROM [Trans].[ConsumerTransaction_Pre_shadow] ct
									WHERE cth.[FileID] = ct.[FileID]
									AND cth.[RowNum] = ct.[RowNum]
								--	AND cth.[TransactionID] = ct.[TransactionID]
									)
				AND [TranDate] >= CONVERT(DATE, @strThisPartitionStartDate)
				AND [TranDate] < CONVERT(DATE, @strNextPartitionStartDate)
				ORDER BY	[FileID]
						,	[RowNum]

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.7. Load the [Trans].[ConsumerTransaction_Pre_shadow] table'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
			/*******************************************************************************************************************************************
				5.8.	Re-enable all constraints on [Trans].[ConsumerTransaction_Pre_shadow]
						Note that CheckTranDate has to be "trusted" i.e. entire shadow table must be checked.
			*******************************************************************************************************************************************/
			
				ALTER TABLE [Trans].[ConsumerTransaction_Pre_shadow] CHECK CONSTRAINT ALL
				ALTER TABLE [Trans].[ConsumerTransaction_Pre_shadow] WITH CHECK CHECK CONSTRAINT [CheckTranDate_Pre_shadow] 
				
			/*******************************************************************************************************************************************
				5.9.	Re-enable all indexes on [Trans].[ConsumerTransaction_Pre_shadow] - Disabled Dec 2023
			*******************************************************************************************************************************************/
			
				IF @Rows > 10000 AND (SELECT DATENAME(WEEKDAY, GETDATE())) = 'Saturday'
					BEGIN -- Only if the rowcount exceeds a threshold, rebuild the disabled indexes
					
						ALTER INDEX [csx_ConsumerTrans_Pre_shadow] ON [Trans].[ConsumerTransaction_Pre_shadow] REBUILD
				
						SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.9. Re-enable [csx_ConsumerTrans_Pre_shadow] on [Trans].[ConsumerTransaction_Pre_shadow]'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
						
						ALTER INDEX [ix_ConsumerTrans_Pre_shadow_ConsumerCombinationID] ON [Trans].[ConsumerTransaction_Pre_shadow] REBUILD WITH (DATA_COMPRESSION = PAGE)
					
						SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.9. Re-enable [ix_ConsumerTrans_Pre_shadow_ConsumerCombinationID] on [Trans].[ConsumerTransaction_Pre_shadow]'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			
						ALTER INDEX [IX_ConsumerTrans_Pre_shadow_CINID] ON [Trans].[ConsumerTransaction_Pre_shadow] REBUILD WITH (DATA_COMPRESSION = PAGE)
					
						SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.9. Re-enable [IX_ConsumerTrans_Pre_shadow_CINID] on [Trans].[ConsumerTransaction_Pre_shadow]'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			
						ALTER INDEX [IX_Date_All] ON [Trans].[ConsumerTransaction_Pre_shadow] REBUILD WITH (DATA_COMPRESSION = PAGE)
			
						SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.9. Re-enable [IX_Date_All] on [Trans].[ConsumerTransaction_Pre_shadow]'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
					
					END
						
			/*******************************************************************************************************************************************
				5.10.	Switch [Trans].[ConsumerTransaction_Pre_shadow] back to [Trans].[ConsumerTransaction_Credit_Pre]
			*******************************************************************************************************************************************/
			
				EXEC('ALTER TABLE [Trans].[ConsumerTransaction_Pre_shadow] SWITCH TO [Trans].[ConsumerTransaction_Credit_Pre] PARTITION ' + @strPartitionID)
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.10. Swtich Shadow table back to ConsumerTransaction'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			/*******************************************************************************************************************************************
				5.11.	Assign identity value from [ConsumerTransaction_shadow] to parameter
						This allows the [ConsumerTransaction] table to be assigned the identity value the shadow table got to

						As a safety measure, use the fetched Identity as a filter to confirm the max ID value from the [ConsumerTransaction] table
						This is done incase the load in 5.7. returned no results which could reset the identity if the table is empty
			*******************************************************************************************************************************************/
			
				SELECT @IdentitySeed = IDENT_CURRENT('[Trans].[ConsumerTransaction_Pre_shadow]')
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.11. Assign identity value from [ConsumerTransaction_shadow] to parameter'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
			/*******************************************************************************************************************************************
				5.12.	Reseed the identity in the [ConsumerTransaction] table to the new @IdentitySeed value
			*******************************************************************************************************************************************/
				
				DBCC CHECKIDENT ('[Trans].[ConsumerTransaction_Credit_Pre]', RESEED, @IdentitySeed) WITH NO_INFOMSGS
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.12. Reseed the [ConsumerTransaction] table'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			/*******************************************************************************************************************************************
				5.13.	Reseed the [ConsumerTransaction_shadow] to 0
			*******************************************************************************************************************************************/
			
				DBCC CHECKIDENT ('[Trans].[ConsumerTransaction_Pre_shadow]', RESEED, 0) WITH NO_INFOMSGS

				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.13. Reseed the [ConsumerTransaction_shadow] to 0'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
			/*******************************************************************************************************************************************
				5.14.	Truncate the [ConsumerTransaction_shadow] table ready for the next execution
			*******************************************************************************************************************************************/
			
				TRUNCATE TABLE [Trans].[ConsumerTransaction_Pre_shadow]
				
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.14. Truncate the [ConsumerTransaction_shadow] table'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
			/*******************************************************************************************************************************************
				5.15.	IncerementRegister partition as completed
			*******************************************************************************************************************************************/
			
				SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' 5.15. Loaded partition ' + CAST(@CurrentPartitionID AS VARCHAR(2)) + ' [' + CAST(@Rows AS VARCHAR(10)) + ']'; /*SET @SSMS = 2;*/ EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			/*******************************************************************************************************************************************
				5.16.	Incerement to the next @CurrentRow value for the next partition loop
			*******************************************************************************************************************************************/
				
				SET @CurrentRow = @CurrentRow + 1
				PRINT CHAR(13)

			END	--	WHILE 1 = 1
		
	/*******************************************************************************************************************************************
		6.	Mark the load as complete
	*******************************************************************************************************************************************/

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 6. Program finished'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		7.	Update the process log table
	*******************************************************************************************************************************************/
	
		UPDATE fp
		SET fp.[RowsLoaded] = x.[RowsLoaded] + COALESCE(fp.[RowsLoaded], 0)
		,	fp.[LoadedDate] = GETDATE() 
		FROM [MIDI].[GenericTrans_FilesProcessed] fp
		INNER JOIN (SELECT	[FileID]
						,	[RowsLoaded] = COUNT(*)
					FROM [MIDI].[ConsumerTransaction_CreditHolding]
					GROUP BY	[FileID]) x
			ON x.[FileID] = fp.[FileID]

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 7. Update the process log table'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/*******************************************************************************************************************************************
		8.	Clear down the [ConsumerTransactionHolding] table
	*******************************************************************************************************************************************/
		
		TRUNCATE TABLE [MIDI].[ConsumerTransaction_CreditHolding]
	
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - 9. Clear down the [ConsumerTransactionHolding] table'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		

END

GO
