USE [WH_QNB]
GO
/****** Object:  StoredProcedure [Monitor].[BankingReports_DatesToLoad_Update]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Monitor].[BankingReports_DatesToLoad_Update] @PublisherID INT = 2070
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

--	Run data loads

	--	Fetch Publisher / Days to run

		DECLARE @RedemptionsLoad BIT = 1
			,	@EarningsLoad BIT = 1
			,	@BalancesLoad BIT = 1
			,	@ActionsLoad BIT = 1
			,	@CustomerLoad BIT = 1

		DECLARE @CustomerMatch BIT = 1
			,	@BankMatch BIT = 1

		DROP TABLE IF EXISTS #DatesToLoad_All
		CREATE TABLE #DatesToLoad_All (	[ID] INT IDENTITY
									,	[CalendarDate] DATE
									,	[PeriodStart] DATE
									,	[PeriodEnd] DATE
									,	[PeriodType] VARCHAR(25)
									,	[PublisherID_Customer] INT
									,	[PublisherID_Bank] INT
									,	[Redemptions] INT
									,	[Earnings] INT
									,	[Balances] INT
									,	[Customers] INT
									,	[Actions] INT)

		INSERT INTO #DatesToLoad_All
		SELECT	[CalendarDate]
			,	[PeriodStart]
			,	[PeriodEnd]
			,	[PeriodType]
			,	[PublisherID_Customer] = [PublisherID]
			,	[PublisherID_Bank] = CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END
			,	[Redemptions] = CASE WHEN [Match_Customer] = 1 AND [Match_Bank] = 0 THEN 2 ELSE 1 END
			,	[Earnings] = 0
			,	[Balances] = 0
			,	[Customers] = 0
			,	[Actions] = 0
		FROM [WH_AllPublishers].[Monitor].[Redemptions_Log]
		WHERE (	[Reviewed] = 0
			OR	([Match_Bank] = 0 AND @BankMatch = 1)
			OR	([Match_Customer] = 0 AND @CustomerMatch = 1))
		AND @RedemptionsLoad = 1
		AND (CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END = @PublisherID)
		GROUP BY	[CalendarDate]
				,	[PeriodStart]
				,	[PeriodEnd]
				,	[PublisherID]
				,	[PeriodType]
				,	CASE WHEN [Match_Customer] = 1 AND [Match_Bank] = 0 THEN 2 ELSE 1 END
		
		INSERT INTO #DatesToLoad_All
		SELECT	[CalendarDate]
			,	[PeriodStart]
			,	[PeriodEnd]
			,	[PeriodType]
			,	[PublisherID_Customer] = [PublisherID]
			,	[PublisherID_Bank] = CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END
			,	[Redemptions] = 0
			,	[Earnings] = CASE WHEN [Match_Customer] = 1 AND [Match_Bank] = 0 THEN 2 ELSE 1 END
			,	[Balances] = 0
			,	[Customers] = 0
			,	[Actions] = 0
		FROM [WH_AllPublishers].[Monitor].[Earnings_Log]
		WHERE (	[Reviewed] = 0
			OR	(([Match_Bank] = 0 AND @BankMatch = 1) AND [EarningSource] = 'Retailer')
			OR	([Match_Customer] = 0 AND @CustomerMatch = 1))
		AND @EarningsLoad = 1
		AND (CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END = @PublisherID)
		GROUP BY	[CalendarDate]
				,	[PeriodStart]
				,	[PeriodEnd]
				,	[PublisherID]
				,	[PeriodType]
				,	CASE WHEN [Match_Customer] = 1 AND [Match_Bank] = 0 THEN 2 ELSE 1 END
		
		INSERT INTO #DatesToLoad_All
		SELECT	[CalendarDate]
			,	[PeriodStart]
			,	[PeriodEnd]
			,	[PeriodType]
			,	[PublisherID_Customer] = [PublisherID]
			,	[PublisherID_Bank] = CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END
			,	[Redemptions] = 0
			,	[Earnings] = 0
			,	[Balances] = CASE WHEN [Match_Customer] = 1 AND [Match_Bank] = 0 THEN 2 ELSE 1 END
			,	[Customers] = 0
			,	[Actions] = 0
		FROM [WH_AllPublishers].[Monitor].[Balances_Log]
		WHERE (	[Reviewed] = 0
		--	OR	([Match_Bank] = 0 AND @BankMatch = 1)
			OR	([Match_Customer] = 0 AND @CustomerMatch = 1))
		AND @BalancesLoad = 1
		AND (CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END = @PublisherID)
		GROUP BY	[CalendarDate]
				,	[PeriodStart]
				,	[PeriodEnd]
				,	[PublisherID]
				,	[PeriodType]
				,	CASE WHEN [Match_Customer] = 1 AND [Match_Bank] = 0 THEN 2 ELSE 1 END
		
		INSERT INTO #DatesToLoad_All
		SELECT	[CalendarDate]
			,	[PeriodStart]
			,	[PeriodEnd]
			,	[PeriodType]
			,	[PublisherID_Customer] = [PublisherID]
			,	[PublisherID_Bank] = CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END
			,	[Redemptions] = 0
			,	[Earnings] = 0
			,	[Balances] = 0
			,	[Customers] = CASE WHEN [Match_Customer] = 1 AND [Match_Bank] = 0 THEN 2 ELSE 1 END
			,	[Actions] = 0
		FROM [WH_AllPublishers].[Monitor].[Customer_Archive_Log]
		WHERE (	[Reviewed] = 0
			OR	([Match_Bank] = 0 AND @BankMatch = 1)
			OR	([Match_Customer] = 0 AND @CustomerMatch = 1))
		AND @CustomerLoad = 1
		AND (CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END = @PublisherID)
		GROUP BY	[CalendarDate]
				,	[PeriodStart]
				,	[PeriodEnd]
				,	[PublisherID]
				,	[PeriodType]
				,	CASE WHEN [Match_Customer] = 1 AND [Match_Bank] = 0 THEN 2 ELSE 1 END
		
		INSERT INTO #DatesToLoad_All
		SELECT	[CalendarDate]
			,	[PeriodStart]
			,	[PeriodEnd]
			,	[PeriodType]
			,	[PublisherID_Customer] = [PublisherID]
			,	[PublisherID_Bank] = CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END
			,	[Redemptions] = 0
			,	[Earnings] = 0
			,	[Balances] = 0
			,	[Customers] = 0
			,	[Actions] = 1
		FROM [WH_AllPublishers].[Monitor].[Action_Log]
		WHERE (	[Reviewed] = 0
			OR	([Match_Bank] = 0 AND @BankMatch = 1)
			OR	([Match_Customer] = 0 AND @CustomerMatch = 1))
		AND @ActionsLoad = 1
		AND (CASE WHEN [PublisherID] = 138 THEN 132 ELSE [PublisherID] END = @PublisherID)
		GROUP BY	[CalendarDate]
				,	[PeriodStart]
				,	[PeriodEnd]
				,	[PublisherID]
				,	[PeriodType]

		UPDATE #DatesToLoad_All
		SET [PeriodType] = 'Year'
		WHERE MONTH([PeriodStart]) = 1
		AND DAY([PeriodStart]) = 1
		AND MONTH([PeriodEnd]) = 12
		AND DAY([PeriodEnd]) = 31
		AND [PeriodType] = ''

		UPDATE #DatesToLoad_All
		SET [PeriodType] = 'Quarter'
		WHERE MONTH([PeriodStart]) IN (1, 4, 7, 10)
		AND [PeriodStart] = DATEADD(MONTH, -3, DATEADD(DAY, 1, [PeriodEnd]))
		AND [PeriodType] = ''

		UPDATE #DatesToLoad_All
		SET [PeriodType] = 'Month'
		WHERE [PeriodStart] = DATEADD(MONTH, -1, DATEADD(DAY, 1, [PeriodEnd]))
		AND [PeriodType] = ''

		UPDATE #DatesToLoad_All
		SET [PeriodType] = 'Week'
		WHERE [PeriodStart] = DATEADD(DAY, -6, [PeriodEnd])
		AND [PeriodType] = ''
					
		DROP TABLE IF EXISTS #BankingReports_DatesToLoad_All
		SELECT	[ID] = MIN([ID])
			,	[CalendarDate]
			,	[MonthStart] = [PeriodStart]
			,	[MonthEnd] = [PeriodEnd]
			,	[PeriodType]
			,	[PublisherID_Customer]
			,	[PublisherID_Bank]
			,	[Actions] = MAX([Actions])
			,	[Balances] = MAX([Balances])
			,	[Redemptions] = MAX([Redemptions])
			,	[Earnings] = MAX([Earnings])
			,	[Customers] = MAX([Customers])
		INTO #BankingReports_DatesToLoad_All
		FROM #DatesToLoad_All
		WHERE [PeriodStart] < CONVERT(DATE, GETDATE())
		GROUP BY	[CalendarDate]
				,	[PeriodStart]
				,	[PeriodEnd]
				,	[PeriodType]
				,	[PublisherID_Customer]
				,	[PublisherID_Bank]
					
		DROP TABLE IF EXISTS [Monitor].[BankingReports_DatesToLoad_All]
		SELECT	[ID] = MIN([ID])
			,	[CalendarDate]
			,	[MonthStart]
			,	[MonthEnd]
			,	[PeriodType]
			,	[PublisherID_Customer]
			,	[PublisherID_Bank]
			,	[Actions] = MAX([Actions])
			,	[Balances] = MAX([Balances])
			,	[Redemptions] = MAX([Redemptions])
			,	[Earnings] = MAX([Earnings])
			,	[Customers] = MAX([Customers])
		INTO [Monitor].[BankingReports_DatesToLoad_All]
		FROM #BankingReports_DatesToLoad_All
		WHERE [CalendarDate] >= DATEADD(MONTH, -30, GETDATE())
		GROUP BY	[CalendarDate]
				,	[MonthStart]
				,	[MonthEnd]
				,	[PeriodType]
				,	[PublisherID_Customer]
				,	[PublisherID_Bank]
				
		DROP TABLE IF EXISTS [Monitor].[BankingReports_DatesToLoad]
		SELECT	[ID]
			,	[CalendarDate]
			,	[MonthStart]
			,	[MonthEnd]
			,	[PeriodType]
			,	[PublisherID_Customer]
			,	[PublisherID_Bank]
			,	[Actions]
			,	[Balances]
			,	[Redemptions]
			,	[Earnings]
			,	[Customers]
		INTO [Monitor].[BankingReports_DatesToLoad]
		FROM [Monitor].[BankingReports_DatesToLoad_All]
		ORDER BY	[CalendarDate] DESC
				,	[PublisherID_Bank]
				
		SELECT	[ID]
			,	[CalendarDate]
			,	[MonthStart]
			,	[MonthEnd]
			,	[PeriodType]
			,	[PublisherID_Customer]
			,	[PublisherID_Bank]
			,	[Actions]
			,	[Balances]
			,	[Redemptions]
			,	[Earnings]
			,	[Customers]
		FROM [Monitor].[BankingReports_DatesToLoad]
		ORDER BY	[CalendarDate] DESC
				,	[PublisherID_Bank]

END


GO
