USE [WH_QNB]
GO
/****** Object:  StoredProcedure [Segmentation].[__StreamMembershipsToAWS_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Segmentation].[__StreamMembershipsToAWS_Archived] @PublisherID INT

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Pull list of all offers for the selected publisher that need to be pushed to production
		*******************************************************************************************************************************************/
		
		--	DECLARE @PublisherID INT = 182

			DROP TABLE IF EXISTS #OfferProcessLog
			SELECT	DISTINCT
					opl.[IronOfferID]
				,	[OfferGUID] = iof.[HydraOfferID]
			INTO #OfferProcessLog
			FROM [Segmentation].[OfferProcessLog] opl
			INNER JOIN [Derived].[IronOffer] iof
				ON opl.[IronOfferID] = iof.[IronOfferID]
				AND iof.[ClubID] = @PublisherID
			WHERE opl.[Processed] = 0
			AND EXISTS (SELECT 1
						FROM [Segmentation].[OfferMemberAddition] oma
						WHERE opl.[IronOfferID] = oma.[IronOfferID])

			CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #OfferProcessLog ([IronOfferID], [OfferGUID])

		/*******************************************************************************************************************************************
			2.	Pull list of all customers for the selected publisher
		*******************************************************************************************************************************************/
		
		--	DECLARE @PublisherID INT = 182

			DROP TABLE IF EXISTS #Customer
			SELECT	DISTINCT
					cu.[CompositeID]
				,	cu.[CustomerGUID]
			INTO #Customer
			FROM [Derived].[Customer] cu
			WHERE cu.[ClubID] = @PublisherID

			CREATE CLUSTERED INDEX [CIX_CustomerID] ON #Customer ([CompositeID], [CustomerGUID])
			CREATE NONCLUSTERED INDEX [IX_CustomerGUID] ON #Customer ([CustomerGUID])

		/*******************************************************************************************************************************************
			3.	Stream full list of offer memberships to AWS
		*******************************************************************************************************************************************/
		
			SELECT	[ID] = NEWID()
				,	[CustomerGUID]
				,	[HydraOfferID]
				,	[StartDate]
				,	[EndDate]
			FROM (	SELECT	DISTINCT
							cu.[CustomerGUID]
						,	[HydraOfferID] = iof.[OfferGUID]
						,	[StartDate] = CONVERT(VARCHAR, iom.[StartDate], 126)
						,	[EndDate] = CONVERT(VARCHAR, iom.[EndDate], 126)
					FROM [Segmentation].[OfferMemberAddition] iom
					INNER JOIN #OfferProcessLog iof
						ON iom.[IronOfferID] = iof.[IronOfferID]
					INNER JOIN #Customer cu
						ON iom.[CompositeID] = cu.[CompositeID]
					) oma
			ORDER BY	[CustomerGUID]
					,	[StartDate]
					,	[EndDate]

		/*******************************************************************************************************************************************
			4.	Mark offers as processed
		*******************************************************************************************************************************************/

			UPDATE opl
			SET	opl.[Processed] = 1
			,	opl.[ProcessedDate] = GETDATE()
			FROM [Segmentation].[OfferProcessLog] opl
			WHERE EXISTS (	SELECT 1
							FROM #OfferProcessLog opl2
							WHERE opl.[IronOfferID] = opl2.[IronOfferID])
			AND opl.[Processed] = 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
