USE [WH_QNB]
GO
/****** Object:  StoredProcedure [Segmentation].[Segmentation_CloseDeactivatedCustomers]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Author:			Stuart Barnley

	Date:			13th April 2016

	Purpose:		To EndDate any Shopper Segments where the customer is no longer active on the
					MyRewards scheme


*/

CREATE PROCEDURE [Segmentation].[Segmentation_CloseDeactivatedCustomers]
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Point Of Sale
	*******************************************************************************************************************************************/

			/***********************************************************************************************************************
				1.2.	End Date customers that are no longer active
			***********************************************************************************************************************/

				/***********************************************************************************************************************
					1.2.1.	Create Table of Deactivated Customers
				***********************************************************************************************************************/
				
					DROP TABLE IF EXISTS #Deactivated
					SELECT [FanID]
					INTO #Deactivated
					FROM [Derived].[Customer] cu
					WHERE cu.[CurrentlyActive] = 0

					CREATE CLUSTERED INDEX [CIX_FanID] ON #Deactivated ([FanID])


				/***********************************************************************************************************************
					1.2.2.	Fetch Roc_Shopper_Segment_Members IDs of the null End Date rows of Deactivated customers
				***********************************************************************************************************************/
				
					DROP TABLE IF EXISTS #Deactivated_IDs
					SELECT ssm.[ID]
					INTO #Deactivated_IDs
					FROM [Segmentation].[Roc_Shopper_Segment_Members] ssm
					WHERE ssm.[EndDate] IS NULL
					AND EXISTS (SELECT 1
								FROM #Deactivated d
								WHERE d.FanID = ssm.FanID)

					CREATE CLUSTERED INDEX [CIX_ID] ON #Deactivated_IDs ([ID])

				/***********************************************************************************************************************
					1.2.3.	Update the End Date of the rows fetched above
				***********************************************************************************************************************/
				
					DECLARE @MinID INT
						,	@MaxID INT

					SELECT	@MinID = MIN([ID])
						,	@MaxID = MAX([ID])
					FROM #Deactivated_IDs
					
					UPDATE ssm
					SET [EndDate] = GETDATE()
					FROM [Segmentation].[Roc_Shopper_Segment_Members] ssm
					WHERE EXISTS (SELECT 1
								  FROM #Deactivated_IDs up
								  WHERE ssm.[ID] = up.[ID])
					AND ssm.[ID] BETWEEN @MinID AND @MaxID

END

GO
