USE [WH_QNB]
GO
/****** Object:  StoredProcedure [Segmentation].[Segmentation_IndividualPartner_DD]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/********************************************************************************************
** Name: [Segmentation].[Segmentation_IndividualPartner_DD] 
** Desc: Segmentation of customers per partner for Direct Debit partners
** Auth: Rory Francis
** DATE: 2019-04-01
*********************************************************************************************
** Change History
** ---------------------
** #No		Date		Author			Description 
** --		--------	-------			------------------------------------
** 1		
*********************************************************************************************/

CREATE PROCEDURE [Segmentation].[Segmentation_IndividualPartner_DD]	@PartnerNo INT
																,	@ToBeRanked INT
																,	@ExlcudeNewJoiners BIT
																,	@NewJoinerLength_Days INT
																,	@WeeklyRun INT = 0

AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

/*	Testing
	
	EXEC [Segmentation].[Segmentation_IndividualPartner_DD] 5272, 1, 1, 56, 0

	DECLARE @PartnerNo INT = 5238
		,	@ToBeRanked INT = 1
		,	@ExlcudeNewJoiners BIT = 1
		,	@NewJoinerLength_Days INT = 56
		,	@WeeklyRun INT = 0

*/

	DECLARE @DaysSinceFirstTransaction INT = @NewJoinerLength_Days

	/*******************************************************************************************************************************************
		1.	Prepare parameters for sProc to run
	*******************************************************************************************************************************************/

		DECLARE @PartnerID INT = @PartnerNo
			,	@PartnerName VarChar(50) = (Select [PartnerName] from [Derived].[Partner] Where [PartnerID] = @PartnerNo)
			,	@BrandID INT
			,	@Today DATETIME = GETDATE()
			,	@time DATETIME
			,	@msg VARCHAR(2048)
			,	@SSMS BIT = NULL
			,	@TableName VARCHAR(50)
			,	@StartDate DATE = GETDATE()
			,	@EndDate DATE = DATEADD(day, -1, GETDATE())
			,	@RowCount INT
			,	@ErrorCode INT
			,	@ErrorMessage NVARCHAR(MAX)
			,	@ShopperCount INT = 0
			,	@LapsedCount INT = 0
			,	@AcquireCount INT = 0
			,	@Acquire INT
			,	@Lapsed INT
			,	@SPName VARCHAR(100) =	(SELECT CONVERT(VARCHAR(100), OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)))
			,	@FirstTranExclusionDate Date = DATEADD(day, - @DaysSinceFirstTransaction, GETDATE())
			,	@SegmentationStartTime DateTime = GETDATE()
			,	@SegmentationLength INT

		SELECT @Acquire = [Acquire] 
			 , @Lapsed = [Lapsed]
		FROM [Warehouse].[Segmentation].[PartnerSettings_DD]
		WHERE [PartnerID] = @PartnerID
		AND [EndDate] IS NULL
	
		SET @BrandID = (SELECT [BrandID] FROM [Derived].[Partner] WHERE [PartnerID] = @PartnerID)

	/*******************************************************************************************************************************************
		2.	INSERT entry in to JobLog_Temp
	*******************************************************************************************************************************************/

		INSERT INTO [Segmentation].[Shopper_Segmentation_JobLog_Temp] (	[StoredProcedureName]
																	,	[StartDate]
																	,	[EndDate]
																	,	[PartnerID]
																	,	[ShopperCount]
																	,	[LapsedCount]
																	,	[AcquireCount]
																	,	[IsRanked]
																	,	[LapsedDate]
																	,	[AcquireDate]
																	,	[ErrorCode]
																	,	[ErrorMessage])
		VALUES (@SPName
			,	GETDATE()
			,	NULL
			,	@PartnerID
			,	NULL
			,	NULL
			,	NULL
			,	@ToBeRanked
			,	@Lapsed
			,	@Acquire
			,	NULL
			,	NULL)
		
	BEGIN TRY


		/*******************************************************************************************************************************************
			3.	Fetch customer details
		*******************************************************************************************************************************************/

			/***********************************************************************************************************************
				3.1.	Fetch customer details, excluding customers with only a credit card
			***********************************************************************************************************************/
			
				DROP TABLE IF EXISTS #CustomersTemp
				SELECT	cu.[FanID]
				INTO #CustomersTemp
				FROM [Derived].[Customer] cu
				INNER JOIN [Derived].[BankAccountCustomerLinks] bacl
					ON cu.[CustomerGUID] = bacl.[CustomerGUID]
				INNER JOIN [Derived].[BankAccounts] ba
					ON bacl.[BankAccountGUID] = ba.[BankAccountGUID]
				WHERE cu.[CurrentlyActive] = 1
				AND NOT EXISTS (SELECT 1
								FROM [Derived].[BankAccountTypeHistory] bath
								WHERE ba.[BankAccountGUID] = bath.[BankAccountGUID]
								AND bath.[BankAccountProductID] = -1)
				AND bacl.[EndDate] IS NULL
				GROUP BY cu.[FanID]
				HAVING MIN(bacl.[StartDate]) < @FirstTranExclusionDate

				DROP TABLE IF EXISTS #Customers
				SELECT	DISTINCT
						cu.[FanID]
					,	cu.[SourceUID]
					,	ba.[BankAccountGUID]
					,	ba2.[BankAccountID]
					,	hh.[HouseholdID]
				INTO #Customers
				FROM [Derived].[Customer] cu
				INNER JOIN [Derived].[BankAccountCustomerLinks] bacl
					ON cu.[CustomerGUID] = bacl.[CustomerGUID]
				INNER JOIN [Derived].[BankAccounts] ba
					ON bacl.[BankAccountGUID] = ba.[BankAccountGUID]
				LEFT JOIN [Derived].[MFDD_Households] hh
					ON cu.[FanID] = hh.[FanID]
					AND ba.[BankAccountGUID] = hh.[BankAccountGUID]
					AND hh.[EndDate] IS NULL
				LEFT JOIN [WHB].[BankAccountIDs] ba2
					ON ba.[BankAccountGUID] = ba2.[BankAccountGUID]
				WHERE cu.[CurrentlyActive] = 1
				AND EXISTS (SELECT 1
							FROM #CustomersTemp ct
							WHERE cu.[FanID] = ct.[FanID])
				AND bacl.[EndDate] IS NULL

				CREATE CLUSTERED INDEX [CIX_BankAccountID] ON #Customers ([BankAccountGUID])
				CREATE INDEX [IX_FanID] ON #Customers ([FanID]) INCLUDE ([BankAccountGUID])
				CREATE INDEX [IX_BankAccountID] ON #Customers ([BankAccountID])

		/*******************************************************************************************************************************************
			4.	Run segmentation for lapsers & spenders
		*******************************************************************************************************************************************/

			/***********************************************************************************************************************
				4.1.	Fetch ConsumerCombinations
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #CCIDs
				SELECT	cc.[ConsumerCombinationID_DD]
				INTO #CCIDs
				FROM [Trans].[ConsumerCombination_DD] cc
				WHERE cc.[BrandID] = @BrandID
		
				CREATE CLUSTERED INDEX [CIX_CCID] ON #CCIDs ([ConsumerCombinationID_DD])

			/***********************************************************************************************************************
				4.2.	Set up for retrieving customer transactions at partner
			***********************************************************************************************************************/

				DECLARE	@AcquireDate DATE = DATEADD(month, -(@Acquire), DATEADD(day, DATEDIFF(dd, 0, GETDATE()) - 2, 0))
					,	@LapsedDate DATE = DATEADD(month, -(@Lapsed), DATEADD(day, DATEDIFF(dd, 0, GETDATE()) - 2, 0))
					,	@ShopperDate DATE = DATEADD(day, DATEDIFF(dd, 0, GETDATE()) - 3, 0)

				DROP TABLE IF EXISTS #Spenders
				CREATE TABLE #Spenders ([BankAccountGUID] UNIQUEIDENTIFIER NOT NULL
									,	[BankAccountID] INT NOT NULL
									,	[Spend] MONEY
									,	[Segment] SMALLINT NOT NULL PRIMARY KEY ([BankAccountGUID]))

			/***********************************************************************************************************************
				4.3.	Fetch all transactions
			***********************************************************************************************************************/

				INSERT INTO #Spenders
				SELECT	cu.[BankAccountGUID]
					,	cu.[BankAccountID]
					,	[Spend] = SUM(ct.[Amount])
					,	[Segment] =	CASE
										WHEN MAX(ct.[TranDate]) < @LapsedDate THEN 8
										ELSE 9
									END
				FROM #CCIDs CCs
				INNER JOIN [Trans].[ConsumerTransaction_DD] ct
					ON CCs.[ConsumerCombinationID_DD] = ct.[ConsumerCombinationID_DD]
				INNER JOIN #Customers cu
					ON ct.[BankAccountID] = cu.[BankAccountID]
				WHERE ct.[TranDate] BETWEEN @AcquireDate AND @ShopperDate
				GROUP BY	cu.[BankAccountGUID]
						,	cu.[BankAccountID]
				HAVING SUM(ct.[Amount]) > 0 
				OPTION (RECOMPILE)

			/***********************************************************************************************************************
				4.4.	Update segment to the max segment per household
			***********************************************************************************************************************/
			
				;WITH
				SegmentUpdate AS (	SELECT	cu.[HouseholdID]
										,	sp.[Segment]
										,	[MaxSegment] = MAX(sp.[Segment]) OVER (PARTITION BY cu.[HouseholdID])
									  FROM #Spenders sp
									  INNER JOIN #Customers cu
										ON sp.[BankAccountGUID] = cu.[BankAccountGUID])

				UPDATE SegmentUpdate
				SET [Segment] = [MaxSegment]

		/*******************************************************************************************************************************************
			5.	Extend fetched eligible customer lsit to include heatmap score, inferring customers as acquire when they aren't shopper or lapsed
		*******************************************************************************************************************************************/
			   
			/***********************************************************************************************************************
				5.1.	Fetch customer details including heatmap scores
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #AllCustomers
				SELECT	cu.[BankAccountGUID]
					,	[Segment] = 7
				INTO #AllCustomers
				FROM [Derived].[Customer] cuc
				INNER JOIN #Customers cu
					ON cuc.[FanID] = cu.[FanID]
				WHERE cuc.[CurrentlyActive] = 1
				GROUP BY cu.[BankAccountGUID]

				CREATE CLUSTERED INDEX [CIX_BankAccountID] ON #AllCustomers ([BankAccountGUID])

			/***********************************************************************************************************************
				5.2.	Update Shopper & Lapsed segments
			***********************************************************************************************************************/

				UPDATE ac
				SET ac.[Segment] = sp.[Segment]
				FROM #AllCustomers ac
				INNER JOIN #Spenders sp
					ON ac.[BankAccountGUID] = sp.[BankAccountGUID]
			
				;WITH
				SegmentUpdate AS (	SELECT	cu.[FanID]
										,	cls.[Segment]
										,	[MaxSegment] = MAX(cls.[Segment]) OVER (PARTITION BY cu.[HouseholdID])
									FROM #AllCustomers cls
									INNER JOIN #Customers cu
										ON cls.[BankAccountGUID] = cu.[BankAccountGUID])

				UPDATE SegmentUpdate
				SET [Segment] = [MaxSegment]

		/*******************************************************************************************************************************************
			6.	Bring segmentation down to a customer level
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #CustomerLevelSegmentation
			SELECT	cu.[FanID]
				,	cu.[SourceUID]
				,	[Segment] = MAX([Segment])
			INTO #CustomerLevelSegmentation
			FROM #AllCustomers ac
			INNER JOIN #Customers cu
				ON ac.[BankAccountGUID] = cu.[BankAccountGUID]
			GROUP BY	cu.[FanID]
					,	cu.[SourceUID]
			
			;WITH
			SegmentUpdate AS (	SELECT	cu.[FanID]
									,	cls.[Segment]
									,	[MaxSegment] = MAX(cls.[Segment]) OVER (PARTITION BY cu.[HouseholdID])
							  FROM #CustomerLevelSegmentation cls
							  INNER JOIN #Customers cu
								ON cls.[FanID] = cu.[FanID])

			UPDATE SegmentUpdate
			SET [Segment] = [MaxSegment]

		/*******************************************************************************************************************************************
			7.	Insert & Update Segmentation table
		*******************************************************************************************************************************************/

			/***********************************************************************************************************************
				7.1.	Update EndDate of customers who have change segments
			***********************************************************************************************************************/
	
				UPDATE sm
				SET sm.[EndDate] = @EndDate
				FROM #CustomerLevelSegmentation cls
				INNER JOIN [Segmentation].[CustomerSegment_DD] sm
					ON cls.[FanID] = sm.[FanID]
					AND cls.[Segment] != sm.[ShopperSegmentTypeID]
					AND sm.[PartnerID] = @PartnerID
					AND sm.[EndDate] IS NULL

				SET @RowCount = @@ROWCOUNT

			/***********************************************************************************************************************
				7.2.	Insert new entries for all new customers or customers that have changed segments
			***********************************************************************************************************************/

				INSERT INTO [Segmentation].[CustomerSegment_DD]
				SELECT	cls.[FanID]
					,	[PartnerID] = @PartnerID
					,	cls.[Segment]
					,	[StartDate] = @StartDate
					,	[EndDate] = NULL
				FROM #CustomerLevelSegmentation cls
				WHERE NOT EXISTS (SELECT 1
								  FROM [Segmentation].[CustomerSegment_DD] sm
								  WHERE cls.[FanID] = sm.[FanID]
								  AND cls.[Segment] = sm.[ShopperSegmentTypeID]
								  AND sm.[PartnerID] = @PartnerID
								  AND sm.[EndDate] IS NULL)

				SET @RowCount = @@ROWCOUNT

			/***********************************************************************************************************************
				7.3.	End date not active customers
			***********************************************************************************************************************/

				UPDATE sm
				SET sm.[EndDate] = @EndDate
				FROM [Segmentation].[CustomerSegment_DD] sm
				WHERE sm.[EndDate] IS NULL
				AND sm.[PartnerID] = @PartnerID
				AND NOT EXISTS (SELECT 1
								FROM #CustomerLevelSegmentation cls
								WHERE sm.[FanID] = cls.[FanID])

				SET @RowCount = @@ROWCOUNT

		/*******************************************************************************************************************************************
			9.	Update variables to update JobLog
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #SegmentCounts
			SELECT	[Segment]
				,	[Customers] = COUNT(*)
			INTO #SegmentCounts
			FROM #CustomerLevelSegmentation
			GROUP BY [Segment]

			SELECT	@AcquireCount = COALESCE(MAX(CASE WHEN [Segment] = 7 THEN [Customers] ELSE 0 END), 0)
				,	@LapsedCount = COALESCE(MAX(CASE WHEN [Segment] = 8 THEN [Customers] ELSE 0 END), 0)
				,	@ShopperCount = COALESCE(MAX(CASE WHEN [Segment] = 9 THEN [Customers] ELSE 0 END), 0)
			FROM #SegmentCounts

		/*******************************************************************************************************************************************
			10.	Output segmentation time
		*******************************************************************************************************************************************/

			SET @SegmentationLength = DATEDIFF(second, @SegmentationStartTime, GETDATE())

END TRY


	/*******************************************************************************************************************************************
		11.	Store error logs if any errors occur
	*******************************************************************************************************************************************/

		BEGIN CATCH

				SELECT @ErrorCode = ERROR_NUMBER()
					 , @ErrorMessage = ERROR_MESSAGE()

		END CATCH


	/*******************************************************************************************************************************************
		12.	Update JobLog_Temp AND INSERT to JobLog
	*******************************************************************************************************************************************/

		UPDATE [Segmentation].[Shopper_Segmentation_JobLog_Temp]
		SET ErrorCode = @ErrorCode
		  , ErrorMessage = @ErrorMessage
		  , EndDate = GETDATE()
		  , ShopperCount = @ShopperCount
		  , LapsedCount = @LapsedCount
		  , AcquireCount = @AcquireCount

		INSERT INTO [Segmentation].[Shopper_Segmentation_JobLog] (	[StoredProcedureName]
																,	[StartDate]
																,	[EndDate]
																,	[Duration]
																,	[PartnerID]
																,	[ShopperCount]
																,	[LapsedCount]
																,	[AcquireCount]
																,	[IsRanked]
																,	[LapsedDate]
																,	[AcquireDate]
																,	[ErrorCode]
																,	[ErrorMessage])
		SELECT	[StoredProcedureName]
			,	[StartDate]
			,	[EndDate]
			,	[Duration] = CONVERT(VARCHAR(3), DATEDiff(second, [StartDate], [EndDate]) / 60) + ':' + Right('0' + CONVERT(VARCHAR(2), DATEDiff(second, [StartDate], [EndDate]) % 60), 2)
			,	[PartnerID]
			,	[ShopperCount]
			,	[LapsedCount]
			,	[AcquireCount]
			,	[IsRanked]
			,	[LapsedDate]
			,	[AcquireDate]
			,	[ErrorCode]
			,	[ErrorMessage]
		FROM [Segmentation].[Shopper_Segmentation_JobLog_Temp]

		TRUNCATE TABLE [Segmentation].[Shopper_Segmentation_JobLog_Temp]


	/*******************************************************************************************************************************************
		13.	Send email message if error occurs
	*******************************************************************************************************************************************/

		DECLARE @body NVARCHAR(MAX) = '<font face"Arial">
								The segmentation for partner ' + CONVERT(VARCHAR, @PartnerID) + ' failed for the following reason: <br /><br /> 
								<b> Error Code: </b>' + CONVERT(VARCHAR, @ErrorCode) + '<br />
								<b> Error Message: </b>' + @ErrorMessage + '</b> <br /><br />
								Please correct the error AND rerun the segmentation for partner ' + CONVERT(VARCHAR, @PartnerID) + '.<br /><br />
								Regards, <br />
								Data Operations</font>'

		If @ErrorCode IS NOT NULL
		BEGIN
			EXEC msdb..sp_send_dbmail @profile_Name = 'Administrator'
									, @body_format = 'HTML'
									, @recipients = 'diprocesscheckers@rewardinsight.com'
									, @subject = 'Segmentation Failed ON DIMAIN2/Warehouse'
									, @Body = @body
									, @Importance = 'High'
									, @reply_to = 'DataOperations@rewardinsight.com'
		End

END

GO
