USE [WH_QNB]
GO
/****** Object:  StoredProcedure [Selections].[CampaignExecution_UpdateSelectionCounts]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/***********************************************************************************************************************
Title: 4. Selection Counts
Author: Rory Francis
Creation Date: 
Purpose: 

------------------------------------------------------------------------------------------------------------------------

Modified Log:

Change No:	Name:			Date:			Description of change:

											
***********************************************************************************************************************/

CREATE PROCEDURE [Selections].[CampaignExecution_UpdateSelectionCounts]

AS
BEGIN
	
	SET NOCOUNT ON

/*******************************************************************************************************************************************
	1.	Fetch the stored selection counts for the upcoming cycle & all campaigns / offers set to run in the cycle
*******************************************************************************************************************************************/

		DECLARE @EmailDate DATE

		SELECT	@EmailDate = MIN([EmailDate])
		FROM (	SELECT	[EmailDate]
				FROM [Selections].[CampaignSetup_POS]
				WHERE [SelectionRun] = 0
				AND [ReadyToRun] = 1
				AND [EndDate] > GETDATE()
				UNION ALL
				SELECT	[EmailDate]
				FROM [Selections].[CampaignSetup_DD]
				WHERE [SelectionRun] = 0
				AND [ReadyToRun] = 1
				AND [EndDate] > GETDATE()) cs
			   
		DROP TABLE IF EXISTS #CamapignCounts
		SELECT	sc.EmailDate
			,	sc.OutputTableName
			,	sc.IronOfferID
			,	sc.CountSelected
			,	sc.RunDateTime
			,	sc.NewCampaign
			,	sc.ClientServicesRef
		INTO #CamapignCounts
		FROM [Selections].[CampaignExecution_SelectionCounts] sc
		WHERE EmailDate = @EmailDate

		DROP TABLE IF EXISTS #Camapigns
		SELECT	DISTINCT 
				cs.PartnerID
			 ,	cs.ClientServicesRef
			 ,	cs.CampaignName
			 ,	cs.OutputTableName
			 ,	io.Item AS OfferID
			 ,	iof.IronOfferName
			 ,	cs.StartDate
			 ,	cs.EndDate
		INTO #Camapigns
		FROM [Selections].[CampaignSetup_POS] cs
		CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (OfferID, ',') io
		INNER JOIN [Derived].[IronOffer] iof
			ON io.Item	 = iof.IronOfferID
		WHERE EmailDate = @EmailDate
		AND io.Item != 0
		UNION ALL		
		SELECT	DISTINCT 
				cs.PartnerID
			 ,	cs.ClientServicesRef
			 ,	cs.CampaignName
			 ,	cs.OutputTableName
			 ,	io.Item AS OfferID
			 ,	iof.IronOfferName
			 ,	cs.StartDate
			 ,	cs.EndDate
		FROM [Selections].[CampaignSetup_DD] cs
		CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (OfferID, ',') io
		INNER JOIN [Derived].[IronOffer] iof
			ON io.Item	 = iof.IronOfferID
		WHERE EmailDate = @EmailDate
		AND io.Item != 0

/*******************************************************************************************************************************************
	2.	Fetch all offer memberships for the upcoming cycle
*******************************************************************************************************************************************/
		
		DROP TABLE IF EXISTS #Memberships
		SELECT	iom.IronOfferID
			,	iom.CompositeID
			,	ca.ClientServicesRef
			,	ca.OutputTableName
			,	ca.StartDate AS CycleStartDate
		INTO #Memberships
		FROM [Derived].[IronOfferMember] iom
		INNER JOIN #Camapigns ca
			ON iom.IronOfferID = ca.OfferID
			AND iom.StartDate <= ca.StartDate
			AND ca.StartDate <= iom.EndDate
		WHERE iom.StartDate <= @EmailDate
		AND EXISTS (SELECT 1 
					FROM [Derived].[Customer] cu
					WHERE iom.CompositeID = cu.CompositeID
					AND cu.CurrentlyActive = 1)

		INSERT INTO #Memberships
		SELECT	iom.IronOfferID
			,	iom.CompositeID
			,	ca.ClientServicesRef
			,	ca.OutputTableName
			,	ca.StartDate AS CycleStartDate
		FROM [Segmentation].[OfferMemberAddition] iom
		INNER JOIN #Camapigns ca
			ON iom.IronOfferID = ca.OfferID
		WHERE iom.StartDate <= @EmailDate
		AND EXISTS (SELECT 1 
					FROM [Derived].[Customer] cu
					WHERE iom.CompositeID = cu.CompositeID
					AND cu.CurrentlyActive = 1)

		CREATE CLUSTERED INDEX CIX_OfferComp ON #Memberships (IronOfferID, CompositeID)

/*******************************************************************************************************************************************
	3.	Aggregate memberships for the upcoming cycle
*******************************************************************************************************************************************/
				
		DROP TABLE IF EXISTS #MembershipsCount
		SELECT	IronOfferID
			,	ClientServicesRef
			,	OutputTableName
			,	CycleStartDate
			,	COUNT(DISTINCT CompositeID) AS Entries
		INTO #MembershipsCount
		FROM #Memberships c
		GROUP BY	IronOfferID
				,	ClientServicesRef
				,	OutputTableName
				,	CycleStartDate

/*******************************************************************************************************************************************
	4.	Update existing counts to new values & add new entries from missing offers
*******************************************************************************************************************************************/

		UPDATE ch
		SET ch.CountSelected = mc.Entries
		FROM #MembershipsCount mc
		INNER JOIN [Selections].[CampaignExecution_SelectionCounts] ch
			ON mc.IronOfferID = ch.IronOfferID
			AND ch.EmailDate = @EmailDate

		INSERT INTO [Selections].[CampaignExecution_SelectionCounts]
		SELECT	mc.CycleStartDate
			,	mc.OutputTableName
			,	mc.IronOfferID
			,	mc.Entries
			,	GETDATE()
			,	0
			,	mc.ClientServicesRef
		FROM #MembershipsCount mc
		WHERE NOT EXISTS (	SELECT 1
							FROM [Selections].[CampaignExecution_SelectionCounts] sc
							WHERE mc.IronOfferID = sc.IronOfferID
							AND sc.EmailDate = @EmailDate)

END

GO
