USE [WH_QNB]
GO
/****** Object:  StoredProcedure [Selections].[SSN_ExistingUniverse]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[SSN_ExistingUniverse] @EmailDate DATE
AS
BEGIN

--DECLARE @EmailDate DATE

--SELECT	@EmailDate = MIN([EmailDate])
--FROM [Selections].[CampaignSetup_POS]
--WHERE [EmailDate] >= CONVERT(DATE, GETDATE() - 1)

DROP TABLE IF EXISTS #CampaignSetup_POS
SELECT	cs.[PartnerID]
	,	cs.[ClientServicesRef]
	,	cs.[PriorityFlag]
	,	[CustomerBaseOfferDate]
	,	htm.[IronOfferID]
INTO #CampaignSetup_POS
FROM [Selections].[CampaignSetup_POS] cs
INNER JOIN [Derived].[IronOffer_Campaign_HTM] htm
	ON	CASE
			WHEN cs.[SelectedInAnotherCampaign] = '' THEN cs.[ClientServicesRef]
			ELSE cs.[SelectedInAnotherCampaign]
		END = htm.[ClientServicesRef]
WHERE [EmailDate] = @EmailDate
AND (	[CustomerBaseOfferDate] IS NOT NULL
	OR	[SelectedInAnotherCampaign] != '')
ORDER BY	cs.[PartnerID]
		,	cs.[PriorityFlag]
		,	cs.[ClientServicesRef]
		
DROP TABLE IF EXISTS #Memberships
SELECT	DISTINCT
		cs.[PartnerID]
	,	cs.[ClientServicesRef]
	,	cs.[PriorityFlag]
	,	cs.[CustomerBaseOfferDate]
	,	cu.[FanID]
	,	cu.[CustomerGUID]
INTO #Memberships
FROM #CampaignSetup_POS cs
INNER JOIN [Derived].[IronOfferMember] iom
	ON cs.[IronOfferID] = iom.[IronOfferID]
INNER JOIN [Derived].[Customer] cu
	ON iom.[CompositeID] = cu.[CompositeID]
WHERE cs.[CustomerBaseOfferDate] IS NULL

INSERT INTO #Memberships
SELECT	DISTINCT
		cs.[PartnerID]
	,	cs.[ClientServicesRef]
	,	cs.[PriorityFlag]
	,	cs.[CustomerBaseOfferDate]
	,	cu.[FanID]
	,	cu.[CustomerGUID]
FROM #CampaignSetup_POS cs
INNER JOIN [Derived].[IronOfferMember] iom
	ON cs.[IronOfferID] = iom.[IronOfferID]
INNER JOIN [Derived].[Customer] cu
	ON iom.[CompositeID] = cu.[CompositeID]
WHERE cs.[CustomerBaseOfferDate] <= iom.[StartDate]

DROP TABLE IF EXISTS [Selections].[SSN_ExistingUniverse_Customers]
SELECT	m.[PartnerID]
	,	m.[ClientServicesRef]
	,	m.[PriorityFlag]
	,	m.[CustomerBaseOfferDate]
	,	m.[FanID]
	,	m.[CustomerGUID]
INTO [Selections].[SSN_ExistingUniverse_Customers]
FROM #Memberships m

END
GO
