USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__Emails_EmailEvents_Temp_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[__Emails_EmailEvents_Temp_Archived] @RunDate DATE = NULL

AS

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
	,	@msg VARCHAR(200)
	,	@RowsAffected INT
	,	@Query VARCHAR(MAX)

EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

BEGIN TRY

/*******************************************************************************************************************************************
		1.	Populate all Email Events
*******************************************************************************************************************************************/

	/***************************************************************************************************************************************
		1.1.	Fetch all new Email Events
	***************************************************************************************************************************************/
		
		DECLARE @StartRow BIGINT = (SELECT MAX(EventID) FROM [Warehouse].[Relational].[EmailEvent]) - 10000000

		IF OBJECT_ID('tempdb..#EmailEvent') IS NOT NULL DROP TABLE #EmailEvent
		CREATE TABLE #EmailEvent (EventID BIGINT
								, EventDateTime DATETIME
								, EventDate DATE
								, FanID BIGINT
								, CompositeID BIGINT
								, CampaignKey NVARCHAR(8)
								, EmailEventCodeID INT)

		INSERT INTO #EmailEvent
		SELECT ee.ID AS EventID			--Take the lowest ID. This is arbitrary, but is just needed as a unique key 
			 , ee.Date AS EventDateTime	--The date field is actually a datetime field
			 , ee.Date AS EventDate	--The date field is actually a datetime field
			 , ee.FanID
			 , fa.CompositeID
			 , ee.CampaignKey
			 , ee.EmailEventCodeID
		FROM [SLC_REPL].[dbo].[EmailEvent] ee
		INNER JOIN [WH_QNB].[Derived].[Customer] fa
			ON ee.FanID = fa.FanID
		WHERE NOT EXISTS (	SELECT 1
							FROM [Warehouse].[Relational].[EmailEvent] ee_r
							WHERE ee.ID = ee_r.EventID)
		AND ee.ID > @StartRow

		INSERT INTO [Warehouse].[Relational].[EmailEvent] (EventID, EventDateTime, EventDate, FanID, CompositeID, CampaignKey, EmailEventCodeID)
		SELECT ee.EventID
			, ee.EventDateTime
			, ee.EventDateTime AS EventDate
			, ee.FanID
			, ee.CompositeID
			, ee.CampaignKey
			, ee.EmailEventCodeID
		FROM #EmailEvent ee

/*******************************************************************************************************************************************
		2.	Populate all Email Campaigns
*******************************************************************************************************************************************/

	Truncate table [Warehouse].[Relational].[EmailCampaign]	

	SET IDENTITY_INSERT [Warehouse].[Relational].[EmailCampaign] ON

	Insert into	[Warehouse].[Relational].[EmailCampaign] (ID,CampaignKey,EmailKey,CampaignName,[Subject],SendDateTime,SendDate	)
	select	ec.ID as ID,
			ec.CampaignKey as CampaignKey,
			ec.EmailKey as EmailKey,
			ec.CampaignName as CampaignName,
			ec.Subject as [Subject],
			ec.SendDate						as SendDateTime,
			cast(ec.SendDate as date)		as SendDate
	from	[SLC_REPL].dbo.[EmailCampaign] ec
	where	ec.CampaignKey in (select distinct CampaignKey from [Warehouse].[Relational].EmailEvent)
			and ec.SendDate >= '1 Jan 2012'	
	order by 	ec.SendDate		

	SET IDENTITY_INSERT [Warehouse].[Relational].[EmailCampaign] OFF

	-- log it
	SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[EmailCampaign] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
		3.	Populate all Email Event Codes
*******************************************************************************************************************************************/
	
--	TRUNCATE TABLE [Derived].[EmailEventCode]

	INSERT INTO	[Warehouse].[Relational].[EmailEventCode] ([EmailEventCodeID]
										,	[EmailEventDesc])	
	SELECT	[EmailEventCodeID] = [ID]
		,	[EmailEventDesc] = [Name]
	FROM [SLC_REPL].dbo.[EmailEventCode] eec
	WHERE EXISTS (	SELECT 1
					FROM [Warehouse].[Relational].[EmailEvent] ee
					WHERE ee.EmailEventCodeID = eec.[ID])
	AND NOT EXISTS (SELECT 1
					FROM [Warehouse].[Relational].[EmailEventCode] eec2
					WHERE eec.[ID] = eec2.[EmailEventCodeID])

	-- log it
	SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[EmailEventCode] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

	RETURN 0; -- normal exit here

END TRY
BEGIN CATCH		
		
	-- Grab the error details
	SELECT  
		@ERROR_NUMBER = ERROR_NUMBER(), 
		@ERROR_SEVERITY = ERROR_SEVERITY(), 
		@ERROR_STATE = ERROR_STATE(), 
		@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
		@ERROR_LINE = ERROR_LINE(),   
		@ERROR_MESSAGE = ERROR_MESSAGE();
	SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

	IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
	-- Insert the error INTO the ErrorLog
	INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
	VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

	-- Regenerate an error to return to caller
	SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
	RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

	-- Return a failure
	RETURN -1;
END CATCH

RETURN 0; -- should never run















GO
