USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[Customer_ActivationHistory]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_ActivationHistory] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			0. Add to the WHB table
		*******************************************************************************************************************************************/
		
			INSERT INTO [WH_QNB].[WHB].[CustomerActivationHistory]
			SELECT	ic.[CustomerGUID]
				,	ci.[FanID]
				,	[StatusID] = 1
				,	[ActionDate] = ic.[RegistrationDate]
				,	[AuditDate] = GETDATE()
			FROM [WH_QNB].[WHB].[Inbound_Customers] ic
			INNER JOIN [WH_AllPublishers].[Derived].[CustomerIDs] ci
				ON CONVERT(VARCHAR(36), ic.[CustomerGUID]) = ci.[CustomerID]
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_QNB].[WHB].[CustomerActivationHistory] cah
								WHERE ic.[CustomerGUID] = cah.[CustomerGUID]
								AND cah.[StatusID] = 1)
			AND [AgreedTermssAndCons] = 1
		
			INSERT INTO [WH_QNB].[WHB].[CustomerActivationHistory]
			SELECT	ic.[CustomerGUID]
				,	ci.[FanID]
				,	[StatusID] = 2
				,	[ActionDate] = ic.[DeactivatedDate]
				,	[AuditDate] = GETDATE()
			FROM [WH_QNB].[WHB].[Inbound_Customers] ic
			INNER JOIN [WH_AllPublishers].[Derived].[CustomerIDs] ci
				ON CONVERT(VARCHAR(36), ic.[CustomerGUID]) = ci.[CustomerID]
			WHERE ic.[DeactivatedDate] IS NOT NULL
			AND NOT EXISTS (	SELECT 1
								FROM [WH_QNB].[WHB].[CustomerActivationHistory] cah
								WHERE ic.[CustomerGUID] = cah.[CustomerGUID]
								AND cah.[StatusID] = 2)
		
			INSERT INTO [WH_QNB].[WHB].[CustomerActivationHistory]
			SELECT	ic.[CustomerGUID]
				,	ci.[FanID]
				,	[StatusID] = 3
				,	[ActionDate] = ic.[OptOutDate]
				,	[AuditDate] = GETDATE()
			FROM [WHB].[Inbound_Customers] ic
			INNER JOIN [WH_AllPublishers].[Derived].[CustomerIDs] ci
				ON CONVERT(VARCHAR(36), ic.[CustomerGUID]) = ci.[CustomerID]
			WHERE ic.[OptOutDate] IS NOT NULL
			AND NOT EXISTS (	SELECT 1
								FROM [WHB].[CustomerActivationHistory] cah
								WHERE ic.[CustomerGUID] = cah.[CustomerGUID]
								AND cah.[StatusID] = 3)

		/*******************************************************************************************************************************************
			1. Update entries for merged customers
		*******************************************************************************************************************************************/
					
			UPDATE ah
			SET ah.[CustomerGUID] = cm.[CustomerGUID]
			,	ah.[FanID] = cu.[FanID]
			FROM [Derived].[Customer_ActivationHistory] ah
			INNER JOIN [Derived].[CustomerMerges] cm
				ON ah.[CustomerGUID] = cm.[OriginalCustomerGUID]
				AND cm.[EndDate] IS NULL
			INNER JOIN [WHB].[Customer] cu
				ON cm.[CustomerGUID] = cu.[CustomerGUID]
			WHERE ah.[CustomerGUID] != cm.[CustomerGUID]

		/*******************************************************************************************************************************************
			2.	Fetch all customers current status
		*******************************************************************************************************************************************/
			   
			DROP TABLE IF EXISTS #Customer
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[OriginalCustomerGUID] = [CustomerGUID]
				,	[RegistrationDate]
				,	[DeactivatedDate]
				,	[ClosedDate]
			INTO #Customer
			FROM [WHB].[Customer] cu

			CREATE CLUSTERED INDEX CIX_FanID ON #Customer ([CustomerGUID])
			CREATE NONCLUSTERED INDEX IX_RegDate_FanGUID ON #Customer ([RegistrationDate]) INCLUDE ([FanID],[CustomerGUID],[OriginalCustomerGUID],[DeactivatedDate],[ClosedDate])
			CREATE NONCLUSTERED INDEX IX_DeacDate_FanGUID ON #Customer ([DeactivatedDate]) INCLUDE ([FanID],[CustomerGUID],[OriginalCustomerGUID])
			CREATE NONCLUSTERED INDEX IX_CloseDate_FanGUID ON #Customer ([ClosedDate]) INCLUDE ([FanID],[CustomerGUID],[OriginalCustomerGUID])

		/*******************************************************************************************************************************************
			3.	Update Registration Dates of all accounts in [Derived].[Customer_ActivationHistory]
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[Customer_ActivationHistory] ([FanID]
															,	[CustomerGUID]
															,	[OriginalCustomerGUID]
															,	[ActionDate]
															,	[ActionType])
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[OriginalCustomerGUID]
				,	[RegistrationDate]
				,	[ActionType] = 'Registration'
			FROM #Customer cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_ActivationHistory] ah
								WHERE cu.[CustomerGUID] = ah.[OriginalCustomerGUID]
								AND cu.[RegistrationDate] = ah.[ActionDate])
			AND [RegistrationDate] IS NOT NULL


		/*******************************************************************************************************************************************
			4.	Update Deactivated Dates of all accounts in [Derived].[Customer_ActivationHistory]
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[Customer_ActivationHistory] ([FanID]
															,	[CustomerGUID]
															,	[OriginalCustomerGUID]
															,	[ActionDate]
															,	[ActionType])
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[OriginalCustomerGUID]
				,	[DeactivatedDate]
				,	[ActionType] = 'Deactivated'
			FROM #Customer cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_ActivationHistory] ah
								WHERE cu.[CustomerGUID] = ah.[OriginalCustomerGUID]
								AND cu.[DeactivatedDate] = ah.[ActionDate])
			AND [DeactivatedDate] IS NOT NULL


		/*******************************************************************************************************************************************
			5.	Update Closed Dates of all accounts in [Derived].[Customer_ActivationHistory]
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[Customer_ActivationHistory] ([FanID]
															,	[CustomerGUID]
															,	[OriginalCustomerGUID]
															,	[ActionDate]
															,	[ActionType])
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[OriginalCustomerGUID]
				,	[ClosedDate]
				,	[ActionType] = 'Closed'
			FROM #Customer cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_ActivationHistory] ah
								WHERE cu.[CustomerGUID] = ah.[OriginalCustomerGUID]
								AND cu.[ClosedDate] = ah.[ActionDate])
			AND [ClosedDate] IS NOT NULL


		/*******************************************************************************************************************************************
			6.	Update Reactivation Dates of all accounts in [Derived].[Customer_ActivationHistory]
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[Customer_ActivationHistory] ([FanID]
															,	[CustomerGUID]
															,	[OriginalCustomerGUID]
															,	[ActionDate]
															,	[ActionType])
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[OriginalCustomerGUID]
				,	[RegistrationDate]
				,	[ActionType] = 'Reactivation'
			FROM #Customer cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_ActivationHistory] ah
								WHERE cu.[CustomerGUID] = ah.[OriginalCustomerGUID]
								AND cu.[RegistrationDate] = ah.[ActionDate])
			AND EXISTS (SELECT 1
						FROM [Derived].[Customer_ActivationHistory] ah
						WHERE cu.[CustomerGUID] = ah.[OriginalCustomerGUID]
						AND (	cu.[ClosedDate] IS NOT NULL
							OR	cu.[DeactivatedDate] IS NOT NULL))
			AND [RegistrationDate] IS NOT NULL

			DROP TABLE IF EXISTS #Customer_ActivationHistory
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[OriginalCustomerGUID]
				,	[ActionDate]
				,	[ActionType]
				,	[ActionRank] = ROW_NUMBER() OVER (PARTITION BY [CustomerGUID] ORDER BY [ActionDate] DESC)
			INTO #Customer_ActivationHistory
			FROM [Derived].[Customer_ActivationHistory]

			CREATE CLUSTERED INDEX CIX_FanID ON #Customer_ActivationHistory ([OriginalCustomerGUID])
			CREATE NONCLUSTERED INDEX IX_TypeRank_GUID ON #Customer_ActivationHistory ([ActionType],[ActionRank]) INCLUDE ([OriginalCustomerGUID])


		--	DECLARE @RunDate DATE = '2022-02-09'

			INSERT INTO [Derived].[Customer_ActivationHistory] ([FanID]
															,	[CustomerGUID]
															,	[OriginalCustomerGUID]
															,	[ActionDate]
															,	[ActionType])
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[OriginalCustomerGUID]
				,	[ActionDate] = @RunDate
				,	[ActionType] = 'Reactivation'
			FROM #Customer cu
			WHERE EXISTS (	SELECT 1
							FROM #Customer_ActivationHistory ah
							WHERE cu.[CustomerGUID] = ah.[OriginalCustomerGUID]
							AND ah.[ActionRank] = 1
							AND ah.[ActionType] IN ('Deactivated'))
			AND [DeactivatedDate] IS NULL

			INSERT INTO [Derived].[Customer_ActivationHistory] ([FanID]
															,	[CustomerGUID]
															,	[OriginalCustomerGUID]
															,	[ActionDate]
															,	[ActionType])
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[OriginalCustomerGUID]
				,	[ActionDate] = @RunDate
				,	[ActionType] = 'Reactivation'
			FROM #Customer cu
			WHERE EXISTS (	SELECT 1
							FROM #Customer_ActivationHistory ah
							WHERE cu.[CustomerGUID] = ah.[OriginalCustomerGUID]
							AND ah.[ActionRank] = 1
							AND ah.[ActionType] IN ('Closed'))
			AND [ClosedDate] IS NULL
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END



GO
