USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[Customers_Load_WH_AllPublishers]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[Customers_Load_WH_AllPublishers]
AS
BEGIN

	SET XACT_ABORT ON;

	/*******************************************************************************************************************************************
		1.	Prepare #Customer table
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Customer
		SELECT	[SourceSystemID] = 18
			,	[PublisherType] = 'GMM'
			,	[PublisherID] = cu.[ClubID]
			,	[FanID] = cu.[FanID]
			,	[CustomerGUID] = cu.[CustomerGUID]
			,	[CompositeID] = cu.[CompositeID]
			,	[SourceUID] = cu.[SourceUID]
			,	[CINID] = cl.[CINID]
			,	[SourceCustomerID] = 'CustomerGUID'
			,	[AccountType] =	cu.[AccountType]
			,	[Title] = cu.[Title]
			,	[City] = cu.[City]
			,	[County] = cu.[County]
			,	[Region] = cu.[Region]
			,	[PostalSector] = cu.[PostalSector]
			,	[PostCodeDistrict] = cu.[PostCodeDistrict]
			,	[PostArea] = cu.[PostArea]
			,	[CAMEOCode] = cu.[CAMEOCode]
			,	[Gender] = cu.[Gender]
			,	[AgeCurrent] = cu.[AgeCurrent]
			,	[AgeCurrentBandText] = COALESCE(cu.[AgeCurrentBandText], 'Unknown')
			,	[CashbackPending] = cu.[CashbackPending]
			,	[CashbackAvailable] = cu.[CashbackAvailable]
			,	[CashbackLTV] = cu.[CashbackLTV]
			,	[Unsubscribed] = cu.[Unsubscribed]
			,	[Hardbounced] = cu.[Hardbounced]
			,	[EmailTracking] = cu.[EmailTracking]
			,	[MarketableByEmail] = cu.[MarketableByEmail]
			,	[MarketableByPush] = cu.[MarketableByPush]
			,	[CurrentlyActive] = cu.[CurrentlyActive]
			,	[RegistrationDate] = cu.[RegistrationDate]
			,	[DeactivatedDate] = cu.[DeactivatedDate]
			,	[IsCredit] = cu.[IsCredit]
			,	[IsDebit] = cu.[IsDebit]
		INTO #Customer
		FROM [Derived].[Customer] cu
		LEFT JOIN [Derived].[CINList] cl
			ON cu.[SourceUID] = cl.[OriginalCIN]

	/*******************************************************************************************************************************************
		2.	Load to [Derived].[Customer]
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #Inbound_Customer_CustomerGUID
		SELECT	[SourceSystemID]
			,	[PublisherType]
			,	[PublisherID]
			,	[FanID]
			,	[CustomerGUID]
			,	[CompositeID]
			,	[SourceUID]
			,	[CINID]
			,	[SourceCustomerID]
			,	[AccountType]
			,	[Title]
			,	[City]
			,	[County]
			,	[Region]
			,	[PostalSector]
			,	[PostCodeDistrict]
			,	[PostArea]
			,	[CAMEOCode]
			,	[Gender]
			,	[AgeCurrent]
			,	[AgeCurrentBandText]
			,	[CashbackPending]
			,	[CashbackAvailable]
			,	[CashbackLTV]
			,	[Unsubscribed]
			,	[Hardbounced]
			,	[EmailTracking]
			,	[MarketableByEmail]
			,	[MarketableByPush]
			,	[CurrentlyActive]
			,	[RegistrationDate]
			,	[DeactivatedDate]
			,	[IsCredit]
			,	[IsDebit]
		INTO #Inbound_Customer_CustomerGUID
		FROM #Customer
		EXCEPT
		SELECT	[SourceSystemID]
			,	[PublisherType]
			,	[PublisherID]
			,	[FanID]
			,	[CustomerGUID]
			,	[CompositeID]
			,	[SourceUID]
			,	[CINID]
			,	[SourceCustomerID]
			,	[AccountType]
			,	[Title]
			,	[City]
			,	[County]
			,	[Region]
			,	[PostalSector]
			,	[PostCodeDistrict]
			,	[PostArea]
			,	[CAMEOCode]
			,	[Gender]
			,	[AgeCurrent]
			,	[AgeCurrentBandText]
			,	[CashbackPending]
			,	[CashbackAvailable]
			,	[CashbackLTV]
			,	[Unsubscribed]
			,	[Hardbounced]
			,	[EmailTracking]
			,	[MarketableByEmail]
			,	[MarketableByPush]
			,	[CurrentlyActive]
			,	[RegistrationDate]
			,	[DeactivatedDate]
			,	[IsCredit]
			,	[IsDebit]
		FROM [WH_AllPublishers].[Derived].[Customer] WITH(NOLOCK)
		WHERE [SourceCustomerID] = 'CustomerGUID'

		CREATE CLUSTERED INDEX CIX_All ON #Inbound_Customer_CustomerGUID ([SourceSystemID], [PublisherID], [CustomerGUID])

		MERGE INTO [WH_AllPublishers].[Derived].[Customer] AS TGT
		USING #Inbound_Customer_CustomerGUID AS SRC
			ON TGT.[SourceSystemID] = SRC.[SourceSystemID]
			AND CASE WHEN TGT.[PublisherID] = 166 THEN 182 ELSE TGT.[PublisherID] END = CASE WHEN SRC.[PublisherID] = 166 THEN 182 ELSE SRC.[PublisherID] END
			AND TGT.[CustomerGUID] = SRC.[CustomerGUID]
			AND TGT.[SourceCustomerID] = 'CustomerGUID'

		WHEN MATCHED THEN 
		UPDATE SET	TGT.[SourceSystemID]		=	SRC.[SourceSystemID]
				,	TGT.[PublisherType]			=	SRC.[PublisherType]
				,	TGT.[PublisherID]			=	SRC.[PublisherID]
				,	TGT.[FanID]					=	SRC.[FanID]
				,	TGT.[CustomerGUID]			=	SRC.[CustomerGUID]
				,	TGT.[CompositeID]			=	SRC.[CompositeID]
				,	TGT.[SourceUID]				=	SRC.[SourceUID]
				,	TGT.[CINID]					=	SRC.[CINID]
				,	TGT.[SourceCustomerID]		=	SRC.[SourceCustomerID]
				,	TGT.[AccountType]			=	SRC.[AccountType]
				,	TGT.[Title]					=	SRC.[Title]
				,	TGT.[City]					=	SRC.[City]
				,	TGT.[County]				=	SRC.[County]
				,	TGT.[Region]				=	SRC.[Region]
				,	TGT.[PostalSector]			=	SRC.[PostalSector]
				,	TGT.[PostCodeDistrict]		=	SRC.[PostCodeDistrict]
				,	TGT.[PostArea]				=	SRC.[PostArea]
				,	TGT.[CAMEOCode]				=	SRC.[CAMEOCode]
				,	TGT.[Gender]				=	SRC.[Gender]
				,	TGT.[AgeCurrent]			=	SRC.[AgeCurrent]
				,	TGT.[AgeCurrentBandText]	=	SRC.[AgeCurrentBandText]
				,	TGT.[CashbackPending]		=	SRC.[CashbackPending]
				,	TGT.[CashbackAvailable]		=	SRC.[CashbackAvailable]
				,	TGT.[CashbackLTV]			=	SRC.[CashbackLTV]
				,	TGT.[Unsubscribed]			=	SRC.[Unsubscribed]
				,	TGT.[Hardbounced]			=	SRC.[Hardbounced]
				,	TGT.[EmailTracking]			=	SRC.[EmailTracking]
				,	TGT.[MarketableByEmail]		=	SRC.[MarketableByEmail]
				,	TGT.[MarketableByPush]		=	SRC.[MarketableByPush]
				,	TGT.[CurrentlyActive]		=	SRC.[CurrentlyActive]
				,	TGT.[RegistrationDate]		=	SRC.[RegistrationDate]
				,	TGT.[DeactivatedDate]		=	SRC.[DeactivatedDate]
				,	TGT.[IsCredit]				=	SRC.[IsCredit]
				,	TGT.[IsDebit]				=	SRC.[IsDebit]
				,	TGT.[ModifiedDate]			=	CASE
														WHEN CHECKSUM(TGT.[SourceSystemID], TGT.[PublisherType], TGT.[PublisherID], TGT.[FanID], TGT.[CustomerGUID], TGT.[CompositeID], TGT.[SourceUID], TGT.[CINID], TGT.[SourceCustomerID], TGT.[AccountType], TGT.[Title], TGT.[City], TGT.[County], TGT.[Region], TGT.[PostalSector], TGT.[PostCodeDistrict], TGT.[PostArea], TGT.[CAMEOCode], TGT.[Gender], TGT.[AgeCurrent], TGT.[AgeCurrentBandText], TGT.[CashbackPending], TGT.[CashbackAvailable], TGT.[CashbackLTV], TGT.[Unsubscribed], TGT.[Hardbounced], TGT.[EmailTracking], TGT.[MarketableByEmail], TGT.[MarketableByPush], TGT.[CurrentlyActive], TGT.[RegistrationDate], TGT.[DeactivatedDate]) != CHECKSUM(SRC.[SourceSystemID], SRC.[PublisherType], SRC.[PublisherID], SRC.[FanID], SRC.[CustomerGUID], SRC.[CompositeID], SRC.[SourceUID], SRC.[CINID], SRC.[SourceCustomerID], SRC.[AccountType], SRC.[Title], SRC.[City], SRC.[County], SRC.[Region], SRC.[PostalSector], SRC.[PostCodeDistrict], SRC.[PostArea], SRC.[CAMEOCode], SRC.[Gender], SRC.[AgeCurrent], SRC.[AgeCurrentBandText], SRC.[CashbackPending], SRC.[CashbackAvailable], SRC.[CashbackLTV], SRC.[Unsubscribed], SRC.[Hardbounced], SRC.[EmailTracking], SRC.[MarketableByEmail], SRC.[MarketableByPush], SRC.[CurrentlyActive], SRC.[RegistrationDate], SRC.[DeactivatedDate]) THEN GETDATE()
														ELSE TGT.[ModifiedDate]
													END

		WHEN NOT MATCHED THEN INSERT ([SourceSystemID], [PublisherType], [PublisherID], [FanID], [CustomerGUID], [CompositeID], [SourceUID], [CINID], [SourceCustomerID], [AccountType], [Title], [City], [County], [Region], [PostalSector], [PostCodeDistrict], [PostArea], [CAMEOCode], [Gender], [AgeCurrent], [AgeCurrentBandText], [CashbackPending], [CashbackAvailable], [CashbackLTV], [Unsubscribed], [Hardbounced], [EmailTracking], [MarketableByEmail], [MarketableByPush], [CurrentlyActive], [RegistrationDate], [DeactivatedDate], [IsCredit], [IsDebit], [AddedDate], [ModifiedDate])
		VALUES ([SourceSystemID], [PublisherType], [PublisherID], [FanID], [CustomerGUID], [CompositeID], [SourceUID], [CINID], [SourceCustomerID], [AccountType], [Title], [City], [County], [Region], [PostalSector], [PostCodeDistrict], [PostArea], [CAMEOCode], [Gender], [AgeCurrent], [AgeCurrentBandText], [CashbackPending], [CashbackAvailable], [CashbackLTV], [Unsubscribed], [Hardbounced], [EmailTracking], [MarketableByEmail], [MarketableByPush], [CurrentlyActive], [RegistrationDate], [DeactivatedDate], [IsCredit], [IsDebit], GETDATE(), GETDATE());

END
GO
