USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_Partners]    Script Date: 9/23/2026 9:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
--	Author:		
--	Create date: 
--	Description:	

--	Updates:
-- =============================================

CREATE PROCEDURE [WHB].[PartnersOffers_Partners] @RunDate DATE = NULL
	
AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'
	
	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Add new Partners
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[Partner]
			SELECT	pa.[PartnerID]
				,	pa.[PartnerName]
				,	pa.[BrandID]
				,	pa.[BrandName]
				,	[CurrentlyActive] = 0
				,	pa.[AccountManager]
				,	[TransactionTypeID] = 1
			FROM [WH_AllPublishers].[Derived].[Partner] pa
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Partner] p
								WHERE pa.[PartnerID] = p.[PartnerID])
			AND EXISTS (	SELECT 1
							FROM [Derived].[IronOffer] iof
							WHERE pa.[PartnerID] = iof.[PartnerID])

		/*******************************************************************************************************************************************
			2.	Reset Currently Active flag
		*******************************************************************************************************************************************/

			UPDATE [Derived].[Partner]
			SET [CurrentlyActive] = 0

		/*******************************************************************************************************************************************
			3.	Find active offers
		*******************************************************************************************************************************************/

			DECLARE @Date DATETIME = @RunDate

			DROP TABLE IF EXISTS #IronOffer
			SELECT	iof.[IronOfferID]
				,	iof.[PartnerID]
				,	[OfferType] =	CASE
										WHEN [IronOfferName] like '%MFDD%' THEN 2
										ELSE 1
									END
				,	iof.[IsSignedOff]
				,	iof.[StartDate]
			INTO #IronOffer
			FROM [Derived].[IronOffer] iof
			WHERE (iof.[EndDate] IS NULL OR iof.[EndDate] >= @Date)
			AND iof.[IsTriggerOffer] = 0

			CREATE CLUSTERED INDEX [CIX_IronOfferID] on #IronOffer ([IronOfferID])

		/*******************************************************************************************************************************************
			4.	Check offers have members
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #CurrentOffers
			SELECT	DISTINCT
					[PartnerID]
			INTO #CurrentOffers
			FROM #IronOffer iof
			WHERE EXISTS (	SELECT 1
							FROM [Derived].[IronOfferMember] iom
							WHERE iof.[IronOfferID] = iom.[IronOfferID])
			AND [IsSignedOff] = 1
			AND [StartDate] <= @Date

			CREATE CLUSTERED INDEX [CIX_PartnerID] on #CurrentOffers ([PartnerID])

		/*******************************************************************************************************************************************
			5.	Update partner records
		*******************************************************************************************************************************************/

			UPDATE [Derived].[Partner]
			SET [CurrentlyActive] = 1
			WHERE [PartnerID] IN (SELECT [PartnerID] FROM #CurrentOffers)

		/*******************************************************************************************************************************************
			6.	Update TransactionTypeID flag
		*******************************************************************************************************************************************/

			UPDATE pa
			SET [TransactionTypeID] = [OfferType]
			FROM [Derived].[Partner] pa
			INNER JOIN #IronOffer iof 
				ON pa.[PartnerID] = iof.[PartnerID]
			WHERE pa.[TransactionTypeID] IS NULL

		/*******************************************************************************************************************************************
			7.	Update the Relational.Partner table, setting AccountManager to Unassigned where no entry is found
		*******************************************************************************************************************************************/
		
			UPDATE pa
			SET [AccountManager] = ISNULL(pa2.[AccountManager], 'Unassigned')
			FROM [Derived].[Partner] pa
			LEFT JOIN [WH_AllPublishers].[Derived].[Partner] pa2
				on pa.[PartnerID] = pa2.[PartnerID]

		/*******************************************************************************************************************************************
			8.	Update the Relational.Partner table, setting [BrandID]
		*******************************************************************************************************************************************/
		
			UPDATE pa
			SET [BrandID] = pa2.[BrandID]
			FROM [Derived].[Partner] pa
			INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa2
				on pa.[PartnerID] = pa2.[PartnerID]
		
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

	RETURN 0; -- normal exit here

END TRY
BEGIN CATCH		
		
	-- Grab the error details
	SELECT  
		@ERROR_NUMBER = ERROR_NUMBER(), 
		@ERROR_SEVERITY = ERROR_SEVERITY(), 
		@ERROR_STATE = ERROR_STATE(), 
		@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
		@ERROR_LINE = ERROR_LINE(),   
		@ERROR_MESSAGE = ERROR_MESSAGE();
	SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

	IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
	-- Insert the error into the ErrorLog
	INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
	VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

	-- Regenerate an error to return to caller
	SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
	RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

	-- Return a failure
	RETURN -1;
END CATCH

RETURN 0; -- should never run

END

GO
