USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__Inbound_Transactions_DD_Update_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[__Inbound_Transactions_DD_Update_Archived] @FileNameDate DATE = NULL

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	IF @FileNameDate IS NULL SET @FileNameDate = GETDATE()

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Transaction_Files] f
			WHERE [TableName] = 'Transactions_DD'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Transaction_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Transaction_Files] f
			WHERE [TableName] = 'Transactions_DD'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Transaction_Files] f
			WHERE [TableName] = 'Transactions_DD'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	i.[ID]
				,	ftp.[FileID]
				,	i.[TransactionID]
				,	i.[BankID]
				,	i.[AccountNumber]
				,	i.[SortCode]
				,	i.[TransactionDate]
				,	i.[TransactionTime]
				,	i.[OIN]
				,	i.[Narrative]
				,	i.[Amount]
				,	i.[CurrencyCode]
				,	i.[CustomerGUID]
				,	i.[BankAccountGUID]
				,	i.[ActiveNomineeGUID]
				,	i.[ProductTypeID]
				,	i.[ExternalCustomerID]
				,	i.[ReversalInd]
				,	i.[ProcessCode]
				,	i.[PostStatus]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[Version]
				,	i.[LoadDate]
				,	i.[FileName]
			INTO #Inbound
			FROM [Inbound].[Transactions_DD] i
			INNER JOIN #FilesToProcess ftp
				ON i.[FileName] = ftp.[FileName]
				AND i.[LoadDate] = ftp.[LoadDate]

			CREATE CLUSTERED INDEX [CIX_FileRow] ON #Inbound ([FileID], [TransactionID])

			DROP TABLE IF EXISTS #Inbound_Transactions_DD
			;WITH
			Inbound AS (	SELECT	*
								,	[RowNumber] = ROW_NUMBER() OVER (PARTITION BY i.[TransactionID] ORDER BY i.[ID] DESC)
							FROM #Inbound i
							WHERE NOT EXISTS (	SELECT 1
												FROM [WHB].[Inbound_Transactions_DD] it
												WHERE i.[FileID] = it.[FileID]
												AND i.[TransactionID] = it.[TransactionID]))

			SELECT	i.[ID]
				,	i.[FileID]
				,	[RowNum] = ROW_NUMBER() OVER (ORDER BY i.[TransactionID], i.[ID])
				,	i.[TransactionID]
				,	i.[BankID]
				,	i.[AccountNumber]
				,	i.[SortCode]
				,	i.[TransactionDate]
				,	i.[TransactionTime]
				,	i.[OIN]
				,	i.[Narrative]
				,	i.[Amount]
				,	i.[CurrencyCode]
				,	i.[CustomerGUID]
				,	i.[BankAccountGUID]
				,	i.[ActiveNomineeGUID]
				,	i.[ProductTypeID]
				,	i.[ExternalCustomerID]
				,	i.[ReversalInd]
				,	i.[ProcessCode]
				,	i.[PostStatus]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[Version]
				,	i.[LoadDate]
				,	i.[FileName]
			INTO #Inbound_Transactions_DD
			FROM Inbound i
			WHERE i.[RowNumber] = 1

			CREATE CLUSTERED INDEX [CIX_FileRow] ON #Inbound_Transactions_DD ([FileID], [RowNum])
							
			DROP TABLE IF EXISTS #RowNumbers
			SELECT	[FileID]
				,	[RowNum] = MAX([RowNum])
			INTO #RowNumbers
			FROM [WHB].[Inbound_Transactions_DD] it
			WHERE EXISTS (	SELECT 1
							FROM #Inbound_Transactions_DD it2
							WHERE it.[FileID] = it2.[FileID])
			GROUP BY [FileID]

			CREATE CLUSTERED INDEX [CIX_FileRow] ON #RowNumbers ([FileID], [RowNum])

			UPDATE it
			SET it.[RowNum] = it.[RowNum] + rn.[RowNum]
			FROM #Inbound_Transactions_DD it
			INNER JOIN #RowNumbers rn
				ON it.[FileID] = rn.[FileID]

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
		
			INSERT INTO [WHB].[Inbound_Transactions_DD] (	[InboundID]
														,	[FileID]
														,	[RowNum]
														,	[TransactionID]
														,	[BankID]
														,	[ExternalCustomerID]
														,	[ReversalInd]
														,	[ProcessCode]
														,	[TransactionDate]
														,	[OriginatorIdentificationNumber]
														,	[TransactionTime]
														,	[Narrative]
														,	[Amount]
														,	[CurrencyCode]
														,	[PostStatus]
														,	[CustomerGUID]
														,	[BankAccountGUID]
														,	[ActiveNomineeGUID]
														,	[CreatedAt]
														,	[UpdatedAt]
														,	[Version]
														,	[LoadDate]
														,	[FileName])
			SELECT	it.[ID]
				,	it.[FileID]
				,	it.[RowNum]
				,	it.[TransactionID]
				,	it.[BankID]
				,	it.[ExternalCustomerID]
				,	it.[ReversalInd]
				,	it.[ProcessCode]
				,	it.[TransactionDate]
				,	it.[OIN]
				,	it.[TransactionTime]
				,	it.[Narrative]
				,	it.[Amount]
				,	it.[CurrencyCode]
				,	it.[PostStatus]
				,	it.[CustomerGUID]
				,	it.[BankAccountGUID]
				,	it.[ActiveNomineeGUID]
				,	it.[CreatedAt]
				,	it.[UpdatedAt]
				,	it.[Version]
				,	it.[LoadDate]
				,	it.[FileName]
			FROM #Inbound_Transactions_DD it

	--	SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Loaded rows to [WHB].[Inbound_Transactions_DD] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	--	EXEC [Monitor].[ProcessLog_Insert] 'Inbound_Transactions_DD', @msg


		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Transaction_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Transaction_Files] f WHERE TableName = 'Transactions_DD' AND [FileProcessed] = 0) > 0
		
		UPDATE it
		SET it.[FanID] = cu.[FanID]
		FROM [WHB].[Inbound_Transactions_DD] it
		INNER JOIN [Derived].[Customer] cu
			ON it.[CustomerGUID] = cu.[CustomerGUID]
		WHERE it.[FanID] IS NULL
		
		UPDATE it
		SET it.[FanID] = cu.[FanID]
		FROM [WHB].[Inbound_Transactions_DD] it
		INNER JOIN [WH_AllPublishers].[Derived].[CustomerIDs] cu
			ON CONVERT(VARCHAR(100), it.[CustomerGUID]) = cu.[CustomerID]
		WHERE it.[FanID] IS NULL
	
		INSERT INTO [WHB].[BankAccountIDs]
		SELECT	[BankAccountGUID]
		FROM [Derived].[BankAccounts] ba
		WHERE NOT EXISTS (	SELECT 1
							FROM [WHB].[BankAccountIDs] bai
							WHERE ba.[BankAccountGUID] = bai.[BankAccountGUID])

		UPDATE it
		SET	it.[BankAccountID] = ba.[BankAccountID]
		FROM [WHB].[Inbound_Transactions_DD] it
		INNER JOIN [WHB].[BankAccountIDs] ba
			ON it.[BankAccountGUID] = ba.[BankAccountGUID]
		WHERE it.[BankAccountID] IS NULL

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
