USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__Inbound_MatchedTransactions_Update_Historic_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[__Inbound_MatchedTransactions_Update_Historic_Archived]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'MatchedTransactions'
			AND [FileProcessed] = 0) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'MatchedTransactions'
			AND [FileProcessed] = 0
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[MatchedTransactionsID]
				,	i.[Description]
				,	i.[TransactionGUID]
				,	i.[TransactionExternalID]
				,	i.[TransactionTypeID]
				,	i.[CustomerGUID]
				,	i.[CustomerExternalID]
				,	i.[NomineeCustomerID]
				,	i.[AccountGUID]
				,	i.[CardGUID]
				,	i.[MaskedCardNumber]
				,	i.[RetailerGUID]
				,	i.[IronOfferID]
				,	i.[OfferGUID]
				,	i.[MerchantID]
				,	i.[OIN]
				,	i.[MCC]
				,	i.[OfferRate]
				,	i.[CommissionRate]
				,	i.[TransactionDate]
				,	i.[TransactionClearingDate]
				,	i.[Cleared]
				,	i.[Price]
				,	i.[CashbackEarned]
				,	i.[NetAmount]
				,	i.[VatAmount]
				,	i.[GrossAmount]
				,	i.[VatRate]
				,	i.[CurrencyCode]
				,	i.[CardInputMode]
				,	i.[MatchedDate]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[MatcherRunID]
				,	i.[Version]
				,	i.[TransactionID_SLC]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[MatchedTransactions] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[MatchedTransactionsID]
					,	i.[Description]
					,	i.[TransactionGUID]
					,	i.[TransactionExternalID]
					,	i.[TransactionTypeID]
					,	i.[CustomerGUID]
					,	i.[CustomerExternalID]
					,	i.[NomineeCustomerID]
					,	i.[AccountGUID]
					,	i.[CardGUID]
					,	i.[MaskedCardNumber]
					,	i.[RetailerGUID]
					,	i.[IronOfferID]
					,	i.[OfferGUID]
					,	i.[MerchantID]
					,	i.[OIN]
					,	i.[MCC]
					,	i.[OfferRate]
					,	i.[CommissionRate]
					,	i.[TransactionDate]
					,	i.[TransactionClearingDate]
					,	i.[Cleared]
					,	i.[Price]
					,	i.[CashbackEarned]
					,	i.[NetAmount]
					,	i.[VatAmount]
					,	i.[GrossAmount]
					,	i.[VatRate]
					,	i.[CurrencyCode]
					,	i.[CardInputMode]
					,	i.[MatchedDate]
					,	i.[CreatedAt]
					,	i.[UpdatedAt]
					,	i.[MatcherRunID]
					,	i.[Version]
					,	i.[TransactionID_SLC]

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
			
			INSERT INTO [WHB].[Inbound_MatchedTransactions] (	[InboundID]
															,	[MatchedTransactionsID]
															,	[Description]
															,	[TransactionGUID]
															,	[TransactionExternalID]
															,	[TransactionID_SLC]
															,	[TransactionTypeID]
															,	[CustomerGUID]
															,	[CustomerExternalID]
															,	[NomineeCustomerID]
															,	[AccountGUID]
															,	[CardGUID]
															,	[MaskedCardNumber]
															,	[RetailerGUID]
															,	[IronOfferID]
															,	[OfferGUID]
															,	[MerchantID]
															,	[OIN]
															,	[MCC]
															,	[OfferRate]
															,	[CommissionRate]
															,	[TransactionDate]
															,	[TransactionClearingDate]
															,	[Cleared]
															,	[Price]
															,	[CashbackEarned]
															,	[NetAmount]
															,	[VatAmount]
															,	[GrossAmount]
															,	[VatRate]
															,	[CurrencyCode]
															,	[CardInputMode]
															,	[MatchedDate]
															,	[CreatedAt]
															,	[UpdatedAt]
															,	[MatcherRunID]
															,	[Version]
															,	[LoadDate]
															,	[FileName])
			SELECT	i.[ID]
				,	i.[MatchedTransactionsID]
				,	i.[Description]
				,	i.[TransactionGUID]
				,	i.[TransactionExternalID]
				,	i.[TransactionID_SLC]
				,	i.[TransactionTypeID]
				,	i.[CustomerGUID]
				,	i.[CustomerExternalID]
				,	i.[NomineeCustomerID]
				,	i.[AccountGUID]
				,	i.[CardGUID]
				,	i.[MaskedCardNumber]
				,	i.[RetailerGUID]
				,	i.[IronOfferID]
				,	i.[OfferGUID]
				,	i.[MerchantID]
				,	i.[OIN]
				,	i.[MCC]
				,	i.[OfferRate]
				,	i.[CommissionRate]
				,	i.[TransactionDate]
				,	i.[TransactionClearingDate]
				,	i.[Cleared]
				,	i.[Price]
				,	i.[CashbackEarned]
				,	i.[NetAmount]
				,	i.[VatAmount]
				,	i.[GrossAmount]
				,	i.[VatRate]
				,	i.[CurrencyCode]
				,	i.[CardInputMode]
				,	i.[MatchedDate]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[MatcherRunID]
				,	i.[Version]
				,	i.[LoadDate]
				,	i.[FileName]
			FROM #Inbound i
			WHERE NOT EXISTS (	SELECT 1
								FROM [WHB].[Inbound_MatchedTransactions] mt
								WHERE i.[MatchedTransactionsID] = mt.[MatchedTransactionsID])

		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'MatchedTransactionTypes' AND [FileProcessed] = 0) > 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
