USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__PopulateSCDs_CustomerRBSGSegments_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[__PopulateSCDs_CustomerRBSGSegments_Archived]
AS
BEGIN

	INSERT INTO [Derived].[Customer_RBSGSegments]
	SELECT	DISTINCT
			[CustomerGUID] = fc.[MemberUID]
		,	cah.[FanID]
		,	cah.[CustomerSegment]
		,	cah.[StartDate]
		,	cah.[EndDate]
	FROM [SLC_REPL].[dbo].[FanCredentials] fc
	INNER JOIN [Warehouse].[Relational].[Customer_RBSGSegments] cah
		ON fc.[FanID] = cah.[FanID]
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[Customer_RBSGSegments] cah2
						WHERE fc.[MemberUID] = cah2.[CustomerGUID]
						AND cah.[CustomerSegment] = cah2.[CustomerSegment]
						AND cah.[StartDate] = cah2.[StartDate])

END

GO
