USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[Transactions_BankTrans]    Script Date: 9/23/2026 9:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[Transactions_BankTrans]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	/*******************************************************************************************************************************************
			1.	[Inbound].[Transactions]
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #FilesToProcess
		SELECT	[FileID] = f.[ID]
			,	[LoadDate] = f.[LoadDate]
			,	[FileName] = f.[FileName]
		INTO #FilesToProcess
		FROM [WHB].[Inbound_Files] f
		WHERE f.[TableName] = 'MatchedTransactions'

		DECLARE @ID BIGINT = (SELECT MAX([ID]) FROM [WHB].[Inbound_MatchedTransactions]) - 5000000
		
		DROP TABLE IF EXISTS #Inbound_MatchedTransactions
		SELECT	[TransID] = tr.[InboundID]
			,	tr.[DescriptionID]
			,	tr.[TransactionGUID]
			,	tr.[TransactionExternalID]
			,	tr.[TransactionTypeID]
			,	tr.[CustomerGUID]
			,	tr.[AccountGUID]
			,	tr.[CardGUID]
			,	tr.[RetailerGUID]
			,	tr.[IronOfferID]
			,	tr.[OfferGUID]
			,	tr.[TransactionDate]
			,	tr.[TransactionClearingDate]
			,	tr.[OIN]
			,	tr.[Price]
			,	tr.[CashbackEarned]
			,	tr.[CurrencyCode]
			,	tr.[FileName]
			,	tr.[LoadDate]
		INTO #Inbound_MatchedTransactions
		FROM [WHB].[Inbound_MatchedTransactions] tr
		WHERE tr.[TransactionTypeID] NOT IN (1, 2, 3, 5, 7, 13)
		AND tr.[ID] > @ID
		AND NOT EXISTS (	SELECT 1
							FROM [Derived].[BankTrans] bt
							WHERE tr.[TransactionGUID] = bt.[TransactionGUID]
							AND tr.[TransactionExternalID] = bt.[ExternalTransactionID])
		AND (	tr.[TransactionTypeID] IN (0, 6, 8, 10, 11, 12)
			OR (tr.[TransactionTypeID] = 2 AND tr.[DescriptionID] != 2)	--	Cash to bank account
			OR (tr.[TransactionTypeID] = 4 AND tr.[DescriptionID] IN (50, 729, 729, 730))	--	Redemption Refund, Redemption Rewards Reversal, Rewards from your Exchange
		--	OR (tr.[TransactionTypeID] IN (1, 7) AND (	tr.[OfferGUID] IS NULL
		--												OR	tr.[OfferGUID] IN ('52802AF5-EDC1-4DF8-A027-F1259E2F9FFD', 'B9868729-374A-432C-96A8-A33A13586949', '37D941A8-9F43-4F91-BD70-B83B9E679243', '17A489A2-7664-4C54-8481-E4794C6D2110')))
				)

		CREATE CLUSTERED INDEX [CIX_TransGUID] ON #Inbound_MatchedTransactions ([TransactionGUID], [TransactionExternalID])

		DELETE mt
		FROM #Inbound_MatchedTransactions mt
		WHERE EXISTS (	SELECT 1
						FROM [Derived].[BankTrans] bt
						WHERE mt.[TransactionGUID] = bt.[TransactionGUID]
						AND bt.[ExternalTransactionID] IS NULL)
		AND mt.[TransactionExternalID] IS NULL

		DROP TABLE IF EXISTS #Transactions
		SELECT	mt.[TransID]
			,	mt.[DescriptionID]
			,	mt.[TransactionGUID]
			,	mt.[TransactionExternalID]
			,	mt.[TransactionTypeID]
			,	mt.[CustomerGUID]
			,	mt.[AccountGUID]
			,	mt.[CardGUID]
			,	mt.[RetailerGUID]
			,	mt.[IronOfferID]
			,	mt.[OfferGUID]
			,	mt.[TransactionDate]
			,	mt.[TransactionClearingDate]
			,	mt.[OIN]
			,	mt.[Price]
			,	mt.[CashbackEarned]
			,	mt.[CurrencyCode]
			,	mt.[FileName]
			,	mt.[LoadDate]
			,	[FileID] = ftp.[FileID]
		INTO #Transactions
		FROM #Inbound_MatchedTransactions mt
		INNER JOIN #FilesToProcess ftp
			ON mt.[FileName] = ftp.[FileName]
			AND mt.[LoadDate] = ftp.[LoadDate]

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Transactions ([CustomerGUID])
		CREATE NONCLUSTERED INDEX [IX_All] ON #Transactions ([FileName],[LoadDate]) INCLUDE ([TransactionGUID],[CustomerGUID],[Price],[TransactionDate],[OfferGUID],[CashbackEarned])
				
		DROP TABLE IF EXISTS #DescriptionID_DirectDebits
		SELECT	[DescriptionID]
		INTO #DescriptionID_DirectDebits
		FROM [Derived].[BankTrans_Description]
		WHERE [Description] LIKE 'direct debit - reward earned - %'

		CREATE CLUSTERED INDEX [CIX_DescID] ON #DescriptionID_DirectDebits ([DescriptionID])

		DROP TABLE IF EXISTS #BankTrans
		SELECT	DISTINCT
				tr.[FileID]
			,	tr.[TransID]
			,	tr.[TransactionTypeID]
			,	tr.[DescriptionID]
			,	tr.[TransactionGUID]
			,	tr.[TransactionExternalID]
			,	tr.[AccountGUID]
			,	tr.[CardGUID]
			,	tr.[CustomerGUID]
			,	cu.[FanID]
			,	iof.[PartnerID]
			,	[IronOfferID] = iof.[IronOfferID]
			,	tr.[OfferGUID]
			,	[TransactionAmount] = tr.[Price]
			,	tr.[CashbackEarned]
			,	tr.[CurrencyCode]
			,	[PaymentMethodID] = CASE
										WHEN ca.[CreditOrDebit] = 'Credit' THEN 1	--	Credit
										WHEN ca.[CreditOrDebit] = 'Debit' THEN 0	--	Debit
										WHEN tr.[OIN] IS NOT NULL THEN 2			--	Direct Debit
										WHEN tr.[TransactionTypeID] = 8 AND tr.[DescriptionID] IN (SELECT [DescriptionID] FROM #DescriptionID_DirectDebits) THEN 2			--	Direct Debit
										ELSE 0
									END
			,	[TranDate] = CONVERT(DATE, tr.[TransactionDate])
			,	[TranTime] = CONVERT(TIME, tr.[TransactionDate])
			,	[ActivationDays] = DATEDIFF(DAY, tr.[TransactionDate], tr.[TransactionClearingDate])
			,	tr.[TransactionClearingDate]
			,	[AddedDate] = tr.[LoadDate]
		INTO #BankTrans
		FROM #Transactions tr
		LEFT JOIN [WHB].[Inbound_Cards] ca
			ON tr.[CardGUID] = ca.[CardGUID]
		INNER JOIN [Derived].[Customer] cu
			ON tr.[CustomerGUID] = cu.[CustomerGUID]
		LEFT JOIN [Derived].[IronOffer] iof
			ON tr.[OfferGUID] = iof.[HydraOfferID]

		CREATE CLUSTERED INDEX [CIX_FileIDRowNum] ON #BankTrans ([FileID], [TransactionGUID], [TransactionExternalID])















		
		DROP TABLE IF EXISTS #BankTransDupes
		SELECT	[TransactionExternalID]
			,	[TransactionGUID]
			,	[FirstAddedDate] = MIN([AddedDate])
		INTO #BankTransDupes
		FROM #BankTrans pt
		GROUP BY	[TransactionExternalID]
				,	[TransactionGUID]
		HAVING COUNT(*) > 1

		DELETE pt
		FROM #BankTrans pt
		WHERE EXISTS (	SELECT 1
						FROM #BankTransDupes ptd
						WHERE pt.[TransactionGUID] = ptd.[TransactionGUID]
						AND pt.[TransactionExternalID] = ptd.[TransactionExternalID]
						AND pt.[AddedDate] != ptd.[FirstAddedDate])
						
		DROP TABLE IF EXISTS #BankTransFileIDs
		SELECT	[FileID]
			,	[MaxRowNum] = MAX([RowNum])
		INTO #BankTransFileIDs
		FROM [Derived].[BankTrans] bt
		WHERE EXISTS (	SELECT 1
						FROM #BankTrans bt2
						WHERE bt.[FileID] = bt2.[FileID])
		GROUP BY	[FileID]

		CREATE CLUSTERED INDEX [CIX_FileIDRowNum] ON #BankTransFileIDs ([FileID], [MaxRowNum])
			   
		INSERT INTO [Derived].[BankTrans]
		SELECT	bt.[FileID]
			,	[RowNum] = COALESCE(btf.[MaxRowNum], 0) + ROW_NUMBER() OVER (PARTITION BY bt.[FileID] ORDER BY bt.[TransactionGUID], bt.[TransactionExternalID])
			,	bt.[TransactionTypeID]
			,	bt.[DescriptionID]
			,	bt.[TransactionGUID]
			,	bt.[TransactionExternalID]
			,	bt.[AccountGUID]
			,	bt.[CardGUID]
			,	bt.[FanID]
			,	bt.[CustomerGUID]
			,	bt.[PartnerID]
			,	bt.[OfferGUID]
			,	bt.[IronOfferID]
			,	bt.[TransactionAmount]
			,	bt.[CashbackEarned]
			,	bt.[CurrencyCode]
			,	bt.[PaymentMethodID]
			,	bt.[TranDate]
			,	bt.[TranTime]
			,	bt.[TransactionClearingDate]
			,	bt.[AddedDate]
			,	bt.[TransID]
		FROM #BankTrans bt
		LEFT JOIN #BankTransFileIDs btf
			ON bt.[FileID] = btf.[FileID]
		ORDER BY	bt.[TranDate]

		UPDATE pt
		SET pt.[CustomerGUID] = cu.[CustomerGUID]
		,	pt.[FanID] = cu.[FanID]
		FROM [Derived].[BankTrans] pt
		INNER JOIN [Derived].[CustomerMerges] cm
			ON pt.[CustomerGUID] = cm.[OriginalCustomerGUID]
		INNER JOIN [Derived].[Customer] cu
			ON cm.[CustomerGUID] = cu.[CustomerGUID]
		WHERE cm.[EndDate] IS NULL
		AND pt.[CustomerGUID] != cm.[CustomerGUID]

		-- log it
		SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[BankTrans] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
