USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__Lookups_ConsumerCombination_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[__Lookups_ConsumerCombination_Archived]
AS
BEGIN

	--	Insert New

		SET IDENTITY_INSERT [Trans].[ConsumerCombination] ON

		INSERT INTO [Trans].[ConsumerCombination] (	[ConsumerCombinationID]
												,	[BrandID]
												,	[MID]
												,	[Narrative]
												,	[LocationCountry]
												,	[MCCID]
												,	[OriginatorID]
												,	[IsHighVariance]
												,	[IsUKSpend]
												,	[PaymentGatewayStatusID])
		SELECT	[ConsumerCombinationID]
			,	[BrandID]
			,	[MID]
			,	[Narrative]
			,	[LocationCountry]
			,	[MCCID]
			,	[OriginatorID]
			,	[IsHighVariance]
			,	[IsUKSpend]
			,	[PaymentGatewayStatusID]
		FROM [Warehouse].[Relational].[ConsumerCombination] cc
		WHERE NOT EXISTS (	SELECT 1
							FROM [Trans].[ConsumerCombination] cc2
							WHERE cc.[ConsumerCombinationID] = cc2.[ConsumerCombinationID])

		SET IDENTITY_INSERT [Trans].[ConsumerCombination] OFF

	--	Update existing
	
		DROP TABLE IF EXISTS #UpdatedCC
		SELECT	[ConsumerCombinationID]
			,	[BrandID]
			,	[MID]
			,	[Narrative]
			,	[LocationCountry]
			,	[MCCID]
			,	[OriginatorID]
			,	[IsHighVariance]
			,	[IsUKSpend]
			,	[PaymentGatewayStatusID]
		INTO #UpdatedCC
		FROM [Warehouse].[Relational].[ConsumerCombination] cc
		EXCEPT
		SELECT	[ConsumerCombinationID]
			,	[BrandID]
			,	[MID]
			,	[Narrative]
			,	[LocationCountry]
			,	[MCCID]
			,	[OriginatorID]
			,	[IsHighVariance]
			,	[IsUKSpend]
			,	[PaymentGatewayStatusID]
		FROM [Trans].[ConsumerCombination]

		UPDATE cc
		SET cc.[BrandID] = ucc.[BrandID]
		,	cc.[MID] = ucc.[MID]
		,	cc.[Narrative] = ucc.[Narrative]
		,	cc.[LocationCountry] = ucc.[LocationCountry]
		,	cc.[MCCID] = ucc.[MCCID]
		,	cc.[OriginatorID] = ucc.[OriginatorID]
		,	cc.[IsHighVariance] = ucc.[IsHighVariance]
		,	cc.[IsUKSpend] = ucc.[IsUKSpend]
		,	cc.[PaymentGatewayStatusID] = ucc.[PaymentGatewayStatusID]
		,	cc.[ModifiedDate] = GETDATE()
		FROM #UpdatedCC ucc
		INNER JOIN [Trans].[ConsumerCombination] cc
			ON ucc.[ConsumerCombinationID] = cc.[ConsumerCombinationID]

END
GO
