USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__PopulateSCDs_PaymentMethodsAvailable_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[__PopulateSCDs_PaymentMethodsAvailable_Archived]
AS
BEGIN

	INSERT INTO [Derived].[Customer_PaymentMethodsAvailable]
	SELECT	DISTINCT
			[FanID] = cpm.[FanID]
		,	[CustomerGUID] = fc.[MemberUID]
		,	[PaymentMethodsAvailableID] = cpm.[PaymentMethodsAvailableID]
		,	[StartDate] = cpm.[StartDate]
		,	[EndDate] = cpm.[EndDate]
	FROM [SLC_REPL].[dbo].[FanCredentials] fc
	INNER JOIN [Warehouse].[Relational].[CustomerPaymentMethodsAvailable] cpm
		ON fc.[FanID] = cpm.[FanID]
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[Customer_PaymentMethodsAvailable] cpm2
						WHERE fc.[MemberUID] = cpm2.[CustomerGUID]
						AND cpm.[PaymentMethodsAvailableID] = cpm2.[PaymentMethodsAvailableID]
						AND cpm.[StartDate] = cpm2.[StartDate])

END
GO
