USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[AllPublishers_Customer_Redemptions]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[AllPublishers_Customer_Redemptions]	@ExecutionType VARCHAR(50) = 'Day'
														,	@ExecutionDateStart DATE = NULL
														,	@ExecutionDateEnd DATE = NULL
														,	@PublisherID INT = 2070
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Year', @ExecutionDateStart DATE = '2024-01-01', @ExecutionDateEnd DATE = '2024-12-31'
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = '2024-08-15', @ExecutionDateEnd DATE = '2024-08-15', @PublisherID INT = 2068

		IF @ExecutionDateStart = NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd = NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType

	/*******************************************************************************************************************************************
		2.	Fetch aggregate of retailer earnings within the period
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
			2.1.	Fetch all redemptions within the period
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #Redemptions
			SELECT	r.[CustomerGUID]
				,	r.[FanID]
				,	r.[RedemptionType]
				,	r.[RedemptionPartnerGUID]
				,	r.[RedemptionOfferGUID]
				,	r.[CashbackUsed]
				,	r.[CashbackEarned]
				,	r.[TransactionGUID]
				,	r.[RedeemedDate]
			INTO #Redemptions
			FROM [Derived].[Redemptions] r
			WHERE EXISTS (	SELECT 1
							FROM #Dates d
							WHERE CONVERT(DATE, r.[RedeemedDate]) BETWEEN d.[StartDate] AND d.[EndDate])

			CREATE CLUSTERED INDEX [CIX_AccountGUID] ON #Redemptions ([TransactionGUID], [RedeemedDate])
			
		/*******************************************************************************************************************************************
			2.2.	Join to Bank Account Type and aggregate
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #RedemptionsAgg
			SELECT	d.[CalendarDate]
				,	d.[StartDate]
				,	d.[EndDate]
				,	r.[CustomerGUID]
				,	r.[FanID]
				,	r.[RedemptionType]
				,	r.[RedemptionPartnerGUID]
				,	r.[RedemptionOfferGUID]
				,	[BankAccountProductID] = 0
				,	[BankAccountProductCode] = 'Unknown'
				,	[BankAccountProductName] = 'Unknown'
				,	[Redemptions] = COUNT(DISTINCT r.[TransactionGUID])
				,	[CashbackUsed] = SUM(r.[CashbackUsed])
				,	[CashbackEarned] = SUM(r.[CashbackEarned])
				,	[FirstRedemption] = MIN(r.[RedeemedDate])
				,	[LastRedemption] = MAX(r.[RedeemedDate])
			INTO #RedemptionsAgg
			FROM #Redemptions r
			INNER JOIN #Dates d
				ON CONVERT(DATE, r.[RedeemedDate]) BETWEEN d.[StartDate] AND d.[EndDate]
			GROUP BY	d.[CalendarDate]
					,	d.[StartDate]
					,	d.[EndDate]
					,	r.[CustomerGUID]
					,	r.[FanID]
					,	r.[RedemptionType]
					,	r.[RedemptionPartnerGUID]
					,	r.[RedemptionOfferGUID]

			CREATE CLUSTERED INDEX [CIX_RedemptionOfferGUID] ON #RedemptionsAgg ([RedemptionOfferGUID])
			CREATE NONCLUSTERED INDEX [IX_CustomerGUID] ON #RedemptionsAgg ([CustomerGUID])

	/*******************************************************************************************************************************************
		3.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Customers
		SELECT	[PublisherID] = cu.[ClubID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
		INTO #Customers
		FROM [Derived].[Customer] cu
		WHERE EXISTS (	SELECT 1
						FROM #RedemptionsAgg ra
						WHERE cu.[CustomerGUID] = ra.[CustomerGUID])
				
		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID])

	/*******************************************************************************************************************************************
		4.	Delete existing data for the period
	*******************************************************************************************************************************************/
	
		DELETE cr
		FROM [WH_AllPublishers].[Report].[Customer_Redemptions] cr
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cr.[CalendarDate] = d.[CalendarDate]
						AND cr.[MonthStart] = d.[StartDate]
						AND cr.[MonthEnd] = d.[EndDate])
		AND cr.[PublisherID] = @PublisherID

	/*******************************************************************************************************************************************
		5.	Load new redemptions for the period
	*******************************************************************************************************************************************/
	
		INSERT INTO [WH_AllPublishers].[Report].[Customer_Redemptions]
		SELECT	ra.[CalendarDate]
			,	ra.[StartDate]
			,	ra.[EndDate]
			,	cu.[PublisherID]
			,	ra.[CustomerGUID]
			,	ra.[FanID]
			,	ra.[RedemptionType]
			,	ra.[RedemptionPartnerGUID]
			,	rp.[PartnerName]
			,	ra.[RedemptionOfferGUID]
			,	ro.[TradeUp_CashbackRequired]
			,	[AccountType] =	'Current Account'
			,	[Redemptions] = SUM(ra.[Redemptions])
			,	[CashbackUsed] = SUM(ra.[CashbackUsed])
			,	[CashbackEarned] = SUM(ra.[CashbackEarned])
			,	[FirstRedemption] = MIN(ra.[FirstRedemption])
			,	[LastRedemption] = MAX(ra.[LastRedemption])
		FROM #RedemptionsAgg ra
		INNER JOIN #Customers cu
			ON ra.[CustomerGUID] = cu.[CustomerGUID]
		LEFT JOIN [Derived].[RedemptionOffers] ro
			ON ra.[RedemptionOfferGUID] = ro.[RedemptionOfferGUID]
		LEFT JOIN [Derived].[RedemptionPartners] rp
			ON ra.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
		GROUP BY	ra.[CalendarDate]
				,	ra.[StartDate]
				,	ra.[EndDate]
				,	cu.[PublisherID]
				,	ra.[CustomerGUID]
				,	ra.[FanID]
				,	ra.[RedemptionType]
				,	ra.[RedemptionPartnerGUID]
				,	rp.[PartnerName]
				,	ra.[RedemptionOfferGUID]
				,	ro.[TradeUp_CashbackRequired]

	/*******************************************************************************************************************************************
		6.	Mark as updated
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Redemptions_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] = @PublisherID

END
GO
