USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__Inbound_Transactions_Update_Old_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[__Inbound_Transactions_Update_Old_Archived]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		WHILE (SELECT COUNT(*) FROM [WHB].[Transaction_Files] f WHERE [TableName] = 'Transactions' AND [FileProcessed] = 0) > 0
			BEGIN

				/*******************************************************************************************************************************************
					1.	Fetch files that haven't been processed
				*******************************************************************************************************************************************/
				
					DROP TABLE IF EXISTS #FilesToProcess_LoadDate
					SELECT	[FileName] = MIN([FileName])
					INTO #FilesToProcess_LoadDate
					FROM [WHB].[Transaction_Files] f
					WHERE [TableName] = 'Transactions'
					AND [FileProcessed] = 0

					CREATE UNIQUE CLUSTERED INDEX [CIX_FileNameLoadDate] ON #FilesToProcess_LoadDate ([FileName])
					
					DROP TABLE IF EXISTS #FilesToProcess
					SELECT	TOP 1000
							[FileID] = [ID]
						,	[LoadDate]
						,	[FileName] = CONVERT(NVARCHAR(250), [FileName])
					INTO #FilesToProcess
					FROM [WHB].[Transaction_Files] f
					WHERE [TableName] = 'Transactions'
					AND [FileProcessed] = 0
					AND EXISTS (SELECT 1
								FROM #FilesToProcess_LoadDate ftp
								WHERE f.[FileName] = ftp.[FileName])
					ORDER BY	[LoadDate]
							,	[ID]
							
					CREATE UNIQUE CLUSTERED INDEX [CIX_FileNameLoadDate] ON #FilesToProcess ([LoadDate], [FileName])
												
				/*******************************************************************************************************************************************
					2.	Fetch latest Transactions file to be processed
				*******************************************************************************************************************************************/
				
					DROP TABLE IF EXISTS #Inbound_Transactions
					SELECT	t.[ID]
						,	t.[RowNum]
						,	t.[BankID]
						,	t.[TransactionID]
						,	t.[TransactionReferenceNumber]
						,	t.[CustomerGUID]
						,	t.[ExternalCustomerID]
						,	t.[BankAccountGUID]
						,	t.[CardGUID]
						,	t.[TransactionDate]
						,	t.[TransactionTime]
						,	t.[Amount]
						,	t.[CurrencyCode]
						,	t.[MerchantID]
						,	t.[MerchantDBAName]
						,	t.[OriginatorID]
						,	t.[MerchantCountry]
						,	t.[MerchantCategoryCode]
						,	t.[MerchantAddress]
						,	t.[MerchantCity]
						,	t.[MerchantState]
						,	t.[MerchantPostalCode]
						,	t.[CardholderPresent]
						,	t.[ProcessCode]
						,	t.[PostStatus]
						,	t.[CardInputMode]
						,	t.[ReversalInd]
						,	t.[TokenTransactionIndicator]
						,	t.[TokenRequesterID]
						,	t.[PaymentTypeID]
						,	t.[DPAN]
						,	t.[AuthCode]
						,	t.[IsValidTransaction]
						,	t.[LoadDate]
						,	t.[FileName]
					INTO #Inbound_Transactions
					FROM [Inbound].[Transactions] t WITH (NOLOCK)
					WHERE EXISTS (	SELECT 1
									FROM #FilesToProcess ftp
									WHERE t.[FileName] = ftp.[FileName]
								--	AND t.[LoadDate] = ftp.[LoadDate]
									)
					OPTION (RECOMPILE)

					CREATE CLUSTERED INDEX [CIX_ID] ON #Inbound_Transactions ([ID])
					CREATE NONCLUSTERED INDEX [IX_All] ON #Inbound_Transactions ([FileName], [LoadDate], [TransactionReferenceNumber], [TransactionID])

					UPDATE #Inbound_Transactions
					SET [TransactionID] = NULL
					WHERE [TransactionID] = '0000000000000'
					AND [TransactionReferenceNumber] IS NOT NULL

					WHILE 1 = 1
						BEGIN

							;WITH
							DELETER AS (SELECT	[FileName]
											,	[BankID]
											,	[RowNum]
											,	[ID] = MAX([ID])
										FROM #Inbound_Transactions
										GROUP BY	[FileName]
												,	[BankID]
												,	[RowNum]
										HAVING COUNT(*) > 1)

							DELETE i
							FROM #Inbound_Transactions i
							WHERE EXISTS (	SELECT 1
											FROM DELETER d
											WHERE i.[FileName] = d.[FileName]
											AND i.[BankID] = d.[BankID]
											AND i.[RowNum] = d.[RowNum])
							AND NOT EXISTS (SELECT 1
											FROM DELETER d
											WHERE i.[ID] = d.[ID])

							IF @@ROWCOUNT = 0 BREAK

						END

					DROP TABLE IF EXISTS #Transactions
					SELECT	[ID] = ROW_NUMBER() OVER (ORDER BY MIN(i.[LoadDate]), COALESCE(i.[TransactionReferenceNumber], i.[TransactionID], ''))
						,	[FileID] = ftp.[FileID]
						,	[TransactionID] = COALESCE(i.[TransactionReferenceNumber], i.[TransactionID], '')
						,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY ftp.[FileID] ORDER BY COALESCE(i.[TransactionReferenceNumber], i.[TransactionID], ''))
						,	[CustomerGUID] = i.[CustomerGUID]
						,	[ExternalCustomerID] = i.[ExternalCustomerID]
						,	[BankAccountGUID] = i.[BankAccountGUID]
						,	[CardGUID] = i.[CardGUID]
						,	[TransactionDate] = i.[TransactionDate]
						,	[TransactionTime] = i.[TransactionTime]
						,	[Amount] = i.[Amount]
						,	[CurrencyCode]= COALESCE(i.[CurrencyCode], '')
						,	[MerchantID] = COALESCE(i.[MerchantID], '')
						,	[Narrative] = MAX(COALESCE(i.[MerchantDBAName], ''))
						,	[OriginatorID] = COALESCE(MAX(i.[OriginatorID]), '')
						,	[MerchantCountry] = COALESCE(i.[MerchantCountry], '')
						,	[MerchantCategoryCode] = COALESCE(i.[MerchantCategoryCode], '')
						,	[MerchantAddress] = MAX([MerchantAddress])
						,	[MerchantCity] = COALESCE(MAX(i.[MerchantCity]), MAX(i.[MerchantAddress]), '')
						,	[MerchantState] = COALESCE(i.[MerchantState], '')
						,	[MerchantPostalCode] = COALESCE(MAX(i.[MerchantPostalCode]), '')
						,	[CardholderPresent] = i.[CardholderPresent]
						,	[ProcessCode] = i.[ProcessCode]
						,	[PostStatus] = i.[PostStatus]
						,	[CardInputMode] = i.[CardInputMode]
						,	[ReversalInd] = i.[ReversalInd]
						,	[TokenTransactionIndicator] = MAX(i.[TokenTransactionIndicator])
						,	[TokenRequesterId] = i.[TokenRequesterId]
						,	[PaymentTypeID] = i.[PaymentTypeID]
						,	[DPAN] = i.[DPAN]
						,	[AuthCode] = i.[AuthCode]
						,	[IsValidTransaction] = MAX(i.[IsValidTransaction])
						,	[LoadDate] = MIN(i.[LoadDate])
						,	[FileName] = i.[FileName]
						,	[BankID] = MAX(i.[BankID])
						,	i.[TransactionReferenceNumber]
						,	[SourceRowNum] = i.[RowNum]
					INTO #Transactions
					FROM #Inbound_Transactions i
					INNER JOIN #FilesToProcess ftp
						ON i.[FileName] = ftp.[FileName]
					--	AND i.[LoadDate] = ftp.[LoadDate]
					WHERE TRY_CONVERT(DATETIME, [TransactionDate]) IS NOT NULL
					GROUP BY	ftp.[FileID]
							,	COALESCE(i.[TransactionReferenceNumber], i.[TransactionID], '')
							,	i.[CustomerGUID]
							,	i.[ExternalCustomerID]
							,	i.[BankAccountGUID]
							,	i.[CardGUID]
							,	i.[TransactionDate]
							,	i.[TransactionTime]
							,	i.[Amount]
							,	COALESCE(i.[CurrencyCode], '')
							,	COALESCE(i.[MerchantID], '')
							,	COALESCE(i.[MerchantCountry], '')
							,	COALESCE(i.[MerchantCategoryCode], '')
							,	COALESCE(i.[MerchantState], '')
							,	i.[CardholderPresent]
							,	i.[ProcessCode]
							,	i.[PostStatus]
							,	i.[CardInputMode]
							,	i.[ReversalInd]
							,	i.[TokenRequesterId]
							,	i.[PaymentTypeID]
							,	i.[DPAN]
							,	i.[AuthCode]
							,	i.[FileName]
							,	i.[TransactionReferenceNumber]
							,	i.[RowNum]
					OPTION (RECOMPILE)
												
				/*******************************************************************************************************************************************
					3.	Remove duplicate transactions
				*******************************************************************************************************************************************/

					DROP TABLE IF EXISTS #Dupes
					SELECT	[TransactionID]
						,	[MerchantID]
						,	[MerchantCategoryCode]
						,	[TransactionDate]
						,	[TransactionTime]
						,	[Amount]
						,	[CustomerGUIDs] = COUNT(DISTINCT [CustomerGUID])
						,	[CardGUIDs] = COUNT(DISTINCT [CardGUID])
						,	[MinID] = MIN([ID])
					INTO #Dupes
					FROM #Transactions
					GROUP BY	[TransactionID]
							,	[MerchantID]
							,	[MerchantCategoryCode]
							,	[TransactionDate]
							,	[TransactionTime]
							,	[Amount]
					HAVING COUNT(*) > 1
					
					INSERT INTO [WHB].[Inbound_Transactions_ToExclude]
					SELECT	[ID]
						,	[FileID]
						,	[TransactionID]
						,	[RowNum]
						,	[CustomerGUID]
						,	[ExternalCustomerID]
						,	[BankAccountGUID]
						,	[CardGUID]
						,	[TransactionDate]
						,	[TransactionTime]
						,	[Amount]
						,	[CurrencyCode]
						,	[MerchantID]
						,	[Narrative]
						,	[OriginatorID]
						,	[MerchantCountry]
						,	[MerchantCategoryCode]
						,	[MerchantCity]
						,	[MerchantState]
						,	[MerchantPostalCode]
						,	[CardholderPresent]
						,	[ProcessCode]
						,	[PostStatus]
						,	[CardInputMode]
						,	[ReversalInd]
						,	[TokenTransactionIndicator]
						,	[TokenRequesterId]
						,	[PaymentTypeID]
						,	[LoadDate]
						,	[FileName]
					FROM #Transactions t
					WHERE EXISTS (	SELECT 1
									FROM #Dupes d
									WHERE t.[TransactionID] = d.[TransactionID]
									AND t.[MerchantID] = d.[MerchantID]
									AND t.[MerchantCategoryCode] = d.[MerchantCategoryCode]
									AND t.[TransactionDate] = d.[TransactionDate]
								--	AND t.[TransactionTime] = d.[TransactionTime]
									AND t.[Amount] = d.[Amount])
					AND NOT EXISTS (SELECT 1
									FROM #Dupes d
									WHERE t.[ID] = d.[MinID])
					ORDER BY [TransactionID]

					DELETE t
					FROM #Transactions t
					WHERE EXISTS (	SELECT 1
									FROM [WHB].[Inbound_Transactions_ToExclude] tte
									WHERE t.[ID] = tte.[ID]
									AND t.[TransactionID] = tte.[TransactionID]
									)

					CREATE UNIQUE CLUSTERED INDEX [CIX_GUID] ON #Transactions ([TransactionID], [MerchantID], [Amount], [MerchantCategoryCode], [TransactionDate], [TransactionTime])

				/*******************************************************************************************************************************************
					4.	Check max RowNum that may have been loaded for the FileID
				*******************************************************************************************************************************************/

					DROP TABLE IF EXISTS #RowNums
					SELECT	t.[FileID]
						,	[RowNum] = MAX([RowNum])
					INTO #RowNums
					FROM [WHB].[Inbound_Transactions] t
					WHERE EXISTS (	SELECT 1
									FROM #FilesToProcess ftp
									WHERE t.[FileID] = ftp.[FileID])
					GROUP BY	t.[FileID]

				/*******************************************************************************************************************************************
					5.	Load to table
				*******************************************************************************************************************************************/
				
					WHILE 1 = 1
						BEGIN

							INSERT INTO [WHB].[Inbound_Transactions] (	[FileID]
																	,	[RowNum]
																	,	[TransactionID]
																	,	[CustomerGUID]
																	,	[ExternalCustomerID]
																	,	[BankAccountGUID]
																	,	[CardGUID]
																	,	[TransactionDate]
																	,	[TransactionTime]
																	,	[Amount]
																	,	[CurrencyCode]
																	,	[MerchantID]
																	,	[Narrative]
																	,	[OriginatorID]
																	,	[MerchantCountry]
																	,	[MerchantCategoryCode]
																	,	[MerchantCity]
																	,	[MerchantState]
																	,	[MerchantPostalCode]
																	,	[CardholderPresent]
																	,	[ProcessCode]
																	,	[PostStatus]
																	,	[CardInputMode]
																	,	[ReversalInd]
																	,	[TokenTransactionIndicator]
																	,	[TokenRequesterId]
																	,	[PaymentTypeID]
																	,	[DPAN]
																	,	[AuthCode]
																	,	[IsValidTransaction]
																	,	[LoadDate]
																	,	[FileName]
																	,	[BankID]
																	,	[MerchantAddress]
																	,	[SourceRowNum]
																	,	[TransactionReferenceNumber])
							SELECT	TOP 1500000
									[FileID] = t.[FileID]
								,	[RowNum] =	CASE
													WHEN t.[TransactionID] LIKE '%,%' THEN t.[RowNum]
													ELSE t.[RowNum] + COALESCE(rn.[RowNum], 0)
												END
								,	[TransactionID] = t.[TransactionID]
								,	[CustomerGUID] = t.[CustomerGUID]
								,	[ExternalCustomerID] = t.[ExternalCustomerID]
								,	[BankAccountGUID] = t.[BankAccountGUID]
								,	[CardGUID] = t.[CardGUID]
								,	[TransactionDate] = t.[TransactionDate]
								,	[TransactionTime] = t.[TransactionTime]
								,	[Amount] = t.[Amount]
								,	[CurrencyCode]= t.[CurrencyCode]
								,	[MerchantID] = t.[MerchantID]
								,	[Narrative] = t.[Narrative]
								,	[OriginatorID] = t.[OriginatorID]
								,	[MerchantCountry] = t.[MerchantCountry]
								,	[MerchantCategoryCode] = t.[MerchantCategoryCode]
								,	[MerchantCity] = t.[MerchantCity]
								,	[MerchantState] = t.[MerchantState]
								,	[MerchantPostalCode] = t.[MerchantPostalCode]
								,	[CardholderPresent] = t.[CardholderPresent]
								,	[ProcessCode] = t.[ProcessCode]
								,	[PostStatus] = t.[PostStatus]
								,	[CardInputMode] = t.[CardInputMode]
								,	[ReversalInd] = t.[ReversalInd]
								,	[TokenTransactionIndicator] = t.[TokenTransactionIndicator]
								,	[TokenRequesterId] = t.[TokenRequesterId]
								,	[PaymentTypeID] = t.[PaymentTypeID]
								,	[DPAN] = t.[DPAN]
								,	[AuthCode] = t.[AuthCode]
								,	[IsValidTransaction] = CASE WHEN t.[IsValidTransaction] = 'False' THEN 0 ELSE 1 END
								,	[LoadDate] = t.[LoadDate]
								,	[FileName] = t.[FileName]
								,	[BankID] = t.[BankID]
								,	[MerchantAddress] = t.[MerchantAddress]
								,	[SourceRowNum] = t.[SourceRowNum]
								,	[TransactionReferenceNumber] = t.[TransactionReferenceNumber]
							FROM #Transactions t
							LEFT JOIN #RowNums rn
								ON t.[FileID] = rn.[FileID]
							WHERE NOT EXISTS (	SELECT 1
												FROM [WHB].[Inbound_Transactions] it
												WHERE t.[TransactionID] = it.[TransactionID]
												AND t.[MerchantID] = it.[MerchantID]
												AND t.[Amount] = it.[Amount])

							IF @@ROWCOUNT = 0 BREAK

						END

				/*******************************************************************************************************************************************
					6.	Log to table
				*******************************************************************************************************************************************/
													
					DROP TABLE IF EXISTS #FileCounts
					SELECT	ftp.[FileID]
						,	ftp.[FileName]
						,	ftp.[LoadDate]
						,	[DataSource] = 'Inbound'
						,	[Entries] = COUNT(DISTINCT COALESCE([TransactionReferenceNumber], [TransactionID]))
					INTO #FileCounts
					FROM #FilesToProcess ftp
					INNER JOIN [Inbound].[Transactions] t
						ON t.[FileName] = ftp.[FileName]
					--	AND t.[LoadDate] = ftp.[LoadDate]
					WHERE COALESCE(t.[IsValidTransaction], 'True') = 'True'
					GROUP BY	ftp.[FileID]
							,	ftp.[FileName]
							,	ftp.[LoadDate]

					INSERT INTO #FileCounts
					SELECT	ftp.[FileID]
						,	ftp.[FileName]
						,	ftp.[LoadDate]
						,	[DataSource] = 'WHB'
						,	[Entries] = COUNT(DISTINCT [TransactionID])
					FROM #FilesToProcess ftp
					INNER JOIN [WHB].[Inbound_Transactions] it
						ON it.[FileID] = ftp.[FileID]
					--	AND it.[LoadDate] = ftp.[LoadDate]
					WHERE it.[IsValidTransaction] = 1
					GROUP BY	ftp.[FileID]
							,	ftp.[FileName]
							,	ftp.[LoadDate]
					
					DROP TABLE IF EXISTS #FileCounts_ToLoad
					SELECT	ftp.[FileID]
						,	ftp.[FileName]
						,	ftp.[LoadDate]
						,	[Imported_RowCount] = COALESCE(MAX(CASE WHEN fc.[DataSource] = 'WHB' THEN fc.[Entries] ELSE 0 END), 0)
						,	[Total_RowCount] = COALESCE(MAX(CASE WHEN fc.[DataSource] = 'Inbound' THEN fc.[Entries] ELSE 0 END), 0)
					INTO #FileCounts_ToLoad
					FROM #FilesToProcess ftp
					LEFT JOIN #FileCounts fc
						ON ftp.[FileID] = fc.[FileID]
						AND ftp.[FileName] = fc.[FileName]
						AND ftp.[LoadDate] = fc.[LoadDate]
					GROUP BY	ftp.[FileID]
							,	ftp.[FileName]
							,	ftp.[LoadDate]
					HAVING COALESCE(MAX(CASE WHEN fc.[DataSource] = 'Inbound' THEN fc.[Entries] ELSE 0 END), 0) > 0
							
					MERGE [MIDI].[FilesToProcess] target		-- Destination table
					USING #FileCounts_ToLoad source				-- Source table
					ON target.[FileID] = source.[FileID]		-- Match criteria
					AND target.[FileName] = source.[FileName]	-- Match criteria
					AND target.[LoadDate] = source.[LoadDate]	-- Match criteria

					WHEN MATCHED THEN
						UPDATE SET	target.[Total_RowCount] = source.[Total_RowCount]	-- If matched, update to new value
								,	target.[Imported_RowCount] = source.[Imported_RowCount]		-- If matched, update to new value
								,	target.[Imported_Date] = GETDATE()		-- If matched, update to new value

					WHEN NOT MATCHED THEN					-- If not matched, add new rows
						INSERT ([FileID]
							,	[FileName]
							,	[LoadDate]
							,	[Total_RowCount]
							,	[Imported_RowCount]
							,	[Imported_Date])
						VALUES (source.[FileID]
							,	source.[FileName]
							,	source.[LoadDate]
							,	source.[Total_RowCount]
							,	source.[Imported_RowCount]
							,	GETDATE());

				/*******************************************************************************************************************************************
					7.	Update [WHB].[Transaction_Files]
				*******************************************************************************************************************************************/

					UPDATE i
					SET i.[FileProcessed] = 1
					FROM [WHB].[Transaction_Files] i
					WHERE EXISTS (	SELECT 1
									FROM #FilesToProcess ftp
									WHERE i.[ID] = ftp.[FileID]
									AND i.[FileName] = ftp.[FileName]
									AND i.[LoadDate] = ftp.[LoadDate])

			END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Transaction_Files] f WHERE [TableName] = 'Transactions' AND [FileProcessed] = 0) > 0		

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
