USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__OutboundMI_DailyMIReport_Fetch_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[__OutboundMI_DailyMIReport_Fetch_Archived]	@BankID VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		SET NOCOUNT ON;
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

		/*******************************************************************************************************************************************
			1. Fetch Data
		*******************************************************************************************************************************************/

			SELECT	[CUSTOMER ID]
				,	[E-MAIL ADDRESS]
				,	[MOBILE NUMBER]
				,	[BANK ID]
				,	[IS MARKETING SUPPRESSED SMS]
				,	[IS MARKETING SUPPRESSED EMAIL]
				,	[IS MARKETING SUPPRESSED DM]
				,	[OPTED OUT]
				,	[OPTED OUT DATE]
				,	[CURRENTLY ACTIVE]
				,	[ACTIVATION CHANNEL]
				,	[ACTIVATED BY CREDIT CARD]
				,	[ACTIVATED DATE]
				,	[IS REGISTERED]
				,	[TOTAL TRANSACTION AMOUNT DEBIT]
				,	[TOTAL TRANSACTION AMOUNT CREDIT]
				,	[TOTAL TRANSACTION COUNT DEBIT]
				,	[TOTAL TRANSACTION COUNT CREDIT]
				,	[CASHBACK BALANCE - PENDING]
				,	[CASHBACK BALANCE – CLEARED]
				,	[TOTAL REDEEMED VALUE]
				,	[REDEEMED VALUE CASH TO BANK ACCOUNT]
				,	[REDEEMED VALUE CASH TO CREDIT CARD]
				,	[REDEEMED VALUE IN TRADEUP]
				,	[REDEEMED VALUE IN CHARITY]
				,	[CONTACT HISTORY]
				,	[TOTAL TRANSACTION AMOUNT DD]
				,	[TOTAL TRANSACTION COUNT DD]
				,	[EMAIL HARDBOUNCED]
			FROM [WHB].[OutboundMI_DailyMIReport]
			WHERE [BANK ID] = @BankID
			ORDER BY	[CUSTOMER ID]

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
