USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[Customer_CustomerPreviouslyActive]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_CustomerPreviouslyActive] @RunDate DATE = NULL

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		--	DECLARE @RunDate DATE = GETDATE()

		/*******************************************************************************************************************************************
			1.	Find customers who are not active now but were previously
		*******************************************************************************************************************************************/
		
			INSERT INTO [WHB].[Inbound_Customers_PreviouslyAgreedTCs]
			SELECT	w.[CustomerGUID]
				,	[UpdatedAt] = MIN(w.[UpdatedAt])
			FROM [WHB].[Inbound_Customers] w
			WHERE w.[AgreedTermssAndCons] = 0 
			AND EXISTS (SELECT 1
						FROM [Inbound].[Customers] i
						WHERE w.[CustomerGUID] = i.[CustomerGUID]
						AND i.[AgreedTermssAndCons] = 1)
			AND NOT EXISTS (SELECT 1
							FROM [WHB].[Inbound_Customers_PreviouslyAgreedTCs] pat
							WHERE w.[CustomerGUID] = pat.[CustomerGUID])
			GROUP BY w.[CustomerGUID]

			SET @RowsAffected = @@ROWCOUNT
			
			INSERT INTO [WHB].[Inbound_Customers_PreviouslyAgreedTCs]
			SELECT	w.[CustomerGUID]
				,	[UpdatedAt] = MIN(w.[UpdatedAt])
			FROM [WHB].[Inbound_Customers] w
			WHERE w.[AgreedTermssAndCons] = 0 
			AND EXISTS (SELECT 1
						FROM [Derived].[Customer] i
						WHERE w.[CustomerGUID] = i.[CustomerGUID])
			AND NOT EXISTS (SELECT 1
							FROM [WHB].[Inbound_Customers_PreviouslyAgreedTCs] pat
							WHERE w.[CustomerGUID] = pat.[CustomerGUID])
			GROUP BY w.[CustomerGUID]

		SET @RowsAffected = @RowsAffected + @@ROWCOUNT; SET @msg = 'Loaded rows to [WHB].[Inbound_Customers_PreviouslyAgreedTCs] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg
		
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END




GO
