USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__OutboundMI_DailyMIReport_Update_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[__OutboundMI_DailyMIReport_Update_Archived]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		SET NOCOUNT ON;
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

		/*******************************************************************************************************************************************
			1. Fetch Redemption Details
		*******************************************************************************************************************************************/

			/***************************************************************************************************************************************
				1.1. Aggregate all redemptions
			***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Redemptions_Long
				SELECT	r.[FanID]
					,	[RedemptionType] = COALESCE(r.[RedemptionType], 'No Type')
					,	[CashbackUsed] = SUM([CashbackUsed])
				INTO #Redemptions_Long
				FROM [Derived].[Redemptions] r
				WHERE r.[Cancelled] = 0
				GROUP BY	r.[FanID]
						,	COALESCE(r.[RedemptionType], 'No Type')

				SET @RowsAffected = @@ROWCOUNT;
		
				CREATE UNIQUE CLUSTERED INDEX [UCIX_FanType] ON #Redemptions_Long ([FanID], [RedemptionType])

				SET @msg = 'Loaded rows to #Redemptions_Long [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

			/***************************************************************************************************************************************
				1.2. Pivot redemption data
			***************************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #Redemptions
				SELECT	p.[FanID]
					,	[RedeemCash] = ISNULL(p.[Pay Bank], 0)
					,	[RedeemCreditCard] = ISNULL(p.[Pay Card], 0)
					,	[RedeemTradeUp] = ISNULL(p.[Trade Up], 0)
					,	[RedeemCharity] = ISNULL(p.[Charity], 0)
					,	[RedeemNoType] = ISNULL(p.[No Type], 0)
				INTO #Redemptions
				FROM #Redemptions_Long r
				PIVOT (	SUM(r.[CashbackUsed]) FOR r.[RedemptionType] IN ([Charity], [Pay Bank], [Pay Card], [Trade Up], [No Type])) p

				SET @RowsAffected = @@ROWCOUNT;
		
				CREATE UNIQUE CLUSTERED INDEX [UCIX_Fan] ON #Redemptions ([FanID])

				SET @msg = 'Loaded rows to #Redemptions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/*******************************************************************************************************************************************
			2. Fetch Trasnactions Details populated in [WHB].[OutboundMI_CustomerSpend_Update]
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #CustomerSpend
			SELECT	cs.[FanID]
				,	[TotalTransactionAmountDebit] = SUM(CASE WHEN cs.[PaymentMethodID] = 0 THEN cs.[TransAmount] ELSE 0 END)
				,	[TotalTransactionAmountCredit] = SUM(CASE WHEN cs.[PaymentMethodID] = 1 THEN cs.[TransAmount] ELSE 0 END)
				,	[TotalTransactionAmountDirectDebit] = SUM(CASE WHEN cs.[PaymentMethodID] = 2 THEN cs.[TransAmount] ELSE 0 END)
				,	[TotalTransactionCountDebit] = SUM(CASE WHEN cs.[PaymentMethodID] = 0 THEN cs.[TransCount] ELSE 0 END)
				,	[TotalTransactionCountCredit] = SUM(CASE WHEN cs.[PaymentMethodID] = 1 THEN cs.[TransCount] ELSE 0 END)
				,	[TotalTransactionCountDirectDebit] = SUM(CASE WHEN cs.[PaymentMethodID] = 2 THEN cs.[TransCount] ELSE 0 END)
			INTO #CustomerSpend
			FROM [WHB].[OutboundMI_CustomerSpend] cs
			GROUP BY	cs.[FanID]

			SET @RowsAffected = @@ROWCOUNT;
		
			CREATE UNIQUE CLUSTERED INDEX [UCIX_Fan] ON #CustomerSpend ([FanID])

			SET @msg = 'Loaded rows to #CustomerSpend from [WHB].[OutboundMI_CustomerSpend] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/*******************************************************************************************************************************************
			3. Combine & load to final table
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #Customer_Registered
			SELECT	[CustomerGUID]
				,	[Registered] = MAX(CONVERT(INT, [Registered]))
			INTO #Customer_Registered
			FROM [Derived].[Customer_Registered]
			WHERE [EndDate] IS NULL
			GROUP BY [CustomerGUID]
		
			CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Customer_Registered ([CustomerGUID])

			DROP TABLE IF EXISTS #ActivationDates
			SELECT	[CustomerGUID]
				,	[OptedOutDate] = MAX(CASE WHEN [StatusID] = 3 THEN [ActionDate] END)
				,	[DeactivatedDate] = MAX(CASE WHEN [StatusID] = 2 THEN [ActionDate] END)
				,	[ActivatedDate] = MAX(CASE WHEN [StatusID] = 1 THEN [ActionDate] END)
			INTO #ActivationDates
			FROM [WHB].[CustomerActivationHistory]
			GROUP BY	[CustomerGUID]
		
			CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #ActivationDates ([CustomerGUID])

			TRUNCATE TABLE [WHB].[OutboundMI_DailyMIReport];
			INSERT INTO [WHB].[OutboundMI_DailyMIReport] (	[Customer ID]
														,	[E-mail Address]
														,	[Mobile Number]
														,	[Bank ID]
														,	[Is Marketing Suppressed SMS]
														,	[Is Marketing Suppressed Email]
														,	[Is Marketing Suppressed DM]
														,	[Opted Out]
														,	[Opted Out Date]
														,	[Currently Active]
														,	[Activation Channel]
														,	[Activated By Credit Card]
														,	[Activated Date]
														,	[Is Registered]
														,	[Total Transaction Amount Debit]
														,	[Total Transaction Amount Credit]
														,	[Total Transaction Amount DD]
														,	[Total Transaction Count Debit]
														,	[Total Transaction Count Credit]
														,	[Total Transaction Count DD]
														,	[Cashback Balance - Pending]
														,	[CASHBACK BALANCE – CLEARED]
														,	[Total Redeemed Value]
														,	[REDEEMED VALUE CASH TO BANK ACCOUNT]
														,	[REDEEMED VALUE CASH TO CREDIT CARD]
														,	[REDEEMED VALUE IN TRADEUP]
														,	[REDEEMED VALUE IN CHARITY]
														,	[CONTACT HISTORY]
														,	[EMAIL HARDBOUNCED])
			SELECT	[CustomerID] = cu.[SourceUID]
				,	[EmailAddress] = CONVERT(VARCHAR(255), LEFT(cup.[Email], 255))
				,	[MobileTelephone] = CONVERT(VARCHAR(20), LEFT(cup.[MobileTelephone], 20))
				,	[BankID] = NULL
				
				,	[IsMarketingSuppressedSMS] = CONVERT(CHAR(1), CASE WHEN ic.[MarketableBySMS] = 1 THEN 0 ELSE 1 END)
				,	[IsMarketingSuppressedEmail] = CONVERT(CHAR(1), CASE WHEN ic.[MarketableByEmail] = 0 THEN 0 ELSE 1 END)
				,	[IsMarketingSuppressedDM] = CONVERT(CHAR(1), CASE WHEN ic.[MarketableByPaper] = 1 THEN 0 ELSE 1 END)

				,	[OptedOut] = CAST(CASE WHEN ic.[OptOutDate] IS NULL THEN 0 ELSE 1 END AS CHAR(1))
				,	[OptOutDate] = ic.[OptOutDate]
				,	[CurrentlyActive] = CAST(CASE WHEN ic.[OptOutDate] IS NULL AND ca.[DeactivatedDate] IS NULL THEN 1 ELSE 0 END AS CHAR(1))
				,	[ActivationChannel] = ac.[ActivationChannel]
				,	[ActivatedByCreditCard] = NULL	--	CAST(CASE WHEN f.ActivationChannel = 4 THEN '1' ELSE '0' END AS CHAR(1)) AS 
				,	[ActivatedDate] = cas.[ActivatedDate]
				,	[IsRegistered] = cur.[Registered]

				,	[TotalTransactionAmountDebit] = ISNULL(pt.TotalTransactionAmountDebit, 0)
				,	[TotalTransactionAmountCredit] = ISNULL(pt.TotalTransactionAmountCredit, 0)
				,	[TotalTransactionAmountDirectDebit] = ISNULL(pt.TotalTransactionAmountDirectDebit,0)
				,	[TotalTransactionCountDebit] = ISNULL(pt.TotalTransactionCountDebit,0)
				,	[TotalTransactionCountCredit] = ISNULL(pt.TotalTransactionCountCredit,0)
				,	[TotalTransactionCountDirectDebit] = ISNULL(pt.TotalTransactionCountDirectDebit,0) 

				,	[TotalCashbackBalancePending] = cu.[CashbackPending] + cu.[CashbackAvailable]
				,	[TotalCashbackBalanceCleared] = cu.[CashbackAvailable]
				,	[TotalRedeemedValue] = ISNULL(r.RedeemCash,0) + ISNULL(r.RedeemCreditCard,0) + ISNULL(r.RedeemTradeUp,0) + ISNULL(r.RedeemCharity,0) + ISNULL(r.RedeemNotype,0)
				,	[RedeemedValueCashToBank] = ISNULL(r.RedeemCash,0)
				,	[RedeemedValueCashToCreditCard] = ISNULL(r.RedeemCreditCard,0)
				,	[RedeemedValueInTradeUp] = ISNULL(r.RedeemTradeUp,0)
				,	[RedeemedValueInCharity] = ISNULL(r.RedeemCharity,0)
				,	[ContactHistory] = ISNULL(ch.[ContactCount], 0)
				,	[HardBounced] = ISNULL(cu.[Hardbounced], 0)
			FROM [Derived].[Customer] cu
			LEFT JOIN [Warehouse].[MI].[CustomerActiveStatus] ca
				ON cu.[FanID] = ca.FanID
			INNER JOIN [Derived].[Customer_PII] cup
				ON cu.[CustomerGUID] = cup.[CustomerGUID]
			INNER JOIN [WHB].[Inbound_Customers] ic
				ON cu.[CustomerGUID] = ic.[CustomerGUID]
			INNER JOIN #ActivationDates cas
				ON cu.[CustomerGUID] = cas.[CustomerGUID] 
			INNER JOIN [Derived].[Customer_ActivationChannel] ac
				ON cu.[CustomerGUID] = ac.[CustomerGUID]
			LEFT JOIN #Customer_Registered cur
				ON cu.[CustomerGUID] = cur.[CustomerGUID]
			LEFT JOIN (	SELECT	[SourceUID]
							,	[ClubID]
							,	COUNT(1) AS Frequency
						FROM [Derived].[Customer]
						GROUP BY	[SourceUID]
								,	[ClubID]
						HAVING COUNT(1) > 1) dup
				ON cu.[SourceUID] = dup.[SourceUID]
			LEFT JOIN #CustomerSpend pt
				ON cu.[FanID] = pt.[FanID]
			LEFT JOIN #Redemptions r
				ON cu.[FanID] = r.[FanID]
			LEFT JOIN (	SELECT	ea.[FanID]
							,	[ContactCount] = COUNT(1)
						FROM [SLC_REPL].[dbo].[EmailActivity] ea
						INNER JOIN [Warehouse].[Relational].[EmailCampaign] ec
							ON ea.[EmailCampaignID] = ec.[ID]
						INNER JOIN [Warehouse].[Relational].[CampaignLionSendIDs] cl
							ON ec.[CampaignKey] = cl.[CampaignKey]
						GROUP BY ea.[FanID]) ch
				ON cu.[FanID] = ch.[FanID]
			WHERE cas.[ActivatedDate] IS NOT NULL
			AND cu.[ClubID] IN (2070)
			AND dup.[SourceUID] IS NULL
			AND cu.[FanID] != -16863111
			AND cu.[FanID] != -6437349
			AND cu.[FanID] != 23854726
			AND cu.[FanID] != 23944954
			AND cu.[FanID] != 24267733
			AND cu.[FanID] != 25035536
			AND cu.[FanID] != 26191518
			AND cu.[FanID] != 26310976	--	TSYS Customer with dupicated SourceUID 2020-12-07, duplicted SourceUID appended with 'd'
			AND cu.[FanID] != 26400732	--	TSYS Customer with dupicated SourceUID 2020-12-28, duplicted SourceUID appended with 'd'
			AND cu.[FanID] != -6627959
			AND NOT EXISTS (SELECT 1
							FROM [Derived].[Customer_DuplicateSourceUID] cds
							WHERE cu.[SourceUID] = cds.[SourceUID]
							AND cds.[EndDate] IS NULL)
							
		

			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Loaded rows to [WHB].[OutboundMI_DailyMIReport] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
