USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[Customer_AccountNominee]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_AccountNominee] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch customer Nominee status
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Nominee;
			SELECT	[CustomerGUID] = cu.[CustomerGUID]
				,	[FanID] = cu.[FanID]
				,	[IsNominee] =	MAX(CASE
											WHEN ban.[CustomerGUID] IS NULL THEN 0
											ELSE 1
										END)
			INTO #Nominee
			FROM [WHB].[Customer] cu
			LEFT JOIN [WHB].[Inbound_BankAccountNominees] ban
				ON cu.[CustomerGUID] = ban.[CustomerGUID]
				AND ban.[EndDate] IS NULL
			GROUP BY	cu.[CustomerGUID]
					,	cu.[FanID]


		/*******************************************************************************************************************************************
			2.	EndDate entries that are no longer correct
		*******************************************************************************************************************************************/
		
			--DECLARE @RunDate DATE = GETDATE()
			DECLARE @EndDate DATE = DATEADD(DAY, -1, @RunDate)

			UPDATE an
			SET [EndDate] = @EndDate
			FROM [Derived].[Customer_AccountNominee] an
			WHERE an.[EndDate] IS NULL 
			AND NOT EXISTS (SELECT 1
							FROM #Nominee n
							WHERE an.[CustomerGUID] = n.[CustomerGUID]
							AND an.[IsNominee] = n.[IsNominee])


		/*******************************************************************************************************************************************
			3.	Insert new entries for change in nominee status
		*******************************************************************************************************************************************/
			
			--DECLARE @RunDate DATE = GETDATE()

			INSERT INTO [Derived].[Customer_AccountNominee] (	[FanID]		
															,	[CustomerGUID]
															,	[IsNominee]
															,	[StartDate]
															,	[EndDate])
			SELECT	[FanID]
				,	[CustomerGUID]
				,	[IsNominee]
				,	[StartDate] = @RunDate
				,	[EndDate] = NULL
			FROM #Nominee n
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_AccountNominee] an
								WHERE n.[CustomerGUID] = an.[CustomerGUID]
								AND an.[EndDate] IS NULL)

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END













GO
