USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[AllPublishers_Customer_Archive]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[AllPublishers_Customer_Archive]	@ExecutionType VARCHAR(50) = 'Day'
													,	@ExecutionDateStart DATE = NULL
													,	@ExecutionDateEnd DATE = NULL
													,	@PublisherID INT = 2070
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = '2025-03-01', @ExecutionDateEnd DATE = '2025-03-01', @PublisherID INT = 2070

		IF @ExecutionDateStart = NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd = NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType

		CREATE CLUSTERED INDEX [CIX_Date] ON #Dates ([StartDate], [EndDate], [CalendarDate])

	/*******************************************************************************************************************************************
		2.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/
	
		DECLARE @Date_Customer DATE
			,	@StartDate_Customer DATE
			,	@EndDate_Customer DATE

		SELECT	@Date_Customer = [CalendarDate]
			,	@StartDate_Customer = [StartDate]
			,	@EndDate_Customer = [EndDate]
		FROM #Dates

		DROP TABLE IF EXISTS #Customers
		SELECT	[PublisherID] = cu.[ClubID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
			,	cu.[SourceUID]
			,	cl.[CINID]
			,	cu.[MarketableByEmail]
			,	cu.[MarketableByPush]
			,	cu.[EmailTracking]
			,	[EOM_RegistrationDate] = EOMONTH(cu.[RegistrationDate])
			,	[EOM_DeactivatedDate] =	CASE
											WHEN cu.[DeactivatedDate] IS NULL THEN '2099-01-31'
											WHEN cu.[DeactivatedDate] > @EndDate_Customer THEN '2099-01-31'
											ELSE EOMONTH(cu.[DeactivatedDate])
										END
			,	[CurrentlyActive] = CASE
										WHEN cu.[DeactivatedDate] IS NULL THEN 1
										WHEN cu.[DeactivatedDate] > @EndDate_Customer THEN 1
										ELSE 0
									END
		INTO #Customers
		FROM [Derived].[Customer] cu
		LEFT JOIN [Derived].[CINList] cl
			ON cu.[SourceUID] = cl.[CIN]
		WHERE cu.[RegistrationDate] <= @EndDate_Customer
			AND (	cu.[DeactivatedDate] >= @StartDate_Customer
				OR	cu.[DeactivatedDate] IS NULL)

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID])

	/*******************************************************************************************************************************************
		3.	Fetch customer marketable flags in the period in the period
	*******************************************************************************************************************************************/
	
		DECLARE @Date_Marketable DATE

		SELECT @Date_Marketable = MAX([CalendarDate])
		FROM #Dates

		DROP TABLE IF EXISTS #MarketableFlags
		SELECT	ms.[CustomerGUID]
			,	[MarketableByEmail] = MAX(CONVERT(INT, ms.[MarketableByEmail]))
			,	[MarketableByPush] = MAX(CONVERT(INT, ms.[MarketableByPush]))
			,	[EmailTracking] = MAX(CONVERT(INT, ms.[EmailTracking]))
		INTO #MarketableFlags
		FROM [Derived].[Customer_MarketableByEmailStatus] ms
		WHERE @Date_Marketable BETWEEN ms.[StartDate] AND COALESCE(ms.[EndDate], '9999-12-31')
		AND EXISTS (SELECT 1
					FROM #Customers cu
					WHERE ms.[CustomerGUID] = cu.[CustomerGUID])
		GROUP BY ms.[CustomerGUID]
		
		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #MarketableFlags ([CustomerGUID])

	/*******************************************************************************************************************************************
		4.	Combine data sources
	*******************************************************************************************************************************************/
	
		DECLARE @Date_Output DATE
			,	@StartDate_Output DATE
			,	@EndDate_Output DATE

		SELECT	@Date_Output = [CalendarDate]
			,	@StartDate_Output = [StartDate]
			,	@EndDate_Output = [EndDate]
		FROM #Dates

		DROP TABLE IF EXISTS #CustomerBankCard
		SELECT	[CalendarDate] = @Date_Output
			,	[StartDate] = @StartDate_Output
			,	[EndDate] = @EndDate_Output
			,	cu.[PublisherID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
			,	cu.[SourceUID]
			,	cu.[CINID]
			,	[MarketableByEmail] = COALESCE(mf.[MarketableByEmail], 0)
			,	[MarketableByPush] = COALESCE(mf.[MarketableByPush], 0)
			,	[EmailTracking] = COALESCE(mf.[EmailTracking], 0)
			,	cu.[EOM_RegistrationDate]
			,	cu.[EOM_DeactivatedDate]
			,	cu.[CurrentlyActive]
			,	[Nominee] = 1
			,	[CurrentAccount] = 1
			,	[CreditCard] = 0
			,	[BankAccountProductCode] = 'Unknown'
			,	[CardProductDescription] = 'Unknown'
			,	[ProductType] = 'Unknown'
			,	[AccountType_Debit] = 'Unknown'
			,	[AccountType_Credit] = 'Unknown'
		INTO #CustomerBankCard
		FROM #Customers cu
		LEFT JOIN #MarketableFlags mf
			ON cu.[CustomerGUID] = mf.[CustomerGUID]

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #CustomerBankCard ([CustomerGUID])

	/*******************************************************************************************************************************************
		5.	Delete existing data for the period
	*******************************************************************************************************************************************/
	
		/*******************************************************************************************************************************************
			5.1.	Fetch relevant entryies to delete
		*******************************************************************************************************************************************/
		
			DECLARE @Date_Deleter DATE
				,	@StartDate_Deleter DATE
				,	@EndDate_Deleter DATE

			SELECT	@Date_Deleter = [CalendarDate]
				,	@StartDate_Deleter = [StartDate]
				,	@EndDate_Deleter = [EndDate]
			FROM #Dates

			DROP TABLE IF EXISTS #Customer_Archive_Deleter
			SELECT	[ID]
			INTO #Customer_Archive_Deleter
			FROM [WH_AllPublishers].[Report].[Customer_Archive] ca WITH (NOLOCK)
			WHERE ca.[CalendarDate] = @Date_Deleter
			AND ca.[MonthStart] = @StartDate_Deleter
			AND ca.[MonthEnd] = @EndDate_Deleter
			AND ca.[PublisherID] = @PublisherID

			CREATE CLUSTERED INDEX [CIX] ON #Customer_Archive_Deleter ([ID])
			
		/*******************************************************************************************************************************************
			5.2.	Delete existing data for the period and publisher
		*******************************************************************************************************************************************/

			DELETE ca
			FROM [WH_AllPublishers].[Report].[Customer_Archive] ca WITH (NOLOCK)
			WHERE ca.[CalendarDate] = @Date_Deleter
			AND ca.[MonthStart] = @StartDate_Deleter
			AND ca.[MonthEnd] = @EndDate_Deleter
			AND ca.[PublisherID] = @PublisherID
			AND EXISTS (	SELECT 1
							FROM #Customer_Archive_Deleter cad
							WHERE ca.[ID] = cad.[ID])

	/*******************************************************************************************************************************************
		6.	Insert new data for the period
	*******************************************************************************************************************************************/

		INSERT INTO [WH_AllPublishers].[Report].[Customer_Archive] ([CalendarDate]
																,	[MonthStart]
																,	[MonthEnd]
																,	[PublisherID]
																,	[CustomerGUID]
																,	[FanID]
																,	[SourceUID]
																,	[CINID]
																,	[MarketableByEmail]
																,	[MarketableByPush]
																,	[EmailTracking]
																,	[EOM_RegistrationDate]
																,	[EOM_DeactivatedDate]
																,	[CurrentlyActive]
																,	[Nominee]
																,	[CurrentAccount]
																,	[CreditCard]
																,	[BankAccountProductCode]
																,	[CardProductDescription]
																,	[ProductType]
																,	[AccountType_Debit]
																,	[AccountType_Credit])
		SELECT	cbc.[CalendarDate]
			,	cbc.[StartDate]
			,	cbc.[EndDate]
			,	cbc.[PublisherID]
			,	cbc.[CustomerGUID]
			,	cbc.[FanID]
			,	cbc.[SourceUID]
			,	cbc.[CINID]
			,	cbc.[MarketableByEmail]
			,	cbc.[MarketableByPush]
			,	cbc.[EmailTracking]
			,	cbc.[EOM_RegistrationDate]
			,	cbc.[EOM_DeactivatedDate]
			,	cbc.[CurrentlyActive]
			,	cbc.[Nominee]
			,	cbc.[CurrentAccount]
			,	cbc.[CreditCard]
			,	cbc.[BankAccountProductCode]
			,	cbc.[CardProductDescription]
			,	cbc.[ProductType]
			,	cbc.[AccountType_Debit]
			,	cbc.[AccountType_Credit]
		FROM #CustomerBankCard cbc

	/*******************************************************************************************************************************************
		7.	Mark as updated
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Customer_Archive_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] = @PublisherID

END
GO
