USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[Customer_CustomerMerges]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_CustomerMerges] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1. Add an original entry for all customers we haven't seen an entry for
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			INSERT INTO [Derived].[CustomerMerges]
			SELECT	[CustomerGUID] = cu.[CustomerGUID]
				,	[OriginalCustomerGUID] = cu.[CustomerGUID]
				,	[StartDate] = MIN(cu.[CreatedAt])
				,	[EndDate] = NULL
			FROM [WHB].[Inbound_Customers] cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[CustomerMerges] cm
								WHERE cu.[CustomerGUID] = cm.[OriginalCustomerGUID])
			AND cu.[CreatedAt] <= @FileNameDate
			AND cu.[AgreedTermssAndCons] = 1
			GROUP BY	cu.[CustomerGUID]

		/*******************************************************************************************************************************************
			2. Fetch merged customers
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #MergedCustomers
			SELECT	[CustomerGUID] = [RewardID1]
				,	[OriginalCustomerGUID] = [RewardID2]
				,	[MergedAt] = MIN(COALESCE(cm.[MergedAt], cm.[UpdatedAt], cm.[LoadDate]))
			INTO #MergedCustomers
			FROM [WHB].[Inbound_CustomerMatch] cm
			WHERE cm.[Merged] = 1
			AND COALESCE(cm.[MergedAt], cm.[UpdatedAt], cm.[LoadDate]) <= @FileNameDate
			GROUP BY	[RewardID1]
					,	[RewardID2]

			CREATE CLUSTERED INDEX CIX_CustomerGUID ON #MergedCustomers ([OriginalCustomerGUID])
			CREATE NONCLUSTERED INDEX IX_CustomerGUIDs ON #MergedCustomers ([OriginalCustomerGUID]) INCLUDE ([CustomerGUID]) WITH (FILLFACTOR = 80)

		/*******************************************************************************************************************************************
			3.	When there is a chain of merged customers, Customer A is merged into Customer B, then later Customer B is merged into Customer C
				this step assures that customer A is marked as being merged into Customer C
		*******************************************************************************************************************************************/

			WHILE 1 = 1
				BEGIN

					UPDATE mc
					SET	mc.[CustomerGUID] = mc2.[CustomerGUID]
					,	mc.[MergedAt] = mc2.[MergedAt]
					FROM #MergedCustomers mc
					INNER JOIN #MergedCustomers mc2
						ON mc.[CustomerGUID] = mc2.[OriginalCustomerGUID]
						AND mc.[MergedAt] <= mc2.[MergedAt]

					IF @@ROWCOUNT = 0 BREAK

				END
				
		/*******************************************************************************************************************************************
			4. Update EndDates for customers that have merged
		*******************************************************************************************************************************************/

			UPDATE cm
			SET cm.[EndDate] = DATEADD(DAY, -1, mc.[MergedAt])
			FROM [Derived].[CustomerMerges] cm
			INNER JOIN #MergedCustomers mc
				ON cm.[OriginalCustomerGUID] = mc.[OriginalCustomerGUID]
				AND cm.[CustomerGUID] != mc.[CustomerGUID]
				AND cm.[EndDate] IS NULL

		/*******************************************************************************************************************************************
			5. Insert new entries for customers that have merged
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[CustomerMerges]
			SELECT	[CustomerGUID] = [CustomerGUID]
				,	[OriginalCustomerGUID] = [OriginalCustomerGUID]
				,	[StartDate] = mc.[MergedAt]
				,	[EndDate] = NULL
			FROM #MergedCustomers mc
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[CustomerMerges] cm
								WHERE cm.[OriginalCustomerGUID] = mc.[OriginalCustomerGUID]
								AND cm.[EndDate] IS NULL)
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END






GO
