USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[Customer_Customer]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_Customer]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY


		/*******************************************************************************************************************************************
			1.	Replaced the [Derived].[Customer] with the new [WHB].[Customer]
		*******************************************************************************************************************************************/
		
			ALTER INDEX ALL ON [Derived].[Customer] DISABLE

			TRUNCATE TABLE [Derived].[Customer]
			
			ALTER INDEX [PK_Customer_FanID] ON [Derived].[Customer] REBUILD WITH (DATA_COMPRESSION = PAGE);

			INSERT INTO [Derived].[Customer] (	[FanID]
											,	[CustomerGUID]
											,	[ClubID]
											,	[CompositeID]
											,	[SourceUID]
											,	[AccountType]
											,	[EmailStructureValid]
											,	[Title]
											,	[City]
											,	[County]
											,	[Region]
											,	[PostCode]
											,	[PostalSector]
											,	[PostCodeDistrict]
											,	[PostArea]
											,	[CAMEOCode]
											,	[Gender]
											,	[AgeCurrent]
											,	[AgeCurrentBandText]
											,	[CashbackPending]
											,	[CashbackAvailable]
											,	[CashbackLTV]
											,	[Unsubscribed]
											,	[Hardbounced]
											,	[MarketableByEmail]
											,	[EmailTracking]
											,	[MarketableByPush]
											,	[CurrentlyActive]
											,	[RegistrationDate]
											,	[DeactivatedDate]
											,	[ClosedDate]
											,	[IsCredit]
											,	[IsDebit])
			SELECT	[FanID]
				,	[CustomerGUID]
				,	[ClubID]
				,	[CompositeID]
				,	[SourceUID]
				,	[AccountType]
				,	[EmailStructureValid]
				,	[Title]
				,	[City]
				,	[County]
				,	[Region]
				,	[PostCode]
				,	[PostalSector]
				,	[PostCodeDistrict]
				,	[PostArea]
				,	[CAMEOCode]
				,	[Gender]
				,	[AgeCurrent]
				,	[AgeCurrentBandText]
				,	[CashbackPending]
				,	[CashbackAvailable]
				,	[CashbackLTV]
				,	[Unsubscribed]
				,	[Hardbounced]
				,	[MarketableByEmail]
				,	[EmailTracking]
				,	[MarketableByPush]
				,	[CurrentlyActive]
				,	[RegistrationDate]
				,	[DeactivatedDate]
				,	[ClosedDate]
				,	[IsCredit]
				,	[IsDebit]
			FROM [WHB].[Customer] cu
			
			ALTER INDEX ALL ON [Derived].[Customer] REBUILD WITH (DATA_COMPRESSION = PAGE);
 

			ALTER INDEX ALL ON [Derived].[Customer_PII] DISABLE

			TRUNCATE TABLE [Derived].[Customer_PII]
			
			ALTER INDEX [PK__Customer_PII_FanID] ON [Derived].[Customer_PII] REBUILD WITH (DATA_COMPRESSION = PAGE);

			INSERT INTO [Derived].[Customer_PII] (	[FanID]
												,	[CustomerGUID]
												,	[ClubID]
												,	[CompositeID]
												,	[SourceUID]
												,	[Email]
												,	[MobileTelephone]
												,	[FirstName]
												,	[LastName]
												,	[Address1]
												,	[Address2]
												,	[PostCode]
												,	[DOB])
			SELECT	[FanID]
				,	[CustomerGUID]
				,	[ClubID]
				,	[CompositeID]
				,	[SourceUID]
				,	[Email]
				,	[MobileTelephone]
				,	[FirstName]
				,	[LastName]
				,	[Address1]
				,	[Address2]
				,	[PostCode]
				,	[DOB]
			FROM [WHB].[Customer] cu
			
			ALTER INDEX ALL ON [Derived].[Customer_PII] REBUILD WITH (DATA_COMPRESSION = PAGE);

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END













GO
