USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__OutboundMI_CustomerSpend_Update_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[__OutboundMI_CustomerSpend_Update_Archived]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		SET NOCOUNT ON;
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

		/*******************************************************************************************************************************************
			1. Fetch Retailer Funded Transactions
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #PartnerTrans
			SELECT	pt.[FanID]
				,	pt.[PaymentMethodID]
				,	[TransCount] = COUNT(*)
				,	[TransAmount] = SUM(pt.[TransactionAmount])
			INTO #PartnerTrans
			FROM [Derived].[PartnerTrans] pt
			WHERE pt.[TransactionAmount] != 0
			GROUP BY	pt.[FanID]
					,	pt.[PaymentMethodID]

			SET @RowsAffected = @@ROWCOUNT;
		
			CREATE UNIQUE CLUSTERED INDEX [UCIX_FanPayment] ON #PartnerTrans ([FanID], [PaymentMethodID])

			SET @msg = 'Loaded rows to #PartnerTrans [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/*******************************************************************************************************************************************
			2. Fetch Bank Funded Transactions
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #BankTransTemp
			SELECT	bt.[FanID]
				,	bt.[PaymentMethodID]
				,	bt.[TransactionTypeID]
				,	bt.[DescriptionID]
				,	[TransCount] = COUNT(*)
				,	[CashbackEarned] = SUM(bt.[CashbackEarned])
				,	[TransactionAmount] = SUM(bt.[TransactionAmount])
			INTO #BankTransTemp
			FROM [Derived].[BankTrans] bt
			GROUP BY	bt.[FanID]
					,	bt.[PaymentMethodID]
					,	bt.[TransactionTypeID]
					,	bt.[DescriptionID]

			DROP TABLE IF EXISTS #BankTrans
			SELECT	bt.[FanID]
				,	bt.[PaymentMethodID]
				,	[TransCount] = SUM([TransCount])
				,	[TransAmount] = SUM(CASE
											WHEN bt.[TransactionTypeID] = 8 AND mtd.[Description] LIKE 'direct debit - reward earned - %' THEN bt.[CashbackEarned]
											WHEN bt.[TransactionTypeID] = 11 AND mtd.[Description] LIKE 'mobile login - reward earned - %' THEN bt.[CashbackEarned]
											ELSE bt.[TransactionAmount]
										END)
				,	[CashbackEarned] = SUM(bt.[CashbackEarned])
			INTO #BankTrans
			FROM #BankTransTemp bt
			INNER JOIN [WHB].[MatchedTransactions_Description] mtd
				ON bt.[DescriptionID] = mtd.[DescriptionID]
			WHERE NOT (bt.[TransactionTypeID] = 2 AND mtd.[Description] IN ('Account Amendment'))
			AND NOT (bt.[TransactionTypeID] = 4 AND mtd.[Description] IN ('Redemption Rewards Reversal', 'Rewards from your Exchange', 'Redemption Refund'))
			AND NOT (bt.[TransactionTypeID] = 6)
			GROUP BY	bt.[FanID]
					,	bt.[PaymentMethodID]

			--DROP TABLE IF EXISTS #BankTrans
			--SELECT	bt.[FanID]
			--	,	bt.[PaymentMethodID]
			--	,	[TransCount] = COUNT(*)
			--	,	[TransAmount] = SUM(CASE
			--								WHEN bt.[TransactionTypeID] = 8 AND bt.[Description] LIKE 'direct debit - reward earned - %' THEN bt.[CashbackEarned]
			--								WHEN bt.[TransactionTypeID] = 11 AND bt.[Description] LIKE 'mobile login - reward earned - %' THEN bt.[CashbackEarned]
			--								ELSE bt.[TransactionAmount]
			--							END)
			--	,	[CashbackEarned] = SUM(bt.[CashbackEarned])
			--INTO #BankTrans
			--FROM [Derived].[BankTrans] bt
			--WHERE NOT (bt.[TransactionTypeID] = 2 AND bt.[Description] IN ('Account Amendment'))
			--AND NOT (bt.[TransactionTypeID] = 4 AND bt.[Description] IN ('Redemption Rewards Reversal', 'Rewards from your Exchange', 'Redemption Refund'))
			--AND NOT (bt.[TransactionTypeID] = 6)
			--AND NOT EXISTS (SELECT 1
			--				FROM [Derived].[PartnerTrans] pt
			--				INNER JOIN [WHB].[Inbound_MatchedTransactions] mt
			--					ON pt.[ExternalTransactionID] = mt.[TransactionExternalID]
			--				WHERE bt.[TransactionExternalID] = pt.[ExternalTransactionID])
			--GROUP BY	bt.[FanID]
			--		,	bt.[PaymentMethodID]

			/*
			DROP TABLE IF EXISTS #MultipleTransactions_SLC
			SELECT	[TransactionID_SLC]
			INTO #MultipleTransactions_SLC
			FROM [WH_QNB].[WHB].[Inbound_MatchedTransactions]
			GROUP BY	[TransactionID_SLC]
			HAVING COUNT(*) > 1

			DROP TABLE IF EXISTS #BankTrans
			SELECT	bt.[FanID]
				,	bt.[PaymentMethodID]
				,	[TransCount] = COUNT(*)
				,	[TransAmount] = SUM(CASE
											WHEN bt.[TransactionTypeID] = 8 AND bt.[Description] LIKE 'direct debit - reward earned - %' THEN bt.[CashbackEarned]
											WHEN bt.[TransactionTypeID] = 11 AND bt.[Description] LIKE 'mobile login - reward earned - %' THEN bt.[CashbackEarned]
											ELSE bt.[TransactionAmount]
										END)
				,	[CashbackEarned] = SUM(bt.[CashbackEarned])
			INTO #BankTrans
			FROM [Derived].[BankTrans] bt
			WHERE NOT (bt.[TransactionTypeID] = 2 AND bt.[Description] IN ('Account Amendment'))
			AND NOT (bt.[TransactionTypeID] = 4 AND bt.[Description] IN ('Redemption Rewards Reversal', 'Rewards from your Exchange', 'Redemption Refund'))
			AND NOT (bt.[TransactionTypeID] = 6)
			AND NOT EXISTS (SELECT 1
							FROM [Derived].[PartnerTrans] pt
							INNER JOIN [WHB].[Inbound_MatchedTransactions] mt
								ON pt.[ExternalTransactionID] = mt.[TransactionExternalID]
							INNER JOIN #MultipleTransactions_SLC mts
								ON mt.[TransactionID_SLC] = mts.[TransactionID_SLC]
							WHERE bt.[TransactionGUID] = mt.[TransactionGUID])
			GROUP BY	bt.[FanID]
					,	bt.[PaymentMethodID]
			*/


			SET @RowsAffected = @@ROWCOUNT;
			
			CREATE UNIQUE CLUSTERED INDEX [UCIX_FanPayment] ON #BankTrans ([FanID], [PaymentMethodID])

			SET @msg = 'Loaded rows to #BankTrans [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/*******************************************************************************************************************************************
			3. Combine & load to final table
		*******************************************************************************************************************************************/
			
			TRUNCATE TABLE [WHB].[OutboundMI_CustomerSpend]

			INSERT INTO [WHB].[OutboundMI_CustomerSpend] WITH (TABLOCK) (	[FanID]
																		,	[PaymentMethodID]
																		,	[TransCount]
																		,	[TransAmount])
			SELECT	[FanID] = ISNULL(pt.[FanID], bt.[FanID])
				,	[PaymentMethodID] = ISNULL(pt.[PaymentMethodID], bt.[PaymentMethodID])
				,	[TransCount] = ISNULL(pt.[TransCount], 0) + ISNULL(bt.[TransCount], 0)
				,	[TransAmount] = ISNULL(pt.[TransAmount], 0) + ISNULL(bt.[TransAmount], 0)
			FROM #PartnerTrans pt
			FULL OUTER JOIN #BankTrans bt
				ON pt.[FanID] = bt.[FanID]
				AND pt.[PaymentMethodID] = bt.[PaymentMethodID]
			ORDER BY	ISNULL(pt.[FanID], bt.[FanID])
					,	ISNULL(pt.[PaymentMethodID], bt.[PaymentMethodID])

			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Loaded rows to [WHB].[OutboundMI_CustomerSpend] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/*******************************************************************************************************************************************
			4. QA Script (Pre Migration June 2024
		*******************************************************************************************************************************************/
	
			/*

			DROP TABLE IF EXISTS #Old
			SELECT *
			INTO #Old
			FROM [Warehouse].[MI].[CBP_CustomerSpend] cs
			WHERE EXISTS (	SELECT 1
							FROM [WHB].[OutboundMI_CustomerSpend] n
							WHERE cs.[FanID] = n.[FanID])
				
			SELECT	[FanID] = ISNULL(n.[FanID], o.[FanID])
				,	[PaymentMethodID] = ISNULL(n.[PaymentMethodID], o.[PaymentMethodID])
				,	[TransCount_Old] = o.[TransCount]
				,	[TransCount_New] = n.[TransCount]
				,	[TransAmount_Old] = o.[TransAmount]
				,	[TransAmount_New] = n.[TransAmount]
			FROM [WHB].[OutboundMI_CustomerSpend] n
			FULL OUTER JOIN #Old o
				ON n.[FanID] = o.[FanID]
				AND n.[PaymentMethodID] = o.[PaymentMethodID]
			ORDER BY	ISNULL(n.[FanID], o.[FanID])
					,	ISNULL(n.[PaymentMethodID], o.[PaymentMethodID])
				
			SELECT	[FanID] = ISNULL(n.[FanID], o.[FanID])
				,	[TransCount_Old] = SUM(o.[TransCount])
				,	[TransCount_New] = SUM(n.[TransCount])
				,	[TransCount_Diff] = SUM(n.[TransCount]) - SUM(o.[TransCount])
				,	[TransAmount_Old] = SUM(o.[TransAmount])
				,	[TransAmount_New] = SUM(n.[TransAmount])
			FROM [WHB].[OutboundMI_CustomerSpend] n
			FULL OUTER JOIN #Old o
				ON n.[FanID] = o.[FanID]
				AND n.[PaymentMethodID] = o.[PaymentMethodID]
			GROUP BY	ISNULL(n.[FanID], o.[FanID])
			ORDER BY	ISNULL(n.[FanID], o.[FanID])

		*/

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
