USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__PopulateSCDs_CustomerActivationHistory_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[__PopulateSCDs_CustomerActivationHistory_Archived]
AS
BEGIN

	INSERT INTO [WHB].[CustomerActivationHistory]
	SELECT	DISTINCT
			[CustomerGUID] = fc.[MemberUID]
		,	[FanID] = cah.[FanID]
		,	[StatusID] = cah.[ActivationStatusID]
		,	[ActionDate] = cah.[StatusDate]
		,	[AuditDate] = cah.[AuditDate]
	FROM [SLC_REPL].[dbo].[FanCredentials] fc
	INNER JOIN [Warehouse].[MI].[CustomerActivationHistory] cah
		ON fc.[FanID] = cah.[FanID]
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[CustomerActivationHistory] cah2
						WHERE fc.[MemberUID] = cah2.[CustomerGUID]
						AND cah.[ActivationStatusID] = cah2.[StatusID]
						AND cah.[StatusDate] = cah2.[ActionDate])

END

GO
