USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[AllPublishers_Customer_Action]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[AllPublishers_Customer_Action]	@ExecutionType VARCHAR(50) = 'Day'
													,	@ExecutionDateStart DATE = NULL
													,	@ExecutionDateEnd DATE = NULL
													,	@PublisherID INT = 2070
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = GETDATE(), @ExecutionDateEnd DATE = GETDATE()
	--	DECLARE @ExecutionType VARCHAR(10) = 'Year', @ExecutionDateStart DATE = '2024-01-01', @ExecutionDateEnd DATE = '2024-12-31', @PublisherID INT = 2017
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = '2024-08-15', @ExecutionDateEnd DATE = '2024-08-15', @PublisherID INT = 2068

		IF @ExecutionDateStart = NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd = NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType
							
		DECLARE @Email BIT = 0
			,	@Login BIT = 0

		SELECT	@Email = 1
		FROM [WH_AllPublishers].[Monitor].[Action_Log] al
		WHERE [PeriodStart] = @ExecutionDateStart
		AND [PeriodEnd] = @ExecutionDateEnd
		AND [PublisherID] = @PublisherID
		AND [ActionSource] = 'Email'
		AND (	[Match_Customer] = 0
			OR	[Match_Bank] = 0
			OR	[Reviewed] = 0)

		SELECT	@Login = 1
		FROM [WH_AllPublishers].[Monitor].[Action_Log] al
		WHERE [PeriodStart] = @ExecutionDateStart
		AND [PeriodEnd] = @ExecutionDateEnd
		AND [PublisherID] = @PublisherID
		AND [ActionSource] = 'Login'
		AND (	[Match_Customer] = 0
			OR	[Match_Bank] = 0
			OR	[Reviewed] = 0)

	/*******************************************************************************************************************************************
		2.	Fetch aggregate of logins within the period
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Logins
		SELECT	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
			,	al.[CustomerGUID]
			,	al.[FanID]
			,	[LoginTypeID] = 1
			,	[Logins] = COUNT(DISTINCT al.[ID])
			,	[FirstLogin] = MIN(al.[TrackDate])
			,	[LastLogin] = MAX(al.[TrackDate])
		INTO #Logins
		FROM [Derived].[AppLogins] al
		INNER JOIN #Dates d
			ON CONVERT(DATE, al.[TrackDate]) BETWEEN d.[StartDate] AND d.[EndDate]
		WHERE @Login = 1
		GROUP BY	d.[CalendarDate]
				,	d.[StartDate]
				,	d.[EndDate]
				,	al.[CustomerGUID]
				,	al.[FanID]

	/*******************************************************************************************************************************************
		3.	Fetch aggregate of email events within the period
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Emails
		SELECT	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
			,	ee.[CustomerGUID]
			,	ee.[FanID]
			,	ee.[EmailEventCodeID]
			,	[Emails] = COUNT(DISTINCT ee.[EventID])
			,	[FirstEmail] = MIN(ee.[EventDateTime])
			,	[LastEmail] = MAX(ee.[EventDateTime])
		INTO #Emails
		FROM [Derived].[EmailEvent] ee
		INNER JOIN #Dates d
			ON CONVERT(DATE, ee.[EventDate]) BETWEEN d.[StartDate] AND d.[EndDate]
		WHERE @Email = 1
		GROUP BY	d.[CalendarDate]
				,	d.[StartDate]
				,	d.[EndDate]
				,	ee.[CustomerGUID]
				,	ee.[FanID]
				,	ee.[EmailEventCodeID]

	/*******************************************************************************************************************************************
		4.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #Customers
		SELECT	[PublisherID] = cu.[ClubID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
		INTO #Customers
		FROM [Derived].[Customer] cu
		WHERE EXISTS (	SELECT 1
						FROM #Logins l
						WHERE cu.[CustomerGUID] = l.[CustomerGUID])
			
		INSERT INTO #Customers
		SELECT	[PublisherID] = cu.[ClubID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
		FROM [Derived].[Customer] cu
		WHERE EXISTS (	SELECT 1
						FROM #Emails e
						WHERE cu.[CustomerGUID] = e.[CustomerGUID])
		AND NOT EXISTS (	SELECT 1
							FROM #Customers cu2
							WHERE cu.[CustomerGUID] = cu2.[CustomerGUID])

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID])

	/*******************************************************************************************************************************************
		5.	Delete existing login data for the period and reload
	*******************************************************************************************************************************************/
	
		DELETE ca
		FROM [WH_AllPublishers].[Report].[Customer_Action] ca
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE ca.[CalendarDate] = d.[CalendarDate]
						AND ca.[MonthStart] = d.[StartDate]
						AND ca.[MonthEnd] = d.[EndDate])
		AND ca.[PublisherID] = @PublisherID
		AND ca.[ActionSource] = 'Email'
		AND @Email = 1

		DELETE ca
		FROM [WH_AllPublishers].[Report].[Customer_Action] ca
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE ca.[CalendarDate] = d.[CalendarDate]
						AND ca.[MonthStart] = d.[StartDate]
						AND ca.[MonthEnd] = d.[EndDate])
		AND ca.[PublisherID] = @PublisherID
		AND ca.[ActionSource] = 'Login'
		AND @Login = 1

	/*******************************************************************************************************************************************
		6.	Load new Login data for the period
	*******************************************************************************************************************************************/
	
		INSERT INTO [WH_AllPublishers].[Report].[Customer_Action]
		SELECT	l.[CalendarDate]
			,	l.[StartDate]
			,	l.[EndDate]
			,	cu.[PublisherID]
			,	l.[CustomerGUID]
			,	l.[FanID]
			,	[ActionSource] = 'Login'
			,	[ActionTypeID] = l.[LoginTypeID]
			,	[ActionType] =	CASE
									WHEN l.[LoginTypeID] = 0 THEN 'Web Login'
									WHEN l.[LoginTypeID] = 1 THEN 'Mobile Login'
									WHEN l.[LoginTypeID] = 2 THEN 'Login'
									WHEN l.[LoginTypeID] = 3 THEN 'Login'
									WHEN l.[LoginTypeID] IS NULL THEN 'Login'
								END
			,	l.[Logins]
			,	l.[FirstLogin]
			,	l.[LastLogin]
		FROM #Logins l
		INNER JOIN #Customers cu
			ON l.[CustomerGUID] = cu.[CustomerGUID]
		WHERE @Login = 1

	/*******************************************************************************************************************************************
		7.	Load new Email data for the period
	*******************************************************************************************************************************************/

		INSERT INTO [WH_AllPublishers].[Report].[Customer_Action]
		SELECT	e.[CalendarDate]
			,	e.[StartDate]
			,	e.[EndDate]
			,	cu.[PublisherID]
			,	e.[CustomerGUID]
			,	e.[FanID]
			,	[ActionSource] = 'Email'
			,	[ActionTypeID] = e.[EmailEventCodeID]
			,	[ActionType] = eec.[EmailEventDesc]
			,	[Actions] = e.[Emails]
			,	[FirstAction] = e.[FirstEmail]
			,	[LastAction] = e.[LastEmail]
		FROM #Emails e
		INNER JOIN [Derived].[EmailEventCode] eec
			ON e.[EmailEventCodeID] = eec.[EmailEventCodeID]
		INNER JOIN #Customers cu
			ON e.[CustomerGUID] = cu.[CustomerGUID]
		WHERE @Email = 1

	/*******************************************************************************************************************************************
		8.	Mark as updated
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Action_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] = @PublisherID

END

GO
