USE [WH_QNB]
GO
/****** Object:  StoredProcedure [WHB].[__PopulateSCDs_Registered_Archived]    Script Date: 9/23/2026 9:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[__PopulateSCDs_Registered_Archived]
AS
BEGIN

	INSERT INTO [Derived].[Customer_Registered]
	SELECT	DISTINCT
			[CustomerGUID] = fc.[MemberUID]
		,	csm.[FanID]
		,	csm.[Registered]
		,	csm.[StartDate]
		,	csm.[EndDate]
	FROM [SLC_REPL].[dbo].[FanCredentials] fc
	INNER JOIN [Warehouse].[Relational].[Customer_Registered] csm
		ON fc.[FanID] = csm.[FanID]
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[Customer_Registered] csm2
						WHERE fc.[MemberUID] = csm2.[CustomerGUID]
						AND csm.[Registered] = csm2.[Registered]
						AND csm.[StartDate] = csm2.[StartDate])

END
GO
