USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Email].[Braze_OfferCollateralCheck_EmailSend]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Email].[Braze_OfferCollateralCheck_EmailSend]
AS
BEGIN

SET NOCOUNT ON;

    /*******************************************************************************************************************************************
        1.  Fetch offers that are missing collateral data
    *******************************************************************************************************************************************/

        /***********************************************************************************************************************
            1.1.    Fetch the list of missing offers
        ***********************************************************************************************************************/

            DROP TABLE IF EXISTS #Braze_CustomerPush_NormalOffers
            SELECT  cpn.[OfferType]
                ,   cpn.[OfferGUID]
                ,   [Customers] = COUNT(*)
            INTO #Braze_CustomerPush_NormalOffers
            FROM [WHB].[Braze_CustomerPush_NormalOffers] cpn
            WHERE NOT EXISTS (  SELECT 1
                                FROM [WH_AllPublishers].[Derived].[OfferCollateral] oc
                                WHERE cpn.[OfferGUID] = oc.[OfferGUID])
            GROUP BY    cpn.[OfferType]
                    ,   cpn.[OfferGUID]

            IF @@ROWCOUNT = 0 RETURN

        /***********************************************************************************************************************
            1.2.    Enrich the list of missing offers
        ***********************************************************************************************************************/

            DROP TABLE IF EXISTS #MissingOfferCollateral
            SELECT  pu.[PublisherName]
                ,   cpn.[OfferType]
                ,   [RetailerGUID] = COALESCE(pa.[RetailerGUID], ro.[RedemptionPartnerGUID])
                ,   [RetailerName] = COALESCE(pa.[PartnerName], rp.[PartnerName])
                ,   cpn.[OfferGUID]
                ,   [OfferName] = COALESCE(o.[OfferName], CONCAT(rp.[PartnerName], ' - ', rp.[PartnerType], ' - £', CONVERT(VARCHAR(10), ro.[TradeUp_CashbackRequired])))
            INTO #MissingOfferCollateral
            FROM #Braze_CustomerPush_NormalOffers cpn
            LEFT JOIN [WH_AllPublishers].[Derived].[Offer] o
                ON cpn.[OfferGUID] = o.[OfferGUID]
            LEFT JOIN [WH_AllPublishers].[Derived].[Partner] pa
                ON o.[PartnerID] = pa.[PArtnerID]
            LEFT JOIN [Derived].[RedemptionOffers] ro
                ON cpn.[OfferGUID] = ro.[RedemptionOfferGUID]
            LEFT JOIN [Derived].[RedemptionPartners] rp
                ON ro.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
            LEFT JOIN [WH_AllPublishers].[Derived].[Publisher] pu
                ON DB_NAME() = pu.[PublisherDatabase]

            CREATE CLUSTERED INDEX [CIX_All] ON #MissingOfferCollateral ([PublisherName], [OfferType], [RetailerName], [OfferName])

    /*******************************************************************************************************************************************
        2.  Prepare email
    *******************************************************************************************************************************************/

        /***********************************************************************************************************************
            2.1.    Declare User Variables
        ***********************************************************************************************************************/

            DECLARE @EmailBody VARCHAR(MAX)
                ,   @Message VARCHAR(MAX)
                ,   @Table VARCHAR(MAX)
                ,   @Regards VARCHAR(MAX)

        /***********************************************************************************************************************
            2.2.    Set opening message including number of offers impacted
        ***********************************************************************************************************************/

            SET @Message = 'The validation has been completed and there are # offers with issues, these are shown in the table below.' -- Normal Messages, # Replaced with customer Count
          
            SET @Message = '<p>' + REPLACE(@Message, '#', (SELECT COUNT(DISTINCT [OfferGUID]) FROM #MissingOfferCollateral)) + '</p>'

        /***********************************************************************************************************************
            2.3.    Set table to display the offers impacted
        ***********************************************************************************************************************/

            SET @Table = (  SELECT  N'<tr>'
                                +   N'<td style="border:1px solid #000;padding:6px 10px;white-space:nowrap;">' + ISNULL(CONVERT(NVARCHAR(100), moc.[PublisherName]), N'') + N'</td>'
                                +   N'<td style="border:1px solid #000;padding:6px 10px;white-space:nowrap;">' + ISNULL(CONVERT(NVARCHAR(100), moc.[OfferType]),     N'') + N'</td>'
                                +   N'<td style="border:1px solid #000;padding:6px 10px;white-space:nowrap;">' + ISNULL(CONVERT(NVARCHAR(100), moc.[RetailerGUID]),  N'') + N'</td>'
                                +   N'<td style="border:1px solid #000;padding:6px 10px;">'                    + ISNULL(CONVERT(NVARCHAR(100), moc.[RetailerName]),  N'') + N'</td>'
                                +   N'<td style="border:1px solid #000;padding:6px 10px;white-space:nowrap;">' + ISNULL(CONVERT(NVARCHAR(100), moc.[OfferGUID]),     N'') + N'</td>'
                                +   N'<td style="border:1px solid #000;padding:6px 10px;">'                    + ISNULL(CONVERT(NVARCHAR(200), moc.[OfferName]),     N'') + N'</td>'
                                +   N'</tr>'
                            FROM #MissingOfferCollateral moc
                            ORDER BY    moc.[PublisherName]
                                    ,   moc.[OfferType]
                                    ,   moc.[RetailerName]
                                    ,   moc.[OfferName]
                            FOR XML PATH(''), TYPE
                        ).value('.', 'NVARCHAR(MAX)');

            SET @Table =    N'<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;border:1px solid #000;font-family:Calibri, Arial, sans-serif;">'
                        +   N'<tr><th colspan="6" style="border:1px solid #000;padding:10px;font-weight:bold;">Offers that do not have collateral details</th></tr>'
                        +   N'<tr>'
                        +   N'<th style="border:1px solid #000;padding:10px;font-weight:bold;white-space:nowrap;">Publisher Name</th>'
                        +   N'<th style="border:1px solid #000;padding:10px;font-weight:bold;white-space:nowrap;">Offer Type</th>'
                        +   N'<th style="border:1px solid #000;padding:10px;font-weight:bold;white-space:nowrap;">Retailer GUID</th>'
                        +   N'<th style="border:1px solid #000;padding:10px;font-weight:bold;white-space:nowrap;">Retailer Name</th>'
                        +   N'<th style="border:1px solid #000;padding:10px;font-weight:bold;white-space:nowrap;">Offer GUID</th>'
                        +   N'<th style="border:1px solid #000;padding:10px;font-weight:bold;">Offer Name</th>'
                        +   N'</tr>'
                        +   @Table
                        +   N'</table>';

        /***********************************************************************************************************************
            2.4.    Set email sign off
        ***********************************************************************************************************************/

            SET @Regards = 'Regards, Data Engineering'

            SET @Regards = '<br>' + REPLACE(@Regards, ', ', ',<br>')

        /***********************************************************************************************************************
            2.5.    Combine email variables
        ***********************************************************************************************************************/
        
            SET @EmailBody = N'<html><body>'
                           + @Message
                           + @Table
                           + @Regards
                           + N'</body></html>'; 

    /*******************************************************************************************************************************************
        3. Send email
    *******************************************************************************************************************************************/

        DECLARE @EmailSubject VARCHAR(MAX) = 'Missing Offer Collateral - ' + DB_NAME() + ' - ' + CONVERT(VARCHAR(10), CONVERT(DATE, GETDATE()), 126)

        EXEC [msdb].[dbo].[sp_send_dbmail]  @profile_name = 'Administrator'
                                        ,   @recipients = 'Dean Crossett <dean.crossett@rewardinsight.com>;Ella Mullan <ella.mullan@rewardinsight.com>;Adam McCallion <adam.mccallion@rewardinsight.com>;DIProcessCheckers <diprocesscheckers@rewardinsight.com>'
                                        ,   @subject = @EmailSubject
                                        ,   @body = @EmailBody
                                        ,   @body_format = 'HTML'
                                        ,   @importance = 'HIGH'

END
GO
