USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Email].[BOPE_AssignMembers]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Email].[BOPE_AssignMembers] (@JokerSlotPartners_CommaSeperated VARCHAR(100))

AS
BEGIN

/***********************************************************************************************************************
		1. Fetch all eligible Redemption Items per customer based on Brand or Sector spend and available Club Cash
***********************************************************************************************************************/

	--	DECLARE @JokerSlotPartners_CommaSeperated VARCHAR(100) = ''

		/***************************************************************************************************
				1.1. Fetch live Redemption Items
		***************************************************************************************************/
		
			-- Notes:
			-- 1: Modified AVIOS [BrandID] to that of BA's as AVIOS is no longer a joker retailer and purchases "at AVIOS" are substituted for "purchases at BA"
			-- 2: Creating composite [BrandID] for Waitrose & John Lewis, temp [BrandID] used is the (max + 1) in the brand table at the time of run.

			-- New [BrandID]

			DECLARE @BrandID_WRJL INT = -1

			-- Brand table

			DROP TABLE IF EXISTS #Brand
			SELECT	[BrandID] = CONVERT(INT, [BrandID])
				,	[BrandName]
				,	[IsLivePartner]
				,	[BrandGroupID]
				,	[SectorID]
				,	[IsHighRisk] = CONVERT(INT, [IsHighRisk])
				,	[IsNamedException] = CONVERT(INT, [IsNamedException])
				,	[ChargeOnRedeem] = CONVERT(INT, [ChargeOnRedeem])
				,	[IsOnlineOnly]
				,	[IsPremiumRetailer]
			INTO #Brand
			FROM [WH_AllPublishers].[Trans].[Brand] b

			INSERT INTO #Brand
			SELECT	[BrandID] = @BrandID_WRJL
				,	[BrandName] = 'COMBO_WaitroseJohnLewis'
				,	[IsLivePartner] = 0
				,	[BrandGroupID] = NULL
				,	[SectorID] = NULL
				,	[IsHighRisk] = NULL
				,	[IsNamedException] = NULL
				,	[ChargeOnRedeem] = NULL
				,	[IsOnlineOnly] = NULL
				,	[IsPremiumRetailer] =  NULL

			CREATE CLUSTERED INDEX [CIX_BrandID] ON #Brand([BrandID])

			-- Partner table

			DROP TABLE IF EXISTS #Partner
			SELECT	DISTINCT
					rp.[RedemptionPartnerGUID]
				,	rp.[PartnerName]
				,	[BrandID] =	CASE
									WHEN rp.[RedemptionPartnerGUID] = '3C6F42F0-042E-5095-B969-C5B976389E6E' THEN @BrandID_WRJL
									ELSE rp.[BrandID]
								END
			INTO #Partner
			FROM [Derived].[RedemptionPartners] rp

			CREATE CLUSTERED INDEX [CIX_BrandID] ON #Partner([BrandID])

   			-- Consumercombination table

			DROP TABLE IF EXISTS #ConsumerCombination
			SELECT	[ConsumerCombinationID] = CONVERT(INT, cc.[ConsumerCombinationID])
				,	cc.[BrandID]
			INTO #ConsumerCombination
			FROM [Trans].[ConsumerCombination] cc
			WHERE EXISTS (	SELECT 1
							FROM #Partner pa
							WHERE cc.[BrandID] = pa.[BrandID])
			AND cc.[BrandID] != 944

			INSERT INTO #ConsumerCombination
			SELECT	[ConsumerCombinationID]
				,	[BrandID] = @BrandID_WRJL
			FROM [Trans].[ConsumerCombination] cc
			WHERE cc.[BrandID] IN (234, 485)

			INSERT INTO #ConsumerCombination
			SELECT	[ConsumercombinationID]
				,	[BrandID]
			FROM [Trans].[ConsumerCombination] cc
			WHERE [BrandID] in (66)
			AND NOT EXISTS (SELECT 1
							FROM #ConsumerCombination c
							WHERE cc.[ConsumercombinationID] = c.[ConsumercombinationID])
 
			UPDATE #ConsumerCombination
			SET [BrandID] = 66
			WHERE [BrandID] = 2317

			CREATE CLUSTERED INDEX [CIX_CCID] ON #ConsumerCombination([ConsumerCombinationID])

			DROP TABLE IF EXISTS #BrandComp
			SELECT	[ID] = CONVERT(INT, [ID])
				,	[BrandID]
				,	[CompetitorBrandID]
				,	[StartDate]
				,	[EndDate]
			INTO #BrandComp
			FROM [Email].[BOPE_BrandCompetitor]

			INSERT INTO #BrandComp ([ID], [BrandID], [CompetitorBrandID], [StartDate], [EndDate])
			VALUES	(-1, @BrandID_WRJL, 11, '2019-01-01', NULL)
				,	(-1, @BrandID_WRJL, 425, '2019-01-01', NULL)
				,	(-1, @BrandID_WRJL, 292, '2019-01-01', NULL)
				,	(-1, @BrandID_WRJL, 274, '2019-01-01', NULL)

		/*******************************************************************************
				1.1.1. Fetch list of all live Redmeption Items
		*******************************************************************************/

			DROP TABLE IF EXISTS #VoucherSetUp_All
			SELECT	ro.[PublisherID]
				,	rp.[RedemptionPartnerGUID]
				,	rp.[PartnerName]
				,	[BrandID] =	CASE
									WHEN rp.[BrandID] = 2317 THEN 66
									ELSE rp.[BrandID]
								END
				,	rp.[PartnerID]
				,	ro.[RedemptionOfferGUID]
				,	[RedeemID] = ro.[ID]
				,	[MinCBreq] = ro.[TradeUp_CashbackRequired]
				,	[MinCBreq_Rank] = DENSE_RANK() OVER (ORDER BY ro.[TradeUp_CashbackRequired])
			INTO #VoucherSetUp_All
			FROM [Derived].[RedemptionOffers] ro
			INNER JOIN [Derived].[RedemptionPartners] rp
				ON ro.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
			WHERE rp.[PartnerType] = 'Retail'
			AND ro.[Status] = 'Live'
			AND ro.[PublisherID] IS NOT NULL
			--AND ro.[RedemptionPartnerGUID] != 'FB986045-BDB9-4842-999A-EB00A17B1378'
			--AND ro.[RedemptionPartnerGUID] != '84051D43-8EE8-4006-9F71-E108591E1C46'
			ORDER BY rp.[PartnerName]

			UPDATE vs
			SET vs.[PartnerID] = pa.[PartnerID]
			FROM #VoucherSetUp_All vs
			INNER JOIN [Derived].[Partner] pa
				ON vs.[BrandID] = pa.[BrandID]
			WHERE vs.[PartnerID] IS NULL

		/*******************************************************************************
				1.1.2. Fetch min req spend per Redemption Item and designate jokers
		*******************************************************************************/

				/*******************************************************************************
						1.1.2.1. Convert @JokerSlotPartners_CommaSeperated to temp table
				*******************************************************************************/

				--	DECLARE @JokerSlotPartners_CommaSeperated VARCHAR(100) = '4CE0F364-FC5F-A006-EBD5-32BA8BE6DBD4,18165942-73AD-2696-3F86-992E9490AB3B'

					DROP TABLE IF EXISTS #JokerPartners
					CREATE TABLE #JokerPartners ([RedemptionPartnerGUID] UNIQUEIDENTIFIER)
					INSERT INTO #JokerPartners
					SELECT	[RedemptionPartnerGUID] = [Item]
					FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@JokerSlotPartners_CommaSeperated, ',')
					WHERE TRY_CONVERT(UNIQUEIDENTIFIER, [Item]) IS NOT NULL

				/*******************************************************************************
						1.1.2.2. Fetch min req spend and assign jokers based ON previos step
				*******************************************************************************/

					DROP TABLE IF EXISTS #VoucherSetUp
					SELECT	vsu.[RedemptionPartnerGUID]
						,	vsu.[PartnerName]
						,	vsu.[PartnerID]
						,	vsu.[BrandID]
						,	[MinCBreq] = MIN(vsu.[MinCBreq])
						,	[SlotType] =	CASE
												WHEN jp.[RedemptionPartnerGUID] IS NOT NULL THEN 'JokerSlot'
												ELSE 'DefaultSlot'
											END
					INTO #VoucherSetUp
					FROM #VoucherSetUp_All vsu
					LEFT JOIN #JokerPartners jp
						ON vsu.[RedemptionPartnerGUID] = jp.[RedemptionPartnerGUID]
					GROUP BY	vsu.[RedemptionPartnerGUID]
							,	vsu.[PartnerName]
							,	vsu.[BrandID]
							,	jp.[RedemptionPartnerGUID]
							,	vsu.[PartnerID]

				/*******************************************************************************
						1.1.2.3. Fetch the brands with the 2 lowest denominations
				*******************************************************************************/

					DROP TABLE IF EXISTS #VoucherSetUp_LowestDenom
					SELECT [BrandID]
					INTO #VoucherSetUp_LowestDenom
					FROM #VoucherSetUp_All
					WHERE [MinCBreq_Rank] <= 2			   

		/***************************************************************************************************
				1.2. Fetch all customers and their available cashback
		***************************************************************************************************/
				
			DROP TABLE IF EXISTS #Customers
			SELECT	DISTINCT 
					cu.[ClubID]
				,	cu.[FanID]
				,	cu.[CompositeID]
				,	cl.[CINID]
				,	[ClubCashAvailable] = cu.[CashbackAvailable]
				,	nlsc.[LionSendID] 
			INTO #Customers
			FROM [Derived].[Customer] cu
			INNER JOIN [Email].[NominatedLionSendComponent] nlsc
				ON cu.[CompositeID] = nlsc.[CompositeID]
			LEFT JOIN [Derived].[CINList] cl
				on cu.[SourceUID] = cl.[CIN]
			WHERE NOT EXISTS (	SELECT 1
								FROM [Email].[NominatedLionSendComponent_RedemptionOffers] ro
								WHERE nlsc.[CompositeID] = ro.[CompositeID])

		/***************************************************************************************************
				1.3. Construct list of all Fan & Brand combinations to allow for null value joins later
		***************************************************************************************************/
		
			DROP TABLE IF EXISTS #FanBrandCombinations
			SELECT	vs.[BrandID]
				,	cb.[FanID]
				,	cb.[CINID]
				,	cb.[ClubCashAvailable]
			INTO #FanBrandCombinations
			FROM #Customers cb
			CROSS JOIN #VoucherSetUp vs 
			WHERE vs.[SlotType] = 'DefaultSlot'

			CREATE CLUSTERED INDEX [CIX_BrandCINCashback] ON #FanBrandCombinations ([BrandID], [CINID], [ClubCashAvailable])
						   
		/***************************************************************************************************
				1.4. Fetch list of customers that have had transactions at particular brands
		***************************************************************************************************/

			DECLARE @Today DATE = GETDATE()

				/*******************************************************************************
						1.4.1. Create thin version of FanBrandCombinations with join columns
				*******************************************************************************/
				
					DROP TABLE IF EXISTS #Frame_Sales
					SELECT	[BrandID]
						,	[StartDate] = DATEADD(MONTH, -12, @Today)
						,	[EndDate] = DATEADD(MONTH, -1, @Today)
						,	[CINID]
					INTO #Frame_Sales
					FROM #FanBrandCombinations

					CREATE CLUSTERED INDEX [CIX_BrandDatesCINID] ON #Frame_Sales ([BrandID], [StartDate], [EndDate], [CINID])

				/*******************************************************************************
						1.4.2. Fetch [ConsumerCombinationID]s for Redemption Item brands
				*******************************************************************************/

					DROP TABLE IF EXISTS #CC
					SELECT	cc.[BrandID]
						,	cc.[ConsumerCombinationID]
					INTO #CC
					FROM #ConsumerCombination cc
					WHERE EXISTS (	SELECT 1
									FROM #VoucherSetUp vs
									WHERE cc.[BrandID] = vs.[BrandID])
						
					CREATE CLUSTERED INDEX [CIX_CCIDBrand] ON #CC ([ConsumerCombinationID], [BrandID])

				/*******************************************************************************
						1.4.3. Fetch list of customers with transactions per brand
				*******************************************************************************/
						   
					DROP TABLE IF EXISTS #BrandPurchases
					SELECT	fs.[BrandID]
						,	fs.[CINID]
					INTO #BrandPurchases 
					FROM #Frame_Sales fs
					WHERE EXISTS (	SELECT 1
									FROM #CC cc
									INNER JOIN [Trans].[ConsumerTransaction] ct
										ON cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID]
										AND fs.[CINID] = ct.[CINID]
										AND ct.TranDate BETWEEN fs.[StartDate] AND fs.[EndDate]
									WHERE fs.[BrandID] = cc.[BrandID])

					CREATE CLUSTERED INDEX [CIX_BrandCINID] ON #BrandPurchases ([BrandID], [CINID])

		/***************************************************************************************************
				1.5. Fetch list of customers that have had transactions at particular brand sector
		***************************************************************************************************/

				/*******************************************************************************
						1.5.1. Fetch [ConsumerCombinationID]s for Redemption Item brand competitors
				*******************************************************************************/

					DROP TABLE IF EXISTS #CC_Sector
					SELECT	bc.[BrandID]
						,	cc.[ConsumerCombinationID]
					INTO #CC_Sector
					FROM #ConsumerCombination cc
					INNER JOIN #BrandComp bc 
						ON cc.[BrandID] = bc.[CompetitorBrandID]

					CREATE CLUSTERED INDEX [CIX_CCIDBrand] ON #CC_Sector ([ConsumerCombinationID], [BrandID])
					

				/*******************************************************************************
						1.5.2. Fetch list of customers with transactions per brand sector
				*******************************************************************************/

					DROP TABLE IF EXISTS #SectorPurchases
					SELECT	fs.[BrandID]
						,	fs.[CINID]
					INTO #SectorPurchases
					FROM #Frame_Sales fs
					WHERE EXISTS (	SELECT 1 
									FROM #CC_Sector cc
									INNER JOIN [Trans].[ConsumerTransaction] ct
										ON cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID]
										AND fs.[CINID] = ct.[CINID]
										AND ct.TranDate BETWEEN fs.[StartDate] AND fs.[EndDate]
									WHERE fs.[BrandID] = cc.[BrandID])

					CREATE CLUSTERED INDEX [CIX_BrandCINID] ON #SectorPurchases ([BrandID], [CINID])

		/***************************************************************************************************
				1.6. Merge all tables created in previous steps to create pre prioritirisation table
					 This table contains every Customer Brand combination WHERE there is Spend or Sector
					 Spend as a bitflag, allowing for later ranking
		***************************************************************************************************/

			DROP TABLE IF EXISTS #BaseTable
			SELECT	fbc.[BrandID]
				,	fbc.[FanID]
				,	fbc.[CINID]
				,	fbc.[ClubCashAvailable]
				,	[BrandShop] = MAX(	CASE
											WHEN bp.[CINID] IS NULL THEN 0
											ELSE 1
										END)
				,	[SectorShop] = MAX(	CASE
											WHEN sp.[CINID] IS NULL THEN 0
											ELSE 1
										END)
				,	[CBavailable] = MAX(CASE
											WHEN vs.[BrandID] IS NULL THEN 0
											ELSE 1
										END)
			INTO #BaseTable
			FROM #FanBrandCombinations fbc
			LEFT JOIN #BrandPurchases bp
				ON bp.[CINID] = fbc.[CINID]
				AND bp.[BrandID] = fbc.[BrandID]
			LEFT JOIN #SectorPurchases sp
				ON sp.[CINID] = fbc.[CINID]
				AND sp.[BrandID] = fbc.[BrandID]
			LEFT JOIN #VoucherSetUp vs
				ON fbc.[ClubCashAvailable] >= vs.[MinCBreq]
				AND vs.[BrandID] = fbc.[BrandID]
			WHERE bp.[CINID] IS NOT NULL
			OR sp.[CINID] IS NOT NULL
			OR vs.[BrandID] IS NOT NULL
			OR EXISTS (	SELECT 1
						FROM #VoucherSetUp_LowestDenom vsd
						WHERE fbc.[BrandID] = vsd.[BrandID])
			GROUP BY	fbc.[BrandID]
					,	fbc.[FanID]
					,	fbc.[CINID]
					,	fbc.[ClubCashAvailable]

			CREATE CLUSTERED INDEX [CIX_BrandCINID] ON #BaseTable ([BrandID], [CINID])

		/***************************************************************************************************
				1.7. Set the CashbackAvailable flag to 1 for those customers that don't have eligible
				     cashback to redeem at any of our partners
		***************************************************************************************************/

				/*******************************************************************************
						1.7.1. Fetch customers with no cashback available
				*******************************************************************************/
		
					DROP TABLE IF EXISTS #BaseTable_NoCashback
					SELECT	[FanID]
					INTO #BaseTable_NoCashback
					FROM #BaseTable
					GROUP BY	[FanID]
					HAVING MAX([CBavailable]) = 0

					CREATE CLUSTERED INDEX [CIX_FanID] ON #BaseTable_NoCashback ([FanID])

				/*******************************************************************************
						1.7.2. Update Cashback available flag
				*******************************************************************************/

					UPDATE bt
					SET [CBavailable] = 1
					FROM #BaseTable bt
					INNER JOIN #BaseTable_NoCashback btnc
						ON bt.[FanID] = btnc.[FanID]
					WHERE EXISTS (	SELECT 1
									FROM #VoucherSetUp_LowestDenom vs
									WHERE bt.[BrandID] = vs.[BrandID])

/***********************************************************************************************************************
		2. Prioritise the partners for each redemption offer for the newsletter per customer
***********************************************************************************************************************/

		/***************************************************************************************************
				2.1. Create a [Priority] table for to supplement BOPE logic
		***************************************************************************************************/

			DROP TABLE IF EXISTS #PriorityTbl
			SELECT	bp.[BrandID]
				,	bp.[BrandRank]
				,	br.[BrandName]
				,	[Priority] = ROW_NUMBER() OVER (ORDER BY [BrandRank] DESC)
			INTO #PriorityTbl
			FROM (	SELECT	bp.[BrandID]
						,	[BrandRank] = SUM(1)
					FROM #BrandPurchases bp
					GROUP BY bp.[BrandID]) bp
			INNER JOIN #Brand br
				ON bp.[BrandID] = br.[BrandID]
				

		/***************************************************************************************************
				2.2. Select slots 1-4 Where available and fill in blanks with priority table
					 The fith slot is saved for cases where there is a joker redemption item present
		***************************************************************************************************/
		
			DECLARE @JokerRetailerPresent INT = 0

			IF (SELECT COUNT(1) FROM #VoucherSetUp WHERE SlotType = 'JokerSlot') != 0
				SELECT	@JokerRetailerPresent = COUNT(*)
				FROM #JokerPartners

				/*******************************************************************************
						2.2.1. Create initial ranking table for all customers
				*******************************************************************************/
				
					DROP TABLE IF EXISTS #RankedTable
					SELECT	btr.[FanID]
						,	btr.[BrandID]
						,	btr.[Rank]
						,	[InputType] = '1. AlgoInput'
					INTO #RankedTable
					FROM (	SELECT	bt.[FanID]
								,	bt.[BrandID]
								,	[Rank] = ROW_NUMBER() OVER (PARTITION BY [FanID] ORDER BY [CBavailable] DESC, [BrandShop] DESC, [SectorShop] DESC, cr.[CommercialRank], pt.[Priority])
							FROM #BaseTable bt
							INNER JOIN #PriorityTbl pt
						  		ON bt.[BrandID] = pt.[BrandID]
							LEFT JOIN [Email].[BOPE_BrandCommercialRank] cr
								ON bt.[BrandID] = cr.[BrandID]) btr
					WHERE [Rank] <= 5 - @JokerRetailerPresent

					CREATE CLUSTERED INDEX [CIX_Fan] ON #RankedTable ([FanID])

				/*******************************************************************************
						2.2.2. Populate customers with < 5 slots from the Priority table
				*******************************************************************************/

						/*******************************************************************************
								2.2.2.1. Calculate the number of slots each customers is missing
						*******************************************************************************/
						
							DROP TABLE IF EXISTS #InCompleteCustomers_MaxRank
							SELECT	[FanID]
								,	[MaxRank] = MAX([Rank])
								,	[NumberOfBlanks] = 5 - @JokerRetailerPresent - MAX([Rank])
							INTO #InCompleteCustomers_MaxRank
							FROM #RankedTable
							GROUP BY [FanID]
							HAVING COUNT(1) < 5 - @JokerRetailerPresent

							CREATE CLUSTERED INDEX [CIX_Fan] ON #InCompleteCustomers_MaxRank ([FanID])

						/*******************************************************************************
								2.2.2.2. Seperate customers missing slots FROM Ranked Table
						*******************************************************************************/

							DROP TABLE IF EXISTS #InCompleteCustomers
							SELECT	rt.[FanID]
								,	rt.[BrandID]
							INTO #InCompleteCustomers
							FROM #RankedTable rt
							WHERE EXISTS (	SELECT 1 
											FROM #InCompleteCustomers_MaxRank mr
											WHERE rt.[FanID] = mr.[FanID])

							CREATE CLUSTERED INDEX [CIX_BrandFan] ON #InCompleteCustomers ([BrandID], [FanID])

						/*******************************************************************************
								2.2.2.3. For all cusotmers missing slots, join to [Priority] Table
										 This is done to populate offers based ON overall popularity 
										 per brand WHERE customers might not have transactional data
										 to support previous logic
						*******************************************************************************/

							DROP TABLE IF EXISTS #InCompleteCustomers_AllBrands
							SELECT	mr.[FanID]
								,	pt.[BrandID]
								,	pt.[Priority]
							INTO #InCompleteCustomers_AllBrands
							FROM #InCompleteCustomers_MaxRank mr
							CROSS JOIN #PriorityTbl pt

							CREATE CLUSTERED INDEX [CIX_BrandFan] ON #InCompleteCustomers_AllBrands ([BrandID], [FanID])


						/*******************************************************************************
								2.2.2.4. Rank all brands FROM the [Priority] table that the customer
										 is not already assigned to
						*******************************************************************************/

							DROP TABLE IF EXISTS #InCompleteCustomers_Remainders
							SELECT	ab.[FanID]
								,	mr.[NumberOfBlanks]
								,	ab.[BrandID]
								,	[Priority] = ROW_NUMBER() OVER (PARTITION BY ab.[FanID] ORDER BY ab.[Priority] DESC)
							INTO #InCompleteCustomers_Remainders
							FROM #InCompleteCustomers_AllBrands ab
							INNER JOIN #InCompleteCustomers_MaxRank mr
								ON ab.[FanID] = mr.[FanID]
							WHERE NOT EXISTS (	SELECT 1
												FROM #InCompleteCustomers icc
												WHERE icc.[FanID] = ab.[FanID]
												AND icc.[BrandID] = ab.[BrandID])

						/*******************************************************************************
								2.2.2.5. Fill in the missing slots per customer by inserting all
										 entries FROM the #InCompleteCustomers_Remainders table
						*******************************************************************************/

							INSERT INTO #RankedTable (	[FanID]
													,	[BrandID]
													,	[Rank]
													,	[InputType])
							SELECT	[FanID]
								,	[BrandID]
								,	[Priority]
								,	[InputType] = '2. Remainder'
							FROM #InCompleteCustomers_Remainders iccr
							WHERE iccr.[Priority] <= iccr.[NumberOfBlanks]

				/*******************************************************************************
						2.2.3. Populate customers that have no slots assgined FROM the
							   [Priority] table
				*******************************************************************************/

						/*******************************************************************************
								2.2.3.1. Fetch customers that have no slots populated
						*******************************************************************************/

							DROP TABLE IF EXISTS #EmptyCustomers
							SELECT	[FanID]
							INTO #EmptyCustomers
							FROM #Customers cu
							WHERE NOT EXISTS (	SELECT 1
												FROM #RankedTable rt
												WHERE rt.[FanID] = cu.[FanID])

							CREATE CLUSTERED INDEX [CIX_FanID] ON #EmptyCustomers ([FanID])

						/*******************************************************************************
								2.2.3.2. Assign the top 5 brands FROM the [Priority] table
						*******************************************************************************/

							DROP TABLE IF EXISTS #EmptyCustomers_Allocated
							SELECT	ef.[FanID]
								,	pt.[BrandID]
								,	pt.[Priority]
								,	[InputType] = '3. AllZeroInputs'
							INTO #EmptyCustomers_Allocated
							FROM #EmptyCustomers ef
							CROSS JOIN #PriorityTbl pt
							WHERE [Priority] <= 5 - @JokerRetailerPresent

		/***************************************************************************************************
				2.3. If there is a joker redemption item live then force in for all customers
		***************************************************************************************************/

			DROP TABLE IF EXISTS #Customers_JokerSlots
			CREATE TABLE #Customers_JokerSlots ([FanID] INT
											,	[BrandID] INT
											,	[Priority] INT
											,	[InputType] VARCHAR(30))


				/*******************************************************************************
						2.3.1. Randomly SELECT 1 joker redemption item per customer
				*******************************************************************************/

					IF (@JokerRetailerPresent > 0)
						BEGIN

							DROP TABLE IF EXISTS #Jokers
							SELECT	vs.[RedemptionPartnerGUID]
								,	vs.[BrandID]
								,	[ID] = ROW_NUMBER() OVER (ORDER BY NEWID())
							INTO #Jokers
							FROM #VoucherSetUp vs
							WHERE [SlotType] = 'JokerSlot'

							DECLARE @JokerRetailers INT = (SELECT COUNT(1) FROM #VoucherSetUp WHERE [SlotType] = 'JokerSlot')

							DROP TABLE IF EXISTS #JokerIDAllocation
							SELECT	[FanID]
								,	[ID] = NTILE(@JokerRetailers) OVER (ORDER BY NEWID())
							INTO #JokerIDAllocation
							FROM #Customers

							CREATE CLUSTERED INDEX [CIX_FanID] ON #JokerIDAllocation ([FanID], [ID])
	
							INSERT INTO #Customers_JokerSlots
							SELECT	ja.[FanID]
								 ,	[BrandID]
								 ,	[Priority] = 5
								 ,	[InputType] = '4. Joker'
							FROM #JokerIDAllocation ja
							INNER JOIN #Jokers j
								ON ja.[ID] = j.[ID]

						END
				
		/***************************************************************************************************
				2.4. Join all tables together to get the top 5 redemption offers per customer
		***************************************************************************************************/
				
			DROP TABLE IF EXISTS #Allocated_Retailers
			SELECT	[FanID]
				,	[BrandID]
				,	[Rank]
				,	[InputType]
			INTO #Allocated_Retailers
			FROM (	SELECT	[FanID]
						,	[BrandID]
						,	[Rank]
						,	[InputType]
					FROM #RankedTable
					UNION ALL
					SELECT	[FanID]
						,	[BrandID]
						,	[Rank] = [Priority]
						,	[InputType]
					FROM #EmptyCustomers_Allocated
					UNION ALL
					SELECT	[FanID]
						,	[BrandID]
						,	[Rank] = [Priority]
						,	[InputType]
					FROM #Customers_JokerSlots) [all]


		/***************************************************************************************************
				2.5. Force Push Cineworld and Greggs offers to those customers who - 
				(a)	live 30 mins from Cineworld (push Cineworld)
				(b) are not Premier cusotmers	(push Greggs)
		***************************************************************************************************/

				/**************************************************************************************************
						2.5.1. Greggs Force
						
						Note:
						- If the customer is a Premier, Greggs voucher may still appear in their assigned Burn
						offers, however at the rank naturally assigned according to standard logic.
				****************************************************************************************************/
																
							/**********************************************************************************
									2.5.1.1. SELECT [FanID]s of Customers that are NOT Premier customers
							***********************************************************************************/

								DROP TABLE IF EXISTS #Premier;
								SELECT	[FanID]
								INTO #Premier
								FROM [Derived].[Customer] cu
								WHERE [AccountType] = 'Premier'

								CREATE CLUSTERED INDEX [CIX_Fan] ON #Premier ([FanID])
							
							/***********************************************************************************************
									2.5.1.2. Remove Premier  in the event that it has already been assigned to a customer,
									increment RANK ON all redemptions by +1, and slide Greggs in with Rank = 1 
							************************************************************************************************/

								-- this table is created for efficiency reasons later on
								DROP TABLE IF EXISTS #Allocated_Retailers_Greggs_PremierOrControlGroup
								SELECT	t1.[FanID]
									,	t1.[BrandID]
									,	t1.[Rank]
									,	t1.[InputType]
								INTO #Allocated_Retailers_Greggs_PremierOrControlGroup
								FROM #Allocated_Retailers t1
								WHERE EXISTS (	SELECT 1
												FROM #Premier pr
												WHERE t1.[FanID] = pr.[FanID])

								CREATE CLUSTERED INDEX [CIX_Fan] ON #Allocated_Retailers_Greggs_PremierOrControlGroup ([FanID])
							
								DROP TABLE IF EXISTS #Allocated_Retailers_Greggs_ToUpdate
								SELECT	t1.[FanID]
									,	t1.[BrandID]
									,	t1.[Rank]
									,	t1.[InputType]
								INTO #Allocated_Retailers_Greggs_ToUpdate
								FROM #Allocated_Retailers t1
								WHERE [BrandID] != 914	-- Greggs
								AND NOT EXISTS (SELECT 1
												FROM #Premier pr
												WHERE t1.[FanID] = pr.[FanID])

								CREATE CLUSTERED INDEX [CIX_Fan] ON #Allocated_Retailers_Greggs_ToUpdate ([FanID]) WITH (FILLFACTOR = 80)
							
								-- Increase Rank for all Offers
								UPDATE #Allocated_Retailers_Greggs_ToUpdate
								SET [Rank] = [Rank] + 1

								-- Force in Greggs offer @ Rank 1

								;WITH
								CustomersToInsert AS (	SELECT	DISTINCT
																[FanID]
														FROM #Allocated_Retailers_Greggs_ToUpdate)
													
								INSERT INTO #Allocated_Retailers_Greggs_ToUpdate (	[FanID]
																				,	[BrandID]
																				,	[Rank]
																				,	[InputType])
								SELECT	[FanID]
									,	[BrandID] = 914
									,	[Rank] = 1
									,	[InputType] = '0. Forced'
								FROM CustomersToInsert
								WHERE EXISTS (	SELECT 1
												FROM #VoucherSetUp_All
												WHERE [BrandID] = 914)

								-- Merge offers FROM Customers who got Greggs forced, and Customers who did not get Greggs forced

								DROP TABLE IF EXISTS #Allocated_Retailers_Greggs_forced
								SELECT	[FanID]
									,	[BrandID]
									,	[Rank]
									,	[InputType]
								INTO #Allocated_Retailers_Greggs_forced
								FROM #Allocated_Retailers_Greggs_PremierOrControlGroup
								UNION ALL
								SELECT	[FanID]
									,	[BrandID]
									,	[Rank]
									,	[InputType]
								FROM #Allocated_Retailers_Greggs_ToUpdate

								CREATE CLUSTERED INDEX [CIX_Fan] ON #Allocated_Retailers_Greggs_forced([FanID])

						--new

						DROP TABLE IF EXISTS #Allocated_Retailers_f
						SELECT	[FanID]
							,	[BrandID]
							,	[Rank] = [new_rank]
							,	[InputType]
						INTO #Allocated_Retailers_f
						FROM (	SELECT	[FanID]
									,	[BrandID]
									,	[Rank]
									,	[InputType]
									,	[new_rank] = ROW_NUMBER() OVER (PARTITION BY [FanID] ORDER BY [InputType] ASC, [Rank] ASC)
								FROM #Allocated_Retailers_Greggs_forced) a
						WHERE [new_rank] <= 5
						
/***********************************************************************************************************************
		3. Assign the most relevant redemption item per redemption partner per customer
***********************************************************************************************************************/

		/***************************************************************************************************
				3.1. Rank the redemption items by club cash required for redemption
		***************************************************************************************************/
				
			DROP TABLE IF EXISTS #DenominationsTable
			SELECT	cv.[PublisherID]
				,	cv.[RedemptionPartnerGUID]
				,	cv.[BrandID]
				,	[RedemptionOfferGUID]
				,	[RedeemID]
				,	[MinCBreq]
				,	[MinIndicator] = ROW_NUMBER() OVER (PARTITION BY cv.[PublisherID], [BrandID] ORDER BY [MinCBreq] ASC)
				,	[MaxIndicator] = ROW_NUMBER() OVER (PARTITION BY cv.[PublisherID], [BrandID] ORDER BY [MinCBreq] DESC)
			INTO #DenominationsTable
			FROM #VoucherSetUp_All cv

		/***************************************************************************************************
				3.2. Join the new ranked table to the full allocated retailers table, SELECTing
					 the minimum value voucher that the customer can currently trade up for
					 or the minimum value voucher WHERE they don't meet the club cash requirements
					 for any redemption item per partner
		***************************************************************************************************/

			DROP TABLE IF EXISTS #Allocated_RetailerVouchers_Pre
			SELECT	rv.[ClubID]
				,	rv.[CompositeID]
				,	rv.[LionSendID]
				,	rv.[BrandID]
				,	rv.[Rank]
				,	rv.[InputType]
				,	rv.[RedeemID]
				,	rv.[MinCBreq]
				,	rv.[ID]
			INTO #Allocated_RetailerVouchers_Pre
			FROM (	SELECT	cu.[ClubID]
				  		,	cu.[CompositeID]
				  		,	ar.[BrandID]
				  		,	ar.[Rank]
				  		,	ar.[InputType]
				  		,	dt.[RedeemID]
				  		,	dt.[MinCBreq]
						,	cu.[LionSendID]
				  		,	[ID] = ROW_NUMBER() OVER (PARTITION BY ar.[FanID], ar.[BrandID] ORDER BY [MinCBreq] DESC)
					FROM #Allocated_Retailers_f ar
					INNER JOIN #Customers cu
				  		ON ar.[FanID] = cu.[FanID]
					LEFT JOIN #DenominationsTable dt
				  		ON ar.[BrandID] = dt.[BrandID]
						AND cu.[ClubID] = dt.[PublisherID]
				  		and cu.[ClubCashAvailable] >= dt.[MinCBreq]) rv
			WHERE [ID] IS NULL
			OR [ID] = 1

		/***************************************************************************************************
				3.3. Populate final output table
		***************************************************************************************************/
			
			DROP TABLE IF EXISTS #NominatedLionSendComponent_RedemptionOffers
			SELECT	[LionSendID] = [LionSendID]
				,	[CompositeID] = rvp.[CompositeID]
				,	[TypeID] = 3
				,	[ItemRank] = [Rank]
				,	[RedeemID] = COALESCE(rvp.[RedeemID], dt.[RedeemID])
			INTO #NominatedLionSendComponent_RedemptionOffers
			FROM #Allocated_RetailerVouchers_Pre rvp
			INNER JOIN (SELECT	[ClubID] = [PublisherID]
							,	[BrandID]
							,	[RedeemID]
						FROM #DenominationsTable
						WHERE [MinIndicator] = 1) dt
				ON rvp.[BrandID] = dt.[BrandID]
				AND rvp.[ClubID] = dt.[ClubID]

			CREATE CLUSTERED INDEX [CIX_ItemRank] ON #NominatedLionSendComponent_RedemptionOffers ([ItemRank])

			TRUNCATE TABLE [Email].[NominatedLionSendComponent_RedemptionOffers]
			INSERT INTO [Email].[NominatedLionSendComponent_RedemptionOffers] (	[LionSendID]
																			,	[CompositeID]
																			,	[TypeID]
																			,	[ItemRank]
																			,	[ItemID])
			SELECT	[LionSendID]
				,	[CompositeID]
				,	[TypeID]
				,	[ItemRank] =	CASE
										WHEN [ItemRank] = 1 THEN 5
										ELSE [ItemRank] - 1
									END
				,	[ItemID] = [RedeemID]
			FROM #NominatedLionSendComponent_RedemptionOffers

END
GO
