USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Email].[LionSendBuild]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Email].[LionSendBuild]
AS
BEGIN
	
SET NOCOUNT ON
SET ANSI_WARNINGS OFF
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
		
	DECLARE @Date DATE

	SELECT @Date = MAX([EmailDate])
	FROM [WH_AllPublishers].[Selections].[CampaignSetup_All] cs
	WHERE cs.[SelectionRun] = 1
	AND cs.[DatabaseName] = DB_NAME()
	AND EXISTS (SELECT 1
				FROM [WH_AllPublishers].[Derived].[HalfCycleDates] hcd
				WHERE cs.[StartDate] = hcd.[StartDate])
	AND cs.[EndDate] > GETDATE()

/*******************************************************************************************************************************************
	1. Setting all necessary force in's and testing details
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		1.1. Setting force in's for Earn Offers
	***********************************************************************************************************************/
		
		--	DECLARE @Date DATE = (SELECT MIN([EmailDate]) FROM [Selections].[CampaignSetup_POS] WHERE GETDATE() < [EmailDate])

			DECLARE @AddedDate DATETIME = (SELECT DATEADD(SECOND, -60, MAX([AddedDate])) FROM [Email].[Newsletter_ForceIns])
		
			DROP TABLE IF EXISTS #PrioritisedEarnOffers
			SELECT	DISTINCT
					[ParameterForExecution] = CONVERT(VARCHAR(50), NULL)
				,	[OfferSlot] =	CASE
										WHEN [OfferSlot] = 'HERO' THEN 1
										ELSE [OfferSlot] + 1
									END
				,	[SendToAll]
				,	[PartnerID]
				,	[PartnerName]
				,	[EmailDate]
			INTO #PrioritisedEarnOffers
			FROM Sandbox.[WilliamA].[Visa_NL_ForceIns] fi
			WHERE Publisher = 'Vanquis'
			AND [PartnerName] != 'null'
		--	AND [EmailDate] = '2024-05-16'
			AND [EmailDate] = @Date
			AND [AddedDate] >= @AddedDate
			
			UPDATE #PrioritisedEarnOffers
			SET [ParameterForExecution] = CONCAT([PartnerID], ', ') + CONCAT([OfferSlot], ', ') + CONCAT([SendToAll], '')

		/*******************************************************************************
			1.2.1.	Translate parameter into output table for use in build
		*******************************************************************************/

			DECLARE @PrioritisedPartner_IronOffer VARCHAR(500)
		
			SELECT	@PrioritisedPartner_IronOffer = STUFF(	(	SELECT '; ' + [ParameterForExecution]
																FROM #PrioritisedEarnOffers peo1 
																WHERE peo1.[EmailDate] = peo2.[EmailDate]
																FOR XML PATH (''))
														, 1, 1, '' )
			FROM #PrioritisedEarnOffers peo2
			GROUP BY	peo2.[EmailDate]

			DROP TABLE IF EXISTS #PartnerPrioritisation;
			WITH
			PartnerSplit AS (SELECT	[ItemNumber1] = pa.[ItemNumber]
				 				,	[ItemNumber2] = pa2.[ItemNumber]
				 				,	[Item] = pa2.[Item]
							 FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@PrioritisedPartner_IronOffer, ';') pa
							 CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (pa.[Item], ',') pa2)

			SELECT	[RowNo] = ROW_NUMBER() OVER (ORDER BY ps2.[Item])
				,	[PartnerID] = CONVERT(INT, REPLACE(REPLACE(REPLACE(REPLACE(ps1.[Item], ' ', ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''))
				,	[OfferSlot] = CONVERT(INT, ps2.[Item])
				,	[ToForceIn] = CONVERT(INT, ps3.[Item])
				,	[OfferRankingUpdate] = CONVERT(INT, ps3.[Item] * 999)
			INTO #PartnerPrioritisation
			FROM PartnerSplit ps1
			INNER JOIN PartnerSplit ps2
				ON ps1.[ItemNumber1] = ps2.[ItemNumber1]
				AND ps1.[ItemNumber2] != ps2.[ItemNumber2]
				AND ps2.[ItemNumber2] = 2
			INNER JOIN PartnerSplit ps3
				ON ps1.[ItemNumber1] = ps3.[ItemNumber1]
				AND ps1.[ItemNumber2] != ps3.[ItemNumber2]
				AND ps3.[ItemNumber2] = 3
			WHERE REPLACE(REPLACE(REPLACE(REPLACE(ps1.[Item], ' ', ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), '') > 0

			CREATE CLUSTERED INDEX [CIX_PartnerID] ON #PartnerPrioritisation ([PartnerID])
			CREATE NONCLUSTERED INDEX [IX_PartnerID] ON #PartnerPrioritisation ([PartnerID]) INCLUDE ([OfferRankingUpdate])

	/***********************************************************************************************************************
		1.2. Setting joker slots for Burn Offers
	***********************************************************************************************************************/

	/*
		SELECT	DISTINCT 
				rp.RedemptionPartnerGUID
			,	rp.PartnerName
			,	ro.RedemptionOfferGUID
		FROM [Derived].[RedemptionOffers] ro
		INNER JOIN [Derived].[RedemptionPartners] rp
			ON ro.RedemptionPartnerGUID = rp.RedemptionPartnerGUID
		ORDER BY	rp.PartnerName DESC
				,	ro.RedemptionOfferGUID
	*/

		DECLARE @JokerSlotPartners_CommaSeperated VARCHAR(50) = ''

/*******************************************************************************************************************************************
	2. Storing all variables to be used throughout script & prepping holding tables
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		2.1. Storing all variables to be used throughout script
	***********************************************************************************************************************/

		DECLARE	@Today DATE = GETDATE()
			--,	@Date DATE = (SELECT MIN(EmailDate) FROM [Selections].[CampaignSetup_POS] WHERE GETDATE() < EmailDate)
			,	@DynamicSubjectLine INT

		SELECT @DynamicSubjectLine = COALESCE(COUNT(*), 0)
		FROM [WH_AllPublishers].[Email].[NewsletterTestSchedule]
		WHERE PublisherID = 2069
		AND EmailSendDate = @Date

		INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
		SELECT	Scheme = 'Vanquis'
			,	EmailType = 'Newsletter - Sample'
			,	EmailSendDate = @Date
			,	CreatedAtDate = GETDATE()
			,	CreatedBy = SYSTEM_USER
			,	NULL
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Email].[EmailSend] es
							WHERE Scheme = 'Vanquis'
							AND EmailType = 'Newsletter - Sample'
							AND EmailSendDate = @Date)

		INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
		SELECT	Scheme = 'Vanquis'
			,	EmailType = 'Newsletter - Full Generic'
			,	EmailSendDate = @Date
			,	CreatedAtDate = GETDATE()
			,	CreatedBy = SYSTEM_USER
			,	NULL
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Email].[EmailSend] es
							WHERE Scheme = 'Vanquis'
							AND EmailType = 'Newsletter - Full Generic'
							AND EmailSendDate = @Date)

		DECLARE	@LionSendID_Sample INT

		SELECT @LionSendID_Sample = MIN(ID)
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [EmailSendDate] = @Date
		AND Scheme = 'Vanquis'
		AND EmailType = 'Newsletter - Sample'

		DECLARE	@LionSendID_Full INT

		SELECT @LionSendID_Full = MIN(ID)
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE EmailSendDate = @Date
		AND Scheme = 'Vanquis'
		AND EmailType = 'Newsletter - Full Generic'

		DECLARE @LastEmailDate DATE = (SELECT MAX(EmailSendDate) FROM [Report].[NewsletterVolumes] WHERE EmailSendDate < GETDATE())

		IF OBJECT_ID('tempdb..#HoldVariables') IS NOT NULL DROP TABLE #HoldVariables
		SELECT	DISTINCT
				@PrioritisedPartner_IronOffer AS PrioritisedPartner_IronOffer
			,	@JokerSlotPartners_CommaSeperated AS JokerSlotPartners_CommaSeperated
			,	ID AS LionSendID
			,	EmailType
			,	@Today AS Today
			,	@Date AS Date
		INTO #HoldVariables
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE EmailSendDate = @Date
		AND Scheme = 'Vanquis'

/*******************************************************************************************************************************************
	3. Update OPE Partner Conflict, Desirable & OPE Rollout tables
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		3.1. Update Conflicts Table based on Offers
	***********************************************************************************************************************/

		EXEC [Email].[Newsletter_PartnerConflict_Update] @Date

	/***********************************************************************************************************************
		3.2. Update Random Numbers assigned to customers
	***********************************************************************************************************************/

		EXEC [Email].[Newsletter_Customer_Update]

/*******************************************************************************************************************************************
	4. Fetching Marketable email base
*******************************************************************************************************************************************/
	
	/***************************************************************************************************
		4.1. Fetch marketable email base
	***************************************************************************************************/
	
		DROP TABLE IF EXISTS #Email_Base
		CREATE TABLE #Email_Base (	[FanID] INT
								,	[CompositeID] BIGINT
								,	[LionSendID] INT
								,	[ClubID] INT
								,	[Private] BIT
								,	[Age] INT
								,	[Gender] VARCHAR(10)
								,	[CameoGroup] VARCHAR(2))

		CREATE UNIQUE CLUSTERED INDEX [CIX_Composite] ON #Email_Base ([CompositeID])
		
		INSERT INTO #Email_Base
		SELECT	DISTINCT
				cu.[FanID]
			,	cu.[CompositeID]
			,	LionSendID = @LionSendID_Full
			,	cu.ClubID
			,	CASE
					WHEN cu.AccountType LIKE '%VAA%' THEN 1
					ELSE 0
				END AS Private
			,	CONVERT(TINYINT, cu.AgeCurrent) AS Age
			,	cu.Gender
			,	MAX(CONVERT(VARCHAR(2), LEFT(CAMEO_CODE_GROUP, 2))) AS CameoGroup
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[Customer_PII] cup
			ON cu.FanID = cup.FanID
		LEFT JOIN [WH_AllPublishers].[Derived].[CAMEO] cam
			ON cup.[PostCode] = cam.[PostCode]
		WHERE cu.[MarketableByEmail] = 1
		AND cu.[CurrentlyActive] = 1
		GROUP BY cu.FanID
			   , cu.CompositeID
			   , cu.ClubID
			   ,	CASE
						WHEN cu.AccountType LIKE '%VAA%' THEN 1
						ELSE 0
					END
			   , CONVERT(TINYINT, cu.AgeCurrent)
			   , cu.Gender

	/***********************************************************************************************************************
		4.3 Create table to store LionSend volumes
	***********************************************************************************************************************/
	
		DROP TABLE IF EXISTS #LionSendCountsChecks
		CREATE TABLE #LionSendCountsChecks ([LionSendID] SMALLINT
										,	[EmailSendDate] DATE
										,	[Brand] INT
										,	[Loyalty] INT
										,	[Customers] INT
										,	[LionSendBuildDate] DATETIME)

		INSERT INTO #LionSendCountsChecks (	[LionSendID]
										,	[EmailSendDate]
										,	[Brand]
										,	[Loyalty]
										,	[LionSendBuildDate])
							   
		SELECT	DISTINCT
				[LionSendID]
			,	[EmailSendDate] = @Date
			,	[Brand] = [ClubID]
			,	[Loyalty] = [Private]
			,	[LionSendBuildDate] = @Today
		FROM #Email_Base

/*******************************************************************************************************************************************
	5. Fetch all offer memberships for marketable customers
*******************************************************************************************************************************************/

	/***************************************************************************************************
		5.1. Fetch list of all offers to be included in the newsletter
	***************************************************************************************************/
	
	--	DECLARE @Date DATE = (SELECT MIN([EmailDate]) FROM [Selections].[CampaignSetup_POS] WHERE GETDATE() < [EmailDate])

		DROP TABLE IF EXISTS #OfferPrioritisation_Temp
		SELECT	[PartnerID]
			,	[IronOfferID]
			,	[Weighting] = MAX([Weighting])
			,	[Base]
			,	[NewOffer]
			,	[EmailDate]
		INTO #OfferPrioritisation_Temp
		FROM [Email].[Newsletter_OfferPrioritisation]
		WHERE [EmailDate] = @Date
		GROUP BY	[PartnerID]
				,	[IronOfferID]
				,	[Base]
				,	[NewOffer]
				,	[EmailDate]

		DROP TABLE IF EXISTS #OfferPrioritisation
		CREATE TABLE #OfferPrioritisation (	[IronOfferID] INT NOT NULL
										,	[PartnerID] INT NOT NULL
										,	[BrandID] INT
										,	[IsPremiumRetailer] BIT
										,	[StartDate] DATE
										,	[EndDate] DATE
										,	[Base] INT
										,	[OfferRank] BIGINT);

		CREATE UNIQUE CLUSTERED INDEX [UCX_IronOfferPartner] ON #OfferPrioritisation ([IronOfferID], [PartnerID]);

		INSERT INTO #OfferPrioritisation
		SELECT	op.[IronOfferID]
			,	op.[PartnerID]
			,	pa.[BrandID]
			,	br.[IsPremiumRetailer]
			,	iof.[StartDate]
			,	iof.[EndDate]
			,	op.[Base]
			,	[OfferRank] = ROW_NUMBER() OVER (ORDER BY op.[PartnerID], op.[IronOfferID])
		FROM #OfferPrioritisation_Temp op
		INNER JOIN (SELECT DISTINCT [PartnerID], [IronOfferID], [StartDate], [EndDate] FROM [Derived].[IronOffer]) iof
			ON op.[IronOfferID] = iof.[IronOfferID]
		LEFT JOIN [Derived].[Partner] pa
			ON iof.[PartnerID] = pa.[PartnerID]
		LEFT JOIN [WH_AllPublishers].[Trans].[Brand] br
			ON pa.[BrandID] = br.[BrandID]
		ORDER BY	op.[IronOfferID]
				,	op.[PartnerID];
				
		DROP TABLE IF EXISTS #OPE_CustomerRanking;
		CREATE TABLE #OPE_CustomerRanking (	[PartnerID] INT
										,	[CompositeID] BIGINT
										,	[OfferRank] INT
										,	[Segment] INT);

		CREATE UNIQUE CLUSTERED INDEX [UCX_PartnerComp] ON #OPE_CustomerRanking ([PartnerID], [CompositeID]);

		INSERT INTO #OPE_CustomerRanking (	[PartnerID]
										,	[CompositeID]
										,	[OfferRank]
										,	[Segment])
		SELECT	[PartnerID] = cr.[PartnerID]
			,	[CompositeID] = cr.[CompositeID]
			,	[OfferRank] = MIN(ISNULL(cr.[CustomerRanking], 999) - ISNULL(pp.[OfferRankingUpdate], 0))
			,	[Segment] = MIN(ISNULL(cr.[Segment], 7))
		FROM [Email].[OPE_CustomerRanking] cr
		INNER JOIN #Email_Base eb
			ON eb.[CompositeID] = cr.[CompositeID]
		LEFT JOIN #PartnerPrioritisation pp
			ON pp.[PartnerID] = cr.[PartnerID]
		WHERE EXISTS (	SELECT 1
						FROM #OfferPrioritisation p
						WHERE p.[PartnerID] = cr.[PartnerID])
		GROUP BY	cr.[PartnerID]
				,	cr.[CompositeID]
		ORDER BY	cr.[PartnerID]
				,	cr.[CompositeID]

	/***********************************************************************************************************************
		2.2. Create table to store offer memberships
	***********************************************************************************************************************/
	
	--	DECLARE @Date DATE = (SELECT MIN([EmailDate]) FROM [Selections].[CampaignSetup_POS] WHERE GETDATE() < [EmailDate])

		TRUNCATE TABLE [Email].[IronOfferMember]

		INSERT INTO [Email].[IronOfferMember] WITH (TABLOCK)
		SELECT	iom.[IronOfferID]
			,	iom.[CompositeID]
			,	iom.[StartDate]
			,	iom.[EndDate]
			,	op.[PartnerID]
		FROM #OfferPrioritisation op
		INNER JOIN [Derived].[IronOfferMember] iom 
			ON op.[IronOfferID] = iom.[IronOfferID]
		INNER JOIN #Email_Base eb
			ON eb.[CompositeID] = iom.[CompositeID]
		WHERE iom.[StartDate] < CAST(@Date AS DATETIME)
		AND iom.[EndDate] > CAST(@Date AS DATETIME)
		ORDER BY	iom.[IronOfferID]
				,	iom.[CompositeID];

		TRUNCATE TABLE [Email].[OfferMemberships]
		INSERT INTO [Email].[OfferMemberships] WITH (TABLOCK) (	[PartnerID]
															,	[IronOfferID]
															,	[CompositeID]
															,	[StartDate]
															,	[EndDate]
															,	[OfferRank]
															,	[OfferSegment])
		SELECT	iom.[PartnerID]
			,	iom.[IronOfferID]
			,	iom.[CompositeID]
			,	iom.[StartDate]
			,	iom.[EndDate]
			,	[OfferRank] = ISNULL(cr.[OfferRank], 999)
			,	[OfferSegment] = ISNULL(cr.[Segment], 7)
		FROM [Email].[IronOfferMember] iom -- 11,816,364
		LEFT JOIN #OPE_CustomerRanking cr -- ##1
			ON iom.[CompositeID] = cr.[CompositeID]
			AND iom.[PartnerID] = cr.[PartnerID]
		ORDER BY	iom.[IronOfferID]
				,	iom.[CompositeID];

	/***************************************************************************************************
		5.3. Insert the memberships of the new offers into [Email].[OfferMemberships]
	***************************************************************************************************/
	
	--	DECLARE @Date DATE = (SELECT MIN([EmailDate]) FROM [Selections].[CampaignSetup_POS] WHERE GETDATE() < [EmailDate])

		TRUNCATE TABLE [Email].[OfferMemberAddition]

		INSERT INTO [Email].[OfferMemberAddition] WITH (TABLOCK)
		SELECT	oma.[IronOfferID]
			,	oma.[CompositeID]
			,	oma.[StartDate]
			,	oma.[EndDate]
			,	op.[PartnerID]
		FROM [Segmentation].[OfferMemberAddition] oma
		INNER JOIN #OfferPrioritisation op 
			ON op.[IronOfferID] = oma.[IronOfferID]
		INNER JOIN #Email_Base eb 
			ON oma.[CompositeID] = eb.[CompositeID]
		WHERE oma.[StartDate] <= @Date
		AND oma.[EndDate] > @Date
		ORDER BY	oma.[IronOfferID]
				,	oma.[CompositeID];
				
		INSERT INTO [Email].[OfferMemberships] WITH (TABLOCK) (	[PartnerID]
															,	[IronOfferID]
															,	[CompositeID]
															,	[StartDate]
															,	[EndDate]
															,	[OfferRank]
															,	[OfferSegment])
		SELECT	oma.[PartnerID]
			,	oma.[IronOfferID]
			,	oma.[CompositeID]
			,	oma.[StartDate]
			,	oma.[EndDate]
			,	[OfferRank] = ISNULL(cr.[OfferRank], 999)
			,	[OfferSegment] = ISNULL(cr.[Segment], 7)
		FROM [Email].[OfferMemberAddition] oma
		LEFT JOIN #OPE_CustomerRanking cr -- ##2 
			ON oma.[CompositeID] = cr.[CompositeID]
			AND oma.[PartnerID] = cr.[PartnerID]
		WHERE NOT EXISTS (	SELECT 1
							FROM [Email].[OfferMemberships] ofm
							WHERE oma.[CompositeID] = ofm.[CompositeID]
							AND oma.[PartnerID] = ofm.[PartnerID])	
		ORDER BY	oma.[IronOfferID]
				,	oma.[CompositeID];

/*******************************************************************************************************************************************
	6. Fetch all Offer Memberships that don't meet the necessary requirements for the newsletter
*******************************************************************************************************************************************/
	
		TRUNCATE TABLE [Email].[OfferMembershipsToRemove]

	/***************************************************************************************************
		6.1. Remove base offers from individuals with standard offers on the same partner
	***************************************************************************************************/
	
			/*******************************************************************************
				6.1.1. Fetch all base offers
			*******************************************************************************/

				DROP TABLE IF EXISTS #BaseOffers
				CREATE TABLE #BaseOffers (	[PartnerID] INT
										,	[IronOfferID] INT);

				CREATE CLUSTERED INDEX [CIX_PartnerOffer] ON #BaseOffers ([PartnerID], [IronOfferID]);
				CREATE NONCLUSTERED INDEX [IX_Offer] ON #BaseOffers ([IronOfferID]);

				INSERT INTO #BaseOffers (	[PartnerID]
										,	[IronOfferID])
				SELECT	[PartnerID]
					,	[IronOfferID]
				FROM #OfferPrioritisation
				WHERE [Base] = 1
				ORDER BY	[PartnerID]
				
			/*******************************************************************************
				6.1.2. Fetch customers assigned to another offer from the partner of a base offer
			*******************************************************************************/

				DROP TABLE IF EXISTS #OnBaseAndStandard
				CREATE TABLE #OnBaseAndStandard (	[PartnerID] INT
												,	[CompositeID] BIGINT);

				CREATE CLUSTERED INDEX [CIX_PartnerComp] ON #OnBaseAndStandard ([PartnerID], [CompositeID])

				INSERT INTO #OnBaseAndStandard ([PartnerID]
											,	[CompositeID])
				SELECT	[PartnerID]
					,	[CompositeID]
				FROM [Email].[OfferMemberships] om
				WHERE EXISTS (SELECT 1
							  FROM #BaseOffers bo
							  WHERE om.[PartnerID] = bo.[PartnerID])
				GROUP BY	[PartnerID]
						,	[CompositeID]
				HAVING COUNT(*) > 1
				ORDER BY	[PartnerID]
						,	[CompositeID]
						
			/*******************************************************************************
				6.1.3. Fetch the base offer that has been superceded by main offer
			*******************************************************************************/

				INSERT INTO [Email].[OfferMembershipsToRemove]
				SELECT	DISTINCT
						om.[IronOfferID]
					,	om.[CompositeID]
					,	'Base Offer Superceded'
				FROM [Email].[OfferMemberships] om
				WHERE EXISTS (SELECT 1
							  FROM #BaseOffers bo
							  WHERE om.[IronOfferID] = bo.[IronOfferID])
				AND EXISTS (SELECT 1
							FROM #OnBaseAndStandard obas
							WHERE om.[CompositeID] = obas.[CompositeID]
							AND om.[PartnerID] = obas.[PartnerID])
				ORDER BY	[IronOfferID]
						,	[CompositeID]
				OPTION (RECOMPILE);

				DROP TABLE IF EXISTS #BaseOffers
				DROP TABLE IF EXISTS #OnBaseAndStandard

	/***************************************************************************************************
		6.2. Find customers assigned multiple offers with the same partner
	***************************************************************************************************/

			/*******************************************************************************
				6.2.1. Fecth the customers that have multiple offers per partner
			*******************************************************************************/

				DROP TABLE IF EXISTS #DuplicatesPerPartner;
				CREATE TABLE #DuplicatesPerPartner ([PartnerID] INT
												,	[CompositeID] BIGINT);

				CREATE CLUSTERED INDEX [CIX_PartnerComp] ON #DuplicatesPerPartner ([PartnerID], [CompositeID])

				INSERT INTO #DuplicatesPerPartner (	[PartnerID]
												,	[CompositeID])
				SELECT	[PartnerID]
					,	[CompositeID]
				FROM [Email].[OfferMemberships] om
				WHERE NOT EXISTS (	SELECT 1
									FROM [Email].[OfferMembershipsToRemove] tr
									WHERE om.[CompositeID] = tr.[CompositeID]
									AND om.[IronOfferID] = tr.[IronOfferID])
				GROUP BY	[PartnerID]
						,	[CompositeID]
				HAVING COUNT(1) > 1
				OPTION (RECOMPILE);

				UPDATE STATISTICS #DuplicatesPerPartner

			/*******************************************************************************
				6.2.2. Remove all customers offers for the partner they were duplicated on
			*******************************************************************************/
			
				INSERT INTO [Email].[OfferMembershipsToRemove]
				SELECT	DISTINCT
						om.[IronOfferID]
					,	om.[CompositeID]
					,	'Partner duplicated on'
				FROM [Email].[OfferMemberships] om
				WHERE EXISTS (SELECT 1
							  FROM #DuplicatesPerPartner dpp
							  WHERE om.[PartnerID] = dpp.[PartnerID]
							  AND om.[CompositeID] = dpp.[CompositeID])
				AND NOT EXISTS (SELECT 1
								FROM [Email].[OfferMembershipsToRemove] tr
								WHERE om.[CompositeID] = tr.[CompositeID]
								AND om.[IronOfferID] = tr.[IronOfferID])
				OPTION (RECOMPILE);

	/***************************************************************************************************
		6.3. Remove all customers from offers that don't meet the given demographic targetting
	***************************************************************************************************/

			/*******************************************************************************
				6.3.1. Create the OPE Desirable list
			*******************************************************************************/

				DROP TABLE IF EXISTS #PartnerDesirable
				CREATE TABLE #PartnerDesirable ([PartnerID] INT
											,	[Gender] CHAR(1)
											,	[AgeMin] TINYINT
											,	[AgeMax] TINYINT
											,	[Private] BIT
											,	[CameoMin] VARCHAR(2)
											,	[CameoMax] VARCHAR(2))

				CREATE CLUSTERED INDEX [CIX_Partner] ON #PartnerDesirable ([PartnerID])
				
				INSERT INTO #PartnerDesirable (	[PartnerID]
											,	[Gender]
											,	[AgeMin]
											,	[AgeMax]
											,	[Private]
											,	[CameoMin]
											,	[CameoMax])
				SELECT	[PartnerID]
					,	[Gender]
					,	[AgeMin]
					,	[AgeMax]
					,	[Private]
					,	[CameoMin]
					,	[CameoMax]
				FROM [Email].[OPE_PartnerDesirable] opd
				WHERE [LiveRule] = 1
				AND EXISTS (SELECT 1
							FROM #OfferPrioritisation op
							WHERE opd.[PartnerID] = op.[PartnerID])
				OPTION (RECOMPILE);

			/*******************************************************************************
				6.3.2. Fetch memberships not meeting OPE desirable conditions
			*******************************************************************************/
			
				INSERT INTO [Email].[OfferMembershipsToRemove]
				SELECT	DISTINCT
						om.[IronOfferID]
					,	om.[CompositeID]
					,	'Not meeting OPE desirable conditions'
				FROM [Email].[OfferMemberships] om
				INNER JOIN #Email_Base eb
					ON om.[CompositeID] = eb.[CompositeID]
				INNER JOIN #PartnerDesirable pd
					ON om.[PartnerID] = pd.[PartnerID]
					AND ((pd.[Gender] IS NOT NULL AND eb.[Gender] !=  pd.[Gender]) 
					  OR (pd.[AgeMin] IS NOT NULL AND eb.[Age] < pd.[AgeMin]) 
					  OR (pd.[AgeMax] IS NOT NULL AND eb.[Age] > pd.[AgeMax]) 
					  OR (pd.[Private] IS NOT NULL AND eb.[Private] != pd.[Private]) 
					  OR (pd.[CameoMin] IS NOT NULL AND eb.[CameoGroup] < pd.[CameoMin])
					  OR (pd.[CameoMax] IS NOT NULL AND eb.[CameoGroup] > pd.[CameoMax]))
				WHERE NOT EXISTS (SELECT 1
								  FROM [Email].[OfferMembershipsToRemove] tr
								  WHERE om.[CompositeID] = tr.[CompositeID]
								  AND om.[IronOfferID] = tr.[IronOfferID])
				OPTION (RECOMPILE);

	/***************************************************************************************************
		6.5. Fetch all customers with less than 7 offer memberships
	***************************************************************************************************/

		;WITH
		LessThan7Slots AS (SELECT [CompositeID]
						   FROM [Email].[OfferMemberships] om
						   WHERE NOT EXISTS (	SELECT 1
												FROM [Email].[OfferMembershipsToRemove] tr
												WHERE om.[CompositeID] = tr.[CompositeID]
												AND om.[IronOfferID] = tr.[IronOfferID])
						   GROUP BY [CompositeID]
						   HAVING COUNT(1) < 7)
	
		INSERT INTO [Email].[OfferMembershipsToRemove]
		SELECT	DISTINCT
				om.[IronOfferID]
			,	om.[CompositeID]
			,	'Less than 7 offer memberships - Post Other Removals'
		FROM [Email].[OfferMemberships] om
		WHERE EXISTS (SELECT 1
					  FROM LessThan7Slots lt7
					  WHERE om.[CompositeID] = lt7.[CompositeID])
		AND NOT EXISTS (SELECT 1
					    FROM [Email].[OfferMembershipsToRemove] tr
					    WHERE om.[CompositeID] = tr.[CompositeID]
					    AND om.[IronOfferID] = tr.[IronOfferID])
		OPTION (RECOMPILE);

	/***************************************************************************************************
		6.6. Fetch the last set of offers each customer received
	***************************************************************************************************/

		DROP TABLE IF EXISTS #OffersToRotate;
		CREATE TABLE #OffersToRotate (	[CompositeID] BIGINT
									,	[IronOfferID] INT
									,	[OfferRank_New] INT)

		CREATE CLUSTERED INDEX [CIX_OfferComRank] ON #OffersToRotate ([IronOfferID], [CompositeID], [OfferRank_New])


		INSERT INTO #OffersToRotate
		SELECT	om.[CompositeID]
			,	om.[IronOfferID]
			,	[OfferRank_New] = [OfferRank] + CASE WHEN [OfferSegment] = 9 THEN 2 ELSE 5 END
		FROM [Email].[OfferMemberships] om
		WHERE EXISTS (	SELECT 1
						FROM [Email].[Newsletter_Offers] lso
						INNER JOIN (SELECT DISTINCT [IronOfferID], [PartnerID] FROM [Derived].[IronOffer]) iof
							ON lso.[ItemID] = iof.[IronOfferID]
						WHERE lso.[EmailSendDate] = @LastEmailDate
						AND lso.[TypeID] = 1
						AND om.[CompositeID] = lso.[CompositeID]
						AND om.[PartnerID] = iof.[PartnerID])
		AND NOT EXISTS (SELECT 1
						FROM #PartnerPrioritisation pp
						WHERE om.[PartnerID] = pp.[PartnerID]
						AND pp.[ToForceIn] = 1)
		OPTION (RECOMPILE);

/*******************************************************************************************************************************************
	7. Recreate Offer Memberships removing ineligible offers and using updated ranking
*******************************************************************************************************************************************/

	/***************************************************************************************************
		7.1. Fetch the set of eligible offer memberships
	***************************************************************************************************/

		TRUNCATE TABLE [Email].[OfferMembershipsUpdated]

		INSERT INTO [Email].[OfferMembershipsUpdated] WITH (TABLOCK) (	[PartnerID]
																	,	[IronOfferID]
																	,	[CompositeID]
																	,	[StartDate]
																	,	[EndDate]
																	,	[OfferSegment]
																	,	[OfferRank])
		SELECT	[PartnerID]
			,	[IronOfferID]
			,	[CompositeID]
			,	[StartDate]
			,	[EndDate]
			,	[OfferSegment]
			,	[OfferRank]
		FROM (	SELECT	om.[PartnerID]
					,	om.[IronOfferID]
					,	om.[CompositeID]
					,	om.[StartDate]
					,	om.[EndDate]
					,	om.[OfferSegment]
					,	[PriorityPartner] = CASE WHEN pp.[PartnerID] IS NULL THEN 0 ELSE 1 END
					,	[OfferRank] = ROW_NUMBER() OVER (PARTITION BY om.[CompositeID], om.[OfferSegment] ORDER BY ISNULL(otr.[OfferRank_New], om.[OfferRank]))
				FROM [Email].[OfferMemberships] om
				LEFT JOIN #PartnerPrioritisation pp
					ON om.[PartnerID] = pp.[PartnerID]
				LEFT JOIN #OffersToRotate otr
					ON om.[CompositeID] = otr.[CompositeID]
					AND om.[IronOfferID] = otr.[IronOfferID]
				WHERE NOT EXISTS (	SELECT 1
									FROM [Email].[OfferMembershipsToRemove] otr
									WHERE om.[CompositeID] = otr.[CompositeID]
									AND om.[IronOfferID] = otr.[IronOfferID])) d
		ORDER BY	[OfferRank]
				,	[PartnerID]
		OPTION (RECOMPILE);

	/***************************************************************************************************
		7.2. Create new ranked list of offer memberships
	***************************************************************************************************/

		DROP TABLE IF EXISTS #OfferMembershipsRanked
		CREATE TABLE #OfferMembershipsRanked (	[PartnerID] INT
											,	[IronOfferID] INT
											,	[CompositeID] BIGINT
											,	[StartDate] DATETIME
											,	[EndDate] DATETIME
											,	[OfferSegment] INT
											,	[OfferRank] INT)
	
		CREATE CLUSTERED INDEX [CIX_OfferCompPartner] ON #OfferMembershipsRanked ([IronOfferID],[CompositeID],[PartnerID])
		CREATE NONCLUSTERED INDEX [IX_PremiumRank_IncPartner] ON #OfferMembershipsRanked ([OfferRank]) INCLUDE ([PartnerID])
	
		INSERT INTO #OfferMembershipsRanked
		SELECT	omu.[PartnerID]
			,	omu.[IronOfferID]
			,	omu.[CompositeID]
			,	omu.[StartDate]
			,	omu.[EndDate]
			,	omu.[OfferSegment]
			,	[OfferRank] = ROW_NUMBER() OVER (PARTITION BY omu.[CompositeID], omu.[OfferSegment] ORDER BY omu.[OfferRank])
		FROM [Email].[OfferMembershipsUpdated] omu
		
		DELETE omr
		FROM #OfferMembershipsRanked omr
		WHERE [OfferRank] > 14
		AND NOT EXISTS (SELECT 1
						FROM #PartnerPrioritisation pp
						WHERE omr.[PartnerID] = pp.[PartnerID])

/*******************************************************************************************************************************************
	8. Run through Partner Conflicts rules
*******************************************************************************************************************************************/

	/***************************************************************************************************
		8.1. Run bespoke dedupe for all 6 IHG Brands
	***************************************************************************************************/

		DROP TABLE IF EXISTS #IHG
		SELECT	[CompositeID]
			,	[PartnerID]
			,	[CustomerOfferRank] = ROW_NUMBER() OVER (PARTITION BY [CompositeID] ORDER BY ABS(CHECKSUM(NEWID())))
		INTO #IHG
		FROM #OfferMembershipsRanked
		WHERE [PartnerID] IN (4751,4752,4753,4726,4727,4728,4911)

		DELETE om
		FROM #OfferMembershipsRanked om
		WHERE EXISTS (SELECT 1
					  FROM #IHG ihg
					  WHERE om.[CompositeID] = ihg.[CompositeID]
					  AND om.[PartnerID] = ihg.[PartnerID]
					  AND ihg.[CustomerOfferRank] > 2)

		DROP TABLE IF EXISTS #IHG_Grouped
		SELECT	[CompositeID]
			,	[PartnerID]
			,	[CustomerOfferRank] = ROW_NUMBER() OVER (PARTITION BY [CompositeID] ORDER BY ABS(CHECKSUM(NEWID())))
		INTO #IHG_Grouped
		FROM #OfferMembershipsRanked
		WHERE [PartnerID] IN (5076, 5077, 5075, 5264)

		DELETE om
		FROM #OfferMembershipsRanked om
		WHERE EXISTS (SELECT 1
					  FROM #IHG_Grouped ihg
					  WHERE om.[CompositeID] = ihg.[CompositeID]
					  AND om.[PartnerID] = ihg.[PartnerID]
					  AND ihg.[CustomerOfferRank] > 1)

	/***************************************************************************************************
		8.3. Fetch all required Partner Conflict Rules
	***************************************************************************************************/
		
		DROP TABLE IF EXISTS #OPE_PartnerConflict;
		WITH
		OPE_PartnerConflict AS (	SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY [ExecutionOrder])
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
										,	[PartnersPerRule] = COUNT(1) OVER (PARTITION BY [RuleID])
									FROM [Email].[OPE_PartnerConflict] pc
									WHERE [LiveRule] = 1
									AND [RuleID] != 21),	--	IHG

		MultiplePartners AS (		SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[NewRuleID] = RANK() OVER (PARTITION BY [RuleID] ORDER BY NEWID())
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount] = 2
										,	[PartnerToRemove]
										,	[PartnersPerRule]
									FROM OPE_PartnerConflict
									WHERE [RuleTypeID] = 1
									AND [PartnersPerRule] = 3),

		SplitRulesToAdd AS (		SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY mp1.[RuleID], mp2.[NewRuleID]) + (SELECT MAX([RuleID]) FROM OPE_PartnerConflict)
										,	mp1.[ExecutionOrder]
										,	mp1.[RuleTypeID]
										,	mp1.[PartnerID]
										,	mp1.[PercentageOfCustomers]
										,	mp1.[MaxMembershipsCount]
										,	mp1.[RequiredMembershipsCount]
										,	mp1.[PartnerToRemove]
										,	mp1.[PartnersPerRule]
									FROM MultiplePartners mp1
									INNER JOIN MultiplePartners mp2
										ON mp1.[RuleID] = mp2.[RuleID]
										AND mp1.[PartnerID] != mp2.[PartnerID]),

		PartnerConflictRules AS (	SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
									FROM OPE_PartnerConflict
									UNION
									SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
									FROM SplitRulesToAdd)

		SELECT	[RuleID]
			,	[RuleTypeID]
			,	[PartnerID]
			,	[PercentageOfCustomers]
			,	[CustomerNtileMin] = COALESCE(LAG([CustomerNtileMax], 1) OVER (PARTITION BY [RuleID] ORDER BY [CustomerNtileMax]), 0)
			,	[CustomerNtileMax]
			,	[MaxMembershipsCount]
			,	[RequiredMembershipsCount]
			,	[PartnerToRemove]
		INTO #OPE_PartnerConflict
		FROM (	SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY [RuleID])
					,	[RuleTypeID]
					,	[PartnerID]
					,	[PercentageOfCustomers]
					,	[CustomerNtileMax] = SUM([PercentageOfCustomers]) OVER (PARTITION BY [RuleID] ORDER BY [PercentageOfCustomers], [PartnerID])
					,	[MaxMembershipsCount]
					,	[RequiredMembershipsCount]
					,	[PartnerToRemove]
				FROM (	SELECT	DISTINCT
								pc.[PartnerID]
							,	pc.[RuleID]
							,	pc.ExecutionOrder
							,	pc.[RuleTypeID]
							,	pc.[MaxMembershipsCount]
							,	pc.[RequiredMembershipsCount]
							,	pc.[PartnerToRemove]
							,	[PercentageOfCustomers] = [PercentageOfCustomers] / SUM(pc.[PercentageOfCustomers]) OVER (PARTITION BY pc.[RuleID]) * 100
						FROM PartnerConflictRules pc) a) pc

		CREATE CLUSTERED INDEX [CIX_PartnerID] ON #OPE_PartnerConflict ([PartnerID])

	/*******************************************************************************
		8.3. Loop through each of the Conflict Rules removing as required
	*******************************************************************************/

		DECLARE @PCRRuleID INT
			  , @PCRMaxRuleID INT

		SELECT @PCRRuleID = MIN([RuleID])
			 , @PCRMaxRuleID = MAX([RuleID])
		FROM #OPE_PartnerConflict

		WHILE @PCRRuleID <= @PCRMaxRuleID
			BEGIN
						
				DROP TABLE IF EXISTS #CustomersToRemove;
				WITH													
				CustomersPartnerCounts AS (	SELECT	om.[CompositeID]
												,	[RequiredMembershipsCount] = MIN(pc.[RequiredMembershipsCount])
												,	[OffersPerCustomer] = COUNT(DISTINCT om.[PartnerID])
											FROM #OfferMembershipsRanked om
											INNER JOIN #OPE_PartnerConflict pc
	  											ON om.[PartnerID] = pc.[PartnerID]
											WHERE pc.[RuleID] = @PCRRuleID
											GROUP BY om.[CompositeID]),
														   						
				CustomersOnBothPartners AS (SELECT	oc.[CompositeID]
												,	oc.[RandomNumber]
											FROM CustomersPartnerCounts cpc
											INNER JOIN [Email].[OPE_Customer] oc
												ON cpc.[CompositeID] = oc.[CompositeID]
											WHERE [OffersPerCustomer] >= [RequiredMembershipsCount]),		
																					
				CustomerRankings AS (	SELECT	cbp.[CompositeID]
											,	om.[IronOfferID]
											,	om.[PartnerID]
											,	pc.[CustomerNtileMin]
											,	pc.[CustomerNtileMax]
											,	cbp.[RandomNumber]
											,	[CustomerRank] = NTILE(100) OVER (ORDER BY [RandomNumber] DESC)
										FROM CustomersOnBothPartners cbp
										INNER JOIN #OfferMembershipsRanked om
	  										ON om.[CompositeID] = cbp.[CompositeID]
										INNER JOIN #OPE_PartnerConflict pc
	  										ON om.[PartnerID] = pc.[PartnerID]
										WHERE pc.[RuleID] = @PCRRuleID),

				CustomersToRemove AS (	SELECT	[CompositeID]
											,	[IronOfferID]
											,	[PartnerID]
											,	[CustomerNtileMin]
											,	[CustomerNtileMax]
											,	[CustomerRank] = AVG(	CASE
																			WHEN CustomerRank = 100 THEN 99
																			ELSE CustomerRank
																		END * 1.0) OVER (PARTITION BY [CompositeID])
										FROM CustomerRankings)
													  	
				SELECT	[CompositeID]
					,	[IronOfferID]
					,	[PartnerID]
					,	[CustomerNtileMin]
					,	[CustomerNtileMax]
					,	[CustomerRank]
					,	[WithinNTileRange] =	CASE
													WHEN [CustomerNtileMin] < [CustomerRank] * 1.0 AND [CustomerRank] * 1.0 <= [CustomerNtileMax] THEN 1
													ELSE 0
												END
				INTO #CustomersToRemove
				FROM CustomersToRemove

				CREATE CLUSTERED INDEX [CIX_CompIron] ON #CustomersToRemove ([WithinNTileRange], [CompositeID], [IronOfferID])

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 1
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 0

					END

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 2
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 1

					END

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 3
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 1

					END

				SET @PCRRuleID = (SELECT MIN([RuleID]) FROM #OPE_PartnerConflict WHERE [RuleID] > @PCRRuleID)

			END	-- End While @PCRRuleID <= @PCRMaxRuleID
		
		DROP TABLE IF EXISTS #OPE_PartnerConflict
		DROP TABLE IF EXISTS #CustomersToRemove

/*******************************************************************************************************************************************
	9. Assign Offer Slots
*******************************************************************************************************************************************/
	
	TRUNCATE TABLE [Email].[NominatedLionSendComponent]

	/***************************************************************************************************
		9.1. Assign Offer Slots for OPE 2
	***************************************************************************************************/

		/***************************************************************************************************
			9.1.1. Assign Force In Retailers
		***************************************************************************************************/

			DROP TABLE IF EXISTS #LionSend
			CREATE TABLE #LionSend ([PartnerID] INT
								,	[IronOfferID] INT
								,	[CompositeID] BIGINT
								,	[StartDate] DATETIME
								,	[EndDate] DATETIME
								,	[OfferRank] INT)

			CREATE CLUSTERED INDEX CIX_CompOfferRank ON #LionSend ([CompositeID], [IronOfferID], [OfferRank]) WITH (FILLFACTOR = 60)

			INSERT INTO #LionSend
			SELECT	[PartnerID]
				,	[IronOfferID]
				,	[CompositeID]
				,	[StartDate]
				,	[EndDate]
				,	[OfferRank]
			FROM #OfferMembershipsRanked omr
			WHERE EXISTS (	SELECT 1
							FROM #PartnerPrioritisation pp
							WHERE omr.[PartnerID] = pp.[PartnerID])

			;WITH
			Deleter AS (SELECT	[CompositeID]
							,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY ls.[CompositeID] ORDER BY ls.[OfferRank])
						FROM #LionSend ls)

			DELETE
			FROM Deleter
			WHERE [NewOfferRank] > 7
			
		/***************************************************************************************************
			9.1.2. Assign Top Shopper Offers
		***************************************************************************************************/
			
			;WITH
			ShopperOffers AS (	SELECT	omr.[PartnerID]
									,	omr.[IronOfferID]
									,	omr.[CompositeID]
									,	omr.[StartDate]
									,	omr.[EndDate]
									,	omr.[OfferRank]
									,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY omr.[CompositeID] ORDER BY omr.[OfferRank])
								FROM #OfferMembershipsRanked omr
								WHERE omr.[OfferSegment] = 9
								AND NOT EXISTS (SELECT 1
												FROM #LionSend ls
												WHERE omr.[CompositeID] = ls.[CompositeID]
												AND omr.[IronOfferID] = ls.[IronOfferID])),

			OffersPerCustomer AS (	SELECT	ls.[CompositeID]
										,	[OffersPerCustomer] = COUNT(*)
									FROM #LionSend ls
									GROUP BY [CompositeID])

			INSERT INTO #LionSend
			SELECT	so.[PartnerID]
				 ,	so.[IronOfferID]
				 ,	so.[CompositeID]
				 ,	so.[StartDate]
				 ,	so.[EndDate]
				 ,	so.[OfferRank]
			FROM ShopperOffers so
			LEFT JOIN OffersPerCustomer ctr
				ON so.[CompositeID] = ctr.[CompositeID]
			WHERE [NewOfferRank] <= 2
			AND so.[NewOfferRank] + COALESCE(ctr.[OffersPerCustomer], 0) <= 7

		/***************************************************************************************************
			9.1.3. Assign Top Acquire Offers
		***************************************************************************************************/

			;WITH
			AcquireOffers AS (	SELECT	omr.[PartnerID]
									,	omr.[IronOfferID]
									,	omr.[CompositeID]
									,	omr.[StartDate]
									,	omr.[EndDate]
									,	omr.[OfferRank]
									,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY omr.[CompositeID] ORDER BY omr.[OfferSegment], omr.[OfferRank])
								FROM #OfferMembershipsRanked omr
								WHERE NOT EXISTS (	SELECT 1
													FROM #LionSend ls
													WHERE omr.[CompositeID] = ls.[CompositeID]
													AND omr.[IronOfferID] = ls.[IronOfferID])),

			OffersPerCustomer AS (	SELECT	ls.[CompositeID]
										,	[OffersPerCustomer] = COUNT(*)
									FROM #LionSend ls
									GROUP BY [CompositeID])

			INSERT INTO #LionSend
			SELECT	ao.[PartnerID]
				,	ao.[IronOfferID]
				,	ao.[CompositeID]
				,	ao.[StartDate]
				,	ao.[EndDate]
				,	ao.[OfferRank]
			FROM AcquireOffers ao
			LEFT JOIN OffersPerCustomer ctr
				ON ao.[CompositeID] = ctr.[CompositeID]
			WHERE ao.[NewOfferRank] + COALESCE(ctr.[OffersPerCustomer], 0) <= 7

		/***************************************************************************************************
			9.1.4. Insert ordered list to [Email].[NominatedLionSendComponent]
		***************************************************************************************************/
	
			DROP TABLE IF EXISTS #NominatedLionSendComponent
			CREATE TABLE #NominatedLionSendComponent (	[LionSendID] INT
													,	[CompositeID] BIGINT
													,	[ItemRank] INT
													,	[ItemID] INT
													,	[StartDate] DATETIME
													,	[EndDate] DATETIME)

			CREATE CLUSTERED INDEX CIX_CompItemRankIronOfferID ON #NominatedLionSendComponent ([CompositeID], [ItemRank], [ItemID]) WITH (FILLFACTOR = 75)
			
			INSERT INTO #NominatedLionSendComponent
			SELECT	eb.[LionSendID]
				,	eb.[CompositeID]
				,	[ItemRank] = ROW_NUMBER() OVER (PARTITION BY eb.[CompositeID] ORDER BY ls.[OfferRank]) 
				,	[ItemID] = ls.[IronOfferID]
				,	ls.[StartDate]
				,	ls.[EndDate]
			FROM #LionSend ls
			INNER JOIN #Email_Base eb
				ON ls.[CompositeID] = eb.[CompositeID]

	/***************************************************************************************************
		9.2. Reorder for force in's
	***************************************************************************************************/

		DECLARE	@ReorderRowNo INT = (SELECT MIN([RowNo]) FROM #PartnerPrioritisation WHERE [OfferSlot] > 0)
			  , @ReorderMaxRowNo INT = (SELECT MAX([RowNo]) FROM #PartnerPrioritisation WHERE [OfferSlot] > 0)

		WHILE @ReorderRowNo <= @ReorderMaxRowNo
			BEGIN

				DROP TABLE IF EXISTS #CustomerToReorder
				SELECT	[CompositeID]
					,	pp.[PartnerID]
					,	op.[IronOfferID]
					,	[CurrentItemRank] = ls.[ItemRank]
					,	[TargetOfferSlot] = pp.[OfferSlot]
					,	[DifferenceBetweenSlots] = ls.[ItemRank] - pp.[OfferSlot]
				INTO #CustomerToReorder
				FROM #PartnerPrioritisation pp
				INNER JOIN #OfferPrioritisation op
					ON pp.[PartnerID] = op.[PartnerID]
				INNER JOIN #NominatedLionSendComponent ls
					ON op.[IronOfferID] = ls.[ItemID]
				WHERE pp.[RowNo] = @ReorderRowNo
				AND ls.[ItemRank] != pp.[OfferSlot]

				CREATE CLUSTERED INDEX CIX_Comp ON #CustomerToReorder ([CompositeID])
							
				UPDATE ls
				SET [ItemRank] = CASE
									WHEN ls.[ItemID] = ctr.[IronOfferID] THEN ctr.[TargetOfferSlot]	--	@ItemRank
									WHEN ls.[ItemRank] < ctr.[CurrentItemRank] AND ls.[ItemRank] < ctr.[TargetOfferSlot] THEN [ItemRank]
									WHEN ls.[ItemRank] < ctr.[CurrentItemRank] AND ls.[ItemRank] >= ctr.[TargetOfferSlot] THEN [ItemRank] + 1
									WHEN ls.[ItemRank] > ctr.[CurrentItemRank] AND ls.[ItemRank] <= ctr.[TargetOfferSlot]  THEN [ItemRank] - 1
									WHEN ls.[ItemRank] > ctr.[CurrentItemRank] AND ls.[ItemRank] > ctr.[TargetOfferSlot]  THEN [ItemRank]
								END
				FROM #NominatedLionSendComponent ls
				INNER JOIN #CustomerToReorder ctr
					ON ls.[CompositeID] = ctr.[CompositeID]

				SET @ReorderRowNo = (SELECT MIN([RowNo]) FROM #PartnerPrioritisation WHERE @ReorderRowNo < [RowNo] AND [OfferSlot] > 0)

			END

	/***************************************************************************************************
		9.3. Insert to [Email].[NominatedLionSendComponent]
	***************************************************************************************************/

		INSERT INTO [Email].[NominatedLionSendComponent] (	[LionSendID]
														,	[CompositeID]
														,	[TypeID]
														,	[ItemRank]
														,	[ItemID]
														,	[StartDate]
														,	[EndDate]
														,	[Date])
		SELECT	ls.[LionSendID]
			,	ls.[CompositeID]
			,	[TypeID] = 1
			,	ls.[ItemRank]
			,	ls.[ItemID]
			,	ls.[StartDate]
			,	ls.[EndDate]
			,	[Date] = GETDATE()
		FROM #NominatedLionSendComponent ls
	
		UPDATE STATISTICS [Email].[NominatedLionSendComponent]

	/***************************************************************************************************
		9.4. Remove customers from [Email].[NominatedLionSendComponent] with less than 7 slots
	***************************************************************************************************/

		;WITH
		CustomersToRemove AS (	SELECT ls.[CompositeID]
								FROM [Email].[NominatedLionSendComponent] ls
								GROUP BY [CompositeID]
								HAVING COUNT([ItemID]) != 7)
		
		DELETE ls
		FROM [Email].[NominatedLionSendComponent] ls
		WHERE EXISTS (	SELECT 1
						FROM CustomersToRemove ctr
						WHERE ls.[CompositeID] = ctr.[CompositeID])

/*******************************************************************************************************************************************
	10. Execute BOPE logic to assign members their top 5 redemption offers
*******************************************************************************************************************************************/

--	DECLARE @JokerSlotPartners_CommaSeperated VARCHAR(50) = ''
	
	EXEC [Email].[BOPE_AssignMembers] @JokerSlotPartners_CommaSeperated

/*******************************************************************************************************************************************
	11. Producing the sample data
*******************************************************************************************************************************************/

	EXEC [Email].[Newsletter_LoadSampleCustomers]

	UPDATE STATISTICS [Email].[NominatedLionSendComponent_RedemptionOffers]

/*******************************************************************************************************************************************
	12. Checks on counts across the offer memberships
*******************************************************************************************************************************************/

	/***************************************************************************************************
		12.1. Check customers aren't on multiple offers per partner
	***************************************************************************************************/
	
		;WITH
		MultipleOffersPerPartner AS (	SELECT	[PartnerID]
											,	[CompositeID]
											,	[LionSendID]
										FROM [Email].[NominatedLionSendComponent] ls
										INNER JOIN #OfferPrioritisation op
											ON ls.ItemID = op.[IronOfferID]
										GROUP BY 	[PartnerID]
												,	[CompositeID]
												,	[LionSendID]
										HAVING COUNT(1) > 1),

		MultipleOffersPerPartner_VARCHAR AS (	SELECT	CONVERT(VARCHAR(25), [PartnerID]) AS [PartnerID]
													,	CONVERT(VARCHAR(25), [CompositeID]) AS [CompositeID]
												FROM MultipleOffersPerPartner)
									 

		SELECT	DISTINCT
				[PartnerID] + ' - ' + [CompositeID] AS [Check customers aren't on multiple offers per partner]
		FROM MultipleOffersPerPartner_VARCHAR

	/***************************************************************************************************
		12.2. Check all cases where demographic filtering should be applied, has been
	***************************************************************************************************/

		DROP TABLE IF EXISTS #MeetingPartnerDemographic
		SELECT	op.[PartnerID]
			,	pa.[PartnerName]
			,	pd.[Gender]
			,	pd.[AgeMin]
			,	pd.[AgeMax]
			,	pd.[Private]
			,	pd.[CameoMin]
			,	pd.[CameoMax]
			,	[minGender] = MIN(eb.[Gender])
			,	[maxGender] = MAX(eb.[Gender])
			,	[MinAge] = MIN(eb.[Age])
			,	[MaxAge] = MAX(eb.[Age])
			,	[MinPrivate] = MIN(CONVERT(TINYINT, eb.[Private]))
			,	[MaxPrivate] = MAX(CONVERT(TINYINT, eb.[Private]))
			,	[MinCameo] = MIN(eb.[CameoGroup])
			,	[MaxCameo] = MAX(eb.[CameoGroup])
		INTO #MeetingPartnerDemographic
		FROM [Email].[NominatedLionSendComponent] ls
		INNER JOIN #OfferPrioritisation op
			ON ls.ItemID = op.[IronOfferID]
		INNER JOIN #Email_Base eb
			ON ls.[CompositeID] = eb.[CompositeID]
		INNER JOIN #PartnerDesirable pd
			ON op.[PartnerID] = pd.[PartnerID]
		INNER JOIN [Derived].[Partner] pa
			ON op.[PartnerID] = pa.[PartnerID]
		GROUP BY	op.[PartnerID]
				,	pa.[PartnerName]
				,	pd.[Gender]
				,	pd.[AgeMin]
				,	pd.[AgeMax]
				,	pd.[Private]
				,	pd.[CameoMin]
				,	pd.[CameoMax]

	/***************************************************************************************************
		12.3. Spot check of all senior staff newsletter assignments
	***************************************************************************************************/
	
		DROP TABLE IF EXISTS #SeniorStaffAssignment
		SELECT	ls.[LionSendID]
			,	ls.[CompositeID]
			,	ssa.[FirstName]
			,	ssa.[LastName]
			,	ls.[ItemRank]
			,	ls.[ItemID]
			,	iof.[TopCashBackRate]
			,	iof.[IronOfferName]
		INTO #SeniorStaffAssignment
		FROM [Email].[NominatedLionSendComponent] ls
		INNER JOIN [Selections].[PrioritisedCustomerAccounts] ssa
			ON ls.[CompositeID] = ssa.[CompositeID]
		INNER JOIN #Email_Base eb
			ON ls.[CompositeID] = eb.[CompositeID]
		LEFT JOIN [Derived].[IronOffer] iof
			ON ls.ItemID = iof.[IronOfferID]
		ORDER BY	[CompositeID]
				,	[ItemRank]

	/***************************************************************************************************
		12.4. Check the total counts of all customers, offer memberships
	***************************************************************************************************/

		;WITH
		CustomerCounts AS (	SELECT	eb.[LionSendID]
								,	eb.[ClubID]
								,	eb.[Private]
								,	[Customers] = COUNT(DISTINCT eb.[CompositeID])
							FROM #Email_Base eb
							WHERE EXISTS (SELECT 1
										   FROM [Email].[NominatedLionSendComponent] ls
										   WHERE ls.[CompositeID] = eb.[CompositeID])
							GROUP BY	eb.[LionSendID]
									,	eb.[ClubID]
									,	eb.[Private])

		UPDATE ls
		SET ls.[Customers] = cc.[Customers]
		FROM CustomerCounts cc
		INNER JOIN #LionSendCountsChecks ls
			ON cc.[LionSendID] = ls.[LionSendID]
			AND cc.[ClubID] = ls.[Brand]
			AND cc.[Private] = ls.[Loyalty]

	/***********************************************************************************************************************
		12.5. Update [WH_AllPublishers].[Email].[EmailSend] table
	***********************************************************************************************************************/

		;WITH
		CustomerCounts AS (	SELECT	ls.[LionSendID]
								,	[Customers] = COUNT(DISTINCT ls.[CompositeID])
							FROM [Email].[NominatedLionSendComponent] ls
							GROUP BY	ls.[LionSendID])
		
		UPDATE es
		SET es.[TotalMembers] = cc.[Customers]
		FROM CustomerCounts cc
		INNER JOIN [WH_AllPublishers].[Email].[EmailSend] es
			ON cc.[LionSendID] = es.[ID]
			AND es.[Scheme] = 'Vanquis'

	/***********************************************************************************************************************
		12.6. Add entry to R_0183_LionSendVolumesCheck table
	***********************************************************************************************************************/
	
		DELETE
		FROM [Report].[NewsletterVolumes]
		WHERE [EmailSendDate] > GETDATE()

		INSERT INTO [Report].[NewsletterVolumes]
		SELECT	[LionSendID]
			,	[EmailSendDate]
			,	[Brand] =	CASE
								WHEN Brand = 2069 THEN 'Vanquis'
								ELSE 'Unknown'
							END
			,	[UsersSelectedForLionSend] = [Customers]
			,	[UsersUploadedSFD] = NULL
			,	[UsersAfterSFDValidation] = NULL
			,	[UsersEmailed] = NULL
		FROM #LionSendCountsChecks
		WHERE [Customers] IS NOT NULL

/*******************************************************************************************************************************************
	13. Prepare Lion Send for upload to SFD
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		13.1. Populate Warehouse.[SmartEmail].[OfferSlotData]
	***********************************************************************************************************************/

		EXEC [Email].[Newsletter_OfferSlotData_Populate]
	
		UPDATE STATISTICS [Email].[OfferSlotData]

	/***********************************************************************************************************************
		13.2. Populate [SmartEmail].[RedeemOfferSlotData]
	***********************************************************************************************************************/

		EXEC [Email].[Newsletter_RedeemOfferSlotData_Populate]	-- UPDATE to replace null end dates
	
		UPDATE STATISTICS [Email].[RedeemOfferSlotData]

	/***********************************************************************************************************************
		13.4. Check counts from [Email].[NominatedLionSendComponent] match [SmartEmail].[OfferSlotData]
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #OverallCounts
		;WITH
		NominatedLionSendComponent AS (	SELECT	[LionSendID]
											,	[Customers_NominatedLionSendComponent] = COUNT(*) / 7
										FROM [Email].[NominatedLionSendComponent]
										GROUP BY	[LionSendID]),

		OfferSlotData AS (	SELECT	[LionSendID]
								,	[Customers_OfferSlotData] = COUNT(*)
							FROM [Email].[OfferSlotData]
							GROUP BY	[LionSendID]),
						  
		NominatedLionSendComponent_RedemptionOffers AS (	SELECT	[LionSendID]
																,	[Customers_NominatedLionSendComponent_RedemptionOffers] = COUNT(*) / 5
															FROM [Email].[NominatedLionSendComponent_RedemptionOffers]
															GROUP BY		[LionSendID]),

		RedeemOfferSlotData AS (	SELECT	[LionSendID]
										,	[Customers_RedeemOfferSlotData] = COUNT(*)
									FROM [Email].[RedeemOfferSlotData]
									GROUP BY	[LionSendID])

		SELECT	[LionSendID] = COALESCE(nlsc.[LionSendID], osd.[LionSendID], nlscr.[LionSendID], rosd.[LionSendID])
			,	[Customers_NominatedLionSendComponent] = MAX(nlsc.[Customers_NominatedLionSendComponent])
			,	[Customers_OfferSlotData] = MAX(osd.[Customers_OfferSlotData])
			,	[Customers_NominatedLionSendComponent_RedemptionOffers] = MAX(nlscr.[Customers_NominatedLionSendComponent_RedemptionOffers])
			,	[Customers_RedeemOfferSlotData] = MAX(rosd.[Customers_RedeemOfferSlotData])
		INTO #OverallCounts
		FROM NominatedLionSendComponent nlsc
		FULL OUTER JOIN OfferSlotData osd
			ON nlsc.[LionSendID] = osd.[LionSendID]
		FULL OUTER JOIN NominatedLionSendComponent_RedemptionOffers nlscr
			ON nlsc.[LionSendID] = nlscr.[LionSendID]
		FULL OUTER JOIN RedeemOfferSlotData rosd
			ON nlsc.[LionSendID] = rosd.[LionSendID]
		GROUP BY	COALESCE(nlsc.[LionSendID], osd.[LionSendID], nlscr.[LionSendID], rosd.[LionSendID])
		ORDER BY	COALESCE(nlsc.[LionSendID], osd.[LionSendID], nlscr.[LionSendID], rosd.[LionSendID])

END

GO
