USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [MIDI].[CurrencyUpdater]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[CurrencyUpdater]
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT

DECLARE	@msg NVARCHAR(4000)
	,	@Rows INT

--------------------------------------------------------------------------------------------------------------------------
-- If there's no data to process, drop out
--------------------------------------------------------------------------------------------------------------------------

	SELECT @RowsAffected = COUNT(*) FROM [Trans].[ConsumerTransaction] ct WHERE ct.[Amount] IS NULL

	IF @RowsAffected = 0 BEGIN
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - No rows to process'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		RETURN 0
	END

	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Program started'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

--------------------------------------------------------------------------------------------------------------------------
--	Identify entries that need to be updated
--------------------------------------------------------------------------------------------------------------------------

	DROP TABLE IF EXISTS #CT
	SELECT	ct.[CurrencyCode]
		,	[TranDate] = CONVERT(DATE, ct.[TranDate])
	INTO #CT
	FROM [Trans].[ConsumerTransaction] ct
	WHERE ct.[Amount] IS NULL
	GROUP BY	ct.[CurrencyCode]
			,	CONVERT(DATE, ct.[TranDate])

--------------------------------------------------------------------------------------------------------------------------
--	Pull all currencies
--------------------------------------------------------------------------------------------------------------------------

	DROP TABLE IF EXISTS #CCR
	SELECT	ccr.[FromCurrency]
		,	ccr.[Date]
		,	ccr.[ConversionRate]
	INTO #CCR
	FROM [WH_AllPublishers].[Derived].[CurrencyConversionRate] ccr
	WHERE ccr.[ToCurrency] = 'GBP'
	AND EXISTS (SELECT 1
				FROM #CT ct
				WHERE ccr.[FromCurrency] = ct.[CurrencyCode]
				AND ccr.[Date] = ct.[TranDate])

	CREATE CLUSTERED INDEX [CIX_All] ON #CCR ([Date], [FromCurrency], [ConversionRate])

--------------------------------------------------------------------------------------------------------------------------
--	Loop through tranactions updating the Amount
--------------------------------------------------------------------------------------------------------------------------
	
	DECLARE @COUNT BIGINT = 0
		,	@RowCount INT = 0

	WHILE 1 = 1
		BEGIN

			WITH
			UPDATER AS (SELECT	TOP 100000
								[Amount]
							,	[Amount_OriginalCurrency]
							,	[NewAmount]= CONVERT(DECIMAL(32,2), [Amount_OriginalCurrency] * [ConversionRate])
						FROM [Trans].[ConsumerTransaction] ct
						INNER JOIN #CCR ccr
							ON ct.[CurrencyCode] = ccr.[FromCurrency]
							AND CONVERT(DATE, ct.[TranDate]) = ccr.[Date]
						WHERE ct.[Amount] IS NULL)

			UPDATE UPDATER
			SET [Amount] = [NewAmount]

			SET @RowCount = @@ROWCOUNT

			IF @RowCount = 0 BREAK

			SET @COUNT = @COUNT + @RowCount

		END


	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' updated ' + CONVERT(VARCHAR(255), @COUNT) + ' rows'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
END

RETURN 0

GO
