USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Monitor].[ProcessLogger]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Monitor].[ProcessLogger] 
	(
		@ProcessName VARCHAR(50),
		@Activity VARCHAR(200),
		@iTime DATETIME OUTPUT,
		@SSMS BIT OUTPUT
	)
AS

	DECLARE @msg VARCHAR(8000)

	IF @SSMS IS NULL -- First time in, is this program called from SSMS?
	BEGIN
		IF 'Microsoft SQL Server Management Studio - Query' = (SELECT PROGRAM_NAME FROM master.dbo.sysprocesses WHERE spid = @@spid) 
		BEGIN	
			SET @SSMS = 1
		END
		ELSE
			SET @SSMS = 0
	END

	IF @SSMS IN (0,2) BEGIN
		INSERT INTO monitor.ProcessLog (ProcessName, ActionName)
		VALUES (@ProcessName, @Activity)
	END
	
	IF @SSMS IN (1,2) BEGIN
		IF @iTime is null
			SET @msg = CONVERT(varchar,GETDATE(),127) + ' :  ' + @ProcessName + ' - ' + @Activity
		ELSE
			SET @msg = CONVERT(varchar,GETDATE(),127) + ' :  ' + @ProcessName + ' - ' + @Activity + '  >>>>>  Time Taken: ' + cast(DATEDIFF(s,@iTime,getdate()) as varchar) + ' secs'
		
		RAISERROR(@msg,0,1) WITH NOWAIT
	
	END

	SET @iTime = GETDATE()


RETURN 0

GO
