USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Monitor].[ProcessLog_Insert]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Monitor].[ProcessLog_Insert]
	(
		@ProcessName VARCHAR(50)
		, @ActionName VARCHAR(200)
		, @IsError BIT = 0
	)
AS
	
SET NOCOUNT ON;

INSERT INTO monitor.ProcessLog 
	(ProcessName, ActionName, IsError)
VALUES (@ProcessName, @ActionName, @IsError)


RETURN 0

GO
