USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Segmentation].[OfferProcessLog_Populate]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Segmentation].[OfferProcessLog_Populate] @PublisherID INT

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Pull list of all offers for the selected publisher that need to be pushed to production
		*******************************************************************************************************************************************/
		
		--	DECLARE @PublisherID INT = 2069

			DROP TABLE IF EXISTS #OfferProcessLog
			SELECT	DISTINCT
					oma.[IronOfferID]
				,	oma.[AddedDate]
				,	[PublisherID] = @PublisherID
			INTO #OfferProcessLog
			FROM [Segmentation].[OfferMemberAddition] oma
			INNER JOIN [Derived].[IronOffer] iof
				ON oma.[IronOfferID] = iof.[IronOfferID]
				AND iof.[ClubID] = @PublisherID
			WHERE EXISTS (	SELECT 1
							FROM [Derived].[Customer] cu
							WHERE oma.[CompositeID] = cu.[CompositeID]
							AND cu.[ClubID] = @PublisherID)

		/*******************************************************************************************************************************************
			2.	Insert list of offers to process log table
		*******************************************************************************************************************************************/
		
		--	DECLARE @PublisherID INT = 2069

			INSERT INTO [Segmentation].[OfferProcessLog] (	[IronOfferID]
														,	[IsUpdate]
														,	[SignedOff]
														,	[AddedDate]
														,	[Processed]
														,	[ProcessedDate]
														,	[PublisherID])
			SELECT	DISTINCT
					opl.[IronOfferID]
				,	[IsUpdate] = 0
				,	[IsSignedOff] = 1
				,	opl.[AddedDate]
				,	[Processed] = 0
				,	[ProcessedDate] = NULL
				,	opl.[PublisherID]
			FROM #OfferProcessLog opl
			WHERE NOT EXISTS (	SELECT 1
								FROM [Segmentation].[OfferProcessLog] opl2
								WHERE opl.[IronOfferID] = opl2.[IronOfferID]
								AND opl.[AddedDate] = opl2.[AddedDate]
								AND opl.[PublisherID] = opl2.[PublisherID])

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
