USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Segmentation].[Segmentation_IndividualPartner_DD]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/********************************************************************************************
** Name: [Segmentation].[Segmentation_IndividualPartner_POS]
** Derived from: [Segmentation].[ROC_Shopper_Segmentation_Individual_Partner_V2] 
** Desc: Segmentation of customers per partner 
** Auth: Zoe Taylor
** DATE: 10/02/2017
** Called by: [Segmentation].[ShopperSegmentationALS_WeeklyRun_v3]
** EXEC [Segmentation].[Segmentation_IndividualPartner_POS] 4433, 1, 1
** Calls: [Segmentation].[Segmentation_IndividualPartner_CustomerRanking_POS]
*********************************************************************************************
** Change History
** ---------------------
** #No		Date		Author			Description 
** --		--------	-------			------------------------------------
** 1		30/04/18	Rory Francis	Relational.ConsumerTransaction change to point to Relational.ConsumerTransaction_MyRewards
** 2		09/01/19	Rory Francis	Heatmap tables updated to reference Relational.HeatmapScore

EXEC [Segmentation].[Segmentation_IndividualPartner_DD] 4788, 0, 0

*********************************************************************************************/

CREATE PROCEDURE [Segmentation].[Segmentation_IndividualPartner_DD] (@PartnerNo INT
																   , @ToBeRanked INT
																   , @WeeklyRun INT = 0)

AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED


/*******************************************************************************************************************************************
	1. Prepare parameters for sProc to run
*******************************************************************************************************************************************/

	DECLARE @PartnerID INT = @PartnerNo
		  , @PartnerName VARCHAR(50)
		  , @BrandID INT
		  , @Today DATETIME = GETDATE()
		  , @time DATETIME
		  , @msg VARCHAR(2048)
		  , @TableName VARCHAR(50)
		  , @StartDate DATE = GETDATE()
		  , @EndDate DATE = DATEADD(day, -1, GETDATE())
		  , @RowCount INT
		  , @ErrorCode INT
		  , @ErrorMessage NVARCHAR(MAX)
		  , @ShopperCount INT = 0
		  , @LapsedCount INT = 0
		  , @AcquireCount INT = 0
		  , @Acquire INT
		  , @Lapsed INT
		  , @SPName VARCHAR(100) =	(SELECT CONVERT(VARCHAR(100), OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)))
		  , @SegmentationStartTime DATETIME = GETDATE()
		  , @SegmentationLength INT

	SELECT	@PartnerName = [PartnerName]
		,	@BrandID = [BrandID]
	FROM [Warehouse].[Relational].[Partner]
	WHERE [PartnerID] = @PartnerNo

	IF (SELECT [SystemUser] = SYSTEM_USER) != 'NT SERVICE\SQLSERVERAGENT'
		BEGIN

			Print '

			Segmentation for ' + @PartnerName + ' has now begun
	
			'

		END

	SELECT @Acquire = [Acquire] 
		 , @Lapsed = [Lapsed]
	FROM [Warehouse].[Segmentation].[PartnerSettings_DD]
	WHERE [PartnerID] = @PartnerID
	AND [EndDate] IS NULL
	
	--SET @BrandID = (SELECT BrandID FROM Relational.Partner WHERE PartnerID = @PartnerID)

/*******************************************************************************************************************************************
	2. INSERT entry in to JobLog_Temp
*******************************************************************************************************************************************/

	INSERT INTO [Segmentation].[Shopper_Segmentation_JobLog_Temp] (	[StoredProcedureName]
																,	[StartDate]
																,	[EndDate]
																,	[PartnerID]
																,	[ShopperCount]
																,	[LapsedCount]
																,	[AcquireCount]
																,	[IsRanked]
																,	[LapsedDate]
																,	[AcquireDate]
																,	[ErrorCode]
																,	[ErrorMessage])
	VALUES (@SPName
		  , GETDATE()
		  , NULL
		  , @PartnerID
		  , NULL
		  , NULL
		  , NULL
		  , @ToBeRanked
		  , @Lapsed
		  , @Acquire
		  , NULL
		  , NULL)
		
BEGIN TRY


	/*******************************************************************************************************************************************
		3. Run segmentation for spenders
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			3.1. Fetch customer details
		***********************************************************************************************************************/

			IF OBJECT_ID('tempdb..#Customers') IS NOT NULL DROP TABLE #Customers
			SELECT	[FanID] = cu.[FanID]
				,	[CINID] = cl.[CINID]
			INTO #Customers
			FROM [Derived].[Customer] cu WITH (NOLOCK)
			INNER JOIN [Derived].[CINList] cl WITH (NOLOCK)
				ON cu.[SourceUID] = cl.[CIN]
			WHERE cu.[CurrentlyActive] = 1
	
			CREATE CLUSTERED INDEX CIX_CINFan ON #Customers ([CINID], [FanID])

		/***********************************************************************************************************************
			3.2. Fetch ConsumerCombinations
		***********************************************************************************************************************/
		
			IF OBJECT_ID('tempdb..#IHG') IS NOT NULL DROP TABLE #IHG
			SELECT	DISTINCT
					[PartnerID]
				,	[BrandID]
			INTO #IHG
			FROM [WH_AllPublishers].[Derived].[Partner] pa
			WHERE [PartnerID] IN (4726, 4727, 4728, 4751, 4752, 4753)
		
		--	DECLARE @PartnerID INT = 5077

			IF OBJECT_ID('tempdb..#IHG_Grouped') IS NOT NULL DROP TABLE #IHG_Grouped
			SELECT	DISTINCT
					[PartnerID] = @PartnerID
				,	[BrandName]
				,	[BrandID]
			INTO #IHG_Grouped
			FROM [Warehouse].[Relational].[Brand] br
			WHERE @PartnerID IN (5077, 5076, 5075)
			AND br.[BrandID] IN (	2094, 4123				--	Luxury
								,	2174, 2508, 3336		--	Premium
								,	201, 768, 2697			--	Essential
								)
	

			--Bicester Village
			drop table if exists #BV_Grouped
			SELECT	DISTINCT
					[PartnerID] = @PartnerID
				,	[BrandName]
				,	cc.BrandID
			into #BV_Grouped
			FROM trans.[ConsumerCombination_DD] cc WITH (NOLOCK)
			JOIN Warehouse.relational.brand b 
			on b.brandID = cc.brandID
			WHERE @PartnerID  = 4938


			IF OBJECT_ID('tempdb..#CCIDs') IS NOT NULL DROP TABLE #CCIDs
			SELECT	 [ConsumerCombinationID] = CONVERT(INT, [ConsumerCombinationID])
			INTO #CCIDs
			FROM [Trans].[ConsumerCombination_DD] cc WITH (NOLOCK)
			WHERE [BrandID] = @BrandID
		
			CREATE CLUSTERED INDEX CIX_CCID_CCID ON #CCIDs ([ConsumerCombinationID])

			IF EXISTS (SELECT 1 FROM #IHG WHERE [PartnerID] = @PartnerID)
				BEGIN
					
					INSERT INTO #CCIDs
					SELECT	[ConsumerCombinationID]
					FROM [Trans].[ConsumerCombination_DD] cc WITH (NOLOCK)
					WHERE EXISTS (	SELECT 1
									FROM #IHG i
									WHERE cc.[BrandID] = i.[BrandID])
					AND NOT EXISTS (SELECT 1
									FROM #CCIDs ccs
									WHERE cc.[ConsumerCombinationID] = ccs.[ConsumerCombinationID])

				END

			IF EXISTS (SELECT 1 FROM #IHG_Grouped WHERE [PartnerID] = @PartnerID)
				BEGIN
					
					INSERT INTO #CCIDs
					SELECT	[ConsumerCombinationID]
					FROM [Trans].[ConsumerCombination_DD] cc WITH (NOLOCK)
					WHERE EXISTS (	SELECT 1
									FROM #IHG_Grouped i
									WHERE cc.[BrandID] = i.[BrandID])
					AND NOT EXISTS (SELECT 1
									FROM #CCIDs ccs
									WHERE cc.[ConsumerCombinationID] = ccs.[ConsumerCombinationID])

				END
	
			IF EXISTS (SELECT 1 FROM #BV_Grouped WHERE [PartnerID] = @PartnerID)
				BEGIN
					
					INSERT INTO #CCIDs
					SELECT	[ConsumerCombinationID]
					FROM [Trans].[ConsumerCombination_DD] cc WITH (NOLOCK)
					WHERE EXISTS (	SELECT 1
									FROM #BV_Grouped i
									WHERE cc.[BrandID] = i.[BrandID]
									)
					AND NOT EXISTS (SELECT 1
									FROM #CCIDs ccs
									WHERE cc.[ConsumerCombinationID] = ccs.[ConsumerCombinationID])

				END



		/***********************************************************************************************************************
			3.3. SET up for retrieving customer transactions at partner
		***********************************************************************************************************************/

			DECLARE @AcquireDate DATE = DATEADD(month, -(@Acquire), DATEADD(day, DATEDIFF(dd, 0, GETDATE()) - 2, 0))
				  , @LapsedDate DATE = DATEADD(month, -(@Lapsed), DATEADD(day, DATEDIFF(dd, 0, GETDATE()) - 2, 0))
				  , @ShopperDate DATE = DATEADD(day, DATEDIFF(dd, 0, GETDATE()) - 3, 0)


		/***********************************************************************************************************************
			3.4. Fetch all transactions
		***********************************************************************************************************************/

			IF OBJECT_ID('tempdb..#CT') IS NOT NULL DROP TABLE #CT
			CREATE TABLE #CT (	[FanID] INT NOT NULL
							,	[Amount] MONEY NOT NULL
							,	[TranDate] DATE NOT NULL
							,	PRIMARY KEY ([FanID]))

			INSERT INTO #CT
			SELECT	[FanID] = cu.[FanID]
				 ,	[Amount] = SUM([Amount])
				 ,	[TranDate] =  MAX([TranDate])
			FROM [Trans].[ConsumerTransaction_DD] ct WITH (NOLOCK)
			INNER JOIN #Customers cu
				ON ct.[CINID] = cu.[CINID]
			WHERE [TranDate] BETWEEN @AcquireDate AND @ShopperDate
			AND EXISTS (SELECT 1
						FROM #CCIDs cc
						WHERE cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID])
			GROUP BY	cu.[FanID]
			OPTION (RECOMPILE)


		/***********************************************************************************************************************
			3.4. Fetch all transactions
		***********************************************************************************************************************/

			IF OBJECT_ID('tempdb..#Spenders') IS NOT NULL DROP TABLE #Spenders
			CREATE TABLE #Spenders ([FanID] INT NOT NULL
								,	[Spend] MONEY
								,	[Segment] SMALLINT NOT NULL
								,	PRIMARY KEY ([FanID]))

			INSERT INTO #Spenders
			SELECT	[FanID] = ct.[FanID]
				,	[Spend] = SUM([Amount])
				,	[Segment] =	CASE
									WHEN MAX([TranDate]) < @LapsedDate THEN 8
									ELSE 9
								END
			FROM #CT ct
			GROUP BY	ct.[FanID]
			HAVING SUM([Amount]) > 0 
			OPTION (RECOMPILE)


	/*******************************************************************************************************************************************
		4. Run segmentation for acquire customers
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			4.1. Fetch customer details including heatmap scores
		***********************************************************************************************************************/

			IF OBJECT_ID('tempdb..#AllCustomers') IS NOT NULL DROP TABLE #AllCustomers
			SELECT	cu.[FanID]
				,	[Segment] = 7
			INTO #AllCustomers
			FROM [Derived].[Customer] cu WITH (NOLOCK)
			WHERE cu.[CurrentlyActive] = 1

			CREATE CLUSTERED INDEX [CIX_FanID] ON #AllCustomers ([FanID])


		/***********************************************************************************************************************
			4.2. Update Shopper & Lapsed segments
		***********************************************************************************************************************/

			UPDATE ac
			SET ac.[Segment] = sp.[Segment]
			FROM #AllCustomers ac
			INNER JOIN #Spenders sp
				ON ac.[FanID] = sp.[FanID]


	/*******************************************************************************************************************************************
		5. Insert & Update Segmentation table
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			5.1. End date not active customers
		***********************************************************************************************************************/

			UPDATE ssm
			SET [EndDate] = @EndDate
			FROM [Segmentation].[CustomerSegment_DD] ssm
			WHERE ssm.[EndDate] IS NULL
			AND ssm.[PartnerID] = @PartnerID
			AND NOT EXISTS (SELECT 1
							FROM #AllCustomers ac
							WHERE ssm.[FanID] = ac.[FanID])

		/***********************************************************************************************************************
			5.2. Update EndDate of customers who have change segments
		***********************************************************************************************************************/
	
			UPDATE ssm
			SET ssm.[EndDate] = @EndDate
			FROM #AllCustomers ac
			INNER JOIN [Segmentation].[CustomerSegment_DD] ssm
				ON ac.[FanID] = ssm.[FanID]
				AND ac.[Segment] != ssm.[ShopperSegmentTypeID]
				AND ssm.[PartnerID] = @PartnerID
				AND ssm.[EndDate] IS NULL

		/***********************************************************************************************************************
			5.3. Delete entries that have already been entered in an execution today
		***********************************************************************************************************************/
	
			DELETE ssm
			FROM #AllCustomers ac
			INNER JOIN [Segmentation].[CustomerSegment_DD] ssm
				ON ac.[FanID] = ssm.[FanID]
				AND ssm.[PartnerID] = @PartnerID
				AND ssm.[StartDate] = @StartDate


		/***********************************************************************************************************************
			5.4. Insert new entries for all new customers or customers that have changed segments
		***********************************************************************************************************************/

			INSERT INTO [Segmentation].[CustomerSegment_DD]
			SELECT	ac.[FanID]
				,	@PartnerID
				,	ac.[Segment]
				,	@StartDate
				,	NULL
			FROM #AllCustomers ac
			WHERE NOT EXISTS (SELECT 1
							  FROM [Segmentation].[CustomerSegment_DD] ssm
							  WHERE ac.[FanID] = ssm.[FanID]
							  AND ac.[Segment] = ssm.[ShopperSegmentTypeID]
							  AND ssm.[PartnerID] = @PartnerID
							  AND ssm.[EndDate] IS NULL)


	/*******************************************************************************************************************************************
		7. Update variables to update JobLog
	*******************************************************************************************************************************************/

		SELECT	@AcquireCount = SUM(CASE WHEN [Segment] = 7 THEN [cnt] ELSE 0 END)
			,	@LapsedCount = SUM(CASE WHEN [Segment] = 8 THEN [cnt] ELSE 0 END)
			,	@ShopperCount = SUM(CASE WHEN [Segment] = 9 THEN [cnt] ELSE 0 END)
		FROM (	SELECT	[Segment]
					,	[cnt] = COUNT(*)
				FROM #AllCustomers
				GROUP BY [Segment]) d


	/*******************************************************************************************************************************************
		8. Output segmentation time
	*******************************************************************************************************************************************/

		SET @SegmentationLength = DATEDIFF(second, @SegmentationStartTime, GETDATE())

		IF (SELECT [SystemUser] = SYSTEM_USER) != 'NT SERVICE\SQLSERVERAGENT'
			BEGIN
			
		Print '
		
		Segmentation for ' + @PartnerName + ' has now completed in ' + CONVERT(VARCHAR, @SegmentationLength) + ' seconds

		'

			END	
	


END TRY


/*******************************************************************************************************************************************
	9. Store error logs if any errors occur
*******************************************************************************************************************************************/

	BEGIN CATCH

			SELECT	 @ErrorCode = ERROR_NUMBER(),
					 @ErrorMessage = ERROR_MESSAGE()

	END CATCH


/*******************************************************************************************************************************************
	10. Update JobLog_Temp AND INSERT to JobLog
*******************************************************************************************************************************************/

	UPDATE [Segmentation].[Shopper_Segmentation_JobLog_Temp]
	SET [ErrorCode] = @ErrorCode
	  , [ErrorMessage] = @ErrorMessage
	  , [EndDate] = GETDATE()
	  , [ShopperCount] = @ShopperCount
	  , [LapsedCount] = @LapsedCount
	  , [AcquireCount] = @AcquireCount

	INSERT INTO [Segmentation].[Shopper_Segmentation_JobLog] (	[StoredProcedureName]
															,	[StartDate]
															,	[EndDate]
															,	[Duration]
															,	[PartnerID]
															,	[ShopperCount]
															,	[LapsedCount]
															,	[AcquireCount]
															,	[IsRanked]
															,	[LapsedDate]
															,	[AcquireDate]
															,	[ErrorCode]
															,	[ErrorMessage])
	SELECT	[StoredProcedureName]
		,	[StartDate]
		,	[EndDate]
		,	[Duration] = CONVERT(VARCHAR(3), DATEDiff(second, [StartDate], [EndDate]) / 60) + ':' + Right('0' + CONVERT(VARCHAR(2), DATEDiff(second, [StartDate], [EndDate]) % 60), 2)
		,	[PartnerID]
		,	[ShopperCount]
		,	[LapsedCount]
		,	[AcquireCount]
		,	[IsRanked]
		,	[LapsedDate]
		,	[AcquireDate]
		,	[ErrorCode]
		,	[ErrorMessage]
	FROM [Segmentation].[Shopper_Segmentation_JobLog_Temp]

	TRUNCATE TABLE [Segmentation].[Shopper_Segmentation_JobLog_Temp]

END
GO
