USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Segmentation].[OfferProcessLog_Update]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Segmentation].[OfferProcessLog_Update]	@PublisherID INT
													,	@DailySegmentation BIT = 0

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		--	DECLARE @PublisherID INT = 2069, @DailySegmentation BIT = 1

		/*******************************************************************************************************************************************
			1.	Identify whether selections have successfully pushed to production
		*******************************************************************************************************************************************/
		
			DECLARE @ObjectName VARCHAR(50)
				,	@PushedToProduction BIT = 0
				,	@LogCount INT

			IF @DailySegmentation = 0 SET @ObjectName = 'SegmentedOfferAdditions'
			IF @DailySegmentation = 1 SET @ObjectName = 'SegmentedOfferAdditions_Daily'

			SELECT @LogCount = COUNT(*)
			FROM [WH_AllPublishers].[Outbound].[StreamToS3_Log] s3
			WHERE s3.[DatabaseName] = DB_NAME()
			AND s3.[SchemaName] = 'Outbound'
			AND s3.[ObjectName] = @ObjectName
			AND CONVERT(DATE, s3.[ProcessedDate]) = CONVERT(DATE, GETDATE())
			AND s3.[IsError] = 0

			IF @LogCount > 0 SET @PushedToProduction = 1

		/*******************************************************************************************************************************************
			2.	Update records from the daily segmentation
		*******************************************************************************************************************************************/

		--	UPDATE opl
		--	SET opl.[Processed] = 1
		--	,	opl.[ProcessedDate] = GETDATE()
		--	FROM [Segmentation].[OfferProcessLog] opl
		--	WHERE EXISTS (	SELECT 1
		--					FROM [Segmentation].[OfferMemberAddition_Daily] oma
		--					WHERE opl.[IronOfferID] = oma.[IronOfferID]
		--					AND opl.[AddedDate] = oma.[AddedDate])
		--	AND opl.[Processed] = 0
		--	AND @DailySegmentation = 1
		--	AND @PushedToProduction = 1

		/*******************************************************************************************************************************************
			3.	Update records from the BAU segmentation
		*******************************************************************************************************************************************/

			UPDATE opl
			SET opl.[Processed] = 1
			,	opl.[ProcessedDate] = GETDATE()
			FROM [Segmentation].[OfferProcessLog] opl
			WHERE EXISTS (	SELECT 1
							FROM [Segmentation].[OfferMemberAddition] oma
							WHERE opl.[IronOfferID] = oma.[IronOfferID]
							AND opl.[AddedDate] = oma.[AddedDate])
			AND opl.[Processed] = 0
			AND @DailySegmentation = 0
			AND @PushedToProduction = 1

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
