USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Segmentation].[OfferWelcome_Update]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Segmentation].[OfferWelcome_Update] @ExecutionDate DATE = NULL
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

--  DECLARE @ExecutionDate DATE = NULL

IF @ExecutionDate IS NULL SET @ExecutionDate = GETDATE()

    /**************************************************************************		
        1. Fetch upcoming campaign setup
    **************************************************************************/

		DROP TABLE IF EXISTS #CampaignSetup
		SELECT	[IronOfferID] = cs.[IronOfferID]
			,	[BespokeCampaign] = MAX(CONVERT(INT, cs.[BespokeCampaign]))
			,	[CampaignName] = MAX(cs.[CampaignName])
		INTO #CampaignSetup
		FROM (	SELECT	[IronOfferID] = iof.[Item]
					,	[BespokeCampaign] = cs.[BespokeCampaign]
					,	[CampaignName] = cs.[CampaignName]
				FROM [Selections].[CampaignSetup_DD] cs
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (cs.[OfferID], ',') iof
				WHERE cs.[EmailDate] >= @ExecutionDate
				UNION ALL
				SELECT	[IronOfferID] = iof.[Item]
					,	[BespokeCampaign] = cs.[BespokeCampaign]
					,	[CampaignName] = cs.[CampaignName]
				FROM [Selections].[CampaignSetup_POS] cs
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (cs.[OfferID], ',') iof
				WHERE cs.[EmailDate] >= @ExecutionDate) cs
		GROUP BY	cs.[IronOfferID]

	/*******************************************************************************************************************************************
		2.	Prepare exlcusions lists
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
			2.1.	Retailers
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Exclusion_Retailers
			CREATE TABLE #Exclusion_Retailers ([PartnerID] INT)
			INSERT INTO #Exclusion_Retailers ([PartnerID])
			VALUES	(99999)
				,	(99999)
				,	(99999)
				,	(99999)
				,	(99999)

		/*******************************************************************************************************************************************
			2.2.	Offers
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Exclusion_Offers
			CREATE TABLE #Exclusion_Offers ([IronOfferID] INT)
			INSERT INTO #Exclusion_Offers ([IronOfferID])
			VALUES	(99999)
				,	(99999)
				,	(99999)
				,	(99999)
				,	(99999)

	/*******************************************************************************************************************************************
		3.	Find all live offers
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Offers
		SELECT	pa.[PartnerID]
			,	pa.[PartnerName]
			,	[PublisherID] = iof.[ClubID]
			,	iof.[IronOfferID]
			,	[OfferGUID] = iof.[HydraOfferID]
			,	iof.[IronOfferName]
			,	iof.[StartDate]
			,	iof.[EndDate]
			,	ot.[Universal]
			,	ot.[Welcome]
			,	[OfferRanking] = ROW_NUMBER() OVER (PARTITION BY iof.[ClubID], pa.[PartnerID] ORDER BY ot.[Welcome] DESC, ot.[Universal] DESC, iof.[EndDate] DESC, iof.[IronOfferName] DESC, iof.[IronOfferID])
		INTO #Offers
		FROM [Derived].[IronOffer] iof
		INNER JOIN [Derived].[Partner] pa
			ON iof.[PartnerID] = pa.[PartnerID]
		CROSS APPLY (	SELECT	[Universal] = CASE WHEN iof.[IronOfferName] LIKE '%Universal%' THEN 1 ELSE 0 END
							,	[Welcome] = CASE WHEN iof.[IronOfferName] LIKE '%Welcome%' THEN 1 ELSE 0 END) ot
		WHERE NOT EXISTS (	SELECT 1
							FROM #Exclusion_Retailers er
							WHERE iof.[PartnerID] = er.[PartnerID])
		AND NOT EXISTS (	SELECT 1
							FROM #Exclusion_Offers eo
							WHERE iof.[IronOfferID] = eo.[IronOfferID])
		AND NOT EXISTS (	SELECT 1
							FROM #CampaignSetup cs
							WHERE iof.[IronOfferID] = cs.[IronOfferID]
							AND cs.[BespokeCampaign] = 1)
		AND iof.[StartDate] < DATEADD(DAY, 2, @ExecutionDate)
		AND iof.[EndDate] > @ExecutionDate
		AND (	iof.[IronOfferName] LIKE '%Welcome%'
			OR	iof.[IronOfferName] LIKE '%Universal%')

		DELETE
		FROM #Offers
		WHERE [OfferRanking] > 1

	/*******************************************************************************************************************************************
		4.	Update final table
	*******************************************************************************************************************************************/

		DELETE ow
		FROM [Segmentation].[OfferWelcome] ow
		WHERE NOT EXISTS (	SELECT 1
							FROM #Offers o
							WHERE ow.[OfferGUID] = o.[OfferGUID])

		INSERT INTO [Segmentation].[OfferWelcome] (	[OfferGUID]
												,	[PublisherID])
		SELECT	DISTINCT
				o.[OfferGUID]
			,	o.[PublisherID]
		FROM #Offers o
		WHERE NOT EXISTS (	SELECT 1
							FROM [Segmentation].[OfferWelcome] ow
							WHERE o.[PublisherID] = ow.[PublisherID]
							AND o.[OfferGUID] = ow.[OfferGUID])

	/*******************************************************************************************************************************************
		5.	Update log table
	*******************************************************************************************************************************************/

		UPDATE pl
		SET pl.[EndDate] = GETDATE()
		FROM [Segmentation].[OfferWelcome_ProcessLog] pl
		WHERE NOT EXISTS (	SELECT 1
							FROM [Segmentation].[OfferWelcome] ow
							WHERE pl.[PublisherID] = ow.[PublisherID]
							AND pl.[OfferGUID] = ow.[OfferGUID])
		AND pl.[EndDate] IS NULL

		INSERT INTO [Segmentation].[OfferWelcome_ProcessLog] (	[OfferGUID]
															,	[PublisherID]
															,	[StartDate])
		SELECT	DISTINCT
				ow.[OfferGUID]
			,	ow.[PublisherID]
			,	[StartDate] = GETDATE()
		FROM [Segmentation].[OfferWelcome] ow
		WHERE NOT EXISTS (	SELECT 1
							FROM [Segmentation].[OfferWelcome_ProcessLog] pl
							WHERE ow.[PublisherID] = pl.[PublisherID]
							AND ow.[OfferGUID] = pl.[OfferGUID]
							AND pl.[EndDate] IS NULL)
							
END

GO
