USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Segmentation].[Segmentation_Loop_POS]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

	Author:		Rory Francis
	
	Date:		24th July 2019

	Purpose:	Segment customers into ALS per retailer ready for selections

*/
CREATE PROCEDURE [Segmentation].[Segmentation_Loop_POS]	@EmailDate DATE
													,	@PartnerID INT = NULL
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	/*******************************************************************************************************************************************
		1.	Fetch all partner settings and place to holding table
	*******************************************************************************************************************************************/

	--	DECLARE @EmailDate DATE = DATEADD(day, 0, '2025-12-11'), @PartnerID INT = NULL

		DROP TABLE IF EXISTS #PartnerSettings
		SELECT	ps.[PartnerID]
			,	[IsPOS] = MAX(ps.[POS])
			,	[IsDD] = MAX(ps.[DD])
		INTO #PartnerSettings
		FROM [WH_AllPublishers].[Segmentation].[PartnerSettings] ps
		GROUP BY	ps.[PartnerID]

	/*******************************************************************************************************************************************
		2.	Find campaigns that will be running
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #UpcomingCampaigns
		SELECT	cs.[PartnerID]
			,	[IsPOS] = MAX(cs.[IsPOS])
			,	[IsDD] = MAX(cs.[IsDD])
		INTO #UpcomingCampaigns
		FROM (	SELECT	cs.[PartnerID]
					,	[IsPOS] = 1
					,	[IsDD] = 0
				FROM [Selections].[CampaignSetup_POS] cs
				WHERE cs.[EmailDate] = @EmailDate
				UNION
				SELECT	cs.[PartnerID]
					,	[IsPOS] = 0
					,	[IsDD] = 1
				FROM [Selections].[CampaignSetup_DD] cs
				WHERE cs.[EmailDate] = @EmailDate) cs
		GROUP BY	cs.[PartnerID]

	/*******************************************************************************************************************************************
		3.	Find Partners that have settings correctly added
	*******************************************************************************************************************************************/
	
	--	DECLARE @PartnerID INT = NULL

		TRUNCATE TABLE [Segmentation].[PartnersToSegment]
		INSERT INTO [Segmentation].[PartnersToSegment] WITH (HOLDLOCK)
		SELECT	uc.[PartnerID]
			,	pa.[BrandID]
			,	uc.[IsDD]
			,	uc.[IsPOS]
			,	[RowNo] = ROW_NUMBER() OVER (ORDER BY uc.[IsDD], uc.[IsPOS] DESC, uc.[PartnerID] ASC)
		FROM #UpcomingCampaigns uc
		LEFT JOIN [WH_AllPublishers].[Derived].[Partner] pa
			ON uc.[PartnerID] = pa.[PartnerID]
		WHERE EXISTS (	SELECT 1
						FROM #PartnerSettings ps
						WHERE uc.[PartnerID] = ps.[PartnerID]
						AND uc.[IsDD] <= ps.[IsDD]
						AND uc.[IsPOS] <= ps.[IsPOS])
		AND @PartnerID IS NULL
		
		INSERT INTO [Segmentation].[PartnersToSegment] WITH (HOLDLOCK)
		SELECT	uc.[PartnerID]
			,	pa.[BrandID]
			,	uc.[IsDD]
			,	uc.[IsPOS]
			,	[RowNo] = ROW_NUMBER() OVER (ORDER BY uc.[IsDD], uc.[IsPOS] DESC, uc.[PartnerID] ASC)
		FROM #UpcomingCampaigns uc
		LEFT JOIN [WH_AllPublishers].[Derived].[Partner] pa
			ON uc.[PartnerID] = pa.[PartnerID]
		WHERE EXISTS (	SELECT 1
						FROM #PartnerSettings ps
						WHERE uc.[PartnerID] = ps.[PartnerID]
						AND uc.[IsDD] <= ps.[IsDD]
						AND uc.[IsPOS] <= ps.[IsPOS])
		AND @PartnerID = pa.[PartnerID]

	/*******************************************************************************************************************************************
		4.	Prepare tables for execution loop
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			4.1.	Fetch customer details where customers have CINIDs
		***********************************************************************************************************************/
					
			TRUNCATE TABLE [Segmentation].[CustomersWithCINs]
			INSERT INTO [Segmentation].[CustomersWithCINs] WITH (HOLDLOCK)
			SELECT	cu.[FanID]
				,	cl.[CINID]
			FROM [Derived].[Customer] cu WITH (NOLOCK)
			INNER JOIN [Derived].[CINList] cl WITH (NOLOCK)
				ON cu.[SourceUID] = cl.[CIN]
			WHERE cu.[CurrentlyActive] = 1
			
		/***********************************************************************************************************************
			4.2.	Fetch all customer details
		***********************************************************************************************************************/
			
			TRUNCATE TABLE [Segmentation].[AllCustomers]
			INSERT INTO [Segmentation].[AllCustomers] WITH (HOLDLOCK)
			SELECT	cu.[FanID]
			FROM [Derived].[Customer] cu WITH (NOLOCK)
			WHERE cu.[CurrentlyActive] = 1
			
		/***********************************************************************************************************************
			4.3.	Fetch all Combinations
		***********************************************************************************************************************/
						
			TRUNCATE TABLE [Segmentation].[ConsumerCombinationsToSegment]
			INSERT INTO [Segmentation].[ConsumerCombinationsToSegment] WITH (HOLDLOCK) ([PartnerID]
																					,	[ConsumerCombinationID])
			SELECT	pts.[PartnerID]
				,	cc.[ConsumerCombinationID]
			FROM [Trans].[ConsumerCombination] cc WITH (NOLOCK)
			INNER JOIN [Segmentation].[PartnersToSegment] pts WITH (HOLDLOCK)
				ON cc.[BrandID] = pts.[BrandID]

			DROP TABLE IF EXISTS #BespokeSegmetation_OutletSite_MIDs
			SELECT	DISTINCT
					bs.[PartnerID]
				,	ro.[MerchantID]
			INTO #BespokeSegmetation_OutletSite_MIDs
			FROM [WH_AllPublishers].[Segmentation].[BespokeSegmetation_OutletSite] bs
			INNER JOIN [Segmentation].[PartnersToSegment] pts
				ON bs.[PartnerID] = pts.[PartnerID]
			INNER JOIN [WH_AllPublishers].[Derived].[Outlet] ro
				ON bs.[PartnerID] = ro.[PartnerID]
			WHERE bs.[EndDate] IS NULL
			AND ro.[Status] = 1
			AND LEN(ro.[MerchantID]) > 0

			INSERT INTO [Segmentation].[ConsumerCombinationsToSegment] WITH (HOLDLOCK) ([PartnerID]
																					,	[ConsumerCombinationID])
			SELECT	DISTINCT
					bs.[PartnerID]
				,	cc.[ConsumerCombinationID]
			FROM [Trans].[ConsumerCombination] cc WITH (NOLOCK)
			INNER JOIN #BespokeSegmetation_OutletSite_MIDs bs
				ON cc.[MID] = bs.[MerchantID]

			INSERT INTO [Segmentation].[ConsumerCombinationsToSegment] WITH (HOLDLOCK) ([PartnerID]
																					,	[ConsumerCombinationID])
			SELECT	DISTINCT
					[PartnerID] = bs.[PartnerID]
				,	[ConsumerCombinationID] = cc.[ConsumerCombinationID]
			FROM [Trans].[ConsumerCombination] cc
			INNER JOIN [WH_AllPublishers].[Segmentation].[BespokeSegmetation_BrandGroups] bs
				ON cc.[BrandID] = bs.[BrandID]
			INNER JOIN [Segmentation].[PartnersToSegment] pts
				ON bs.[PartnerID] = pts.[PartnerID]
			WHERE bs.[EndDate] IS NULL
			AND NOT EXISTS (SELECT 1
							FROM [Segmentation].[ConsumerCombinationsToSegment] cc2
							WHERE bs.[PartnerID] = cc2.[PartnerID]
							AND cc.[ConsumerCombinationID] = cc2.[ConsumerCombinationID])
			
		/***********************************************************************************************************************
			4.4.	Fetch all transactions
		***********************************************************************************************************************/
			
			TRUNCATE TABLE [Segmentation].[ConsumerTransactionsToSegment]
			INSERT INTO [Segmentation].[ConsumerTransactionsToSegment] WITH (HOLDLOCK) ([PartnerID]
																					,	[FanID]
																					,	[LastTran])
			SELECT	cc.[PartnerID]
				,	cu.[FanID]
				,	[LastTran] = MAX(ct.[TranDate])
			FROM [Trans].[ConsumerTransaction] ct WITH (NOLOCK)
			INNER JOIN [Segmentation].[CustomersWithCINs] cu WITH (HOLDLOCK)
				ON	ct.[CINID] = cu.[CINID]
			INNER JOIN [Segmentation].[ConsumerCombinationsToSegment] cc
				ON cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID]
			WHERE ct.[Amount] > 0
			GROUP BY	cc.[PartnerID]
					,	cu.[FanID]
			OPTION (RECOMPILE)

	/*******************************************************************************************************************************************
		5.	Find Partners that have settings corerctly added
	*******************************************************************************************************************************************/

		DECLARE @RowNo INT = 1
			  , @RowNoMax INT = (SELECT COALESCE(MAX([RowNo]), 0) FROM [Segmentation].[PartnersToSegment])
			  , @PartnerID_Loop INT
			  , @IsDD INT
			  , @IsPOS INT

		WHILE @RowNo <= @RowNoMax
		BEGIN
		  
			SELECT @PartnerID_Loop = [PartnerID]
				 , @IsDD = [IsDD]
				 , @IsPOS = [IsPOS]
			FROM [Segmentation].[PartnersToSegment]
			WHERE [RowNo] = @RowNo
		
			IF @IsPOS = 1 EXEC [Segmentation].[Segmentation_IndividualPartner_POS] @PartnerID_Loop
			IF @IsDD = 1 EXEC [Segmentation].[Segmentation_IndividualPartner_DD] @PartnerID_Loop, 0, 1	--	PartnerID, ToBeRanked, WeekyRun

			SET @RowNo = @RowNo+1

		END

	/*******************************************************************************************************************************************
		8. Clear down tables after execution loop
	*******************************************************************************************************************************************/
	
		TRUNCATE TABLE [Segmentation].[CustomersWithCINs]
		TRUNCATE TABLE [Segmentation].[AllCustomers]
		TRUNCATE TABLE [Segmentation].[PartnersToSegment]
		TRUNCATE TABLE [Segmentation].[ConsumerCombinationsToSegment]
		TRUNCATE TABLE [Segmentation].[ConsumerTransactionsToSegment]

END

GO
