USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[EVA007_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[EVA007_PreSelection_sProc]
AS
BEGIN




--	FIND YOUR COMP BRANDS --

WITH CTE AS (
SELECT *
FROM WH_AllPublishers.Trans.Brand						-- Warner Leisure, Saga Holidays, Macdonald Hotels, Viking River Cruises, The QHotels Group, P&O Cruises, Travel Lodge, Premier Inn 
WHERE (
		brandname like '%Warner Leisure%' 
	 or brandname like '%john%' 
	 or brandname like '%david%' 
	 or brandname like '%shade%' 
	 or brandname like '%specsavers%' 
	 or brandname like '%ace%' 
	 or brandname like '%vision%'	))
 
SELECT
	STRING_AGG(brandid,',') as brandid,
	STRING_AGG(brandname,',') as brandname
FROM CTE

-----------------------------------------------------------------------------------
--	FIND PARTNERID  --
--  SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%Laithwait%'

-----------------------------------------------------------------------------------
--	FILL THESE IN  --

DECLARE @schema_name sysname				= 'SandeshG' --add the name of your personal sandbox schema
DECLARE @table_name varchar(max)			= 'Evans_compsteal_20260217' --publishers will be appended so leave them off
DECLARE @comp_steal_months int				= 12 --months to look back for comp steal
DECLARE @comp_brandids varchar(max)			= '304,371,7058,527,513'
DECLARE	@PartnerID VARCHAR(max)				= 5203
/*		Acquire Segment 7, Lapsed Segment 8, Shopper Segment 9			*/
DECLARE @bau_segments varchar(max)			= '8,9'
DECLARE @bespoke_segments varchar(max)		= '7'
-----------------------------------------------------------------------------------
-- !		DON'T CHANGE THESE	! 

DECLARE @table_name_rbs sysname = concat(@table_name,'_rbs')
DECLARE @table_name_Vanquis sysname = concat(@table_name,'_Vanquis')
DECLARE @table_name_vm sysname = concat(@table_name,'_vm')
DECLARE @table_name_barclaysblue sysname = concat(@table_name,'_barclaysblue')
DECLARE @table_name_monzo sysname = concat(@table_name,'_monzo')

DECLARE @QualifiedName_rbs sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
DECLARE @QualifiedName_Vanquis sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_Vanquis)
DECLARE @QualifiedName_vm sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)
DECLARE @QualifiedName_barclaysblue sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_barclaysblue)
DECLARE @QualifiedName_monzo sysname		= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_monzo)

DECLARE @sql_rbs_drop nvarchar(max)
DECLARE @sql_Vanquis_drop nvarchar(max)
DECLARE @sql_vm_drop nvarchar(max)
DECLARE @sql_barclaysblue_drop nvarchar(max)
DECLARE @sql_monzo_drop nvarchar(max)

DECLARE @sql_rbs_create nvarchar(max)
DECLARE @sql_Vanquis_create nvarchar(max)
DECLARE @sql_vm_create nvarchar(max)
DECLARE @sql_barclaysblue_create nvarchar(max)
DECLARE @sql_monzo_create nvarchar(max)

DECLARE @sql_rbs_selections nvarchar(max)
DECLARE @sql_Vanquis_selections nvarchar(max)
DECLARE @sql_vm_selections nvarchar(max)
DECLARE @sql_barclaysblue_selections nvarchar(max)
DECLARE @sql_monzo_selections nvarchar(max)

DECLARE @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
DECLARE @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
DECLARE @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
SELECT	DISTINCT BrandID
into	#comp_brands
from	WH_AllPublishers.Trans.Brand b
where	charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------

/*
	VANQUIS
*/

/*VANQUIS SELECTION*/

IF OBJECT_ID('tempdb..#FB_Vanquis') IS NOT NULL DROP TABLE #FB_Vanquis
CREATE TABLE #FB_Vanquis (CINID int not null primary key, FanID int)
INSERT INTO #FB_Vanquis
SELECT	CINID, FanID
FROM	WH_Vanquis.Derived.Customer  C
JOIN	WH_Vanquis.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
;

IF OBJECT_ID('tempdb..#CC_Vanquis') IS NOT NULL DROP TABLE #CC_Vanquis
CREATE TABLE #CC_Vanquis (ConsumerCombinationID int not null primary key, BrandID int)
INSERT INTO #CC_Vanquis
SELECT	ConsumerCombinationID, BrandID
FROM	WH_Vanquis.Trans.ConsumerCombination  CC
WHERE	BrandID IN (select brandid from #comp_brands)
;

IF OBJECT_ID('tempdb..#Trans_Vanquis') IS NOT NULL DROP TABLE #Trans_Vanquis
CREATE TABLE #Trans_Vanquis (FanID int, CINID int not null primary key)
INSERT INTO #Trans_Vanquis
SELECT	FanID, CT.CINID
FROM	#FB_Vanquis F
JOIN	WH_Vanquis.Trans.Consumertransaction CT ON F.CINID = CT.CINID
JOIN	#CC_Vanquis C ON C.ConsumerCombinationID = CT.ConsumerCombinationID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND Amount > 0
GROUP BY FanID, CT.CINID
;

IF OBJECT_ID(@QualifiedName_Vanquis) IS NOT NULL
BEGIN
	SET @sql_Vanquis_drop = 'DROP TABLE ' + @QualifiedName_Vanquis
	EXEC (@sql_Vanquis_drop)
END

SET @sql_Vanquis_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_Vanquis
	+ ' FROM #Trans_Vanquis GROUP BY FanID, CINID'
EXEC (@sql_Vanquis_create)
;
-----------------------------------------------------------------------------------

/* VANQUIS SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_Vanquis') IS NOT NULL DROP TABLE #SegmentAssignment_Vanquis
;
create table #SegmentAssignment_Vanquis (FanID int)
;
SET @sql_Vanquis_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_Vanquis
;
insert into #SegmentAssignment_Vanquis
exec (@sql_Vanquis_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_Vanquis') IS NOT NULL DROP TABLE #FinalSelection_Vanquis
;
create table #FinalSelection_Vanquis (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_Vanquis
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_Vanquis.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_Vanquis
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_Vanquis.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_Vanquis sa
			WHERE sg.[FanID] = sa.[FanID])
end
;

	DROP TABLE IF EXISTS [WH_Vanquis].[Selections].[EVA007_PreSelection]
	SELECT FanID
	INTO [WH_Vanquis].[Selections].[EVA007_PreSelection]
	FROM #FB_vanquis fb
	WHERE EXISTS (	SELECT 1
					FROM #FinalSelection_vanquis  st
					WHERE fb.FanID = st.FanID)

END


GO
