USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[TES018_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[TES018_PreSelection_sProc]
AS
BEGIN

	--	Paremeter Setup

		DECLARE @Retailer_BrandIDs INT = 425
			,	@Retailer_MonthsLookBack INT = 6 --months to look back for comp steal

	--	Fetch CCs

		DROP TABLE IF EXISTS #CC
		CREATE TABLE #CC (	[ConsumerCombinationID] INT NOT NULL PRIMARY KEY
						,	[BrandID] INT)
		INSERT INTO #CC
		SELECT	cc.[ConsumerCombinationID]
			,	cc.[BrandID]
		FROM [Trans].[ConsumerCombination] cc WITH (NOLOCK)
		WHERE cc.[BrandID] = @Retailer_BrandIDs
		ORDER BY	cc.[ConsumerCombinationID]

	--	Fetch Transactions
				
		DROP TABLE IF EXISTS #CT
		SELECT  ct.[CINID]
			,	[BrandShopper] = MAX(CASE WHEN ct.[TranDate] >= DATEADD(MONTH,-3,cast(GETDATE() as date)) THEN 1 ELSE 0 END)
			,	[Transactions] = COUNT(1)
		INTO #CT
		FROM [Trans].[ConsumerTransaction] ct
		WHERE ct.[TranDate] >= DATEADD(MONTH, -@Retailer_MonthsLookBack, CONVERT(DATE, GETDATE()))
		AND ct.[Amount] > 0
		AND EXISTS (SELECT 1
					FROM #CC cc
					WHERE ct.[ConsumerCombinationID] = cc.[ConsumerCombinationID])
		GROUP BY	ct.[CINID]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #CT ([CINID])

		DROP TABLE IF EXISTS #CT_BigShop
		SELECT  ct.[CINID]
			,	[BrandShopper] = MAX(CASE WHEN ct.[TranDate] >= DATEADD(MONTH,-3,cast(GETDATE() as date)) THEN 1 ELSE 0 END)
			,	[Transactions] = COUNT(1)
		INTO #CT_BigShop
		FROM [Trans].[ConsumerTransaction] ct
		WHERE ct.[TranDate] >= DATEADD(MONTH, -@Retailer_MonthsLookBack, CONVERT(DATE, GETDATE()))
		AND ct.[Amount] > 80
		AND EXISTS (SELECT 1
					FROM #CC cc
					WHERE ct.[ConsumerCombinationID] = cc.[ConsumerCombinationID])
		GROUP BY	ct.[CINID]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #CT_BigShop ([CINID])

	--	Fetch Customers

		DROP TABLE IF EXISTS #FB
		CREATE TABLE #FB (	[CINID] INT NOT NULL PRIMARY KEY
						,	[FanID] INT)
		INSERT INTO #FB
		SELECT	cl.[CINID]
			,	cu.[FanID]
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[CINList] cl
			ON cl.[CIN] = cu.[SourceUID]
		WHERE cu.[CurrentlyActive] = 1
		AND NOT EXISTS (SELECT 1
						FROM [Derived].[Customer_DuplicateSourceUID] ds
						WHERE cu.[SourceUID] = ds.[SourceUID])
		AND EXISTS (	SELECT 1
						FROM #CT ct
						WHERE cl.[CINID] = ct.[CINID]
						AND ct.[BrandShopper] = 1)
		ORDER BY	cl.[CINID]

	--	Fetch Output
	
		DROP TABLE IF EXISTS #Customers
		SELECT	fb.[FanID]
			,	fb.[CINID]
		INTO #Customers
		FROM #FB fb
		WHERE NOT EXISTS (	SELECT 1
							FROM #CT_BigShop ctb
							WHERE fb.[CINID] = ctb.[CINID])
			
		CREATE CLUSTERED INDEX [CIX_FanID] ON #Customers ([FanID])

	--	Log Output

		DROP TABLE IF EXISTS [Sandbox].[AnnetteM].[Vanquis_Tesco_Small_Shoppers]
		SELECT	cu.[FanID]
			,	cu.[CINID]
		INTO [Sandbox].[AnnetteM].[Vanquis_Tesco_Small_Shoppers]
		FROM #Customers cu

	--	Load to Preselections
	
		DROP TABLE IF EXISTS [Selections].[TES018_PreSelection]
		SELECT [FanID]
		INTO [Selections].[TES018_PreSelection]
		FROM [Sandbox].[AnnetteM].[Vanquis_Tesco_Small_Shoppers]

END
GO
