USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[MOS052_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[MOS052_PreSelection_sProc]
AS
BEGIN


---	FIND YOUR COMP BRANDS --


--select * from WH_AllPublishers.Trans.Brand
--where (
--brandname like '%CHARLES%' --1541 -- p.id 4583
--or brandname like '%exodus%' --2714 --partnerid 4787
--or brandname like '%contiki%' -- 1546 --partnerid 4584
--or brandname like '%Explore%' --3810
--or brandname like '%road%' 	)--481

-----------------------------------------------------------------------------------
--	FIND PARTNERID  --
--  SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%intrepid%'
-----------------------------------------------------------------------------------
--	FILL THESE IN  --
DECLARE @schema_name sysname				= 'AnnetteM' 
DECLARE @table_name varchar(max)			= 'Moss_CT_compsteal_20251203' 
DECLARE @comp_steal_months int				= 24 --months to look back for comp steal
DECLARE @comp_brandids varchar(max)			= '83'	--Charles Tyrwhitt,Suits Direct, Slaters Menswear, Reiss, Suit Supply, Skopes Menswear, Hawes & Curtis
DECLARE	@PartnerID VARCHAR(max)				= 5207
/*		Acquire Segment 7, Lapsed Segment 8, Shopper Segment 9			*/
DECLARE @bau_segments varchar(max)			= ''
DECLARE @bespoke_segments varchar(max)		= '7,8,9'
-----------------------------------------------------------------------------------
-- !		DON'T CHANGE THESE	! 

DECLARE @table_name_rbs sysname = concat(@table_name,'_rbs')
DECLARE @table_name_vanquis sysname = concat(@table_name,'_vanquis')
DECLARE @table_name_vm sysname = concat(@table_name,'_vm')
DECLARE @table_name_barclaysblue sysname = concat(@table_name,'_barclaysblue')
DECLARE @table_name_monzo sysname = concat(@table_name,'_monzo')

DECLARE @QualifiedName_rbs sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
DECLARE @QualifiedName_vanquis sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vanquis)
DECLARE @QualifiedName_vm sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)
DECLARE @QualifiedName_barclaysblue sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_barclaysblue)
DECLARE @QualifiedName_monzo sysname		= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_monzo)

DECLARE @sql_rbs_drop nvarchar(max)
DECLARE @sql_vanquis_drop nvarchar(max)
DECLARE @sql_vm_drop nvarchar(max)
DECLARE @sql_barclaysblue_drop nvarchar(max)
DECLARE @sql_monzo_drop nvarchar(max)

DECLARE @sql_rbs_create nvarchar(max)
DECLARE @sql_vanquis_create nvarchar(max)
DECLARE @sql_vm_create nvarchar(max)
DECLARE @sql_barclaysblue_create nvarchar(max)
DECLARE @sql_monzo_create nvarchar(max)

DECLARE @sql_rbs_selections nvarchar(max)
DECLARE @sql_vanquis_selections nvarchar(max)
DECLARE @sql_vm_selections nvarchar(max)
DECLARE @sql_barclaysblue_selections nvarchar(max)
DECLARE @sql_monzo_selections nvarchar(max)

DECLARE @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
DECLARE @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
DECLARE @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
SELECT	DISTINCT BrandID
into	#comp_brands
from	WH_AllPublishers.Trans.Brand b
where	charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------

/*
	Vanquis
*/

/*Vanquis SELECTION*/

IF OBJECT_ID('tempdb..#FB_Vanquis') IS NOT NULL DROP TABLE #FB_Vanquis
CREATE TABLE #FB_Vanquis (CINID int not null primary key, FanID int)
INSERT INTO #FB_Vanquis
SELECT	CINID, FanID
FROM	WH_Vanquis.Derived.Customer C
JOIN	WH_Vanquis.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_Vanquis.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)
;

IF OBJECT_ID('tempdb..#CC_Vanquis') IS NOT NULL DROP TABLE #CC_Vanquis
CREATE TABLE #CC_Vanquis (brandid int, consumercombinationid int not null primary key)
INSERT INTO #CC_Vanquis
SELECT	CC.BrandID	,ConsumerCombinationID
FROM	WH_Vanquis.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN (select brandid from #comp_brands);

IF OBJECT_ID('tempdb..#trans_Vanquis') IS NOT NULL DROP TABLE #trans_Vanquis
CREATE TABLE #trans_Vanquis (fanid int, cinid int not null primary key)
INSERT INTO #trans_Vanquis
SELECT  FanID, CT.CINID
FROM	WH_Vanquis.Trans.ConsumerTransaction ct
JOIN	#CC_Vanquis cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_Vanquis fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
;


IF OBJECT_ID(@QualifiedName_Vanquis) IS NOT NULL
BEGIN
	SET @sql_Vanquis_drop = 'DROP TABLE ' + @QualifiedName_Vanquis
	EXEC (@sql_Vanquis_drop)
END

SET @sql_Vanquis_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_Vanquis
	+ ' FROM #Trans_Vanquis GROUP BY FanID, CINID'
EXEC (@sql_Vanquis_create)
;
-----------------------------------------------------------------------------------

/* Vanquis SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_Vanquis') IS NOT NULL DROP TABLE #SegmentAssignment_Vanquis
;
create table #SegmentAssignment_Vanquis (FanID int)
;
SET @sql_Vanquis_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_Vanquis
;
insert into #SegmentAssignment_Vanquis
exec (@sql_Vanquis_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_Vanquis') IS NOT NULL DROP TABLE #FinalSelection_Vanquis
;
create table #FinalSelection_Vanquis (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_Vanquis
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_Vanquis.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_Vanquis
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_Vanquis.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_Vanquis sa
			WHERE sg.[FanID] = sa.[FanID])
end
;


	DROP TABLE IF EXISTS [Selections].[MOS052_PreSelection]
	SELECT FanID
	INTO [Selections].[MOS052_PreSelection]
	FROM #FinalSelection_Vanquis
END





GO
