USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[MHI001_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[MHI001_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #Customers
SELECT	sm.[FanID]
	,	sm.[ShopperSegmentTypeID]
	,	[ChannelID] = NTILE(2) OVER (PARTITION BY sm.[ShopperSegmentTypeID] ORDER BY ABS(CHECKSUM(NEWID())))
INTO #Customers
FROM [Segmentation].[Roc_Shopper_Segment_Members] sm
WHERE sm.[PartnerID] = 6048
AND sm.[EndDate] IS NULL
AND NOT EXISTS (SELECT 1
				FROM [WH_AllPublishers].[Selections].[MacdonaldHotel_Channel_PreSelection] ps
				WHERE sm.[FanID] = ps.[FanID])

INSERT INTO [WH_AllPublishers].[Selections].[MacdonaldHotel_Channel_PreSelection]
SELECT	[FanID]
	,	[Channel] = CASE WHEN [ChannelID] = 1 THEN 'Online' ELSE 'In Store' END
FROM #Customers
		
DROP TABLE IF EXISTS Sandbox.SandeshG.Vanquis_McH_InStore
SELECT	ps.[FanID]
	,	cl.[CINID]
INTO Sandbox.SandeshG.Vanquis_McH_InStore
FROM [WH_AllPublishers].[Selections].[MacdonaldHotel_Channel_PreSelection] ps
INNER JOIN [Derived].[Customer] cu
	ON ps.[FanID] = cu.[FanID]
LEFT JOIN [Derived].[CINList] cl
	ON cu.[SourceUID] = cl.[CIN]
WHERE ps.[Channel] = 'In Store'

DROP TABLE IF EXISTS [Selections].[MHI001_PreSelection]
SELECT	DISTINCT
		ps.[FanID]
INTO [Selections].[MHI001_PreSelection]
FROM [WH_AllPublishers].[Selections].[MacdonaldHotel_Channel_PreSelection] ps
INNER JOIN [Derived].[Customer] cu
	ON ps.[FanID] = cu.[FanID]
WHERE ps.[Channel] = 'In Store'

END

GO
