USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[GRG032_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[GRG032_PreSelection_sProc]
AS
BEGIN

--SELECT * FROM WH_AllPublishers.Trans.Brand 	WHERE BrandName LIKE '%avanti%'


-- DECLARE THE MAIN BRAND
--DECLARE @main_brand_id INT = 292

-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (278,1076,101,354,407,75)						-- McDonald’s 278, KFC 1076, 75	Caffe Nero
--101	Costa
--2608	Gails Bakery
--914	Greggs
--354	Pret a Manger
--407	Starbucks


--VANQUIS - Comp Steal
-----------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_Vanquis') IS NOT NULL DROP TABLE #FB_Vanquis
CREATE TABLE #FB_Vanquis (CINID int not null primary key, FanID int)
INSERT INTO #FB_Vanquis
SELECT	distinct CINID, FanID
FROM	WH_Vanquis.Derived.Customer  C
JOIN	WH_Vanquis.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1


IF OBJECT_ID('tempdb..#CC_Vanquis') IS NOT NULL DROP TABLE #CC_Vanquis
CREATE TABLE #CC_Vanquis (ConsumerCombinationID int not null primary key, BrandID int)
INSERT INTO #CC_Vanquis
SELECT	ConsumerCombinationID, BrandID
FROM	WH_Vanquis.Trans.ConsumerCombination  CC
WHERE	BrandID IN     ((select brandid from #brands))		


IF OBJECT_ID('tempdb..#Trans_Vanquis') IS NOT NULL DROP TABLE #Trans_Vanquis
SELECT	FanID, CT.CINID
		,COUNT(1) as Transactions
INTO	#Trans_Vanquis
FROM	#FB_Vanquis F
JOIN	WH_Vanquis.Trans.Consumertransaction CT ON F.CINID = CT.CINID
JOIN	#CC_Vanquis C ON C.ConsumerCombinationID = CT.ConsumerCombinationID
WHERE	TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date)) 
		AND Amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_Vanquis(FanID)


IF OBJECT_ID('Sandbox.RukanK.Vanquis_Greggs_new_Comp_Steal_11072025') IS NOT NULL DROP TABLE Sandbox.RukanK.Vanquis_Greggs_new_Comp_Steal_11072025	-- 640,995 (13.03.2025)
SELECT	FanID, CINID
INTO	Sandbox.RukanK.Vanquis_Greggs_new_Comp_Steal_11072025
FROM	#Trans_Vanquis
WHERE	Transactions >= 2
--		AND SoW <= 0.30					
GROUP BY FanID, CINID

				

	DROP TABLE IF EXISTS [WH_Vanquis].[Selections].[GRG032_PreSelection]
	SELECT FanID
	INTO [WH_Vanquis].[Selections].[GRG032_PreSelection]
	FROM #FB_Vanquis fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.RukanK.Vanquis_Greggs_new_Comp_Steal_11072025  st
					WHERE fb.[CINID] = st.[CINID])

END
GO
