USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[WAS010_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[WAS010_PreSelection_sProc]
AS
BEGIN

	DROP TABLE IF EXISTS [Selections].[WAS010_PreSelection]
	SELECT FanID
	INTO [Selections].[WAS010_PreSelection]
	FROM [Derived].[Customer]
	WHERE 1 = 2
END
GO
