USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[JE013_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[JE013_PreSelection_sProc]
AS
BEGIN


/*==============================================================
    JUST EAT A/B SPLIT - Vanquis
==============================================================*/

DECLARE @ExperimentSeed VARCHAR(100) = '|vanquis _JUSTEAT_AB_V1';


---------------------------------------------------------------
-- CREATE MASTER VIRGIN A/B SPLIT
---------------------------------------------------------------

DROP TABLE IF EXISTS Sandbox.TaherD.JustEat_ABSplit_vanquis ;

SELECT
    CL.CINID,
    C.FanID,

    CASE
        WHEN ABS(
            CONVERT(
                BIGINT,
                SUBSTRING(
                    HASHBYTES(
                        'SHA2_256',
                        CONCAT(CL.CINID, @ExperimentSeed)
                    ),
                    1,
                    8
                )
            )
        ) % 2 = 0
        THEN 'A'
        ELSE 'B'
    END AS AB_Group

INTO Sandbox.TaherD.JustEat_ABSplit_vanquis 

FROM WH_Vanquis.Derived.Customer C

JOIN WH_Vanquis.Derived.CINList CL
    ON CL.CIN = C.SourceUID

WHERE C.CurrentlyActive = 1;

	IF OBJECT_ID('[WH_Vanquis].[Selections].[JE013_PreSelection]') IS NOT NULL DROP TABLE [WH_Vanquis].[Selections].[JE013_PreSelection]
	SELECT FanID
	INTO [WH_Vanquis].[Selections].[JE013_PreSelection]
	FROM Sandbox.TaherD.JustEat_ABSplit_vanquis
    WHERE AB_Group = 'A'

END
GO
