USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[CampaignSetup_PreSelections_POS]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***********************************************************************************************************************
Title: Auto-Generation of all PreSelections table for upcoming campaigns
Author: Rory Francis
Creation Date: 20 July 2018
Purpose: Run through each of the upcoming cmapigns AND run their required bespoke code to populate PreSelections tables

------------------------------------------------------------------------------------------------------------------------

Modified Log:

Change No:	Name:			Date:			Description of change:

											
***********************************************************************************************************************/

CREATE PROCEDURE [Selections].[CampaignSetup_PreSelections_POS] @EmailDate DATE

AS
BEGIN
	
	SET NOCOUNT ON

	--	DECLARE @EmailDate DATE = '2025-05-29'

	/*******************************************************************************************************************************************
		0.	Clear down previous bespoke selections
	*******************************************************************************************************************************************/

		DELETE
		FROM [Selections].[CampaignExecution_BespokeTargeting]
		WHERE [EmailDate] != @EmailDate

	/*******************************************************************************************************************************************
		1.	Store all camapigns to be run in this cycle
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #AllCampaigns
		SELECT	[ID]
			,	[PartnerID] = CONVERT(INT, [PartnerID])
			,	[ClientServicesRef]
			,	[NotIn_TableName1]
			,	[NotIn_TableName2]
			,	[NotIn_TableName3]
			,	[NotIn_TableName4]
			,	[MustBeIn_TableName1]
			,	[MustBeIn_TableName2]
			,	[MustBeIn_TableName3]
			,	[MustBeIn_TableName4]
			,	[sProcPreSelection]
			,	[PriorityFlag]
			,	[NewCampaign]
			,	[CustomerBaseOfferDate]
			,	[SelectionRun]
			,	[ReadyToRun]
		INTO #AllCampaigns
		FROM [Selections].[CampaignSetup_POS]
		WHERE [EmailDate] = @EmailDate
		UNION ALL
		SELECT	[ID]
			,	[PartnerID] = CONVERT(INT, [PartnerID])
			,	[ClientServicesRef]
			,	[NotIn_TableName1]
			,	[NotIn_TableName2]
			,	[NotIn_TableName3]
			,	[NotIn_TableName4]
			,	[MustBeIn_TableName1]
			,	[MustBeIn_TableName2]
			,	[MustBeIn_TableName3]
			,	[MustBeIn_TableName4]
			,	[sProcPreSelection]
			,	[PriorityFlag]
			,	[NewCampaign]
			,	[CustomerBaseOfferDate]
			,	[SelectionRun]
			,	[ReadyToRun]
		FROM [Selections].[CampaignSetup_DD]
		WHERE [EmailDate] = @EmailDate

		CREATE CLUSTERED INDEX [CIX_PartnerID] ON #AllCampaigns ([PartnerID])

	/*******************************************************************************************************************************************
		2.	Fetch campaigns requiring preselection to be run
	*******************************************************************************************************************************************/
	
			/***********************************************************************************************************************
				2.1.	Place all camapigns requiring preselection into holding table, add entry for Europcar's card type split
			***********************************************************************************************************************/
			
				DROP TABLE IF EXISTS #PreSelectionsToRun_Temp
				SELECT	[RunID] = DENSE_RANK() OVER (ORDER BY [PartnerID], [PriorityFlag], [ID])
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[NotIn_TableName1]
					,	[NotIn_TableName2]
					,	[NotIn_TableName3]
					,	[NotIn_TableName4]
					,	[MustBeIn_TableName1]
					,	[MustBeIn_TableName2]
					,	[MustBeIn_TableName3]
					,	[MustBeIn_TableName4]
					,	[sProcPreSelection]
					,	[PriorityFlag]
					,	[NewCampaign]
					,	[CustomerBaseOfferDate]
					,	[SelectionRun]
					,	[ReadyToRun]
				INTO #PreSelectionsToRun_Temp
				FROM #AllCampaigns
				WHERE [ReadyToRun] = 1
				AND [sProcPreSelection] LIKE '%PreSelection%'
				AND [SelectionRun] = 0
				
				DROP TABLE IF EXISTS #PreSelectionsToRun
				CREATE TABLE #PreSelectionsToRun (	[ID] INT IDENTITY
												,	[RunID] INT
												,	[PartnerID] INT
												,	[ClientServicesRef] VARCHAR(10)
												,	[PriorityFlag] INT
												,	[TableName] VARCHAR(100) NULL
												,	[TableSource] VARCHAR(100) NULL
												,	[sProcPreSelection] VARCHAR(150) NULL
												,	[sProcPreSelectionCounts] BIGINT NULL)

				INSERT INTO #PreSelectionsToRun
				SELECT	DISTINCT
						[RunID]
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[PriorityFlag]
					,	[TableName] = [NotIn_TableName1]
					,	[TableSource] = '[NotIn_TableName1]'
					,	[sProcPreSelection]
					,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
				FROM #PreSelectionsToRun_Temp
				WHERE [NotIn_TableName1] LIKE '%PreSelection%'

				INSERT INTO #PreSelectionsToRun
				SELECT	DISTINCT
						[RunID]
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[PriorityFlag]
					,	[TableName] = [NotIn_TableName2]
					,	[TableSource] = '[NotIn_TableName2]'
					,	[sProcPreSelection]
					,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
				FROM #PreSelectionsToRun_Temp
				WHERE [NotIn_TableName2] LIKE '%PreSelection%'

				INSERT INTO #PreSelectionsToRun
				SELECT	DISTINCT
						[RunID]
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[PriorityFlag]
					,	[TableName] = [NotIn_TableName3]
					,	[TableSource] = '[NotIn_TableName3]'
					,	[sProcPreSelection]
					,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
				FROM #PreSelectionsToRun_Temp
				WHERE [NotIn_TableName3] LIKE '%PreSelection%'

				INSERT INTO #PreSelectionsToRun
				SELECT	DISTINCT
						[RunID]
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[PriorityFlag]
					,	[TableName] = [NotIn_TableName4]
					,	[TableSource] = '[NotIn_TableName4]'
					,	[sProcPreSelection]
					,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
				FROM #PreSelectionsToRun_Temp
				WHERE [NotIn_TableName4] LIKE '%PreSelection%'

				INSERT INTO #PreSelectionsToRun
				SELECT	DISTINCT
						[RunID]
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[PriorityFlag]
					,	[TableName] = [MustBeIn_TableName1]
					,	[TableSource] = '[MustBeIn_TableName1]'
					,	[sProcPreSelection]
					,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
				FROM #PreSelectionsToRun_Temp
				WHERE [MustBeIn_TableName1] LIKE '%PreSelection%'

				INSERT INTO #PreSelectionsToRun
				SELECT	DISTINCT
						[RunID]
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[PriorityFlag]
					,	[TableName] = [MustBeIn_TableName2]
					,	[TableSource] = '[MustBeIn_TableName2]'
					,	[sProcPreSelection]
					,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
				FROM #PreSelectionsToRun_Temp
				WHERE [MustBeIn_TableName2] LIKE '%PreSelection%'

				INSERT INTO #PreSelectionsToRun
				SELECT	DISTINCT
						[RunID]
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[PriorityFlag]
					,	[TableName] = [MustBeIn_TableName3]
					,	[TableSource] = '[MustBeIn_TableName3]'
					,	[sProcPreSelection]
					,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
				FROM #PreSelectionsToRun_Temp
				WHERE [MustBeIn_TableName3] LIKE '%PreSelection%'

				INSERT INTO #PreSelectionsToRun
				SELECT	DISTINCT
						[RunID]
					,	[PartnerID]
					,	[ClientServicesRef]
					,	[PriorityFlag]
					,	[TableName] = [MustBeIn_TableName4]
					,	[TableSource] = '[MustBeIn_TableName4]'
					,	[sProcPreSelection]
					,	[sProcPreSelectionCounts] = CONVERT(BIGINT, NULL)
				FROM #PreSelectionsToRun_Temp
				WHERE [MustBeIn_TableName4] LIKE '%PreSelection%'

			/***********************************************************************************************************************
				2.2.	List PreSelections to be ran
			***********************************************************************************************************************/

				SELECT 'PreSelections to run through' AS [Result set displayed below]
				SELECT *
				FROM #PreSelectionsToRun
				ORDER BY [RunID]

	/*******************************************************************************************************************************************
		3.	Loop through each of the campaigns requiring preselection and run the bespoke code
	*******************************************************************************************************************************************/

		DECLARE @ID INT
			,	@MaxID INT
			,	@PartnerID INT
			,	@ClientServicesRef VARCHAR(10)
			,	@PriorityFlag INT
			,	@PreSelectionsProc VARCHAR(250)
			,	@PreSelectionTable VARCHAR(250)
			,	@CreateIndex VARCHAR(500)
			,	@TableInsert VARCHAR(500)
			,	@PreSelectionRowCount VARCHAR(50)
			,	@TableName VARCHAR(500)

		SELECT @ID = 1
			 , @MaxID = Max(RunID)
		FROM #PreSelectionsToRun
			
		WHILE @ID <= @MaxID 
			BEGIN

				SELECT	@PartnerID = [PartnerID]
					,	@ClientServicesRef = [ClientServicesRef]
					,	@PriorityFlag = [PriorityFlag]
					,	@PreSelectionsProc = [sProcPreSelection]
				FROM #PreSelectionsToRun
				WHERE [ID] = @ID

				EXEC(@PreSelectionsProc)

				SET @PreSelectionRowCount = (SELECT @@ROWCOUNT)

				UPDATE #PreSelectionsToRun
				SET [sProcPreSelectionCounts] = @PreSelectionRowCount
				WHERE [ID] = @ID

				SELECT @TableName = [TableName]
				FROM #PreSelectionsToRun
				WHERE [ID] = @ID

				SET @CreateIndex = 'CREATE CLUSTERED INDEX [CIX_Fan] on ' + @TableName + ' (FanID) WITH (DATA_COMPRESSION = PAGE) ON [' + DB_NAME() + '_Indexes]'

				IF @ID > 1
					BEGIN
						IF INDEXPROPERTY(OBJECT_ID(@TableName), 'CIX_Fan', 'IndexID') IS NULL EXEC (@CreateIndex)
					END
		
				DROP TABLE IF EXISTS #FanIDs
				CREATE TABLE #FanIDs ([FanID] INT)

				SET @TableInsert = 'INSERT INTO #FanIDs SELECT [FanID] FROM ' + @TableName

				EXEC(@TableInsert)

				DELETE bt
				FROM [Selections].[CampaignExecution_BespokeTargeting] bt
				WHERE bt.[PartnerID] = @PartnerID
				AND bt.[ClientServicesRef] = @ClientServicesRef
				AND bt.[PriorityFlag] = @PriorityFlag

				INSERT INTO [Selections].[CampaignExecution_BespokeTargeting]
				SELECT	[PartnerID] = @PartnerID
					,	[ClientServicesRef] = @ClientServicesRef
					,	[PriorityFlag] = @PriorityFlag
					,	[StoredProcedureName] = @PreSelectionsProc 
					,	[TableName] = @TableName
					,	[FanID] = [FanID]
					,	[EmailDate] = @EmailDate
				FROM #FanIDs

				SELECT @ID = MIN([ID])
				FROM #PreSelectionsToRun
				WHERE [ID] > @ID

			END	--	@ID <= @MaxID

		SELECT 'PreSelections ran'
		SELECT *
		FROM #PreSelectionsToRun
		ORDER BY [RunID]

	/*******************************************************************************************************************************************
		4. Fetch all current segmentation
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			4.1.	Store all camapigns to be run in this execution
		***********************************************************************************************************************/
		
			DROP TABLE IF EXISTS #CurrentCustomerSegment
			SELECT	DISTINCT
					ac.[PartnerID]
			INTO #CurrentCustomerSegment
			FROM #AllCampaigns ac
			WHERE [ReadyToRun] = 1
			AND [SelectionRun] = 0

			CREATE CLUSTERED INDEX CIX_PartnerID ON #CurrentCustomerSegment ([PartnerID])

		/***********************************************************************************************************************
			4.2.	Fetch the existing segmentation from Roc_Shopper_Segment_Members
		***********************************************************************************************************************/
	
			TRUNCATE TABLE [Segmentation].[CurrentCustomerSegment]
			INSERT INTO [Segmentation].[CurrentCustomerSegment] ([PartnerID], [FanID], [ShopperSegmentTypeID])
			SELECT	[PartnerID]
				,	[FanID]
				,	[ShopperSegmentTypeID]
			FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
			WHERE EXISTS (	SELECT 1
							FROM #CurrentCustomerSegment ccs
							WHERE sg.[PartnerID] = ccs.[PartnerID])
			AND EXISTS (SELECT 1
						FROM [Derived].[Customer] cu
						WHERE cu.[FanID] = sg.[FanID]
						AND cu.[CurrentlyActive] = 1)
			AND sg.[EndDate] IS NULL
				
			UPDATE STATISTICS [Segmentation].[CurrentCustomerSegment]

	/*******************************************************************************************************************************************
		5.	Store all CustomerBaseOfferDate memberships
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			5.1.	Store all camapigns to be run in this execution
		***********************************************************************************************************************/
		
			DROP TABLE IF EXISTS #ExistingUniverseOffers
			SELECT	DISTINCT
					ac.[CustomerBaseOfferDate]
				,	htm.[IronOfferID]
			INTO #ExistingUniverseOffers
			FROM [Derived].[IronOffer_Campaign_HTM] htm
			INNER JOIN #AllCampaigns ac
				ON htm.[ClientServicesRef] = ac.[ClientServicesRef]
			WHERE [ReadyToRun] = 1
			AND [SelectionRun] = 0

			CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #ExistingUniverseOffers ([CustomerBaseOfferDate], [IronOfferID])


		/***********************************************************************************************************************
			5.2.	Fetch the existing memberships from IronOfferMember
		***********************************************************************************************************************/

			TRUNCATE TABLE [Selections].[CampaignExecution_ExistingUniverse]
			INSERT INTO [Selections].[CampaignExecution_ExistingUniverse] ([IronOfferID], [StartDate], [CompositeID])
			SELECT	iom.[IronOfferID]
				,	iom.[StartDate]
				,	iom.[CompositeID]
			FROM [Derived].[IronOfferMember] iom
			WHERE EXISTS (	SELECT 1
							FROM #ExistingUniverseOffers euo
							WHERE iom.[IronOfferID] = euo.[IronOfferID]
							AND euo.[CustomerBaseOfferDate] <= iom.[StartDate])

			UPDATE STATISTICS [Selections].[CampaignExecution_ExistingUniverse]

END

GO
