USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[DIS045_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[DIS045_PreSelection_sProc]
AS
BEGIN

-----------------------------------------------------------------------------------
-- RBS
-----------------------------------------------------------------------------------

IF OBJECT_ID('tempdb..#FB') IS NOT NULL DROP TABLE #FB
SELECT	CINID, FanID
INTO	#FB
FROM	WH_Vanquis.Derived.Customer C
JOIN	WH_Vanquis.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID) 


IF OBJECT_ID('tempdb..#CC') IS NOT NULL DROP TABLE #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	WH_Vanquis.Trans.ConsumerCombination CC
WHERE	BrandID IN (2838)						

IF OBJECT_ID('tempdb..#Trans') IS NOT NULL DROP TABLE #Trans
SELECT	CT.CINID as CINID,FanID
		,COUNT(*) AS Txn
INTO	#Trans
FROM	WH_Vanquis.Trans.ConsumerTransaction CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate > DATEADD(MONTH, -6, GETDATE())
		AND Amount = '9.99'
GROUP BY CT.CINID,FanID
--HAVING COUNT(*) >= 6 


IF OBJECT_ID('Sandbox.SandeshG.Vanquis_DisneyPlus_2026') IS NOT NULL DROP TABLE Sandbox.SandeshG.Vanquis_DisneyPlus_2026
SELECT	CINID,FanID
INTO Sandbox.SandeshG.Vanquis_DisneyPlus_2026
FROM  #Trans


	IF OBJECT_ID('[WH_Vanquis].[Selections].[DIS045_PreSelection]') IS NOT NULL DROP TABLE [WH_Vanquis].[Selections].[DIS045_PreSelection]
	SELECT FanID
	INTO [WH_Vanquis].[Selections].[DIS045_PreSelection]
	FROM #FB fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.SandeshG.Vanquis_DisneyPlus_2026  st
					WHERE fb.CINID = st.CINID)

END
GO
