USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[JE022_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[JE022_PreSelection_sProc]
AS
BEGIN

--SELECT * FROM WH_AllPublishers.Trans.Brand WHERE BrandName LIKE '%just%'


-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 1122


-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands

SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand
WHERE	BRANDID IN (1122,2009,2518)
		-- just eat 1122, deliveroo 2009, uber eats 2518


-------------------------------------------------------------------------------------
----VANQUIS - Shopper - Low SoW - GROUP A
-------------------------------------------------------------------------------------

IF OBJECT_ID('tempdb..#FB_Vanquis') IS NOT NULL DROP TABLE #FB_Vanquis

CREATE TABLE #FB_Vanquis
(
	CINID int not null primary key,
	FanID int
)

INSERT INTO #FB_Vanquis

SELECT DISTINCT
	CL.CINID,
	C.FanID

FROM WH_Vanquis.Derived.Customer C

JOIN WH_Vanquis.Derived.CINList CL
	ON CL.CIN = C.SourceUID

WHERE C.CurrentlyActive = 1

AND EXISTS
(
	SELECT 1
	FROM Sandbox.TaherD.JustEat_ABSplit_vanquis AB
	WHERE AB.CINID = CL.CINID
	AND AB.AB_Group = 'A'
)



IF OBJECT_ID('tempdb..#CC_Vanquis') IS NOT NULL DROP TABLE #CC_Vanquis

CREATE TABLE #CC_Vanquis
(
	ConsumerCombinationID int not null primary key,
	BrandID int
)

INSERT INTO #CC_Vanquis

SELECT
	ConsumerCombinationID,
	BrandID

FROM WH_Vanquis.Trans.ConsumerCombination CC

WHERE BrandID IN
(
	SELECT BrandID
	FROM #brands
)



IF OBJECT_ID('tempdb..#Trans_Vanquis') IS NOT NULL DROP TABLE #Trans_Vanquis

SELECT
	FanID,
	CT.CINID,

	1.0 *
	(
		CAST
		(
			SUM
			(
				CASE
					WHEN BrandID = @main_brand_id
					THEN Amount
					ELSE 0
				END
			)
			AS FLOAT
		)
		/
		NULLIF(SUM(Amount),0)
	) AS SoW,

	MAX
	(
		CASE
			WHEN BrandID = @main_brand_id
			AND TranDate >= DATEADD(MONTH,-3,CAST(GETDATE() AS DATE))
			THEN 1
			ELSE 0
		END
	) AS BrandShopper,

	COUNT(1) AS Transactions

INTO #Trans_Vanquis

FROM #FB_Vanquis F

JOIN WH_Vanquis.Trans.Consumertransaction CT
	ON F.CINID = CT.CINID

JOIN #CC_Vanquis C
	ON C.ConsumerCombinationID = CT.ConsumerCombinationID

WHERE TranDate >= DATEADD(MONTH,-6,CAST(GETDATE() AS DATE))
AND Amount > 0

GROUP BY
	FanID,
	CT.CINID


CREATE CLUSTERED INDEX ix_CINID
ON #Trans_Vanquis(FanID)



IF OBJECT_ID('Sandbox.TaherD.JustEat_LowSoW_vanquis_A') IS NOT NULL
	DROP TABLE [Sandbox].[TaherD].[JustEat_LowSoW_vanquis_A]

SELECT
	FanID,
	CINID

INTO [Sandbox].[TaherD].[JustEat_LowSoW_vanquis_A]

FROM #Trans_Vanquis

WHERE BrandShopper = 1
AND SoW <= 0.3

GROUP BY
	FanID,
	CINID

	IF OBJECT_ID('[WH_Vanquis].[Selections].[JE022_PreSelection]') IS NOT NULL DROP TABLE [WH_Vanquis].[Selections].[JE022_PreSelection]
	SELECT FanID
	INTO [WH_Vanquis].[Selections].[JE022_PreSelection]
	FROM #FB_Vanquis fb
	WHERE EXISTS (	SELECT 1
					FROM [Sandbox].[TaherD].[JustEat_LowSoW_vanquis_A]  st
					WHERE fb.CINID = st.CINID)

END
GO
