USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[TES019_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[TES019_PreSelection_sProc]
AS
BEGIN

-----------------------------------------------------------------------------------
--	FILL THESE IN  --

declare @schema_name sysname = 'SophieH' --add the name of your personal sandbox schema
declare @table_name varchar(max) = 'Tesco_Regional' --publishers will be appended so leave them off
declare @comp_steal_months int = 24 --months to look back for comp steal
declare @comp_brandids varchar(max) = '5,21,92,215,254,275,292,312,2541,6891,6896,379,8479,485'
declare	@PartnerID VARCHAR(max) = 5205
/*Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9*/
declare @bau_segments varchar(max) = '8,9'
declare @bespoke_segments varchar(max) = '7'
-----------------------------------------------------------------------------------
-- !		DON'T CHANGE THESE	! 

DECLARE @table_name_rbs sysname = concat(@table_name,'_rbs')
DECLARE @table_name_vanquis sysname = concat(@table_name,'_vanquis')
DECLARE @table_name_vm sysname = concat(@table_name,'_vm')
DECLARE @table_name_barclaysblue sysname = concat(@table_name,'_barclaysblue')
DECLARE @table_name_monzo sysname = concat(@table_name,'_monzo')

DECLARE @QualifiedName_rbs sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
DECLARE @QualifiedName_vanquis sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vanquis)
DECLARE @QualifiedName_vm sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)
DECLARE @QualifiedName_barclaysblue sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_barclaysblue)
DECLARE @QualifiedName_monzo sysname		= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_monzo)

DECLARE @sql_rbs_drop nvarchar(max)
DECLARE @sql_vanquis_drop nvarchar(max)
DECLARE @sql_vm_drop nvarchar(max)
DECLARE @sql_barclaysblue_drop nvarchar(max)
DECLARE @sql_monzo_drop nvarchar(max)

DECLARE @sql_rbs_create nvarchar(max)
DECLARE @sql_vanquis_create nvarchar(max)
DECLARE @sql_vm_create nvarchar(max)
DECLARE @sql_barclaysblue_create nvarchar(max)
DECLARE @sql_monzo_create nvarchar(max)

DECLARE @sql_rbs_selections nvarchar(max)
DECLARE @sql_vanquis_selections nvarchar(max)
DECLARE @sql_vm_selections nvarchar(max)
DECLARE @sql_barclaysblue_selections nvarchar(max)
DECLARE @sql_monzo_selections nvarchar(max)

DECLARE @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
DECLARE @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
DECLARE @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
SELECT	DISTINCT BrandID
into	#comp_brands
from	WH_AllPublishers.Trans.Brand b
where	charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------


/*
	Vanquis
*/

/*Vanquis SELECTION*/

IF OBJECT_ID('tempdb..#FB_vanquis') IS NOT NULL DROP TABLE #FB_vanquis
CREATE TABLE #FB_vanquis (CINID int not null primary key, FanID int)
INSERT INTO #FB_vanquis
SELECT	CINID, FanID
FROM	WH_Vanquis.Derived.Customer  C
JOIN	WH_Vanquis.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND C.PostCodeDistrict IN ('WA15','L18','LE65','DE55','S70','LA14','CH43','FY4','BB1','PE21','BL9','YO15','DE14','HU17','BB11','WF17','CA1',
							'DL9','CH4','PR7','DH3','DN35','CV6','CW12','DH4','DH1','DN4','PR2','DN3','M20','L37','DN21','SK13','DN14','HX1',
							'SK9','TS25','HR2','HU6','PE12','WN2','M44','NN15','DY11','ST7','PR25','LS14','LS8','LE5','LN5','LE4','LE11','ST3',
							'SY8','PE6','SK10','LE13','NE3','B73','CW9','NG10','NN4','NE29','TS21','LE15','OL9','L13','NG22','M25','L34','B98',
							'CV21','PE19','YO8','NG34','YO11','S7','B90','PR8','CV37','PE25','ST4','DN15','YO7','TF1','NG9','WA2','S63','CV34',
							'NN3','SK1','NN8','ST16','SK23','WN1','CA14','WR5','S81','WR4','YO30','YO24','DH8','LN2','PE14','HG1','S65','SY23',
							'BL6','BD1','CV2','WV2','B70','WR11','LA5','BB4','M19','BD7','L40','DN31','LE18','NE46','L21','YO43','WA11','SY1',
							'NG5','NG18','M35','HU2','M32','WV13','M18','OL1','WF9','ST1','WS13','HG4','BD23','S41','M28','M24','WS2','TD15',
							'DY1','B18','S45','L8','DL14','PE10','S4','CW1','BL4','CV12','WA8','WA9','SK14','M6','SR6','NN18','NE8')
;

IF OBJECT_ID('tempdb..#CC_Vanquis') IS NOT NULL DROP TABLE #CC_Vanquis
CREATE TABLE #CC_Vanquis (ConsumerCombinationID int not null primary key, BrandID int)
INSERT INTO #CC_Vanquis
SELECT	ConsumerCombinationID, BrandID
FROM	WH_Vanquis.Trans.ConsumerCombination  CC
WHERE	BrandID IN (select brandid from #comp_brands)
;

IF OBJECT_ID('tempdb..#Trans_vanquis') IS NOT NULL DROP TABLE #Trans_vanquis
CREATE TABLE #Trans_vanquis (FanID int, CINID int not null primary key)
INSERT INTO #Trans_vanquis
SELECT	FanID, CT.CINID
FROM	#FB_vanquis F
JOIN	WH_Vanquis.Trans.Consumertransaction CT ON F.CINID = CT.CINID
JOIN	#CC_Vanquis C ON C.ConsumerCombinationID = CT.ConsumerCombinationID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND Amount > 0
GROUP BY FanID, CT.CINID
;

IF OBJECT_ID(@QualifiedName_vanquis) IS NOT NULL
BEGIN
	SET @sql_vanquis_drop = 'DROP TABLE ' + @QualifiedName_vanquis
	EXEC (@sql_vanquis_drop)
END

SET @sql_vanquis_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_vanquis
	+ ' FROM #Trans_vanquis GROUP BY FanID, CINID'
EXEC (@sql_vanquis_create)
;
-----------------------------------------------------------------------------------

/* Vanquis SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_VANQUIS') IS NOT NULL DROP TABLE #SegmentAssignment_VANQUIS
;
create table #SegmentAssignment_VANQUIS (FanID int)
;
SET @sql_vanquis_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_vanquis
;
insert into #SegmentAssignment_VANQUIS
exec (@sql_vanquis_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_VANQUIS') IS NOT NULL DROP TABLE #FinalSelection_VANQUIS
;
create table #FinalSelection_VANQUIS (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_VANQUIS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_Vanquis.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_VANQUIS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_Vanquis.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_VANQUIS sa
			WHERE sg.[FanID] = sa.[FanID])
end
;

	IF OBJECT_ID('[WH_Vanquis].[Selections].[TES019_PreSelection]') IS NOT NULL DROP TABLE [WH_Vanquis].[Selections].[TES019_PreSelection]
	SELECT FanID
	INTO [WH_Vanquis].[Selections].[TES019_PreSelection]
	FROM #FinalSelection_VANQUIS


END
GO
