USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[GRG033_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[GRG033_PreSelection_sProc]
AS
BEGIN


DECLARE	@PartnerID VARCHAR(500)		= 5018
DECLARE	@StartDate DATE				= '2024-10-03'
DECLARE	@EndDate DATE				= CAST(GETDATE() AS DATE)

DECLARE	@BrandID INT				= (select BrandID  FROM WH_NWG.Derived.Partner WHERE partnerID = @PartnerID)
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
--SELECT	RetailerName,	PublisherName,	OfferName,	st.IronOfferID,	SegmentName, O.StartDate, O.EndDate	,OfferPercentage
--FROM	Derived.SchemeTrans st
--JOIN	Derived.Publisher P ON P.PublisherID = ST.PublisherID
--JOIN	Derived.Partner R ON st.[PartnerID] = r.[PartnerID]
--JOIN	Derived.Offer O	ON O.IronOfferID = ST.IronOfferID AND O.[OfferID] = st.[OfferID]
--WHERE	ST.RetailerID = @PartnerID		AND CAST(TranDate AS DATE)  >=  @StartDate			AND CAST(O.StartDate AS DATE)  >=  @StartDate			AND IsRetailerReport = 1 
--GROUP BY RetailerName,	PublisherName,	OfferName,	st.IronOfferID,	SegmentName, O.StartDate, O.EndDate	,OfferPercentage
--ORDER BY O.StartDate


--IRON OFFER LIST--
IF OBJECT_ID('tempdb..#IronOfferIDs') IS NOT NULL DROP TABLE #IronOfferIDs
SELECT	IRONOFFERID  INTO	#IronOfferIDs 
FROM	WH_AllPublishers.Derived.Offer --WHERE IronOfferID IN (-27537,-27470,-27389,-27387,-27339,-27281,-25743,-25679,-25677,-25615,-25578,-25534,-28029,-28042,-28037,-28062,-28051,-28030) 
WHERE	PartnerID = @PartnerID
		AND StartDate >= @StartDate
		AND SegmentName LIKE '%Acqui%'
GROUP BY IRONOFFERID


IF OBJECT_ID('tempdb..#SelectionDates') IS NOT NULL DROP TABLE #SelectionDates
SELECT CAST(IOM.StartDate AS DATE) StartDate, CAST(IOM.EndDate AS DATE)EndDate  
INTO	#SelectionDates
FROM		WH_NWG.Derived.IronOffer IOF
JOIN		WH_NWG.Derived.IronOfferMember IOM ON iof.IronOfferID = iom.IronOfferID
where  PartnerID = @PartnerID and CAST(IOM.StartDate AS DATE)  >= @StartDate
group by  CAST(IOM.StartDate AS DATE) ,  CAST(IOM.EndDate AS DATE) 
order by  CAST(IOM.StartDate AS DATE)


-------------------------------------------------------------------------------------
---- VANQUIS - 
-------------------------------------------------------------------------------------

IF OBJECT_ID('tempdb..#FB_Vanquis') IS NOT NULL DROP TABLE #FB_Vanquis
SELECT	C.FanID		,CINID
INTO	#FB_Vanquis
FROM	WH_Vanquis.Derived.Customer  C
JOIN	WH_Vanquis.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
CREATE CLUSTERED INDEX ix_FanID on #FB_Vanquis(FANID)


IF OBJECT_ID('tempdb..#Responders_Vanquis') IS NOT NULL DROP TABLE #Responders_Vanquis		
SELECT	T.FanID, C.CINID, Spend, TranDate, StartDate, EndDate	--, SegmentName				--, count(t.FanID) txn
INTO	#Responders_Vanquis
FROM	WH_AllPublishers.Derived.SchemeTrans t
JOIN	#FB_Vanquis c on t.fanid = c.fanid
JOIN	#IronOfferIDs O	ON  O.IronOfferID = t.IronOfferID

JOIN #SelectionDates S ON T.TranDate BETWEEN StartDate AND EndDate

WHERE	t.RetailerID = @PartnerID
		AND TranDate BETWEEN @StartDate and @EndDate
		AND Spend > 0
		AND t.PublisherID = 2069			-- Vanquis - PublisherID 2069
--GROUP BY T.FanID, C.CINID	--, SegmentName
CREATE CLUSTERED INDEX ix_cinid on #Responders_Vanquis(cinid)


IF OBJECT_ID('tempdb..#Responders_EndDate_Vanquis') IS NOT NULL DROP TABLE #Responders_EndDate_Vanquis		
SELECT	CINID, MAX(RS.EndDate) AS MAX_EndDate
INTO	#Responders_EndDate_Vanquis
FROM	#Responders_Vanquis RS
GROUP BY CINID


IF OBJECT_ID('tempdb..#Responders_Overall_Spend_Vanquis') IS NOT NULL DROP TABLE #Responders_Overall_Spend_Vanquis		
SELECT	FB.FanID, T.CINID, T.Amount, T.TranDate, R.Spend AS Campaign_Spend, R.TranDate AS Campaign_TranDate, R.StartDate, R.EndDate, MAX_EndDate
		, DATEDIFF(DAY, MAX_EndDate, T.TranDate) AS DaysAfterCampaignSpend
INTO	#Responders_Overall_Spend_Vanquis
FROM	WH_Vanquis.Trans.ConsumerCombination cc
JOIN	WH_Vanquis.Trans.ConsumerTransaction t on cc.ConsumerCombinationID = t.ConsumerCombinationID
JOIN	#FB_Vanquis FB on T.CINID = FB.CINID
LEFT JOIN #Responders_Vanquis R ON R.CINID = T.CINID AND R.Spend = T.Amount AND R.TranDate = T.TranDate
LEFT JOIN #Responders_EndDate_Vanquis RS ON RS.CINID = T.CINID
WHERE	cc.BrandID = @BrandID
		AND T.TranDate BETWEEN @StartDate and @EndDate
		AND T.CINID IN (SELECT CINID FROM #Responders_Vanquis)
		AND Amount > 0
--GROUP BY t.CINID
ORDER BY  T.TRANDATE ASC, FB.FanID ASC, T.CINID ASC


IF OBJECT_ID('tempdb..#Responders_Repeat_Customer_Vanquis') IS NOT NULL DROP TABLE #Responders_Repeat_Customer_Vanquis		
SELECT	FanID, CINID				--, DaysAfterCampaignSpend
INTO	#Responders_Repeat_Customer_Vanquis
FROM	#Responders_Overall_Spend_Vanquis
WHERE	DaysAfterCampaignSpend BETWEEN 1 AND 30
GROUP BY FanID, CINID				--, DaysAfterCampaignSpend


IF OBJECT_ID('Sandbox.RukanK.Vanquis_Greggs_Nursery_20250410') IS NOT NULL DROP TABLE Sandbox.RukanK.Vanquis_Greggs_Nursery_20250410		-- 9,568 (31.03.2025), 9,110 (17.03.2025), 8060
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.Vanquis_Greggs_Nursery_20250410
FROM	#Responders_Overall_Spend_Vanquis
WHERE	CINID NOT IN (SELECT CINID FROM #Responders_Repeat_Customer_Vanquis)
GROUP BY FanID, CINID



	IF OBJECT_ID('[WH_Vanquis].[Selections].[GRG033_PreSelection]') IS NOT NULL DROP TABLE [WH_Vanquis].[Selections].[GRG033_PreSelection]
	SELECT FanID
	INTO [WH_Vanquis].[Selections].[GRG033_PreSelection]
	FROM #FB_Vanquis fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.RukanK.Vanquis_Greggs_Nursery_20250410  st
					WHERE fb.CINID = st.CINID)

END
GO
