USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[HAW015_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[HAW015_PreSelection_sProc]
AS
BEGIN


	--	Paremeter Setup

		DECLARE @PartnerID INT = 4518
			,	@Competitors_BrandIDs VARCHAR(MAX) = '83,366,107,294,2292,7835,6883,417'
			,	@Competitors_MonthsLookBack INT = 12 --months to look back for comp steal
			,	@SegmentTypeIDs_BAU VARCHAR(MAX) = '7'
			,	@SegmentTypeIDs_Bespoke VARCHAR(MAX) = '8,9'

	--	Paremeter to Tables
		
		DROP TABLE IF EXISTS #SegmentTypeIDs_BAU;
		SELECT	[ShopperSegmentTypeID] = [value]
		INTO #SegmentTypeIDs_BAU
		FROM STRING_SPLIT(@SegmentTypeIDs_BAU, ',')
		
		DROP TABLE IF EXISTS #SegmentTypeIDs_Bespoke;
		SELECT	[ShopperSegmentTypeID] = [value]
		INTO #SegmentTypeIDs_Bespoke
		FROM STRING_SPLIT(@SegmentTypeIDs_Bespoke, ',')
				
		DROP TABLE IF EXISTS #Brands_Competitors;
		SELECT	[BrandID] = [value]
		INTO #Brands_Competitors
		FROM STRING_SPLIT(@Competitors_BrandIDs, ',')
		
	--	Fetch Brand Details

		DROP TABLE IF EXISTS #Brands
		SELECT	br.[BrandID]
		INTO #Brands
		FROM [WH_AllPublishers].[Trans].[Brand] br
		WHERE EXISTS (	SELECT 1
						FROM #Brands_Competitors cb
						WHERE br.[BrandID] = cb.[BrandID])

		CREATE CLUSTERED INDEX [CIX_BrandID] ON #Brands ([BrandID])

	--	Fetch CCs

		DROP TABLE IF EXISTS #CC
		CREATE TABLE #CC (	[ConsumerCombinationID] INT NOT NULL PRIMARY KEY
						,	[BrandID] INT)
		INSERT INTO #CC
		SELECT	cc.[ConsumerCombinationID]
			,	cc.[BrandID]
		FROM [Trans].[ConsumerCombination] cc WITH (NOLOCK)
		WHERE EXISTS (	SELECT 1
						FROM #Brands br
						WHERE cc.[BrandID] = br.[BrandID])
		ORDER BY	cc.[ConsumerCombinationID]

	--	Fetch Transactions
				
		DROP TABLE IF EXISTS #CT
		SELECT  ct.[CINID]
		INTO #CT
		FROM [Trans].[ConsumerTransaction] ct
		WHERE ct.[TranDate] >= DATEADD(MONTH, -@Competitors_MonthsLookBack, CONVERT(DATE, GETDATE()))
		AND ct.[Amount] > 0
		AND EXISTS (SELECT 1
					FROM #CC cc
					WHERE ct.[ConsumerCombinationID] = cc.[ConsumerCombinationID])
		GROUP BY	ct.[CINID]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #CT ([CINID])

	--	Fetch Customers

		DROP TABLE IF EXISTS #FB
		CREATE TABLE #FB (	[CINID] INT NOT NULL PRIMARY KEY
						,	[FanID] INT)
		INSERT INTO #FB
		SELECT	cl.[CINID]
			,	cu.[FanID]
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[CINList] cl
			ON cl.[CIN] = cu.[SourceUID]
		WHERE cu.[CurrentlyActive] = 1
		AND NOT EXISTS (SELECT 1
						FROM [Derived].[Customer_DuplicateSourceUID] ds
						WHERE cu.[SourceUID] = ds.[SourceUID])
		AND EXISTS (	SELECT 1
						FROM #CT ct
						WHERE cl.[CINID] = ct.[CINID])
		ORDER BY	cl.[CINID]

	--	Fetch Output
	
		DROP TABLE IF EXISTS #Customers
		SELECT	fb.[FanID]
			,	fb.[CINID]
		INTO #Customers
		FROM #FB fb
		WHERE EXISTS (	SELECT 1
						FROM #CT ct
						WHERE ct.[CINID] = fb.[CINID])			-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
			
		CREATE CLUSTERED INDEX [CIX_FanID] ON #Customers ([FanID])

	--	Log Output

		DROP TABLE IF EXISTS [Sandbox].[TaherD].[Hawes&Curtis_compsteal_vanquis]		-- 925,153 (06.01.2025), 888,662 (11.12.2024), 923,690 (28.10.2024)
		SELECT	cu.[FanID]
			,	cu.[CINID]
		INTO [Sandbox].[TaherD].[Hawes&Curtis_compsteal_vanquis]
		FROM #Customers cu			-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
						
	--	Assign by Segment
	
		DROP TABLE IF EXISTS #FinalSelection
		CREATE TABLE #FinalSelection (	[PartnerID] INT
									,	[FanID] INT
									,	[ShopperSegmentTypeID] SMALLINT)

		-- BAU - Segments that should go to full base

			IF(EXISTS(SELECT 1 FROM #SegmentTypeIDs_BAU))
				BEGIN

					INSERT INTO #FinalSelection
					SELECT	sg.[PartnerID]
						,	sg.[FanID]
						,	sg.[ShopperSegmentTypeID]
					FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
					INNER JOIN #SegmentTypeIDs_BAU st
						ON sg.[ShopperSegmentTypeID] = st.[ShopperSegmentTypeID]
					WHERE sg.[EndDate] IS NULL
					AND sg.[PartnerID] = @PartnerID
					AND NOT EXISTS (SELECT 1
									FROM #FinalSelection fs
									WHERE sg.[FanID] = fs.[FanID])

				END

		-- Bespoke - Segments with Selection code

			IF(EXISTS(SELECT 1 FROM #SegmentTypeIDs_Bespoke))
				BEGIN

					INSERT INTO #FinalSelection
					SELECT	sg.[PartnerID]
						,	sg.[FanID]
						,	sg.[ShopperSegmentTypeID]
					FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
					INNER JOIN #SegmentTypeIDs_Bespoke st
						ON sg.[ShopperSegmentTypeID] = st.[ShopperSegmentTypeID]
					WHERE sg.[EndDate] IS NULL
					AND sg.[PartnerID] = @PartnerID
					AND EXISTS (SELECT 1
								FROM #Customers cu
								WHERE sg.[FanID] = cu.[FanID])
					AND NOT EXISTS (SELECT 1
									FROM #FinalSelection fs
									WHERE sg.[FanID] = fs.[FanID])

				END

	--	Load to Preselections
	
		DROP TABLE IF EXISTS [Selections].[HAW015_PreSelection]
		SELECT FanID
		INTO [Selections].[HAW015_PreSelection]
		FROM #FinalSelection

END
GO
