USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[PRE010_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[PRE010_PreSelection_sProc]
AS
BEGIN

	--	Paremeter Setup

		DECLARE @PartnerID INT = 4928
			,	@MainBrandID INT = 351
			,	@Competitors_BrandIDs VARCHAR(MAX) = '351,1831,468,4257,2091,3876,4258,3864,4259,4260,2794,2096,6239,6240,2793,2812'
			
		DECLARE @StartDate_SoW DATE = DATEADD(DAY, 1, DATEADD(MONTH, -36, (GETDATE())))
		DECLARE @StartDate DATE = DATEADD(DAY, 1, DATEADD(MONTH, -24, (GETDATE())))
		DECLARE @EndDate DATE = DATEADD(DAY, -10, GETDATE())

	--	Paremeter to Tables
				
		DROP TABLE IF EXISTS #Brands_Competitors;
		SELECT	[BrandID] = [value]
		INTO #Brands_Competitors
		FROM STRING_SPLIT(@Competitors_BrandIDs, ',')
		
	--	Fetch Brand Details

		DROP TABLE IF EXISTS #Brands
		SELECT	br.[BrandID]
		INTO #Brands
		FROM [WH_AllPublishers].[Trans].[Brand] br
		WHERE EXISTS (	SELECT 1
						FROM #Brands_Competitors cb
						WHERE br.[BrandID] = cb.[BrandID])

		CREATE CLUSTERED INDEX [CIX_BrandID] ON #Brands ([BrandID])

	--	Fetch CCs

		DROP TABLE IF EXISTS #CC
		CREATE TABLE #CC (	[ConsumerCombinationID] INT NOT NULL PRIMARY KEY
						,	[BrandID] INT)
		INSERT INTO #CC
		SELECT	cc.[ConsumerCombinationID]
			,	cc.[BrandID]
		FROM [Trans].[ConsumerCombination] cc WITH (NOLOCK)
		WHERE EXISTS (	SELECT 1
						FROM #Brands br
						WHERE cc.[BrandID] = br.[BrandID])
		ORDER BY	cc.[ConsumerCombinationID]

	--	Fetch Customers

		DROP TABLE IF EXISTS #FB
		CREATE TABLE #FB (	[CINID] INT NOT NULL PRIMARY KEY
						,	[FanID] INT)
		INSERT INTO #FB
		SELECT	cl.[CINID]
			,	cu.[FanID]
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[CINList] cl
			ON cl.[CIN] = cu.[SourceUID]
		WHERE cu.[CurrentlyActive] = 1
		AND NOT EXISTS (SELECT 1
						FROM [Derived].[Customer_DuplicateSourceUID] ds
						WHERE cu.[SourceUID] = ds.[SourceUID])
		ORDER BY	cl.[CINID]

	--	Fetch Transactions - All
				
		DROP TABLE IF EXISTS #CT_All
		SELECT  ct.[CINID]
			,	cc.[BrandID]
			,	ct.[Amount]
			,	ct.[TranDate]
		INTO #CT_All
		FROM [Trans].[ConsumerTransaction] ct
		INNER JOIN #CC cc
			ON ct.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
		WHERE ct.[TranDate] BETWEEN @StartDate_SoW AND @EndDate
		AND ct.[Amount] > 0

		CREATE CLUSTERED INDEX [CIX_CINID] ON #CT_All ([CINID], [TranDate])

	--	Fetch Transactions

		DROP TABLE IF EXISTS #Transactions
		SELECT  ct.[CINID]
			,	[ttltransactions] = COUNT(*)
			,	[ttlspend] = SUM(ct.[Amount])
			,	[Recency] = DATEDIFF(DAY, MAX(ct.[TranDate]), DATEADD(DAY, -10, GETDATE()))
		INTO #Transactions
		FROM #CT_All ct
		WHERE ct.[TranDate] BETWEEN @StartDate AND @EndDate
		GROUP BY	ct.[CINID]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #Transactions ([CINID])
		CREATE NONCLUSTERED INDEX [IX] ON #Transactions ([ttlspend])
						
		DROP TABLE IF EXISTS #Transactions_Brand
		SELECT  ct.[CINID]
			,	ct.[BrandID]
			,	[brand_transactions] = COUNT(*)
			,	[brand_spend] = SUM(ct.[Amount])
			,	[percentage_of_spend] = SUM(ct.[Amount])/ SUM(SUM(ct.[Amount])) OVER (PARTITION BY ct.[CINID])
			,	[brand_Recency] = DATEDIFF(day, MAX(ct.[TranDate]),dateadd(day, -10, GETDATE()))
		INTO #Transactions_Brand
		FROM #CT_All ct
		WHERE ct.[TranDate] BETWEEN @StartDate AND @EndDate
		GROUP BY	ct.[CINID]
				,	ct.[BrandID]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #Transactions_Brand ([CINID])
		CREATE NONCLUSTERED INDEX [IX] ON #Transactions_Brand ([brand_transactions])

		DROP TABLE IF EXISTS #Transactions_Brand_Pre
		SELECT  ct.[CINID]
			,	ct.[BrandID]
			,	[brand_transactions_pre] = COUNT(*)
			,	[brand_spend_pre] = SUM(ct.[Amount])
			,	[percentage_of_spend] = SUM(ct.[Amount])/ SUM(SUM(ct.[Amount])) OVER (PARTITION BY ct.[CINID])
		INTO #Transactions_Brand_Pre
		FROM #CT_All ct
		WHERE ct.[TranDate] BETWEEN @StartDate_SoW AND @StartDate
		GROUP BY	ct.[CINID]
				,	ct.[BrandID]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #Transactions_Brand_Pre ([CINID])

	--	Fetch Share of Wallet
		
		DROP TABLE IF EXISTS #SoW
		SELECT	t.[CINID]
			,	[Sow] = t.[percentage_of_spend] * 100
		INTO #SoW
		FROM #Transactions_Brand t
		WHERE t.[BrandID] = @MainBrandID
		GROUP BY	t.[CINID]
				,	t.[percentage_of_spend]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #SoW ([CINID])
		CREATE NONCLUSTERED INDEX [IX] ON #SOW ([sow])

		DROP TABLE IF EXISTS #SoW_Pre
		SELECT	t.[CINID]
			,	[Sow_pre] = t.[percentage_of_spend] * 100
		INTO #SoW_Pre
		FROM #Transactions_Brand_Pre t
		WHERE t.[BrandID] = @MainBrandID
		GROUP BY	t.[CINID]
				,	t.[percentage_of_spend]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #SoW_Pre ([CINID])
		
		DROP TABLE IF EXISTS #SoW_YoY
		SELECT	s.[CINID]
			,	[lapsed_group] =	CASE
										WHEN sp.[Sow_pre] - s.[Sow] <= 0.2 THEN 'lapsing'
										ELSE 'gaining'
									END
		INTO #SoW_YoY
		FROM #SOW s
		INNER JOIN #SoW_Pre sp
			ON s.[CINID] = sp.[CINID]
		GROUP BY	s.[CINID]
				,	CASE
						WHEN sp.[Sow_pre] - s.[Sow] <= 0.2 THEN 'lapsing'
						ELSE 'gaining'
					END

		CREATE CLUSTERED INDEX [CIX_CINID] ON #SoW_YoY ([CINID])

	--	Fetch main brand transactions

		DROP TABLE IF EXISTS #MainBrand_Transactions
		SELECT	t.[CINID]
			,	t.[brand_Recency]
			,	t.[brand_transactions]
			,	t.[percentage_of_spend]
			,	t.[brand_spend]
		INTO #MainBrand_Transactions
		FROM #Transactions_Brand t
		WHERE t.[BrandID] = @MainBrandID
		GROUP BY	t.[CINID]
				,	t.[brand_Recency]
				,	t.[brand_transactions]
				,	t.[percentage_of_spend]
				,	t.[brand_spend]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #MainBrand_Transactions ([CINID])

	--	Combine recency and Share of Wallet

		DROP TABLE IF EXISTS #Transactions_Combined
		SELECT	ct.[CINID]
			,	ct.[ttltransactions]
			,	ct.[ttlspend]
			,	ct.[Recency]
			,	YoY.[lapsed_group]
		INTO #Transactions_Combined
		FROM #Transactions ct
		LEFT JOIN #SoW_YoY YoY
			ON ct.[CINID] = YoY.[CINID] 
		INNER JOIN #Transactions_Brand br
			ON br.[CINID] = ct.[CINID] 
		WHERE br.[BrandID] = @MainBrandID
		GROUP BY	ct.[CINID]
				,	ct.[ttltransactions]
				,	ct.[ttlspend]
				,	ct.[Recency]
				,	YoY.[lapsed_group]

		CREATE CLUSTERED INDEX [CIX_CINID] ON #Transactions_Combined ([CINID])

--- Total Spend

	DROP TABLE IF EXISTS #TTLSpend_tier
	SELECT	TOP 1
			* 
	INTO #TTLSpend_tier
	FROM (	SELECT	[VIP_Spend] = percentile_disc(0.80) WITHIN GROUP(ORDER BY t.[ttlspend]) OVER ()
				,	[Potential_Spend] = percentile_disc(0.60) WITHIN GROUP(ORDER BY t.[ttlspend]) OVER ()
				,	[Core_Spend] = percentile_disc(0.40) WITHIN GROUP(ORDER BY t.[ttlspend]) OVER ()
				,	[Low_Spend] = percentile_disc(0.20) WITHIN GROUP(ORDER BY t.[ttlspend]) OVER ()
			FROM #Transactions t) a

-- SOW

	DROP TABLE IF EXISTS #SoW_tier
	SELECT	TOP 1
			* 
	INTO #SoW_tier
	FROM (	SELECT	[VIP_SOW] = percentile_disc(0.40) WITHIN GROUP(ORDER BY s.[sow]) OVER ()
				,	[Potential_SOW] = percentile_disc(0.30) WITHIN GROUP(ORDER BY s.[sow]) OVER ()
				,	[Core_SOW] = percentile_disc(0.20) WITHIN GROUP(ORDER BY s.[sow]) OVER ()
				,	[Low_SOW] = percentile_disc(0.10) WITHIN GROUP(ORDER BY s.[sow]) OVER ()
			FROM #SOW s) a


-------------------------------------------------------------------------------------------------------------

	DECLARE @vip_spend NUMERIC(12,8) = (SELECT [vip_spend] FROM #TTLSpend_tier)
	DECLARE @Potential_Spend NUMERIC(12,8) = (SELECT [Potential_Spend] FROM #TTLSpend_tier)
	DECLARE @Core_Spend NUMERIC(12,8) = (SELECT [Core_Spend] FROM #TTLSpend_tier)

	DECLARE @Core_SOW NUMERIC(12,8) = (SELECT [Core_SOW] / 100 FROM #SoW_tier)
	DECLARE @Low_SOW NUMERIC(12,8) = (SELECT [Low_SOW] / 100 FROM #SoW_tier)

	DROP TABLE IF EXISTS [Sandbox].[CaraC].[ShopperSegmentationSelection_PremierInn_07242026_PP_WH_Vanquis]
	SELECT	tt.[CINID]
		,	rbs.[FanID]
	INTO [Sandbox].[CaraC].[ShopperSegmentationSelection_PremierInn_07242026_PP_WH_Vanquis]
	FROM #Transactions_Combined tt
	INNER JOIN #MainBrand_Transactions mb
		ON tt.[CINID] = mb.[CINID]
	INNER JOIN #FB rbs
		ON rbs.[CINID] = tt.[CINID]
	INNER JOIN [Segmentation].[Roc_Shopper_Segment_Members] seg
		ON seg.[FanID] = rbs.[FanID]
		AND seg.[PartnerID] = 5349
		AND seg.[ShopperSegmentTypeID] = 9
		AND seg.[EndDate] IS NULL
	WHERE (tt.[ttlspend] >= @vip_spend and mb.[percentage_of_spend] < @Core_SOW )
	OR (tt.[ttlspend] BETWEEN @Potential_Spend AND @vip_spend AND mb.[percentage_of_spend] <= @Low_SOW)
	GROUP BY	tt.[CINID]
			,	rbs.[FanID]

	DROP TABLE IF EXISTS [Sandbox].[CaraC].[ShopperSegmentationSelection_PremierInn_07242026_RBS_Laspsing_WH_Vanquis]
	SELECT	tt.[CINID]
		,	rbs.[FanID]
	INTO [Sandbox].[CaraC].[ShopperSegmentationSelection_PremierInn_07242026_RBS_Laspsing_WH_Vanquis]
	FROM #Transactions_Combined tt
	INNER JOIN #MainBrand_Transactions mb
		ON tt.[CINID] = mb.[CINID]
	INNER JOIN #FB rbs
		ON rbs.[CINID] = tt.[CINID]
	INNER JOIN [Segmentation].[Roc_Shopper_Segment_Members] seg
		ON seg.[FanID] = rbs.[FanID]
		AND seg.[PartnerID] = 5349
		AND seg.[ShopperSegmentTypeID] = 9
		AND seg.[EndDate] IS NULL
	WHERE tt.[ttlspend] >= @Core_Spend
	AND tt.[lapsed_group] IN ('lapsing')
	GROUP BY	tt.[CINID]
			,	rbs.[FanID]

	DROP TABLE IF EXISTS [Sandbox].[CaraC].[ShopperSegmentationSelection_PremierInn_07242026_RBS_loyaltybuilder_WH_Vanquis]
	SELECT	tt.[CINID]
		,	rbs.[FanID]
	INTO [Sandbox].[CaraC].[ShopperSegmentationSelection_PremierInn_07242026_RBS_loyaltybuilder_WH_Vanquis]
	FROM #Transactions_Combined tt
	INNER JOIN #MainBrand_Transactions mb
		ON tt.[CINID] = mb.[CINID]
	INNER JOIN #FB rbs
		ON rbs.[CINID] = tt.[CINID]
	INNER JOIN [Segmentation].[Roc_Shopper_Segment_Members] seg
		ON seg.[FanID] = rbs.[FanID]
		AND seg.[PartnerID] = 5349
		AND seg.[ShopperSegmentTypeID] = 9
		AND seg.[EndDate] IS NULL
	WHERE tt.[ttlspend] >= @Core_Spend
	AND tt.[lapsed_group] NOT IN ('lapsing')
	GROUP BY	tt.[CINID]
			,	rbs.[FanID]

	DROP TABLE IF EXISTS [Selections].[PRE010_PreSelection]
	SELECT [FanID]
	INTO [Selections].[PRE010_PreSelection]
	FROM [Sandbox].[CaraC].[ShopperSegmentationSelection_PremierInn_07242026_RBS_Laspsing_WH_Vanquis]

END
GO
