USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [Selections].[MOR295_PreSelection_sProc]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[MOR295_PreSelection_sProc]
AS
BEGIN

-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 292

-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (292,21,379,425,2541,5,254,485)
			-- Morrisons 292, Asda 21, Sainsburys 379, Tesco 425, Amazon Fresh 2541, Aldi 5, Lidl 254, Waitrose 485

IF OBJECT_ID('tempdb..#FB_Vanquis') IS NOT NULL DROP TABLE #FB_Vanquis
CREATE TABLE #FB_Vanquis (CINID int not null primary key, FanID int)
INSERT INTO #FB_Vanquis
SELECT	distinct CINID, FanID
FROM	WH_Vanquis.Derived.Customer  C
JOIN	WH_Vanquis.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1


IF OBJECT_ID('tempdb..#CC_Vanquis') IS NOT NULL DROP TABLE #CC_Vanquis
CREATE TABLE #CC_Vanquis (ConsumerCombinationID int not null primary key, BrandID int)
INSERT INTO #CC_Vanquis
SELECT	ConsumerCombinationID, BrandID
FROM	WH_Vanquis.Trans.ConsumerCombination  CC
WHERE	BrandID IN     ((select brandid from #brands))		-- Morrisons 292, Asda 21, Sainsburys 379, Tesco 425, Amazon Fresh 2541, Aldi 5, Lidl 254, Waitrose 485


IF OBJECT_ID('tempdb..#Trans_Vanquis') IS NOT NULL DROP TABLE #Trans_Vanquis
SELECT	FanID, CT.CINID
		,1.0 * (CAST(SUM(CASE WHEN BrandID = @main_brand_id THEN Amount ELSE 0 END )as float) / NULLIF(SUM(Amount),0)) AS SoW
		,MAX(CASE WHEN BrandID = @main_brand_id AND TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date)) THEN 1 ELSE 0 END) BrandShopper
		,COUNT(1) as Transactions
INTO	#Trans_Vanquis
FROM	#FB_Vanquis F
JOIN	WH_Vanquis.Trans.Consumertransaction CT ON F.CINID = CT.CINID
JOIN	#CC_Vanquis C ON C.ConsumerCombinationID = CT.ConsumerCombinationID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date)) 
		AND Amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_Vanquis(FanID)


IF OBJECT_ID('Sandbox.SophieH.Vanquis_Morrisons_Med') IS NOT NULL DROP TABLE Sandbox.SophieH.Vanquis_Morrisons_Med	-- 22,524  (20.06.2023)
SELECT	FanID, CINID
INTO	Sandbox.SophieH.Vanquis_Morrisons_Med
FROM	#Trans_Vanquis
WHERE	BrandShopper = 1
		AND SoW > 0.30
		AND SoW <=0.60      -- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)


IF OBJECT_ID('[WH_vanquis].[Selections].[MOR295_PreSelection]') IS NOT NULL DROP TABLE [WH_vanquis].[Selections].[MOR295_PreSelection]
	SELECT FanID
	INTO [WH_vanquis].[Selections].[MOR295_PreSelection]
	FROM #FB_Vanquis fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.SophieH.Vanquis_Morrisons_Med  st
					WHERE fb.CINID = st.CINID)

							
							
							
							
END

GO
