USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_TriggerEmails_WelcomeEmail_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_EventPush_TriggerEmails_WelcomeEmail_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/*******************************************************************************************************************************************
		7.	Credit Card Additions
	*******************************************************************************************************************************************/

		/***************************************************************************************************************************************
			7.1.	xxxxxxxxxxxx
		***************************************************************************************************************************************/

			/***********************************************************************************************************************************
				7.1.1.	xxxxxxxxxxxx
			***********************************************************************************************************************************/
			
				DECLARE @ExecutionDate DATE = GETDATE()
				DECLARE @ReportDate DATE = DATEADD(dd, -1, @ExecutionDate)
				DECLARE @ActivatedDate DATE = DATEADD(dd, -2, @ExecutionDate)
				
				DROP TABLE IF EXISTS #NewCards
				SELECT	ca.[CardGUID]
				INTO #NewCards
				FROM [Derived].[Cards] ca
				GROUP BY ca.[CardGUID]
				HAVING CONVERT(DATE, MIN(ca.[StartDate])) = @ReportDate
				AND CONVERT(DATE, MAX(ca.[EndDate])) IS NULL
		
				CREATE CLUSTERED INDEX [CIX_Card] ON #NewCards ([CardGUID])
											
			--	DECLARE @ExecutionDate DATE = GETDATE()	DECLARE @ReportDate DATE = DATEADD(dd, -1, @ExecutionDate), @ActivatedDate DATE = DATEADD(dd, -2, @ExecutionDate)
			
				DROP TABLE IF EXISTS #NewCards_Customers
				SELECT	ca.[CustomerGUID]
					,	cu.[RegistrationDate]
					,	cp.[CardProductDescription]
					,	[NewCreditCardToday] = MAX(CASE WHEN ca.[CreditOrDebit] = 'credit' THEN 1 ELSE 0 END)
					,	[HasCreditCardBefore] = 0
					,	[NewDebitCardToday] = MAX(CASE WHEN ca.[CreditOrDebit] = 'debit' THEN 1 ELSE 0 END)
					,	[HasDebitCardBefore] = 0
					,	[ActivatedBeforeToday] = MAX(CASE WHEN cu.[RegistrationDate] < @ReportDate THEN 1 ELSE 0 END)
				INTO #NewCards_Customers
				FROM [Derived].[Cards] ca
				LEFT JOIN [Derived].[CardProduct] cp
					ON ca.[CardProductID] = cp.[CardProductID]
				INNER JOIN [Derived].[Customer] cu
					ON ca.[CustomerGUID] = cu.[CustomerGUID]
				WHERE EXISTS (	SELECT 1
								FROM #NewCards nc
								WHERE ca.[CardGUID] = nc.[CardGUID])
				GROUP BY	ca.[CustomerGUID]
						,	cu.[RegistrationDate]
						,	cp.[CardProductDescription]
						
											
			--	DECLARE @ExecutionDate DATE = GETDATE()	DECLARE @ReportDate DATE = DATEADD(dd, -1, @ExecutionDate), @ActivatedDate DATE = DATEADD(dd, -2, @ExecutionDate)

				UPDATE ncc
				SET ncc.[HasCreditCardBefore] = 1
				FROM #NewCards_Customers ncc
				WHERE EXISTS (	SELECT 1
								FROM [Derived].[Cards] ca
								WHERE ncc.[CustomerGUID] = ca.[CustomerGUID]
								AND ca.[CreditOrDebit] = 'credit'
								AND ca.[StartDate] < @ReportDate)

				UPDATE ncc
				SET ncc.[HasDebitCardBefore] = 1
				FROM #NewCards_Customers ncc
				WHERE EXISTS (	SELECT 1
								FROM [Derived].[Cards] ca
								WHERE ncc.[CustomerGUID] = ca.[CustomerGUID]
								AND ca.[CreditOrDebit] = 'debit'
								AND ca.[StartDate] < @ReportDate)

				DROP TABLE IF EXISTS #Welcome_Cards_All
				SELECT	ncc.[CustomerGUID]
					,	ncc.[RegistrationDate]
					,	ncc.[CardProductDescription]
					,	ncc.[NewCreditCardToday]
					,	ncc.[HasCreditCardBefore]
					,	ncc.[NewDebitCardToday]
					,	ncc.[HasDebitCardBefore]
					,	ncc.[ActivatedBeforeToday]
					,	[WelcomeEmailCode] =	CASE
													WHEN ncc.[NewCreditCardToday] = 1 AND ncc.[HasCreditCardBefore] = 0 AND ncc.[HasDebitCardBefore] = 1 AND ncc.[ActivatedBeforeToday] = 1 THEN 'W1'
													WHEN ncc.[NewCreditCardToday] = 1 AND ncc.[HasCreditCardBefore] = 0 AND ncc.[HasDebitCardBefore] = 1 AND ncc.[ActivatedBeforeToday] = 0 THEN 'W2'
													WHEN ncc.[NewCreditCardToday] = 1 AND ncc.[HasCreditCardBefore] = 0 AND ncc.[NewDebitCardToday] = 1 AND ncc.[HasDebitCardBefore] = 0 THEN 'W3'
													WHEN ncc.[NewCreditCardToday] = 1 AND ncc.[HasCreditCardBefore] = 0 AND ncc.[NewDebitCardToday] = 0 AND ncc.[HasDebitCardBefore] = 0 THEN 'W4'
													WHEN ncc.[NewCreditCardToday] = 0 AND ncc.[NewDebitCardToday] = 1 AND ncc.[HasDebitCardBefore] = 0 AND ncc.[HasCreditCardBefore] = 1 THEN 'W5'
												END
				INTO #Welcome_Cards_All
				FROM #NewCards_Customers ncc

			--	DECLARE @ExecutionDate DATE = GETDATE()	DECLARE @ReportDate DATE = DATEADD(dd, -1, @ExecutionDate), @ActivatedDate DATE = DATEADD(dd, -2, @ExecutionDate)

			--	New Credit Card, no other cards

				DROP TABLE IF EXISTS #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = CONVERT(VARCHAR(10), 'W8')
					,	[WelcomeEmail] = CONVERT(VARCHAR(50), 'Welcome - Reward Credit')
				INTO #Welcome_Cards
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Reward Credit')
				AND wca.[NewCreditCardToday] = 1
				AND wca.[RegistrationDate] >= @ActivatedDate
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0
							AND MAX(wca2.[NewDebitCardToday]) = 0
							AND MAX(wca2.[HasDebitCardBefore]) = 0)
				GROUP BY wca.[CustomerGUID]
				
				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W8-RB'
					,	[WelcomeEmail] = CONVERT(VARCHAR(50), 'Welcome - Reward Black Credit')
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Reward Black Credit')
				AND wca.[NewCreditCardToday] = 1
				AND wca.[RegistrationDate] >= @ActivatedDate
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0
							AND MAX(wca2.[NewDebitCardToday]) = 0
							AND MAX(wca2.[HasDebitCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]
				
			--	Adding Credit Card, has debit cards

				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W7'
					,	[WelcomeEmail] = CONVERT(VARCHAR(50), 'Adding - Reward Credit')
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Reward Credit')
				AND wca.[NewCreditCardToday] = 1
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]
				
				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W7-RB'
					,	[WelcomeEmail] = CONVERT(VARCHAR(50), 'Adding - Reward Black Credit')
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Reward Black Credit')
				AND wca.[NewCreditCardToday] = 1
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]

			-- Tavel New

				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W9'
					,	[WelcomeEmail] = CONVERT(VARCHAR(50), 'Welcome - Travel Credit')
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Travel Credit')
				AND wca.[NewCreditCardToday] = 1
				AND wca.[RegistrationDate] >= @ActivatedDate
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0
							AND MAX(wca2.[NewDebitCardToday]) = 0
							AND MAX(wca2.[HasDebitCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]

			-- Tavel Added
				
				INSERT INTO #Welcome_Cards
				SELECT	wca.[CustomerGUID]
					,	[WelcomeEmailCode] = 'W10'
					,	[WelcomeEmail] = CONVERT(VARCHAR(50), 'Adding - Travel Credit')
				FROM #Welcome_Cards_All wca
				WHERE wca.[CardProductDescription] IN ('Travel Credit')
				AND wca.[NewCreditCardToday] = 1
				AND EXISTS (SELECT	wca2.[CustomerGUID]
							FROM #Welcome_Cards_All wca2
							WHERE wca.[CustomerGUID] = wca2.[CustomerGUID]
							AND wca.[CardProductDescription] = wca2.[CardProductDescription]
							GROUP BY wca2.[CustomerGUID]
							HAVING MAX(wca2.[NewCreditCardToday]) = 1
							AND MAX(wca2.[HasCreditCardBefore]) = 0)
				AND NOT EXISTS (SELECT 1
								FROM #Welcome_Cards wc
								WHERE wca.[CustomerGUID] = wc.[CustomerGUID])
				GROUP BY wca.[CustomerGUID]

				INSERT INTO [Email].[Trigger_WelomeEmailCustomers] ([CustomerGUID]
																,	[WelcomeEmailCode]
																,	[WelcomeEmail]
																,	[Date])
				SELECT	wc.[CustomerGUID]
					,	wc.[WelcomeEmailCode]
					,	wc.[WelcomeEmail]
					,	[Date] = @ExecutionDate
				FROM #Welcome_Cards wc

END

RETURN 0
GO
