USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_OfferDetail_Update]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Inbound_OfferDetail_Update] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'OfferDetail'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'OfferDetail'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'OfferDetail'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[OfferDetailGUID]
				,	i.[IronOfferID]
				,	i.[OfferGUID]
				,	i.[OfferCap]
				,	i.[IsBounty]
				,	i.[Override]
				,	i.[BillingRate]
				,	i.[MarketingRate]
				,	i.[MinimumSpendAmount]
				,	i.[MaximumSpendAmount]
				,	i.[Monday] 
				,	i.[Tuesday] 
				,	i.[Wednesday] 
				,	i.[Thursday] 
				,	i.[Friday] 
				,	i.[Saturday] 
				,	i.[Sunday] 
				,	i.[StartTime] 
				,	i.[EndTime] 
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[OfferDetail] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[OfferDetailGUID]
					,	i.[OfferGUID]
					,	i.[IronOfferID]
					,	i.[OfferCap]
					,	i.[IsBounty]
					,	i.[Override]
					,	i.[BillingRate]
					,	i.[MarketingRate]
					,	i.[MinimumSpendAmount]
					,	i.[MaximumSpendAmount]
					,	i.[Monday] 
					,	i.[Tuesday] 
					,	i.[Wednesday] 
					,	i.[Thursday] 
					,	i.[Friday] 
					,	i.[Saturday] 
					,	i.[Sunday] 
					,	i.[StartTime] 
					,	i.[EndTime] 

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/

			MERGE [WHB].[Inbound_OfferDetail] target									-- Destination table
			USING #Inbound source														-- Source table
			ON target.[OfferDetailGUID] = source.[OfferDetailGUID]						-- Match criteria
			AND target.[OfferGUID] = source.[OfferGUID]									-- Match criteria
			
			WHEN MATCHED THEN															-- If matched, update to new value
				UPDATE SET	target.[InboundID] = source.[ID]
						,	target.[OfferDetailGUID] = source.[OfferDetailGUID]
						,	target.[IronOfferID] = source.[IronOfferID]
						,	target.[OfferGUID] = source.[OfferGUID]
						,	target.[OfferCap] = source.[OfferCap]
						,	target.[IsBounty] = source.[IsBounty]
						,	target.[Override] = source.[Override]
						,	target.[BillingRate] = source.[BillingRate]
						,	target.[MarketingRate] = source.[MarketingRate]
						,	target.[MinimumSpendAmount] = source.[MinimumSpendAmount]
						,	target.[MaximumSpendAmount] = source.[MaximumSpendAmount]
						,	target.[Monday] = source.[Monday]
						,	target.[Tuesday] = source.[Tuesday]
						,	target.[Wednesday] = source.[Wednesday]
						,	target.[Thursday] = source.[Thursday]
						,	target.[Friday] = source.[Friday]
						,	target.[Saturday] = source.[Saturday]
						,	target.[Sunday] = source.[Sunday]
						,	target.[StartTime] = source.[StartTime]
						,	target.[EndTime] = source.[EndTime]
						,	target.[LoadDate] = source.[LoadDate]
						,	target.[FileName] = source.[FileName]


			WHEN NOT MATCHED THEN														-- If not matched, add new rows
				INSERT ([InboundID]
					,	[OfferDetailGUID]
					,	[IronOfferID]
					,	[OfferGUID]
					,	[OfferCap]
					,	[IsBounty]
					,	[Override]
					,	[BillingRate]
					,	[MarketingRate]
					,	[MinimumSpendAmount]
					,	[MaximumSpendAmount]
					,	[Monday] 
					,	[Tuesday] 
					,	[Wednesday] 
					,	[Thursday] 
					,	[Friday] 
					,	[Saturday] 
					,	[Sunday] 
					,	[StartTime] 
					,	[EndTime] 
					,	[LoadDate]
					,	[FileName])
				VALUES (source.[ID]
					,	source.[OfferDetailGUID]
					,	source.[IronOfferID]
					,	source.[OfferGUID]
					,	source.[OfferCap]
					,	source.[IsBounty]
					,	source.[Override]
					,	source.[BillingRate]
					,	source.[MarketingRate]
					,	source.[MinimumSpendAmount]
					,	source.[MaximumSpendAmount]
					,	source.[Monday] 
					,	source.[Tuesday] 
					,	source.[Wednesday] 
					,	source.[Thursday] 
					,	source.[Friday] 
					,	source.[Saturday] 
					,	source.[Sunday] 
					,	source.[StartTime] 
					,	source.[EndTime] 
					,	source.[LoadDate]
					,	source.[FileName]);


		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'OfferDetail' AND [FileProcessed] = 0) > 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END





GO
