USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_SOLUSOffer_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_CustomerPush_SOLUSOffer_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @Customers INT

	DROP TABLE IF EXISTS #CustomersUpdated
	SELECT	cu.[CustomerGUID]
	INTO #CustomersUpdated
	FROM [CRM].[IronOfferMember_Customer] cu
	INNER JOIN [WHB].[Braze_CustomerPush] cp
		ON cu.[CustomerGUID] = cp.[CustomerGUID]
	WHERE cu.[ModifiedDate] > cu.[LastPushedToBraze]
	OR cu.[LastPushedToBraze] IS NULL;

	SET @Customers = @@ROWCOUNT;

	CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerGUID] ON #CustomersUpdated ([CustomerGUID]);

	DECLARE @Batches INT;

	SELECT	@Batches = @Customers / 200000;

	IF @Batches < 1 SET @Batches = 1;

	DROP TABLE IF EXISTS #Customers
	SELECT	[LoopID] = NTILE(@Batches) OVER (ORDER BY [CustomerGUID])
		,	[CustomerGUID]
	INTO #Customers
	FROM #CustomersUpdated;
	
	CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID], [LoopID]);

	DROP TABLE IF EXISTS #IronOfferMember_OfferDetail
	SELECT	od.[IronOfferMember_OfferDetailID]
		,	od.[OfferGUID]
		,	od.[StartDate]
		,	od.[EndDate]
	INTO #IronOfferMember_OfferDetail
	FROM [CRM].[IronOfferMember_OfferDetail] od
	WHERE od.[EndDate] > GETDATE();

	CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerGUID] ON #IronOfferMember_OfferDetail ([IronOfferMember_OfferDetailID]);
		
	DECLARE @LoopID INT
		,	@LoopID_Max INT;

	SELECT	@LoopID = MIN([LoopID])
		,	@LoopID_Max = MAX([LoopID])
	FROM #Customers;

	WHILE @LoopID <= @LoopID_Max
		BEGIN

			DELETE so
			FROM [WHB].[Braze_CustomerPush_SolusOffers] so
			WHERE EXISTS (	SELECT 1
							FROM #Customers cu
							WHERE so.[CustomerGUID] = cu.[CustomerGUID]
							AND cu.[LoopID] = @LoopID);

			INSERT INTO [WHB].[Braze_CustomerPush_SolusOffers] WITH (TABLOCKX) ([CustomerGUID]
																			,	[OfferRank]
																			,	[OfferGUID]
																			,	[StartDate]
																			,	[EndDate]
																			,	[EmailSendID])
			SELECT	mem.[CustomerGUID]
				,	[OfferRank] = -1
				,	od.[OfferGUID]
				,	od.[StartDate]
				,	od.[EndDate]
				,	[EmailSendID] = -1
			FROM #IronOfferMember_OfferDetail od
			INNER JOIN [CRM].[IronOfferMember_Memberships] mem
				ON od.[IronOfferMember_OfferDetailID] = mem.[IronOfferMember_OfferDetailID]
			INNER JOIN #Customers cu
				ON mem.[CustomerGUID] = cu.[CustomerGUID]
			WHERE cu.[LoopID] = @LoopID
			ORDER BY	mem.[CustomerGUID]

			SET @LoopID = @LoopID + 1

		END

	DROP TABLE IF EXISTS #CustomersToDelete
	SELECT	DISTINCT
			so.[CustomerGUID]
	INTO #CustomersToDelete
	FROM [WHB].[Braze_CustomerPush_SolusOffers] so
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_CustomerPush] cp
						WHERE so.[CustomerGUID] = cp.[CustomerGUID])

	CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerGUID] ON #CustomersToDelete ([CustomerGUID]);

	DELETE so
	FROM [WHB].[Braze_CustomerPush_SolusOffers] so
	WHERE EXISTS (	SELECT 1
					FROM #CustomersToDelete ctd
					WHERE so.[CustomerGUID] = ctd.[CustomerGUID]);
	
END

RETURN 0

GO
