USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Events_Incentivised_Retail_Upload_MarkUploaded]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

CREATE PROCEDURE [WHB].[Braze_Events_Incentivised_Retail_Upload_MarkUploaded]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;

	UPDATE st
	SET st.[PushedToBraze] = 1
	FROM [WHB].[Braze_EventPush_Retail] st
	INNER JOIN [WH_AllPublishers].[Derived].[OfferCollateral] nol
		ON st.[OfferGUID] = nol.[OfferGUID]
	INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
		ON st.[PartnerID] = pa.[PartnerID]
	INNER JOIN [WH_AllPublishers].[Trans].[Brand] br
		ON pa.[BrandID] = br.[BrandID]
	INNER JOIN [WH_AllPublishers].[Trans].[BrandSector] bs
		ON br.[SectorID] = bs.[SectorID]
	INNER JOIN [WH_AllPublishers].[Trans].[BrandSectorGroup] bsg
		ON bs.[SectorGroupID] = bsg.[SectorGroupID]
	INNER JOIN [WHB].[Braze_CustomerPush] cp
		ON st.[CustomerGUID] = cp.[CustomerGUID]
	WHERE st.[PushedToBraze] = 0;
							
END

RETURN 0

GO
