USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Customer_DuplicateSourceUID]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_DuplicateSourceUID] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch all customer entries where the same Source UID is used agross different customers within Virgin
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Duplicates
			SELECT	[SourceUID]
			INTO #Duplicates
			FROM [WHB].[Customer]
			GROUP BY	[SourceUID]
			HAVING COUNT(*) > 1

			CREATE CLUSTERED INDEX [CIX_SourceUID] ON #Duplicates ([SourceUID])


		/*******************************************************************************************************************************************
			2.	Insert any new duplicated Source UIDs to [Derived].[Customer_DuplicateSourceUID]
		*******************************************************************************************************************************************/
		
			--DECLARE @RunDate DATE = GETDATE()

			INSERT INTO [Derived].[Customer_DuplicateSourceUID] (	[SourceUID]
																,	[StartDate]
																,	[EndDate])
			SELECT	[SourceUID] = dup.[SourceUID]
				,	[StartDate] = @RunDate
				,	[EndDate] = NULL
			FROM #Duplicates dup
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_DuplicateSourceUID] dsu
								WHERE dup.[SourceUID] = dsu.[SourceUID]
								AND dsu.[EndDate] IS NULL)


		/*******************************************************************************************************************************************
			3.	Find all open entries from [Derived].[Customer_DuplicateSourceUID] where [SourceUID] is no longer duplicated
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #NoLongerDuplicated
			SELECT	[ID] = dsu.[ID]
				,	[SourceUID] = dsu.[SourceUID]
			INTO #NoLongerDuplicated
			FROM [Derived].[Customer_DuplicateSourceUID] dsu
			WHERE dsu.[EndDate] IS NULL
			AND NOT EXISTS (	SELECT 1
								FROM #Duplicates dup
								WHERE dsu.[SourceUID] = dup.[SourceUID])

			CREATE CLUSTERED INDEX CIX_ID ON #NoLongerDuplicated ([ID])


		/*******************************************************************************************************************************************
			4.	EndDate all entries from [Derived].[Customer_DuplicateSourceUID] where [SourceUID] is no longer duplicated
		*******************************************************************************************************************************************/
		
			DECLARE @EndDate DATE = DATEADD(DAY, -1, @RunDate)

			UPDATE dsu
			SET [EndDate] = @EndDate
			FROM [Derived].[Customer_DuplicateSourceUID] dsu
			WHERE EXISTS (	SELECT 1
							FROM #NoLongerDuplicated nld
							WHERE dsu.[ID] = nld.[ID])

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END





GO
