USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Emails_EmailEvents]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

-- =============================================
--	Author:			Rory Francis
--	Create date:	Jan 1st 2021
--	Description:	Fetch all new Email Events from Inbound and stored them in local Table
--					Fetch all new existing Email Campaigns and Email Event Codes used
					
--	Updates:		

-- =============================================

CREATE PROCEDURE [WHB].[Emails_EmailEvents] @RunDate DATE = NULL

AS

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
	,	@msg VARCHAR(200)
	,	@RowsAffected INT
	,	@Query VARCHAR(MAX)

EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

BEGIN TRY

/*******************************************************************************************************************************************
		1.	Populate all Email Events
*******************************************************************************************************************************************/

	/***************************************************************************************************************************************
		1.1.	Fetch all new Email Events
	***************************************************************************************************************************************/
		
	--	DECLARE @RunDate DATE = GETDATE()

		IF @RunDate IS NULL SET @RunDate = GETDATE()

		DECLARE @MinID BIGINT
			,	@MaxID BIGINT

		SELECT	@MinID = COALESCE(MIN(ee.[EventID]) + 1000000, 0)
		FROM [Derived].[EmailEvent] ee
		WHERE ee.[EventID] < 0
		OPTION(RECOMPILE)

		IF @MinID > 0 SET @MinID = 0

		SET @MinID = @MinID * -1

		SELECT	@MaxID = COALESCE(MAX(ee.[EventID]) - 1000000, 0)
		FROM [Derived].[EmailEvent] ee
		WHERE ee.[EventID] > 0
		OPTION(RECOMPILE)

		DROP TABLE IF EXISTS #EmailEvent
		CREATE TABLE #EmailEvent (	[EventID] BIGINT
								,	[EventDateTime] DATETIME
								,	[FanID] BIGINT
								,	[CampaignKey] NVARCHAR(8)
								,	[EmailEventCodeID] INT
								,	[ClickURL] VARCHAR(2000))

		INSERT INTO #EmailEvent
		SELECT	[EventID] = ee.[ID]
			,	[EventDateTime] = ee.[EventDate]
			,	[FanID] = ee.[FanID]
			,	[CampaignKey] = ee.[CampaignKey]
			,	[EmailEventCodeID] = ee.[EmailEventCodeID]
			,	[ClickURL] = ee.[ClickURL]
		FROM [Inbound].[EmailEvent] ee
		WHERE EXISTS (	SELECT 1
						FROM [WH_AllPublishers].[Derived].[CustomerIDs] cu
						WHERE ee.[FanID] = cu.[FanID]
						AND cu.[PublisherID] IN (2015))
		AND ee.[ID] > @MaxID
		AND CONVERT(DATE, ee.[EventDate]) <= @RunDate

		DROP TABLE IF EXISTS #BrazeExports_Campaigns
		SELECT	ca.[CampaignID]
			,	ca.[CampaignGUID]
			,	ca.[CampaignName]
			,	[CampaignKey] = LEFT(CONVERT(NVARCHAR(36), ca.[CampaignGUID]), 8)
		INTO #BrazeExports_Campaigns
		FROM [WH_AllPublishers].[CRM].[BrazeExports_Campaigns] ca

		CREATE CLUSTERED INDEX [CIX_CampaignID] ON #BrazeExports_Campaigns ([CampaignID])
			
		INSERT INTO #EmailEvent
		SELECT	[EventID] = ee.[ID] * -1
			,	ee.[EventDateTime]
			,	cu.[FanID]
			,	ca.[CampaignKey]
			,	[EmailEventCodeID] =	CASE
											WHEN ee.[EventTypeID] = 27 THEN 1301
											WHEN ee.[EventTypeID] = 30 THEN 303
											WHEN ee.[EventTypeID] = 23 THEN 605
											WHEN ee.[EventTypeID] = 29 THEN 701
											WHEN ee.[EventTypeID] = 22 THEN 702
											WHEN ee.[EventTypeID] = 25 THEN 910
											WHEN ee.[EventTypeID] = 24 THEN 666
										END
			,	[ClickURL] = li.[LinkURL]
		FROM (	SELECT	ee.[ID]
					,	ee.[EventDateTime]
					,	ee.[EventTypeID]
					,	ee.[CustomerGUID]
					,	ee.[LinkID]
					,	ee.[CampaignID]
				FROM [CRM].[Events_Email] ee
				WHERE ee.[ID] > @MinID) ee
		INNER JOIN [Derived].[Customer] cu
			ON ee.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventTypes] et
			ON ee.[EventTypeID] = et.[EventTypeID]
		LEFT JOIN [WH_AllPublishers].[CRM].[BrazeExports_Links] li
			ON ee.[LinkID] = li.[LinkID]
		LEFT JOIN #BrazeExports_Campaigns ca
			ON ee.[CampaignID] = ca.[CampaignID]
		WHERE ee.[EventTypeID] IN (27, 30, 23, 29, 22, 25, 24)
		AND ee.[CampaignID] IS NOT NULL

	/***************************************************************************************************************************************
		1.2.	Add email events for customers to table
	***************************************************************************************************************************************/

		INSERT INTO [Derived].[EmailEvent] ([EventID], [EventDateTime], [EventDate], [CustomerGUID], [OriginalCustomerGUID], [FanID], [OriginalFanID], [CompositeID], [CampaignKey], [EmailEventCodeID], [ClickURL])
		SELECT	[EventID] = ee.[EventID]
			,	[EventDateTime] = ee.[EventDateTime]
			,	[EventDate] = ee.[EventDateTime]
			,	[CustomerGUID] = cu.[CustomerID]
			,	[OriginalCustomerGUID] = cu.[CustomerID]
			,	[FanID] = ee.[FanID]
			,	[OriginalFanID] = ee.[FanID]
			,	[CompositeID] = cu.[CompositeID]
			,	[CampaignKey] = ee.[CampaignKey]
			,	[EmailEventCodeID] = ee.[EmailEventCodeID]
			,	[ClickURL] = ee.[ClickURL]
		FROM #EmailEvent ee
		INNER JOIN [WH_AllPublishers].[Derived].[CustomerIDs] cu
			ON ee.[FanID] = cu.[FanID]
		WHERE NOT EXISTS (	SELECT 1
							FROM [Derived].[EmailEvent] ee2
							WHERE ee.[EventID] = ee2.[EventID])

		-- log it
		SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[EmailEvent] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		-- log it
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Columnstore index created on [Derived].[EmailEvent]'

/*******************************************************************************************************************************************
		2.	Populate all Email Campaigns
*******************************************************************************************************************************************/

	TRUNCATE TABLE [Derived].[EmailCampaign]

	SET IDENTITY_INSERT [Derived].[EmailCampaign] ON

	INSERT INTO	[Derived].[EmailCampaign] (	[ID]
										,	[CampaignKey]
										,	[EmailKey]
										,	[CampaignName]
										,	[Subject]
										,	[SendDateTime]
										,	[SendDate])
	SELECT	ec.[ID]
		,	ec.[CampaignKey]
		,	ec.[EmailKey]
		,	ec.[CampaignName]
		,	ec.[Subject]
		,	[SendDateTime] = ec.[SendDate]
		,	[SendDate] = CONVERT(DATE, ec.[SendDate])
	FROM [Inbound].[EmailCampaign] ec
	WHERE EXISTS (	SELECT 1
					FROM [Derived].[EmailEvent] ee
					WHERE ee.[CampaignKey] = ec.[CampaignKey])
	
	INSERT INTO	[Derived].[EmailCampaign] (	[ID]
										,	[CampaignKey]
										,	[EmailKey]
										,	[CampaignName]
										,	[Subject]
										,	[SendDateTime]
										,	[SendDate])
	SELECT	[ID] = ca.[CampaignID] * -1
		,	ca.[CampaignKey]
		,	[EmailKey] = NULL
		,	ca.[CampaignName]
		,	[Subject] = NULL
		,	[SendDateTime] = GETDATE()
		,	[SendDate] = GETDATE()
	FROM #BrazeExports_Campaigns ca

	SET IDENTITY_INSERT [Derived].[EmailCampaign] OFF

	-- log it
	SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[EmailCampaign] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
		3.	Populate all Email Event Codes
*******************************************************************************************************************************************/
	
	TRUNCATE TABLE [Derived].[EmailEventCode]

	INSERT INTO	[Derived].[EmailEventCode] ([EmailEventCodeID]
										,	[EmailEventDesc])	
	SELECT	[EmailEventCodeID]
		,	[EmailEventDesc]
	FROM [Warehouse].[Relational].[EmailEventCode] eec
	WHERE EXISTS (	SELECT 1
					FROM [Derived].[EmailEvent] ee
					WHERE ee.[EmailEventCodeID] = eec.[EmailEventCodeID])

	-- log it
	SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[EmailEventCode] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

	RETURN 0; -- normal exit here

END TRY
BEGIN CATCH		
		
	-- Grab the error details
	SELECT  
		@ERROR_NUMBER = ERROR_NUMBER(), 
		@ERROR_SEVERITY = ERROR_SEVERITY(), 
		@ERROR_STATE = ERROR_STATE(), 
		@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
		@ERROR_LINE = ERROR_LINE(),   
		@ERROR_MESSAGE = ERROR_MESSAGE();
	SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

	IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
	-- Insert the error INTO the ErrorLog
	INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
	VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

	-- Regenerate an error to return to caller
	SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
	RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

	-- Return a failure
	RETURN -1;
END CATCH

RETURN 0; -- should never run


GO
