USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_ControlGroup_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_CustomerPush_ControlGroup_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	INSERT INTO [WHB].[Braze_CustomerPush_ControlGroup] WITH (TABLOCKX) (	[CustomerGUID]
																		,	[ControlGroupType]
																		,	[FallowFlag]
																		,	[StartDate]
																		,	[EndDate]
																		,	[ModifiedDate]
																		,	[LastPushedToBraze])
	SELECT	fs.[CustomerGUID]
		,	[ControlGroupType] = 'Global'
		,	fs.[FallowFlag]
		,	fs.[StartDate]
		,	fs.[EndDate]
		,	[ModifiedDate] = GETDATE()
		,	[PushedToBraze] = NULL
	FROM [Derived].[FallowSelection] fs
	INNER JOIN [WHB].[Braze_CustomerPush] bclc
		ON fs.[CustomerGUID] = bclc.[CustomerGUID]
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_CustomerPush_ControlGroup] cg
						WHERE fs.[CustomerGUID] = cg.[CustomerGUID]
						AND fs.[FallowFlag] = cg.[FallowFlag]
						AND fs.[StartDate] = cg.[StartDate]
						AND fs.[EndDate] = cg.[EndDate]
						AND cg.[ControlGroupType] = 'Global')
	ORDER BY fs.[CustomerGUID];

END

RETURN 0
GO
