USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_Redemptions_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_EventPush_Redemptions_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ID BIGINT

	SELECT	@ID = ISNULL(MAX([MaxID]), 0)
	FROM [WHB].[Braze_EventPush_Redemptions_Log]

	DROP TABLE IF EXISTS #Redemptions
	SELECT	st.[ID]
		,	st.[CustomerGUID]
		,	st.[RedemptionType]
		,	st.[RedemptionPartnerGUID]
		,	st.[RedemptionOfferGUID]
		,	st.[CashbackUsed]
		,	st.[CashbackEarned]
		,	st.[RedeemedDate]
		,	st.[TradeUp_RedemptionItemID]
	--	,	st.[BankAccountGUID]
		,	[Redemptions] = 1
	INTO #Redemptions
	FROM [Derived].[Redemptions] st
	WHERE st.[ID] > @ID
		
	--DROP TABLE IF EXISTS #SavingsAccount
	--SELECT	r.[ID]
	--INTO #SavingsAccount
	--FROM [Derived].[BankAccountTypeHistory] bath
	--INNER JOIN #Redemptions r
	--	ON bath.[BankAccountGUID] = r.[BankAccountGUID]
	--	AND r.[RedeemedDate] BETWEEN bath.[StartDate] AND COALESCE(bath.[EndDate], '9999-12-31')
	--WHERE bath.[BankAccountProductID] IN (49, 50, 51, 52, 53, 54, 55, 56)	--	'Savings Account'
	--GROUP BY	r.[ID]

	DROP TABLE IF EXISTS #RedemptionsEnriched
	SELECT	r.[ID]
		,	r.[CustomerGUID]
		,	[RedemptionType] = COALESCE(r.[RedemptionType], ro.[RedemptionOfferType], rp.[PartnerType])
		,	[RetailerName] = COALESCE(rp.[PartnerName], r.[RedemptionType], ro.[RedemptionOfferType], rp.[PartnerType])
		,	r.[CashbackUsed]
		,	r.[CashbackEarned]
		,	[RedeemedDate] = CONVERT(DATETIME, r.[RedeemedDate])
		,	r.[Redemptions]
	INTO #RedemptionsEnriched
	FROM #Redemptions r
	LEFT JOIN [Derived].[RedemptionOffers] ro
		ON r.[RedemptionOfferGUID] = ro.[RedemptionOfferGUID]
	LEFT JOIN [Derived].[RedemptionPartners] rp
		ON r.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
	
	--UPDATE re
	--SET re.[RetailerName] = 'Savings Account'
	--FROM #RedemptionsEnriched re
	--WHERE re.[RedemptionType] = 'Pay Bank'
	--AND re.[RetailerName] = 'Pay Bank'
	--AND EXISTS (SELECT 1
	--			FROM #SavingsAccount sa
	--			WHERE re.[ID] = sa.[ID])
	
	UPDATE re
	SET re.[RetailerName] = 'Current Account'
	FROM #RedemptionsEnriched re
	WHERE re.[RedemptionType] = 'Pay Bank'
	AND re.[RetailerName] = 'Pay Bank'

	DROP TABLE IF EXISTS #CustomerLog
	SELECT	re.[CustomerGUID]
		,	[MaxID] = MAX(re.[ID])
	INTO #CustomerLog
	FROM #RedemptionsEnriched re
	GROUP BY re.[CustomerGUID]

	CREATE CLUSTERED INDEX [CIX_CustomerGUIDID] ON #CustomerLog ([CustomerGUID], [MaxID])

	INSERT INTO [WHB].[Braze_EventPush_Redemption] WITH (TABLOCKX) ([ID]
																,	[CustomerGUID]
																,	[RedemptionType]
																,	[RetailerName]
																,	[CashbackUsed]
																,	[CashbackEarned]
																,	[RedeemedDate]
																,	[Redemptions]
																,	[PushedToBraze])
	SELECT	r.[ID]
		,	r.[CustomerGUID]
		,	r.[RedemptionType]
		,	r.[RetailerName]
		,	r.[CashbackUsed]
		,	r.[CashbackEarned]
		,	r.[RedeemedDate]
		,	r.[Redemptions]
		,	[PushedToBraze] = 0
	FROM #RedemptionsEnriched r
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_EventPush_Redemption] epr
						WHERE r.[ID] = epr.[ID])
	AND r.[RedeemedDate] > DATEADD(MONTH, -3, GETDATE())

	MERGE [CRM].[Braze_CustomerRedemptionsLog] TGT
	USING (	SELECT	re.[CustomerGUID]
				,	re.[RedemptionType]
				,	re.[RetailerName]
				,	[Redemptions] = COUNT(*)
				,	[FirstRedeemedDate] = MIN(CONVERT(DATE, re.[RedeemedDate]))
				,	[LastRedeemedDate] = MAX(CONVERT(DATE, re.[RedeemedDate]))
			FROM #RedemptionsEnriched re
			GROUP BY	re.[CustomerGUID]
					,	re.[RedemptionType]
					,	re.[RetailerName]) SRC
		ON TGT.[CustomerGUID] = SRC.[CustomerGUID]
		AND TGT.[RedemptionType] = SRC.[RedemptionType]
		AND TGT.[RetailerName] = SRC.[RetailerName]

	WHEN MATCHED
	THEN UPDATE
		SET	TGT.[FirstRedeemedDate] = CASE WHEN SRC.[FirstRedeemedDate] < TGT.[FirstRedeemedDate] THEN SRC.[FirstRedeemedDate] ELSE TGT.[FirstRedeemedDate] END
		,	TGT.[LastRedeemedDate] = CASE WHEN SRC.[LastRedeemedDate] > TGT.[LastRedeemedDate] THEN SRC.[LastRedeemedDate] ELSE TGT.[LastRedeemedDate] END
		,	TGT.[Redemptions] = TGT.[Redemptions] + SRC.[Redemptions]
		,	TGT.[ModifiedDate] = GETDATE()

	WHEN NOT MATCHED
		THEN INSERT (	[CustomerGUID]
					,	[RedemptionType]
					,	[RetailerName]
					,	[Redemptions]
					,	[FirstRedeemedDate]
					,	[LastRedeemedDate]
					,	[ModifiedDate])
		VALUES (SRC.[CustomerGUID]
			,	SRC.[RedemptionType]
			,	SRC.[RetailerName]
			,	SRC.[Redemptions]
			,	SRC.[FirstRedeemedDate]
			,	SRC.[LastRedeemedDate]
			,	GETDATE());

	UPDATE epl
	SET epl.[MaxID] = cl.[MaxID]
	FROM #CustomerLog cl
	INNER JOIN [WHB].[Braze_EventPush_Redemptions_Log] epl
		ON cl.[CustomerGUID] = epl.[CustomerGUID];

	INSERT INTO [WHB].[Braze_EventPush_Redemptions_Log]
	SELECT	cl.[CustomerGUID]
		,	cl.[MaxID]
	FROM #CustomerLog cl
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_EventPush_Redemptions_Log] epl
						WHERE cl.[CustomerGUID] = epl.[CustomerGUID]);

END
GO
