USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_Login_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_EventPush_Login_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/*******************************************************************************************************************************************
		1.	Fetch the most recent logins that have not already been processed
	*******************************************************************************************************************************************/

		DECLARE @ID BIGINT

		SELECT	@ID = ISNULL(MAX([MaxID]), 0)
		FROM [WHB].[Braze_EventPush_Login_Log]

		DROP TABLE IF EXISTS #LoginEnriched;
		SELECT	st.[ID]
			,	st.[CustomerGUID]
			,	[DeviceType] =	CASE
									WHEN st.[FanData] LIKE '%iphone%' THEN 'smartphone'
									WHEN st.[FanData] LIKE '%android%' THEN 'smartphone'
									WHEN st.[FanData] LIKE '%windows%' THEN 'desktop'
									WHEN st.[FanData] LIKE '%Macintosh%' THEN 'desktop'
									ELSE 'Unknown'
								END
			,	st.[TrackDate]
			,	[LoginTypeID] = 1
			,	[LoginType] = 'Reward Platform'
			,	[FirstLogin] = 0
		INTO #LoginEnriched
		FROM (	SELECT	st.[ID]
					,	st.[CustomerGUID]
					,	st.[FanData]
					,	st.[TrackDate]
				FROM [Derived].[AppLogins] st
				WHERE st.[ID] > @ID) st;

	/*******************************************************************************************************************************************
		2.	Identify any instances of a customers having their first instance of a specific login type and flag them
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #FirstLogin
		SELECT	[ID]
		INTO #FirstLogin
		FROM (	SELECT	[ID]
					,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY le.[CustomerGUID], le.[LoginType] ORDER BY le.[TrackDate], le.[ID])
				FROM #LoginEnriched le
				WHERE NOT EXISTS (	SELECT 1
									FROM [CRM].[Braze_CustomerLoginLog] cll
									WHERE le.[CustomerGUID] = cll.[CustomerGUID]
									AND le.[LoginType] = cll.[LoginType])) fe
		WHERE fe.[RowNum] = 1

		UPDATE le
		SET le.[FirstLogin] = 1
		FROM #LoginEnriched le
		WHERE EXISTS (	SELECT 1
						FROM #FirstLogin fl
						WHERE le.[ID] = fl.[ID])

	/*******************************************************************************************************************************************
		3.	Load all new logins to final table for push to Braze
	*******************************************************************************************************************************************/

		INSERT INTO [WHB].[Braze_EventPush_Login] WITH (TABLOCKX) (	[ID]
																,	[CustomerGUID]
																,	[LoginType]
																,	[DeviceType]
																,	[TrackDate]
																,	[FirstLogin]
																,	[PushedToBraze])
		SELECT	le.[ID]
			,	le.[CustomerGUID]
			,	le.[LoginType]
			,	le.[DeviceType]
			,	le.[TrackDate]
			,	le.[FirstLogin]
			,	[PushedToBraze] = 0
		FROM #LoginEnriched le
		WHERE le.[TrackDate] > DATEADD(MONTH, -3, GETDATE())
		AND NOT EXISTS (	SELECT 1
							FROM [WHB].[Braze_EventPush_Login] epl
							WHERE le.[ID] = epl.[ID]);

	/*******************************************************************************************************************************************
		3.	Load all new logins to final table for push to Braze
	*******************************************************************************************************************************************/

		MERGE [CRM].[Braze_CustomerLoginLog] TGT
		USING (	SELECT	le.[CustomerGUID]
					,	le.[LoginType]
					,	[FirstLoginDate] = MIN(CONVERT(DATE, le.[TrackDate]))
					,	[LastLoginDate] = MAX(CONVERT(DATE, le.[TrackDate]))
				FROM #LoginEnriched le
				GROUP BY	le.[CustomerGUID]
						,	le.[LoginType]) SRC
			ON TGT.[CustomerGUID] = SRC.[CustomerGUID]


			AND TGT.[LoginType] = SRC.[LoginType]

		WHEN MATCHED
			AND TGT.[FirstLoginDate] > SRC.[FirstLoginDate]
			OR TGT.[LastLoginDate] < SRC.[LastLoginDate]
		THEN UPDATE
			SET	TGT.[FirstLoginDate] = CASE WHEN SRC.[FirstLoginDate] < TGT.[FirstLoginDate] THEN SRC.[FirstLoginDate] ELSE TGT.[FirstLoginDate] END
			,	TGT.[LastLoginDate] = CASE WHEN SRC.[LastLoginDate] > TGT.[LastLoginDate] THEN SRC.[LastLoginDate] ELSE TGT.[LastLoginDate] END
			,	TGT.[ModifiedDate] = GETDATE()

		WHEN NOT MATCHED
			THEN INSERT (	[CustomerGUID]
						,	[LoginType]
						,	[FirstLoginDate]
						,	[LastLoginDate]
						,	[ModifiedDate])
			VALUES (SRC.[CustomerGUID]
				,	SRC.[LoginType]
				,	SRC.[FirstLoginDate]
				,	SRC.[LastLoginDate]
				,	GETDATE());

	/*******************************************************************************************************************************************
		4.	Update customers max ID log
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #CustomerLog;
		SELECT	re.[CustomerGUID]
			,	[MaxID] = MAX(re.[ID])
		INTO #CustomerLog
		FROM #LoginEnriched re
		GROUP BY re.[CustomerGUID];

		CREATE CLUSTERED INDEX [CIX_CustomerGUIDID] ON #CustomerLog ([CustomerGUID]);

		UPDATE epl
		SET epl.[MaxID] = cl.[MaxID]
		FROM [WHB].[Braze_EventPush_Login_Log] epl
		INNER JOIN #CustomerLog cl 
			ON cl.[CustomerGUID] = epl.[CustomerGUID];

		INSERT INTO [WHB].[Braze_EventPush_Login_Log] WITH (TABLOCK)
		SELECT	cl.[CustomerGUID]
			,	cl.[MaxID]
		FROM #CustomerLog cl
		WHERE NOT EXISTS (	SELECT 1
							FROM [WHB].[Braze_EventPush_Login_Log] epl
							WHERE cl.[CustomerGUID] = epl.[CustomerGUID]);

END

RETURN 0
GO
