USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Events_Behaviours_Update]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_Events_Behaviours_Update]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Populate the lookup tables used in the output table
		*******************************************************************************************************************************************/
		
			EXEC [WHB].[Braze_Events_Lookups_Update]
						
		/*******************************************************************************************************************************************
			2.	Insert to CRM table
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				2.1.	Fetch new entries to load
			*******************************************************************************************************************************************/
				
				DROP TABLE IF EXISTS #Braze_Currents
				SELECT	fn.[EventChannelID]
					,	fn.[EventTypeID]
					,	bc.[id]
					,	bc.[time]
					,	bc.[external_user_id]
					,	bc.[state_change_source]
					,	bc.[subscription_status]
					,	bc.[channel]
					,	bc.[campaign_id]
					,	bc.[message_variation_id]
				INTO #Braze_Currents
				FROM [Inbound].[Braze_Currents] bc
				INNER JOIN [Inbound].[S3FileNames_Braze] fn
					ON bc.[FileID] = fn.[FileID]
				WHERE EXISTS (	SELECT 1
								FROM [Inbound].[S3FileNames_Braze] fn
								WHERE bc.[FileID] = fn.[FileID]
								AND fn.[EventChannelID] = 2)

				CREATE CLUSTERED INDEX [CIX_ID] ON #Braze_Currents ([ID])
				CREATE NONCLUSTERED INDEX [IX_CustomerExternalID] ON #Braze_Currents ([external_user_id])
				CREATE NONCLUSTERED INDEX [IX_StateChangeStatusChannel] ON #Braze_Currents ([state_change_source], [subscription_status], [channel])
				CREATE NONCLUSTERED INDEX [IX_Campaign] ON #Braze_Currents ([campaign_id], [message_variation_id])
				
			/*******************************************************************************************************************************************
				2.2.	Fetch Lookups
			*******************************************************************************************************************************************/
					
				DROP TABLE IF EXISTS #Customers
				SELECT	cei.[ExternalID]
					,	cei.[CustomerGUID]
				INTO #Customers
				FROM [WHB].[Inbound_CustomerExternalIDs] cei
				WHERE EXISTS (	SELECT 1
								FROM #Braze_Currents bc
								WHERE cei.[ExternalID] = bc.[external_user_id])

				CREATE CLUSTERED INDEX [CIX_ExternalID] ON #Customers ([ExternalID], [CustomerGUID])
					
				DROP TABLE IF EXISTS #StateChangeSource
				SELECT	scs.[StateChangeSourceID]
					,	scs.[StateChangeSource]
				INTO #StateChangeSource
				FROM [WH_AllPublishers].[CRM].[BrazeExports_StateChangeSource] scs
				WHERE EXISTS (	SELECT 1
								FROM #Braze_Currents bc
								WHERE scs.[StateChangeSource] = bc.[state_change_source])

				CREATE CLUSTERED INDEX [CIX_StateChangeSource] ON #StateChangeSource ([StateChangeSource], [StateChangeSourceID])
					
				DROP TABLE IF EXISTS #SubscriptionStatus
				SELECT	ss.[SubscriptionStatusID]
					,	ss.[SubscriptionStatus]
				INTO #SubscriptionStatus
				FROM [WH_AllPublishers].[CRM].[BrazeExports_SubscriptionStatus] ss
				WHERE EXISTS (	SELECT 1
								FROM #Braze_Currents bc
								WHERE ss.[SubscriptionStatus] = bc.[subscription_status])

				CREATE CLUSTERED INDEX [CIX_SubscriptionStatus] ON #SubscriptionStatus ([SubscriptionStatus], [SubscriptionStatusID])
					
				DROP TABLE IF EXISTS #Channel
				SELECT	ch.[ChannelID]
					,	ch.[Channel]
				INTO #Channel
				FROM [WH_AllPublishers].[CRM].[BrazeExports_Channel] ch
				WHERE EXISTS (	SELECT 1
								FROM #Braze_Currents bc
								WHERE ch.[Channel] = bc.[channel])

				CREATE CLUSTERED INDEX [CIX_Channel] ON #Channel ([Channel], [ChannelID])
				
				DROP TABLE IF EXISTS #Campaigns
				SELECT	cam.[CampaignID]
					,	cam.[CampaignGUID]
				INTO #Campaigns
				FROM [WH_AllPublishers].[CRM].[BrazeExports_Campaigns] cam
				WHERE EXISTS (	SELECT 1
								FROM #Braze_Currents bc
								WHERE cam.[CampaignGUID] = bc.[campaign_id])

				CREATE CLUSTERED INDEX [CIX_CampaignGUID] ON #Campaigns ([CampaignGUID], [CampaignID])
					
				DROP TABLE IF EXISTS #MessageVariation
				SELECT	mv.[MessageVariationID]
					,	mv.[CampaignGUID]
					,	mv.[MessageVariationGUID]
				INTO #MessageVariation
				FROM [WH_AllPublishers].[CRM].[BrazeExports_MessageVariation] mv
				WHERE EXISTS (	SELECT 1
								FROM #Braze_Currents bc
								WHERE mv.[CampaignGUID] = bc.[campaign_id]
								AND mv.[MessageVariationGUID] = bc.[message_variation_id])

				CREATE CLUSTERED INDEX [CIX_CampaignGUID] ON #MessageVariation ([CampaignGUID], [MessageVariationGUID], [MessageVariationID])
					
			/*******************************************************************************************************************************************
				2.3.	Insert new entries to temp table
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Events_Behaviours
				CREATE TABLE #Events_Behaviours (	[EventGUID] UNIQUEIDENTIFIER
												,	[EventTypeID] INT
												,	[CustomerGUID] UNIQUEIDENTIFIER
												,	[StateChangeSourceID] INT
												,	[SubscriptionStatusID] INT
												,	[ChannelID] INT
												,	[CampaignID] INT
												,	[MessageVariationID] INT
												,	[EventDateTime] DATETIME)

				DROP TABLE IF EXISTS #Inserted
				CREATE TABLE #Inserted ([EventGUID] UNIQUEIDENTIFIER
									,	[EventTypeID] INT)

				INSERT INTO #Events_Behaviours ([EventGUID]
											,	[EventTypeID]
											,	[CustomerGUID]
											,	[StateChangeSourceID]
											,	[SubscriptionStatusID]
											,	[ChannelID]
											,	[CampaignID]
											,	[MessageVariationID]
											,	[EventDateTime])
				OUTPUT	inserted.[EventGUID]
					,	inserted.[EventTypeID]
				INTO #Inserted ([EventGUID], [EventTypeID])

				SELECT	DISTINCT
						[EventGUID] = CONVERT(UNIQUEIDENTIFIER, bc.[id])
					,	bc.[EventTypeID]
					,	cu.[CustomerGUID]
					,	scs.[StateChangeSourceID]
					,	ss.[SubscriptionStatusID]
					,	ch.[ChannelID]
					,	ca.[CampaignID]
					,	mv.[MessageVariationID]
					,	[EventDateTime] = CONVERT(DATETIME, DATEADD(SECOND, CONVERT(BIGINT, bc.[time]), '19700101'))
				FROM #Braze_Currents bc
				INNER JOIN #Customers cu
					ON bc.[external_user_id] = cu.[ExternalID]
				LEFT JOIN #StateChangeSource scs
					ON bc.[state_change_source] = scs.[StateChangeSource]
				LEFT JOIN #SubscriptionStatus ss
					ON bc.[subscription_status] = ss.[SubscriptionStatus]
				LEFT JOIN #Channel ch
					ON bc.[channel] = ch.[Channel]
				LEFT JOIN #Campaigns ca
					ON bc.[campaign_id] = ca.[CampaignGUID]
				LEFT JOIN #MessageVariation mv
					ON bc.[campaign_id] = mv.[CampaignGUID]
					AND bc.[message_variation_id] = mv.[MessageVariationGUID]

			/*******************************************************************************************************************************************


				2.4.	Aggregate new entries to temp table
			*******************************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #Events_Behaviours_Agg
				SELECT	bc.[EventTypeID]
					,	bc.[CustomerGUID]
					,	bc.[StateChangeSourceID]
					,	bc.[SubscriptionStatusID]
					,	bc.[ChannelID]
					,	bc.[CampaignID]
					,	bc.[MessageVariationID]
					,	[EventDateTime] = MAX(bc.[EventDateTime])
				INTO #Events_Behaviours_Agg
				FROM #Events_Behaviours bc
				GROUP BY	bc.[EventTypeID]
						,	bc.[CustomerGUID]
						,	bc.[StateChangeSourceID]
						,	bc.[SubscriptionStatusID]
						,	bc.[ChannelID]
						,	bc.[CampaignID]
						,	bc.[MessageVariationID]

				CREATE CLUSTERED INDEX [CIX_EventTypeCustomerGUID] ON #Events_Behaviours_Agg ([EventTypeID], [CustomerGUID], [StateChangeSourceID], [SubscriptionStatusID])

			/*******************************************************************************************************************************************
				2.5.	Merge new entries to final table
			*******************************************************************************************************************************************/

				MERGE [CRM].[Events_Behaviours] target													-- Destination table
				USING #Events_Behaviours_Agg source															-- Source table
				ON target.[EventTypeID] = source.[EventTypeID]												-- Match criteria
				AND target.[CustomerGUID] = source.[CustomerGUID]											-- Match criteria
				AND ISNULL(target.[StateChangeSourceID], -1) = ISNULL(source.[StateChangeSourceID], -1)		-- Match criteria
				AND ISNULL(target.[SubscriptionStatusID], -1) = ISNULL(source.[SubscriptionStatusID], -1)	-- Match criteria
				AND ISNULL(target.[ChannelID], -1) = ISNULL(source.[ChannelID], -1)							-- Match criteria
				AND ISNULL(target.[CampaignID], -1) = ISNULL(source.[CampaignID], -1)						-- Match criteria
				AND ISNULL(target.[MessageVariationID], -1) = ISNULL(source.[MessageVariationID], -1)		-- Match criteria

				WHEN MATCHED
				AND target.[EventDateTime] < source.[EventDateTime] THEN									-- If matched, update to new value
					UPDATE SET target.[EventDateTime] = source.[EventDateTime]

				WHEN NOT MATCHED THEN																		-- If not matched, add new rows
					INSERT ([EventTypeID]
						,	[CustomerGUID]
						,	[StateChangeSourceID]
						,	[SubscriptionStatusID]
						,	[ChannelID]
						,	[CampaignID]
						,	[MessageVariationID]
						,	[EventDateTime])
					VALUES (source.[EventTypeID]
						,	source.[CustomerGUID]
						,	source.[StateChangeSourceID]
						,	source.[SubscriptionStatusID]
						,	source.[ChannelID]
						,	source.[CampaignID]
						,	source.[MessageVariationID]
						,	source.[EventDateTime]);

		/*******************************************************************************************************************************************
			3.	Delete from Inbound table
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				3.1.	Find cases where new data has been added that is not flowing through to the warehouse
			*******************************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #EventsToRetain
				SELECT	et.[EventTypeID]
				INTO #EventsToRetain
				FROM [WH_AllPublishers].[CRM].[BrazeExports_EventTypes] et
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventChannelColumns] ecc
					ON et.[EventChannelID] = ecc.[EventChannelID]
				WHERE ecc.[Inbound] = 'Included'
				AND ecc.[CRM] IS NULL
				AND EXISTS (SELECT 1
							FROM #Inserted i
							WHERE et.[EventTypeID] = i.[EventTypeID])

			/*******************************************************************************************************************************************
				3.2.	Remvoe Inbound data that is fully covered by the Warehouse load
			*******************************************************************************************************************************************/

				WHILE 1 = 1
					BEGIN

						;WITH
						DELETER AS (	SELECT TOP 500000 bc.*
										FROM [Inbound].[Braze_Currents] bc
										WHERE EXISTS (	SELECT 1
														FROM #Inserted i
														WHERE CONVERT(UNIQUEIDENTIFIER, bc.[id]) = i.[EventGUID])
										AND NOT EXISTS (SELECT 1
														FROM [Inbound].[S3FileNames_Braze] fn
														INNER JOIN #EventsToRetain etr
															ON fn.[EventTypeID] = etr.[EventTypeID]
														WHERE bc.[FileID] = fn.[FileID])
										)

						DELETE
						FROM DELETER

						IF @@ROWCOUNT = 0 BREAK

					END

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

RETURN 0

GO
