USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_CharityOffers_Update]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[Inbound_CharityOffers_Update] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'CharityOffers'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'CharityOffers'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'CharityOffers'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	[PublisherID] = NULL
				,	i.[BankID]
				,	i.[CharityItemID]
				,	i.[CharityOfferGUID]
				,	i.[Description]
				,	i.[RedemptionPartnerGUID]
				,	i.[CharityName]
				,	i.[MinimumAmount]
				,	i.[Currency]
				,	i.[Status]
				,	i.[Priority]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[CharityOffers] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[BankID]
					,	i.[CharityItemID]
					,	i.[CharityOfferGUID]
					,	i.[Description]
					,	i.[RedemptionPartnerGUID]
					,	i.[CharityName]
					,	i.[MinimumAmount]
					,	i.[Currency]
					,	i.[Status]
					,	i.[Priority]
					,	i.[CreatedAt]
					,	i.[UpdatedAt]

			UPDATE #Inbound
			SET [PublisherID] = 2069

			DECLARE @ItemID INT

			SELECT @ItemID = COALESCE(MAX([RedemptionOfferID]), 0)
			FROM [Derived].[RedemptionOffers]

			;WITH
			UPDATER AS (SELECT	[CharityOfferGUID]
							,	[CharityItemID]
							,	[ItemID] = ROW_NUMBER() OVER (ORDER BY [CharityOfferGUID]) + @ItemID
						FROM #Inbound)

			UPDATE UPDATER
			SET [CharityItemID] = COALESCE([CharityItemID], [ItemID])

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
		
			MERGE [WHB].[Inbound_CharityOffers] target									-- Destination table
			USING #Inbound source														-- Source table
			ON target.[CharityOfferGUID] = source.[CharityOfferGUID]					-- Match criteria

			WHEN MATCHED THEN															-- If matched, update to new value
				UPDATE SET	target.[InboundID] = source.[ID]
						,	target.[PublisherID] = COALESCE(target.[PublisherID], source.[PublisherID])
						,	target.[CharityItemID] = COALESCE(source.[CharityItemID], target.[CharityItemID])
						,	target.[CharityOfferGUID] = source.[CharityOfferGUID]
						,	target.[Description] = source.[Description]
						,	target.[RedemptionPartnerGUID] = source.[RedemptionPartnerGUID]
						,	target.[CharityName] = source.[CharityName]
						,	target.[MinimumAmount] = source.[MinimumAmount]
						,	target.[Currency] = source.[Currency]
						,	target.[Status] = source.[Status]
						,	target.[Priority] = source.[Priority]
						,	target.[CreatedAt] = source.[CreatedAt]
						,	target.[UpdatedAt] = source.[UpdatedAt]
						,	target.[LoadDate] = source.[LoadDate]
						,	target.[FileName] = source.[FileName]


			WHEN NOT MATCHED THEN															-- If not matched, add new rows
				INSERT ([InboundID]
					,	[PublisherID]
					,	[CharityItemID]
					,	[CharityOfferGUID]
					,	[Description]
					,	[RedemptionPartnerGUID]
					,	[CharityName]
					,	[MinimumAmount]
					,	[Currency]
					,	[Status]
					,	[Priority]
					,	[CreatedAt]
					,	[UpdatedAt]
					,	[LoadDate]
					,	[FileName])
				VALUES (source.[ID]
					,	source.[PublisherID]
					,	source.[CharityItemID]
					,	source.[CharityOfferGUID]
					,	source.[Description]
					,	source.[RedemptionPartnerGUID]
					,	source.[CharityName]
					,	source.[MinimumAmount]
					,	source.[Currency]
					,	source.[Status]
					,	source.[Priority]
					,	source.[CreatedAt]
					,	source.[UpdatedAt]
					,	source.[LoadDate]
					,	source.[FileName]);

		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'CharityOffers' AND [FileProcessed] = 0) > 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END






GO
