USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_TriggerEmails_MobileDormant_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_EventPush_TriggerEmails_MobileDormant_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/***************************************************************************************************************************************
		1.	Fetch all customers eligible to earn on Mobile Login
	***************************************************************************************************************************************/

		/***********************************************************************************************************************************
			1.1.	Fetch eligible customers
		***********************************************************************************************************************************/
				
			DROP TABLE IF EXISTS #DDML_Offers
			SELECT	DISTINCT
					[IronOfferID]
			INTO #DDML_Offers
			FROM [Derived].[IronOffer_BFO_Eligibility]
			WHERE [IronOfferName] IN ('DDML Core', 'DDML Premier')

			CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #DDML_Offers ([IronOfferID])

			DECLARE @ExecutionDate DATE = GETDATE()

			DECLARE @ThreeMonthsAgo DATE = DATEADD(MONTH, -3, @ExecutionDate)

			DROP TABLE IF EXISTS #Customers_MobileDormant
			SELECT	iom.[CustomerGUID]
			INTO #Customers_MobileDormant
			FROM [Derived].[IronOfferMember] iom
			WHERE EXISTS (	SELECT 1
							FROM #DDML_Offers dd
							WHERE iom.[IronOfferID] = dd.[IronOfferID])
			GROUP BY	iom.[CustomerGUID]
			HAVING MIN([StartDate]) < DATEADD(MONTH, -3, @ExecutionDate)

		/***********************************************************************************************************************************
			1.2.	Fetch eligible bank accounts
		***********************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #Accounts_MobileDormant
			SELECT	bath.[BankAccountGUID]
			INTO #Accounts_MobileDormant
			FROM [Derived].[BankAccountTypeHistory] bath
			INNER JOIN [Derived].[BankAccountProduct] bap
				ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
			WHERE bath.[EndDate] IS NULL
			AND bap.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE')

		/***********************************************************************************************************************************
			1.3.	Fetch eligible Customer / Accounts
		***********************************************************************************************************************************/

			DROP TABLE IF EXISTS #Eligible_MobileDormant
			SELECT	bacl.[BankAccountGUID]
				,	bacl.[CustomerGUID]
				,	cu.[CompositeID]
				,	cu.[FanID]
			INTO #Eligible_MobileDormant
			FROM [Derived].[BankAccountCustomerLinks] bacl
			INNER JOIN [Derived].[Customer] cu
				ON bacl.[CustomerGUID] = cu.[CustomerGUID]
			WHERE bacl.[EndDate] IS NULL
			AND cu.[CurrentlyActive] = 1
			AND EXISTS (SELECT 1
						FROM #Customers_MobileDormant cmd
						WHERE cu.[CustomerGUID] = cmd.[CustomerGUID])
			AND EXISTS (SELECT 1
						FROM #Accounts_MobileDormant amd
						WHERE bacl.[BankAccountGUID] = amd.[BankAccountGUID])

	/***************************************************************************************************************************************
		2.	Fetch customers that have earnt in the last 3 months or have already been emailed
	***************************************************************************************************************************************/

		/***********************************************************************************************************************************
			2.1.	Fetch the actual customers that earnt
		***********************************************************************************************************************************/
			
		--	DECLARE @ExecutionDate DATE = GETDATE()
	
			DROP TABLE IF EXISTS #DescriptionID_MobileLogin
			SELECT	[DescriptionID]
			INTO #DescriptionID_MobileLogin
			FROM [WHB].[MatchedTransactions_Description]
			WHERE [Description] LIKE 'mobile login - reward earned - %'
		
			CREATE CLUSTERED INDEX [CIX_DescID] ON #DescriptionID_MobileLogin ([DescriptionID])
										
			DROP TABLE IF EXISTS #EarningCustomers_MobileDormant
			SELECT	bt.[CustomerGUID]
				,	bt.[AccountGUID]
				,	[Transactions] = COUNT(bt.[CashbackEarned])
				,	[CashbackEarned] = SUM(bt.[CashbackEarned])
				,	[TranDate] = MAX(bt.[TranDate])
			INTO #EarningCustomers_MobileDormant
			FROM (	SELECT	bt.[CustomerGUID]
						,	bt.[AccountGUID]
						,	bt.[CashbackEarned]
						,	bt.[TranDate]
					FROM [Derived].[BankTrans] bt
					WHERE EXISTS (	SELECT 1
									FROM #DescriptionID_MobileLogin ml
									WHERE bt.[DescriptionID] = ml.[DescriptionID])
					AND CONVERT(DATE, bt.[TranDate]) >= DATEADD(MONTH, -3, @ExecutionDate))	bt
			GROUP BY	bt.[CustomerGUID]
					,	bt.[AccountGUID]

		/***********************************************************************************************************************************
			2.2.  Fetch customers that are linked to the customers that have earnt
		***********************************************************************************************************************************/

			DROP TABLE IF EXISTS #EarningCustomers_Joint_MobileDormant
			SELECT	DISTINCT
					bacl2.[CustomerGUID]
			INTO #EarningCustomers_Joint_MobileDormant
			FROM #EarningCustomers_MobileDormant ec
			INNER JOIN [Derived].[BankAccountCustomerLinks] bacl1
				ON ec.[CustomerGUID] = bacl1.[CustomerGUID]
			INNER JOIN [Derived].[BankAccountCustomerLinks] bacl2
				ON bacl1.[BankAccountGUID] = bacl2.[BankAccountGUID]
					
		/***********************************************************************************************************************************
			2.3.	Fetch customers that have been emailed in the last 3 months
		***********************************************************************************************************************************/
			
		--	DECLARE @ExecutionDate DATE = GETDATE()

			DROP TABLE IF EXISTS #EmailedCustomers_MobileDormant
			SELECT	DISTINCT
					mdc.[CustomerGUID]
				,	mdc.[FanID]
			INTO #EmailedCustomers_MobileDormant
			FROM [Email].[Trigger_MobileDormantCustomers] mdc
			WHERE mdc.[MobileDormantDate] >= DATEADD(MONTH, -3, @ExecutionDate)	--	Three motnhs prior to execution

		/***********************************************************************************************************************************
			2.  Fetch customers that are linked to the customers that have been emailed in the last 3 months
		***********************************************************************************************************************************/

			DROP TABLE IF EXISTS #EmailedCustomers_Joint_MobileDormant
			SELECT	DISTINCT
					bacl2.[CustomerGUID]
			INTO #EmailedCustomers_Joint_MobileDormant
			FROM #EmailedCustomers_MobileDormant ec
			INNER JOIN [Derived].[BankAccountCustomerLinks] bacl1
				ON ec.[CustomerGUID] = bacl1.[CustomerGUID]
			INNER JOIN [Derived].[BankAccountCustomerLinks] bacl2
				ON bacl1.[BankAccountGUID] = bacl2.[BankAccountGUID]
	
		/***********************************************************************************************************************************
			2.5.  Fetch eligible customers that have not earnt in the last three months and have not been emailed
		***********************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #DormantCustomers_MobileDormant
			SELECT	emd.[BankAccountGUID]
				,	emd.[CustomerGUID]
				,	emd.[CompositeID]
				,	emd.[FanID]
			INTO #DormantCustomers_MobileDormant
			FROM #Eligible_MobileDormant emd
			WHERE NOT EXISTS (	SELECT 1
								FROM #EarningCustomers_MobileDormant ec
								WHERE emd.[CustomerGUID] = ec.[CustomerGUID])
			AND NOT EXISTS (	SELECT 1
								FROM #EarningCustomers_Joint_MobileDormant ecj
								WHERE emd.[CustomerGUID] = ecj.[CustomerGUID])
			AND NOT EXISTS (	SELECT 1
								FROM #EmailedCustomers_MobileDormant ec2
								WHERE emd.[CustomerGUID] = ec2.[CustomerGUID])
			AND NOT EXISTS (	SELECT 1
								FROM #EmailedCustomers_Joint_MobileDormant ecj2
								WHERE emd.[CustomerGUID] = ecj2.[CustomerGUID])

	/***************************************************************************************************************************************
		3.	Fetch customers that have earnt in the last 3 months
	***************************************************************************************************************************************/
		
	--	DECLARE @ExecutionDate DATE = GETDATE()
		
		INSERT INTO [Email].[Trigger_MobileDormantCustomers] (	[FanID]
															,	[CustomerGUID]
															,	[MobileDormantDate])
		SELECT	[FanID]
			,	[CustomerGUID]
			,	[MobileDormantDate] = @ExecutionDate
		FROM #DormantCustomers_MobileDormant

END

RETURN 0
GO
