USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[BrazePipeline_StreamToS3_ControllerLoader]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

CREATE PROCEDURE [WHB].[BrazePipeline_StreamToS3_ControllerLoader]	@Environment VARCHAR(50)
																,	@LoadType VARCHAR(50)
																,	@ObjectName VARCHAR(100) = NULL
AS
BEGIN

--	DECLARE	@Environment VARCHAR(50) = 'Production', @LoadType VARCHAR(50) = 'Attributes', @ObjectName VARCHAR(100) = NULL
--	DECLARE	@Environment VARCHAR(50) = 'Production', @LoadType VARCHAR(50) = 'Attributes', @ObjectName VARCHAR(100) = 'Braze_Attributes_NormalOffer_Upload'

	INSERT INTO [WH_AllPublishers].[CRM].[BrazePipeline_StreamToS3_Log]
	SELECT	[Environment]
		,	[DatabaseName]
		,	[SchemaName]
		,	[ObjectName]
		,	[S3_Bucket]
		,	[S3_Folder]
		,	[S3_FileName] = [S3_FileName] + '_' + FORMAT(GETDATE(), 'yyyyMMdd_HHmm')
		,	[S3_FileSizeMb]
		,	[Processed] = 0
		,	[ProcessedDate] = NULL
	FROM [CRM].[BrazePipeline_StreamToS3_Controller] sc
	LEFT JOIN [WH_AllPublishers].[Derived].[Calendar] cal
		ON CONVERT(DATE, GETDATE()) = cal.[CalendarDate]
		AND sc.[WeekDayNumber] = cal.[WeekDayNumber]
	WHERE sc.[EndDate] IS NULL
	AND sc.[Environment] = @Environment
	AND sc.[LoadType] = @LoadType
	AND (@ObjectName IS NULL OR sc.[ObjectName] = @ObjectName)
	AND (sc.[WeekDayNumber] IS NULL OR sc.[WeekDayNumber] = cal.[WeekDayNumber])
	AND NOT EXISTS (SELECT 1
					FROM [WH_AllPublishers].[CRM].[BrazePipeline_StreamToS3_Log] sts
					WHERE sc.[Environment] = sts.[Environment]
					AND sc.[DatabaseName] = sts.[DatabaseName]
					AND sc.[SchemaName] = sts.[SchemaName]
					AND sc.[ObjectName] = sts.[ObjectName]
					AND sts.[Processed] = 0)

	DELETE
	FROM [WH_AllPublishers].[CRM].[BrazePipeline_StreamToS3_Log]
	WHERE [ObjectName] = 'Braze_Attributes_SolusOffer_Upload'
	AND [Processed] = 0
	AND [DatabaseName] = DB_NAME()
	AND EXISTS (SELECT 1
				FROM [WH_AllPublishers].[Email].[EmailSend] es
				WHERE es.[EmailSendDate] = CONVERT(DATE, GETDATE())
				AND es.[EmailType] IN ('Newsletter - Sample', 'Newsletter - Full Generic', 'Newsletter - Full Dynamic'))
	AND GETDATE() > '2025-11-28'

END
GO
