USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_MonthlySpend_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_CustomerPush_MonthlySpend_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;

	DROP TABLE IF EXISTS #CINList;
	SELECT	cu.[CustomerGUID]
		,	cl.[CINID]
	INTO #CINList
	FROM [Derived].[Customer] cu
	INNER JOIN [WHB].[Braze_CustomerPush] cei
		ON cu.[CustomerGUID] = cei.[CustomerGUID]
	INNER JOIN [Derived].[CINList] cl
		ON cu.[SourceUID] = cl.[CIN]
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[Customer_DuplicateSourceUID] ds
						WHERE cu.[SourceUID] = ds.[SourceUID]
						AND ds.[EndDate] IS NULL)
	AND cu.[CurrentlyActive] = 1;

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #CINList ([CINID]);
	
	DROP TABLE IF EXISTS #FileIDs;
	SELECT	DISTINCT
			[ID]
	INTO #FileIDs
	FROM [WHB].[Transaction_Files] tf
	WHERE tf.[LoadDate] >= DATEADD(MONTH, -6, GETDATE());

	CREATE UNIQUE CLUSTERED INDEX [UCIX_ID] ON #FileIDs ([ID]);
	
	DROP TABLE IF EXISTS #MonthlySpend;
	SELECT	ct.[CINID]
		,	[TranMonth] = EOMONTH(ct.[TranDate])
		,	[ActiveSpend] = CASE WHEN EOMONTH(ct.[TranDate]) > DATEADD(MONTH, -2, GETDATE()) THEN 1 ELSE 0 END
		,	[Spend] = SUM(ct.[Amount])
		,	[Transactions] = COUNT(*)
	INTO #MonthlySpend
	FROM [Trans].[ConsumerTransaction] ct
	INNER JOIN [Trans].[ConsumerCombination] cc
		ON ct.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
	INNER JOIN #CINList cl
		ON ct.[CINID] = cl.[CINID]
	INNER JOIN #FileIDs f
		ON ct.[FileID] = f.[ID]
	WHERE ct.[TranDate] >= CAST(DATEADD(MONTH, -6, GETDATE()) AS DATE)
	GROUP BY	ct.[CINID]
			,	EOMONTH(ct.[TranDate]);

	CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #MonthlySpend ([CINID]);

	DROP TABLE IF EXISTS #MonthlySpend_Agg;
	SELECT	cl.[CustomerGUID]
		,	[ActiveSpender] = ISNULL(MAX(ms.[ActiveSpend]), 0)
		,	[ATV] = CONVERT(DECIMAL(16,2), ISNULL(AVG(ms.[Spend] / ms.[Transactions]), 0))
		,	[ATF] = CONVERT(DECIMAL(16,2), ISNULL(AVG(CONVERT(DECIMAL(16,2), ms.[Transactions])), 0))
	INTO #MonthlySpend_Agg
	FROM #CINList cl
	LEFT JOIN #MonthlySpend ms
		ON cl.[CINID] = ms.[CINID]
	GROUP BY	cl.[CustomerGUID];

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #MonthlySpend_Agg ([CustomerGUID]);

	MERGE [WHB].[Braze_CustomerPush_MonthlySpend] TGT
	USING #MonthlySpend_Agg SRC
		ON TGT.[CustomerGUID] = SRC.[CustomerGUID]

	WHEN MATCHED
		AND TGT.[ActiveSpender] != SRC.[ActiveSpender]
		OR ABS(TGT.[ATV] - SRC.[ATV]) > 5
		OR ABS(TGT.[ATF] - SRC.[ATF]) > 5
	THEN UPDATE
		SET	TGT.[ActiveSpender] = SRC.[ActiveSpender]
		,	TGT.[ATV] = SRC.[ATV]
		,	TGT.[ATF] = SRC.[ATF]
		,	TGT.[ModifiedDate] = GETDATE()

	WHEN NOT MATCHED
		THEN INSERT (	[CustomerGUID]
					,	[ActiveSpender]
					,	[ATV]
					,	[ATF]
					,	[ModifiedDate]
					,	[LastPushedToBraze])
		VALUES (SRC.[CustomerGUID]
			,	SRC.[ActiveSpender]
			,	SRC.[ATV]
			,	SRC.[ATF]
			,	GETDATE()	--	[ModifiedDate]
			,	NULL);		--	[LastPushedToBraze]


	
END

RETURN 0
GO
