USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Vanquis_StreamFromS3]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Vanquis_StreamFromS3]	@Directory VARCHAR(MAX)
										,	@AdditionalParams VARCHAR(MAX) = ''
AS
BEGIN

    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    DECLARE @sql varchar(4000)

    IF CHARINDEX(':', @Directory) = 0
        SET @Directory = 'E:\DataOpsFunctions\Vanquis_S3_ingest\Vanquis_S3_Streamer'
        SET @Directory = 'E:\DataOpsFunctions\Vanquis_S3_ingest\projects'

    SET @Directory = REPLACE(@Directory, ' ', '" "')

    SET @sql = 'python "E:\DataOpsFunctions\Vanquis_S3_ingest\Vanquis_S3_Streamer\executor.py"'
    SET @sql = 'python "E:\DataOpsFunctions\Vanquis_S3_ingest\projects\Stream_From_S3_AllFiles.py"'

    --set @sql = 'whoami'

    IF OBJECT_ID('tempdb..#Output') IS NOT NULL DROP TABLE #Output; CREATE TABLE #output (line varchar(max))
    INSERT #output EXEC xp_cmdshell @sql

    DECLARE @RunID INT
    SELECT @RunID = NEXT VALUE FOR [WHB].[Vanquis_StreamFromS3_Log_RunID]

    DECLARE @ErrorString VARCHAR(100) = '%Traceback%'
    DECLARE @ErrorString2 VARCHAR(100) = '%Error[^A-Z]%'

    IF OBJECT_ID('tempdb..#Log') IS NOT NULL
        DROP TABLE #Log

    CREATE TABLE #Log
    (
        [LogID] [int] IDENTITY(1,1) NOT NULL,
        [RunID] [int] NOT NULL,
        [Msg] [varchar](max) NULL,
        [CreatedDateTime] [datetime2](7) NOT NULL,
        [isError] [bit] NOT NULL
    )
    INSERT INTO #Log (Msg, isError, CreatedDateTime, RunID)
    SELECT 
        o.line
        , x.isError
        , GETDATE() AS InsertedDate
        , @RunID
    FROM #output o
    CROSS APPLY (
        SELECT CAST(COALESCE(MAX(1), 0) AS BIT)
        FROM #output
        WHERE line like @ErrorString
            or line like @ErrorString2
    ) x(isError)

    INSERT INTO [WHB].[Vanquis_StreamFromS3_Log] (Msg, isError, CreatedDateTime, RunID)
    SELECT
        Msg
        , isError
        , CreatedDateTime
        , RunID
    FROM #Log

    IF (SELECT TOP 1 1 FROM #Log where isError = 1) IS NOT NULL
    BEGIN

        DECLARE @Error VARCHAR(MAX)

        SELECT
            @Error = STUFF((
                    SELECT ' ' + msg
                    FROM #Log
                    ORDER BY LogID 
                    FOR XML PATH ('')
                ), 1, 1, '')
    
        DECLARE @ErrorEnd VARCHAR(300) = '... SELECT * FROM [WH_Vanquis].[WHB].[Vanquis_StreamFromS3_Log] WHERE RunID =' + CAST(@RunID AS varchar) + ' for more info'
        DECLARE @ErrorOutput VARCHAR(4096) = RIGHT(@Error, 1999 - LEN(@ErrorEnd)) + @ErrorEnd -- max is 2048 NVARCHAR

        ;THROW 100000, @ErrorOutput,1


    END

    DECLARE @Msg VARCHAR(300) = 'SELECT * FROM [WH_Vanquis].[WHB].[Vanquis_StreamFromS3_Log] WHERE RunID = ' + CAST(@RunID AS varchar) + ' for more info'
    RAISERROR(@Msg, 1, -1, -1)
END


GO
