USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Cards_Card]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [WHB].[Cards_Card]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
			
		/*******************************************************************************************************************************************
			1.	Fetch new entries that haven't been loaded to [Derived]
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Cards_New
			SELECT	ca.[CustomerGUID]
				,	ca.[AccountGUID]
				,	ca.[CardGUID]
				,	ca.[HashedPan]
				,	ca.[IssuerCountryCode]
				,	ca.[CardProductID]
				,	ca.[IsReward]
				,	ca.[CardTypeID]
				,	ca.[CreditOrDebit]
				,	ca.[Expiry]
				,	ca.[CardStatusID]
				,	[CreatedAt] = CONVERT(DATE, ca.[CreatedAt])
				,	[UpdatedAt] = CONVERT(DATE, ca.[UpdatedAt])
				,	[StartDate] = CONVERT(DATE, ca.[CreatedAt])
				,	[EndDate] = CASE
									WHEN ca.[CardStatusID] = 1 THEN NULL
									ELSE CONVERT(DATE, ca.[UpdatedAt])
								END
			INTO #Cards_New
			FROM [WHB].[Inbound_Cards] ca
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Cards] d
								WHERE ca.[CardGUID] = d.[CardGUID]
								AND (ca.[AccountGUID] = d.[AccountGUID] OR (ca.[AccountGUID] IS NULL AND d.[AccountGUID] IS NULL))
								AND ca.[CustomerGUID] = d.[CustomerGUID])
			AND EXISTS (SELECT 1
						FROM [Derived].[Customer] cu
						WHERE ca.[CustomerGUID] = cu.[CustomerGUID])

		/*******************************************************************************************************************************************
			4.	Find entries from [WHB] that differ from [Derived]
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Cards_Change
			SELECT	ca.[CustomerGUID]
				,	ca.[AccountGUID]
				,	ca.[CardGUID]
				,	ca.[HashedPan]
				,	ca.[IssuerCountryCode]
				,	ca.[CardProductID]
				,	ca.[IsReward]
				,	ca.[CardTypeID]
				,	ca.[CreditOrDebit]
				,	ca.[Expiry]
				,	ca.[CardStatusID]
				,	[CreatedAt] = CONVERT(DATE, ca.[CreatedAt])
				,	[UpdatedAt] = CONVERT(DATE, ca.[UpdatedAt])
			INTO #Cards_Change
			FROM [WHB].[Inbound_Cards] ca
			WHERE EXISTS (	SELECT 1
							FROM [Derived].[Cards] d
							WHERE ca.[CardGUID] = d.[CardGUID]
							AND ca.[AccountGUID] = d.[AccountGUID]
							AND ca.[CustomerGUID] = d.[CustomerGUID])
			AND EXISTS (SELECT 1
						FROM [Derived].[Customer] cu
						WHERE ca.[CustomerGUID] = cu.[CustomerGUID])
			EXCEPT
			SELECT	ca.[CustomerGUID]
				,	ca.[AccountGUID]
				,	ca.[CardGUID]
				,	ca.[HashedPan]
				,	ca.[IssuerCountryCode]
				,	ca.[CardProductID]
				,	ca.[IsReward]
				,	ca.[CardTypeID]
				,	ca.[CreditOrDebit]
				,	ca.[Expiry]
				,	ca.[CardStatusID]
				,	ca.[CreatedAt]
				,	ca.[UpdatedAt]
			FROM [Derived].[Cards] ca
			WHERE ca.[EndDate] IS NULL

			CREATE CLUSTERED INDEX [CIX_CardAccountCustomer] ON #Cards_Change ([CardGUID], [AccountGUID], [CustomerGUID])

		/*******************************************************************************************************************************************
			4.	Set EndDate on existing entry
		*******************************************************************************************************************************************/

			UPDATE ca
			SET ca.[EndDate] = DATEADD(DAY, -1, GETDATE())
			FROM [Derived].[Cards] ca
			WHERE ca.[EndDate] IS NULL
			AND EXISTS (SELECT 1
						FROM #Cards_Change cc
						WHERE ca.[CustomerGUID] = cc.[CustomerGUID]
						AND ca.[AccountGUID] = cc.[AccountGUID]
						AND ca.[CardGUID] = cc.[CardGUID])

		/*******************************************************************************************************************************************
			4.	Insert new entries
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[Cards]
			SELECT	cc.[CustomerGUID]
				,	cc.[AccountGUID]
				,	cc.[CardGUID]
				,	cc.[HashedPan]
				,	cc.[IssuerCountryCode]
				,	cc.[CardProductID]
				,	cc.[IsReward]
				,	cc.[CardTypeID]
				,	cc.[CreditOrDebit]
				,	cc.[Expiry]
				,	cc.[CardStatusID]
				,	cc.[CreatedAt]
				,	cc.[UpdatedAt]
				,	[StartDate] = GETDATE()
				,	[EndDate] = NULL
			FROM #Cards_Change cc

			INSERT INTO [Derived].[Cards]
			SELECT	cc.[CustomerGUID]
				,	cc.[AccountGUID]
				,	cc.[CardGUID]
				,	cc.[HashedPan]
				,	cc.[IssuerCountryCode]
				,	cc.[CardProductID]
				,	cc.[IsReward]
				,	cc.[CardTypeID]
				,	cc.[CreditOrDebit]
				,	cc.[Expiry]
				,	cc.[CardStatusID]
				,	cc.[CreatedAt]
				,	cc.[UpdatedAt]
				,	cc.[StartDate]
				,	cc.[EndDate]
			FROM #Cards_New cc
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
