USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Customer_RBSGSegments]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_RBSGSegments] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1. Create temp table of the most recent entries
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())
			
			DROP TABLE IF EXISTS #Customer_RBSGSegments
			SELECT	sg.[CustomerGUID]
				,	sg.[FanID]
				,	sg.[SegmentTypeCode]
				,	sg.[UpdatedAt]
			INTO #Customer_RBSGSegments
			FROM (	SELECT	ic.[CustomerGUID]
						,	cu.[FanID]
						,	st.[SegmentTypeCode]
						,	[UpdatedAt] =	CASE
												WHEN ic.[CreatedAt] > ic.[UpdatedAt] THEN ic.[CreatedAt]
												ELSE ic.[UpdatedAt]
											END
					FROM [WHB].[Inbound_Customers] ic
					INNER JOIN [WHB].[Customer] cu
						ON ic.[CustomerGUID] = cu.[CustomerGUID]
					INNER JOIN [WHB].[Inbound_SegmentType] st
						ON ic.[SegmentTypeID] = st.[SegmentTypeID]) sg
			WHERE sg.[UpdatedAt] > DATEADD(MONTH, -1, @FileNameDate)

		/*******************************************************************************************************************************************
			2. Update EndDates for customers that have changed segments
		*******************************************************************************************************************************************/

			UPDATE sg
			SET sg.[EndDate] = DATEADD(DAY, -1, GETDATE())
			FROM [Derived].[Customer_RBSGSegments] sg
			INNER JOIN #Customer_RBSGSegments sgt
				ON sg.[CustomerGUID] = sgt.[CustomerGUID]
				AND sg.[CustomerSegment] != sgt.[SegmentTypeCode]
				AND sg.[EndDate] IS NULL


		/*******************************************************************************************************************************************
			3. Insert new entries for customers that have changed segments
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[Customer_RBSGSegments]
			SELECT	sgt.[CustomerGUID]
				,	sgt.[FanID]
				,	sgt.[SegmentTypeCode]
				,	[StartDate] = GETDATE()
				,	[EndDate] = NULL
			FROM #Customer_RBSGSegments sgt
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_RBSGSegments] sg
								WHERE sgt.[CustomerGUID] = sg.[CustomerGUID]
								AND sg.[EndDate] IS NULL)
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
