USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Customer_CustomerStaging]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_CustomerStaging] @RunDate DATE = NULL

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	IF @RunDate IS NULL SET @RunDate = GETDATE()

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = COALESCE(OBJECT_NAME(@@PROCID), 'Customer_CustomerStaging')
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
	
	--	DECLARE @RunDate DATE = GETDATE()
			
		DROP TABLE IF EXISTS #Customer_LookupFanID
		SELECT	DISTINCT
				[CustomerGUID] = [CustomerID]
			,	[FanID] = CONVERT(INT, [FanID])
			,	[CompositeID]
		INTO #Customer_LookupFanID
		FROM [WH_AllPublishers].[Derived].[CustomerIDs] ci
		WHERE ci.[PublisherID] IN (2069)
	
		SET @RowsAffected = @@ROWCOUNT;

		CREATE CLUSTERED INDEX [CIX_GUID] ON #Customer_LookupFanID ([CustomerGUID])
		CREATE NONCLUSTERED INDEX [IX_Join] ON #Customer_LookupFanID ([FanID], [CustomerGUID])

		SET @msg = 'Loaded rows to #Customer_LookupFanID [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

		/*******************************************************************************************************************************************
			1.	Find customers who have hard bounced or unsubscribed
		*******************************************************************************************************************************************/

			/***************************************************************************************************************************************
				1.1.	Find customers who have hard bounced
			***************************************************************************************************************************************/

				/***********************************************************************************************************************************
					1.1.1.	Find customers who have ever had a hard bounce event
				***********************************************************************************************************************************/

					DROP TABLE IF EXISTS #HardbounceCustomers_AllTime
					SELECT	[CustomerGUID]
						,	[HardBounceDate] = MAX([EventDate])
						,	[HardBounced] = 1
					INTO #HardbounceCustomers_AllTime
					FROM [Derived].[EmailEvent] ee
					WHERE [EmailEventCodeID] IN (702, 1804, 666)	--	Hard bounce, Quarentined
					GROUP BY	[CustomerGUID]
	
					SET @RowsAffected = @@ROWCOUNT;
					
					CREATE UNIQUE CLUSTERED INDEX [CIX_FanID] ON #HardbounceCustomers_AllTime ([CustomerGUID], [HardBounceDate])

					SET @msg = 'Loaded rows to #HardbounceCustomers_AllTime [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

				/***********************************************************************************************************************************
					1.1.2.	Fetch customers whose most recent email event was a hard bounce
				***********************************************************************************************************************************/
				
					DROP TABLE IF EXISTS #NonHardbounceCustomers_AllTime
					SELECT	[CustomerGUID]
						,	[EventDate] = MAX([EventDate])
					INTO #NonHardbounceCustomers_AllTime
					FROM [Derived].[EmailEvent] ee
					WHERE EXISTS (	SELECT 1
									FROM #HardbounceCustomers_AllTime hb
									WHERE ee.[CustomerGUID] = hb.[CustomerGUID]
									AND ee.[EventDate] > hb.[HardBounceDate])
					AND [EmailEventCodeID] NOT IN (702, 1804, 666)	--	Hard bounce, Quarentined
					GROUP BY	[CustomerGUID]
					
					CREATE UNIQUE CLUSTERED INDEX [CIX_FanID] ON #NonHardbounceCustomers_AllTime ([CustomerGUID])
				
					DROP TABLE IF EXISTS #HardbounceCustomers
					SELECT	[CustomerGUID]
						,	[HardBounceDate]
						,	[HardBounced] = 1
					INTO #HardbounceCustomers
					FROM #HardbounceCustomers_AllTime hb
					WHERE NOT EXISTS (	SELECT 1
										FROM #NonHardbounceCustomers_AllTime nhb
										WHERE hb.[CustomerGUID] = nhb.[CustomerGUID])
	
					SET @RowsAffected = @@ROWCOUNT;

					CREATE CLUSTERED INDEX CIX_FanID ON #HardbounceCustomers ([CustomerGUID])

					SET @msg = 'Loaded rows to #HardbounceCustomers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

				/***********************************************************************************************************************************
					1.1.3.	Remove customers who have changed their registered email address since hard bouncing
				***********************************************************************************************************************************/
				
					DELETE hb
					FROM #HardbounceCustomers hb
					INNER JOIN [Derived].[Customer_EmailAddressChanges] eac
						ON hb.[CustomerGUID] = eac.[CustomerGUID]
					WHERE eac.[DateChanged] > hb.[HardBounceDate]
	
					SET @RowsAffected = @@ROWCOUNT;

					SET @msg = 'Loaded rows to #HardbounceCustomers_AllTime [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

			/***************************************************************************************************************************************
				1.2.	Find customers who have unsubscribe through their email provider
			***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Unsubscribed
				SELECT	DISTINCT
						[CustomerGUID]
					,	[Unsubscribed] = 1
				INTO #Unsubscribed
				FROM [Derived].[EmailEvent] ee
				WHERE [EmailEventCodeID] IN (301)	--	Unsubscribe
	
				SET @RowsAffected = @@ROWCOUNT;

				CREATE CLUSTERED INDEX CIX_FanID ON #Unsubscribed ([CustomerGUID])

				SET @msg = 'Loaded rows to #Unsubscribed [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg


		/*******************************************************************************************************************************************
			2.	Build the customer table from SLC, updating missing values for:
					Current Age
					Email validity
					Postcode Sectors
					Customer regions
					Hardbounce events
					Unsubscribe events
		*******************************************************************************************************************************************/
		
			/***************************************************************************************************************************************
				2.1.	Build intial customer table, updating missing values for:
							Current Age
							Current Age Band
							Email validity
							Tidying postcodes
							Post Code District
							Hardbounce events
							Unsubscribe events
			***************************************************************************************************************************************/
								
			--	DECLARE @RunDate DATE = GETDATE()

				DECLARE @AgeCurrentDate INT = CONVERT(CHAR(8), @RunDate, 112)

				DROP TABLE IF EXISTS #Customer;
				SELECT	[CustomerGUID] = cu.[CustomerGUID]
					,	[FanID] = clu.[FanID]
					,	[ClubID] =	2069
					,	[SegmentTypeID] = cu.[SegmentTypeID]
					,	[CompositeID] = clu.[CompositeID]
					,	[SourceUID] = cu.[CustomerGUID]
					,	[Email] = cu.[EmailAddress]
					,	[EmailStructureValid] = [WH_AllPublishers].[dbo].[IsEmailStructureValid](cu.[EmailAddress])
					,	[MobileTelephone] = cu.[MobileNumber]
					,	[Title] = cu.[Title]
					,	[FirstName] = cu.[Forename]
					,	[LastName] = cu.[Surname]
					,	[Address1] = ca.[CustomerAddress1]
					,	[Address2] = ca.[CustomerAddress2]
					,	[City] = ca.[City]
					,	[County] = ca.[State]
					,	[Postcode] = cu2.[Postcode]
					,	[Region] = CONVERT(VARCHAR(30), '')
					,	[PostCodeDistrict] =	CASE 
													WHEN cu2.[Postcode] IS NULL THEN ''
													WHEN cu2.[PostcodeSpacePosition] = 0 THEN LEFT(cu2.[Postcode], 4) 
													ELSE CONVERT(VARCHAR(4), LEFT(cu2.[Postcode], cu2.[PostcodeSpacePosition] - 1))
												END
					,	[PostArea] =	CASE 
											WHEN cu2.[Postcode] IS NULL THEN ''
											WHEN cu2.[Postcode] LIKE '[A-Z][0-9]%' THEN LEFT(cu2.[Postcode], 1) 
											ELSE LEFT(cu2.[Postcode], 2)
										END
					,	[PostalSector] = CONVERT(VARCHAR(6), '')
					,	[DOB] = cu.[DateOfBirth]
					,	[AgeCurrent] =	CASE
											WHEN cu2.[AgeCurrent] <= 0 THEN 0
											WHEN TRY_CONVERT(TINYINT, cu2.[AgeCurrent]) IS NULL THEN 0
											ELSE cu2.[AgeCurrent]
										END
					,	[AgeCurrentBandText] =	CASE
													WHEN cu2.[AgeCurrent] BETWEEN 18 AND 24 THEN '18 to 24'
													WHEN cu2.[AgeCurrent] BETWEEN 25 AND 34 THEN '25 to 34'
													WHEN cu2.[AgeCurrent] BETWEEN 35 AND 44 THEN '35 to 44'
													WHEN cu2.[AgeCurrent] BETWEEN 45 AND 54 THEN '45 to 54'
													WHEN cu2.[AgeCurrent] BETWEEN 55 AND 64 THEN '55 to 64'
													WHEN cu2.[AgeCurrent] BETWEEN 65 AND 80 THEN '65 to 80'
													WHEN cu2.[AgeCurrent] BETWEEN 81 AND 110 THEN '81+'
													ELSE 'Unknown'
												END
					,	[Gender] = COALESCE(cu.[Gender], 'U')
					,	[CashbackAvailable] = COALESCE(bal.[CashbackAvailable], 0)
					,	[CashbackPending] = COALESCE(bal.[CashbackPending], 0)
					,	[CashbackLTV] = COALESCE(bal.[CashbackLifeTimeValue], 0)
					,	[Hardbounced] = COALESCE(hb.[Hardbounced], 0)
					,	[Unsubscribed] =	CASE
												WHEN uns.[Unsubscribed] IS NOT NULL THEN 1
												WHEN cu.[MarketableByEmail] = 0 THEN 1
												WHEN cu.[MarketableByEmail] IS NULL THEN 0
												ELSE 0
											END
					,	[MarketableByEmail] =	CASE
													WHEN cu.[CustomerGUID] IS NULL THEN 0
													WHEN hb.[HardBounced] IS NOT NULL THEN 0
													WHEN uns.[Unsubscribed] IS NOT NULL THEN 0
													WHEN cu.[MarketableByEmail] = 0 THEN 0
													WHEN cu.[MarketableByEmail] IS NULL THEN 0
											--		WHEN cu.[DateOfBirth] IS NULL THEN 0		--	Where customers data has not been enriched & we haven't actually received marketing details for them set this to false
													WHEN cu.[CustomerStatusID] = 7 THEN 0
													WHEN cu.[MarketableByEmail] = 1 THEN 1
													ELSE 0
												END
					,	[EmailTracking] =	CASE
												WHEN cu.[EmailTracking] = 1 THEN 1
												ELSE 0
											END
					,	[MarketableByPush] =	CASE
													WHEN cu.[CustomerStatusID] = 7 THEN 0
													WHEN cu.[MarketableByPush] = 1 THEN 1
													ELSE 0
												END
					,	[CurrentlyActive] =	CASE
												WHEN cu.[DeceasedDate] IS NOT NULL THEN 0
												WHEN cu.[CustomerStatusID] = 2 THEN 0
												WHEN cu.[CustomerStatusID] = 3 THEN 0
												WHEN cu.[CustomerStatusID] = 4 AND cu.[DeactivatedDate] IS NOT NULL THEN 0
												WHEN cu.[CustomerStatusID] = 5 THEN 0
												WHEN cu.[CustomerStatusID] = 6 THEN 0
												WHEN cu.[CustomerStatusID] = 7 THEN 0
												WHEN cu.[ClosedDate] IS NOT NULL THEN 0
												WHEN cu.[OptOutDate] IS NOT NULL THEN 0
												WHEN cu.[DeactivatedDate] < DATEADD(DAY, -15, @RunDate) AND cu.[CustomerStatusID] = 6 THEN 0
												WHEN cu.[CustomerStatusID] = 1 THEN 1
												ELSE 1
											END
					,	[RegistrationDate] = cu.[RegistrationDate]
					,	[ClosedDate] = cu.[ClosedDate]
					,	[DeactivatedDate] =	CASE
												WHEN cu.[OptOutDate] <= cu.[DeactivatedDate] THEN cu.[OptOutDate]
												WHEN cu.[DeactivatedDate] <= cu.[OptOutDate] THEN cu.[DeactivatedDate]
												ELSE COALESCE(cu.[DeactivatedDate], cu.[OptOutDate], cu.[DeceasedDate])
											END
				INTO #Customer
				FROM [WHB].[Inbound_Customers] cu
				LEFT JOIN [WHB].[Inbound_Customers_PreviouslyAgreedTCs] pat
					ON cu.[CustomerGUID] = pat.[CustomerGUID]
				LEFT JOIN [WHB].[Inbound_CustomerAddresses] ca
					ON cu.[CustomerGUID] = ca.[CustomerGUID]
				INNER JOIN #Customer_LookupFanID clu
					ON cu.[CustomerGUID] = clu.[CustomerGUID]
				LEFT JOIN [WHB].[Inbound_Balances] bal
					ON cu.[CustomerGUID] = bal.[CustomerGUID]
				LEFT JOIN #HardbounceCustomers hb
					ON clu.[CustomerGUID] = hb.[CustomerGUID]
				LEFT JOIN #Unsubscribed uns
					ON clu.[CustomerGUID] = uns.[CustomerGUID]
				CROSS APPLY (	SELECT	[Postcode] = LTRIM(RTRIM(ca.[Postcode]))
									,	[PostcodeSpacePosition] = CHARINDEX(' ', LTRIM(RTRIM(ca.[Postcode])))
									,	[AgeCurrent] = (@AgeCurrentDate - CONVERT(CHAR(8), cu.[DateOfBirth], 112)) / 10000) cu2
				WHERE CONVERT(DATE, cu.[RegistrationDate]) <= @RunDate
				AND (cu.[AgreedTermssAndCons] = 1 OR pat.[CustomerGUID] IS NOT NULL)

				SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Loaded rows to #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg
								
				CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customer ([CustomerGUID])
				CREATE NONCLUSTERED INDEX [IX_Gender_FirstName] ON #Customer ([Gender]) INCLUDE ([FirstName])
				CREATE NONCLUSTERED INDEX [IX_FirstNameGender] ON #Customer ([FirstName],[Gender])
				CREATE NONCLUSTERED INDEX [IX_PostArea] ON #Customer ([PostArea]) INCLUDE ([PostCode])
				CREATE NONCLUSTERED INDEX [IX_PostCodeDist] ON #Customer ([PostCodeDistrict])
				CREATE NONCLUSTERED INDEX [IX_CurrentActive_Dates] ON #Customer ([CurrentlyActive], [DeactivatedDate]) INCLUDE ([RegistrationDate])

				SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Indexed #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

				UPDATE cu
				SET cu.[MarketableByEmail] = 0
				FROM #Customer cu
				WHERE cu.[EmailStructureValid] = 0

				SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Set invalid Emails to Unmartable on #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

				DROP TABLE IF EXISTS #MergedCustomers
				SELECT	ic.[CustomerGUID]
					,	[MergedAt] = MIN(mc.[MergedAt])
				INTO #MergedCustomers
				FROM [WHB].[Inbound_Customers] ic
				LEFT JOIN [WHB].[Inbound_CustomerMatch] mc
					ON ic.[CustomerGUID] = mc.[RewardID2]
					AND mc.[Merged] = 1
				WHERE ic.[CustomerStatusID] = 7
				GROUP BY ic.[CustomerGUID]

				UPDATE cu
				SET cu.[DeactivatedDate] = mc.[MergedAt]
				FROM #MergedCustomers mc
				INNER JOIN #Customer cu
					ON mc.[CustomerGUID] = cu.[CustomerGUID]
				WHERE cu.[CurrentlyActive] = 0
				AND cu.[DeactivatedDate] IS NULL

				SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Set Merged customers to Deactivated on #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

				/***************************************************************************************************************************************
					2.1.1	Update Deactivated Date to day after Registration date if in #NoAccountEntry
				***************************************************************************************************************************************/
			
					--DROP TABLE IF EXISTS #NoAccountEntry
					--SELECT [CustomerGUID]
					--INTO #NoAccountEntry
					--FROM [WHB].[Inbound_Customers] cu
					--WHERE NOT EXISTS (	SELECT 1
					--					FROM [WHB].[Inbound_BankAccountCustomerLinks] bal
					--					INNER JOIN [WHB].[Inbound_BankAccounts] ba
					--						ON bal.[BankAccountGUID] = ba.[BankAccountGUID]
					--					WHERE cu.[CustomerGUID] = bal.[CustomerGUID])
					--AND DATEDIFF(hour, [RegistrationDate], GETDATE()) >= 24
					--ORDER BY RegistrationDate

					--UPDATE cu
					--SET cu.[CurrentlyActive] = 0
					--,	cu.[DeactivatedDate] = DATEADD(day, 1, [RegistrationDate])
					--FROM #Customer cu
					--INNER JOIN #NoAccountEntry nae
					--	ON cu.[CustomerGUID] = nae.[CustomerGUID]
					--WHERE cu.[CurrentlyActive] = 1

				/*******************************************************************************************************************************************
					2.1.2.	Update active status for deactivated customers
				*******************************************************************************************************************************************/
		
					DROP TABLE IF EXISTS #ClosurePending
					SELECT	[CustomerGUID] = cu.[CustomerGUID]
						,	[OpenCount] = SUM(CASE WHEN cei.[ClosurePending] IS NULL THEN 1 ELSE 0 END)
						,	[MaxClosedDate] = MAX(cei.[ClosurePending])
					INTO #ClosurePending
					FROM #Customer cu
					INNER JOIN [WHB].[Inbound_CustomerExternalIds] cei
						ON cu.[CustomerGUID] = cei.[CustomerGUID]
					GROUP BY	cu.[CustomerGUID]
					HAVING SUM(CASE WHEN cei.[ClosurePending] IS NULL THEN 1 ELSE 0 END) = 0

					UPDATE cu
					SET cu.[CurrentlyActive] = 0
					,	cu.[DeactivatedDate] = cp.[MaxClosedDate]
					FROM #Customer cu
					INNER JOIN #ClosurePending cp
						ON cu.[CustomerGUID] = cp.[CustomerGUID]
					WHERE cu.[CurrentlyActive] = 1

					SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Set Closure Pending customers to Deactivated on #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

				/***************************************************************************************************************************************
					2.1.3.	Temporary fix for Account Closure not feeding through to customer Closure
				***************************************************************************************************************************************/
					
					--DROP TABLE IF EXISTS #CustomersWithOnlyClosedAccounts
					--SELECT	[CustomerGUID] = bal.[CustomerGUID]
					--	,	[ClosedDate] = MAX(ba.[ClosedDate])
					--INTO #CustomersWithOnlyClosedAccounts
					--FROM [WHB].[Inbound_BankAccounts] ba
					--INNER JOIN [WHB].[Inbound_BankAccountCustomerLinks] bal
					--	ON ba.[BankAccountGUID] = bal.[BankAccountGUID]
					--GROUP BY bal.[CustomerGUID]
					--HAVING SUM(CASE WHEN ba.[ClosedDate] IS NULL THEN 1 ELSE 0 END) = 0

					--UPDATE cu
					--SET cu.[MarketableByEmail] = 0
					--,	cu.[MarketableByPush] = 0
					--,	cu.[Email] = 'NoAccountCustomer@RewardInsight.com'
					--FROM #Customer cu
					--INNER JOIN #CustomersWithOnlyClosedAccounts cp
					--	ON cu.[CustomerGUID] = cp.[CustomerGUID]
					--WHERE cu.[CurrentlyActive] = 1

					--SET @RowsAffected = @@ROWCOUNT;
					
					--UPDATE cu
					--SET cu.[MarketableByEmail] = 0
					--,	cu.[MarketableByPush] = 0
					--,	cu.[Email] = 'NoAccountCustomer@RewardInsight.com'
					--FROM #Customer cu
					--WHERE cu.[CurrentlyActive] = 1
					--AND NOT EXISTS (SELECT 1
					--				FROM [WHB].[Inbound_BankAccountCustomerLinks] bal
					--				WHERE cu.[CustomerGUID] = bal.[CustomerGUID])
					
					--SET @RowsAffected = @RowsAffected + @@ROWCOUNT;

					--SET @msg = 'Set Closure Pending customers to Deactivated on #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					--EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

			/***************************************************************************************************************************************
				2.2.	Build intial customer table, updating missing values for:
							Gender
			***************************************************************************************************************************************/

				UPDATE cu
				SET cu.[Gender] = ngd.[InferredGender]
				FROM #Customer cu
				INNER JOIN [Derived].[NameGenderDictionary] ngd
					ON cu.[FirstName] = ngd.[FirstName]
					AND ngd.[EndDate] IS NULL
				WHERE [Gender] IS NULL
				OR [Gender] = 'U'
				OR [Gender] = 'O'

				SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Set Inferred Gender on #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

			/***************************************************************************************************************************************
				2.3.	Build intial customer table, updating missing values for:
							Post Code Sector
							Region
			***************************************************************************************************************************************/
	
				UPDATE cu
				SET cu.[PostalSector] =	CASE
											WHEN REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', '') LIKE '[a-z][0-9][0-9][a-z][a-z]'
															THEN LEFT(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 2) + ' ' + RIGHT(LEFT(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 3), 1)
											WHEN REPLACE(REPLACE([PostCode], CHAR(160),''),' ','') LIKE '[a-z][0-9][0-9][0-9][a-z][a-z]'
															THEN LEFT(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 3) + ' ' + RIGHT(Left(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 4), 1)
											WHEN REPLACE(REPLACE([PostCode], CHAR(160),''),' ','') LIKE '[a-z][a-z][0-9][0-9][a-z][a-z]'
															THEN LEFT(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 3) + ' ' + RIGHT(Left(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 4), 1)
											WHEN REPLACE(REPLACE([PostCode], CHAR(160),''),' ','') LIKE '[a-z][0-9][a-z][0-9][a-z][a-z]'
															THEN LEFT(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 3) + ' ' + RIGHT(Left(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 4), 1)
											WHEN REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', '') LIKE '[a-z][a-z][0-9][0-9][0-9][a-z][a-z]'
															THEN LEFT(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 4) + ' ' + RIGHT(Left(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 5), 1)
											WHEN REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', '') LIKE '[a-z][a-z][0-9][a-z][0-9][a-z][a-z]'
															THEN LEFT(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 4) + ' ' + RIGHT(Left(REPLACE(REPLACE([PostCode], CHAR(160), ''), ' ', ''), 5), 1)
											ELSE ''
									  END 
				,	cu.[Region] = pa.[Region]
				FROM #Customer cu
				INNER JOIN [Warehouse].[Staging].[PostArea] pa
					ON cu.[PostArea] = pa.[PostAreaCode]

				SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Update Postal Sector on #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg
					
				UPDATE cu
				SET cu.[City] = pd.[town]
				,	cu.[County] = pd.[region]
				FROM #Customer cu
				INNER JOIN [Warehouse].[Staging].[PostcodeDistrict] pd
					ON cu.[PostCodeDistrict] = pd.[UK_PDIST]

				SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Update City and Town on #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

		/***************************************************************************************************************************************
			4.	Fetch all relevant CAMEO entries
		***************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #CAMEO
			SELECT	ca.[PostCode]
				,	ca.[CAMEO_CODE]
			INTO #CAMEO
			FROM [Warehouse].[Relational].[CAMEO] ca
			WHERE EXISTS (	SELECT 1
							FROM #Customer cu
							WHERE ca.[PostCode] = cu.[PostCode])

			SET @RowsAffected = @@ROWCOUNT;
			
			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #CAMEO ([PostCode], [CAMEO_CODE])

			SET @msg = 'Fetch Cameo Codes for #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

		/*******************************************************************************************************************************************
			5.	Find whether customers are Credit or Debit
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #CardType
			SELECT	[CustomerGUID] = cu.[CustomerGUID]
				,	[IsCredit] = MAX(CASE WHEN ca.[CreditOrDebit] = 'credit' THEN 1 ELSE 0 END)
				,	[IsDebit] = MAX(CASE WHEN ca.[CreditOrDebit] = 'debit' THEN 1 ELSE 0 END)
			INTO #CardType
			FROM #Customer cu
			INNER JOIN [WHB].[Inbound_Cards] ca
				ON cu.[CustomerGUID] = ca.[CustomerGUID]
				AND ca.[CardStatusID] = 1
			WHERE cu.[CurrentlyActive] = 1
			GROUP BY	cu.[CustomerGUID]

			SET @RowsAffected = @@ROWCOUNT;
			
			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #CardType ([CustomerGUID])

			SET @msg = 'Fetch Card Type details for #Customer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg

		/*******************************************************************************************************************************************
			7.	Populate [WHB].[Customer] with the created table
		*******************************************************************************************************************************************/

			TRUNCATE TABLE [WHB].[Customer]
			INSERT INTO [WHB].[Customer] (	[CustomerGUID]
										,	[FanID]
										,	[ClubID]
										,	[CompositeID]
										,	[SourceUID]
										,	[AccountType]
										,	[Email]
										,	[EmailStructureValid]
										,	[MobileTelephone]
										,	[Title]
										,	[FirstName]
										,	[LastName]
										,	[Address1]
										,	[Address2]
										,	[City]
										,	[County]
										,	[Postcode]
										,	[Region]
										,	[PostalSector]
										,	[PostCodeDistrict]
										,	[PostArea]
										,	[CAMEOCode]
										,	[Gender]
										,	[DOB]
										,	[AgeCurrent]
										,	[AgeCurrentBandText]
										,	[CashbackPending]
										,	[CashbackAvailable]
										,	[CashbackLTV]
										,	[Unsubscribed]
										,	[Hardbounced]
										,	[MarketableByEmail]
										,	[EmailTracking]
										,	[MarketableByPush]
										,	[CurrentlyActive]
										,	[RegistrationDate]
										,	[ClosedDate]
										,	[DeactivatedDate]
										,	[IsCredit]
										,	[IsDebit])
			SELECT	DISTINCT
					cu.[CustomerGUID]
				,	cu.[FanID]
				,	cu.[ClubID]
				,	cu.[CompositeID]
				,	cu.[SourceUID]
				,	[AccountType] =	CASE
										WHEN cu.[SegmentTypeID] = 7 THEN 'Premier'
										ELSE 'Core'
									END
				,	cu.[Email]
				,	cu.[EmailStructureValid]
				,	cu.[MobileTelephone]
				,	cu.[Title]
				,	cu.[FirstName]
				,	cu.[LastName]
				,	cu.[Address1]
				,	cu.[Address2]
				,	cu.[City]
				,	cu.[County]
				,	cu.[Postcode]
				,	cu.[Region]
				,	cu.[PostalSector]
				,	cu.[PostCodeDistrict]
				,	cu.[PostArea]
				,	[CAMEOCode] = cam.[CAMEO_CODE]
				,	cu.[Gender]
				,	cu.[DOB]
				,	cu.[AgeCurrent]
				,	cu.[AgeCurrentBandText]
				,	cu.[CashbackPending]
				,	cu.[CashbackAvailable]
				,	cu.[CashbackLTV]
				,	cu.[Unsubscribed]
				,	cu.[Hardbounced]
				,	cu.[MarketableByEmail]
				,	cu.[EmailTracking]
				,	cu.[MarketableByPush]
				,	cu.[CurrentlyActive]
				,	cu.[RegistrationDate]
				,	cu.[ClosedDate]
				,	cu.[DeactivatedDate]
				,	[IsCredit] = COALESCE(ct.[IsCredit], 0)
				,	[IsDebit] = COALESCE(ct.[IsDebit], 0)
			FROM #Customer cu
			LEFT JOIN #CAMEO cam
				ON cu.[Postcode] = cam.[Postcode]
			LEFT JOIN #CardType ct
				ON cu.[CustomerGUID] = ct.[CustomerGUID]

			SET @RowsAffected = @@ROWCOUNT; SET @msg = 'Loaded rows to [WHB].[Customer] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] 'Customer_CustomerStaging', @msg
		
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
