USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_NormalOffer_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_CustomerPush_NormalOffer_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

		/*******************************************************************************************************************************************
			1.	Fetch Sample Email Send IDs
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #EmailSendID_Sample
			SELECT	DISTINCT
					[EmailSendID] = es.[ID]
			INTO #EmailSendID_Sample
			FROM [WH_AllPublishers].[Email].[EmailSend] es
			WHERE es.[EmailType] LIKE '%Sample%'

			CREATE UNIQUE CLUSTERED INDEX [CIX_EmailSendID] ON #EmailSendID_Sample ([EmailSendID])

		/*******************************************************************************************************************************************
			2.	Load Earn Offer data
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				2.1.	Fetch all data for real customers
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #EarnOffers;
				SELECT	cu.[CustomerGUID]
					,	[OfferGUID] = iof.[HydraOfferID]
					,	[ItemRank] = ls.[ItemRank] - 1
					,	ls.[StartDate]
					,	ls.[EndDate]
					,	[EmailSendID] = MAX(ls.[LionSendID])
				INTO #EarnOffers
				FROM [Email].[NominatedLionSendComponent] ls
				INNER JOIN [Derived].[Customer] cu
					ON ls.[CompositeID] = cu.[CompositeID]
				INNER JOIN [WHB].[Braze_CustomerPush] bclc
					ON cu.[CustomerGUID] = bclc.[CustomerGUID]
				INNER JOIN [Derived].[IronOffer] iof
					ON ls.[ItemID] = iof.[IronOfferID]
					AND cu.[ClubID] = iof.[ClubID]
				GROUP BY	cu.[CustomerGUID]
						,	ls.[ItemRank]
						,	iof.[HydraOfferID]
						,	ls.[StartDate]
						,	ls.[EndDate];

			/*******************************************************************************************************************************************
				2.2.	Insert data for sample customers
			*******************************************************************************************************************************************/
				
				INSERT INTO #EarnOffers
				SELECT	[CustomerGUID] = scls.[SampleCustomerGUID]
					,	[OfferGUID] = iof.[HydraOfferID]
					,	[ItemRank] = ls.[ItemRank] - 1
					,	ls.[StartDate]
					,	ls.[EndDate]
					,	[EmailSendID] = MIN(ls.[LionSendID])
				FROM [Email].[NominatedLionSendComponent] ls
				INNER JOIN [Derived].[Customer] cu
					ON ls.[CompositeID] = cu.[CompositeID]
				INNER JOIN [Email].[SampleCustomerLinks] scln
					ON cu.[FanID] = scln.[RealCustomerFanID]
				INNER JOIN [Email].[SampleCustomersList] scls
					ON scln.[SampleCustomerID] = scls.[ID]
				INNER JOIN [WHB].[Braze_CustomerPush] bclc
					ON scls.[SampleCustomerGUID] = bclc.[CustomerGUID]
				INNER JOIN [Derived].[IronOffer] iof
					ON ls.[ItemID] = iof.[IronOfferID]
					AND cu.[ClubID] = iof.[ClubID]
				WHERE EXISTS (	SELECT 1
								FROM #EmailSendID_Sample es
								WHERE ls.[LionSendID] = es.[EmailSendID])
				GROUP BY	scls.[SampleCustomerGUID]
						,	ls.[ItemRank]
						,	iof.[HydraOfferID]
						,	ls.[StartDate]
						,	ls.[EndDate]

				CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #EarnOffers ([CustomerGUID])

			/*******************************************************************************************************************************************
				2.3.	Insert data for sample customers
			*******************************************************************************************************************************************/
		
				TRUNCATE TABLE [WHB].[Braze_CustomerPush_NormalOffers]
				INSERT INTO [WHB].[Braze_CustomerPush_NormalOffers] WITH (TABLOCKX) (	[CustomerGUID]
																					,	[OfferType]
																					,	[ItemRank]
																					,	[OfferGUID]
																					,	[StartDate]
																					,	[EndDate]
																					,	[EmailSendID])
				SELECT	eo.[CustomerGUID]
					,	[OfferType] = 'Earn'
					,	eo.[ItemRank]
					,	eo.[OfferGUID]
					,	eo.[StartDate]
					,	eo.[EndDate]
					,	eo.[EmailSendID]
				FROM #EarnOffers eo 
				ORDER BY eo.[CustomerGUID];

		/*******************************************************************************************************************************************
			3.	Load Burn Offer data
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				3.1.	Fetch all data for real customers
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #BurnOffers;
				SELECT	cu.[CustomerGUID]
					,	[OfferGUID] = ro.[RedemptionOfferGUID]
					,	[ItemRank] = ls.[ItemRank] - 1
					,	[EmailSendID] = MAX(ls.[LionSendID])
				INTO #BurnOffers
				FROM [Email].[NominatedLionSendComponent_RedemptionOffers] ls
				INNER JOIN [Derived].[Customer] cu
					ON ls.[CompositeID] = cu.[CompositeID]
				INNER JOIN [WHB].[Braze_CustomerPush] bclc
					ON cu.[CustomerGUID] = bclc.[CustomerGUID]
				INNER JOIN [Derived].[RedemptionOffers] ro
					ON ls.[ItemID] = ro.[ID]
				GROUP BY	cu.[CustomerGUID]
						,	ls.[ItemRank]
						,	ro.[RedemptionOfferGUID];

			/*******************************************************************************************************************************************
				3.2.	Insert data for sample customers
			*******************************************************************************************************************************************/
				
				INSERT INTO #BurnOffers
				SELECT	[CustomerGUID] = scls.[SampleCustomerGUID]
					,	[OfferGUID] = ro.[RedemptionOfferGUID]
					,	[ItemRank] = ls.[ItemRank] - 1
					,	[EmailSendID] = MIN(ls.[LionSendID])
				FROM [Email].[NominatedLionSendComponent_RedemptionOffers] ls
				INNER JOIN [Derived].[Customer] cu
					ON ls.[CompositeID] = cu.[CompositeID]
				INNER JOIN [Email].[SampleCustomerLinks] scln
					ON cu.[FanID] = scln.[RealCustomerFanID]
				INNER JOIN [Email].[SampleCustomersList] scls
					ON scln.[SampleCustomerID] = scls.[ID]
				INNER JOIN [WHB].[Braze_CustomerPush] bclc
					ON scls.[SampleCustomerGUID] = bclc.[CustomerGUID]
				INNER JOIN [Derived].[RedemptionOffers] ro
					ON ls.[ItemID] = ro.[ID]
				WHERE EXISTS (	SELECT 1
								FROM #EmailSendID_Sample es
								WHERE ls.[LionSendID] = es.[EmailSendID])
				GROUP BY	scls.[SampleCustomerGUID]
						,	ls.[ItemRank]
						,	ro.[RedemptionOfferGUID];

				CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #BurnOffers ([CustomerGUID])

			/*******************************************************************************************************************************************
				3.3.	Insert data for sample customers
			*******************************************************************************************************************************************/
		
				INSERT INTO [WHB].[Braze_CustomerPush_NormalOffers] WITH (TABLOCKX) (	[CustomerGUID]
																					,	[OfferType]
																					,	[ItemRank]
																					,	[OfferGUID]
																					,	[StartDate]
																					,	[EndDate]
																					,	[EmailSendID])
				SELECT	bo.[CustomerGUID]
					,	[OfferType] = 'Burn'
					,	bo.[ItemRank]
					,	bo.[OfferGUID]
					,	[StartDate] = NULL
					,	[EndDate] = NULL
					,	bo.[EmailSendID]
				FROM #BurnOffers bo 
				ORDER BY bo.[CustomerGUID];

		/*******************************************************************************************************************************************
			4.	Mark customers as modified
		*******************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #Customers
			SELECT	DISTINCT
					[CustomerGUID]
			INTO #Customers
			FROM #EarnOffers
			UNION
			SELECT	DISTINCT
					[CustomerGUID]
			FROM #BurnOffers
	
			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID])

			UPDATE noc
			SET	noc.[InNewsletter] = 1
			,	noc.[ModifiedDate] = GETDATE()
			FROM [WHB].[Braze_CustomerPush_NormalOffers_Customers] noc
			WHERE EXISTS (	SELECT 1
							FROM #Customers cu
							WHERE noc.[CustomerGUID] = cu.[CustomerGUID])

			UPDATE noc
			SET	noc.[InNewsletter] = 0
			,	noc.[ModifiedDate] = GETDATE()
			FROM [WHB].[Braze_CustomerPush_NormalOffers_Customers] noc
			WHERE NOT EXISTS (	SELECT 1
								FROM #Customers cu
								WHERE noc.[CustomerGUID] = cu.[CustomerGUID])
			AND noc.[InNewsletter] = 1
	
			INSERT INTO [WHB].[Braze_CustomerPush_NormalOffers_Customers]
			SELECT	cu.[CustomerGUID]
				,	[InNewsletter] = 1
				,	[ModifiedDate] = GETDATE()
				,	[LastPushedToBraze] = NULL
			FROM #Customers cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [WHB].[Braze_CustomerPush_NormalOffers_Customers] noc
								WHERE cu.[CustomerGUID] = noc.[CustomerGUID])
			ORDER BY	cu.[CustomerGUID]
	
			INSERT INTO [WHB].[Braze_CustomerPush_NormalOffers_Customers]
			SELECT	cu.[CustomerGUID]
				,	[InNewsletter] = 0
				,	[ModifiedDate] = GETDATE()
				,	[LastPushedToBraze] = NULL
			FROM [WHB].[Braze_CustomerPush] cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [WHB].[Braze_CustomerPush_NormalOffers_Customers] noc
								WHERE cu.[CustomerGUID] = noc.[CustomerGUID])
			ORDER BY	cu.[CustomerGUID]

END

RETURN 0

GO
