USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Attributes_Redemptions_Upload_MarkUploaded]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

CREATE PROCEDURE [WHB].[Braze_Attributes_Redemptions_Upload_MarkUploaded]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;

	UPDATE st
	SET st.[LastPushedToBraze] = GETDATE()
	FROM [CRM].[Braze_CustomerRedemptionsLog] st
	INNER JOIN [WHB].[Braze_CustomerPush] cp
		ON st.[CustomerGUID] = cp.[CustomerGUID]
	WHERE st.[ModifiedDate] > st.[LastPushedToBraze]
	OR	st.[LastPushedToBraze] IS NULL;
							
END

RETURN 0
GO
