USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_SectorSpend_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_CustomerPush_SectorSpend_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	/*
	NOTE please see the original code. There's a whole section missing from this because I couldn't figure out how it was supposed to work
	*/

	-- new clustered index
	-- CREATE CLUSTERED INDEX cx_Stuff ON [Derived].[Customer_DuplicateSourceUID] (SourceUID) WITH (DATA_COMPRESSION = PAGE)

	/* unused
	DECLARE @LastYear DATE = DATEADD(MONTH, -48, GETDATE())

	DROP TABLE IF EXISTS #FileIDs
	SELECT ID
	INTO #FileIDs
	FROM WHB.Transaction_Files 
	WHERE LoadDate >= @LastYear
	GROUP BY ID;
	
	CREATE UNIQUE CLUSTERED INDEX ucx_ID ON #FileIDs (ID);
	*/

	DROP TABLE IF EXISTS #CC;
	SELECT	cc.[ConsumerCombinationID]
		,	cc.[BrandID]
		,	bs.[SectorName]
		,	[SectorGroupName] = bsg.[GroupName]
	INTO #CC
	FROM [Trans].[ConsumerCombination] cc
	INNER JOIN [WH_AllPublishers].[Trans].[Brand] br
		ON cc.[BrandID] = br.[BrandID]
	INNER JOIN [WH_AllPublishers].[Trans].[BrandSector] bs
		ON br.[SectorID] = bs.[SectorID]
	INNER JOIN [WH_AllPublishers].[Trans].[BrandSectorGroup] bsg
		ON bs.[SectorGroupID] = bsg.[SectorGroupID];

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CCID] ON #CC ([ConsumerCombinationID]);

	DROP TABLE IF EXISTS #CINList;
	SELECT	cl.[CINID]
		,	[CustomerGUID] = MIN(cu.[CustomerGUID])
	INTO #CINList
	FROM [Derived].[Customer] cu
	INNER JOIN [WHB].[Braze_CustomerPush] bclc
		ON cu.[CustomerGUID] = bclc.[CustomerGUID]
	OUTER APPLY (	SELECT	cl.[CINID] 
					FROM [Derived].[CINList] cl
					LEFT JOIN [Derived].[Customer_DuplicateSourceUID] ds
						ON ds.[SourceUID] = cl.[CIN] 
						AND ds.[EndDate] IS NULL
					WHERE cl.[CIN] = cu.[SourceUID] 
					AND ds.[SourceUID] IS NULL) cl
	GROUP BY	cl.[CINID];
	
	CREATE UNIQUE CLUSTERED INDEX [UCIX_CINID] ON #CINList ([CINID]);

	--=============================================================================

	DROP TABLE IF EXISTS #CT;
	SELECT	ct.[CINID]
		,	[IsOnline] = MAX(CASE WHEN ct.[IsOnline] = 1 THEN 1 ELSE 0 END)
		,	[IsOffline] = MAX(CASE WHEN ct.[IsOnline] = 0 THEN 1 ELSE 0 END)
		,	cc.[SectorName]
		,	cc.[SectorGroupName]
		,	[FirstTran] = MIN(ct.[TranDate])
		,	[LastTran] = MAX(ct.[TranDate])
		,	[TranDays] = COUNT(DISTINCT ct.[TranDate])
		,	[Transactions] = COUNT(*)
		,	[Spend] = SUM(ct.[Amount])
	INTO #CT
	FROM [Trans].[ConsumerTransaction] ct
	INNER JOIN #CC cc
		ON ct.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
	INNER JOIN #CINList cl
		ON ct.[CINID] = cl.[CINID]
	WHERE ct.[TranDate] >= CAST(DATEADD(DAY,1,EOMONTH(GETDATE(), -13)) AS DATE) -- the first of this month, last year
	GROUP BY	ct.[CINID]
			,	cc.[SectorName]
			,	cc.[SectorGroupName] 
	OPTION (HASH GROUP);
	
	TRUNCATE TABLE [WHB].[Braze_CustomerPush_SectorSpend];
	WITH
	Sector AS (	SELECT	ct.[CINID]
					,	[SectorName] 
					,	[SectorGroupName] 
					,	[SpendChannel] =	CASE
												WHEN ct.[IsOnline] = 1 AND ct.[IsOffline] = 1 THEN 'Mixed'
												WHEN ct.[IsOnline] = 1 THEN 'Online'
												WHEN ct.[IsOffline] = 1 THEN 'Offline'
											END
					,	[ATV] = SUM(ct.[Spend]) / SUM(ct.[Transactions])
					,	[ATF] = SUM(ct.[Transactions]) * 1.0 / 12
					,	[DateLastSpent] = MAX(ct.[LastTran])
					,	[Spend] = SUM(ct.[Spend])
					,	[DaysSpending] = SUM(ct.[TranDays])
				FROM #CT ct
				GROUP BY	ct.[CINID]
						,	ct.[IsOnline]
						,	ct.[IsOffline]
						,	ct.[SectorName]
						,	ct.[SectorGroupName])

	INSERT INTO [WHB].[Braze_CustomerPush_SectorSpend] WITH (TABLOCKX) ([CustomerGUID]
																	,	[SectorName]
																	,	[SectorGroupName]
																	,	[SpendChannel]
																	,	[ATV]
																	,	[ATF]
																	,	[DateLastSpent]
																	,	[Spend]
																	,	[DaysSpending]
																	,	[ModifiedDate])
	SELECT	cl.[CustomerGUID]
		,	s.[SectorName]
		,	s.[SectorGroupName]
		,	s.[SpendChannel]
		,	s.[ATV]
		,	s.[ATF]
		,	s.[DateLastSpent]
		,	s.[Spend]
		,	s.[DaysSpending]
		,	[ModifiedDate] = GETDATE()
	FROM #CINList cl
	INNER JOIN Sector s
		ON cl.[CINID] = s.[CINID] 
	ORDER BY	cl.[CustomerGUID]
			,	s.[SectorName];
				
END

RETURN 0
GO
