USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Events_Webhook_Update]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_Events_Webhook_Update]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Populate the lookup tables used in the output table
		*******************************************************************************************************************************************/
		
			EXEC [WHB].[Braze_Events_Lookups_Update]

		/*******************************************************************************************************************************************
			2.	Insert to CRM table
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				2.1.	Fetch new entries to load
			*******************************************************************************************************************************************/
				
				DROP TABLE IF EXISTS #Braze_Currents
				SELECT	fn.[EventChannelID]
					,	bc.*
				INTO #Braze_Currents
				FROM [Inbound].[Braze_Currents] bc
				INNER JOIN [Inbound].[S3FileNames_Braze] fn
					ON bc.[FileID] = fn.[FileID]
				WHERE EXISTS (	SELECT 1
								FROM [Inbound].[S3FileNames_Braze] fn
								WHERE bc.[FileID] = fn.[FileID]
								AND fn.[EventChannelID] = 12)

				CREATE CLUSTERED INDEX [CIX_ID] ON #Braze_Currents ([ID])
				CREATE NONCLUSTERED INDEX [IX_FileID] ON #Braze_Currents ([FileID])
				CREATE NONCLUSTERED INDEX [IX_CustomerExternalID] ON #Braze_Currents ([external_user_id])
				CREATE NONCLUSTERED INDEX [IX_Campaign] ON #Braze_Currents ([campaign_id], [message_variation_id])
				CREATE NONCLUSTERED INDEX [IX_Canvas] ON #Braze_Currents ([canvas_id], [canvas_variation_id]) INCLUDE ([canvas_step_id], [next_step_id], [progression_type])
				CREATE NONCLUSTERED INDEX [IX_ConversionBehaviour] ON #Braze_Currents ([conversion_behavior])
				
			/*******************************************************************************************************************************************
				2.2.	Fetch Customer Lookup
			*******************************************************************************************************************************************/
					
				DROP TABLE IF EXISTS #Customers
				SELECT	cei.[ExternalID]
					,	cei.[CustomerGUID]
				INTO #Customers
				FROM [WHB].[Inbound_CustomerExternalIDs] cei
				WHERE EXISTS (	SELECT 1
								FROM #Braze_Currents bc
								WHERE cei.[ExternalID] = bc.[external_user_id])

				CREATE CLUSTERED INDEX [CIX_ExternalID] ON #Customers ([ExternalID], [CustomerGUID])

			/*******************************************************************************************************************************************
				2.3.	Insert new entries to final table
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Inserted
				CREATE TABLE #Inserted ([EventGUID] UNIQUEIDENTIFIER
									,	[EventTypeID] INT)

				INSERT INTO [CRM].[Events_Webhook] ([EventGUID]
												,	[FileID]
												,	[EventTypeID]
												,	[CustomerGUID]
												,	[EventDateTime]
												,	[CampaignID]
												,	[MessageVariationID]
												,	[DispatchID]
												,	[CanvasID]
												,	[CanvasVariationID]
												,	[CanvasStepID]
												,	[ConversionID])
				OUTPUT	inserted.[EventGUID]
					,	inserted.[EventTypeID]
				INTO #Inserted ([EventGUID], [EventTypeID])
				
				SELECT	DISTINCT
						[EventGUID] = CONVERT(UNIQUEIDENTIFIER, bc.[id])
					,	fn.[FileID]
					,	fn.[EventTypeID]
					,	cu.[CustomerGUID]
					,	[EventDateTime] = DATEADD(SECOND, CONVERT(BIGINT, bc.[time]), '19700101')
					,	cam.[CampaignID]
					,	mv.[MessageVariationID]
					,	[DispatchID] = TRY_CONVERT(VARBINARY(16), '0x' + bc.[dispatch_id], 1)
					,	ca.[CanvasID]
					,	cv.[CanvasVariationID]
					,	cs.[CanvasStepID]
					,	con.[ConversionID]
				FROM #Braze_Currents bc
				INNER JOIN [Inbound].[S3FileNames_Braze] fn
					ON bc.[FileID] = fn.[FileID]
				INNER JOIN #Customers cu
					ON bc.[external_user_id] = cu.[ExternalID]
				LEFT JOIN [WH_AllPublishers].[CRM].[BrazeExports_Campaigns] cam
					ON bc.[campaign_id] = cam.[CampaignGUID]
				LEFT JOIN [WH_AllPublishers].[CRM].[BrazeExports_MessageVariation] mv
					ON bc.[campaign_id] = mv.[CampaignGUID]
					AND bc.[message_variation_id] = mv.[MessageVariationGUID]
				LEFT JOIN [WH_AllPublishers].[CRM].[BrazeExports_Canvas] ca
					ON bc.[canvas_id] = ca.[CanvasGUID]
				LEFT JOIN [WH_AllPublishers].[CRM].[BrazeExports_CanvasVariation] cv
					ON bc.[canvas_id] = cv.[CanvasGUID]
					AND bc.[canvas_variation_id] = cv.[CanvasVariationGUID]
				LEFT JOIN [WH_AllPublishers].[CRM].[BrazeExports_CanvasSteps] cs
					ON bc.[canvas_id] = cs.[CanvasGUID]
					AND bc.[canvas_variation_id] = cs.[CanvasVariationGUID]
					AND bc.[canvas_step_id] = cs.[CanvasStepGUID]
					AND (	(bc.[next_step_id] = cs.[NextCanvasStepGUID] AND bc.[progression_type] = cs.[ProgressionType])
						OR	bc.[next_step_id] IS NULL)
				LEFT JOIN [WH_AllPublishers].[CRM].[BrazeExports_Conversion] con
					ON bc.[conversion_behavior] = con.[Behaviour]
				WHERE NOT EXISTS (	SELECT 1
									FROM [CRM].[Events_Webhook] ec
									WHERE CONVERT(UNIQUEIDENTIFIER, bc.[id]) = ec.[EventGUID])
				ORDER BY	DATEADD(SECOND, CONVERT(BIGINT, bc.[time]), '19700101')
				
		/*******************************************************************************************************************************************
			3.	Delete from Inbound table
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				3.1.	Find cases where new data has been added that is not flowing through to the warehouse
			*******************************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #EventsToRetain
				SELECT	et.[EventTypeID]
				INTO #EventsToRetain
				FROM [WH_AllPublishers].[CRM].[BrazeExports_EventTypes] et
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventChannelColumns] ecc
					ON et.[EventChannelID] = ecc.[EventChannelID]
				WHERE ecc.[Inbound] = 'Included'
				AND ecc.[CRM] IS NULL
				AND EXISTS (SELECT 1
							FROM #Inserted i
							WHERE et.[EventTypeID] = i.[EventTypeID])

			/*******************************************************************************************************************************************
				3.2.	Remvoe Inbound data that is fully covered by the Warehouse load
			*******************************************************************************************************************************************/

				WHILE 1 = 1
					BEGIN

						;WITH
						DELETER AS (	SELECT TOP 500000 bc.*
										FROM [Inbound].[Braze_Currents] bc
										WHERE EXISTS (	SELECT 1
														FROM #Inserted i
														WHERE CONVERT(UNIQUEIDENTIFIER, bc.[id]) = i.[EventGUID])
										AND NOT EXISTS (SELECT 1
														FROM [Inbound].[S3FileNames_Braze] fn
														INNER JOIN #EventsToRetain etr
															ON fn.[EventTypeID] = etr.[EventTypeID]
														WHERE bc.[FileID] = fn.[FileID])
										)

						DELETE
						FROM DELETER

						IF @@ROWCOUNT = 0 BREAK

					END

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

RETURN 0

GO
