USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_Deletion_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_CustomerPush_Deletion_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;

	DROP TABLE IF EXISTS #Braze_CustomerPush
	SELECT	cp.[CustomerGUID]
		,	cp.[id]
		,	cp.[ModifiedDate]
	INTO #Braze_CustomerPush
	FROM [WHB].[Braze_CustomerPush] cp
	WHERE EXISTS (	SELECT 1
					FROM [Derived].[Customer] cu
					WHERE cp.[CustomerGUID] = cu.[CustomerGUID]
					AND cu.[CurrentlyActive] = 0)
	
	CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Braze_CustomerPush ([CustomerGUID])

	INSERT INTO [WHB].[Braze_CustomerPush_Deletion]
	SELECT	cp.[CustomerGUID]
		,	cp.[id]
		,	cp.[ModifiedDate]
		,	[RemovedDate] = NULL
		,	[LastPushedToBraze] = NULL
	FROM #Braze_CustomerPush cp
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_CustomerPush_Deletion] cpd
						WHERE cp.[CustomerGUID] = cpd.[CustomerGUID]
						AND cp.[id] = cpd.[id]
						AND cpd.[RemovedDate] IS NULL)
	
	DROP TABLE IF EXISTS #Braze_CustomerPush_Deletion
	SELECT	cpd.[CustomerGUID]
		,	cpd.[id]
		,	cpd.[RemovedDate]
	INTO #Braze_CustomerPush_Deletion
	FROM [WHB].[Braze_CustomerPush_Deletion] cpd
	WHERE 1 = 2
	
	CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Braze_CustomerPush_Deletion ([CustomerGUID])

	DELETE cp
	OUTPUT	DELETED.[CustomerGUID]
		,	DELETED.[id]
		,	GETDATE()
	INTO #Braze_CustomerPush_Deletion
	FROM [WHB].[Braze_CustomerPush] cp
	WHERE EXISTS (	SELECT 1
					FROM [WHB].[Braze_CustomerPush_Deletion] cpd
					WHERE cp.[CustomerGUID] = cpd.[CustomerGUID]
					AND cp.[id] = cpd.[id]
					AND cpd.[RemovedDate] IS NULL)

	UPDATE cp
	SET cp.[RemovedDate] = cpd.[RemovedDate]
	FROM [WHB].[Braze_CustomerPush_Deletion] cp
	CROSS APPLY (	SELECT	TOP 1
							cpd.[RemovedDate]
					FROM #Braze_CustomerPush_Deletion cpd
					WHERE cp.[CustomerGUID] = cpd.[CustomerGUID]
					AND cp.[id] = cpd.[id]) cpd
	WHERE cp.[RemovedDate] IS NULL
						
END

RETURN 0
GO
