USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[AllPublishers_Customer_Balances]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[AllPublishers_Customer_Balances]	@ExecutionType VARCHAR(50) = 'Day'
													,	@ExecutionDateStart DATE = NULL
													,	@ExecutionDateEnd DATE = NULL
													,	@PublisherID INT = 2069
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Year', @ExecutionDateStart DATE = '2024-01-01', @ExecutionDateEnd DATE = '2024-12-31'
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = GETDATE(), @ExecutionDateEnd DATE = GETDATE()
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = '2024-08-15', @ExecutionDateEnd DATE = '2024-08-15', @PublisherID INT = 2069

		IF @ExecutionDateStart = NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd = NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType

	/*******************************************************************************************************************************************
		2.	Fetch Cashback Balances within the period
	*******************************************************************************************************************************************/
	
		DECLARE @Date_Balance DATE

		SELECT @Date_Balance = MAX([CalendarDate])
		FROM #Dates

		DROP TABLE IF EXISTS #CashbackBalances
		SELECT	cb.[CustomerGUID]
			,	cb.[CashbackPending]
			,	cb.[CashbackAvailable]
			,	cb.[CashbackLTV]
			,	cb.[StartDate]
			,	[EndDate] = COALESCE(cb.[EndDate], '9999-12-31')
		INTO #CashbackBalances
		FROM [Derived].[Customer_CashbackBalances] cb
		WHERE @Date_Balance BETWEEN cb.[StartDate] AND COALESCE(cb.[EndDate], '9999-12-31')

		CREATE CLUSTERED INDEX [CIX_CustomerGUID_Dates] ON #CashbackBalances ([CustomerGUID], [StartDate], [EndDate])

	/*******************************************************************************************************************************************
		3.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Customers
		SELECT	[PublisherID] = cu.[ClubID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
		INTO #Customers
		FROM [Derived].[Customer] cu
		WHERE EXISTS (	SELECT 1
						FROM #CashbackBalances cb
						WHERE cu.[CustomerGUID] = cb.[CustomerGUID])

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID])

	/*******************************************************************************************************************************************
		4.	Delete existing data for the period
	*******************************************************************************************************************************************/
	
		DELETE cb
		FROM [WH_AllPublishers].[Report].[Customer_Balances] cb
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cb.[CalendarDate] = d.[CalendarDate]
						AND cb.[MonthStart] = d.[StartDate]
						AND cb.[MonthEnd] = d.[EndDate])
		AND cb.[PublisherID] = @PublisherID

	/*******************************************************************************************************************************************
		5.	Load new balances for the period
	*******************************************************************************************************************************************/

		INSERT INTO [WH_AllPublishers].[Report].[Customer_Balances] (	[CalendarDate]
																	,	[MonthStart]
																	,	[MonthEnd]
																	,	[PublisherID]
																	,	[CustomerGUID]
																	,	[FanID]
																	,	[CashbackPending]
																	,	[CashbackAvailable]
																	,	[CashbackLTV])
		SELECT	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
			,	cu.[PublisherID]
			,	cb.[CustomerGUID]
			,	cu.[FanID]
			,	cb.[CashbackPending]
			,	cb.[CashbackAvailable]
			,	cb.[CashbackLTV]
		FROM #CashbackBalances cb
		INNER JOIN #Customers cu
			ON cb.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN #Dates d
			ON d.[CalendarDate] BETWEEN cb.[StartDate] AND cb.[EndDate]

	/*******************************************************************************************************************************************
		6.	Mark as updated
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Balances_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] = @PublisherID

END
GO
