USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Attributes_NormalOffer_Upload_MarkUploaded]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

CREATE PROCEDURE [WHB].[Braze_Attributes_NormalOffer_Upload_MarkUploaded]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;
	
	DECLARE @ProcessedDate DATETIME

	SELECT	@ProcessedDate = MAX([ProcessedDate])
	FROM [WH_AllPublishers].[CRM].[BrazePipeline_StreamToS3_Log]
	WHERE [ObjectName] = 'Braze_Attributes_NormalOffer_Upload'
	AND [DatabaseName] = DB_NAME()

	UPDATE st
	SET st.[LastPushedToBraze] = @ProcessedDate
	FROM [WHB].[Braze_CustomerPush_NormalOffers_Customers] st
	INNER JOIN [WHB].[Braze_CustomerPush] cp
		ON st.[CustomerGUID] = cp.[CustomerGUID]
	WHERE st.[ModifiedDate] > st.[LastPushedToBraze]
	OR	st.[LastPushedToBraze] IS NULL;
							
END

GO
