USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Customer_CashbackBalances]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Customer_CashbackBalances] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch all cashback balances for all Virgin customers
		*******************************************************************************************************************************************/
		
		--	DECLARE @RunDate DATE = GETDATE()
			
			DROP TABLE IF EXISTS  #Customer
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CashbackPending]
				,	[CashbackAvailable]
				,	[CashbackLTV]
			INTO #Customer
			FROM [WHB].[Customer] cu

			CREATE CLUSTERED INDEX CIX_DateFanID ON #Customer ([CustomerGUID])
			
			DROP TABLE IF EXISTS  #Customer_CashbackBalances
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CashbackPending]
				,	[CashbackAvailable]
				,	[CashbackLTV]
			INTO #Customer_CashbackBalances
			FROM [Derived].[Customer_CashbackBalances] cb WITH (NOLOCK)
			WHERE [EndDate] IS NULL

			CREATE CLUSTERED INDEX CIX_DateFanID ON #Customer_CashbackBalances ([CustomerGUID])
			
			DROP TABLE IF EXISTS  #CashbackBalances
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CashbackPending]
				,	[CashbackAvailable]
				,	[CashbackLTV]
			INTO #CashbackBalances
			FROM #Customer
			EXCEPT
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CashbackPending]
				,	[CashbackAvailable]
				,	[CashbackLTV]
			FROM #Customer_CashbackBalances

			CREATE CLUSTERED INDEX CIX_DateFanID ON #CashbackBalances ([CustomerGUID])

		/*******************************************************************************************************************************************
			2.	Insert the cashback data aas of run date to [Derived].[Customer_CashbackBalances]
		*******************************************************************************************************************************************/
		
		--	DECLARE @RunDate DATE = GETDATE()

			DELETE ccb
			FROM [Derived].[Customer_CashbackBalances] ccb
			WHERE [StartDate] = @RunDate

			UPDATE cb
			SET cb.[EndDate] = DATEADD(DAY, -1, @RunDate)
			FROM [Derived].[Customer_CashbackBalances] cb
			WHERE EXISTS (	SELECT 1
							FROM #CashbackBalances c
							WHERE cb.[FanID] = c.[FanID])
			AND cb.[EndDate] IS NULL
			
		--	DECLARE @RunDate DATE = GETDATE()
		
			INSERT INTO [Derived].[Customer_CashbackBalances] (	[FanID]		
															,	[CustomerGUID]
															,	[CashbackPending]
															,	[CashbackAvailable]
															,	[CashbackLTV]
															,	[StartDate]
															,	[EndDate])
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CashbackPending]
				,	[CashbackAvailable]
				,	[CashbackLTV]
				,	[StartDate] = @RunDate
				,	[EndDate] = NULL
			FROM #CashbackBalances cb
			ORDER BY [FanID] DESC

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END



GO
