USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[BrazeExports_EventColumns_Update]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[BrazeExports_EventColumns_Update]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch the list of all columns from the [Inbound] table
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Braze_Currents_Columns
			SELECT	[ColumnName] = c.[name]
				,	[ColumnName_Quoted] = QUOTENAME(c.[name])
			INTO #Braze_Currents_Columns
			FROM [sys].[columns] c
			INNER JOIN [sys].[tables] t
				ON c.[object_id] = t.[object_id]
			INNER JOIN [sys].[schemas] s
				ON t.[schema_id] = s.[schema_id]
			WHERE s.[name] = 'Inbound'
			AND t.[name] = 'Braze_Currents'
			AND c.[name] != 'EventChannelID'
			AND c.[name] != 'Braze_CurrentsID'
			AND c.[name] != 'FileID'

		/*******************************************************************************************************************************************
			2.	Prepare table to store results
		*******************************************************************************************************************************************/
					
			DROP TABLE IF EXISTS #ColumnCounts
			CREATE TABLE #ColumnCounts ([FileID] INT
									,	[ColumnName] VARCHAR(50)
									,	[RowCount] INT
									,	[TableRowCount] INT)

		/*******************************************************************************************************************************************
			3.	Prepare process to store results
		*******************************************************************************************************************************************/
					
			DECLARE @SQL_Template VARCHAR(MAX)
				,	@SQL VARCHAR(MAX)
				,	@ColumnName VARCHAR(MAX)
				,	@TableCount INT

			SELECT @TableCount = COUNT(*)
			FROM [Inbound].[Braze_Currents]

			SET @SQL_Template = '
				INSERT INTO #ColumnCounts
				SELECT	bc.[FileID]
					,	[ColumnName] = ''*ColumnName*''
					,	[RowCount] = COUNT(1)
					,	[TableRowCount] = ' + CONVERT(VARCHAR(10), @TableCount) + '
				FROM [Inbound].[Braze_Currents] bc
				WHERE [*ColumnName*] IS NOT NULL
				GROUP BY	bc.[FileID]
				'

		/*******************************************************************************************************************************************
			4.	Loop through each column to store results by [FileID]
		*******************************************************************************************************************************************/
					
			WHILE (SELECT COUNT(*) FROM #Braze_Currents_Columns) > 0
				BEGIN

					SELECT @ColumnName = MAX([ColumnName])
					FROM #Braze_Currents_Columns

					SET @SQL = REPLACE(@SQL_Template, '*ColumnName*', @ColumnName)

					EXEC(@SQL)

					DELETE
					FROM #Braze_Currents_Columns
					WHERE @ColumnName = [ColumnName]

				END

		/*******************************************************************************************************************************************
			5.	Aggregate to [EventChannelID] level
		*******************************************************************************************************************************************/
					
			DROP TABLE IF EXISTS #ColumnCounts_EventChannel
			SELECT	fnb.[EventChannelID]
				,	cc.[ColumnName]
				,	[RowCount] = SUM(cc.[RowCount])
				,	[TableRowCount] = MAX(cc.[TableRowCount])
			INTO #ColumnCounts_EventChannel
			FROM [Inbound].[S3FileNames_Braze] fnb
			INNER JOIN #ColumnCounts cc
				ON fnb.[FileID] = cc.[FileID]
			GROUP BY	fnb.[EventChannelID]
					,	cc.[ColumnName]

		/*******************************************************************************************************************************************
			7.	Add new entries to [WH_AllPublishers].[CRM].[BrazeExports_EventChannelColumns]
		*******************************************************************************************************************************************/
						
			INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_EventChannelColumns]
			SELECT	DISTINCT
					cc.[EventChannelID]
				,	ecol.[EventColumnID]				
				,	[IncludedInInbound] = 1
				,	[IncludedInWHB] = 0	
				,	[Inbound] = 'Included'
				,	[CRM] = NULL
			FROM #ColumnCounts_EventChannel cc
			INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventColumns] ecol
				ON cc.[ColumnName] = ecol.[EventColumnName]
			WHERE cc.[RowCount] > 0
			AND NOT EXISTS (SELECT 1
							FROM [WH_AllPublishers].[CRM].[BrazeExports_EventChannelColumns] ecc
							WHERE cc.[EventChannelID] = ecc.[EventChannelID]
							AND ecol.[EventColumnID] = ecc.[EventColumnID])

		/*******************************************************************************************************************************************
			8.	Update existing entries to [WH_AllPublishers].[CRM].[BrazeExports_EventChannelColumns]
		*******************************************************************************************************************************************/

			UPDATE ecc
			SET ecc.[IncludedInInbound] = 1
			,	ecc.[Inbound] = 'Included'
			FROM #ColumnCounts_EventChannel cc
			INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventColumns] ecol
				ON cc.[ColumnName] = ecol.[EventColumnName]
			INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventChannelColumns] ecc
				ON cc.[EventChannelID] = ecc.[EventChannelID]
				AND ecol.[EventColumnID] = ecc.[EventColumnID]
			WHERE cc.[RowCount] > 0
			AND COALESCE(ecc.[Inbound], 'Excluded') = 'Excluded'

		/*

			SELECT	ecc.[EventChannelID]
				,	ec.[EventChannel]
				,	ecc.[EventColumnID]
				,	ecol.[EventColumnName]
				,	ecc.[IncludedInInbound]
				,	ecc.[IncludedInWHB]
				,	ecc.[Inbound]
				,	ecc.[CRM]
			FROM [WH_AllPublishers].[CRM].[BrazeExports_EventChannelColumns] ecc
			INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventColumns] ecol
				ON ecc.[EventColumnID] = ecol.[EventColumnID]
			INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventChannels] ec
				ON ecc.[EventChannelID] = ec.[EventChannelID]
			WHERE ecc.[Inbound] = 'Included'
			AND ecc.[CRM] IS NULL

		*/

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
