USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_EmailEvent_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_EventPush_EmailEvent_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/*******************************************************************************************************************************************
		1.	Fetch the most recent email events that have not already been processed
	*******************************************************************************************************************************************/

		DECLARE @ID BIGINT

		SELECT	@ID = ISNULL(MAX([MaxID]), 0)
		FROM [WHB].[Braze_EventPush_EmailEvent_Log]

		DROP TABLE IF EXISTS #EmailEvent;
		SELECT	st.[EventID]
			,	cu.[FanID]
			,	cu.[CustomerGUID]
			,	st.[EmailEventCodeID]
			,	st.[CampaignKey]
			,	st.[EventDate]
			,	st.[EventDateTime]
			,	[ClickURL] = NULL
		INTO #EmailEvent
		FROM [Warehouse].[Relational].[EmailEvent] st
		INNER JOIN [Derived].[Customer] cu
			ON st.[FanID] = cu.[FanID]
		WHERE st.[EventID] > @ID
		AND st.[EmailEventCodeID] IN (901, 910, 1301, 605);

		CREATE CLUSTERED INDEX [CIX] ON #EmailEvent ([FanID], [CampaignKey]);
		CREATE NONCLUSTERED INDEX [IX_EventID] ON #EmailEvent ([EventID]);

	/*******************************************************************************************************************************************
		2.	Fetch the all email events from the same customer / email send fetched above
	*******************************************************************************************************************************************/
				
		INSERT INTO #EmailEvent (	[EventID]
								,	[FanID]
								,	[CustomerGUID]
								,	[EmailEventCodeID]
								,	[CampaignKey]
								,	[EventDate]
								,	[EventDateTime]
								,	[ClickURL])
		SELECT	st.[EventID]
			,	cu.[FanID]
			,	cu.[CustomerGUID]
			,	st.[EmailEventCodeID]
			,	st.[CampaignKey]
			,	st.[EventDate]
			,	st.[EventDateTime]
			,	[ClickURL] = NULL
		FROM [Warehouse].[Relational].[EmailEvent] st
		INNER JOIN [Derived].[Customer] cu
			ON st.[FanID] = cu.[FanID]
		WHERE EXISTS (	SELECT 1
						FROM #EmailEvent ee2
						WHERE st.[FanID] = ee2.[FanID]
						AND st.[CampaignKey] = ee2.[CampaignKey])
		AND NOT EXISTS (SELECT 1
						FROM #EmailEvent ee2
						WHERE st.[EventID] = ee2.[EventID])
		AND st.[EmailEventCodeID] IN (901, 910, 1301, 605) 
		OPTION (RECOMPILE);

	/*******************************************************************************************************************************************
		3.	Enrich the data with types and aggregate
	*******************************************************************************************************************************************/
				
		DROP TABLE IF EXISTS #EmailEventEnriched;
		SELECT	ee.[CustomerGUID]
			,	ee.[CampaignKey]
			,	[CampaignName] = COALESCE(ct.[CampaignType], ec.[CampaignName])
			,	[EmailSentDate] = MIN(CASE WHEN ee.[EmailEventCodeID] IN (901, 910) THEN ee.[EventDateTime] END)
			,	[EmailOpenedDate] = MIN(CASE WHEN ee.[EmailEventCodeID] = 1301 THEN ee.[EventDateTime] END)
			,	[EmailOpened] = MAX(CASE WHEN ee.[EmailEventCodeID] = 1301 THEN 1 ELSE 0 END)
			,	[EmailClicked] = MAX(CASE WHEN ee.[EmailEventCodeID] = 605 THEN 1 ELSE 0 END)
			,	[MaxID] = MAX(ee.[EventID])
		INTO #EmailEventEnriched
		FROM #EmailEvent ee
		LEFT JOIN [Derived].[EmailCampaign] ec
			ON ee.[CampaignKey] = ec.[CampaignKey]
		LEFT JOIN [WHB].[Braze_EventPush_EmailEvent_CampaignTypes] ct
			ON ec.[CampaignName] LIKE ct.[CampaignType_Wildcard]
		GROUP BY	ee.[CustomerGUID]
				,	ee.[CampaignKey]
				,	COALESCE(ct.[CampaignType], ec.[CampaignName])
		HAVING MIN(CASE WHEN ee.[EmailEventCodeID] IN (901, 910) THEN ee.[EventDateTime] END) IS NOT NULL;

		CREATE CLUSTERED INDEX [CIX] ON #EmailEventEnriched ([CustomerGUID], [CampaignKey]);

	/*******************************************************************************************************************************************
		4.	Load all new events to final table for push to Braze
	*******************************************************************************************************************************************/
	
		MERGE [WHB].[Braze_EventPush_EmailEvent] TGT
		USING #EmailEventEnriched SRC
			ON TGT.[CustomerGUID] = SRC.[CustomerGUID]
			AND TGT.[CampaignKey] = SRC.[CampaignKey]

		WHEN MATCHED
			AND (TGT.[EmailOpened] = 0 AND SRC.[EmailOpened] = 1)
			OR (TGT.[EmailClicked] = 0 AND SRC.[EmailClicked] = 1)
		THEN UPDATE
			SET	TGT.[EmailOpenedDate] = SRC.[EmailOpenedDate]
			,	TGT.[EmailOpened] = SRC.[EmailOpened]
			,	TGT.[EmailClicked] = SRC.[EmailClicked]
			,	TGT.[MaxID] = SRC.[MaxID]
			,	TGT.[PushedToBraze] = 0

		WHEN NOT MATCHED
			THEN INSERT (	[CustomerGUID]
						,	[CampaignKey]
						,	[CampaignName]
						,	[EmailSentDate]
						,	[EmailOpenedDate]
						,	[EmailOpened]
						,	[EmailClicked]
						,	[MaxID]
						,	[PushedToBraze])
			VALUES (SRC.[CustomerGUID]
				,	SRC.[CampaignKey]
				,	SRC.[CampaignName]
				,	SRC.[EmailSentDate]
				,	SRC.[EmailOpenedDate]
				,	SRC.[EmailOpened]
				,	SRC.[EmailClicked]
				,	SRC.[MaxID]
				,	0);

	/*******************************************************************************************************************************************
		5.	Update all aggregated values for the customer
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Braze_CustomerEmailLog
		SELECT	eee.[CustomerGUID]
			,	eee.[CampaignName]
			,	[FirstEmailSentDate] = MIN(CONVERT(DATE, eee.[EmailSentDate]))
			,	[LastEmailSentDate] = MAX(CONVERT(DATE, eee.[EmailSentDate]))
			,	[MaxID] = MAX(eee.[MaxID])
		INTO #Braze_CustomerEmailLog
		FROM #EmailEventEnriched eee
		WHERE NOT EXISTS (	SELECT 1
							FROM [CRM].[Braze_CustomerEmailLog] cel
							WHERE eee.[CustomerGUID] = cel.[CustomerGUID]
							AND eee.[CampaignName] = cel.[CampaignName]
							AND eee.[MaxID] > cel.[MaxID])
		GROUP BY	eee.[CustomerGUID]
				,	eee.[CampaignName]

		CREATE CLUSTERED INDEX [CIX_CustomerCampaignName] ON #Braze_CustomerEmailLog ([CustomerGUID], [CampaignName])

		MERGE [CRM].[Braze_CustomerEmailLog] TGT
		USING #Braze_CustomerEmailLog SRC
			ON TGT.[CustomerGUID] = SRC.[CustomerGUID]
			AND TGT.[CampaignName] = SRC.[CampaignName]

		WHEN MATCHED
		THEN UPDATE
			SET	TGT.[FirstEmailSentDate] = CASE WHEN SRC.[FirstEmailSentDate] < TGT.[FirstEmailSentDate] THEN SRC.[FirstEmailSentDate] ELSE TGT.[FirstEmailSentDate] END
			,	TGT.[LastEmailSentDate] = CASE WHEN SRC.[LastEmailSentDate] > TGT.[LastEmailSentDate] THEN SRC.[LastEmailSentDate] ELSE TGT.[LastEmailSentDate] END
			,	TGT.[MaxID] = SRC.[MaxID]
			,	TGT.[ModifiedDate] = GETDATE()

		WHEN NOT MATCHED
			THEN INSERT (	[CustomerGUID]
						,	[CampaignName]
						,	[FirstEmailSentDate]
						,	[LastEmailSentDate]
						,	[MaxID]
						,	[ModifiedDate])
			VALUES (SRC.[CustomerGUID]
				,	SRC.[CampaignName]
				,	SRC.[FirstEmailSentDate]
				,	SRC.[LastEmailSentDate]
				,	SRC.[MaxID]
				,	GETDATE());

	/*******************************************************************************************************************************************
		5.	Update customers max ID log
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #CustomerLog;
		SELECT	eee.[CustomerGUID]
			,	[MaxID] = MAX(eee.[MaxID])
		INTO #CustomerLog
		FROM #EmailEventEnriched eee
		GROUP BY eee.[CustomerGUID];

		CREATE CLUSTERED INDEX [CIX_CustomerGUIDID] ON #CustomerLog ([CustomerGUID], [MaxID]);

		UPDATE epl
		SET epl.[MaxID] = cl.[MaxID]
		FROM #CustomerLog cl
		INNER JOIN [WHB].[Braze_EventPush_EmailEvent_Log] epl
			ON cl.[CustomerGUID] = epl.[CustomerGUID];

		INSERT INTO [WHB].[Braze_EventPush_EmailEvent_Log] WITH (TABLOCK)
		SELECT	cl.[CustomerGUID]
			,	cl.[MaxID]
		FROM #CustomerLog cl
		WHERE NOT EXISTS (	SELECT 1
							FROM [WHB].[Braze_EventPush_EmailEvent_Log] epl
							WHERE cl.[CustomerGUID] = epl.[CustomerGUID])

END

RETURN 0
GO
