USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_TriggerEmails_ProductMonitoring_Refresh]    Script Date: 10/8/2026 9:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [WHB].[Braze_EventPush_TriggerEmails_ProductMonitoring_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/*******************************************************************************************************************************************
		6.	Product Monitoring
	*******************************************************************************************************************************************/

		/***************************************************************************************************************************************
			6.1.	xxxxxxxxxxxx
		***************************************************************************************************************************************/

			/***********************************************************************************************************************************
				6.1.1.	xxxxxxxxxxxx
			***********************************************************************************************************************************/
				
				DECLARE @ExecutionDate DATE = GETDATE()
				DECLARE	@35DaysAgo DATETIME = DATEADD(DAY, -35, @ExecutionDate)
					,	@3MonthsAgo DATETIME = DATEADD(MONTH, -3, @ExecutionDate)
			
				DROP TABLE IF EXISTS #LoyaltyAccounts_Bank
				SELECT	DISTINCT
						bath.[BankAccountGUID]
					,	[TypeDesc] =	CASE
											WHEN bap.[BankAccountProductCode] = 'QE' THEN 'Premier Reward Black'
											WHEN bap.[BankAccountProductCode] = 'QB' THEN 'Premier Reward'
											WHEN bap.[BankAccountProductCode] = 'QD' THEN 'Reward Platinum'
											WHEN bap.[BankAccountProductCode] = 'QC' THEN 'Reward Silver'
											WHEN bap.[BankAccountProductCode] = 'QA' THEN 'Reward'
										END
					,	[TypeRank] =	CASE
											WHEN bap.[BankAccountProductCode] = 'QE' THEN 1
											WHEN bap.[BankAccountProductCode] = 'QB' THEN 2
											WHEN bap.[BankAccountProductCode] = 'QD' THEN 3
											WHEN bap.[BankAccountProductCode] = 'QC' THEN 4
											WHEN bap.[BankAccountProductCode] = 'QA' THEN 5
										END
				INTO #LoyaltyAccounts_Bank
				FROM [Derived].[BankAccountTypeHistory] bath
				INNER JOIN [Derived].[BankAccountProduct] bap
					ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
				WHERE bath.[EndDate] IS NULL
				AND bap.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE')

				DROP TABLE IF EXISTS #DDML_Offers
				SELECT	DISTINCT
						[IronOfferID]
				INTO #DDML_Offers
				FROM [Derived].[IronOffer_BFO_Eligibility]
				WHERE [IronOfferName] IN ('DDML Core', 'DDML Premier')

				CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #DDML_Offers ([IronOfferID])
				
				DROP TABLE IF EXISTS #LoyaltyAccounts_Memberships_All
				SELECT	iom.[CustomerGUID]
					,	[StartDate] = MIN(iom.[StartDate])
				INTO #LoyaltyAccounts_Memberships_All
				FROM [Derived].[IronOfferMember] iom
				WHERE EXISTS (	SELECT 1
								FROM #DDML_Offers dd
								WHERE iom.[IronOfferID] = dd.[IronOfferID])
				GROUP BY	iom.[CustomerGUID]
				
				DROP TABLE IF EXISTS #LoyaltyAccounts_Memberships
				SELECT	lam.[CustomerGUID]
					,	lam.[StartDate]
					,	[Days] = DATEDIFF(DAY, lam.[StartDate], @ExecutionDate)
				INTO #LoyaltyAccounts_Memberships
				FROM #LoyaltyAccounts_Memberships_All lam
				WHERE DATEDIFF(DAY, lam.[StartDate], @ExecutionDate) IN (65, 125, 183)
				
				DROP TABLE IF EXISTS #LoyaltyAccounts_Memberships_CustomerBank
				SELECT	lam.[CustomerGUID]
					,	bacl.[BankAccountGUID]
					,	lam.[Days]
				INTO #LoyaltyAccounts_Memberships_CustomerBank
				FROM #LoyaltyAccounts_Memberships lam
				INNER JOIN [Derived].[BankAccountCustomerLinks] bacl
					ON lam.[CustomerGUID] = bacl.[CustomerGUID]
					AND bacl.[EndDate] IS NULL
		
				CREATE CLUSTERED INDEX [CIX_Bank] ON #LoyaltyAccounts_Memberships_CustomerBank ([BankAccountGUID])

				DROP TABLE IF EXISTS #DescriptionID_DD_ML
				SELECT	[DescriptionID]
				INTO #DescriptionID_DD_ML
				FROM [WHB].[MatchedTransactions_Description]
				WHERE [Description] LIKE 'direct debit - reward earned - %'
				OR [Description] LIKE 'mobile login - reward earned - %'
		
				CREATE CLUSTERED INDEX [CIX_DescID] ON #DescriptionID_DD_ML ([DescriptionID])

				DROP TABLE IF EXISTS #ProdMon_Trans
				SELECT	mt.[CustomerGUID]
					,	mt.[AccountGUID]
					,	mt.[TransactionDate]
					,	mt.[MatchedDate]
					,	[Transactions] = COUNT(mt.[CashbackEarned])
					,	[CashbackEarned] = SUM(mt.[CashbackEarned])
					,	[TranDate] = MAX(mt.[TransactionDate])
				INTO #ProdMon_Trans
				FROM [WHB].[Inbound_MatchedTransactions] mt
				WHERE EXISTS (	SELECT 1
								FROM #DescriptionID_DD_ML d
								WHERE mt.[DescriptionID] = d.[DescriptionID])
				AND EXISTS (	SELECT 1
								FROM #LoyaltyAccounts_Memberships_CustomerBank cb
								WHERE mt.[AccountGUID] = cb.[BankAccountGUID])
				AND mt.[TransactionTypeID] IN (8, 11)
				AND CONVERT(DATE, mt.[MatchedDate]) >= @3MonthsAgo	--	Three months prior to execution
				GROUP BY	mt.[CustomerGUID]
						,	mt.[AccountGUID]
						,	mt.[TransactionDate]
						,	mt.[MatchedDate]
						
				DROP TABLE IF EXISTS #ProdMon_Trans_3Months
				SELECT	pm.[AccountGUID]
					,	[CashbackEarned] = SUM(pm.[CashbackEarned])
				INTO #ProdMon_Trans_3Months
				FROM #ProdMon_Trans pm
				WHERE CONVERT(DATE, pm.[MatchedDate]) >= @3MonthsAgo	--	Three months prior to execution
				GROUP BY pm.[AccountGUID]
						
				DROP TABLE IF EXISTS #ProdMon_Trans_35Days
				SELECT	pm.[AccountGUID]
					,	[CashbackEarned] = SUM(pm.[CashbackEarned])
				INTO #ProdMon_Trans_35Days
				FROM #ProdMon_Trans pm
				WHERE CONVERT(DATE, pm.[MatchedDate]) >= @35DaysAgo	--	Three months prior to execution
				GROUP BY pm.[AccountGUID]

				DROP TABLE IF EXISTS #ProdMon_Trans_Earnings
				SELECT	[AccountGUID] = COALESCE(pm1.[AccountGUID], pm2.[AccountGUID])
					,	[CashbackEarned_3Months] = MAX(COALESCE(pm1.[CashbackEarned], 0))
					,	[CashbackEarned_35Days] = MAX(COALESCE(pm2.[CashbackEarned], 0))
				INTO #ProdMon_Trans_Earnings
				FROM #ProdMon_Trans_3Months pm1
				FULL OUTER JOIN #ProdMon_Trans_35Days pm2
					ON pm1.[AccountGUID] = pm2.[AccountGUID]
				GROUP BY	COALESCE(pm1.[AccountGUID], pm2.[AccountGUID])
				
				DROP TABLE IF EXISTS #ProdMonitoring
				SELECT	DISTINCT
						cb.[CustomerGUID]
					,	cb.[Days]
					,	lab.[TypeDesc]
					,	lab.[TypeRank]
				INTO #ProdMonitoring
				FROM #LoyaltyAccounts_Memberships_CustomerBank cb
				INNER JOIN #LoyaltyAccounts_Bank lab
					ON cb.[BankAccountGUID] = lab.[BankAccountGUID]
				LEFT JOIN #ProdMon_Trans_Earnings pm
					ON cb.[BankAccountGUID] = pm.[AccountGUID]
				WHERE cb.[Days] IN (65, 125)
				AND COALESCE(pm.[CashbackEarned_35Days], 0) < 2

				INSERT INTO #ProdMonitoring
				SELECT	DISTINCT
						cb.[CustomerGUID]
					,	cb.[Days]
					,	lab.[TypeDesc]
					,	lab.[TypeRank]
				FROM #LoyaltyAccounts_Memberships_CustomerBank cb
				INNER JOIN #LoyaltyAccounts_Bank lab
					ON cb.[BankAccountGUID] = lab.[BankAccountGUID]
				LEFT JOIN #ProdMon_Trans_Earnings pm
					ON cb.[BankAccountGUID] = pm.[AccountGUID]
				WHERE cb.[Days] IN (183)
				AND COALESCE(pm.[CashbackEarned_3Months], 0) < 2
				
				DROP TABLE IF EXISTS #ProdMonitoring_ToEmail
				SELECT	[CustomerGUID]
					,	[TriggerType] =	CASE
											WHEN [Days] = 65 THEN '60'
											WHEN [Days] = 125 THEN '120'
											WHEN [Days] = 183 THEN '6Month'
										END
					,	[TypeDesc]
				INTO #ProdMonitoring_ToEmail
				FROM (	SELECT	[CustomerGUID]
							,	[Days]
							,	[TypeDesc]
							,	[TypeRank] = ROW_NUMBER() OVER (PARTITION BY [CustomerGUID], [Days] ORDER BY [TypeRank])
						FROM #ProdMonitoring) pm
				WHERE pm.[TypeRank] = 1

				

	/***************************************************************************************************************************************
		3.	Fetch customers that have earnt in the last 3 months
	***************************************************************************************************************************************/
		
	--	DECLARE @ExecutionDate DATE = GETDATE()
		
		INSERT INTO [Email].[Trigger_ProductMonitoringCustomers] (	[CustomerGUID]
																,	[AccountType]
																,	[TriggerType]
																,	[Date])
		SELECT	pm.[CustomerGUID]
			,	[AccountType] = pm.[TypeDesc]
			,	pm.[TriggerType]
			,	[Date] = @ExecutionDate
		FROM #ProdMonitoring_ToEmail pm

END

RETURN 0
GO
