USE [WH_Vanquis]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_IronOfferMember]    Script Date: 10/8/2026 9:16:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[PartnersOffers_IronOfferMember] @RunDate DATE = NULL
AS
BEGIN

	IF @RunDate IS NULL SET @RunDate = GETDATE()

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Find the latest Welcome Offer Memberships that have been assigned
		*******************************************************************************************************************************************/
		
			/*******************************************************************************************************************************************
				1.1.	Find the latest Welcome Offer Memberships that have been assigned
			*******************************************************************************************************************************************/
			
			--	DECLARE @RunDate DATE = GETDATE()

				DECLARE @TwoDaysAgo DATE = DATEADD(DAY, -2, @RunDate)
			
				DROP TABLE IF EXISTS #WelcomeIronOfferMembers
				SELECT	[OfferGUID] = wiom.[OfferGUID]
					,	[IronOfferID] = iof.[IronOfferID]
					,	[CustomerGUID] = wiom.[CustomerGUID]
					,	[CompositeID] = cu.[CompositeID]
					,	[StartDate] = wiom.[StartDate]
					,	[EndDate] = wiom.[EndDate]
					,	[ImportDate] = MIN(wiom.[LoadDate])
				INTO #WelcomeIronOfferMembers
				FROM [WHB].[Inbound_WelcomeIronOfferMembers] wiom
				INNER JOIN [Derived].[IronOffer] iof
					ON wiom.[OfferGUID] = iof.[HydraOfferID]
				INNER JOIN [Derived].[Customer] cu
					ON wiom.[CustomerGUID] = cu.[CustomerGUID]
				WHERE @TwoDaysAgo < wiom.[LoadDate]
				GROUP BY	wiom.[OfferGUID]
						,	iof.[IronOfferID]
						,	wiom.[CustomerGUID]
						,	cu.[CompositeID]
						,	wiom.[StartDate]
						,	wiom.[EndDate]
			
				INSERT INTO #WelcomeIronOfferMembers
				SELECT	[OfferGUID] = wiom.[OfferGUID]
					,	[IronOfferID] = iof.[IronOfferID]
					,	[CustomerGUID] = wiom.[CustomerGUID]
					,	[CompositeID] = cu.[CompositeID]
					,	[StartDate] = wiom.[ExtendedStartDate]
					,	[EndDate] = wiom.[ExtendedEndDate]
					,	[ImportDate] = MIN(wiom.[LoadDate])
				FROM [WHB].[Inbound_WelcomeIronOfferMembers] wiom
				INNER JOIN [Derived].[IronOffer] iof
					ON wiom.[OfferGUID] = iof.[HydraOfferID]
				INNER JOIN [Derived].[Customer] cu
					ON wiom.[CustomerGUID] = cu.[CustomerGUID]
				WHERE @TwoDaysAgo < wiom.[LoadDate]
				AND wiom.[ExtendedStartDate] IS NOT NULL
				AND wiom.[ExtendedEndDate] IS NOT NULL
				GROUP BY	wiom.[OfferGUID]
						,	iof.[IronOfferID]
						,	wiom.[CustomerGUID]
						,	cu.[CompositeID]
						,	wiom.[ExtendedStartDate]
						,	wiom.[ExtendedEndDate]

				CREATE CLUSTERED INDEX [CSX_Dates] ON #WelcomeIronOfferMembers ([StartDate], [EndDate])
				CREATE NONCLUSTERED INDEX [IX_DatesGUIDs_All] ON #WelcomeIronOfferMembers ([StartDate], [EndDate], [OfferGUID], [CustomerGUID]) INCLUDE ([IronOfferID], [CompositeID], [ImportDate])
				
			/*******************************************************************************************************************************************
				1.2.	Find the latest Bank Funded Offer Memberships that have been assigned
			*******************************************************************************************************************************************/

			--	DECLARE @RunDate DATE = GETDATE() DECLARE @TwoDaysAgo DATE = DATEADD(DAY, -2, @RunDate)

				DROP TABLE IF EXISTS #BankFundedIronOfferMembers
				SELECT	[OfferGUID] = wiom.[OfferGUID]
					,	[IronOfferID] = iof.[IronOfferID]
					,	[CustomerGUID] = wiom.[CustomerGUID]
					,	[CompositeID] = cu.[CompositeID]
					,	[StartDate] = wiom.[StartDate]
					,	[EndDate] = wiom.[EndDate]
					,	[ImportDate] = MIN(wiom.[LoadDate])
				INTO #BankFundedIronOfferMembers
				FROM [Inbound].[BankFundedIronOfferMembers] wiom
				INNER JOIN [Derived].[IronOffer] iof
					ON wiom.[OfferGUID] = iof.[HydraOfferID]
				INNER JOIN [Derived].[Customer] cu
					ON wiom.[CustomerGUID] = cu.[CustomerGUID]
				WHERE @TwoDaysAgo < wiom.[LoadDate]
				AND iof.IsSignedOff = 1
				GROUP BY	wiom.[OfferGUID]
						,	iof.[IronOfferID]
						,	wiom.[CustomerGUID]
						,	cu.[CompositeID]
						,	wiom.[StartDate]
						,	wiom.[EndDate]

				CREATE CLUSTERED INDEX [CSX_Dates] ON #BankFundedIronOfferMembers ([StartDate], [EndDate])
				CREATE NONCLUSTERED INDEX [IX_DatesGUIDs_All] ON #BankFundedIronOfferMembers ([StartDate], [EndDate], [OfferGUID], [CustomerGUID]) INCLUDE ([IronOfferID], [CompositeID], [ImportDate])
				
			/*******************************************************************************************************************************************
				1.3.	Find the latest Segmented Offer Memberships that have been assigned
			*******************************************************************************************************************************************/
		
			--	DECLARE @RunDate DATE = GETDATE() DECLARE @TwoDaysAgo DATE = DATEADD(DAY, -2, @RunDate)

				DROP TABLE IF EXISTS #OfferProcessLog
				SELECT	opl.[IronOfferID]
					,	[ImportDate] = MIN(opl.[ProcessedDate])
				INTO #OfferProcessLog
				FROM [Segmentation].[OfferProcessLog] opl
				WHERE @TwoDaysAgo < ProcessedDate
				AND opl.[IsUpdate] = 0
				AND opl.[Processed] = 1
				GROUP BY	opl.[IronOfferID]

				CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #OfferProcessLog ([IronOfferID])
			
				DROP TABLE IF EXISTS #SegmentedIronOfferMember
				CREATE TABLE #SegmentedIronOfferMember ([OfferGUID] [uniqueidentifier] NULL
													,	[IronOfferID] [int] NOT NULL
													,	[CustomerGUID] [uniqueidentifier] NOT NULL
													,	[CompositeID] [bigint] NULL
													,	[StartDate] [datetime] NOT NULL
													,	[EndDate] [datetime] NULL
													,	[ImportDate] [datetime] NULL)
				
				CREATE CLUSTERED INDEX [CIX_GUIDsDates] ON #SegmentedIronOfferMember ([OfferGUID], [CustomerGUID], [StartDate], [EndDate])
		
				INSERT INTO #SegmentedIronOfferMember
				SELECT	[OfferGUID] = iof.[HydraOfferID]
					,	[IronOfferID] = iof.[IronOfferID]
					,	[CustomerGUID] = cu.[CustomerGUID]
					,	[CompositeID] = cu.[CompositeID]
					,	[StartDate] = oma.[StartDate]
					,	[EndDate] = oma.[EndDate]
					,	[ImportDate] = MIN(oma.[AddedDate])
				FROM [Segmentation].[OfferMemberAddition] oma
				INNER JOIN [Derived].[IronOffer] iof
					ON oma.[IronOfferID] = iof.[IronOfferID]
				INNER JOIN [Derived].[Customer] cu
					ON oma.[CompositeID] = cu.[CompositeID]
					AND iof.[ClubID] = cu.[ClubID]
				WHERE EXISTS (	SELECT 1
								FROM #OfferProcessLog opl
								WHERE oma.[IronOfferID] = opl.[IronOfferID])
				GROUP BY	iof.[HydraOfferID]
						,	iof.[IronOfferID]
						,	cu.[CustomerGUID]
						,	cu.[CompositeID]
						,	oma.[StartDate]
						,	oma.[EndDate]
				ORDER BY	iof.[IronOfferID]
						,	oma.[StartDate]
						,	oma.[EndDate]
						
		/*******************************************************************************************************************************************
			2.	Split out the rows that need to be added [Derived].[IronOfferMember]
		*******************************************************************************************************************************************/
		
			/*******************************************************************************************************************************************
				2.1.	Pull a list of [IronOfferID]s
			*******************************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #OfferMembers_IronOfferID_All
				SELECT	[OfferGUID] = iof.[HydraOfferID]
					,	iom.[StartDate]
				INTO #OfferMembers_IronOfferID_All
				FROM [Derived].[IronOffer] iof
				CROSS APPLY (	SELECT	[StartDate] = MIN(iom.[StartDate])
								FROM #WelcomeIronOfferMembers iom
								WHERE iof.[HydraOfferID] = iom.[OfferGUID]
								GROUP BY iom.[OfferGUID]) iom

				INSERT INTO #OfferMembers_IronOfferID_All
				SELECT	[OfferGUID] = iof.[HydraOfferID]
					,	iom.[StartDate]
				FROM [Derived].[IronOffer] iof
				CROSS APPLY (	SELECT	[StartDate] = MIN(iom.[StartDate])
								FROM #BankFundedIronOfferMembers iom
								WHERE iof.[HydraOfferID] = iom.[OfferGUID]
								GROUP BY iom.[OfferGUID]) iom

				INSERT INTO #OfferMembers_IronOfferID_All
				SELECT	[OfferGUID] = iof.[HydraOfferID]
					,	iom.[StartDate]
				FROM [Derived].[IronOffer] iof
				CROSS APPLY (	SELECT	[StartDate] = MIN(iom.[StartDate])
								FROM #SegmentedIronOfferMember iom
								WHERE iof.[IronOfferID] = iom.[IronOfferID]
								GROUP BY iom.[IronOfferID]) iom

				DROP TABLE IF EXISTS #OfferMembers_IronOfferID
				SELECT	om.[OfferGUID]
					,	[StartDate] = MIN(om.[StartDate])
				INTO #OfferMembers_IronOfferID
				FROM #OfferMembers_IronOfferID_All om
				GROUP BY	om.[OfferGUID]

				CREATE UNIQUE CLUSTERED INDEX [UCIX_IronOfferID] ON #OfferMembers_IronOfferID ([OfferGUID])
				
			/*******************************************************************************************************************************************
				2.2.	Fetch memberships that have not loaded to [Derived].[IronOfferMember]
			*******************************************************************************************************************************************/
			
				DECLARE @MinStart DATE = DATEADD(DAY, -1, (SELECT MIN([StartDate]) FROM #OfferMembers_IronOfferID))

				DROP TABLE IF EXISTS #IronOfferMember
				SELECT	DISTINCT
						[OfferGUID] = wiom.[OfferGUID]
					,	[IronOfferID] = wiom.[IronOfferID]
					,	[CustomerGUID] = wiom.[CustomerGUID]
					,	[CompositeID] = wiom.[CompositeID]
					,	[StartDate] = wiom.[StartDate]
					,	[EndDate] = wiom.[EndDate]
					,	[ImportDate] = wiom.[ImportDate]
				INTO #IronOfferMember
				FROM #WelcomeIronOfferMembers wiom
				WHERE NOT EXISTS (	SELECT 1
									FROM [Derived].[IronOfferMember] iom
									INNER JOIN #OfferMembers_IronOfferID o
										ON iom.[OfferGUID] = o.[OfferGUID]
									WHERE wiom.[OfferGUID] = iom.[OfferGUID]
									AND wiom.[CustomerGUID] = iom.[OriginalCustomerGUID]
									AND wiom.[StartDate] = iom.[StartDate]
									AND wiom.[EndDate] = iom.[EndDate]
									AND iom.[StartDate] > @MinStart)

				UPDATE #IronOfferMember
				SET [EndDate] = CONVERT(DATETIME, CONVERT(DATE, [EndDate])) + CONVERT(DATETIME, '23:59:59')
				WHERE CONVERT(TIME, [EndDate]) >= '23:59:59.9990000'

				INSERT INTO #IronOfferMember
				SELECT	[OfferGUID] = biom.[OfferGUID]
					,	[IronOfferID] = biom.[IronOfferID]
					,	[CustomerGUID] = biom.[CustomerGUID]
					,	[CompositeID] = biom.[CompositeID]
					,	[StartDate] = biom.[StartDate]
					,	[EndDate] = biom.[EndDate]
					,	[ImportDate] = biom.[ImportDate]
				FROM #BankFundedIronOfferMembers biom
				WHERE NOT EXISTS (	SELECT 1
									FROM [Derived].[IronOfferMember] iom
									INNER JOIN #OfferMembers_IronOfferID o
										ON iom.[OfferGUID] = o.[OfferGUID]
									WHERE biom.[OfferGUID] = iom.[OfferGUID]
									AND biom.[StartDate] = iom.[StartDate]
									AND biom.[EndDate] = iom.[EndDate]
									AND biom.[CustomerGUID] = iom.[OriginalCustomerGUID]
									AND iom.[StartDate] > @MinStart)

				INSERT INTO #IronOfferMember
				SELECT	[OfferGUID] = siom.[OfferGUID]
					,	[IronOfferID] = siom.[IronOfferID]
					,	[CustomerGUID] = siom.[CustomerGUID]
					,	[CompositeID] = siom.[CompositeID]
					,	[StartDate] = siom.[StartDate]
					,	[EndDate] = siom.[EndDate]
					,	[ImportDate] = siom.[ImportDate]
				FROM #SegmentedIronOfferMember siom
				WHERE NOT EXISTS (	SELECT 1
									FROM [Derived].[IronOfferMember] iom
									INNER JOIN #OfferMembers_IronOfferID o
										ON iom.[OfferGUID] = o.[OfferGUID]
									WHERE siom.[OfferGUID] = iom.[OfferGUID]
									AND siom.[StartDate] = iom.[StartDate]
									AND siom.[EndDate] = iom.[EndDate]
									AND siom.[CustomerGUID] = iom.[OriginalCustomerGUID]
									AND iom.[StartDate] > @MinStart)

				CREATE CLUSTERED INDEX [CIX_GUIDs] ON #IronOfferMember ([OfferGUID], [CustomerGUID])
			
		/*******************************************************************************************************************************************
			3.	Insert the latest Welcome Offer Memberships to [CRM].[IronOfferMember]
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				3.1.	Insert the latest Offer Details
			*******************************************************************************************************************************************/
			
				INSERT INTO [CRM].[IronOfferMember_OfferDetail] (	[OfferGUID]
																,	[StartDate]
																,	[EndDate]
																,	[AddedDate])
				SELECT	DISTINCT
						iom.[OfferGUID]
					,	iom.[StartDate]
					,	iom.[EndDate]
					,	[AddedDate] = GETDATE()
				FROM #IronOfferMember iom
				WHERE NOT EXISTS (	SELECT 1
									FROM [CRM].[IronOfferMember_OfferDetail] od
									WHERE iom.[OfferGUID] = od.[OfferGUID]
									AND iom.[StartDate] = od.[StartDate]
									AND iom.[EndDate] = od.[EndDate])

			/*******************************************************************************************************************************************
				3.2.	Insert the latest Offer Memberships
			*******************************************************************************************************************************************/
	
				INSERT INTO [CRM].[IronOfferMember_Memberships] (	[IronOfferMember_OfferDetailID]
																,	[CustomerGUID]
																,	[AddedDate])
				SELECT	od.[IronOfferMember_OfferDetailID]
					,	iom.[CustomerGUID]
					,	[AddedDate] = GETDATE()
				FROM #IronOfferMember iom
				CROSS APPLY (	SELECT	od.[IronOfferMember_OfferDetailID]
								FROM [CRM].[IronOfferMember_OfferDetail] od
								WHERE iom.[OfferGUID] = od.[OfferGUID]
								AND iom.[StartDate] = od.[StartDate]
								AND iom.[EndDate] = od.[EndDate]) od
				ORDER BY	od.[IronOfferMember_OfferDetailID]

			/*******************************************************************************************************************************************
				3.3.	Mark customer as updated
			*******************************************************************************************************************************************/
					
				UPDATE cu
				SET cu.[ModifiedDate] = GETDATE()
				FROM [CRM].[IronOfferMember_Customer] cu
				WHERE EXISTS (	SELECT 1
								FROM #IronOfferMember iom
								WHERE cu.[CustomerGUID] = iom.[CustomerGUID])

		/*******************************************************************************************************************************************
			4.	Insert the latest Welcome Offer Memberships to [Derived].[IronOfferMember]
		*******************************************************************************************************************************************/
	
			ALTER TABLE [Derived].[IronOfferMember] DISABLE TRIGGER [Trigger_IronOfferMember_ModifiedDate]

			DECLARE	@RowCount BIGINT
				,	@ModifiedDate DATETIME

			SET @RowCount = 500000

			WHILE @RowCount = 500000
				BEGIN

					SET @ModifiedDate = GETDATE()

					;WITH
					IronOfferMember_MissingRows AS (SELECT	TOP(@RowCount)
															iom.[OfferGUID]
														,	iom.[IronOfferID]
														,	iom.[CustomerGUID]
														,	iom.[CompositeID]
														,	iom.[StartDate]
														,	iom.[EndDate]
														,	iom.[ImportDate]
													FROM #IronOfferMember iom
													ORDER BY	[OfferGUID]
															,	[CustomerGUID])

					DELETE
					FROM IronOfferMember_MissingRows
					OUTPUT	DELETED.[OfferGUID]
						,	DELETED.[IronOfferID]
						,	DELETED.[CustomerGUID]
						,	DELETED.[CustomerGUID]
						,	DELETED.[CompositeID]
						,	DELETED.[StartDate]
						,	DELETED.[EndDate]
						,	DELETED.[ImportDate]
						,	@ModifiedDate
					INTO [Derived].[IronOfferMember]
				--	OPTION (OPTIMIZE FOR (@RowCount = 150000)) 

					SET @RowCount = @@ROWCOUNT

				END
		
			ALTER TABLE [Derived].[IronOfferMember] ENABLE TRIGGER [Trigger_IronOfferMember_ModifiedDate]

		/*******************************************************************************************************************************************
			5. Update entries for merged customers
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #CustomerMerges
			SELECT	[OriginalCustomerGUID] = cm.[OriginalCustomerGUID]
				,	[CustomerGUID] = cm.[CustomerGUID]
				,	[CompositeID] = cu.[CompositeID]
			INTO #CustomerMerges
			FROM [Derived].[CustomerMerges] cm
			INNER JOIN [Derived].[Customer] cu
				ON cm.[CustomerGUID] = cu.[CustomerGUID]
			WHERE cm.[EndDate] IS NULL
			AND cm.[OriginalCustomerGUID] != cm.[CustomerGUID]

			CREATE CLUSTERED INDEX [CIX_OriginalCustomerGUID] ON #CustomerMerges ([OriginalCustomerGUID])
			CREATE NONCLUSTERED INDEX [IX_ALL] ON #CustomerMerges ([OriginalCustomerGUID], [CustomerGUID]) INCLUDE ([CompositeID])
					
			UPDATE iom
			SET iom.[CustomerGUID] = cm.[CustomerGUID]
			,	iom.[CompositeID] = cm.[CompositeID]
			FROM [Derived].[IronOfferMember] iom
			INNER JOIN #CustomerMerges cm
				ON iom.[OriginalCustomerGUID] = cm.[OriginalCustomerGUID]
				AND iom.[CustomerGUID] != cm.[CustomerGUID]
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
