USE [Finance]
GO
/****** Object:  StoredProcedure [dbo].[sp_TimerMessage2]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nirupam / Chris Morris
-- Create date: 2015?
-- Description:	Query timer
-- EXEC sp_TimerMessage 'Start process [WarehouseLoad_ETLBuild_V1_4]', @time OUTPUT, @SSMS OUTPUT
-- =============================================
create PROCEDURE [dbo].[sp_TimerMessage2](
	@msg varchar(8000),
	@RowsAffected BIGINT,
	@time1 datetime output,
	@SSMS BIT OUTPUT
	)
AS
BEGIN

	-- Decide what to do
	IF @SSMS = 0 RETURN -- not an interactive SSMS query

	IF @SSMS IS NULL BEGIN -- First time in

		-- If not an interactive SSMS query, then don't bother with any output...
		IF (select PROGRAM_NAME from master.dbo.sysprocesses where spid=@@spid) <> 'Microsoft SQL Server Management Studio - Query'
		BEGIN	
			SET @SSMS = 0
		END
		ELSE
			SET @SSMS = 1
	END

	IF @SSMS = 1 BEGIN

		IF @time1 is null
			SET @msg = CONVERT(VARCHAR,GETDATE(),127) + ' :  ' + @msg
		ELSE
			SET @msg = CONVERT(VARCHAR,GETDATE(),127) + ' :  ' 
				+ LEFT(@msg + ' ' + REPLICATE('.',65),65) 
				+ '  ' + RIGHT(REPLICATE(' ',15) + CAST(ISNULL(FORMAT(@RowsAffected, '###,###,###,###'),'') AS VARCHAR(15)),15) 
				+ ' / ' + CAST(CAST(GETDATE() - @time1 AS TIME(0)) AS VARCHAR(8))
		
		RAISERROR(@msg,0,1) WITH NOWAIT
	
		SET @time1 = GETDATE()
	END

END
RETURN
GO
