USE [Finance]
GO
/****** Object:  StoredProcedure [FIFO].[Earnings_Load]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 01/09/2020
-- Description: Loads earnings by partition and calculates the cumulative range 
				for each earning by customer

	When running as a simple SUM() OVER(PARTITION BY ORDER BY), it took a considerable
	amount of time to run and didnt complete and seemed to be extremely sensitive 
	to server load due to the pressure on memory.  Think because of partitioning
	on the table, it causes extra sorts to be required when loading the data

	This method of loading the data into the table and then calculating the cumulatives
	tends to be more consistent and stable albeit undocumented haha :/

******************************************************************************/
CREATE PROCEDURE [FIFO].[Earnings_Load]
AS
BEGIN
	
	SET XACT_ABORT ON
	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	IF EXISTS (SELECT TOP 1 1 FROM [FIFO].[Earnings])
	BEGIN
		RAISERROR('[FIFO].[Earnings] already populated, skipping',1,-1, -1) 
		RETURN
	END

	DECLARE @CustomerID INT
		,	@MaxCustomerID INT
		,	@BatchSize INT = 250000

	----------------------------------------------------------------------
	-- Load customers with earning transactions
	----------------------------------------------------------------------

	SELECT	@CustomerID = MIN(cu.[CustomerID])
		,	@MaxCustomerID = MAX(cu.[CustomerID])
	FROM [dbo].[Customer] cu
	WHERE EXISTS (	SELECT 1
					FROM [dbo].[Transactions] t
					WHERE cu.[CustomerID] = t.[CustomerID])
	AND EXISTS (SELECT 1
				FROM [FIFO].[Publisher] p
				WHERE cu.[PublisherID] = p.[PublisherID])

	----------------------------------------------------------------------
	-- Loop through partitions to load data
	----------------------------------------------------------------------

	WHILE @CustomerID <= @MaxCustomerID
		BEGIN

			DROP TABLE IF EXISTS #Transactions
			SELECT	[CustomerID]
				,	[PublisherID]
				,	[PaymentMethodID]
				,	[PaymentCardID]
				,	[TranDate]
				,	[EligibleDate] =	CASE
											WHEN [EarningSourceID] = 13367 THEN [TranDate]
											ELSE DATEADD(DAY, [ActivationDays], [TranDate])
										END
				,	[TransactionID]
				,	[Earning]
				,	[EarningSourceID]
				,	[CustomerEarningID] = NULL
				,	[CumulativeEarningTo] = NULL
				,	[CumulativeEarningFrom] = NULL
				,	[ActivationDays] =	CASE
											WHEN [EarningSourceID] = 13367 THEN 0
											ELSE [ActivationDays]
										END
				,	[SourceID]
			INTO #Transactions
			FROM [dbo].[Transactions] t
			WHERE t.[CustomerID] >= @CustomerID
			AND t.[CustomerID] < @CustomerID + @BatchSize
			--AND t.[EarningSourceID] NOT IN (	2160 -- Breakage - Optout (from SLCPointsNegative)
			--								,	2158 -- Breakage - Deceased (from SLCPointsNegative)
			--								,	2159 -- Breakage - Deactivation (from SLCPointsNegative)
			--								,	2174 -- Breakage Negative Adjustment (from TransactionType)
			--							)
			AND t.[EarningSourceID] NOT IN (2110, 2158, 14761 -- Breakage - Optout (from SLCPointsNegative)
										,	2159, 2111 -- Breakage - Deceased (from SLCPointsNegative)
										,	2112, 2160 -- Breakage - Deactivation (from SLCPointsNegative)
										,	14864, 2174 -- Breakage Negative Adjustment (from TransactionType)
										,	2173 -- Breakage Positive Adjustment
										)

			DELETE
			FROM #Transactions
			WHERE [PublisherID] IN (132, 138)
			AND TRY_CONVERT(BIGINT, [SourceID]) IS NOT NULL

			INSERT INTO [FIFO].[Earnings] (	[CustomerID]
										,	[PublisherID]
										,	[PaymentMethodID]
										,	[PaymentCardID]
										,	[TranDate]
										,	[EligibleDate]
										,	[TransactionID]
										,	[Earning]
										,	[EarningSourceID]
										,	[CustomerEarningID]
										,	[CumulativeEarningTo]
										,	[CumulativeEarningFrom]
										,	[ActivationDays])
			SELECT	[CustomerID]
				,	[PublisherID]
				,	[PaymentMethodID]
				,	[PaymentCardID]
				,	[TranDate]
				,	[EligibleDate]
				,	[TransactionID]
				,	[Earning]
				,	[EarningSourceID]
				,	[CustomerEarningID]
				,	[CumulativeEarningTo]
				,	[CumulativeEarningFrom] = [CumulativeEarningTo] - [Earning]
				,	[ActivationDays]
			FROM (	SELECT	[CustomerID]
						,	[PublisherID]
						,	[PaymentMethodID]
						,	[PaymentCardID]
						,	[TranDate]
						,	[EligibleDate]
						,	[TransactionID]
						,	[Earning]
						,	[EarningSourceID]
						,	[CustomerEarningID] = ROW_NUMBER() OVER (PARTITION BY [CustomerID] ORDER BY [TranDate], [ActivationDays], [TransactionID])
						,	[CumulativeEarningTo] = SUM([Earning]) OVER (PARTITION BY [CustomerID] ORDER BY [TranDate], [ActivationDays], [TransactionID] ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)
						,	[ActivationDays]
					FROM #Transactions) d
			ORDER BY	[CustomerID]
					,	[TranDate]
					,	[ActivationDays]
					,	[TransactionID]

			SET @CustomerID = @CustomerID + @BatchSize

		END

END


GO
