USE [Finance]
GO
/****** Object:  StoredProcedure [FIFO].[_Build_Resume]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [FIFO].[_Build_Resume]
AS
BEGIN

	EXEC [FIFO].[Reductions_Load]
	EXEC [FIFO].[Earnings_Load]
	EXEC [FIFO].[ReductionIntervals_Load]
	EXEC [FIFO].[ReductionAllocations_Load]
	--	EXEC [FIFO].[Reporting_ERF_Build]

END
GO
