USE [Finance]
GO
/****** Object:  StoredProcedure [FIFO].[_Build]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [FIFO].[_Build]
AS
BEGIN

	TRUNCATE TABLE [FIFO].[Reductions]
	TRUNCATE TABLE [FIFO].[Earnings]
	TRUNCATE TABLE [FIFO].[ReductionIntervals]
	TRUNCATE TABLE [FIFO].[ReductionAllocations]

	EXEC [FIFO].[_Build_Resume]

END
GO
