USE [Finance]
GO
/****** Object:  StoredProcedure [FIFO].[Reductions_Load]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [FIFO].[Reductions_Load]
AS
BEGIN

	IF EXISTS (SELECT TOP 1 1 FROM FIFO.Reductions)
	BEGIN
		RAISERROR('[FIFO].[Reductions] already populated, skipping',1,-1, -1) 
		RETURN
	END

	DROP TABLE IF EXISTS #Breakage
	SELECT	[ReductionSourceID] = t.[TransactionID]
		,	t.[CustomerID]
		,	t.[PublisherID]
		,	[Reduction] = t.[Earning] * -1
		,	[ReductionDateTime] = t.[TranDateTime]
		,	[isBreakage] = 1
	INTO #Breakage
	FROM [dbo].[Transactions] t
	--WHERE t.[EarningSourceID] IN (	2160 -- Breakage - Optout (from SLCPointsNegative)
	--							,	2158 -- Breakage - Deceased (from SLCPointsNegative)
	--							,	2159 -- Breakage - Deactivation (from SLCPointsNegative)
	--							,	2174 -- Breakage Negative Adjustment (from TransactionType)
	--							)
	WHERE t.[EarningSourceID] IN (	2110, 2158, 14761 -- Breakage - Optout (from SLCPointsNegative)
								,	2159, 2111 -- Breakage - Deceased (from SLCPointsNegative)
								,	2112, 2160 -- Breakage - Deactivation (from SLCPointsNegative)
								,	14864, 2174 -- Breakage Negative Adjustment (from TransactionType)
								,	2173 -- Breakage Positive Adjustment
								)
	AND EXISTS (SELECT 1
				FROM [FIFO].[Publisher] p
				WHERE t.[PublisherID] = p.[PublisherID])

	CREATE CLUSTERED INDEX [CIX] ON #Breakage ([CustomerID], [ReductionDateTime], [ReductionSourceID])
	
	INSERT INTO [FIFO].[Reductions] WITH (TABLOCKX) (	[ReductionSourceID]
													,	[CustomerID]
													,	[PublisherID]
													,	[Reduction]
													,	[ReductionDateTime]
													,	[isBreakage])
	SELECT	r.[RedemptionID]
		,	r.[CustomerID]
		,	r.[PublisherID]
		,	r.[RedemptionValue]
		,	r.[RedemptionDateTime]
		,	[isBreakage] = 0
	FROM [dbo].[Redemptions] r
	WHERE EXISTS (	SELECT 1
					FROM [FIFO].[Publisher] p
					WHERE r.[PublisherID] = p.[PublisherID])
					
	INSERT INTO [FIFO].[Reductions] WITH (TABLOCKX) (	[ReductionSourceID]
													,	[CustomerID]
													,	[PublisherID]
													,	[Reduction]
													,	[ReductionDateTime]
													,	[isBreakage])
	SELECT	b.[ReductionSourceID]
		,	b.[CustomerID]
		,	b.[PublisherID]
		,	b.[Reduction]
		,	b.[ReductionDateTime]
		,	b.[isBreakage]
	FROM #Breakage b

	DECLARE	@CumulativeReductionTo DECIMAL(9,2) = 0
		,	@CustomerReductionID INT = 0
		,	@PreviousCustomerID INT
		,	@isCurrentCustomer TINYINT = 0

	-- Sensitive to order of variables being set if using @Var = Col = @Var i.e. it is possible to see the previous set variable and the currently set variable at the same time
	-- if using Column = @Var, the value of @Var will be the result of the current row
	
	UPDATE e
	SET	@isCurrentCustomer = CASE WHEN CustomerID = @PreviousCustomerID THEN 1 ELSE 0 END -- do before we update the @PreviousCustomerID variable to get the previous row
	,	@PreviousCustomerID = PreviousCustomerID = CustomerID -- update variable and column to current customer id
	,	@CustomerReductionID = CustomerReductionID = (@CustomerReductionID * @isCurrentCustomer ) + 1 -- if the previous row customer id is different, reset variable to 0
	,	@CumulativeReductionTo = CumulativeReductionTo = (@CumulativeReductionTo * @isCurrentCustomer) + Reduction -- if the previous row customer id is different, reset variable to 0
	,	CumulativeReductionFrom = @CumulativeReductionTo - Reduction -- Subtract currently set reduction to get the start range of reduction
	FROM [FIFO].[Reductions]  e
	WITH (INDEX(CIX))

END


GO
