USE [Finance]
GO
/****** Object:  StoredProcedure [Reporting].[MonthlyStats_Overview_Fetch_Visa]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Reporting].[MonthlyStats_Overview_Fetch_Visa]
(
	@MonthDate DATE = NULL
)
AS
BEGIN

	IF @MonthDate = '2025-12-09' SET @MonthDate = NULL

	--	DECLARE @MonthDate DATE = GETDATE()

	SET @MonthDate = CASE 
						WHEN @MonthDate IS NULL 
							THEN GETDATE() 
						ELSE @MonthDate 
					END

	DECLARE @StartMonth DATE

	DECLARE @12Months DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -13))
	DECLARE @EndMonth DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -1))

	
	SELECT 
		@StartMonth = DATEADD(DAY, 1, EOMONTH(MIN(RegistrationDate), -1))
	FROM WH_Visa.Derived.Customer
	WHERE RegistrationDate >= '2021-06-01'


	SET @StartMonth = CASE 
							WHEN @12Months > @StartMonth 
								THEN @12Months 
							ELSE @StartMonth 
						END

--	select @StartMonth, @EndMonth

	DROP TABLE IF EXISTS #CT
	SELECT	ct.[CurrencyCode]
		,	[TranDate] = CONVERT(DATE, ct.[TranDate])
	INTO #CT
	FROM [WH_Visa].[MIDI].[CTLoad_MIDIHolding_DRI684] ct
	GROUP BY	ct.[CurrencyCode]
			,	CONVERT(DATE, ct.[TranDate])

--------------------------------------------------------------------------------------------------------------------------
--	Pull all currencies
--------------------------------------------------------------------------------------------------------------------------

	DROP TABLE IF EXISTS #CCR
	SELECT	ccr.[FromCurrency]
		,	ccr.[Date]
		,	ccr.[ConversionRate]
	INTO #CCR
	FROM [WH_AllPublishers].[Derived].[CurrencyConversionRate] ccr
	WHERE ccr.[ToCurrency] = 'GBP'
	AND EXISTS (SELECT 1
				FROM #CT ct
				WHERE ccr.[FromCurrency] = ct.[CurrencyCode]
				AND ccr.[Date] = ct.[TranDate])

	CREATE CLUSTERED INDEX [CIX_All] ON #CCR ([Date], [FromCurrency], [ConversionRate])


	----------------------------------------------------------------------
	-- Get Participating Customers
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#Fans') IS NOT NULL DROP TABLE #Fans
	SELECT 
		cl.CINID
		, FanID
		, c.RegistrationDate
		, ISNULL(DeactivatedDate, '9999-12-31') AS DeactivatedDate
	INTO #Fans
	FROM WH_Visa.Derived.Customer c
	LEFT JOIN WH_Visa.Derived.CINList cl
		ON c.SourceUID = cl.CIN
	WHERE RegistrationDate < @EndMonth -- customers that have registered since the latest date

	CREATE CLUSTERED INDEX CIX ON #Fans (CINID)
	CREATE NONCLUSTERED INDEX NCIX ON #Fans (FanID) 
	CREATE NONCLUSTERED INDEX NIX ON #Fans (RegistrationDate) INCLUDE (DeactivatedDate)
	
	
	DROP TABLE IF EXISTS #MonthDates;
	WITH MonthDates
	AS
	(
		SELECT
			@StartMonth AS StartDate
			, EOMONTH(@StartMonth) AS EndDate

		UNION ALL

		SELECT
			DATEADD(MONTH, 1, StartDate)
			, EOMONTH(DATEADD(MONTH, 1, StartDate))
		FROM MonthDates
		WHERE EndDate < DATEADD(MONTH, -1, @EndMonth)
	)
	SELECT
		*
	INTO #MonthDates
	FROM MonthDates

	DECLARE @KPI Reporting.KPI

	IF OBJECT_ID('tempdb..#x') IS NOT NULL
		DROP TABLE #x
	SELECT *
	INTO #x
	FROM @KPI

	INSERT INTO #x (Ordinal, KPI, KPIValue, Formatting, StartDate, EndDate)
	SELECT 
		1 AS Ordinal
		, 'Participating Customers (month end)' AS KPI
		, COUNT(1) AS KPIValue
		, 'n0' as Formatting
		, md.StartDate
		, md.EndDate 
	FROM #Fans f
	JOIN #MonthDates md
		ON f.RegistrationDate <= md.EndDate -- Registered before the end of the month
		AND f.DeactivatedDate > md.EndDate -- and hasnt deactivated or deactivated after the month
	GROUP BY md.StartDate, md.EndDate
	----------------------------------------------------------------------
	-- Retail Spend by Participating Customers
	----------------------------------------------------------------------
	INSERT INTO #x (Ordinal, KPI, KPIValue, Formatting, StartDate, EndDate)
	SELECT 
		y.* 
		, StartDate
		, EndDate
	FROM (
		SELECT	Amount = SUM(Amount)
			,	cnt = SUM(cnt)
			,	StartDate
			,	EndDate
		FROM (
				SELECT  
					SUM(Amount) Amount
					, COUNT(1) cnt
					, md.startdate
					, md.enddate
				FROM WH_Visa.Trans.[ConsumerTransaction_DRI684] ct -- Get all transactions
				JOIN WH_Visa.Trans.ConsumerCombination cc -- with the associated merchant details
					ON ct.ConsumerCombinationID = cc.ConsumerCombinationID
				JOIN #fans f -- for our participating customers
					ON ct.CINID = f.CINID
					AND ct.TranDate >= f.registrationdate -- where transactions happened after registration
					AND f.DeactivatedDate > ct.TranDate -- and they havent deactivated or deactivated after the trandate
				JOIN #MonthDates md
					ON ct.[TranDate] >= md.[StartDate]
					AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
				WHERE ct.[CurrencyCode] != ''
				AND ct.[TranDate] >= @StartMonth
				AND ct.[TranDate] < @EndMonth
				GROUP BY md.StartDate, md.EndDate
		
				UNION ALL
		
				SELECT  
					SUM(CONVERT(DECIMAL(32,2), [Amount] * [ConversionRate])) Amount
					, COUNT(1) cnt
					, md.startdate
					, md.enddate
				FROM WH_Visa.[MIDI].[CTLoad_MIDIHolding_DRI684] ct -- Get all transactions
				INNER JOIN #CCR ccr
					ON ct.[CurrencyCode] = ccr.[FromCurrency]
					AND CONVERT(DATE, ct.[TranDate]) = ccr.[Date]
				JOIN #fans f -- for our participating customers
					ON ct.CINID = f.CINID
					AND ct.TranDate >= f.registrationdate -- where transactions happened after registration
					AND f.DeactivatedDate > ct.TranDate -- and they havent deactivated or deactivated after the trandate
				JOIN #MonthDates md
					ON ct.[TranDate] >= md.[StartDate]
					AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
				WHERE ct.[CurrencyCode] != ''
				AND ct.[TranDate] >= @StartMonth
				AND ct.[TranDate] < @EndMonth
				GROUP BY md.StartDate, md.EndDate
		
				UNION ALL

				SELECT  
					SUM(Amount) Amount
					, COUNT(1) cnt
					, md.startdate
					, md.enddate
				FROM WH_Visa.[MIDI].[ConsumerTransactionHolding_DRI684] ct -- Get all transactions
				JOIN WH_Visa.Trans.ConsumerCombination cc -- with the associated merchant details
					ON ct.ConsumerCombinationID = cc.ConsumerCombinationID
				JOIN #fans f -- for our participating customers
					ON ct.CINID = f.CINID
					AND ct.TranDate >= f.registrationdate -- where transactions happened after registration
					AND f.DeactivatedDate > ct.TranDate -- and they havent deactivated or deactivated after the trandate
				JOIN #MonthDates md
					ON ct.[TranDate] >= md.[StartDate]
					AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
				WHERE ct.[CurrencyCode] != ''
				AND ct.[TranDate] >= @StartMonth
				AND ct.[TranDate] < @EndMonth
				GROUP BY md.StartDate, md.EndDate) ct
		GROUP BY ct.StartDate, ct.EndDate
	) x
	CROSS APPLY (
		VALUES
			(2, 'Total Retail Spend by Particpating Customers', x.amount, 'c2')
			, (3, 'Total Retail Transactions by Particpating Customers (#)', x.cnt, 'n0')
	) y(Ordinal, KPI, KPIValue, Formatting)

	----------------------------------------------------------------------
	-- Qualifying Spend excluding nonqualifying mccs
	----------------------------------------------------------------------
	INSERT INTO #x (Ordinal, KPI, KPIValue, Formatting, StartDate, EndDate)
	SELECT 
		y.*
		, StartDate
		, EndDate
	FROM (
		SELECT	Amount = SUM(Amount)
			,	cnt = SUM(cnt)
			,	StartDate
			,	EndDate
		FROM (
				SELECT  
					SUM(Amount) Amount
					, COUNT(1) cnt
					, md.startdate
					, md.enddate
				FROM WH_Visa.Trans.[ConsumerTransaction_DRI684] ct -- Get all transactions
				JOIN WH_Visa.Trans.ConsumerCombination cc -- with the associated merchant details
					ON ct.ConsumerCombinationID = cc.ConsumerCombinationID
				JOIN #fans f -- for our participating customers
					ON ct.CINID = f.CINID
					AND ct.TranDate >= f.registrationdate -- where transactions happened after registration
					AND f.DeactivatedDate > ct.TranDate -- and they havent deactivated or deactivated after the trandate
				JOIN #MonthDates md
					ON ct.[TranDate] >= md.[StartDate]
					AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
				WHERE NOT EXISTS ( -- and they are not a nonqualifying mcc
						SELECT 1
						FROM WH_Visa.Trans.NonQualifyingMCCS nm -- this list was provided by the client, in consumercombination, MCCs are converted to MCCIDs
						JOIN Warehouse.Relational.MCCList mcc
							ON nm.MCC = mcc.MCC
						WHERE cc.MCCID = mcc.MCCID
					)
				AND ct.[CurrencyCode] != ''
				AND ct.[TranDate] >= @StartMonth
				AND ct.[TranDate] < @EndMonth
				GROUP BY md.StartDate, md.EndDate
		
				UNION ALL
		
				SELECT  
					SUM(CONVERT(DECIMAL(32,2), [Amount] * [ConversionRate])) Amount
					, COUNT(1) cnt
					, md.startdate
					, md.enddate
				FROM WH_Visa.[MIDI].[CTLoad_MIDIHolding_DRI684] ct -- Get all transactions
				INNER JOIN #CCR ccr
					ON ct.[CurrencyCode] = ccr.[FromCurrency]
					AND CONVERT(DATE, ct.[TranDate]) = ccr.[Date]
				JOIN #fans f -- for our participating customers
					ON ct.CINID = f.CINID
					AND ct.TranDate >= f.registrationdate -- where transactions happened after registration
					AND f.DeactivatedDate > ct.TranDate -- and they havent deactivated or deactivated after the trandate
				JOIN #MonthDates md
					ON ct.[TranDate] >= md.[StartDate]
					AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
				WHERE NOT EXISTS ( -- and they are not a nonqualifying mcc
						SELECT 1
						FROM WH_Visa.Trans.NonQualifyingMCCS nm -- this list was provided by the client, in consumercombination, MCCs are converted to MCCIDs
						JOIN Warehouse.Relational.MCCList mcc
							ON nm.MCC = mcc.MCC
						WHERE ct.MCCID = mcc.MCCID
					)
				AND ct.[CurrencyCode] != ''
				AND ct.[TranDate] >= @StartMonth
				AND ct.[TranDate] < @EndMonth
				GROUP BY md.StartDate, md.EndDate
		
				UNION ALL

				SELECT  
					SUM(Amount) Amount
					, COUNT(1) cnt
					, md.startdate
					, md.enddate
				FROM WH_Visa.[MIDI].[ConsumerTransactionHolding_DRI684] ct -- Get all transactions
				JOIN WH_Visa.Trans.ConsumerCombination cc -- with the associated merchant details
					ON ct.ConsumerCombinationID = cc.ConsumerCombinationID
				JOIN #fans f -- for our participating customers
					ON ct.CINID = f.CINID
					AND ct.TranDate >= f.registrationdate -- where transactions happened after registration
					AND f.DeactivatedDate > ct.TranDate -- and they havent deactivated or deactivated after the trandate
				JOIN #MonthDates md
					ON ct.[TranDate] >= md.[StartDate]
					AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
				WHERE NOT EXISTS ( -- and they are not a nonqualifying mcc
						SELECT 1
						FROM WH_Visa.Trans.NonQualifyingMCCS nm -- this list was provided by the client, in consumercombination, MCCs are converted to MCCIDs
						JOIN Warehouse.Relational.MCCList mcc
							ON nm.MCC = mcc.MCC
						WHERE cc.MCCID = mcc.MCCID
					)
				AND ct.[CurrencyCode] != ''
				AND ct.[TranDate] >= @StartMonth
				AND ct.[TranDate] < @EndMonth
				GROUP BY md.StartDate, md.EndDate) ct
		GROUP BY ct.StartDate, ct.EndDate
	) x
	CROSS APPLY (
		VALUES
			(4, 'Total Qualifying Retail Spend by Particpating Customers', x.amount, 'c2')
			, (5, 'Total Qualifying Retail Transactions by Particpating Customers (#)', x.cnt, 'n0')
	) y(Ordinal, KPI, KPIValue, Formatting)

	----------------------------------------------------------------------
	-- Qualifying Spend and Cashback where cashback was earned
	----------------------------------------------------------------------
	INSERT INTO #x (Ordinal, KPI, KPIValue, Formatting, StartDate, EndDate)
	SELECT 
		y.*
		, startdate
		, enddate
	FROM (
		SELECT	[Spend] = SUM([TransactionAmount])
			,	[Cashback] = SUM(CashbackEarned)
			--,	[NetAmount] = SUM([CommissionChargable])
			--,	[Override] = SUM([CommissionChargable]) - SUM(CashbackEarned)
			,	[StartDate] = md.[StartDate]
			,	[EndDate] = md.[EndDate]
		FROM WH_Visa.Derived.PartnerTrans pt -- Matched transactions i.e. transactions from ConsumerTransaction that was incentivised and therefore a customer earned cashback
		JOIN #Fans f
			ON pt.FanID = f.FanID
		JOIN #MonthDates md
			ON CONVERT(DATE, pt.TransactionDate) between md.StartDate and md.EndDate
			--and cashbackearned > 5000
		GROUP BY md.StartDate, md.EndDate 
	) x
	CROSS APPLY (
		VALUES
			(6, 'Retail Spend Qualifying for Cashback', x.spend, 'c2')
			, (7, 'Total Cashback Earned', x.cashback, 'c2')
	) y(Ordinal, KPI, KPIValue, Formatting)

	DROP TABLE IF EXISTS #Invoiced
	SELECT	mt.[TransactionGUID]
	INTO #Invoiced
	FROM [WH_Visa].[WHB].[Inbound_MatchedTransactions] mt
	WHERE EXISTS (	SELECT 1
					FROM [SLC_REPL].[ras].[PANless_Transaction] pt
					WHERE mt.[TransactionExternalID] = pt.[PublisherUniqueTransactionID])

	DROP TABLE IF EXISTS #PartnerTrans
	SELECT	[TranDate] = CONVERT(DATE, [TransactionDate])
		,	[TransactionAmount] = SUM([TransactionAmount])
		,	[CashbackEarned] = SUM([CashbackEarned])
	INTO #PartnerTrans
	FROM [WH_Visa].[Derived].[PartnerTrans] pt
	WHERE EXISTS (	SELECT 1
					FROM #Fans fa
					WHERE pt.[FanID] = fa.[FanID])
	AND (	pt.[TransactionDate] < '2023-02-01'
		OR EXISTS (	SELECT 1
					FROM #Invoiced i
					WHERE pt.[TransactionGUID] = i.[TransactionGUID])
			)
	GROUP BY	CONVERT(DATE, [TransactionDate])

	INSERT INTO #x (Ordinal, KPI, KPIValue, Formatting, StartDate, EndDate)
	SELECT 
		y.*
		, startdate
		, enddate
	FROM (
		SELECT	[Spend] = SUM([TransactionAmount])
			,	[Cashback] = SUM(CashbackEarned)
			--,	[NetAmount] = SUM([CommissionChargable])
			--,	[Override] = SUM([CommissionChargable]) - SUM(CashbackEarned)
			,	[StartDate] = md.[StartDate]
			,	[EndDate] = md.[EndDate]
		FROM #PartnerTrans pt -- Matched transactions i.e. transactions from ConsumerTransaction that was incentivised and therefore a customer earned cashback
		JOIN #MonthDates md
			ON pt.[TranDate] BETWEEN md.[StartDate] AND md.[EndDate]
		GROUP BY md.StartDate, md.EndDate 
	) x
	CROSS APPLY (
		VALUES
			(8, 'Invoiced - Retail Spend Qualifying for Cashback', x.spend, 'c2')
			, (9, 'Invoiced - Total Cashback Earned', x.cashback, 'c2')
	) y(Ordinal, KPI, KPIValue, Formatting)


	SELECT
		* 
	FROM #x
	ORDER BY StartDate, Ordinal


END


GO
