USE [Finance]
GO
/****** Object:  StoredProcedure [Reporting].[MonthlyStats_PartnerBreakdown_Fetch]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Reporting].[MonthlyStats_PartnerBreakdown_Fetch]
(
	@PublisherName VARCHAR(100)
)
AS
BEGIN

	DECLARE @SQL VARCHAR(MAX) = 'Reporting.MonthlyStats_PartnerBreakdown_Fetch_' + @PublisherName


	DECLARE @OutputTable Reporting.PartnerBreakdown

	INSERT INTO @OutputTable
	EXEC (@SQL)

	SELECT 
		*
	FROM @OutputTable
END

GO
