USE [Finance]
GO
/****** Object:  StoredProcedure [Reporting].[MonthlyStats_PartnerBreakdown_Fetch_VirginCC_PCA]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Reporting].[MonthlyStats_PartnerBreakdown_Fetch_VirginCC_PCA] @MonthDate DATE = NULL

AS
BEGIN

	IF @MonthDate = '2025-12-09' SET @MonthDate = NULL

--	DECLARE @MonthDate DATE = GETDATE()

	----------------------------------------------------------------------
	-- Prepare Filters
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #Filter_Customer
		SELECT	[IsCredit] = NULL	--	1 / 0 / NULL
			,	[IsDebit] = NULL		--	1 / 0 / NULL
		INTO #Filter_Customer

		DROP TABLE IF EXISTS #Filter_Transactions_PT
		CREATE TABLE #Filter_Transactions_PT ([PaymentMethodID] TINYINT PRIMARY KEY)
		INSERT INTO #Filter_Transactions_PT ([PaymentMethodID])
		VALUES	(1)
			,	(2)
			,	(3)

	----------------------------------------------------------------------
	-- Prepare parameters
	----------------------------------------------------------------------

		SET @MonthDate =	CASE
								WHEN @MonthDate IS NULL THEN GETDATE() 
								ELSE @MonthDate 
							END

		DECLARE @StartMonth DATE

		DECLARE @12Months DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -13))
		DECLARE @EndMonth DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -1))

		SELECT	@StartMonth = DATEADD(DAY, 1, EOMONTH(MIN(cu.[RegistrationDate]), -1))
		FROM [WH_VirginPCA].[Derived].[Customer] cu
		WHERE EXISTS (	SELECT 1
						FROM #Filter_Customer c
						WHERE (c.[IsCredit] = cu.[IsCredit] OR c.[IsCredit] IS NULL)
						AND (c.[IsDebit] = cu.[IsDebit] OR c.[IsDebit] IS NULL))
	
		SET @StartMonth = CASE 
								WHEN @12Months > @StartMonth THEN @12Months 
								ELSE @StartMonth 
							END

	--	SELECT @StartMonth, @EndMonth

	----------------------------------------------------------------------
	-- Partner Breakdown
	----------------------------------------------------------------------

		SELECT	[PartnerID] = p.[PartnerID]
			,	[PartnerName] = p.[PartnerName]
			,	[MonthDate] = DATEADD(MONTH, DATEDIFF(MONTH, 0, pt.[TransactionDate]), 0)
			,	[Spend] = SUM(pt.[TransactionAmount])
			,	[Cashback] = SUM(pt.[CashbackEarned])
			,	[NetAmount] = SUM(pt.[CommissionChargable])
			,	[Override] = SUM(pt.[CommissionChargable]) - SUM(pt.[CashbackEarned])
			,	[Transactions] = COUNT(1)
			,	[Spenders] = COUNT(DISTINCT pt.[FanID])
		FROM [WH_VirginPCA].[Derived].[PartnerTrans] pt
		LEFT JOIN [WH_VirginPCA].[Derived].[Partner] p
			ON pt.[PartnerID] = p.[PartnerID]
		WHERE EXISTS (	SELECT 1
						FROM #Filter_Transactions_PT f
						WHERE pt.[PaymentMethodID] = f.[PaymentMethodID])
		AND CONVERT(DATE, pt.[TransactionDate]) >= @StartMonth
		GROUP BY	p.[PartnerID]
				,	p.[PartnerName]
				,	DATEADD(MONTH, DATEDIFF(MONTH, 0, pt.[TransactionDate]), 0)

END


GO
