USE [Finance]
GO
/****** Object:  StoredProcedure [Reporting].[MonthlyStats_CashbackOverview_Fetch]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Reporting].[MonthlyStats_CashbackOverview_Fetch]
(
	@PublisherName VARCHAR(100)
)
AS
BEGIN

	DECLARE @SQL VARCHAR(MAX) = 'Reporting.MonthlyStats_CashbackOverview_Fetch_' + @PublisherName

	DECLARE @CB Reporting.CB

	INSERT INTO @CB
	EXEC (@SQL)

	SELECT 
		*
	FROM @CB
END
GO
