USE [Finance]
GO
/****** Object:  StoredProcedure [Reporting].[MonthlyStats_CashbackOverview_Fetch_ING]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Reporting].[MonthlyStats_CashbackOverview_Fetch_ING] @MonthDate DATE = NULL

AS
BEGIN

	IF @MonthDate = '2025-12-09' SET @MonthDate = NULL

--	DECLARE @MonthDate DATE = GETDATE()

	----------------------------------------------------------------------
	-- Prepare parameters
	----------------------------------------------------------------------

		SET @MonthDate =	CASE
								WHEN @MonthDate IS NULL THEN GETDATE() 
								ELSE @MonthDate 
							END

		DECLARE @StartMonth DATE

		DECLARE @12Months DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -13))
		DECLARE @EndMonth DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -1))

		SELECT	@StartMonth = DATEADD(DAY, 1, EOMONTH(MIN(cu.[RegistrationDate]), -1))
		FROM [WH_ING].[Derived].[Customer] cu
		WHERE [RegistrationDate] >= '2021-06-01'
	
		SET @StartMonth = CASE 
								WHEN @12Months > @StartMonth THEN @12Months 
								ELSE @StartMonth 
							END

	--	SELECT @StartMonth, @EndMonth

	----------------------------------------------------------------------
	-- Unredeemed Cashback
	----------------------------------------------------------------------

		;WITH
		MonthDates AS (	SELECT	[StartDate] = @StartMonth
							,	[EndDate] = EOMONTH(@StartMonth)

						UNION ALL

						SELECT	[StartDate] = DATEADD(MONTH, 1, [StartDate])
							,	[EndDate] = EOMONTH(DATEADD(MONTH, 1, [StartDate]))
						FROM MonthDates
						WHERE [EndDate] < DATEADD(MONTH, -1, @EndMonth))

		SELECT	[CashbackPending] = SUM(cb.CashbackPending)
			,	[CashbackAvailable] = SUM(cb.[CashbackAvailable])
			,	[CashbackLTV] = SUM(cb.[CashbackLTV])
			,	[isActive] = cs.[isActive]
			,	[StartDate] = md.[StartDate]
			,	[EndDate] = md.[EndDate]
		FROM [WH_ING].[Derived].[Customer_CashbackBalances] cb
		INNER JOIN [WH_ING].[Derived].[Customer] cu
			ON cb.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN MonthDates md
			ON md.[EndDate] BETWEEN cb.[StartDate] AND COALESCE(cb.[EndDate], GETDATE())
		CROSS APPLY (	SELECT	[isActive] = CONVERT(BIT,	CASE 
																WHEN COALESCE(cu.[DeactivatedDate], '9999-12-31') > md.[EndDate] THEN 1 
																ELSE 0 
															END)) cs
		WHERE cu.[RegistrationDate] >= '2021-06-01'
		GROUP BY	cs.[isActive]
				,	md.[StartDate]
				,	md.[EndDate]
		ORDER BY	md.[StartDate]
				,	cs.[isActive]

END



GO
