USE [Finance]
GO
/****** Object:  StoredProcedure [Reporting].[MonthlyStats_PartnerBreakdown_Fetch_BarclaysBlue]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Reporting].[MonthlyStats_PartnerBreakdown_Fetch_BarclaysBlue]
(
	@MonthDate DATE = NULL
)
AS
BEGIN

	IF @MonthDate = '2025-12-09' SET @MonthDate = NULL


	--declare @monthdate date = getdate()
	SET @MonthDate = CASE 
						WHEN @MonthDate IS NULL 
							THEN GETDATE() 
						ELSE @MonthDate 
					END

	DECLARE @StartMonth DATE

	DECLARE @12Months DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -13))
	DECLARE @EndMonth DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -1))

	SELECT 
		@StartMonth = DATEADD(DAY, 1, EOMONTH(MIN(RegistrationDate), -1))
	FROM [WH_BarclaysBlue].[Derived].[Customer]
	WHERE RegistrationDate >= '2021-06-01'


	SET @StartMonth = CASE 
							WHEN @12Months > @StartMonth 
								THEN @12Months 
							ELSE @StartMonth 
						END

	--select @StartMonth, @EndMonth

	----------------------------------------------------------------------
	-- Partner Breakdown
	----------------------------------------------------------------------

	SELECT	[PartnerID] = p.[PartnerID]
		,	[PartnerName] = p.[PartnerName]
		,	[MonthDate] = DATEADD(MONTH, DATEDIFF(MONTH, 0, [TransactionDate]), 0)
		,	[Spend] = SUM([TransactionAmount])
		,	[Cashback] = SUM([CashbackEarned])
		,	[NetAmount] = SUM([CommissionChargable])
		,	[Override] = SUM([CommissionChargable]) - SUM([CashbackEarned])
		,	[Transactions] = COUNT(1)
		,	[Spenders] = COUNT(DISTINCT [FanID])
	FROM [WH_BarclaysBlue].[Derived].[PartnerTrans] pt
	JOIN [WH_BarclaysBlue].[Derived].[Partner] p
		ON pt.[PartnerID] = p.[PartnerID]
	WHERE [TransactionDate] >= @StartMonth
	GROUP BY	p.[PartnerID]
			,	p.[PartnerName]
			,	DATEADD(MONTH, DATEDIFF(MONTH, 0, [TransactionDate]), 0)




END
GO
