USE [Finance]
GO
/****** Object:  StoredProcedure [Reporting].[MonthlyStats_Overview_Fetch_Virgin]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Reporting].[MonthlyStats_Overview_Fetch_Virgin]	@MonthDate DATE = NULL

AS
BEGIN

	IF @MonthDate = '2025-12-09' SET @MonthDate = NULL

	--	DECLARE @MonthDate DATE = GETDATE()

	----------------------------------------------------------------------
	-- Prepare Filters
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #Filter_Customer
		SELECT	[IsCredit] = 1		--	1 / 0 / NULL
			,	[IsDebit] = NULL	--	1 / 0 / NULL
		INTO #Filter_Customer

		DROP TABLE IF EXISTS #Filter_Transactions_CT
		CREATE TABLE #Filter_Transactions_CT ([PaymentTypeID] TINYINT PRIMARY KEY)
		INSERT INTO #Filter_Transactions_CT ([PaymentTypeID])
		VALUES (2)

		DROP TABLE IF EXISTS #Filter_Transactions_PT
		CREATE TABLE #Filter_Transactions_PT ([PaymentMethodID] TINYINT PRIMARY KEY)
		INSERT INTO #Filter_Transactions_PT ([PaymentMethodID])
		VALUES (1)


	----------------------------------------------------------------------
	-- Prepare parameters
	----------------------------------------------------------------------

		SET @MonthDate =	CASE 
								WHEN @MonthDate IS NULL THEN GETDATE() 
								ELSE @MonthDate 
							END

		DECLARE @StartMonth DATE

		DECLARE @12Months DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -13))
		DECLARE @EndMonth DATE = DATEADD(DAY, 1, EOMONTH(@MonthDate, -1))

		SELECT	@StartMonth = DATEADD(DAY, 1, EOMONTH(MIN(cu.[RegistrationDate]), -1))
		FROM [WH_VirginPCA].[Derived].[Customer] cu
		WHERE EXISTS (	SELECT 1
						FROM #Filter_Customer c
						WHERE (c.[IsCredit] = cu.[IsCredit] OR c.[IsCredit] IS NULL)
						AND (c.[IsDebit] = cu.[IsDebit] OR c.[IsDebit] IS NULL))

		SET @StartMonth =	CASE 
								WHEN @12Months > @StartMonth THEN @12Months 
								ELSE @StartMonth 
							END

	--	SELECT @StartMonth, @EndMonth
		
	----------------------------------------------------------------------
	-- Prepare analysis months
	----------------------------------------------------------------------
	
		DROP TABLE IF EXISTS #MonthDates;
		WITH
		MonthDates AS (	SELECT	[StartDate] = @StartMonth
							,	[EndDate] = EOMONTH(@StartMonth)
						UNION ALL
						SELECT	[StartDate] = DATEADD(MONTH, 1, [StartDate])
							,	[EndDate] = EOMONTH(DATEADD(MONTH, 1, [StartDate]))
						FROM MonthDates
						WHERE [EndDate] < DATEADD(MONTH, -1, @EndMonth))

		SELECT	[StartDate]
			,	[EndDate]
		INTO #MonthDates
		FROM MonthDates

	----------------------------------------------------------------------
	-- Get Participating Customers
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #Fans;
		SELECT	[CINID] = cl.[CINID]
			,	[FanID] = cu.[FanID]
			,	[CustomerGUID] = cu.[CustomerGUID]
			,	[RegistrationDate] = cu.[RegistrationDate]
			,	[DeactivatedDate] = ISNULL(cu.[DeactivatedDate], '9999-12-31')
			,	[IsCredit] = cu.[IsCredit]
			,	[IsDebit] = cu.[IsDebit]
		INTO #Fans
		FROM [WH_VirginPCA].[Derived].[Customer] cu
		LEFT JOIN [WH_VirginPCA].[Derived].[CINList] cl
			ON cu.[SourceUID] = cl.[CIN]
		WHERE cu.[RegistrationDate] <= @EndMonth -- customers that have registered since the latest date
		AND EXISTS (SELECT 1
					FROM #Filter_Customer c
					WHERE (c.[IsCredit] = cu.[IsCredit] OR c.[IsCredit] IS NULL)
					AND (c.[IsDebit] = cu.[IsDebit] OR c.[IsDebit] IS NULL))

		CREATE CLUSTERED INDEX [CIX_CINID] ON #Fans ([CINID])
		CREATE NONCLUSTERED INDEX [IX_FanID] ON #Fans ([FanID]) 
		CREATE NONCLUSTERED INDEX [IX_RegDate_DeacDate] ON #Fans ([RegistrationDate]) INCLUDE ([DeactivatedDate])

	----------------------------------------------------------------------
	-- Get Participating Customers Transaction Counts
	----------------------------------------------------------------------
		
		DROP TABLE IF EXISTS #MCCs
		SELECT	DISTINCT
				[MCCID] = CONVERT(INT, mcc.[MCCID])
			,	[MCC] = mcc.[MCC]
			,	[Qualifying] =	CASE
									WHEN nq.[MCC] IS NULL THEN 1
									ELSE 0
								END
		INTO #MCCs
		FROM [Warehouse].[Relational].[MCCList] mcc
		LEFT JOIN [WH_VirginPCA].[Trans].[NonQualifyingMCCS] nq
			ON mcc.[MCC] = nq.[MCC]

		INSERT INTO #MCCs
		SELECT	DISTINCT
				[MCCID] = 0
			,	[MCC] = mh.[MCC]
			,	[Qualifying] =	CASE
									WHEN nq.[MCC] IS NULL THEN 1
									ELSE 0
								END
		FROM [WH_VirginPCA].[MIDI].[CTLoad_MIDIHolding] mh
		LEFT JOIN [WH_VirginPCA].[Trans].[NonQualifyingMCCS] nq
			ON mh.[MCC] = nq.[MCC]
		WHERE NOT EXISTS (	SELECT 1
							FROM #MCCs mcc
							WHERE mh.[MCC] = mcc.[MCC])
							
		CREATE CLUSTERED INDEX [CIX_MCCID] ON #MCCs ([MCCID])
		CREATE NONCLUSTERED INDEX [IX_MCCID_Qual] ON #MCCs ([MCCID]) INCLUDE ([Qualifying])
		CREATE NONCLUSTERED INDEX [IX_MCC_Qual] ON #MCCs ([MCC]) INCLUDE ([Qualifying])

		DROP TABLE IF EXISTS #Transactions
		SELECT	[Qualifying] = mcc.[Qualifying]
			,	[StartDate] = md.[StartDate]
			,	[EndDate] = md.[EndDate]
			,	[Amount] = SUM([Amount]) 
			,	[TransactionCount] = COUNT(1)
		INTO #Transactions
		FROM [WH_VirginPCA].[Trans].[ConsumerTransaction] ct -- Get all transactions
		INNER JOIN [WH_VirginPCA].[Trans].[ConsumerCombination] cc -- with the associated merchant details
			ON ct.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
		INNER JOIN #MonthDates md
			ON ct.[TranDate] >= md.[StartDate]
			AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
		LEFT JOIN #MCCs mcc
			ON cc.[MCCID] = mcc.[MCCID]
		WHERE EXISTS (	SELECT 1	--	for our participating customers
						FROM #Fans fa
						WHERE ct.[CINID] = fa.[CINID]
						AND CONVERT(DATE, ct.[TranDate]) >= fa.[RegistrationDate] -- where transactions happened after registration
						AND fa.[DeactivatedDate] > ct.[TranDate]) -- and they havent deactivated or deactivated after the [TranDate]
		AND EXISTS (	SELECT 1
						FROM #Filter_Transactions_CT f
						WHERE ct.[PaymentTypeID] = f.[PaymentTypeID])
		AND ct.[TranDate] >= @StartMonth
		AND ct.[TranDate] < @EndMonth
		GROUP BY	mcc.[Qualifying]
				,	md.[StartDate]
				,	md.[EndDate]
		
		INSERT INTO #Transactions
		SELECT	[Qualifying] = mcc.[Qualifying]
			,	[StartDate] = md.[StartDate]
			,	[EndDate] = md.[EndDate]
			,	[Amount] = SUM([Amount]) 
			,	[TransactionCount] = COUNT(1)
		FROM [WH_VirginPCA].[MIDI].[ConsumerTransactionHolding] ct -- Get all transactions
		INNER JOIN [WH_VirginPCA].[Trans].[ConsumerCombination] cc -- with the associated merchant details
			ON ct.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
		INNER JOIN #MonthDates md
			ON ct.[TranDate] >= md.[StartDate]
			AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
		LEFT JOIN #MCCs mcc
			ON cc.[MCCID] = mcc.[MCCID]
		WHERE EXISTS (	SELECT 1	--	for our participating customers
						FROM #Fans fa
						WHERE ct.[CINID] = fa.[CINID]
						AND CONVERT(DATE, ct.[TranDate]) >= fa.[RegistrationDate] -- where transactions happened after registration
						AND fa.[DeactivatedDate] > ct.[TranDate]) -- and they havent deactivated or deactivated after the [TranDate]
		AND EXISTS (	SELECT 1
						FROM #Filter_Transactions_CT f
						WHERE ct.[PaymentTypeID] = f.[PaymentTypeID])
		AND ct.[TranDate] >= @StartMonth
		AND ct.[TranDate] < @EndMonth
		GROUP BY	mcc.[Qualifying]
				,	md.[StartDate]
				,	md.[EndDate]

		INSERT INTO #Transactions
		SELECT	[Qualifying] = mcc.[Qualifying]
			,	[StartDate] = md.[StartDate]
			,	[EndDate] = md.[EndDate]
			,	[Amount] = SUM([Amount]) 
			,	[TransactionCount] = COUNT(1)
		FROM [WH_VirginPCA].[MIDI].[CTLoad_MIDIHolding] ct -- Get all transactions
		INNER JOIN #MonthDates md
			ON ct.[TranDate] >= md.[StartDate]
			AND ct.[TranDate] < DATEADD(DAY, 1, md.[EndDate])
		LEFT JOIN #MCCs mcc
			ON ct.[MCC] = mcc.[MCC]
		WHERE EXISTS (	SELECT 1	--	for our participating customers
						FROM #Fans fa
						WHERE ct.[CINID] = fa.[CINID]
						AND CONVERT(DATE, ct.[TranDate]) >= fa.[RegistrationDate] -- where transactions happened after registration
						AND fa.[DeactivatedDate] > ct.[TranDate]) -- and they havent deactivated or deactivated after the [TranDate]
		AND EXISTS (	SELECT 1
						FROM #Filter_Transactions_CT f
						WHERE ct.[PaymentTypeID] = f.[PaymentTypeID])
		AND ct.[TranDate] >= @StartMonth
		AND ct.[TranDate] < @EndMonth
		GROUP BY	mcc.[Qualifying]
				,	md.[StartDate]
				,	md.[EndDate]

	----------------------------------------------------------------------
	-- Prepare results table
	----------------------------------------------------------------------

		DECLARE @KPI Reporting.KPI

		DROP TABLE IF EXISTS #x;
		SELECT *
		INTO #x
		FROM @KPI
	
	----------------------------------------------------------------------
	-- Participating Customers
	----------------------------------------------------------------------

		INSERT INTO #x ([Ordinal]
					,	[KPI]
					,	[KPIValue]
					,	[Formatting]
					,	[StartDate]
					,	[EndDate])
		SELECT	[Ordinal] = 1
			,	[KPI] = 'Participating Customers (month end)'
			,	[KPIValue] = COUNT(DISTINCT f.[CustomerGUID])
			,	[Formatting] = 'n0'
			,	[StartDate] = md.[StartDate]
			,	[EndDate] = md.[EndDate] 
		FROM #Fans f
		INNER JOIN #MonthDates md
			ON f.[RegistrationDate] <= md.[EndDate] -- Registered before the end of the month
			AND f.[DeactivatedDate] > md.[EndDate] -- and hasnt deactivated or deactivated after the month
		GROUP BY	md.[StartDate]
				,	md.[EndDate]
	
	----------------------------------------------------------------------
	-- Retail Spend by Participating Customers
	----------------------------------------------------------------------

		INSERT INTO #x ([Ordinal]
					,	[KPI]
					,	[KPIValue]
					,	[Formatting]
					,	[StartDate]
					,	[EndDate])
		SELECT	[Ordinal] = y.[Ordinal]
			,	[KPI] = y.[KPI]
			,	[KPIValue] = SUM(y.[KPIValue])
			,	[Formatting] = y.[Formatting]
			,	[StartDate] = t.[StartDate]
			,	[EndDate] = t.[EndDate]
		FROM #Transactions t
		CROSS APPLY (	VALUES	(2, 'Total Retail Spend by Particpating Customers', t.[Amount], 'c2')
							,	(3, 'Total Retail Transactions by Particpating Customers (#)', t.[TransactionCount], 'n0')) y ([Ordinal], [KPI], [KPIValue], [Formatting])
		GROUP BY	y.[Ordinal]
				,	y.[KPI]
				,	y.[Formatting]
				,	t.[StartDate]
				,	t.[EndDate]
		ORDER BY	y.[Ordinal]
				,	t.[StartDate]
				,	t.[EndDate]

	----------------------------------------------------------------------
	-- Qualifying Spend excluding nonqualifying mccs
	----------------------------------------------------------------------

		INSERT INTO #x ([Ordinal]
					,	[KPI]
					,	[KPIValue]
					,	[Formatting]
					,	[StartDate]
					,	[EndDate])
		SELECT	[Ordinal] = y.[Ordinal]
			,	[KPI] = y.[KPI]
			,	[KPIValue] = SUM(y.[KPIValue])
			,	[Formatting] = y.[Formatting]
			,	[StartDate] = t.[StartDate]
			,	[EndDate] = t.[EndDate]
		FROM #Transactions t
		CROSS APPLY (	VALUES	(4, 'Total Qualifying Retail Spend by Particpating Customers', t.[Amount], 'c2')
							,	(5, 'Total Qualifying Retail Transactions by Particpating Customers (#)', t.[TransactionCount], 'n0')) y ([Ordinal], [KPI], [KPIValue], [Formatting])
		WHERE t.[Qualifying] = 1
		GROUP BY	y.[Ordinal]
				,	y.[KPI]
				,	y.[Formatting]
				,	t.[StartDate]
				,	t.[EndDate]
		ORDER BY	y.[Ordinal]
				,	t.[StartDate]
				,	t.[EndDate]

	----------------------------------------------------------------------
	-- Qualifying Spend and Cashback where cashback was earned
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #PartnerTrans
		SELECT	[StartDate] = md.[StartDate]
			,	[EndDate] = md.[EndDate]
			,	[Spend] = SUM([TransactionAmount])
			,	[Cashback] = SUM(CashbackEarned)
			,	[NetAmount] = SUM([CommissionChargable])
			,	[Override] = SUM([CommissionChargable]) - SUM(CashbackEarned)
		INTO #PartnerTrans
		FROM [WH_VirginPCA].[Derived].[PartnerTrans] pt -- Matched transactions i.e. transactions from ConsumerTransaction that was incentivised and therefore a customer earned cashback
		INNER JOIN #MonthDates md
			ON CONVERT(DATE, pt.[TransactionDate]) BETWEEN md.[StartDate] AND md.[EndDate]
		WHERE EXISTS (	SELECT 1
						FROM #Filter_Transactions_PT f
						WHERE pt.[PaymentMethodID] = f.[PaymentMethodID])
		AND EXISTS (SELECT 1
					FROM #Fans f
					WHERE pt.[FanID] = f.[FanID])
		GROUP BY	md.[StartDate]
				,	md.[EndDate]

		INSERT INTO #x ([Ordinal]
					,	[KPI]
					,	[KPIValue]
					,	[Formatting]
					,	[StartDate]
					,	[EndDate])
		SELECT	[Ordinal] = y.[Ordinal]
			,	[KPI] = y.[KPI]
			,	[KPIValue] = SUM(y.[KPIValue])
			,	[Formatting] = y.[Formatting]
			,	[StartDate] = pt.[StartDate]
			,	[EndDate] = pt.[EndDate]
		FROM #PartnerTrans pt
		CROSS APPLY (	VALUES	(6, 'Retail Spend Qualifying for Cashback', pt.[Spend], 'c2')
							,	(7, 'Total Cashback Earned', pt.[Cashback], 'c2')) y ([Ordinal], [KPI], [KPIValue], [Formatting])
		GROUP BY	y.[Ordinal]
				,	y.[KPI]
				,	y.[Formatting]
				,	pt.[StartDate]
				,	pt.[EndDate]
		ORDER BY	y.[Ordinal]
				,	pt.[StartDate]
				,	pt.[EndDate]

	----------------------------------------------------------------------
	-- Output results
	----------------------------------------------------------------------

		SELECT	* 
		FROM #x
		ORDER BY	[StartDate]
				,	[Ordinal]


END
GO
