USE [Finance]
GO
/****** Object:  StoredProcedure [Reporting].[MonthlyStats_Overview_Fetch]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Reporting].[MonthlyStats_Overview_Fetch] 
(
	@PublisherName VARCHAR(100)
)
AS
BEGIN

	DECLARE @SQL NVARCHAR(MAX) = 'Reporting.MonthlyStats_Overview_Fetch_' + @PublisherName


	DECLARE @KPI Reporting.KPI

	INSERT INTO @KPI
	EXEC sp_executesql @SQL

	SELECT 
		*
	FROM @KPI
END

GO
