USE [Finance]
GO
/****** Object:  StoredProcedure [WHB].[PaymentCard_WHNWG_dboPaymentCard_Load]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[PaymentCard_WHNWG_dboPaymentCard_Load]
		@RunID INT = NULL
AS
BEGIN

	 SET NOCOUNT ON;
	 SET XACT_ABORT ON;
	----------------------------------------------------------------------
	-- System Variables
	----------------------------------------------------------------------
	DECLARE @RunDateTime DATETIME2(7) = GETDATE()
		, @StoredProcedureName VARCHAR(100)
		, @SourceTypeID INT
		, @SourceSystemID INT
		, @SourceTable VARCHAR(100)
		, @CheckpointValue INT

	SET @StoredProcedureName = OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)

	EXEC WHB.Get_SourceTypeID 
		@StoredProcedureName
		, @SourceTypeID OUTPUT
		, @SourceSystemID OUTPUT
		, @SourceTable OUTPUT

	IF @RunID IS NULL
		SET @RunID = NEXT VALUE FOR WHB.RunID

	DECLARE @CheckpointTable VARCHAR(30) = 'SLC.PaymentCard'
	EXEC WHB.Get_TableCheckpoint @CheckpointTable, 1, 'INT', @CheckpointValue OUTPUT

	IF @CheckpointValue IS NULL
		SET @CheckpointValue = 0

	----------------------------------------------------------------------
	-- Build Customer Table
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#Customer_Stage') IS NOT NULL
		DROP TABLE #Customer_Stage

	SELECT
		CustomerID
		, SourceID
		, c.PublisherID
	INTO #Customer_Stage
	FROM dbo.Customer c
	JOIN dbo.SourceType st
		ON c.SourceTypeID = st.SourceTypeID
		AND st.SourceSystemID = @SourceSystemID

	CREATE CLUSTERED INDEX CIX ON #Customer_Stage (SourceID)


	IF OBJECT_ID('tempdb..#Customer') IS NOT NULL
		DROP TABLE #Customer

	SELECT
			CustomerID
		, SourceID
		, PublisherID
		, CompositeID
		, CustomerGUID
	INTO #Customer
	FROM #Customer_Stage cs
	JOIN [WH_NWG].[Derived].[Customer] f
		ON cs.SourceID = f.[FanID]

	----------------------------------------------------------------------
	-- Build Source Table
	----------------------------------------------------------------------
	
	DROP TABLE IF EXISTS #PaymentCard
	SELECT	[StartDate] = MIN(ca.[StartDate])
		,	[SourcePaymentCardTypeID] = ca.[CardTypeID]
		,	[PaymentCardType] =	ISNULL(ct.[CardType], 'Unknown')
		,	[SourceTypeID] = @SourceTypeID
		, 	[SourceID] = CAST(ca.[CardGUID] AS VARCHAR(36))
		, 	[CreatedDateTime] = @RunDateTime
		, 	[CheckpointID] = ca.[CardGUID]
	INTO #PaymentCard
--	SELECT TOP 100 *
	FROM [WH_NWG].[Derived].[Cards] ca
	LEFT JOIN [WH_NWG].[Derived].[CardProduct] cp
		ON ca.[CardProductID] = cp.[CardProductID]
	OUTER APPLY (	SELECT *
					FROM (	VALUES	(1, ISNULL(cp.[CardProductDescription], 'Unknown Credit'))
								,	(2, 'Debit')) x ([CardTypeID], [CardType])
					WHERE ca.[CardTypeID] = x.[CardTypeID]) ct
	WHERE EXISTS (	SELECT 1
					FROM #Customer c
					WHERE ca.[CustomerGUID] = c.[CustomerGUID])
	GROUP BY	ca.[CardTypeID]
			,	ISNULL(ct.[CardType], 'Unknown')
			,	ca.[CardGUID]

	CREATE CLUSTERED INDEX CIX ON #PaymentCard ([SourceTypeID], [SourceID])

	----------------------------------------------------------------------
	-- Load Card table
	----------------------------------------------------------------------
	BEGIN TRAN

		DECLARE @Inserted BIGINT = 0
			, @Updated INT = 0
			, @Deleted INT = 0

		INSERT INTO dbo.PaymentCard
		(
			StartDate
			, SourcePaymentCardTypeID
			, PaymentCardType
			, SourceTypeID
			, SourceID
			, CreatedDateTime
		) 
		SELECT
			StartDate
			, SourcePaymentCardTypeID
			, PaymentCardType
			, SourceTypeID
			, SourceID
			, CreatedDateTime
		FROM #PaymentCard pc
		WHERE NOT EXISTS (
			SELECT 1
			FROM dbo.PaymentCard pcx
			WHERE pc.SourceTypeID = pcx.SourceTypeID
				AND pc.SourceID = pcx.SourceID
		)

		SET @Inserted = @@ROWCOUNT
		
		DECLARE @NewCheckpointValue INT = (SELECT MAX(CheckpointID) FROM #PaymentCard)

		EXEC WHB.Update_TableCheckpoint @CheckpointTable, @NewCheckpointValue

		----------------------------------------------------------------------
		-- Log
		----------------------------------------------------------------------
		
		INSERT INTO WHB.Build_Log (RunID, StartDateTime, EndDateTime, StoredProcName, InsertedRows, UpdatedRows, DeletedRows)
		SELECT
			@RunID
			,@RunDateTime
			,GETDATE()
			,@StoredProcedureName
			,InsertedRows = @Inserted
			,UpdatedRows = @Updated
			,DeletedRows = @Deleted

	COMMIT

END
GO
