USE [Finance]
GO
/****** Object:  StoredProcedure [WHB].[EarningSource_WHNWG_DerivedBankTransDescription_Load]    Script Date: 9/1/2026 12:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[EarningSource_WHNWG_DerivedBankTransDescription_Load] @RunID INT = NULL
AS
BEGIN

	 SET NOCOUNT ON;
	 SET XACT_ABORT ON;

	----------------------------------------------------------------------
	-- System Variables
	----------------------------------------------------------------------

		DECLARE	@RunDateTime DATETIME2(7) = GETDATE()
			,	@StoredProcedureName VARCHAR(100)
			,	@SourceTypeID INT
			,	@SourceSystemID INT
			,	@SourceTable VARCHAR(100)

		SET @StoredProcedureName = OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)

		EXEC [WHB].[Get_SourceTypeID]	@StoredProcedureName
									,	@SourceTypeID OUTPUT
									,	@SourceSystemID OUTPUT
									,	@SourceTable OUTPUT

		IF @RunID IS NULL SET @RunID = NEXT VALUE FOR WHB.RunID
	
	----------------------------------------------------------------------
	-- Build base table from source
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#EarningSource') IS NOT NULL
		DROP TABLE #EarningSource

	SELECT TOP 0
		SourceName
		, PartnerID
		, isBankFunded
		, AdditionalInfo1
		, AdditionalInfo2
		, SourceTypeID
		, SourceID
		, CreatedDateTime
		, DisplayName
		, FundingType
	INTO #EarningSource
	FROM dbo.EarningSource

	INSERT INTO #EarningSource
	(
		SourceName
		, PartnerID
		, isBankFunded
		, AdditionalInfo1
		, AdditionalInfo2
		, SourceTypeID
		, SourceID
		, CreatedDateTime	
		, DisplayName
		, FundingType
	)
	SELECT
		SourceName
		, PartnerID
		, isBankFunded
		, AdditionalInfo1
		, AdditionalInfo2
		, @SourceTypeID
		, SourceID
		, @RunDateTime AS CreatedDateTime
		, DisplayName
		, FundingType
	FROM
	(
		SELECT 
			[DescriptionID] AS SourceID
			, -1 AS PartnerID
			, 0 AS isBankFunded
			, tt.[Description] AS SourceName
			, NULL AS AdditionalInfo1
			, NULL AS AdditionalInfo2
			, tt.[Description] AS DisplayName
			, 'Other' AS FundingType
		FROM [WH_NWG].[Derived].[BankTrans_Description] tt
		WHERE tt.[Description] IS NOT NULL
	) x

	UPDATE es
	SET es.[IsBankFunded] = 1
	,	es.[FundingType] = 'NW'
	,	es.[DisplayName] = 'Mobile Login (Reward 3.0)'
	FROM #EarningSource es
	WHERE [SourceName] LIKE 'Mobile Login - reward earned %'

	UPDATE es
	SET es.[IsBankFunded] = 1
	,	es.[FundingType] = 'NW'
	,	es.[DisplayName] = 'Direct Debit (Reward 3.0)'
	FROM #EarningSource es
	WHERE [SourceName] LIKE 'Direct Debit - reward earned %'

	UPDATE es
	SET es.[IsBankFunded] = 1
	,	es.[FundingType] = 'NW'
	,	es.[DisplayName] = 'Goodwill'
	FROM #EarningSource es
	WHERE [SourceName] LIKE 'Goodwill Gesture Addition %'

	UPDATE es
	SET es.[IsBankFunded] = 1
	,	es.[FundingType] = 'NW'
	,	es.[DisplayName] = 'Goodwill'
	FROM #EarningSource es
	WHERE [SourceName] LIKE 'MyRewards-%'

	UPDATE es
	SET es.[IsBankFunded] = 1
	,	es.[FundingType] = 'NW'
	,	es.[DisplayName] = 'Goodwill'
	FROM #EarningSource es
	WHERE [SourceName] LIKE 'MyRewardsDeceased-%'

	BEGIN TRAN
		DECLARE @Inserted INT = 0
			, @Updated INT = 0
			, @Deleted INT = 0

		----------------------------------------------------------------------
		-- Insert New
		----------------------------------------------------------------------
		
		INSERT INTO dbo.EarningSource
		(
			SourceName
			, PartnerID
			, isBankFunded
			, AdditionalInfo1
			, AdditionalInfo2
			, SourceTypeID
			, SourceID
			, CreatedDateTime
			, DisplayName
			, FundingType
		)
		SELECT
			SourceName
			, PartnerID
			, isBankFunded
			, AdditionalInfo1
			, AdditionalInfo2
			, SourceTypeID
			, SourceID
			, CreatedDateTime
			, DisplayName
			, FundingType
		FROM #EarningSource  AS src
		WHERE NOT EXISTS (
			SELECT 1 
			FROM dbo.EarningSource tgt
			WHERE src.SourceID = tgt.SourceID
				AND src.SourceTypeID = tgt.SourceTypeID
		)
		
		SET @Inserted = @@ROWCOUNT
		
		----------------------------------------------------------------------
		-- Log
		----------------------------------------------------------------------
		
		INSERT INTO WHB.Build_Log (RunID, StartDateTime, EndDateTime, StoredProcName, InsertedRows, UpdatedRows, DeletedRows)
		SELECT
			@RunID
			,@RunDateTime
			,GETDATE()
			,@StoredProcedureName
			,InsertedRows = @Inserted
			,UpdatedRows = @Updated
			,DeletedRows = @Deleted

	COMMIT TRAN
END

GO
