USE [Finance]
GO
/****** Object:  StoredProcedure [WHB].[Update_TableCheckpoint]    Script Date: 9/1/2026 12:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************
Author:     Hayden Reid
Date:       2022-02-02
Purpose:    Inserts provided checkpoint value, should be structured in a way that 
			a MIN or MAX will return the expected value i.e. be careful with datatypes like varchar
			
*************************************************************************/
CREATE PROCEDURE [WHB].[Update_TableCheckpoint] (
	@SourceTable VARCHAR(100)
	, @NewCheckpointValue VARCHAR(500)
)
AS
BEGIN
	
	INSERT INTO WHB.TableCheckpoint
	(
		SourceTable, CheckpointValue
	)

	VALUES (@SourceTable, @NewCheckpointValue)

END
IF @@ERROR <> 0 SET NOEXEC ON
GO
