USE [Finance]
GO
/****** Object:  StoredProcedure [WHB].[Redemptions_WHNWG_DerivedRedemptions_Load]    Script Date: 9/1/2026 12:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [WHB].[Redemptions_WHNWG_DerivedRedemptions_Load]
		@RunID INT = NULL
AS
BEGIN
	 SET NOCOUNT ON;
	 SET XACT_ABORT ON;

--	DECLARE @RunID INT = NULL

	----------------------------------------------------------------------
	-- System Variables
	----------------------------------------------------------------------
	DECLARE @RunDateTime DATETIME2(7) = GETDATE()
		, @StoredProcedureName VARCHAR(100)
		, @SourceTypeID INT
		, @SourceSystemID INT
		, @SourceTable VARCHAR(100)

	SET @StoredProcedureName = OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)
	IF @StoredProcedureName IS NULL SET @StoredProcedureName = 'WHB.Redemptions_WHNWG_DerivedRedemptions_Load'

	EXEC WHB.Get_SourceTypeID 
		@StoredProcedureName
		, @SourceTypeID OUTPUT
		, @SourceSystemID OUTPUT
		, @SourceTable OUTPUT

	IF @RunID IS NULL
		SET @RunID = NEXT VALUE FOR WHB.RunID

	----------------------------------------------------------------------
	-- Build Customer
	----------------------------------------------------------------------

		IF OBJECT_ID('tempdb..#Customer') IS NOT NULL
			DROP TABLE #Customer
		SELECT
			CustomerID
			, SourceID
			, PublisherID
		INTO #Customer
		FROM dbo.Customer c
		JOIN dbo.SourceType st
			ON c.SourceTypeID = st.SourceTypeID
			AND st.SourceSystemID IN (1, 7)

		CREATE CLUSTERED INDEX CIX ON #Customer (SourceID)

	----------------------------------------------------------------------
	-- Build RedemptionItem
	----------------------------------------------------------------------

	IF OBJECT_ID('tempdb..#RedemptionItem') IS NOT NULL
		DROP TABLE #RedemptionItem
	SELECT
		RedemptionItemID
		, SourceID
	INTO #RedemptionItem
	FROM dbo.RedemptionItem c
	JOIN dbo.SourceType st
		ON c.SourceTypeID = st.SourceTypeID
		AND st.SourceSystemID IN (1, 7)

	CREATE CLUSTERED INDEX CIX ON #RedemptionItem (SourceID)

	----------------------------------------------------------------------
	-- Load Staging table
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #RedemptionsTemp
		SELECT
			r.TransactionGUID AS SourceID
			, r.CashbackUsed AS RedemptionValue
			, r.CashbackUsed AS RedemptionWorth
			, c.FanID AS SourceCustomerID
			, r.RedeemedDate AS RedemptionDate
			, r.RedeemedDate AS RedemptionDateTime
			, r.RedemptionOfferGUID AS SourceRedemptionItemID
			, 0 as isCancelled
			, @SourceTypeID AS SourceTypeID
			, @RunDateTime AS CreatedDateTime
			, @RunDateTime AS UpdatedDateTime
		INTO #RedemptionsTemp
		FROM WH_NWG.Derived.Redemptions r
		JOIN WH_NWG.Derived.Customer c
			ON r.CustomerGUID = c.CustomerGuid
		WHERE r.[RedeemedDate] > DATEADD(MONTH, -2, GETDATE())
		AND r.[RedemptionOfferGUID] IS NOT NULL
		AND r.[CashbackUsed] IS NOT NULL
	
		CREATE CLUSTERED INDEX CIX ON #RedemptionsTemp ([SourceID])
		CREATE NONCLUSTERED INDEX NIX_Customer ON #RedemptionsTemp ([SourceCustomerID])
	
		DROP TABLE IF EXISTS #SourceCustomerID
		SELECT	DISTINCT
				c.[CustomerID]
		INTO #SourceCustomerID
		FROM #RedemptionsTemp rt
		LEFT JOIN #Customer c
			ON rt.[SourceCustomerID] = c.[SourceID]
	
		CREATE CLUSTERED INDEX CIX ON #SourceCustomerID ([CustomerID])

	IF OBJECT_ID('tempdb..#Redemptions') IS NOT NULL 
		DROP TABLE #Redemptions

	SELECT TOP 0
		CustomerID
		, PublisherID
		, RedemptionItemID
		, RedemptionValue
		, RedemptionWorth
		, RedemptionDate
		, RedemptionDateTime
		, isCancelled
		, CancelledDate
		, SourceTypeID
		, SourceID
		, CreatedDateTime
		, UpdatedDateTime
		, CancelledSourceID
	INTO #Redemptions
	FROM dbo.Redemptions

	INSERT INTO #Redemptions
	(
		CustomerID
		, PublisherID
		, RedemptionItemID
		, RedemptionValue
		, RedemptionWorth
		, RedemptionDate
		, RedemptionDateTime
		, isCancelled
		, CancelledDate
		, SourceTypeID
		, SourceID
		, CreatedDateTime
		, UpdatedDateTime
		, CancelledSourceID	
	)
	SELECT
		c.CustomerID
		, c.PublisherID
		, ri.RedemptionItemID
		, RedemptionValue
		, RedemptionWorth
		, RedemptionDate
		, RedemptionDateTime
		, isCancelled
		, NULL AS CancelledDate
		, x.SourceTypeID
		, x.SourceID
		, x.CreatedDateTime
		, x.UpdatedDateTime
		, NULL AS CancelledSourceID
	FROM #RedemptionsTemp x
	LEFT JOIN #Customer c
		ON x.SourceCustomerID = c.SourceID
	INNER JOIN #RedemptionItem ri
		ON x.SourceRedemptionItemID = ri.SourceID
	WHERE NOT EXISTS (	SELECT 1
						FROM dbo.Redemptions r
						WHERE CONVERT(VARCHAR(64), x.[SourceID]) = CONVERT(VARCHAR(64), r.[SourceID])
						AND r.[SourceTypeID] IN (9, 10, 11, 65, 57, 49)
						AND EXISTS (SELECT 1
									FROM #SourceCustomerID sc
									WHERE r.[CustomerID] = sc.[CustomerID])
					)

	BEGIN TRAN
		DECLARE @Inserted INT = 0
			, @Updated INT = 0
			, @Deleted INT = 0
				
		INSERT INTO dbo.Redemptions
		(
			CustomerID
			, PublisherID
			, RedemptionItemID
			, PaymentCardID
			, RedemptionValue
			, RedemptionWorth
			, RedemptionDate
			, RedemptionDateTime
			, isCancelled
			, CancelledDate
			, SourceTypeID
			, SourceID
			, CreatedDateTime
			, UpdatedDateTime
			, CancelledSourceID		
		)
		SELECT
			CustomerID
			, PublisherID
			, RedemptionItemID
			, -1 AS PaymentCardID
			, RedemptionValue = SUM(RedemptionValue)
			, RedemptionWorth = SUM(RedemptionWorth)
			, RedemptionDate
			, RedemptionDateTime
			, isCancelled
			, CancelledDate
			, SourceTypeID
			, SourceID
			, CreatedDateTime
			, UpdatedDateTime
			, CancelledSourceID	
		FROM #Redemptions
		GROUP BY	CustomerID
				, PublisherID
				, RedemptionItemID
				, RedemptionDate
				, RedemptionDateTime
				, isCancelled
				, CancelledDate
				, SourceTypeID
				, SourceID
				, CreatedDateTime
				, UpdatedDateTime
				, CancelledSourceID

		SET @Inserted = @@ROWCOUNT
		
		INSERT INTO WHB.Build_Log (RunID, StartDateTime, EndDateTime, StoredProcName, InsertedRows, UpdatedRows, DeletedRows)
		SELECT
			@RunID
			,@RunDateTime
			,GETDATE()
			,@StoredProcedureName
			,InsertedRows = @Inserted
			,UpdatedRows = @Updated
			,DeletedRows = @Deleted

	COMMIT TRAN

END




GO
