USE [Finance]
GO
/****** Object:  StoredProcedure [WHB].[Transactions_WHNWG_DerivedBankTrans_Load_Staging]    Script Date: 9/1/2026 12:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Transactions_WHNWG_DerivedBankTrans_Load_Staging] @RunID INT = NULL

AS
BEGIN

	 SET NOCOUNT ON;
	 SET XACT_ABORT ON;

--	DECLARE @RunID INT = NULL

	----------------------------------------------------------------------
	-- System Variables
	----------------------------------------------------------------------

		DECLARE	@RunDateTime DATETIME2(7) = GETDATE()
			,	@StoredProcedureName VARCHAR(100)
			,	@SourceTypeID INT
			,	@SourceSystemID INT
			,	@SourceTable VARCHAR(100)
			,	@CheckpointValue VARCHAR(100)
			,	@CheckpointID INT

		SET @StoredProcedureName = OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)
		IF @StoredProcedureName IS NULL SET @StoredProcedureName = 'WHB.Transactions_WHNWG_DerivedBankTrans_Load_Staging'

		EXEC [WHB].[Get_SourceTypeID]	@StoredProcedureName
									,	@SourceTypeID OUTPUT
									,	@SourceSystemID OUTPUT
									,	@SourceTable OUTPUT

		IF @RunID IS NULL SET @RunID = NEXT VALUE FOR [WHB].[RunID]

		DECLARE @CheckpointTable VARCHAR(30) = 'WH_NWG.' + @SourceTable
		EXEC [WHB].[Get_TableCheckpoint]	@CheckpointTable
										,	1
										,	'VARCHAR(100)'
										,	@CheckpointValue OUTPUT

		IF @CheckpointValue IS NULL SET @CheckpointID = 0

	----------------------------------------------------------------------
	-- Build Customer Table
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #Customer
		SELECT	c.[CustomerID]
			,	c.[SourceID]
			,	c.[PublisherID]
		INTO #Customer
		FROM [dbo].[Customer] c
		WHERE EXISTS (	SELECT 1
						FROM [dbo].[SourceType] st
						WHERE c.[SourceTypeID] = st.[SourceTypeID]
						AND st.[SourceSystemID] IN (1, 7))

		CREATE CLUSTERED INDEX [CIX_SourceUID] ON #Customer ([SourceID])

	----------------------------------------------------------------------
	-- Build Offer Table
	----------------------------------------------------------------------
	
		DROP TABLE IF EXISTS #Offer
		SELECT	o.[OfferID]
			,	o.[SourceID]
		INTO #Offer
		FROM [dbo].[Offer] o
		WHERE EXISTS (	SELECT 1
						FROM [dbo].[SourceType] st
						WHERE o.[SourceTypeID] = st.[SourceTypeID]
						AND st.[SourceSystemID] IN (7))

		CREATE CLUSTERED INDEX [CIX_SourceUID] ON #Offer ([SourceID])

	----------------------------------------------------------------------
	-- Build Earning Source Table
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #EarningSource
		SELECT	es.[EarningSourceID]
			,	es.[SourceID]
		INTO #EarningSource
		FROM [dbo].[EarningSource] es
		WHERE EXISTS (	SELECT 1
						FROM [dbo].[SourceType] st
						INNER JOIN [dbo].[SourceSystem] ss
							ON st.[SourceSystemID] = ss.[SourceSystemID]
							AND ss.[SourceSystemName] = 'WH_NWG'
						WHERE es.[SourceTypeID] = st.[SourceTypeID]
						AND st.[SourceTable] = 'Derived.BankTrans_Description')

		CREATE CLUSTERED INDEX [CIX_SourceUID] ON #EarningSource ([SourceID])

	----------------------------------------------------------------------
	-- Load Staging Table
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #BankTrans
		SELECT	[SourceID] = bt.[TransactionGUID]
			,	[PartnerID] = bt.[PartnerID]
			,	[SourceOfferID] = bt.[DescriptionID]
			,	[PaymentMethodID] = bt.[PaymentMethodID]
			,	[SourceCustomerID] = cu.[FanID]
			,	[CardGUID] = CONVERT(UNIQUEIDENTIFIER, NULL)
			,	[PaymentCardID] = NULL
			,	[Spend] = SUM(bt.[TransactionAmount])
			,	[Earning] = SUM(bt.[CashbackEarned])
			,	[TranDate] = MAX(bt.[TranDate])
			,	[TranDateTime] = MAX(bt.[TranDate])
			,	[ActivationDays] = MAX(DATEDIFF(DAY, bt.[TranDate], bt.[TransactionClearingDate]))
			,	[CurrencyCode] = 'GBP'
			,	[SourceTypeID] = @SourceTypeID
			,	[SourceAddedDateTime] = MAX(bt.[AddedDate])
			,	[CreatedDateTime] = @RunDateTime
			,	[CheckpointID] = MAX(bt.[ID])
		INTO #BankTrans
		FROM [WH_NWG].[Derived].[BankTrans] bt
		INNER JOIN [WH_NWG].[Derived].[Customer] cu
			ON bt.[CustomerGUID] = cu.[CustomerGUID]
		WHERE bt.[TransactionTypeID] != 12
		AND bt.[AddedDate] > DATEADD(WEEK, -2, GETDATE())
	--	WHERE bt.[ID] > @CheckpointID
		GROUP BY	bt.[DescriptionID]
				,	bt.PartnerID
				,	bt.PaymentMethodID
				,	bt.[TransactionGUID]
				,	cu.FanID
	
		CREATE CLUSTERED INDEX [CIX] ON #BankTrans([SourceID])
		CREATE NONCLUSTERED INDEX [NIX] ON #BankTrans([CheckpointID])
		CREATE NONCLUSTERED INDEX [NIX_Date] ON #BankTrans([TranDate])

		UPDATE #BankTrans
		SET [PaymentMethodID] = 0
		WHERE [PaymentMethodID] = 2

		UPDATE #BankTrans
		SET [PaymentMethodID] = -1
		WHERE [PaymentMethodID] = 3
		
		DROP TABLE IF EXISTS #DescriptionID_BankFunded
		SELECT	[DescriptionID]
		INTO #DescriptionID_BankFunded
		FROM [WH_NWG].[Derived].[BankTrans_Description]
		WHERE [Description] LIKE 'direct debit - reward earned - %'
		OR [Description] LIKE 'mobile login - reward earned - %'

		UPDATE #BankTrans
		SET [PaymentMethodID] = 2
		WHERE [SourceOfferID] IN (SELECT [DescriptionID] FROM #DescriptionID_BankFunded)

		UPDATE bt
		SET bt.[PaymentCardID] = pc.[PaymentCardID]
		FROM #BankTrans bt
		INNER JOIN [dbo].[PaymentCard] pc
			ON CONVERT(VARCHAR(64), bt.[CardGUID]) = pc.[SourceID]
	
	----------------------------------------------------------------------
	-- Insert into main table and log checkpoints
	----------------------------------------------------------------------

		BEGIN TRAN

			DECLARE	@Inserted BIGINT = 0
				,	@Updated INT = 0
				,	@Deleted INT = 0
		
			----------------------------------------------------------------------
			-- Insert
			----------------------------------------------------------------------

				INSERT INTO [Staging].[Transactions] (	[CustomerID]
													,	[OfferID]
													,	[EarningSourceID]
													,	[PublisherID]
													,	[PaymentCardID]
													,	[Spend]
													,	[Earning]
													,	[CurrencyCode]
													,	[TranDate]
													,	[TranDateTime]
													,	[PaymentMethodID]
													,	[ActivationDays]
													,	[EligibleDate]
													,	[SourceTypeID]
													,	[SourceID]
													,	[CreatedDateTime]
													,	[SourceAddedDateTime]) 
				SELECT	c.[CustomerID]
					,	[OfferID] = -1
					,	es.[EarningSourceID]
					,	c.[PublisherID]
					,	[PaymentCardID] = COALESCE(bt.[PaymentCardID], -1)
					,	bt.[Spend]
					,	bt.[Earning]
					,	bt.[CurrencyCode]
					,	bt.[TranDate]
					,	bt.[TranDateTime]
					,	[PaymentMethodID] = COALESCE(bt.[PaymentMethodID], -1)
					,	bt.[ActivationDays]
					,	[EligibleDate] = DATEADD(DAY, bt.[ActivationDays], bt.[TranDate])
					,	bt.[SourceTypeID]
					,	bt.[SourceID]
					,	bt.[CreatedDateTime]
					,	bt.[SourceAddedDateTime]
				FROM #BankTrans bt
				LEFT JOIN #EarningSource es
					ON bt.[SourceOfferID] = es.[SourceID]
				LEFT JOIN #Customer c
					ON bt.[SourceCustomerID] = c.[SourceID]
				WHERE NOT EXISTS (	SELECT 1
									FROM [Staging].[Transactions] tr
									WHERE CONVERT(VARCHAR(64), bt.[SourceID]) = tr.[SourceID]
									AND bt.[TranDate] = tr.[TranDate])
				ORDER BY bt.[TranDate]

				SET @Inserted = @@ROWCOUNT

				DECLARE @NewCheckpointValue VARCHAR(100) = (SELECT MAX(CheckpointID) FROM #BankTrans)

				EXEC WHB.Update_TableCheckpoint @CheckpointTable, @NewCheckpointValue
		
			----------------------------------------------------------------------
			-- Log
			----------------------------------------------------------------------
		
				INSERT INTO [WHB].[Build_Log] (	[RunID]
											,	[StartDateTime]
											,	[EndDateTime]
											,	[StoredProcName]
											,	[InsertedRows]
											,	[UpdatedRows]
											,	[DeletedRows])
				SELECT	[RunID] = @RunID
					,	[StartDateTime] = @RunDateTime
					,	[EndDateTime] = GETDATE()
					,	[StoredProcName] = @StoredProcedureName
					,	[InsertedRows] = @Inserted
					,	[UpdatedRows] = @Updated
					,	[DeletedRows] = @Deleted

		COMMIT TRAN

END
GO
