USE [Finance]
GO
/****** Object:  StoredProcedure [WHB].[Transactions_WHNWG_DerivedPartnerTrans_Load_Staging]    Script Date: 9/1/2026 12:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Transactions_WHNWG_DerivedPartnerTrans_Load_Staging]
		@RunID INT = NULL

AS
BEGIN
	 SET NOCOUNT ON;
	 SET XACT_ABORT ON;

--	DECLARE @RunID INT = NULL

	----------------------------------------------------------------------
	-- System Variables
	----------------------------------------------------------------------
	DECLARE @RunDateTime DATETIME2(7) = GETDATE()
		, @StoredProcedureName VARCHAR(100)
		, @SourceTypeID INT
		, @SourceSystemID INT
		, @SourceTable VARCHAR(100)
		, @CheckpointValue VARCHAR(100)
		, @CheckpointID INT

	SET @StoredProcedureName = OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)
	IF @StoredProcedureName IS NULL SET @StoredProcedureName = 'WHB.Transactions_WHNWG_DerivedPartnerTrans_Load_Staging'

	EXEC WHB.Get_SourceTypeID 
		@StoredProcedureName
		, @SourceTypeID OUTPUT
		, @SourceSystemID OUTPUT
		, @SourceTable OUTPUT

	IF @RunID IS NULL
		SET @RunID = NEXT VALUE FOR WHB.RunID

	DECLARE @CheckpointTable VARCHAR(30) = 'WH_NWG.' + @SourceTable
	EXEC WHB.Get_TableCheckpoint @CheckpointTable, 1, 'VARCHAR(100)', @CheckpointValue OUTPUT

	IF @CheckpointValue IS NULL
	BEGIN
		SET @CheckpointID = 0
	END

--	ALTER TABLE Staging.Transactions NOCHECK CONSTRAINT ALL;
	----------------------------------------------------------------------
	-- Build Customer Table
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#Customer') IS NOT NULL
		DROP TABLE #Customer

	SELECT
		CustomerID
		, SourceID
		, c.PublisherID
	INTO #Customer
	FROM dbo.Customer c
	JOIN dbo.SourceType st
		ON c.SourceTypeID = st.SourceTypeID
		AND st.SourceSystemID IN (1, 7)

	CREATE CLUSTERED INDEX CIX ON #Customer (SourceID)

	----------------------------------------------------------------------
	-- Build Offer Table
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#Offer') IS NOT NULL
		DROP TABLE #Offer

	SELECT
		OfferID
		, SourceID
	INTO #Offer
	FROM dbo.Offer c
	JOIN dbo.SourceType st
		ON c.SourceTypeID = st.SourceTypeID
		AND st.SourceSystemID = 7

	CREATE CLUSTERED INDEX CIX ON #Offer (SourceID)

	----------------------------------------------------------------------
	-- Build Earning Source Table
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#EarningSource') IS NOT NULL
		DROP TABLE #EarningSource

	SELECT
		EarningSourceID
		, SourceID
	INTO #EarningSource
	FROM dbo.EarningSource es
	JOIN dbo.SourceType st
		ON es.SourceTypeID = st.SourceTypeID
		AND st.SourceTable = 'dbo.Partner'
	JOIN dbo.SourceSystem ss
		ON st.SourceSystemID = ss.SourceSystemID
		AND ss.SourceSystemName = 'Finance'

	CREATE CLUSTERED INDEX CIX ON #EarningSource (SourceID)

	----------------------------------------------------------------------
	-- Load Staging Table
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #PartnerTrans_Temp
		SELECT *
		INTO #PartnerTrans_Temp
		FROM [WH_NWG].[Derived].[PartnerTrans] pt
		WHERE pt.[AddedDate] > DATEADD(MONTH, -2, GETDATE())
		
		DROP TABLE IF EXISTS #PartnerTrans_Refunds
		;WITH
		RefundIDs AS (	SELECT	[ExternalTransactionID]
							,	[TranDates] = COUNT(DISTINCT [TransactionDate])
							,	[Entries] = COUNT(*)
						FROM #PartnerTrans_Temp
						GROUP BY	[ExternalTransactionID]
						HAVING COUNT(*) > 1
						)

		SELECT	*
			,	[RowToKeep] = ROW_NUMBER() OVER (PARTITION BY [ExternalTransactionID] ORDER BY [ActivationDays] DESC)
		INTO #PartnerTrans_Refunds
		FROM #PartnerTrans_Temp ptt
		WHERE EXISTS (	SELECT 1
						FROM RefundIDs r
						WHERE ptt.[ExternalTransactionID] = r.[ExternalTransactionID])

		UPDATE pt1
		SET	pt1.[TransactionAmount] = pt1.[TransactionAmount] + pt2.[TransactionAmount]
		,	pt1.[AffiliateCommissionAmount] = pt1.[AffiliateCommissionAmount] + pt2.[AffiliateCommissionAmount]
		,	pt1.[CommissionChargable] = pt1.[CommissionChargable] + pt2.[CommissionChargable]
		,	pt1.[CashbackEarned] = pt1.[CashbackEarned] + pt2.[CashbackEarned]
		FROM #PartnerTrans_Refunds pt1
		INNER JOIN #PartnerTrans_Refunds pt2
			ON pt1.[ExternalTransactionID] = pt2.[ExternalTransactionID]
			AND pt1.[TransactionGUID] != pt2.[TransactionGUID]
		AND pt1.[RowToKeep] = 1

		DELETE ptt
		FROM #PartnerTrans_Temp ptt
		WHERE EXISTS (	SELECT 1
						FROM #PartnerTrans_Refunds ptr
						WHERE ptt.[ID] = ptr.[ID]
						AND ptr.[RowToKeep] > 1)

		UPDATE pt1
		SET	pt1.[TransactionAmount] = pt2.[TransactionAmount]
		,	pt1.[AffiliateCommissionAmount] = pt2.[AffiliateCommissionAmount]
		,	pt1.[CommissionChargable] = pt2.[CommissionChargable]
		,	pt1.[CashbackEarned] = pt2.[CashbackEarned]
		FROM #PartnerTrans_Refunds pt1
		INNER JOIN #PartnerTrans_Temp pt2
			ON pt1.[ID] = pt2.[ID]
		AND pt1.[RowToKeep] = 1

		DROP TABLE IF EXISTS #PartnerTrans
		SELECT	[SourceID] = CONVERT(VARCHAR(64), pt.[TransactionGUID])
			,	[PartnerID] = pt.[PartnerID]
			,	[SourceOfferID] = pt.[OfferGUID]
			,	[PaymentMethodID] = CONVERT(INT, pt.[PaymentMethodID])
			,	[SourceCustomerID] = pt.[FanID]
			,	[CardGUID] = CONVERT(UNIQUEIDENTIFIER, NULL)
			,	[PaymentCardID] = NULL			
			,	[Spend] = SUM(pt.[TransactionAmount])
			,	[Earning] = SUM(pt.[CashbackEarned])
			,	[TranDate] = MAX(pt.[TransactionDate])
			,	[TranDateTime] = MAX(pt.[TransactionDate])
			,	[ActivationDays] = MAX(pt.[ActivationDays])
			,	[CurrencyCode] = 'GBP'
			,	[SourceTypeID] = @SourceTypeID
			,	[SourceAddedDateTime] = MAX(pt.[AddedDate])
			,	[CreatedDateTime] = @RunDateTime
			,	[CheckpointID] = MAX(pt.[ID])
	INTO #PartnerTrans
	FROM #PartnerTrans_Temp pt
	WHERE pt.[AddedDate] > DATEADD(WEEK, -2, GETDATE())
	AND EXISTS (SELECT 1
				FROM [WH_NWG].[Derived].[Customer] cu
				WHERE pt.[FanID] = cu.[FanID])
	AND EXISTS (SELECT 1
				FROM [WH_NWG].[Derived].[IronOffer] iof
				WHERE pt.[OfferGUID] = iof.[HydraOfferID])
--	WHERE [ID] > @CheckpointID
	GROUP BY	pt.[TransactionGUID]
			,	pt.[PartnerID]
			,	pt.[OfferGUID]
			,	CONVERT(INT, pt.[PaymentMethodID])
			,	pt.[FanID]
	
	CREATE CLUSTERED INDEX [CIX] ON #PartnerTrans([SourceID])
	CREATE NONCLUSTERED INDEX [NIX] ON #PartnerTrans([CheckpointID])
	CREATE NONCLUSTERED INDEX [NIX_Date] ON #PartnerTrans([TranDate])

	UPDATE pt
	SET pt.[CardGUID] = mt.[CardGUID]
	FROM #PartnerTrans pt
	INNER JOIN [WH_NWG].[WHB].[Inbound_MatchedTransactions] mt
		ON pt.[SourceID] = mt.[TransactionGUID]

	UPDATE pt
	SET pt.[PaymentCardID] = pc.[PaymentCardID]
	FROM #PartnerTrans pt
	INNER JOIN [dbo].[PaymentCard] pc
		ON CONVERT(VARCHAR(64), pt.[CardGUID]) = pc.[SourceID]

	UPDATE #PartnerTrans
	SET [PaymentMethodID] = 0
	WHERE [PaymentMethodID] = 2

	UPDATE #PartnerTrans
	SET [PaymentMethodID] = -1
	WHERE [PaymentMethodID] = 3

	;WITH
	Dedupe_Trans AS (	SELECT	[SourceID]
						FROM #PartnerTrans pt
						GROUP BY [SourceID]
						HAVING COUNT(*) > 1)

	DELETE pt
	FROM #PartnerTrans pt
	WHERE EXISTS (	SELECT 1
					FROM Dedupe_Trans dt
					WHERE pt.[SourceID] = dt.[SourceID])

	----------------------------------------------------------------------
	-- Insert into main table and log checkpoints
	----------------------------------------------------------------------

	BEGIN TRAN

		DECLARE @Inserted BIGINT = 0
			, @Updated INT = 0
			, @Deleted INT = 0

		INSERT INTO Staging.Transactions
		(
			CustomerID
			, OfferID
			, EarningSourceID
			, PublisherID
			, PaymentCardID
			, Spend
			, Earning
			, CurrencyCode
			, TranDate
			, TranDateTime
			, PaymentMethodID
			, ActivationDays
			, EligibleDate
			, SourceTypeID
			, SourceID
			, CreatedDateTime
			, SourceAddedDateTime
		) 
		SELECT	c.CustomerID
			,	o.OfferID AS OfferID
			,	es.EarningSourceID
			,	c.PublisherID
			,	PaymentCardID = COALESCE(PaymentCardID, -1)
			,	te.Spend AS Spend
			,	te.Earning
			,	te.CurrencyCode
			,	te.TranDate
			,	te.TranDateTime
			,	te.PaymentMethodID
			,	te.ActivationDays
			,	DATEADD(DAY, te.ActivationDays, te.TranDate) AS EligibleDate
			,	te.SourceTypeID
			,	te.SourceID
			,	te.CreatedDateTime
			,	te.SourceAddedDateTime
		FROM #PartnerTrans te
		LEFT JOIN #EarningSource es
			ON te.PartnerID = es.SourceID
		LEFT JOIN #Customer c
			ON te.SourceCustomerID = c.SourceID
		LEFT JOIN #Offer o
			ON te.SourceOfferID = o.SourceID
		WHERE NOT EXISTS (	SELECT 1
							FROM Staging.Transactions tr
							WHERE te.[SourceID] = tr.[SourceID])

		SET @Inserted = @@ROWCOUNT

		DECLARE @NewCheckpointValue VARCHAR(100) = (SELECT MAX(CheckpointID) FROM #PartnerTrans)

		EXEC WHB.Update_TableCheckpoint @CheckpointTable, @NewCheckpointValue

		----------------------------------------------------------------------
		-- Log
		----------------------------------------------------------------------
		
		INSERT INTO WHB.Build_Log (RunID, StartDateTime, EndDateTime, StoredProcName, InsertedRows, UpdatedRows, DeletedRows)
		SELECT
			@RunID
			,@RunDateTime
			,GETDATE()
			,@StoredProcedureName
			,InsertedRows = @Inserted
			,UpdatedRows = @Updated
			,DeletedRows = @Deleted
	COMMIT TRAN

END
GO
