USE [Affinity]
GO
/****** Object:  StoredProcedure [AWS].[AffinityMonitoring_Fetch]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [AWS].[AffinityMonitoring_Fetch]
AS
BEGIN
		SELECT
		ID
		, RunID
		, OverallID
		, PackageID
		, SourceID
		, SourceName
		, RunStartDateTime
		, RunEndDateTime
		, FileDate
		, RowCnt
		, [DD HH:MM:SS]
		, SecondsDuration
		, SourceTypeID
		, SourceType
		, isEntryPoint
		, REPLACE(ErrorDetails, CHAR(10), ' ') ErrorDetails
		, traceHasError
		, sourceHasError
	FROM Processing.vw_PackageLog


END
GO
