USE [Affinity]
GO
/****** Object:  StoredProcedure [dbo].[FilesToArchive_Updater_Date]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FilesToArchive_Updater_Date]	@TableName VARCHAR(MAX)
												,	@TranDate DATE
												,	@UpdateColumn VARCHAR(MAX)

AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	UPDATE [dbo].[FilesToArchive]
	SET [Extracted] = 1
	WHERE [TableName] = @TableName
	AND [TranDate] = @TranDate
	AND @UpdateColumn = 'Extracted'
	
	UPDATE [dbo].[FilesToArchive]
	SET [Compressed] = 1
	WHERE [TableName] = @TableName
	AND [TranDate] = @TranDate
	AND @UpdateColumn = 'Compressed'
	
	UPDATE [dbo].[FilesToArchive]
	SET [Removed] = 1
	WHERE [TableName] = @TableName
	AND [TranDate] = @TranDate
	AND @UpdateColumn = 'Removed'
	
	UPDATE [dbo].[FilesToArchive]
	SET [LoadedToS3] = 1
	WHERE [TableName] = @TableName
	AND [TranDate] = @TranDate
	AND @UpdateColumn = 'LoadedToS3'

END
GO
