USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Customer_GEO_Build_v3]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Processing].[Customer_GEO_Build_v3]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @StartTime DATETIME2 = SYSDATETIME(),
        @EndTime DATETIME2,
        @RowCount INT = 0,
        @ErrorMessage VARCHAR(MAX) = NULL;

    BEGIN TRY

    ----------------------------------------------------------------------
    -- 1. Build Customer Dataset
    ----------------------------------------------------------------------

    IF OBJECT_ID('tempdb..#Customers') IS NOT NULL DROP TABLE #Customers;

    SELECT
        d.FanID,
        y.ProxyUserID,
        d.CompositeID,
        d.CINID,
        d.ClubID,
        d.Gender,
        d.AgeCurrent,
        d.PostcodeDistrict,
        d.SourceUID,
        d.rw,
        d.PostalArea,
        CAST(0 AS bit) AS isNew,
        z.ChkSum,
        d.Postcode,
        d.PostcodeSector
    INTO #Customers
    FROM (
        SELECT
            cu.FanID,
            cu.CompositeID,
            c.CINID,
            cu.ClubID,
            cu.Gender,
            cu.AgeCurrent,
            cu.PostcodeDistrict,
            cu.SourceUID,
            ROW_NUMBER() OVER (PARTITION BY cu.SourceUID ORDER BY cu.ClubID) AS rw,
            cu.PostArea AS PostalArea,
            cu.Postcode,
            cu.PostalSector AS PostcodeSector
        FROM WH_NWG.Derived.Customer cu
        INNER JOIN Warehouse.Relational.CINList c
            ON c.CIN = cu.SourceUID
        WHERE cu.currentlyactive = 1
    ) d
    CROSS APPLY (
        SELECT ProxyUserID =
            HASHBYTES('SHA2_256',
                CONVERT(varchar(32), d.FanID + 2384) + ',' + d.SourceUID)
    ) y
    CROSS APPLY (
        SELECT ChkSum =
            CHECKSUM(
                d.FanID, y.ProxyUserID, d.CompositeID, d.CINID, d.ClubID,
                d.Gender, d.AgeCurrent, d.PostcodeDistrict, d.SourceUID,
                d.rw, d.PostalArea, CAST(0 AS bit),
                d.Postcode, d.PostcodeSector)
    ) z
    WHERE d.rw = 1
      AND NOT EXISTS (
            SELECT 1
            FROM WH_NWG.Derived.Customer_DuplicateSourceUID dup
            WHERE dup.SourceUID = d.SourceUID
              AND dup.EndDate IS NULL
      )
      AND NOT EXISTS (
            SELECT 1
            FROM RIPU.Derived.cinid_exclude_nw_migration ex
            WHERE ex.cinid = d.CINID
      );

    SET @RowCount = @@ROWCOUNT;

    ----------------------------------------------------------------------
    -- 2. DATA QUALITY CHECKS (FAIL FAST)
    ----------------------------------------------------------------------

    -- Null critical fields
    IF EXISTS (SELECT 1 FROM #Customers WHERE FanID IS NULL OR SourceUID IS NULL)
        THROW 50001, 'DQ FAIL: Null FanID or SourceUID detected', 1;

    -- Duplicate FanID
    IF EXISTS (
        SELECT FanID
        FROM #Customers
        GROUP BY FanID
        HAVING COUNT(*) > 1
    )
        THROW 50002, 'DQ FAIL: Duplicate FanID detected', 1;

    -- Invalid Age
    IF EXISTS (
        SELECT 1 FROM #Customers WHERE AgeCurrent < 0 OR AgeCurrent > 150
    )
        THROW 50003, 'DQ FAIL: Invalid Age detected', 1;

    -- Missing postcode sector
    IF EXISTS (
        SELECT 1 FROM #Customers WHERE PostcodeSector IS NULL
    )
        THROW 50004, 'DQ FAIL: Missing PostcodeSector', 1;

    ----------------------------------------------------------------------
    -- 3. Refresh Target
    ----------------------------------------------------------------------

    TRUNCATE TABLE Processing.Customers_GEO_Build_v3;

    INSERT INTO Processing.Customers_GEO_Build_v3
    SELECT
        FanID, ProxyUserID, CompositeID, CINID, ClubID, Gender,
        AgeCurrent, PostcodeDistrict, SourceUID, rw,
        PostalArea, Chksum,
        CAST(1 AS bit),
        Postcode, PostcodeSector
    FROM #Customers;

    ----------------------------------------------------------------------
    -- 4. Aggregations
    ----------------------------------------------------------------------

    IF OBJECT_ID('tempdb..#SecCount') IS NOT NULL DROP TABLE #SecCount;

    SELECT
        LEFT(Postcode, CHARINDEX(' ', Postcode) + 1) AS PostcodeSector,
        SUM(NumberOfHouseholds) AS NoOfHouseholds
    INTO #SecCount
    FROM Affinity.RoyalMail.PAFData
    GROUP BY LEFT(Postcode, CHARINDEX(' ', Postcode) + 1);

    IF OBJECT_ID('tempdb..#RewardSectorCount') IS NOT NULL DROP TABLE #RewardSectorCount;

    SELECT
        PostcodeSector,
        COUNT(*) AS RewardHouseholds
    INTO #RewardSectorCount
    FROM Processing.Customers_GEO_Build_v3
    GROUP BY PostcodeSector;

    ----------------------------------------------------------------------
    -- 5. Final Output
    ----------------------------------------------------------------------

    DROP TABLE IF EXISTS Processing.CustomerGeodemographics_v3;

    SELECT
        CONVERT(varchar(64), c.ProxyUserID, 2) AS ProxyUserID,
        CASE 
            WHEN (sc.NoOfHouseholds < 100 OR rsc.RewardHouseholds < 10)
                THEN c.PostcodeDistrict
            ELSE c.PostcodeSector
        END AS CardholderLocationIndicator,
        c.Gender,
        CASE 
            WHEN AgeCurrent < 18 THEN '0'
            WHEN AgeCurrent BETWEEN 18 AND 24 THEN '18-24'
            WHEN AgeCurrent BETWEEN 25 AND 29 THEN '25-29'
            WHEN AgeCurrent BETWEEN 30 AND 34 THEN '30-34'
            WHEN AgeCurrent BETWEEN 35 AND 39 THEN '35-39'
            WHEN AgeCurrent BETWEEN 40 AND 44 THEN '40-44'
            WHEN AgeCurrent BETWEEN 45 AND 49 THEN '45-49'
            WHEN AgeCurrent BETWEEN 50 AND 54 THEN '50-54'
            WHEN AgeCurrent BETWEEN 55 AND 59 THEN '55-59'
            WHEN AgeCurrent BETWEEN 60 AND 64 THEN '60-64'
            WHEN AgeCurrent BETWEEN 65 AND 69 THEN '65-69'
            WHEN AgeCurrent BETWEEN 70 AND 74 THEN '70-74'
            WHEN AgeCurrent BETWEEN 75 AND 79 THEN '75-79'
            WHEN AgeCurrent BETWEEN 80 AND 84 THEN '80-84'
            WHEN AgeCurrent BETWEEN 85 AND 89 THEN '85-89'
            WHEN AgeCurrent BETWEEN 90 AND 94 THEN '90-94'
            ELSE '100+'
        END AS AgeBand
    INTO Processing.CustomerGeodemographics_v3
    FROM Processing.Customers_GEO_Build_v3 c
    LEFT JOIN #SecCount sc ON c.PostcodeSector = sc.PostcodeSector
    LEFT JOIN #RewardSectorCount rsc ON c.PostcodeSector = rsc.PostcodeSector;

    ----------------------------------------------------------------------
    -- SUCCESS AUDIT
    ----------------------------------------------------------------------

    SET @EndTime = SYSDATETIME();
    DECLARE @Body VARCHAR(MAX);

    SET @Body = 'Procedure completed successfully.' + CHAR(13) +
    'Rows processed: ' + CAST(@RowCount AS VARCHAR(20)) + CHAR(13) +
    'Time: ' + CONVERT(VARCHAR, GETDATE(), 120);

    INSERT INTO Processing.ETL_Audit_Log
	(
		ProcedureName,
		StartTime,
		EndTime,
		Status,
		RowsProcessed,
		ErrorMessage
	)
    VALUES (
        'Customer_GEO_Build_v3',
        @StartTime,
        @EndTime,
        'SUCCESS',
        @RowCount,
        NULL
    );
	
	EXEC msdb.dbo.sp_send_dbmail
		@profile_name = 'Administrator',
		@recipients = 'kasi.dandu@rewardinsight.com',
		@subject = 'SUCCESS: Customer_GEO_Build_v3',
		@body = @Body;

    RETURN @RowCount;

    END TRY

    BEGIN CATCH

        SET @EndTime = SYSDATETIME();
        SET @ErrorMessage = ERROR_MESSAGE();
        DECLARE @FailureBody VARCHAR(MAX);

        SET @FailureBody = 'Procedure failed.' + CHAR(256) + 
				'Error: ' + @ErrorMessage + CHAR(256) +
				'Rows processed before failure: ' + CAST(@RowCount AS VARCHAR(20)) + CHAR(13) +
				'Time: '+ CONVERT(VARCHAR, GETDATE(), 120);

        INSERT INTO Processing.ETL_Audit_Log
		(
			ProcedureName,
			StartTime,
			EndTime,
			Status,
			RowsProcessed,
			ErrorMessage
		)
        VALUES (
            'Customer_GEO_Build_v3',
            @StartTime,
            @EndTime,
            'FAILED',
            @RowCount,
            @ErrorMessage
        );
		
		EXEC msdb.dbo.sp_send_dbmail
			@profile_name = 'Administrator',
			@recipients = 'kasi.dandu@rewardinsight.com',
			@subject = 'FAILED: Customer_GEO_Build_v3',
			@body = @FailureBody;
			

        THROW;

    END CATCH
END
GO
