USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__ConsumerTransactionHolding_Credit_Build_DQC19_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 01/09/2020
-- Description:	Empties, inserts and recreates index on the Staging Transaction table 
				from ConsumerTransaction_Credit, including the equivalent holding table
				for unseen transactions

				Raw Transactions for: YYYY_MM_DD-Daily.csv

------------------------------------------------------------------------------
Modification History

[15/06/2022] [ChrisM]
	- Extensively changed for performance. The extract from ConsumerTransaction_CreditCard
	now only looks for transactions for new customers.

The source table Staging.ConsumerTransaction_CreditCardHolding is refreshed nightly by Warehouse MIDI.

******************************************************************************/

CREATE PROCEDURE [Processing].[__ConsumerTransactionHolding_Credit_Build_DQC19_Archived]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	-- TimerMessage variables
	DECLARE @Time DATETIME, @Msg VARCHAR(2048), @RowsProcessed INT, @SSMS BIT = 1 
	SET @Msg = 'Starting script'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT


	----------------------------------------------------------------------
	-- Clear Down[Processing].[ConsumerTransactionHolding_Credit_DQC19]
	----------------------------------------------------------------------
	TRUNCATE TABLE Processing.ConsumerTransactionHolding_Credit_DQC19;


	----------------------------------------------------------------------
	-- Get Minimum file id to start pull from
	----------------------------------------------------------------------
	DECLARE 
		@MinFileID INT,
		@BatchCount INT = 0,
		@RowCount INT = 0

	SELECT @MinFileID = FileID
	FROM Processing.vw_MinFileID
	WHERE FileType = 'FI'

	EXEC sp_TimerMessage 'Collected @MinFileID', @Time OUTPUT, @SSMS OUTPUT


	----------------------------------------------------------------------
	-- Get transactions for new customers from main table
	----------------------------------------------------------------------
	-- Pick up customers which have come on board within the last fortnight
	DROP TABLE IF EXISTS #Customers; CREATE TABLE #Customers (CINID INT NOT NULL)
	CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #Customers (CINID)

	INSERT INTO #Customers (CINID)
	SELECT CINID FROM Processing.Customers 
	WHERE rw = 1 AND CINID IS NOT NULL AND CreatedDateTime > CAST(DATEADD(DAY,-7,GETDATE()) AS DATE)
	ORDER BY CINID
	SET @RowCount = @@rowcount	
	SET @Msg = 'Collected new customers (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (5231 rows) / 00:00:01


	DROP TABLE IF EXISTS #ConsumerTransaction_CreditCard
	SELECT ct.*
	INTO #ConsumerTransaction_CreditCard
	FROM #Customers c
	INNER JOIN Warehouse.Relational.ConsumerTransaction_CreditCard ct	 
		ON c.CINID = ct.CINID
	WHERE ct.FileID >= @MinFileID
	SET @RowCount = @@rowcount
	SET @Msg = 'Collected transactions for new customers (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (62 rows) / 00:00:13

	-- Pick up transactions for new customers
	INSERT INTO Processing.ConsumerTransactionHolding_Credit_DQC19 WITH (TABLOCK)
		(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
		TranDate, CINID, Amount, IsOnline, LocationID, FanID)
	SELECT FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
		TranDate, ct.CINID, Amount, IsOnline, LocationID, ct.FanID
	FROM #ConsumerTransaction_CreditCard ct
	WHERE NOT EXISTS ( -- where the fileid/rownum combo has not been seen before
		SELECT 1 FROM Processing.RowNum_Log rnl
		WHERE ct.FileID = rnl.FileID
		AND ct.RowNum = rnl.RowNum)
	ORDER BY FileID, RowNum
	SET @RowCount = @@rowcount; SET @BatchCount += @RowCount
	SET @Msg = 'Loaded transactions for new customers (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (0 rows) / 00:00:12



	----------------------------------------------------------------------
	-- Get Transactions from Holding
	----------------------------------------------------------------------
	DROP TABLE IF EXISTS #ConsumerTransactionHolding
	SELECT ct.*
	INTO #ConsumerTransactionHolding
	FROM Staging.ConsumerTransaction_CreditCardHolding ct
	WHERE NOT EXISTS ( -- where the fileid/rownum combo has not been seen before
		SELECT 1 FROM Processing.RowNum_Log rnl
		WHERE ct.FileID = rnl.FileID
		AND ct.RowNum = rnl.RowNum)
		--AND ct.FileID >= @MinFileID redundant
	SET @RowCount = @@rowcount
	SET @Msg = 'Collected new transactions from holding (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (1706 rows) / 00:00:02

	INSERT INTO Processing.ConsumerTransactionHolding_Credit_DQC19 WITH (TABLOCK)
		(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
		TranDate, CINID, Amount, IsOnline, LocationID, FanID)
	SELECT FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
		TranDate, ct.CINID, Amount, IsOnline, LocationID, ct.FanID
	FROM #ConsumerTransactionHolding ct
	JOIN Processing.Customers c
		ON c.CINID = ct.CINID
		AND rw = 1
	ORDER BY FileID, RowNum
	SET @RowCount = @@rowcount; SET @BatchCount += @RowCount
	SET @Msg = 'Loaded new transactions from holding (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (0 rows) / 00:00:00


	TRUNCATE TABLE Staging.ConsumerTransaction_CreditCardHolding


	RETURN @BatchCount

END

GO
