USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Masking_ConsumerCombinations_Build_DD]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 23/09/2020
-- Description:	Clears, inserts and recreates indexes on table to hold ConsumerCombinations
				that will go through the masking process.

------------------------------------------------------------------------------
Modification History

[Date] [User]
	- [Description]

******************************************************************************/
CREATE PROCEDURE [Processing].[Masking_ConsumerCombinations_Build_DD]
AS
BEGIN

	DECLARE @RowCount INT -- Logging row count

	----------------------------------------------------------------------
	-- Clear Down
	----------------------------------------------------------------------
	TRUNCATE TABLE Processing.Masking_ConsumerCombinations_DD;

	IF EXISTS
		(
			SELECT
				1
			FROM sys.indexes
			WHERE name = 'ucix_Processing_consumercombinations'
				AND object_id = OBJECT_ID('Processing.Masking_ConsumerCombination_DDs')
		)
		DROP INDEX ucix_Processing_consumercombinations ON Processing.Masking_ConsumerCombinations_DD

	----------------------------------------------------------------------
	-- Insert
	----------------------------------------------------------------------
	INSERT INTO Processing.Masking_ConsumerCombinations_DD
	(
		ConsumerCombinationID_DD
	  --, BrandMIDID
	  , BrandID
	  , OIN
	  , Narrative_RBS
	  , Narrative_VF
	  --, LocationCountry
	  --, MCCID
	  --, BrandID
	  --, IsHighVariance
	  --, IsUKSpend
	  --, PaymentGatewayStatusID
	  --, IsCreditOrigin
	  --, isGB
	  --, isBlanketMask
	  , rw
	)
	 SELECT
		 x.ConsumerCombinationID_DD
	   --, x.BrandMIDID
	   , x.BrandID
	   , x.OIN
	   , x.Narrative_RBS
	   , x.Narrative_VF
	   --, mcc.LocationCountry
	   --, x.MCCID
	   --, x.OriginatorID
	   --, x.IsHighVariance
	   --, x.IsUKSpend
	   --, x.PaymentGatewayStatusID
	   --, x.IsCreditOrigin
	   --, gb.isGB
	   --, ~gb.isGB AS isBlanketMask
	   , ROW_NUMBER() OVER (PARTITION BY x.OIN, x.BrandID ORDER BY x.ConsumerCombinationID_DD DESC)			   --rw -- for nFI joins since they have a MID and BrandID
	 FROM Warehouse.Relational.ConsumerCombination_DD x
	 --LEFT JOIN Warehouse.Relational.ConsumerCombination mcc
		-- ON mcc.ConsumerCombinationID = x.ConsumerCombinationID_DD
	--CROSS APPLY (
		--SELECT CAST(COALESCE(MAX(1), 0) AS BIT) -- 1 if country is classed as 'GB'
		--FROM dbo.Masking_GBCountries g
		--WHERE mcc.LocationCountry = g.CountryCode
	--) gb(isGB)

	SELECT @RowCount = @@rowcount

	----------------------------------------------------------------------
	-- Create Index
	----------------------------------------------------------------------
	CREATE UNIQUE CLUSTERED INDEX ucix_Processing_consumercombinations ON Processing.Masking_ConsumerCombinations_DD (ConsumerCombinationID_DD, oin)

	RETURN @RowCount

	END
GO
