USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__FileExtraction_Transaction_Staging_Fetch_Backfill_RS_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 01/09/2020
-- Description:	Fetches the set of rows from the transaction file based on
				how big the batch is and the batch required

------------------------------------------------------------------------------
Modification History

[Date] [User]
	- [Description]

******************************************************************************/
CREATE PROCEDURE [Processing].[__FileExtraction_Transaction_Staging_Fetch_Backfill_RS_Archived](
	@LoopID INT -- The row number to pull from
  , @BatchSize INT -- the number of rows to pull
)

AS
BEGIN

	DECLARE @EndLoopID INT = @LoopID + @BatchSize

	SELECT
		TransSequenceID
	  , RewardProxyUserID
	  , PerturbedDate
	  , RewardProxyMIDTupleID
	  , PerturbedAmount
	  , CurrencyCode
	  , CardholderPresentFlag
	  , CardType
	  , CardholderPostArea
	FROM Processing.FileExtraction_Transaction_Staging_Backfill_RS fets
	WHERE fets.LoopID >= @LoopID AND fets.LoopID < @EndLoopID

	RETURN @@rowcount

END
GO
