USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__Email_CheckForMissingFiles_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Processing].[__Email_CheckForMissingFiles_Archived]
AS
BEGIN

	DECLARE @Subject VARCHAR(500)

	--SELECT 
	--	@Subject = 'Affinity - ' + NULLIF(FilesMissing, '') + ' Missing' 
	--FROM Processing.vw_MissingFiles
	--WHERE ID = (SELECT MAX(ID) FROM Processing.vw_MissingFiles)

	SELECT	@Subject = 'NWG Transaction Processing - ' + ErrorDetail
	FROM [Processing].[vw_MissingFiles_V2]
	WHERE ExpectedRun = 0

	IF @Subject IS NOT NULL
		BEGIN

			EXEC msdb.dbo.sp_send_dbmail	@profile_name = 'Administrator'
										,	@recipients = 'DIProcessCheckers <diprocesscheckers@rewardinsight.com>;Zoe Taylor <Zoe.Taylor@rewardinsight.com>; Kevin Corbett <kevin.corbett@rewardinsight.com>; Rory Francis <Rory.Francis@rewardinsight.com>'
										,	@Subject = @Subject
										,	@importance = 'High'

		END
END


GO
