USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Email_CheckNobleFileTransactionCount_PostMigration]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Processing].[Email_CheckNobleFileTransactionCount_PostMigration]
AS
BEGIN

DROP TABLE IF EXISTS #TransactionFiles_All
SELECT	tf.[TableName]
	,	tf.[FileID]
	,	tf.[FileName]
	,	tf.[FileNameDate]
	,	tf.[LoadDate]
	,	tf.[LoadDateDay]
	,	[LoadDateRank] = DENSE_RANK() OVER (ORDER BY tf.[LoadDate] DESC)
	,	[LoadDateDayRank] = DENSE_RANK() OVER (PARTITION BY tf.[LoadDateDay]  ORDER BY tf.[LoadDate] DESC)
INTO #TransactionFiles_All
FROM (	SELECT	[TableName] =	CASE
									WHEN tf.[FileName] LIKE '%.DDTRN.%' THEN tf.[TableName]
									WHEN tf.[FileName] LIKE '%.TRANS.%' THEN tf.[TableName] + '_D'
									WHEN tf.[FileName] LIKE '%PRD.T.%' THEN tf.[TableName] + '_C'
								END
			,	[FileID] = tf.[ID]
			,	tf.[FileName]
			,	[FileNameDate] =	CASE
										WHEN tf.[FileName] LIKE '%.DDTRN.%' THEN tf.[FileNameDate]
										WHEN tf.[FileName] LIKE '%.TRANS.%' THEN DATEADD(DAY, 1, tf.[FileNameDate])
										WHEN tf.[FileName] LIKE '%PRD.T.%' THEN DATEADD(DAY, 1, tf.[FileNameDate])
									END
			,	[LoadDate] = CONVERT(DATE, tf.[LoadDate])
			,	[LoadDateDay] = DATENAME(WEEKDAY, CONVERT(DATE, tf.[LoadDate]))
		FROM [WH_NWG].[WHB].[Transaction_Files] tf
		WHERE (	tf.[FileName] LIKE '%.DDTRN.%'
			OR	tf.[FileName] LIKE '%.TRANS.%'
			OR	tf.[FileName] LIKE '%PRD.T.%')) tf

DECLARE @LoadDate DATE = GETDATE()
	,	@Today DATE = (SELECT MAX([LoadDate]) FROM #TransactionFiles_All)

DROP TABLE IF EXISTS #TransactionFiles
SELECT	tf.[TableName]
	,	tf.[FileID]
	,	tf.[FileName]
	,	tf.[FileNameDate]
	,	tf.[LoadDate]
	,	tf.[LoadDateDay]
	,	tf.[LoadDateRank]
	,	tf.[LoadDateDayRank]
INTO #TransactionFiles
FROM #TransactionFiles_All tf
WHERE tf.[LoadDateDayRank] IN (1, 2)
AND EXISTS (SELECT 1
			FROM #TransactionFiles_All tf2
			WHERE tf.[LoadDateDay] = tf2.[LoadDateDay]
			AND tf2.[LoadDateRank] = 1)
ORDER BY	tf.[LoadDate] DESC
		,	tf.[FileNameDate] DESC
		,	tf.[TableName]

DECLARE	@FileCountToday INT
	,	@ContainsFilesForToday BIT = 0

SELECT @FileCountToday = COUNT(*)
FROM #TransactionFiles
WHERE [LoadDate] = @LoadDate

IF @FileCountToday > 0 SET @ContainsFilesForToday = 1

IF @ContainsFilesForToday = 0 RETURN

DROP TABLE IF EXISTS #TransationCounts
SELECT	[DataSource] = 'Inbound_Transactions'
	,	it.[FileID]
	,	[PublisherID] =	CASE
							WHEN it.[BankID] = '0365' THEN 'RBS'
							WHEN it.[BankID] = '0278' THEN 'NW'
						END
	,	it.[IsValidTransaction]
	,	[InProg] = NULL
	,	[Transactions] = COUNT(1)
	,	[TransactionsWithCard] = COUNT(CASE WHEN it.[CardGUID] IS NOT NULL THEN 1 END)
	,	[TransactionsWithMID] = COUNT(CASE WHEN it.[MerchantID] IS NOT NULL THEN 1 END)
INTO #TransationCounts
FROM [WH_NWG].[WHB].[Inbound_Transactions] it WITH (NOLOCK)
WHERE EXISTS (	SELECT 1
				FROM #TransactionFiles tf
				WHERE it.[FileID] = tf.[FileID]
				AND tf.[TableName] = 'Transactions_D')
GROUP BY	it.[FileID]
		,	CASE
				WHEN it.[BankID] = '0365' THEN 'RBS'
				WHEN it.[BankID] = '0278' THEN 'NW'
			END
		,	it.[IsValidTransaction]
ORDER BY	it.[FileID]
		,	CASE
				WHEN it.[BankID] = '0365' THEN 'RBS'
				WHEN it.[BankID] = '0278' THEN 'NW'
			END
		,	it.[IsValidTransaction]

INSERT INTO #TransationCounts
SELECT	[DataSource] = 'Inbound_Transactions'
	,	it.[FileID]
	,	[PublisherID] =	CASE
							WHEN ic.[BankID] = '1' THEN 'NW'
							WHEN ic.[BankID] = '2' THEN 'RBS'
						END
	,	it.[IsValidTransaction]
	,	[InProg] = NULL
	,	[Transactions] = COUNT(1)
	,	[TransactionsWithCard] = COUNT(CASE WHEN it.[CardGUID] IS NOT NULL THEN 1 END)
	,	[TransactionsWithMID] = COUNT(CASE WHEN it.[MerchantID] IS NOT NULL THEN 1 END)
FROM [WH_NWG].[WHB].[Inbound_Transactions] it WITH (NOLOCK)
LEFT JOIN [WH_NWG].[WHB].[Inbound_Customers] ic
	ON it.[CustomerGUID] = ic.[CustomerGUID]
WHERE EXISTS (	SELECT 1
				FROM #TransactionFiles tf
				WHERE it.[FileID] = tf.[FileID]
				AND tf.[TableName] = 'Transactions_C')
GROUP BY	it.[FileID]
		,	CASE
				WHEN ic.[BankID] = '1' THEN 'NW'
				WHEN ic.[BankID] = '2' THEN 'RBS'
			END
		,	it.[IsValidTransaction]
ORDER BY	it.[FileID]
		,	CASE
				WHEN ic.[BankID] = '1' THEN 'NW'
				WHEN ic.[BankID] = '2' THEN 'RBS'
			END
		,	it.[IsValidTransaction]
		
INSERT INTO #TransationCounts
SELECT	[DataSource] = 'Inbound_Transactions'
	,	tf.[FileID]
	,	[PublisherID] =	CASE
							WHEN it.[BankID] = '0365' THEN 'RBS'
							WHEN it.[BankID] = '0278' THEN 'NW'
						END
	,	[IsValidTransaction] = 1
	,	[InProg] = NULL
	,	[Transactions] = COUNT(1)
	,	[TransactionsWithCard] = COUNT(CASE WHEN it.[CustomerGUID] IS NOT NULL THEN 1 END)
	,	[TransactionsWithMID] = COUNT(CASE WHEN it.[OIN] IS NOT NULL THEN 1 END)
FROM [WH_NWG].[Inbound].[Transactions_DD] it WITH (NOLOCK)
INNER JOIN #TransactionFiles tf
	ON it.[FileName] = tf.[FileName]
	AND tf.[TableName] = 'Transactions_DD'
GROUP BY	tf.[FileID]
		,	CASE
				WHEN it.[BankID] = '0365' THEN 'RBS'
				WHEN it.[BankID] = '0278' THEN 'NW'
			END

--	Debit

	--	ConsumerTransaction

		INSERT INTO #TransationCounts
		SELECT	[DataSource] = 'CT'
			,	cth.[FileID]
			,	[PublisherID] =	CASE
									WHEN cu.[ClubID] = 138 THEN 'RBS'
									WHEN cu.[ClubID] = 132 THEN 'NW'
								END
			,	[IsValidTransaction] = 1
			,	[InProg] =	CASE
								WHEN cu.[CustomerGUID] IS NULL THEN 0
								ELSE 1
							END
			,	[Transactions] = COUNT(1)
			,	[TransactionsWithCard] = COUNT(1)
			,	[TransactionsWithMID] = COUNT(1)
		FROM [WH_NWG].[Trans].[ConsumerTransaction_DebitCard] cth
		INNER JOIN [WH_NWG].[Derived].[CINList] cl
			ON cth.[CINID] = cl.[CINID]
		LEFT JOIN [WH_NWG].[Derived].[Customer] cu
			ON cl.[CIN] = cu.[SourceUID]
		WHERE EXISTS (	SELECT 1
						FROM #TransactionFiles tf
						WHERE cth.[FileID] = tf.[FileID]
						AND tf.[TableName] = 'Transactions_D')
		GROUP BY	cth.[FileID]
				,	CASE
						WHEN cu.[ClubID] = 138 THEN 'RBS'
						WHEN cu.[ClubID] = 132 THEN 'NW'
					END
				,	CASE
						WHEN cu.[CustomerGUID] IS NULL THEN 0
						ELSE 1
					END

	--	ConsumerTransaction Holding
			
		INSERT INTO #TransationCounts
		SELECT	[DataSource] = 'CTH'
			,	cth.[FileID]
			,	[PublisherID] =	CASE
									WHEN cu.[ClubID] = 138 THEN 'RBS'
									WHEN cu.[ClubID] = 132 THEN 'NW'
								END
			,	[IsValidTransaction] = 1
			,	[InProg] =	CASE
								WHEN cu.[CustomerGUID] IS NULL THEN 0
								ELSE 1
							END
			,	[Transactions] = COUNT(1)
			,	[TransactionsWithCard] = COUNT(1)
			,	[TransactionsWithMID] = COUNT(1)
		FROM [WH_NWG].[Trans].[ConsumerTransactionHolding] cth
		INNER JOIN [WH_NWG].[Derived].[CINList] cl
			ON cth.[CINID] = cl.[CINID]
		LEFT JOIN [WH_NWG].[Derived].[Customer] cu
			ON cl.[CIN] = cu.[SourceUID]
		WHERE EXISTS (	SELECT 1
						FROM #TransactionFiles tf
						WHERE cth.[FileID] = tf.[FileID]
						AND tf.[TableName] = 'Transactions_D')
		GROUP BY	cth.[FileID]
				,	CASE
						WHEN cu.[ClubID] = 138 THEN 'RBS'
						WHEN cu.[ClubID] = 132 THEN 'NW'
					END
				,	CASE
						WHEN cu.[CustomerGUID] IS NULL THEN 0
						ELSE 1
					END

	--	MIDI Holding
			
		INSERT INTO #TransationCounts
		SELECT	[DataSource] = 'MH'
			,	cth.[FileID]
			,	[PublisherID] =	NULL
			,	[IsValidTransaction] = 1
			,	[InProg] =	NULL
			,	[Transactions] = COUNT(1)
			,	[TransactionsWithCard] = COUNT(1)
			,	[TransactionsWithMID] = COUNT(1)
		FROM [WH_NWG].[MIDI].[MIDIHolding_Debit] cth
		WHERE EXISTS (	SELECT 1
						FROM #TransactionFiles tf
						WHERE cth.[FileID] = tf.[FileID]
						AND tf.[TableName] = 'Transactions_D')
		GROUP BY	cth.[FileID]

--	Credit

	--	ConsumerTransaction

		INSERT INTO #TransationCounts
		SELECT	[DataSource] = 'CT'
			,	cth.[FileID]
			,	[PublisherID] =	CASE
									WHEN cu.[ClubID] = 138 THEN 'RBS'
									WHEN cu.[ClubID] = 132 THEN 'NW'
								END
			,	[IsValidTransaction] = 1
			,	[InProg] =	CASE
								WHEN cu.[CustomerGUID] IS NULL THEN 0
								ELSE 1
							END
			,	[Transactions] = COUNT(1)
			,	[TransactionsWithCard] = COUNT(1)
			,	[TransactionsWithMID] = COUNT(1)
		FROM [WH_NWG].[Trans].[ConsumerTransaction_CreditCard] cth
		INNER JOIN [WH_NWG].[Derived].[CINList] cl
			ON cth.[CINID] = cl.[CINID]
		LEFT JOIN [WH_NWG].[Derived].[Customer] cu
			ON cl.[CIN] = cu.[SourceUID]
		WHERE EXISTS (	SELECT 1
						FROM #TransactionFiles tf
						WHERE cth.[FileID] = tf.[FileID]
						AND tf.[TableName] = 'Transactions_C')
		GROUP BY	cth.[FileID]
				,	CASE
						WHEN cu.[ClubID] = 138 THEN 'RBS'
						WHEN cu.[ClubID] = 132 THEN 'NW'
					END
				,	CASE
						WHEN cu.[CustomerGUID] IS NULL THEN 0
						ELSE 1
					END

	--	ConsumerTransaction Holding
			
		INSERT INTO #TransationCounts
		SELECT	[DataSource] = 'CTH'
			,	cth.[FileID]
			,	[PublisherID] =	CASE
									WHEN cu.[ClubID] = 138 THEN 'RBS'
									WHEN cu.[ClubID] = 132 THEN 'NW'
								END
			,	[IsValidTransaction] = 1
			,	[InProg] =	CASE
								WHEN cu.[CustomerGUID] IS NULL THEN 0
								ELSE 1
							END
			,	[Transactions] = COUNT(1)
			,	[TransactionsWithCard] = COUNT(1)
			,	[TransactionsWithMID] = COUNT(1)
		FROM [WH_NWG].[Trans].[ConsumerTransaction_CreditCardHolding] cth
		INNER JOIN [WH_NWG].[Derived].[CINList] cl
			ON cth.[CINID] = cl.[CINID]
		LEFT JOIN [WH_NWG].[Derived].[Customer] cu
			ON cl.[CIN] = cu.[SourceUID]
		WHERE EXISTS (	SELECT 1
						FROM #TransactionFiles tf
						WHERE cth.[FileID] = tf.[FileID]
						AND tf.[TableName] = 'Transactions_C')
		GROUP BY	cth.[FileID]
				,	CASE
						WHEN cu.[ClubID] = 138 THEN 'RBS'
						WHEN cu.[ClubID] = 132 THEN 'NW'
					END
				,	CASE
						WHEN cu.[CustomerGUID] IS NULL THEN 0
						ELSE 1
					END

	--	MIDI Holding
			
		INSERT INTO #TransationCounts
		SELECT	[DataSource] = 'MH'
			,	cth.[FileID]
			,	[PublisherID] =	NULL
			,	[IsValidTransaction] = 1
			,	[InProg] =	NULL
			,	[Transactions] = COUNT(1)
			,	[TransactionsWithCard] = COUNT(1)
			,	[TransactionsWithMID] = COUNT(1)
		FROM [WH_NWG].[MIDI].[MIDIHolding_Credit] cth
		WHERE EXISTS (	SELECT 1
						FROM #TransactionFiles tf
						WHERE cth.[FileID] = tf.[FileID]
						AND tf.[TableName] = 'Transactions_C')
		GROUP BY	cth.[FileID]



DROP TABLE IF EXISTS #TableCounts
SELECT	tf.[TableName]
	,	tf.[LoadDate]
	,	tf.[LoadDateDayRank]
	,	tc.[DataSource]
	,	tc.[PublisherID]
	,	tc.[IsValidTransaction]
	,	tc.[InProg]
	,	[Transactions] = SUM(COALESCE(tc.[Transactions] ,0))
	,	[TransactionsWithCard] = SUM(COALESCE(tc.[TransactionsWithCard] ,0))
	,	[TransactionsWithMID] = SUM(COALESCE(tc.[TransactionsWithMID] ,0))
INTO #TableCounts
FROM #TransactionFiles tf
LEFT JOIN #TransationCounts tc
	ON tf.[FileID] = tc.[FileID]
GROUP BY	tf.[TableName]
		,	tf.[LoadDate]
		,	tf.[LoadDateDayRank]
		,	tc.[DataSource]
		,	tc.[PublisherID]
		,	tc.[IsValidTransaction]
		,	tc.[InProg]
ORDER BY	tf.[TableName]
		,	tf.[LoadDate]
		,	tf.[LoadDateDayRank]
		,	tc.[PublisherID]
		,	tc.[IsValidTransaction]

INSERT INTO #TableCounts
SELECT	DISTINCT
		tc.[TableName]
	,	tc.[LoadDate]
	,	tc.[LoadDateDayRank]
	,	ds.[DataSource]
	,	[PublisherID] = NULL
	,	[IsValidTransaction] = NULL
	,	[InProg] = NULL
	,	[Transactions] = 0
	,	[TransactionsWithCard] = 0
	,	[TransactionsWithMID] = 0
FROM #TableCounts tc
CROSS JOIN (SELECT [DataSource] = 'Inbound_Transactions' UNION SELECT [DataSource] = 'CT' UNION SELECT [DataSource] = 'CTH' UNION SELECT [DataSource] = 'MH') ds
WHERE NOT EXISTS (	SELECT 1
					FROM #TableCounts tc2
					WHERE tc.[TableName] = tc2.[TableName]
					AND tc.[LoadDate] = tc2.[LoadDate]
					AND ds.[DataSource] = tc2.[DataSource])

DROP TABLE IF EXISTS #Affinty_DailyFileCheck
SELECT	tc.[TableName]
	,	tc.[LoadDateDayRank]
	,	[DataSource] =	CASE
							WHEN tc.[DataSource] IN ('CTH', 'CT', 'MH') THEN 'MIDI'
							ELSE tc.[DataSource]
						END
	,	[Transactions_Total] = SUM(tc.[Transactions])
	,	[Transactions_InProg] = SUM(CASE WHEN tc.[InProg] = 1 THEN tc.[Transactions] ELSE 0 END)
	,	[Transactions_OutOfProg] = SUM(CASE WHEN tc.[InProg] = 0 THEN tc.[Transactions] ELSE 0 END)
	,	[Transactions_NW] = SUM(CASE WHEN tc.[PublisherID] = 'NW' THEN tc.[Transactions] ELSE 0 END)
	,	[Transactions_RBS] = SUM(CASE WHEN tc.[PublisherID] = 'RBS' THEN tc.[Transactions] ELSE 0 END)
	,	[Transactions_Valid] = SUM(CASE WHEN tc.[IsValidTransaction] = 1 THEN tc.[Transactions] ELSE 0 END)
	,	[Transactions_WithCard] = SUM(tc.[TransactionsWithCard])
	,	[Transactions_WithMID] = SUM(tc.[TransactionsWithMID])
INTO #Affinty_DailyFileCheck
FROM #TableCounts tc
GROUP BY	tc.[TableName]
		,	tc.[LoadDateDayRank]
		,	CASE
				WHEN tc.[DataSource] IN ('CTH', 'CT', 'MH') THEN 'MIDI'
				ELSE tc.[DataSource]
			END
ORDER BY	tc.[TableName]
		,	tc.[LoadDateDayRank]
		,	CASE
				WHEN tc.[DataSource] IN ('CTH', 'CT', 'MH') THEN 'MIDI'
				ELSE tc.[DataSource]
			END


DROP TABLE IF EXISTS ##Affinty_DailyFileCheck
SELECT	[Table Name] = dfc.[TableName]
	,	[Transactions Total] = dfc.[Transactions_Total]
	,	[Previous Transactions Same Weekday Total] = dfc2.[Transactions_Total]
	,	[% Diff From Previous] = (CONVERT(DECIMAL(11,2), dfc.[Transactions_Total]) - CONVERT(DECIMAL(11,2), dfc2.[Transactions_Total])) / CONVERT(DECIMAL(11,2), dfc2.[Transactions_Total]) * 100
	,	[Transactions In ConsumerTrans] = dfc3.[Transactions_Total]
	,	[Transactions In ConsumerTrans InProg] = dfc3.[Transactions_InProg]
	,	[Transactions In ConsumerTrans OutOfProg] = dfc3.[Transactions_OutOfProg]
	,	[Transactions NW] = dfc.[Transactions_NW]
	,	[Transactions RBS] = dfc.[Transactions_RBS]
	,	[Transactions Valid] = dfc.[Transactions_Valid]
	,	[Transactions With Card] = dfc.[Transactions_WithCard]
	,	[Transactions With MID] = dfc.[Transactions_WithMID]
INTO ##Affinty_DailyFileCheck
FROM #Affinty_DailyFileCheck dfc
LEFT JOIN #Affinty_DailyFileCheck dfc2
	ON dfc.[TableName] = dfc2.[TableName]
	AND dfc.[DataSource] = dfc2.[DataSource]
	AND dfc.[LoadDateDayRank] < dfc2.[LoadDateDayRank]
LEFT JOIN #Affinty_DailyFileCheck dfc3
	ON dfc.[TableName] = dfc3.[TableName]
	AND dfc.[LoadDateDayRank] = dfc3.[LoadDateDayRank]
	AND dfc3.[DataSource] = 'MIDI'
WHERE dfc.[DataSource] = 'Inbound_Transactions'
AND dfc.[LoadDateDayRank] = 1
			
			Declare @Date VarChar(11) = getdate()

	/*******************************************************************************************************************************************
		1. Declare User Variables & set initial email text & HTML style
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			1.1. Declare User Variables
		***********************************************************************************************************************/

			Declare @Style VarChar(Max)
				  , @Body VarChar(Max)
				  , @Message VarChar(Max)
				
				  , @List VarChar(Max)
				
				  , @Table2 VarChar(Max)
				
				  , @Regards VarChar(Max)
				  , @Excel VarChar(Max)
			  

		/***********************************************************************************************************************
			1.2. Set opening message, list of data pints validated and sign offer
		***********************************************************************************************************************/

			Set @Message = 'A debit file has been imported from the Noble process. This contains #% difference in transactions than the previous imported file (on the same Weekday). This is outside the acceptable range.' -- Normal Messages, # Replaced with customer Count


			-- Bullet point messages, appears after @Message
			/*Set @List ='To confirm, I have checked if:
			any offers are duplicated in the OPE
			there are any offers going live that are missing from the OPE
			there are offers in the OPE that are not going live'*/

			Set @Regards = 'Regards, Data Operations'
			  

		/***********************************************************************************************************************
			1.3. Set email HTML style
		***********************************************************************************************************************/
	
			Set @Style =
			'<style>
				table {border-collapse: collapse;}

				p {font-family: Calibri;}

				th {padding: 10px;}

				table, td {padding: 0 10 0 10;}

				table, td, th {border: 1px solid black;
							   font-family: Calibri;}
			</style>'


	/*******************************************************************************************************************************************
		2. Update the email with the counts of offers with issues and format the rest of the email contents
	*******************************************************************************************************************************************/
	
		-- Format list into bullet points

		Set @List = '<p>' + Substring(@List, 1, CharIndex(Char(13) + Char(10), @List)) + '</p>'
				  + '<ul><li><p>' + Replace(Substring(@List, CharIndex(Char(13) + Char(10), @List)+1, 9999), Char(13) + Char(10), '</p></li><li><p>')
				  + '</p></li></ul>'

		-- Update sapcing in sign off

		Set @Regards = '<br>' + Replace(@Regards, ', ', ',<br>')


	/*******************************************************************************************************************************************
		3. Fetch data to display in the email and then reformat them to be shown in an actual table structure
	*******************************************************************************************************************************************/
		
			/***********************************************************************************************************************
				3.1. Create table displaying each offer that has an error
			***********************************************************************************************************************/
			
				Set @Table2 = IsNull(Convert(VarChar(Max),
								(Select '<td nowrap="nowrap">' + IsNull(Convert(VarChar(100), [Table Name]), '')
												 + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions Total]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Previous Transactions Same Weekday Total]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [% Diff From Previous])+'%', '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions In ConsumerTrans]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions In ConsumerTrans InProg]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions In ConsumerTrans OutOfProg]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions NW]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions RBS]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions Valid]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions With Card]), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), [Transactions With MID]), '')
												
												 + '</td>'
								 FROM ##Affinty_DailyFileCheck

								 For XML Path ('tr'), type)), '')


		


				Set @Table2 = '<table style="border-collapse: collapse; border: 1px solid black">'
						   + '<tr>'
						   + '<th colspan=12><b>Transaction Files</b></th>'
						   + '</tr><tr>'
						   + '<th>Table Name</th><th>Transactions Total</th><th>Previous Transactions Same Weekday Total</th><th>% Diff From Previous</th><th>Transactions In ConsumerTrans</th><th>Transactions In ConsumerTrans InProg</th><th>Transactions In ConsumerTrans OutOfProg</th><th>Transactions NW</th><th>Transactions RBS</th><th>Transactions Valid</th><th>Transactions With Card</th><th>Transactions With MID</th>' -- Heading names
						   + '</tr>'
						   + Replace(Replace(Replace( Replace( @Table2, '&lt;', '<' ), '&gt;', '>' ), '&amp;', '&'), '<td>', '<td style="height:28px">')
						   + '</table>'
						   + '<br>'

			

	/*******************************************************************************************************************************************
		4. Combine variables to form email body
	*******************************************************************************************************************************************/
	
		Set @Body = @Style + @Message + @Table2  + @Regards

	/*******************************************************************************************************************************************
		5. Send email
	*******************************************************************************************************************************************/

		Declare --@AttachName VarChar(Max) = 'TEST_Email ' + Convert(VarChar(10), @Date) + ' Reviewed.csv'
			   @emailsubject VarChar(Max) = 'Affinity Files Details - ' + Convert(VarChar(11), @Date)

		exec msdb..sp_send_dbmail @profile_name					= 'Administrator'
								, @recipients					= 'Rory Francis <Rory.Francis@RewardInsight.com>; Zoe Kelly <Zoe.Zoe@RewardInsight.com>; DIProcessCheckers <DIProcessCheckers@RewardInsight.com>'
								, @subject						= @emailsubject
								, @execute_query_database		= 'Warehouse'
								, @query						= @Excel
								--, @attach_query_result_as_file	= 1
								--, @query_attachment_filename	= @AttachName
								, @query_result_separator		= ';'
								, @query_result_no_padding		= 1
								, @query_result_header			= 0
								, @query_result_width			= 32767
								, @body							= @body
								, @body_format					= 'HTML'
								, @importance					= 'HIGH'

END

GO
