USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__Execute_Compression_DRI646_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Processing].[__Execute_Compression_DRI646_Archived]
(
	@SourceFile VARCHAR(MAX)
	, @DestFile VARCHAR(MAX)
)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED --  
	DECLARE @sql varchar(4000)
	SET @sql = 'cd.. && "C:\Program Files\7-Zip\7z.exe" a "' + @DestFile + '" "' + @SourceFile + '"'

	IF OBJECT_ID('tempdb..#Output') IS NOT NULL DROP TABLE #Output; CREATE TABLE #output (line varchar(MAX))
	INSERT #output EXEC xp_cmdshell @sql	

END
GO
