USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[ToArchive_TranDates_Insert]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Processing].[ToArchive_TranDates_Insert]
AS
BEGIN

	DECLARE @TranDate DATE = '1900-01-01'
		,	@Loops INT = 0

	WHILE @Loops < 30
		BEGIN

			INSERT INTO [Processing].[ToArchive_TranDates] (	[REW_TranDate]
																	,	[Processed]
																	,	[PrecessedDate])
			SELECT	[REW_TranDate] = MIN([REW_TranDate])
				,	[Processed] = 0
				,	[PrecessedDate] = NULL
			FROM [dbo].[Transactions] tr
			WHERE tr.[REW_TranDate] > @TranDate
			--AND NOT EXISTS (	SELECT 1
			--					FROM [Processing].[ToArchive_TranDates] td
			--					WHERE tr.[REW_TranDate] = td.[REW_TranDate]
			--					AND td.[Processed] = 0)


			SELECT @TranDate = MAX([REW_TranDate])
			FROM [Processing].[ToArchive_TranDates] td
			WHERE td.[Processed] = 0


			SET @Loops = @Loops + 1

		END

END
GO
