USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[FileSentFromAffinity_PT2]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Processing].[FileSentFromAffinity_PT2] @ClientID INT
AS
BEGIN

SELECT TOP (1000) [dpx_id]
				, [cohort_id]
FROM [Affinity].[RoyalMail].[X_Cohort_AffinityImportFile]

-- Import cohort map list that client provides
--Creating temp table to store the customers cohorts before they get switched incase they are needed
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'HistoricalCohorts')
BEGIN
CREATE TABLE HistoricalCohorts (
			dpx_id VARCHAR(100),
			cohort_id VARCHAR(100),
			ClientID INT,
			AddedDate DATETIME
			)
END

--Record the info
INSERT INTO HistoricalCohorts (dpx_id, cohort_id, ClientID, AddedDate)
SELECT dpx_id, cohort_id, 1 , AddedDate
FROM [Affinity].[RoyalMail].[X_Cohort_AffinityImportFile]

--Query Historical Cohorts
SELECT TOP (100) *
FROM HistoricalCohorts

END
GO
