USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Standing_Postcode_Unit_Match]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE   PROCEDURE [Processing].[Standing_Postcode_Unit_Match] @ClientID INT
	AS
	BEGIN
	SET NOCOUNT ON;
	RAISERROR('Stage 0: Procedure started (Standing_Postcode_Unit_Match)', 10, 1) WITH NOWAIT;

	--------------------------------------------------------------------------------------------
	--Creating and assigning randomly generate 'Cohort IDs' to every unique postcode. Not hashed
	--Creating the dataset to send to the client
	--------------------------------------------------------------------------------------------
	RAISERROR('Stage 1: Building Cohort_Postcode_Map', 10, 1) WITH NOWAIT;
	DROP TABLE IF EXISTS [Affinity].[RoyalMail].[Cohort_Postcode_Map]
	CREATE TABLE [Affinity].[RoyalMail].[Cohort_Postcode_Map] (
	Postcode NVARCHAR(255),
	Cohort_ID UNIQUEIDENTIFIER)

	INSERT INTO [Affinity].[RoyalMail].[Cohort_Postcode_Map] (Postcode)
	SELECT DISTINCT Postcode
	FROM [Affinity].[RoyalMail].[PAFData]

	UPDATE [Affinity].[RoyalMail].[Cohort_Postcode_Map]
	SET Cohort_ID = ISNULL(Cohort_ID, NEWID())


	--------------------------------------------------------------------------------------------
	--Internally join the previous Cohort_Postcode_Map to Proxy User IDs using postcode as the
	--match key. This has been done using the customers_Geo_Build table. - using cohort map file from customer
	--------------------------------------------------------------------------------------------
	RAISERROR('Stage 2: Joining postcode map to cardholders', 10, 1) WITH NOWAIT;
	DROP TABLE IF EXISTS [Affinity].[RoyalMail].[Cohort_Cardholder_PostcodeMap_Final]
	SELECT p.ProxyUserID, c.Cohort_ID, c.Postcode
	INTO [Affinity].[RoyalMail].[Cohort_Cardholder_PostcodeMap_Final]
	FROM [Affinity].[Processing].[Customers_GEO_Build] p 
	JOIN [Affinity].[RoyalMail].[Cohort_Postcode_Map] c ON p.Postcode = c.Postcode

	--Rory code sent
	DROP TABLE IF EXISTS [Affinity].[RoyalMail].[Cohort_Cardholder_Postcode_Map]
	SELECT	am.[ProxyUserID]
		,	am.[FanID] as FanIDNew
		,	am.[PostCode]
		,	cm.[cohort_id]
	INTO #temptable2
	FROM [Affinity].[RoyalMail].[Aubergine_X_Cohort_map] cm
	INNER JOIN [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN] ha
		ON cm.[dpx_id] = ha.[NX_ID]
	INNER JOIN [Affinity].[RoyalMail].[AddressMatching] am
		ON ha.UnhashedAddress = am.UnhashedAddress --CHANGED FROM POSTCODE
	ORDER BY	am.[ProxyUserID]


	--------------------------------------------------------------------------------------------
	--Matching the postcodes
	--------------------------------------------------------------------------------------------
	RAISERROR('Stage 3: Matching eligible customers to postcodes', 10, 1) WITH NOWAIT;
	--Getting eligble customers
	DROP TABLE IF EXISTS #EligibleCustomers
	SELECT FanID,PostalSector,PostArea,PostCodeDistrict,PostCode,REPLACE(Postcode, ' ', '') AmendedPostcode
	INTO #EligibleCustomers
	FROM WH_NWG.Derived.Customer
	WHERE PostCode is not NUll
	AND PostArea is not null
	AND PostCodeDistrict is not null
	AND PostalSector is not null
	AND CurrentlyActive = 1 


	--Selecting all postcodes from PAF Data table, removes spaces and adds into column called 'Amended Postcode'
	DROP TABLE IF EXISTS #allPostcodes
	SELECT Postcode,REPLACE(Postcode, ' ', '') AmendedPostcode
	INTO #allPostcodes
	FROM [Affinity].[RoyalMail].[PAFData]
	GROUP BY Postcode

	--Matches postcode against customer using previous table Eligible customer
	DROP TABLE IF EXISTS #matchedPostcodes
	SELECT FanID,ap.postcode,ap.AmendedPostcode
	INTO #MatchedPostcodes
	FROM  #EligibleCustomers ec 
	JOIN #allPostcodes ap
	ON ec.AmendedPostcode = ap.AmendedPostcode
 
	DROP TABLE IF EXISTS [Affinity].[RoyalMail].[Cohort_Postcode_Map_Match_Final]
	SELECT	FanID,
			hp.ProxyUserID,
			hp.PostCode,
			hp.cohort_id,
			mp.AmendedPostcode
	INTO [Affinity].[RoyalMail].[Cohort_Postcode_Map_Match_Final]
	FROM #temptable2 hp
	JOIN #MatchedPostcodes mp 
	ON hp.FanIDNew = mp.FanID

	----------------------------------------------------------------------
	-- Create a file with the NX-IDs and 3P COHORT IDs for the 
	-- singletons and call this the Singleton File
	----------------------------------------------------------------------
	RAISERROR('Stage 4: Preparing indexes and working input file', 10, 1) WITH NOWAIT;

	IF NOT EXISTS (
		SELECT 1
		FROM sys.indexes
		WHERE name = 'IX_Aubergine_dpx_id'
			AND object_id = OBJECT_ID('[Affinity].[RoyalMail].[Aubergine_X_Cohort_map]')
	)
	BEGIN
		CREATE INDEX IX_Aubergine_dpx_id 
		ON [Affinity].[RoyalMail].[Aubergine_X_Cohort_map] (dpx_id)
	END

	IF NOT EXISTS (
		SELECT 1
		FROM sys.indexes
		WHERE name = 'IX_HashedAddr_PostCode'
			AND object_id = OBJECT_ID('[Affinity].[RoyalMail].[HashedAddress_HashedUDPRN]')
	)
	BEGIN
		CREATE INDEX IX_HashedAddr_PostCode 
		ON [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN] (PostCode) INCLUDE (NX_ID)
	END

	IF NOT EXISTS (
		SELECT 1
		FROM sys.indexes
		WHERE name = 'IX_CohortMap_FanID'
			AND object_id = OBJECT_ID('[Affinity].[RoyalMail].[Cohort_Postcode_Map_Match_Final]')
	)
	BEGIN
		CREATE INDEX IX_CohortMap_FanID 
		ON [Affinity].[RoyalMail].[Cohort_Postcode_Map_Match_Final] (FanID) INCLUDE (Cohort_ID, AmendedPostcode)
	END


	DROP TABLE IF EXISTS #InputFile2
	SELECT DISTINCT apc.FanID,arc.Cohort_ID,apc.ProxyUserID,apc.Postcode, wpc.PostalSector, wpc.Gender, CASE WHEN wpc.AgeCurrent < 18 THEN '0'WHEN wpc.AgeCurrent BETWEEN 18 and 24 THEN '18-24'WHEN wpc.AgeCurrent BETWEEN 25 and 29 THEN '25-29'WHEN wpc.AgeCurrent BETWEEN 30 and 34 THEN '30-34'WHEN wpc.AgeCurrent BETWEEN 35 and 39 THEN '35-39'WHEN wpc.AgeCurrent BETWEEN 40 and 44 THEN '40-44'WHEN wpc.AgeCurrent BETWEEN 45 and 49 THEN '45-49'WHEN wpc.AgeCurrent BETWEEN 50 and 54 THEN '50-54'WHEN wpc.AgeCurrent BETWEEN 55 and 59 THEN '55-59'WHEN wpc.AgeCurrent BETWEEN 60 and 64 THEN '60-64'WHEN wpc.AgeCurrent BETWEEN 65 and 69 THEN '65-69'WHEN wpc.AgeCurrent BETWEEN 70 and 74 THEN '70-74'WHEN wpc.AgeCurrent BETWEEN 75 and 79 THEN '75-79'WHEN wpc.AgeCurrent BETWEEN 80 and 84 THEN '80-84'WHEN wpc.AgeCurrent BETWEEN 85 and 89 THEN '85-89'WHEN wpc.AgeCurrent BETWEEN 90 and 94 THEN '90-94'WHEN wpc.AgeCurrent BETWEEN 95 and 99 THEN '95-99'WHEN wpc.AgeCurrent BETWEEN 100 and 104 THEN '100-104'WHEN wpc.AgeCurrent BETWEEN 105 and 109 THEN '105-109'WHEN wpc.AgeCurrent BETWEEN 110 and 114 THEN '110-114'WHEN wpc.AgeCurrent BETWEEN 115 and 119 THEN '115-119'
	END AS 'AgeBand'
	,AmendedPostcode
	INTO #InputFile2
	FROM [Affinity].[Processing].[Customers_GEO_Build] apc
	INNER JOIN WH_NWG.Derived.Customer wpc
	ON apc.FanID = wpc.FanID
	INNER JOIN [Affinity].[RoyalMail].[Cohort_Postcode_Map_Match_Final] arc
	ON apc.FanID = arc.FanID
	INNER JOIN [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN] ha
	ON ha.[PostCode] = arc.[AmendedPostcode]
	INNER JOIN [Affinity].[RoyalMail].[Aubergine_X_Cohort_map] cm
	ON cm.[dpx_id] = ha.[NX_ID]
	WHERE  wpc.PostalSector != ''
	AND (apc.PostalArea = wpc.PostArea)

	--Getting singletons.
	RAISERROR('Stage 5: Identifying initial singleton cohorts', 10, 1) WITH NOWAIT;
	DROP TABLE IF EXISTS #CountOfSingletons
	SELECT cohort_id, COUNT(FanID) countOfSingletons
	INTO #CountOfSingletons
	FROM #InputFile2
	GROUP BY cohort_id
	HAVING COUNT(FanID) = 1

	--Generating file.
	DROP TABLE IF EXISTS #SingletonFile1
	SELECT FanID,/*[NI-ID]*/ProxyUserID,AgeBand,Gender,Postcode,PostalSector, cohort_id
	INTO #SingletonFile1
	FROM #InputFile2 i1
	WHERE cohort_id IN (SELECT cohort_id FROM #CountOfSingletons)

	---------------------------------------------------------------------------
	--Delete rows where the cardholder resides in a postal sector that contains
	--fewer than 5 cardholders.
	--Apply swapping logic to 25% of single cohorts
	---------------------------------------------------------------------------
	RAISERROR('Stage 6: Applying postcode masking and minimum address threshold', 10, 1) WITH NOWAIT;

	DROP TABLE IF EXISTS #PostcodeAddressCount
	SELECT REPLACE([Postcode],' ','') AS PostcodeClean
		,COUNT(*) AS AddressCount
	INTO	#PostcodeAddressCount
	FROM #temptable2 --[Affinity].[RoyalMail].[Cohort_Cardholder_Postcode_Map]
	GROUP BY REPLACE([Postcode],' ','')

	drop table if exists #PostcodeMaskedCount2
	/* Summarise no. of postcodes by number of PAF addresses within them */
	;with RollupPt1 as (
	SELECT	AddressCount
		,PostcodeMasked
		,PostcodeClean
		,SUM(NumPostcodes) AS NumPostcodes
	FROM	(
	/* Identify postcodes with < 5 addresses and mask the last digit of the postcode then regroup addresses */
	SELECT	CASE WHEN AddressCount < 5 THEN STUFF(PostcodeClean,LEN(PostcodeClean),1,'_') ELSE PostcodeClean END AS PostcodeMasked
			,PostcodeClean
			,COUNT(DISTINCT PostcodeClean) AS NumPostcodes
			,SUM(AddressCount) AS AddressCount
			
	FROM	#PostcodeAddressCount
	GROUP BY CASE WHEN AddressCount < 5 THEN STUFF(PostcodeClean,LEN(PostcodeClean),1,'_') ELSE PostcodeClean END
			,PostcodeClean
	) a
	GROUP BY AddressCount, PostcodeMasked,PostcodeClean
	),RollupPt2 as (
	select PostcodeMasked,SUM(AddressCount) total
	from RollupPt1
	group by PostcodeMasked
	)
	SELECT C1.*,C2.total
	INTO #PostcodeMaskedCount2
	FROM RollupPt2 C2 
	JOIN RollupPt1 C1
	ON C2.PostcodeMasked = C1.PostcodeMasked

	SELECT top (100) *
	FROM #PostcodeMaskedCount2
	WHERE total < 5

	--Deleting those where the total equals < 5
	delete i 
	from #InputFile2 i
	join #PostcodeMaskedCount2 pmc 
	on i.AmendedPostcode = pmc.PostcodeClean
	where total < 5


	----------------------------------------------------------------------
	-- Calculate number of singletons in each Postal Sector, and 
	-- store this in a file called the Postal Sector Singleton Count File
	----------------------------------------------------------------------
	RAISERROR('Stage 7: Counting singletons by postal sector', 10, 1) WITH NOWAIT;

	DROP TABLE IF EXISTS #PostalSectorSingletonCountFile
	SELECT PostalSector, COUNT(*) countOfSingletons
	INTO #PostalSectorSingletonCountFile
	FROM #SingletonFile1
	GROUP BY PostalSector


	----------------------------------------------------------------------
	-- Delete from the Working File any singletons that are the 
	--	only singleton in their Postal Sector
	----------------------------------------------------------------------

	DELETE FROM #InputFile2
	WHERE PostalSector IN (SELECT PostalSector FROM #PostalSectorSingletonCountFile WHERE countOfSingletons = 1)

	----------------------------------------------------------------------
	-- Clear down the Singleton File created at Step 3
	----------------------------------------------------------------------

	DROP TABLE IF EXISTS #SingletonFile1

	----------------------------------------------------------------------
	-- Query the remaining singletons from the Working File and 
	-- insert them into the empty Singleton File
	----------------------------------------------------------------------

	DROP TABLE IF EXISTS #CountOfSingletons_
	SELECT cohort_id, COUNT(FanID) countOfSingletons
	INTO #CountOfSingletons_
	FROM #InputFile2 i1
	GROUP BY cohort_id
	HAVING COUNT(FanID) = 1

	--Re-generating file.
	DROP TABLE IF EXISTS #SingletonFile2
	SELECT FanID,/*[NI-ID]*/ProxyUserID,Gender,AgeBand,Postcode,PostalSector,cohort_id
	INTO #SingletonFile2
	FROM #InputFile2 i1
	WHERE cohort_id IN (SELECT cohort_id FROM #CountOfSingletons_)


	----------------------------------------------------------------------
	-- Delete all singletons from the Working File
	----------------------------------------------------------------------

	DELETE FROM #InputFile2
	WHERE cohort_id IN (SELECT cohort_id FROM #SingletonFile2)

	----------------------------------------------------------------------
	-- In the Singleton File flag a random 20% of rows with a Boolean
	----------------------------------------------------------------------
	RAISERROR('Stage 8: Flagging swap candidate singletons', 10, 1) WITH NOWAIT;
	ALTER TABLE #SingletonFile2
	ADD swapFlag INT

	create clustered index IX_SingletonFile2_FanID on #SingletonFile2(fanid)
	create nonclustered index IX_SingletonFile2_SwapFlag_FanID on #SingletonFile2(swapFlag, fanid)

	UPDATE #SingletonFile2
    SET swapFlag = 0 WHERE swapFlag IS NULL
    
    DECLARE @percent DECIMAL(10,4);
    DECLARE @totalRows INT;
    DECLARE @rowsFlagged INT;
    DECLARE @singletonSwapThreshold INT;
    DECLARE @counter INT;
    DECLARE @rowsReset INT;

    SET @percent = 20;
    SET @totalRows = (SELECT COUNT(*) FROM #SingletonFile2)
    SET @rowsFlagged = CAST(@totalRows / 100 * @percent AS INT)
    SET @singletonSwapThreshold = 1
    SET @counter = 1
    SET @rowsReset = 0

	--Count the total singletons within the Postal Sector
    DROP TABLE IF EXISTS #CountOfSingletons_Step10
    SELECT PostalSector, COUNT(FanID) countOfSingletons
    INTO #CountOfSingletons_Step10
    FROM #SingletonFile2
    GROUP BY PostalSector

    create clustered index cs_cix on #CountOfSingletons_Step10(PostalSector)
	
	drop table if exists #Singletons
    ;with SingletonCheck1 as (
    select *,row_number() over (partition by postalSector order by NEWID()) SingletonRowNumber
    from #SingletonFile2
    )
    ,SingletonCheck2 as (
    select *,SingletonRowNumber *0.20 as total
    from SingletonCheck1
    )
    select c1.fanid
    into #Singletons
    from SingletonCheck1 c1 
    join SingletonCheck2 c2 
    on c1.fanid = c2.fanid
    and total <= c1.SingletonRowNumber


    update SF2
    set swapflag = 1
    from #SingletonFile2 SF2
    where  exists ( select 1 
                            from #Singletons f
                            where SF2.fanid = f.fanid)

	----------------------------------------------------------------------
	-- Working on the Singleton File, for each Postal Sector that 
	-- contains one (or more) singletons that have been selected for swapping
	----------------------------------------------------------------------
	RAISERROR('Stage 9: Calculating singleton similarity scores', 10, 1) WITH NOWAIT;

	-- Calculate a ‘similarity score’ between every singleton in the Postal Sector 
	-- that has been selected for swapping, and every singleton in the Postal Sector that is eligible for pairing;

	--The similarity score is calculated by starting at 0 then
	-- o	subtracting 100 if the gender is different
	-- o	subtracting 5 for each absolute difference in the 5 year age bracket

	DROP TABLE IF EXISTS #SingletonFile2_Step11
	SELECT A.*,B.FanID AS SimilarityFanID,B.Gender AS SimilarityGender,B.AgeBand AS SimilarityAgeBand,B.cohort_id AS Similaritycohort_id,B.swapFlag AS SimilaritySwapFlag,
				(
				(CASE WHEN A.Gender != B.Gender THEN -100 ELSE 0 END) +
				(CASE WHEN A.AgeBand != B.AgeBand THEN ABS
				(CAST(LEFT(A.AgeBand, len(A.AgeBand) - charindex('-', A.AgeBand)) AS INT)
				-CAST(LEFT(B.AgeBand, len(B.AgeBand) - charindex('-', B.AgeBand)) AS INT)) 
				ELSE 0 END)*-1
				)
			AS SimilarityScore 
	INTO #SingletonFile2_Step11
	FROM #SingletonFile2 AS A 
	CROSS JOIN #SingletonFile2 AS B 
	WHERE (A.PostalSector = B.PostalSector ) AND A.FanID != B.FanID AND A.SwapFlag = 1


	----------------------------------------------------------------------
	-- For each Postal sector that contains one (or more) 
	-- singletons that have been selected for swapping;
	----------------------------------------------------------------------

	-- Note: Step through the singletons that have been selected for swapping (in any order) 
	--		Pair each with the singleton that is eligible for pairing that: 
	--		o	has the highest similarity score
	--		o	has not already been paired

	--Getting min SimilarityScore for each sector that has been selected for swapping and ranking column
	DROP TABLE IF EXISTS #MaxSimilarityScore_PerPostalSector
	SELECT FanID, Gender,AgeBand,PostalSector,cohort_id,swapFlag,SimilarityFanID,SimilarityGender,SimilarityAgeBand,Similaritycohort_id,SimilaritySwapFlag
	,SimilarityScore,ROW_NUMBER() OVER (PARTITION BY PostalSector ORDER BY SimilarityScore desc) AS OrderedSimilarityScore_PerPostalSector
	INTO #MaxSimilarityScore_PerPostalSector
	FROM #SingletonFile2_Step11
	WHERE swapFlag = 1 AND SimilaritySwapFlag = 0

	create clustered index IX_MaxSimilarity_Ordered
		on #MaxSimilarityScore_PerPostalSector (OrderedSimilarityScore_PerPostalSector)
	create nonclustered index IX_MaxSimilarity_FanID
		on #MaxSimilarityScore_PerPostalSector (FanID)
	create nonclustered index IX_MaxSimilarity_SimilarityFanID
		on #MaxSimilarityScore_PerPostalSector (SimilarityFanID)


	--takes 1-2 hours to run this code only
	RAISERROR('Stage 10: Entering singleton swapping loop (this is the long-running section)', 10, 1) WITH NOWAIT;
	DECLARE @dupCount INT;
	DECLARE @prevDupCount INT;
	DECLARE @rowCounter INT;
	DECLARE @mergeInsert INT;
	DECLARE @minSimilarityOrder INT;
	DECLARE @prevMinSimilarityOrder INT;
	DECLARE @deletedRecords INT;
	DECLARE @maxIterations INT = 10000;

	DROP TABLE IF EXISTS #mergeinsert;
	SELECT TOP (0) *
	INTO #mergeinsert
	FROM #MaxSimilarityScore_PerPostalSector;
	create clustered index IX_mergeinsert_FanID on #mergeinsert(FanID)
	create nonclustered index IX_mergeinsert_SimilarityFanID on #mergeinsert(SimilarityFanID)

	SET @dupCount = (SELECT COUNT(*) FROM #MaxSimilarityScore_PerPostalSector);
	SET @prevDupCount = @dupCount;
	SET @rowCounter = 1;
	SET @mergeInsert = 0;
	SET @minSimilarityOrder = 1;
	SET @prevMinSimilarityOrder = NULL;

	WHILE @dupCount > 0 AND @rowCounter <= @maxIterations
	BEGIN
		SET @minSimilarityOrder = (SELECT MIN(OrderedSimilarityScore_PerPostalSector) FROM #MaxSimilarityScore_PerPostalSector);
		PRINT('Iteration: ' + CONVERT(VARCHAR, @rowCounter));
		PRINT('minSimilarityOrder: ' + CONVERT(VARCHAR, @minSimilarityOrder));
    
		-- Check if minSimilarityOrder is stuck
		IF @prevMinSimilarityOrder = @minSimilarityOrder
			PRINT('WARNING: minSimilarityOrder has not changed!');

		-- Swapping the cohorts
		UPDATE #MaxSimilarityScore_PerPostalSector
		SET cohort_id = Similaritycohort_id,
			Similaritycohort_id = cohort_id
		WHERE OrderedSimilarityScore_PerPostalSector = @minSimilarityOrder;

		-- Prep for merge
		TRUNCATE TABLE #mergeinsert;
		INSERT INTO #mergeinsert
		SELECT * FROM #MaxSimilarityScore_PerPostalSector 
		WHERE OrderedSimilarityScore_PerPostalSector = @minSimilarityOrder;

		-- Updating the swapped cohorts
		UPDATE tgt
		SET tgt.cohort_id = src.cohort_id,
			tgt.swapFlag = 99
		FROM #SingletonFile2 tgt
		INNER JOIN #mergeinsert src
			ON src.FanID = tgt.FanID;

		UPDATE tgt
		SET tgt.cohort_id = src.Similaritycohort_id,
			tgt.swapFlag = -99
		FROM #SingletonFile2 tgt
		INNER JOIN #mergeinsert src
			ON src.SimilarityFanID = tgt.FanID;

		-- Count deleted records
		SET @deletedRecords = (
			SELECT COUNT(*)
			FROM #MaxSimilarityScore_PerPostalSector ms
			WHERE EXISTS (
				SELECT 1
				FROM #SingletonFile2 s
				WHERE s.swapFlag = 99
					AND s.FanID = ms.FanID
			)
			OR EXISTS (
				SELECT 1
				FROM #SingletonFile2 s
				WHERE s.swapFlag = -99
					AND s.FanID = ms.SimilarityFanID
			)
		);

		DELETE ms
		FROM #MaxSimilarityScore_PerPostalSector ms
		WHERE EXISTS (
			SELECT 1
			FROM #SingletonFile2 s
			WHERE s.swapFlag = 99
				AND s.FanID = ms.FanID
		)
		OR EXISTS (
			SELECT 1
			FROM #SingletonFile2 s
			WHERE s.swapFlag = -99
				AND s.FanID = ms.SimilarityFanID
		);

		-- Update loop conditions
		SET @prevDupCount = @dupCount;
		SET @dupCount = (SELECT COUNT(*) FROM #MaxSimilarityScore_PerPostalSector);
		SET @prevMinSimilarityOrder = @minSimilarityOrder;
    
		PRINT('Records deleted: ' + CONVERT(VARCHAR, @deletedRecords));
		PRINT('DUP COUNT: ' + CONVERT(VARCHAR, @dupCount));

		-- Check if @dupCount is stuck
		IF @dupCount = @prevDupCount
			PRINT('WARNING: dupCount has not changed! Possible infinite loop.');

		SET @rowCounter = @rowCounter + 1;
	END

	IF @rowCounter > @maxIterations
		PRINT('WARNING: Loop terminated after max iterations!');

	PRINT('Loop completed.');
	RAISERROR('Stage 10 complete: Singleton swapping loop finished', 10, 1) WITH NOWAIT;

	----------------------------------------------------------------------
	--Insert the new swapped (NI-ID, 3P COHORT ID) 
	--rows into the Working File
	----------------------------------------------------------------------
	RAISERROR('Stage 11: Merging swapped cohorts back into working file', 10, 1) WITH NOWAIT;

	--Inserting into working file
	MERGE #InputFile2 AS Target
	USING #SingletonFile2 AS Source
	ON Source.FanID = Target.FanID

	WHEN NOT MATCHED BY Target THEN
		INSERT (FanID,Gender,AgeBand,PostalSector,Postcode,cohort_id,/*[NI-ID]*/ProxyUserID)
		VALUES (Source.FanID,Source.Gender,Source.AgeBand,Source.PostalSector,Source.Postcode,Source.cohort_id,Source.ProxyUserID);

	----------------------------------------------------------------------
	--Report
	----------------------------------------------------------------------
	RAISERROR('Stage 12: Building final Cardholder_Cohort_Map output', 10, 1) WITH NOWAIT;

	DROP TABLE IF EXISTS [Affinity].[RoyalMail].[Cardholder_Cohort_Map];

	;WITH NumberedRows AS (
    SELECT  
        t1.[FanID],
        CONVERT(VARCHAR(64), t1.[ProxyUserID], 2) AS ProxyUserID,
        t1.[Gender],
        t1.[AgeBand],
        t1.[PostalSector],
        t1.[Postcode],
        [UDPRN] = t1.[cohort_id],
        [swapFlag] = CASE
                        WHEN t2.[FanID] IS NULL THEN -999
                        ELSE t2.[swapFlag]
                    END,
        [ClientID] = @ClientID,
        [AddedDate] = GETDATE(),
        ROW_NUMBER() OVER (PARTITION BY t1.[FanID] ORDER BY t1.[FanID]) AS RowNum
    FROM #InputFile2 t1
    LEFT JOIN #SingletonFile2 t2
        ON t1.[FanID] = t2.[FanID]
    WHERE t1.[PostalSector] != ''
	)
	SELECT * 
	INTO [Affinity].[RoyalMail].[Cardholder_Cohort_Map]
	FROM NumberedRows
	WHERE RowNum = 1
	ORDER BY PostalSector, FanID;

	RAISERROR('Stage 13: Procedure completed successfully', 10, 1) WITH NOWAIT;


	-------------------------------------------------------------------------
	-------------------------------------------------------------------------
	-------------------------------------------------------------------------
	-------------------------------------------------------------------------

	END

	------------------------------------------------------------------------
	------------------------------------------------------------------------
	------------------------------------------------------------------------
	------------------------------------------------------------------------
GO
