USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Masking_CombinationsToMask_Build_DD]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 23/09/2020
-- Description:	Clears, inserts and recreates indexes on table to hold ConsumerCombinations 
				that are candidates for masking i.e. those that are not exempt according to the specification

------------------------------------------------------------------------------
Modification History

[Date] [User]
	- [Description]
******************************************************************************/
CREATE PROCEDURE [Processing].[Masking_CombinationsToMask_Build_DD]
AS
BEGIN

	DECLARE @NonBrandedIDs VARCHAR(MAX) = '944,943,1293'

	------------------------------------------------------------------------
	---- Clear down
	------------------------------------------------------------------------
	TRUNCATE TABLE Processing.Masking_CombinationsToMask_DD;
	IF EXISTS
		(
			SELECT
				1
			FROM sys.indexes
			WHERE name = 'cix_masking_combinationstomask'
				AND object_id = OBJECT_ID('Processing.Masking_CombinationsToMask_DD')
		)
		DROP INDEX cix_masking_combinationstomask ON Processing.Masking_CombinationsToMask_DD


	----------------------------------------------------------------------
	-- Exempt IF Branded
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#CombosToMask') IS NOT NULL
		DROP TABLE #CombosToMask

	SELECT *, CAST(0 AS BIT) AS isSensitiveMask
	INTO #CombosToMask
	FROM Processing.Masking_ConsumerCombinations_DD
	WHERE CHARINDEX(',' + CAST(BrandID AS VARCHAR(5)) + ',', ',' + @NonBrandedIDs + ',') > 0  -- Non-branded

	----------------------------------------------------------------------
	-- Exempt if LIMITED Narrative
	----------------------------------------------------------------------
	DELETE FROM #CombosToMask
	WHERE (
		Narrative_RBS LIKE '%LTD%'
		OR Narrative_RBS LIKE '%LIMITED%'
		OR Narrative_RBS LIKE '%LIMITE'
		OR Narrative_RBS LIKE '% LT'
	)

	----------------------------------------------------------------------
	-- Mark those for Sensitive Masking
	----------------------------------------------------------------------

	UPDATE c 
	SET isSensitiveMask = 1
	FROM #CombosToMask c
	WHERE EXISTS (
			SELECT
				1
			FROM dbo.Masking_NarrativeRules mnr
			WHERE c.Narrative_RBS LIKE mnr.NarrativeRule
				AND mnr.isHeavyMaskRule = 1
		)
		
	----------------------------------------------------------------------
	-- Exempt Branded OINs that are not sensitive
	----------------------------------------------------------------------

	IF OBJECT_ID('tempdb..#BrandedOINs') IS NOT NULL
		DROP TABLE #BrandedOINs

	SELECT DISTINCT
		OIN
	INTO #BrandedOINs
	FROM Processing.Masking_ConsumerCombinations_DD MCC
	WHERE CHARINDEX(',' + CAST(BrandID AS VARCHAR(5)) + ',', ',' + @NonBrandedIDs + ',') = 0 -- Branded

	CREATE CLUSTERED INDEX CIX_tempdb_OIN ON #BrandedOINs (OIN)

	DELETE c FROM #CombosToMask c
	WHERE EXISTS (
		SELECT 1 FROM #BrandedOINs b
		WHERE c.OIN = b.OIN
	)
		AND isSensitiveMask = 0

	----------------------------------------------------------------------
	-- Exempt OIN if it passes Transaction Thresholds and is not sensitive
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#ExemptTransactionOINs') IS NOT NULL
	DROP TABLE #ExemptTransactionOINs

	SELECT DISTINCT
		OIN
	  --, isGB
	INTO #ExemptTransactionOINs
	FROM Processing.Masking_MIDTransactionCount_DD
	WHERE
				(DateType = 'L5Y'
					AND TranCount > 15000)
				OR (DateType = 'L12M'
					AND TranCount > 3500)
				OR (DateType = 'L1M'
					AND TranCount > 300)
				OR (DateType LIKE 'R%M'
					AND TranCount > 250)
			
		
		OR
				(DateType = 'L5Y'
					AND TranCount > 1500)
				OR (DateType = 'L12M'
					AND TranCount > 350)
				OR (DateType = 'L1M'
					AND TranCount > 30)
				OR (DateType LIKE 'R%M'
					AND TranCount > 25)

	CREATE CLUSTERED INDEX tempdb_ExemptOINs ON #ExemptTransactionOINs (OIN)

	DELETE c FROM #CombosToMask c
	WHERE EXISTS (
		select 1 FROM #ExemptTransactionOINs b
		WHERE c.OIN = b.OIN
		--AND c.isGB = b.isGB
	)
		AND isSensitiveMask = 0
	
	----------------------------------------------------------------------
	-- Insert into Table
	----------------------------------------------------------------------
	INSERT INTO Processing.Masking_CombinationsToMask_DD
	(
		ConsumerCombinationID_DD
	  , Narrative
	  , MCCID
	  --, LocationCountry
	  , OIN
	  --, isGB
	  , isBlanketMask
	  , isSensitiveMask
	)
	 SELECT
		 cc.ConsumerCombinationID_DD
	   , cc.Narrative
	   , cc.MCCID
	   --, cc.LocationCountry
	   , cc.OIN
	   --, cc.isGB
	   , cc.isBlanketMask
	   , cc.isSensitiveMask
	 FROM #CombosToMask cc

	----------------------------------------------------------------------
	-- Create Index
	----------------------------------------------------------------------
	CREATE CLUSTERED INDEX cix_masking_combinationstomask ON [Processing].[Masking_CombinationsToMask_DD]
	(
		[ConsumerCombinationID_DD] ASC
	)


	RETURN @@rowcount

END
GO
