USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[GenerateHashedPAFAddresses_PT1]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Processing].[GenerateHashedPAFAddresses_PT1] @ClientID INT
AS
BEGIN

-- TRUNCATE TABLE [RoyalMail].[HashedUDPRNs_14042023] NOT NEEDED ANYMORE
INSERT INTO [Affinity].[RoyalMail].[HashedUDPRNs_ProductionTest]
SELECT *
		--,CONVERT(VARCHAR(64),HASHBYTES('SHA2_256', CONVERT(VARCHAR(255),UnhashedUDPRN1)),2) AS HashedUDPRN1
		--,CONVERT(VARCHAR(64),HASHBYTES('SHA2_256', CONVERT(VARCHAR(255),UnhashedUDPRN2)),2) AS HashedUDPRN2
		,AddedDate = getdate()
		,CONVERT(VARCHAR(64),HASHBYTES('SHA2_256', CONVERT(VARCHAR(255),UnhashedUDPRN)),2) AS HashedUDPRN

FROM (
SELECT *, --UnhashedUDPRN1 = ('"' + COALESCE(UDPRN,'') + '",' + '"zqU8qV3P9W12"'),
		  --UnhashedUDPRN2 = ('"' + COALESCE(UDPRN,'') + '",' + '"YgeA6GZg"'),
		  UnhashedUDPRN = ('"' + COALESCE(UDPRN,'') + '",' + '"60l72HVRy$p"'),
		NX_ID = CONCAT('NX_ID-',NEWID())

FROM (
SELECT DISTINCT
				[UDPRN]
FROM [Affinity].[RoyalMail].[PAFData] WHERE NOT EXISTS ( 
SELECT 1
FROM [Affinity].[RoyalMail].[HashedUDPRNs_ProductionTest]
WHERE [Affinity].[RoyalMail].[HashedUDPRNs_ProductionTest].UDPRN = [Affinity].[RoyalMail].[PAFData].UDPRN)
) d
) w

END
GO
