USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Customer_GEO_Build_v2]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/******************************************************************************
-- Author:		Matty Laverty
-- Create date: 27/09/2022
-- Description:	Empties, inserts and recreates index on the Customer table
				from SLC fan to be used for GEO Data pulls

------------------------------------------------------------------------------
Modification History

[ageCurrent]
[Gender] 

******************************************************************************/
CREATE PROCEDURE [Processing].[Customer_GEO_Build_v2]
AS 
BEGIN

	DECLARE @RowCount INT -- Logging row count;

	----------------------------------------------------------------------
	-- Clear Down
	----------------------------------------------------------------------
	--TRUNCATE TABLE Processing.Customers;
	--ALTER INDEX [cx_FanID] ON [Processing].[Customers] DISABLE
	--ALTER INDEX [ix_ClubID_CompositeID] ON [Processing].[Customers] DISABLE
	--ALTER INDEX [ix_rw_CINID] ON [Processing].[Customers] DISABLE

	----------------------------------------------------------------------
	-- Insert
	----------------------------------------------------------------------
	IF OBJECT_ID('tempdb..#Customers') IS NOT NULL
		DROP TABLE #Customers
		

	 --Creating the table layout
	SELECT TOP 0 
		*
	INTO #Customers
	FROM Processing.Customers_GEO_Build

		

INSERT INTO #Customers
(
    FanID, ProxyUserID, CompositeID, CINID, ClubID, Gender, AgeCurrent,
    PostcodeDistrict, SourceUID, rw, PostalArea, isNew, Chksum, Postcode, PostcodeSector
)
SELECT
    d.FanID,
    y.ProxyUserID,
    d.CompositeID,
    d.CINID,
    d.ClubID,
    d.Gender,
    d.AgeCurrent,
    d.PostcodeDistrict,
    d.SourceUID,
    d.rw,
    d.PostalArea,
    0 AS isNew,
    z.ChkSum,
    d.Postcode,
    d.PostalSector
FROM (
    SELECT
        cu.FanID,
        cu.CompositeID,
        c.CINID,
        cu.ClubID,
        cu.Gender,
        cu.AgeCurrent,
        cu.PostcodeDistrict,
        cu.SourceUID,
        ROW_NUMBER() OVER (PARTITION BY cu.SourceUID ORDER BY cu.ClubID) AS rw,
        cu.PostArea  AS PostalArea,
        cu.Postcode,
        cu.PostalSector
    FROM WH_NWG.Derived.Customer cu
    INNER JOIN Warehouse.Relational.CINList c
        ON c.CIN = cu.SourceUID
    WHERE cu.currentlyactive = 1
) AS d
CROSS APPLY (
    SELECT ProxyUserID =
        HASHBYTES(
            'SHA2_256',
            -- make the concatenation explicit and deterministic
            CONVERT(varchar(32), d.FanID + 2384) + ',' + d.SourceUID
        )
) AS y
CROSS APPLY (
    SELECT ChkSum = CHECKSUM(
        d.FanID, y.ProxyUserID, d.CompositeID, d.CINID, d.ClubID, d.Gender,
        d.AgeCurrent, d.PostcodeDistrict, d.SourceUID, d.rw, d.PostalArea,
        CAST(0 AS bit), d.Postcode, d.PostalSector
    )
) AS z
WHERE d.rw = 1
		AND d.SourceUID  NOT IN (SELECT 
								SourceUID
							FROM [WH_NWG].[Derived].[Customer_DuplicateSourceUID]
							WHERE [EndDate] IS NULL
							)
		AND d.cinid  NOT IN (SELECT cinid
							FROM RIPU.Derived.cinid_exclude_nw_migration
							);


	SELECT @RowCount = @@RowCount

	CREATE CLUSTERED INDEX CIX ON #Customers (FanID)
	CREATE UNIQUE NONCLUSTERED INDEX UNIX ON #Customers (FanID, Chksum)

	-- Update Existing
	UPDATE c
	SET PostcodeDistrict = cx.PostcodeDistrict
		, PostalArea = cx.PostalArea
		, Chksum = cx.Chksum
	FROM Processing.Customers_GEO_Build c
	JOIN #Customers cx
		ON c.FanID = cx.FanID
		AND c.Chksum <> cx.Chksum


		
	-- Insert New
	

	TRUNCATE TABLE Processing.Customers_GEO_Build

	INSERT INTO Processing.Customers_GEO_Build
	(
		FanID
		, ProxyUserID
		, CompositeID
		, CINID
		, ClubID
		, Gender
		, AgeCurrent
		, PostcodeDistrict
		, SourceUID
		, rw
		, PostalArea
		, Chksum
		, isNew
		, Postcode
		, PostcodeSector
	)
	SELECT
		FanID
		, ProxyUserID
		, CompositeID
		, CINID
		, ClubID
		, Gender
		, AgeCurrent
		, PostcodeDistrict
		, SourceUID
		, rw
		, PostalArea
		, Chksum
		, 1 AS isNew
		, Postcode
		, PostcodeSector
	FROM #Customers c
	WHERE NOT EXISTS (
		SELECT 1
		FROM Processing.Customers_GEO_Build cx
		WHERE c.FanID = cx.FanID
	)


	
	--Counting No of households per sector from Royal Mail PAF FILE

	IF OBJECT_ID('tempdb..#SecCount') IS NOT NULL DROP TABLE #SecCount

    SELECT [Postcode Sector]
           ,SUM([NumberOfHouseholds]) 'No of Households'

    INTO #SecCount

    FROM
  (

   SELECT 
         Postcode
         ,LEFT(Postcode, charindex(' ',Postcode)+1) 'Postcode Sector'
         ,NumberOfHouseholds 
   FROM [Affinity].[RoyalMail].[PAFData] 

   )paf
  
   GROUP BY [Postcode Sector]
   Order BY SUM([NumberOfHouseholds]) 

   
  -- Counting Number of households per sector from Rewards Data
  
   IF OBJECT_ID('tempdb..#RewardSectorCount') IS NOT NULL DROP TABLE #RewardSectorCount
  
    SELECT PostcodeSector 'RewardPostcodeSector'
	       ,COUNT (FanID) 'Reward No of Households'
	INTO #RewardSectorCount
	FROM [Affinity].[Processing].[Customers_GEO_Build]
	GROUP BY postcodeSector



   --Joining newly created counts table to the newly generated Customer GEO Build
   IF OBJECT_ID('tempdb..#RewardSectorCount') IS NOT NULL DROP TABLE #StagingCust

   SELECT *
   INTO #StagingCust
   FROM [Affinity].[Processing].[Customers_GEO_Build] c 
   LEFT OUTER JOIN #SecCount sc ON c.PostcodeSector = sc.[Postcode Sector]
   LEFT OUTER JOIN #RewardSectorCount rsc ON c.PostcodeSector = rsc.RewardPostcodeSector

   	--INSERT newly build customer records into CustomerGeodemographics TABLE

    DROP TABLE IF EXISTS [Affinity].[Processing].[CustomerGeodemographics08082025]

 SELECT  CONVERT(varchar(64), ProxyUserID, 2) AS ProxyUserID

        ,CASE WHEN ([No of Households] < 100 OR [Reward No of Households] < 10) THEN PostcodeDistrict
         ELSE PostcodeSector
		 END AS 'CardholderLocationIndicator' -- CASE statemnets in place as per spec, District used instead of sector if conditions are not met

		 ,[Gender] 

	    ,CASE WHEN AgeCurrent < 18 THEN '0'
         WHEN AgeCurrent BETWEEN 18 and 24 THEN '18-24'
	     WHEN AgeCurrent BETWEEN 25 and 29 THEN '25-29'
	     WHEN AgeCurrent BETWEEN 30 and 34 THEN '30-34'
	     WHEN AgeCurrent BETWEEN 35 and 39 THEN '35-39'
	     WHEN AgeCurrent BETWEEN 40 and 44 THEN '40-44'
	     WHEN AgeCurrent BETWEEN 45 and 49 THEN '45-49'
	     WHEN AgeCurrent BETWEEN 50 and 54 THEN '50-54'
	     WHEN AgeCurrent BETWEEN 55 and 59 THEN '55-59'
	     WHEN AgeCurrent BETWEEN 60 and 64 THEN '60-64'
	     WHEN AgeCurrent BETWEEN 65 and 69 THEN '65-69'
	     WHEN AgeCurrent BETWEEN 70 and 74 THEN '70-74'
	     WHEN AgeCurrent BETWEEN 75 and 79 THEN '75-79'
	     WHEN AgeCurrent BETWEEN 80 and 84 THEN '80-84'
	     WHEN AgeCurrent BETWEEN 85 and 89 THEN '85-89'
	     WHEN AgeCurrent BETWEEN 90 and 94 THEN '90-94'
	     WHEN AgeCurrent BETWEEN 95 and 99 THEN '95-99'
	     WHEN AgeCurrent BETWEEN 100 and 104 THEN '100-104'
	     WHEN AgeCurrent BETWEEN 105 and 109 THEN '105-109'
	     WHEN AgeCurrent BETWEEN 110 and 114 THEN '110-114'
	     WHEN AgeCurrent BETWEEN 115 and 119 THEN '115-119'
	    
	     END AS 'AgeBand'


		
INTO [Affinity].[Processing].[CustomerGeodemographics08082025]
FROM #StagingCust




	RETURN @RowCount


END


GO
