USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Broccoli_NEW]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [Processing].[Broccoli_NEW]
AS
BEGIN
SET NOCOUNT ON;

--STEP ONE
DROP TABLE IF EXISTS #InputFile2;
SELECT
    apc.FanID,
    cohort_id,
    apc.ProxyUserID,
    wpc.PostalSector,
    wpc.PostCodeDistrict,
    wpc.Gender,
    CASE
        WHEN wpc.AgeCurrent < 18 THEN '0'
        WHEN wpc.AgeCurrent BETWEEN 18 AND 24 THEN '18-24'
        WHEN wpc.AgeCurrent BETWEEN 25 AND 29 THEN '25-29'
        WHEN wpc.AgeCurrent BETWEEN 30 AND 34 THEN '30-34'
        WHEN wpc.AgeCurrent BETWEEN 35 AND 39 THEN '35-39'
        WHEN wpc.AgeCurrent BETWEEN 40 AND 44 THEN '40-44'
        WHEN wpc.AgeCurrent BETWEEN 45 AND 49 THEN '45-49'
        WHEN wpc.AgeCurrent BETWEEN 50 AND 54 THEN '50-54'
        WHEN wpc.AgeCurrent BETWEEN 55 AND 59 THEN '55-59'
        WHEN wpc.AgeCurrent BETWEEN 60 AND 64 THEN '60-64'
        WHEN wpc.AgeCurrent BETWEEN 65 AND 69 THEN '65-69'
        WHEN wpc.AgeCurrent BETWEEN 70 AND 74 THEN '70-74'
        WHEN wpc.AgeCurrent BETWEEN 75 AND 79 THEN '75-79'
        WHEN wpc.AgeCurrent BETWEEN 80 AND 84 THEN '80-84'
        WHEN wpc.AgeCurrent BETWEEN 85 AND 89 THEN '85-89'
        WHEN wpc.AgeCurrent BETWEEN 90 AND 94 THEN '90-94'
        WHEN wpc.AgeCurrent BETWEEN 95 AND 99 THEN '95-99'
        WHEN wpc.AgeCurrent BETWEEN 100 AND 104 THEN '100-104'
        WHEN wpc.AgeCurrent BETWEEN 105 AND 109 THEN '105-109'
        WHEN wpc.AgeCurrent BETWEEN 110 AND 114 THEN '110-114'
        WHEN wpc.AgeCurrent BETWEEN 115 AND 119 THEN '115-119'
    END AS AgeBand,
    CASE
        WHEN wpc.AgeCurrent < 18 THEN 0
        WHEN wpc.AgeCurrent BETWEEN 18 AND 24 THEN 18
        WHEN wpc.AgeCurrent BETWEEN 25 AND 29 THEN 25
        WHEN wpc.AgeCurrent BETWEEN 30 AND 34 THEN 30
        WHEN wpc.AgeCurrent BETWEEN 35 AND 39 THEN 35
        WHEN wpc.AgeCurrent BETWEEN 40 AND 44 THEN 40
        WHEN wpc.AgeCurrent BETWEEN 45 AND 49 THEN 45
        WHEN wpc.AgeCurrent BETWEEN 50 AND 54 THEN 50
        WHEN wpc.AgeCurrent BETWEEN 55 AND 59 THEN 55
        WHEN wpc.AgeCurrent BETWEEN 60 AND 64 THEN 60
        WHEN wpc.AgeCurrent BETWEEN 65 AND 69 THEN 65
        WHEN wpc.AgeCurrent BETWEEN 70 AND 74 THEN 70
        WHEN wpc.AgeCurrent BETWEEN 75 AND 79 THEN 75
        WHEN wpc.AgeCurrent BETWEEN 80 AND 84 THEN 80
        WHEN wpc.AgeCurrent BETWEEN 85 AND 89 THEN 85
        WHEN wpc.AgeCurrent BETWEEN 90 AND 94 THEN 90
        WHEN wpc.AgeCurrent BETWEEN 95 AND 99 THEN 95
        WHEN wpc.AgeCurrent BETWEEN 100 AND 104 THEN 100
        WHEN wpc.AgeCurrent BETWEEN 105 AND 109 THEN 105
        WHEN wpc.AgeCurrent BETWEEN 110 AND 114 THEN 110
        WHEN wpc.AgeCurrent BETWEEN 115 AND 119 THEN 115
    END AS AgeBandStart
INTO #InputFile2
FROM [Affinity].[Processing].[Customers] apc
LEFT JOIN WH_NWG.Derived.Customer wpc
    ON apc.FanID = wpc.FanID
LEFT JOIN [Affinity].[RoyalMail].[CustomerAddressToUDPRN] arc
    ON apc.FanID = arc.FanID
LEFT JOIN [Affinity].[RoyalMail].[X_Cohort_map_20260416000] arx
    ON arc.NX_ID = arx.dpx_id
WHERE wpc.PostalSector != ''
  AND apc.PostalArea = wpc.PostArea
ORDER BY NEWID();


--STEP TWO
DROP TABLE IF EXISTS #PostalSectorsCounts;
SELECT PostalSector, COUNT(*) AS countOfPostalSector
INTO #PostalSectorsCounts
FROM #InputFile2
GROUP BY PostalSector;

DELETE FROM #InputFile2
WHERE PostalSector IN (SELECT PostalSector FROM #PostalSectorsCounts WHERE countOfPostalSector < 5);

DROP TABLE IF EXISTS #CountOfSingletons;
SELECT i1.cohort_id, COUNT(DISTINCT i1.FanID) AS countOfSingletons
INTO #CountOfSingletons
FROM #InputFile2 i1
GROUP BY i1.cohort_id
HAVING COUNT(DISTINCT i1.FanID) = 1;

--STEP THREE
DROP TABLE IF EXISTS #SingletonFile1;
SELECT
    i1.FanID,
    i1.ProxyUserID,
    i1.AgeBand,
    i1.AgeBandStart,
    i1.Gender,
    i1.PostalSector,
    i1.PostCodeDistrict,
    i1.cohort_id
INTO #SingletonFile1
FROM #InputFile2 i1
WHERE i1.cohort_id IN (SELECT cohort_id FROM #CountOfSingletons)
  AND NOT EXISTS
  (
      SELECT 1
      FROM #InputFile2 p
      WHERE p.FanID <> i1.FanID
        AND p.PostalSector = i1.PostalSector
        AND p.Gender = i1.Gender
        AND ABS(p.AgeBandStart - i1.AgeBandStart) <= 10
  );
 --(2539 rows affected)

 --STEP FOUR
DROP TABLE IF EXISTS #PostalSectorSingletonCountFile;
SELECT PostalSector, COUNT(*) AS countOfSingletons
INTO #PostalSectorSingletonCountFile
FROM #SingletonFile1
GROUP BY PostalSector;

DELETE FROM #InputFile2
WHERE PostalSector IN (SELECT PostalSector FROM #PostalSectorSingletonCountFile WHERE countOfSingletons = 1);

DROP TABLE IF EXISTS #SingletonFile1;

DROP TABLE IF EXISTS #CountOfSingletons_;
SELECT cohort_id, COUNT(DISTINCT FanID) AS countOfSingletons
INTO #CountOfSingletons_
FROM #InputFile2
GROUP BY cohort_id
HAVING COUNT(DISTINCT FanID) = 1;

--STEP FIVE
DROP TABLE IF EXISTS #SingletonFile2;
SELECT
    FanID,
    ProxyUserID,
    Gender,
    AgeBand,
    AgeBandStart,
    PostalSector,
    PostCodeDistrict,
    cohort_id,
    CAST(0 AS INT) AS swapFlag
INTO #SingletonFile2
FROM #InputFile2
WHERE cohort_id IN (SELECT cohort_id FROM #CountOfSingletons_);

DROP TABLE IF EXISTS #DistrictCandidates;
SELECT
    i.FanID,
    i.cohort_id,
    i.Gender,
    i.AgeBandStart,
    i.PostCodeDistrict
INTO #DistrictCandidates
FROM #InputFile2 i
WHERE i.cohort_id NOT IN (SELECT cohort_id FROM #CountOfSingletons_);

--STEP SIX
CREATE NONCLUSTERED INDEX IX_SingletonFile2_District
ON #SingletonFile2 (PostCodeDistrict, Gender, AgeBandStart)
INCLUDE (FanID, cohort_id);

CREATE NONCLUSTERED INDEX IX_DistrictCandidates_District
ON #DistrictCandidates (PostCodeDistrict, Gender, AgeBandStart)
INCLUDE (FanID, cohort_id);

DROP TABLE IF EXISTS #DistrictBestMatch;
SELECT
    s.FanID,
    m.CandidateCohortID
INTO #DistrictBestMatch
FROM #SingletonFile2 s
OUTER APPLY
(
    SELECT TOP (1)
        c.cohort_id AS CandidateCohortID
    FROM #DistrictCandidates c
    WHERE c.PostCodeDistrict = s.PostCodeDistrict
      AND c.FanID <> s.FanID
    ORDER BY
        CASE WHEN c.Gender = s.Gender THEN 0 ELSE 1 END,
        ABS(c.AgeBandStart - s.AgeBandStart),
        c.FanID
) m
WHERE m.CandidateCohortID IS NOT NULL;

UPDATE i
SET i.cohort_id = b.CandidateCohortID
FROM #InputFile2 i
INNER JOIN #DistrictBestMatch b
    ON i.FanID = b.FanID;

DROP TABLE IF EXISTS #CountOfSingletons_AfterDistrict;
SELECT cohort_id, COUNT(DISTINCT FanID) AS countOfSingletons
INTO #CountOfSingletons_AfterDistrict
FROM #InputFile2
GROUP BY cohort_id
HAVING COUNT(DISTINCT FanID) = 1;

DELETE i
FROM #InputFile2 i
INNER JOIN #CountOfSingletons_AfterDistrict s
    ON i.cohort_id = s.cohort_id;

TRUNCATE TABLE #CountOfSingletons_;
INSERT INTO #CountOfSingletons_ (cohort_id, countOfSingletons)
SELECT cohort_id, COUNT(DISTINCT FanID) AS countOfSingletons
FROM #InputFile2
GROUP BY cohort_id
HAVING COUNT(DISTINCT FanID) = 1;

--STEP SEVEN
TRUNCATE TABLE #SingletonFile2;
INSERT INTO #SingletonFile2 (
    FanID,
    ProxyUserID,
    Gender,
    AgeBand,
    AgeBandStart,
    PostalSector,
    PostCodeDistrict,
    cohort_id,
    swapFlag
)
SELECT
    FanID,
    ProxyUserID,
    Gender,
    AgeBand,
    AgeBandStart,
    PostalSector,
    PostCodeDistrict,
    cohort_id,
    CAST(0 AS INT) AS swapFlag
FROM #InputFile2
WHERE cohort_id IN (SELECT cohort_id FROM #CountOfSingletons_);

DECLARE @percent DECIMAL(10,4);
DECLARE @totalRows INT;
DECLARE @rowsFlagged INT;
DECLARE @singletonSwapThreshold INT;

SET @percent = 20;
SET @totalRows = (SELECT COUNT(*) FROM #SingletonFile2);
SET @rowsFlagged = CAST(@totalRows / 100.0 * @percent AS INT);
SET @singletonSwapThreshold = 1;

WHILE @singletonSwapThreshold <> 0
BEGIN
    UPDATE #SingletonFile2
    SET swapFlag = 0;

    UPDATE #SingletonFile2
    SET swapFlag = 1
    WHERE FanID IN
    (
        SELECT TOP (@rowsFlagged) FanID
        FROM #SingletonFile2
        WHERE swapFlag = 0
        ORDER BY NEWID()
    );

    DROP TABLE IF EXISTS #CountOfSingletonsSwapping_Step10;
    SELECT PostalSector, COUNT(FanID) AS countOfSingletons
    INTO #CountOfSingletonsSwapping_Step10
    FROM #SingletonFile2
    WHERE swapFlag = 1
    GROUP BY PostalSector;

    DROP TABLE IF EXISTS #CountOfSingletons_Step10;
    SELECT PostalSector, COUNT(FanID) AS countOfSingletons
    INTO #CountOfSingletons_Step10
    FROM #SingletonFile2
    GROUP BY PostalSector;

    DROP TABLE IF EXISTS #PercentageSwap;
    SELECT
        t1.PostalSector,
        t1.countOfSingletons AS countOfSingletons_PerPostalSector,
        t2.countOfSingletons AS countOfSingletons_PerPostalSector_Swapped,
        CAST(CAST(t2.countOfSingletons AS DECIMAL(10,2)) / CAST(t1.countOfSingletons AS DECIMAL(10,2)) * 100 AS DECIMAL(10,2)) AS PostalSectorSwapPerc
    INTO #PercentageSwap
    FROM #CountOfSingletons_Step10 t1
    LEFT JOIN #CountOfSingletonsSwapping_Step10 t2
        ON t1.PostalSector = t2.PostalSector;

    SET @singletonSwapThreshold =
    (
        SELECT COUNT(*)
        FROM #PercentageSwap
        WHERE PostalSectorSwapPerc > 50
    );

    UPDATE sf
    SET swapFlag = 0
    FROM #SingletonFile2 sf
    WHERE EXISTS
    (
        SELECT 1
        FROM #PercentageSwap ps
        WHERE ps.PostalSector = sf.PostalSector
          AND ps.PostalSectorSwapPerc > 50
    )
    AND sf.swapFlag = 1;
END;

DROP TABLE IF EXISTS #SingletonFile2_Step11;
SELECT
    A.FanID,
    A.ProxyUserID,
    A.Gender,
    A.AgeBand,
    A.AgeBandStart,
    A.PostalSector,
    A.PostCodeDistrict,
    A.cohort_id,
    A.swapFlag,
    B.FanID AS SimilarityFanID,
    B.Gender AS SimilarityGender,
    B.AgeBand AS SimilarityAgeBand,
    B.AgeBandStart AS SimilarityAgeBandStart,
    B.cohort_id AS Similaritycohort_id,
    B.swapFlag AS SimilaritySwapFlag,
    (CASE WHEN A.Gender <> B.Gender THEN -100 ELSE 0 END) - ABS(A.AgeBandStart - B.AgeBandStart) AS SimilarityScore
INTO #SingletonFile2_Step11
FROM #SingletonFile2 A
INNER JOIN #SingletonFile2 B
    ON A.PostalSector = B.PostalSector
   AND A.FanID <> B.FanID
   AND A.swapFlag = 1
   AND B.swapFlag = 0;

DROP TABLE IF EXISTS Affinity.dbo.BrocStep11140526;
SELECT *
INTO Affinity.dbo.BrocStep11140526
FROM #SingletonFile2_Step11;

DROP TABLE IF EXISTS Affinity.dbo.singletonfile2140526;
SELECT *
INTO Affinity.dbo.singletonfile2140526
FROM #SingletonFile2;

DROP TABLE IF EXISTS #BestPerFan;
;WITH RankedPerFan AS
(
    SELECT
        FanID,
        cohort_id,
        SimilarityFanID,
        Similaritycohort_id,
        SimilarityScore,
        ROW_NUMBER() OVER (PARTITION BY FanID ORDER BY SimilarityScore DESC, SimilarityFanID) AS rn
    FROM Affinity.dbo.BrocStep11140526
    WHERE swapFlag = 1
      AND SimilaritySwapFlag = 0
)
SELECT
    FanID,
    cohort_id,
    SimilarityFanID,
    Similaritycohort_id,
    SimilarityScore
INTO #BestPerFan
FROM RankedPerFan
WHERE rn = 1;

CREATE NONCLUSTERED INDEX IX_BestPerFan_Fan
ON #BestPerFan (FanID)
INCLUDE (SimilarityFanID, cohort_id, Similaritycohort_id, SimilarityScore);

CREATE NONCLUSTERED INDEX IX_BestPerFan_SimFan
ON #BestPerFan (SimilarityFanID)
INCLUDE (FanID, cohort_id, Similaritycohort_id, SimilarityScore);

DROP TABLE IF EXISTS #ChosenPairs;
;WITH Dedup AS
(
    SELECT
        FanID,
        cohort_id,
        SimilarityFanID,
        Similaritycohort_id,
        SimilarityScore,
        ROW_NUMBER() OVER (PARTITION BY SimilarityFanID ORDER BY SimilarityScore DESC, FanID) AS rn_sim
    FROM #BestPerFan
)
SELECT
    FanID,
    cohort_id,
    SimilarityFanID,
    Similaritycohort_id
INTO #ChosenPairs
FROM Dedup
WHERE rn_sim = 1;

CREATE UNIQUE CLUSTERED INDEX CIX_ChosenPairs_Fan
ON #ChosenPairs (FanID);

CREATE UNIQUE NONCLUSTERED INDEX IX_ChosenPairs_SimFan
ON #ChosenPairs (SimilarityFanID);

UPDATE tgt
SET
    tgt.cohort_id = src.cohort_id,
    tgt.swapFlag = 99
FROM Affinity.dbo.singletonfile2140526 tgt
INNER JOIN #ChosenPairs src
    ON src.FanID = tgt.FanID;

UPDATE tgt
SET
    tgt.cohort_id = src.Similaritycohort_id,
    tgt.swapFlag = -99
FROM #SingletonFile2 tgt
INNER JOIN #ChosenPairs src
    ON src.SimilarityFanID = tgt.FanID;

MERGE #InputFile2 AS Target
USING Affinity.dbo.singletonfile2140526 AS Source
ON Source.FanID = Target.FanID
WHEN NOT MATCHED BY Target THEN
    INSERT (FanID, Gender, AgeBand, AgeBandStart, PostalSector, PostCodeDistrict, cohort_id, ProxyUserID)
    VALUES (Source.FanID, Source.Gender, Source.AgeBand, Source.AgeBandStart, Source.PostalSector, Source.PostCodeDistrict, Source.cohort_id, Source.ProxyUserID);

DECLARE @ClientID INT;
SET @ClientID = 2;

DROP TABLE IF EXISTS [Affinity].[RoyalMail].[Cardholder_UDPRN];
SELECT DISTINCT
    t1.FanID,
    t1.ProxyUserID,
    t1.Gender,
    t1.AgeBand,
    t1.PostalSector,
    t1.cohort_id AS UDPRN,
    ISNULL(t2.swapFlag, 0) AS swapFlag,
    @ClientID AS ClientID,
    GETDATE() AS AddedDate
INTO [Affinity].[RoyalMail].[Cardholder_UDPRN]
FROM #InputFile2 t1
LEFT JOIN Affinity.dbo.singletonfile2140526 t2 --change to singleton file
    ON t1.FanID = t2.FanID
WHERE t1.PostalSector <> ''
ORDER BY t1.PostalSector, t1.FanID;

END
GO
