USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__Email_CheckNobleFileTransactionCount_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [Processing].[__Email_CheckNobleFileTransactionCount_Archived]
AS
BEGIN


IF (SELECT CONVERT(DATE, MAX(INDATE)) FROM [SLC_REPL].dbo.NobleFiles WHERE FileType = 'TRANS') = CONVERT(DATE, GETDATE())
BEGIN

--YES: STORE new file ID and the Last FileID that was imported (on the same weekday) as well as the counts from the Trans Table

     DECLARE @NewFileID INT = (SELECT ID FROM [SLC_REPL].dbo.NobleFiles WHERE FileType = 'TRANS' and CONVERT(DATE, InDate) = CONVERT(DATE, GETDATE()))
	 DECLARE @NewFile_RecievedDate DATE = (SELECT InDate FROM [SLC_REPL].dbo.NobleFiles WHERE ID = @NewFileID)

     DECLARE @LastFileID INT = (SELECT MAX(ID) FROM [SLC_REPL].dbo.NobleFiles WHERE ID != @NewFileID and  FileType = 'TRANS' and DATEPART(WEEKDAY, InDate) = DATEPART(WEEKDAY, @NewFile_RecievedDate))
	 DECLARE @LastFile_RecievedDate DATE = (SELECT InDate FROM [SLC_REPL].dbo.NobleFiles WHERE ID = @LastFileID)

	 DECLARE @NewFileID_Count DECIMAL(11,2) = (Select COUNT (*) FROM [Archive_Light].[dbo].[NobleTransactionHistory_MIDI] WHERE fileID = @NewFileID)
	        ,@LastFileID_Count DECIMAL(11,2) = (Select COUNT (*) FROM [Archive_Light].[dbo].[NobleTransactionHistory_MIDI] WHERE fileID = @LastFileID)

	 DECLARE @percentage_Change DECIMAL(5,2) = (@NewFileID_Count - @LastFileID_Count) / @LastFileID_Count * 100

     PRINT @NewFileID
	 PRINT @NewFileID_Count
	 PRINT @NewFile_RecievedDate
     PRINT @LastFileID
	 PRINT @LastFileID_Count
	 PRINT @LastFile_RecievedDate

	 PRINT @percentage_Change

	        IF @percentage_Change <= -10 
			BEGIN

			DROP TABLE IF EXISTS ##TEMP
			CREATE TABLE ##Temp (FileID INT, TransactionCount INT, ReceivedDate DATE)
			INSERT INTO ##Temp (FileID, TransactionCount, ReceivedDate)
			Values (@NewFileID, @NewFileID_Count, @NewFile_RecievedDate)
			      ,(@LastFileID, @LastFileID_Count, @LastFile_RecievedDate)

				 -- SELECT * FROM ##Temp
			
			Declare @Date VarChar(11) = getdate()

	/*******************************************************************************************************************************************
		1. Declare User Variables & set initial email text & HTML style
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			1.1. Declare User Variables
		***********************************************************************************************************************/

			Declare @Style VarChar(Max)
				  , @Body VarChar(Max)
				  , @Message VarChar(Max)
				
				  , @List VarChar(Max)
				
				  , @Table2 VarChar(Max)
				
				  , @Regards VarChar(Max)
				  , @Excel VarChar(Max)
			  

		/***********************************************************************************************************************
			1.2. Set opening message, list of data pints validated and sign offer
		***********************************************************************************************************************/

			Set @Message = 'A debit file has been imported from the Noble process. This contains #% difference in transactions than the previous imported file (on the same Weekday). This is outside the acceptable range.' -- Normal Messages, # Replaced with customer Count


			-- Bullet point messages, appears after @Message
			/*Set @List ='To confirm, I have checked if:
			any offers are duplicated in the OPE
			there are any offers going live that are missing from the OPE
			there are offers in the OPE that are not going live'*/

			Set @Regards = 'Regards, Data Operations'
			  

		/***********************************************************************************************************************
			1.3. Set email HTML style
		***********************************************************************************************************************/
	
			Set @Style =
			'<style>
				table {border-collapse: collapse;}

				p {font-family: Calibri;}

				th {padding: 10px;}

				table, td {padding: 0 10 0 10;}

				table, td, th {border: 1px solid black;
							   font-family: Calibri;}
			</style>'


	/*******************************************************************************************************************************************
		2. Update the email with the counts of offers with issues and format the rest of the email contents
	*******************************************************************************************************************************************/

		-- Update count of offers with errors in the message text
		  
		Set @Message = '<p>' + Replace(@Message, '#', 
		@percentage_Change) + '</p>'

		-- Format list into bullet points

		Set @List = '<p>' + Substring(@List, 1, CharIndex(Char(13) + Char(10), @List)) + '</p>'
				  + '<ul><li><p>' + Replace(Substring(@List, CharIndex(Char(13) + Char(10), @List)+1, 9999), Char(13) + Char(10), '</p></li><li><p>')
				  + '</p></li></ul>'

		-- Update sapcing in sign off

		Set @Regards = '<br>' + Replace(@Regards, ', ', ',<br>')


	/*******************************************************************************************************************************************
		3. Fetch data to display in the email and then reformat them to be shown in an actual table structure
	*******************************************************************************************************************************************/
		
			/***********************************************************************************************************************
				3.1. Create table displaying each offer that has an error
			***********************************************************************************************************************/


				Set @Table2 = IsNull(Convert(VarChar(Max),
								(Select '<td nowrap="nowrap">' + IsNull(Convert(VarChar(100), FileID), '')
												 + '</td><td>' + IsNull(Convert(VarChar(100), TransactionCount), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), ReceivedDate), '')
												
												 + '</td>'
								 FROM ##Temp

								 For XML Path ('tr'), type)), '')

				Set @Table2 = '<table style="border-collapse: collapse; border: 1px solid black">'
						   + '<tr>'
						   + '<th colspan=3><b>Noble Debit Files</b></th>'
						   + '</tr><tr>'
						   + '<th>FileID</th><th>Transactions Uploaded</th><th>Received Date</th>' -- Heading names
						   + '</tr>'
						   + Replace(Replace(Replace( Replace( @Table2, '&lt;', '<' ), '&gt;', '>' ), '&amp;', '&'), '<td>', '<td style="height:28px">')
						   + '</table>'
						   + '<br>'

			

	/*******************************************************************************************************************************************
		4. Combine variables to form email body
	*******************************************************************************************************************************************/
	

	
		If (Select Count(Distinct [PartnerID]) FROM [Warehouse].[iron].[PrimaryRetailerIdentification]) != 0 
			Begin
				Set @Body = @Style + @Message + @Table2  + @Regards
			End
	


	/*******************************************************************************************************************************************
		5. Send email
	*******************************************************************************************************************************************/

		Declare --@AttachName VarChar(Max) = 'TEST_Email ' + Convert(VarChar(10), @Date) + ' Reviewed.csv'
			   @emailsubject VarChar(Max) = 'Affinity Noble Debit Files Warning - ' + Convert(VarChar(11), @Date)

		exec msdb..sp_send_dbmail @profile_name					= 'Administrator'
								, @recipients					= 'zoe.kelly@rewardinsight.com;diprocesscheckers@rewardinsight.com'--zoe.kelly@rewardinsight.com;diprocesscheckers@rewardinsight.com
								, @subject						= @emailsubject
								, @execute_query_database		= 'Warehouse'
								, @query						= @Excel
								--, @attach_query_result_as_file	= 1
								--, @query_attachment_filename	= @AttachName
								, @query_result_separator		= ';'
								, @query_result_no_padding		= 1
								, @query_result_header			= 0
								, @query_result_width			= 32767
								, @body							= @body
								, @body_format					= 'HTML'
								, @importance					= 'HIGH'

            END
			ELSE 
			
			PRINT 'New File within -10% allowance of the last received file'
			


END


ELSE 


PRINT 'No New files recieved today'



	
END


GO
