USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Masking_MaskedCombination_CreateIndex_DD]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 23/09/2020
-- Description: Creates index on Masked ConsumerCombination table
------------------------------------------------------------------------------
Modification History

[Date] [User]
	- [Description]

******************************************************************************/
CREATE PROCEDURE [Processing].[Masking_MaskedCombination_CreateIndex_DD]
AS
BEGIN

	CREATE UNIQUE CLUSTERED INDEX cix_dbo_combination_masked 
		ON dbo.ConsumerCombination_Masked_DD (ConsumerCombinationID_DD)


END
GO
