USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__ConsumerTransactionHolding_Debit_Build_OriginalForTesting_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 01/09/2020
-- Description:	Empties, inserts and recreates index on the Staging Transaction table 
				from ConsumerTransaction, including the equivalent holding table
				for unseen transactions

				Raw Transactions for: YYYY_MM_DD-Daily.csv

------------------------------------------------------------------------------
This is a copy of the original sp with the name of the target table changed, that's all.

Run the program, check Processing.ConsumerTransactionHolding_Debit_OriginalForTesting against Processing.ConsumerTransactionHolding_Debit_DQC9 

******************************************************************************/
CREATE PROCEDURE [Processing].[__ConsumerTransactionHolding_Debit_Build_OriginalForTesting_Archived]
AS
BEGIN

	----------------------------------------------------------------------
	-- Clear Down
	----------------------------------------------------------------------
	TRUNCATE TABLE Processing.ConsumerTransactionHolding_Debit_OriginalForTesting;
	IF EXISTS
		(
			SELECT
				1
			FROM sys.indexes
			WHERE name = 'PK_ConsumerTransaction_DebitCardHolding'
				AND object_id = OBJECT_ID('Processing.ConsumerTransactionHolding_Debit_OriginalForTesting')
		)
		DROP INDEX PK_ConsumerTransaction_DebitCardHolding ON [Processing].[ConsumerTransactionHolding_Debit_OriginalForTesting]
		--ALTER INDEX [PK_ConsumerTransaction_DebitCardHolding] ON [Processing].[ConsumerTransactionHolding_Debit_OriginalForTesting] DISABLE


	----------------------------------------------------------------------
	-- Get minimum file id to pull transactions from
	----------------------------------------------------------------------
	DECLARE @MinFileID INT
		  , @RowCount INT = 0

	SELECT
		@MinFileID = FileID
	FROM Processing.vw_MinFileID
	WHERE FileType = 'FI'

	----------------------------------------------------------------------
	-- Get Transactions from Holding
	----------------------------------------------------------------------
	INSERT INTO Processing.ConsumerTransactionHolding_Debit_OriginalForTesting
	 SELECT
		 ct.*
	 FROM Warehouse.Relational.ConsumerTransactionHolding ct
	 JOIN Processing.Customers c
		 ON c.CINID = ct.CINID
			 AND rw = 1
	 LEFT JOIN Processing.RowNum_Log rnl
		 ON ct.FileID = rnl.FileID
			 AND ct.RowNum = rnl.RowNum
	 WHERE rnl.FileID IS NULL -- where the fileid/rownum combo has not been seen before
		 AND ct.FileID >= @MinFileID

	SET @RowCount += @@rowcount

	----------------------------------------------------------------------
	-- Get transactions from main table
	----------------------------------------------------------------------
	INSERT INTO Processing.ConsumerTransactionHolding_Debit_OriginalForTesting
	 SELECT
		 ct.*
	 FROM Warehouse.Relational.ConsumerTransaction ct
	 JOIN Processing.Customers c
		 ON c.CINID = ct.CINID
			 AND rw = 1
	 LEFT JOIN Processing.RowNum_Log rnl
		 ON ct.FileID = rnl.FileID
			 AND ct.RowNum = rnl.RowNum
	 WHERE rnl.FileID IS NULL -- where the fileid/rownum combo has not been seen before
		 AND ct.FileID >= @MinFileID

	SET @RowCount += @@rowcount

	----------------------------------------------------------------------
	-- Create Index
	----------------------------------------------------------------------
	--ALTER INDEX [PK_ConsumerTransaction_DebitCardHolding] ON [Processing].[ConsumerTransactionHolding_Debit_OriginalForTesting] REBUILD WITH (DATA_COMPRESSION = PAGE)
	CREATE UNIQUE CLUSTERED INDEX [PK_ConsumerTransaction_DebitCardHolding] ON [Processing].[ConsumerTransactionHolding_Debit_OriginalForTesting] (FileID, RowNum)

	RETURN @RowCount

END
GO
