USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__ConsumerTransactionHolding_Debit_Build_20230426_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 01/09/2020
-- Description:	Empties, inserts and recreates index on the Staging Transaction table 
				from ConsumerTransaction, including the equivalent holding table
				for unseen transactions

				Raw Transactions for: YYYY_MM_DD-Daily.csv

------------------------------------------------------------------------------
Modification History

01/09/2022 ChrisM
	- inclusion of temporary code block for testing a replacement program against this original.

******************************************************************************/
CREATE PROCEDURE [Processing].[__ConsumerTransactionHolding_Debit_Build_20230426_Archived]
AS
BEGIN

INSERT INTO [Processing].[ConsumerTransaction_RunTimes]
SELECT	[StoredProcedureName] = '[Processing].[ConsumerTransactionHolding_Debit_Build]'
	,	[ProcessType] = 'Start'
	,	[RunTime] = GETDATE()

	----------------------------------------------------------------------
	-- Clear Down
	----------------------------------------------------------------------
	TRUNCATE TABLE Processing.ConsumerTransactionHolding_Debit;
	IF EXISTS
		(
			SELECT
				1
			FROM sys.indexes
			WHERE name = 'PK_ConsumerTransaction_DebitCardHolding'
				AND object_id = OBJECT_ID('Processing.ConsumerTransactionHolding_Debit')
		)
		DROP INDEX PK_ConsumerTransaction_DebitCardHolding ON [Processing].[ConsumerTransactionHolding_Debit]
		--ALTER INDEX [PK_ConsumerTransaction_DebitCardHolding] ON [Processing].[ConsumerTransactionHolding_Debit] DISABLE


	----------------------------------------------------------------------
	-- Get minimum file id to pull transactions from
	----------------------------------------------------------------------
	DECLARE @MinFileID INT
		  , @RowCount INT = 0

	SELECT
		@MinFileID = FileID
	FROM Processing.vw_MinFileID
	WHERE FileType = 'FI'

	----------------------------------------------------------------------
	-- Get Transactions from Holding
	----------------------------------------------------------------------
	INSERT INTO Processing.ConsumerTransactionHolding_Debit
	 SELECT
		 ct.*
	 FROM Warehouse.Relational.ConsumerTransactionHolding ct
	 JOIN Processing.Customers c
		 ON c.CINID = ct.CINID
			 AND rw = 1
	 LEFT JOIN Processing.RowNum_Log rnl
		 ON ct.FileID = rnl.FileID
			 AND ct.RowNum = rnl.RowNum
	 WHERE rnl.FileID IS NULL -- where the fileid/rownum combo has not been seen before
		 AND ct.FileID >= @MinFileID

	SET @RowCount += @@rowcount

	----------------------------------------------------------------------
	-- Get transactions from main table
	----------------------------------------------------------------------
	INSERT INTO Processing.ConsumerTransactionHolding_Debit
	 SELECT
		 ct.*
	 FROM Warehouse.Relational.ConsumerTransaction ct
	 JOIN Processing.Customers c
		 ON c.CINID = ct.CINID
			 AND rw = 1
	 LEFT JOIN Processing.RowNum_Log rnl
		 ON ct.FileID = rnl.FileID
			 AND ct.RowNum = rnl.RowNum
	 WHERE rnl.FileID IS NULL -- where the fileid/rownum combo has not been seen before
		 AND ct.FileID >= @MinFileID

	SET @RowCount += @@rowcount

	----------------------------------------------------------------------
	-- Create Index
	----------------------------------------------------------------------
	--ALTER INDEX [PK_ConsumerTransaction_DebitCardHolding] ON [Processing].[ConsumerTransactionHolding_Debit] REBUILD WITH (DATA_COMPRESSION = PAGE)
	CREATE UNIQUE CLUSTERED INDEX [PK_ConsumerTransaction_DebitCardHolding] ON [Processing].[ConsumerTransactionHolding_Debit] (FileID, RowNum)
	

INSERT INTO [Processing].[ConsumerTransaction_RunTimes]
SELECT	[StoredProcedureName] = '[Processing].[ConsumerTransactionHolding_Debit_Build]'
	,	[ProcessType] = 'Finish'
	,	[RunTime] = GETDATE()

INSERT INTO [Processing].[ConsumerTransaction_RunTimes]
SELECT	[StoredProcedureName] = '[Processing].[ConsumerTransactionHolding_Debit_Build_DQC9_V2]'
	,	[ProcessType] = 'Start'
	,	[RunTime] = GETDATE()

	EXEC [Processing].[ConsumerTransactionHolding_Debit_Build_DQC9_V2]


INSERT INTO [Processing].[ConsumerTransaction_RunTimes]
SELECT	[StoredProcedureName] = '[Processing].[ConsumerTransactionHolding_Debit_Build_DQC9_V2]'
	,	[ProcessType] = 'Finish'
	,	[RunTime] = GETDATE()

	INSERT INTO Affinity.Staging.ConsumerTransactionHolding_Debit_DQC9_Test
		(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
		TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID, RunDate)
	SELECT
		FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
		TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID, RunDate = GETDATE()
	FROM Affinity.Processing.ConsumerTransactionHolding_Debit_DQC9

	INSERT INTO Affinity.Staging.ConsumerTransactionHolding_Debit_Test
		(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
		TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID, RunDate)
	SELECT
		FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
		TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID, RunDate = GETDATE()
	FROM Affinity.Processing.ConsumerTransactionHolding_Debit

	-- Total time: 00:02:03


	RETURN @RowCount

END





GO
