USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Broccoli]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [Processing].[Broccoli]
AS
BEGIN
SET NOCOUNT ON;

----------------------------------------------------------------------
	-- Step1: Creates a temporary table #Customer and populates it by selecting 
	-- data from the [WH_NWG].[Derived].[Customer] table and joining 
	-- it with [Affinity].[Processing].[Customers] table based on certain conditions.
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #Customer;
		SELECT	cu_w.[FanID]
			,	[Address1] = COALESCE(cup.[Address1], '')
			,	[Address2] =	CASE
									WHEN COALESCE(cup.[Address1], '') = COALESCE(cu_o.[Address1], '') AND COALESCE(cu_w.[PostCode], '') = COALESCE(cu_o.[PostCode], '') THEN COALESCE(cu_o.[Address2], '')
									ELSE COALESCE(cup.[Address2], '')
								END
			,	[PostCode] = COALESCE(cu_w.[PostCode], '')
			,	[PostCodeDistrict] = COALESCE(cu_w.[PostCodeDistrict], '')
			,	[PostalSector] = COALESCE(cu_w.[PostalSector], '')
			,	[PostArea] = COALESCE(cu_w.[PostArea], '')
			,	[PostalArea] = COALESCE(cu_a.[PostalArea], '')
			,	[apc_PostcodeDistrict] = COALESCE(cu_a.[PostcodeDistrict], '')
			,	[MasterAddress] =	CASE	--	Perform address transformations based on certain conditions
								
										WHEN COALESCE(cup.[Address1], '') LIKE '[0-9]' AND COALESCE(cup.[Address2], '') != '' THEN	--	Remove unwanted characters and patterns from Address1 and Address2
											REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(COALESCE(cup.[Address1], '') + ' ' + COALESCE(cup.[Address2], ''), ' ', ''), ' ', ''), '&', ''), '(', ''), ')', ''), '"', ''), '/', ''), '@', ''), ':', ''), '*', ''), '!', '')
								
										WHEN COALESCE(cup.[Address1], '') LIKE '[0-9]' AND COALESCE(cup.[Address2], '') = '' THEN		--	Remove unwanted characters and patterns from Address1 when Address2 is empty
											REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(COALESCE(cup.[Address1], '') + ' ' + COALESCE(cup.[Address2], ''), '.', ''), ',', ''), '&', ''), '(', ''), ')', ''), '"', ''), '/', ''), '@', ''), ':', ''), '*', ''), '!', '')
								
										WHEN COALESCE(cup.[Address1], '') LIKE 'FLAT [0-9]%' THEN						--	Remove unwanted characters and patterns from Address1 when it starts with 'FLAT'
											REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(COALESCE(cup.[Address1], '') + ' ' + COALESCE(cup.[Address2], ''), '.', ''), ',', ''), '&', ''), '(', ''), ')', ''), '"', ''), '/', ''), '@', ''), ':', ''), '*', ''), '!', '')
								
										ELSE																--	Remove unwanted characters and patterns from Address1 and Address2 for other cases
											REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(COALESCE(cup.[Address1], '') + ' ' + COALESCE(cup.[Address2], ''), '.', ''), ',', ''), '&', ''), '(', ''), ')', ''), '"', ''), '/', ''), '@', ''), ':', ''), '*', ''), '!', '')
									END
		INTO #Customer -- Populate the temporary table
		FROM [WH_NWG].[Derived].[Customer] cu_w
		INNER JOIN [WH_NWG].[Derived].[Customer_PII] cup
			ON cu_w.[FanID] = cup.[FanID]
		LEFT JOIN [Affinity].[Processing].[Customers] cu_a
			ON cu_w.[FanID] = cu_a.[FanID]
		LEFT JOIN [Warehouse].[Relational].[Customer] cu_o
			ON cu_w.[FanID] = cu_o.[FanID]
			AND COALESCE(cup.[PostCode], '') = cu_o.[PostCode]
			AND COALESCE(cup.[Address1], '') = cu_o.[Address1]
		WHERE cu_w.[PostalSector] != '' -- Filter out rows where PostalSector is empty
		AND cu_w.[PostArea] = cu_a.[PostalArea]; -- Filter rows based on matching PostArea values		

	----------------------------------------------------------------------
	-- Step2: Creates a temporary table #RoyalMailFile_SubBuildings and 
	-- populates it by selecting specific columns from 
	-- [Affinity].[RoyalMail].[PAFData] table, excluding rows where SubBuildingName is empty.
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #RoyalMailFile_SubBuildings;
		SELECT	rm.[Postcode]
			,	rm.[Posttown]
			,	rm.[ThoroughfareAndDescriptor]
			,	rm.[DependentThoroughfareAndDescriptor]
			,	rm.[BuildingNumber]
			,	rm.[BuildingName]
			,	rm.[SubBuildingName]
		INTO #RoyalMailFile_SubBuildings -- Populate the temporary table
		FROM [Affinity].[RoyalMail].[PAFData] rm
		WHERE rm.[SubBuildingName] NOT LIKE ''; -- Filter out rows where SubBuildingName is empty

	----------------------------------------------------------------------
	-- Step3: Creates a temporary table #BuildingType and populates it by 
	-- selecting all columns from #Customer table and adding a new column 
	-- 'IsSubBuilding' based on various conditions and transformations 
	-- applied to the 'MasterAddress' column. Although this is a very rough
	-- way of doing it, not essential.
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #BuildingType;
		SELECT	[FanID]
			,	[Address1]
			,	[Address2]
			,	[PostCode]
			,	[PostCodeDistrict]
			,	[PostalSector]
			,	[PostArea]
			,	[PostalArea]
			,	[apc_PostcodeDistrict]
			,	[MasterAddress]
			,	[IsSubBuilding] =	CASE
										-- Flats
										WHEN [MasterAddress] LIKE '[0-9][A-Z]' OR [MasterAddress] LIKE '%[0-9][A-Z] %' THEN 1
										WHEN [MasterAddress] LIKE 'FLAT[0-9]%' OR [MasterAddress] LIKE 'FLAT [0-9]' OR [MasterAddress] LIKE 'FLAT [0-9]%' THEN 1
										WHEN [MasterAddress] LIKE '%FLAT%' AND [MasterAddress] LIKE '%[0-9]%' THEN 1
										WHEN [MasterAddress] LIKE '%FLAT%' THEN 1
										-- Apartments etc
										WHEN [MasterAddress] LIKE '%APARTMENT%' OR [MasterAddress] LIKE '%APT%' THEN 1
										WHEN [MasterAddress] LIKE '%UNIT%' THEN 1
										WHEN [MasterAddress] LIKE '%STUDIO%' THEN 1
										WHEN [MasterAddress] LIKE '%BLOCK%' THEN 1
										-- Non-Flats
										WHEN [MasterAddress] LIKE '[0-9]%' AND ([MasterAddress] NOT LIKE '%FLAT%' AND [MasterAddress] NOT LIKE '%APARTMENT%') THEN 0
										WHEN [MasterAddress] LIKE '%[0-9]%' AND ([MasterAddress] NOT LIKE '%FLAT%' AND [MasterAddress] NOT LIKE '%APARTMENT%') THEN 0
										WHEN [MasterAddress] NOT LIKE '%[0-9]%' AND ([MasterAddress] NOT LIKE '%FLAT%' AND [MasterAddress] NOT LIKE '%APARTMENT%') THEN 0
										ELSE NULL
									END
		INTO #BuildingType
		FROM #Customer;

	----------------------------------------------------------------------
	-- Step4: Creates a temporary table #ParsedAddress1 and 2 and populates it by 
	-- extracting the first pattern of numbers from Address1 and 2 column of #BuildingType table.
	-- Updates the ParsedAddress1 and 2 column to NULL if the corresponding 
	-- Address1 and 2 value is an empty string or contains only spaces.
	----------------------------------------------------------------------
	
		-- Update ParsedAddress1 column to NULL if the corresponding Address1 value is an empty string or contains only spaces

			DROP TABLE IF EXISTS #ParsedAddress1;		
			SELECT	[FanID]	--	Extract the first pattern of numbers from Address1 and store it in the ParsedAddress1 column
				,	[Address1]
				,	[Address2]
				,	[PostCode]
				,	[PostalSector]
				,	[PostArea]
				,	[IsSubBuilding]
				,	[ParsedAddress1] = LEFT([subsrt], PATINDEX('%[^0-9]%', [subsrt] + 't') - 1) 
			INTO #ParsedAddress1 -- Populate the temporary table
			FROM (	
					SELECT	[FanID]	--	Subquery to extract the first pattern of numbers using PATINDEX and SUBSTRING functions 
						,	[Address1]
						,	[Address2]
						,	[Postcode]
						,	[PostalSector]
						,	[PostArea]
						,	[IsSubBuilding]
						,	[subsrt] = SUBSTRING([Address1], [pos], LEN([Address1]))
					FROM (	
							SELECT	[FanID]	--	Subquery to find the starting position of the first number in Address1 using PATINDEX function 
								,	[Address1]
								,	[Address2]
								,	[PostCode]
								,	[PostalSector]
								,	[PostArea]
								,	[IsSubBuilding]
								,	[pos] = PATINDEX('%[0-9]%', [Address1])
							FROM #BuildingType
							) d
					) t;

			UPDATE #ParsedAddress1
			SET [ParsedAddress1] = NULLIF([Address1], '')
			WHERE [ParsedAddress1] = ' ';

		-- Update ParsedAddress2 column to NULL if the corresponding Address2 value is an empty string or contains only spaces

			DROP TABLE IF EXISTS #ParsedAddress2;		
			SELECT	[FanID]	--	Extract the first pattern of numbers from Address2 and store it in the ParsedAddress2 column
				,	[Address1]
				,	[Address2]
				,	[MasterAddress]
				,	[PostCode]
				,	[PostalSector]
				,	[PostArea]
				,	[IsSubBuilding]
				,	[ParsedAddress2] = LEFT(subsrt, PATINDEX('%[^0-9]%', subsrt + 't') - 1) 
			INTO #ParsedAddress2 -- Populate the temporary table
			FROM (
					SELECT	[FanID]	--	Subquery to extract the first pattern of numbers using PATINDEX and SUBSTRING functions
						,	[Address1]
						,	[Address2]
						,	[MasterAddress]
						,	[Postcode]
						,	[PostalSector]
						,	[PostArea]
						,	[IsSubBuilding]
						,	[subsrt] = SUBSTRING([Address2], [pos], LEN([Address2]))
					FROM (
							SELECT	[FanID]	--	Subquery to find the starting position of the first number in Address2 using PATINDEX function 
								,	[Address1]
								,	[Address2]
								,	[PostCode]
								,	[PostalSector]
								,	[PostArea]
								,	[IsSubBuilding]
								,	[MasterAddress]
								,	[pos] = PATINDEX('%[0-9]%', [Address2])
							FROM #BuildingType
							) d
					) t;

			UPDATE #ParsedAddress2
			SET [ParsedAddress2] = NULLIF([Address2], '')
			WHERE [ParsedAddress2] = ' ';
			
	----------------------------------------------------------------------
	-- Step5: Creates a temporary table #ParsedRoyalMailFile_SubBuildings 
	-- and populates it by extracting the first pattern of numbers from the 
	-- SubBuildingName column of #RoyalMailFile_SubBuildings table.
	----------------------------------------------------------------------

		-- Extract the first pattern of numbers from the SubBuildingName column and insert into the #ParsedRoyalMailFile_SubBuildings table
		
			DROP TABLE IF EXISTS #ParsedRoyalMailFile_SubBuildings
			SELECT	t1.[Postcode]
				,	t1.[Posttown]
				,	t1.[ThoroughfareAndDescriptor]
				,	t1.[DependentThoroughfareAndDescriptor]
				,	t1.[BuildingNumber]
				,	t1.[BuildingName]
				,	t1.[SubBuildingName]
				,	[ParsedSubBuildingName] = LEFT(t2.[subsrt], PATINDEX('%[^0-9]%', t2.[subsrt] + 't') - 1)
			INTO #ParsedRoyalMailFile_SubBuildings
			FROM #RoyalMailFile_SubBuildings t1
			CROSS APPLY (	SELECT	t1.[SubBuildingName]
								,	[subsrt] = SUBSTRING(t1.[SubBuildingName], t2.[pos], LEN(t1.[SubBuildingName]))
							FROM (	SELECT	t1.[SubBuildingName]
										,	[pos] = PATINDEX('%[0-9]%', t1.[SubBuildingName])) t2
							) t2;

	----------------------------------------------------------------------
	-- Step6: Creates a temporary table #ETLTable with specific columns. 
	-- Inserts data into #ETLTable by joining #ParsedAddress1 and #ParsedAddress2 
	-- tables and setting IsMatched, UnhashedAddress, and SHA256 values based 
	-- on matching conditions with [Affinity].[RoyalMail].[PAFData] table.
	----------------------------------------------------------------------

		-- Create the #ETLTable table to store the extracted, transformed, and loaded data

			DROP TABLE IF EXISTS #ETLTable;
			CREATE TABLE #ETLTable ([FanID] VARCHAR(20)
								,	[PostCode] VARCHAR(10)
								,	[PostalSector] VARCHAR(10)
								,	[PostArea] VARCHAR(10)
								,	[IsSubBuilding] INT
								,	[ParsedAddress1] VARCHAR(100)
								,	[ParsedAddress2] VARCHAR(100)
								,	[Address1] VARCHAR(100)
								,	[Address2] VARCHAR(100)
								,	[IsMatched] INT
								,	[UnhashedAddress] VARCHAR(255)
								,	[SHA256] VARCHAR(MAX));

			CREATE CLUSTERED INDEX [CIX_Postcode] ON #ETLTable ([PostCode])

		-- Insert data into the #ETLTable

			INSERT INTO #ETLTable (	[FanID]
								,	[PostCode]
								,	[PostalSector]
								,	[PostArea]
								,	[IsSubBuilding]
								,	[ParsedAddress1]
								,	[ParsedAddress2]
								,	[Address1]
								,	[Address2]
								,	[IsMatched]
								,	[UnhashedAddress]
								,	[SHA256])
			SELECT	t1.[FanID]
				,	t1.[PostCode]
				,	t1.[PostalSector]
				,	t1.[PostArea]
				,	t1.[IsSubBuilding]
				,	t1.[ParsedAddress1]
				,	t2.[ParsedAddress2]
				,	t1.[Address1]
				,	t1.[Address2]
				,	[IsMatched] = NULL
				,	[UnhashedAddress] = NULL
				,	[SHA256] = CONVERT(VARCHAR(64), NULL, 2)
			FROM #ParsedAddress1 t1
			INNER JOIN #ParsedAddress2 t2
				ON t1.[FanID] = t2.[FanID]
			ORDER BY t1.[PostCode];

		CREATE NONCLUSTERED INDEX [IX_Matched_AddressType] ON #ETLTable ([IsMatched]) INCLUDE ([PostCode], [Address1], [Address2])
		CREATE NONCLUSTERED INDEX [IX_Matched_ParsedAddressType] ON #ETLTable ([IsMatched]) INCLUDE ([PostCode], [ParsedAddress1], [ParsedAddress2])
		
	----------------------------------------------------------------------
	-- Step7: SQL UPDATE statements that update the #ETLTable with matched 
	-- addresses based on certain conditions. Each UPDATE statement sets 
	-- the IsMatched column to a specific value and updates the UnhashedAddress column.
	----------------------------------------------------------------------

		-- Match 1
		UPDATE #ETLTable
		SET	[IsMatched] = 1,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[BuildingNumber] IS NULL AND rm1.[BuildingName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON (
				(rm1.[SubBuildingName] LIKE CONCAT('%', etl.[Address1], '%') AND (etl.[Address2] = rm1.[BuildingName]))
				OR (rm1.[SubBuildingName] LIKE CONCAT('%', etl.[Address2], '%') AND (etl.[Address1] = rm1.[BuildingName]))
				OR (rm1.[SubBuildingName] LIKE CONCAT('%', etl.[Address1], '%') AND (etl.[Address2] = rm1.[BuildingNumber_Name]))
				OR (rm1.[SubBuildingName] LIKE CONCAT('%', etl.[Address2], '%') AND (etl.[Address1] = rm1.[BuildingNumber_Name]))
			)
			AND etl.[PostCode] = rm1.[PostCode]
			AND rm1.[SubBuildingName] != ''
		WHERE etl.[IsMatched] IS NULL

		--	Match 2

		UPDATE #ETLTable
		SET [IsMatched] = 2,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[BuildingNumber] IS NULL AND rm1.[BuildingName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON (
				(etl.[ParsedAddress1] = rm1.[SubBuildingName])
				OR ('Flat ' + etl.[ParsedAddress1] = rm1.[SubBuildingName])
				OR ('Apartment ' + etl.[ParsedAddress1] = rm1.[SubBuildingName])
				OR ('Unit ' + etl.[ParsedAddress1] = rm1.[SubBuildingName])
				OR (etl.[ParsedAddress1] = rm1.[SubBuildingName])
				OR (SUBSTRING(etl.[Address1], 1, CASE WHEN CHARINDEX(',', etl.[Address1]) = 0 THEN LEN(etl.[Address1]) ELSE CHARINDEX(',', etl.[Address1]) - 1 END) = rm1.[SubBuildingName])
				OR (etl.[ParsedAddress2] = rm1.[SubBuildingName])
			)
			AND etl.[PostCode] = rm1.[PostCode]
		WHERE etl.[IsMatched] IS NULL

		--	Match 3

		UPDATE #ETLTable
		SET [IsMatched] = 3,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[BuildingNumber] IS NULL AND rm1.[BuildingName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON (
				(etl.[ParsedAddress1] = rm1.[BuildingNumber_Name])
				OR (etl.[ParsedAddress1] = rm1.[BuildingName])
				OR (etl.[ParsedAddress2] = rm1.[BuildingNumber_Name])
				OR (etl.[ParsedAddress2] = rm1.[BuildingName])
			)
			AND etl.[PostCode] = rm1.[PostCode]
		WHERE etl.[IsMatched] IS NULL

		--	Match 4

		UPDATE #ETLTable
		SET [IsMatched] = 4,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[BuildingNumber] IS NULL AND rm1.[BuildingName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON (
				(etl.[Address1] = rm1.[BuildingName] AND etl.[Address1] != '')
				OR (SUBSTRING(etl.[Address1], 1, CASE WHEN CHARINDEX(',', etl.[Address1]) = 0 THEN LEN(etl.[Address1]) ELSE CHARINDEX(',', etl.[Address1]) - 1 END) = rm1.[BuildingName] AND etl.[Address1] != '')
				OR (etl.[Address2] = rm1.[BuildingName] AND etl.[Address2] != '')
				OR (SUBSTRING(etl.[Address2], 1, CASE WHEN CHARINDEX(',', etl.[Address2]) = 0 THEN LEN(etl.[Address2]) ELSE CHARINDEX(',', etl.[Address2]) - 1 END) = rm1.[BuildingName] AND etl.[Address2] != '')
			)
			AND (etl.[PostCode] = rm1.[PostCode] AND rm1.[SubBuildingName] = '')
		WHERE etl.[IsMatched] IS NULL

		--	Match 5

		UPDATE #ETLTable
		SET [IsMatched] = 5,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[BuildingNumber] IS NULL AND rm1.[BuildingName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON LEFT(etl.[Address1] + ' ' + etl.[Address2], CHARINDEX(' ', etl.[Address1] + ' ' + etl.[Address2])) = rm1.[BuildingName]
			AND etl.[PostCode] = rm1.[PostCode]
		WHERE etl.[IsMatched] IS NULL

		--	Match 6

		UPDATE #ETLTable
		SET [IsMatched] = 6,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[BuildingNumber] IS NULL AND rm1.[BuildingName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON (
				(etl.[Address1] = rm1.[BuildingName] + ' ' + rm1.[ThoroughfareAndDescriptor])
				OR (etl.[Address2] = rm1.[BuildingName] + ' ' + rm1.[ThoroughfareAndDescriptor])
			)
			AND etl.[PostCode] = rm1.[PostCode]
		WHERE etl.[IsMatched] IS NULL

		--	Match 7

		UPDATE #ETLTable
		SET [IsMatched] = 7,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[BuildingNumber] IS NULL AND rm1.[BuildingName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON (
				(SUBSTRING(etl.[Address1], 1, 5) = SUBSTRING(rm1.[BuildingName], 1, 5))
				OR (SUBSTRING(etl.[Address1], 1, 5) = SUBSTRING(rm1.[BuildingNumber_Name], 1, 5))
				OR (etl.[ParsedAddress1] = SUBSTRING(rm1.[BuildingName], 1, CASE WHEN CHARINDEX(' ', rm1.[BuildingName]) = 0 THEN LEN(rm1.[BuildingName]) ELSE CHARINDEX(' ', rm1.[BuildingName]) - 1 END))
				OR (RIGHT(etl.[Address1], 5) = RIGHT(rm1.[BuildingName], 5))
				OR (RIGHT(etl.[Address1], 5) = RIGHT(rm1.[BuildingNumber_Name], 5))
				OR (rm1.[SubBuildingName] LIKE CONCAT('%', etl.[Address2], '%'))
				OR (rm1.[SubBuildingName] LIKE CONCAT('%', etl.[Address1], '%'))
				OR (rm1.[BuildingName] LIKE CONCAT('%', etl.[Address1], '%'))
				OR (rm1.[BuildingName] LIKE CONCAT('%', etl.[Address2], '%'))
			)
			AND etl.[PostCode] = rm1.[PostCode]
		WHERE etl.[IsMatched] IS NULL

		--	Match 8

		UPDATE #ETLTable
		SET [IsMatched] = 8,
			[UnhashedAddress] = CASE 
				WHEN rm2.[SubBuildingName] IS NULL AND rm2.[BuildingNumber] IS NULL AND rm2.[BuildingName] IS NULL AND rm2.[Postcode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm2.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm2.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm2.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm2.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM #ParsedRoyalMailFile_SubBuildings
		) rm2
			ON etl.[ParsedAddress1] = rm2.[ParsedSubBuildingName]
			AND etl.[PostCode] = rm2.[PostCode]
		WHERE etl.[IsMatched] IS NULL

		--	Match 9

		UPDATE #ETLTable
		SET [IsMatched] = 9,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[OrganisationName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON (
				(etl.[Address1] = rm1.[OrganisationName])
				OR (etl.[Address2] = rm1.[OrganisationName])
			)
			AND etl.[PostCode] = rm1.[PostCode]
		WHERE etl.[IsMatched] IS NULL

		--	Match 10

		UPDATE #ETLTable
		SET [IsMatched] = 10,
			[UnhashedAddress] = CASE 
				WHEN rm1.[SubBuildingName] IS NULL AND rm1.[BuildingNumber] IS NULL AND rm1.[BuildingName] IS NULL AND rm1.[PostCode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm1.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm1.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM [Affinity].[RoyalMail].[PAFData]
		) rm1
			ON (
				((etl.[Address1] = rm1.[BuildingNumber_Name] AND etl.[Address1] != ''))
				OR ((etl.[Address1] = rm1.[BuildingName] AND etl.[Address1] != ''))
				OR (etl.[ParsedAddress1] = rm1.[BuildingName] AND etl.[Address1] != '')
				OR (etl.[ParsedAddress1] = rm1.[BuildingNumber_Name] AND etl.[Address1] != '')
				OR (etl.[ParsedAddress2] = rm1.[BuildingName] AND etl.[Address2] != '')
				OR (etl.[ParsedAddress2] = rm1.[BuildingNumber_Name] AND etl.[Address2] != '')
			)
			AND REPLACE(etl.[PostCode], ' ', '') = REPLACE(rm1.[PostCode], ' ', '')
		WHERE etl.[IsMatched] IS NULL

		--	Match 11

		UPDATE #ETLTable
		SET [IsMatched] = 11,
			[UnhashedAddress] = CASE 
				WHEN rm2.[SubBuildingName] IS NULL AND rm2.[BuildingNumber] IS NULL AND rm2.[BuildingName] IS NULL AND rm2.[Postcode] IS NULL THEN NULL
				ELSE
					UPPER(
						ISNULL(REPLACE(rm2.[BuildingNumber_Name], ' ', ''), '') +
						ISNULL(REPLACE(rm2.[BuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm2.[SubBuildingName], ' ', ''), '') +
						ISNULL(REPLACE(rm2.[PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
			END
		FROM #ETLTable etl
		INNER JOIN (
			SELECT *,
				UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name
			FROM #ParsedRoyalMailFile_SubBuildings
		) rm2
			ON (
				((etl.[Address1] = rm2.[BuildingName]) AND (etl.[Address1] != '' AND etl.[ParsedAddress2] = rm2.[SubBuildingName]))
				OR ((etl.[Address1] = rm2.[BuildingNumber_Name]) AND (etl.[Address1] != '' AND etl.[ParsedAddress2] = rm2.[SubBuildingName]))
				OR ((etl.[Address2] = rm2.[BuildingName]) AND (etl.[Address2] != '' AND etl.[ParsedAddress1] = rm2.[SubBuildingName]))
				OR ((etl.[Address2] = rm2.[BuildingNumber_Name]) AND (etl.[Address2] != '' AND etl.[ParsedAddress1] = rm2.[SubBuildingName]))
			)
			AND REPLACE(etl.[PostCode], ' ', '') = REPLACE(rm2.[PostCode], ' ', '')
		WHERE etl.[IsMatched] IS NULL

		CREATE NONCLUSTERED INDEX [IX_UnhashedAddress] ON #ETLTable ([UnhashedAddress])

	----------------------------------------------------------------------
	-- Step8: Selects specific columns from #ETLTable, joins it with other 
	-- tables, and populates a new table called #Customer_PAFJoin with 
	-- the joined data.
	----------------------------------------------------------------------

		DROP TABLE IF EXISTS #Customer_PAFJoin
		SELECT	etl.[FanID]
			,	mpaf.[UDPRN]
			,	etl.[PostCode]
			,	etl.PostalSector
			,	etl.[Address1]
			,	etl.[Address2]
			,	etl.[IsMatched]
			,	etl.[UnhashedAddress]
			,	etl.[SHA256]
			,	[dpx_id] = paf.[NX_ID]
			,	paf.[HashedAddress]
			,	mpaf.[col]
		INTO #Customer_PAFJoin
		FROM #ETLTable etl
		INNER JOIN [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN] paf
			ON etl.[UnhashedAddress] = paf.[UnhashedAddress]
		INNER JOIN (
			SELECT DISTINCT
				[col] = CASE 
					WHEN [SubBuildingName] IS NULL AND [BuildingNumber] IS NULL AND [BuildingName] IS NULL AND [PostCode] IS NULL THEN NULL
					ELSE
						UPPER(
							ISNULL(REPLACE(COALESCE(NULLIF([BuildingNumber], ''), [BuildingName]), ' ', ''), '') +
							ISNULL(REPLACE([BuildingName], ' ', ''), '') +
							ISNULL(REPLACE([SubBuildingName], ' ', ''), '') +
							ISNULL(REPLACE([PostCode], ' ', ''), '')
						) + 'rCeUBC$Xop'
				END,
				[UDPRN]
			FROM [Affinity].[RoyalMail].[PAFData]
		) mpaf
		ON etl.[UnhashedAddress] = mpaf.[col]

----------------------------------------------------------------------
-- Step 9: Create final output with customer details
----------------------------------------------------------------------
DROP TABLE IF EXISTS #FinalOutput2;

SELECT
    paf.[FanID],
    apc.[ProxyUserID],
    paf.[PostalSector],
    paf.[PostCode],
    paf.[UDPRN],
    whc.[FirstName],
    whc.[LastName],
    paf.[Address1],
    paf.[Address2],
    whc.[Email],
    whc.[DOB],
    paf.[UnhashedAddress],
    paf.[HashedAddress],
    whc.[MobileTelephone],
    CASE
        WHEN whc.[MobileTelephone] LIKE '000000%' THEN RIGHT(whc.[MobileTelephone], 11)
        WHEN whc.[MobileTelephone] LIKE '+44%' THEN CONCAT(0, RIGHT(whc.[MobileTelephone], 10))
        WHEN whc.[MobileTelephone] LIKE '%%' THEN REPLACE(CAST(whc.[MobileTelephone] AS VARCHAR(30)), ' ', '')
        ELSE whc.[MobileTelephone]
    END AS [MobileTelephoneAdjusted],
    t2.[NX_ID]
INTO #FinalOutput2
FROM #Customer_PAFJoin paf
    INNER JOIN [Affinity].[Processing].[Customers] apc
        ON paf.[FanID] = apc.[FanID]
    INNER JOIN [WH_NWG].[Derived].[Customer_PII] whc
        ON whc.[FanID] = apc.[FanID]
    INNER JOIN [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN] t2
        ON paf.[UDPRN] = t2.[UDPRN];

DROP TABLE IF EXISTS [Affinity].[RoyalMail].[CustomerAddressToUDPRN];

SELECT *
INTO [Affinity].[RoyalMail].[CustomerAddressToUDPRN]
FROM #FinalOutput2;

END

GO
