USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[AffinitySwapping_PT4]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Processing].[AffinitySwapping_PT4] @ClientID INT
AS
BEGIN
	
	/* RS Comments: I have structured the below code in a way that follows
	the logic described in the requirements specification by Prakash Kelshiker
	(excluding the intial two files bit).
	I recommend reading through that alongside the below as some of it will. 
	maybe come across "back to front" otherwise.*/

	--Swap cohort_id to udprn for ease of testing

	----------------------------------------------------------------------
	-- Creating input file 2.
	----------------------------------------------------------------------

	DROP TABLE IF EXISTS #InputFile2
	SELECT apc.FanID,cohort_id,apc.ProxyUserID, wpc.PostalSector, wpc.Gender, CASE WHEN wpc.AgeCurrent < 18 THEN '0'WHEN wpc.AgeCurrent BETWEEN 18 and 24 THEN '18-24'WHEN wpc.AgeCurrent BETWEEN 25 and 29 THEN '25-29'WHEN wpc.AgeCurrent BETWEEN 30 and 34 THEN '30-34'WHEN wpc.AgeCurrent BETWEEN 35 and 39 THEN '35-39'WHEN wpc.AgeCurrent BETWEEN 40 and 44 THEN '40-44'WHEN wpc.AgeCurrent BETWEEN 45 and 49 THEN '45-49'WHEN wpc.AgeCurrent BETWEEN 50 and 54 THEN '50-54'WHEN wpc.AgeCurrent BETWEEN 55 and 59 THEN '55-59'WHEN wpc.AgeCurrent BETWEEN 60 and 64 THEN '60-64'WHEN wpc.AgeCurrent BETWEEN 65 and 69 THEN '65-69'WHEN wpc.AgeCurrent BETWEEN 70 and 74 THEN '70-74'WHEN wpc.AgeCurrent BETWEEN 75 and 79 THEN '75-79'WHEN wpc.AgeCurrent BETWEEN 80 and 84 THEN '80-84'WHEN wpc.AgeCurrent BETWEEN 85 and 89 THEN '85-89'WHEN wpc.AgeCurrent BETWEEN 90 and 94 THEN '90-94'WHEN wpc.AgeCurrent BETWEEN 95 and 99 THEN '95-99'WHEN wpc.AgeCurrent BETWEEN 100 and 104 THEN '100-104'WHEN wpc.AgeCurrent BETWEEN 105 and 109 THEN '105-109'WHEN wpc.AgeCurrent BETWEEN 110 and 114 THEN '110-114'WHEN wpc.AgeCurrent BETWEEN 115 and 119 THEN '115-119'
	END AS 'AgeBand'
	INTO #InputFile2
	--Starting with Affinity Customer
	FROM [Affinity].[Processing].[Customers] apc
	--Joining where exists in WH
	INNER JOIN [Warehouse].[Relational].[Customer] wpc
	ON apc.FanID = wpc.FanID
	--Checking to see if customer has been assigned a UDPRN DPX ID (from prev srcipt)
	INNER JOIN [Affinity].[RoyalMail].[CustomerAddressToUDPRN_Map_03052023] arc
	ON apc.FanID = arc.FanID
	--Using DPX ID to check if 3rd party also has thay UDPRN
	INNER JOIN [Affinity].[RoyalMail].[X_Cohort_map_04202023000_Import] arx
	ON arc.NX_ID_UDPRN_Cohort = arx.dpx_id
	WHERE  wpc.PostalSector != ''
	AND apc.PostalArea = 'NG' and wpc.PostalSector = 'NG2 7'
	AND (apc.PostalArea = wpc.PostArea) --Was one edge cases where the two were different.. hoping it was just timeing
	ORDER BY NEWID()
	--('NG' RUN: 86,028 rows affected)
	--(FULL RUN: 4,107,438 rows affected)
	--SELECT* FROM #InputFile2

	--AK RUN 05/10/2023 00:09
	--AK RUN 12/10/2023 1637 rows affected
	
	/* RS Comments: In the project plan there are steps such as;
	1.Create Neon_CardholderMap table in Neon's Affinity Database
	2.Create DP_CardholderCohortMap table in Neon's Affinity Database
	There is no need for this as we use the ProxyUserID throughout,
	thus no need for additional fields of mapping tables.*/

	----------------------------------------------------------------------
	-- (Step2) - From the Working File, delete the rows where the cardholder 
	-- resides in a Postal Sector that contains fewer than 5 cardholders
	----------------------------------------------------------------------

	--Note1: Identifying rows for deletion.
	DROP TABLE IF EXISTS #PostalSectorsCounts
	SELECT PostalSector, COUNT(*) AS countOfPostalSector
	INTO #PostalSectorsCounts
	FROM #InputFile2
	GROUP BY PostalSector
	--(142 rows affected)
	--(9471 rows affected)

	--AK RUN 12/10/2023 1 row affected

	--SELECT * FROM #PostalSectorsCounts order by countOfPostalSector desc


	DELETE FROM #InputFile2
	WHERE PostalSector IN (SELECT PostalSector FROM #PostalSectorsCounts WHERE countOfPostalSector < 5)
	--(1 rows affected)
	--(333 rows affected)

	--AK RUN 12/10/2023 0 rows affected

	----------------------------------------------------------------------
	-- (Step3) - Create a file with the NI-IDs and 3P COHORT IDs for the 
	-- singletons and call this the Singleton File
	----------------------------------------------------------------------

	--Getting singletons.
	DROP TABLE IF EXISTS #CountOfSingletons
	SELECT cohort_id, COUNT(FanID) countOfSingletons
	INTO #CountOfSingletons
	FROM #InputFile2
	GROUP BY cohort_id
	HAVING COUNT(FanID) = 1
	--(23027 rows affected)
	--(1158236 rows affected)

	--AK RUN 12/10/2023 330 rows affected

	--Generating file.
	DROP TABLE IF EXISTS #SingletonFile1
	SELECT FanID,/*[NI-ID]*/ProxyUserID,AgeBand, Gender,PostalSector, cohort_id
	INTO #SingletonFile1
	FROM #InputFile2 i1
	WHERE cohort_id IN (SELECT cohort_id FROM #CountOfSingletons)
	--(23027 rows affected)
	--(1158236 rows affected)

	--AK RUN 12/10/2023 330 rows affected

	--SELECT * FROM #CountOfSingletons
	--SELECT * FROM #SingletonFile1_UDPRN order by FANID
	--SELECT * FROM #SingletonFile1_cohort_id order by FANID
	--SELECT * FROM #InputFile2 t1 LEFT JOIN #SingletonFile1 t2 ON t1.fanid = t2.fanid where t2.fanid is null

	----------------------------------------------------------------------
	-- (Step4) - Calculate number of singletons in each Postal Sector, and 
	-- store this in a file called the Postal Sector Singleton Count File
	----------------------------------------------------------------------

	DROP TABLE IF EXISTS #PostalSectorSingletonCountFile
	SELECT PostalSector, COUNT(*) countOfSingletons
	INTO #PostalSectorSingletonCountFile
	FROM #SingletonFile1
	GROUP BY PostalSector
	--(141 rows affected)
	--(9312 rows affected)

	--AK RUN 12/10/2023 1 row affected

	--SELECT * FROM #SingletonFile1
	--SELECT * FROM #PostalSectorSingletonCountFile ORDER BY countOfSingletons DESC

	----------------------------------------------------------------------
	-- (Step5) - Delete from the Working File any singletons that are the 
	--	only singleton in their Postal Sector
	----------------------------------------------------------------------

	DELETE FROM #InputFile2
	WHERE PostalSector IN (SELECT PostalSector FROM #PostalSectorSingletonCountFile WHERE countOfSingletons = 1)
	--(0 rows affected)
	--(165 rows affected) select count (*) from #InputFile2

	--AK RUN 12/10/2023 0 rows affected

	----------------------------------------------------------------------
	-- (Step6) - Clear down the Singleton File created at Step 3
	----------------------------------------------------------------------

	DROP TABLE IF EXISTS #SingletonFile1
	--Commands completed successfully.

	----------------------------------------------------------------------
	-- (Step7) - Query the remaining singletons from the Working File and 
	-- insert them into the empty Singleton File
	----------------------------------------------------------------------
	--here down
	DROP TABLE IF EXISTS #CountOfSingletons_
	SELECT cohort_id, COUNT(FanID) countOfSingletons
	INTO #CountOfSingletons_
	FROM #InputFile2 i1
	GROUP BY cohort_id
	HAVING COUNT(FanID) = 1
	--(23027 rows affected)
	--(1158224 rows affected)

	--AK RUN 12/10/2023 330 rows affected

	--Re-generating file.
	DROP TABLE IF EXISTS #SingletonFile2
	SELECT FanID,/*[NI-ID]*/ProxyUserID,Gender,AgeBand,PostalSector,cohort_id
	INTO #SingletonFile2
	FROM #InputFile2 i1
	WHERE cohort_id IN (SELECT cohort_id FROM #CountOfSingletons_)
	--(23027 rows affected)
	--(1158224 rows affected)

	--AK RUN 12/10/2023 330 rows affected

	--SELECT * FROM #CountOfSingletons_
	--SELECT * FROM #SingletonFile2

	----------------------------------------------------------------------
	-- (Step8) - Delete all singletons from the Working File
	----------------------------------------------------------------------

	DELETE FROM #InputFile2
	WHERE cohort_id IN (SELECT cohort_id FROM #SingletonFile2)
	--(23027 rows affected)
	--(1158224 rows affected)

	--AK RUN 12/10/2023 330 rows affected

	--SELECT * FROM #InputFile2

	----------------------------------------------------------------------
	-- (Step9) - In the Singleton File flag a random 12.5% of rows with a Boolean - THIS NEEDS TO BE 20% FOR PRODUCTION - AK 25/09/2023
	----------------------------------------------------------------------
	
	ALTER TABLE #SingletonFile2
	ADD swapFlag INT

	--swapFlag produces an error if runing full script. Run in two halfs.
	UPDATE #SingletonFile2
	SET swapFlag = 0 WHERE swapFlag IS NULL
	--(22599 rows affected)
	--(1158224 rows affected)

	--AK RUN 12/10/2023 330 rows affected

	
	DECLARE @percent DECIMAL(10,4);
	DECLARE @totalRows INT;
	DECLARE @rowsFlagged INT;
	DECLARE @singletonSwapThreshold INT;
	DECLARE @counter INT;
	DECLARE @rowsReset INT;

	SET @percent = 20;
	SET @totalRows = (SELECT COUNT(*) FROM #SingletonFile2)
	SET @rowsFlagged = CAST(@totalRows / 100 * @percent AS INT)
	SET @singletonSwapThreshold = 1
	SET @counter = 1
	SET @rowsReset = 0

	WHILE @singletonSwapThreshold != 0
	BEGIN


	UPDATE #SingletonFile2
	SET swapFlag = 1 WHERE FanID IN (SELECT TOP (@rowsFlagged) FanID FROM #SingletonFile2 WHERE swapFlag = 0 ORDER BY NEWID())
	--select count(*) from #SingletonFile2 where swapflag = 1
	--UPDATE #SingletonFile2 SET SWAPFLAG = 0
	PRINT(' Updatestatement - @rowsFlagged:  ' + CONVERT(VARCHAR,@rowsFlagged));


	----------------------------------------------------------------------
	-- (Step10) - Working on the Singleton File, for each Postal Sector;
	-- see document or below comments in order.
	----------------------------------------------------------------------

	--Count the singletons in the Postal Sector that have been selected for swapping
		DROP TABLE IF EXISTS #CountOfSingletonsSwapping_Step10
		SELECT PostalSector, COUNT(FanID) countOfSingletons
		INTO #CountOfSingletonsSwapping_Step10
		FROM #SingletonFile2
		WHERE swapFlag = 1
		GROUP BY PostalSector
			--select * from #SingletonFile2
			--select * from #CountOfSingletonsSwapping_Step10 order by countOfSingletons desc

	--Count the total singletons within the Postal Sector
		DROP TABLE IF EXISTS #CountOfSingletons_Step10
		SELECT PostalSector, COUNT(FanID) countOfSingletons
		INTO #CountOfSingletons_Step10
		FROM #SingletonFile2
		GROUP BY PostalSector
			--select * from #CountOfSingletons_Step10 order by countOfSingletons desc

	--If the number of singletons within the Postal Sector selected for swapping 
	--exceeds 50% of the total singleton count for that Postal Sector, unflag any 
	--one of the singletons that had been selected for swapping.

	DROP TABLE IF EXISTS #PercentageSwap
	SELECT t1.PostalSector, 
	t1.countOfSingletons AS countOfSingletons_PerPostalSector, t2.countOfSingletons as countOfSingletons_PerPostalSector_Swapped,
	PostalSectorSwapPerc = CAST(CAST (t2.countOfSingletons AS DECIMAL(10,2)) / CAST(t1.countOfSingletons AS DECIMAL(10,2)) * 100 AS DECIMAL(10,2))
	INTO #PercentageSwap
	FROM #CountOfSingletons_Step10 t1
	left JOIN #CountOfSingletonsSwapping_Step10 t2
	ON t1.PostalSector = t2.PostalSector
		--SELECT * FROM #PercentageSwap ORDER BY PostalSectorSwapPerc DESC


	SET @singletonSwapThreshold = (SELECT COUNT(*) FROM #PercentageSwap WHERE PostalSectorSwapPerc > 50)
	PRINT('@singletonSwapThreshold: ' + CONVERT(VARCHAR,@singletonSwapThreshold))
	SET @rowsFlagged = (SELECT COUNT(*) FROM #SingletonFile2 t1 INNER JOIN #PercentageSwap t2 ON t1.PostalSector = t2.PostalSector WHERE PostalSectorSwapPerc > 50 AND t1.swapFlag = 1)
	PRINT('@rowsFlagged: ' + CONVERT(VARCHAR,@rowsFlagged))

	UPDATE #SingletonFile2
	SET swapFlag = 0 WHERE FanID IN (SELECT t1.FanID FROM #SingletonFile2 t1 INNER JOIN #PercentageSwap t2 ON t1.PostalSector = t2.PostalSector WHERE PostalSectorSwapPerc > 50 AND t1.swapFlag = 1)
	
	set @counter = @counter + 1
	PRINT('COUNTER VALUE: ' + CONVERT (VARCHAR,@counter))

	--SELECT * FROM #SingletonFile2 where swapflag = 1

	END
	--SELECT * FROM #SingletonFile2

	--AK RUN 12/10/2023 60 rows affected - Counter Value: 2

	----------------------------------------------------------------------
	-- (Step11) - Working on the Singleton File, for each Postal Sector that 
	-- contains one (or more) singletons that have been selected for swapping
	----------------------------------------------------------------------

	-- Calculate a ‘similarity score’ between every singleton in the Postal Sector 
	-- that has been selected for swapping, and every singleton in the Postal Sector that is eligible for pairing;

	--The similarity score is calculated by starting at 0 then
	-- o	subtracting 100 if the gender is different
	-- o	subtracting 5 for each absolute difference in the 5 year age bracket

	DROP TABLE IF EXISTS #SingletonFile2_Step11
	SELECT A.*,B.FanID AS SimilarityFanID,B.Gender AS SimilarityGender,B.AgeBand AS SimilarityAgeBand,B.cohort_id AS Similaritycohort_id,B.swapFlag AS SimilaritySwapFlag,
				(
				(CASE WHEN A.Gender != B.Gender THEN -100 ELSE 0 END) +
				(CASE WHEN A.AgeBand != B.AgeBand THEN ABS(CAST(LEFT(A.AgeBand, len(A.AgeBand) - charindex('-', A.AgeBand)) AS INT)-CAST(LEFT(B.AgeBand, len(B.AgeBand) - charindex('-', B.AgeBand)) AS INT)) ELSE 0 END)*-1
				)
			AS SimilarityScore 
	INTO #SingletonFile2_Step11
	FROM #SingletonFile2 AS A 
	CROSS JOIN #SingletonFile2 AS B 
	WHERE (A.PostalSector = B.PostalSector ) AND A.FanID != B.FanID AND A.SwapFlag = 1
	--(575,828 rows affected)
	--(24236031 rows affected)

	--AK RUN 12/10/2023  19740 rows affected


	--SELECT * FROM #SingletonFile2_Step11 where fanid = '19385819' order by similarityscore desc

	----------------------------------------------------------------------
	-- (Step12) - For each Postal sector that contains one (or more) 
	-- singletons that have been selected for swapping;
	----------------------------------------------------------------------

	-- Note: Step through the singletons that have been selected for swapping (in any order) 
	--		Pair each with the singleton that is eligible for pairing that: 
	--		o	has the highest similarity score
	--		o	has not already been paired

	--Getting min SimilarityScore for each sector that has been selected for swapping and rankig column
		DROP TABLE IF EXISTS #MaxSimilarityScore_PerPostalSector
		SELECT FanID, Gender,AgeBand,PostalSector,cohort_id,swapFlag,SimilarityFanID,SimilarityGender,SimilarityAgeBand,Similaritycohort_id,SimilaritySwapFlag
		,SimilarityScore,ROW_NUMBER() OVER (PARTITION BY PostalSector ORDER BY SimilarityScore desc) AS OrderedSimilarityScore_PerPostalSector
		INTO #MaxSimilarityScore_PerPostalSector
		FROM #SingletonFile2_Step11
		WHERE swapFlag = 1 AND SimilaritySwapFlag = 0
		--(504,012 rows affected)
		--(21205507 rows affected)

		--AK RUN 12/10/2023 16200 rows affected


	--SELECT * FROM #MaxSimilarityScore_PerPostalSector WHERE FANID = '19385819' order by PostalSector, SimilarityScore DESC--, DupChecker
	--SELECT * FROM #SingletonFile2 t1 
	--SELECT PostalSector, cohort_id, COUNT(*) AS CntOfDuplicateCohortID FROM #SingletonFile2 GROUP BY cohort_id, PostalSector ORDER BY count(*) desc, PostalSector, cohort_id


	DECLARE @dupCount INT;
	DECLARE @rowCounter INT;
	DECLARE @mergeInsert INT;
	DECLARE @minSimilarityOrder INT;

	SET @dupCount = (SELECT COUNT(*) from #MaxSimilarityScore_PerPostalSector)
	SET @rowCounter = 1
	SET @mergeInsert = 0
	SET @minSimilarityOrder = 1

	WHILE @dupCount != 0
	BEGIN

	SET @minSimilarityOrder = (SELECT MIN(OrderedSimilarityScore_PerPostalSector) FROM #MaxSimilarityScore_PerPostalSector)
	PRINT('minSimilarityOrder: ' + CONVERT (VARCHAR,@minSimilarityOrder))

	--Swapping the cohorts
		UPDATE #MaxSimilarityScore_PerPostalSector
		SET cohort_id = Similaritycohort_id,
			Similaritycohort_id = cohort_id
		WHERE OrderedSimilarityScore_PerPostalSector = @minSimilarityOrder

	--prep for merge
		drop table if exists #mergeinsert
		SELECT * into #mergeinsert FROM #MaxSimilarityScore_PerPostalSector where OrderedSimilarityScore_PerPostalSector = @minSimilarityOrder
		--select * from #mergeinsert


		--SELECT * FROM #MaxSimilarityScore_PerPostalSector WHERE PostalSector = 'NG15 0'
		
		--SELECT * FROM #SingletonFile2 WHERE PostalSector = 'NG15 0'

	--Updating the swapped cohorts
	MERGE #SingletonFile2 AS Target
	USING #mergeinsert AS Source
	ON Source.FanID = Target.FanID

	WHEN MATCHED THEN UPDATE SET
	Target.cohort_id = Source.cohort_id,
	Target.swapFlag = 99;
	
	--SELECT * FROM #SingletonFile2 WHERE PostalSector = 'NG34 6'


	--Updating the swapped cohorts
	MERGE #SingletonFile2 AS Target
	USING #mergeinsert AS Source
	ON Source.SimilarityFanID = Target.FanID

	WHEN MATCHED THEN UPDATE SET
	Target.cohort_id = Source.Similaritycohort_id,
	Target.swapFlag = -99;


	--SELECT * FROM #SingletonFile2 WHERE PostalSector = 'NG34 6'
	--SELECT * FROM #MaxSimilarityScore_PerPostalSector WHERE PostalSector = 'NG34 6'

	DELETE FROM #MaxSimilarityScore_PerPostalSector
	--SELECT * FROM #MaxSimilarityScore_PerPostalSector
	WHERE FanID IN (SELECT FanID FROM #SingletonFile2 WHERE swapFlag = 99)
	OR SimilarityFanID IN (SELECT FanID FROM #SingletonFile2 WHERE swapFlag = -99)
	--SELECT * FROM #MaxSimilarityScore_PerPostalSector WHERE PostalSector = 'NG34 6'

	SET @dupCount = (SELECT COUNT(*) from #MaxSimilarityScore_PerPostalSector)
	PRINT('DUP COUNT: ' + CONVERT (VARCHAR,@dupCount))
	
	SET @rowCounter = @rowCounter + 1
	PRINT('COUNTER VALUE: ' + CONVERT (VARCHAR,@rowCounter))

	END
	--COUNTER VALUE: 279
	--COUNTER VALUE: 977

	----------------------------------------------------------------------
	-- (Step13) - Insert the new swapped (NI-ID, 3P COHORT ID) 
	-- rows into the Working File
	----------------------------------------------------------------------

	--Inserting into working file
	MERGE #InputFile2 AS Target
	USING #SingletonFile2 AS Source
	ON Source.FanID = Target.FanID

	WHEN NOT MATCHED BY Target THEN
		INSERT (FanID,Gender,AgeBand,PostalSector,cohort_id,/*[NI-ID]*/ProxyUserID)
		VALUES (Source.FanID,Source.Gender,Source.AgeBand,Source.PostalSector,Source.cohort_id,Source./*[NI-ID]*/ProxyUserID);
		--(23027 rows affected)
		--(1158224 rows affected)

		--AK RUN 12/10/2023 330 rows affected

		
	--SELECT count(*) FROM #InputFile2 order by fanid desc
	--SELECT * FROM #InputFile2 order by fanid desc
	--SELECT * FROM #SingletonFile2


	----------------------------------------------------------------------
	--  Reports and inserts etc
	----------------------------------------------------------------------


	--truncate table [Affinity].[RoyalMail].[Cardholder_UDPRN_ProductionTestRun]
		--INSERT INTO [Affinity].[RoyalMail].[Cardholder_UDPRN_ProductionTestRun]
		--SELECT t1.FanID,t1./*[NI-ID]*/ProxyUserID,t1.Gender,t1.AgeBand,t1.PostalSector,t1.cohort_id,t2.swapFlag, @ClientID, GETDATE() FROM #InputFile2 t1 
		--LEFT JOIN #SingletonFile2 t2 ON t1.FanID=t2.FanID
		-- WHERE t1.PostalSector != ''
		-- ORDER BY t1.PostalSector, t1.FanID

		TRUNCATE TABLE [Affinity].[RoyalMail].[Cardholder_UDPRN_ProductionTestRun]
        INSERT INTO [Affinity].[RoyalMail].[Cardholder_UDPRN_ProductionTestRun]
        SELECT  t1.[FanID]
            ,   t1.[ProxyUserID]    /*[NI-ID]*/
            ,   t1.[Gender]
            ,   t1.[AgeBand]
            ,   t1.[PostalSector]
            ,   [UDPRN] = t1.[cohort_id]
            ,   [swapFlag] =    CASE
                                    WHEN t2.[FanID] IS NULL THEN -999
                                    ELSE t2.[swapFlag]
                                END
            ,   [ClientID] = @ClientID
            ,   [AddedDate] = GETDATE()
        FROM #InputFile2 t1 
        LEFT JOIN #SingletonFile2 t2
            ON t1.[FanID] = t2.[FanID]
         WHERE t1.[PostalSector] != ''
         ORDER BY   t1.[PostalSector]
                ,   t1.[FanID]

	--AK RUN 12/10/2023 1637 rows affected

	--reports for Darren

    --SELECT PostalSector, 
	--COUNT(DISTINCT UDPRN) AS 'No. of Cohorts',
	--COUNT(DISTINCT ProxyUserID) AS 'No. of Customers'
	--FROM [Affinity].[RoyalMail].[Cardholder_UDPRN_ProductionTestRun]
	--GROUP BY PostalSector 
	--ORDER BY PostalSector ASC

	--AK RUN 12/10/2023 NG2 7 - 770 Cohorts - 1637 Customers

	--drop table if exists #ptest
	--SELECT PostalSector,UDPRN,COUNT(FANID) as 'Cohort#' INTO #ptest 
	--FROM [Affinity].[RoyalMail].[Cardholder_UDPRN_ProductionTestRun] /*where postalsector = 'NG1 2'*/ 
	--group by postalsector, UDPRN
	--select * from #ptest WHERE POSTALSECTOR = 'BH16 6'

	--AK RUN 12/10/2023 770 rows affected
	
	--select * from (
	--select PostalSector,[Cohort#],count([Cohort#]) as 'Customers Per Cohort' from #ptest group by PostalSector,[Cohort#]
	--) as test
	--pivot (sum([Customers Per Cohort]) for [Cohort#] in ([1],	[2],	[3],	[4],	[5],	[6],	[7],	[8],	[9],	[10],	[11],	[12],	[13],	[14],	[15],	[16],	[17],	[18],	[19],	[20],	[21],	[22],	[23],	[24],	[25],	[26],	[27],	[28],	[29],	[30],	[31],	[32],	[33],	[34],	[35],	[36],	[37],	[38],	[39],	[40],	[41],	[42],	[43],	[44],	[45],	[46],	[47],	[48],	[49],	[50],	[51],	[52],	[53],	[54],	[55],	[56],	[57],	[58],	[59],	[60],	[61],	[62],	[63],	[64],	[65],	[66],	[67],	[68],	[69],	[70],	[71],	[72],	[73],	[74],	[75],	[76],	[77],	[78],	[79],	[80],	[81],	[82],	[83],	[84],	[85],	[86],	[87],	[88],	[89],	[90],	[91],	[92],	[93],	[94],	[95],	[96],	[97],	[98],	[99],	[100],	[101],	[102],	[103]
	--)) priv
	--ORDER BY PostalSector ASC
	
END
GO
