USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[MapCustomerToPAF_PT3_V3]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Processing].[MapCustomerToPAF_PT3_V3] @ClientID INT
AS
BEGIN

	----------------------------------------------------------------------
	-- Step1: Creates a temporary table #Customer and populates it by selecting 
	-- data from the [Warehouse].[Relational].[Customer] table and joining 
	-- it with [Affinity].[Processing].[Customers] table based on certain conditions.
	----------------------------------------------------------------------

DROP TABLE IF EXISTS #Customer;
SELECT
    wpc.*, -- Select all columns from the [Warehouse].[Relational].[Customer] table
    apc.PostalArea,
    apc.PostcodeDistrict as apc_PostcodeDistrict,
    CASE
        -- Perform address transformations based on certain conditions
        WHEN [Address1] LIKE '[0-9]' AND Address2 != '' THEN
            -- Remove unwanted characters and patterns from Address1 and Address2
            REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Address1+' '+Address2, ' ', ''), ' ', ''), '&', ''), '(', ''), ')', ''), '"', ''), '/', ''), '@', ''), ':', ''), '*', ''), '!', '')
        WHEN [Address1] LIKE '[0-9]' AND Address2 = '' THEN
            -- Remove unwanted characters and patterns from Address1 when Address2 is empty
            REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Address1+' '+Address2, '.', ''), ',', ''), '&', ''), '(', ''), ')', ''), '"', ''), '/', ''), '@', ''), ':', ''), '*', ''), '!', '')
        WHEN Address1 LIKE 'FLAT [0-9]%' THEN
            -- Remove unwanted characters and patterns from Address1 when it starts with 'FLAT'
            REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Address1+' '+Address2, '.', ''), ',', ''), '&', ''), '(', ''), ')', ''), '"', ''), '/', ''), '@', ''), ':', ''), '*', ''), '!', '')
        ELSE
            -- Remove unwanted characters and patterns from Address1 and Address2 for other cases
            REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Address1+' '+Address2, '.', ''), ',', ''), '&', ''), '(', ''), ')', ''), '"', ''), '/', ''), '@', ''), ':', ''), '*', ''), '!', '')
    END AS MasterAddress
INTO #Customer -- Populate the temporary table
FROM [Warehouse].[Relational].[Customer] wpc
LEFT JOIN [Affinity].[Processing].[Customers] apc
    ON wpc.FanID = apc.FanID
WHERE 
    PostalSector != '' -- Filter out rows where PostalSector is empty
    AND wpc.PostArea = apc.PostalArea; -- Filter rows based on matching PostArea values

	----------------------------------------------------------------------
	-- Step2: Creates a temporary table #RoyalMailFile_SubBuildings and 
	-- populates it by selecting specific columns from 
	-- [Affinity].[RoyalMail].[PAFData] table, excluding rows where SubBuildingName is empty.
	----------------------------------------------------------------------

DROP TABLE IF EXISTS #RoyalMailFile_SubBuildings;
SELECT
    [Postcode],
    [Posttown],
    [ThoroughfareAndDescriptor],
    [DependentThoroughfareAndDescriptor],
    [BuildingNumber],
    [BuildingName],
    [SubBuildingName]
INTO #RoyalMailFile_SubBuildings -- Populate the temporary table
FROM [Affinity].[RoyalMail].[PAFData] rm
WHERE SubBuildingName NOT LIKE ''; -- Filter out rows where SubBuildingName is empty

-- AK RUN 04/10/2023 - 00:04
	----------------------------------------------------------------------
	-- Step3: Creates a temporary table #BuildingType and populates it by 
	-- selecting all columns from #Customer table and adding a new column 
	-- 'IsSubBuilding' based on various conditions and transformations 
	-- applied to the 'MasterAddress' column. Although this is a very rough
	-- way of doing it, not essential.
	----------------------------------------------------------------------

DROP TABLE IF EXISTS #BuildingType;
SELECT *,
	CASE
		-- Flats
		WHEN MasterAddress LIKE '[0-9][A-Z]' OR MasterAddress LIKE '%[0-9][A-Z] %' THEN 1
		WHEN MasterAddress LIKE 'FLAT[0-9]%' OR MasterAddress LIKE 'FLAT [0-9]' OR MasterAddress LIKE 'FLAT [0-9]%' THEN 1
		WHEN MasterAddress LIKE '%FLAT%' AND MasterAddress LIKE '%[0-9]%' THEN 1
		WHEN MasterAddress LIKE '%FLAT%' THEN 1
		-- Apartments etc
		WHEN MasterAddress LIKE '%APARTMENT%' OR MasterAddress LIKE '%APT%' THEN 1
		WHEN MasterAddress LIKE '%UNIT%' THEN 1
		WHEN MasterAddress LIKE '%STUDIO%' THEN 1
		WHEN MasterAddress LIKE '%BLOCK%' THEN 1
		-- Non-Flats
		WHEN MasterAddress LIKE '[0-9]%' AND (MasterAddress NOT LIKE '%FLAT%' AND MasterAddress NOT LIKE '%APARTMENT%') THEN 0
		WHEN MasterAddress LIKE '%[0-9]%' AND (MasterAddress NOT LIKE '%FLAT%' AND MasterAddress NOT LIKE '%APARTMENT%') THEN 0
		WHEN MasterAddress NOT LIKE '%[0-9]%' AND (MasterAddress NOT LIKE '%FLAT%' AND MasterAddress NOT LIKE '%APARTMENT%') THEN 0
		ELSE NULL
	END AS 'IsSubBuilding'
INTO #BuildingType -- Populate the temporary table
FROM #Customer; -- Select from the #Customer temporary table

	----------------------------------------------------------------------
	-- Step4: Creates a temporary table #ParsedAddress1 and 2 and populates it by 
	-- extracting the first pattern of numbers from Address1 and 2 column of #BuildingType table.
	-- Updates the ParsedAddress1 and 2 column to NULL if the corresponding 
	-- Address1 and 2 value is an empty string or contains only spaces.
	----------------------------------------------------------------------

DROP TABLE IF EXISTS #ParsedAddress1;
-- Extract the first pattern of numbers from Address1 and store it in the ParsedAddress1 column
SELECT 
    FanID, 
    Address1, 
    Address2, 
    PostCode, 
    PostalSector, 
    PostArea, 
    IsSubBuilding,
    LEFT(subsrt, PATINDEX('%[^0-9]%', subsrt + 't') - 1) ParsedAddress1 
INTO #ParsedAddress1 -- Populate the temporary table
FROM (
    -- Subquery to extract the first pattern of numbers using PATINDEX and SUBSTRING functions
    SELECT 
        FanID, 
        Address1, 
        Address2, 
        Postcode, 
        PostalSector, 
        PostArea, 
        IsSubBuilding, 
        subsrt = SUBSTRING(Address1, pos, LEN(Address1))
    FROM (
        -- Subquery to find the starting position of the first number in Address1 using PATINDEX function
        SELECT 
            FanID, 
            Address1, 
            Address2, 
            PostCode, 
            PostalSector, 
            PostArea, 
            IsSubBuilding, 
            pos = PATINDEX('%[0-9]%', Address1)
        FROM #BuildingType
    ) d
) t;

-- Update ParsedAddress1 column to NULL if the corresponding Address1 value is an empty string or contains only spaces
UPDATE #ParsedAddress1
SET ParsedAddress1 = NULLIF(Address1,'')
WHERE ParsedAddress1 = ' ';

DROP TABLE IF EXISTS #ParsedAddress2;
-- Extract the first pattern of numbers from Address2 and store it in the ParsedAddress2 column
SELECT 
    FanID, 
    Address1, 
    Address2, 
    MasterAddress, 
    PostCode, 
    PostalSector,
    PostArea, 
    IsSubBuilding, 
    LEFT(subsrt, PATINDEX('%[^0-9]%', subsrt + 't') - 1) ParsedAddress2 
INTO #ParsedAddress2 -- Populate the temporary table
FROM (
    -- Subquery to extract the first pattern of numbers using PATINDEX and SUBSTRING functions
    SELECT 
        FanID, 
        Address1, 
        Address2, 
        MasterAddress, 
        Postcode, 
        PostalSector, 
        PostArea, 
        IsSubBuilding, 
        subsrt = SUBSTRING(Address2, pos, LEN(Address2))
    FROM (
        -- Subquery to find the starting position of the first number in Address2 using PATINDEX function
        SELECT 
            FanID, 
            Address1, 
            Address2, 
            PostCode, 
            PostalSector, 
            PostArea, 
            IsSubBuilding, 
            MasterAddress, 
            pos = PATINDEX('%[0-9]%', Address2)
        FROM #BuildingType
    ) d
) t;

-- Update ParsedAddress2 column to NULL if the corresponding Address2 value is an empty string or contains only spaces
UPDATE #ParsedAddress2
SET ParsedAddress2 = NULLIF(Address2,'')
WHERE ParsedAddress2 = ' ';

	----------------------------------------------------------------------
	-- Step5: Creates a temporary table #ParsedRoyalMailFile_SubBuildings 
	-- and populates it by extracting the first pattern of numbers from the 
	-- SubBuildingName column of #RoyalMailFile_SubBuildings table.
	----------------------------------------------------------------------

DROP TABLE IF EXISTS #ParsedRoyalMailFile_SubBuildings
-- Extract the first pattern of numbers from the SubBuildingName column and insert into the #ParsedRoyalMailFile_SubBuildings table
SELECT 
    t1.Postcode,
    t1.Posttown,
    t1.ThoroughfareAndDescriptor,
    t1.DependentThoroughfareAndDescriptor,
    t1.BuildingNumber,
    t1.BuildingName,
    t1.SubBuildingName,
    LEFT(t2.subsrt, PATINDEX('%[^0-9]%', t2.subsrt + 't') - 1) AS ParsedSubBuildingName
INTO #ParsedRoyalMailFile_SubBuildings
FROM #RoyalMailFile_SubBuildings t1
CROSS APPLY (
    SELECT 
        t1.SubBuildingName,
        subsrt = SUBSTRING(t1.SubBuildingName, t2.pos, LEN(t1.SubBuildingName))
    FROM (
        SELECT 
            t1.SubBuildingName,
            pos = PATINDEX('%[0-9]%', t1.SubBuildingName)
    ) t2
) t2;

	----------------------------------------------------------------------
	-- Step6: Creates a temporary table #ETLTable with specific columns. 
	-- Inserts data into #ETLTable by joining #ParsedAddress1 and #ParsedAddress2 
	-- tables and setting IsMatched, UnhashedAddress, and SHA256 values based 
	-- on matching conditions with [Affinity].[RoyalMail].[PAFData] table.
	----------------------------------------------------------------------

DROP TABLE IF EXISTS #ETLTable;
-- Create the #ETLTable table to store the extracted, transformed, and loaded data
CREATE TABLE #ETLTable (
    FanID VARCHAR(20),
    PostCode VARCHAR(10),
    PostalSector VARCHAR(10),
    PostArea VARCHAR(10),
    IsSubBuilding INT,
    ParsedAddress1 VARCHAR(100),
    ParsedAddress2 VARCHAR(100),
    Address1 VARCHAR(100),
    Address2 VARCHAR(100),
    IsMatched INT,
    UnhashedAddress VARCHAR(255),
    SHA256 VARCHAR(MAX)
);

-- Insert data into the #ETLTable
INSERT INTO #ETLTable (FanID, PostCode, PostalSector, PostArea, IsSubBuilding, ParsedAddress1, ParsedAddress2, Address1, Address2, IsMatched, UnhashedAddress, SHA256)
SELECT 
    t1.FanID,
    t1.PostCode,
    t1.PostalSector,
    t1.PostArea,
    t1.IsSubBuilding,
    t1.ParsedAddress1,
    t2.ParsedAddress2,
    t1.Address1,
    t1.Address2,
    IsMatched = NULL,
    UnhashedAddress = NULL,
    SHA256 = CONVERT(VARCHAR(64), NULL, 2)
FROM #ParsedAddress1 t1
INNER JOIN #ParsedAddress2 t2 ON t1.FanID = t2.FanID;

	----------------------------------------------------------------------
	-- Step7: SQL UPDATE statements that update the #ETLTable with matched 
	-- addresses based on certain conditions. Each UPDATE statement sets 
	-- the IsMatched column to a specific value and updates the UnhashedAddress column.
	----------------------------------------------------------------------

UPDATE #ETLTable
SET IsMatched = 1,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName) + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (	
		(rm1.SubBuildingName LIKE concat('%',Address1,'%') AND (Address2 = BuildingName))
OR		(rm1.SubBuildingName LIKE concat('%',Address2,'%') AND (Address1 = BuildingName))
OR		(rm1.SubBuildingName LIKE concat('%',Address1,'%') AND (Address2 = BuildingNumber))
OR		(rm1.SubBuildingName LIKE concat('%',Address2,'%') AND (Address1 = BuildingNumber))
)
AND		etl.PostCode = rm1.Postcode
AND		SubBuildingName != ''
WHERE IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 2,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName) + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (	
		(etl.ParsedAddress1 = SUBSTRING(SubBuildingName, CHARINDEX(' ', SubBuildingName)+1, LEN(SubBuildingName) - (CHARINDEX(' ', SubBuildingName)-CHARINDEX(' ',REVERSE(SubBuildingName))-6)))
OR		(('Flat ' + etl.ParsedAddress1 = rm1.SubBuildingName) OR ('Apartment ' + etl.ParsedAddress1 = rm1.SubBuildingName) OR ('Unit ' + etl.ParsedAddress1 = rm1.SubBuildingName) OR (etl.ParsedAddress1 = rm1.SubBuildingName))
OR		(SUBSTRING(Address1,1,CASE WHEN CHARINDEX(',',Address1)=0 THEN LEN(Address1) ELSE CHARINDEX(',',Address1)-1 END) = rm1.SubBuildingName)
OR		(etl.ParsedAddress2 = SUBSTRING(SubBuildingName, CHARINDEX(' ', SubBuildingName)+1, LEN(SubBuildingName) - (CHARINDEX(' ', SubBuildingName)-CHARINDEX(' ',REVERSE(SubBuildingName))-6)))
)
AND		etl.PostCode = rm1.Postcode
WHERE IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 3,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName) + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))	
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (
		(etl.ParsedAddress1 = COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName)) 
OR		(etl.ParsedAddress1 = rm1.BuildingName)
OR		(etl.ParsedAddress2 = rm1.BuildingNumber) 
OR		(etl.ParsedAddress2 = rm1.BuildingName)
)
AND		etl.PostCode = rm1.Postcode
WHERE IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 4,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName) + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (
		(etl.Address1 = rm1.BuildingName AND etl.Address1 != '') 
OR		(SUBSTRING(Address1,1,CASE WHEN CHARINDEX(',',Address1)=0 THEN LEN(Address1) ELSE CHARINDEX(',',Address1)-1 END) = rm1.BuildingName AND etl.Address1 != '') 
OR		(etl.Address2 = rm1.BuildingName AND etl.Address2 != '')
OR		(SUBSTRING(Address2,1,CASE WHEN CHARINDEX(',',Address2)=0 THEN LEN(Address2) ELSE CHARINDEX(',',Address2)-1 END) = rm1.BuildingName AND etl.Address2 != '')
) 
AND		(etl.PostCode = rm1.Postcode AND SubBuildingName = '')
WHERE IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 5,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName) + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (
		LEFT(etl.Address1 + ' ' + etl.Address2,CHARINDEX(' ',etl.Address1 + ' ' + etl.Address2))= rm1.BuildingName
)
AND		etl.PostCode = rm1.Postcode
WHERE IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 6,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName) + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))	
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (
		(etl.Address1 = rm1.BuildingName + ' ' + rm1.ThoroughfareAndDescriptor)
OR		(etl.Address2 = rm1.BuildingName + ' ' + rm1.ThoroughfareAndDescriptor)
)
AND		etl.PostCode = rm1.Postcode
WHERE IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 7,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName) + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (
		(SUBSTRING(Address1,1,5) = SUBSTRING(rm1.BuildingName,1,5))
OR		(SUBSTRING(Address1,1,5) = SUBSTRING(rm1.BuildingNumber,1,5))
OR		(ParsedAddress1 = SUBSTRING(BuildingName,1,CASE WHEN CHARINDEX(' ',BuildingName)=0 THEN LEN(BuildingName) ELSE CHARINDEX(' ',BuildingName)-1 END))
OR		(RIGHT(Address1,5) = RIGHT(rm1.BuildingName,5))
OR		(RIGHT(Address1,5) = RIGHT(rm1.BuildingNumber,5))
OR		(rm1.SubBuildingName LIKE concat('%',Address2,'%'))
OR		(rm1.SubBuildingName LIKE concat('%',Address1,'%'))
OR		(rm1.BuildingName LIKE concat('%',Address1,'%'))
OR		(rm1.BuildingName LIKE concat('%',Address2,'%'))
)
AND		etl.PostCode = rm1.Postcode
WHERE etl.IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 8,
	UnhashedAddress = UPPER(REPLACE(('"' + rm2.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm2.BuildingNumber,''),rm2.BuildingName) + '",' + '"' + REPLACE(rm2.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))
FROM #ETLTable etl
INNER JOIN #ParsedRoyalMailFile_SubBuildings rm2
ON (
		ParsedAddress1 = ParsedSubBuildingName	
) 
AND		etl.PostCode = rm2.Postcode
WHERE etl.IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 9,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + rm1.OrganisationName + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (
		(Address1 = rm1.OrganisationName)
OR		(Address2 = rm1.OrganisationName)
) 
AND		etl.PostCode = rm1.Postcode
WHERE etl.IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 10,
	UnhashedAddress = UPPER(REPLACE(('"' + rm1.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm1.BuildingNumber,''),rm1.BuildingName) + '",' + '"' + REPLACE(rm1.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))	
FROM #ETLTable etl
INNER JOIN [Affinity].[RoyalMail].[PAFData] rm1
ON (		
		((etl.Address1 = rm1.BuildingNumber AND etl.Address1 != '' ))
OR		((etl.Address1 = rm1.BuildingName AND etl.Address1 != ''))
OR		(etl.ParsedAddress1 = rm1.BuildingName AND etl.Address1 != '')
OR		(etl.ParsedAddress1 = rm1.BuildingNumber AND etl.Address1 != '')
OR		(etl.ParsedAddress2 = rm1.BuildingName AND etl.Address2 != '')
OR		(etl.ParsedAddress2 = rm1.BuildingNumber AND etl.Address2 != '')
) 
AND		REPLACE(etl.PostCode,' ','') = REPLACE(rm1.Postcode,' ','')
WHERE etl.IsMatched IS NULL

UPDATE #ETLTable
SET IsMatched = 11,
	UnhashedAddress = UPPER(REPLACE(('"' + rm2.SubBuildingName + '",' + '"' + COALESCE(NULLIF(rm2.BuildingNumber,''),rm2.BuildingName) + '",' + '"' + REPLACE(rm2.PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ',''))
FROM #ETLTable etl
INNER JOIN #ParsedRoyalMailFile_SubBuildings rm2
ON (
		((etl.Address1 = rm2.BuildingName) AND (etl.Address1 != '' AND ParsedAddress2 = ParsedSubBuildingName))
OR		((etl.Address1 = rm2.BuildingNumber) AND (etl.Address1 != '' AND ParsedAddress2 = ParsedSubBuildingName))
OR		((etl.Address2 = rm2.BuildingName) AND (etl.Address2 != '' AND ParsedAddress1 = ParsedSubBuildingName))
OR		((etl.Address2 = rm2.BuildingNumber) AND (etl.Address2 != '' AND ParsedAddress1 = ParsedSubBuildingName))
)
AND		REPLACE(etl.PostCode,' ','') = REPLACE(rm2.Postcode,' ','')
WHERE etl.IsMatched IS NULL

	----------------------------------------------------------------------
	-- Step8: Selects specific columns from #ETLTable, joins it with other 
	-- tables, and populates a new table called #Customer_PAFJoin with 
	-- the joined data.
	-- Adding in Non Clusteredt Index to decrease runtime
	----------------------------------------------------------------------
CREATE NONCLUSTERED INDEX CSI_UnhashedAddress ON #ETLTable (UnhashedAddress)
DROP TABLE IF EXISTS #Customer_PAFJoin
select etl.FanID, mpaf.UDPRN, etl.PostCode, etl.PostalSector, etl.Address1, etl.Address2, etl.IsMatched, etl.UnhashedAddress,
	   etl.SHA256, paf.[DPX ID_new] as dpx_id, paf.HashedAddress,col
into #Customer_PAFJoin
from #ETLTable etl
inner join [Affinity].[RoyalMail].HashedAddresses_15112022_v2 paf
on etl.UnhashedAddress = paf.UnhashedAddress
INNER JOIN (SELECT DISTINCT UPPER(REPLACE(('"' + SubBuildingName + '",' + '"' + COALESCE(NULLIF(BuildingNumber,''),BuildingName) + '",' + '"' + REPLACE(PostCode,' ','') + '",' + '"zqU8qV3P9W12"'),' ','')) col, UDPRN FROM [Affinity].[RoyalMail].[PAFDATA]) mpaf
ON etl.UnhashedAddress = mpaf.col

	----------------------------------------------------------------------
	-- Step9: Final output
	----------------------------------------------------------------------

truncate table [Affinity].[RoyalMail].[CustomerAddressToUDPRN_Test_V3]
;WITH FinalOutput AS
(
select FanID,t1.UDPRN,PostCode,PostalSector,Address1,Address2,IsMatched,UnhashedAddress,SHA256,dpx_id,HashedAddress,t2.NX_ID,ROW_NUMBER() OVER(PARTITION BY FanID ORDER BY col) as rn
from #Customer_PAFJoin t1
INNER JOIN [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN_V2_DUP2] t2
ON t1.UDPRN = t2.UDPRN
)
INSERT INTO [Affinity].[RoyalMail].[CustomerAddressToUDPRN_Test_V3]
SELECT FanID,UDPRN,PostCode,PostalSector,Address1,Address2,IsMatched,UnhashedAddress,SHA256,dpx_id,HashedAddress,NX_ID FROM FinalOutput WHERE rn = 1

END
GO
