USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[HashedAddress_UDPRN]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [Processing].[HashedAddress_UDPRN] @ClientID INT
AS
BEGIN
SET NOCOUNT ON;
RAISERROR('Stage 0: Procedure started (Standing_Postcode_Unit_Match)', 10, 1) WITH NOWAIT;

DROP TABLE IF EXISTS [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN_hold]
CREATE TABLE [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN_hold] (
    UDPRN VARCHAR(255),
    UnhashedUDPRN VARCHAR(255),
    NX_ID VARCHAR(100),
    HashedUDPRN VARCHAR(255),
    HashedAddress VARCHAR(255),  -- New column for Hashed Address
    AddedDate DATETIME,
    PostCode VARCHAR(255),
    BuildingName VARCHAR(255),
    BuildingNumber VARCHAR(255),
    SubBuildingName VARCHAR(255),
    UnhashedAddress VARCHAR(255)
);
 
INSERT INTO [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN_hold]
SELECT
    UDPRN,
    UnhashedUDPRN,
    NX_ID,
    CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', CONVERT(VARCHAR(255), UnhashedUDPRN)), 2) AS HashedUDPRN,
    CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', CONVERT(VARCHAR(255), UnhashedAddress)), 2) AS HashedAddress,
    GETDATE() AS AddedDate,
    PostCode,
    BuildingName,
    BuildingNumber_Name,
    SubBuildingName,
    UnhashedAddress
FROM (
    SELECT
        *,
        UnhashedUDPRN = CASE 
            WHEN UDPRN IS NULL THEN NULL 
            ELSE REPLACE(UDPRN, ' ', '') + 'rCeUBC$Xop' 
        END,
        UnhashedAddress = CASE 
            WHEN BuildingNumber_Name IS NULL AND BuildingName IS NULL AND SubBuildingName IS NULL AND PostCode IS NULL THEN NULL 
            ELSE 
                ISNULL(REPLACE(BuildingNumber_Name, ' ', ''), '') + 
                ISNULL(REPLACE(BuildingName, ' ', ''), '') + 
                ISNULL(REPLACE(SubBuildingName, ' ', ''), '') + 
                ISNULL(REPLACE(PostCode, ' ', ''), '') + 
                'rCeUBC$Xop' 
        END,
        NX_ID = CONCAT('NX_ID-', NEWID())
    FROM (
        SELECT DISTINCT
            [UDPRN],
            UPPER(REPLACE(Postcode, ' ', '')) AS PostCode,
            UPPER(REPLACE(COALESCE(NULLIF(BuildingNumber, ''), BuildingName), ' ', '')) AS BuildingNumber_Name,
            UPPER(REPLACE(BuildingName, ' ', '')) AS BuildingName,
            UPPER(REPLACE(SubBuildingName, ' ', '')) AS SubBuildingName
        FROM [Affinity].[RoyalMail].[PAFData]
        WHERE NOT EXISTS (
            SELECT 1
            FROM [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN_hold]
            WHERE [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN_hold].UDPRN = [Affinity].[RoyalMail].[PAFData].UDPRN
        )
    ) d
) w;
 
--create final file
DROP TABLE IF EXISTS [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN]

SELECT NX_ID, HashedUDPRN, HashedAddress
INTO [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN]
FROM [Affinity].[RoyalMail].[HashedAddress_HashedUDPRN_hold]

END
GO
