USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Masking_MIDTransactionCount_Fetch_DD]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 23/09/2020
-- Description:	Returns non-branded MID tranasction counts from all the transaction
				tables that are used for the transaction files

------------------------------------------------------------------------------
Modification History

[Date] [User]
	- [Description]

******************************************************************************/
CREATE PROCEDURE [Processing].[Masking_MIDTransactionCount_Fetch_DD](
	@DateType VARCHAR(10) --  The string to represent the type of date range that was used for the fetch
  , @StartDate DATE -- The start date of the range 
  , @EndDate DATE -- The end date of the range
)
AS
BEGIN

	DECLARE @RowCount INT -- Logging row count

	----------------------------------------------------------------------
	-- Load ConsumerTrans/Holding
	----------------------------------------------------------------------

	IF OBJECT_ID('tempdb..#TranCount') IS NOT NULL
		DROP TABLE #TranCount

	SELECT
		cc.OIN
	  --, --cc.isGB
	  , COUNT(1) AS TranCount
	INTO #TranCount
	FROM Warehouse.Relational.ConsumerTransaction_DD_MyRewards ct
	JOIN Processing.Masking_ConsumerCombinations_DD cc
		ON ct.ConsumerCombinationID_DD = cc.ConsumerCombinationID_DD
	WHERE ct.TranDate BETWEEN @StartDate AND @EndDate
	GROUP BY cc.OIN
		   --, --cc.isGB

	----------------------------------------------------------------------
	-- Aggregate and load
	----------------------------------------------------------------------

	INSERT INTO Processing.Masking_MIDTransactionCount_DD
	(
		DateType
	  , DateStart
	  , DateEnd
	  , OIN
	  , TranCount
	  --, isGB
	)
	 SELECT
		 @DateType		AS DateType
	   , @StartDate		AS StartDate
	   , @EndDate		AS EndDate
	   , x.OIN
	   , SUM(TranCount) AS TranCount
	   --, x.isGB
	 FROM #TranCount x
	 GROUP BY x.OIN
			--, x.isGB

	SELECT @RowCount += @@rowcount

	RETURN @RowCount

END
GO
