USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[ConsumerTransactionHolding_Credit_Build]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 01/09/2020
-- Description:	Empties, inserts and recreates index on the Staging Transaction table 
				from ConsumerTransaction_Credit, including the equivalent holding table
				for unseen transactions

				Raw Transactions for: YYYY_MM_DD-Daily.csv

------------------------------------------------------------------------------
Modification History

[15/06/2022] [ChrisM]
	- Extensively changed for performance. The extract from ConsumerTransaction_CreditCard
	now only looks for transactions for new customers.

The source table Staging.ConsumerTransaction_CreditCardHolding is refreshed nightly by Warehouse MIDI.

******************************************************************************/

CREATE PROCEDURE [Processing].[ConsumerTransactionHolding_Credit_Build]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE	@RowsProcessed INT
	
	/*******************************************************************************************************************************************
		1.	Clear Down [Processing].[ConsumerTransactionHolding_Credit]
	*******************************************************************************************************************************************/
	
		TRUNCATE TABLE [Processing].[ConsumerTransactionHolding_Credit];

	/*******************************************************************************************************************************************
		2.	Get Minimum file id to start pull from
	*******************************************************************************************************************************************/
	
		DECLARE	@MinFileID INT
			,	@RowCount INT = 0

		SELECT @MinFileID = FileID
		FROM [Processing].[vw_MinFileID]
		WHERE [FileType] = 'FI'

	/*******************************************************************************************************************************************
		3.	Get transactions for new customers from main table
	*******************************************************************************************************************************************/
	
			/*******************************************************************************************************************************************
				3.1.	Pick up customers which have come on board within the last fortnight
			*******************************************************************************************************************************************/
		
				DROP TABLE IF EXISTS #Customers;
				CREATE TABLE #Customers ([CINID] INT NOT NULL)
				CREATE UNIQUE CLUSTERED INDEX [UCX_CINID] ON #Customers ([CINID])

				INSERT INTO #Customers ([CINID])
				SELECT [CINID]
				FROM [Processing].[Customers] 
				WHERE [rw] = 1
				AND [CINID] IS NOT NULL
				AND [CreatedDateTime] > CAST(DATEADD(DAY,-14,GETDATE()) AS DATE)
				ORDER BY [CINID]
	
			/*******************************************************************************************************************************************
				3.2.	Extract all transactions that have come through after FileID 22488 (the point where the process to send transactions began).
						This is required as the limiting [Processing].[RowNum_Log] table does not contain a log of what was sent to Affinity in the
						initial historical run
			*******************************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #ConsumerTransaction_CreditCard
				SELECT	ct.[FileID]
					,	ct.[RowNum]
					,	ct.[ConsumerCombinationID]
					,	ct.[SecondaryCombinationID]
					,	ct.[CardholderPresentData]
					,	ct.[TranDate]
					,	ct.[CINID]
					,	ct.[Amount]
					,	ct.[IsOnline]
					,	ct.[LocationID]
					,	ct.[FanID]
				INTO #ConsumerTransaction_CreditCard
				FROM [Warehouse].[Relational].[ConsumerTransaction_CreditCard] ct
				WHERE EXISTS (	SELECT 1
								FROM #Customers c
								WHERE c.[CINID] = ct.[CINID])
				AND ct.[FileID] >= 22488 --	@MinFileID -- 2019-11-08 --RS: before the changes to back date transactions minfileid was always 22488.
							
			/*******************************************************************************************************************************************
				3.3.	Extract all transactions that have come through before FileID 22488 but have occured within the last 5 years
			*******************************************************************************************************************************************/

				INSERT INTO #ConsumerTransaction_CreditCard
				SELECT	ct.[FileID]
					,	ct.[RowNum]
					,	ct.[ConsumerCombinationID]
					,	ct.[SecondaryCombinationID]
					,	ct.[CardholderPresentData]
					,	ct.[TranDate]
					,	ct.[CINID]
					,	ct.[Amount]
					,	ct.[IsOnline]
					,	ct.[LocationID]
					,	ct.[FanID]
				FROM [Warehouse].[Relational].[ConsumerTransaction_CreditCard] ct
				WHERE EXISTS (	SELECT 1
								FROM #Customers c
								WHERE c.[CINID] = ct.[CINID])
				AND ct.[FileID] < 22488	--	@MinFileID -- 2019-11-08 --RS: before the changes to back date transactions minfileid was always 22488.
				AND CAST(ct.[TranDate] AS DATE) > CAST(DATEADD(YEAR,-5,DATEADD(MONTH, DATEDIFF(MONTH, 0,GETDATE()), 0))as DATE) --RS: Adding this as there is tran data way into 2017.
				OPTION(RECOMPILE)
				
			/*******************************************************************************************************************************************
				3.4.	Load all transactions not previously sent to Affinity to  holding table
			*******************************************************************************************************************************************/
				
				INSERT INTO [Processing].[ConsumerTransactionHolding_Credit] WITH (TABLOCK) (	[FileID]
																								,	[RowNum]
																								,	[ConsumerCombinationID]
																								,	[SecondaryCombinationID]
																								,	[CardholderPresentData]
																								,	[TranDate]
																								,	[CINID]
																								,	[Amount]
																								,	[IsOnline]
																								,	[LocationID]
																								,	[FanID])
				SELECT	DISTINCT
						ct.[FileID]
					,	ct.[RowNum]
					,	ct.[ConsumerCombinationID]
					,	ct.[SecondaryCombinationID]
					,	ct.[CardholderPresentData]
					,	ct.[TranDate]
					,	ct.[CINID]
					,	ct.[Amount]
					,	ct.[IsOnline]
					,	ct.[LocationID]
					,	ct.[FanID]
				FROM #ConsumerTransaction_CreditCard ct
				WHERE NOT EXISTS (	SELECT 1	-- where the fileid/rownum combo has not been seen before
									FROM [Processing].[RowNum_Log] rnl
									WHERE ct.[FileID] = rnl.[FileID]
									AND ct.[RowNum] = rnl.[RowNum])
				ORDER BY	ct.[FileID]
						,	ct.[RowNum]
				
				SET @RowCount += @@ROWCOUNT

	/*******************************************************************************************************************************************
		4.	Get Transactions from Holding
	*******************************************************************************************************************************************/
	
			/*******************************************************************************************************************************************
				4.1.	Pick up customers which have come on board within the last fortnight
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #ConsumerTransactionHolding
				SELECT	ct.[FileID]
					,	ct.[RowNum]
					,	ct.[ConsumerCombinationID]
					,	ct.[SecondaryCombinationID]
					,	ct.[CardholderPresentData]
					,	ct.[TranDate]
					,	ct.[CINID]
					,	ct.[Amount]
					,	ct.[IsOnline]
					,	ct.[LocationID]
					,	ct.[FanID]
				INTO #ConsumerTransactionHolding
				FROM [Staging].[ConsumerTransaction_CreditCardHolding] ct
				WHERE NOT EXISTS (	SELECT 1	-- where the fileid/rownum combo has not been seen before
									FROM [Processing].[RowNum_Log] rnl
									WHERE ct.[FileID] = rnl.[FileID]
									AND ct.[RowNum] = rnl.[RowNum])
				AND EXISTS (		SELECT 1
									FROM [Processing].[Customers] cu
									WHERE ct.[CINID] = cu.[CINID])
			--	AND ct.FileID >= 22488 --@MinFileID --RS: before the changes to back date transactions minfileid was always 22488.
							
			/*******************************************************************************************************************************************
				4.2.	Load all transactions not previously sent to Affinity to  holding table
			*******************************************************************************************************************************************/
			
				INSERT INTO [Processing].[ConsumerTransactionHolding_Credit] WITH (TABLOCK) (	[FileID]
																								,	[RowNum]
																								,	[ConsumerCombinationID]
																								,	[SecondaryCombinationID]
																								,	[CardholderPresentData]
																								,	[TranDate]
																								,	[CINID]
																								,	[Amount]
																								,	[IsOnline]
																								,	[LocationID]
																								,	[FanID])
				SELECT	DISTINCT
						ct.[FileID]
					,	ct.[RowNum]
					,	ct.[ConsumerCombinationID]
					,	ct.[SecondaryCombinationID]
					,	ct.[CardholderPresentData]
					,	ct.[TranDate]
					,	ct.[CINID]
					,	ct.[Amount]
					,	ct.[IsOnline]
					,	ct.[LocationID]
					,	ct.[FanID]
				FROM #ConsumerTransactionHolding ct
				JOIN [Processing].[Customers] c
					ON c.[CINID] = ct.[CINID]
					AND [rw] = 1
				WHERE NOT EXISTS (	SELECT 1	-- prevent duplicate rows in holding table
									FROM [Processing].[ConsumerTransactionHolding_Credit] d 
									WHERE ct.[FileID] = d.[FileID]
									AND ct.[RowNum] = d.[RowNum])	
				ORDER BY	ct.[FileID]
						,	ct.[RowNum]
				
				SET @RowCount += @@ROWCOUNT

	/*******************************************************************************************************************************************
		5.	Return Row Count for logging
	*******************************************************************************************************************************************/
	
			RETURN @RowCount

END
GO
