USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__ConsumerTransactionHolding_Debit_Build_DQC9_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 01/09/2020
-- Description:	Empties, inserts and recreates index on the Staging Transaction table 
				from ConsumerTransaction, including the equivalent holding table
				for unseen transactions

				Raw Transactions for: YYYY_MM_DD-Daily.csv

				The source table Staging.ConsumerTransactionHolding is refreshed nightly by Warehouse MIDI.
------------------------------------------------------------------------------
Modification History

[15/06/2022] [ChrisM]
	- Extensively changed for performance. The extract from ConsumerTransaction
	now only looks for transactions for new customers.
[06/09/2022] [ChrisM]
	- Fixed the duplicate PK bug which crashed Affinity on [05/09/2022]

******************************************************************************/
CREATE PROCEDURE [Processing].[__ConsumerTransactionHolding_Debit_Build_DQC9_Archived]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	-- TimerMessage variables
	DECLARE @Time DATETIME, @Msg VARCHAR(2048), @RowsProcessed INT, @SSMS BIT = 1 
	SET @Msg = 'Starting script'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT


	----------------------------------------------------------------------
	-- Clear Down (leave the index in place)
	----------------------------------------------------------------------
	TRUNCATE TABLE Processing.ConsumerTransactionHolding_Debit_DQC9; 


	----------------------------------------------------------------------
	-- Get minimum file id to pull transactions from
	----------------------------------------------------------------------
	DECLARE 
		@MinFileID INT, 
		@RowCount INT = 0,
		@RowCountReturn INT = 0

	SELECT
		@MinFileID = FileID
	FROM Processing.vw_MinFileID
	WHERE FileType = 'FI'


	----------------------------------------------------------------------
	-- Get transactions for new customers from CT main table
	----------------------------------------------------------------------
	-- Pick up customers which have come on board within the last 7 days
	DROP TABLE IF EXISTS #Customers; CREATE TABLE #Customers (CINID INT NOT NULL);
	CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #Customers (CINID)

	INSERT INTO #Customers (CINID)
	SELECT CINID FROM Processing.Customers 
	WHERE rw = 1 AND CINID IS NOT NULL AND CreatedDateTime > CAST(DATEADD(DAY,-7,GETDATE()) AS DATE)
	ORDER BY CINID
	SET @RowCount = @@rowcount	
	SET @Msg = 'Collected new customers (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (6653 rows) / 00:00:01


	DROP TABLE IF EXISTS #ConsumerTransaction
	SELECT ct.*
	INTO #ConsumerTransaction
	FROM Warehouse.Relational.ConsumerTransaction ct
	JOIN #Customers c
		ON c.CINID = ct.CINID
	WHERE ct.FileID >= @MinFileID -- 2019-11-08
	SET @RowCount = @@rowcount
	SET @Msg = 'Collected transactions for new customers (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (7724095 rows) / 00:00:13

	INSERT INTO Processing.ConsumerTransactionHolding_Debit_DQC9 WITH (TABLOCK) 
		(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
		TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID)
	SELECT 
		ct.FileID, ct.RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
		TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID
	FROM #ConsumerTransaction ct
	WHERE NOT EXISTS ( -- where the fileid/rownum combo has not been seen before
		SELECT 1 FROM Processing.RowNum_Log rnl
		WHERE ct.FileID = rnl.FileID
		AND ct.RowNum = rnl.RowNum)
	AND NOT EXISTS ( -- prevent duplicate rows in holding table
		SELECT 1 FROM Processing.ConsumerTransactionHolding_Debit_DQC9 d 
		WHERE ct.FileID = d.FileID
		AND ct.RowNum = d.RowNum)
	ORDER BY ct.FileID, ct.Rownum
	OPTION (LOOP JOIN)
	SET @RowCount = @@rowcount; SET @RowCountReturn = @RowCount
	SET @Msg = 'Loaded transactions for new customers (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (0 rows) / 00:00:12


	----------------------------------------------------------------------
	-- Get Transactions from Holding
	----------------------------------------------------------------------
	DROP TABLE IF EXISTS #ConsumerTransactionHolding
	SELECT ct.*
	INTO #ConsumerTransactionHolding
	FROM Staging.ConsumerTransactionHolding ct
	WHERE NOT EXISTS ( -- where the fileid/rownum combo has not been seen before
		SELECT 1 FROM Processing.RowNum_Log rnl
		WHERE ct.FileID = rnl.FileID
		AND ct.RowNum = rnl.RowNum)
	SET @RowCount = @@rowcount
	SET @Msg = 'Collected new transactions from holding (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (4125 rows) / 00:00:00

	INSERT INTO Processing.ConsumerTransactionHolding_Debit_DQC9 WITH (TABLOCK) 
		(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
		TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID)
	SELECT 
		FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
		TranDate, ct.CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID
	FROM #ConsumerTransactionHolding ct
	JOIN Processing.Customers c
		ON c.CINID = ct.CINID
		AND c.rw = 1
	WHERE NOT EXISTS ( -- prevent duplicate rows in holding table
		SELECT 1 FROM Processing.ConsumerTransactionHolding_Debit_DQC9 d 
		WHERE ct.FileID = d.FileID
		AND ct.RowNum = d.RowNum)	
	ORDER BY FileID, Rownum
	SET @RowCount = @@rowcount; SET @RowCountReturn = @RowCountReturn + @RowCount
	SET @Msg = 'Loaded new transactions from holding (' + CAST(@RowCount AS VARCHAR(20)) + ' rows)'; EXEC sp_TimerMessage @Msg, @Time OUTPUT, @SSMS OUTPUT
	-- (0 rows) / 00:00:00


	-- Clear down Staging.ConsumerTransactionHolding
	TRUNCATE TABLE Staging.ConsumerTransactionHolding


	RETURN @RowCountReturn

END



GO
