USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[FileExtraction_Brand_Staging_Fetch]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------------------
-- Daniel Miele, Affinity, 2024-01-15 13:01:42, {Jira Ticket: https://rewardinsight.atlassian.net/browse/DRI-1209}
-- Set up fetch job for Affinity Brand data
--------------------------------------------------------------------

CREATE PROCEDURE [Processing].[FileExtraction_Brand_Staging_Fetch]
AS
BEGIN

	SELECT DISTINCT
		b.BrandID
	,	b.BrandName
	,	b.SectorName
	,	b.GroupName
	FROM [Processing].[FileExtraction_Brand_Staging] b
	WHERE b.CreatedAt >= DATEADD(day,-7, GETDATE()) 

END



GO
