USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[StreamToS3_Trigger]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Processing].[StreamToS3_Trigger] @JobName VARCHAR(255)
AS
BEGIN

    SET NOCOUNT ON
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

    -- Start the SQL Server Agent Job

		EXEC [msdb].[dbo].[sp_start_job] @job_name = @JobName;


END
GO
