USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[StreamToS3_Affinity_Archive]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Processing].[StreamToS3_Affinity_Archive]
AS
BEGIN

    SET NOCOUNT ON
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	WHILE (SELECT COUNT(*) FROM [Processing].[StreamToS3_Archive_Log] WHERE [Processed] = 0) > 0
		BEGIN
		
			DECLARE @sql NVARCHAR(4000);

		--	Prepare load variables

			DECLARE	@ID INT
				,	@Database VARCHAR(255)
				,	@Schema VARCHAR(255)
				,	@Table VARCHAR(255)
				,	@S3_Bucket VARCHAR(255)
				,	@S3_Folder VARCHAR(255)
				,	@S3_FileName VARCHAR(255)
				,	@ProcessStartDate DATETIME = GETDATE()
				,	@Processed BIT
				,	@IsError BIT

			SELECT	@ID = MIN([ID])
			FROM [Processing].[StreamToS3_Archive_Log]
			WHERE [Processed] = 0

			SELECT	@Database = [Database]
				,	@Schema = [Schema]
				,	@Table = [Table]
				,	@S3_Bucket = [S3_Bucket]
				,	@S3_Folder = [S3_Folder]
				,	@S3_FileName = [S3_FileName]
			FROM [Processing].[StreamToS3_Archive_Log]
			WHERE [ID] = @ID

			UPDATE [Processing].[StreamToS3_Archive_Log]
			SET [ProcessedStartDate] = @ProcessStartDate
			WHERE [ID] = @ID
			
		-- Base Python script command
			
			SET @sql = N'python "E:\DataOpsFunctions\Affinity_Archive\reward-dataops-dimain-s3\run_export.py"';

		-- Append variables

			SET @sql = @sql + N' ' + CONVERT(NVARCHAR(255), @Database)
							+ ' ' + CONVERT(NVARCHAR(255), @Schema)
							+ ' ' + CONVERT(NVARCHAR(255), @Table)
							+ ' ' + CONVERT(NVARCHAR(255), @S3_Bucket)
							+ ' ' + CONVERT(NVARCHAR(255), @S3_Folder)
							+ ' ' + CONVERT(NVARCHAR(255), @S3_FileName);
			
		-- Execute the command using xp_cmdshell

			DROP TABLE IF EXISTS #Output; CREATE TABLE #Output (line varchar(max))
			INSERT #Output EXEC xp_cmdshell @sql

			SELECT @IsError = COALESCE(MAX(1), 0)
			FROM #Output
			WHERE [Line] IS NOT NULL
			AND [Line] != 'GenericLoader done'

			INSERT INTO [Processing].[StreamToS3_Archive_Log_Details]
			SELECT	[LogID] = @ID
				,	[Database] = @Database
				,	[Schema] = @Schema
				,	[Table] = @Table
				,	[S3_Bucket] = @S3_Bucket
				,	[S3_Folder] = @S3_Folder
				,	[S3_FileName] = @S3_FileName
				,	[ProcessedStartDate] = @ProcessStartDate
				,	[IsError] = @IsError
				,	[Message] = [line]
			FROM #Output
			WHERE [Line] IS NOT NULL

			UPDATE [Processing].[StreamToS3_Archive_Log]
			SET [ProcessedEndDate] = GETDATE()
			,	[Processed] = 1
			,	[IsError] = @IsError
			WHERE [ID] = @ID

		END

END
GO
