USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[FileExtraction_Brand_Staging_Build]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------------------
-- Daniel Miele, Affinity, 2024-01-15 13:02:27, {Jira Ticket: https://rewardinsight.atlassian.net/browse/DRI-1209}

-- Set up build job for Affinity brand data that extracts every unique brand combination from their weekly transactions.
-- SP needs to run daily to extract brand data from transactions in the daily datafeed and store them in Brand_Staging table
--------------------------------------------------------------------


CREATE PROCEDURE [Processing].[FileExtraction_Brand_Staging_Build]
AS
BEGIN

DECLARE @FileDate DATE = dateadd(day, -7, getdate())

----------------------------------------------------------------------
-- Insert
----------------------------------------------------------------------
	INSERT INTO Processing.FileExtraction_Brand_Staging
	(
		BrandID
	,	BrandName
	,	SectorName
	,	GroupName
	,	CreatedAt
	)

select	DISTINCT
		b.BrandID
	,	b.BrandName as BrandName
	,	bs.SectorName as SectorName
	,	bsg.GroupName as GroupName
	,	cast(getdate() as datetime) as CreatedAt
from [Affinity].[Processing].[ConsumerCombination] cc
left join [Warehouse].[Relational].[Brand] b
	on b.BrandID = cc.BrandID
left join [Warehouse].[Relational].[BrandSector] bs
	on bs.SectorID = b.SectorID
left join [Warehouse].[Relational].[BrandSectorGroup] bsg
	on bsg.SectorGroupID = bs.SectorGroupID
where exists (	select 1
				from [Affinity].[Processing].[TransactionPerturbation] tp
				where cc.[ConsumerCombinationID] = tp.[REW_ConsumerCombinationID]
				and tp.[FileType] = 'Daily'
				and tp.[FileDate] = @FileDate)
	and cc.BrandID != '944'
	;

END


GO
