USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[__ConsumerTransactionHolding_Credit_Build_RS_NewCustomerLoad_Archived]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 01/09/2020
-- Description:	Empties, inserts and recreates index on the Staging Transaction table 
				from ConsumerTransaction_Credit, including the equivalent holding table
				for unseen transactions

				Raw Transactions for: YYYY_MM_DD-Daily.csv

------------------------------------------------------------------------------
Modification History

[Date] [User]
	- [Description]

******************************************************************************/

CREATE PROCEDURE [Processing].[__ConsumerTransactionHolding_Credit_Build_RS_NewCustomerLoad_Archived]
AS
BEGIN

INSERT INTO [Processing].[ConsumerTransaction_RunTimes]
SELECT	[StoredProcedureName] = '[Processing].[ConsumerTransactionHolding_Credit_Build]'
	,	[ProcessType] = 'Start'
	,	[RunTime] = GETDATE()

	----------------------------------------------------------------------
	-- Clear Down
	----------------------------------------------------------------------
	TRUNCATE TABLE Processing.ConsumerTransactionHolding_Credit;
	IF EXISTS
		(
			SELECT
				1
			FROM sys.indexes
			WHERE name = 'PK_ConsumerTransaction_CreditCardHolding'
				AND object_id = OBJECT_ID('Processing.ConsumerTransactionHolding_Credit')
		)
		DROP INDEX [PK_ConsumerTransaction_CreditCardHolding] ON Processing.ConsumerTransactionHolding_Credit

	----------------------------------------------------------------------
	-- Get Minimum file id to start pull from
	----------------------------------------------------------------------
	DECLARE @MinFileID INT
		  , @RowCount INT = 0

	SELECT
		@MinFileID = FileID
	FROM Processing.vw_MinFileID
	WHERE FileType = 'FI'

	----------------------------------------------------------------------
	-- Insert from holding
	----------------------------------------------------------------------
	INSERT INTO Processing.ConsumerTransactionHolding_Credit
	 SELECT
		 ct.*
	 FROM Warehouse.Relational.ConsumerTransaction_CreditCardHolding ct
	 JOIN Processing.Customers c
		 ON c.CINID = ct.CINID
			 AND rw = 1
	 LEFT JOIN Processing.RowNum_Log rnl
		 ON ct.FileID = rnl.FileID
			 AND ct.RowNum = rnl.RowNum
	 WHERE rnl.FileID IS NULL -- where the fileid/rownum combo has not been seen before
		 AND ct.FileID >= 22488 --@MinFileID --RS: before the changes to back date transactions minfileid was always 22488.

	SET @RowCount += @@rowcount

	----------------------------------------------------------------------
	-- Insert from main table
	----------------------------------------------------------------------
	INSERT INTO Processing.ConsumerTransactionHolding_Credit
	 SELECT
		 ct.*
	 FROM Warehouse.Relational.ConsumerTransaction_CreditCard ct
	 JOIN Processing.Customers c
		 ON c.CINID = ct.CINID
			 AND rw = 1
	 LEFT JOIN Processing.RowNum_Log rnl
		 ON ct.FileID = rnl.FileID
			 AND ct.RowNum = rnl.RowNum
	 WHERE rnl.FileID IS NULL -- where the fileid/rownum combo has not been seen before
		 AND ct.FileID >= 22488 --@MinFileID --RS: before the changes to back date transactions minfileid was always 22488.

	SET @RowCount += @@rowcount

	BEGIN TRY

	--RS - Testing!
	INSERT INTO Processing.ConsumerTransactionHolding_Credit_RS_NewCustomerLoad
	SELECT  
	ct.*
	FROM Warehouse.Relational.ConsumerTransaction_CreditCard ct
	JOIN Processing.Customers c
		 ON c.CINID = ct.CINID
			 AND rw = 1
			 AND CAST(c.[CreatedDateTime] AS DATE) >= CAST(GETDATE()-4 AS DATE) --RS: Going back 3 days just in case affinity does not run etc.
			 AND CAST(ct.[TranDate] AS DATE) > CAST(DATEADD(YEAR,-5,DATEADD(MONTH, DATEDIFF(MONTH, 0,GETDATE()), 0))as DATE) --RS: Adding this as there is tran data way into 2017.
		LEFT JOIN Processing.RowNum_Log rnl
		ON ct.FileID = rnl.FileID
			 AND ct.RowNum = rnl.RowNum
		WHERE rnl.FileID IS NULL

	END TRY
	BEGIN CATCH

	END CATCH


	----------------------------------------------------------------------
	-- Create index
	----------------------------------------------------------------------

	CREATE UNIQUE CLUSTERED INDEX [PK_ConsumerTransaction_CreditCardHolding] ON [Processing].[ConsumerTransactionHolding_Credit] (FileID, RowNum)
	

INSERT INTO [Processing].[ConsumerTransaction_RunTimes]
SELECT	[StoredProcedureName] = '[Processing].[ConsumerTransactionHolding_Credit_Build]'
	,	[ProcessType] = 'Finish'
	,	[RunTime] = GETDATE()


INSERT INTO [Processing].[ConsumerTransaction_RunTimes]
SELECT	[StoredProcedureName] = '[Processing].[ConsumerTransactionHolding_Credit_Build_DQC19_V2]'
	,	[ProcessType] = 'Start'
	,	[RunTime] = GETDATE()

	EXEC [Processing].[ConsumerTransactionHolding_Credit_Build_DQC19_V2]

INSERT INTO [Processing].[ConsumerTransaction_RunTimes]
SELECT	[StoredProcedureName] = '[Processing].[ConsumerTransactionHolding_Credit_Build_DQC19_V2]'
	,	[ProcessType] = 'Finish'
	,	[RunTime] = GETDATE()

	INSERT INTO Affinity.Staging.ConsumerTransactionHolding_Credit_DQC19_Test
		(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
		TranDate, CINID, Amount, IsOnline, LocationID, FanID, RunDate)
	SELECT
		FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
		TranDate, CINID, Amount, IsOnline, LocationID, FanID, RunDate = GETDATE()
	FROM Affinity.Processing.ConsumerTransactionHolding_Credit_DQC19

	INSERT INTO Affinity.Staging.ConsumerTransactionHolding_Credit_Test
		(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
		TranDate, CINID, Amount, IsOnline, LocationID, FanID, RunDate)
	SELECT
		FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
		TranDate, CINID, Amount, IsOnline, LocationID, FanID, RunDate = GETDATE()
	FROM Affinity.Processing.ConsumerTransactionHolding_Credit

	-- Total time: 00:02:03



	RETURN @RowCount

END
GO
