USE [Affinity]
GO
/****** Object:  StoredProcedure [Processing].[Masking_MaskedCombination_HeavyLightMask_Load_DD]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
-- Author:		Hayden Reid
-- Create date: 23/09/2020
-- Description: Inserts Heavy masked and light masked combinations into Masked ConsumerCombination table
------------------------------------------------------------------------------
Modification History

[Date] [User]
	- [Description]

******************************************************************************/
CREATE PROCEDURE [Processing].[Masking_MaskedCombination_HeavyLightMask_Load_DD]
AS
BEGIN

	DECLARE @RowCount INT -- Logging row count

	----------------------------------------------------------------------
	-- Insert light masked combinations
	----------------------------------------------------------------------
	INSERT INTO dbo.ConsumerCombination_Masked_DD
	(
		ConsumerCombinationID_DD
	  , Narrative_RBS
	  --, MCCID
	  --, LocationCountry
	  , OIN
	  , MaskedNarrative
	  , isBlanketMasked
	  , isSensitiveMasked
	  , isHeavyMasked
	  , isLightMasked
	)
	 SELECT
		 ConsumerCombinationID_DD
	   , Narrative_RBS
	   --, MCCID
	   --, LocationCountry
	   , OIN
	   , MaskedNarrative
	   , 0
	   , 0
	   , isHeavyMasked
	   , 1
	 FROM Processing.Masking_CombinationsLightHeavyMask_DD c
	 WHERE NOT EXISTS
		 (
			 SELECT
				 1
			 FROM dbo.ConsumerCombination_Masked_DD cm
			 WHERE cm.ConsumerCombinationID_DD = c.ConsumerCombinationID_DD
		 )

	SELECT @RowCount += @@rowcount

	----------------------------------------------------------------------
	-- Insert heavy masked combinations
	----------------------------------------------------------------------
	INSERT INTO dbo.ConsumerCombination_Masked_DD
	(
		ConsumerCombinationID_DD
	  , Narrative_RBS
	  --, MCCID
	  --, LocationCountry
	  , OIN
	  , MaskedNarrative
	  , isBlanketMasked
	  , isSensitiveMasked
	  , isHeavyMasked
	  , isLightMasked
	)
	 SELECT
		 ConsumerCombinationID_DD
	   , Narrative_RBS
	   --, MCCID
	   --, LocationCountry
	   , OIN
	   , MaskedNarrative
	   , 0
	   , 0
	   , 1
	   , 0
	 FROM Processing.Masking_CombinationsHeavyMask_DD c
	 WHERE NOT EXISTS
		 (
			 SELECT
				 1
			 FROM dbo.ConsumerCombination_Masked_DD cm
			 WHERE cm.ConsumerCombinationID_DD = c.ConsumerCombinationID_DD
		 )
	SELECT @RowCount += @@rowcount

	RETURN @RowCount

END

GO
