USE [Affinity]
GO
/****** Object:  StoredProcedure [RoyalMail].[PAFFile_Archived_Insert]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RoyalMail].[PAFFile_Archived_Insert]  @SourceTable VARCHAR(255)   -- e.g. 'PAFData' or 'PAF_V2'
                                                    ,   @EntryDescription VARCHAR(255)
                                                    ,   @StartDate DATE
                                                    ,   @EndDate DATE
AS
BEGIN
    
    SET NOCOUNT ON;
    
	/*******************************************************************************************************************************************
		1.	Add any missing columns to the Archive table
	*******************************************************************************************************************************************/
		
		/*******************************************************************************************************************************************
			1.1.	Fetch the list of all missing columns
		*******************************************************************************************************************************************/
    
        --  DECLARE @SourceTable VARCHAR(255) = 'PAFData'
				
            DROP TABLE IF EXISTS #Columns_ToAdd
            CREATE TABLE #Columns_ToAdd (   [ColumnID] INT IDENTITY
                                        ,   [ColumnAddQuery] VARCHAR(255))

            INSERT INTO #Columns_ToAdd
            SELECT  [ColumnAddQuery] = 'ALTER TABLE [RoyalMail].[PAFFile_Archived] ADD [' + d.[COLUMN_NAME] + '] '
                                    +   d.[DATA_TYPE]
                                    +   CASE
                                            WHEN d.[DATA_TYPE] IN ('char','nchar','varchar','nvarchar','binary','varbinary')
                                                THEN '(' +  CASE 
                                                                WHEN d.[CHARACTER_MAXIMUM_LENGTH] = -1 THEN 'MAX'
                                                                ELSE CAST(d.[CHARACTER_MAXIMUM_LENGTH] AS VARCHAR(10))
                                                            END + ')'
                                            WHEN d.[DATA_TYPE] IN ('decimal','numeric')
                                                THEN '(' + CAST(d.[NUMERIC_PRECISION] AS VARCHAR(10)) + ',' + CAST(d.[NUMERIC_SCALE] AS VARCHAR(10)) + ')'
                                                ELSE ''
                                        END
                                    +   ' '
                                    +   CASE
                                            WHEN d.[IS_NULLABLE] = 'NO' THEN 'NOT NULL'
                                            ELSE 'NULL'
                                        END + ';'
            FROM [INFORMATION_SCHEMA].[COLUMNS] d
            LEFT JOIN [INFORMATION_SCHEMA].[COLUMNS] a
                ON a.[COLUMN_NAME] = d.[COLUMN_NAME]
               AND a.[TABLE_SCHEMA] = 'RoyalMail'
               AND a.[TABLE_NAME] = 'PAFFile_Archived'
            WHERE d.[TABLE_SCHEMA] = 'RoyalMail'
            AND d.[TABLE_NAME] = @SourceTable
            AND a.[COLUMN_NAME] IS NULL;
		
		/*******************************************************************************************************************************************
			1.2.	Loop through all missing columns and add them to the Archive table
		*******************************************************************************************************************************************/

            DECLARE @ColumnID INT
                ,   @ColumnAddQuery VARCHAR(255)

            WHILE (SELECT COUNT(*) FROM #Columns_ToAdd) > 0
                BEGIN

                    SELECT  @ColumnID = MIN([ColumnID])
                    FROM #Columns_ToAdd

                    SELECT  @ColumnAddQuery = [ColumnAddQuery]
                    FROM #Columns_ToAdd
                    WHERE [ColumnID] = @ColumnID

                    EXEC(@ColumnAddQuery)

                    DELETE
                    FROM #Columns_ToAdd
                    WHERE [ColumnID] = @ColumnID

                END
    
	/*******************************************************************************************************************************************
		2.	Load data from source table to archive
	*******************************************************************************************************************************************/
		
		/*******************************************************************************************************************************************
			2.1.	Fetch the list of all columns from the source table
		*******************************************************************************************************************************************/
    
        --  DECLARE @SourceTable VARCHAR(255) = 'PAFData', @EntryDescription VARCHAR(255) = 'PAFData', @StartDate DATE = '2025-01-01', @EndDate DATE = '2025-10-01'

            DROP TABLE IF EXISTS #ColumnsFromSource
            CREATE TABLE #ColumnsFromSource (   [ColumnID] INT IDENTITY
                                            ,   [ColumnName] VARCHAR(255))

            INSERT INTO #ColumnsFromSource
            SELECT  [ColumnName] = d.[COLUMN_NAME]
            FROM [INFORMATION_SCHEMA].[COLUMNS] d
            WHERE d.[TABLE_SCHEMA] = 'RoyalMail'
            AND d.[TABLE_NAME] = @SourceTable
            ORDER BY d.[ORDINAL_POSITION]
		
		/*******************************************************************************************************************************************
			2.2.	Convert list into variables to populate exec statement, adding in table information required for Archive
		*******************************************************************************************************************************************/

            DECLARE @InsertList NVARCHAR(MAX)
                ,   @SelectList NVARCHAR(MAX);        

            SELECT @InsertList =    '[SourceTable],[EntryDescription],[StartDate], [EndDate],'
                                +   STUFF(( SELECT ',' + QUOTENAME([ColumnName])
                                            FROM #ColumnsFromSource
                                            ORDER BY [ColumnID]
                                            FOR XML PATH(''), TYPE).value('.','nvarchar(max)'), 1, 1, '');

            SELECT @SelectList =    '[SourceTable] = ''' + @SourceTable + ''',[EntryDescription] = ''' + @EntryDescription + ''',[StartDate] = ''' + CONVERT(VARCHAR(10), @StartDate) + ''',[EndDate] = ''' + CONVERT(VARCHAR(10), @EndDate) + ''','
                                +   STUFF(( SELECT ',' + QUOTENAME([ColumnName])
                                            FROM #ColumnsFromSource
                                            ORDER BY [ColumnID]
                                            FOR XML PATH(''), TYPE).value('.','nvarchar(max)'), 1, 1, '')
		
		/*******************************************************************************************************************************************
			2.3.	Populate exec statement for archive
		*******************************************************************************************************************************************/

            DECLARE @Query NVARCHAR(MAX)

            SET @Query =    'INSERT INTO [RoyalMail].[PAFFile_Archived] (' + @InsertList + ')' + CHAR(10)
                        +   'SELECT ' + @SelectList + CHAR(10)
                        +   'FROM [RoyalMail].[' + @SourceTable + ']'
		
		/*******************************************************************************************************************************************
			2.4.	Execute Archive statement
		*******************************************************************************************************************************************/
                   
            EXEC(@Query)

END


GO
