USE [Affinity]
GO
/****** Object:  StoredProcedure [Staging].[GetTransactionalDataFromWarehouse]    Script Date: 9/3/2026 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Chris Morris 01/09/2022
Grabs new transactions from Warehouse MIDI job
*/
CREATE PROCEDURE [Staging].[GetTransactionalDataFromWarehouse]

AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

-- Copy data from holding tables to Affinity
INSERT INTO Staging.ConsumerTransactionHolding WITH (TABLOCKX)
	(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
	TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID, LoadDate)
SELECT 
	FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, BankID, LocationID, CardholderPresentData,
	TranDate, CINID, Amount, IsRefund, IsOnline, InputModeID, PostStatusID, PaymentTypeID, LoadDate = GETDATE()
FROM Warehouse.Relational.ConsumerTransactionHolding ct
WHERE NOT EXISTS (SELECT 1 FROM Affinity.Staging.ConsumerTransactionHolding a WHERE a.FileID = ct.FileID AND a.RowNum = ct.RowNum)
-- (4,3196,778 rows affected) / 00:03:00

INSERT INTO Staging.ConsumerTransaction_CreditCardHolding WITH (TABLOCKX)
	(FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
	TranDate, CINID, Amount, IsOnline, LocationID, FanID, LoadDate)
SELECT 
	FileID, RowNum, ConsumerCombinationID, SecondaryCombinationID, CardholderPresentData, 
	TranDate, CINID, Amount, IsOnline, LocationID, FanID, LoadDate = GETDATE()
FROM Warehouse.Relational.ConsumerTransaction_CreditCardHolding ct
WHERE NOT EXISTS (SELECT 1 FROM Affinity.Staging.ConsumerTransaction_CreditCardHolding a WHERE a.FileID = ct.FileID AND a.RowNum = ct.RowNum)
-- (334,116 rows affected) / 00:00:15


RETURN 0

GO
