USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Actito].[DynamicEmailUpdate]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Actito].[DynamicEmailUpdate]
AS
BEGIN

DECLARE @Today DATE = GETDATE()

DROP TABLE IF EXISTS #EmailSend
SELECT	[LionSendID] = [ID]
	,	[EmailType]
INTO #EmailSend
FROM [WH_AllPublishers].[Email].[EmailSend]
WHERE [Scheme] = 'MyRewards'
AND [EmailSendDate] = @Today
AND [EmailType] IN ('Newsletter - Full Generic', 'Newsletter - Full Dynamic')

IF @@ROWCOUNT < 2 RETURN

DECLARE @Dynamic INT
	,	@Generic INT

SELECT	@Generic = [LionSendID]
FROM #EmailSend
WHERE [EmailType] = 'Newsletter - Full Generic'

SELECT	@Dynamic = [LionSendID]
FROM #EmailSend
WHERE [EmailType] = 'Newsletter - Full Dynamic'

DROP TABLE IF EXISTS #Customers
SELECT	cu.[FanID]
	,	[LionSendID] = CASE WHEN cu.[CashbackAvailable] >= 5 THEN @Dynamic ELSE @Generic END
INTO #Customers
FROM [Derived].[Customer]  cu
WHERE EXISTS (	SELECT *
				FROM [Email].[RedeemOfferSlotData] rosd
				WHERE cu.[FanID] = rosd.[FanID])
				
CREATE CLUSTERED INDEX [CIX_FanID] ON #Customers ([FanID])

UPDATE rosd
SET rosd.[LionSendID] = cu.[LionSendID]
FROM [Email].[RedeemOfferSlotData] rosd
INNER JOIN #Customers cu
	ON cu.[FanID] = rosd.[FanID]
WHERE rosd.[LionSendID] IN (@Dynamic, @Generic)
AND rosd.[LionSendID] != cu.[LionSendID]

UPDATE rosd
SET rosd.[LionSendID] = cu.[LionSendID]
FROM [Email].[OfferSlotData] rosd
INNER JOIN #Customers cu
	ON cu.[FanID] = rosd.[FanID]
WHERE rosd.[LionSendID] IN (@Dynamic, @Generic)
AND rosd.[LionSendID] != cu.[LionSendID]

UPDATE rosd
SET rosd.[LionSendID] = cu.[LionSendID]
FROM [Email].[OfferSlotData_GUID] rosd
INNER JOIN #Customers cu
	ON cu.[FanID] = rosd.[FanID]
WHERE rosd.[LionSendID] IN (@Dynamic, @Generic)
AND rosd.[LionSendID] != cu.[LionSendID]

END
GO
