USE [WH_NWG]
GO
/****** Object:  StoredProcedure [dbo].[Execute_Uploader]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Execute_Uploader]	@SourceFolder VARCHAR(MAX)
										,	@S3Location VARCHAR(MAX)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	DECLARE @sql VARCHAR(4000)
	SET @sql = 'aws s3 cp "' + @SourceFolder + '" "' + @S3Location + '" --recursive --acl bucket-owner-full-control --profile trusted-rwd-engineer-etl-role-048'

	EXEC xp_cmdshell @sql

END
GO
