USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[EmailID_Generator]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/********************************************************************************************
    Name:   [Email].[EmailID_Generator]
    Desc:   Checks to see if EmailIDs have been created.  If not creates them in WH_AllPublishers.Email.EmailSend
    Auth:	William Allen

    Change History
    Initials    Date        Change Info

*********************************************************************************************/

CREATE PROCEDURE [Email].[EmailID_Generator]
 
AS
BEGIN

DECLARE @EmailDate DATE

SELECT @EmailDate =  [EmailDate]
FROM [Selections].[CampaignSetup_POS]
WHERE [EmailDate] >= GETDATE()
ORDER BY [EmailDate] DESC

DECLARE @IDCreated INT

SELECT @IDCreated = COUNT(*)
FROM [WH_AllPublishers].[Email].[EmailSend]
WHERE [Scheme] = 'MyRewards'
AND [EmailType] = 'Newsletter - Full Generic'
AND [EmailSendDate] = @EmailDate

IF @IDCreated = 0 
	INSERT INTO [WH_AllPublishers].[Email].[EmailSend] VALUES 
		('MyRewards','Newsletter - Sample',@EmailDate,GETDATE(),'WilliamA',null)
	,	('MyRewards','Newsletter - Full Generic',@EmailDate,GETDATE(),'WilliamA',null)
ELSE 
	RETURN

END

GO
