USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[LionSendSummary]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Email].[LionSendSummary]
AS
BEGIN

IF OBJECT_ID('tempdb..#AllNewsletterOffers') IS NOT NULL DROP TABLE #AllNewsletterOffers
SELECT	LionSendID = eo.EmailSendID
	,	LionSendType = CONVERT(VARCHAR(6), NULL)
	,	LionSendTypeRank = CONVERT(TINYINT, NULL)
	 ,	IronOfferID = x.OfferID
	,	Customers = COUNT(*)
INTO #AllNewsletterOffers
FROM [Actito].[EarnOffer] eo
CROSS APPLY (VALUES (EarnOfferID_Hero)
				  , (EarnOfferID_1)
				  , (EarnOfferID_2)
				  , (EarnOfferID_3)
				  , (EarnOfferID_4)
				  , (EarnOfferID_5)
				  , (EarnOfferID_6)) x (OfferID)
WHERE eo.EmailSendID > 0
GROUP BY	eo.EmailSendID
		 ,	x.OfferID
	   
CREATE CLUSTERED INDEX CIX_Offer ON #AllNewsletterOffers (IronOfferID)
CREATE NONCLUSTERED INDEX IX_LionSendID ON #AllNewsletterOffers (LionSendID, LionSendType, LionSendTypeRank)

IF OBJECT_ID('tempdb..#EmailSend') IS NOT NULL DROP TABLE #EmailSend;
SELECT	LionSendID = es.ID
	,	LionSendType =	CASE
							WHEN EmailType LIKE '%Full%' THEN 'Full'
							WHEN EmailType LIKE '%Sample%' THEN 'Sample'
						END
	,	LionSendTypeRank = ROW_NUMBER() OVER (PARTITION BY	CASE
																WHEN EmailType LIKE '%Full%' THEN 'Full'
																WHEN EmailType LIKE '%Sample%' THEN 'Sample'
															END ORDER BY ID)
INTO #EmailSend
FROM [WH_AllPublishers].[Email].[EmailSend] es
WHERE EXISTS (	SELECT 1
				FROM #AllNewsletterOffers ls
				WHERE ls.LionSendID = es.ID)

CREATE CLUSTERED INDEX CIX_Offer ON #EmailSend (LionSendID)

UPDATE ls
SET	ls.LionSendType = es.LionSendType
,	ls.LionSendTypeRank = es.LionSendTypeRank
FROM #AllNewsletterOffers ls
INNER JOIN #EmailSend es
	ON ls.LionSendID = es.LionSendID

DECLARE @EmailDate DATE = (SELECT MAX(EmailDate) FROM [Email].[Newsletter_OfferPrioritisation])

IF OBJECT_ID('tempdb..#OfferPrioritisation') IS NOT NULL DROP TABLE #OfferPrioritisation
SELECT	DISTINCT
		PartnerName = pa.PartnerName
	,	IronOfferID = iof.IronOfferID
	,	OfferGUID = iof.HydraOfferID
	,	IronOfferName = iof.IronOfferName
	,	StartDate = CONVERT(DATE, iof.StartDate)
	,	EndDate = CONVERT(DATE, iof.EndDate)
INTO #OfferPrioritisation
FROM [Email].[Newsletter_OfferPrioritisation] op
INNER JOIN [Derived].[IronOffer] iof
	ON op.IronOfferID = iof.IronOfferID
INNER JOIN [Derived].[Partner] pa
	ON iof.PartnerID = pa.PartnerID
WHERE EmailDate = @EmailDate
	   
CREATE CLUSTERED INDEX CIX_Offer ON #OfferPrioritisation (IronOfferID)

IF OBJECT_ID('tempdb..#OfferCounts') IS NOT NULL DROP TABLE #OfferCounts
SELECT	PartnerName = op.PartnerName
	,	IronOfferID = op.IronOfferID
	,	IronOfferName = op.IronOfferName
	,	StartDate = op.StartDate
	,	EndDate = op.EndDate
	,	OfferStatus =	CASE
							WHEN op.StartDate = @EmailDate THEN 'New Offer'
							ELSE 'Existing Offer'
						END
	,	CustomersSelectedForOffer = 0
	,	OfferIncludedInPreviousNewsletter = 0
	,	SUM(CASE WHEN LionSendType = 'Sample' THEN Customers ELSE 0 END) AS Customers_Sample
	,	SUM(CASE WHEN LionSendType = 'Full' THEN Customers ELSE 0 END) AS Customers_Full
	,	MAX(CASE WHEN LionSendType = 'Full' AND LionSendTypeRank = 1 THEN LionSendID ELSE 0 END) AS Customers_Full_1
	,	MAX(CASE WHEN LionSendType = 'Full' AND LionSendTypeRank = 2 THEN LionSendID ELSE 0 END) AS Customers_Full_2
	,	MAX(CASE WHEN LionSendType = 'Full' AND LionSendTypeRank = 3 THEN LionSendID ELSE 0 END) AS Customers_Full_3
INTO #OfferCounts
FROM #OfferPrioritisation op
LEFT JOIN #AllNewsletterOffers ls
	ON op.OfferGUID = ls.IronOfferID
GROUP BY	op.PartnerName
		,	op.IronOfferID
		,	op.IronOfferName
		,	op.StartDate
		,	op.EndDate
		,	CASE
				WHEN op.StartDate = @EmailDate THEN 'New Offer'
				ELSE 'Existing Offer'
			END
	   
CREATE CLUSTERED INDEX CIX_Offer ON #OfferCounts (IronOfferID)

IF OBJECT_ID('tempdb..#LionSend_Offers') IS NOT NULL DROP TABLE #LionSend_Offers
SELECT IronOfferID
INTO #LionSend_Offers
FROM #OfferPrioritisation op
WHERE EXISTS (	SELECT 1
				FROM [Email].[Newsletter_Offers] ls
				WHERE EmailSendDate < @EmailDate
				AND op.IronOfferID = ls.ItemID
				AND ls.TypeID = 1)

CREATE CLUSTERED INDEX CIX_Offer ON #LionSend_Offers (IronOfferID)

UPDATE oc
SET OfferIncludedInPreviousNewsletter = 1
FROM #OfferCounts oc
WHERE EXISTS (	SELECT 1
				FROM #LionSend_Offers ls
				WHERE oc.IronOfferID = ls.IronOfferID)

IF OBJECT_ID('tempdb..#CustomerCounts') IS NOT NULL DROP TABLE #CustomerCounts
SELECT IronOfferID
	 , CountSelected
INTO #CustomerCounts
FROM [Selections].[CampaignExecution_SelectionCounts]
WHERE EmailDate = @EmailDate

CREATE CLUSTERED INDEX CIX_Offer ON #CustomerCounts (IronOfferID)

UPDATE oc
SET CustomersSelectedForOffer = cc.CountSelected
FROM #OfferCounts oc
INNER JOIN #CustomerCounts cc
	ON oc.IronOfferID = cc.IronOfferID

	
SELECT 'New offers that have not appeared in a newsletter.'

	SELECT	[Retailer Name] = oc.PartnerName
		,	[Offer ID] = oc.IronOfferID
		,	[Offer Name] = oc.IronOfferName
		,	[Offer Start Date] = oc.StartDate
		,	[Offer End Date] = oc.EndDate
		,	[Customers Selected For Offer] = oc.CustomersSelectedForOffer
	FROM #OfferCounts oc
	WHERE OfferStatus = 'New Offer'
	AND Customers_Full = 0
	ORDER BY	oc.PartnerName
			,	oc.IronOfferName
	   
SELECT 'Offers that haven’t had the weblink tested already.'

	SELECT	[Retailer Name] = oc.PartnerName
		,	[Offer ID] = oc.IronOfferID
		,	[Offer Name] = oc.IronOfferName
		,	[Offer Start Date] = oc.StartDate
		,	[Offer End Date] = oc.EndDate
		,	[Customers Selected For Offer] = oc.CustomersSelectedForOffer
	FROM #OfferCounts oc
	WHERE OfferStatus != 'New Offer'
	AND OfferIncludedInPreviousNewsletter = 0
	AND Customers_Full > 0
	ORDER BY	oc.PartnerName
			,	oc.IronOfferName
	   
SELECT 'Offers that are in the newsletter but not in the sample.'

	SELECT	[Retailer Name] = oc.PartnerName
		,	[Offer ID] = oc.IronOfferID
		,	[Offer Name] = oc.IronOfferName
		,	[Offer Start Date] = oc.StartDate
		,	[Offer End Date] = oc.EndDate
		,	[Customers Selected For Offer] = oc.CustomersSelectedForOffer
	FROM #OfferCounts oc
	WHERE Customers_Sample = 0
	AND Customers_Full > 0
	ORDER BY	oc.PartnerName
			,	oc.IronOfferName
	

	
	/*******************************************************************************************************************************************
		1. Declare User Variables & set initial email text & HTML style
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			1.1. Declare User Variables
		***********************************************************************************************************************/

			Declare @Style VarChar(Max)
				  , @Body VarChar(Max)
				  , @Message VarChar(Max)
				  , @Message2 VarChar(Max)
				  , @Message3 VarChar(Max)
				  , @Message4 VarChar(Max)
				  , @List VarChar(Max)
				  , @Table_LionSendSummary VarChar(Max)
				  , @Table VarChar(Max)
				  , @Table2 VarChar(Max)
				  , @Regards VarChar(Max)
				  , @Excel VarChar(Max)
				  , @LionSendIDs VarChar(Max)
				  , @SubjectLine VarChar(Max)
			  

		/***********************************************************************************************************************
			1.2. Set opening message, list of data pints validated and sign offer
		***********************************************************************************************************************/

			--Set @Message = 'A debit file has been imported from the Noble process.' -- Normal Messages, # Replaced with customer Count
     		Set @Regards = 'Regards, Data Operations'
			  

		/***********************************************************************************************************************
			1.3. Set email HTML style
		***********************************************************************************************************************/
	
			Set @Style =
			'<style>
				table {border-collapse: collapse;}
				p {font-family: Calibri;}
				th {padding: 10px;}
				table, td {padding: 0 10 0 10;}
				table, td, th {border: 1px solid black;
							   font-family: Calibri;}
			</style>'


	/*******************************************************************************************************************************************
		2. Update the email with the counts of offers with issues and format the rest of the email contents
	*******************************************************************************************************************************************/

		  
		Set @Message = '<p> Hi All, </p> <p>This week’s email data has been uploaded to <b>Warehouse.lion.NominatedLionSendComponent</b> with the following LionSendID: </p>'
		Set @Message2 = '<p><b><u>New offers that have not appeared in a newsletter:</u></b></p>'
		Set @Message3 = '<p><b><u>Existing offers that haven’t had the weblink tested already:</u></b></p>'
		Set @Message4 = '<p>Could you please check to see that all the offers you were expecting to be included in the email have been selected. </p> 
		                 <p><b>Samples Report: </b>http://192.168.40.4/Reports/report/Offer%20Selections/NWG/R_0181%20-%20SmartEmail%20Sample%20Offer%20Full%20List%20v2</p>
						 <p><b>Full Report: </b>http://192.168.40.4/Reports/report/Offer%20Selections/NWG/R_0138%20-%20Offer%20Counts%20For%20Email%20v2</p>'

		Set @Regards = '<br>' + Replace(@Regards, ', ', ',<br>')



	/*******************************************************************************************************************************************
		3. Fetch data to display in the email and then reformat them to be shown in an actual table structure
	*******************************************************************************************************************************************/
		
			/***********************************************************************************************************************
				3.1. Create table displaying each offer that has an error
			***********************************************************************************************************************/

			    Set @Table_LionSendSummary = IsNull(Convert(VarChar(Max),
								(Select '<td nowrap="nowrap">' + IsNull(Convert(VarChar(100), es.ID), '')
												 + '</td><td>' + IsNull(Convert(VarChar(100), es.EmailType), '')
												 + '</td>'
								FROM [WH_AllPublishers].[Email].[EmailSend] es
                                WHERE EXISTS (	SELECT 1
				                FROM #AllNewsletterOffers ls
				                WHERE ls.LionSendID = es.ID)

								 For XML Path ('tr'), type)), '')

				Set @Table_LionSendSummary = '<table style="border-collapse: collapse; border: 1px solid black">'
						   + '<tr>'
						  -- + '<th colspan=3><b>LionSendSummary </b></th>'
						   + '</tr><tr>'
						   + '<th>LionSendID</th><th>EmailType</th>' -- Heading names
						   + '</tr>'
						   + Replace(Replace(Replace( Replace( @Table_LionSendSummary, '&lt;', '<' ), '&gt;', '>' ), '&amp;', '&'), '<td>', '<td style="height:28px">')
						   + '</table>'
						   + '<br>'

				Set @Table = IsNull(Convert(VarChar(Max),
								(Select '<td nowrap="nowrap">' + IsNull(Convert(VarChar(100), oc.PartnerName), '')
												 + '</td><td>' + IsNull(Convert(VarChar(100), oc.IronOfferID), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), oc.IronOfferName), '')
												 + '</td>'
								 FROM #OfferCounts oc
	                             WHERE OfferStatus = 'New Offer'
	                             AND Customers_Full = 0
								 ORDER BY	oc.PartnerName
								         ,	oc.IronOfferName

								 For XML Path ('tr'), type)), '')

				Set @Table = '<table style="border-collapse: collapse; border: 1px solid black">'
						   + '<tr>'
						   --+ '<th colspan=3><b>New offers that have not appeared in a newsletter </b></th>'
						   + '</tr><tr>'
						   + '<th>PartnerName</th><th>IronOfferID</th><th>IronOfferName</th>' -- Heading names
						   + '</tr>'
						   + Replace(Replace(Replace( Replace( @Table, '&lt;', '<' ), '&gt;', '>' ), '&amp;', '&'), '<td>', '<td style="height:28px">')
						   + '</table>'
						   + '<br>'

				Set @Table2 = IsNull(Convert(VarChar(Max),
								(Select '<td nowrap="nowrap">' + IsNull(Convert(VarChar(100), oc.PartnerName), '')
												 + '</td><td>' + IsNull(Convert(VarChar(100), oc.IronOfferID), '')
												  + '</td><td>' + IsNull(Convert(VarChar(100), oc.IronOfferName), '')
												 + '</td>'
									FROM #OfferCounts oc
	                                INNER JOIN [Derived].[IronOffer] iof
	                                ON oc.IronOfferID = iof.IronOfferID
	                                INNER JOIN [Derived].[Partner] pa
	                                ON iof.PartnerID = pa.PartnerID
	                                WHERE OfferStatus != 'New Offer'
	                                AND OfferIncludedInPreviousNewsletter = 0
	                                AND Customers_Full > 0
	                                ORDER BY	oc.PartnerName
	                                		,	oc.IronOfferName

								 For XML Path ('tr'), type)), '')

				Set @Table2 = '<table style="border-collapse: collapse; border: 1px solid black">'
						   + '<tr>'
						   --+ '<th colspan=3><b>Offers that haven’t had the weblink tested already</b></th>'
						   + '</tr><tr>'
						   + '<th>PartnerName</th><th>IronOfferID</th><th>IronOfferName</th>' -- Heading names
						   + '</tr>'
						   + Replace(Replace(Replace( Replace( @Table2, '&lt;', '<' ), '&gt;', '>' ), '&amp;', '&'), '<td>', '<td style="height:28px">')
						   + '</table>'
						   + '<br>'

            /***********************************************************************************************************************
				3.. Create table to STUFF lionsendIDs for Subject Line
			***********************************************************************************************************************/
			DROP TABLE IF EXISTS #t
			SELECT CONVERT(NvarChar,ID) 'ID', 1 'RowNo'
			INTO #t
			FROM [WH_AllPublishers].[Email].[EmailSend] es
			WHERE EXISTS (SELECT 1
			            FROM #AllNewsletterOffers ls
			            WHERE ls.LionSendID = es.ID)
			ORDER BY ID 

             DROP TABLE IF EXISTS #t2
		     SELECT RowNo, 
            'LionSendIDs' = STUFF((SELECT ', ' + ID
		    		               FROM #t t1 
		    		               WHERE t1.RowNo = t2.RowNo
					               ORDER BY ID
		    		               FOR XML PATH (''))
		    		               , 1, 1, '' )
		    INTO #t2		 
		    FROM #t t2
            GROUP BY RowNo
					
			SET @LionSendIDs = (SELECT LionSendIDs FROM #t2)
			SET @SubjectLine= (SELECT CONCAT('NWG - Actito Data Upload LionSend' ,@LionSendIDs))


	/*******************************************************************************************************************************************
		4. Combine variables to form email body
	*******************************************************************************************************************************************/
	
				Set @Body = @Style + @Message + @Table_LionSendSummary + @Message4 + @Message2 + @Table + @Message3 + @Table2  + @Regards
	
	/*******************************************************************************************************************************************
		5. Send email
	*******************************************************************************************************************************************/

	    exec msdb..sp_send_dbmail @profile_name			            = 'Administrator'
								, @recipients					= 'operations@rewardinsight.com;adam.mccallion@rewardinsight.com;dataoperations@rewardinsight.com;hollie.camm@rewardinsight.com;amber.morrison@rewardinsight.com;aimee.cowie@rewardinsight.com;accountmanagement_rpt@rewardinsight.com'
								, @subject						=  @SubjectLine
								, @execute_query_database		= 'WH_NWG'							
								, @body_format					= 'HTML'
								, @importance					= 'HIGH'
								, @body							=  @body

END

GO
