USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[Newsletter_OfferPrioritisation_Validation]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**********************************************************************

	Author:		 Rory Francis
	Create date: 2018-03-15
	Description: Automating Offer Prioritisation Engine checks

	======================= Change Log =======================

	Author: Matty Laverty:
	Added Error handling email 
	Added insert into this sProc if the validation contains no errors


***********************************************************************/

CREATE PROCEDURE [Email].[Newsletter_OfferPrioritisation_Validation] (@Date Date)
	
As

Begin

	Declare @EmailDate Date = @Date

--	Declare @EmailDate Date = '2024-09-05'

	/*******************************************************************************************************************************************
		1. Prepare tables for validation
	*******************************************************************************************************************************************/

		DECLARE @ClubID INT = 132

		If Object_ID('tempdb..#IronOffer') Is Not Null Drop Table #IronOffer
		SELECT *
		INTO #IronOffer
		FROM [Derived].[IronOffer]
		
		--DELETE
		--FROM #IronOffer
		--WHERE StartDate < @EmailDate
		--AND IsSignedOff = 0

		/***********************************************************************************************************************
			1.1. Create empty table for offer with errors
		***********************************************************************************************************************/

			If Object_ID('tempdb..#Newsletter_OfferPrioritisation_Errors') Is Not Null Drop Table #Newsletter_OfferPrioritisation_Errors
			Create Table #Newsletter_OfferPrioritisation_Errors (IronOfferID Int Not Null
														 , IronOfferName nVarChar(200) Null
														 , StartDate DateTime Null
														 , EndDate DateTime NULL
														 , PartnerID Int NULL
														 , NewOffer VarChar(14) NULL
														 , Duplicated Int Default 0
														 , EndBeforeCycleEnds Int Default 0
														 , StartAfterCycleStart Int Default 0
														 , OfferMissingFromOPE Int Default 0
														 , OfferInOPENotInIronOffer Int Default 0
														 , OfferInOPEMissingFromSelections Int Default 0
														 , OfferInSelectionsMissingFromOPE Int Default 0)
													 
													 
		/***********************************************************************************************************************
			1.2. Remove null rows from SSIS import table
		***********************************************************************************************************************/

			Delete
			From [Email].[Newsletter_OfferPrioritisation_Import]
			Where IronOfferID Is Null
			And PartnerName Is Null
													 

		/***********************************************************************************************************************
			1.3. Generate weighting for all offers
		***********************************************************************************************************************/

			IF Object_ID('tempdb..#OfferDetailsFromOPE') Is Not Null Drop Table #OfferDetailsFromOPE
			Select IronOfferID as OfferID
				 , 1001 - ROW_NUMBER() over (order by (select null)) as Weighting
				 , Case
						When IronOfferName like 'Core %' or BaseOffer like 'Core %' then 1
						Else 0
				   End as Base
			Into #OfferDetailsFromOPE
			From [Email].[Newsletter_OfferPrioritisation_Import] eo


	/*******************************************************************************************************************************************
		2. Split CampaignSetup_POS to offer level
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			2.1. Fetch CampaignSetup_POS into temp table for campaigns with upcoming selection
		***********************************************************************************************************************/
		
			If Object_ID('tempdb..#CampaignSetup') Is Not Null Drop Table #CampaignSetup
			SELECT	DISTINCT
					@EmailDate AS EmailDate
				 , ClientServicesRef
				 , iof.Item AS IronOfferID
			INTO #CampaignSetup
			FROM (SELECT ClientServicesRef
				  	   , OfferID
				  FROM [Selections].[CampaignSetup_POS]
				  WHERE @EmailDate BETWEEN StartDate And EndDate
				  UNION ALL
				  SELECT ClientServicesRef
				  	   , OfferID
				  FROM [Selections].[CampaignSetup_DD]
				  WHERE @EmailDate BETWEEN StartDate And EndDate) cs
				  CROSS APPLY [Warehouse].[dbo].[il_SplitDelimitedStringArray] (OfferID, ',') iof
			WHERE iof.Item != 0


	/*******************************************************************************************************************************************
		3. For each possible error, add them to the previously created holding table with a flag of what those errors are
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			3.1. Offers duplicated in the OPE
		***********************************************************************************************************************/

			IF Object_ID('tempdb..#OffersDuplicatedInOPE') Is Not Null Drop Table #OffersDuplicatedInOPE
			Select ope.OfferID as IronOfferID
				 , Min(Weighting) as MinWeighting
			Into #OffersDuplicatedInOPE
			From #OfferDetailsFromOPE ope
			Group by ope.OfferID
			Having Count(1) > 1

			Insert Into #Newsletter_OfferPrioritisation_Errors (IronOfferID
														, IronOfferName
														, StartDate
														, EndDate
														, PartnerID
														, NewOffer
														, Duplicated)
			Select i.IronOfferID
				 , i.IronOfferName
				 , i.StartDate
				 , i.EndDate
				 , i.PartnerID
				 , Case
						When i.StartDate = @EmailDate Then 1
						Else 0
				   End as NewOffer
				 , 1 as Duplicated
			From #OffersDuplicatedInOPE op
			Inner join #IronOffer i
				on op.IronOfferID=i.IronOfferID
			

		/***********************************************************************************************************************
			3.2. Offers going live that are not in the OPE
		***********************************************************************************************************************/

			Insert Into #Newsletter_OfferPrioritisation_Errors (IronOfferID
														, IronOfferName
														, StartDate
														, EndDate
														, PartnerID
														, NewOffer
														, OfferMissingFromOPE)
			Select Distinct 
				   i.IronOfferID
				 , i.IronOfferName
				 , i.StartDate
				 , i.EndDate
				 , i.PartnerID
				 , Case
						When i.StartDate = @EmailDate Then 1
						Else 0
				   End as NewOffer
				 , 1 as OfferMissingFromOPE
			From #IronOffer i
			Where (@EmailDate between i.StartDate And i.EndDate Or i.EndDate is null)
			and i.IronOfferName Not in ('suppressed','SPARE','SPARE!!!')
			AND i.IronOfferID != 0
			and not exists (Select 1
							From #OfferDetailsFromOPE op
							Where i.IronOfferID = op.OfferID)
			------ Constant Exclusions
			AND i.[IronOfferName] != 'Default Offer'
			AND i.[IronOfferName] != 'Default'
			AND i.[IronOfferName] != 'Default collateral'
			AND i.[IronOfferName] != 'Above The Line'
			AND i.[IronOfferName] != 'Above The Line Offer'
			AND i.[IronOfferName] != 'above the line collateral'
			AND i.[IronOfferName] != 'SPARE'
			and i.PartnerID not in (4498,4497,4642, 5193,5194,5195,5196,5197,5199,5215,5216)											-- Credit Cards
			and i.PartnerID not in (4648)													-- Direct Debit
			and i.PartnerID not in (Select PartnerID from Warehouse.APW.PartnerAlternate)	-- Secondary Partner Recorda
			and i.IronOfferID not in (315,371,372,373,379,380,381,382,383,384,385,386,387,	-- Thomson & First Choice offers with last OfferMember date 2013-07-24
							  388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,
							  403,404,405,406,407,408,409,410,426,427,428,429,430,431,432,
							  433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,
							  448,449,450,451,452,453,454,455,456,457,458,459,460,515,528,
							  539,554,564,575,584,586,589,590,594,610,614,615,799,800,801,
							  802,803,1117,1590,1746,1748,1756,1758,1760,1761,1764,1768,
							  1772,1776,1778,1782,1786,1788,1790,1791,1793,1847,8612,
							  18289, 18290, 18295, 18296, 18297, 18298, 18299, 18300)


		/***********************************************************************************************************************
			3.3. Offers in the OPE that are not in IronOffer
		***********************************************************************************************************************/

			Insert Into #Newsletter_OfferPrioritisation_Errors (IronOfferID
														, IronOfferName
														, StartDate
														, EndDate
														, PartnerID
														, NewOffer
														, OfferInOPENotInIronOffer)
			Select op.OfferID as IronOfferID
				 , 'Offer not found in IronOffer table' as IronOfferName
				 , Null as StartDate
				 , Null as EndDate
				 , Null as PartnerID
				 , Null as NewOffer
				 , 1 as OfferInOPENotInIronOffer
			From #OfferDetailsFromOPE op
			Where Not Exists (Select 1
							  From #IronOffer iof
							  Where op.OfferID = iof.IronOfferID)
			

		/***********************************************************************************************************************
			3.4. Offers ending before the cycle end date
		***********************************************************************************************************************/

			Insert Into #Newsletter_OfferPrioritisation_Errors (IronOfferID
														, IronOfferName
														, StartDate
														, EndDate
														, PartnerID
														, NewOffer
														, EndBeforeCycleEnds)
			Select iof.IronOfferID
				 , iof.IronOfferName
				 , iof.StartDate as StartDate
				 , iof.EndDate as EndDate
				 , iof.PartnerID as PartnerID
				 , Case
						When iof.StartDate = @EmailDate Then 1
						Else 0
				   End as NewOffer
				 , 1 as EndBeforeCycleEnds
			From #OfferDetailsFromOPE as op
			Inner join #IronOffer iof
				on op.OfferID = iof.IronOfferID
			Where iof.EndDate < DateAdd(millisecond, -1003, DateAdd(day, 14, Convert(DateTime, @EmailDate)))
			

		/***********************************************************************************************************************
			3.5. Offers starting after the cycle start date
		***********************************************************************************************************************/

			Insert Into #Newsletter_OfferPrioritisation_Errors (IronOfferID
														, IronOfferName
														, StartDate
														, EndDate
														, PartnerID
														, NewOffer
														, StartAfterCycleStart)
			Select iof.IronOfferID
				 , iof.IronOfferName
				 , iof.StartDate as StartDate
				 , iof.EndDate as EndDate
				 , iof.PartnerID as PartnerID
				 , Case
						When iof.StartDate = @EmailDate Then 1
						Else 0
				   End as NewOffer
				 , 1 as StartAfterCycleStart
			From #OfferDetailsFromOPE as op
			Inner join #IronOffer iof
				on op.OfferID = iof.IronOfferID
			Where iof.StartDate > @EmailDate
			

		/***********************************************************************************************************************
			3.6. Offers that are in the OPE but are not in the CampaignSetup_POS table 
		***********************************************************************************************************************/

			Insert Into #Newsletter_OfferPrioritisation_Errors (IronOfferID
														, IronOfferName
														, StartDate
														, EndDate
														, PartnerID
														, NewOffer
														, OfferInOPEMissingFromSelections)
			Select op.OfferID as IronOfferID
				 , iof.IronOfferName
				 , iof.StartDate as StartDate
				 , iof.EndDate as EndDate
				 , iof.PartnerID as PartnerID
				 , Case
						When iof.StartDate = @EmailDate Then 1
						Else 0
				   End as NewOffer
				 , 1 as OfferInOPEMissingFromSelections
			From #OfferDetailsFromOPE op
			Left join #IronOffer iof
				on op.OfferID = iof.IronOfferID
			Where Not Exists (Select 1
							  From #CampaignSetup cs
							  Where op.OfferID = cs.IronOfferID
							  Or op.Base = 1
							  Or op.OfferID = 14011)
			

		/***********************************************************************************************************************
			3.7. Offers that are in the CampaignSetup_POS table but are not in the OPE
		***********************************************************************************************************************/

			Insert Into #Newsletter_OfferPrioritisation_Errors (IronOfferID
														, IronOfferName
														, StartDate
														, EndDate
														, PartnerID
														, NewOffer
														, OfferInSelectionsMissingFromOPE)
			Select als.IronOfferID
				 , iof.IronOfferName
				 , iof.StartDate as StartDate
				 , iof.EndDate as EndDate
				 , iof.PartnerID as PartnerID
				 , Case
						When iof.StartDate = @EmailDate Then 1
						Else 0
				   End as NewOffer
				 , 1 as OfferInSelectionsMissingFromOPE
			From #CampaignSetup als
			Left join #IronOffer iof
				on als.IronOfferID = iof.IronOfferID
			Where Not Exists (Select 1
							  From #OfferDetailsFromOPE op
							  Where op.OfferID = als.IronOfferID)


	/*******************************************************************************************************************************************
		4. Combine all offers with errors are create single status column listing all errors per offer
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS ##Newsletter_OfferPrioritisation_Errors_NWG
		Select IronOfferID
			 , IronOfferName
			 , StartDate
			 , EndDate
			 , PartnerID
			 , NewOffer
			 , Replace(Left(Status, Len(Status) - 1), ', Offer', ',') as Status
		INTO ##Newsletter_OfferPrioritisation_Errors_NWG
		From (Select IronOfferID
	  			   , IronOfferName
	  			   , StartDate
	  			   , EndDate
	  			   , PartnerID
	  			   , NewOffer
	  			   , Case When Max(Duplicated) = 1 Then 'Offer duplicated in OPE, ' Else '' End
	  				 +
	  				 Case When Max(EndBeforeCycleEnds) = 1 Then 'Offer ends before cycle ends, ' Else '' End
	  				 +
	  				 Case When Max(StartAfterCycleStart) = 1 Then 'Offer starts after cycle starts, ' Else '' End
	  				 +
	  				 Case When Max(OfferMissingFromOPE) = 1 Then 'Offer not listed in the OPE, ' Else '' End
	  				 +
	  				 Case When Max(OfferInOPENotInIronOffer) = 1 Then 'Offer in the OPE but not found in IronOffer table, ' Else '' End
	  				 +
	  				 Case When Max(OfferInOPEMissingFromSelections) = 1 Then 'Offer in the OPE but not set up for selection, ' Else '' End
	  				 +
	  				 Case When Max(OfferInSelectionsMissingFromOPE) = 1 Then 'Offer set up for selection but not in the OPE, ' Else '' End as Status
			  From #Newsletter_OfferPrioritisation_Errors
			  Group by IronOfferID
	  			   , IronOfferName
	  			   , StartDate
	  			   , EndDate
	  			   , PartnerID
	  			   , NewOffer) owe

		UPDATE ##Newsletter_OfferPrioritisation_Errors_NWG
		SET Status = 'Offer not listed in the OPE'
		WHERE Status = 'Offer not listed in the OPE, set up for selection but not in the OPE'

		CREATE CLUSTERED INDEX CIX_Order ON ##Newsletter_OfferPrioritisation_Errors_NWG (Status, PartnerID)
				   
	/*******************************************************************************************************************************************
		5. For permanent exclusions give the reason
	*******************************************************************************************************************************************/

		UPDATE owe
		SET owe.Status = owe.Status + ' - ' + pe.ExclusionReason
		FROM ##Newsletter_OfferPrioritisation_Errors_NWG owe
		INNER JOIN [Email].[OPE_PartnerExclusions] pe
			ON owe.PartnerID = pe.PartnerID
			AND @EmailDate BETWEEN pe.StartDate AND COALESCE(pe.EndDate, '9999-12-31')

	/*******************************************************************************************************************************************
		6. Bounty Offers
	*******************************************************************************************************************************************/
		
		IF OBJECT_ID('tempdb..#BountyOffers') IS NOT NULL DROP TABLE #BountyOffers
		SELECT	DISTINCT
				iof.IronOfferID
		INTO #BountyOffers
		FROM [WHB].[Inbound_OfferDetail] od
		INNER JOIN [Derived].[IronOffer] iof
			ON od.OfferGUID = iof.HydraOfferID
		WHERE IsBounty = 1

		UPDATE owe
		SET owe.Status = owe.Status + ' - Bounty Offer'
		FROM ##Newsletter_OfferPrioritisation_Errors_NWG owe
		INNER JOIN #BountyOffers bo
			ON owe.IronOfferID = bo.IronOfferID

	/*******************************************************************************************************************************************
		7. Duplicate offers
	*******************************************************************************************************************************************/
			
		IF OBJECT_ID('tempdb..#DuplicateOffer') IS NOT NULL DROP TABLE #DuplicateOffer;
		WITH
		DuplicateOffer AS (	SELECT	iof.IronOfferName
							FROM [Derived].[IronOffer] iof
							GROUP BY iof.IronOfferName
							HAVING COUNT(*) > 1)

		SELECT	DISTINCT
				iof.IronOfferID
		INTO #DuplicateOffer
		FROM [Derived].[IronOffer] iof
		WHERE EXISTS (	SELECT 1
						FROM DuplicateOffer do
						WHERE iof.IronOfferName = do.IronOfferName)

		UPDATE owe
		SET owe.Status = owe.Status + ' - Duplicate Offer'
		FROM ##Newsletter_OfferPrioritisation_Errors_NWG owe
		INNER JOIN #DuplicateOffer do
			ON owe.IronOfferID = do.IronOfferID


	/*******************************************************************************************************************************************
		8. Insert all entries of OPE to a reviewd table, listing errors where applicable
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS ##OPE_Validation_Reviewed_NWG
		Select Distinct
			   eo.PartnerName
			 , eo.AccountManager
			 , Coalesce(eo.ClientServicesRef, '') as ClientServicesRef
			 , eo.IronOfferName
			 , Coalesce(eo.OfferSegment, '') as OfferSegment
			 , eo.IronOfferID
			 , Coalesce(CONVERT(DECIMAL(19,2), eo.CashbackRate) * 100, CONVERT(DECIMAL(19,2), iof.TopCashBackRate)) as CashbackRate
			 , Coalesce(eo.BaseOffer, '') as BaseOffer
			 , Coalesce(opeerr.Status, '') as Status
			 , opew.Weighting
		INTO ##OPE_Validation_Reviewed_NWG
		From [Email].[Newsletter_OfferPrioritisation_Import] eo
		Inner join #OfferDetailsFromOPE opew
			on eo.IronOfferID = opew.OfferID
		Left Join ##Newsletter_OfferPrioritisation_Errors_NWG opeerr
			on opew.OfferID = opeerr.IronOfferID
		Left Join Warehouse.Relational.IronOffer iof
			on eo.IronOfferID = iof.IronOfferID

		CREATE CLUSTERED INDEX CIX_Order ON ##OPE_Validation_Reviewed_NWG (Status, PartnerName)

	/*******************************************************************************************************************************************
		9. Insert all entries of OPE to a reviewd table, listing errors where applicable
	*******************************************************************************************************************************************/

		Delete
		From [Email].[Newsletter_OfferPrioritisation]
		Where EmailDate = @EmailDate

		INSERT INTO [Email].[Newsletter_OfferPrioritisation]
		Select iof.PartnerID
			 , op.OfferID
			 , op.Weighting
			 , op.Base
			 , Case
					When StartDate >= GetDate() Or StartDate Is Null Then 1
					Else 0
			   End as NewOffer
			 , @EmailDate as EmailDate
		From #OfferDetailsFromOPE op
		Left join [Derived].[IronOffer] iof
			on op.OfferID = iof.IronOfferID

	/*******************************************************************************************************************************************
		8. Insert all entries of OPE to a reviewd table, listing errors where applicable
	*******************************************************************************************************************************************/

		EXEC [Email].[Newsletter_OfferPrioritisation_EmailSend] @EmailDate

End

GO
