USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[Newsletter_RedeemOfferSlotData_Populate]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Email].[Newsletter_RedeemOfferSlotData_Populate]
AS
BEGIN

	/*******************************************************************************************************************************************
		1. Fetch list of Customers
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			1.1. Identify Sample Customers
		***********************************************************************************************************************/
	
			DROP TABLE IF EXISTS #SampleCustomers
			SELECT	[CompositeID]
				,	[LionSendID] = MIN([LionSendID])
			INTO #SampleCustomers
			FROM [Email].[NominatedLionSendComponent] ls
			GROUP BY [CompositeID]
			HAVING COUNT(DISTINCT [LionSendID]) > 1

			INSERT INTO #SampleCustomers
			SELECT	[CompositeID]
				,	[LionSendID] = MIN([LionSendID])
			FROM [Email].[NominatedLionSendComponent_RedemptionOffers] ls WITH (NOLOCK)
			WHERE NOT EXISTS (	SELECT 1
								FROM #SampleCustomers sc
								WHERE ls.[CompositeID] = sc.[CompositeID])
			GROUP BY [CompositeID]
			HAVING COUNT(DISTINCT [LionSendID]) > 1

		/***********************************************************************************************************************
			1.2. Fetch all customers in LionSend
		***********************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Customers
			SELECT	ls.[LionSendID]
				,	[SampleCustomer] = COALESCE(sc.[LionSendID] / sc.[LionSendID], 0)
				,	cu.[FanID]
				,	cu.[CompositeID]
				,	[RedeemID] = ls.[ItemID]
				,	[Slot] = ls.[ItemRank]
			INTO #Customers
			FROM [Derived].[Customer] cu
			INNER JOIN [Email].[NominatedLionSendComponent_RedemptionOffers] ls WITH (NOLOCK)
				ON cu.[CompositeID] = ls.[CompositeID]
			LEFT JOIN #SampleCustomers sc
				ON ls.[CompositeID] = sc.[CompositeID]
				AND ls.[LionSendID] = sc.[LionSendID]

		/***********************************************************************************************************************
			1.3. Update FanID of Sample Customers
		***********************************************************************************************************************/

			UPDATE cu
			SET cu.[FanID] = scls.[FanID]
			FROM #Customers cu
			INNER JOIN [Email].[SampleCustomerLinks] scln
				on cu.[FanID] = scln.[RealCustomerFanID]
			INNER JOIN [Email].[SampleCustomersList] scls
				on scln.[SampleCustomerID] = scls.[ID]
			WHERE cu.[SampleCustomer] = 1

			CREATE CLUSTERED INDEX [CIX_All] ON #Customers ([LionSendID], [FanID], [Slot], [RedeemID])

	/*******************************************************************************************************************************************
		2. Pivot all columns to rows
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #OfferID
		SELECT pt.[LionSendID]
				, pt.[FanID]
				, [RedeemOffer1] = pt.[1]
				, [RedeemOffer2] = pt.[2]
				, [RedeemOffer3] = pt.[3]
				, [RedeemOffer4] = pt.[4]
				, [RedeemOffer5] = pt.[5]
		INTO #OfferID
		FROM (	SELECT	[LionSendID]
					,	[FanID]
					,	[Slot]
					,	[RedeemID]
				FROM #Customers) cu
		PIVOT(AVG([RedeemID]) FOR [Slot] IN ([1], [2], [3], [4], [5])) AS pt

		CREATE CLUSTERED INDEX [CIX_LionSendFan] ON #OfferID ([LionSendID], [FanID])

	/*******************************************************************************************************************************************
		3. Insert to [Email].[RedeemOfferSlotData]
	*******************************************************************************************************************************************/

		TRUNCATE TABLE [Email].[RedeemOfferSlotData]
		INSERT INTO [Email].[RedeemOfferSlotData]
		SELECT	oi.[FanID]
			,	oi.[LionSendID]
			,	oi.[RedeemOffer1]
			,	oi.[RedeemOffer2]
			,	oi.[RedeemOffer3]
			,	oi.[RedeemOffer4]
			,	oi.[RedeemOffer5]
			,	[RedeemOffer1EndDate] = NULL
			,	[RedeemOffer2EndDate] = NULL
			,	[RedeemOffer3EndDate] = NULL
			,	[RedeemOffer4EndDate] = NULL
			,	[RedeemOffer5EndDate] = NULL
		FROM #OfferID oi

END

GO
