USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[Newsletter_FetchSampleCustomers]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	
	Author:		Rory

	Date:		23rd September 2016

	Purpose:	Generate Sample Data for upload INTO SFD for a specific ClubID and LionSendID
	

*/

CREATE PROCEDURE [Email].[Newsletter_FetchSampleCustomers]

AS
BEGIN

	/*******************************************************************************************************************************************
		1. Fetch customer Brand / Loyalty data
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #CustomerSampleInput
		SELECT	ls.[LionSendID]
			 ,	cu.[ClubID]
			 ,	[IsLoyalty] =	CASE
									WHEN cu.[AccountType] = 'Premier' THEN 1
									ELSE 0
							   END
			,	ls.[TypeID]
			,	ls.[ItemID]
			,	ls.[ItemRank]
			,	ls.[StartDate]
			,	ls.[EndDate]
			,	ls.[CompositeID]
		INTO #CustomerSampleInput
		FROM [Email].[NominatedLionSendComponent] ls
		INNER JOIN [Derived].[Customer] cu
			ON ls.[CompositeID] = cu.[CompositeID]
		WHERE cu.[MarketableByEmail] = 1
		UNION ALL
		SELECT	ls.[LionSendID]
			 ,	cu.[ClubID]
			 ,	[IsLoyalty] =	CASE
									WHEN cu.[AccountType] = 'Premier' THEN 1
									ELSE 0
							   END
			,	ls.[TypeID]
			,	ls.[ItemID]
			,	ls.[ItemRank]
			,	[StartDate] = NULL
			,	[EndDate] = NULL
			,	ls.[CompositeID]
		FROM [Email].[NominatedLionSendComponent_RedemptionOffers] ls
		INNER JOIN [Derived].[Customer] cu
			ON ls.[CompositeID] = cu.[CompositeID]
		WHERE cu.[MarketableByEmail] = 1
			   
		CREATE NONCLUSTERED COLUMNSTORE INDEX [CSI_All] ON #CustomerSampleInput ([LionSendID], [ClubID], [IsLoyalty], [TypeID], [ItemID], [ItemRank], [StartDate], [EndDate], [CompositeID])

	/*******************************************************************************************************************************************
		2. Fetch offer details
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #LionSend_Offers
		SELECT	lso.[ItemID]
			,	lso.[TypeID]
		INTO #LionSend_Offers
		FROM [Email].[Newsletter_Offers] lso
		GROUP BY	lso.[ItemID]
				,	lso.[TypeID]

		DROP TABLE IF EXISTS #OfferCombinations
		SELECT	csi.[LionSendID]
			,	csi.[ClubID]
			,	csi.[IsLoyalty]
			,	csi.[TypeID]
			,	csi.[ItemID]
			,	[Customers] = COUNT(*)
		INTO #OfferCombinations
		FROM #CustomerSampleInput csi
		GROUP BY	csi.[LionSendID]
				,	csi.[ClubID]
				,	csi.[IsLoyalty]
				,	csi.[TypeID]
				,	csi.[ItemID]

		DROP TABLE IF EXISTS #OfferDetails
		SELECT	DISTINCT
				oc.[TypeID]
			,	oc.[ItemID]
			,	oc.[Customers]
			,	[NewOffer] =	CASE
									WHEN EXISTS (SELECT 1 FROM #LionSend_Offers lso WHERE oc.[ItemID] = lso.[ItemID] AND oc.[TypeID] = lso.[TypeID]) THEN 0
									ELSE 1
								END
			,	[Sample] = 0
		INTO #OfferDetails
		FROM #OfferCombinations oc

	/*******************************************************************************************************************************************
		3. Select at least one customer per club / loyalty covering all offers
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			3.1. Create table for sample insert
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #Sample
			CREATE TABLE #Sample (	[LionSendID] INT
								,	[ClubID] INT
								,	[IsLoyalty] BIT
								,	[CompositeID] BIGINT
								,	[TypeID] INT
								,	[ItemRank] INT
								,	[ItemID] INT
								,	[StartDate] DATETIME
								,	[EndDate] DATETIME
								,	[Date] DATETIME)

		/***********************************************************************************************************************
			3.2. Loop through #Offers to select offer with the lowest count of customers per club / loyalty where Sample = 0,
				 select one customer that is assigned that offer and add their entires to the sample table.
				 At the end of each loop update #Offers to set Sample = 1 for all new offers inserted.
		***********************************************************************************************************************/
		
			DECLARE @CompositeID BIGINT

			WHILE (SELECT ISNULL(COUNT(*), 0) FROM #OfferDetails WHERE [Sample] = 0) > 0
				BEGIN

					DROP TABLE IF EXISTS #NotInSample
					SELECT	[TypeID]
						,	[ItemID]
						,	[NewOffer]
						,	[Customers]
					INTO #NotInSample
					FROM #OfferDetails
					WHERE [Sample] = 0

					CREATE CLUSTERED INDEX CSX_All ON #NotInSample ([TypeID], [ItemID], [NewOffer])

					IF (SELECT ISNULL(COUNT(*), 0) FROM #OfferDetails WHERE [Sample] = 1) = 0
						BEGIN
							
							SELECT	TOP (1)
									@CompositeID = [CompositeID]
							FROM #CustomerSampleInput ovs
							INNER JOIN #NotInSample nis
								ON ovs.[TypeID] = nis.[TypeID]
								AND ovs.[ItemID] = nis.[ItemID]
							WHERE ovs.[ClubID] = 138
							AND ovs.[IsLoyalty] = 1
							GROUP BY [CompositeID]
							ORDER BY SUM([NewOffer]) DESC, COUNT(1) DESC

						END

					ELSE
						BEGIN
							
							SELECT	TOP (1)
									@CompositeID = [CompositeID]
							FROM #CustomerSampleInput ovs
							INNER JOIN #NotInSample nis
								ON ovs.[TypeID] = nis.[TypeID]
								AND ovs.[ItemID] = nis.[ItemID]
							GROUP BY [CompositeID]
							ORDER BY SUM([NewOffer]) DESC, COUNT(1) DESC

						END
			
					DROP TABLE IF EXISTS #NewSampleCustomer
					SELECT	[LionSendID]
						,	[ClubID]
						,	[IsLoyalty]
						,	[CompositeID]
						,	[TypeID]
						,	[ItemID]
						,	[ItemRank]
						,	[StartDate]
						,	[EndDate]
					INTO #NewSampleCustomer
					FROM #CustomerSampleInput ovs
					WHERE [CompositeID] = @CompositeID

					INSERT INTO #Sample
					SELECT	[LionSendID]
						,	[ClubID]
						,	[IsLoyalty]
						,	[CompositeID]
						,	[TypeID]
						,	[ItemRank]
						,	[ItemID]
						,	[StartDate]
						,	[EndDate]
						,	[Date] = GETDATE()
					FROM #NewSampleCustomer

					UPDATE od
					SET [Sample] = 1
					FROM #OfferDetails od
					INNER JOIN #NewSampleCustomer nsc
						ON od.[TypeID] = nsc.[TypeID]
						AND od.[ItemID] = nsc.[ItemID]
						AND od.[Sample] = 0

				END

	/*******************************************************************************************************************************************
		4. Fetch new data to insert
	*******************************************************************************************************************************************/
		
		DECLARE @LionSendID INT

		SELECT @LionSendID = MIN([LionSendID]) - 1
		FROM #CustomerSampleInput

		DROP TABLE IF EXISTS #NominatedLionSendComponent_Sample
		SELECT	DISTINCT
				[LionSendID] = @LionSendID
			,	s.[CompositeID]
			,	s.[TypeID]
			,	s.[ItemRank]
			,	s.[ItemID]
			,	s.[StartDate]
			,	s.[EndDate]
			,	s.[Date]
		INTO #NominatedLionSendComponent_Sample
		FROM #Sample s
		WHERE s.[TypeID] = 1
		
		DROP TABLE IF EXISTS #NominatedLionSendComponent_RedemptionOffers_Sample
		SELECT	DISTINCT
				[LionSendID] = @LionSendID
			,	s.[CompositeID]
			,	s.[TypeID]
			,	s.[ItemRank]
			,	s.[ItemID]
			,	s.[Date]
		INTO #NominatedLionSendComponent_RedemptionOffers_Sample
		FROM #Sample s
		WHERE s.[TypeID] = 3		

	/*******************************************************************************************************************************************
		5. Remove existing Sample data if required
	*******************************************************************************************************************************************/

		DELETE ls
		FROM [Email].[NominatedLionSendComponent] ls
		WHERE ls.[LionSendID] = @LionSendID

		DELETE ls
		FROM [Email].[NominatedLionSendComponent_RedemptionOffers] ls
		WHERE ls.[LionSendID] = @LionSendID		

	/*******************************************************************************************************************************************
		6. Insert data to NominatedLionSendComponent & NominatedLionSendComponent_RedemptionOffers
	*******************************************************************************************************************************************/

		INSERT INTO [Email].[NominatedLionSendComponent]
		SELECT	s.[LionSendID]
			,	s.[CompositeID]
			,	s.[TypeID]
			,	s.[ItemRank]
			,	s.[ItemID]
			,	s.[StartDate]
			,	s.[EndDate]
			,	s.[Date]
		FROM #NominatedLionSendComponent_Sample s

		INSERT INTO [Email].[NominatedLionSendComponent_RedemptionOffers]
		SELECT	s.[LionSendID]
			,	s.[CompositeID]
			,	s.[TypeID]
			,	s.[ItemRank]
			,	s.[ItemID]
			,	s.[Date]
		FROM #NominatedLionSendComponent_RedemptionOffers_Sample s

END


GO
