USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[NewsletterBuild_ReprocessForInvalidOffers]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Matty Laverty
-- Create date: 27/03/2024
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [Email].[NewsletterBuild_ReprocessForInvalidOffers]

AS
BEGIN

	SET NOCOUNT ON
	SET ANSI_WARNINGS OFF
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

/*******************************************************************************************************************************************
    0. Pick cusotmers that need rerunning
*******************************************************************************************************************************************/
				
	DROP TABLE IF EXISTS #CustomersNoLongerOnOffer
	SELECT	ls.[LionSendID]
		,	ls.[CompositeID]
		,	ls.[ItemRank]
		,	ls.[ItemID]
		,	ls.[StartDate]
		,	ls.[EndDate]
		,	ls.[Date]
	INTO #CustomersNoLongerOnOffer
	FROM [Email].[NominatedLionSendComponent] ls
	WHERE NOT EXISTS (	SELECT 1
						FROM [Segmentation].[OfferMemberAddition] oma
						WHERE ls.[ItemID] = oma.[IronOfferID]
						AND ls.[CompositeID] = oma.[CompositeID])

	CREATE CLUSTERED INDEX [CIX_CompOffer] ON #CustomersNoLongerOnOffer ([CompositeID], [ItemID])
						
	DROP TABLE IF EXISTS #OffersEndedEarly
	SELECT	ls.[LionSendID]
		,	ls.[CompositeID]
		,	ls.[ItemRank]
		,	ls.[ItemID]
		,	ls.[StartDate]
		,	ls.[EndDate]
		,	ls.[Date]
	INTO #OffersEndedEarly
	FROM [Email].[NominatedLionSendComponent] ls
	WHERE EXISTS (	SELECT 1
					FROM [Derived].[IronOffer] iof
					WHERE ls.[ItemID] = iof.[IronOfferID]
					AND ls.[EndDate] > iof.[EndDate])

	CREATE CLUSTERED INDEX [CIX_CompOffer] ON #OffersEndedEarly ([CompositeID], [ItemID])
				
	DROP TABLE IF EXISTS #CustomersNoLongerOnOffer_Offers
	SELECT	[ItemID]
		,	[StartDate] = MIN([StartDate])
		,	[EndDate] = MAX([EndDate])
		,	[Customers] = COUNT(*)
	INTO #CustomersNoLongerOnOffer_Offers
	FROM #CustomersNoLongerOnOffer
	GROUP BY	[ItemID]

	CREATE CLUSTERED INDEX [CIX_CompOffer] ON #CustomersNoLongerOnOffer_Offers ([ItemID], [EndDate])
				
	DROP TABLE IF EXISTS #CustomersNoLongerOnOffer_Customers
	SELECT	[CompositeID]
		,	[StartDate] = MIN([StartDate])
		,	[EndDate] = MAX([EndDate])
		,	[Customers] = COUNT(*)
	INTO #CustomersNoLongerOnOffer_Customers
	FROM #CustomersNoLongerOnOffer
	GROUP BY	[CompositeID]

	CREATE CLUSTERED INDEX [CIX_CompOffer] ON #CustomersNoLongerOnOffer_Customers ([CompositeID], [EndDate])

	DECLARE @MinStart DATE = (SELECT MIN([StartDate]) FROM #CustomersNoLongerOnOffer_Offers)

	DROP TABLE IF EXISTS #IronOfferMember
	SELECT *
	INTO #IronOfferMember
	FROM [Warehouse].[Relational].[IronOfferMember] iom
	WHERE EXISTS (	SELECT 1
					FROM #CustomersNoLongerOnOffer_Offers cn
					WHERE iom.[IronOfferID] = cn.[ItemID])
	AND EXISTS (SELECT 1
				FROM #CustomersNoLongerOnOffer_Customers cn
				WHERE iom.[CompositeID] = cn.[CompositeID])
	AND iom.[EndDate] >= @MinStart

	CREATE CLUSTERED INDEX [CIX_CompOffer] ON #IronOfferMember ([CompositeID], [IronOfferID])

	DELETE iom
	FROM #IronOfferMember iom
	INNER JOIN [Derived].[IronOffer] iof
		ON iom.[IronOfferID] = iof.[IronOfferID]
		AND iom.[EndDate] > iof.[EndDate]
		
	DROP TABLE IF EXISTS #CustomersNoLongerOnOffer_ToUse
	SELECT	DISTINCT
			ls.[LionSendID]
		,	ls.[CompositeID]
		,	ls.[ItemRank]
		,	ls.[ItemID]
		,	ls.[StartDate]
		,	ls.[EndDate]
		,	ls.[Date]
	INTO #CustomersNoLongerOnOffer_ToUse
	FROM #CustomersNoLongerOnOffer ls
	WHERE NOT EXISTS (	SELECT 1
						FROM #IronOfferMember oma
						WHERE ls.[ItemID] = oma.[IronOfferID]
						AND ls.[CompositeID] = oma.[CompositeID]
						AND ls.[StartDate] BETWEEN oma.[StartDate] AND oma.[EndDate])

	INSERT INTO #CustomersNoLongerOnOffer_ToUse
	SELECT	DISTINCT
			ls.[LionSendID]
		,	ls.[CompositeID]
		,	ls.[ItemRank]
		,	ls.[ItemID]
		,	ls.[StartDate]
		,	ls.[EndDate]
		,	ls.[Date]
	FROM #OffersEndedEarly ls

	CREATE CLUSTERED INDEX [CIX_CompOffer] ON #CustomersNoLongerOnOffer_ToUse ([CompositeID], [ItemID])
 
    DELETE omu
    FROM [Email].[OfferMembershipsUpdated] omu
    WHERE EXISTS (	SELECT 1
                    FROM #CustomersNoLongerOnOffer_ToUse otr
                    WHERE omu.[CompositeID] = otr.[CompositeID]
					AND omu.[IronOfferID] = otr.[ItemID])
		
	DROP TABLE IF EXISTS #CustomersWithDupes
	SELECT	ls.[LionSendID]
		,	ls.[CompositeID]
	INTO #CustomersWithDupes
	FROM [Email].[NominatedLionSendComponent] ls
	INNER JOIN [Derived].[IronOffer] iof
		ON ls.[ItemID] = iof.[IronOfferID]
	GROUP BY	ls.[LionSendID]
			,	ls.[CompositeID]
	HAVING COUNT(DISTINCT iof.[PartnerID]) < 7

	CREATE CLUSTERED INDEX [CIX_CompOffer] ON #CustomersWithDupes ([CompositeID], [LionSendID])

	DROP TABLE IF EXISTS #CustomersToRerun
	SELECT	[CompositeID]
		,	[LionSendID] = MAX([LionSendID])
	INTO #CustomersToRerun
	FROM #CustomersNoLongerOnOffer_ToUse
	GROUP BY [CompositeID]

	CREATE CLUSTERED INDEX [CIX_Comp] ON #CustomersToRerun ([CompositeID])

	INSERT INTO #CustomersToRerun
	SELECT	[CompositeID]
		,	[LionSendID] = MAX([LionSendID])
	FROM #CustomersWithDupes cn
	WHERE NOT EXISTS (	SELECT 1
						FROM #CustomersToRerun ctr
						WHERE cn.[CompositeID] = ctr.[CompositeID])
	GROUP BY [CompositeID]
	
	DROP TABLE IF EXISTS #PreviousOffers
	SELECT	DISTINCT
			[IronOfferID] = [ItemID]
	INTO #PreviousOffers
	FROM [Email].[NominatedLionSendComponent] ls
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[IronOffer] iof
						WHERE ls.[ItemID] = iof.[IronOfferID]
						AND iof.[EndDate] < GETDATE())

	CREATE CLUSTERED INDEX [CIX_IronOFferID] ON #PreviousOffers ([IronOfferID])

/*******************************************************************************************************************************************
	1.	Setting all necessary force in's and testing details
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		1.1.	Earn Offers
	***********************************************************************************************************************/

		/*******************************************************************************
			1.1.1. Fecth the customers that have multiple offers per partner
		*******************************************************************************/
		
		--	DECLARE @Date DATE = (SELECT MAX([EmailSendDate]) FROM [Report].[NewsletterVolumes])

			DECLARE @AddedDate DATETIME = (SELECT DATEADD(SECOND, -60, MAX([AddedDate])) FROM [Email].[Newsletter_ForceIns])
				,	@Date DATE = (SELECT MAX([EmailSendDate]) FROM [Report].[NewsletterVolumes])
		
			DROP TABLE IF EXISTS #PrioritisedEarnOffers
			SELECT	DISTINCT
					[ParameterForExecution] = CONVERT(VARCHAR(50), NULL)
				,	[OfferSlot] =	CASE
										WHEN [OfferSlot] = 'HERO' THEN 1
										ELSE [OfferSlot] + 1
									END
				,	[SendToAll]
				,	[PartnerID]
				,	[PartnerName]
				,	[EmailDate]
				,	[AddedDate]
			INTO #PrioritisedEarnOffers
			FROM [Email].[Newsletter_ForceIns] fi
			WHERE [PartnerName] != 'null'
		--	AND [EmailDate] = '2024-05-16'
			AND [EmailDate] = @Date
			AND [AddedDate] >= @AddedDate
			
			UPDATE #PrioritisedEarnOffers
			SET [ParameterForExecution] = CONCAT([PartnerID], ', ') + CONCAT([OfferSlot], ', ') + CONCAT([SendToAll], '')

		/*******************************************************************************
			1.2.1.	Translate parameter into output table for use in build
		*******************************************************************************/

			DECLARE @PrioritisedPartner_IronOffer VARCHAR(500)
		
			SELECT	@PrioritisedPartner_IronOffer = STUFF(	(	SELECT '; ' + [ParameterForExecution]
																FROM #PrioritisedEarnOffers peo1 
																WHERE peo1.[EmailDate] = peo2.[EmailDate]
																FOR XML PATH (''))
														, 1, 1, '' )
			FROM #PrioritisedEarnOffers peo2
			GROUP BY	peo2.[EmailDate]

			DROP TABLE IF EXISTS #PartnerPrioritisation;
			WITH
			PartnerSplit AS (SELECT	[ItemNumber1] = pa.[ItemNumber]
				 				,	[ItemNumber2] = pa2.[ItemNumber]
				 				,	[Item] = pa2.[Item]
							 FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@PrioritisedPartner_IronOffer, ';') pa
							 CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (pa.[Item], ',') pa2)

			SELECT	[RowNo] = ROW_NUMBER() OVER (ORDER BY ps2.[Item])
				,	[PartnerID] = CONVERT(INT, REPLACE(REPLACE(REPLACE(REPLACE(ps1.[Item], ' ', ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''))
				,	[OfferSlot] = CONVERT(INT, ps2.[Item])
				,	[ToForceIn] = CONVERT(INT, ps3.[Item])
				,	[OfferRankingUpdate] = CONVERT(INT, ps3.[Item] * 999)
			INTO #PartnerPrioritisation
			FROM PartnerSplit ps1
			INNER JOIN PartnerSplit ps2
				ON ps1.[ItemNumber1] = ps2.[ItemNumber1]
				AND ps1.[ItemNumber2] != ps2.[ItemNumber2]
				AND ps2.[ItemNumber2] = 2
			INNER JOIN PartnerSplit ps3
				ON ps1.[ItemNumber1] = ps3.[ItemNumber1]
				AND ps1.[ItemNumber2] != ps3.[ItemNumber2]
				AND ps3.[ItemNumber2] = 3
			WHERE REPLACE(REPLACE(REPLACE(REPLACE(ps1.[Item], ' ', ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), '') > 0

			SET @RowsAffected = @@ROWCOUNT;

			CREATE CLUSTERED INDEX [CIX_PartnerID] ON #PartnerPrioritisation ([PartnerID])
			CREATE NONCLUSTERED INDEX [IX_PartnerID] ON #PartnerPrioritisation ([PartnerID]) INCLUDE ([OfferRankingUpdate])

			SET @msg = 'Prepared Earn Offer force ins [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		1.2.	Burn Offers
	***********************************************************************************************************************/

		/*
		
		SELECT	ro.[RedemptionPartnerGUID]
			,	rp.[PartnerType]
			,	rp.[PartnerName]
			,	ro.[RedemptionOfferGUID]
			,	ro.[TradeUp_CashbackRequired]
			,	ro.[TradeUp_MarketingPercentage]
		FROM [Derived].[RedemptionOffers] ro
		INNER JOIN [Derived].[RedemptionPartners] rp
			ON ro.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
		WHERE ro.[Status] = 'Live'
		ORDER BY	rp.[PartnerType]
				,	rp.[PartnerName]

		*/

		DECLARE @JokerSlotPartners_CommaSeperated VARCHAR(500) = ''	--	Enter the PartnerID for the required redemption offer retailer here

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Prepared Burn Offer force ins [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	2. Storing all variables to be used throughout script & prepping holding tables
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		2.1.	Load new newsletter IDs
	***********************************************************************************************************************/
		
	--	DECLARE @Date DATE = (SELECT MAX([EmailSendDate]) FROM [Report].[NewsletterVolumes])
	
		DECLARE	@Today DATE = GETDATE()
			,	@DynamicSubjectLine INT

		SELECT @DynamicSubjectLine = COALESCE(COUNT(*), 0)
		FROM [WH_AllPublishers].[Email].[NewsletterTestSchedule]
		WHERE [PublisherID] = 132
		AND [EmailSendDate] = @Date
			
		INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
		SELECT	[Scheme] = 'MyRewards'
			,	[EmailType] = 'Newsletter - Sample'
			,	[EmailSendDate] = @Date
			,	[CreatedAtDate] = GETDATE()
			,	[CreatedBy] = SYSTEM_USER
			,	NULL
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Email].[EmailSend] es
							WHERE [Scheme] = 'MyRewards'
							AND [EmailType] = 'Newsletter - Sample'
							AND [EmailSendDate] = @Date)

		INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
		SELECT	[Scheme] = 'MyRewards'
			,	[EmailType] = 'Newsletter - Full Generic'
			,	[EmailSendDate] = @Date
			,	[CreatedAtDate] = GETDATE()
			,	[CreatedBy] = SYSTEM_USER
			,	NULL
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Email].[EmailSend] es
							WHERE [Scheme] = 'MyRewards'
							AND [EmailType] = 'Newsletter - Full Generic'
							AND [EmailSendDate] = @Date)

		IF @DynamicSubjectLine > 0
			BEGIN

				;WITH
				Tally AS (	SELECT [ID] = ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
							FROM [sys].[tables]),

				TallyTable AS (	SELECT	[ID]
								FROM Tally
								WHERE [ID] <= @DynamicSubjectLine)

				INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
				SELECT	[Scheme] = 'MyRewards'
					,	[EmailType] = 'Newsletter - Full Dynamic'
					,	[EmailSendDate] = @Date
					,	[CreatedAtDate] = GETDATE()
					,	[CreatedBy] = SYSTEM_USER
					,	NULL
				FROM TallyTable
				WHERE NOT EXISTS (	SELECT 1
									FROM [WH_AllPublishers].[Email].[EmailSend] es
									WHERE [Scheme] = 'MyRewards'
									AND [EmailType] = 'Newsletter - Full Dynamic'
									AND [EmailSendDate] = @Date)

			END

	/***********************************************************************************************************************
		2.2.	Storing all variables to be used throughout script
	***********************************************************************************************************************/

		DECLARE	@LionSendID_Sample INT

		SELECT @LionSendID_Sample = MIN([ID])
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [EmailSendDate] = @Date
		AND [Scheme] = 'MyRewards'
		AND [EmailType] = 'Newsletter - Sample'

		DECLARE	@LionSendID_Full_Generic INT

		SELECT @LionSendID_Full_Generic = MIN([ID])
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [EmailSendDate] = @Date
		AND [Scheme] = 'MyRewards'
		AND [EmailType] = 'Newsletter - Full Generic'

		DECLARE	@LionSendID_Full_Dynamic INT

		SELECT @LionSendID_Full_Dynamic = MIN([ID])
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [EmailSendDate] = @Date
		AND [Scheme] = 'MyRewards'
		AND [EmailType] = 'Newsletter - Full Dynamic'

		DECLARE @LastEmailDate DATE = (SELECT MAX([EmailSendDate]) FROM [Report].[NewsletterVolumes] WHERE [EmailSendDate] < @Date)

		DROP TABLE IF EXISTS #HoldVariables
		SELECT	[PrioritisedPartner_IronOffer] = @PrioritisedPartner_IronOffer
			,	[JokerSlotPartners_CommaSeperated] = @JokerSlotPartners_CommaSeperated
			,	[LionSendID_Full] = @LionSendID_Full_Generic
			,	[LionSendID_Sample] = @LionSendID_Sample
			,	[Today] = @Today
			,	[Date] = @Date
		INTO #HoldVariables

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Newsletter IDs generated [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	3. Update OPE Partner Conflict, Desirable & OPE Rollout tables
*******************************************************************************************************************************************/

	--	Not required for rerun

/*******************************************************************************************************************************************
	4. Fetching Marketable email base
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		4.1. Assigning subject Line Testing Customers
	***********************************************************************************************************************/

	--	Not required for rerun

	/***************************************************************************************************
		4.3. Fetch marketable email base
	***************************************************************************************************/
	
		DROP TABLE IF EXISTS #Email_Base
		CREATE TABLE #Email_Base (	[FanID] INT
								,	[CompositeID] BIGINT
								,	[LionSendID] INT
								,	[ClubID] INT
								,	[Private] BIT
								,	[Age] INT
								,	[Gender] VARCHAR(10)
								,	[CameoGroup] VARCHAR(2))

		CREATE UNIQUE CLUSTERED INDEX [CIX_Composite] ON #Email_Base ([CompositeID])

		INSERT INTO #Email_Base
		SELECT	[FanID] = cu.[FanID]
			,	[CompositeID] = cu.[CompositeID]
			,	[LionSendID] = MAX(ctr.[LionSendID])
			,	[ClubID] = cu.[ClubID]
			,	[Private] = CASE WHEN cu.[AccountType] = 'Premier' THEN 1 ELSE 0 END
			,	[Age] = CONVERT(TINYINT, cu.[AgeCurrent])
			,	[Gender] = cu.[Gender]
			,	[CameoGroup] = MAX(CONVERT(VARCHAR(2), LEFT([CAMEO_CODE_GROUP], 2)))
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[Customer_PII] cup
			ON cu.[FanID] = cup.[FanID]
		INNER JOIN #CustomersToRerun ctr
			ON cu.[CompositeID] = ctr.[CompositeID]
		LEFT JOIN [WH_AllPublishers].[Derived].[CAMEO] cam
			ON cup.[PostCode] = cam.[PostCode]
		GROUP BY	cu.[FanID]
				,	cu.[CompositeID]
				,	cu.[ClubID]
				,	CASE WHEN cu.[AccountType] = 'Premier' THEN 1 ELSE 0 END
				,	CONVERT(TINYINT, cu.[AgeCurrent])
				,	cu.[Gender]
		ORDER BY	cu.[CompositeID]

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Marketable customer base fetched and indexed [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		4.4. Fetch Travel email base
	***************************************************************************************************/
	
		DROP TABLE IF EXISTS #TravelCardCustomers
		SELECT	DISTINCT
				cu.[CompositeID]
			,	ca.[CardProductID]
		INTO #TravelCardCustomers
		FROM [Derived].[Cards] ca
		INNER JOIN [Derived].[Customer] cu
			ON ca.[CustomerGUID] = cu.[CustomerGUID]
		WHERE ca.[CardStatusID] = 1
		AND cu.[CurrentlyActive] = 1
		AND ca.[CardProductID] IS NOT NULL
		AND EXISTS (SELECT 1
					FROM [Derived].[Cards] ca2
					WHERE ca2.[CardProductID] IN (5, 6)
					AND ca2.[CardStatusID] = 1
					AND ca.[CustomerGUID] = ca2.[CustomerGUID])
		AND EXISTS (SELECT 1
					FROM #Email_Base eb
					WHERE cu.[CompositeID] = eb.[CompositeID])

		DROP TABLE IF EXISTS #TravelCardCustomers_Product
		SELECT	t2.[CompositeID]
			,	[ProductTypeIDs] = STUFF((SELECT ', ' + CONVERT(NVARCHAR, t1.[CardProductID])
										  FROM #TravelCardCustomers t1 
										  WHERE t1.[CompositeID] = t2.[CompositeID]
										  FOR XML PATH ('')), 1, 1, '' )
			,	[TravelType] = CONVERT(VARCHAR(15), NULL)
		INTO #TravelCardCustomers_Product
        FROM #TravelCardCustomers t2     
        GROUP BY [CompositeID]

		UPDATE #TravelCardCustomers_Product
		SET [TravelType] =	CASE
								WHEN [ProductTypeIDs] LIKE '%1%' THEN 'Reward & Travel'
								WHEN [ProductTypeIDs] LIKE '%2%' THEN 'Reward & Travel'
								WHEN [ProductTypeIDs] LIKE '%3%' THEN 'Reward & Travel'
								WHEN [ProductTypeIDs] LIKE '%4%' THEN 'Reward & Travel'
								ELSE 'Travel Only'
							END

		DROP TABLE IF EXISTS sandbox.MatthewL.Email_Base_Travel
		SELECT * 
		INTO sandbox.MatthewL.Email_Base_Travel
		FROM #TravelCardCustomers_Product

	/***********************************************************************************************************************
		4.5	Create table to store newsletter volumes
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #LionSendCountsChecks
		CREATE TABLE #LionSendCountsChecks ([LionSendID] SMALLINT
										,	[EmailSendDate] DATE
										,	[Brand] INT
										,	[Loyalty] INT
										,	[Customers] INT
										,	[LionSendBuildDate] DATETIME)

		INSERT INTO #LionSendCountsChecks (	[LionSendID]
										,	[EmailSendDate]
										,	[Brand]
										,	[Loyalty]
										,	[LionSendBuildDate])
							   
		SELECT	DISTINCT
				[LionSendID]
			,	[EmailSendDate] = @Date
			,	[Brand] = [ClubID]
			,	[Loyalty] = [Private]
			,	[LionSendBuildDate] = @Today
		FROM #Email_Base

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Create table to store newsletter volumes [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	5. Fetch all offer memberships for marketable customers
*******************************************************************************************************************************************/

	/***************************************************************************************************
		5.1. Fetch list of all offers to be included in the newsletter
	***************************************************************************************************/
	
	--	DECLARE @Date DATE = (SELECT MAX([EmailSendDate]) FROM [Report].[NewsletterVolumes])

		DROP TABLE IF EXISTS #OfferPrioritisation_Temp
		SELECT	[PartnerID]
			,	[IronOfferID]
			,	[Weighting] = MAX([Weighting])
			,	[Base]
			,	[NewOffer]
			,	[EmailDate]
		INTO #OfferPrioritisation_Temp
		FROM [Email].[Newsletter_OfferPrioritisation]
		WHERE [EmailDate] = @Date
		GROUP BY	[PartnerID]
				,	[IronOfferID]
				,	[Base]
				,	[NewOffer]
				,	[EmailDate]

		DROP TABLE IF EXISTS #OfferPrioritisation
		CREATE TABLE #OfferPrioritisation (	[IronOfferID] INT NOT NULL
										,	[PartnerID] INT NOT NULL
										,	[BrandID] INT
										,	[IsPremiumRetailer] BIT
										,	[StartDate] DATE
										,	[EndDate] DATE
										,	[Base] INT
										,	[OfferRank] BIGINT);

		CREATE UNIQUE CLUSTERED INDEX [UCX_IronOfferPartner] ON #OfferPrioritisation ([IronOfferID], [PartnerID]);

		INSERT INTO #OfferPrioritisation
		SELECT	op.[IronOfferID]
			,	op.[PartnerID]
			,	pa.[BrandID]
			,	br.[IsPremiumRetailer]
			,	iof.[StartDate]
			,	iof.[EndDate]
			,	op.[Base]
			,	[OfferRank] = ROW_NUMBER() OVER (ORDER BY op.[PartnerID], op.[IronOfferID])
		FROM #OfferPrioritisation_Temp op
		INNER JOIN (SELECT DISTINCT [PartnerID], [IronOfferID], [StartDate], [EndDate] FROM [Derived].[IronOffer]) iof
			ON op.[IronOfferID] = iof.[IronOfferID]
		LEFT JOIN [Derived].[Partner] pa
			ON iof.[PartnerID] = pa.[PartnerID]
		LEFT JOIN [WH_AllPublishers].[Trans].[Brand] br
			ON pa.[BrandID] = br.[BrandID]
		WHERE EXISTS (	SELECT 1
						FROM #PreviousOffers po
						WHERE op.[IronOfferID] = po.[IronOfferID])
		ORDER BY	op.[IronOfferID]
				,	op.[PartnerID];

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Offer details fetch [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		5.2. Insert the memberships of the existing offers into [Email].[OfferMemberships]
	***************************************************************************************************/
	
	--	Not required for rerun

	/***************************************************************************************************
		5.3. Insert the memberships of the new offers into [Email].[OfferMemberships]
	***************************************************************************************************/
	
	--	Not required for rerun

/*******************************************************************************************************************************************
	6. Fetch all Offer Memberships that don't meet the necessary requirements for the newsletter
*******************************************************************************************************************************************/
	
	--	Not required for rerun

	/***************************************************************************************************
		6.1. Remove base offers from individuals with standard offers on the same partner
	***************************************************************************************************/
	
			/*******************************************************************************
				6.1.1. Fetch all base offers
			*******************************************************************************/
			
			--	Not required for rerun
				
			/*******************************************************************************
				6.1.2. Fetch customers assigned to another offer from the partner of a base offer
			*******************************************************************************/
			
			--	Not required for rerun
						
			/*******************************************************************************
				6.1.3. Fetch the base offer that has been superceded by main offer
			*******************************************************************************/
			
			--	Not required for rerun

	/***************************************************************************************************
		6.2. Find customers assigned multiple offers with the same partner
	***************************************************************************************************/

			/*******************************************************************************
				6.2.1. Fecth the customers that have multiple offers per partner
			*******************************************************************************/
			
			--	Not required for rerun

			/*******************************************************************************
				6.2.2. Remove all customers offers for the partner they were duplicated on
			*******************************************************************************/
			
			--	Not required for rerun

	/***************************************************************************************************
		6.3. Remove all customers from offers that don't meet the given demographic targetting
	***************************************************************************************************/

			/*******************************************************************************
				6.3.1. Create the OPE Desirable list
			*******************************************************************************/
			
			--	Not required for rerun

			/*******************************************************************************
				6.3.2. Fetch memberships not meeting OPE desirable conditions
			*******************************************************************************/
			
			--	Not required for rerun

	/***************************************************************************************************
		6.5. Fetch all customers with less than 7 offer memberships
	***************************************************************************************************/
	
	--	Not required for rerun

	/***************************************************************************************************
		6.6. Fetch the last set of offers each customer received
	***************************************************************************************************/
	
	--	Not required for rerun

/*******************************************************************************************************************************************
	7. Recreate Offer Memberships removing ineligible offers and using updated ranking
*******************************************************************************************************************************************/

	/***************************************************************************************************
		7.1. Fetch the set of eligible offer memberships
	***************************************************************************************************/
	
	--	Not required for rerun

	/***************************************************************************************************
		7.2. Create new ranked list of offer memberships
	***************************************************************************************************/

		DROP TABLE IF EXISTS #OfferMembershipsRanked
		CREATE TABLE #OfferMembershipsRanked (	[PartnerID] INT
											,	[IronOfferID] INT
											,	[CompositeID] BIGINT
											,	[StartDate] DATETIME
											,	[EndDate] DATETIME
											,	[OfferSegment] INT
											,	[OfferRank] INT)
	
		CREATE CLUSTERED INDEX [CIX_OfferCompPartner] ON #OfferMembershipsRanked ([IronOfferID],[CompositeID],[PartnerID])
		CREATE NONCLUSTERED INDEX [IX_PremiumRank_IncPartner] ON #OfferMembershipsRanked ([OfferRank]) INCLUDE ([PartnerID])
	
		INSERT INTO #OfferMembershipsRanked
		SELECT	omu.[PartnerID]
			,	omu.[IronOfferID]
			,	omu.[CompositeID]
			,	omu.[StartDate]
			,	omu.[EndDate]
			,	omu.[OfferSegment]
			,	[OfferRank] = ROW_NUMBER() OVER (PARTITION BY omu.[CompositeID], omu.[OfferSegment] ORDER BY omu.[OfferRank])
		FROM [Email].[OfferMembershipsUpdated] omu
		WHERE EXISTS (	SELECT 1
						FROM #CustomersToRerun eb
						WHERE omu.[CompositeID] = eb.[CompositeID])
		AND EXISTS (	SELECT 1
						FROM #PreviousOffers po
						WHERE omu.[IronOfferID] = po.IronOfferID)
		AND EXISTS (	SELECT 1
						FROM #OfferPrioritisation op
						WHERE omu.[IronOfferID] = op.[IronOfferID])

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Create new ranked list of offer memberships [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg
		
		DELETE omr
		FROM #OfferMembershipsRanked omr
		WHERE [OfferRank] > 14
		AND NOT EXISTS (SELECT 1
						FROM #PartnerPrioritisation pp
						WHERE omr.[PartnerID] = pp.[PartnerID])

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Remove offer memberships that aren''t in the top 14 offer slots [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	8. Run through Partner Conflicts rules
*******************************************************************************************************************************************/

	/***************************************************************************************************
		8.1. Run bespoke dedupe for all 6 IHG Brands
	***************************************************************************************************/

		DROP TABLE IF EXISTS #IHG
		SELECT	[CompositeID]
			,	[PartnerID]
			,	[CustomerOfferRank] = ROW_NUMBER() OVER (PARTITION BY [CompositeID] ORDER BY ABS(CHECKSUM(NEWID())))
		INTO #IHG
		FROM #OfferMembershipsRanked
		WHERE [PartnerID] IN (4751,4752,4753,4726,4727,4728,4911)

		DELETE om
		FROM #OfferMembershipsRanked om
		WHERE EXISTS (SELECT 1
					  FROM #IHG ihg
					  WHERE om.[CompositeID] = ihg.[CompositeID]
					  AND om.[PartnerID] = ihg.[PartnerID]
					  AND ihg.[CustomerOfferRank] > 2)

		SET @RowsAffected = @@ROWCOUNT;

		DROP TABLE IF EXISTS #IHG_Grouped
		SELECT	[CompositeID]
			,	[PartnerID]
			,	[CustomerOfferRank] = ROW_NUMBER() OVER (PARTITION BY [CompositeID] ORDER BY ABS(CHECKSUM(NEWID())))
		INTO #IHG_Grouped
		FROM #OfferMembershipsRanked
		WHERE [PartnerID] IN (5076, 5077, 5075, 5264)

		DELETE om
		FROM #OfferMembershipsRanked om
		WHERE EXISTS (SELECT 1
					  FROM #IHG_Grouped ihg
					  WHERE om.[CompositeID] = ihg.[CompositeID]
					  AND om.[PartnerID] = ihg.[PartnerID]
					  AND ihg.[CustomerOfferRank] > 1)

		SET @RowsAffected = @RowsAffected + @@ROWCOUNT;
		SET @msg = 'Run bespoke dedupe for IHG [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		8.3. Fetch all required Partner Conflict Rules
	***************************************************************************************************/
		
		DROP TABLE IF EXISTS #OPE_PartnerConflict;
		WITH
		OPE_PartnerConflict AS (	SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY [ExecutionOrder])
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
										,	[PartnersPerRule] = COUNT(1) OVER (PARTITION BY [RuleID])
									FROM [Email].[OPE_PartnerConflict] pc
									WHERE [LiveRule] = 1
									AND [RuleID] != 21),	--	IHG

		MultiplePartners AS (		SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[NewRuleID] = RANK() OVER (PARTITION BY [RuleID] ORDER BY NEWID())
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount] = 2
										,	[PartnerToRemove]
										,	[PartnersPerRule]
									FROM OPE_PartnerConflict
									WHERE [RuleTypeID] = 1
									AND [PartnersPerRule] = 3),

		SplitRulesToAdd AS (		SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY mp1.[RuleID], mp2.[NewRuleID]) + (SELECT MAX([RuleID]) FROM OPE_PartnerConflict)
										,	mp1.[ExecutionOrder]
										,	mp1.[RuleTypeID]
										,	mp1.[PartnerID]
										,	mp1.[PercentageOfCustomers]
										,	mp1.[MaxMembershipsCount]
										,	mp1.[RequiredMembershipsCount]
										,	mp1.[PartnerToRemove]
										,	mp1.[PartnersPerRule]
									FROM MultiplePartners mp1
									INNER JOIN MultiplePartners mp2
										ON mp1.[RuleID] = mp2.[RuleID]
										AND mp1.[PartnerID] != mp2.[PartnerID]),

		PartnerConflictRules AS (	SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
									FROM OPE_PartnerConflict
									UNION
									SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
									FROM SplitRulesToAdd)

		SELECT	[RuleID]
			,	[RuleTypeID]
			,	[PartnerID]
			,	[PercentageOfCustomers]
			,	[CustomerNtileMin] = COALESCE(LAG([CustomerNtileMax], 1) OVER (PARTITION BY [RuleID] ORDER BY [CustomerNtileMax]), 0)
			,	[CustomerNtileMax]
			,	[MaxMembershipsCount]
			,	[RequiredMembershipsCount]
			,	[PartnerToRemove]
		INTO #OPE_PartnerConflict
		FROM (	SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY [RuleID])
					,	[RuleTypeID]
					,	[PartnerID]
					,	[PercentageOfCustomers]
					,	[CustomerNtileMax] = SUM([PercentageOfCustomers]) OVER (PARTITION BY [RuleID] ORDER BY [PercentageOfCustomers], [PartnerID])
					,	[MaxMembershipsCount]
					,	[RequiredMembershipsCount]
					,	[PartnerToRemove]
				FROM (	SELECT	DISTINCT
								pc.[PartnerID]
							,	pc.[RuleID]
							,	pc.ExecutionOrder
							,	pc.[RuleTypeID]
							,	pc.[MaxMembershipsCount]
							,	pc.[RequiredMembershipsCount]
							,	pc.[PartnerToRemove]
							,	[PercentageOfCustomers] = [PercentageOfCustomers] / SUM(pc.[PercentageOfCustomers]) OVER (PARTITION BY pc.[RuleID]) * 100
						FROM PartnerConflictRules pc) a) pc

		SET @RowsAffected = @@ROWCOUNT;

		CREATE CLUSTERED INDEX [CIX_PartnerID] ON #OPE_PartnerConflict ([PartnerID])
		
		SET @msg = 'Partner Conflict Rules fetched [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/*******************************************************************************
		8.3. Loop through each of the Conflict Rules removing as required
	*******************************************************************************/

		DECLARE @PCRRuleID INT
			  , @PCRMaxRuleID INT

		SELECT @PCRRuleID = MIN([RuleID])
			 , @PCRMaxRuleID = MAX([RuleID])
		FROM #OPE_PartnerConflict

		WHILE @PCRRuleID <= @PCRMaxRuleID
			BEGIN
						
				DROP TABLE IF EXISTS #CustomersToRemove;
				WITH													
				CustomersPartnerCounts AS (	SELECT	om.[CompositeID]
												,	[RequiredMembershipsCount] = MIN(pc.[RequiredMembershipsCount])
												,	[OffersPerCustomer] = COUNT(DISTINCT om.[PartnerID])
											FROM #OfferMembershipsRanked om
											INNER JOIN #OPE_PartnerConflict pc
	  											ON om.[PartnerID] = pc.[PartnerID]
											WHERE pc.[RuleID] = @PCRRuleID
											GROUP BY om.[CompositeID]),
														   						
				CustomersOnBothPartners AS (SELECT	oc.[CompositeID]
												,	oc.[RandomNumber]
											FROM CustomersPartnerCounts cpc
											INNER JOIN [Email].[OPE_Customer] oc
												ON cpc.[CompositeID] = oc.[CompositeID]
											WHERE [OffersPerCustomer] >= [RequiredMembershipsCount]),		
																					
				CustomerRankings AS (	SELECT	cbp.[CompositeID]
											,	om.[IronOfferID]
											,	om.[PartnerID]
											,	pc.[CustomerNtileMin]
											,	pc.[CustomerNtileMax]
											,	cbp.[RandomNumber]
											,	[CustomerRank] = NTILE(100) OVER (ORDER BY [RandomNumber] DESC)
										FROM CustomersOnBothPartners cbp
										INNER JOIN #OfferMembershipsRanked om
	  										ON om.[CompositeID] = cbp.[CompositeID]
										INNER JOIN #OPE_PartnerConflict pc
	  										ON om.[PartnerID] = pc.[PartnerID]
										WHERE pc.[RuleID] = @PCRRuleID),

				CustomersToRemove AS (	SELECT	[CompositeID]
											,	[IronOfferID]
											,	[PartnerID]
											,	[CustomerNtileMin]
											,	[CustomerNtileMax]
											,	[CustomerRank] = AVG(	CASE
																			WHEN CustomerRank = 100 THEN 99
																			ELSE CustomerRank
																		END * 1.0) OVER (PARTITION BY [CompositeID])
										FROM CustomerRankings)
													  	
				SELECT	[CompositeID]
					,	[IronOfferID]
					,	[PartnerID]
					,	[CustomerNtileMin]
					,	[CustomerNtileMax]
					,	[CustomerRank]
					,	[WithinNTileRange] =	CASE
													WHEN [CustomerNtileMin] < [CustomerRank] * 1.0 AND [CustomerRank] * 1.0 <= [CustomerNtileMax] THEN 1
													ELSE 0
												END
				INTO #CustomersToRemove
				FROM CustomersToRemove
				
				SET @RowsAffected = @@ROWCOUNT;

				CREATE CLUSTERED INDEX [CIX_CompIron] ON #CustomersToRemove ([WithinNTileRange], [CompositeID], [IronOfferID])
				
				SET @msg = 'Rule ' + CONVERT(VARCHAR, @PCRRuleID) + ' of ' +  CONVERT(VARCHAR, @PCRMaxRuleID) + ': Identify which entries to delete [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 1
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 0
						
						SET @RowsAffected = @@ROWCOUNT;

					END

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 2
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 1
						
						SET @RowsAffected = @@ROWCOUNT;

					END

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 3
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 1
						
						SET @RowsAffected = @@ROWCOUNT;

					END
				
				SET @msg = 'Rule ' + CONVERT(VARCHAR, @PCRRuleID) + ' of ' +  CONVERT(VARCHAR, @PCRMaxRuleID) + ': Randomly selected entry deleted [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

				SET @PCRRuleID = (SELECT MIN([RuleID]) FROM #OPE_PartnerConflict WHERE [RuleID] > @PCRRuleID)

			END	-- End While @PCRRuleID <= @PCRMaxRuleID
		
		DROP TABLE IF EXISTS #OPE_PartnerConflict
		DROP TABLE IF EXISTS #CustomersToRemove

/*******************************************************************************************************************************************
	9. Assign Offer Slots
*******************************************************************************************************************************************/

	/***************************************************************************************************
		9.1. Assign Offer Slots for OPE 2
	***************************************************************************************************/

		/***************************************************************************************************
			9.1.1. Assign Force In Retailers
		***************************************************************************************************/

			DROP TABLE IF EXISTS #LionSend
			CREATE TABLE #LionSend ([PartnerID] INT
								,	[IronOfferID] INT
								,	[CompositeID] BIGINT
								,	[StartDate] DATETIME
								,	[EndDate] DATETIME
								,	[OfferRank] INT)

			CREATE CLUSTERED INDEX CIX_CompOfferRank ON #LionSend ([CompositeID], [IronOfferID], [OfferRank]) WITH (FILLFACTOR = 60)

			INSERT INTO #LionSend
			SELECT	[PartnerID]
				,	[IronOfferID]
				,	[CompositeID]
				,	[StartDate]
				,	[EndDate]
				,	[OfferRank]
			FROM #OfferMembershipsRanked omr
			WHERE EXISTS (	SELECT 1
							FROM #PartnerPrioritisation pp
							WHERE omr.[PartnerID] = pp.[PartnerID])
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Assigned Force In Retailers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

			;WITH
			Deleter AS (SELECT	[CompositeID]
							,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY ls.[CompositeID] ORDER BY ls.[OfferRank])
						FROM #LionSend ls)

			DELETE
			FROM Deleter
			WHERE [NewOfferRank] > 7
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Remove exces rows [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***************************************************************************************************
			9.1.2. Assign Top Shopper Offers
		***************************************************************************************************/
			
			;WITH
			ShopperOffers AS (	SELECT	omr.[PartnerID]
									,	omr.[IronOfferID]
									,	omr.[CompositeID]
									,	omr.[StartDate]
									,	omr.[EndDate]
									,	omr.[OfferRank]
									,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY omr.[CompositeID] ORDER BY omr.[OfferRank])
								FROM #OfferMembershipsRanked omr
								WHERE omr.[OfferSegment] = 9
								AND NOT EXISTS (SELECT 1
												FROM #LionSend ls
												WHERE omr.[CompositeID] = ls.[CompositeID]
												AND omr.[IronOfferID] = ls.[IronOfferID])),

			OffersPerCustomer AS (	SELECT	ls.[CompositeID]
										,	[OffersPerCustomer] = COUNT(*)
									FROM #LionSend ls
									GROUP BY [CompositeID])

			INSERT INTO #LionSend
			SELECT	so.[PartnerID]
				 ,	so.[IronOfferID]
				 ,	so.[CompositeID]
				 ,	so.[StartDate]
				 ,	so.[EndDate]
				 ,	so.[OfferRank]
			FROM ShopperOffers so
			LEFT JOIN OffersPerCustomer ctr
				ON so.[CompositeID] = ctr.[CompositeID]
			WHERE [NewOfferRank] <= 2
			AND so.[NewOfferRank] + COALESCE(ctr.[OffersPerCustomer], 0) <= 7
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Assigned Top 2 Shopper Retailers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***************************************************************************************************
			9.1.3. Assign Top Acquire Offers
		***************************************************************************************************/

			;WITH
			AcquireOffers AS (	SELECT	omr.[PartnerID]
									,	omr.[IronOfferID]
									,	omr.[CompositeID]
									,	omr.[StartDate]
									,	omr.[EndDate]
									,	omr.[OfferRank]
									,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY omr.[CompositeID] ORDER BY omr.[OfferSegment], omr.[OfferRank])
								FROM #OfferMembershipsRanked omr
								WHERE NOT EXISTS (	SELECT 1
													FROM #LionSend ls
													WHERE omr.[CompositeID] = ls.[CompositeID]
													AND omr.[IronOfferID] = ls.[IronOfferID])),

			OffersPerCustomer AS (	SELECT	ls.[CompositeID]
										,	[OffersPerCustomer] = COUNT(*)
									FROM #LionSend ls
									GROUP BY [CompositeID])

			INSERT INTO #LionSend
			SELECT	ao.[PartnerID]
				,	ao.[IronOfferID]
				,	ao.[CompositeID]
				,	ao.[StartDate]
				,	ao.[EndDate]
				,	ao.[OfferRank]
			FROM AcquireOffers ao
			LEFT JOIN OffersPerCustomer ctr
				ON ao.[CompositeID] = ctr.[CompositeID]
			WHERE ao.[NewOfferRank] + COALESCE(ctr.[OffersPerCustomer], 0) <= 7
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Assigned Top remaining Retailers, Acquire first then Shopper [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***************************************************************************************************
			9.1.4. Insert ordered list to #NominatedLionSendComponent
		***************************************************************************************************/
	
			DROP TABLE IF EXISTS #NominatedLionSendComponent
			CREATE TABLE #NominatedLionSendComponent (	[LionSendID] INT
													,	[CompositeID] BIGINT
													,	[ItemRank] INT
													,	[ItemID] INT
													,	[StartDate] DATETIME
													,	[EndDate] DATETIME)

			CREATE CLUSTERED INDEX CIX_CompItemRankIronOfferID ON #NominatedLionSendComponent ([CompositeID], [ItemRank], [ItemID]) WITH (FILLFACTOR = 75)

			INSERT INTO #NominatedLionSendComponent
			SELECT	eb.[LionSendID]
				,	eb.[CompositeID]
				,	[ItemRank] = ROW_NUMBER() OVER (PARTITION BY eb.[CompositeID] ORDER BY ls.[OfferRank]) 
				,	[ItemID] = ls.[IronOfferID]
				,	ls.[StartDate]
				,	ls.[EndDate]
			FROM #LionSend ls
			INNER JOIN #Email_Base eb
				ON ls.[CompositeID] = eb.[CompositeID]
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Inserted Customers into #NominatedLionSendComponent [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		9.2. Reorder for force in's
	***************************************************************************************************/

		DECLARE	@ReorderRowNo INT = (SELECT MIN([RowNo]) FROM #PartnerPrioritisation WHERE [OfferSlot] > 0)
			  , @ReorderMaxRowNo INT = (SELECT MAX([RowNo]) FROM #PartnerPrioritisation WHERE [OfferSlot] > 0)

		SET @RowsAffected = 0

		WHILE @ReorderRowNo <= @ReorderMaxRowNo
			BEGIN

				DROP TABLE IF EXISTS #CustomerToReorder
				SELECT	[CompositeID]
					,	pp.[PartnerID]
					,	op.[IronOfferID]
					,	[CurrentItemRank] = ls.[ItemRank]
					,	[TargetOfferSlot] = pp.[OfferSlot]
					,	[DifferenceBetweenSlots] = ls.[ItemRank] - pp.[OfferSlot]
				INTO #CustomerToReorder
				FROM #PartnerPrioritisation pp
				INNER JOIN #OfferPrioritisation op
					ON pp.[PartnerID] = op.[PartnerID]
				INNER JOIN #NominatedLionSendComponent ls
					ON op.[IronOfferID] = ls.[ItemID]
				WHERE pp.[RowNo] = @ReorderRowNo
				AND ls.[ItemRank] != pp.[OfferSlot]

				CREATE CLUSTERED INDEX CIX_Comp ON #CustomerToReorder ([CompositeID])
							
				UPDATE ls
				SET [ItemRank] = CASE
									WHEN ls.[ItemID] = ctr.[IronOfferID] THEN ctr.[TargetOfferSlot]	--	@ItemRank
									WHEN ls.[ItemRank] < ctr.[CurrentItemRank] AND ls.[ItemRank] < ctr.[TargetOfferSlot] THEN [ItemRank]
									WHEN ls.[ItemRank] < ctr.[CurrentItemRank] AND ls.[ItemRank] >= ctr.[TargetOfferSlot] THEN [ItemRank] + 1
									WHEN ls.[ItemRank] > ctr.[CurrentItemRank] AND ls.[ItemRank] <= ctr.[TargetOfferSlot]  THEN [ItemRank] - 1
									WHEN ls.[ItemRank] > ctr.[CurrentItemRank] AND ls.[ItemRank] > ctr.[TargetOfferSlot]  THEN [ItemRank]
								END
				FROM #NominatedLionSendComponent ls
				INNER JOIN #CustomerToReorder ctr
					ON ls.[CompositeID] = ctr.[CompositeID]

				SET @RowsAffected = @RowsAffected + @@ROWCOUNT

				SET @ReorderRowNo = (SELECT MIN([RowNo]) FROM #PartnerPrioritisation WHERE @ReorderRowNo < [RowNo] AND [OfferSlot] > 0)

			END
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Reorder for force in [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		9.3. Travel Partner Logic - Find out how many Travel Partner Offers are assigned to the Travel Customer Email Base
	***************************************************************************************************/

	    DROP TABLE IF EXISTS #TravelPartnerSummary
	    SELECT	nlsc.[CompositeID]
			,	[ItemRank]
	    	,	[ItemID]
	    	,	[IronOfferName]
	    	,	o.[PartnerID]
	    	,	ebt.TravelType
			,	[TravelPartnerToDisplay] =	CASE
												WHEN TravelType = 'Travel Only' THEN 3
												WHEN TravelType = 'Reward & Travel' THEN 2
											END
			,	[TravelPartnerID] = tp.[PartnerID]
			,	[PartnerName] = tp.[RegisteredName]
			,	[TravelPartnerCount] =	CASE
											WHEN tp.[PartnerID] IS NULL THEN 0 
	    									ELSE 1 
										END
	    INTO #TravelPartnerSummary
	    FROM #NominatedLionSendComponent nlsc
		INNER JOIN (SELECT DISTINCT [IronOfferID], [IronOfferName], [PartnerID] FROM [Derived].[IronOffer]) o
			ON nlsc.[ItemID] = o.[IronOfferID]
	    INNER JOIN #TravelCardCustomers_Product ebt
			ON nlsc.[CompositeID] = ebt.[CompositeID]
	    LEFT JOIN Sandbox.MatthewL.NatWest_TravelPartners tp
			ON o.[PartnerID] = tp.[PartnerID] 
	    ORDER BY	nlsc.[CompositeID]
				,	[ItemRank]

	   /***************************************************************************************************
			9.3.1. Now work out how many Adjustments need to be made
		***************************************************************************************************/

			DROP TABLE IF EXISTS #OPETravelAdjustments
			;WITH
			CTE AS (SELECT	[CompositeID]
						,	[TravelPartnerToDisplay]
						,	[TravelPartnerCount] = SUM([TravelPartnerCount])
					FROM #TravelPartnerSummary
					GROUP BY	[CompositeID]
							,	[TravelPartnerToDisplay]) 
	    
			SELECT	[CompositeID]
				,	[TravelPartnerToDisplay]
				,	[TravelPartnerCount]
				,	[TravelPartnerToAdd] = [TravelPartnerToDisplay] - [TravelPartnerCount]
			INTO #OPETravelAdjustments
			FROM CTE

		/***************************************************************************************************
			9.3.2. Fetch the customers highest ranking travel partners not in their TOP 7
		***************************************************************************************************/

			DROP TABLE IF EXISTS #PrioritisedTravel
			SELECT	omu.[CompositeID]
				,	omu.[OfferRank]
				,	omu.[IronOfferID]
				,	[IronOfferName]
				,	o.[PartnerID]
				,	EBT.[TravelType]
				,	[TravelPartnerID] = tp.[PartnerID]
				,	[TravelPartnerName] = tp.[RegisteredName]
				,	[TravelRank] = ROW_NUMBER() OVER (PARTITION BY omu.[CompositeID] ORDER BY omu.[OfferRank])
				,	ta.[TravelPartnerToAdd]
			INTO #PrioritisedTravel
			FROM [Email].[OfferMembershipsUpdated] omu
			INNER JOIN (SELECT DISTINCT [IronOfferID], [IronOfferName], [PartnerID] FROM [Derived].[IronOffer]) o
				ON omu.[IronOfferID] = o.[IronOfferID]
			INNER JOIN #TravelCardCustomers_Product ebt
				ON omu.[CompositeID] = ebt.[CompositeID]
			LEFT JOIN Sandbox.MatthewL.NatWest_TravelPartners tp
				ON o.[PartnerID] = tp.[PartnerID]
			INNER JOIN #OPETravelAdjustments ta
				ON ta.[CompositeID] = omu.[CompositeID]
			WHERE tp.[RegisteredName] IS NOT NULL
			--IHG not removed in the [Lion].[OfferMembershipsUpdated] table so adding below
			AND NOT EXISTS (SELECT 1 
	    					FROM #IHG_Grouped ihg
	    					WHERE omu.[CompositeID] = ihg.[CompositeID]
	    					and omu.[PartnerID] = ihg.[PartnerID]
	    					and [CustomerOfferRank] <> 1)
			AND NOT EXISTS (SELECT 1
							FROM #NominatedLionSendComponent nlsc
	    					WHERE omu.[CompositeID] = nlsc.[CompositeID]
	    					and omu.[IronOfferID] = nlsc.[ItemID])
			AND EXISTS (SELECT 1
						FROM #OfferPrioritisation op
						WHERE omu.[IronOfferID] = op.[IronOfferID])
			ORDER BY	omu.[CompositeID]
					,	omu.[OfferRank]

	   /***************************************************************************************************
			9.3.3. Out of the current TOP 7 offers - work out what should be replaced in what order 
		***************************************************************************************************/
	
			DROP TABLE IF EXISTS #ToReplace
			SELECT	nlsc.[LionSendID]
				,	nlsc.[CompositeID]
				,	nlsc.[ItemRank]
				,	nlsc.[ItemID]
				,	nlsc.[StartDate]
				,	nlsc.[EndDate]
				,	[NonTravelRank] = ROW_NUMBER() OVER (PARTITION BY [CompositeID] ORDER BY [ItemRank] DESC)
			INTO #ToReplace
			FROM #NominatedLionSendComponent nlsc 
			WHERE NOT EXISTS (	SELECT 1 
	    						FROM [Derived].[IronOffer] o
	    						INNER JOIN Sandbox.MatthewL.NatWest_TravelPartners tp
	    							ON o.[PartnerID] = tp.[PartnerID] 
	    						WHERE nlsc.[ItemID] = o.[IronOfferID])
			AND nlsc.[ItemRank] < 8
	    
			--Only keep the offers you need

			DELETE
			FROM #PrioritisedTravel 
			WHERE [TravelRank] > [TravelPartnerToAdd]
	    
			--Swap the ranking so the correct offers are replaced

			DROP TABLE IF EXISTS #UpdatedRanks
			SELECT	pt.[CompositeID]
				,	pt.[OfferRank]
				,	pt.[IronOfferID]
				,	pt.[IronOfferName]
				,	pt.[PartnerID]
				,	pt.[TravelType]
				,	pt.[TravelPartnerID]
				,	pt.[TravelPartnerName]
				,	pt.[TravelRank]
				,	pt.[TravelPartnerToAdd]
				,	[UpdatedRank] = ROW_NUMBER() OVER (PARTITION BY pt.[CompositeID] ORDER BY pt.[OfferRank] DESC)
			INTO #UpdatedRanks
			FROM #PrioritisedTravel pt

		/***************************************************************************************************
			9.3.4. Travel Partner Logic - Run the Update to add the travel offers into the correct slots
		***************************************************************************************************/
	
			UPDATE nlsc
			SET nlsc.[ItemID] = pt.[IronOfferID]
			,	nlsc.[StartDate] = omu.[StartDate]
			,	nlsc.[EndDate] = omu.[EndDate]
			FROM #ToReplace tr 
			INNER JOIN #UpdatedRanks pt 
				ON tr.[CompositeID] = pt.[CompositeID]
				AND tr.[NonTravelRank] = pt.[UpdatedRank]
				AND pt.[TravelRank] <= [TravelPartnerToAdd]
			INNER JOIN [Email].[OfferMembershipsUpdated] omu
				ON pt.[CompositeID] = omu.[CompositeID]
				AND pt.[IronOfferID] = omu.[IronOfferID]
			INNER JOIN #NominatedLionSendComponent nlsc
				ON tr.[CompositeID] = nlsc.[CompositeID]
				AND tr.[ItemID] = nlsc.[ItemID]

	/***************************************************************************************************
		9.4.	Insert to [Email].[NominatedLionSendComponent]
	***************************************************************************************************/
	
		UPDATE ls
		SET ls.[ItemID] = ls2.[ItemID]
		,	ls.[StartDate] = ls2.[StartDate]
		,	ls.[EndDate] = ls2.[EndDate]
		FROM [Email].[NominatedLionSendComponent] ls
		INNER JOIN #NominatedLionSendComponent ls2
			ON ls.[CompositeID] = ls2.[CompositeID]
			AND ls.[ItemRank] = ls2.[ItemRank]
			AND ls.[LionSendID] = ls2.[LionSendID]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Inserted to [Email].[NominatedLionSendComponent] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		9.6. Remove customers from [Email].[NominatedLionSendComponent] with less than 7 slots
	***************************************************************************************************/

		;WITH
		CustomersToRemove AS (	SELECT	ls.[CompositeID]
									,	ls.[LionSendID]
								FROM [Email].[NominatedLionSendComponent] ls
								GROUP BY	ls.[CompositeID]
										,	ls.[LionSendID]
								HAVING COUNT([ItemID]) != 7)
		
		DELETE ls
		FROM [Email].[NominatedLionSendComponent] ls
		WHERE EXISTS (	SELECT 1
						FROM CustomersToRemove ctr
						WHERE ls.[CompositeID] = ctr.[CompositeID]
						AND ls.[LionSendID] = ctr.[LionSendID])
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customers with less than 7 slots removed from [Email].[NominatedLionSendComponent] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg
		
/*******************************************************************************************************************************************
	10. Execute BOPE logic to assign members their top 5 redemption offers
*******************************************************************************************************************************************/

	--	Not required for rerun

/*******************************************************************************************************************************************
	11. Producing the sample data
*******************************************************************************************************************************************/

	--	Not required for rerun

/*******************************************************************************************************************************************
	12. Checks on counts across the offer memberships
*******************************************************************************************************************************************/

	/***************************************************************************************************
		12.1. Check customers aren't on multiple offers per partner
	***************************************************************************************************/

		;WITH
		MultipleOffersPerPartner AS (	SELECT	[PartnerID]
											,	[CompositeID]
											,	[LionSendID]
										FROM [Email].[NominatedLionSendComponent] ls
										INNER JOIN #OfferPrioritisation op
											ON ls.ItemID = op.[IronOfferID]
										GROUP BY 	[PartnerID]
												,	[CompositeID]
												,	[LionSendID]
										HAVING COUNT(1) > 1),

		MultipleOffersPerPartner_VARCHAR AS (	SELECT	CONVERT(VARCHAR(25), [PartnerID]) AS [PartnerID]
													,	CONVERT(VARCHAR(25), [CompositeID]) AS [CompositeID]
												FROM MultipleOffersPerPartner)
									 

		SELECT	DISTINCT
				[PartnerID] + ' - ' + [CompositeID] AS [Check customers aren't on multiple offers per partner]
		FROM MultipleOffersPerPartner_VARCHAR
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Fetch customers that have multiple offers per retailer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		12.2. Check all cases where demographic filtering should be applied, has been
	***************************************************************************************************/
	
	--	Not required for rerun

	/***************************************************************************************************
		12.3. Spot check of all senior staff newsletter assignments
	***************************************************************************************************/
	
	--	Not required for rerun

	/***************************************************************************************************
		12.4. Check the total counts of all customers, offer memberships
	***************************************************************************************************/
	
	--	Not required for rerun

	/***********************************************************************************************************************
		12.5. Update [WH_AllPublishers].[Email].[EmailSend] table
	***********************************************************************************************************************/

		;WITH
		CustomerCounts AS (	SELECT	ls.[LionSendID]
								,	[Customers] = COUNT(DISTINCT ls.[CompositeID])
							FROM [Email].[NominatedLionSendComponent] ls
							GROUP BY	ls.[LionSendID])
		
		UPDATE es
		SET es.[TotalMembers] = cc.[Customers]
		FROM CustomerCounts cc
		INNER JOIN [WH_AllPublishers].[Email].[EmailSend] es
			ON cc.[LionSendID] = es.[ID]
			AND es.[Scheme] = 'MyRewards'
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customer counts updated into [Email].[EmailSend] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		12.6. Add entry to R_0183_LionSendVolumesCheck table
	***********************************************************************************************************************/

		DELETE
		FROM [Report].[NewsletterVolumes]
		WHERE [EmailSendDate] = @Date

		INSERT INTO [Report].[NewsletterVolumes]
		SELECT	[LionSendID]
			,	[EmailSendDate]
			,	[Brand] = CASE WHEN [Brand] = 132 THEN 'NatWest' ELSE 'RBS' END
			,	[Loyalty] = CASE WHEN [Loyalty] = 0 THEN 'Core' ELSE 'Prime' END
			,	[UsersSelectedForLionSend] = [Customers]
			,	[UsersUploadedSFD] = NULL
			,	[UsersAfterSFDValidation] = NULL
			,	[UsersEmailed] = NULL
		FROM #LionSendCountsChecks
		WHERE [Customers] IS NOT NULL
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customer counts updated into [Report].[NewsletterVolumes] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	13. Update Braze data
*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #EmailSendID_Sample
		SELECT	DISTINCT
				[EmailSendID] = es.[ID]
		INTO #EmailSendID_Sample
		FROM [WH_AllPublishers].[Email].[EmailSend] es
		WHERE es.[EmailType] LIKE '%Sample%'

		CREATE UNIQUE CLUSTERED INDEX [CIX_EmailSendID] ON #EmailSendID_Sample ([EmailSendID])

	/***************************************************************************************************
		13.1. Fetch new data for the customers
	***************************************************************************************************/

		DROP TABLE IF EXISTS #EarnOffers;
		SELECT	cu.[CustomerGUID]
			,	[OfferGUID] = iof.[HydraOfferID]
			,	[ItemRank] = ls.[ItemRank] - 1
			,	ls.[StartDate]
			,	ls.[EndDate]
			,	[EmailSendID] = MAX(ls.[LionSendID])
		INTO #EarnOffers
		FROM #CustomersToRerun ctr
		INNER JOIN [Email].[NominatedLionSendComponent] ls
			ON ctr.[CompositeID] = ls.[CompositeID]
			AND ctr.[LionSendID] = ls.[LionSendID]
		INNER JOIN [Derived].[Customer] cu
			ON ctr.[CompositeID] = cu.[CompositeID]
		INNER JOIN [Derived].[IronOffer] iof
			ON ls.[ItemID] = iof.[IronOfferID]
			AND cu.[ClubID] = iof.[ClubID]
		WHERE NOT EXISTS (	SELECT 1
							FROM #EmailSendID_Sample es
							WHERE ctr.[LionSendID] = es.[EmailSendID])
		GROUP BY	cu.[CustomerGUID]
				,	ls.[ItemRank]
				,	iof.[HydraOfferID]
				,	ls.[StartDate]
				,	ls.[EndDate];

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #EarnOffers ([CustomerGUID])

	/***************************************************************************************************
		13.2. Delete old data for the customers
	***************************************************************************************************/

		DELETE nof
		FROM [WHB].[Braze_CustomerPush_NormalOffers] nof
		WHERE EXISTS (	SELECT 1
						FROM #EarnOffers eo
						WHERE nof.[CustomerGUID] = eo.[CustomerGUID])
		AND nof.[OfferType] = 'Earn'

	/***************************************************************************************************
		13.3. Insert new data for the customers
	***************************************************************************************************/

		INSERT INTO [WHB].[Braze_CustomerPush_NormalOffers] WITH (TABLOCKX) (	[CustomerGUID]
																			,	[OfferType]
																			,	[ItemRank]
																			,	[OfferGUID]
																			,	[StartDate]
																			,	[EndDate]
																			,	[EmailSendID])
		SELECT	eo.[CustomerGUID]
			,	[OfferType] = 'Earn'
			,	eo.[ItemRank]
			,	eo.[OfferGUID]
			,	eo.[StartDate]
			,	eo.[EndDate]
			,	eo.[EmailSendID]
		FROM #EarnOffers eo 
		ORDER BY eo.[CustomerGUID];

	/***************************************************************************************************
		13.4. Mark customers to be uploaded
	***************************************************************************************************/
		
		UPDATE noc
		SET	noc.[InNewsletter] = 1
		,	noc.[ModifiedDate] = GETDATE()
		FROM [WHB].[Braze_CustomerPush_NormalOffers_Customers] noc
		WHERE EXISTS (	SELECT 1
						FROM #EarnOffers eo
						WHERE noc.[CustomerGUID] = eo.[CustomerGUID])
		
END
GO
