USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[NewsletterBuild]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Matty Laverty
-- Create date: 27/03/2024
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [Email].[NewsletterBuild]

AS
BEGIN

	SET NOCOUNT ON
	SET ANSI_WARNINGS OFF
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'
		
	DECLARE @Date DATE

	SELECT @Date = MAX([EmailDate])
	FROM [Selections].[CampaignSetup_POS]
	WHERE [SelectionRun] = 1

/*******************************************************************************************************************************************
	1.	Setting all necessary force in's and testing details
*******************************************************************************************************************************************/
	
		/*
		If a retailer needs to be forced it, then add them into the below parameter with the following format: 
		
		'PartnerID,OfferSlotToBeForcedInto,WhetherThisShouldBeForceInForAllRetailers'

			For a retailer being forced into the hero (slot 1 out of a possible 7) for all eligible customers this would be:

				4888,1,1

			For a retailer being forced into the hero (slot 1 out of a possible 7) for all customers that happened to already have that retailer in their newsltter would be:

				4888,1,0

			For a retailer being forced into any slot of the newsletter, where the customer will definitely get the offer if they're on the offer, but the OPE still detemines it's position it would be:

				4888,0,1

		If there are multiple retailers, the with this format with each 'retailer' seperated with a semi colon:
		
		
			'PartnerID_1,OfferSlotToBeForcedInto_1,WhetherThisShouldBeForceInForAllRetailers_1;
			PartnerID_2,OfferSlotToBeForcedInto_2,WhetherThisShouldBeForceInForAllRetailers_2'

			4866,1,0;
			4781,1,0;
			4843,1,0;

		*/

	/***********************************************************************************************************************
		1.1.	Earn Offers
	***********************************************************************************************************************/

		/*******************************************************************************
			1.1.1. Fecth the customers that have multiple offers per partner
		*******************************************************************************/
		
		--	DECLARE @Date DATE = (SELECT MIN([EmailDate]) FROM [Selections].[CampaignSetup_POS] WHERE GETDATE() < [EmailDate])

			DECLARE @AddedDate DATETIME = (SELECT DATEADD(SECOND, -60, MAX([AddedDate])) FROM [Email].[Newsletter_ForceIns])
		
			DROP TABLE IF EXISTS #PrioritisedEarnOffers
			SELECT	DISTINCT
					[ParameterForExecution] = CONVERT(VARCHAR(50), NULL)
				,	[OfferSlot] =	CASE
										WHEN [OfferSlot] = 'HERO' THEN 1
										ELSE [OfferSlot] + 1
									END
				,	[SendToAll]
				,	[PartnerID]
				,	[PartnerName]
				,	[EmailDate]
				,	[AddedDate]
			INTO #PrioritisedEarnOffers
			FROM [Email].[Newsletter_ForceIns] fi
			WHERE [PartnerName] != 'null'
		--	AND [EmailDate] = '2024-05-16'
			AND [EmailDate] = @Date
			AND [AddedDate] >= @AddedDate
			
			UPDATE #PrioritisedEarnOffers
			SET [ParameterForExecution] = CONCAT([PartnerID], ', ') + CONCAT([OfferSlot], ', ') + CONCAT([SendToAll], '')

		/*******************************************************************************
			1.2.1.	Translate parameter into output table for use in build
		*******************************************************************************/

			DECLARE @PrioritisedPartner_IronOffer VARCHAR(500)
		
			SELECT	@PrioritisedPartner_IronOffer = STUFF(	(	SELECT '; ' + [ParameterForExecution]
																FROM #PrioritisedEarnOffers peo1 
																WHERE peo1.[EmailDate] = peo2.[EmailDate]
																FOR XML PATH (''))
														, 1, 1, '' )
			FROM #PrioritisedEarnOffers peo2
			GROUP BY	peo2.[EmailDate]

			DROP TABLE IF EXISTS #PartnerPrioritisation;
			WITH
			PartnerSplit AS (SELECT	[ItemNumber1] = pa.[ItemNumber]
				 				,	[ItemNumber2] = pa2.[ItemNumber]
				 				,	[Item] = pa2.[Item]
							 FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@PrioritisedPartner_IronOffer, ';') pa
							 CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (pa.[Item], ',') pa2)

			SELECT	[RowNo] = ROW_NUMBER() OVER (ORDER BY ps2.[Item])
				,	[PartnerID] = CONVERT(INT, REPLACE(REPLACE(REPLACE(REPLACE(ps1.[Item], ' ', ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''))
				,	[OfferSlot] = CONVERT(INT, ps2.[Item])
				,	[ToForceIn] = CONVERT(INT, ps3.[Item])
				,	[OfferRankingUpdate] = CONVERT(INT, ps3.[Item] * 999)
			INTO #PartnerPrioritisation
			FROM PartnerSplit ps1
			INNER JOIN PartnerSplit ps2
				ON ps1.[ItemNumber1] = ps2.[ItemNumber1]
				AND ps1.[ItemNumber2] != ps2.[ItemNumber2]
				AND ps2.[ItemNumber2] = 2
			INNER JOIN PartnerSplit ps3
				ON ps1.[ItemNumber1] = ps3.[ItemNumber1]
				AND ps1.[ItemNumber2] != ps3.[ItemNumber2]
				AND ps3.[ItemNumber2] = 3
			WHERE REPLACE(REPLACE(REPLACE(REPLACE(ps1.[Item], ' ', ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), '') > 0

			SET @RowsAffected = @@ROWCOUNT;

			CREATE CLUSTERED INDEX [CIX_PartnerID] ON #PartnerPrioritisation ([PartnerID])
			CREATE NONCLUSTERED INDEX [IX_PartnerID] ON #PartnerPrioritisation ([PartnerID]) INCLUDE ([OfferRankingUpdate])

			SET @msg = 'Prepared Earn Offer force ins [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		1.2.	Burn Offers
	***********************************************************************************************************************/

		/*
		
		SELECT	ro.[RedemptionPartnerGUID]
			,	rp.[PartnerType]
			,	rp.[PartnerName]
			,	ro.[RedemptionOfferGUID]
			,	ro.[TradeUp_CashbackRequired]
			,	ro.[TradeUp_MarketingPercentage]
		FROM [Derived].[RedemptionOffers] ro
		INNER JOIN [Derived].[RedemptionPartners] rp
			ON ro.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
		WHERE ro.[Status] = 'Live'
		ORDER BY	rp.[PartnerType]
				,	rp.[PartnerName]

		*/

		DECLARE @JokerSlotPartners_CommaSeperated VARCHAR(500) = ''	--	Enter the PartnerID for the required redemption offer retailer here

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Prepared Burn Offer force ins [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	2. Storing all variables to be used throughout script & prepping holding tables
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		2.1.	Load new newsletter IDs
	***********************************************************************************************************************/
		
		--	DECLARE @Date DATE = (SELECT MIN([EmailDate]) FROM [Selections].[CampaignSetup_POS] WHERE GETDATE() < [EmailDate])
	
		DECLARE	@Today DATE = GETDATE()
			,	@DynamicSubjectLine INT

		SELECT @DynamicSubjectLine = COALESCE(COUNT(*), 0)
		FROM [WH_AllPublishers].[Email].[NewsletterTestSchedule]
		WHERE [PublisherID] = 132
		AND [EmailSendDate] = @Date

		INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
		SELECT	[Scheme] = 'MyRewards'
			,	[EmailType] = 'Newsletter - Sample'
			,	[EmailSendDate] = @Date
			,	[CreatedAtDate] = GETDATE()
			,	[CreatedBy] = SYSTEM_USER
			,	NULL
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Email].[EmailSend] es
							WHERE [Scheme] = 'MyRewards'
							AND [EmailType] = 'Newsletter - Sample'
							AND [EmailSendDate] = @Date)

		INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
		SELECT	[Scheme] = 'MyRewards'
			,	[EmailType] = 'Newsletter - Full Generic'
			,	[EmailSendDate] = @Date
			,	[CreatedAtDate] = GETDATE()
			,	[CreatedBy] = SYSTEM_USER
			,	NULL
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Email].[EmailSend] es
							WHERE [Scheme] = 'MyRewards'
							AND [EmailType] = 'Newsletter - Full Generic'
							AND [EmailSendDate] = @Date)

		IF @DynamicSubjectLine > 0
			BEGIN

				;WITH
				Tally AS (	SELECT [ID] = ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
							FROM [sys].[tables]),

				TallyTable AS (	SELECT	[ID]
								FROM Tally
								WHERE [ID] <= @DynamicSubjectLine)

				INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
				SELECT	[Scheme] = 'MyRewards'
					,	[EmailType] = 'Newsletter - Full Dynamic'
					,	[EmailSendDate] = @Date
					,	[CreatedAtDate] = GETDATE()
					,	[CreatedBy] = SYSTEM_USER
					,	NULL
				FROM TallyTable
				WHERE NOT EXISTS (	SELECT 1
									FROM [WH_AllPublishers].[Email].[EmailSend] es
									WHERE [Scheme] = 'MyRewards'
									AND [EmailType] = 'Newsletter - Full Dynamic'
									AND [EmailSendDate] = @Date)

			END

	/***********************************************************************************************************************
		2.2.	Storing all variables to be used throughout script
	***********************************************************************************************************************/

		DECLARE	@LionSendID_Sample INT

		SELECT @LionSendID_Sample = MIN([ID])
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [EmailSendDate] = @Date
		AND [Scheme] = 'MyRewards'
		AND [EmailType] = 'Newsletter - Sample'

		DECLARE	@LionSendID_Full_Generic INT

		SELECT @LionSendID_Full_Generic = MIN([ID])
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [EmailSendDate] = @Date
		AND [Scheme] = 'MyRewards'
		AND [EmailType] = 'Newsletter - Full Generic'

		DECLARE	@LionSendID_Full_Dynamic INT

		SELECT @LionSendID_Full_Dynamic = MIN([ID])
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [EmailSendDate] = @Date
		AND [Scheme] = 'MyRewards'
		AND [EmailType] = 'Newsletter - Full Dynamic'

		DECLARE @LastEmailDate DATE = (SELECT MAX([EmailSendDate]) FROM [Report].[NewsletterVolumes] WHERE [EmailSendDate] < GETDATE())

		DROP TABLE IF EXISTS #HoldVariables
		SELECT	[PrioritisedPartner_IronOffer] = @PrioritisedPartner_IronOffer
			,	[JokerSlotPartners_CommaSeperated] = @JokerSlotPartners_CommaSeperated
			,	[LionSendID_Full] = @LionSendID_Full_Generic
			,	[LionSendID_Sample] = @LionSendID_Sample
			,	[Today] = @Today
			,	[Date] = @Date
		INTO #HoldVariables

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Newsletter IDs generated [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	3. Update OPE Partner Conflict, Desirable & OPE Rollout tables
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		3.1. Update Conflicts Table based on Offers
	***********************************************************************************************************************/

		EXEC [Email].[Newsletter_PartnerConflict_Update] @Date

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Partner conflict rules updated [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		3.2. Update Random Numbers assigned to customers
	***********************************************************************************************************************/

		TRUNCATE TABLE [Email].[OPE_Customer]
		INSERT INTO [Email].[OPE_Customer] (	[FanID]
											,	[CompositeID]
											,	[RandomNumber])
		SELECT	[FanID]
			,	[CompositeID]
			,	[RandomNumber] = ABS(CHECKSUM(NEWID()))
		FROM [Derived].[Customer]
		ORDER BY	[CompositeID]

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Random number against customer updated [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	4. Fetching Marketable email base
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		4.1. Assigning subject Line Testing Customers
	***********************************************************************************************************************/
	
		DROP TABLE IF EXISTS #DynamicNewsletterCustomers;
		CREATE TABLE #DynamicNewsletterCustomers (	[FanID] INT NOT NULL PRIMARY KEY
												,	[ClubCashAvailable] DECIMAL(18, 4)
												,	[LionSendID] INT)


		IF @DynamicSubjectLine > 0
			BEGIN

				INSERT INTO #DynamicNewsletterCustomers
				SELECT	cu.[FanID]
					,	cu.[CashbackAvailable]
					,	[LionSendID] = @LionSendID_Full_Dynamic
				FROM [Derived].[Customer] cu
				WHERE cu.[CashbackAvailable] >= 5 

				--INSERT INTO #DynamicNewsletterCustomers
				--select	DISTINCT
				--		cu.[FanID]
				--	,	cu.[CashbackAvailable]
				--	,	[LionSendID] = @LionSendID_Full_Dynamic
				--from Derived.NatWest_CC_MarketPref_TRUE mcc
				--join Derived.Customer cu 
				--on cu.CustomerGUID = mcc.customerid
				--
				--
				--INSERT INTO #DynamicNewsletterCustomers
				--select	DISTINCT
				--		cu.[FanID]
				--	,	cu.[CashbackAvailable]
				--	,	[LionSendID] = @LionSendID_Full_Dynamic
				--from Derived.RBS_CC_MarketPref_TRUE mcc
				--join Derived.Customer cu 
				--on cu.CustomerGUID = mcc.customerid


				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = 'Dynamic subject line customers fetched [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

			END

	/***************************************************************************************************
		4.3. Fetch marketable email base
	***************************************************************************************************/
	
		DROP TABLE IF EXISTS #Email_Base
		CREATE TABLE #Email_Base (	[FanID] INT
								,	[CompositeID] BIGINT
								,	[LionSendID] INT
								,	[ClubID] INT
								,	[Private] BIT
								,	[Age] INT
								,	[Gender] VARCHAR(10)
								,	[CameoGroup] VARCHAR(2))

		CREATE UNIQUE CLUSTERED INDEX [CIX_Composite] ON #Email_Base ([CompositeID])

		INSERT INTO #Email_Base
		SELECT  DISTINCT
		        [FanID] = cu.[FanID]
			,	[CompositeID] = cu.[CompositeID]
			,	[LionSendID] = COALESCE(slt.[LionSendID], @LionSendID_Full_Generic)
			,	[ClubID] = cu.[ClubID]
			,	[Private] = CASE WHEN cu.[AccountType] = 'Premier' THEN 1 ELSE 0 END
			,	[Age] = CONVERT(TINYINT, cu.[AgeCurrent])
			,	[Gender] = cu.[Gender]
			,	[CameoGroup] = MAX(CONVERT(VARCHAR(2), LEFT([CAMEO_CODE_GROUP], 2)))
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[Customer_PII] cup
			ON cu.[FanID] = cup.[FanID]
		LEFT JOIN #DynamicNewsletterCustomers slt
			ON cu.[FanID] = slt.[FanID]
		LEFT JOIN [WH_AllPublishers].[Derived].[CAMEO] cam
			ON cup.[PostCode] = cam.[PostCode]
		WHERE cu.[MarketableByEmail] = 1
		AND cu.[CurrentlyActive] = 1
		AND LEN(cup.[PostCode]) >= 3
		AND EXISTS (SELECT 1
					FROM [Derived].[Cards] ca
					WHERE cu.[CustomerGUID] = ca.[CustomerGUID]
					AND ca.[EndDate] IS NULL)
		AND NOT EXISTS (SELECT 1
						FROM [Email].[CustomerFallowGroup] fg
						WHERE cu.[FanID] = fg.[FanID])
		AND NOT EXISTS (SELECT 1
						FROM [SLC_REPL].[dbo].[Fan] fa
						WHERE cu.[FanID] = fa.[ID]
						AND fa.[OfflineOnly] = 1)
		GROUP BY	cu.[FanID]
				,	cu.[CompositeID]
				,	COALESCE(slt.[LionSendID], @LionSendID_Full_Generic)
				,	cu.[ClubID]
				,	CASE WHEN cu.[AccountType] = 'Premier' THEN 1 ELSE 0 END
				,	CONVERT(TINYINT, cu.[AgeCurrent])
				,	cu.[Gender]
		ORDER BY	cu.[CompositeID]

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Marketable customer base fetched and indexed [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		4.4. Fetch Travel email base
	***************************************************************************************************/
	
		DROP TABLE IF EXISTS #TravelCardCustomers
		SELECT	DISTINCT
				cu.[CompositeID]
			,	ca.[CardProductID]
		INTO #TravelCardCustomers
		FROM [Derived].[Cards] ca
		INNER JOIN [Derived].[Customer] cu
			ON ca.[CustomerGUID] = cu.[CustomerGUID]
		WHERE ca.[CardStatusID] = 1
		AND cu.[CurrentlyActive] = 1
		AND ca.[CardProductID] IS NOT NULL
		AND EXISTS (SELECT 1
					FROM [Derived].[Cards] ca2
					WHERE ca2.[CardProductID] IN (5, 6)
					AND ca2.[CardStatusID] = 1
					AND ca.[CustomerGUID] = ca2.[CustomerGUID])

		DROP TABLE IF EXISTS #TravelCardCustomers_Product
		SELECT	t2.[CompositeID]
			,	[ProductTypeIDs] = STUFF((SELECT ', ' + CONVERT(NVARCHAR, t1.[CardProductID])
										  FROM #TravelCardCustomers t1 
										  WHERE t1.[CompositeID] = t2.[CompositeID]
										  FOR XML PATH ('')), 1, 1, '' )
			,	[TravelType] = CONVERT(VARCHAR(15), NULL)
		INTO #TravelCardCustomers_Product
        FROM #TravelCardCustomers t2     
        GROUP BY [CompositeID]

		UPDATE #TravelCardCustomers_Product
		SET [TravelType] =	CASE
								WHEN [ProductTypeIDs] LIKE '%1%' THEN 'Reward & Travel'
								WHEN [ProductTypeIDs] LIKE '%2%' THEN 'Reward & Travel'
								WHEN [ProductTypeIDs] LIKE '%3%' THEN 'Reward & Travel'
								WHEN [ProductTypeIDs] LIKE '%4%' THEN 'Reward & Travel'
								ELSE 'Travel Only'
							END

		DROP TABLE IF EXISTS sandbox.MatthewL.Email_Base_Travel
		SELECT * 
		INTO sandbox.MatthewL.Email_Base_Travel
		FROM #TravelCardCustomers_Product

	/***********************************************************************************************************************
		4.5	Create table to store newsletter volumes
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #LionSendCountsChecks
		CREATE TABLE #LionSendCountsChecks ([LionSendID] SMALLINT
										,	[EmailSendDate] DATE
										,	[Brand] INT
										,	[Loyalty] INT
										,	[Customers] INT
										,	[LionSendBuildDate] DATETIME)

		INSERT INTO #LionSendCountsChecks (	[LionSendID]
										,	[EmailSendDate]
										,	[Brand]
										,	[Loyalty]
										,	[LionSendBuildDate])
							   
		SELECT	DISTINCT
				[LionSendID]
			,	[EmailSendDate] = @Date
			,	[Brand] = [ClubID]
			,	[Loyalty] = [Private]
			,	[LionSendBuildDate] = @Today
		FROM #Email_Base

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Create table to store newsletter volumes [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	5. Fetch all offer memberships for marketable customers
*******************************************************************************************************************************************/

	/***************************************************************************************************
		5.1. Fetch list of all offers to be included in the newsletter
	***************************************************************************************************/
	
	--	DECLARE @Date DATE = (SELECT MIN([EmailDate]) FROM [Selections].[CampaignSetup_POS] WHERE GETDATE() < [EmailDate])

		DROP TABLE IF EXISTS #OfferPrioritisation_Temp
		SELECT	[PartnerID]
			,	[IronOfferID]
			,	[Weighting] = MAX([Weighting])
			,	[Base]
			,	[NewOffer]
			,	[EmailDate]
		INTO #OfferPrioritisation_Temp
		FROM [Email].[Newsletter_OfferPrioritisation]
		WHERE [EmailDate] = @Date
		GROUP BY	[PartnerID]
				,	[IronOfferID]
				,	[Base]
				,	[NewOffer]
				,	[EmailDate]

		DROP TABLE IF EXISTS #OfferPrioritisation
		CREATE TABLE #OfferPrioritisation (	[IronOfferID] INT NOT NULL
										,	[PartnerID] INT NOT NULL
										,	[BrandID] INT
										,	[IsPremiumRetailer] BIT
										,	[StartDate] DATE
										,	[EndDate] DATE
										,	[Base] INT
										,	[OfferRank] BIGINT);

		CREATE UNIQUE CLUSTERED INDEX [UCX_IronOfferPartner] ON #OfferPrioritisation ([IronOfferID], [PartnerID]);

		INSERT INTO #OfferPrioritisation
		SELECT	op.[IronOfferID]
			,	op.[PartnerID]
			,	pa.[BrandID]
			,	br.[IsPremiumRetailer]
			,	iof.[StartDate]
			,	iof.[EndDate]
			,	op.[Base]
			,	[OfferRank] = ROW_NUMBER() OVER (ORDER BY op.[PartnerID], op.[IronOfferID])
		FROM #OfferPrioritisation_Temp op
		INNER JOIN (SELECT DISTINCT [PartnerID], [IronOfferID], [StartDate], [EndDate] FROM [Derived].[IronOffer]) iof
			ON op.[IronOfferID] = iof.[IronOfferID]
		LEFT JOIN [Derived].[Partner] pa
			ON iof.[PartnerID] = pa.[PartnerID]
		LEFT JOIN [WH_AllPublishers].[Trans].[Brand] br
			ON pa.[BrandID] = br.[BrandID]
		ORDER BY	op.[IronOfferID]
				,	op.[PartnerID];

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Offer details fetch [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		5.2. Insert the memberships of the existing offers into [Email].[OfferMemberships]
	***************************************************************************************************/

		TRUNCATE TABLE [Email].[IronOfferMember]

		INSERT INTO [Email].[IronOfferMember] WITH (TABLOCK)
		SELECT	iom.[IronOfferID]
			,	iom.[CompositeID]
			,	iom.[StartDate]
			,	iom.[EndDate]
			,	op.[PartnerID]
		FROM #OfferPrioritisation op
		INNER JOIN [Derived].[IronOfferMember] iom 
			ON op.[IronOfferID] = iom.[IronOfferID]
		INNER JOIN #Email_Base eb
			ON eb.[CompositeID] = iom.[CompositeID]
		WHERE iom.[StartDate] < CAST(@Date AS DATETIME)
		AND iom.[EndDate] > CAST(@Date AS DATETIME)
		ORDER BY	iom.[IronOfferID]
				,	iom.[CompositeID];

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Entries pulled from [Email].[IronOfferMember] - EndDate [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		INSERT INTO [Email].[IronOfferMember] WITH (TABLOCK)
		SELECT	iom.[IronOfferID]
			,	iom.[CompositeID]
			,	iom.[StartDate]
			,	iom.[EndDate]
			,	op.[PartnerID]
		FROM #OfferPrioritisation op
		INNER JOIN [Derived].[IronOfferMember] iom 
			ON op.[IronOfferID] = iom.[IronOfferID]
		INNER JOIN #Email_Base eb
			ON eb.[CompositeID] = iom.[CompositeID]
		WHERE iom.[StartDate] < CAST(@Date AS DATETIME)
		AND iom.[EndDate] IS NULL
		ORDER BY	iom.[IronOfferID]
				,	iom.[CompositeID];

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Entries pulled from [Email].[IronOfferMember] - NULL EndDate [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		DROP TABLE IF EXISTS #OPE_CustomerRanking;
		CREATE TABLE #OPE_CustomerRanking (	[PartnerID] INT
											,	[CompositeID] BIGINT
											,	[OfferRank] INT
											,	[Segment] INT);

		CREATE UNIQUE CLUSTERED INDEX [UCX_PartnerComp] ON #OPE_CustomerRanking ([PartnerID], [CompositeID]);

		INSERT INTO #OPE_CustomerRanking (	[PartnerID]
										,	[CompositeID]
										,	[OfferRank]
										,	[Segment])
		SELECT	[PartnerID] = cr.[PartnerID]
			,	[CompositeID] = cr.[CompositeID]
			,	[OfferRank] = MIN(ISNULL(cr.[CustomerRanking], 999) - ISNULL(pp.[OfferRankingUpdate], 0))
			,	[Segment] = MIN(ISNULL(cr.[Segment], 7))
		FROM [Email].[OPE_CustomerRanking] cr
		INNER JOIN #Email_Base eb
			ON eb.[CompositeID] = cr.[CompositeID]
		LEFT JOIN #PartnerPrioritisation pp
			ON pp.[PartnerID] = cr.[PartnerID]
		WHERE EXISTS (	SELECT 1
						FROM #OfferPrioritisation p
						WHERE p.[PartnerID] = cr.[PartnerID])
		GROUP BY	cr.[PartnerID]
				,	cr.[CompositeID]
		ORDER BY	cr.[PartnerID]
				,	cr.[CompositeID]

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customer ranking fetched [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		TRUNCATE TABLE [Email].[OfferMemberships]
		INSERT INTO [Email].[OfferMemberships] WITH (TABLOCK) (	[PartnerID]
															,	[IronOfferID]
															,	[CompositeID]
															,	[StartDate]
															,	[EndDate]
															,	[OfferRank]
															,	[OfferSegment])
		SELECT	iom.[PartnerID]
			,	iom.[IronOfferID]
			,	iom.[CompositeID]
			,	iom.[StartDate]
			,	iom.[EndDate]
			,	[OfferRank] = ISNULL(cr.[OfferRank], 999)
			,	[OfferSegment] = ISNULL(cr.[Segment], 7)
		FROM [Email].[IronOfferMember] iom -- 11,816,364
		LEFT JOIN #OPE_CustomerRanking cr -- ##1
			ON iom.[CompositeID] = cr.[CompositeID]
			AND iom.[PartnerID] = cr.[PartnerID]
		ORDER BY	iom.[IronOfferID]
				,	iom.[CompositeID];

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'IronOfferMember entries Loaded to [Email].[OfferMemberships] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		5.3. Insert the memberships of the new offers into [Email].[OfferMemberships]
	***************************************************************************************************/

		TRUNCATE TABLE [Email].[OfferMemberAddition]

		INSERT INTO [Email].[OfferMemberAddition] WITH (TABLOCK)
		SELECT	oma.[IronOfferID]
			,	oma.[CompositeID]
			,	oma.[StartDate]
			,	oma.[EndDate]
			,	op.[PartnerID]
		FROM [Segmentation].[OfferMemberAddition] oma
		INNER JOIN #OfferPrioritisation op 
			ON op.[IronOfferID] = oma.[IronOfferID]
		INNER JOIN #Email_Base eb 
			ON oma.[CompositeID] = eb.[CompositeID]
		WHERE oma.[StartDate] <= @Date
		AND oma.[EndDate] > @Date
		ORDER BY	oma.[IronOfferID]
				,	oma.[CompositeID];

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Entries pulled from [Email].[OfferMemberAddition] - EndDate [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		INSERT INTO [Email].[OfferMemberAddition] WITH (TABLOCK)
		SELECT	oma.[IronOfferID]
			,	oma.[CompositeID]
			,	oma.[StartDate]
			,	oma.[EndDate]
			,	op.[PartnerID]
		FROM [Segmentation].[OfferMemberAddition] oma
		INNER JOIN #OfferPrioritisation op 
			ON op.[IronOfferID] = oma.[IronOfferID]
		INNER JOIN #Email_Base eb 
			ON oma.[CompositeID] = eb.[CompositeID]
		WHERE oma.[StartDate] <= @Date
		AND oma.[EndDate] IS NULL
		ORDER BY	oma.[IronOfferID]
				,	oma.[CompositeID];

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Entries pulled from [Email].[OfferMemberAddition] - NULL EndDate [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		INSERT INTO [Email].[OfferMemberships] WITH (TABLOCK) (	[PartnerID]
															,	[IronOfferID]
															,	[CompositeID]
															,	[StartDate]
															,	[EndDate]
															,	[OfferRank]
															,	[OfferSegment])
		SELECT	oma.[PartnerID]
			,	oma.[IronOfferID]
			,	oma.[CompositeID]
			,	oma.[StartDate]
			,	oma.[EndDate]
			,	[OfferRank] = ISNULL(cr.[OfferRank], 999)
			,	[OfferSegment] = ISNULL(cr.[Segment], 7)
		FROM [Email].[OfferMemberAddition] oma
		LEFT JOIN #OPE_CustomerRanking cr -- ##2 
			ON oma.[CompositeID] = cr.[CompositeID]
			AND oma.[PartnerID] = cr.[PartnerID]
		WHERE NOT EXISTS (	SELECT 1
							FROM [Email].[OfferMemberships] ofm
							WHERE oma.[CompositeID] = ofm.[CompositeID]
							AND oma.[IronOfferID] = ofm.[IronOfferID])	
		ORDER BY	oma.[IronOfferID]
				,	oma.[CompositeID];

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'OfferMemberAddition entries Loaded to [Email].[OfferMemberships] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg
		
		UPDATE [Email].[OfferMemberships]
		SET [StartDate] = @Date
		,	[EndDate] = DATEADD(SECOND, -1, DATEADD(DAY, 14, CONVERT(DATETIME, @Date)))
		WHERE [IronOfferID] = 26008;

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Booking.com entries assigned EndDate in [Email].[OfferMemberships] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	6. Fetch all Offer Memberships that don't meet the necessary requirements for the newsletter
*******************************************************************************************************************************************/
	
		TRUNCATE TABLE [Email].[OfferMembershipsToRemove]

	/***************************************************************************************************
		6.1. Remove base offers from individuals with standard offers on the same partner
	***************************************************************************************************/
	
			/*******************************************************************************
				6.1.1. Fetch all base offers
			*******************************************************************************/

				DROP TABLE IF EXISTS #BaseOffers
				CREATE TABLE #BaseOffers (	[PartnerID] INT
										,	[IronOfferID] INT);

				CREATE CLUSTERED INDEX [CIX_PartnerOffer] ON #BaseOffers ([PartnerID], [IronOfferID]);
				CREATE NONCLUSTERED INDEX [IX_Offer] ON #BaseOffers ([IronOfferID]);

				INSERT INTO #BaseOffers (	[PartnerID]
										,	[IronOfferID])
				SELECT	[PartnerID]
					,	[IronOfferID]
				FROM #OfferPrioritisation
				WHERE [Base] = 1
				ORDER BY	[PartnerID]				
				
			/*******************************************************************************
				6.1.2. Fetch customers assigned to another offer from the partner of a base offer
			*******************************************************************************/

				DROP TABLE IF EXISTS #OnBaseAndStandard
				CREATE TABLE #OnBaseAndStandard (	[PartnerID] INT
												,	[CompositeID] BIGINT);

				CREATE CLUSTERED INDEX [CIX_PartnerComp] ON #OnBaseAndStandard ([PartnerID], [CompositeID])

				INSERT INTO #OnBaseAndStandard ([PartnerID]
											,	[CompositeID])
				SELECT	[PartnerID]
					,	[CompositeID]
				FROM [Email].[OfferMemberships] om
				WHERE EXISTS (SELECT 1
							  FROM #BaseOffers bo
							  WHERE om.[PartnerID] = bo.[PartnerID])
				GROUP BY	[PartnerID]
						,	[CompositeID]
				HAVING COUNT(*) > 1
				ORDER BY	[PartnerID]
						,	[CompositeID]
						
			/*******************************************************************************
				6.1.3. Fetch the base offer that has been superceded by main offer
			*******************************************************************************/

				INSERT INTO [Email].[OfferMembershipsToRemove]
				SELECT	DISTINCT
						om.[IronOfferID]
					,	om.[CompositeID]
					,	'Base Offer Superceded'
				FROM [Email].[OfferMemberships] om
				WHERE EXISTS (SELECT 1
							  FROM #BaseOffers bo
							  WHERE om.[IronOfferID] = bo.[IronOfferID])
				AND EXISTS (SELECT 1
							FROM #OnBaseAndStandard obas
							WHERE om.[CompositeID] = obas.[CompositeID]
							AND om.[PartnerID] = obas.[PartnerID])
				ORDER BY	[IronOfferID]
						,	[CompositeID]
				OPTION (RECOMPILE);

				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = 'Base offers that has been superceded by standard offer fetched [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

				DROP TABLE IF EXISTS #BaseOffers
				DROP TABLE IF EXISTS #OnBaseAndStandard

	/***************************************************************************************************
		6.2. Find customers assigned multiple offers with the same partner
	***************************************************************************************************/

			/*******************************************************************************
				6.2.1. Fecth the customers that have multiple offers per partner
			*******************************************************************************/

				DROP TABLE IF EXISTS #DuplicatesPerPartner;
				CREATE TABLE #DuplicatesPerPartner ([PartnerID] INT
												,	[CompositeID] BIGINT);

				CREATE CLUSTERED INDEX [CIX_PartnerComp] ON #DuplicatesPerPartner ([PartnerID], [CompositeID])

				INSERT INTO #DuplicatesPerPartner (	[PartnerID]
												,	[CompositeID])
				SELECT	[PartnerID]
					,	[CompositeID]
				FROM [Email].[OfferMemberships] om
				WHERE NOT EXISTS (	SELECT 1
									FROM [Email].[OfferMembershipsToRemove] tr
									WHERE om.[CompositeID] = tr.[CompositeID]
									AND om.[IronOfferID] = tr.[IronOfferID])
				GROUP BY	[PartnerID]
						,	[CompositeID]
				HAVING COUNT(1) > 1
				OPTION (RECOMPILE);

				UPDATE STATISTICS #DuplicatesPerPartner

			/*******************************************************************************
				6.2.2. Remove all customers offers for the partner they were duplicated on
			*******************************************************************************/
			
				INSERT INTO [Email].[OfferMembershipsToRemove]
				SELECT	DISTINCT
						om.[IronOfferID]
					,	om.[CompositeID]
					,	'Partner duplicated on'
				FROM [Email].[OfferMemberships] om
				WHERE EXISTS (SELECT 1
							  FROM #DuplicatesPerPartner dpp
							  WHERE om.[PartnerID] = dpp.[PartnerID]
							  AND om.[CompositeID] = dpp.[CompositeID])
				AND NOT EXISTS (SELECT 1
								FROM [Email].[OfferMembershipsToRemove] tr
								WHERE om.[CompositeID] = tr.[CompositeID]
								AND om.[IronOfferID] = tr.[IronOfferID])
				OPTION (RECOMPILE);

				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = 'Customers on multiple offers with the same partner fetched [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		6.3. Remove all customers from offers that don't meet the given demographic targetting
	***************************************************************************************************/

			/*******************************************************************************
				6.3.1. Create the OPE Desirable list
			*******************************************************************************/

				DROP TABLE IF EXISTS #PartnerDesirable
				CREATE TABLE #PartnerDesirable ([PartnerID] INT
											,	[Gender] CHAR(1)
											,	[AgeMin] TINYINT
											,	[AgeMax] TINYINT
											,	[Private] BIT
											,	[CameoMin] VARCHAR(2)
											,	[CameoMax] VARCHAR(2))

				CREATE CLUSTERED INDEX [CIX_Partner] ON #PartnerDesirable ([PartnerID])
				
				INSERT INTO #PartnerDesirable (	[PartnerID]
											,	[Gender]
											,	[AgeMin]
											,	[AgeMax]
											,	[Private]
											,	[CameoMin]
											,	[CameoMax])
				SELECT	[PartnerID]
					,	[Gender]
					,	[AgeMin]
					,	[AgeMax]
					,	[Private]
					,	[CameoMin]
					,	[CameoMax]
				FROM [Email].[OPE_PartnerDesirable] opd
				WHERE [LiveRule] = 1
				AND EXISTS (SELECT 1
							FROM #OfferPrioritisation op
							WHERE opd.[PartnerID] = op.[PartnerID])
				OPTION (RECOMPILE);

			/*******************************************************************************
				6.3.2. Fetch memberships not meeting OPE desirable conditions
			*******************************************************************************/
			
				INSERT INTO [Email].[OfferMembershipsToRemove]
				SELECT	DISTINCT
						om.[IronOfferID]
					,	om.[CompositeID]
					,	'Not meeting OPE desirable conditions'
				FROM [Email].[OfferMemberships] om
				INNER JOIN #Email_Base eb
					ON om.[CompositeID] = eb.[CompositeID]
				INNER JOIN #PartnerDesirable pd
					ON om.[PartnerID] = pd.[PartnerID]
					AND ((pd.[Gender] IS NOT NULL AND eb.[Gender] !=  pd.[Gender]) 
					  OR (pd.[AgeMin] IS NOT NULL AND eb.[Age] < pd.[AgeMin]) 
					  OR (pd.[AgeMax] IS NOT NULL AND eb.[Age] > pd.[AgeMax]) 
					  OR (pd.[Private] IS NOT NULL AND eb.[Private] != pd.[Private]) 
					  OR (pd.[CameoMin] IS NOT NULL AND eb.[CameoGroup] < pd.[CameoMin])
					  OR (pd.[CameoMax] IS NOT NULL AND eb.[CameoGroup] > pd.[CameoMax]))
				WHERE NOT EXISTS (SELECT 1
								  FROM [Email].[OfferMembershipsToRemove] tr
								  WHERE om.[CompositeID] = tr.[CompositeID]
								  AND om.[IronOfferID] = tr.[IronOfferID])
				OPTION (RECOMPILE);

				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = 'Customers not matching OPE Desirable list fetched [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		6.5. Fetch all customers with less than 7 offer memberships
	***************************************************************************************************/

		;WITH
		LessThan7Slots AS (SELECT [CompositeID]
						   FROM [Email].[OfferMemberships] om
						   WHERE NOT EXISTS (	SELECT 1
												FROM [Email].[OfferMembershipsToRemove] tr
												WHERE om.[CompositeID] = tr.[CompositeID]
												AND om.[IronOfferID] = tr.[IronOfferID])
						   GROUP BY [CompositeID]
						   HAVING COUNT(1) < 7)
	
		INSERT INTO [Email].[OfferMembershipsToRemove]
		SELECT	DISTINCT
				om.[IronOfferID]
			,	om.[CompositeID]
			,	'Less than 7 offer memberships - Post Other Removals'
		FROM [Email].[OfferMemberships] om
		WHERE EXISTS (SELECT 1
					  FROM LessThan7Slots lt7
					  WHERE om.[CompositeID] = lt7.[CompositeID])
		AND NOT EXISTS (SELECT 1
					    FROM [Email].[OfferMembershipsToRemove] tr
					    WHERE om.[CompositeID] = tr.[CompositeID]
					    AND om.[IronOfferID] = tr.[IronOfferID])
		OPTION (RECOMPILE);

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customers with less than 7 offer memberships fetched [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		6.6. Fetch the last set of offers each customer received
	***************************************************************************************************/

		DROP TABLE IF EXISTS #OffersToRotate;
		CREATE TABLE #OffersToRotate (	[CompositeID] BIGINT
									,	[IronOfferID] INT
									,	[OfferRank_New] INT)

		CREATE CLUSTERED INDEX [CIX_OfferComRank] ON #OffersToRotate ([IronOfferID], [CompositeID], [OfferRank_New])


		INSERT INTO #OffersToRotate
		SELECT	om.[CompositeID]
			,	om.[IronOfferID]
			,	[OfferRank_New] = [OfferRank] + CASE WHEN [OfferSegment] = 9 THEN 2 ELSE 5 END
		FROM [Email].[OfferMemberships] om
		WHERE EXISTS (	SELECT 1
						FROM [Email].[Newsletter_Offers] lso
						INNER JOIN (SELECT DISTINCT [IronOfferID], [PartnerID] FROM [Derived].[IronOffer]) iof
							ON lso.[ItemID] = iof.[IronOfferID]
						WHERE lso.[EmailSendDate] = @LastEmailDate
						AND lso.[TypeID] = 1
						AND om.[CompositeID] = lso.[CompositeID]
						AND om.[PartnerID] = iof.[PartnerID])
		AND NOT EXISTS (SELECT 1
						FROM #PartnerPrioritisation pp
						WHERE om.[PartnerID] = pp.[PartnerID]
						AND pp.[ToForceIn] = 1)
		OPTION (RECOMPILE);

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Offer Ranking for Partners that were in customers previous newsletter set to max [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	7. Recreate Offer Memberships removing ineligible offers and using updated ranking
*******************************************************************************************************************************************/

	/***************************************************************************************************
		7.1. Fetch the set of eligible offer memberships
	***************************************************************************************************/

		TRUNCATE TABLE [Email].[OfferMembershipsUpdated]

		INSERT INTO [Email].[OfferMembershipsUpdated] WITH (TABLOCK) (	[PartnerID]
																	,	[IronOfferID]
																	,	[CompositeID]
																	,	[StartDate]
																	,	[EndDate]
																	,	[OfferSegment]
																	,	[OfferRank])
		SELECT	[PartnerID]
			,	[IronOfferID]
			,	[CompositeID]
			,	[StartDate]
			,	[EndDate]
			,	[OfferSegment]
			,	[OfferRank]
		FROM (	SELECT	om.[PartnerID]
					,	om.[IronOfferID]
					,	om.[CompositeID]
					,	om.[StartDate]
					,	om.[EndDate]
					,	om.[OfferSegment]
					,	[PriorityPartner] = CASE WHEN pp.[PartnerID] IS NULL THEN 0 ELSE 1 END
					,	[OfferRank] = ROW_NUMBER() OVER (PARTITION BY om.[CompositeID], om.[OfferSegment] ORDER BY ISNULL(otr.[OfferRank_New], om.[OfferRank]))
				FROM [Email].[OfferMemberships] om
				LEFT JOIN #PartnerPrioritisation pp
					ON om.[PartnerID] = pp.[PartnerID]
				LEFT JOIN #OffersToRotate otr
					ON om.[CompositeID] = otr.[CompositeID]
					AND om.[IronOfferID] = otr.[IronOfferID]
				WHERE NOT EXISTS (	SELECT 1
									FROM [Email].[OfferMembershipsToRemove] otr
									WHERE om.[CompositeID] = otr.[CompositeID]
									AND om.[IronOfferID] = otr.[IronOfferID])) d
		ORDER BY	[OfferRank]
				,	[PartnerID]
		OPTION (RECOMPILE);

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Fetch the set of eligible offer memberships [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		7.2. Create new ranked list of offer memberships
	***************************************************************************************************/

		DROP TABLE IF EXISTS #OfferMembershipsRanked
		CREATE TABLE #OfferMembershipsRanked (	[PartnerID] INT
											,	[IronOfferID] INT
											,	[CompositeID] BIGINT
											,	[StartDate] DATETIME
											,	[EndDate] DATETIME
											,	[OfferSegment] INT
											,	[OfferRank] INT)
	
		CREATE CLUSTERED INDEX [CIX_OfferCompPartner] ON #OfferMembershipsRanked ([IronOfferID],[CompositeID],[PartnerID])
		CREATE NONCLUSTERED INDEX [IX_PremiumRank_IncPartner] ON #OfferMembershipsRanked ([OfferRank]) INCLUDE ([PartnerID])
	
		INSERT INTO #OfferMembershipsRanked
		SELECT	omu.[PartnerID]
			,	omu.[IronOfferID]
			,	omu.[CompositeID]
			,	omu.[StartDate]
			,	omu.[EndDate]
			,	omu.[OfferSegment]
			,	[OfferRank] = ROW_NUMBER() OVER (PARTITION BY omu.[CompositeID], omu.[OfferSegment] ORDER BY omu.[OfferRank])
		FROM [Email].[OfferMembershipsUpdated] omu

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Create new ranked list of offer memberships [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg
		
		DELETE omr
		FROM #OfferMembershipsRanked omr
		WHERE [OfferRank] > 14
		AND NOT EXISTS (SELECT 1
						FROM #PartnerPrioritisation pp
						WHERE omr.[PartnerID] = pp.[PartnerID])

		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Remove offer memberships that aren''t in the top 14 offer slots [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	8. Run through Partner Conflicts rules
*******************************************************************************************************************************************/

	/***************************************************************************************************
		8.1. Run bespoke dedupe for all 6 IHG Brands
	***************************************************************************************************/

		DROP TABLE IF EXISTS #IHG
		SELECT	[CompositeID]
			,	[PartnerID]
			,	[CustomerOfferRank] = ROW_NUMBER() OVER (PARTITION BY [CompositeID] ORDER BY ABS(CHECKSUM(NEWID())))
		INTO #IHG
		FROM #OfferMembershipsRanked
		WHERE [PartnerID] IN (4751,4752,4753,4726,4727,4728,4911)

		DELETE om
		FROM #OfferMembershipsRanked om
		WHERE EXISTS (SELECT 1
					  FROM #IHG ihg
					  WHERE om.[CompositeID] = ihg.[CompositeID]
					  AND om.[PartnerID] = ihg.[PartnerID]
					  AND ihg.[CustomerOfferRank] > 2)

		SET @RowsAffected = @@ROWCOUNT;

		DROP TABLE IF EXISTS #IHG_Grouped
		SELECT	[CompositeID]
			,	[PartnerID]
			,	[CustomerOfferRank] = ROW_NUMBER() OVER (PARTITION BY [CompositeID] ORDER BY ABS(CHECKSUM(NEWID())))
		INTO #IHG_Grouped
		FROM #OfferMembershipsRanked
		WHERE [PartnerID] IN (5076, 5077, 5075, 5264)

		DELETE om
		FROM #OfferMembershipsRanked om
		WHERE EXISTS (SELECT 1
					  FROM #IHG_Grouped ihg
					  WHERE om.[CompositeID] = ihg.[CompositeID]
					  AND om.[PartnerID] = ihg.[PartnerID]
					  AND ihg.[CustomerOfferRank] > 1)

		SET @RowsAffected = @RowsAffected + @@ROWCOUNT;
		SET @msg = 'Run bespoke dedupe for IHG [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		8.3. Fetch all required Partner Conflict Rules
	***************************************************************************************************/
		
		DROP TABLE IF EXISTS #OPE_PartnerConflict;
		WITH
		OPE_PartnerConflict AS (	SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY [ExecutionOrder])
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
										,	[PartnersPerRule] = COUNT(1) OVER (PARTITION BY [RuleID])
									FROM [Email].[OPE_PartnerConflict] pc
									WHERE [LiveRule] = 1
									AND [RuleID] != 21),	--	IHG

		MultiplePartners AS (		SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[NewRuleID] = RANK() OVER (PARTITION BY [RuleID] ORDER BY NEWID())
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount] = 2
										,	[PartnerToRemove]
										,	[PartnersPerRule]
									FROM OPE_PartnerConflict
									WHERE [RuleTypeID] = 1
									AND [PartnersPerRule] = 3),

		SplitRulesToAdd AS (		SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY mp1.[RuleID], mp2.[NewRuleID]) + (SELECT MAX([RuleID]) FROM OPE_PartnerConflict)
										,	mp1.[ExecutionOrder]
										,	mp1.[RuleTypeID]
										,	mp1.[PartnerID]
										,	mp1.[PercentageOfCustomers]
										,	mp1.[MaxMembershipsCount]
										,	mp1.[RequiredMembershipsCount]
										,	mp1.[PartnerToRemove]
										,	mp1.[PartnersPerRule]
									FROM MultiplePartners mp1
									INNER JOIN MultiplePartners mp2
										ON mp1.[RuleID] = mp2.[RuleID]
										AND mp1.[PartnerID] != mp2.[PartnerID]),

		PartnerConflictRules AS (	SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
									FROM OPE_PartnerConflict
									UNION
									SELECT	[RuleID]
										,	[ExecutionOrder]
										,	[RuleTypeID]
										,	[PartnerID]
										,	[PercentageOfCustomers]
										,	[MaxMembershipsCount]
										,	[RequiredMembershipsCount]
										,	[PartnerToRemove]
									FROM SplitRulesToAdd)

		SELECT	[RuleID]
			,	[RuleTypeID]
			,	[PartnerID]
			,	[PercentageOfCustomers]
			,	[CustomerNtileMin] = COALESCE(LAG([CustomerNtileMax], 1) OVER (PARTITION BY [RuleID] ORDER BY [CustomerNtileMax]), 0)
			,	[CustomerNtileMax]
			,	[MaxMembershipsCount]
			,	[RequiredMembershipsCount]
			,	[PartnerToRemove]
		INTO #OPE_PartnerConflict
		FROM (	SELECT	[RuleID] = DENSE_RANK() OVER (ORDER BY [RuleID])
					,	[RuleTypeID]
					,	[PartnerID]
					,	[PercentageOfCustomers]
					,	[CustomerNtileMax] = SUM([PercentageOfCustomers]) OVER (PARTITION BY [RuleID] ORDER BY [PercentageOfCustomers], [PartnerID])
					,	[MaxMembershipsCount]
					,	[RequiredMembershipsCount]
					,	[PartnerToRemove]
				FROM (	SELECT	DISTINCT
								pc.[PartnerID]
							,	pc.[RuleID]
							,	pc.ExecutionOrder
							,	pc.[RuleTypeID]
							,	pc.[MaxMembershipsCount]
							,	pc.[RequiredMembershipsCount]
							,	pc.[PartnerToRemove]
							,	[PercentageOfCustomers] = [PercentageOfCustomers] / SUM(pc.[PercentageOfCustomers]) OVER (PARTITION BY pc.[RuleID]) * 100
						FROM PartnerConflictRules pc) a) pc

		SET @RowsAffected = @@ROWCOUNT;

		CREATE CLUSTERED INDEX [CIX_PartnerID] ON #OPE_PartnerConflict ([PartnerID])
		
		SET @msg = 'Partner Conflict Rules fetched [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/*******************************************************************************
		8.3. Loop through each of the Conflict Rules removing as required
	*******************************************************************************/

		DECLARE @PCRRuleID INT
			  , @PCRMaxRuleID INT

		SELECT @PCRRuleID = MIN([RuleID])
			 , @PCRMaxRuleID = MAX([RuleID])
		FROM #OPE_PartnerConflict

		WHILE @PCRRuleID <= @PCRMaxRuleID
			BEGIN
						
				DROP TABLE IF EXISTS #CustomersToRemove;
				WITH													
				CustomersPartnerCounts AS (	SELECT	om.[CompositeID]
												,	[RequiredMembershipsCount] = MIN(pc.[RequiredMembershipsCount])
												,	[OffersPerCustomer] = COUNT(DISTINCT om.[PartnerID])
											FROM #OfferMembershipsRanked om
											INNER JOIN #OPE_PartnerConflict pc
	  											ON om.[PartnerID] = pc.[PartnerID]
											WHERE pc.[RuleID] = @PCRRuleID
											GROUP BY om.[CompositeID]),
														   						
				CustomersOnBothPartners AS (SELECT	oc.[CompositeID]
												,	oc.[RandomNumber]
											FROM CustomersPartnerCounts cpc
											INNER JOIN [Email].[OPE_Customer] oc
												ON cpc.[CompositeID] = oc.[CompositeID]
											WHERE [OffersPerCustomer] >= [RequiredMembershipsCount]),		
																					
				CustomerRankings AS (	SELECT	cbp.[CompositeID]
											,	om.[IronOfferID]
											,	om.[PartnerID]
											,	pc.[CustomerNtileMin]
											,	pc.[CustomerNtileMax]
											,	cbp.[RandomNumber]
											,	[CustomerRank] = NTILE(100) OVER (ORDER BY [RandomNumber] DESC)
										FROM CustomersOnBothPartners cbp
										INNER JOIN #OfferMembershipsRanked om
	  										ON om.[CompositeID] = cbp.[CompositeID]
										INNER JOIN #OPE_PartnerConflict pc
	  										ON om.[PartnerID] = pc.[PartnerID]
										WHERE pc.[RuleID] = @PCRRuleID),

				CustomersToRemove AS (	SELECT	[CompositeID]
											,	[IronOfferID]
											,	[PartnerID]
											,	[CustomerNtileMin]
											,	[CustomerNtileMax]
											,	[CustomerRank] = AVG(	CASE
																			WHEN CustomerRank = 100 THEN 99
																			ELSE CustomerRank
																		END * 1.0) OVER (PARTITION BY [CompositeID])
										FROM CustomerRankings)
													  	
				SELECT	[CompositeID]
					,	[IronOfferID]
					,	[PartnerID]
					,	[CustomerNtileMin]
					,	[CustomerNtileMax]
					,	[CustomerRank]
					,	[WithinNTileRange] =	CASE
													WHEN [CustomerNtileMin] < [CustomerRank] * 1.0 AND [CustomerRank] * 1.0 <= [CustomerNtileMax] THEN 1
													ELSE 0
												END
				INTO #CustomersToRemove
				FROM CustomersToRemove
				
				SET @RowsAffected = @@ROWCOUNT;

				CREATE CLUSTERED INDEX [CIX_CompIron] ON #CustomersToRemove ([WithinNTileRange], [CompositeID], [IronOfferID])
				
				SET @msg = 'Rule ' + CONVERT(VARCHAR, @PCRRuleID) + ' of ' +  CONVERT(VARCHAR, @PCRMaxRuleID) + ': Identify which entries to delete [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 1
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 0
						
						SET @RowsAffected = @@ROWCOUNT;

					END

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 2
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 1
						
						SET @RowsAffected = @@ROWCOUNT;

					END

				IF (SELECT MIN([RuleTypeID]) FROM #OPE_PartnerConflict WHERE [RuleID] = @PCRRuleID) = 3
					BEGIN

						DELETE om
						FROM #CustomersToRemove cto
						INNER JOIN #OfferMembershipsRanked om
							ON cto.[CompositeID] = om.[CompositeID]
							AND cto.[IronOfferID] = om.[IronOfferID]
						WHERE [WithinNTileRange] = 1
						
						SET @RowsAffected = @@ROWCOUNT;

					END
				
				SET @msg = 'Rule ' + CONVERT(VARCHAR, @PCRRuleID) + ' of ' +  CONVERT(VARCHAR, @PCRMaxRuleID) + ': Randomly selected entry deleted [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

				SET @PCRRuleID = (SELECT MIN([RuleID]) FROM #OPE_PartnerConflict WHERE [RuleID] > @PCRRuleID)

			END	-- End While @PCRRuleID <= @PCRMaxRuleID
		
		DROP TABLE IF EXISTS #OPE_PartnerConflict
		DROP TABLE IF EXISTS #CustomersToRemove

/*******************************************************************************************************************************************
	9. Assign Offer Slots
*******************************************************************************************************************************************/

	TRUNCATE TABLE [Email].[NominatedLionSendComponent]

	/***************************************************************************************************
		9.1. Assign Offer Slots for OPE 2
	***************************************************************************************************/

		/***************************************************************************************************
			9.1.1. Assign Force In Retailers
		***************************************************************************************************/

			DROP TABLE IF EXISTS #LionSend
			CREATE TABLE #LionSend ([PartnerID] INT
								,	[IronOfferID] INT
								,	[CompositeID] BIGINT
								,	[StartDate] DATETIME
								,	[EndDate] DATETIME
								,	[OfferRank] INT)

			CREATE CLUSTERED INDEX CIX_CompOfferRank ON #LionSend ([CompositeID], [IronOfferID], [OfferRank]) WITH (FILLFACTOR = 60)

			INSERT INTO #LionSend
			SELECT	[PartnerID]
				,	[IronOfferID]
				,	[CompositeID]
				,	[StartDate]
				,	[EndDate]
				,	[OfferRank]
			FROM #OfferMembershipsRanked omr
			WHERE EXISTS (	SELECT 1
							FROM #PartnerPrioritisation pp
							WHERE omr.[PartnerID] = pp.[PartnerID])
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Assigned Force In Retailers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

			;WITH
			Deleter AS (SELECT	[CompositeID]
							,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY ls.[CompositeID] ORDER BY ls.[OfferRank])
						FROM #LionSend ls)

			DELETE
			FROM Deleter
			WHERE [NewOfferRank] > 7
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Remove exces rows [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***************************************************************************************************
			9.1.2. Assign Top Shopper Offers
		***************************************************************************************************/
			
			;WITH
			ShopperOffers AS (	SELECT	omr.[PartnerID]
									,	omr.[IronOfferID]
									,	omr.[CompositeID]
									,	omr.[StartDate]
									,	omr.[EndDate]
									,	omr.[OfferRank]
									,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY omr.[CompositeID] ORDER BY omr.[OfferRank])
								FROM #OfferMembershipsRanked omr
								WHERE omr.[OfferSegment] = 9
								AND NOT EXISTS (SELECT 1
												FROM #LionSend ls
												WHERE omr.[CompositeID] = ls.[CompositeID]
												AND omr.[IronOfferID] = ls.[IronOfferID])),

			OffersPerCustomer AS (	SELECT	ls.[CompositeID]
										,	[OffersPerCustomer] = COUNT(*)
									FROM #LionSend ls
									GROUP BY [CompositeID])

			INSERT INTO #LionSend
			SELECT	so.[PartnerID]
				 ,	so.[IronOfferID]
				 ,	so.[CompositeID]
				 ,	so.[StartDate]
				 ,	so.[EndDate]
				 ,	so.[OfferRank]
			FROM ShopperOffers so
			LEFT JOIN OffersPerCustomer ctr
				ON so.[CompositeID] = ctr.[CompositeID]
			WHERE [NewOfferRank] <= 2
			AND so.[NewOfferRank] + COALESCE(ctr.[OffersPerCustomer], 0) <= 7
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Assigned Top 2 Shopper Retailers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***************************************************************************************************
			9.1.3. Assign Top Acquire Offers
		***************************************************************************************************/

			;WITH
			AcquireOffers AS (	SELECT	omr.[PartnerID]
									,	omr.[IronOfferID]
									,	omr.[CompositeID]
									,	omr.[StartDate]
									,	omr.[EndDate]
									,	omr.[OfferRank]
									,	[NewOfferRank] = ROW_NUMBER() OVER (PARTITION BY omr.[CompositeID] ORDER BY omr.[OfferSegment], omr.[OfferRank])
								FROM #OfferMembershipsRanked omr
								WHERE NOT EXISTS (	SELECT 1
													FROM #LionSend ls
													WHERE omr.[CompositeID] = ls.[CompositeID]
													AND omr.[IronOfferID] = ls.[IronOfferID])),

			OffersPerCustomer AS (	SELECT	ls.[CompositeID]
										,	[OffersPerCustomer] = COUNT(*)
									FROM #LionSend ls
									GROUP BY [CompositeID])

			INSERT INTO #LionSend
			SELECT	ao.[PartnerID]
				,	ao.[IronOfferID]
				,	ao.[CompositeID]
				,	ao.[StartDate]
				,	ao.[EndDate]
				,	ao.[OfferRank]
			FROM AcquireOffers ao
			LEFT JOIN OffersPerCustomer ctr
				ON ao.[CompositeID] = ctr.[CompositeID]
			WHERE ao.[NewOfferRank] + COALESCE(ctr.[OffersPerCustomer], 0) <= 7
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Assigned Top remaining Retailers, Acquire first then Shopper [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***************************************************************************************************
			9.1.4. Insert ordered list to #NominatedLionSendComponent
		***************************************************************************************************/
	
			DROP TABLE IF EXISTS #NominatedLionSendComponent
			CREATE TABLE #NominatedLionSendComponent (	[LionSendID] INT
													,	[CompositeID] BIGINT
													,	[ItemRank] INT
													,	[ItemID] INT
													,	[StartDate] DATETIME
													,	[EndDate] DATETIME)

			CREATE CLUSTERED INDEX CIX_CompItemRankIronOfferID ON #NominatedLionSendComponent ([CompositeID], [ItemRank], [ItemID]) WITH (FILLFACTOR = 75)

			INSERT INTO #NominatedLionSendComponent
			SELECT	eb.[LionSendID]
				,	eb.[CompositeID]
				,	[ItemRank] = ROW_NUMBER() OVER (PARTITION BY eb.[CompositeID] ORDER BY ls.[OfferRank]) 
				,	[ItemID] = ls.[IronOfferID]
				,	ls.[StartDate]
				,	ls.[EndDate]
			FROM #LionSend ls
			INNER JOIN #Email_Base eb
				ON ls.[CompositeID] = eb.[CompositeID]
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Inserted Customers into #NominatedLionSendComponent [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		9.2. Reorder for force in's
	***************************************************************************************************/

		DECLARE	@ReorderRowNo INT = (SELECT MIN([RowNo]) FROM #PartnerPrioritisation WHERE [OfferSlot] > 0)
			  , @ReorderMaxRowNo INT = (SELECT MAX([RowNo]) FROM #PartnerPrioritisation WHERE [OfferSlot] > 0)

		SET @RowsAffected = 0

		WHILE @ReorderRowNo <= @ReorderMaxRowNo
			BEGIN

				DROP TABLE IF EXISTS #CustomerToReorder
				SELECT	[CompositeID]
					,	pp.[PartnerID]
					,	op.[IronOfferID]
					,	[CurrentItemRank] = ls.[ItemRank]
					,	[TargetOfferSlot] = pp.[OfferSlot]
					,	[DifferenceBetweenSlots] = ls.[ItemRank] - pp.[OfferSlot]
				INTO #CustomerToReorder
				FROM #PartnerPrioritisation pp
				INNER JOIN #OfferPrioritisation op
					ON pp.[PartnerID] = op.[PartnerID]
				INNER JOIN #NominatedLionSendComponent ls
					ON op.[IronOfferID] = ls.[ItemID]
				WHERE pp.[RowNo] = @ReorderRowNo
				AND ls.[ItemRank] != pp.[OfferSlot]

				CREATE CLUSTERED INDEX CIX_Comp ON #CustomerToReorder ([CompositeID])
							
				UPDATE ls
				SET [ItemRank] = CASE
									WHEN ls.[ItemID] = ctr.[IronOfferID] THEN ctr.[TargetOfferSlot]	--	@ItemRank
									WHEN ls.[ItemRank] < ctr.[CurrentItemRank] AND ls.[ItemRank] < ctr.[TargetOfferSlot] THEN [ItemRank]
									WHEN ls.[ItemRank] < ctr.[CurrentItemRank] AND ls.[ItemRank] >= ctr.[TargetOfferSlot] THEN [ItemRank] + 1
									WHEN ls.[ItemRank] > ctr.[CurrentItemRank] AND ls.[ItemRank] <= ctr.[TargetOfferSlot]  THEN [ItemRank] - 1
									WHEN ls.[ItemRank] > ctr.[CurrentItemRank] AND ls.[ItemRank] > ctr.[TargetOfferSlot]  THEN [ItemRank]
								END
				FROM #NominatedLionSendComponent ls
				INNER JOIN #CustomerToReorder ctr
					ON ls.[CompositeID] = ctr.[CompositeID]

				SET @RowsAffected = @RowsAffected + @@ROWCOUNT

				SET @ReorderRowNo = (SELECT MIN([RowNo]) FROM #PartnerPrioritisation WHERE @ReorderRowNo < [RowNo] AND [OfferSlot] > 0)

			END
			
			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Reorder for force in [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		9.3. Travel Partner Logic - Find out how many Travel Partner Offers are assigned to the Travel Customer Email Base
	***************************************************************************************************/

	    DROP TABLE IF EXISTS #TravelPartnerSummary
	    SELECT	nlsc.[CompositeID]
			,	[ItemRank]
	    	,	[ItemID]
	    	,	[IronOfferName]
	    	,	o.[PartnerID]
	    	,	ebt.TravelType
			,	[TravelPartnerToDisplay] =	CASE
												WHEN TravelType = 'Travel Only' THEN 3
												WHEN TravelType = 'Reward & Travel' THEN 2
											END
			,	[TravelPartnerID] = tp.[PartnerID]
			,	[PartnerName] = tp.[RegisteredName]
			,	[TravelPartnerCount] =	CASE
											WHEN tp.[PartnerID] IS NULL THEN 0 
	    									ELSE 1 
										END
	    INTO #TravelPartnerSummary
	    FROM #NominatedLionSendComponent nlsc
		INNER JOIN (SELECT DISTINCT [IronOfferID], [IronOfferName], [PartnerID] FROM [Derived].[IronOffer]) o
			ON nlsc.[ItemID] = o.[IronOfferID]
	    INNER JOIN #TravelCardCustomers_Product ebt
			ON nlsc.[CompositeID] = ebt.[CompositeID]
	    LEFT JOIN Sandbox.MatthewL.NatWest_TravelPartners tp
			ON o.[PartnerID] = tp.[PartnerID] 
	    ORDER BY	nlsc.[CompositeID]
				,	[ItemRank]

	   /***************************************************************************************************
			9.3.1. Now work out how many Adjustments need to be made
		***************************************************************************************************/

			DROP TABLE IF EXISTS #OPETravelAdjustments
			;WITH
			CTE AS (SELECT	[CompositeID]
						,	[TravelPartnerToDisplay]
						,	[TravelPartnerCount] = SUM([TravelPartnerCount])
					FROM #TravelPartnerSummary
					GROUP BY	[CompositeID]
							,	[TravelPartnerToDisplay]) 
	    
			SELECT	[CompositeID]
				,	[TravelPartnerToDisplay]
				,	[TravelPartnerCount]
				,	[TravelPartnerToAdd] = [TravelPartnerToDisplay] - [TravelPartnerCount]
			INTO #OPETravelAdjustments
			FROM CTE

		/***************************************************************************************************
			9.3.2. Fetch the customers highest ranking travel partners not in their TOP 7
		***************************************************************************************************/

			DROP TABLE IF EXISTS #PrioritisedTravel
			SELECT	omu.[CompositeID]
				,	omu.[OfferRank]
				,	omu.[IronOfferID]
				,	[IronOfferName]
				,	o.[PartnerID]
				,	EBT.[TravelType]
				,	[TravelPartnerID] = tp.[PartnerID]
				,	[TravelPartnerName] = tp.[RegisteredName]
				,	[TravelRank] = ROW_NUMBER() OVER (PARTITION BY omu.[CompositeID] ORDER BY omu.[OfferRank])
				,	ta.[TravelPartnerToAdd]
			INTO #PrioritisedTravel
			FROM [Email].[OfferMembershipsUpdated] omu
			INNER JOIN (SELECT DISTINCT [IronOfferID], [IronOfferName], [PartnerID] FROM [Derived].[IronOffer]) o
				ON omu.[IronOfferID] = o.[IronOfferID]
			INNER JOIN #TravelCardCustomers_Product ebt
				ON omu.[CompositeID] = ebt.[CompositeID]
			LEFT JOIN Sandbox.MatthewL.NatWest_TravelPartners tp
				ON o.[PartnerID] = tp.[PartnerID]
			INNER JOIN #OPETravelAdjustments ta
				ON ta.[CompositeID] = omu.[CompositeID]
			WHERE tp.[RegisteredName] IS NOT NULL
			--IHG not removed in the [Lion].[OfferMembershipsUpdated] table so adding below
			AND NOT EXISTS (SELECT 1 
	    					FROM #IHG_Grouped ihg
	    					WHERE omu.[CompositeID] = ihg.[CompositeID]
	    					and omu.[PartnerID] = ihg.[PartnerID]
	    					and [CustomerOfferRank] <> 1)
			AND NOT EXISTS (SELECT 1
							FROM #NominatedLionSendComponent nlsc
	    					WHERE omu.[CompositeID] = nlsc.[CompositeID]
	    					and omu.[IronOfferID] = nlsc.[ItemID])
			ORDER BY	omu.[CompositeID]
					,	omu.[OfferRank]

	   /***************************************************************************************************
			9.3.3. Out of the current TOP 7 offers - work out what should be replaced in what order 
		***************************************************************************************************/
	
			DROP TABLE IF EXISTS #ToReplace
			SELECT	nlsc.[LionSendID]
				,	nlsc.[CompositeID]
				,	nlsc.[ItemRank]
				,	nlsc.[ItemID]
				,	nlsc.[StartDate]
				,	nlsc.[EndDate]
				,	[NonTravelRank] = ROW_NUMBER() OVER (PARTITION BY [CompositeID] ORDER BY [ItemRank] DESC)
			INTO #ToReplace
			FROM #NominatedLionSendComponent nlsc 
			WHERE NOT EXISTS (	SELECT 1 
	    						FROM [Derived].[IronOffer] o
	    						INNER JOIN Sandbox.MatthewL.NatWest_TravelPartners tp
	    							ON o.[PartnerID] = tp.[PartnerID] 
	    						WHERE nlsc.[ItemID] = o.[IronOfferID])
			AND nlsc.[ItemRank] < 8
	    
			--Only keep the offers you need

			DELETE
			FROM #PrioritisedTravel 
			WHERE [TravelRank] > [TravelPartnerToAdd]
	    
			--Swap the ranking so the correct offers are replaced

			DROP TABLE IF EXISTS #UpdatedRanks
			SELECT	pt.[CompositeID]
				,	pt.[OfferRank]
				,	pt.[IronOfferID]
				,	pt.[IronOfferName]
				,	pt.[PartnerID]
				,	pt.[TravelType]
				,	pt.[TravelPartnerID]
				,	pt.[TravelPartnerName]
				,	pt.[TravelRank]
				,	pt.[TravelPartnerToAdd]
				,	[UpdatedRank] = ROW_NUMBER() OVER (PARTITION BY pt.[CompositeID] ORDER BY pt.[OfferRank] DESC)
			INTO #UpdatedRanks
			FROM #PrioritisedTravel pt

		/***************************************************************************************************
			9.3.4. Travel Partner Logic - Run the Update to add the travel offers into the correct slots
		***************************************************************************************************/
	
			UPDATE nlsc
			SET nlsc.[ItemID] = pt.[IronOfferID]
			,	nlsc.[StartDate] = omu.[StartDate]
			,	nlsc.[EndDate] = omu.[EndDate]
			FROM #ToReplace tr 
			INNER JOIN #UpdatedRanks pt 
				ON tr.[CompositeID] = pt.[CompositeID]
				AND tr.[NonTravelRank] = pt.[UpdatedRank]
				AND pt.[TravelRank] <= [TravelPartnerToAdd]
			INNER JOIN [Email].[OfferMembershipsUpdated] omu
				ON pt.[CompositeID] = omu.[CompositeID]
				AND pt.[IronOfferID] = omu.[IronOfferID]
			INNER JOIN #NominatedLionSendComponent nlsc
				ON tr.[CompositeID] = nlsc.[CompositeID]
				AND tr.[ItemID] = nlsc.[ItemID]

	/***************************************************************************************************
		9.4.	Insert to [Email].[NominatedLionSendComponent]
	***************************************************************************************************/

		INSERT INTO [Email].[NominatedLionSendComponent] (	[LionSendID]
														,	[CompositeID]
														,	[TypeID]
														,	[ItemRank]
														,	[ItemID]
														,	[StartDate]
														,	[EndDate]
														,	[Date])
		SELECT	ls.[LionSendID]
			,	ls.[CompositeID]
			,	[TypeID] = 1
			,	ls.[ItemRank]
			,	ls.[ItemID]
			,	ls.[StartDate]
			,	ls.[EndDate]
			,	[Date] = @Today
		FROM #NominatedLionSendComponent ls
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Inserted to [Email].[NominatedLionSendComponent] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		9.6. Remove customers from [Email].[NominatedLionSendComponent] with less than 7 slots
	***************************************************************************************************/

		;WITH
		CustomersToRemove AS (	SELECT ls.[CompositeID]
								FROM [Email].[NominatedLionSendComponent] ls
								GROUP BY [CompositeID]
								HAVING COUNT([ItemID]) != 7)
		
		DELETE ls
		FROM [Email].[NominatedLionSendComponent] ls
		WHERE EXISTS (	SELECT 1
						FROM CustomersToRemove ctr
						WHERE ls.[CompositeID] = ctr.[CompositeID])
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customers with less than 7 slots removed from [Email].[NominatedLionSendComponent] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg
		
/*******************************************************************************************************************************************
	10. Execute BOPE logic to assign members their top 5 redemption offers
*******************************************************************************************************************************************/

	EXEC [Email].[Newsletter_BOPE_AssignMembers] @JokerSlotPartners_CommaSeperated
			
	SET @RowsAffected = @@ROWCOUNT;
	
	UPDATE STATISTICS [Email].[NominatedLionSendComponent_RedemptionOffers]

	SET @msg = '[Email].[BOPE_AssignMembers] executed, populating [Email].[NominatedLionSendComponent_RedemptionOffers] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	11. Producing the sample data
*******************************************************************************************************************************************/

	EXEC [Email].[Newsletter_FetchSampleCustomers]
			
	SET @RowsAffected = @@ROWCOUNT;
	SET @msg = 'Generate Sample customer data [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	12. Checks on counts across the offer memberships
*******************************************************************************************************************************************/

	/***************************************************************************************************
		12.1. Check customers aren't on multiple offers per partner
	***************************************************************************************************/

		;WITH
		MultipleOffersPerPartner AS (	SELECT	[PartnerID]
											,	[CompositeID]
											,	[LionSendID]
										FROM [Email].[NominatedLionSendComponent] ls
										INNER JOIN #OfferPrioritisation op
											ON ls.ItemID = op.[IronOfferID]
										GROUP BY 	[PartnerID]
												,	[CompositeID]
												,	[LionSendID]
										HAVING COUNT(1) > 1),

		MultipleOffersPerPartner_VARCHAR AS (	SELECT	CONVERT(VARCHAR(25), [PartnerID]) AS [PartnerID]
													,	CONVERT(VARCHAR(25), [CompositeID]) AS [CompositeID]
												FROM MultipleOffersPerPartner)
									 

		SELECT	DISTINCT
				[PartnerID] + ' - ' + [CompositeID] AS [Check customers aren't on multiple offers per partner]
		FROM MultipleOffersPerPartner_VARCHAR
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Fetch customers that have multiple offers per retailer [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		12.2. Check all cases where demographic filtering should be applied, has been
	***************************************************************************************************/

		DROP TABLE IF EXISTS #MeetingPartnerDemographic
		SELECT	op.[PartnerID]
			,	pa.[PartnerName]
			,	pd.[Gender]
			,	pd.[AgeMin]
			,	pd.[AgeMax]
			,	pd.[Private]
			,	pd.[CameoMin]
			,	pd.[CameoMax]
			,	[minGender] = MIN(eb.[Gender])
			,	[maxGender] = MAX(eb.[Gender])
			,	[MinAge] = MIN(eb.[Age])
			,	[MaxAge] = MAX(eb.[Age])
			,	[MinPrivate] = MIN(CONVERT(TINYINT, eb.[Private]))
			,	[MaxPrivate] = MAX(CONVERT(TINYINT, eb.[Private]))
			,	[MinCameo] = MIN(eb.[CameoGroup])
			,	[MaxCameo] = MAX(eb.[CameoGroup])
		INTO #MeetingPartnerDemographic
		FROM [Email].[NominatedLionSendComponent] ls
		INNER JOIN #OfferPrioritisation op
			ON ls.ItemID = op.[IronOfferID]
		INNER JOIN #Email_Base eb
			ON ls.[CompositeID] = eb.[CompositeID]
		INNER JOIN #PartnerDesirable pd
			ON op.[PartnerID] = pd.[PartnerID]
		INNER JOIN [Derived].[Partner] pa
			ON op.[PartnerID] = pa.[PartnerID]
		GROUP BY	op.[PartnerID]
				,	pa.[PartnerName]
				,	pd.[Gender]
				,	pd.[AgeMin]
				,	pd.[AgeMax]
				,	pd.[Private]
				,	pd.[CameoMin]
				,	pd.[CameoMax]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Check all cases where demographic filtering should be applied [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		12.3. Spot check of all senior staff newsletter assignments
	***************************************************************************************************/
	
		DROP TABLE IF EXISTS #SeniorStaffAssignment
		SELECT	ls.[LionSendID]
			,	ls.[CompositeID]
			,	ssa.[FirstName]
			,	ssa.[LastName]
			,	ls.[ItemRank]
			,	ls.[ItemID]
			,	iof.[TopCashBackRate]
			,	iof.[IronOfferName]
		INTO #SeniorStaffAssignment
		FROM [Email].[NominatedLionSendComponent] ls
		INNER JOIN [Selections].[PrioritisedCustomerAccounts] ssa
			ON ls.[CompositeID] = ssa.[CompositeID]
		INNER JOIN #Email_Base eb
			ON ls.[CompositeID] = eb.[CompositeID]
		LEFT JOIN [Derived].[IronOffer] iof
			ON ls.ItemID = iof.[IronOfferID]
		ORDER BY	[CompositeID]
				,	[ItemRank]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Spot check of all senior staff newsletter assignments [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***************************************************************************************************
		12.4. Check the total counts of all customers, offer memberships
	***************************************************************************************************/

		;WITH
		CustomerCounts AS (	SELECT	eb.[LionSendID]
								,	eb.[ClubID]
								,	eb.[Private]
								,	[Customers] = COUNT(DISTINCT eb.[CompositeID])
							FROM #Email_Base eb
							WHERE EXISTS (SELECT 1
										   FROM [Email].[NominatedLionSendComponent] ls
										   WHERE ls.[CompositeID] = eb.[CompositeID])
							GROUP BY	eb.[LionSendID]
									,	eb.[ClubID]
									,	eb.[Private])

		UPDATE ls
		SET ls.[Customers] = cc.[Customers]
		FROM CustomerCounts cc
		INNER JOIN #LionSendCountsChecks ls
			ON cc.[LionSendID] = ls.[LionSendID]
			AND cc.[ClubID] = ls.[Brand]
			AND cc.[Private] = ls.[Loyalty]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customer counts updated into temp table [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		12.5. Update [WH_AllPublishers].[Email].[EmailSend] table
	***********************************************************************************************************************/

		;WITH
		CustomerCounts AS (	SELECT	ls.[LionSendID]
								,	[Customers] = COUNT(DISTINCT ls.[CompositeID])
							FROM [Email].[NominatedLionSendComponent] ls
							GROUP BY	ls.[LionSendID])
		
		UPDATE es
		SET es.[TotalMembers] = cc.[Customers]
		FROM CustomerCounts cc
		INNER JOIN [WH_AllPublishers].[Email].[EmailSend] es
			ON cc.[LionSendID] = es.[ID]
			AND es.[Scheme] = 'MyRewards'
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customer counts updated into [Email].[EmailSend] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		12.6. Add entry to R_0183_LionSendVolumesCheck table
	***********************************************************************************************************************/

		DELETE
		FROM [Report].[NewsletterVolumes]
		WHERE [EmailSendDate] > GETDATE()

		INSERT INTO [Report].[NewsletterVolumes]
		SELECT	[LionSendID]
			,	[EmailSendDate]
			,	[Brand] = CASE WHEN [Brand] = 132 THEN 'NatWest' ELSE 'RBS' END
			,	[Loyalty] = CASE WHEN [Loyalty] = 0 THEN 'Core' ELSE 'Prime' END
			,	[UsersSelectedForLionSend] = [Customers]
			,	[UsersUploadedSFD] = NULL
			,	[UsersAfterSFDValidation] = NULL
			,	[UsersEmailed] = NULL
		FROM #LionSendCountsChecks
		WHERE [Customers] IS NOT NULL
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Customer counts updated into [Report].[NewsletterVolumes] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
	13. Prepare Lion Send for upload to SFD
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		13.1. Populate [Email].[OfferSlotData]
	***********************************************************************************************************************/

		EXEC [Email].[Newsletter_OfferSlotData_Populate]
	
		UPDATE STATISTICS [Email].[OfferSlotData]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Memberships loaded to [Email].[OfferSlotData] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		13.2. Populate [Email].[OfferSlotData]
	***********************************************************************************************************************/

		EXEC [Email].[Newsletter_RedeemOfferSlotData_Populate]	-- UPDATE to replace null end dates
	
		UPDATE STATISTICS [Email].[RedeemOfferSlotData]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Memberships loaded to [Email].[RedeemOfferSlotData] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		13.3. Insert the sample customers data to [Email].[DailyData]
	***********************************************************************************************************************/

		EXEC [Email].[Newsletter_DailyDataSampleCustomers_Populate]
	
		UPDATE STATISTICS [Email].[DailyData]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Insert the sample customers data to [Email].[DailyData] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/***********************************************************************************************************************
		13.4. Check counts from [Email].[NominatedLionSendComponent] match [SmartEmail].[OfferSlotData]
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #OverallCounts
		;WITH
		NominatedLionSendComponent AS (	SELECT	[LionSendID]
											,	[Customers_NominatedLionSendComponent] = COUNT(*) / 7
										FROM [Email].[NominatedLionSendComponent]
										GROUP BY	[LionSendID]),

		OfferSlotData AS (	SELECT	[LionSendID]
								,	[Customers_OfferSlotData] = COUNT(*)
							FROM [Email].[OfferSlotData]
							GROUP BY	[LionSendID]),
						  
		NominatedLionSendComponent_RedemptionOffers AS (	SELECT	[LionSendID]
																,	[Customers_NominatedLionSendComponent_RedemptionOffers] = COUNT(*) / 5
														   FROM [Email].[NominatedLionSendComponent_RedemptionOffers]
														   GROUP BY		[LionSendID]),

		RedeemOfferSlotData AS (	SELECT	[LionSendID]
										,	[Customers_RedeemOfferSlotData] = COUNT(*)
									FROM [Email].[RedeemOfferSlotData]
									GROUP BY	[LionSendID])

		SELECT	[LionSendID] = COALESCE(nlsc.[LionSendID], osd.[LionSendID], nlscr.[LionSendID], rosd.[LionSendID])
			,	[Customers_NominatedLionSendComponent] = MAX(nlsc.[Customers_NominatedLionSendComponent])
			,	[Customers_OfferSlotData] = MAX(osd.[Customers_OfferSlotData])
			,	[Customers_NominatedLionSendComponent_RedemptionOffers] = MAX(nlscr.[Customers_NominatedLionSendComponent_RedemptionOffers])
			,	[Customers_RedeemOfferSlotData] = MAX(rosd.[Customers_RedeemOfferSlotData])
		INTO #OverallCounts
		FROM NominatedLionSendComponent nlsc
		FULL OUTER JOIN OfferSlotData osd
			ON nlsc.[LionSendID] = osd.[LionSendID]
		FULL OUTER JOIN NominatedLionSendComponent_RedemptionOffers nlscr
			ON nlsc.[LionSendID] = nlscr.[LionSendID]
		FULL OUTER JOIN RedeemOfferSlotData rosd
			ON nlsc.[LionSendID] = rosd.[LionSendID]
		GROUP BY	COALESCE(nlsc.[LionSendID], osd.[LionSendID], nlscr.[LionSendID], rosd.[LionSendID])
		ORDER BY	COALESCE(nlsc.[LionSendID], osd.[LionSendID], nlscr.[LionSendID], rosd.[LionSendID])
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Fetch overall counts [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

END


GO
