USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[Newsletter_DailyDataSampleCustomers_Populate]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Email].[Newsletter_DailyDataSampleCustomers_Populate]
AS
BEGIN

	/*******************************************************************************************************************************************
		1. Delete previous entries so that we do not have duplicate entries
	*******************************************************************************************************************************************/

		DELETE 
		FROM [Email].[DailyData]
		WHERE [Email] LIKE '%Sample%@Rewardinsight.com%'

		DELETE 
		FROM [Email].[Actito_Deltas]
		WHERE [Email] LIKE '%Sample%@Rewardinsight.com%'
		

	/*******************************************************************************************************************************************
		2. Create entries for the sample records so that they can be used for Weblinks and Testing
	*******************************************************************************************************************************************/

		INSERT INTO [Email].[DailyData]
		SELECT	scli.[FanID] -- Replace real FanID with Sample FanID
			,	dd.[CustomerGUID]
			,	scli.[EmailAddress] -- Replace real email with Sample email address
			,	dd.[PublisherID]
			,	dd.[CustomerSegment]
			,	dd.[LoyaltyAccount]
			,	dd.[IsLoyalty]
			,	dd.[Title]
			,	[FirstName] = REPLACE(scli.[EmailAddress],'@Rewardinsight.com','')	--	Replace the Firstname
			,	[LastName] = CONVERT(VARCHAR(15), scli.[FanID])						--	Replace the Firstname
			,	dd.[DOB]
			,	dd.[CashbackAvailable]
			,	dd.[CashbackPending]
			,	dd.[CashbackLTV]
			,	dd.[PartialPostCode]
			,	dd.[Marketable]
			,	dd.[MarketableByEmail]
			,	dd.[EmailTracking]
			,	dd.[FirstEarn_Date]
			,	dd.[FirstEarn_Amount]
			,	dd.[FirstEarn_RetailerName]
			,	dd.[FirstEarn_Type]
			,	dd.[FirstEarn_DD]
			,	dd.[FirstEarn_Mobile]
			,	dd.[MobileDormancy]
			,	dd.[Reached5GBP_Date]
			,	dd.[RedeemReminder_Day]
			,	dd.[AccountType]
			,	dd.[TriggerType]
			,	dd.[WelcomeEmailCode]
			,	dd.[SainsReminder]
			,	dd.[SainsEarnConfirmation]
			,	dd.[FirstEarnTravel]
			,	dd.[TravelAdded]
			,	dd.[IsDebit]
			,	dd.[IsCredit]
			,	dd.[CustomField1]
			,	dd.[CustomField2]
			,	dd.[CustomField3]
			,	dd.[CustomField4]
			,	dd.[CustomField5]
			,	dd.[CustomField6]
			,	dd.[CustomField7]
			,	dd.[CustomField8]
			,	dd.[CustomField9]
			,	dd.[CustomField10]
			,	dd.[CustomField11]
			,	dd.[CustomField12]
		FROM [Email].[SampleCustomerLinks] scln
		INNER JOIN [Email].[DailyData] dd
			ON scln.[RealCustomerFanID] = dd.[FanID]
		INNER JOIN [Email].[SampleCustomersList] scli
			ON scln.[SampleCustomerID] = scli.[ID]

		INSERT INTO [Email].[Actito_Deltas]
		SELECT	scli.[FanID] -- Replace real FanID with Sample FanID
			,	dd.[CustomerGUID]
			,	scli.[EmailAddress] -- Replace real email with Sample email address
			,	dd.[PublisherID]
			,	dd.[CustomerSegment]
			,	dd.[LoyaltyAccount]
			,	dd.[IsLoyalty]
			,	dd.[Title]
			,	[FirstName] = REPLACE(scli.[EmailAddress],'@Rewardinsight.com','')	--	Replace the Firstname
			,	[LastName] = CONVERT(VARCHAR(15), scli.[FanID])						--	Replace the Firstname
			,	dd.[DOB]
			,	dd.[CashbackAvailable]
			,	dd.[CashbackPending]
			,	dd.[CashbackLTV]
			,	dd.[PartialPostCode]
			,	dd.[Marketable]
			,	dd.[MarketableByEmail]
			,	dd.[EmailTracking]
			,	dd.[FirstEarn_Date]
			,	dd.[FirstEarn_Amount]
			,	dd.[FirstEarn_RetailerName]
			,	dd.[FirstEarn_Type]
			,	dd.[FirstEarn_DD]
			,	dd.[FirstEarn_Mobile]
			,	dd.[MobileDormancy]
			,	dd.[Reached5GBP_Date]
			,	dd.[RedeemReminder_Day]
			,	dd.[AccountType]
			,	dd.[TriggerType]
			,	dd.[WelcomeEmailCode]
			,	dd.[SainsReminder]
			,	dd.[SainsEarnConfirmation]
			,	dd.[FirstEarnTravel]
			,	dd.[TravelAdded]
			,	dd.[IsDebit]
			,	dd.[IsCredit]
			,	dd.[CustomField1]
			,	dd.[CustomField2]
			,	dd.[CustomField3]
			,	dd.[CustomField4]
			,	dd.[CustomField5]
			,	dd.[CustomField6]
			,	dd.[CustomField7]
			,	dd.[CustomField8]
			,	dd.[CustomField9]
			,	dd.[CustomField10]
			,	dd.[CustomField11]
			,	dd.[CustomField12]
		FROM [Email].[SampleCustomerLinks] scln
		INNER JOIN [Email].[DailyData] dd
			ON scln.[RealCustomerFanID] = dd.[FanID]
		INNER JOIN [Email].[SampleCustomersList] scli
			ON scln.[SampleCustomerID] = scli.[ID]
	
END
GO
