USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Email].[__NewsletterTesting_LionSendID_Update_Archived]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Rory
-- Create date:	2020-11-06
-- Description:	On the morning of a newsletter deployemnt, update the LionSendIDs of customers if they do / do not meet the criteria for a test group
-- =============================================

CREATE PROCEDURE [Email].[__NewsletterTesting_LionSendID_Update_Archived]
AS
BEGIN

	SET NOCOUNT ON;
	
/*******************************************************************************************************************************************
	1.	Fetch eligible customers
*******************************************************************************************************************************************/

	DECLARE	@EmailDate DATE
		,	@Today DATE = GETDATE()
		,	@CheckDate DATETIME = DATEADD(DAY, 0, GETDATE())

	SELECT @EmailDate = GETDATE()
	--FROM [Staging].[R_0183_LionSendVolumesCheck]
	--WHERE UsersUploadedSFD IS NULL

	IF @EmailDate IS NULL RETURN
	
	IF OBJECT_ID('tempdb..#EmailSendIDs') IS NOT NULL DROP TABLE #EmailSendIDs;
	SELECT	EmailType
		,	ID
	INTO #EmailSendIDs
	FROM [WH_AllPublishers].[Email].[EmailSend]
	WHERE Scheme = 'MyRewards'
	AND EmailType IN ('Newsletter - Full Generic',  'Newsletter - Full Dynamic')
	AND EmailSendDate = @EmailDate
	
	IF OBJECT_ID('tempdb..#EmailSend') IS NOT NULL DROP TABLE #EmailSend;
	SELECT	MAX(CASE
					WHEN EmailType = 'Newsletter - Full Generic' THEN ID
				END) AS LionSendID_Generic
		,	MAX(CASE
					WHEN EmailType = 'Newsletter - Full Dynamic' THEN ID
					ELSE ID
				END) AS LionSendID_Dynamic
	INTO #EmailSend
	FROM #EmailSendIDs
		
	IF OBJECT_ID('tempdb..#Customer') IS NOT NULL DROP TABLE #Customer;
	SELECT	cu.FanID
		,	cu.CompositeID
		,	dd.CashbackAvailable
		,	CASE
				WHEN cu.CashbackAvailable >= 14 THEN LionSendID_Dynamic
				ELSE LionSendID_Generic
			END AS LionSendID
	INTO #Customer
	FROM [Email].[DailyData] dd
	INNER JOIN [Derived].[Customer] cu
		ON dd.FanID = cu.FanID
	CROSS JOIN #EmailSend es
	WHERE NOT EXISTS (	SELECT 1
						FROM [Warehouse].[SmartEmail].[SubjectLineTest_TestGroupControlGroup_20200610] slt
						WHERE dd.FanID = slt.FanID)
						
	CREATE CLUSTERED INDEX CIX_CompositeID ON #Customer (CompositeID)
	CREATE NONCLUSTERED INDEX IX_FanID ON #Customer (FanID)

/*******************************************************************************************************************************************
	2.	Update tables in the Lion Schema
*******************************************************************************************************************************************/

	UPDATE ls
	SET ls.LionSendID = COALESCE(cu.LionSendID, 0)
	FROM [Email].[NominatedLionSendComponent] ls
	INNER JOIN #Customer cu
		ON ls.CompositeID = cu.CompositeID
	WHERE ls.LionSendID != cu.LionSendID
	AND EXISTS (	SELECT 1
					FROM #EmailSendIDs esi
					WHERE ls.LionSendID = esi.id)

	UPDATE ls
	SET ls.LionSendID = COALESCE(cu.LionSendID, 0)
	FROM [Email].[NominatedLionSendComponent_RedemptionOffers] ls
	INNER JOIN #Customer cu
		ON ls.CompositeID = cu.CompositeID
	WHERE ls.LionSendID != cu.LionSendID
	AND EXISTS (	SELECT 1
					FROM #EmailSendIDs esi
					WHERE ls.LionSendID = esi.ID)


/*******************************************************************************************************************************************
	3.	Update tables in the SmartEmail
*******************************************************************************************************************************************/

	UPDATE osd
	SET osd.LionSendID = COALESCE(cu.LionSendID, 0)
	FROM [Email].[OfferSlotData_GUID] osd
	LEFT JOIN #Customer cu
		ON osd.FanID = cu.FanID
	WHERE osd.LionSendID != cu.LionSendID
	AND EXISTS (	SELECT 1
					FROM #EmailSendIDs esi
					WHERE osd.LionSendID = esi.ID)

	UPDATE osd
	SET osd.LionSendID = COALESCE(cu.LionSendID, 0)
	FROM [Email].[RedeemOfferSlotData] osd
	INNER JOIN #Customer cu
		ON osd.FanID = cu.FanID
	WHERE osd.LionSendID != cu.LionSendID
	AND EXISTS (	SELECT 1
					FROM #EmailSendIDs esi
					WHERE osd.LionSendID = esi.ID)

END
GO
