USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Inbound].[S3FileNames_Update]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Inbound].[S3FileNames_Update]	@Script NVARCHAR(4000)
AS
BEGIN

	--	DECLARE @Script NVARCHAR(4000);

		DROP TABLE IF EXISTS #Output;
		CREATE TABLE #Output ([Message] VARCHAR(MAX))

		INSERT #Output
		EXEC xp_cmdshell @Script

END
GO
