USE [WH_NWG]
GO
/****** Object:  StoredProcedure [IOB].[CreateTable_IronOfferBatchLink_WithPartitioning]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ChrisM
-- Create date: 14/05/2024
-- Description:	Definition of the IronOfferBatchLink table
-- =============================================
CREATE PROCEDURE [IOB].[CreateTable_IronOfferBatchLink_WithPartitioning]
AS


DROP TABLE IF EXISTS [dbo].[IronOfferBatchLink];
CREATE TABLE [dbo].[IronOfferBatchLink] (
	IOB_ID INT NOT NULL,
	CompositeID BIGINT NOT NULL, 
 CONSTRAINT [PK_IronOfferBatchLink] PRIMARY KEY CLUSTERED 
	([IOB_ID] ASC, [CompositeID] ASC)
	WITH (FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [IronOfferBatchLink_PS] (IOB_ID)
) ON [IronOfferBatchLink_PS] (IOB_ID);

-- Partition-aligned index. Without the ON clause, the index defaults to partition-aligned, not to PRIMARY.
CREATE INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink] (CompositeID, IOB_ID) WITH (DATA_COMPRESSION = PAGE, FILLFACTOR = 90) ON [IronOfferBatchLink_PS] (IOB_ID);


-----------------------------------------------------------------------------
-- 4 Shadow tables
-----------------------------------------------------------------------------
DROP TABLE IF EXISTS [dbo].[IronOfferBatchLink_Shadow_1];
CREATE TABLE [dbo].[IronOfferBatchLink_Shadow_1] (
	IOB_ID INT NOT NULL,
	CompositeID BIGINT NOT NULL, 
 CONSTRAINT [PK_IronOfferBatchLink_Shadow_1] PRIMARY KEY CLUSTERED 
	([IOB_ID] ASC, [CompositeID] ASC)
	WITH (FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY];

CREATE INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink_Shadow_1] (CompositeID, IOB_ID) WITH (DATA_COMPRESSION = PAGE, FILLFACTOR = 90) ON [PRIMARY] 

-- Upper bound of constraint is changed at load time
ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_1]  
	WITH CHECK ADD CONSTRAINT [CHK_IronOfferBatchLink_Shadow_1] CHECK ([IOB_ID] > 0 AND [IOB_ID] < 93936);

ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_1] 
	CHECK CONSTRAINT [CHK_IronOfferBatchLink_Shadow_1];

---------------------------------------------------------------------------------

DROP TABLE IF EXISTS [dbo].[IronOfferBatchLink_Shadow_2];
CREATE TABLE [dbo].[IronOfferBatchLink_Shadow_2] (
	IOB_ID INT NOT NULL,
	CompositeID BIGINT NOT NULL, 
 CONSTRAINT [PK_IronOfferBatchLink_Shadow_2] PRIMARY KEY CLUSTERED 
	([IOB_ID] ASC, [CompositeID] ASC)
	WITH (FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY];

CREATE INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink_Shadow_2] (CompositeID, IOB_ID) WITH (DATA_COMPRESSION = PAGE, FILLFACTOR = 90) ON [PRIMARY] 

ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_2]  
	WITH CHECK ADD CONSTRAINT [CHK_IronOfferBatchLink_Shadow_2] CHECK ([IOB_ID] > 0 AND [IOB_ID] < 93936);

ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_2] 
	CHECK CONSTRAINT [CHK_IronOfferBatchLink_Shadow_2];

-----------------------------------------------------------------------------------------

DROP TABLE IF EXISTS [dbo].[IronOfferBatchLink_Shadow_3];
CREATE TABLE [dbo].[IronOfferBatchLink_Shadow_3] (
	IOB_ID INT NOT NULL,
	CompositeID BIGINT NOT NULL, 
 CONSTRAINT [PK_IronOfferBatchLink_Shadow_3] PRIMARY KEY CLUSTERED 
	([IOB_ID] ASC, [CompositeID] ASC)
	WITH (FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY];

CREATE INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink_Shadow_3] (CompositeID, IOB_ID) WITH (DATA_COMPRESSION = PAGE, FILLFACTOR = 90) ON [PRIMARY] 

ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_3]  
	WITH CHECK ADD CONSTRAINT [CHK_IronOfferBatchLink_Shadow_3] CHECK ([IOB_ID] > 0 AND [IOB_ID] < 93936);

ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_3] 
	CHECK CONSTRAINT [CHK_IronOfferBatchLink_Shadow_3];

------------------------------------------------------------------------------------------

DROP TABLE IF EXISTS [dbo].[IronOfferBatchLink_Shadow_4];
CREATE TABLE [dbo].[IronOfferBatchLink_Shadow_4] (
	IOB_ID INT NOT NULL,
	CompositeID BIGINT NOT NULL, 
 CONSTRAINT [PK_IronOfferBatchLink_Shadow_4] PRIMARY KEY CLUSTERED 
	([IOB_ID] ASC, [CompositeID] ASC)
	WITH (FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY];

CREATE INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink_Shadow_4] (CompositeID, IOB_ID) WITH (DATA_COMPRESSION = PAGE, FILLFACTOR = 90) ON [PRIMARY] 

ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_4]  
	WITH CHECK ADD CONSTRAINT [CHK_IronOfferBatchLink_Shadow_4] CHECK ([IOB_ID] > 0 AND [IOB_ID] < 93936);

ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_4] 
	CHECK CONSTRAINT [CHK_IronOfferBatchLink_Shadow_4];


RETURN 0
GO
