USE [WH_NWG]
GO
/****** Object:  StoredProcedure [IOB].[CreatePartitioningStuff]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ChrisM
-- Create date: 14/05/2024
-- Description:	
-- Creating a RANGE LEFT partition function on an INT column
-- https://learn.microsoft.com/en-us/sql/t-sql/statements/create-partition-function-transact-sql?view=sql-server-ver16
-- =============================================
CREATE PROCEDURE [IOB].[CreatePartitioningStuff] 
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON;

DECLARE @Time DATETIME = GETDATE(), @Msg VARCHAR(2048) = '', @RowsAffected INT, @SSMS BIT = 1;
EXEC dbo.sp_TimerMessage2 'Started script', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;

IF 0 = 1 BEGIN
	DROP TABLE IF EXISTS [dbo].[IronOfferBatchLink];
	DROP PARTITION SCHEME [IronOfferBatchLink_PS];
	DROP PARTITION FUNCTION IronOfferBatchLink_PF;
END

DROP TABLE IF EXISTS #Partitions;
SELECT PartitionID, RangeStart = MIN(IOB_ID), RangeEnd = MAX(IOB_ID)
INTO #Partitions
FROM [dbo].[IronOfferBatch] 
GROUP BY PartitionID;
CREATE INDEX ix_Stuff ON #Partitions (RangeEnd) INCLUDE (PartitionID)

--SELECT * FROM #Partitions ORDER BY PartitionID;


-- Create the partition function using the first boundary value
DECLARE @PartitionValue INT = 0;

CREATE PARTITION FUNCTION IronOfferBatchLink_PF (INT) AS RANGE LEFT FOR VALUES (1);  

-- extend the partition function using the rest of the values
WHILE 1 = 1 BEGIN

	SELECT TOP(1) @PartitionValue = RangeEnd FROM #Partitions WHERE RangeEnd > @PartitionValue ORDER BY RangeEnd;
	IF @@ROWCOUNT = 0 BREAK

	ALTER PARTITION FUNCTION IronOfferBatchLink_PF() SPLIT RANGE (@PartitionValue);  

END

ALTER PARTITION FUNCTION IronOfferBatchLink_PF() MERGE RANGE (1);
ALTER PARTITION FUNCTION IronOfferBatchLink_PF() SPLIT RANGE (2147483647);



-- Check the new partitions
DROP TABLE IF EXISTS #PartitionRanges;
SELECT 
	PartitionID = boundary_id, 
	[Range > Start] = ISNULL(LAG(CAST([value] AS INT),1) OVER(ORDER BY boundary_id),0),
	[Range <= End] = CAST([value] AS INT)
INTO #PartitionRanges
FROM sys.partition_range_values prv  
INNER JOIN sys.partition_functions pf    
	ON pf.function_id = prv.function_id  
WHERE pf.[Name] = 'IronOfferBatchLink_PF'; 

SELECT * FROM #PartitionRanges

SELECT 
	PartitionID, 
	LoadBatch = ntile(4) OVER(ORDER BY PartitionID),
	MIN_IOB_ID = MIN(IOB_ID), 
	MAX_IOB_ID = MAX(IOB_ID), 
	[RowsInIOM] = SUM(CAST([ROWCOUNT] AS BIGINT))
FROM [dbo].[IronOfferBatch] 
GROUP BY PartitionID
ORDER BY PartitionID;




-- Create the partition scheme
CREATE PARTITION SCHEME [IronOfferBatchLink_PS] AS PARTITION [IronOfferBatchLink_PF] ALL TO ([PRIMARY]);



-- Data verification
-- Get the boundary IOB_ID values of the partition function
SELECT *
FROM #PartitionRanges p
FULL OUTER JOIN (
	SELECT 
		PartitionID, 
		MIN_IOB_ID = MIN(IOB_ID), 
		MAX_IOB_ID = MAX(IOB_ID), 
		rc = SUM([RowCount])
	FROM [dbo].[IronOfferBatch] 
	GROUP BY PartitionID
) x
ON x.PartitionID = p.PartitionID
ORDER BY p.PartitionID


RETURN 0
GO
