USE [WH_NWG]
GO
/****** Object:  StoredProcedure [IOB].[CleanStart]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [IOB].[CleanStart] AS

IF 0 = 1 BEGIN
	DROP TABLE IF EXISTS [dbo].[IronOfferBatchLink];
	DROP PARTITION SCHEME [IronOfferBatchLink_PS];
	DROP PARTITION FUNCTION IronOfferBatchLink_PF;
END

EXEC [iob].[CreateTable_IronOfferBatch];

EXEC [iob].[CreatePartitioningStuff];

EXEC [iob].[CreateTable_IronOfferBatchLink_WithPartitioning];

EXEC [iob].[LoadTable_IronOfferBatchLink_WithPartitioning_Batch1]

/* Run these in separate query windows for parallel loading
EXEC [dbo].[LoadTable_IronOfferBatchLink_WithPartitioning_Batch2]
EXEC [dbo].[LoadTable_IronOfferBatchLink_WithPartitioning_Batch3]
EXEC [dbo].[LoadTable_IronOfferBatchLink_WithPartitioning_Batch4]
*/


RETURN 0



GO
