USE [WH_NWG]
GO
/****** Object:  StoredProcedure [IOB].[CreateTable_IronOfferBatch]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ChrisM
-- Create date: 14/05/2024
-- Description:	Definition of the IronOfferBatch table
-- =============================================
CREATE PROCEDURE [IOB].[CreateTable_IronOfferBatch]
AS
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

IF 1 = 1 BEGIN
	DROP TABLE IF EXISTS [dbo].[IronOfferBatch];
	CREATE TABLE [dbo].[IronOfferBatch] (
		IOB_ID INT NOT NULL IDENTITY(1,1),
		PartnerID INT NOT NULL,
		IronOfferID INT NOT NULL, 
		StartDate DATETIME NOT NULL, 
		EndDate DATETIME NOT NULL,
		[RowCount] INT NOT NULL, 
		PartitionID INT NULL,
	CONSTRAINT pk_IronOfferBatch PRIMARY KEY(IOB_ID) WITH (DATA_COMPRESSION = PAGE) 
	);


	SET IDENTITY_INSERT [dbo].[IronOfferBatch] ON;
	INSERT INTO [dbo].[IronOfferBatch] WITH (TABLOCK)
		(IOB_ID, PartnerID, IronOfferID, StartDate, EndDate, [RowCount]) 
	SELECT 
		IOB_ID = CAST(ROW_NUMBER() OVER(ORDER BY d.IronOfferID, d.StartDate, d.EndDate) AS INT),
		o.PartnerID,
		d.IronOfferID, 
		d.StartDate, 
		d.EndDate,
		d.[RowCount]
	FROM (
		SELECT 
			IronOfferID, 
			StartDate = ISNULL(StartTime, '19000101'), 
			EndDate = ISNULL(EndTime, '21000101'),
			[RowCount] = COUNT(*)
		FROM [Warehouse].[Relational].[IronOfferMember_Archive_V3]
		GROUP BY IronOfferID, StartTime, EndTime
	) d
	INNER JOIN [Warehouse].[Relational].[IronOffer] o 
		ON o.IronOfferID = d.IronOfferID
	ORDER BY IOB_ID;
	SET IDENTITY_INSERT [dbo].[IronOfferBatch] OFF;
	-- (141,238 rows affected) / 00:15:44

	CREATE INDEX ix_IronOfferID ON [dbo].[IronOfferBatch] (IronOfferID, StartDate) INCLUDE (EndDate) WITH (DATA_COMPRESSION = PAGE) ON WH_NWG_indexes;
END


----------------------------------
-- Populate the PartitionID column
----------------------------------
DROP TABLE IF EXISTS #LoadRanges;
SELECT PartitionID = ROW_NUMBER() OVER (ORDER BY ACCUM), 
	rangestart = MIN(IOB_ID), 
	RangeEnd = MAX(IOB_ID), 
	[ROWCOUNT] = sum([ROWCOUNT])
INTO #LoadRanges
FROM (
	SELECT IOB_ID, [ROWCOUNT], ACCUM = (SUM(CAST([ROWCOUNT] AS BIGINT)) OVER(ORDER BY IOB_ID))/250000000
	FROM [dbo].[IronOfferBatch] d
) e
GROUP BY ACCUM;
-- (9 rows affected)

--SELECT * FROM #LoadRanges

UPDATE iob SET PartitionID = p.PartitionID
FROM [dbo].[IronOfferBatch] iob
INNER JOIN #LoadRanges p 
	ON iob.IOB_ID BETWEEN p.rangestart AND p.RangeEnd
-- (262,872 rows affected) / 00:00:02


-- In a few edge cases, an IronOfferID will appear in two partitions.
-- Here's the fix - set them to be in the partition in which they first appear
UPDATE iob SET PartitionID = c.MIN_PartitionID
FROM [dbo].[IronOfferBatch] iob
INNER JOIN (
	SELECT IronOfferID, MIN_PartitionID = MIN(PartitionID) --, MAX_PartitionID = MAX(PartitionID)
	FROM (
		SELECT IronOfferID, PartitionID, CNT = COUNT(*) OVER(PARTITION BY IronOfferID)
		FROM [dbo].[IronOfferBatch]
		GROUP BY IronOfferID, PartitionID
	) d
	WHERE CNT > 1
	GROUP BY IronOfferID
) c
ON c.IronOfferID = iob.IronOfferID AND c.MIN_PartitionID = iob.PartitionID;
-- (18 rows affected) / 00:00:00


-- Check for IOB_ID in the wrong partition i.e. out of sequence
SELECT *
FROM (
	SELECT 
		PartitionID, 
		MIN_IOB_ID = MIN(IOB_ID), 
		MAX_IOB_ID = MAX(IOB_ID)
	FROM [dbo].[IronOfferBatch] 
	GROUP BY PartitionID
) d
CROSS APPLY (
	SELECT b.PartitionID, b.IOB_ID 
	FROM [dbo].[IronOfferBatch] b 
	WHERE b.IOB_ID BETWEEN d.MIN_IOB_ID and d.MAX_IOB_ID
	AND b.PartitionID <> d.PartitionID
) x; 
-- 0 / 00:00:00

-- Eyeball the final results
SELECT 
	PartitionID, 
	LoadBatch = ntile(4) OVER(ORDER BY PartitionID),
	MIN_IOB_ID = MIN(IOB_ID), 
	MAX_IOB_ID = MAX(IOB_ID), 
	[RowsInIOM] = SUM(CAST([ROWCOUNT] AS BIGINT))
FROM [dbo].[IronOfferBatch] 
GROUP BY PartitionID
ORDER BY PartitionID;
-- (9 rows affected)

-- 1 - 3
-- 4 - 5
-- 6 - 7
-- 8 - 9

RETURN 0











GO
