USE [WH_NWG]
GO
/****** Object:  StoredProcedure [IOB].[LoadTable_IronOfferBatchLink_BAU_Model]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
This sp hasn't been tailored for IronOfferMember_Archive_V3
*/
	CREATE PROCEDURE [IOB].[LoadTable_IronOfferBatchLink_BAU_Model]

as

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON;

DECLARE @Time DATETIME = GETDATE(), @Msg VARCHAR(2048) = '', @RowsAffected INT, @SSMS BIT = 1;
EXEC dbo.sp_TimerMessage2 'Started script', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;


-- Mockup of new data coming in
DROP TABLE IF EXISTS #SLC_REPL_IronOfferMember;
SELECT 
	IOB_ID = CAST(NULL AS INT),
	PartnerID = CAST(NULL AS INT),
	d.IronOfferID, 
	d.StartDate, 
	d.EndDate,
	d.[RowCount]
INTO #SLC_REPL_IronOfferMember
FROM (
	SELECT 
		IronOfferID, 
		StartDate = ISNULL(StartDate, '19000101'), 
		EndDate = ISNULL(EndDate, '21000101'),
		[RowCount] = COUNT(*)
	FROM [SLC_REPL].[dbo].[IronOfferMember]
	GROUP BY IronOfferID, StartDate, EndDate
) d;
SET @RowsAffected = @@ROWCOUNT;
CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #SLC_REPL_IronOfferMember (IronOfferID, StartDate, EndDate);
EXEC dbo.sp_TimerMessage2 'Collected extract of incoming data', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;
-- (165,595 rows affected) / 00:15:17

/*
-- Fetch rows where customer count against an existing IOB has changed
SELECT o.*, '#' '#', n.*
FROM (SELECT * FROM #SLC_REPL_IronOfferMember WHERE StartDate > '2023-01-01 00:00:00.000') n
INNER JOIN [dbo].[IronOfferBatch] o
	ON n.IronOfferID = o.IronOfferID
	AND n.StartDate = o.StartDate 
	AND n.EndDate = o.EndDate
WHERE (n.[RowCount] <> o.[RowCount])
ORDER BY ISNULL(n.IronOfferID, o.IronOfferID), ISNULL(n.StartDate, o.StartDate), ISNULL(n.EndDate, o.EndDate);
EXEC dbo.sp_TimerMessage2 'customer count against an existing IOB has changed', @@ROWCOUNT, @Time OUTPUT, @SSMS OUTPUT;
-- 329
*/



--------------------------------------------------------------------------------------
-- INSERT section
--------------------------------------------------------------------------------------
-- Fetch new IOB's
DROP TABLE IF EXISTS #Inserts;
SELECT n.*, PartitionID = CAST(NULL AS INT)
INTO #Inserts
FROM (SELECT * FROM #SLC_REPL_IronOfferMember WHERE StartDate > '2023-01-01 00:00:00.000') n
WHERE NOT EXISTS (
	SELECT 1 FROM [dbo].[IronOfferBatch] o
	WHERE n.IronOfferID = o.IronOfferID
	AND n.StartDate = o.StartDate 
	AND n.EndDate = o.EndDate
);
EXEC dbo.sp_TimerMessage2 'Fetch new IOBs from the incoming data', @@ROWCOUNT, @Time OUTPUT, @SSMS OUTPUT;
-- (20,195 rows affected)


BEGIN TRANSACTION
-- Calculate IOB_ID for each row then insert into IronOfferBatch
DECLARE @MaxIOB_ID INT; 
SELECT @MaxIOB_ID = IDENT_CURRENT( 'dbo.IronOfferBatch'); SELECT @MaxIOB_ID; -- 262872

;WITH Updater AS (
	SELECT IOB_ID, New_IOB_ID = @MaxIOB_ID + ROW_NUMBER() OVER(ORDER BY IronOfferID, StartDate, EndDate)
	FROM #Inserts
)
UPDATE Updater SET IOB_ID = New_IOB_ID
-- (20,195 rows affected)

-- Insert the new rows
SET IDENTITY_INSERT [dbo].[IronOfferBatch] ON;
INSERT INTO [dbo].[IronOfferBatch] (IOB_ID, IronOfferID, StartDate, EndDate, [RowCount])
SELECT IOB_ID, IronOfferID, StartDate, EndDate, [RowCount] 
FROM #Inserts 
ORDER BY IOB_ID;
SET @RowsAffected = @@ROWCOUNT;
SET IDENTITY_INSERT [dbo].[IronOfferBatch] OFF;
EXEC dbo.sp_TimerMessage2 'New IOBs inserted into IronOfferBatch', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;
-- (20195 rows affected) / 00:00:01
COMMIT TRANSACTION


-- Set the PartitionID for the new rows. Each partition to contain about 250M rows.
DECLARE @MaxPartitionID INT; 
SELECT @MaxPartitionID = Max(PartitionID) FROM [dbo].[IronOfferBatch];

;WITH Updater AS (
	SELECT IOB_ID, PartitionID, NewPartitionID = CASE WHEN RowCount_RT = 0 THEN @MaxPartitionID ELSE RowCount_RT + @MaxPartitionID END 
	FROM (
		SELECT *, RowCount_RT = SUM(CAST([RowCount] AS BIGINT)) OVER(ORDER BY IOB_ID) / 250000000
		FROM [dbo].[IronOfferBatch] WHERE PartitionID IS NULL OR PartitionID = @MaxPartitionID
	) d
)
UPDATE Updater SET PartitionID = NewPartitionID WHERE PartitionID IS NULL;
-- (20195 rows affected)

-- Write the PartitionIDs back into the staging table
UPDATE i SET PartitionID = iob.PartitionID
FROM #Inserts i
INNER JOIN [dbo].[IronOfferBatch] iob ON iob.IOB_ID = i.IOB_ID
EXEC dbo.sp_TimerMessage2 'Write the new PartitionIDs back into the staging table', @@ROWCOUNT, @Time OUTPUT, @SSMS OUTPUT;
-- (20195 rows affected)


-- Create new partitions if necessary
DROP TABLE IF EXISTS #NewPartitions;
SELECT *
INTO #NewPartitions
FROM (
	SELECT 
		PartitionID, 
		RangeEnd = MAX(IOB_ID),
		rn = ROW_NUMBER() OVER (ORDER BY PartitionID DESC)
	FROM #Inserts 
	WHERE PartitionID >= @MaxPartitionID
	GROUP BY PartitionID
) d 
WHERE rn > 1;


-- (2 rows affected)

-- extend the partition function using the rest of the values
DECLARE @PartitionValue INT = 0;
WHILE 1 = 1 AND (SELECT COUNT(*) FROM #Inserts) > 0 BEGIN

	SELECT TOP(1) @PartitionValue = RangeEnd FROM #NewPartitions WHERE RangeEnd > @PartitionValue ORDER BY RangeEnd;
	IF @@ROWCOUNT = 0 BREAK
	--PRINT @PartitionValue

	ALTER PARTITION SCHEME [IronOfferBatchLink_PS] NEXT USED [PRIMARY];  
	ALTER PARTITION FUNCTION IronOfferBatchLink_PF() SPLIT RANGE (@PartitionValue);  

END
EXEC dbo.sp_TimerMessage2 'Creating new partitions ', @@ROWCOUNT, @Time OUTPUT, @SSMS OUTPUT;

-- 00:03:46




--------------------------------------------------------------
-- The #Inserts table can now be used to load data to IronOfferBatchLink
--------------------------------------------------------------

-- DECLARE @Time DATETIME = GETDATE(), @Msg VARCHAR(2048) = '', @RowsAffected INT, @SSMS BIT = 1;
EXEC dbo.sp_TimerMessage2 'Started script', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;


-- Get the boundary IOB_ID values of the partition function
DROP TABLE IF EXISTS #PartitionRanges;
SELECT 
	PartitionID = boundary_id, 
	[Range > Start] = ISNULL(LAG(CAST([value] AS INT),1) OVER(ORDER BY boundary_id),0),
	[Range <= End] = CAST([value] AS INT)
INTO #PartitionRanges
FROM sys.partition_range_values prv  
INNER JOIN sys.partition_functions pf    
	ON pf.function_id = prv.function_id  
WHERE pf.[Name] = 'IronOfferBatchLink_PF'; 
-- (128 rows affected)

-- Capture rows which have NULL dates in the original
DROP TABLE IF EXISTS #Batcher2;
SELECT *
INTO #Batcher2
FROM #Inserts
WHERE StartDate = '19000101' OR EndDate = '21000101';
SET @RowsAffected = @@ROWCOUNT;
CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #Batcher2 (PartitionID, IOB_ID);
EXEC dbo.sp_TimerMessage2 '#Batcher2 NULL dates', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT; 
-- (4513 rows affected)




EXEC dbo.sp_TimerMessage2 'Starting inserts', NULL, @Time OUTPUT, @SSMS OUTPUT;
DECLARE @PartitionID INT = 0, @strPartitionID varchar(5), @RangeStart VARCHAR(10), @RangeEnd VARCHAR(10);
WHILE 1 = 1 BEGIN

	SELECT TOP 1 @PartitionID = PartitionID FROM #Inserts WHERE PartitionID > @PartitionID ORDER BY PartitionID;
	IF @@ROWCOUNT = 0 BREAK;

	
	DROP TABLE IF EXISTS #Batcher;
	SELECT * 
	INTO #Batcher
	FROM #Inserts 
	WHERE PartitionID = @PartitionID;
	SET @RowsAffected = @@ROWCOUNT;
	IF @RowsAffected = 0 BREAK;
	CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #Batcher (PartitionID, IOB_ID);
	--EXEC dbo.sp_TimerMessage2 '#Batcher', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;


	TRUNCATE TABLE [dbo].[IronOfferBatchLink_Shadow_1];
	ALTER INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink_Shadow_1] DISABLE;
	ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_1] DROP CONSTRAINT [CHK_IronOfferBatchLink_Shadow_1];
	SELECT @RangeStart = [Range > Start], @RangeEnd = [Range <= End] FROM #PartitionRanges WHERE PartitionID = @PartitionID;
	EXEC('ALTER TABLE dbo.IronOfferBatchLink_Shadow_1 WITH CHECK ADD CONSTRAINT [CHK_IronOfferBatchLink_Shadow_1] CHECK ([IOB_ID] > ' + @RangeStart + ' AND [IOB_ID] <= ' + @RangeEnd + ')');

	-- SWITCH
	EXEC('ALTER TABLE dbo.IronOfferBatchLink SWITCH PARTITION ' + @PartitionID + ' TO dbo.IronOfferBatchLink_Shadow_1');


	INSERT INTO [dbo].[IronOfferBatchLink_Shadow_1] WITH (TABLOCK) 
		(CompositeID, IOB_ID)
	SELECT iom.CompositeID, b.IOB_ID
	FROM [SLC_REPL].[dbo].[IronOfferMember] iom
	INNER JOIN #Batcher b 
		ON b.IronOfferID = iom.IronOfferID
		AND b.StartDate = iom.StartDate
		AND b.EndDate = iom.EndDate
	WHERE b.PartitionID = @PartitionID
	ORDER BY IOB_ID, CompositeID
	OPTION(RECOMPILE);
	SET @RowsAffected = @@ROWCOUNT; SET @Msg = 'Batch ' + CAST(@PartitionID AS VARCHAR(3));
	EXEC dbo.sp_TimerMessage2 @Msg, @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;


	INSERT INTO [dbo].[IronOfferBatchLink_Shadow_1] WITH (TABLOCK) 
		(CompositeID, IOB_ID)
	SELECT iom.CompositeID, b.IOB_ID
	FROM [SLC_REPL].[dbo].[IronOfferMember] iom
	INNER JOIN #Batcher2 b 
		ON b.IronOfferID = iom.IronOfferID
		AND b.StartDate = iom.StartDate
		AND b.EndDate = '21000101' AND iom.EndDate IS NULL
	WHERE b.PartitionID = @PartitionID 
	ORDER BY IOB_ID, CompositeID;
	SET @RowsAffected = @@ROWCOUNT; SET @Msg = 'Batch ' + CAST(@PartitionID AS VARCHAR(3)) + ' nulls';
	EXEC dbo.sp_TimerMessage2 @Msg, @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;


	ALTER INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink_Shadow_1] REBUILD WITH (SORT_IN_TEMPDB = ON, DATA_COMPRESSION = PAGE);
	EXEC dbo.sp_TimerMessage2 'Index rebuilt', NULL, @Time OUTPUT, @SSMS OUTPUT;

	EXEC('ALTER TABLE dbo.IronOfferBatchLink_Shadow_1 SWITCH TO dbo.IronOfferBatchLink PARTITION ' + @PartitionID);
	


END
-- 01:02:00 for 560 million rows across 3 partitions



--------------------------------------------------------------------------
-- quick and dirty, update the [Rowcount] column of [dbo].[IronOfferBatch]
--------------------------------------------------------------------------
UPDATE iob SET [RowCount] = x.cnt
FROM dbo.IronOfferBatch iob
INNER JOIN #Inserts i ON i.IOB_ID = iob.IOB_ID
CROSS APPLY (
	SELECT cnt = COUNT(*)
	FROM dbo.IronOfferBatchLink l WITH (FORCESEEK)
	WHERE l.IOB_ID = iob.IOB_ID
) x
WHERE x.cnt <> iob.[RowCount];
-- (0 rows affected)


RETURN 0
GO
