USE [WH_NWG]
GO
/****** Object:  StoredProcedure [IOB].[LoadTable_IronOfferBatchLink_WithPartitioning_Batch3]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ChrisM
-- Create date: 14/05/2024
-- Description:	
-- =============================================
CREATE PROCEDURE [IOB].[LoadTable_IronOfferBatchLink_WithPartitioning_Batch3] 
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON;

DECLARE @Time DATETIME = GETDATE(), @Msg VARCHAR(2048) = '', @RowsAffected INT, @SSMS BIT = 1;
EXEC dbo.sp_TimerMessage2 'Started script', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;



-- Get the boundary IOB_ID values of the partition function
DROP TABLE IF EXISTS #PartitionRanges;
SELECT 
	PartitionID = boundary_id, 
	[Range > Start] = ISNULL(LAG(CAST([value] AS INT),1) OVER(ORDER BY boundary_id),0),
	[Range <= End] = CAST([value] AS INT)
INTO #PartitionRanges
FROM sys.partition_range_values prv  
INNER JOIN sys.partition_functions pf    
	ON pf.function_id = prv.function_id  
WHERE pf.[Name] = 'IronOfferBatchLink_PF'; 


DROP TABLE IF EXISTS #Batcher2;
SELECT *
INTO #Batcher2
FROM [dbo].[IronOfferBatch]
WHERE StartDate = '19000101' OR EndDate = '21000101';
SET @RowsAffected = @@ROWCOUNT;
CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #Batcher2 (PartitionID, IOB_ID);
EXEC dbo.sp_TimerMessage2 '#Batcher2', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT; 
-- 13,663


EXEC dbo.sp_TimerMessage2 'Starting test, 2 batches', NULL, @Time OUTPUT, @SSMS OUTPUT;
--  1 - 32, 33 - 64, 65 - 95, 96 - 126
DECLARE @PartitionRangeStart INT = 6, @PartitionRangeEnd INT = 7;
DECLARE @PartitionID INT = @PartitionRangeStart, @strPartitionID varchar(5), @RangeStart VARCHAR(10), @RangeEnd VARCHAR(10);
WHILE 1 = 1 BEGIN
	
	DROP TABLE IF EXISTS #Batcher;
	SELECT * 
	INTO #Batcher
	FROM [dbo].[IronOfferBatch] 
	WHERE PartitionID = @PartitionID;
	SET @RowsAffected = @@ROWCOUNT;
	IF @RowsAffected = 0 BREAK;
	CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #Batcher (PartitionID, IOB_ID);
	--EXEC dbo.sp_TimerMessage2 '#Batcher', @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;



	TRUNCATE TABLE [dbo].[IronOfferBatchLink_Shadow_3];
	ALTER INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink_Shadow_3] DISABLE;
	ALTER TABLE [dbo].[IronOfferBatchLink_Shadow_3] DROP CONSTRAINT [CHK_IronOfferBatchLink_Shadow_3];
	SELECT @RangeStart = [Range > Start], @RangeEnd = [Range <= End] FROM #PartitionRanges WHERE PartitionID = @PartitionID;
	EXEC('ALTER TABLE dbo.IronOfferBatchLink_Shadow_3 WITH CHECK ADD CONSTRAINT [CHK_IronOfferBatchLink_Shadow_3] CHECK ([IOB_ID] > ' + @RangeStart + ' AND [IOB_ID] <= ' + @RangeEnd + ')');



	INSERT INTO [dbo].[IronOfferBatchLink_Shadow_3] WITH (TABLOCK) 
		(CompositeID, IOB_ID)
	SELECT iom.CompositeID, b.IOB_ID
	FROM [Warehouse].[Relational].[IronOfferMember_Archive_V3] iom
	INNER JOIN #Batcher b 
		ON b.IronOfferID = iom.IronOfferID
		AND b.StartDate = iom.StartTime
		AND b.EndDate = iom.EndTime
	WHERE b.PartitionID = @PartitionID
	ORDER BY IOB_ID, CompositeID
	OPTION(RECOMPILE);
	SET @RowsAffected = @@ROWCOUNT; SET @Msg = 'Batch ' + CAST(@PartitionID AS VARCHAR(3));
	EXEC dbo.sp_TimerMessage2 @Msg, @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;


	INSERT INTO [dbo].[IronOfferBatchLink_Shadow_3] WITH (TABLOCK) 
		(CompositeID, IOB_ID)
	SELECT iom.CompositeID, b.IOB_ID
	FROM [Warehouse].[Relational].[IronOfferMember_Archive_V3] iom
	INNER JOIN #Batcher2 b 
		ON b.IronOfferID = iom.IronOfferID
		AND b.StartDate = iom.StartTime
		AND b.EndDate = '21000101' AND iom.EndTime IS NULL
	WHERE b.PartitionID = @PartitionID 
	ORDER BY IOB_ID, CompositeID;
	SET @RowsAffected = @@ROWCOUNT; SET @Msg = 'Batch ' + CAST(@PartitionID AS VARCHAR(3)) + ' nulls';
	EXEC dbo.sp_TimerMessage2 @Msg, @RowsAffected, @Time OUTPUT, @SSMS OUTPUT;


	ALTER INDEX ix_CompositeID ON [dbo].[IronOfferBatchLink_Shadow_3] REBUILD WITH (SORT_IN_TEMPDB = ON, DATA_COMPRESSION = PAGE);
	EXEC dbo.sp_TimerMessage2 'Index rebuilt', NULL, @Time OUTPUT, @SSMS OUTPUT;
	EXEC('ALTER TABLE dbo.IronOfferBatchLink_Shadow_3 SWITCH TO dbo.IronOfferBatchLink PARTITION ' + @PartitionID);
	

	IF @PartitionID = @PartitionRangeEnd BREAK;
	SET @PartitionID = @PartitionID + 1;

END



RETURN 0
GO
