USE [WH_NWG]
GO
/****** Object:  StoredProcedure [MIDI].[CTDDL_CT_MyRewards_Load]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Migration changes 21/09/2021
Columnstore index is removed
*/

CREATE PROCEDURE [MIDI].[CTDDL_CT_MyRewards_Load]
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Fetch MyRewards customers
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #MyRewardsCustomers
		SELECT	DISTINCT
				bai.[BankAccountID]
		INTO #MyRewardsCustomers
		FROM [Derived].[BankAccountCustomerLinks] bacl
		INNER JOIN [WHB].[BankAccountIDs] bai
			ON bacl.[BankAccountGUID] = bai.[BankAccountGUID]
		WHERE EXISTS (	SELECT 1
						FROM [Derived].[Customer] cu
						WHERE cu.[CurrentlyActive] = 1
						AND bacl.[CustomerGUID] = cu.[CustomerGUID])
		AND bacl.[EndDate] IS NULL

		CREATE CLUSTERED INDEX [CIX_BankAccountID] ON #MyRewardsCustomers ([BankAccountID])

	/*******************************************************************************************************************************************
		2.	Insert to [Relational].[ConsumerTransaction_DD_MyRewards] on Mondays
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			2.1. Fetch all transactions 
		***********************************************************************************************************************/
	
			DROP TABLE IF EXISTS #MissingEntries
			SELECT	ct.[FileID]
				,	ct.[RowNum]
				,	ct.[ConsumerCombinationID_DD]
				,	ct.[TranDate]
				,	ct.[BankAccountID]
				,	ct.[FanID]
				,	ct.[Amount]
			INTO #MissingEntries
			FROM [Trans].[ConsumerTransaction_DD_All] ct
			WHERE EXISTS (	SELECT 1
							FROM #MyRewardsCustomers mrc
							WHERE ct.[BankAccountID] = mrc.[BankAccountID])
			AND NOT EXISTS (SELECT 1
							FROM [Trans].[ConsumerTransaction_DD] ctmr
							WHERE ct.[FileID] = ctmr.[FileID]
							AND ct.[RowNum] = ctmr.[RowNum])

			CREATE CLUSTERED INDEX [CIX_FileRow] ON #MissingEntries ([FileID], [RowNum], [TranDate])

		/***********************************************************************************************************************
			2.2. Add all new transactions to [Relational].[ConsumerTransaction_DD_MyRewards]
		***********************************************************************************************************************/

		--	IF INDEXPROPERTY(OBJECT_ID('[Relational].[ConsumerTransaction_DD_MyRewards]'), 'CSX_All', 'IndexId') IS NOT NULL BEGIN
		--		DROP INDEX [CSX_All] ON [Relational].[ConsumerTransaction_DD_MyRewards]
		--	END

			INSERT INTO [Trans].[ConsumerTransaction_DD] WITH (TABLOCK) (	[FileID]
																		,	[RowNum]
																		,	[ConsumerCombinationID_DD]
																		,	[TranDate]
																		,	[BankAccountID]
																		,	[FanID]
																		,	[Amount])
			SELECT	[FileID]
				,	[RowNum]
				,	[ConsumerCombinationID_DD]
				,	[TranDate]
				,	[BankAccountID]
				,	[FanID]
				,	[Amount]
			FROM #MissingEntries WITH (TABLOCK)
			ORDER BY	[FileID]
					,	[RowNum]
					,	[TranDate]

			--IF INDEXPROPERTY(OBJECT_ID('[Relational].[ConsumerTransaction_DD_MyRewards]'), 'CSX_All', 'IndexId') IS NULL
			--	BEGIN
			--		CREATE NONCLUSTERED COLUMNSTORE INDEX [CSX_All] ON [Relational].[ConsumerTransaction_DD_MyRewards] ([TranDate]
			--																										  , [FanID]
			--																										  , [Amount]
			--																										  , [ConsumerCombinationID_DD]
			--																										  , [BankAccountID])
			--	END

END
GO
