USE [WH_NWG]
GO
/****** Object:  StoredProcedure [MIDI].[GenericTransExtracter_DCTrans]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MIDI].[GenericTransExtracter_DCTrans]
AS
BEGIN

SET NOCOUNT ON
SET ANSI_WARNINGS OFF
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @ProcessName VARCHAR(50)
	,	@Activity VARCHAR(200)
	,	@time DATETIME = GETDATE()
	,	@SSMS BIT
	,	@RowsAffected INT

SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Start';
EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

WHILE (	SELECT	COUNT(*)
		FROM [MIDI].[FilesToProcess] ftp
		INNER JOIN [WHB].[Transaction_Files] f
			ON ftp.[FileID] = f.[ID]
			AND ftp.[FileName] = f.[FileName]
			AND ftp.[LoadDate] = f.[LoadDate]
		WHERE f.[TableName] = 'Transactions'
		AND COALESCE(ftp.[Processed_RowCount], 0) < ftp.[Imported_RowCount]) > 0

	BEGIN

	/*******************************************************************************************************************************************
		1.	Fetch the most recent file ID to process
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #FilesToProcess
		SELECT	TOP 1
				[FileID] = ftp.[FileID]
			,	[LoadDate] = f.[LoadDate]
			,	[FileName] = f.[FileName]
		INTO #FilesToProcess
		FROM [MIDI].[FilesToProcess] ftp
		INNER JOIN [WHB].[Transaction_Files] f
			ON ftp.[FileID] = f.[ID]
			AND ftp.[LoadDate] = f.[LoadDate]
			AND ftp.[FileName] = f.[FileName]
		WHERE f.[TableName] = 'Transactions'
		AND COALESCE(ftp.[Processed_RowCount], 0) < ftp.[Imported_RowCount]
		ORDER BY	f.[LoadDate]
				,	ftp.[FileID]

		SET @RowsAffected = @@ROWCOUNT

		IF @RowsAffected = 0 BEGIN
			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - No rows to process'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			RETURN
		END

		DECLARE @WorkWithFile VARCHAR(15) = (SELECT CONVERT(VARCHAR(15), MIN([FileID]),105) FROM #FilesToProcess)
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Start'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		2.	Fetch the most recent file data to process
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #CTLoad_InitialStage
		SELECT	tr.[FileID]
			,	tr.[RowNum]
			,	[TransactionID] = COALESCE(tr.[TransactionID], '')
			,	tr.[CustomerGUID]
			,	tr.[ExternalCustomerID]
			,	tr.[BankAccountGUID]
			,	tr.[CardGUID]
			,	tr.[TransactionDate]
			,	tr.[TransactionTime]
			,	[Amount] = CONVERT(DECIMAL(32,2), tr.[Amount])
			,	[CurrencyCode] = LTRIM(RTRIM(tr.[CurrencyCode]))
			,	[MerchantID] = LTRIM(RTRIM(tr.[MerchantID]))
			,	[Narrative] = LTRIM(RTRIM(tr.[Narrative]))
			,	[OriginatorID] = LTRIM(RTRIM(tr.[OriginatorID]))
			,	[MerchantCountry] = LTRIM(RTRIM(tr.[MerchantCountry]))
			,	[MerchantCategoryCode] = LTRIM(RTRIM(tr.[MerchantCategoryCode]))
			,	[MerchantCity] = LTRIM(RTRIM(tr.[MerchantCity]))
			,	[MerchantState] = LTRIM(RTRIM(tr.[MerchantState]))
			,	[MerchantPostalCode] = LTRIM(RTRIM(tr.[MerchantPostalCode]))
			,	[CardholderPresent] = COALESCE(tr.[CardholderPresent], '9')
			,	tr.[ProcessCode]
			,	tr.[PostStatus]
			,	tr.[CardInputMode]
			,	tr.[ReversalInd]
			,	[TokenTransactionIndicator] = COALESCE(tr.[TokenTransactionIndicator], -1)
			,	tr.[TokenRequesterId]
			,	tr.[PaymentTypeID]
			,	tr.[LoadDate]
			,	tr.[FileName]
			,	tr.[BankID]
			,	tr.[MerchantAddress]
		INTO #CTLoad_InitialStage
		FROM [WHB].[Inbound_Transactions] tr
		WHERE EXISTS (	SELECT 1
						FROM #FilesToProcess ftp
						WHERE tr.[FileID] = ftp.[FileID])
		AND NOT EXISTS (	SELECT 1
							FROM (	SELECT	pti.[FileID]
										,	pti.[RowNum]
										,	pti.[TransactionGUID]
									FROM [MIDI].[ProcessedTransactionIDs] pti
									INNER JOIN #FilesToProcess ftp
										ON pti.[FileID] = ftp.[FileID]) pti
							WHERE tr.[FileID] = pti.[FileID]
							AND tr.[RowNum] = pti.[RowNum]
							AND COALESCE(tr.[TransactionID], '') = COALESCE(pti.[TransactionGUID], ''))
		AND tr.[IsValidTransaction] = 1

		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Load to #CTLoad_InitialStage from [WHB].[Inbound_Transactions] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		CREATE CLUSTERED INDEX [CIX_FileRow] ON #CTLoad_InitialStage ([FileID], [RowNum])
		CREATE NONCLUSTERED INDEX [IX_MCC] ON #CTLoad_InitialStage ([MerchantCategoryCode])
		CREATE NONCLUSTERED INDEX [IX_CC] ON #CTLoad_InitialStage ([MerchantID], [OriginatorID], [Narrative]) INCLUDE ([MerchantCountry], [MerchantCategoryCode])
		CREATE NONCLUSTERED INDEX [IX_CardGUID] ON #CTLoad_InitialStage ([CardGUID])
		CREATE NONCLUSTERED INDEX [IX_CurrencyCode] ON #CTLoad_InitialStage ([CurrencyCode])
		CREATE NONCLUSTERED INDEX [IX_CardInputMode] ON #CTLoad_InitialStage ([CardInputMode])
		CREATE NONCLUSTERED INDEX [IX_PostStatus] ON #CTLoad_InitialStage ([PostStatus])
		CREATE NONCLUSTERED INDEX [IX_BankID] ON #CTLoad_InitialStage ([BankID])

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Index #CTLoad_InitialStage [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		3.	Clean up column data
	*******************************************************************************************************************************************/
		
		UPDATE tr
		SET tr.[Narrative] = REPLACE(tr.[Narrative], '""', '"')
		FROM #CTLoad_InitialStage tr
		WHERE tr.[Narrative] LIKE '%""%'

		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Remove double quotes from Narratives in #CTLoad_InitialStage [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		UPDATE tr
		SET tr.[Narrative] = LTRIM(RTRIM(SUBSTRING(tr.[Narrative], 2, LEN(tr.[Narrative]) - 2)))
		FROM #CTLoad_InitialStage tr
		WHERE LEFT(tr.[Narrative], 1) = '"' AND RIGHT(tr.[Narrative], 1) = '"'

		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Remove quotes from the outside of Narratives in #CTLoad_InitialStage [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
		UPDATE cis
		SET cis.[OriginatorID] = REPLACE(cis.[OriginatorID], cis.[OriginatorID], REPLICATE('0', LEN(cis.[OriginatorID])))
		FROM #CTLoad_InitialStage cis
		WHERE TRY_CONVERT(BIGINT, cis.[OriginatorID]) IS NULL

		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Replace non numeric characters from OriginatorID in #CTLoad_InitialStage [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		4.	Fetch the card and customer CINID links
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Inbound_Cards
		SELECT	ca.[ExternalCardID]
			,	ca.[ExternalCustomerID]
			,	ca.[CustomerGUID]
			,	ca.[CardStatusID]
			,	ca.[CreatedAt]
			,	ca.[UpdatedAt]
		INTO #Inbound_Cards
		FROM [WHB].[Inbound_Cards] ca WITH (NOLOCK)
		WHERE EXISTS (	SELECT 1
						FROM #CTLoad_InitialStage cis
						WHERE ca.[ExternalCardID] = cis.[CardGUID])

		CREATE CLUSTERED INDEX [CIX_All] ON #Inbound_Cards ([ExternalCardID], [CardStatusID], [CreatedAt], [CustomerGUID])

		DROP TABLE IF EXISTS #Cards
		SELECT	ca.[ExternalCardID]
			,	[SourceUID] = COALESCE(ca.[ExternalCustomerID], ic.[ExternalID])
		INTO #Cards
		FROM (	SELECT	ca.[ExternalCardID]
					,	ca.[ExternalCustomerID]
					,	ca.[CustomerGUID]
					,	ca.[CardStatusID]
					,	ca.[CreatedAt]
					,	ca.[UpdatedAt]
					,	[RowNumber] = ROW_NUMBER() OVER (PARTITION BY ca.[ExternalCardID] ORDER BY ca.[CardStatusID], ca.[CreatedAt], ca.[CustomerGUID])
				FROM #Inbound_Cards ca) ca
		LEFT JOIN [WHB].[Inbound_CustomerExternalIDs] ic
			ON ca.[CustomerGUID] = ic.[CustomerGUID]
			AND ic.[ExternalIDSource] != 'Email'
		WHERE ca.[RowNumber] = 1
		AND COALESCE(ca.[ExternalCustomerID], ic.[ExternalID]) IS NOT NULL

		SET @RowsAffected = @@ROWCOUNT

		CREATE CLUSTERED INDEX [CIX_CardGUID] ON #Cards ([ExternalCardID])
		
		INSERT INTO #Cards
		SELECT	ccm.[CardGUID]
			,	ccm.[ExternalCustomerID]
		FROM (	SELECT	ccm.[CardGUID]
					,	ccm.[ExternalCustomerID]
					,	[RowNumber] = ROW_NUMBER() OVER (PARTITION BY ccm.[CardGUID] ORDER BY ccm.[CardStatusID], ccm.[ExternalCustomerID])
				FROM [WHB].[Inbound_CardCustomerMapping] ccm
				WHERE EXISTS (	SELECT 1
								FROM #CTLoad_InitialStage cis
								WHERE ccm.[CardGUID] = cis.[CardGUID])) ccm
		WHERE ccm.[RowNumber] = 1 
		AND NOT EXISTS (SELECT 1
						FROM #Cards ca
						WHERE ccm.[CardGUID] = ca.[ExternalCardID])

		SET @RowsAffected = @RowsAffected + @@ROWCOUNT

		CREATE NONCLUSTERED INDEX [IX_CIN] ON #Cards ([SourceUID])

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Fetch #Cards [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
		INSERT INTO [Derived].[CINList] ([CIN])
		SELECT	DISTINCT
				[CIN] = COALESCE(cis.[SourceUID], '')
		FROM #Cards cis
		WHERE NOT EXISTS (	SELECT 1
							FROM [Derived].[CINList] cl
							WHERE COALESCE(cis.[SourceUID], '') = COALESCE(cl.[CIN], ''))

		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Load to [Derived].[CINList] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		DROP TABLE IF EXISTS #CINs
		SELECT	ca.[ExternalCardID]
			,	ca.[SourceUID]
			,	[CINID] = MAX(cl.[CINID])
		INTO #CINs
		FROM #Cards ca
		LEFT JOIN [Derived].[CINList] cl
			ON ca.[SourceUID] = cl.[CIN]
		GROUP BY	ca.[ExternalCardID]
				,	ca.[SourceUID]

		SET @RowsAffected = @@ROWCOUNT

		CREATE CLUSTERED INDEX [CIX_CardGUID] ON #CINs ([ExternalCardID])

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Fetch #CINs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
		DROP TABLE IF EXISTS #CIN_Deduper
		SELECT	[ExternalCardID]
		INTO #CIN_Deduper
		FROM #CINs
		GROUP BY [ExternalCardID]
		HAVING COUNT(DISTINCT [CINID]) > 1
		
		INSERT INTO #CIN_Deduper
		SELECT	[ExternalCardID]
		FROM #CINs
		GROUP BY [ExternalCardID]
		HAVING COUNT(DISTINCT [SourceUID]) > 1

		CREATE CLUSTERED INDEX [CIX_CardGUID] ON #CIN_Deduper ([ExternalCardID])

		DELETE c
		FROM #CINs c
		WHERE EXISTS (	SELECT 1
						FROM #CIN_Deduper cd
						WHERE c.[ExternalCardID] = cd.[ExternalCardID])

		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Deduped #CINs, removed [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		5.	Fetch the MCC MCCID link
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #MCC
		SELECT	[MCC]
			,	[MCCID] = MAX([MCCID])
		INTO #MCC
		FROM [WH_AllPublishers].[Trans].[MCCList] mcc
		GROUP BY [MCC]

		SET @RowsAffected = @@ROWCOUNT

		CREATE UNIQUE CLUSTERED INDEX [CIX_MCC] ON #MCC ([MCC])

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Fetch #MCC [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		6.	Normalise the country codes
	*******************************************************************************************************************************************/
			
		DROP TABLE IF EXISTS #CountryCodes
		CREATE TABLE #CountryCodes ([ID] INT IDENTITY
								,	[MerchantCountry_Lookup] VARCHAR(5)
								,	[MerchantCountry] VARCHAR(5))
								
		INSERT INTO #CountryCodes
		SELECT	[MerchantCountry_Lookup] = CONVERT(VARCHAR(3), CONVERT(INT, cc.[NumericCode]))
			,	[MerchantCountry] = [Alpha2Code]
		FROM [Warehouse].[Relational].[CountryCodes_ISO_2] cc
		WHERE EXISTS (	SELECT 1
						FROM #CTLoad_InitialStage cis
						WHERE CONVERT(INT, cc.[NumericCode]) = TRY_CONVERT(INT, cis.[MerchantCountry]))
		
		SET @RowsAffected = @@ROWCOUNT
		
		INSERT INTO #CountryCodes
		SELECT	[MerchantCountry_Lookup] = cc.[NumericCode]
			,	[MerchantCountry] = [Alpha2Code]
		FROM [Warehouse].[Relational].[CountryCodes_ISO_2] cc
		WHERE EXISTS (	SELECT 1
						FROM #CTLoad_InitialStage cis
						WHERE cc.[NumericCode] = cis.[MerchantCountry])
		
		SET @RowsAffected = @RowsAffected + @@ROWCOUNT
		
		INSERT INTO #CountryCodes
		SELECT	[MerchantCountry_Lookup] = cc.[Alpha3Code]
			,	[MerchantCountry] = [Alpha2Code]
		FROM [Warehouse].[Relational].[CountryCodes_ISO_2] cc
		WHERE EXISTS (	SELECT 1
						FROM #CTLoad_InitialStage cis
						WHERE cc.[Alpha3Code] = cis.[MerchantCountry])
		
		SET @RowsAffected = @RowsAffected + @@ROWCOUNT

		;WITH
		CountryCode_Deleter AS (SELECT	[MerchantCountry_Lookup]
									,	[ID] = MIN([ID])
								FROM #CountryCodes
								GROUP BY [MerchantCountry_Lookup]
								HAVING COUNT(*) > 1)

		DELETE cc
		FROM #CountryCodes cc
		WHERE EXISTS (	SELECT 1
						FROM CountryCode_Deleter ccd
						WHERE cc.[ID] = ccd.[ID])

		CREATE CLUSTERED INDEX [CIX_MerchantCountry] ON #CountryCodes ([MerchantCountry_Lookup], [MerchantCountry])

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Load #CountryCodes [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
	/*******************************************************************************************************************************************
		7.	Fetch the CC IDs
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #CC_LV
		SELECT	[ConsumerCombinationID] = MAX([ConsumerCombinationID])
			,	[MID]
			,	[LocationCountry]
			,	[MCCID]
			,	[OriginatorID]
			,	[Narrative]
		INTO #CC_LV
		FROM [Trans].[ConsumerCombination] cc
		WHERE EXISTS (	SELECT 1
						FROM #CTLoad_InitialStage cis
						WHERE cc.[MID] = cis.[MerchantID]
						AND cc.[Narrative] = cis.[Narrative]
						AND cc.[OriginatorID] = cis.[OriginatorID])
		AND cc.[IsHighVariance] = 0
		GROUP BY	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[OriginatorID]
				,	[Narrative]
		OPTION (RECOMPILE);
				
		CREATE CLUSTERED INDEX [CIX_CC_Cover] ON #CC_LV ([MID], [LocationCountry], [MCCID], [OriginatorID], [Narrative])
		
	/*******************************************************************************************************************************************
		8.	Normalise the currency codes
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #CurrencyCodes
		SELECT	DISTINCT
				[NumericCode] = CONVERT(VARCHAR(3), CONVERT(INT, [NumericCode]))
			,	[AlphaCode]
		INTO #CurrencyCodes
		FROM [Warehouse].[Relational].[CurrencyCodes_ISO_4717] cc

		SET @RowsAffected = @@ROWCOUNT

		CREATE CLUSTERED INDEX [CIX_All] ON #CurrencyCodes ([NumericCode], [AlphaCode])
		
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Load #CurrencyCodes [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		9.	Normalise the Card Input Modes
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #CardInputMode
		SELECT	[InputModeID] = CONVERT(INT, [InputModeID])
			,	[CardInputMode] = CONVERT(VARCHAR(50), [CardInputMode])
		INTO #CardInputMode
		FROM [Warehouse].[Relational].[CardInputMode]

		INSERT INTO #CardInputMode
		SELECT	[InputModeID]
			,	[CardInputMode] = 'Contactless'
		FROM [Warehouse].[Relational].[CardInputMode]
		WHERE [InputModeID] = 9
		
		INSERT INTO #CardInputMode
		SELECT	[InputModeID]
			,	[CardInputMode] = 'eCommerce'
		FROM [Warehouse].[Relational].[CardInputMode]
		WHERE [InputModeID] = 10

		INSERT INTO #CardInputMode
		SELECT	[InputModeID]
			,	[CardInputMode] = 'Manual Entry'
		FROM [Warehouse].[Relational].[CardInputMode]
		WHERE [InputModeID] = 1

		INSERT INTO #CardInputMode
		SELECT	[InputModeID]
			,	[CardInputMode] = 'Chip and PIN'
		FROM [Warehouse].[Relational].[CardInputMode]
		WHERE [InputModeID] = 7

		INSERT INTO #CardInputMode
		SELECT	[InputModeID]
			,	[CardInputMode] = 'Mag Stripe'
		FROM [Warehouse].[Relational].[CardInputMode]
		WHERE [InputModeID] = 5

		INSERT INTO #CardInputMode
		SELECT	[InputModeID]
			,	[CardInputMode] = 'Credential on File'
		FROM [Warehouse].[Relational].[CardInputMode]
		WHERE [InputModeID] = 0

		INSERT INTO #CardInputMode
		SELECT	[InputModeID]
			,	[CardInputMode] = 'MOTO'
		FROM [Warehouse].[Relational].[CardInputMode]
		WHERE [InputModeID] = 0

		CREATE CLUSTERED INDEX [CIX_CardInputMode] ON #CardInputMode ([CardInputMode], [InputModeID])
		
		SET @RowsAffected = (SELECT COUNT(*) FROM #CardInputMode)
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Load #CardInputMode [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		10.	Load the most recent transactions to [CTLoad_InitialStage]
	*******************************************************************************************************************************************/

		-- loop step [Load CTLoad_InitialStage]
		TRUNCATE TABLE [MIDI].[CTLoad_InitialStage]

		ALTER INDEX [IX_MCC] ON [MIDI].[CTLoad_InitialStage] DISABLE
		ALTER INDEX [IX_CardGUID] ON [MIDI].[CTLoad_InitialStage] DISABLE
		ALTER INDEX [IX_CC_Identifier] ON [MIDI].[CTLoad_InitialStage] DISABLE

		INSERT INTO [MIDI].[CTLoad_InitialStage] (	[FileID]
												,	[RowNum]
												,	[TransactionID]
												,	[CustomerGUID]
												,	[CIN]
												,	[CINID]
												,	[BankAccountGUID]
												,	[CardGUID]
												,	[TranDate]
												,	[TranTime]
												,	[Amount]
												,	[CurrencyCode]
												,	[MerchantID]
												,	[Narrative]
												,	[OriginatorID]
												,	[MerchantCountry]
												,	[MCC]
												,	[MCCID]
												,	[MerchantCity]
												,	[MerchantState]
												,	[MerchantPostalCode]
												,	[CardholderPresentData]
												,	[ProcessCode]
												,	[PostStatus]
												,	[PostStatusID]
												,	[CardInputMode]
												,	[InputModeID]
												,	[ReversalInd]
												,	[TokenTransactionIndicator]
												,	[TokenRequesterID]
												,	[PaymentTypeID]
												,	[IsOnline]
												,	[IsRefund]
												,	[ConsumerCombinationID]
												,	[RequiresSecondaryID]
												,	[SecondaryCombinationID]
												,	[LoadDate]
												,	[FileName]
												
												,	[BankIDString]
												,	[BankID]
												,	[MerchantAddress]
												
												)
		SELECT	DISTINCT
				cis.[FileID]
			,	cis.[RowNum]
			,	cis.[TransactionID]
			,	cis.[CustomerGUID]
			,	[CIN] = COALESCE(cis.[ExternalCustomerID], ci.[SourceUID])
			,	ci.[CINID]
			,	cis.[BankAccountGUID]
			,	cis.[CardGUID]
			,	[TranDate] = cis.[TransactionDate]
			,	[TranTime] = cis.[TransactionTime]
			,	cis.[Amount]
			,	[CurrencyCode] = COALESCE(crc.[AlphaCode], cis.[CurrencyCode])
			,	cis.[MerchantID]
			,	[Narrative] = LTRIM(RTRIM(cis.[Narrative]))
			,	cis.[OriginatorID]
			,	[MerchantCountry] = COALESCE(cc.[MerchantCountry], cis.[MerchantCountry])
			,	[MCC] = cis.[MerchantCategoryCode]
			,	mcc.[MCCID]
			,	cis.[MerchantCity]
			,	cis.[MerchantState]
			,	cis.[MerchantPostalCode]
			,	[CardholderPresentData] = cis.[CardholderPresent]
			,	cis.[ProcessCode]
			,	cis.[PostStatus]
			,	ps.[PostStatusID]
			,	cis.[CardInputMode]
			,	[InputModeID] = COALESCE(cim.[InputModeID], 0)
			,	cis.[ReversalInd]
			,	cis.[TokenTransactionIndicator]
			,	cis.[TokenRequesterID]
			,	cis.[PaymentTypeID]
			,	[IsOnline] =	CASE
									WHEN cis.[CardholderPresent] = '5' THEN 1
									ELSE 0
								END
			,	[IsRefund] =	CASE
									WHEN cis.[Amount] < 0 THEN 1
									WHEN cis.[ReversalInd] = '1' THEN 1
									WHEN cis.[ReversalInd] = 'Y' THEN 1
									ELSE 0
								END
			,	ccl.[ConsumerCombinationID]
			,	[RequiresSecondaryID] = NULL
			,	[SecondaryCombinationID] = NULL
			,	[LoadDate] = cis.[LoadDate]
			,	[FileName] = cis.[FileName]

			,	[BankIDString] = COALESCE(cis.[BankID], '')
			,	b.[BankID]
			,	cis.[MerchantAddress]
		FROM #CTLoad_InitialStage cis
		LEFT JOIN #MCC mcc
			ON cis.[MerchantCategoryCode] = mcc.[MCC]
		LEFT JOIN #CINs ci
			ON cis.[CardGUID] = ci.[ExternalCardID]
		LEFT JOIN #CountryCodes cc
			ON cis.[MerchantCountry] = cc.[MerchantCountry_Lookup]
		LEFT JOIN #CC_LV ccl
			ON cis.[MerchantID] = ccl.[MID]
			AND cis.[Narrative] = ccl.[Narrative]
			AND cis.[OriginatorID] = ccl.[OriginatorID]
			AND mcc.[MCCID] = ccl.[MCCID]
			AND COALESCE(cc.[MerchantCountry], cis.[MerchantCountry]) = ccl.[LocationCountry]
		LEFT JOIN #CurrencyCodes crc
			ON cis.[CurrencyCode] = crc.[NumericCode]
		LEFT JOIN #CardInputMode cim
			ON cis.[CardInputMode] = cim.[CardInputMode]
		LEFT JOIN [Warehouse].[Relational].[PostStatus] ps
			ON cis.[PostStatus] = ps.[PostStatusDesc]
		LEFT JOIN [Warehouse].[Relational].[CardTransactionBank] b 
			ON cis.[BankID] = b.[BankIdentifier]
		ORDER BY	cis.[FileID]
				,	cis.[RowNum]
				,	cis.[TransactionID]

		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Load to [MIDI].[CTLoad_InitialStage] from #CTLoad_InitialStage [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		11.	Log row counts
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #RowCounts
		SELECT	[FileID] = ftp.[FileID]
			,	[FileName] = ftp.[FileName]
			,	[LoadDate] = ftp.[LoadDate]
			,	[RowCount] = COALESCE(COUNT(ct.[RowNum]), 0)
		INTO #RowCounts
		FROM #FilesToProcess ftp
		LEFT JOIN [MIDI].[CTLoad_InitialStage] ct
			ON ftp.[FileID] = ct.[FileID]
		--	AND ftp.[FileName] = ct.[FileName]
		--	AND ftp.[LoadDate] = ct.[LoadDate]
		GROUP BY	ftp.[FileID]
				,	ftp.[FileName]
				,	ftp.[LoadDate]
		
		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Store row counts for new transactions to #RowCounts [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		UPDATE rc
		SET rc.[RowCount] = rc.[RowCount] + pti.[ProcessedTransactions]
		FROM #RowCounts rc
		INNER JOIN (	SELECT	pti.[FileID]
							,	pti.[FileName]
							,	[ProcessedTransactions] = COUNT(DISTINCT pti.[TransactionGUID])
						FROM [MIDI].[ProcessedTransactionIDs] pti
						GROUP BY	pti.[FileID]
								,	pti.[FileName]) pti
			ON rc.[FileID] = pti.[FileID]
			AND rc.[FileName] = pti.[FileName]
		
		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Update row counts for existing transactions to #RowCounts [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		MERGE [MIDI].[GenericTrans_FilesProcessed] target	-- Destination table
		USING #RowCounts source								-- Source table
		ON target.[FileID] = source.[FileID]				-- Match criteria
		AND target.[FileName] = source.[FileName]			-- Match criteria
		AND target.[LoadDate] = source.[LoadDate]			-- Match criteria

		WHEN MATCHED THEN
			UPDATE SET	target.[RowsImported] = source.[RowCount]	-- If matched, update to new value
					,	target.[ImportedDate] = GETDATE()		-- If matched, update to new value

		WHEN NOT MATCHED THEN			-- If not matched, add new rows
			INSERT ([FileID]
				,	[FileName]
				,	[LoadDate]
				,	[RowsImported]
				,	[ImportedDate])
			VALUES (source.[FileID]
				,	source.[FileName]
				,	source.[LoadDate]
				,	source.[RowCount]
				,	GETDATE());
		
		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Update row counts to [MIDI].[GenericTrans_FilesProcessed] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - File - [' + @WorkWithFile + '] - Finish'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		12.	Execute the next steps
	*******************************************************************************************************************************************/

		EXEC [MIDI].[GenericTransProcessing]

	END	--	WHILE (	SELECT	COUNT(*)

	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Finish';
	EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

END

GO
