USE [WH_NWG]
GO
/****** Object:  StoredProcedure [MIDI].[GenericTransProcessing_MIDIHolding]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MIDI].[GenericTransProcessing_MIDIHolding]
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT

IF @time < '2026-03-04' RETURN

SELECT @RowsAffected = COUNT(*) FROM [MIDI].[MIDIHolding_Credit] mh
SELECT @RowsAffected = @RowsAffected + COUNT(*) FROM [MIDI].[MIDIHolding_Debit] mh

IF @RowsAffected = 0 BEGIN
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - No rows to process'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	RETURN
END
ELSE
	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Starting first part'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	1.	Update MCCs
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		1.1.	Collect previously-unseen MCCs from the new data
	***********************************************************************************************************************/

		INSERT INTO [WH_AllPublishers].[Trans].[MCCList] ([MCC], [MCCGroup], [MCCCategory], [MCCDesc], [SectorID])
		SELECT	DISTINCT 
				[MCC] = COALESCE(cis.[MCC], '')
			,	[MCCGroup] = ''
			,	[MCCCategory] = ''
			,	[MCCDesc] = ''
			,	[SectorID] = 1
		FROM [MIDI].[MIDIHolding_Credit] cis
		WHERE NOT EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Trans].[MCCList] mcc
							WHERE mcc.[MCC] = COALESCE(cis.[MCC], ''))

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Add new MMCID [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		1.2.	Assign MMCID
	***********************************************************************************************************************/
		
		UPDATE cis
		SET cis.[MCCID] = mcc.[MCCID]
		FROM [MIDI].[MIDIHolding_Credit] cis
		CROSS APPLY (	SELECT	TOP(1)	--	non-deterministic UPDATE
								mcc.[MCCID]
						FROM [WH_AllPublishers].[Trans].[MCCList] mcc
						WHERE cis.[MCC] = mcc.[MCC]
						ORDER BY mcc.[MCCID] DESC) mcc
		WHERE cis.[MCCID] IS NULL;
		
		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign MMCID [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

/*******************************************************************************************************************************************
	2.	Update customer IDs
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		2.1.	Collect transactions without CINID
	***********************************************************************************************************************/
	
		DROP TABLE IF EXISTS #Holding
		SELECT	mh.[FileID]
			,	mh.[RowNum]
		INTO #Holding
		FROM [MIDI].[MIDIHolding_Credit] mh
		WHERE mh.[CINID] IS NULL
		AND GETDATE() > '2026-08-19'

		INSERT INTO #Holding
		SELECT	mh.[FileID]
			,	mh.[RowNum]
		FROM [MIDI].[MIDIHolding_Debit] mh
		WHERE mh.[CINID] IS NULL
		AND GETDATE() > '2026-08-19'

		CREATE CLUSTERED INDEX [CIX_FileRow] ON #Holding ([FileID], [RowNum])

		DROP TABLE IF EXISTS #Holding_Inbound
		SELECT	it.[FileID]
			,	it.[RowNum]
			,	it.[CardGUID]
		INTO #Holding_Inbound
		FROM [WHB].[Inbound_Transactions] it
		WHERE EXISTS (	SELECT 1
						FROM #Holding mh
						WHERE mh.[FileID] = it.[FileID]
						AND mh.[RowNum] = it.[RowNum])

		SET @RowsAffected = @@ROWCOUNT

		CREATE CLUSTERED INDEX [CIX_FileRow] ON #Holding_Inbound ([FileID], [RowNum])
		CREATE NONCLUSTERED INDEX [IX_CardGUID] ON #Holding_Inbound ([CardGUID])
		
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Collect transactions without CINID [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		2.2.	Collect Card details linked to the previously fetched transactions
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #Inbound_Cards
		SELECT	ca.[ExternalCardID]
			,	ca.[ExternalCustomerID]
			,	ca.[CustomerGUID]
			,	ca.[CardStatusID]
			,	ca.[CreatedAt]
			,	ca.[UpdatedAt]
		INTO #Inbound_Cards
		FROM [WHB].[Inbound_Cards] ca WITH (NOLOCK)
		WHERE EXISTS (	SELECT 1
						FROM #Holding_Inbound cis
						WHERE ca.[ExternalCardID] = cis.[CardGUID])

		CREATE CLUSTERED INDEX [CIX_All] ON #Inbound_Cards ([ExternalCardID], [CardStatusID], [CreatedAt], [CustomerGUID])

		DROP TABLE IF EXISTS #Cards
		SELECT	ca.[ExternalCardID]
			,	[SourceUID] = COALESCE(ca.[ExternalCustomerID], ic.[ExternalID])
		INTO #Cards
		FROM (	SELECT	ca.[ExternalCardID]
					,	ca.[ExternalCustomerID]
					,	ca.[CustomerGUID]
					,	ca.[CardStatusID]
					,	ca.[CreatedAt]
					,	ca.[UpdatedAt]
					,	[RowNumber] = ROW_NUMBER() OVER (PARTITION BY ca.[ExternalCardID] ORDER BY ca.[CardStatusID], ca.[CreatedAt], ca.[CustomerGUID])
				FROM #Inbound_Cards ca) ca
		LEFT JOIN [WHB].[Inbound_CustomerExternalIDs] ic
			ON ca.[CustomerGUID] = ic.[CustomerGUID]
			AND ic.[ExternalIDSource] != 'Email'
		WHERE ca.[RowNumber] = 1
		AND COALESCE(ca.[ExternalCustomerID], ic.[ExternalID]) IS NOT NULL

		SET @RowsAffected = @@ROWCOUNT

		CREATE CLUSTERED INDEX [CIX_CardGUID] ON #Cards ([ExternalCardID])
		
		INSERT INTO #Cards
		SELECT	ccm.[CardGUID]
			,	ccm.[ExternalCustomerID]
		FROM (	SELECT	ccm.[CardGUID]
					,	ccm.[ExternalCustomerID]
					,	[RowNumber] = ROW_NUMBER() OVER (PARTITION BY ccm.[CardGUID] ORDER BY ccm.[CardStatusID], ccm.[ExternalCustomerID])
				FROM [WHB].[Inbound_CardCustomerMapping] ccm
				WHERE EXISTS (	SELECT 1
								FROM #Holding_Inbound cis
								WHERE ccm.[CardGUID] = cis.[CardGUID])) ccm
		WHERE ccm.[RowNumber] = 1 
		AND NOT EXISTS (SELECT 1
						FROM #Cards ca
						WHERE ccm.[CardGUID] = ca.[ExternalCardID])

		SET @RowsAffected = @RowsAffected + @@ROWCOUNT

		CREATE NONCLUSTERED INDEX [IX_CIN] ON #Cards ([SourceUID])
		
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Collect Card details linked to the previously fetched transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		2.3.	Link cards and customers to transactions
	***********************************************************************************************************************/

		DROP TABLE IF EXISTS #Holding_Inbound_CIN
		SELECT	DISTINCT
				hi.[FileID]
			,	hi.[RowNum]
			,	hi.[CardGUID]
			,	[CIN] = ca.[SourceUID]
			,	cl.[CINID]
		INTO #Holding_Inbound_CIN
		FROM #Holding_Inbound hi
		INNER JOIN #Cards ca
			ON hi.[CardGUID] = ca.[ExternalCardID]
		LEFT JOIN [Derived].[CINList] cl
			ON ca.[SourceUID] = cl.[CIN]

		SET @RowsAffected = @@ROWCOUNT
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Link cards and customers to transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		2.4.	Collect previously-unseen CINs from the new data
	***********************************************************************************************************************/

		INSERT INTO [Derived].[CINList] ([CIN])
		SELECT	DISTINCT
				[CIN] = CONVERT(VARCHAR(64), COALESCE(cis.[CIN], ''))
		FROM #Holding_Inbound_CIN cis
		WHERE NOT EXISTS (	SELECT 1
							FROM [Derived].[CINList] cl
							WHERE CONVERT(VARCHAR(64), COALESCE(cis.[CIN], '')) = CONVERT(VARCHAR(64), cl.[CIN]))

		SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Collect previously-unseen CINs from the new data [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/***********************************************************************************************************************
		2.5.	Assign CINID
	***********************************************************************************************************************/

		UPDATE cis
		SET	cis.[CINID] = cl.[CINID]
		FROM #Holding_Inbound_CIN cis
		INNER JOIN [Derived].[CINList] cl
			ON cis.[CIN] = cl.[CIN]
		WHERE cis.[CINID] IS NULL

		UPDATE cis
		SET	cis.[CIN] = cl.[CIN]
		,	cis.[CINID] = cl.[CINID]
		FROM [MIDI].[MIDIHolding_Credit] cis
		INNER JOIN #Holding_Inbound_CIN cl
			ON cis.[FileID] = cl.[FileID]
			AND cis.[RowNum] = cl.[RowNum]
		WHERE cis.[CINID] IS NULL
		AND cl.[CINID] IS NOT NULL

		SET @RowsAffected = @@ROWCOUNT

		UPDATE cis
		SET	cis.[CINID] = cl.[CINID]
		FROM [MIDI].[MIDIHolding_Debit] cis
		INNER JOIN #Holding_Inbound_CIN cl
			ON cis.[FileID] = cl.[FileID]
			AND cis.[RowNum] = cl.[RowNum]
		WHERE cis.[CINID] IS NULL
		AND cl.[CINID] IS NOT NULL

		SET @RowsAffected = @RowsAffected + @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CINID [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			
/*******************************************************************************************************************************************
	3.	Assign CCs
*******************************************************************************************************************************************/

	/***********************************************************************************************************************
		3.1.	Low Variance
	***********************************************************************************************************************/
	
		/***********************************************************************************************************************
			3.1.1.	Fetch CCs
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #CC_LV
			SELECT	[ConsumerCombinationID] = MAX([ConsumerCombinationID])
				,	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[OriginatorID]
				,	[Narrative]
			INTO #CC_LV
			FROM [Trans].[ConsumerCombination] cc
			WHERE EXISTS (	SELECT 1
							FROM [MIDI].[MIDIHolding_Credit] cis
							WHERE cc.[MID] = cis.[MID]
							AND cc.[LocationCountry] = cis.[LocationCountry]
							AND cc.[Narrative] = cis.[Narrative]
							AND cc.[OriginatorID] = cis.[OriginatorReference]
							AND cc.[MCCID] = cis.[MCCID]
							AND cis.[ConsumerCombinationID] IS NULL)
			AND cc.[IsHighVariance] = 0
			GROUP BY	[MID]
					,	[LocationCountry]
					,	[MCCID]
					,	[OriginatorID]
					,	[Narrative]

			SET @RowsAffected = @@ROWCOUNT;

			INSERT INTO #CC_LV
			SELECT	[ConsumerCombinationID] = MAX([ConsumerCombinationID])
				,	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[OriginatorID]
				,	[Narrative]
			FROM [Trans].[ConsumerCombination] cc
			WHERE EXISTS (	SELECT 1
							FROM [MIDI].[MIDIHolding_Debit] cis
							WHERE cc.[MID] = cis.[MID]
							AND cc.[LocationCountry] = cis.[LocationCountry]
							AND cc.[Narrative] = cis.[Narrative]
							AND cc.[OriginatorID] = cis.[OriginatorID]
							AND cc.[MCCID] = cis.[MCCID]
							AND cis.[ConsumerCombinationID] IS NULL)
			AND NOT EXISTS (SELECT 1
							FROM #CC_LV cc2
							WHERE cc.[MID] = cc2.[MID]
							AND cc.[LocationCountry] = cc2.[LocationCountry]
							AND cc.[MCCID] = cc2.[MCCID]
							AND cc.[OriginatorID] = cc2.[OriginatorID]
							AND cc.[Narrative] = cc2.[Narrative])
			AND cc.[IsHighVariance] = 0
			GROUP BY	[MID]
					,	[LocationCountry]
					,	[MCCID]
					,	[OriginatorID]
					,	[Narrative]

			SET @RowsAffected = @RowsAffected + @@ROWCOUNT;
				
			CREATE CLUSTERED INDEX [CIX_CC] ON #CC_LV ([ConsumerCombinationID])
			CREATE NONCLUSTERED INDEX [IX_CC_Cover] ON #CC_LV ([MID], [LocationCountry], [MCCID], [OriginatorID], [Narrative])

			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CCs - Non High Variance - Fetch CCs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			
		/***********************************************************************************************************************
			3.1.1.	Assign CCs
		***********************************************************************************************************************/

			UPDATE cis
			SET cis.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
			FROM (	SELECT *
					FROM [MIDI].[MIDIHolding_Credit] cis WITH (TABLOCK)
					WHERE cis.[ConsumerCombinationID] IS NULL) cis
			CROSS APPLY (	SELECT	TOP 1	--	non-deterministic update
									cc.[ConsumerCombinationID]
							FROM #CC_LV cc
							WHERE cis.[MID] = cc.[MID]
							AND cis.[LocationCountry] = cc.[LocationCountry]
							AND cis.[MCCID] = cc.[MCCID]
							AND cis.[OriginatorReference] = cc.[OriginatorID]
							AND cis.[Narrative] = cc.[Narrative]
							ORDER BY [ConsumerCombinationID] DESC) cc

			SET @RowsAffected = @@ROWCOUNT;

			UPDATE cis
			SET cis.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
			FROM (	SELECT *
					FROM [MIDI].[MIDIHolding_Debit] cis WITH (TABLOCK)
					WHERE cis.[ConsumerCombinationID] IS NULL) cis
			CROSS APPLY (	SELECT	TOP 1	--	non-deterministic update
									cc.[ConsumerCombinationID]
							FROM #CC_LV cc
							WHERE cis.[MID] = cc.[MID]
							AND cis.[LocationCountry] = cc.[LocationCountry]
							AND cis.[MCCID] = cc.[MCCID]
							AND cis.[OriginatorID] = cc.[OriginatorID]
							AND cis.[Narrative] = cc.[Narrative]
							ORDER BY [ConsumerCombinationID] DESC) cc

			SET @RowsAffected = @RowsAffected + @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Set Non-Paypal Combinations (low variance - 1) [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	/***********************************************************************************************************************
		3.2.	High Variance
	***********************************************************************************************************************/
	
		/***********************************************************************************************************************
			3.2.1.	Fetch CCs
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #CC_HV
			SELECT	[ConsumerCombinationID] = MAX([ConsumerCombinationID])
				,	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[OriginatorID]
				,	[Narrative]
			INTO #CC_HV
			FROM [Trans].[ConsumerCombination] cc
			WHERE EXISTS (	SELECT 1
							FROM [MIDI].[MIDIHolding_Credit] cis
							WHERE cc.[MID] = cis.[MID]
							AND cc.[LocationCountry] = cis.[LocationCountry]
							AND cc.[OriginatorID] = cis.[OriginatorReference]
							AND cc.[MCCID] = cis.[MCCID]
							AND cis.[ConsumerCombinationID] IS NULL)
			AND cc.[IsHighVariance] = 1
			GROUP BY	[MID]
					,	[LocationCountry]
					,	[MCCID]
					,	[OriginatorID]
					,	[Narrative]

			SET @RowsAffected = @@ROWCOUNT;

			INSERT INTO #CC_HV
			SELECT	[ConsumerCombinationID] = MAX([ConsumerCombinationID])
				,	[MID]
				,	[LocationCountry]
				,	[MCCID]
				,	[OriginatorID]
				,	[Narrative]
			FROM [Trans].[ConsumerCombination] cc
			WHERE EXISTS (	SELECT 1
							FROM [MIDI].[MIDIHolding_Debit] cis
							WHERE cc.[MID] = cis.[MID]
							AND cc.[LocationCountry] = cis.[LocationCountry]
							AND cc.[OriginatorID] = cis.[OriginatorID]
							AND cc.[MCCID] = cis.[MCCID]
							AND cis.[ConsumerCombinationID] IS NULL)
			AND NOT EXISTS (SELECT 1
							FROM #CC_HV cc2
							WHERE cc.[MID] = cc2.[MID]
							AND cc.[LocationCountry] = cc2.[LocationCountry]
							AND cc.[MCCID] = cc2.[MCCID]
							AND cc.[OriginatorID] = cc2.[OriginatorID]
							AND cc.[Narrative] = cc2.[Narrative])
			AND cc.[IsHighVariance] = 1
			GROUP BY	[MID]
					,	[LocationCountry]
					,	[MCCID]
					,	[OriginatorID]
					,	[Narrative]

			SET @RowsAffected = @RowsAffected + @@ROWCOUNT;
				
			CREATE CLUSTERED INDEX [CIX_CC] ON #CC_HV ([ConsumerCombinationID])
			CREATE NONCLUSTERED INDEX [IX_CC_Cover] ON #CC_HV ([MID], [LocationCountry], [MCCID], [OriginatorID], [Narrative])

			SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Assign CCs - Non High Variance - Fetch CCs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
			
		/***********************************************************************************************************************
			3.2.1.	Assign CCs
		***********************************************************************************************************************/

			UPDATE cis
			SET cis.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
			FROM (	SELECT *
					FROM [MIDI].[MIDIHolding_Credit] cis WITH (TABLOCK)
					WHERE cis.[ConsumerCombinationID] IS NULL) cis
			CROSS APPLY (	SELECT	TOP 1	--	non-deterministic update
									cc.[ConsumerCombinationID]
							FROM #CC_HV cc
							WHERE cis.[MID] = cc.[MID]
							AND cis.[LocationCountry] = cc.[LocationCountry]
							AND cis.[MCCID] = cc.[MCCID]
							AND cis.[OriginatorReference] = cc.[OriginatorID]
							AND cis.[Narrative] LIKE cc.[Narrative]
							ORDER BY [ConsumerCombinationID] DESC) cc

			SET @RowsAffected = @@ROWCOUNT;

			UPDATE cis
			SET cis.[ConsumerCombinationID] = cc.[ConsumerCombinationID]
			FROM (	SELECT *
					FROM [MIDI].[MIDIHolding_Debit] cis WITH (TABLOCK)
					WHERE cis.[ConsumerCombinationID] IS NULL) cis
			CROSS APPLY (	SELECT	TOP 1	--	non-deterministic update
									cc.[ConsumerCombinationID]
							FROM #CC_HV cc
							WHERE cis.[MID] = cc.[MID]
							AND cis.[LocationCountry] = cc.[LocationCountry]
							AND cis.[MCCID] = cc.[MCCID]
							AND cis.[OriginatorID] = cc.[OriginatorID]
							AND cis.[Narrative] LIKE cc.[Narrative]
							ORDER BY [ConsumerCombinationID] DESC) cc

			SET @RowsAffected = @RowsAffected + @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Set Non-Paypal Combinations (low variance - 1) [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
	
/*******************************************************************************************************************************************
	4.	Location IDs
*******************************************************************************************************************************************/
	
	INSERT INTO [Warehouse].[Relational].[Location] (	[ConsumerCombinationID]
													,	[LocationAddress]
													,	[IsNonLocational])
	SELECT	DISTINCT
			[ConsumerCombinationID]
		,	[LocationAddress]
		,	[IsNonLocational] = 0
	FROM [MIDI].[MIDIHolding_Debit] mh
	WHERE [ConsumerCombinationID] IS NOT NULL
	AND [LocationID] IS NULL
	AND NOT EXISTS (SELECT 1
					FROM [Warehouse].[Relational].[Location] loc
					WHERE mh.[ConsumerCombinationID] = loc.[ConsumerCombinationID]
					AND mh.[LocationAddress] = loc.[LocationAddress]
					AND 0 = loc.[IsNonLocational])

    UPDATE i
	SET [LocationID] = L.[LocationID]
	FROM [MIDI].[MIDIHolding_Debit] i
	CROSS APPLY (	SELECT	TOP(1)
							L.[LocationID] 
					FROM [Warehouse].[Relational].[Location] l 
					WHERE l.[IsNonLocational] = 0
					AND i.[ConsumerCombinationID] = l.[ConsumerCombinationID]
					AND i.[LocationAddress] = l.[LocationAddress]	
					ORDER BY L.[LocationID] DESC) l
	WHERE i.[LocationID] IS NULL
	
/*******************************************************************************************************************************************
	5.	Log Stats for the processed file
*******************************************************************************************************************************************/

	INSERT INTO [MIDI].[CardTransaction_QA] (	[FileID]
											,	[FileCount]
											,	[MatchedCount]
											,	[UnmatchedCount]
											,	[NoCINCount]
											,	[PositiveCount])
	SELECT	[FileID]
		,	[FileCount] = COUNT(1)
		,	[MatchedCount] = SUM(CASE WHEN [ConsumerCombinationID] IS NULL THEN 0 ELSE 1 END)
		,	[UnmatchedCount] = SUM(CASE WHEN [ConsumerCombinationID] IS NULL THEN 1 ELSE 0 END)
		,	[NoCINCount] = SUM(CASE WHEN [CINID] IS NOT NULL THEN 0 ELSE 1 END)
		,	[PositiveCount] = SUM(CASE WHEN [Amount] > 0 THEN 1 ELSE 0 END)
	FROM [MIDI].[MIDIHolding_Credit]
	GROUP BY [FileID]

	INSERT INTO [MIDI].[CardTransaction_QA] (	[FileID]
											,	[FileCount]
											,	[MatchedCount]
											,	[UnmatchedCount]
											,	[NoCINCount]
											,	[PositiveCount])
	SELECT	[FileID]
		,	[FileCount] = COUNT(1)
		,	[MatchedCount] = SUM(CASE WHEN [ConsumerCombinationID] IS NULL THEN 0 ELSE 1 END)
		,	[UnmatchedCount] = SUM(CASE WHEN [ConsumerCombinationID] IS NULL THEN 1 ELSE 0 END)
		,	[NoCINCount] = SUM(CASE WHEN [CINID] IS NOT NULL THEN 0 ELSE 1 END)
		,	[PositiveCount] = SUM(CASE WHEN [IsRefund] = 0 THEN 1 ELSE 0 END)
	FROM [MIDI].[MIDIHolding_Debit]
	GROUP BY [FileID]
	
/*******************************************************************************************************************************************
	6.	Load transaction with an assigned CINID & ConsumerCombinationID to permanent holding table
*******************************************************************************************************************************************/

	INSERT INTO [Trans].[ConsumerTransactionHolding] (	[FileID]
													,	[RowNum]
													,	[ConsumerCombinationID]
													,	[SecondaryCombinationID]
													,	[BankID]
													,	[LocationID]
													,	[CardholderPresentData]
													,	[TranDate]
													,	[CINID]
													,	[Amount]
													,	[IsRefund]
													,	[IsOnline]
													,	[InputModeID]
													,	[PostStatusID]
													,	[PaymentTypeID])
	SELECT	[FileID] = mh.[FileID]
		,	[RowNum] = mh.[RowNum]
		,	[ConsumerCombinationID] = mh.[ConsumerCombinationID]
		,	[SecondaryCombinationID] = mh.[SecondaryCombinationID]
		,	[BankID] = mh.[BankID]
		,	[LocationID] = mh.[LocationID]
		,	[CardholderPresentData] = mh.[CardholderPresentData]
		,	[TranDate] = mh.[TranDate]
		,	[CINID] = mh.[CINID]
		,	[Amount] = mh.[Amount]
		,	[IsRefund] = mh.[IsRefund]
		,	[IsOnline] = mh.[IsOnline]
		,	[InputModeID] = mh.[InputModeID]
		,	[PostStatusID] = mh.[PostStatusID]
		,	[PaymentTypeID] = mh.[PaymentTypeID]
	FROM [MIDI].[MIDIHolding_Debit] mh
	WHERE mh.[CINID] IS NOT NULL
	AND mh.[ConsumerCombinationID] IS NOT NULL
	AND NOT EXISTS (SELECT 1
					FROM [Trans].[ConsumerTransactionHolding] cth
					WHERE mh.[FileID] = cth.[FileID]
					AND mh.[RowNum] = cth.[RowNum])

	INSERT INTO [Trans].[ConsumerTransaction_Timestamp] (	[FileID]
														,	[RowNum]
														,	[TranDate]
														,	[TranTime]
														,	[Amount])
	SELECT	mh.[FileID]
		,	mh.[RowNum]
		,	mh.[TranDate]
		,	mh.[TranTime]
		,	mh.[Amount]
	FROM [MIDI].[MIDIHolding_Debit] mh
	WHERE mh.[CINID] IS NOT NULL
	AND mh.[ConsumerCombinationID] IS NOT NULL
	AND NOT EXISTS (SELECT 1
					FROM [Trans].[ConsumerTransaction_Timestamp] ctt
					WHERE mh.[FileID] = ctt.[FileID]
					AND mh.[RowNum] = ctt.[RowNum])
	AND mh.[TranTime] IS NOT NULL
	ORDER BY	mh.[FileID]
			,	mh.[RowNum]

	INSERT INTO [Trans].[ConsumerTransaction_CreditCardHolding] (	[FileID]
																,	[RowNum]
																,	[ConsumerCombinationID]
																,	[SecondaryCombinationID]
																,	[CardholderPresentData]
																,	[TranDate]
																,	[CINID]
																,	[Amount]
																,	[IsOnline]
																,	[LocationID]
																,	[FanID])
	SELECT	[FileID] = mh.[FileID]
		,	[RowNum] = mh.[RowNum]
		,	[ConsumerCombinationID] = mh.[ConsumerCombinationID]
		,	[SecondaryCombinationID] = mh.[SecondaryCombinationID]
		,	[CardholderPresentData] = mh.[CardholderPresentMC]
		,	[TranDate] = mh.[TranDate]
		,	[CINID] = mh.[CINID]
		,	[Amount] = mh.[Amount]
		,	[IsOnline] =	CASE
								WHEN mh.[CardholderPresentMC] = '5' THEN 1
								ELSE 0
							END
		,	[LocationID] = mh.[LocationID]
		,	[FanID] = mh.[FanID]	
	FROM [MIDI].[MIDIHolding_Credit] mh
	WHERE mh.[PaymentTypeID] = 1
	AND mh.[CINID] IS NOT NULL
	AND mh.[ConsumerCombinationID] IS NOT NULL
	AND NOT EXISTS (SELECT 1
					FROM [Trans].[ConsumerTransaction_CreditCardHolding] cth
					WHERE mh.[FileID] = cth.[FileID]
					AND mh.[RowNum] = cth.[RowNum])

/*******************************************************************************************************************************************
	7.	Delete loaded transactions with an assigned CINID & ConsumerCombinationID
*******************************************************************************************************************************************/

	DELETE mh
	FROM [MIDI].[MIDIHolding_Credit] mh
	WHERE EXISTS (	SELECT 1
					FROM [Trans].[ConsumerTransaction_CreditCardHolding] cth
					WHERE mh.[FileID] = cth.[FileID]
					AND mh.[RowNum] = cth.[RowNum])

	DELETE mh
	FROM [MIDI].[MIDIHolding_Debit] mh
	WHERE EXISTS (	SELECT 1
					FROM [Trans].[ConsumerTransactionHolding] cth
					WHERE mh.[FileID] = cth.[FileID]
					AND mh.[RowNum] = cth.[RowNum])

	SET @RowsAffected = @@ROWCOUNT; SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - capture matched transactions to holding [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	UPDATE cc
	SET cc.[InNWG] = 1
	FROM [WH_AllPublishers].[WHB].[ConsumerCombination] cc
	WHERE cc.[InNWG] = 0
	AND EXISTS (SELECT 1
				FROM [MIDI].[MIDIHolding_Credit] ct
				WHERE cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID])

	UPDATE cc
	SET cc.[InNWG] = 1
	FROM [WH_AllPublishers].[WHB].[ConsumerCombination] cc
	WHERE cc.[InNWG] = 0
	AND EXISTS (SELECT 1
				FROM [MIDI].[MIDIHolding_Debit] ct
				WHERE cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID])

	UPDATE cc
	SET cc.[InNWG] = 1
	FROM [WH_AllPublishers].[WHB].[ConsumerCombination] cc
	WHERE cc.[InNWG] = 0
	AND EXISTS (SELECT 1
				FROM [Trans].[ConsumerTransaction_CreditCardHolding] ct
				WHERE cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID])

	UPDATE cc
	SET cc.[InNWG] = 1
	FROM [WH_AllPublishers].[WHB].[ConsumerCombination] cc
	WHERE cc.[InNWG] = 0
	AND EXISTS (SELECT 1
				FROM [Trans].[ConsumerTransactionHolding] ct
				WHERE cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID])

	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - End of second part'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

END




GO
