USE [WH_NWG]
GO
/****** Object:  StoredProcedure [MIDI].[Inbound_FilesToProcess]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MIDI].[Inbound_FilesToProcess]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Fetch all the files & load datetimes for each of the tables in the Inbound Schema
		*******************************************************************************************************************************************/

			SET IDENTITY_INSERT [WHB].[Transaction_Files] ON

			INSERT INTO [WHB].[Transaction_Files] (	[ID]
												,	[TableName]
												,	[LoadDate]
												,	[FileName]
												,	[FileNameDate]
												,	[FileProcessed])
			SELECT	DISTINCT
					nf.[ID]
				,	[TableName] =	CASE
										WHEN nf.[FileType] IN ('TRANS', 'CRTRN') THEN 'Transactions'
										WHEN nf.[FileType] IN ('DDTRN') THEN 'Transactions_DD'
									END
				,	[LoadDate] = nf.[InDate]
				,	[FileName] = nf.[FileName] + '.TXT'
				,	[FileNameDate] = CONVERT(DATE, nf.[InDate])
				,	[FileProcessed] = 1
			FROM [SLC_REPL].[dbo].[NobleFiles] nf
			WHERE nf.[FileType] IN ('TRANS', 'DDTRN', 'CRTRN')
			AND NOT EXISTS (SELECT 1
							FROM [WHB].[Transaction_Files] tf
							WHERE nf.[ID] = tf.[ID])
			ORDER BY	nf.[ID]
					
			SET IDENTITY_INSERT [WHB].[Transaction_Files] OFF
					   				
			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	t.[FileID]
				,	[TableName] = 'Transactions_DD'
				,	[LoadDate] = MIN(t.[LoadDate])
				,	t.[FileName]
				,	[FileNameDate] = TRY_CONVERT(DATE, SUBSTRING(t.[FileName], PATINDEX('%202[0-9][0-9][0-9][0-9][0-9]%', t.[FileName]), 8))
				,	[FileProcessed] = 0
			INTO #Inbound_Files
			FROM [Inbound].[Transactions_DD] t
			WHERE t.[LoadDate] > DATEADD(WEEK, -1, GETDATE())
			GROUP BY	t.[FileID]
					,	t.[FileName]
							
			INSERT INTO #Inbound_Files
			SELECT	t.[FileID]
				,	[TableName] = 'Transactions'
				,	[LoadDate] = MIN(t.[LoadDate])
				,	t.[FileName]
				,	[FileNameDate] = TRY_CONVERT(DATE, SUBSTRING(t.[FileName], PATINDEX('%202[0-9][0-9][0-9][0-9][0-9]%', t.[FileName]), 8))
				,	[FileProcessed] = 0
			FROM [Inbound].[Transactions] t
			WHERE t.[LoadDate] > DATEADD(WEEK, -1, GETDATE())
			GROUP BY	t.[FileID]
					,	t.[FileName]
			
			CREATE CLUSTERED INDEX [CIX_DataSourceDateFileLoad] ON #Inbound_Files ([FileNameDate], [FileName], [LoadDate])
						
			INSERT INTO [WHB].[Transaction_Files] (	[TableName]
												,	[LoadDate]
												,	[FileName]
												,	[FileNameDate]
												,	[FileProcessed])
			SELECT	i.[TableName]
				,	i.[LoadDate]
				,	i.[FileName]
				,	i.[FileNameDate]
				,	i.[FileProcessed]
			FROM #Inbound_Files i
			WHERE NOT EXISTS (	SELECT 1
								FROM [WHB].[Transaction_Files] i2
								WHERE i.[FileName] = i2.[FileName])
			AND i.[FileName] NOT LIKE '%NWG_DIMAIN_Transactions_%'
			ORDER BY	i.[FileNameDate]
					,	i.[TableName]
					,	i.[FileName]
					,	i.[LoadDate]

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
