USE [WH_NWG]
GO
/****** Object:  StoredProcedure [MIDI].[CTDDL_CT_OINI]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [MIDI].[CTDDL_CT_OINI]
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Update Currensea
	*******************************************************************************************************************************************/
	
		UPDATE cc
		SET cc.[BrandID] = cc2.[BrandID]
		FROM [Warehouse].[Staging].[ConsumerCombination_DD_OINI] cc
		CROSS APPLY (	SELECT	TOP 1
								cc2.[BrandID]
						FROM [Warehouse].[Relational].[ConsumerCombination_DD] cc2
						WHERE cc.[OIN] = cc2.[OIN]
						AND cc2.[BrandID] = 6838) cc2
		WHERE (	[Narrative_RBS] LIKE 'CSEA %'
			OR	[Narrative_RBS] LIKE 'CSEA__ %')
		AND cc.[BrandID] = 944

	/*******************************************************************************************************************************************
		2.	Update Hilton Honor Card (Currensea)
	*******************************************************************************************************************************************/
	
		UPDATE cc
		SET cc.[BrandID] = cc2.[BrandID]
		FROM [Warehouse].[Staging].[ConsumerCombination_DD_OINI] cc
		CROSS APPLY (	SELECT	TOP 1
								cc2.[BrandID]
						FROM [Warehouse].[Relational].[ConsumerCombination_DD] cc2
						WHERE cc.[OIN] = cc2.[OIN]
						AND cc2.[BrandID] = 6838) cc2
		WHERE (	[Narrative_RBS] LIKE 'HLTN %'
			OR	[Narrative_RBS] LIKE 'HLTN__ %')
		AND cc.[BrandID] = 944

	/*******************************************************************************************************************************************
		3.	Update Build My Credit Score (Currensea)
	*******************************************************************************************************************************************/
	
		UPDATE cc
		SET cc.[BrandID] = cc2.[BrandID]
		FROM [Warehouse].[Staging].[ConsumerCombination_DD_OINI] cc
		CROSS APPLY (	SELECT	TOP 1
								cc2.[BrandID]
						FROM [Warehouse].[Relational].[ConsumerCombination_DD] cc2
						WHERE cc.[OIN] = cc2.[OIN]
						AND cc2.[BrandID] = 6838) cc2
		WHERE (	[Narrative_RBS] LIKE 'BMCS %'
			OR	[Narrative_RBS] LIKE 'BMCS__ %')
		AND cc.[BrandID] = 944

	/*******************************************************************************************************************************************
		4.	Update [ConsumerCombination_DD] table from [ConsumerCombination_DD_OINI]
	*******************************************************************************************************************************************/
	
		UPDATE cc
		SET cc.[BrandID] = cc2.[BrandID]
		FROM [Warehouse].[Relational].[ConsumerCombination_DD] cc
		INNER JOIN [Warehouse].[Staging].[ConsumerCombination_DD_OINI] cc2
			ON cc.[ConsumerCombinationID_DD] = cc2.[ConsumerCombinationID_DD]
		WHERE cc.[BrandID] = 944
		AND cc2.[BrandID] != 944

	/*******************************************************************************************************************************************
		5.	Remove entries from [ConsumerCombination_DD_OINI] that have already updated in [ConsumerCombination_DD]
	*******************************************************************************************************************************************/

		DELETE cc
		FROM [Warehouse].[Staging].[ConsumerCombination_DD_OINI] cc
		WHERE cc.[BrandID] != 944
		AND EXISTS (SELECT 1
					FROM [Warehouse].[Relational].[ConsumerCombination_DD] cc2
					WHERE cc.[ConsumerCombinationID_DD] = cc2.[ConsumerCombinationID_DD]
					AND cc.[BrandID] = cc2.[BrandID])

END
GO
