USE [WH_NWG]
GO
/****** Object:  StoredProcedure [MIDI].[InboundTransactionDeleter_CJM]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=====================================================================================================
-- This is just a simple program to pull data from a source table into a generic destination table which 
-- is then used as the source of data for the rest of the MIDI process
--=====================================================================================================
CREATE PROCEDURE [MIDI].[InboundTransactionDeleter_CJM]
AS
BEGIN

	SET NOCOUNT ON
	SET ANSI_WARNINGS OFF
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @ProcessName VARCHAR(100) = ISNULL(OBJECT_NAME(@@PROCID),'SSMS')
		,	@Activity VARCHAR(200)
		,	@time DATETIME = GETDATE()
		,	@BatchNumberMessage VARCHAR(200)
		,	@SSMS BIT
		,	@RowsAffected INT

	SET @Activity = @ProcessName + ' - Starting';
	EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
	/*******************************************************************************************************************************************
		1.	Prepare loop parameters
	*******************************************************************************************************************************************/

		DECLARE @BatchNumber INT = 1
			,	@TotalBatches INT

		DROP TABLE IF EXISTS #LoadDates
		SELECT	tr.[LoadDate]
			,	tr.[FileName]
			,	[Transactions] = COUNT(*)
		INTO #LoadDates
		FROM [Inbound].[Transactions] tr
		WHERE tr.[LoadDate] <= DATEADD(WEEK, -1, GETDATE())
		GROUP BY	tr.[LoadDate]
				,	tr.[FileName]
		HAVING COUNT(*) > 100000
		ORDER BY	tr.[LoadDate]
				,	tr.[FileName]

		SET @TotalBatches = @@ROWCOUNT

		CREATE CLUSTERED INDEX [CIX_FileRow] ON #LoadDates ([LoadDate])

		SET @Activity = @ProcessName + ' - Fetched #LoadDates'
		EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

		DROP TABLE IF EXISTS #Transactions_All
		CREATE TABLE #Transactions_All ([ID] BIGINT
									,	[BankID] VARCHAR(4)
									,	[FileID] INT
									,	[RowNum] INT
									,	[TransactionID] [varchar](100)
									,	[TransactionReferenceNumber] [varchar](100)
									,	[MerchantID] [varchar](50) NULL
									,	[Amount] [decimal](19, 4))

		CREATE CLUSTERED INDEX [CIX_FileRow] ON #Transactions_All ([FileID], [TransactionID], [TransactionReferenceNumber], [MerchantID], [Amount])

		/*
		DROP TABLE IF EXISTS #Transactions;
		CREATE TABLE #Transactions ([ID] BIGINT PRIMARY KEY)
		*/
		DROP TABLE IF EXISTS #Transactions;
		CREATE TABLE #Transactions (
			ID BIGINT, 
			[FileName] VARCHAR(60), 
			LoadDate DATETIME, 
			BatchNo INT);
		CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #Transactions (BatchNo, ID)


	/*******************************************************************************************************************************************
		2.	Begin loop
	*******************************************************************************************************************************************/
	
		WHILE (SELECT COUNT(*) FROM #LoadDates) > 0
			BEGIN

				SET @BatchNumberMessage = ' - Batch ' + FORMAT(@BatchNumber, 'N0') + ' of ' + CONVERT(VARCHAR, FORMAT(@TotalBatches, 'N0'))

				SET @Activity = @ProcessName + @BatchNumberMessage + ' - Starting'
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				DECLARE @LoadDate DATETIME

				SELECT	@LoadDate = MIN([LoadDate])
				FROM #LoadDates

				DECLARE @FileName VARCHAR(60)

				SELECT	@FileName = MIN([FileName])
				FROM #LoadDates
				WHERE [LoadDate] = @LoadDate

				DECLARE @FileID INT

				SELECT	@FileID = [ID]
				FROM [WHB].[Transaction_Files]
				WHERE [FileName] = @FileName

			--	SELECT @LoadDate, @FileName, @FileID

				TRUNCATE TABLE #Transactions_All;
				;WITH
				Inbound AS (SELECT	tr.[ID]
								--,	tr.[FileName]
								,	tr.[BankID]
								,	[FileID] = @FileID --
								,	tr.[RowNum]
								,	tr.[TransactionID]
								,	tr.[TransactionReferenceNumber]
								,	tr.[MerchantID]
								,	tr.[Amount]
							FROM [Inbound].[Transactions] tr
							WHERE tr.[FileName] = @FileName
							AND tr.[LoadDate] = @LoadDate
							)

				INSERT INTO #Transactions_All
				SELECT	tr.[ID]
					,	tr.[BankID]
					,	tr.[FileID] --
					,	tr.[RowNum]
					,	tr.[TransactionID]
					,	tr.[TransactionReferenceNumber]
					,	tr.[MerchantID]
					,	tr.[Amount]
				FROM Inbound tr
				ORDER BY	tr.[FileID] --
						,	tr.[TransactionID]
						,	tr.[TransactionReferenceNumber]
						,	tr.[MerchantID]
						,	tr.[Amount]
				OPTION(RECOMPILE);

				SET @RowsAffected = @@ROWCOUNT
				SET @Activity = @ProcessName + @BatchNumberMessage + ' - Fetched [' + FORMAT(@RowsAffected, 'N0') + '] rows from [Inbound].[Transactions] to #Transactions_All'
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			--	DECLARE @FileID INT = 52055
	
				TRUNCATE TABLE #Transactions;
				INSERT INTO #Transactions (ID, [FileName], LoadDate, BatchNo) -- 
				SELECT	DISTINCT
						ID, @FileName, @LoadDate, BatchNo = 1 + (ROW_NUMBER() OVER(ORDER BY ID)-1)/300000 
				FROM #Transactions_All i WITH (NOLOCK)
				WHERE EXISTS (	
					SELECT 1				
					FROM [WHB].[Inbound_Transactions] w WITH (NOLOCK)
					WHERE w.[FileID] = @FileID 
						AND w.[SourceRowNum] = i.[RowNum] 
						AND w.[TransactionID] IN (i.[TransactionID], i.[TransactionReferenceNumber])
						AND COALESCE(i.[MerchantID], '') = COALESCE(w.[MerchantID], '')
						AND i.[Amount] = w.[Amount]
						AND i.[BankID] = w.[BankID])
				ORDER BY	i.[ID]
				OPTION(RECOMPILE);
				-- 34,949,210 / 00:00:35				

				SET @RowsAffected = @@ROWCOUNT;
				SET @Activity = @ProcessName + @BatchNumberMessage + ' - Fetched [' + FORMAT(@RowsAffected, 'N0') + '] rows from #Transactions_All that exist in [WHB].[Inbound_Transactions] to #Transactions'
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
				DECLARE	@RowCount INT
				
				SET @RowsAffected = 0
								
			--	DECLARE @LoadDate DATETIME = '2025-06-28 08:26:06.000', @FileName VARCHAR(60) = 'PGPC.NCBP.TRANS.20250627.TXT'

				DECLARE @Batchno INT = 1;
				WHILE 1 = 1 BEGIN

					DELETE i
					FROM [Inbound].[Transactions] i WITH (TABLOCKX)
					INNER JOIN #Transactions w 
						ON w.[FileName] = i.[FileName]
						AND w.LoadDate = i.[LoadDate]
						AND w.ID = i.ID
						AND w.BatchNo = @Batchno;

					SET @RowCount = @@ROWCOUNT;
					IF @RowCount = 0 BREAK;

					SET @Activity = @ProcessName + @BatchNumberMessage + '				- Deleted [' + FORMAT(@RowCount, 'N0') + '] rows from [Inbound].[Transactions]';
					EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT;
						
					SET @RowsAffected = @RowsAffected + @RowCount;
					SET @Batchno = @Batchno + 1;

				END


				DELETE
				FROM #LoadDates
				WHERE [LoadDate] = @LoadDate
				AND [FileName] = @FileName
	
				SET @Activity = @ProcessName + @BatchNumberMessage + ' - Deleted [' + FORMAT(@RowsAffected, 'N0') + '] rows from [Inbound].[Transactions]'
				EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
				SET @BatchNumber = @BatchNumber + 1
			
			END
	
	/*******************************************************************************************************************************************
		4.	Complete
	*******************************************************************************************************************************************/
			
		SET @Activity = @ProcessName + ' - Completed';
		EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

END

GO
