USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Push].[SetControlGroups]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Push].[SetControlGroups] @ControlTableName NVARCHAR(100)

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY


		DECLARE @ForceRefresh int = 0; -- setting this to 1 refreshes all the temp tables (Included in case part of the script fails so that it isn't necessary to wait for previously loaded tables to load)
		DECLARE @ControlSize float = 0.1; --Agreed size (as a % of the total marketable base) --	Updated from 0.015 - 20250610

		DECLARE @EndDate date
		DECLARE @StartDate date 

		DECLARE @WhileStartDate AS DATE = '2022-12-01'
		DECLARE @WhileEndDate AS DATE = DATEADD(year,20,@WhileStartDate)
		DECLARE @CurrentDate AS DATE = @WhileStartDate
		DECLARE @LatestCycleStartDate date

		DECLARE @RegistrationCutOffDate date

		--THIS SECTION ENSURES THE CONTROL SIZE % IS DYNAMIC--
		DECLARE @ControlLOG int = ABS(FLOOR(LOG(@ControlSize,10)))+1;
		DECLARE @SplitSize int = POWER(10,@ControlLOG);
		DECLARE @ControlPick int = (@ControlSize * @SplitSize) - 1;

		--DECLARE  @ControlTableName NVARCHAR(100) = 'A1Push_Daily_NW'


		IF OBJECT_ID('tempdb..#PreviousControlTableHere') IS NOT NULL

		BEGIN
		SET @SplitSize = @SplitSize - (@ControlPick + 1)
		END

		

		/*******************************************************************************************************************************************
			1.	FORTNIGHTLY CYCLE DATES	
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #CycleStartDates
			
			CREATE TABLE #CycleStartDates
			(TargetDate date PRIMARY KEY);

			WHILE (@CurrentDate < @WhileEndDate)
			BEGIN

			INSERT INTO #CycleStartDates  
			SELECT @CurrentDate Currentdate
				IF @@ROWCOUNT < 1
					print @CurrentDate    
		
				SET @CurrentDate = DATEADD(day,14,@CurrentDate); 
			END

			SET @LatestCycleStartDate = (SELECT TargetDate FROM #CycleStartDates iom WHERE CAST(GETDATE() AS date) >= iom.TargetDate AND  CAST(GETDATE() AS date) < DATEADD(day,14,iom.TargetDate))
			SET @EndDate = DATEFROMPARTS(YEAR(@LatestCycleStartDate),MONTH(@LatestCycleStartDate),1)
			SET @StartDate = DATEADD(year,-1,@EndDate)



		/*******************************************************************************************************************************************
			2.	MARKETABLE BASE	
		*******************************************************************************************************************************************/
		

			DROP TABLE IF EXISTS #MarketableBase;

			CREATE TABLE #MarketableBase (
				CustomerGUID UNIQUEIDENTIFIER,
				FanID INT,
				CompositeID BIGINT,
				CINID INT,
				CIN INT,
				ClubID INT,
				AccountType VARCHAR(100),
				Gender CHAR(1),
				AgeCurrent INT,
				CashbackLTV MONEY,
				MarketingStatus INT,
				EmailTracking INT,
				RegistrationMonth DATE,
				MonthTenure INT,
				MultiProductStatus INT,
				LastUpdatedDate DATETIME
			);

			DECLARE @SQL NVARCHAR(MAX);

			SET @SQL = N'
				INSERT INTO #MarketableBase
				SELECT 
					c.CustomerGUID,
					c.FanID,
					c.CompositeID,
					cin.CINID,
					cin.CIN,
					c.ClubID,
					c.AccountType,
					c.Gender,
					c.AgeCurrent,
					c.CashbackLTV,
					CASE 
						WHEN c.MarketableByEmail = 1 AND c.MarketableByPush = 1 THEN 3
						WHEN c.MarketableByEmail = 1 THEN 1
						WHEN c.MarketableByPush = 1 THEN 2 
					END AS MarketingStatus,
					CASE 
						WHEN c.MarketableByEmail = 1 THEN c.EmailTracking 
						ELSE 0 
					END AS EmailTracking,
					DATEFROMPARTS(YEAR(c.RegistrationDate), MONTH(c.RegistrationDate), 1) AS RegistrationMonth,
					DATEDIFF(MONTH, c.RegistrationDate, GETDATE()) AS MonthTenure,
					CASE 
						WHEN c.IsCredit = 1 AND c.IsDebit = 1 THEN 3
						WHEN c.IsDebit = 1 THEN 2
						WHEN c.IsCredit = 1 THEN 1
						ELSE 0 
					END AS MultiProductStatus,
					GETDATE() AS LastUpdatedDate
				FROM Derived.Customer c
				LEFT JOIN Derived.CINList cin
					ON cin.CIN = c.SourceUID
				WHERE EXISTS (
					SELECT 1
					FROM WH_NWG.Push.' + QUOTENAME(@ControlTableName) + ' p
					WHERE p.CustomerID = cin.CIN
				);
			';

			-- Execute the dynamic SQL
			EXEC sp_executesql @SQL;

			CREATE CLUSTERED INDEX idx_CustomerGUID_CINID ON #MarketableBase (CustomerGUID, CINID);

			
			--SELECT  * FROM #MarketableBase;

		/*******************************************************************************************************************************************
			3.	HISTORICAL ACCOUNT SPEND	
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #GeneralSpend
			SELECT 
				ct.CINID
				,MONTH(ct.TranDate) TranMonth
				,YEAR(ct.TranDate) TranYear
				,COUNT(*) Transactions
				,SUM(ct.Amount) Spend
				,GETDATE() AS LastUpdatedDate
			INTO #GeneralSpend
			FROM Trans.ConsumerTransaction ct
			WHERE 1=1
				AND EXISTS(SELECT 1 FROM #MarketableBase mb WHERE mb.CINID = ct.CINID)
				AND ct.TranDate >= @StartDate
				AND ct.TranDate < @EndDate
				AND ct.Amount > 0
			GROUP BY 	ct.CINID
				,MONTH(ct.TranDate)
				,YEAR(ct.TranDate);

			CREATE CLUSTERED INDEX Customer ON #GeneralSpend (CINID);

			DROP TABLE IF EXISTS #MonthlySpend
			SELECT 
				s.CINID
				,AVG(s.Spend) AvgGeneralSpend
				,AVG(s.Transactions) AvgGeneralTransactions
				,COUNT(*) MonthsActive
				,GETDATE() AS LastUpdatedDate
			INTO #MonthlySpend
			FROM #GeneralSpend s
			GROUP BY s.CINID;

			CREATE CLUSTERED INDEX Customer ON #MonthlySpend (CINID);

			--select * from #GeneralSpend
			--select * from #MonthlySpend
			--select * from #MarketableBase


		/*******************************************************************************************************************************************
			4.	HISTORICAL MERCHANT TRANSACTIONS
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #PartnerTrans_Raw
			SELECT
				pt.CustomerGUID
				,pt.TransactionDate
				,DATEFROMPARTS(YEAR(pt.TransactionDate),MONTH(pt.TransactionDate),1) TransactionMonth
				,pt.PartnerID
				,CASE WHEN pt.DirectDebitOriginatorID IS NULL THEN 1 ELSE 2 END AS TranType
				,pt.CashbackEarned
				,1 AS Transactions
				,GETDATE() AS LastUpdatedDate
			INTO #PartnerTrans_Raw
			FROM Derived.PartnerTrans pt
			WHERE 1 = 1
				AND EXISTS(SELECT 1 FROM #MarketableBase mb WHERE mb.CustomerGUID = pt.CustomerGUID)
				AND pt.TransactionDate >= @StartDate
				AND pt.TransactionDate < @EndDate;

			CREATE CLUSTERED INDEX Customer ON #PartnerTrans_Raw (CustomerGUID)
			CREATE INDEX TranMonth ON #PartnerTrans_Raw (TransactionMonth);
			

			DROP TABLE IF EXISTS #Annual_PartnerTrans
			SELECT 
				pt.CustomerGUID
				,SUM(pt.Transactions) AS RewardedTransactions
				,ISNULL(SUM(CASE WHEN TranType = 2 THEN pt.Transactions END),0) AS MFDD_Transactions
				,ISNULL(SUM(CASE WHEN TranType = 1 THEN pt.Transactions END),0) AS CLO_Transactions
				,COUNT(DISTINCT pt.PartnerID) AS PartnersUsed
				,COUNT(DISTINCT pt.TransactionMonth) AS RewardedMonths
				,DATEDIFF(month,MAX(pt.TransactionDate),@EndDate) AS MonthsSinceTransact
				,GETDATE() AS LastUpdatedDate
			INTO #Annual_PartnerTrans
			FROM #PartnerTrans_Raw pt
			WHERE pt.CashbackEarned > 0
			GROUP BY pt.CustomerGUID;

			CREATE CLUSTERED INDEX idx_Customer ON #Annual_PartnerTrans (CustomerGUID)



			DROP TABLE IF EXISTS #CashbackRefunds
			SELECT
					CustomerGUID
					,1 AS RefundFlag
					,GETDATE() AS LastUpdatedDate
			INTO #CashbackRefunds
			FROM #PartnerTrans_Raw
			WHERE CashbackEarned < 0
			GROUP BY CustomerGUID;


			CREATE CLUSTERED INDEX idx_Customer ON #CashbackRefunds (CustomerGUID)

			--select * from #Annual_PartnerTrans


		/*******************************************************************************************************************************************
			5.	HISTORICAL LOG INS	
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #LogIns
			SELECT 
				al.CustomerGUID
				,MONTH(al.TrackDate) AS LogInMonth
				,YEAR(al.TrackDate) AS LogInYear
				,COUNT(DISTINCT DAY(al.TrackDate)) AS LogIns
				,MAX(al.TrackDate) AS LastLogInDate
				,GETDATE() AS LastUpdatedDate
			INTO #LogIns
			FROM Derived.AppLogins al
			WHERE 1 = 1
				AND EXISTS(SELECT 1 FROM #MarketableBase mc WHERE mc.CustomerGUID = al.CustomerGUID)
				AND al.TrackDate >= @StartDate
				AND al.TrackDate < @EndDate
			GROUP BY 	al.CustomerGUID
				,MONTH(al.TrackDate)
				,YEAR(al.TrackDate);

			CREATE CLUSTERED INDEX Customer ON #LogIns (CustomerGUID)

			DROP TABLE IF EXISTS #Annual_LogIns
			SELECT 
				l.CustomerGUID
				,AVG(l.LogIns) AS AvgMonthlyLogIns
				,COUNT(*) AS LogInMonths
				,SUM(l.LogIns) AS AnnualLogIns
				,DATEDIFF(month,MAX(l.LastLogInDate),@EndDate) AS MonthsSinceLogIn
				,GETDATE() AS LastUpdatedDate
			INTO #Annual_LogIns
			FROM #LogIns l
			GROUP BY l.CustomerGUID

			CREATE CLUSTERED INDEX idx_Customer ON #Annual_LogIns (CustomerGUID)

			 --select * from #Annual_LogIns


		/*******************************************************************************************************************************************
			6.	HISTORICAL REDEMPTIONS
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Annual_Redemptions
			SELECT 
				r.CustomerGUID
				,COUNT(DISTINCT CAST(r.RedeemedDate AS date)) AS Redemptions
				,COUNT(DISTINCT MONTH(r.RedeemedDate)) AS RedeemingMonths
				,COUNT(DISTINCT CASE WHEN r.RedemptionType LIKE 'Tr%' THEN CAST(r.RedeemedDate AS date) END) AS TradeUps
				,COUNT(DISTINCT CASE WHEN r.RedemptionType LIKE 'Tr%' THEN r.RedemptionPartnerGUID END) AS TradeUpPartners
				,DATEDIFF(month,MAX(CAST(r.RedeemedDate AS date)),@EndDate) AS MonthsSinceRedemption
				,GETDATE() AS LastUpdatedDate
			INTO #Annual_Redemptions
			FROM Derived.Redemptions r
			WHERE 1 = 1
				AND EXISTS(SELECT 1 FROM #MarketableBase mb WHERE mb.CustomerGUID = r.CustomerGUID)
				AND r.RedeemedDate >= @StartDate
				AND r.RedeemedDate < @EndDate
			GROUP BY r.CustomerGUID;

			CREATE CLUSTERED INDEX idx_Customer ON #Annual_Redemptions (CustomerGUID)


		/*******************************************************************************************************************************************
			7.	HISTORICAL EMAIL ENGAGEMENT			
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Email_Keys
			SELECT 
				ec.CampaignKey
				,GETDATE() AS LastUpdatedDate
			INTO #Email_Keys
			FROM Derived.EmailCampaign ec
			WHERE 1=1
				AND ec.CampaignName LIKE '%newsletter%'
				AND ec.SendDate >= DATEADD(month,-4,@EndDate)
				AND ec.SendDate < @EndDate;

			
			DROP TABLE IF EXISTS #Send_Emails
			SELECT 
					ee.CampaignKey
					,ee.EmailEventCodeID
					,ee.EventDate
					,ee.CustomerGUID 
					,GETDATE() AS LastUpdatedDate
			INTO #Send_Emails
			FROM Derived.EmailEvent ee
			WHERE 1=1
				AND ee.EmailEventCodeID IN (910, 666)
				AND EXISTS(SELECT 1 FROM #MarketableBase mb WHERE mb.CustomerGUID = ee.CustomerGUID)
				AND EXISTS(SELECT 1 FROM #Email_Keys ek WHERE ek.CampaignKey = ee.CampaignKey);

			CREATE CLUSTERED INDEX Customer ON #Send_Emails (CustomerGUID)
			CREATE INDEX Campaign ON #Send_Emails (CampaignKey)

			INSERT INTO #Send_Emails (CampaignKey, EmailEventCodeID, EventDate, CustomerGUID, LastUpdatedDate)
			SELECT 
					ee.CampaignKey
					,ee.EmailEventCodeID
					,ee.EventDate
					,ee.CustomerGUID
					,GETDATE()
			FROM Derived.EmailEvent ee
			JOIN #Send_Emails ns
				ON ns.CustomerGUID = ee.CustomerGUID
				AND ns.CampaignKey = ee.CampaignKey
				AND ee.EventDate BETWEEN ns.EventDate AND DATEADD(day,5,ns.EventDate)

			WHERE ee.EmailEventCodeID IN (701, 702, 1301, 605)
				AND ee.EventDate >= DATEADD(month,-4,@EndDate);

			
			DROP TABLE IF EXISTS #Quarterly_Emails
			SELECT 
				b.CustomerGUID
				,COUNT(*) AS AttemptedSends
				,COUNT(b.[910]) AS Sends
				,SUM(CASE WHEN b.[910] IS NOT NULL AND ISNULL(b.[701],b.[702]) IS NULL THEN 1 ELSE 0 END) Delivered
				,COUNT(b.[1301]) AS Opens
				,COUNT(b.[605]) AS Clicks
				,COUNT(b.[666]) AS Failures
				,GETDATE() AS LastUpdatedDate
			INTO #Quarterly_Emails
			FROM #Send_Emails ns
			PIVOT(MIN(ns.EventDate) FOR ns.EmailEventCodeID IN ([910], [666], [701], [702], [1301], [605])) b
			GROUP BY b.CustomerGUID;

			CREATE CLUSTERED INDEX idx_Customer ON #Quarterly_Emails (CustomerGUID)

			--select * from #Quarterly_Emails



		/*******************************************************************************************************************************************
			8.	RECENT OFFERS RETAILERS	
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Current_Offers
			SELECT 
				iom.CustomerGUID
				,COUNT(CASE WHEN io.SegmentName LIKE 'A%' THEN iom.IronOfferID END) AS AcquireOffers
				,COUNT(CASE WHEN io.SegmentName LIKE 'L%' THEN iom.IronOfferID END) AS LapsedOffers
				,COUNT(CASE WHEN io.SegmentName LIKE 'S%' THEN iom.IronOfferID END) AS ShopperOffers
				,COUNT(*) AS TotalOffers
				,GETDATE() AS LastUpdatedDate
			INTO #Current_Offers
			FROM Derived.IronOfferMember iom
			JOIN Derived.IronOffer io
				ON io.IronOfferID = iom.IronOfferID
			WHERE 1=1
				AND EXISTS(SELECT 1 FROM #MarketableBase mb WHERE iom.CustomerGUID = mb.CustomerGUID AND mb.CINID IS NOT NULL)
				AND iom.StartDate = @LatestCycleStartDate
			GROUP BY 	iom.CustomerGUID;


			DROP TABLE IF EXISTS #Current_OfferBalance
			SELECT
				CustomerGUID
				, ((co.LapsedOffers + co.ShopperOffers - co.AcquireOffers) / co.TotalOffers) AS OfferBalance
				,GETDATE() AS LastUpdatedDate
			INTO #Current_OfferBalance		
			FROM #Current_Offers co;

			CREATE INDEX idx_CustomerGUID ON #Current_OfferBalance (CustomerGUID)



		/*******************************************************************************************************************************************
			9.	NATWEST SPECIFIC DETAILS
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #KPI_Dash
			SELECT
				kpi.CustomerGUID
				,kpi.NomineeStatus
				,kpi.AccountSegmentation
				,GETDATE() AS LastUpdatedDate
			INTO #KPI_Dash
			FROM Report.NW_KPIDashboardRawData kpi
			WHERE EXISTS(SELECT 1 FROM #MarketableBase mb WHERE mb.CustomerGUID = kpi.CustomerGUID)
				AND kpi.Date = EOMONTH(GETDATE(),-2)
			GROUP BY 		
					 kpi.CustomerGUID
					,kpi.NomineeStatus
					,kpi.AccountSegmentation;

			CREATE INDEX idx_CustomerGUID ON #KPI_Dash (CustomerGUID)


		/*******************************************************************************************************************************************
			10.	BRING ALL TABLES TOGETHER FOR SPLIT	
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #PreSplit
			SELECT 
				 mb.CustomerGUID
				,mb.FanID
				,mb.CompositeID
				,mb.CINID
				,mb.CIN
				,mb.ClubID
				,CASE WHEN kpi.AccountSegmentation IS NULL THEN mb.AccountType 
					ELSE CONCAT(mb.AccountType,'-',kpi.AccountSegmentation,'-',ISNULL(kpi.NomineeStatus,0)) END AS AccountType
				,mb.AgeCurrent
				,mb.CashbackLTV
				,mb.MarketingStatus
				,mb.EmailTracking
				,mb.RegistrationMonth
				,mb.MultiProductStatus
				,ISNULL(ms.AvgGeneralSpend,0) AS AvgGeneralSpend
				,ISNULL(ms.AvgGeneralTransactions,0) AS AvgGeneralTransactions
				,ISNULL(ms.MonthsActive,0) AS MonthsActive
				,ISNULL(al.AnnualLogIns,0) AS AnnualLogIns
				,ISNULL(al.LogInMonths,0) AS LogInMonths
				,ISNULL(al.AvgMonthlyLogIns,0) AS AvgMonthlyLogIns
				,ISNULL(al.MonthsSinceLogIn,999) AS MonthsSinceLogIn
				,ISNULL(pt.RewardedTransactions,0) AS RewardedTransactions
				,ISNULL(pt.RewardedMonths,0) AS RewardedMonths
				,ISNULL((pt.CLO_Transactions - pt.MFDD_Transactions) / pt.RewardedTransactions,0) AS MerchantBalance
				,ISNULL(pt.PartnersUsed,0) AS PartnersUsed
				,ISNULL(pt.MonthsSinceTransact,999) AS MonthsSinceTransact
				,ISNULL(cr.RefundFlag,0) AS RefundFlag
				,ISNULL(ar.RedeemingMonths,0) AS RedeemingMonths
				,ISNULL((ar.Redemptions - (2 * ar.TradeUps)) / ar.Redemptions,0) AS RedemptionBalance
				,ISNULL(ar.TradeUpPartners,0) AS TradeUpPartners
				,ISNULL(ar.MonthsSinceRedemption,999) AS MonthsSinceRedemption
				,ISNULL(co.OfferBalance,-1) AS OfferBalance
				,ISNULL(CASE WHEN qe.AttemptedSends = 0 THEN 0 ELSE qe.Delivered / qe.AttemptedSends END,0) AS DeliveredRate
				,ISNULL(CASE WHEN qe.Delivered = 0 THEN 0 ELSE qe.Opens/qe.Delivered END,0) AS Opens
				,ISNULL(CASE WHEN qe.Opens = 0 THEN 0 ELSE qe.Clicks/qe.Opens END,0) AS Clicks
				,GETDATE() AS LastUpdatedDate
			INTO #PreSplit
			FROM #MarketableBase mb
			LEFT JOIN #KPI_Dash kpi
				ON kpi.CustomerGUID = mb.CustomerGUID
			LEFT JOIN #MonthlySpend ms
				ON ms.CINID = mb.CINID
			LEFT JOIN #Annual_LogIns al
				ON al.CustomerGUID = mb.CustomerGUID
			LEFT JOIN #Annual_PartnerTrans pt
				ON pt.CustomerGUID = mb.CustomerGUID
			LEFT JOIN #CashbackRefunds cr
				ON cr.CustomerGUID = mb.CustomerGUID
			LEFT JOIN #Annual_Redemptions ar
				ON ar.CustomerGUID = mb.CustomerGUID
			LEFT JOIN #Current_OfferBalance co
				ON co.CustomerGUID = mb.CustomerGUID
			LEFT JOIN #Quarterly_Emails qe
				ON qe.CustomerGUID = mb.CustomerGUID;



		/*******************************************************************************************************************************************
			11.	SPLIT CONTROL BASED ON RULES DEFINED AT SCRIPT START
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #ControlSelection
			SELECT
				 CustomerGUID
				,FanID 
				,CompositeID 
				,CINID 
				,CIN
				,ClubID 
				,AccountType 
				,AgeCurrent 
				,CashbackLTV 
				,MarketingStatus 
				,EmailTracking 
				,RegistrationMonth 
				,MultiProductStatus 
				,AvgGeneralSpend 
				,AvgGeneralTransactions 
				,MonthsActive 
				,AnnualLogIns 
				,LogInMonths 
				,AvgMonthlyLogIns 
				,MonthsSinceLogIn
				,RewardedTransactions 
				,RewardedMonths 
				,MerchantBalance 
				,PartnersUsed 
				,MonthsSinceTransact
				,RefundFlag 
				,RedeemingMonths 
				,RedemptionBalance 
				,TradeUpPartners 
				,MonthsSinceRedemption
				,OfferBalance 
				,DeliveredRate 
				,Opens 
				,Clicks
				,CASE WHEN ROW_NUMBER() OVER(ORDER BY AccountType ,MarketingStatus ,EmailTracking ,RegistrationMonth ,MultiProductStatus ,AvgGeneralSpend ,AvgGeneralTransactions ,MonthsActive ,AnnualLogIns ,LogInMonths ,AvgMonthlyLogIns 
											,MonthsSinceLogIn ,RewardedTransactions ,RewardedMonths ,MerchantBalance ,PartnersUsed ,MonthsSinceTransact ,RefundFlag ,RedeemingMonths ,RedemptionBalance ,TradeUpPartners ,MonthsSinceRedemption ,OfferBalance
											,DeliveredRate ,Opens, Clicks)
							% @SplitSize
							<= @ControlPick
							THEN 1 ELSE 0 END ControlFlag
				,GETDATE() AS LastUpdatedDate
			INTO #ControlSelection
			FROM #PreSplit ps

			--select * from #ControlSelection

			DECLARE @SQL2 NVARCHAR(MAX);
			
			SET @SQL2 = N'
				UPDATE WH_NWG.Push.' + QUOTENAME(@ControlTableName) + '
				SET ControlFlag = cs.ControlFlag
				FROM WH_NWG.Push.' + QUOTENAME(@ControlTableName) + ' p
				INNER JOIN #ControlSelection cs
					ON p.CustomerID = cs.CIN;'
				
			-- Execute the dynamic SQL
			EXEC sp_executesql @SQL2;

			

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END








GO
