USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Push].[UpdateSendHistory]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Push].[UpdateSendHistory] 

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
		

		/*******************************************************************************************************************************************
			1.	Add todays A1 sends to send history
		******************************************************************************************************************************************
			INSERT INTO [Push].[PushSendHistory] (
				SendDate,
				CustomerID,
				UniqueID,
				ClubID,
				JourneyID,
				PushID,
				ControlFlag
			)
			SELECT 
				CAST(GETDATE() AS DATE) AS SendDate,
				CustomerID,
				UniqueID,
				Brand,       
				1 AS JourneyID,              
				1 AS PushID,                 
				ControlFlag       
			FROM [Push].[A1Push_Daily_NW]

			INSERT INTO [Push].[PushSendHistory] (
				SendDate,
				CustomerID,
				UniqueID,
				ClubID,
				JourneyID,
				PushID,
				ControlFlag
			)
			SELECT 
				CAST(GETDATE() AS DATE) AS SendDate,
				CustomerID,
				UniqueID,
				Brand,       
				1 AS JourneyID,              
				1 AS PushID,                 
				ControlFlag       
			FROM [Push].[A1Push_Daily_RBS]

			*/

		/*******************************************************************************************************************************************
			2.	Add todays A2 sends to send history
		*******************************************************************************************************************************************/
			
			INSERT INTO [Push].[PushSendHistory] (
				SendDate,
				CustomerID,
				UniqueID,
				ClubID,
				JourneyID,
				PushID,
				CurrentAvailableBalance,
				ControlFlag
			)
			SELECT 
				CAST(GETDATE() AS DATE) AS SendDate,
				CustomerID,
				UniqueID,
				Brand,       
				1 AS JourneyID,              
				2 AS PushID,                         
				CAST(Amount AS decimal(18,2)),       
				ControlFlag           
			FROM [Push].[A2Push_Daily_NW]


			INSERT INTO [Push].[PushSendHistory] (
				SendDate,
				CustomerID,
				UniqueID,
				ClubID,
				JourneyID,
				PushID,
				CurrentAvailableBalance,
				ControlFlag
			)
			SELECT 
				CAST(GETDATE() AS DATE) AS SendDate,
				CustomerID,
				UniqueID,
				Brand,       
				1 AS JourneyID,              
				2 AS PushID,                         
				CAST(Amount AS decimal(18,2)),       
				ControlFlag           
			FROM [Push].[A2Push_Daily_RBS]


		/*******************************************************************************************************************************************
			3.	Add todays A3 sends to send history
		*******************************************************************************************************************************************/
			
			INSERT INTO [Push].[PushSendHistory] (
				SendDate,
				CustomerID,
				UniqueID,
				ClubID,
				JourneyID,
				PushID,
				MerchantCashbackValue,
				PartnerID,
				PartnerName,
				ControlFlag
			)
			SELECT 
				CAST(GETDATE() AS DATE) AS SendDate,
				a3.CustomerID,
				a3.UniqueID,
				a3.Brand,       
				1 AS JourneyID,              
				3 AS PushID,                         
				a3.Amount,
				p.PartnerID,
				a3.Retailer,
				a3.ControlFlag           
			FROM [Push].[A3Push_Daily_NW] a3
			LEFT JOIN  Derived.Partner p
				on a3.Retailer = p.PartnerName


			INSERT INTO [Push].[PushSendHistory] (
				SendDate,
				CustomerID,
				UniqueID,
				ClubID,
				JourneyID,
				PushID,
				MerchantCashbackValue,
				PartnerID,
				PartnerName,
				ControlFlag
			)
			SELECT 
				CAST(GETDATE() AS DATE) AS SendDate,
				a3.CustomerID,
				a3.UniqueID,
				a3.Brand,       
				1 AS JourneyID,              
				3 AS PushID,                         
				a3.Amount,
				p.PartnerID,
				a3.Retailer,
				a3.ControlFlag           
			FROM [Push].[A3Push_Daily_RBS] a3
			LEFT JOIN  Derived.Partner p
				on a3.Retailer = p.PartnerName

			

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END







GO
