USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Push].[KeyRetail_JustEat_20250904]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Push].[KeyRetail_JustEat_20250904]
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @PartnerIDList VARCHAR(MAX) = '4570, 5369'
		,	@PublisherIDList VARCHAR(MAX) = '132, 138'

	DECLARE @SendDate DATE = '2025-09-24'
	DECLARE @SendTypeID INT = 1 -- 1 Earn 2 Redemption 3 Other
	DECLARE @CommChannelID INT = 2 -- 1 Email 2 Push 3 Other

	/*******************************************************************************************************************************************
		1.	Fetch Publishers, Partners and Offers to include
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
			1.1.	Fetch Publishers
		*******************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #PublisherIDs
			CREATE TABLE #PublisherIDs ([PublisherID] INT);

			INSERT INTO #PublisherIDs ([PublisherID])
			SELECT	pu.[PublisherID]
			FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@PublisherIDList, ',') i
			INNER JOIN [WH_AllPublishers].[Derived].[Publisher] pu
				ON i.[Item] = pu.[PublisherID]
			WHERE pu.[PublisherID] != 0
	
			DROP TABLE IF EXISTS #Publisher;
			SELECT	pu.[PublisherID]
				,	pu.[PublisherName]
			INTO #Publisher
			FROM [WH_AllPublishers].[Derived].[Publisher] pu
			WHERE EXISTS (	SELECT 1
							FROM #PublisherIDs p
							WHERE pu.[PublisherID] = p.[PublisherID]);

			CREATE CLUSTERED INDEX [CIX_PublisherID] ON #Publisher ([PublisherID])

		/*******************************************************************************************************************************************
			1.2.	Fetch Partners
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #PartnerIDs
			CREATE TABLE #PartnerIDs ([PartnerID] INT);

			INSERT INTO #PartnerIDs ([PartnerID])
			SELECT	pa.[PartnerID]
			FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@PartnerIDList, ',') i
			INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
				ON i.[Item] = pa.[PartnerID]
			WHERE pa.[PartnerID] != 0

			DROP TABLE IF EXISTS #Partner;
			SELECT	pa.[PartnerID]
				,	pa.[PartnerName]
				,	pa.[BrandID]
				,	br.[BrandName]
				,	bs.[SectorID]
			INTO #Partner
			FROM [WH_AllPublishers].[Derived].[Partner] pa
			LEFT JOIN [WH_AllPublishers].[Trans].[Brand] br
				ON pa.[BrandID] = br.[BrandID]
			LEFT JOIN [WH_AllPublishers].[Trans].[BrandSector] bs
				ON br.[SectorID] = bs.[SectorID]
			WHERE EXISTS (	SELECT 1
							FROM #PartnerIDs p
							WHERE pa.[PartnerID] = p.[PartnerID]);

			CREATE CLUSTERED INDEX [CIX_PartnerID] ON #Partner ([PartnerID])

		/*******************************************************************************************************************************************
			1.3.	Fetch Offers
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #IronOfferIDs;
			CREATE TABLE #IronOfferIDs(	[PriorityRank] INT IDENTITY(1,1) PRIMARY KEY
									,	[IronOfferID] INT
									,	[IronOfferName] VARCHAR(MAX)
									,	[SegmentName] VARCHAR(MAX)
									,	[PartnerID] INT
									,	[PublisherID] INT);

			INSERT INTO #IronOfferIDs (	[IronOfferID]
									,	[IronOfferName]
									,	[SegmentName]
									,	[PartnerID]
									,	[PublisherID])
			SELECT	iof.[IronOfferID]
				,	iof.[IronOfferName]
				,	iof.[SegmentName]
				,	iof.[PartnerID]
				,	[PublisherID] = iof.[ClubID]
			FROM [Derived].[IronOffer] iof
			WHERE @SendDate >= iof.[StartDate]
			AND DATEADD(DAY, 1, @SendDate) < iof.[EndDate]
			AND EXISTS (SELECT 1
						FROM #Partner pa
						WHERE iof.[PartnerID] = pa.[PartnerID])
			AND EXISTS (SELECT 1
						FROM #Publisher pu
						WHERE iof.[ClubID] = pu.[PublisherID])
			ORDER BY	iof.[PartnerID]
					,	iof.[SegmentName]
					,	iof.[IronOfferID];

	/*******************************************************************************************************************************************
		2.	Fetch Eligible Customers
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
			2.1.	Fetch Full Eligible Customers by their status
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Customers_01;
			CREATE TABLE #Customers_01(	[FanID] INT
									,	[CustomerGUID] CHAR(36)
									,	[CompositeID] BIGINT
									,	[CINID] INT 
									,	[PublisherID] INT
									,	[CustomerSegment] VARCHAR(10)
									,	[Marketability_Email] SMALLINT
									,	[Marketability_Push] SMALLINT
									,	[Marketability_Both] SMALLINT
									,	[EmailTracking] INT
									,	[RegistrationDate] DATE
									,	[Tenure] INT
									,	[CashbackLTV] MONEY);

			CREATE UNIQUE CLUSTERED INDEX [UCIX_CompositeID] ON #Customers_01 ([CompositeID]);

			INSERT INTO #Customers_01 (	[FanID]
									,	[CustomerGUID]
									,	[CompositeID]
									,	[CINID]
									,	[PublisherID]
									,	[CustomerSegment]
									,	[Marketability_Email]
									,	[Marketability_Push]
									,	[Marketability_Both]
									,	[EmailTracking]
									,	[RegistrationDate]
									,	[Tenure]
									,	[CashbackLTV])
			SELECT	cu.[FanID]
				,	cu.[CustomerGUID]
				,	cu.[CompositeID]
				,	cin.[CINID]
				,	[PublisherID] = cu.[ClubID]
				,	cu.[AccountType]
				,	cu.[MarketableByEmail]
				,	cu.[MarketableByPush]
				,	[Marketability_Both] =	CASE 
												WHEN cu.[MarketableByEmail] = 1 AND cu.[MarketableByPush] = 1 THEN 1
												ELSE 0 
											END
				,	cu.[EmailTracking]
				,	cu.[RegistrationDate]
				,	[Tenure] = DATEDIFF(YEAR, cu.[RegistrationDate], @SendDate)
				,	cu.[CashbackLTV]
			FROM [Derived].[Customer] cu
			LEFT JOIN [Derived].[CINList] cin
				ON cin.[CIN] = cu.[SourceUID]
				AND NOT EXISTS (SELECT 1
								FROM [Derived].[Customer_DuplicateSourceUID] ds
								WHERE cin.[CIN] = ds.[SourceUID]
								AND ds.[EndDate] IS NULL)
			WHERE 1 = 1
			AND (cu.[MarketableByPush] = 1 OR cu.[MarketableByEmail] = 1)
			AND cu.[CurrentlyActive] = 1
			AND NOT EXISTS (SELECT 1 
							FROM [Selections].[PrioritisedCustomerAccounts] pca 
							WHERE pca.[FanID] = cu.[FanID] 
							AND pca.[EndDate] IS NULL)
			AND NOT EXISTS (SELECT 1 
							FROM [Derived].[FallowSelection] fs 
							WHERE fs.[FallowFlag] = 1 
							AND fs.[FanID] = cu.[FanID])
			AND EXISTS (SELECT 1 
						FROM #Publisher pu 
						WHERE cu.[ClubID] = pu.[PublisherID])
			ORDER BY	cu.[CompositeID];

		/*******************************************************************************************************************************************
			2.2.	Fetch Eligible Offer Memberships
		*******************************************************************************************************************************************/

		--	DECLARE @SendDate DATE = '2025-09-24'

			DROP TABLE IF EXISTS #IronOfferMember_All
			SELECT	iom.[IronOfferID]
				,	iom.[CompositeID]
				,	iom.[StartDate]
				,	iom.[EndDate]
			INTO #IronOfferMember_All
			FROM [Warehouse].[Relational].[IronOfferMember] iom
			WHERE EXISTS (	SELECT 1
							FROM #IronOfferIDs iof
							WHERE iom.[IronOfferID] = iof.[IronOfferID])
			AND iom.[EndDate] > DATEADD(DAY, 1, @SendDate);

			CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #IronOfferMember_All ([IronOfferID], [CompositeID])
			
			DECLARE @MinLoop INT
				,	@MaxLoop INT
				,	@IronOfferID INT

			SELECT	@MinLoop = MIN([PriorityRank])
				,	@MaxLoop = MAX([PriorityRank])
			FROM #IronOfferIDs
			
			DROP TABLE IF EXISTS #IronOfferMembers;
			CREATE TABLE #IronOfferMembers(	[CompositeID] BIGINT
										,	[IronOfferID] INT
										,	[StartDate] DATE
										,	[EndDate] DATE)

			CREATE UNIQUE CLUSTERED INDEX [UCIX_CompositeID] ON #IronOfferMembers ([CompositeID])

			WHILE @MinLoop <= @MaxLoop
			BEGIN

				SELECT @IronOfferID = [IronOfferID]
				FROM #IronOfferIDs
				WHERE @MinLoop = [PriorityRank]

				INSERT INTO #IronOfferMembers(	[CompositeID]
											,	[IronOfferID]
											,	[StartDate]
											,	[EndDate])

				SELECT	iom.[CompositeID]
					,	iom.[IronOfferID]
					,	iom.[StartDate]
					,	iom.[EndDate]
				FROM #IronOfferMember_All iom
				WHERE EXISTS(	SELECT 1
								FROM #Customers_01 cu
								WHERE cu.[CompositeID] = iom.[CompositeID])
				AND NOT EXISTS(	SELECT 1
								FROM #IronOfferMembers ioms
								WHERE ioms.[CompositeID] = iom.[CompositeID])
				AND iom.[IronOfferID] = @IronOfferID
				AND	iom.[StartDate] <= @SendDate
				AND iom.[EndDate] > DATEADD(DAY, 1, @SendDate)
				ORDER BY	iom.[CompositeID];

				SET @MinLoop = @MinLoop + 1

			END

		/*******************************************************************************************************************************************
			2.3.	Fetch Eligible Customers That are on the Offers
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Customers_02;
			CREATE TABLE #Customers_02(	[FanID] INT
									,	[CustomerGUID] CHAR(36)
									,	[CompositeID] BIGINT
									,	[CINID] INT 
									,	[PublisherID] INT
									,	[CustomerSegment] VARCHAR(10)
									,	[Marketability_Email] SMALLINT
									,	[Marketability_Push] SMALLINT
									,	[Marketability_Both] SMALLINT
									,	[EmailTracking] INT
									,	[RegistrationDate] DATE
									,	[Tenure] INT
									,	[CashbackLTV] MONEY
									,	[IronOfferID] INT
									,	[PartnerID] INT
									,	[OfferStartDate] DATE
									,	[OfferEndDate] DATE);

			CREATE UNIQUE CLUSTERED INDEX [UCIX_FanID] ON #Customers_02 ([FanID])

			INSERT INTO #Customers_02 (	[FanID]
									,	[CustomerGUID]
									,	[CompositeID]
									,	[CINID]
									,	[PublisherID]
									,	[CustomerSegment]
									,	[Marketability_Email]
									,	[Marketability_Push]
									,	[Marketability_Both]
									,	[EmailTracking]
									,	[RegistrationDate]
									,	[Tenure]
									,	[CashbackLTV]
									,	[IronOfferID]
									,	[PartnerID]
									,	[OfferStartDate]
									,	[OfferEndDate])

			SELECT	cu.[FanID]
				,	cu.[CustomerGUID]
				,	cu.[CompositeID]
				,	cu.[CINID]
				,	cu.[PublisherID]
				,	cu.[CustomerSegment]
				,	cu.[Marketability_Email]
				,	cu.[Marketability_Push]
				,	cu.[Marketability_Both]
				,	cu.[EmailTracking]
				,	cu.[RegistrationDate]
				,	cu.[Tenure]
				,	cu.[CashbackLTV]
				,	iom.[IronOfferID]
				,	iod.[PartnerID]
				,	iom.[StartDate]
				,	iom.[EndDate]
			FROM #Customers_01 cu
			INNER JOIN #IronOfferMembers iom
				ON iom.[CompositeID] = cu.[CompositeID]
			INNER JOIN #IronOfferIDs iod
				ON iod.[IronOfferID] = iom.[IronOfferID]
				AND iod.[PublisherID] = cu.[PublisherID];

			CREATE NONCLUSTERED INDEX [IX_CINID] ON #Customers_02 ([CINID])

	/*******************************************************************************************************************************************
		3.	Fetch Transactional Data
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
			3.1.	Fetch ConsumerCombinations
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #ConsumerCombinations;
			CREATE TABLE #ConsumerCombinations ([ConsumerCombinationID] INT)

			CREATE UNIQUE CLUSTERED INDEX [UCIX_CCID] ON #ConsumerCombinations ([ConsumerCombinationID])

			INSERT INTO #ConsumerCombinations ([ConsumerCombinationID])
			SELECT	cc.[ConsumerCombinationID]
			FROM [Trans].[ConsumerCombination] cc
			WHERE EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Trans].[Brand] br
							INNER JOIN #Partner pa
								ON pa.[SectorID] = br.[SectorID]
							WHERE br.[BrandID] = cc.[BrandID])
			ORDER BY cc.[ConsumerCombinationID];

		/*******************************************************************************************************************************************
			3.2.	Fetch Spend Metrics
		*******************************************************************************************************************************************/
		
		--	DECLARE @SendDate DATE = '2025-09-24'

			DROP TABLE IF EXISTS #Spend
			CREATE TABLE #Spend (	[CINID] INT
								,	[SPS] MONEY
								,	[ATF] FLOAT
								,	[DaysSinceLastTran] INT);

			CREATE UNIQUE CLUSTERED INDEX [UCIX_CINID] ON #Spend ([CINID])

			INSERT INTO #Spend ([CINID]
							,	[SPS]
							,	[ATF]
							,	[DaysSinceLastTran])
			SELECT	ct.[CINID]
				,	[SPS] = SUM(ct.[Amount]) / CAST(COUNT(1) AS FLOAT)
				,	[ATF] = SUM(ct.[Transactions]) /  CAST(COUNT(1) AS FLOAT)
				,	[DaysSinceLastTran] = DATEDIFF(DAY, MAX(ct.[TranDate]), @SendDate)
			FROM (	SELECT	ct.[CINID]
						,	[TranMonth] = EOMONTH(ct.[TranDate])
						,	[Amount] = SUM(ct.[Amount])
						,	[Transactions] = SUM(1.0)
						,	[TranDate] = MAX(ct.[TranDate])
					FROM [Trans].[ConsumerTransaction] ct
					WHERE ct.[TranDate] < @SendDate
					AND ct.[TranDate] >= DATEADD(MONTH, -12, @SendDate)
					AND ct.[Amount] > 0
					AND EXISTS (	SELECT 1
									FROM #ConsumerCombinations cc
									WHERE cc.[ConsumerCombinationID] = ct.[ConsumerCombinationID])
					AND EXISTS(		SELECT 1
									FROM #Customers_02 cu
									WHERE cu.[CINID] = ct.[CINID])
					GROUP BY	ct.[CINID]
							,	EOMONTH(ct.[TranDate])
					) ct
			GROUP BY	ct.[CINID]
			ORDER BY	ct.[CINID];

	/*******************************************************************************************************************************************
		4.	Fetch Email Data
	*******************************************************************************************************************************************/
	
	--	DECLARE @SendDate DATE = '2025-09-24'

		DROP TABLE IF EXISTS #OpenRate;
		CREATE TABLE #OpenRate ([FanID] INT
							,	[OpenRate] FLOAT)

		CREATE UNIQUE CLUSTERED INDEX [UCIX_FanID] ON #OpenRate ([FanID])

		INSERT INTO #OpenRate
		SELECT	ee.[FanID]
			,	[OpenRate] = ee.[Opens] / ee.[Sends]
		FROM (	SELECT	ee.[FanID]
					,	[Sends] = CONVERT(FLOAT, SUM(CASE WHEN ee.[EmailEventCodeID] = 910 THEN 1 ELSE 0 END))
					,	[Opens] = CONVERT(FLOAT, SUM(CASE WHEN ee.[EmailEventCodeID] = 1301 THEN 1 ELSE 0 END))
				FROM [Derived].[EmailEvent] ee
				WHERE ee.[EventDate] BETWEEN DATEADD(YEAR, -1, @SendDate) AND @SendDate
				AND ee.[EmailEventCodeID] IN (1301, 910)
				AND EXISTS (SELECT 1
							FROM #Customers_02 a
							WHERE a.[FanID] = ee.[FanID])
				GROUP BY	ee.[FanID]
				HAVING MIN(ee.[EmailEventCodeID]) = 910) ee
		ORDER BY	ee.[FanID];

	/*******************************************************************************************************************************************
		5.	Combine datasets
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Customers_03;
		CREATE TABLE #Customers_03(
				[FanID] INT
			,	[CustomerGUID] CHAR(36)
			,	[CompositeID] BIGINT
			,	[CINID] INT
			,	[PublisherID] INT
			,	[CustomerSegment] VARCHAR(MAX)
			,	[Marketability_Email] SMALLINT
			,	[Marketability_Push] SMALLINT
			,	[Marketability_Both] SMALLINT
			,	[RegistrationDate] DATE
			,	[Tenure] SMALLINT
			,	[CashbackLTV] MONEY
			,	[IronOfferID] INT
			,	[IronOfferName] VARCHAR(MAX)
			,	[IronOfferSegment] VARCHAR(MAX)
			,	[OfferStartDate] DATE
			,	[OfferEndDate] DATE
			,	[PartnerID] INT
			,	[PartnerName] VARCHAR(MAX)
			,	[SPS] MONEY
			,	[ATF] FLOAT
			,	[DaysSinceLastTran] INT
			,	[EngagementScore] FLOAT
			,	[HasLoggedIn] INT
			,	[HasTakenMerchant] INT
			,	[OngoingLogIns] INT
			,	[OngoingMerchantTrans] INT
			,	[OpenRate] FLOAT
			,	[Variant] SMALLINT);

		CREATE UNIQUE CLUSTERED INDEX [UCIX_FanID] ON #Customers_03 ([FanID])

		DECLARE @EngagementDate DATE
		
		SELECT @EngagementDate = MAX([ScoreMonth])
		FROM [Report].[EngagementScoreHistory] esh
		WHERE esh.[ScoreMonth] < @SendDate;

		INSERT INTO #Customers_03 (	[FanID]
								,	[CustomerGUID]
								,	[CompositeID]
								,	[CINID]
								,	[PublisherID]
								,	[CustomerSegment]
								,	[Marketability_Email]
								,	[Marketability_Push]
								,	[Marketability_Both]
								,	[RegistrationDate]
								,	[Tenure]
								,	[CashbackLTV]
								,	[IronOfferID]
								,	[IronOfferName]
								,	[IronOfferSegment]
								,	[OfferStartDate]
								,	[OfferEndDate]
								,	[PartnerID]
								,	[PartnerName]
								,	[SPS]
								,	[ATF]
								,	[DaysSinceLastTran]
								,	[EngagementScore]
								,	[HasLoggedIn]
								,	[HasTakenMerchant]
								,	[OngoingLogIns]
								,	[OngoingMerchantTrans]
								,	[OpenRate]
								,	[Variant])
		SELECT	cu.[FanID]
			,	cu.[CustomerGUID]
			,	cu.[CompositeID]
			,	cu.[CINID]
			,	cu.[PublisherID]
			,	cu.[CustomerSegment]
			,	cu.[Marketability_Email]
			,	cu.[Marketability_Push]
			,	cu.[Marketability_Both]
			,	cu.[RegistrationDate]
			,	cu.[Tenure]
			,	cu.[CashbackLTV]
			,	cu.[IronOfferID]
			,	iod.[IronOfferName]
			,	iod.[SegmentName]
			,	cu.[OfferStartDate]
			,	cu.[OfferEndDate]
			,	iod.[PartnerID]
			,	p.[PartnerName]
			,	s.[SPS]
			,	s.[ATF]
			,	s.[DaysSinceLastTran]
			,	esh.[EngagementScore]
			,	esh.[HasLoggedIn]
			,	esh.[HasTakenMerchant]
			,	esh.[OngoingLogIns]
			,	esh.[OngoingMerchantTrans]
			,	[OpenRate] = ISNULL(o.[OpenRate], 0)
			,	[Variant] =	CASE 
								WHEN cu.[Marketability_Both] = 1 THEN (ROW_NUMBER() OVER (ORDER BY	cu.[CustomerSegment]
																								,	cu.[Tenure]
																								,	cu.[CashbackLTV]
																								,	cu.[IronOfferID]
																								,	s.[SPS]
																								,	s.[ATF]
																								,	s.[DaysSinceLastTran]
																								,	esh.[EngagementScore]
																								,	esh.[HasLoggedIn]
																								,	esh.[HasTakenMerchant]
																								,	esh.[OngoingLogIns]
																								,	esh.[OngoingMerchantTrans]
																								,	o.[OpenRate]) % 2) + 1
								WHEN cu.[Marketability_Push] = 1 THEN 2
								WHEN cu.[Marketability_Email] = 1 THEN 1
							END
		FROM #Customers_02 cu
		INNER JOIN #Spend s
			ON s.[CINID] = cu.[CINID]
		LEFT JOIN [Report].[EngagementScoreHistory] esh
			ON esh.[FanID] = cu.[FanID]
			AND esh.[ScoreMonth] = @EngagementDate
		INNER JOIN #IronOfferIDs iod
			ON iod.[IronOfferID] = cu.[IronOfferID]
			AND iod.[PublisherID] = cu.[PublisherID]
		INNER JOIN #Partner p
			ON p.[PartnerID] = iod.[PartnerID]
		LEFT JOIN #OpenRate o
			ON o.[FanID] = cu.[FanID];

	/*******************************************************************************************************************************************
		6.	Final Output
	*******************************************************************************************************************************************/

		/*

			DROP TABLE IF EXISTS [Warehouse].[InsightArchive].[NW_EarnSolus1_Sep25]
			CREATE TABLE [Warehouse].[InsightArchive].[NW_EarnSolus1_Sep25]([FanID] INT PRIMARY KEY
																		,	[CustomerGUID] CHAR(36)
																		,	[CompositeID] BIGINT
																		,	[CINID] INT
																		,	[ClubID] INT
																		,	[CustomerSegment] VARCHAR(MAX)
																		,	[Marketability_Email] SMALLINT
																		,	[Marketability_Push] SMALLINT
																		,	[Marketability_Both] SMALLINT
																		,	[RegistrationDate] DATE
																		,	[Tenure] SMALLINT
																		,	[CashbackLTV] MONEY
																		,	[SendDate] DATE
																		,	[ReportingWindowClose] DATE
																		,	[CycleStartDate] DATE
																		,	[EmailTracking] INT
																		,	[SendID] INT
																		,	[SendTypeID] INT
																		,	[SendType] VARCHAR(100)
																		,	[SendName] VARCHAR(100)
																		,	[Variant] INT
																		,	[ControlFlag] INT
																		,	[Earn_OfferID_1] INT
																		,	[CommChannelID] INT
																		,	[TransactActiveStatus] SMALLINT
																		,	[IronOfferID] INT
																		,	[IronOfferName] VARCHAR(MAX)
																		,	[IronOfferSegment] VARCHAR(MAX)
																		,	[OfferStartDate] DATE
																		,	[OfferEndDate] DATE
																		,	[PartnerID] INT
																		,	[PartnerName] VARCHAR(MAX)
																		,	[SPS] MONEY
																		,	[ATF] FLOAT
																		,	[DaysSinceLastTran] INT
																		,	[EmailReceived] SMALLINT
																		,	[EngagementScore] FLOAT
																		,	[HasLoggedIn] INT
																		,	[HasTakenMerchant] INT
																		,	[OngoingLogIns] INT
																		,	[OngoingMerchantTrans] INT
																		,	[OpenRate] FLOAT
																		,	[LastUpdatedDate] DATETIME);
																
		*/

		DECLARE @SendID INT
		
		SELECT	@SendID = ISNULL(MAX([SendID]), 0) + 1
		FROM [Warehouse].[InsightArchive].[NW_CRM_TargetingHistory]

		TRUNCATE TABLE [Warehouse].[InsightArchive].[NW_EarnSolus1_Sep25];
		INSERT INTO [Warehouse].[InsightArchive].[NW_EarnSolus1_Sep25] ([FanID]
																	,	[CustomerGUID]
																	,	[CompositeID]
																	,	[CINID]
																	,	[ClubID]
																	,	[CustomerSegment]
																	,	[Marketability_Email]
																	,	[Marketability_Push]
																	,	[Marketability_Both]
																	,	[RegistrationDate]
																	,	[Tenure]
																	,	[CashbackLTV]
																	,	[SendDate]
																	,	[ReportingWindowClose]
																	,	[CycleStartDate]
																	,	[EmailTracking]
																	,	[SendID]
																	,	[SendTypeID]
																	,	[SendType]
																	,	[SendName]
																	,	[Variant]
																	,	[ControlFlag]
																	,	[Earn_OfferID_1]
																	,	[TransactActiveStatus]
																	,	[IronOfferID]
																	,	[IronOfferName]
																	,	[IronOfferSegment]
																	,	[OfferStartDate]
																	,	[OfferEndDate]
																	,	[PartnerID]
																	,	[PartnerName]
																	,	[SPS]
																	,	[ATF]
																	,	[DaysSinceLastTran]
																	,	[EngagementScore]
																	,	[HasLoggedIn]
																	,	[HasTakenMerchant]
																	,	[OngoingLogIns]
																	,	[OngoingMerchantTrans]
																	,	[OpenRate]
																	,	[LastUpdatedDate])

		SELECT	cu.[FanID]
			,	cu.[CustomerGUID]
			,	cu.[CompositeID]
			,	cu.[CINID]
			,	[ClubID] = cu.[PublisherID]
			,	cu.[CustomerSegment]
			,	cu.[Marketability_Email]
			,	cu.[Marketability_Push]
			,	cu.[Marketability_Both]
			,	cu.[RegistrationDate]
			,	cu.[Tenure]
			,	cu.[CashbackLTV]
			,	[SendDate] = @SendDate 
			,	[ReportingWindowClose] = cu.[OfferEndDate] 
			,	[CycleStartDate] = cu.[OfferStartDate] 
			,	[EmailTracking] = 0
			,	[SendID] = @SendID 
			,	[SendTypeID] = @SendTypeID 
			,	[SendType] = 'Earn'
			,	[SendName] = CONCAT('Earn Push ', [PartnerName], ' - Sep25')
			,	cu.[Variant] 
			,	[ControlFlag] =	CASE
									WHEN cu.[Marketability_Both] = 1 THEN	CASE
																				WHEN (ROW_NUMBER() OVER(ORDER BY	cu.[Variant]
																											   ,	cu.[CustomerSegment]
																											   ,	cu.[Tenure]
																											   ,	cu.[CashbackLTV]
																											   ,	cu.[IronOfferID]
																											   ,	cu.[SPS]
																											   ,	cu.[ATF]
																											   ,	cu.[DaysSinceLastTran]
																											   ,	cu.[EngagementScore]
																											   ,	cu.[HasLoggedIn]
																											   ,	cu.[HasTakenMerchant]
																											   ,	cu.[OngoingLogIns]
																											   ,	cu.[OngoingMerchantTrans]
																											   ,	cu.[OpenRate]) % 10) = 4 THEN 1
																				ELSE 0
																			END
									ELSE 0
								END
			,	[Earn_OfferID_1] = cu.[IronOfferID]
			,	[TransactActiveStatus] = 1
		,	cu.[IronOfferID]
		,	cu.[IronOfferName]
		,	cu.[IronOfferSegment]
		,	cu.[OfferStartDate]
		,	cu.[OfferEndDate]
		,	cu.[PartnerID]
		,	cu.[PartnerName]
		,	cu.[SPS]
		,	cu.[ATF]
		,	cu.[DaysSinceLastTran]
		,	cu.[EngagementScore]
		,	cu.[HasLoggedIn]
		,	cu.[HasTakenMerchant]
		,	cu.[OngoingLogIns]
		,	cu.[OngoingMerchantTrans]
		,	cu.[OpenRate]
		,	[LastUpdatedDate] = GETDATE()
		FROM #Customers_03 cu;

		UPDATE [Warehouse].[InsightArchive].[NW_EarnSolus1_Sep25]
		SET [CommChannelID] = 1
		WHERE [Variant] = 1

		UPDATE [Warehouse].[InsightArchive].[NW_EarnSolus1_Sep25]
		SET [CommChannelID] = 2
		WHERE [Variant] = 2

END
GO
