USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Push].[UpdateCustomerPreferences]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Push].[UpdateCustomerPreferences] 

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
		

		/*******************************************************************************************************************************************
			1.	
		*******************************************************************************************************************************************/
			
			MERGE INTO [Push].[CustomerMarketableStatus] AS target
			USING (
				SELECT 
					CustomerGUID, 
					MarketableByEmail, 
					MarketableByPush 
				FROM [Derived].[Customer_MarketableByEmailStatus]
				WHERE EndDate IS NULL -- Ensure only active records are considered
			) AS source
			ON target.CustomerGUID = source.CustomerGUID
			-- update records that have changed
			WHEN MATCHED AND 
				 (target.MarketableByEmail <> source.MarketableByEmail 
				 OR target.MarketableByPush <> source.MarketableByPush)
			THEN 
				UPDATE SET 
					target.MarketableByEmail = source.MarketableByEmail,
					target.MarketableByPush = source.MarketableByPush
			-- insert new records 
			WHEN NOT MATCHED BY TARGET 
			THEN 
				INSERT (CustomerGUID, MarketableByEmail, MarketableByPush, EligibleForEmail, EligibleForPush)
				VALUES (source.CustomerGUID, source.MarketableByEmail, source.MarketableByPush, NULL, NULL)
			-- Delete old records
			WHEN NOT MATCHED BY SOURCE
			THEN 
				UPDATE SET 
					target.MarketableByEmail = 0,
					target.MarketableByPush = 0
			;


			
		
			

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END







GO
