USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Push].[UpdateLastReceived]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Push].[UpdateLastReceived] 

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
		

		/*******************************************************************************************************************************************
			1.	Update A1 last received
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #A1Push
			SELECT	DISTINCT
					[Brand]
				,	[CustomerID]
			INTO #A1Push
			FROM [Push].[A1Push_Daily_NW]
			WHERE [ControlFlag] = 0
			UNION ALL
			SELECT	DISTINCT
					[Brand]
				,	[CustomerID]
			FROM [Push].[A1Push_Daily_RBS]
			WHERE [ControlFlag] = 0

			CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerBrand] ON #A1Push ([CustomerID], [Brand])
			
			--Update existing customers

			UPDATE clr
			SET clr.[LastReceived_A1] = GETDATE()
			FROM [Push].[CustomerLastReceived] clr
			INNER JOIN #A1Push p
				ON clr.[ClubID] = p.[Brand]
				AND clr.[CustomerID] = p.[CustomerID];

			--Insert records for customers who havent received push before

			INSERT INTO [Push].[CustomerLastReceived] ([CustomerID], [ClubID], [LastReceived_A1], [LastReceived_A2], [LastReceived_A3])
			SELECT	p.[CustomerID]
				,	p.[Brand]
				,	[LastReceived_A1] = GETDATE()
				,	[LastReceived_A2] = NULL
				,	[LastReceived_A3] = NULL
			FROM #A1Push p
			WHERE NOT EXISTS (	SELECT 1
								FROM [Push].[CustomerLastReceived] clr
								WHERE clr.[ClubID] = p.[Brand]
								AND clr.[CustomerID] = p.[CustomerID]);

		/*******************************************************************************************************************************************
			2.	Update A2 last received
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #A2Push
			SELECT	DISTINCT
					[Brand]
				,	[CustomerID]
			INTO #A2Push
			FROM [Push].[A2Push_Daily_NW]
			WHERE [ControlFlag] = 0
			UNION ALL
			SELECT	DISTINCT
					[Brand]
				,	[CustomerID]
			FROM [Push].[A2Push_Daily_RBS]
			WHERE [ControlFlag] = 0

			CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerBrand] ON #A2Push ([CustomerID], [Brand])
			
			--Update existing customers

			UPDATE clr
			SET clr.[LastReceived_A2] = GETDATE()
			FROM [Push].[CustomerLastReceived] clr
			INNER JOIN #A2Push p
				ON clr.[ClubID] = p.[Brand]
				AND clr.[CustomerID] = p.[CustomerID];

			--Insert records for customers who havent received push before

			INSERT INTO [Push].[CustomerLastReceived] ([CustomerID], [ClubID], [LastReceived_A1], [LastReceived_A2], [LastReceived_A3])
			SELECT	p.[CustomerID]
				,	p.[Brand]
				,	[LastReceived_A1] = NULL
				,	[LastReceived_A2] = GETDATE()
				,	[LastReceived_A3] = NULL
			FROM #A2Push p
			WHERE NOT EXISTS (	SELECT 1
								FROM [Push].[CustomerLastReceived] clr
								WHERE clr.[ClubID] = p.[Brand]
								AND clr.[CustomerID] = p.[CustomerID])
			AND NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_DuplicateSourceUID] ds
								WHERE p.[CustomerID] = ds.[SourceUID]
								AND ds.[EndDate] IS NULL)

		/*******************************************************************************************************************************************
			3.	Update A3 last received
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #A3Push
			SELECT	DISTINCT
					[Brand]
				,	[CustomerID]
			INTO #A3Push
			FROM [Push].[A3Push_Daily_NW]
			WHERE [ControlFlag] = 0
			UNION ALL
			SELECT	DISTINCT
					[Brand]
				,	[CustomerID]
			FROM [Push].[A3Push_Daily_RBS]
			WHERE [ControlFlag] = 0

			CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerBrand] ON #A3Push ([CustomerID], [Brand])
			
			--Update existing customers

			UPDATE clr
			SET clr.[LastReceived_A3] = GETDATE()
			FROM [Push].[CustomerLastReceived] clr
			INNER JOIN #A3Push p
				ON clr.[ClubID] = p.[Brand]
				AND clr.[CustomerID] = p.[CustomerID];

			--Insert records for customers who havent received push before

			INSERT INTO [Push].[CustomerLastReceived] ([CustomerID], [ClubID], [LastReceived_A1], [LastReceived_A2], [LastReceived_A3])
			SELECT	p.[CustomerID]
				,	p.[Brand]
				,	[LastReceived_A1] = NULL
				,	[LastReceived_A2] = NULL
				,	[LastReceived_A3] = GETDATE()
			FROM #A3Push p
			WHERE NOT EXISTS (	SELECT 1
								FROM [Push].[CustomerLastReceived] clr
								WHERE clr.[ClubID] = p.[Brand]
								AND clr.[CustomerID] = p.[CustomerID]);

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END








GO
