USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Redemptions]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
Author: Conor Donnelly
Created: 29/09/2022
Purpose: 
	- Generating NW MI report data
	

******************************************************************************/

CREATE PROCEDURE [Report].[NW_MI_Data_Redemptions]
as begin

-- All Data sets are two years worth of historical data to keep spreadsheet size down --
--Age bandings are set at under 35 vs 35+ where there's large amounts of data --

--Redemptions Data
select  case when ClubID = 132 then 'NWB' else 'RBS' end as brand, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		a.nomineestatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end as CurrentAccount, 
		accountsegmentation as [Account Segmentation], 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product], 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end as [Current Account Type], 
	    case when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
				when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end as AgeBanding,
				a.gender,
		SUM(cashtoaccountredemptions) as  [Cash to Account Volume],
		SUM(cashtoaccountvalue) as  [Cash to Account Value], 
		SUM(cashtoaccountcustomerflag) as [Cash to Account Customer],		
		SUM(cashtosavingsaccountredemptions) as  [Cash to Savings Account Volume],
		SUM(cashtosavingsaccountvalue) as  [Cash to Savings Account Value], 
		SUM(cashtosavingsaccountcustomerflag) as [Cash to Savings Account Customer],
		SUM(cashtocardredemptions) as  [Cash to Credit Card Volume],
		SUM(cashtocardvalue) as  [Cash to Credit Card Value], 
		SUM(cashtocardcustomerflag) as [Cash to Card Customer],
		SUM(charityredemptions) as [Charity Volume], 
		SUM(CharityRedemptionsValue) as  [Charity Value],
	    SUM(Charitycustomerflag) as  [Charity Customer],
		SUM(acccloseredemptions) as [Account Closure Volume],
		SUM(acccloseValue) as [Account Closure Value],
		SUM(accclosecustomerflag) as [Account Closure Customer], 
		SUM(TradeUpRedemptions) as [TradeUp Volume],
		SUM(TradeUpRedemptionsValue) as [TradeUp Value],
		SUM(TradeUpcustomerflag) as [TradeUp Customer],
		SUM(redemptions) as [Total Redemption Volume],
		sum(RedemptionsValue) as [Total Redemption Value],
		sum(Redemptionscustomerflag) as [Total Redemption Customer],
		COUNT(*) as [Customer Volume]
        from [Report].NW_kpidashboardrawdata as a 
		group by
		case when ClubID = 132 then 'NWB' else 'RBS' end, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		a.NomineeStatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end, 
		accountsegmentation, 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end, 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end,
		case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
				when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end, 
				a.gender


END;
GO
