USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[CharityDonations]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************
Author:		Rory Francis
Created:	2024-04-02
Purpose:	Fetches unaggregated charity redemptions data for the last calendar month 

------------------------------------------------------------------------------
Modification History


******************************************************************************/
CREATE PROCEDURE [Report].[CharityDonations]	@ItemID INT = NULL
										,	@PeriodType VARCHAR(10) = 'Month'
	
AS
BEGIN

	SET NOCOUNT ON;

	-- For testing

	--	DECLARE @ItemID INT = NULL, @PeriodType VARCHAR(10) = 'Month';

	DECLARE	@Today DATE = GETDATE()
		,	@StartDate DATE
		,	@EndDate DATE;

	SET @Today = DATEADD(MONTH, -0, @Today)

	IF @PeriodType = 'Month'
	BEGIN
		SET @StartDate = DATEADD(month, -1, DATEADD(day, -((DATEPART(day, @Today))-1), @Today));
		SET @EndDate = EOMONTH(@StartDate);
	END

	IF @PeriodType = 'Week'
	BEGIN
		SET DATEFIRST 1; -- Set Monday as the first day of the week
		SET @EndDate = DATEADD(dd, -(DATEPART(dw, @Today)-1), DATEADD(day, -1, @Today));
		SET @StartDate = DATEADD(day, -6, @EndDate);
	END
	
	SELECT	[CharityDonation] = LTRIM(RTRIM(rp.[PartnerName]))
		,	r.[GiftAid]
		,	[Option] =	CASE
							WHEN r.[GiftAid] = 1 THEN 'Yes I am a UK tax payer and eligible for gift aid'
							ELSE ''
						END
		,	[CustomerName] = CONCAT(cpi.[FirstName], ' ', cpi.[LastName])
		,	[CustomerAddress] = CONCAT(cpi.[Address1], ' ', cpi.[Address2], ' ', cu.[City], ' ', cu.[County], ' ', cpi.[PostCode])
		,	[Cost] = r.[CashbackUsed]
		,	[RedeemDate] = CONVERT(DATE, r.[RedeemedDate])
		,	[TranID] = [TransactionGUID]
	FROM [Derived].[Redemptions] r
	INNER JOIN [Derived].[Customer] cu
		ON r.[CustomerGUID] = cu.[CustomerGUID]
	INNER JOIN [Derived].[Customer_PII] cpi
		ON r.[CustomerGUID] = cpi.[CustomerGUID]
	LEFT JOIN [Derived].[RedemptionPartners] rp
		ON r.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
	WHERE CONVERT(DATE, r.[RedeemedDate]) BETWEEN @StartDate AND @EndDate
	AND r.[Cancelled] = 0
	AND r.[RedemptionType] = 'Charity'
	ORDER BY	CONVERT(DATE, r.[RedeemedDate])
			,	LTRIM(RTRIM(rp.[PartnerName]))
			,	r.[CashbackUsed]

END


GO
