USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Highlevel_Portfolio]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_Highlevel_Portfolio]
as begin

--High Level Portfolio
select 
	    case when ClubID = 132 then 'NWB' else 'RBS' end as Brand, 
		a.[Date],
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end as CurrentAccount, 
		accountsegmentation as [Account Segmentation],
		a.nomineestatus,
		case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product], 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end as [Current Account Type], 
		case when datediff(YEAR, activateddate, a.[Date]) <1 then '1. < 1 Year'
			 when datediff(YEAR, activateddate, a.[Date]) <3 then '2. < 3 Years'
			 when datediff(YEAR, activateddate, a.[Date]) <5 then '3. < 5 Years'
			 when datediff(YEAR, activateddate, a.[Date]) <7 then '4. < 7 Years' 
			 when datediff(YEAR, activateddate, a.[Date]) >=7 then '5. > 7+ Years' 
			  else NULL end as [TenureSplit],
		case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=24 then '1. 18 to 24'
				when RevisedNumberOfYears  >=25 and RevisedNumberOfYears <=34 then '2. 25 to 34' 
				when RevisedNumberOfYears  >=35 and RevisedNumberOfYears <=44 then '3. 35 to 44'
				when RevisedNumberOfYears  >=45 and RevisedNumberOfYears <=54 then '4. 45 to 54'
				when RevisedNumberOfYears  >=55 and RevisedNumberOfYears <=64 then '5. 55 to 64' 
				when RevisedNumberOfYears  >=65 and RevisedNumberOfYears <=80 then '6. 65 to 80' 
				when RevisedNumberOfYears  >=81 then '7. 81+' else '8. Unknown' end as AgeBanding,
		a.Gender,
		SUM(case when Opened = 1 then 1 else 0 end) as OpenedEmail, 
		sum(case when NewAccount = 1 then 1 else 0 end) as NewAccount, 
		sum(case when closedaccount = 1 then 1 else 0 end) as ClosedAccount, 
		SUM(case when registered = 1 then 1 else 0 end) as Registration, 
		SUM(case when NewRegistration = 1 then 1 else 0 end) as InMonthRegistration,
		SUM(case when marketable = 1 then 1 else 0 end) as EmailMarketable,
		SUM(case when [NomineeStatus] = 1 then 1 else 0 end) as [NomineeStatus_total], 
		SUM(case when NewAccount = 0 and closedaccount = 0 and  b.MarketableID IN (2,3) then 1 else 0 end) as EmailOptOut, 
		COUNT(*) as Volume
 from [Report].NW_kpidashboardrawdata as a 
 left join [Report].NW_OptOuts as b
	on a.fanid = b.fanid 
	and a.[Date] = b.[Date]
 group by 
 case when ClubID = 132 then 'NWB' else 'RBS' end, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		a.nomineestatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end, 
		accountsegmentation,
		nomineestatus,
		case when creditcardname IS NULL then 'N/A' else creditcardname  end, 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end, 
		case when datediff(YEAR, activateddate, a.[Date]) <1 then '1. < 1 Year'
			 when datediff(YEAR, activateddate, a.[Date]) <3 then '2. < 3 Years'
			 when datediff(YEAR, activateddate, a.[Date]) <5 then '3. < 5 Years'
			 when datediff(YEAR, activateddate, a.[Date]) <7 then '4. < 7 Years' 
			 when datediff(YEAR, activateddate, a.[Date]) >=7 then '5. > 7+ Years' 
			  else NULL end, 
		case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=24 then '1. 18 to 24'
				when RevisedNumberOfYears  >=25 and RevisedNumberOfYears <=34 then '2. 25 to 34' 
				when RevisedNumberOfYears  >=35 and RevisedNumberOfYears <=44 then '3. 35 to 44'
				when RevisedNumberOfYears  >=45 and RevisedNumberOfYears <=54 then '4. 45 to 54'
				when RevisedNumberOfYears  >=55 and RevisedNumberOfYears <=64 then '5. 55 to 64' 
				when RevisedNumberOfYears  >=65 and RevisedNumberOfYears <=80 then '6. 65 to 80' 
				when RevisedNumberOfYears  >=81 then '7. 81+' else '8. Unknown' end,
		a.Gender

END;
GO
