USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Login_Behaviour]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_Login_Behaviour]
as begin


-- ** Login Behaviour tab

		select 
case when ClubID = 132 then 'NWB' else 'RBS' end as Brand, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		[Date],
		nomineestatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end as CurrentAccount, 
		accountsegmentation as [Account Segmentation], 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product], 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end as [Current Account Type],
			case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
				when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end as AgeBanding,
				gender,
yearlogin as [Year Login Flag], 
case when TotalYearLogin = 0 then '1. No Logins'
     when TotalYearLogin = 1 then '2. One Logins'
	 when TotalYearLogin = 2 then '3. Two Logins'
	 when TotalYearLogin = 3 then '4. Three Logins'
	 when TotalYearLogin = 4 then '5. Four Logins'
	 when TotalYearLogin = 5 then '6. Five Logins'
	 when TotalYearLogin >= 6 then '7. Six Plus Logins' else NULL end as [Login Distribution], 
 case when DATEDIFF(MONTH, RecentLogin, [Date]) = 0 then '1. This Month'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) = 1 then '2. 1 Month Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) = 2 then '3. 2 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) = 3 then '4. 3 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) <= 6 then '5. 4-6 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) <= 12 then '6. 6-12 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) <= 24 then '7. 13-24 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) >= 25 then '8. >24 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) is NULL then '9. Never' else NULL end as [Last Login],
	 SUM(yearlogin) as TotalLoginFlag,
	 sum(TotalYearLogin) as [Total Logins],
	 count(*) as vol
from [Report].NW_kpidashboardrawdata
 group by 
		case when ClubID = 132 then 'NWB' else 'RBS' end, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		[Date],
		nomineestatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end, 
		accountsegmentation, 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end, 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end,
			case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
				when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end,
				gender,
yearlogin,
case when TotalYearLogin = 0 then '1. No Logins'
     when TotalYearLogin = 1 then '2. One Logins'
	 when TotalYearLogin = 2 then '3. Two Logins'
	 when TotalYearLogin = 3 then '4. Three Logins'
	 when TotalYearLogin = 4 then '5. Four Logins'
	 when TotalYearLogin = 5 then '6. Five Logins'
	 when TotalYearLogin >= 6 then '7. Six Plus Logins' else NULL end,
	  case when DATEDIFF(MONTH, RecentLogin, [Date]) = 0 then '1. This Month'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) = 1 then '2. 1 Month Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) = 2 then '3. 2 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) = 3 then '4. 3 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) <= 6 then '5. 4-6 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) <= 12 then '6. 6-12 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) <= 24 then '7. 13-24 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) >= 25 then '8. >24 Months Ago'
	  when DATEDIFF(MONTH, RecentLogin, [Date]) is NULL then '9. Never' else NULL end


END;


GO
