USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Monthends]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
Author: Conor Donnelly
Created: 29/09/2022
Purpose: 
	- Generating NW MI report data
	

******************************************************************************/

CREATE PROCEDURE [Report].[NW_MI_Monthends]
AS
BEGIN

-- All Data sets are two years worth of historical data to keep spreadsheet size down --
--Age bandings are set at under 35 vs 35+ where there's large amounts of data --

-- Creates table with month end dates --

	DROP TABLE IF EXISTS #CalendarDate;
	CREATE TABLE #CalendarDate ([CalendarDate] DATE
							,	[Month] INT
							,	[Year] INT);

	DECLARE @StartDate DATE
	DECLARE @EndDate DATE
	SET @StartDate = '2019-01-01'
	SET @EndDate = EOMONTH(DATEADD(MONTH, -1,  getdate())) 

	WHILE @StartDate <= @EndDate
		BEGIN
			INSERT INTO #CalendarDate (	[CalendarDate]
									,	[Month]
									,	[Year])
			SELECT	[CalendarDate] = @StartDate
				,	[Month] = MONTH(@StartDate)
				,	[Year] = YEAR(@StartDate)

			SET @StartDate = DATEADD(dd, 1, @StartDate)

		END;

	DROP TABLE IF EXISTS #Monthend;
	SELECT	[Month]
		,	[Year]
		,	[Date] = MAX([CalendarDate])
		,	[Ranked] = ROW_NUMBER() OVER(ORDER BY MAX([CalendarDate]) DESC) 
	INTO #Monthend
	FROM #CalendarDate
	GROUP BY	[Month]
			,	[Year]
	
	TRUNCATE TABLE [Report].[NW_MonthEnds];
	INSERT INTO	[Report].[NW_MonthEnds] (	[Month]
										,	[Year]
										,	[Date]
										,	[Ranked]
										,	[Datestart])
    SELECT	[Month]
		,	[Year]
		,	[Date]
		,	[Ranked]
		,	[Datestart] = DATEADD(DAY, 1, EOMONTH([Date], -1))
    FROM #Monthend

END;
GO
