USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_RetailerEarnings]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_RetailerEarnings]
as begin

select  case when ClubID = 132 then 'NWB' else 'RBS' end as Brand, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		b.nomineestatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end as CurrentAccount, 
		accountsegmentation as [Account Segmentation], 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product], 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end as [Current Account Type], 
		PartnerName, 
			case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=24 then '1. 18 to 24'
				when RevisedNumberOfYears  >=25 and RevisedNumberOfYears <=34 then '2. 25 to 34' 
				when RevisedNumberOfYears  >=35 and RevisedNumberOfYears <=44 then '3. 35 to 44'
				when RevisedNumberOfYears  >=45 and RevisedNumberOfYears <=54 then '4. 45 to 54'
				when RevisedNumberOfYears  >=55 and RevisedNumberOfYears <=64 then '5. 55 to 64' 
				when RevisedNumberOfYears  >=65 and RevisedNumberOfYears <=80 then '6. 65 to 80' 
				when RevisedNumberOfYears  >=81 then '7. 81+' else '8. Unknown' end as AgeBanding,
				b.gender,
		SUM(transactionamount) as transactionamount,
		sum(cashbackearned) as cashbackearned, 
		SUM(transactionvolume) as transactionvol, 
		COUNT(distinct a.fanid) as customervol
from [Report].partnertrans_NW_MI as a
inner join [Report].NW_kpidashboardrawdata as b
 on A.fanid = b.FanID
 and a.[Date] = b.[Date]
 where a.[date] >= '2019-01-01'
 group by
				case when ClubID = 132 then 'NWB' else 'RBS' end, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		b.nomineestatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end, 
		accountsegmentation, 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end, 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end,
		PartnerName, case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=24 then '1. 18 to 24'
				when RevisedNumberOfYears  >=25 and RevisedNumberOfYears <=34 then '2. 25 to 34' 
				when RevisedNumberOfYears  >=35 and RevisedNumberOfYears <=44 then '3. 35 to 44'
				when RevisedNumberOfYears  >=45 and RevisedNumberOfYears <=54 then '4. 45 to 54'
				when RevisedNumberOfYears  >=55 and RevisedNumberOfYears <=64 then '5. 55 to 64' 
				when RevisedNumberOfYears  >=65 and RevisedNumberOfYears <=80 then '6. 65 to 80' 
				when RevisedNumberOfYears  >=81 then '7. 81+' else '8. Unknown' end,
				b.gender


END;
GO
