USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[CustomerEngagement]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- =============================================
CREATE PROCEDURE [Report].[CustomerEngagement] 
AS
BEGIN
---- ***** NatWest Group Engagement Score ***** ----

/***********************************************************
** NatWest Engagement Score - contains key agreed metrics **
**		for Reward & NatWest marketing teams              **
**	   to focus on to drive customer engagement.          **
***********************************************************/

-- ******* CHECK TO SEE IF KPI TABLE IS CORRECT **********

-- NWG --

-- Set Month of Score here --

DECLARE @RunDate DATE = GETDATE();

DECLARE @TargetMonth DATE = DATEFROMPARTS(YEAR(@RunDate), MONTH(@RunDate), '01');

/*

SELECT	[MinDate] = MIN([ScoreMonth])
	,	[MaxDate] = MAX([ScoreMonth])
	,	[TargetDate] = @TargetMonth
	,	[DateCheck] =	CASE
							WHEN MAX([CalcMonth]) = @TargetMonth THEN 1
							ELSE 0
						END
FROM [Report].[EngagementScoreHistory];

*/

-- Assigns Start and End dates from above --
DECLARE @EndDate DATE = DATEADD(DAY, -1, @TargetMonth);
DECLARE @StartDate DATE = DATEADD(MONTH, -12, @TargetMonth);

-- *** Account Age *** --

	DROP TABLE IF EXISTS #AccountAge;
	SELECT	cu.[FanID]
		,	[Divisor] =	CASE
							WHEN cu.[RegistrationDate] > @StartDate THEN DATEDIFF(month, cu.[RegistrationDate], @EndDate) + 1
							ELSE 12
						END
	INTO #AccountAge
	FROM [Derived].[Customer] cu	
	WHERE (cu.[DeactivatedDate] IS NULL OR cu.[DeactivatedDate] >= @TargetMonth) 
	AND cu.[RegistrationDate] < @TargetMonth;


	/*
	-- Error Check --

	-- Check for duplicate accounts (should return nothing)
	
	SELECT	[FanID]
		,	[AccountAge] = COUNT(*)
	FROM #AccountAge
	GROUP BY [FanID]
	HAVING COUNT(*)>1;
	*/

-- *** HasEver Logged In *** --

	DROP TABLE IF EXISTS #FirstLogIn;
	SELECT	wl.[FanID]
		,	[FirstLogIn] = CONVERT(DATE, MIN(wl.[TrackDate]))
	INTO #FirstLogIn
	FROM [Derived].[AppLogins] wl 
	WHERE [LoginTypeID] = 1
	GROUP BY	wl.[FanID];

	/*
	-- Error Check --

	-- Check for duplicate accounts (should return nothing)

		SELECT	[FanID]
			,	[FirstLogIn] = COUNT(*)
		FROM #FirstLogIn
		GROUP BY [FanID]
		HAVING COUNT(*) > 1;
	*/

-- *** HasEver Redeemed *** --

	DROP TABLE IF EXISTS #FirstRedeem;
	SELECT	[FanID]
		,	[FirstRedeem] = CONVERT(DATE, MIN(r.[RedeemedDate]))
	INTO #FirstRedeem
	FROM [Derived].[Redemptions] r 
	GROUP BY	r.[FanID];

	/*
	-- Error Check --

	-- Check for duplicate accounts (should return nothing)
	SELECT [FanID], COUNT(*) FirstRedeem FROM #FirstRedeem GROUP BY FanID HAVING COUNT(*)>1;
	*/

-- *** HasEver Taken Merchant Offer *** --

	DROP TABLE IF EXISTS #FirstPartnerTrans;
	SELECT	pt.[FanID]
		,	[FirstPartnerTrans] = CONVERT(DATE, MIN(pt.[TransactionDate]))
	INTO #FirstPartnerTrans
	FROM [Derived].[PartnerTrans] pt
	GROUP BY	pt.[FanID];

	/*
	-- Error Check --

	-- Check for duplicate accounts (should return nothing)
	SELECT	[FanID]
		,	[FirstPartnerTrans] = COUNT(*)
	FROM #FirstPartnerTrans
	GROUP BY [FanID]
	HAVING COUNT(*)>1;
	*/

-- *** Is Opted Into Comms *** --

	DROP TABLE IF EXISTS #EmailPermissions;
	SELECT	mes.[CustomerGUID]
	INTO #EmailPermissions
	FROM [Derived].[Customer_MarketableByEmailStatus_Type] mes
	WHERE mes.[StartDate] <= @EndDate
	AND (mes.[EndDate] IS NULL OR mes.[EndDate] > @EndDate)
	AND mes.[MarketableByEmailType] = 'Marketable';

	/*
	--Error Check

	-- Check for duplicate accounts (should return nothing)
	SELECT	[FanID]
		,	[EmailPermissions] = COUNT(*)
	FROM #EmailPermissions
	GROUP BY [FanID]
	HAVING COUNT(*) > 1;
	*/

 --- *** Merchant Funded Cashback *** ---
 
	DROP TABLE IF EXISTS #PartnerTrans1;
	SELECT	pt.[FanID]
		,	pt.[TransactionDate]
		,	[TransAmount] = SUM(pt.[TransactionAmount])
		,	[CashbackEarned] = SUM(pt.[CashbackEarned])
		,	[RewardsTransactions] = COUNT(*)
	INTO #PartnerTrans1
	FROM [Derived].[PartnerTrans] pt
	WHERE pt.[TransactionDate] >= @StartDate
	AND pt.[TransactionDate] <= @EndDate
	AND pt.[CashbackEarned] > 0
	GROUP BY	pt.[FanID]
			,	pt.[TransactionDate]

	/*
		-- Error Check --

		SELECT	[MinTrans] = MIN([TransactionDate])
			,	[MaxTrans] = MAX([TransactionDate])
		FROM #PartnerTrans1;
	*/

	DROP TABLE IF EXISTS #PartnerTrans2;
	SELECT	a.[FanID]
		,	[TransactionMonth] = DATEFROMPARTS(YEAR(a.[TransactionDate]), MONTH(a.[TransactionDate]),1)
		,	[RewardedTransactions] = SUM(a.[RewardsTransactions])
	INTO #PartnerTrans2
	FROM #PartnerTrans1 a
	GROUP BY	a.[FanID]
			,	DATEFROMPARTS(YEAR(a.[TransactionDate]), MONTH(a.[TransactionDate]),1);

	DROP TABLE IF EXISTS #PartnerTrans3;
	SELECT	b.[FanID]
		,	[TransactMonths] = COUNT(b.[TransactionMonth])
		,	[MultipleTransactMonths] = SUM(CASE WHEN b.[RewardedTransactions] > 1 THEN 1 END)
		,	[RewardTransactions] = SUM(b.[RewardedTransactions])
	INTO #PartnerTrans3
	FROM #PartnerTrans2 b
	GROUP BY b.[FanID]
	--HAVING DATEDIFF(Month,MAX(b.TransactionMonth),@StartDate) < @MerchantRewardMonths

;

	/*
	-- Error Check --

	-- Check for duplicate accounts (should return nothing)
	SELECT	[FanID]
		,	[PartnerTransDupes] = COUNT(*)
	FROM #PartnerTrans3
	GROUP BY	[FanID]
	HAVING COUNT(*)>1
	*/

 --- *** Redemptions *** ---
 
	DROP TABLE IF EXISTS #Redemptions1;
	SELECT	r.[FanID]
		,	[RedeemDate1] = CONVERT(DATE, r.[RedeemedDate])  -- Only Count 1 Redemption per Day (Multiple Redemption types on the same day Deduped)
		,	[RedeemDate] = MIN(r.[RedeemedDate])  -- Treats first redemption time as the day redemption Type
		,	[CashbackUsed] = SUM(r.[CashbackUsed]) 
		,	[TradeUpValue] = SUM(r.[CashbackEarned]) 
		,	[IsCash] = MAX(CASE WHEN r.[RedemptionType] IN ('Pay Card', 'Pay Bank') THEN 1 ELSE 0 END) 
		,	[IsCharity] = MAX(CASE WHEN r.[RedemptionType] = 'Charity' THEN 1 ELSE 0 END) 
		,	[IsTradeUp] = MAX(CASE WHEN r.[RedemptionType] = 'Trade Up' THEN 1 ELSE 0 END) 
	INTO #Redemptions1
	FROM [Derived].[Redemptions] r
	WHERE CONVERT(DATE, r.[RedeemedDate]) <= @EndDate
	AND CONVERT(DATE, r.[RedeemedDate]) >= @StartDate
	GROUP BY	r.[FanID]
			,	CONVERT(DATE, r.[RedeemedDate]);

	/*
	-- Error Check --
	SELECT	[MinRedeem] = MIN([RedeemDate])
		,	[MaxRedeem] = MAX([RedeemDate])
	FROM #Redemptions1;
	*/

	DROP TABLE IF EXISTS #Redemptions2;
	SELECT	a.[FanID]
		,	[CashCount] = SUM(a.[IsCash])
		,	[CharityCount] = SUM(a.[IsCharity])
		,	[TradeUpCount] = SUM(a.[IsTradeUp])
		,	[RedemptionCount] = COUNT(a.[FanID])
	INTO #Redemptions2
	FROM #Redemptions1 a
	GROUP BY	a.[FanID];

	/*
	-- Error Check --

	-- Check for duplicate accounts (should return nothing)
	SELECT	[FanID]
		,	[RedeemDupes] = COUNT(*)
	FROM #Redemptions2
	GROUP BY [FanID]
	HAVING COUNT(*)>1;
	*/

-- *** Log Ins *** --

	DROP TABLE IF EXISTS #Logins1;
	SELECT	wl.[FanID]
		,	[TrackDate1] = CONVERT(DATE, wl.[TrackDate])
		,	[TrackDate] = MIN(CONVERT(DATE, wl.[TrackDate]))
	INTO #Logins1
	FROM [Derived].[AppLogins] wl
	WHERE CONVERT(DATE, wl.[TrackDate]) >= @StartDate
	AND CONVERT(DATE, wl.[TrackDate]) <= @EndDate
	AND [LoginTypeID] = 1
	GROUP BY	wl.[FanID]
			,	CONVERT(DATE, wl.[TrackDate]);

	/*
	-- Error Check --
	SELECT	[MinLogIn] = MIN([TrackDate])
		,	[MaxLogIn] = MAX([TrackDate])
	FROM #Logins1;
	*/

	DROP TABLE IF EXISTS #Logins2;
	SELECT	a.[FanID]
		,	[Month] = DATEFROMPARTS(YEAR(a.[TrackDate]), MONTH(a.[TrackDate]), 1)
		,	[LogIns] = COUNT(a.[TrackDate])
		,	[MultipleLogIns] = CASE WHEN COUNT(a.[TrackDate]) >= 2 THEN 1 END
		,	[PointLogIns] = CASE WHEN COUNT(a.[TrackDate]) >= 2 THEN 2 ELSE COUNT(a.[TrackDate]) END
	INTO #Logins2
	FROM #Logins1 a
	GROUP BY	a.[FanID]
			,	DATEFROMPARTS(YEAR(a.[TrackDate]), MONTH(a.[TrackDate]), 1);

	DROP TABLE IF EXISTS #Logins3;
	SELECT	b.[FanID]
		,	[LogIns] = SUM(b.[LogIns])
		,	[MultipleLogIns] = SUM(b.[MultipleLogIns])
		,	[PointLogIns] = SUM(b.[PointLogIns])
	INTO #Logins3
	FROM #Logins2 b
	GROUP BY	b.[FanID];

	/*
	-- Error Check --

	-- Check for duplicate accounts (should return nothing)
	SELECT	[FanID]
		,	[LogInDupes] = COUNT(*)
	FROM #Logins3
	GROUP BY [FanID]
	HAVING COUNT(*) > 1;
	*/

-- *** Bank Funded Cashback *** --

	DROP TABLE IF EXISTS #DescriptionID
	SELECT	[DescriptionID]
		,	[Description] =	CASE
								WHEN mtd.[Description] LIKE 'direct debit - reward earned - %' THEN 'Direct Debit'
								WHEN mtd.[Description] LIKE 'mobile login%' THEN 'Log In'
								WHEN mtd.[DescriptionID] IN (74, 1225, 1229, 1271) THEN 'Credit Card'
								ELSE mtd.[Description]
							END
	INTO #DescriptionID
	FROM [WHB].[MatchedTransactions_Description] mtd
	WHERE mtd.[Description] LIKE 'direct debit - reward earned - %'
	OR mtd.[Description] LIKE 'mobile login%'
	OR mtd.[Description] LIKE '%Apple Pay Adjustment%'
	OR mtd.[Description] LIKE '%Contactless%'
	OR mtd.[DescriptionID] IN (74, 1225, 1229, 1271)

	CREATE CLUSTERED INDEX [CIX_DescID] ON #DescriptionID ([DescriptionID])
	
	DROP TABLE IF EXISTS #BankFunded1;
	SELECT	aca.[FanID]
		,	[AddedMonth] = DATEFROMPARTS(YEAR(aca.[TranDate]), MONTH(aca.[TranDate]), 1)
		,	[BFCashbackType] = mtd.[Description]
		,	[CashbackEarned] = SUM(aca.[CashbackEarned])
	INTO #BankFunded1
	FROM [Derived].[BankTrans] aca
	INNER JOIN #DescriptionID mtd
		ON aca.[DescriptionID] = mtd.[DescriptionID]
	WHERE CAST(aca.[TranDate] AS Date) >= @StartDate
	AND CAST(aca.[TranDate] AS Date) <=  @EndDate
	GROUP BY	aca.[FanID]
			,	DATEFROMPARTS(YEAR(aca.TranDate),MONTH(aca.TranDate),1)
			,	mtd.[Description];

	/*
	-- Error Check --

	-- Check period start and end date (12 months) aren't missing from the table
		SELECT	[MinBFCash] = MIN([AddedMonth])
			,	[MaxBFCash] = MAX([AddedMonth])
			,	COUNT(DISTINCT [BFCashbackType])
			,	[Types]
		FROM #BankFunded1;
	*/

	DROP TABLE IF EXISTS #BankFunded2;
	SELECT	b.[FanID]
		,	b.[AddedMonth]
		,	b.[Credit Card]
		,	b.[Direct Debit]
		,	b.[Log In]
	INTO #BankFunded2
	FROM #BankFunded1 a
	PIVOT( SUM(a.[CashbackEarned])
	FOR a.[BFCashbackType] IN ([Credit Card], [Direct Debit], [Log In], [Apple Pay Adjustment], [Contactless Transaction])) b;

	DROP TABLE IF EXISTS #BankFunded3;
	SELECT	d.[FanID]
		,	[CreditCardReward] = COUNT(d.[Credit Card])
		,	[DDReward] = COUNT(d.[Direct Debit])
		,	[LogInReward] = COUNT(d.[Log In])
		,	[BehaviourReward] = COUNT(CASE WHEN d.[Credit Card] IS NOT NULL OR d.[Log In] IS NOT NULL THEN 1 END)
	INTO #BankFunded3
	FROM #BankFunded2 d
	GROUP BY	d.[FanID];

	/*
	-- Error Check --

	-- Check for duplicate accounts (should return nothing)
	SELECT	[FanID]
		,	[BFDupes] = COUNT(*)
	FROM #BankFunded3
	GROUP BY	[FanID]
	HAVING COUNT(*) >1;
	*/

-- ***** Final Table ***** --

	DROP TABLE IF EXISTS #Engagement1
	SELECT	c.[FanID]
		,	kpi.[AccountSegmentation]
		,	[NomineeStatus] = COALESCE(kpi.[NomineeStatus], 0)
		,	[ScoreMonth] = @TargetMonth
		,	aa.[Divisor]

		,	[MultiProduct] = CASE WHEN kpi.[CreditCardName] IS NOT NULL AND kpi.[CurrentAccountType] LIKE 'Q%' THEN 10.0 ELSE 0.0 END
		,	[EmailPermission] = CASE WHEN ep.[CustomerGUID] IS NOT NULL THEN 2.0 ELSE 0.0 END

		,	[HasLoggedIn] = CASE WHEN wl.[FanID] IS NOT NULL THEN 10.0 ELSE 0.0 END
		,	[HasRedeemed] = CASE WHEN r.[FanID] IS NOT NULL THEN 8.0 ELSE 0.0 END
		,	[HasTakenMerchant] = CASE WHEN pt.[FanID] IS NOT NULL THEN 4.0 ELSE 0.0 END

		,	[OngoingMerchantTrans] = CONVERT(FLOAT, COALESCE(pt3.[TransactMonths], 0.0))
		,	[OngoingBehaviourReward] = CONVERT(FLOAT, COALESCE(bf3.[BehaviourReward], 0.0))
		,	[OngoingDirectDebit] = CONVERT(FLOAT, COALESCE(bf3.[DDReward] / 2.0, 0.0))
		,	[OngoingLogIns] = CONVERT(FLOAT, COALESCE(l3.[PointLogIns], 0.0))
		,	[OngoingRedemptions] = CONVERT(FLOAT, CASE WHEN r2.[RedemptionCount] > 2 THEN 12.0 ELSE COALESCE(r2.[RedemptionCount] * 6, 0.0) END)
		
		,	[EngagementScore] = 0

		,	[TableKey] = CONVERT(BIGINT, CONVERT(VARCHAR(255), C.[FanID]) + CONVERT(VARCHAR(2), FORMAT(@TargetMonth,'MM')) + CONVERT(VARCHAR(4), YEAR(@TargetMonth)))
	INTO #Engagement1
	FROM [Derived].[Customer] c
	LEFT JOIN #AccountAge aa
		ON aa.[FanID] = c.[FanID]
	LEFT JOIN #EmailPermissions ep
		ON ep.[CustomerGUID] = c.[CustomerGUID]
	LEFT JOIN #FirstLogIn wl
		ON wl.[FanID] = c.[FanID]
		AND wl.[FirstLogIn] < @TargetMonth
	LEFT JOIN #FirstRedeem r
		ON r.[FanID] = c.[FanID]
		AND r.[FirstRedeem] < @TargetMonth
	LEFT JOIN #FirstPartnerTrans pt
		ON pt.[FanID] = c.[FanID]
		AND pt.[FirstPartnerTrans] < @TargetMonth
	LEFT JOIN [Report].[NW_AccountHistory] kpi
			ON kpi.[FanID] = c.[FanID]
			AND kpi.[Date] = DATEADD(DAY, -1, @TargetMonth)
	LEFT JOIN #PartnerTrans3 pt3
		ON pt3.[FanID] = c.[FanID]
	LEFT JOIN #BankFunded3 bf3
		ON bf3.[FanID] = c.[FanID]
	LEFT JOIN #Logins3 l3
		ON l3.[FanID] = c.[FanID]
	LEFT JOIN #Redemptions2 r2
		ON r2.[FanID] = c.[FanID]
	WHERE (c.[DeactivatedDate] IS NULL OR c.[DeactivatedDate] >= @TargetMonth) 
	AND c.[RegistrationDate] < @TargetMonth;

	UPDATE e
	SET e.[EngagementScore] = e.[MultiProduct] + e.[EmailPermission] + e.[HasLoggedIn] + e.[HasRedeemed] + e.[HasTakenMerchant] + e.[OngoingLogIns] + e.[OngoingRedemptions] + e.[OngoingBehaviourReward] + e.[OngoingDirectDebit] + e.[OngoingMerchantTrans]
	FROM #Engagement1 e

	INSERT INTO [Report].[EngagementScoreHistory]
	SELECT	DISTINCT
			e.[FanID]
		,	e.[AccountSegmentation]
		,	e.[NomineeStatus]
		,	[CalcMonth] = e.[ScoreMonth]
		,	[ScoreMonth] = DATEADD(MONTH, -1, e.[ScoreMonth])
		,	[Tenure] = e.[Divisor]

		,	e.[MultiProduct]
		,	e.[EmailPermission]

		,	e.[HasLoggedIn]
		,	e.[HasRedeemed]
		,	e.[HasTakenMerchant]

		,	e.[OngoingLogIns]
		,	e.[OngoingRedemptions]
		,	e.[OngoingBehaviourReward]
		,	e.[OngoingDirectDebit]
		,	e.[OngoingMerchantTrans]
		
		,	e.[EngagementScore]

		,	[DateAdded] = CONVERT(DATE, GETDATE())
		,	e.[TableKey]
	FROM #Engagement1 e
	WHERE NOT EXISTS (	SELECT 1
						FROM [Report].[EngagementScoreHistory] esh
						WHERE e.[FanID] = esh.[FanID]
						AND e.[ScoreMonth] = esh.[CalcMonth]);
						
	TRUNCATE TABLE [Report].[EngagementScore]
	INSERT INTO [Report].[EngagementScore]
	SELECT	e.[FanID]
		,	e.[EngagementScore]
		,	[EngagementRank] = ROW_NUMBER() OVER (ORDER BY e.[EngagementScore] DESC, ABS(CHECKSUM(NEWID())))
	FROM #Engagement1 e

END
GO
