USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Earnings]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_Earnings]
as begin

	--Earnings Data
	select
		case when ClubID = 132 then 'NWB' else 'RBS' end as Brand, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end as CurrentAccount, 
			NomineeStatus, 
		accountsegmentation as [Account Segmentation], 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product], 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end as [Current Account Type], 
	    case when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
				when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end as AgeBanding,
				a.gender,
		SUM([Direct Debit (Reward 3.0)]) as  [Direct Debit (Reward 3.0)], 
		SUM([Direct Debit (Reward 3.0) Ind]) as  [Direct Debit (Reward 3.0) Ind],
		SUM([Mobile Login (Reward 3.0)]) as  [Mobile Login (Reward 3.0)],
		SUM([Mobile Login (Reward 3.0) Ind]) as  [Mobile Login (Reward 3.0) Ind], 
		SUM([Direct Debit (Household 2%)]) as [Direct Debit (Household 2%)], 
		SUM(case when [Direct Debit (Reward 3.0) Ind] = 1 and [Mobile Login (Reward 3.0) Ind] = 1 then 1 else 0 end) as [Full Earner],
		SUM([Credit Card Transaction - Supermarket]) as  [Credit Card Transaction - Supermarket],
		SUM([Credit Card Transaction - Supermarket Ind]) as  [Credit Card Transaction - Supermarket Ind],
		SUM([Credit Card Transaction - Other]) as  [Credit Card Transaction - Other],
		SUM([Credit Card Transaction - Other Ind]) as [Credit Card Transaction - Other Ind],
		SUM(Case when [Credit Card Transaction - Other Ind] = 1 OR  [Credit Card Transaction - Supermarket Ind] = 1 then 1 else 0 end) as [Credit Card Transaction - Any Ind],
		SUM([Travel Credit Card Transaction - Travel]) as  [Travel Credit Card Transaction - Travel],
		SUM([Travel Credit Card Transaction - Travel Ind]) as  [Travel Credit Card Transaction - Travel Ind],
		SUM([Travel Credit Card Transaction - Non Travel]) as  [Travel Credit Card Transaction - Non Travel],
		SUM([Travel Credit Card Transaction - Non Travel Ind]) as [Travel Credit Card Transaction - Non Travel Ind],
		SUM(Case when [Travel Credit Card Transaction - Travel Ind] = 1 OR  [Travel Credit Card Transaction - Non Travel Ind] = 1 then 1 else 0 end) as [Travel Credit Card Transaction - Any Ind],
		SUM([RetailEarnings]) as  [RetailEarnings],
		SUM(currentaccountretailearnings) as [Current Account Retail Earnings],
		SUM(CreditCardRetailEarnings) as [Credit Card Retail Earnings],
		SUM([RetailEarner]) as  [Retail Earnings Ind],
		SUM(CurrentAccountRetailEarner) as [Current Account Retail Earnings Ind],
		SUM(CreditCardRetailEarner) as [Credit Card Retail Earnings Ind],
		SUM([Breakage]) as  [Breakage],
		SUM([Earnings on Redemptions]) as  [Earnings on Redemptions],
		COUNT(*) as [Customer Volume]
from [Report].NW_kpidashboardrawdata as a 
group by
				case when ClubID = 132 then 'NWB' else 'RBS' end, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end, 
		NomineeStatus, 
		accountsegmentation, 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end, 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end,
		case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
				when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end, 
				a.gender

END;
GO
