USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Redemptions_Partner]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_Redemptions_Partner]
AS
	BEGIN

		--Redemptions Partner Data
			
			SELECT	[Date] = EOMONTH(DATEADD(MONTH, 0,  [RedeemedDate]))
	   			,	b.[CurrentAccount]
				,	case when ClubID = 132 then 'NWB' else 'RBS' end as Brand
				,	b.NomineeStatus
			--	,	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
				,	accountsegmentation as [Account Segmentation]
				,	case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product]
				,	case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end as [Current Account Type]
				,	case when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
						when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end as AgeBanding
				,	b.gender
				,	[RedemptionType]
				,	rp.PartnerName as [PartnerName]
				,	TradeUp_Value = TradeUp_CashbackRequired
				,	redemptiondescription = case
												when rp.PartnerName like 'Help us raise £10million. Donate to the%' then 'NETs Coronavirus Appeal'
												when [RedemptionType] = 'Charity' then rp.PartnerName
												WHEN COALESCE(ro.TradeUp_MarketingPercentage, 0) > 0 THEN '£' + CONVERT(VARCHAR(10), ro.TradeUp_CashbackRequired) + ' ' + rp.PartnerName + ' Gift Card + ' + CONVERT(VARCHAR(10), ro.TradeUp_MarketingPercentage) + '% back in Rewards'
												ELSE '£' + CONVERT(VARCHAR(10), ro.TradeUp_CashbackRequired) + ' ' + rp.PartnerName + ' Gift Card'
											end
				,	SUM(case when [RedemptionType] in ('Charity', 'Trade Up') then 1 else 0 end) as Redemptions
				,	SUM(case when [RedemptionType] in ('Charity', 'Trade Up') then CashbackUsed else 0 end) as RedemptionsValue
			FROM [Derived].[Redemptions] as a
			INNER JOIN [Report].[NW_KPIDashboardRawData] as b
				ON a.FanID = b.FanID
				AND EOMONTH(DATEADD(MONTH, 0,  [RedeemedDate])) = b.[Date]
            LEFT JOIN [Derived].[RedemptionOffers] ro
                ON a.[RedemptionOfferGUID] = ro.[RedemptionOfferGUID]
            LEFT JOIN [Derived].[RedemptionPartners] rp 
                ON ro.RedemptionPartnerGUID = rp.RedemptionPartnerGUID
		   where [RedemptionType] in ('Charity', 'Trade Up') and [RedeemedDate] >= '2019-01-01'
			   group by
			   CurrentAccount,
			   EOMONTH(DATEADD(MONTH, 0,  [RedeemedDate])), 
			   case when ClubID = 132 then 'NWB' else 'RBS' end,
			   b.NomineeStatus,
			--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
				accountsegmentation, 
				case when creditcardname IS NULL then 'N/A' else creditcardname  end, 
				case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end,
			   [RedemptionType], 
			   rp.PartnerName,
				case
					when rp.PartnerName like 'Help us raise £10million. Donate to the%' then 'NETs Coronavirus Appeal'
					when [RedemptionType] = 'Charity' then rp.PartnerName
					WHEN COALESCE(ro.TradeUp_MarketingPercentage, 0) > 0 THEN '£' + CONVERT(VARCHAR(10), ro.TradeUp_CashbackRequired) + ' ' + rp.PartnerName + ' Gift Card + ' + CONVERT(VARCHAR(10), ro.TradeUp_MarketingPercentage) + '% back in Rewards'
					ELSE '£' + CONVERT(VARCHAR(10), ro.TradeUp_CashbackRequired) + ' ' + rp.PartnerName + ' Gift Card'
				end,
			   TradeUp_CashbackRequired,
	   			case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
						when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end, 
						b.gender

	END;

GO
