USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_KPI_ReportingUpdate]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
Author: Conor Donnelly
Created: 29/09/2022
Purpose: 
	- Generating NW MI report data
	

******************************************************************************/

CREATE PROCEDURE [Report].[NW_MI_KPI_ReportingUpdate]
AS
BEGIN

/*******************************************************************************************************************************************
	1.	Creates customer table including calculating tenure (revisednumberofyears), NewAccounts and ClosedAccounts
*******************************************************************************************************************************************/

	DECLARE @Ranked INT = 1

	DROP TABLE IF EXISTS #NW_MonthEnds
	SELECT *
	INTO #NW_MonthEnds
	FROM [Report].[NW_MonthEnds] me
	WHERE me.[Ranked] = @Ranked

	DROP TABLE IF EXISTS #FanList
	SELECT	cu.[CustomerGUID]
		,	cu.[FanID]
		,	cu.[ClubID]
		,	cu.[SourceUID]
		,	cup.[DOB]
		,	cu.[AGEcurrent]
		,	cu.[AGEcurrentbandtext]
		,	[RevisedNumberOfYears] = (CONVERT(int, CONVERT(varchar, me.[Date], 112)) - CONVERT(int, CONVERT(varchar, cup.[DOB], 112)))/10000
		,	cu.[Gender]
		,	cu.[RegistrationDate]
		,	[NewAccount] = CASE WHEN [RegistrationDate] >= me.[DateStart] AND [RegistrationDate] <= me.[Date] THEN 1 ELSE 0 END
		,	[ClosedAccount] = CASE WHEN [DeactivatedDate] >= me.[DateStart] AND [DeactivatedDate] <= me.[Date] THEN 1 ELSE 0 END
		,	cl.[CINID]
		,	me.[Date]
		,	me.[DateStart]
	INTO #FanList
	FROM [Derived].[Customer] cu
	INNER JOIN [Derived].[Customer_PII] cup
		ON cu.[CustomerGUID] = cup.[CustomerGUID]
	LEFT JOIN [Derived].[CINList] cl
		ON cu.[SourceUID] = cl.[CIN]
	CROSS JOIN #NW_MonthEnds me
	WHERE [RegistrationDate] <= me.[Date]
	AND (	[DeactivatedDate] >= me.[DateStart]
		OR	[DeactivatedDate] IS NULL)

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #FanList ([CustomerGUID], [Date])
	CREATE NONCLUSTERED INDEX [IX_FanID] ON #FanList ([FanID], [Date])

/*******************************************************************************************************************************************
	2.	Creates table that gives new registrations for the month and along with regsitered dates - this is when the customer
		registers for the reward portal, also the first time a customer logs in
*******************************************************************************************************************************************/

	DROP TABLE IF EXISTS #FanListRegistered
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[Registered] = MAX(COALESCE(cr.[Registered], 0))
		,	[NewRegistration] =	MAX(CASE
										WHEN COALESCE(cr.[Registered], 0) = 1 AND cr.[StartDate] >= fl.[DateStart] THEN 1
										ELSE 0
									END)
	INTO #FanListRegistered
	FROM #FanList fl
	LEFT JOIN [Derived].[Customer_Registered] cr
		ON fl.[CustomerGUID] = cr.[CustomerGUID]
		AND cr.[StartDate] <= fl.[Date]
		AND (	cr.[EndDate] IS NULL
			OR	cr.[EndDate] >= fl.[Date])
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #FanListRegistered ([CustomerGUID])

/*******************************************************************************************************************************************
	3.	Creates table to marketing opt-in status for customers
*******************************************************************************************************************************************/

	DROP TABLE IF EXISTS #FanListMarketing
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[Marketable] = MAX(CASE WHEN mbe.[MarketableByEmailType] = 'Marketable' THEN 1 ELSE 0 END) 
		,	[NonMarketable] = MAX(CASE WHEN mbe.[MarketableByEmailType] IN ('Service Emails Only', 'Not Emailable') THEN 1 ELSE 0 END)
	INTO #FanListMarketing
	FROM #FanList fl
	LEFT JOIN [Derived].[Customer_MarketableByEmailStatus_Type] mbe
		ON fl.[CustomerGUID] = mbe.[CustomerGUID]
		AND mbe.[StartDate] <= [Date]
		AND (	mbe.[EndDate] IS NULL
			OR	mbe.[EndDate] >= [Date])
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #FanListMarketing ([CustomerGUID])
	
/*******************************************************************************************************************************************
	4.	Store customer cashback cohorts
*******************************************************************************************************************************************/
		
	DECLARE @CashbackDate DATE

	SELECT @CashbackDate = [Date]
	FROM #NW_MonthEnds

	DROP TABLE IF EXISTS #Customer_CashbackBalances
	SELECT	cb.[CustomerGUID]
		,	cb.[CashbackAvailable]
		,	cb.[CashbackPending]
	INTO #Customer_CashbackBalances
	FROM [Derived].[Customer_CashbackBalances] cb
	WHERE @CashbackDate BETWEEN cb.[StartDate] AND COALESCE(cb.[EndDate], '9999-12-31')
	AND cb.[CustomerGUID] IS NOT NULL

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Customer_CashbackBalances ([CustomerGUID])
		
	DROP TABLE IF EXISTS #FanListWithBalances
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[ClubID]
		,	fl.[SourceUID]
		,	fl.[DOB]
		,	fl.[AGEcurrent]
		,	fl.[AGEcurrentbandtext]
		,	fl.[RevisedNumberOfYears]
		,	fl.[Gender]
		,	fl.[RegistrationDate]
		,	fl.[NewAccount]
		,	fl.[ClosedAccount]
		,	fl.[CINID]
		,	fl.[Date]
		,	fl.[DateStart]		
		,	[ClubCashAvailable] = cb.[CashbackAvailable]
		,	[ClubcashPending] = cb.[CashbackPending] + cb.[CashbackAvailable]
		,	[Available Balance Distribution] =	CASE
													WHEN cb.[CashbackAvailable] <= 0 THEN	'1. Zero Balance'
													WHEN cb.[CashbackAvailable] < 10 THEN	'2. <£10 Balance'
													WHEN cb.[CashbackAvailable] < 20 THEN	'3. <£20 Balance'
													WHEN cb.[CashbackAvailable] < 50 THEN	'4. <£50 Balance'
													WHEN cb.[CashbackAvailable] < 100 THEN	'5. <£100 Balance' 
													WHEN cb.[CashbackAvailable] < 200 THEN	'6. <£200 Balance' 
													WHEN cb.[CashbackAvailable] < 400 THEN	'7. <£400 Balance' 
													ELSE '8. >=£400 Balance'
												END
		,	[Pending Balance Distribution] =	CASE
													WHEN cb.[CashbackPending] + cb.[CashbackAvailable] <= 0 THEN	'1. Zero Balance'
													WHEN cb.[CashbackPending] + cb.[CashbackAvailable] < 10 THEN	'2. <£10 Balance'
													WHEN cb.[CashbackPending] + cb.[CashbackAvailable] < 20 THEN	'3. <£20 Balance'
													WHEN cb.[CashbackPending] + cb.[CashbackAvailable] < 50 THEN	'4. <£50 Balance'
													WHEN cb.[CashbackPending] + cb.[CashbackAvailable] < 100 THEN	'5. <£100 Balance' 
													WHEN cb.[CashbackPending] + cb.[CashbackAvailable] < 200 THEN	'6. <£200 Balance' 
													WHEN cb.[CashbackPending] + cb.[CashbackAvailable] < 400 THEN	'7. <£400 Balance' 
													ELSE '8. >=£400 Balance'
												END
	INTO #FanListWithBalances
	FROM #FanList fl
	LEFT JOIN #Customer_CashbackBalances cb
		ON fl.[CustomerGUID] = cb.[CustomerGUID]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #FanListWithBalances ([CustomerGUID])
	
/*******************************************************************************************************************************************
	5.	Store redemptions
*******************************************************************************************************************************************/

	DECLARE @StartDate_Redemption DATE
		,	@EndDate_Redemption DATE
	
	SELECT	@StartDate_Redemption = [DateStart]
		,	@EndDate_Redemption = [Date]
	FROM #NW_MonthEnds

	DROP TABLE IF EXISTS #Redemptions_Month
	SELECT	r.[TransactionGUID]
		,	r.[RedeemedDate]
		,	r.[CustomerGUID]
		,	[RedemptionType] = CONVERT(VARCHAR(25), r.[RedemptionType])
		,	r.[CashbackUsed]
		,	[BankAccountGUID] = CONVERT(UNIQUEIDENTIFIER, NULL)
	INTO #Redemptions_Month
	FROM [Derived].[Redemptions] r
	WHERE CONVERT(DATE, r.[RedeemedDate]) BETWEEN @StartDate_Redemption AND @EndDate_Redemption

	CREATE UNIQUE CLUSTERED INDEX [UCIX_TransactionGUID] ON #Redemptions_Month ([TransactionGUID])

	UPDATE r
	SET r.[BankAccountGUID] = mt.[AccountGUID]
	FROM #Redemptions_Month r
	INNER JOIN [WHB].[Inbound_MatchedTransactions] mt
		ON mt.[TransactionGUID] = r.[TransactionGUID]

	CREATE NONCLUSTERED INDEX [IX_BankAccountGUID] ON #Redemptions_Month ([BankAccountGUID])

	DROP TABLE IF EXISTS #SavingsAccounts
	SELECT	bath.[BankAccountGUID]
		,	bath.[StartDate]
		,	[EndDate] = COALESCE(bath.[EndDate], '9999-12-31')
	INTO #SavingsAccounts
	FROM [Derived].[BankAccountTypeHistory] bath
	WHERE EXISTS (	SELECT 1
					FROM [Derived].[BankAccountProduct] bap
					WHERE bap.[BankAccountProductCode] IN ('05', '36', 'Q4', 'Q5', 'S7', 'U1', 'XJ', 'Z2')
					AND bath.[BankAccountProductID] = bap.[BankAccountProductID])
	AND EXISTS (	SELECT 1
					FROM #Redemptions_Month r
					WHERE bath.[BankAccountGUID] = r.[BankAccountGUID])
	AND COALESCE(bath.[EndDate], '9999-12-31') >= @StartDate_Redemption
	AND bath.[StartDate] <= @EndDate_Redemption

	CREATE CLUSTERED INDEX [CIX_BankAccGUID] ON #SavingsAccounts ([BankAccountGUID])

	UPDATE r
	SET r.[RedemptionType] = 'Pay Bank - Savings'
	FROM #Redemptions_Month r
	INNER JOIN #SavingsAccounts sa
		ON r.[BankAccountGUID] = sa.[BankAccountGUID]
		AND r.[RedeemedDate] BETWEEN sa.[StartDate] AND sa.[EndDate]
	WHERE r.[RedemptionType] = 'Pay Bank'
	   
	---*** Aggregates redemption amounts, types and total no.by fanid and month end date ***---

	DROP TABLE IF EXISTS #Redemptions
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]		
		,	[CashtoAccountRedemptions] = SUM(CASE WHEN r.[RedemptionType] = 'Pay Bank' THEN 1 ELSE 0 END)
		,	[CashtoSavingsAccountRedemptions] = SUM(CASE WHEN r.[RedemptionType] = 'Pay Bank - Savings' THEN 1 ELSE 0 END)
		,	[CashtoCardRedemptions] = SUM(CASE WHEN r.[RedemptionType] = 'Pay Card' THEN 1 ELSE 0 END)
		,	[TradeUpRedemptions] = SUM(CASE WHEN r.[RedemptionType] = 'Trade Up' THEN 1 ELSE 0 END)
		,	[CharityRedemptions] = SUM(CASE WHEN r.[RedemptionType] = 'Charity' THEN 1 ELSE 0 END)
		,	[AccCloseRedemptions] = SUM(CASE WHEN r.[RedemptionType] = 'AccClose' THEN 1 ELSE 0 END)
		,	[Redemptions] = SUM(CASE WHEN r.[RedemptionType] IS NOT NULL THEN 1 ELSE 0 END)
		,	[CashtoAccountCustomerFlag] = MAX(CASE WHEN r.[RedemptionType] = 'Pay Bank' THEN 1 ELSE 0 END)
		,	[CashtoSavingsAccountCustomerFlag] = MAX(CASE WHEN r.[RedemptionType] = 'Pay Bank - Savings' THEN 1 ELSE 0 END)
		,	[CashtoCardCustomerFlag] = MAX(CASE WHEN r.[RedemptionType] = 'Pay Card' THEN 1 ELSE 0 END)
		,	[TradeUpCustomerFlag] = MAX(CASE WHEN r.[RedemptionType] = 'Trade Up' THEN 1 ELSE 0 END)
		,	[CharityCustomerFlag] = MAX(CASE WHEN r.[RedemptionType] = 'Charity' THEN 1 ELSE 0 END)
		,	[AccCloseCustomerFlag] = MAX(CASE WHEN r.[RedemptionType] = 'AccClose' THEN 1 ELSE 0 END)
		,	[RedemptionsCustomerFlag] = MAX(CASE WHEN r.[RedemptionType] IS NOT NULL THEN 1 ELSE 0 END)
		,	[CashtoAccountValue] = SUM(CASE WHEN r.[RedemptionType] = 'Pay Bank' THEN [CashbackUsed] ELSE 0 END)
		,	[CashtoSavingsAccountValue] = SUM(CASE WHEN r.[RedemptionType] = 'Pay Bank - Savings' THEN [CashbackUsed] ELSE 0 END)
		,	[CashtoCardValue] = SUM(CASE WHEN r.[RedemptionType] = 'Pay Card' THEN [CashbackUsed] ELSE 0 END)
		,	[TradeUpRedemptionsValue] = SUM(CASE WHEN r.[RedemptionType] = 'Trade Up' THEN [CashbackUsed] ELSE 0 END)
		,	[CharityRedemptionsValue] = SUM(CASE WHEN r.[RedemptionType] = 'Charity' THEN [CashbackUsed] ELSE 0 END)
		,	[AccCloseValue] = SUM(CASE WHEN r.[RedemptionType] = 'AccClose' THEN [CashbackUsed] ELSE 0 END)
		,	[RedemptionsValue] = SUM(CASE WHEN r.[RedemptionType] IS NOT NULL THEN [CashbackUsed] ELSE 0 END)
		,	[MinDateCheck] = MIN([RedeemedDate])
		,	[MaxDateCheck] = MAX([RedeemedDate])
	INTO #Redemptions
	FROM #FanList fl
	INNER JOIN #Redemptions_Month r
		ON fl.[CustomerGUID] = r.[CustomerGUID]
		AND CONVERT(DATE, r.[RedeemedDate]) >= fl.[Datestart]
		AND CONVERT(DATE, r.[RedeemedDate]) <= fl.[Date]
	LEFT JOIN [WHB].[Inbound_MatchedTransactions] mt
		ON r.[TransactionGUID] = mt.[TransactionGUID]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Redemptions ([CustomerGUID])

	DROP TABLE IF EXISTS #FanListRedemptions
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]		
		,	[CashtoAccountRedemptions] = SUM(COALESCE(r.[CashtoAccountRedemptions], 0))
		,	[CashtoSavingsAccountRedemptions] = SUM(COALESCE(r.[CashtoSavingsAccountRedemptions], 0))
		,	[CashtoCardRedemptions] = SUM(COALESCE(r.[CashtoCardRedemptions], 0))
		,	[TradeUpRedemptions] = SUM(COALESCE(r.[TradeUpRedemptions], 0))
		,	[CharityRedemptions] = SUM(COALESCE(r.[CharityRedemptions], 0))
		,	[AccCloseRedemptions] = SUM(COALESCE(r.[AccCloseRedemptions], 0))
		,	[Redemptions] = SUM(COALESCE(r.[Redemptions], 0))
		,	[CashtoAccountCustomerFlag] = SUM(COALESCE(r.[CashtoAccountCustomerFlag], 0))
		,	[CashtoSavingsAccountCustomerFlag] = SUM(COALESCE(r.[CashtoSavingsAccountCustomerFlag], 0))
		,	[CashtoCardCustomerFlag] = SUM(COALESCE(r.[CashtoCardCustomerFlag], 0))
		,	[TradeUpCustomerFlag] = SUM(COALESCE(r.[TradeUpCustomerFlag], 0))
		,	[CharityCustomerFlag] = SUM(COALESCE(r.[CharityCustomerFlag], 0))
		,	[AccCloseCustomerFlag] = SUM(COALESCE(r.[AccCloseCustomerFlag], 0))
		,	[RedemptionsCustomerFlag] = SUM(COALESCE(r.[RedemptionsCustomerFlag], 0))
		,	[CashtoAccountValue] = SUM(COALESCE(r.[CashtoAccountValue], 0))
		,	[CashtoSavingsAccountValue] = SUM(COALESCE(r.[CashtoSavingsAccountValue], 0))
		,	[CashtoCardValue] = SUM(COALESCE(r.[CashtoCardValue], 0))
		,	[TradeUpRedemptionsValue] = SUM(COALESCE(r.[TradeUpRedemptionsValue], 0))
		,	[CharityRedemptionsValue] = SUM(COALESCE(r.[CharityRedemptionsValue], 0))
		,	[AccCloseValue] = SUM(COALESCE(r.[AccCloseValue], 0))
		,	[RedemptionsValue] = SUM(COALESCE(r.[RedemptionsValue], 0))
		,	[MinDateCheck] = MIN([MinDateCheck])
		,	[MaxDateCheck] = MAX([MaxDateCheck]) 
	INTO #FanListRedemptions
	FROM #FanList fl
	LEFT JOIN #Redemptions r
		ON fl.[CustomerGUID] = r.[CustomerGUID]
		AND fl.[Date] = r.[Date]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #FanListRedemptions ([CustomerGUID])
	
	-- ** Calculates if a customer has redeemed in the previous 12 months **--
	-- ** It also useful for us to have no. of redemptions in previous 12 months per customers ** --

	DROP TABLE IF EXISTS #YearRedemptions
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[YearRedemptions] = MAX(CASE WHEN r.[RedemptionType] IS NOT NULL THEN 1 ELSE 0 END)
	    ,	[YearTotalRedemptions] = SUM(CASE WHEN r.[RedemptionType] IS NOT NULL THEN 1 ELSE 0 END)
	INTO #YearRedemptions
	FROM #FanList fl
	LEFT JOIN [Derived].[Redemptions] r
		ON fl.[CustomerGUID] = r.[CustomerGUID]
		AND r.[RedeemedDate] >= DATEADD([YEAR], -1, fl.[Date])
		AND r.[RedeemedDate] <= fl.[Date]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #YearRedemptions ([CustomerGUID])
		
-- **Calculates total redemptions of customer ** --

	DROP TABLE IF EXISTS #TotalRedemptions
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
	    ,	[RecentRedemption] = MAX(CASE WHEN r.[RedemptionType] IS NOT NULL THEN CONVERT(DATE, r.[RedeemedDate]) ELSE NULL END)
	    ,	[TotalRedemptions] = SUM(CASE WHEN r.[RedemptionType] IS NOT NULL THEN 1 ELSE 0 END)
	INTO #TotalRedemptions
	FROM #FanList fl
	LEFT JOIN [Derived].[Redemptions] r
		ON fl.[CustomerGUID] = r.[CustomerGUID]
		AND r.[RedeemedDate] <= fl.[Date]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #TotalRedemptions ([CustomerGUID])

-- ** Counts if a customer has logged and if total number of logins for the month **--
-- ** By type no. of customers and total no. of logins ** --
-- ** Also good to caluclate no. of times a customer logs in during the month ** --

	DROP TABLE IF EXISTS #FanListLogins
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[TotalMobileAppLogins] = SUM(CASE WHEN td.[LoginTypeID] = 1 THEN 1 ELSE 0 END)
		,	[TotalWebLogins] = SUM(CASE WHEN td.[LoginTypeID] = 0 THEN 1 ELSE 0 END)
		,	[TotalLogins] = SUM(CASE WHEN td.[LoginTypeID] IN (0,1) THEN 1 ELSE 0 END)
		,	[MobileAppLogins] = MAX(CASE WHEN td.[LoginTypeID] = 1 THEN 1 ELSE 0 END)
		,	[WebLogins] = MAX(CASE WHEN td.[LoginTypeID] = 0 THEN 1 ELSE 0 END)
		,	[Logins] = MAX(CASE WHEN td.[LoginTypeID] IN (0,1) THEN 1 ELSE 0 END)
	INTO #FanListLogins
	FROM #FanList fl
	LEFT JOIN [Derived].[AppLogins] td
		ON fl.[CustomerGUID] = td.[CustomerGUID]
		AND td.[TrackDate] >= [Datestart]
		AND td.[TrackDate] <= fl.[Date]
		AND td.[LoginTypeID] IN (0,1)
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #FanListLogins ([CustomerGUID])

-- ** Creates customers who have logged in during past 12 months, and total logins for 12 months ** --

	DROP TABLE IF EXISTS #YearLogins
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[YearLogin] = MAX(CASE WHEN td.[LoginTypeID] IN (0,1) THEN 1 ELSE 0 END) 
		,	[YearMobileAppLogin] = MAX(CASE WHEN td.[LoginTypeID] IN (1) THEN 1 ELSE 0 END) 
		,	[YearWebLogin] = MAX(CASE WHEN td.[LoginTypeID] IN (0) THEN 1 ELSE 0 END) 
		,	[TotalYearLogin] = SUM(CASE WHEN td.[LoginTypeID] IN (0,1) THEN 1 ELSE 0 END)
		,	[TotalYearMobileAppLogin] = SUM(CASE WHEN td.[LoginTypeID] IN (1) THEN 1 ELSE 0 END)
		,	[TotalYearWebLogin] = SUM(CASE WHEN td.[LoginTypeID] IN (0) THEN 1 ELSE 0 END)
	INTO #YearLogins
	FROM #FanList fl
	LEFT JOIN [Derived].[AppLogins] td
		ON fl.[CustomerGUID] = td.[CustomerGUID]
		AND td.[TrackDate] BETWEEN DATEADD(YEAR, -1, fl.[Date]) AND fl.[Date]
		AND td.[LoginTypeID] IN (0,1)
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #YearLogins ([CustomerGUID])

-- ** Creates most recent login by type, good if we can calculate time since last login ** --

	DROP TABLE IF EXISTS #MostRecentLogin
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[RecentLogin] = MAX(CASE WHEN td.[LoginTypeID] IN (0,1) THEN CONVERT(DATE, td.[TrackDate]) ELSE NULL END)
		,	[RecentMobileAppLogin] = MAX(CASE WHEN td.[LoginTypeID] IN (1) THEN CONVERT(DATE, td.[TrackDate]) ELSE NULL END)
		,	[RecentWebLogin] = MAX(CASE WHEN td.[LoginTypeID] IN (0) THEN CONVERT(DATE, td.[TrackDate]) ELSE NULL END)
		,	[AllLogins] = SUM(CASE WHEN td.[LoginTypeID] IN (0,1) THEN 1 ELSE 0 END)
		,	[AllMobileAppLogins] = SUM(CASE WHEN td.[LoginTypeID] IN (1) THEN 1 ELSE 0 END)
		,	[AllWebLogins] = SUM(CASE WHEN td.[LoginTypeID] IN (0) THEN 1 ELSE 0 END)
	INTO #MostRecentLogin
	FROM #FanList fl
	LEFT JOIN [Derived].[AppLogins] td
		ON fl.[CustomerGUID] = td.[CustomerGUID]
		AND td.[TrackDate] <= fl.[Date]
		AND td.[LoginTypeID] IN (0,1)
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #MostRecentLogin ([CustomerGUID])

--** Creates table of email opens ** --

	DROP TABLE IF EXISTS #FanListEmailOpens
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[Opened] = MAX(CASE WHEN ee.[EmailEventCodeID] IN (1301) THEN 1 ELSE 0 END)
	INTO #FanListEmailOpens
	FROM #FanList fl
	LEFT JOIN [Derived].[EmailEvent] ee
		ON fl.[CustomerGUID] = ee.[CustomerGUID]
		AND ee.[EventDate] >= fl.[DateStart]
		AND ee.[EventDate] <= fl.[Date]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #FanListEmailOpens ([CustomerGUID])

--** Creates table of retail earnings by payment type ** --

	DROP TABLE IF EXISTS #RetailEarnings
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[RetailEarnings] = SUM(CASE WHEN pt.[ID] IS NOT NULL THEN pt.[CashbackEarned] ELSE 0 END)
		,	[RetailEarner] = MAX(CASE WHEN pt.[ID] IS NOT NULL  THEN 1 ELSE 0 END)
		,	[CurrentAccountRetailEarnings] = SUM(CASE WHEN pt.[ID] IS NOT NULL and pt.[PaymentMethodID] IN (2, 0) THEN pt.[CashbackEarned] ELSE 0 END)
		,	[CurrentAccountRetailEarner] = MAX(CASE WHEN pt.[ID] IS NOT NULL and pt.[PaymentMethodID] IN (2, 0) THEN 1 ELSE 0 END)
		,	[CreditCardRetailEarnings] = SUM(CASE WHEN pt.[ID] IS NOT NULL and pt.[PaymentMethodID] = 1 THEN pt.[CashbackEarned] ELSE 0 END)
		,	[CreditCardRetailEarner] = MAX(CASE WHEN pt.[ID] IS NOT NULL and pt.[PaymentMethodID] = 1 THEN 1 ELSE 0 END)
	INTO #RetailEarnings
	FROM #FanList fl
	LEFT JOIN [Derived].[PartnerTrans] pt
		ON fl.[CustomerGUID] = pt.[CustomerGUID]
		AND pt.[TransactionDate] >= fl.[DateStart]
		AND pt.[TransactionDate] <= fl.[Date]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #RetailEarnings ([CustomerGUID])

--** Cashback from bank funded methods ** -- 

	DROP TABLE IF EXISTS #DescriptionID_DirectDebits
	SELECT	[DescriptionID]
	INTO #DescriptionID_DirectDebits
	FROM [Derived].[BankTrans_Description]
	WHERE [Description] LIKE 'direct debit - reward earned - %'

	CREATE CLUSTERED INDEX [CIX_DescID] ON #DescriptionID_DirectDebits ([DescriptionID])

	DROP TABLE IF EXISTS #Earnings
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[Direct Debit (Reward 3.0)] = SUM(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND dd.[DescriptionID] IS NOT NULL THEN aca.[CashbackEarned] ELSE 0 END)
		,	[Direct Debit (Reward 3.0) Ind] = MAX(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND dd.[DescriptionID] IS NOT NULL THEN 1 ELSE 0 END)
		,	[Mobile Login (Reward 3.0)] = SUM(CASE WHEN aca.[TransactionTypeID] = 11 THEN aca.[CashbackEarned] ELSE 0 END)
		,	[Mobile Login (Reward 3.0) Ind] = MAX(CASE WHEN aca.[TransactionTypeID] = 11 THEN 1 ELSE 0 END)
		,	[Credit Card Transaction - Supermarket] = SUM(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND aca.[DescriptionID] IN (79, 1283, 1288, 1291, 1297, 1295, 1282) THEN aca.[CashbackEarned] ELSE 0 END)
		,	[Credit Card Transaction - Supermarket Ind] = MAX(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND aca.[DescriptionID] IN (79, 1283, 1288, 1291, 1297, 1295, 1282) THEN 1 ELSE 0 END)
		,	[Credit Card Transaction - Other] = SUM(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND aca.[DescriptionID] IN (74, 1296, 1290, 1281, 1286, 1294, 1292) THEN aca.[CashbackEarned] ELSE 0 END)
		,	[Credit Card Transaction - Other Ind] = MAX(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND aca.[DescriptionID] IN (74, 1296, 1290, 1281, 1286, 1294, 1292) THEN 1 ELSE 0 END)		
		,	[Travel Credit Card Transaction - Travel] = SUM(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND aca.[DescriptionID] IN (1229, 1301) THEN aca.[CashbackEarned] ELSE 0 END)
		,	[Travel Credit Card Transaction - Travel Ind] = MAX(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND aca.[DescriptionID] IN (1229, 1301) THEN 1 ELSE 0 END)
		,	[Travel Credit Card Transaction - Non Travel] = SUM(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND aca.[DescriptionID] IN (1271, 1225, 1300) THEN aca.[CashbackEarned] ELSE 0 END)
		,	[Travel Credit Card Transaction - Non Travel Ind] = MAX(CASE WHEN aca.[TransactionTypeID] IN (1, 8) AND aca.[DescriptionID] IN (1271, 1225, 1300) THEN 1 ELSE 0 END)
		,	[Direct Debit (Household 2%)] = 0	--	no longer part of the program
	INTO #Earnings
	FROM #FanList fl
	LEFT JOIN [Derived].[BankTrans] aca
		ON fl.[FanID] = aca.[FanID]
		AND aca.[TranDate] >= fl.[DateStart]
		AND aca.[TranDate] <= fl.[Date]
	LEFT JOIN #DescriptionID_DirectDebits dd
		ON aca.[DescriptionID] = dd.[DescriptionID]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Earnings ([CustomerGUID])
  
  --** Creates table to sweep up other earnings ** --
  -- ** Breakage and earnings on redemptions ** --
  
	DROP TABLE IF EXISTS #OtherEarnings
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[Breakage] = SUM(CASE WHEN aca.[TransactionTypeID] = 10 THEN aca.[CashbackEarned] ELSE 0 END)
	INTO #OtherEarnings
	FROM #FanList fl
	LEFT JOIN [Derived].[BankTrans] aca
		ON fl.[FanID] = aca.[FanID]
		AND aca.[TranDate] >= fl.[DateStart]
		AND aca.[TranDate] <= fl.[Date]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #OtherEarnings ([CustomerGUID])
			
	DROP TABLE IF EXISTS #RedemptionEarnings
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[Date]
		,	[Earnings on Redemptions] = SUM(COALESCE([CashbackEarned], 0))
	INTO #RedemptionEarnings
	FROM #FanList fl
	LEFT JOIN [Derived].[Redemptions] r
		ON fl.[FanID] = r.[FanID]
		AND r.[RedeemedDate] >= fl.[DateStart]
		AND r.[RedeemedDate] <= fl.[Date]
	GROUP BY	fl.[CustomerGUID]
			,	fl.[FanID]
			,	fl.[Date]

	CREATE CLUSTERED INDEX [UCIX_CustomerGUID] ON #RedemptionEarnings ([CustomerGUID])

	-- ** creates final table on Warehouse - this table is then used for the reporting tables ** --
	-- ** table will still need to be created for other models and reports Insights create ** --

	INSERT INTO [Report].[NW_KPIDashboardRawData] (	[CustomerGUID]
												,	[FanID]
												,	[ClubID]
												,	[sourceuid]
												,	[DOB]
												,	[AGEcurrent]
												,	[AGEcurrentbandtext]
												,	[RevisedNumberOfYears]
												,	[Gender]
												,	[ActivatedDate]
												,	[NewAccount]
												,	[ClosedAccount]
												,	[CINID]
												,	[Date]
												,	[Datestart]
												,	[registered]
												,	[NewRegistration]
												,	[Marketable]
												,	[NonMarketable]
												,	[ClubCashAvailable]
												,	[Available Balance Distribution]
												,	[ClubcashPending]
												,	[Pending Balance Distribution]
												,	[CashtoAccountRedemptions]
												,	[CashtoAccountValue]
												,	[CashtoAccountCustomerFlag]
												,	[CashtoSavingsAccountRedemptions]
												,	[CashtoSavingsAccountValue]
												,	[CashtoSavingsAccountCustomerFlag]
												,	[CashtoCardRedemptions]
												,	[CashtoCardValue]
												,	[CashtoCardCustomerFlag]
												,	[CharityRedemptions]
												,	[CharityRedemptionsValue]
												,	[CharityCustomerFlag]
												,	[AccCloseRedemptions]
												,	[AccCloseValue]
												,	[AccCloseCustomerFlag]
												,	[TradeUpRedemptions]
												,	[TradeUpRedemptionsVALUE]
												,	[TradeUpCustomerFlag]
												,	[Redemptions]
												,	[RedemptionsValue]
												,	[RedemptionsCustomerFlag]
												,	[YearRedemptions]
												,	[YearTotalRedemptions]
												,	[RecentRedemption]
												,	[TotalRedemptions]
												,	[TotalWebLogins]
												,	[TotalMobileAppLogins]
												,	[TotalLogins]
												,	[WebLogins]
												,	[MobileAppLogins]
												,	[Logins]
												,	[YearLogin]
												,	[YearMobileAppLogin]
												,	[YearWebLogin]
												,	[TotalYearLogin]
												,	[TotalYearMobileAppLogin]
												,	[TotalYearWebLogin]
												,	[AllLogins]
												,	[AllMobileAppLogins]
												,	[AllWebLogins]
												,	[RecentLogin]
												,	[RecentMobileAppLogin]
												,	[RecentWebLogin]
												,	[Opened]
												,	[CurrentAccount]
												,	[NomineeStatus]
												,	[creditcardname]
												,	[currentaccounttype]
												,	[AccountSegmentation]
												,	[CurrentAccountSpend]
												,	[CreditCardSpend]
												,	[DDSpend]
												,	[DDVolume]
												,	[TotalSpend]
												,	[TotalCurrentAccountSpend]
												,	[Direct Debit (Reward 3.0)]
												,	[Direct Debit (Reward 3.0) Ind]
												,	[Mobile Login (Reward 3.0)]
												,	[Mobile Login (Reward 3.0) Ind]
												,	[Credit Card Transaction - Supermarket]
												,	[Credit Card Transaction - Supermarket Ind]
												,	[Credit Card Transaction - Other]
												,	[Credit Card Transaction - Other Ind]
												,	[Direct Debit (Household 2%)]
												,	[RetailEarnings]
												,	[RetailEarner]
												,	[CurrentAccountRetailEarnings]
												,	[CurrentAccountRetailEarner]
												,	[CreditCardRetailEarnings]
												,	[CreditCardRetailEarner]
												,	[Breakage]
												,	[Earnings on Redemptions]
												,	[Travel Credit Card Transaction - Travel]
												,	[Travel Credit Card Transaction - Travel Ind]
												,	[Travel Credit Card Transaction - Non Travel]
												,	[Travel Credit Card Transaction - Non Travel Ind])
	SELECT	fl.[CustomerGUID]
		,	fl.[FanID]
		,	fl.[ClubID]
		,	fl.[SourceUID]
		,	fl.[DOB]
		,	fl.[AGEcurrent]
		,	fl.[AGEcurrentbandtext]
		,	fl.[RevisedNumberOfYears]
		,	fl.[Gender]
		,	fl.[RegistrationDate]
		,	fl.[NewAccount]
		,	fl.[ClosedAccount]
		,	fl.[CINID]
		,	fl.[Date]
		,	fl.[DateStart]
		,	flr.[Registered]
		,	flr.[NewRegistration]
		,	flm.[Marketable]
		,	flm.[NonMarketable]
		,	flb.[ClubCashAvailable]
		,	flb.[Available Balance Distribution]
		,	flb.[ClubcashPending]
		,	flb.[Pending Balance Distribution]
		,	flrd.[CashtoAccountRedemptions]
		,	flrd.[CashtoAccountValue]
		,	flrd.[CashtoAccountCustomerFlag]
		,	flrd.[CashtoSavingsAccountRedemptions]
		,	flrd.[CashtoSavingsAccountValue]
		,	flrd.[CashtoSavingsAccountCustomerFlag]
		,	flrd.[CashtoCardRedemptions]
		,	flrd.[CashtoCardValue]
		,	flrd.[CashtoCardCustomerFlag]
		,	flrd.[CharityRedemptions]
		,	flrd.[CharityRedemptionsValue]
		,	flrd.[CharityCustomerFlag]
		,	flrd.[AccCloseRedemptions]
		,	flrd.[AccCloseValue]
		,	flrd.[AccCloseCustomerFlag]
		,	flrd.[TradeUpRedemptions]
		,	flrd.[TradeUpRedemptionsVALUE]
		,	flrd.[TradeUpCustomerFlag]
		,	flrd.[Redemptions]
		,	flrd.[RedemptionsValue]
		,	flrd.[RedemptionsCustomerFlag]
		,	yr.[YearRedemptions]
		,	yr.[YearTotalRedemptions]
		,	tr.[RecentRedemption]
		,	tr.[TotalRedemptions]
		,	fll.[TotalWebLogins]
		,	fll.[TotalMobileAppLogins]
		,	fll.[TotalLogins]
		,	fll.[WebLogins]
		,	fll.[MobileAppLogins]
		,	fll.[Logins]
		,	yl.[YearLogin]
		,	yl.[YearMobileAppLogin]
		,	yl.[YearWebLogin]
		,	yl.[TotalYearLogin]
		,	yl.[TotalYearMobileAppLogin]
		,	yl.[TotalYearWebLogin]
		,	mrl.[AllLogins]
		,	mrl.[AllMobileAppLogins]
		,	mrl.[AllWebLogins]
		,	mrl.[RecentLogin]
		,	mrl.[RecentMobileAppLogin]
		,	mrl.[RecentWebLogin]
		,	fleo.[Opened]
		,	ah.[CurrentAccount]
		,	ah.[NomineeStatus]
		,	ah.[CreditCardName]
		,	ah.[currentaccounttype]
		,	[AccountSegmentation] =	CASE
										WHEN [CurrentAccount] = 'Reward Account' AND [CreditCardName] IS NOT NULL THEN 'Reward Account + Credit Card'
										WHEN [CurrentAccount] = 'Reward Account' AND [CreditCardName] IS NULL THEN 'Reward Account Only'
										WHEN [CurrentAccount] = 'CashbackPlus' AND [CreditCardName] IS NOT NULL then 'Cashback Plus + Credit Card'
										when [CurrentAccount] = 'CashbackPlus' AND [CreditCardName] IS NULL THEN 'Cashback Plus Only'
										WHEN [CurrentAccount] IS NULL AND [CreditCardName] IS NOT NULL THEN 'Credit Card Only'
										ELSE 'N/A'
									END
		,	ah.[CurrentAccountSpend]
		,	ah.[CreditCardSpend]
		,	ah.[DDSpend]
		,	ah.[DDVolume]
		,	[TotalSpend] = ah.[CurrentAccountSpend] +  ah.[CreditCardSpend] + ah.[DDSpend]
		,	[TotalCurrentAccountSpend] = ah.[CurrentAccountSpend] +  ah.[DDSpend]
		,	[Direct Debit (Reward 3.0)]
		,	[Direct Debit (Reward 3.0) Ind]
		,	[Mobile Login (Reward 3.0)]
		,	[Mobile Login (Reward 3.0) Ind]
		,	[Credit Card Transaction - Supermarket]
		,	[Credit Card Transaction - Supermarket Ind]
		,	[Credit Card Transaction - Other]
		,	[Credit Card Transaction - Other Ind]
		,	[Direct Debit (Household 2%)]
		,	[RetailEarnings]
		,	[RetailEarner]
		,	[CurrentAccountRetailEarnings]
		,	[CurrentAccountRetailEarner]
		,	[CreditCardRetailEarnings]
		,	[CreditCardRetailEarner]
		,	[Breakage]
		,	[Earnings on Redemptions]
		,	[Travel Credit Card Transaction - Travel]
		,	[Travel Credit Card Transaction - Travel Ind]
		,	[Travel Credit Card Transaction - Non Travel]
		,	[Travel Credit Card Transaction - Non Travel Ind]
	FROM #FanList fl
	LEFT JOIN #FanListMarketing flm
		ON fl.[CustomerGUID] = flm.[CustomerGUID]
	LEFT JOIN #FanListWithBalances flb
		ON fl.[CustomerGUID] = flb.[CustomerGUID]
	LEFT JOIN #FanListRedemptions flrd
		ON fl.[CustomerGUID] = flrd.[CustomerGUID]
	LEFT JOIN #FanListLogins fll
		ON fl.[CustomerGUID] = fll.[CustomerGUID]
	LEFT JOIN #FanListEmailOpens fleo
		ON fl.[CustomerGUID] = fleo.[CustomerGUID]
	LEFT JOIN #FanListRegistered flr
		ON fl.[CustomerGUID] = flr.[CustomerGUID]
	LEFT JOIN [Report].[NW_AccountHistory] ah
		ON fl.[FanID] = ah.[FanID]
		AND fl.[Date] = ah.[Date]
	LEFT JOIN #Earnings fle
		ON fl.[CustomerGUID] = fle.[CustomerGUID]
	LEFT JOIN #YearLogins yl
		ON fl.[CustomerGUID] = yl.[CustomerGUID]
	LEFT JOIN #YearRedemptions yr
		ON fl.[CustomerGUID] = yr.[CustomerGUID]
	LEFT JOIN #MostRecentLogin mrl
		ON fl.[CustomerGUID] = mrl.[CustomerGUID]
	LEFT JOIN #TotalRedemptions tr
		ON fl.[CustomerGUID] = tr.[CustomerGUID]
	LEFT JOIN #OtherEarnings oe
		 ON fl.[CustomerGUID] = oe.[CustomerGUID]
	LEFT JOIN #RedemptionEarnings red
		ON fl.[CustomerGUID] = red.[CustomerGUID]
	LEFT JOIN #RetailEarnings re
		 ON fl.[CustomerGUID] = re.[CustomerGUID]
		      
END;
GO
