USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_PartnerTrans_NW_MI]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_PartnerTrans_NW_MI]
AS
BEGIN

	TRUNCATE TABLE [Report].[PartnerTrans_NW_MI]	
	INSERT INTO [Report].[PartnerTrans_NW_MI]
	SELECt	pt.[CustomerGUID]
		,	pt.[FanID]
		,	pt.[PartnerID]
		,	pa.[PartnerName]
		,	[TransactionMonth] = MONTH(pt.[TransactionDate])
		,	[TransactionYear] = YEAR(pt.[TransactionDate])
		,	[Date] = EOMONTH(MAX(pt.[TransactionDate]))
		,	[TransactionAmount] = SUM(pt.[TransactionAmount])
		,	[CashbackEarned] = SUM(pt.[CashbackEarned])
		,	[TransactionVolume] = COUNT(*)
	FROM [Derived].[PartnerTrans] pt
	LEFT JOIN [Derived].[Partner] pa
		ON pt.[PartnerID] = pa.[PartnerID] 
	WHERE pt.[TransactionDate] >= '2019-01-01'
	GROUP BY	pt.[CustomerGUID]
			,	pt.[FanID]
			,	pt.[PartnerID]
			,	pa.[PartnerName]
			,	MONTH(pt.[TransactionDate])
			,	YEAR(pt.[TransactionDate])

END;
GO
