USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[MFDD_OfferReport]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[MFDD_OfferReport] @PartnerID INT
AS
BEGIN

--	DECLARE @PartnerID INT = 4729

	DROP TABLE IF EXISTS #IronOffer
	SELECT	pa.[PartnerID]
		,	pa.[PartnerName]
		,	[PublisherID] = MAX(iof.[PublisherID])
		,	iof.[IronOfferID]
		,	iof.[OfferGUID]
		,	iof.[OfferName]
		,	iof.[StartDate]
	INTO #IronOffer
	FROM [WH_AllPublishers].[Derived].[Offer] iof
	INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
		ON iof.[PartnerID] = pa.[PartnerID]
	WHERE iof.[PartnerID] = @PartnerID
	GROUP BY	pa.[PartnerID]
			,	pa.[PartnerName]
			,	iof.[IronOfferID]
			,	iof.[OfferGUID]
			,	iof.[OfferName]
			,	iof.[StartDate]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_OfferGUID] ON #IronOffer ([OfferGUID])

	DROP TABLE IF EXISTS #Weeks
	SELECT	[WeekStart] = CONVERT(DATE, '2022-05-20')
		,	[WeekEnd] = CONVERT(DATE, '2022-05-26')
	INTO #Weeks

	WHILE (SELECT MAX([WeekEnd]) FROM #Weeks) < GETDATE()
		BEGIN

			INSERT INTO #Weeks
			SELECT	[WeekStart] = DATEADD(DAY, 7, MAX([WeekStart]))
				,	[WeekEnd] = DATEADD(DAY, 7, MAX([WeekEnd]))
			FROM #Weeks

		END

	WHILE (SELECT MIN([WeekEnd]) FROM #Weeks) > (SELECT MIN([StartDate]) FROM #IronOffer)
		BEGIN

			INSERT INTO #Weeks
			SELECT	[WeekStart] = DATEADD(DAY, -7, MIN([WeekStart]))
				,	[WeekEnd] = DATEADD(DAY, -7, MIN([WeekEnd]))
			FROM #Weeks

		END

	DROP TABLE IF EXISTS #IronOfferMember
	SELECT	iom.[IronOfferID]
		,	iom.[StartDate]
		,	iom.[EndDate]
		,	[Customers] = COUNT(DISTINCT iom.[CompositeID])
	INTO #IronOfferMember
	FROM [Warehouse].[Relational].[IronOfferMember] iom
	WHERE EXISTS (	SELECT 1
					FROM #IronOffer iof
					WHERE iom.[IronOfferID] = iof.[IronOfferID])
	GROUP BY	iom.[IronOfferID]
			,	iom.[StartDate]
			,	iom.[EndDate]
			
	INSERT INTO #IronOfferMember
	SELECT	iom.[IronOfferID]
		,	iom.[StartDate]
		,	iom.[EndDate]
		,	[Customers] = COUNT(DISTINCT iom.[CompositeID])
	FROM [WH_VirginPCA].[Derived].[IronOfferMember] iom
	WHERE EXISTS (	SELECT 1
					FROM #IronOffer iof
					WHERE iom.[IronOfferID] = iof.[IronOfferID])
	GROUP BY	iom.[IronOfferID]
			,	iom.[StartDate]
			,	iom.[EndDate]

	DROP TABLE IF EXISTS #Weeks_IOM
	SELECT	w.[WeekStart]
		,	w.[WeekEnd]
		,	iom.[IronOfferID]
		,	[Customers] = MAX(iom.[Customers])
	INTO #Weeks_IOM
	FROM #IronOfferMember iom
	INNER JOIN #Weeks w
		ON iom.[StartDate] BETWEEN w.[WeekStart] AND w.[WeekEnd]
		OR iom.[EndDate] BETWEEN w.[WeekStart] AND w.[WeekEnd]
		OR w.[WeekStart] BETWEEN iom.[StartDate] AND iom.[EndDate]
	GROUP BY	w.[WeekStart]
			,	w.[WeekEnd]
			,	iom.[IronOfferID]

	WHILE 1 = 1
		BEGIN

			INSERT INTO #Weeks_IOM
			SELECT	[WeekStart] = DATEADD(DAY, 7, w1.[WeekStart])
				,	[WeekEnd] = DATEADD(DAY, 7, w1.[WeekEnd])
				,	w1.[IronOfferID]
				,	w1.[Customers]
			FROM #Weeks_IOM w1
			WHERE NOT EXISTS (	SELECT 1
								FROM #Weeks_IOM w2
								WHERE DATEADD(DAY, 7, w1.[WeekStart]) = w2.[WeekStart]
								AND DATEADD(DAY, 7, w1.[WeekEnd]) = w2.[WeekEnd]
								AND w1.[IronOfferID] = w2.[IronOfferID])
			AND DATEADD(DAY, 7, w1.[WeekStart]) <= (SELECT MAX([WeekStart]) FROM #Weeks_IOM)

			IF @@ROWCOUNT = 0 BREAK

		END
	
	DROP TABLE IF EXISTS #MatchedTransactions
	SELECT	mt.[DescriptionID]
		,	mt.[OfferGUID]
		,	mt.[CustomerGUID]
		,	mt.[AccountGUID]
		,	mt.[TransactionGUID]
		,	mt.[Price]
		,	mt.[CashbackEarned]
		,	mt.[NetAmount]
		,	mt.[TransactionDate]
	INTO #MatchedTransactions
	FROM [WH_NWG].[WHB].[Inbound_MatchedTransactions] mt
	WHERE mt.[TransactionTypeID] IN (13)
	AND EXISTS (SELECT 1
				FROM #IronOffer iof
				WHERE mt.[OfferGUID] = iof.[OfferGUID])
				
	INSERT INTO #MatchedTransactions
	SELECT	[DescriptionID] = NULL
		,	mt.[OfferGUID]
		,	mt.[CustomerGUID]
		,	mt.[AccountGUID]
		,	mt.[TransactionGUID]
		,	mt.[Price]
		,	mt.[CashbackEarned]
		,	mt.[NetAmount]
		,	mt.[TransactionDate]
	FROM [WH_VirginPCA].[WHB].[Inbound_MatchedTransactions] mt
	WHERE mt.[TransactionTypeID] IN (13)
	AND EXISTS (SELECT 1
				FROM #IronOffer iof
				WHERE mt.[OfferGUID] = iof.[OfferGUID])

	CREATE CLUSTERED INDEX [CIX_OfferGUID] ON #MatchedTransactions ([DescriptionID], [OfferGUID])
	
	DROP TABLE IF EXISTS #MatchedTransactions_MFDD
	SELECT	mt.[DescriptionID]
		,	btd.[Description]
		,	iof.[PartnerName]
		,	iof.[IronOfferID]
		,	iof.[OfferName]
		,	[EarningTran] =	CASE
								WHEN btd.[Description] LIKE '% - % Transaction' THEN 0
								WHEN mt.[CashbackEarned] = 0 THEN 0
								WHEN btd.[Description] IS NULL AND iof.[PublisherID] IN (166, 182) THEN 1
								ELSE 1
							END
		,	mt.[OfferGUID]
		,	mt.[CustomerGUID]
		,	mt.[AccountGUID]
		,	mt.[TransactionGUID]
		,	mt.[Price]
		,	mt.[CashbackEarned]
		,	mt.[NetAmount]
		,	mt.[TransactionDate]
	INTO #MatchedTransactions_MFDD
	FROM #MatchedTransactions mt
	LEFT JOIN [Derived].[BankTrans_Description] btd
		ON mt.[DescriptionID] = btd.[DescriptionID]
	INNER JOIN #IronOffer iof
		ON mt.[OfferGUID] = iof.[OfferGUID]

	CREATE CLUSTERED INDEX [CIX_OfferGUID] ON #MatchedTransactions_MFDD ([TransactionDate], [PartnerName], [OfferName])
	
	DROP TABLE IF EXISTS #MFDD
	SELECT	mt.[PartnerName]
		,	mt.[OfferName]
		,	mt.[WeekStart]
		,	mt.[WeekEnd]
		,	mt.[EarningTran]
		,	[Customers] = MAX(w.[Customers])
		,	mt.[Transactions]
		,	mt.[Spend]
		,	mt.[Cashback]
		,	mt.[Investment]
	INTO #MFDD
	FROM (	SELECT	mt.[PartnerName]
				,	mt.[IronOfferID]
				,	mt.[OfferName]
				,	w.[WeekStart]
				,	w.[WeekEnd]
				,	mt.[EarningTran]
				,	[Transactions] = COUNT(DISTINCT mt.[TransactionGUID])
				,	[Spend] = SUM(mt.[Price])
				,	[Cashback] = SUM(mt.[CashbackEarned])
				,	[Investment] = SUM(mt.[NetAmount])
			FROM #MatchedTransactions_MFDD mt
			INNER JOIN #Weeks w
				ON CONVERT(DATE, mt.[TransactionDate]) BETWEEN w.[WeekStart] AND w.[WeekEnd]
			GROUP BY	mt.[PartnerName]
					,	mt.[IronOfferID]
					,	mt.[OfferName]
					,	w.[WeekStart]
					,	w.[WeekEnd]
					,	mt.[EarningTran]) mt			
	LEFT JOIN #Weeks_IOM w
		ON mt.[IronOfferID] = w.[IronOfferID]
		AND mt.[WeekStart] = w.[WeekStart]
		AND mt.[WeekEnd] = w.[WeekEnd]
	GROUP BY	mt.[PartnerName]
			,	mt.[OfferName]
			,	mt.[WeekStart]
			,	mt.[WeekEnd]
			,	mt.[EarningTran]
			,	mt.[Transactions]
			,	mt.[Spend]
			,	mt.[Cashback]
			,	mt.[Investment]

	CREATE CLUSTERED INDEX [CIX_OfferGUID] ON #MFDD ([WeekStart], [PartnerName], [OfferName])

	DROP TABLE IF EXISTS #FinalOutput
	SELECT	[Retailer] = mt.[PartnerName]
		,	[Offer] = mt.[OfferName]
		,	[Week Start] = mt.[WeekStart]
		,	[Week End] = mt.[WeekEnd]
		,	[Exposed Customers] = mt.[Customers]
		,	[Customers Paid Opening DD] = SUM(CASE WHEN mt.[EarningTran] = 0 THEN mt.[Transactions] ELSE 0 END)
		,	[Response Rate Opening DD] = CONVERT(DECIMAL(16,4), NULL)
		,	[Spend Opening DD] = SUM(CASE WHEN mt.[EarningTran] = 0 THEN mt.[Spend] ELSE 0 END)
		,	[ATV Opening DD] = CONVERT(DECIMAL(16,2), NULL)
		,	[Spenders Incentivised DD] = SUM(CASE WHEN mt.[EarningTran] = 1 THEN mt.[Transactions] ELSE 0 END)
		,	[Spend Incentivised DD] = SUM(CASE WHEN mt.[EarningTran] = 1 THEN mt.[Spend] ELSE 0 END)
		,	[ATV Incentivised DD] = CONVERT(DECIMAL(16,2), NULL)
		,	[Cashback Incentivised DD] = SUM(CASE WHEN mt.[EarningTran] = 1 THEN mt.[Cashback] ELSE 0 END)
		,	[Investment Incentivised DD] = SUM(CASE WHEN mt.[EarningTran] = 1 THEN mt.[Investment] ELSE 0 END)
	INTO #FinalOutput
	FROM #MFDD mt
	GROUP BY	mt.[PartnerName]
			,	mt.[OfferName]
			,	mt.[WeekStart]
			,	mt.[WeekEnd]
			,	mt.[Customers]

	UPDATE #FinalOutput SET [Response Rate Opening DD] = ([Customers Paid Opening DD] * 1.00000) / ([Exposed Customers] * 1.00000)
	UPDATE #FinalOutput SET [ATV Opening DD] = [Spend Opening DD] / [Customers Paid Opening DD] WHERE [Customers Paid Opening DD] > 0
	UPDATE #FinalOutput SET [ATV Opening DD] = 0  WHERE [ATV Opening DD] IS NULL
	UPDATE #FinalOutput SET [ATV Incentivised DD] = [Spend Incentivised DD] / [Spenders Incentivised DD] WHERE [Spenders Incentivised DD] > 0
	UPDATE #FinalOutput SET [ATV Incentivised DD] = 0  WHERE [ATV Incentivised DD] IS NULL

	SELECT	[RowNum] = ROW_NUMBER() OVER (ORDER BY fo.[Retailer], fo.[Week Start] DESC, fo.[Week End] DESC, fo.[Offer])
		,	[Retailer]
		,	[Offer]
		,	[Week Start]
		,	[Week End]
		,	[Exposed Customers]
		,	[Customers Paid Opening DD]
		,	[Response Rate Opening DD]
		,	[Spend Opening DD]
		,	[ATV Opening DD]
		,	[Spenders Incentivised DD]
		,	[Spend Incentivised DD]
		,	[ATV Incentivised DD]
		,	[Cashback Incentivised DD]
		,	[Investment Incentivised DD]
		,	[Proportion of second DD] = CASE
											WHEN [Customers Paid Opening DD] = 0 THEN 1
											ELSE [Spenders Incentivised DD] / [Customers Paid Opening DD]
										END
	FROM #FinalOutput fo
	ORDER BY	fo.[Retailer]
			,	fo.[Week Start] DESC
			,	fo.[Week End] DESC
			,	fo.[Offer]

END
GO
