USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[RedemptionStockLevels]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Report].[RedemptionStockLevels]
AS
BEGIN

		DROP TABLE IF EXISTS #DailyRedemptions
		SELECT	ro.[PublisherID]
			,	rp.[PartnerName]
			,	ro.[RedemptionOfferGUID]
			,	[OfferName] =	CASE
									WHEN ro.[RedemptionOfferGUID] IN ('A978CB2C-3815-4E45-9B6E-AE05C361B77C', 'B21D4926-A123-4C04-90DD-F0AA8F68A798') THEN 'Exchange £' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' cashback for a £6 Caffè Nero eGift card'
									WHEN ro.[RedemptionOfferGUID] IN ('5B1D8B5D-0C71-42E4-A253-D1E048193031', '033324C0-D7A0-47AA-81ED-829FC6645F41') THEN 'Exchange £' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' cashback for a £10 Caffè Nero eGift card'
									WHEN ro.[RedemptionOfferGUID] IN ('045AE258-0288-4430-8529-8CDEF962E70D', 'D7A0CFF9-CCCE-4F98-8A13-A930F024EE14') THEN 'Exchange £' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' cashback for a £20 Caffè Nero eGift card'
									WHEN ro.[TradeUp_MarketingPercentage] > 0 THEN '£' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' ' + rp.[PartnerName] + ' Gift Card + ' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_MarketingPercentage])) + '% back in Rewards'
									ELSE '£' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' ' + rp.[PartnerName] + ' Gift Card'
								END
			,	ro.[Status]
			,	[RedeemedDate] = CONVERT(DATE, ri.[RedeemedDate])
			,	[RedemptionItems] = COUNT(*)
		INTO #DailyRedemptions
		FROM [Derived].[RedemptionItems] ri
		INNER JOIN [Derived].[RedemptionOffers] ro
			ON ri.[RedemptionOfferGUID] = ro.[RedemptionOfferGUID]
		LEFT JOIN [WH_NWG].[Derived].[RedemptionPartners] rp
			ON ro.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
		WHERE ro.[PublisherID] IN (132, 138)
		AND ro.[RedemptionOfferType] = 'Trade Up'
		AND ri.[Redeemed] = 1
		AND ri.[RedeemedDate] > DATEADD(MONTH, -4, GETDATE())
		GROUP BY	ro.[PublisherID]
				,	rp.[PartnerName]
				,	ro.[RedemptionOfferGUID]
				,	ro.[TradeUp_CashbackRequired]
				,	ro.[TradeUp_MarketingPercentage]
				,	ro.[Status]
				,	CONVERT(DATE, ri.[RedeemedDate])

		CREATE CLUSTERED INDEX [CIX_RedeemedDate] ON #DailyRedemptions ([RedeemedDate])
		CREATE NONCLUSTERED INDEX [IX_Redeemed_Offer] ON #DailyRedemptions ([RedeemedDate]) INCLUDE ([RedemptionOfferGUID], [RedemptionItems], [PartnerName])

		DROP TABLE IF EXISTS #WeeklyRedemptionCounts_Dates
		SELECT	DISTINCT
				cal.[WeekStartDate]
			,	[WeekNumber] = DENSE_RANK() OVER (ORDER BY [WeekStartDate] DESC)
			,	[DateRange] = CONVERT(VARCHAR(15), cal.[WeekStartDate], 0) + ' - ' + CONVERT(VARCHAR(15), cal.[WeekEndDate], 0)
		INTO #WeeklyRedemptionCounts_Dates
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[WeekEndDate] >= DATEADD(MONTH, -3, GETDATE())
		AND cal.[WeekStartDate] <= GETDATE()

		DELETE
		FROM #WeeklyRedemptionCounts_Dates
		WHERE [WeekNumber] > 8

		UPDATE #WeeklyRedemptionCounts_Dates SET [DateRange] = RIGHT('00' + CONVERT(VARCHAR(2), [WeekNumber]), 2) + '. ' + [DateRange]

		DROP TABLE IF EXISTS #WeeklyRedemptionCounts
		SELECT	rd.[RedemptionOfferGUID]
			,	cal.[WeekStartDate]
			,	wrc.[WeekNumber]
			,	wrc.[DateRange]
			,	[RedemptionItems] = SUM([RedemptionItems])
		INTO #WeeklyRedemptionCounts
		FROM #DailyRedemptions rd
		INNER JOIN [WH_AllPublishers].[Derived].[Calendar] cal
			ON rd.[RedeemedDate] = cal.[CalendarDate]
		INNER JOIN #WeeklyRedemptionCounts_Dates wrc
			ON cal.[WeekStartDate] = wrc.[WeekStartDate]
		WHERE cal.[WeekEndDate] > DATEADD(MONTH, -3, GETDATE())
		GROUP BY	rd.[RedemptionOfferGUID]
				,	cal.[WeekStartDate]
				,	cal.[WeekEndDate]
				,	wrc.[WeekNumber]
				,	wrc.[DateRange]

		INSERT INTO #WeeklyRedemptionCounts
		SELECT	wrc.[RedemptionOfferGUID]
			,	dr.[WeekStartDate]
			,	dr.[WeekNumber]
			,	dr.[DateRange]
			,	[RedemptionItems] = 0
		FROM #WeeklyRedemptionCounts wrc
		CROSS JOIN (SELECT	DISTINCT
							[WeekStartDate]
						,	[WeekNumber]
						,	[DateRange]
					FROM #WeeklyRedemptionCounts_Dates) dr
		WHERE NOT EXISTS (	SELECT 1
							FROM #WeeklyRedemptionCounts wrc2
							WHERE wrc.[RedemptionOfferGUID] = wrc2.[RedemptionOfferGUID]
							AND dr.[WeekStartDate] = wrc2.[WeekStartDate])

		CREATE CLUSTERED INDEX [CIX_WeekStartDate] ON #WeeklyRedemptionCounts ([WeekStartDate] DESC)

		DECLARE @Columns AS NVARCHAR(MAX)
			,	@Columns_VAR AS NVARCHAR(MAX)
			,	@Query AS NVARCHAR(MAX);

		SELECT @Columns = STUFF((	SELECT	DISTINCT
											',' + QUOTENAME([DateRange])
									FROM #WeeklyRedemptionCounts
									ORDER BY ',' + QUOTENAME([DateRange])
									FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1,'');

		SELECT @Columns_VAR = STUFF((	SELECT	DISTINCT
												',' + QUOTENAME([DateRange]) + ' = CONVERT(VARCHAR(255), ' + QUOTENAME([DateRange]) + ')'
										FROM #WeeklyRedemptionCounts
										ORDER BY ',' + QUOTENAME([DateRange]) + ' = CONVERT(VARCHAR(255), ' + QUOTENAME([DateRange]) + ')'
										FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1,'');

		SET @query = '	DROP TABLE IF EXISTS ##WeeklyRedemptionCounts_RedemptionStock
						SELECT	[RedemptionOfferGUID_Join] = [RedemptionOfferGUID]
							,	' + @Columns_VAR + '
						INTO ##WeeklyRedemptionCounts_RedemptionStock
						FROM (	SELECT	[RedemptionOfferGUID]
									,	[DateRange]
									,	[RedemptionItems]
								FROM #WeeklyRedemptionCounts) AS SourceTable
						PIVOT (	MAX([RedemptionItems])
								FOR [DateRange] IN (' + @Columns + ')) AS PivotTable';

		-- Step 3: Execute the dynamic query
		EXEC sp_executesql @query;

		DROP TABLE IF EXISTS #Weeks
		SELECT	[RedeemedDate] = MAX([RedeemedDate])
			,	[RedeemedWeek] = 1
		INTO #Weeks
		FROM #DailyRedemptions

		WHILE (SELECT COUNT(*) FROM #Weeks) < 28
			BEGIN

				DECLARE @Count INT = (SELECT COUNT(*) FROM #Weeks)
				DECLARE @WeekNumber INT

				SELECT	@WeekNumber =	CASE
											WHEN @Count < 7 THEN 1
											WHEN @Count < 14 THEN 2
											WHEN @Count < 21 THEN 3
											ELSE 4
										END

				INSERT INTO #Weeks
				SELECT	[RedeemedDate] = DATEADD(DAY, -1, MIN([RedeemedDate]))
					,	[RedeemedWeek] = @WeekNumber
				FROM #Weeks
			END

		DROP TABLE IF EXISTS #Daily_Last4Weeks
		SELECT	[RedemptionOfferGUID]
			,	[AverageRedemptions] = AVG([RedemptionItems])
			,	[MinRedemptions] = MIN([RedemptionItems])
			,	[MaxRedemptions] = MAX([RedemptionItems])
		INTO #Daily_Last4Weeks
		FROM #DailyRedemptions
		WHERE [RedeemedDate] > DATEADD(WEEK, -4, GETDATE())
		GROUP BY [RedemptionOfferGUID]

		DROP TABLE IF EXISTS #Weekly_Last4Weeks
		SELECT	wr.[RedemptionOfferGUID]
			,	[AverageRedemptions] = AVG(wr.[RedemptionItems])
			,	[MinRedemptions] = MIN(wr.[RedemptionItems])
			,	[MaxRedemptions] = MAX(wr.[RedemptionItems])
		INTO #Weekly_Last4Weeks
		FROM (	SELECT	dr.[PartnerName]
					,	dr.[RedemptionOfferGUID]
					,	w.[RedeemedWeek]
					,	[RedemptionItems] = SUM([RedemptionItems])
				FROM #DailyRedemptions dr
				INNER JOIN #Weeks w
					ON dr.[RedeemedDate] = w.[RedeemedDate]
				GROUP BY	dr.[PartnerName]
						,	dr.[RedemptionOfferGUID]
						,	w.[RedeemedWeek]) wr
		GROUP BY wr.[RedemptionOfferGUID]

		DROP TABLE IF EXISTS #Monthly_Last3Months
		SELECT	wr.[RedemptionOfferGUID]
			,	[AverageRedemptions] = AVG(wr.[RedemptionItems])
			,	[MinRedemptions] = MIN(wr.[RedemptionItems])
			,	[MaxRedemptions] = MAX(wr.[RedemptionItems])
		INTO #Monthly_Last3Months
		FROM (	SELECT	dr.[RedemptionOfferGUID]
					,	[RedeemedMonth] = EOMONTH(dr.[RedeemedDate])
					,	[RedemptionItems] = SUM([RedemptionItems])
				FROM #DailyRedemptions dr
				WHERE dr.[RedeemedDate] >= '2024-09-01'
				GROUP BY	dr.[RedemptionOfferGUID]
						,	EOMONTH(dr.[RedeemedDate])) wr
		WHERE [RedeemedMonth] != EOMONTH(GETDATE())
		GROUP BY wr.[RedemptionOfferGUID]

		DROP TABLE IF EXISTS #RedemptionStockLevels
		SELECT	rp.[PartnerName]
			,	ro.[RedemptionOfferGUID]
			,	[OfferName] =	CASE
									WHEN ro.[RedemptionOfferGUID] IN ('A978CB2C-3815-4E45-9B6E-AE05C361B77C', 'B21D4926-A123-4C04-90DD-F0AA8F68A798') THEN 'Exchange £' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' cashback for a £6 Caffè Nero eGift card'
									WHEN ro.[RedemptionOfferGUID] IN ('5B1D8B5D-0C71-42E4-A253-D1E048193031', '033324C0-D7A0-47AA-81ED-829FC6645F41') THEN 'Exchange £' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' cashback for a £10 Caffè Nero eGift card'
									WHEN ro.[RedemptionOfferGUID] IN ('045AE258-0288-4430-8529-8CDEF962E70D', 'D7A0CFF9-CCCE-4F98-8A13-A930F024EE14') THEN 'Exchange £' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' cashback for a £20 Caffè Nero eGift card'
									WHEN ro.[TradeUp_MarketingPercentage] > 0 THEN '£' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' ' + rp.[PartnerName] + ' Gift Card + ' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_MarketingPercentage])) + '% back in Rewards'
									ELSE '£' + CONVERT(VARCHAR(10), CONVERT(DECIMAL(19, 2), ro.[TradeUp_CashbackRequired])) + ' ' + rp.[PartnerName] + ' Gift Card'
								END
			,	ro.[Status]
			,	ro.[PublisherID]
			,	[RedemptionItemsTotal] = COUNT(*)
			,	[Redeemed] = SUM(CONVERT(INT, ri.[Redeemed]))
			,	[RemainingStock] = COUNT(*) - SUM(CONVERT(INT, ri.[Redeemed]))
			,	[DailyAverage] = COALESCE(da.[AverageRedemptions], 0)
			,	[WeeklyAverage] = COALESCE(wa.[AverageRedemptions], 0)
			,	[MonthlyAverage] = COALESCE(ma.[AverageRedemptions], 0)
			,	[ForecastRemainingWeeks] =	CASE
												WHEN COALESCE(wa.[AverageRedemptions], 0) = 0 THEN 4
												ELSE CONVERT(DECIMAL(16, 2), ((COUNT(*) - SUM(CONVERT(INT, ri.[Redeemed]))) * 1.00) / COALESCE(wa.[AverageRedemptions], 0))
											END
		INTO #RedemptionStockLevels
		FROM [Derived].[RedemptionItems] ri
		INNER JOIN [Derived].[RedemptionOffers] ro
			ON ri.[RedemptionOfferGUID] = ro.[RedemptionOfferGUID]
		LEFT JOIN [WH_NWG].[Derived].[RedemptionPartners] rp
			ON ro.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
		LEFT JOIN #Daily_Last4Weeks da
			ON ri.[RedemptionOfferGUID] = da.[RedemptionOfferGUID]
		LEFT JOIN #Weekly_Last4Weeks wa
			ON ri.[RedemptionOfferGUID] = wa.[RedemptionOfferGUID]
		LEFT JOIN #Monthly_Last3Months ma
			ON ri.[RedemptionOfferGUID] = ma.[RedemptionOfferGUID]
		WHERE ro.[PublisherID] IN (132, 138)
		AND ro.[RedemptionOfferType] = 'Trade Up'
		AND (	ri.[Expiry] > GETDATE()
			OR	ri.[Expiry] IS NULL)
		AND NOT EXISTS (SELECT 1
						FROM [WHB].[Inbound_RedemptionItems_ToExclude] rie
						WHERE ri.[RedemptionItemID] = rie.[RedemptionItemID]
						AND ri.[RedemptionOfferGUID] = rie.[RedemptionOfferGUID])
		GROUP BY	ro.[PublisherID]
				,	rp.[PartnerName]
				,	ro.[RedemptionOfferGUID]
				,	ro.[TradeUp_CashbackRequired]
				,	ro.[TradeUp_MarketingPercentage]
				,	ro.[Status]
				,	COALESCE(da.[AverageRedemptions], 0)
				,	COALESCE(wa.[AverageRedemptions], 0)
				,	COALESCE(ma.[AverageRedemptions], 0)
		ORDER BY	rp.[PartnerName]
				,	[OfferName]
				,	ro.[TradeUp_CashbackRequired]
				,	ro.[TradeUp_MarketingPercentage]
				,	ro.[PublisherID]
				,	ro.[RedemptionOfferGUID]
	
		DROP TABLE IF EXISTS ##RedemptionStockLevels_Output
		SELECT	[Partner Name] = CONVERT(VARCHAR(255), rsl.[PartnerName])
			,	[Redemption Offer GUID] = CONVERT(VARCHAR(255), rsl.[RedemptionOfferGUID])
			,	[Offer Name] = CONVERT(VARCHAR(255), rsl.[OfferName])
			,	[Status] = CONVERT(VARCHAR(255), rsl.[Status])
			,	[Publisher Name] = CONVERT(VARCHAR(255), pu.[PublisherName])
			,	[Redemption Items Total] = CONVERT(VARCHAR(255), rsl.[RedemptionItemsTotal])
			,	[Redeemed] = CONVERT(VARCHAR(255), rsl.[Redeemed])
			,	[Remaining Stock] = CONVERT(VARCHAR(255), rsl.[RemainingStock])
			,	[Daily Average] = CONVERT(VARCHAR(255), rsl.[DailyAverage])
			,	[Weekly Average] = CONVERT(VARCHAR(255), rsl.[WeeklyAverage])
			,	[Monthly Average] = CONVERT(VARCHAR(255), rsl.[MonthlyAverage])
			,	[Forecast Remaining Weeks] = CONVERT(VARCHAR(255), rsl.[ForecastRemainingWeeks])
			,	wrc.*
		INTO ##RedemptionStockLevels_Output
		FROM #RedemptionStockLevels rsl
		INNER JOIN [WH_AllPublishers].[Derived].[Publisher] pu
			ON rsl.[PublisherID] = pu.[PublisherID]
		LEFT JOIN ##WeeklyRedemptionCounts_RedemptionStock wrc
			ON rsl.[RedemptionOfferGUID] = wrc.[RedemptionOfferGUID_Join]

		ALTER TABLE ##RedemptionStockLevels_Output DROP COLUMN [RedemptionOfferGUID_Join]

		CREATE CLUSTERED INDEX [CIX_Sort] ON ##RedemptionStockLevels_Output ([Partner Name], [Offer Name], [Publisher Name], [Redemption Offer GUID])
		
		DROP TABLE IF EXISTS ##OutputColumnNames
		CREATE TABLE ##OutputColumnNames (	[ColumnName] VARCHAR(50)
										,	[ColumnID] INT)
		INSERT INTO ##OutputColumnNames (	[ColumnName]
										,	[ColumnID])
		SELECT	[ColumnName] = c.[name]
			,	[ColumnID] = c.[column_id]
		FROM [tempdb].[sys].[columns] c
		INNER JOIN tempdb.[sys].[objects] o
			ON c.[object_id] = o.[object_id]
		WHERE o.[name] LIKE '##RedemptionStockLevels_Output%' -- Include '%' to handle the unique name SQL Server assigns to temp tables

	/***********************************************************************************************************************
            1. Set email variables
    ***********************************************************************************************************************/

            DECLARE @Style VARCHAR(MAX)
                ,   @Message VARCHAR(MAX)
                ,   @Body VARCHAR(MAX)
                ,   @Regards VARCHAR(MAX)

				,	@ExcelQuery VARCHAR(MAX)
				,	@ExcelFileName VARCHAR(MAX)

			DECLARE	@EmailSubject VARCHAR(MAX) = 'Redemption Stock Levels - NWG'

	/***********************************************************************************************************************
            2. Set email HTML style
	***********************************************************************************************************************/

            SET @Style =
            '<style>
                table {border-collapse: collapse;}
                p {font-family: Calibri;}
    
                th {padding: 10px;}
    
                table, td {padding: 0 10 0 10;}
    
                table, td, th {border: 1px solid black;
                                font-family: Calibri;}
            </style>'

	/***********************************************************************************************************************
            3. Set opening message, list of data pints validated and sign offer
    ***********************************************************************************************************************/

            -- Bullet point messages, appears after @CustomersToExclude
            SET @Message = 'Hi,<br><br>Please find attched the latest Redemption Stock levels for NWG.<br><br>'
            SET @Regards = 'Regards,<br> Data Engineering'

    /*******************************************************************************************************************************************
        4. Fetch data to display in the email and then reformat them to be shown in an actual table structure
    *******************************************************************************************************************************************/

		SET @ExcelFileName = 'Redemption Stock Levels - NWG.csv'

		DECLARE @ColumnName1 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 1)
		DECLARE @ColumnName2 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 2)
		DECLARE @ColumnName3 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 3)
		DECLARE @ColumnName4 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 4)
		DECLARE @ColumnName5 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 5)
		DECLARE @ColumnName6 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 6)
		DECLARE @ColumnName7 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 7)
		DECLARE @ColumnName8 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 8)
		DECLARE @ColumnName9 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 9)
		DECLARE @ColumnName10 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 10)
		DECLARE @ColumnName11 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 11)
		DECLARE @ColumnName12 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 12)
		DECLARE @ColumnName14 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 14)
		DECLARE @ColumnName15 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 15)
		DECLARE @ColumnName16 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 16)
		DECLARE @ColumnName17 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 17)
		DECLARE @ColumnName18 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 18)
		DECLARE @ColumnName19 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 19)
		DECLARE @ColumnName20 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 20)
		DECLARE @ColumnName21 VARCHAR(MAX) = (SELECT [ColumnName] FROM ##OutputColumnNames WHERE [ColumnID] = 21)

		SET @ExcelQuery = '
				SET NOCOUNT ON;

				SELECT ''sep=;' + Char(13) + Char(10) + 
						'' + @ColumnName1 + '''
					,	''' + @ColumnName2 + '''
					,	''' + @ColumnName3 + '''
					,	''' + @ColumnName4 + '''
					,	''' + @ColumnName5 + '''
					,	''' + @ColumnName6 + '''
					,	''' + @ColumnName7 + '''
					,	''' + @ColumnName8 + '''
					,	''' + @ColumnName9 + '''
					,	''' + @ColumnName10 + '''
					,	''' + @ColumnName11 + '''
					,	''' + @ColumnName12 + '''
					,	''' + @ColumnName14 + '''
					,	''' + @ColumnName15 + '''
					,	''' + @ColumnName16 + '''
					,	''' + @ColumnName17 + '''
					,	''' + @ColumnName18 + '''
					,	''' + @ColumnName19 + '''
					,	''' + @ColumnName20 + '''
					,	''' + @ColumnName21 + '''

				UNION ALL

				SELECT	*
				FROM ##RedemptionStockLevels_Output'
				
    /*******************************************************************************************************************************************
        5. Combine variables to form email body
    *******************************************************************************************************************************************/

        Set @Body = @Style + @Message + @Regards + '<br><br>'

    /*******************************************************************************************************************************************
        7. Send email
    *******************************************************************************************************************************************/

        EXEC [msdb].[dbo].[sp_send_dbmail]	@profile_name = 'Administrator'
										,	@recipients = 'Accounts <accounts@rewardinsight.com>; DIProcessCheckers <diprocesscheckers@rewardinsight.com>; Operations <Operations@rewardinsight.com>'
										,	@subject = @EmailSubject										
										,	@execute_query_database = 'WH_NWG'
										,	@query = @ExcelQuery
										,	@attach_query_result_as_file = 1
										,	@query_attachment_filename = @ExcelFileName
										,	@query_result_separator=';'
										,	@query_result_no_padding=1
										,	@query_result_header=0
										,	@query_result_width=32767
										,	@body= @body
										,	@body_format = 'HTML'
										,	@importance = 'NORMAL'

END
GO
