USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_KPI]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_KPI]
as begin

-- **KPI data
		select   
		case when ClubID = 132 then 'NWB' else 'RBS' end as Brand, 
		a.[Date],
		b.[Ranked], 
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end as CurrentAccount, 
		accountsegmentation,
		a.NomineeStatus, 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end as [Current Account Type], 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product], 
		case when Marketable = 1 then 'Yes' else 'No' end as MarketableOptIn, 
		case when Registered = 1 then 'Yes' else 'No' end as Registered, 
		sum(registered) as RegisteredCustomers, 
		SUM(Marketable) as [Opted in],
		SUM([Opened]) as  [Opened], 	
		SUM(cashtoaccountvalue) as  [Cash to Account Value], 
		SUM(cashtoSavingsaccountvalue) as  [Cash to Savings Account Value], 
		SUM(cashtocardvalue) as  [Cash to Credit Card Value], 
		SUM(CharityRedemptionsValue) as  [Charity Value],
		SUM(acccloseValue) as [Account Closure Value],
		SUM(TradeUpRedemptionsValue) as [TradeUp Value],
		SUM(redemptions) as [Total Redemption Volume],
		sum(RedemptionsValue) as [Total Redemption Value],
		sum(Redemptionscustomerflag) as [Total Redemption Customer],
		sum(yearredemptions) as [Redemption in Last Year],
		SUM(TotalWebLogins) as  [Total Web Logins], 
		SUM(TotalMobileAppLogins) as  [Total MobileApp Logins],
		SUM(TotalLogins) as  [Total Overall Logins],
		SUM(WebLogins) as  [Unique Customer Web Logins], 
		SUM(MobileAppLogins) as  [Unique Customer MobileApp Logins],
		SUM(Logins) as  [Unique Customer Overall Logins],
		sum(yearlogin) as [Login in Last Year],
	  	SUM([Direct Debit (Reward 3.0)]) as  [Direct Debit (Reward 3.0)], 
		SUM([Direct Debit (Reward 3.0) Ind]) as  [Direct Debit (Reward 3.0) Ind],
		SUM([Mobile Login (Reward 3.0)]) as  [Mobile Login (Reward 3.0)],
		SUM([Mobile Login (Reward 3.0) Ind]) as  [Mobile Login (Reward 3.0) Ind], 
		SUM([Direct Debit (Household 2%)]) as [Direct Debit (Household 2%)], 
		SUM([Credit Card Transaction - Supermarket]) as  [Credit Card Transaction - Supermarket],
		SUM([Credit Card Transaction - Supermarket Ind]) as [Credit Card Transaction - Supermarket Ind],
		SUM([Credit Card Transaction - Other]) as  [Credit Card Transaction - Other],
		SUM([Credit Card Transaction - Other Ind]) as [Credit Card Transaction - Other Ind],		
		SUM([Travel Credit Card Transaction - Travel]) as  [Travel Credit Card Transaction - Travel],
		SUM([Travel Credit Card Transaction - Travel Ind]) as [Travel Credit Card Transaction - Travel Ind],		
		SUM([Travel Credit Card Transaction - Non Travel]) as  [Travel Credit Card Transaction - Non Travel],
		SUM([Travel Credit Card Transaction - Non Travel Ind]) as [Travel Credit Card Transaction - Non Travel Ind],
		SUM([RetailEarnings]) as  [RetailEarnings],
		SUM(retailearner) as retailearner,
		SUM([Breakage]) as  [Breakage],
		SUM([Earnings on Redemptions]) as  [Earnings on Redemptions],
		SUM(clubcashavailable) as  [Club Cash Available], 
		SUM(clubcashpending) as  [Club Cash Pending],
		case when (datediff(m, RecentLogin, a.[Date])) > 6 then '6+ months'
		when (datediff(m, RecentLogin, a.[Date])) = 0 then 'never'
		else 'Under 6' end as 'Months since login',
		COUNT(*) as [Customer Volume]
		from [Report].NW_kpidashboardrawdata as a
		left join [Report].NW_MonthEnds as b
			on a.[Date] = b.[Date]
		group by case when ClubID = 132 then 'NWB' else 'RBS' end, 
		a.[Date],
		b.[Ranked], 
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end, 
		accountsegmentation, 
		NomineeStatus, 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end,
		case when creditcardname IS NULL then 'N/A' else creditcardname end, 
		case when Marketable = 1 then 'Yes' else 'No' end, 
		case when Registered = 1 then 'Yes' else 'No' end,
		case when (datediff(m, RecentLogin, a.[Date])) > 6 then '6+ months'
		when (datediff(m, RecentLogin, a.[Date])) = 0 then 'never'
		else 'Under 6' end
		

END;
GO
