USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Marketing]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_Marketing]
as begin

	   select a.fanid, 
	   a.[Date],
	   a.NomineeStatus,
	   max(CASE WHEN MarketableByEmailType = 'Not Emailable' THEN 3 ELSE 2 END) as MarketableID
 from [Report].NW_kpidashboardrawdata as a
 inner join (select * from [Derived].[Customer_MarketableByEmailStatus_Type] where MarketableByEmailType in ('Service Emails Only', 'Not Emailable')) as b
	on A.[CustomerGUID] = B.[CustomerGUID]
	and a.Datestart <= b.StartDate
	and a.[Date] >= StartDate
group by a.fanid, 
		a.[Date],
		a.nomineestatus


END;
GO
