USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[SSRS_OPE_Creation]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Report].[SSRS_OPE_Creation] (@EmailDate DATE
                                                   , @ForcedInOfferIDs VARCHAR(100) = NULL) 

AS 
BEGIN

   --   DECLARE @EmailDate DATE = '2024-09-05'
   --       ,   @ForcedInOfferIDs VARCHAR(100) = NULL

    /*******************************************************************************************************************************************
        1. Fetch retailers to be excluded from the Newsletter
    *******************************************************************************************************************************************/

        IF OBJECT_ID('tempdb..#PartnersToExclude') IS NOT NULL DROP TABLE #PartnersToExclude
        SELECT  pa.PartnerID
            ,   pa.PartnerName
        INTO #PartnersToExclude
        FROM [Derived].[Partner] pa
        INNER JOIN [Email].[OPE_PartnerExclusions] pe
            ON pa.PartnerID = pe.PartnerID
            AND @EmailDate BETWEEN pe.StartDate AND COALESCE(pe.EndDate, '9999-12-31')

        CREATE CLUSTERED INDEX CIX_PartnerID ON #PartnersToExclude (PartnerID)

    /*******************************************************************************************************************************************
        2. Find the top cashback rate per offer
    *******************************************************************************************************************************************/

        IF OBJECT_ID('tempdb..#TopCashbackRate') IS NOT NULL DROP TABLE #TopCashbackRate
        SELECT  IronOfferID
            ,   MAX(CommissionRate) AS TCBR
        INTO #TopCashbackRate
        FROM [Derived].[IronOffer_PartnerCommissionRule]
        WHERE Status = 1
        AND TypeID = 1
        GROUP BY IronOfferID    

    /*******************************************************************************************************************************************
        3. Find all live offers
    *******************************************************************************************************************************************/

        IF OBJECT_ID('tempdb..#LiveOffers') IS NOT NULL DROP TABLE  #LiveOffers
        SELECT  DISTINCT
                iof.IronOfferID
            ,   CASE
                    WHEN iof.IronOfferName LIKE '%-%' AND iof.IronOfferID != 19887 AND iof.IronOfferName NOT LIKE '%-[0-9]%' THEN REPLACE(iof.IronOfferName, '-', '/')
                    ELSE iof.IronOfferName
                END AS [IronOfferName]
            ,   iof.[StartDate]
            ,   iof.[EndDate]
            ,   iof.[PartnerID]
            ,   COALESCE(tcb.TCBR, 0) AS [TopCashBackRate]
            ,   0 AS IsBaseOffer
            ,   CASE
                    WHEN @ForcedInOfferIDs LIKE '%' + CONVERT(VARCHAR(10), iof.IronOfferID) + '%' THEN 1
                    ELSE 0
                END AS IsForcedInOfferIDs
        INTO #LiveOffers
        FROM [Derived].[IronOffer] iof
        LEFT JOIN #TopCashbackRate tcb
            ON iof.IronOfferID = tcb.IronOfferID
        WHERE iof.ClubID IN (132, 138)
        AND (iof.[EndDate] > @EmailDate OR iof.[EndDate] IS NULL) 
        AND iof.[StartDate] <= @EmailDate
        AND iof.IronOfferName <> 'suppressed'
        AND iof.IronOfferName NOT LIKE 'Spare%'
        AND iof.IronOfferName != 'above the line collateral'
        AND iof.IronOfferName != 'default collateral'
        AND iof.IronOfferName != 'Above The Line'
        AND iof.IronOfferName != 'Above The Line Offer'
        AND iof.IronOfferName != 'Default'
        AND iof.IronOfferName != 'Default Offer '
        AND NOT EXISTS (SELECT 1
                        FROM #PartnersToExclude pte
                        WHERE iof.[PartnerID] = pte.PartnerID)
        AND iof.IronOfferID NOT IN (315,371,372,373,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,515,528,539,554,564,575,584,586,589,590,594,610,614,615,799,800,801,802,803,1117,1590,1746,1748,1756,1758,1760,1761,1764,1768,1772,1776,1778,1782,1786,1788,1790,1791,1793,1847,6872,6876,9608,9609,9702,11645,11646,18287,18288,18289,18290,18291,18292,18293,18294,18295,18296,18297,18298,18299,18300)
		AND NOT (iof.IsSignedOff = 0 AND iof.[StartDate] < @EmailDate)
    

    /*******************************************************************************************************************************************
        4.  Rank Offers for newsletter
    *******************************************************************************************************************************************/
    
        /***************************************************************************************************************************************
            4.1.    Add additional flags to assist ranking
        ***************************************************************************************************************************************/

            IF OBJECT_ID('tempdb..#OfferPrePriority') IS NOT NULL DROP TABLE #OfferPrePriority;
            WITH
            MinStartDate AS (   SELECT  [PartnerID]
                                    ,   MIN(StartDate) as MinStartDate
                                FROM [Derived].[IronOffer]
                                GROUP BY [PartnerID])

            SELECT  lo.*
                ,   CASE
                        WHEN lo.IronOfferName LIKE '%welcome%' OR lo.IronOfferName LIKE '%Birthday%' OR lo.IronOfferName LIKE '%Homemover%' THEN 1
                        ELSE 0
                    END AS 'IsWel/Home/BirthOffer'
                ,   CASE
                        WHEN lo.PartnerID IN (4263, 4265, 4743) THEN 1
                        ELSE 0
                    END AS 'IsPlatinumRetailers'
                ,   CASE
                        WHEN MSD.PartnerID IS NOT NULL THEN 1
                        ELSE 0
                    end AS 'IsRetailerLaunch'
                ,   CASE
                        WHEN lo.StartDate = @EmailDate THEN 1
                        ELSE 0
                    END AS 'IsNewOffer'
            INTO #OfferPrePriority
            FROM #LiveOffers lo
            LEFT JOIN MinStartDate msd
                ON lo.PartnerID = msd.PartnerID
                AND msd.MinStartDate = @EmailDate
    
        /***************************************************************************************************************************************
            4.2.    Rank all offers
        ***************************************************************************************************************************************/

            IF OBJECT_ID('tempdb..#OfferPostPriority') IS NOT NULL DROP TABLE #OfferPostPriority
            SELECT  [PartnerName]
                ,   [AccountManager]
                ,   [IronOfferID]   
                ,   [IronOfferName]     
                ,   [TopCashBackRate]
                ,   CONVERT(DATE, [EndDate]) as 'EndDate'
                ,   CONVERT(DATE, [StartDate]) as 'StartDate'
                ,   [IsNewOffer]
                ,   CASE
                        WHEN IsBaseOffer = 1 THEN 'Core Base'
                        ELSE ''
                    END AS BaseOffer
                ,   ROW_NUMBER() OVER (ORDER BY [IsForcedInOfferIds] DESC,[IsBaseOffer],[IsRetailerLaunch] DESC,[IsPlatinumRetailers] DESC,[IsWel/Home/BirthOffer] DESC,[topcashbackrate] DESC, [startdate]) AS 'Rank'
            INTO #OfferPostPriority
            FROM #OfferPrePriority OP
            INNER JOIN [Derived].[Partner] P
                ON OP.PartnerID = P.PartnerID
    

    /*******************************************************************************************************************************************
        5.  Split IronOfferName into it's seperate parts
    *******************************************************************************************************************************************/

        IF OBJECT_ID('tempdb..#NameSplit') IS NOT NULL DROP TABLE #NameSplit
        SELECT *
        INTO #NameSplit
        FROM (  SELECT  [PartnerName]
                    ,   [AccountManager]
                    ,   [Item]
                    ,   [IronOfferID]   
                    ,   [TopCashBackRate]
                    ,   [StartDate]
                    ,   [EndDate]
                    ,   [IsNewOffer]
                    ,   [BaseOffer]
                    ,   [IronOfferName]       
                    ,   [Rank]
                    ,   RANK() OVER (PARTITION BY [IronOfferID] ORDER BY ItemNumber DESC) AS ItemNumberRev
                    ,   COUNT(*) OVER (PARTITION BY [IronOfferID]) AS NameSplits
                    ,   CASE
                            WHEN Item LIKE '[A-Z][A-Z]%[0-9][0-9][0-9]' THEN 1
                            ELSE 0
                        END AS IsClientServiceRef
                FROM #OfferPostPriority
                CROSS APPLY [Warehouse].[dbo].[il_SplitDelimitedStringArray] ((IronOfferName), '/')) a
    

    /*******************************************************************************************************************************************
        6.  Output for Report
    *******************************************************************************************************************************************/

        SELECT  [PartnerName]
            ,   [AccountManager]
            ,   Coalesce(Max(ClientServicesRef), '') AS ClientServicesRef
            ,   Coalesce(Max(CampaignType), '') AS CampaignType
            ,   Coalesce(Max(OfferName), '') AS OfferName
            ,   [IronOfferID]   
            ,   [TopCashBackRate]
            ,   [BaseOffer]
            ,   [EndDate]
            ,   [IsNewOffer]      
            ,   [Rank]
        FROM (  SELECT  [PartnerName]
                    ,   [AccountManager]
                    ,   CASE
                            WHEN IsClientServiceRef = 1 THEN Item
                            ELSE ''
                        END AS ClientServicesRef
                    ,   CASE
                            WHEN StartDate > '2019-06-10' AND NameSplits > 2 AND ItemNumberRev = 2 THEN Item
                            WHEN StartDate < '2019-06-10' AND NameSplits > 4 AND ItemNumberRev = 2 THEN Item
                            ELSE ''
                        END AS CampaignType
                    ,   CASE
                            WHEN ItemNumberRev = 1 THEN Item
                            ELSE ''
                        END AS OfferName
                    ,   [IronOfferID]   
                    ,   [TopCashBackRate]
                    ,   [EndDate]
                    ,   [IsNewOffer]
                    ,   [BaseOffer]
                    ,   [IronOfferName]       
                    ,   [Rank]
                FROM #NameSplit) opp
        GROUP BY    [PartnerName]
                ,   [AccountManager]
                ,   [IronOfferID]
                ,   [IronOfferName]
                ,   [TopCashBackRate]
                ,   [EndDate]
                ,   [IsNewOffer]
                ,   [BaseOffer]
                ,   [Rank]
        ORDER BY [Rank]

END




GO
