USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Balance]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_Balance]
as begin

--Balance Data
select
	case when ClubID = 132 then 'NWB' else 'RBS' end as Brand, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end as CurrentAccount, 
		NomineeStatus, 
		accountsegmentation as [Account Segmentation], 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product], 
		case when currentaccounttype IS NULL then 'N/A' 
			 when len(currentaccounttype) = 3 then left(currentaccounttype, 2) else currentaccounttype end as [Current Account Type],
		case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
				when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end as AgeBanding,
				a.gender,
		case when Marketable = 1 then 'Yes' else 'No' end as MarketableOptIn, 
		case when Registered = 1 then 'Yes' else 'No' end as Registered, 
		CASE WHEN ClubCashAvailable <=0 then	'1. Zero Balance'
				WHEN ClubCashAvailable <10 then	'2. <£10 Balance'
				WHEN ClubCashAvailable <20 then	'3. <£20 Balance'
				WHEN ClubCashAvailable <50 then	'4. <£50 Balance'
				WHEN ClubCashAvailable <100 then	'5. <£100 Balance' 
				WHEN ClubCashAvailable <200 then	'6. <£200 Balance' 
				WHEN ClubCashAvailable <400 then	'7. <£400 Balance' 
				else '8. >=£400 Balance' end as [Available Balance Distribution],
		CASE WHEN ClubcashPending <=0 then	'1. Zero Balance'
				WHEN ClubcashPending <10 then	'2. <£10 Balance'
				WHEN ClubcashPending <20 then	'3. <£20 Balance'
				WHEN ClubcashPending <50 then	'4. <£50 Balance'
				WHEN ClubcashPending <100 then	'5. <£100 Balance' 
				WHEN ClubcashPending <200 then	'6. <£200 Balance' 
				WHEN ClubcashPending <400 then	'7. <£400 Balance' 
				else '8. >=£400 Balance' end as [Pending Balance Distribution],
		SUM(clubcashavailable) as  [Club Cash Available], 
		SUM(clubcashpending) as  [Club Cash Pending], 
		COUNT(*) as [Customer Volume]
from [Report].NW_kpidashboardrawdata as a 
group by 
case when ClubID = 132 then 'NWB' else 'RBS' end, 
	--	RANK() over (partition by [date] order by [Date] desc) as Ranked, 
		a.[Date],
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end, 
		accountsegmentation, 
		NomineeStatus, 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end, 
		case when currentaccounttype IS NULL then 'N/A' 
			 when len(currentaccounttype) = 3 then left(currentaccounttype, 2) else currentaccounttype end,
				case	when RevisedNumberOfYears  >=18 and RevisedNumberOfYears <=34 then '1. Under 35'
				when RevisedNumberOfYears  >=35 then '2. 35+' else '3. Unknown' end,
				a.gender,
		case when Marketable = 1 then 'Yes' else 'No' end, 
		case when Registered = 1 then 'Yes' else 'No' end,
		CASE WHEN ClubCashAvailable <=0 then	'1. Zero Balance'
				WHEN ClubCashAvailable <10 then	'2. <£10 Balance'
				WHEN ClubCashAvailable <20 then	'3. <£20 Balance'
				WHEN ClubCashAvailable <50 then	'4. <£50 Balance'
				WHEN ClubCashAvailable <100 then	'5. <£100 Balance' 
				WHEN ClubCashAvailable <200 then	'6. <£200 Balance' 
				WHEN ClubCashAvailable <400 then	'7. <£400 Balance' 
				else '8. >=£400 Balance' end,
		CASE WHEN ClubcashPending <=0 then	'1. Zero Balance'
				WHEN ClubcashPending <10 then	'2. <£10 Balance'
				WHEN ClubcashPending <20 then	'3. <£20 Balance'
				WHEN ClubcashPending <50 then	'4. <£50 Balance'
				WHEN ClubcashPending <100 then	'5. <£100 Balance' 
				WHEN ClubcashPending <200 then	'6. <£200 Balance' 
				WHEN ClubcashPending <400 then	'7. <£400 Balance' 
				else '8. >=£400 Balance' end


END;


GO
