USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Email_Engagement]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_Email_Engagement]
as begin

		--email engagement data
		select
		case when ClubID = 132 then 'NWB' else 'RBS' end as Brand, 
		a.[Date],
		a.nomineestatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end as CurrentAccount, 
		accountsegmentation as [Account Segmentation], 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end as [Credit Card Product], 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end as [Current Account Type],
		case when Marketable = 1 then 'Yes' else 'No' end as MarketableOptIn,  
		SUM(Marketable) as [Opted in],
		SUM([Opened]) as  [Opened], 
		COUNT(*) as [Customer Volume]
from [Report].Nw_kpidashboardrawdata as a
group by
				case when ClubID = 132 then 'NWB' else 'RBS' end, 
		a.[Date],
		NomineeStatus,
		case when CurrentAccount IS NULL and accountsegmentation = 'Credit Card Only' then 'Credit Card Only' else  CurrentAccount end, 
		accountsegmentation, 
		case when creditcardname IS NULL then 'N/A' else creditcardname  end, 
		case when currentaccounttype IS NULL then 'N/A' else currentaccounttype end,
		case when Marketable = 1 then 'Yes' else 'No' end 


END;
GO
