USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Report].[NW_MI_Data_Retail_Partner_Cashback]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[NW_MI_Data_Retail_Partner_Cashback]
AS
	BEGIN

		--	** Retailer partner cashback
			
			SELECT	[Brand] =	CASE
									WHEN [ClubID] = 132 THEN 'NWB'
									ELSE 'RBS'
								END 
				,	a.[Date]
				,	b.[NomineeStatus]
				,	[CurrentAccount] =	CASE
											WHEN [CurrentAccount] IS NULL AND [AccountSegmentation] = 'Credit Card Only' THEN 'Credit Card Only'
											ELSE [CurrentAccount]
										END
				,	[Account Segmentation] = [AccountSegmentation]
				,	[Credit Card Product] =	CASE
												WHEN [CreditCardName] IS NULL THEN 'N/A'
												ELSE [CreditCardName]
											END
				,	[Current Account Type] =	CASE
													WHEN [CurrentAccountType] IS NULL THEN 'N/A'
													ELSE [CurrentAccountType]
												END
				,	[PartnerName]
				,	[TransactionAmount] = SUM([TransactionAmount])
				,	[CashbackEarned] = SUM([CashbackEarned])
				,	[TransactionVol] = SUM([TransactionVolume])
				,	[CustomerVol] = COUNT(DISTINCT a.[FanID])
			FROM [Report].[partnertrans_NW_MI] a
			INNER JOIN [Report].[NW_KPIDashboardRawData] b
				ON A.[FanID] = b.[FanID]
				AND a.[Date] = b.[Date]
			GROUP BY	CASE
							WHEN [ClubID] = 132 THEN 'NWB'
							ELSE 'RBS'
						END 
					,	a.[Date]
					,	b.[NomineeStatus]
					,	CASE
							WHEN [CurrentAccount] IS NULL AND [AccountSegmentation] = 'Credit Card Only' THEN 'Credit Card Only'
							ELSE CurrentAccount
						END
					,	[AccountSegmentation]
					,	CASE
							WHEN [CreditCardName] IS NULL THEN 'N/A'
							ELSE [CreditCardName]
						END
					,	CASE
							WHEN [CurrentAccountType] IS NULL THEN 'N/A'
							ELSE [CurrentAccountType]
						END
					,	[PartnerName]


	END;

GO
