USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Segmentation].[Segmentation_CloseDeactivatedCustomers]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC [WHB].[CustomerSegmentation]
	Author: Rory Francis
	Date: January 2022
	Purpose: To Assign End Date to customers that have deactivated

*/
CREATE PROCEDURE [Segmentation].[Segmentation_CloseDeactivatedCustomers]
AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Extract Deactivated Customers
	*******************************************************************************************************************************************/
	
			DROP TABLE IF EXISTS #DeactivatedCustomers
			SELECT	[FanID]
			INTO #DeactivatedCustomers
			FROM [Derived].[Customer] cu
			WHERE cu.[CurrentlyActive] = 0

			CREATE CLUSTERED INDEX [CIX_FanID] ON #DeactivatedCustomers ([FanID])

	/*******************************************************************************************************************************************
		2.	Point Of Sale
	*******************************************************************************************************************************************/
	
		/***********************************************************************************************************************
			2.1.	Fetch Roc_Shopper_Segment_Members IDs of the null End Date rows of Deactivated customers
		***********************************************************************************************************************/
				
			DROP TABLE IF EXISTS #Updates_POS
			SELECT	sg.[ID]
				,	[RowNum] = ROW_NUMBER() OVER (ORDER BY sg.[ID])
			INTO #Updates_POS
			FROM (	SELECT	sg.[ID]
					FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
					WHERE sg.[EndDate] IS NULL
					AND EXISTS (SELECT 1
								FROM #DeactivatedCustomers dc
								WHERE sg.[FanID] = dc.[FanID])) sg
					
			CREATE CLUSTERED INDEX [CIX_ID] ON #Updates_POS ([RowNum])
				
			DROP TABLE IF EXISTS #Updates_POS_Updater
			SELECT	[ID] = CONVERT(INT, u.[ID])
			INTO #Updates_POS_Updater
			FROM #Updates_POS u
			WHERE 1 = 2
					
			CREATE CLUSTERED INDEX [CIX_ID] ON #Updates_POS_Updater ([ID])
				
			DROP TABLE IF EXISTS #Updates_POS_Updater_Log
			SELECT	[ID] = 0
			INTO #Updates_POS_Updater_Log
					
			CREATE CLUSTERED INDEX [CIX_ID] ON #Updates_POS_Updater_Log ([ID])
			
		/***********************************************************************************************************************
			2.2.	Update the End Date of the rows fetched above
		***********************************************************************************************************************/
				
			DECLARE @EndDate_POS DATE = GETDATE()
			DECLARE @ID INT = (SELECT MAX([ID]) FROM #Updates_POS_Updater_Log)
				,	@BatchSize INT = 130000
				,	@MaxID INT = (SELECT MAX([RowNum]) FROM #Updates_POS)

			WHILE @ID < @MaxID
				BEGIN
				
					TRUNCATE TABLE #Updates_POS_Updater
					INSERT INTO #Updates_POS_Updater
					SELECT	u.[ID]
					FROM #Updates_POS u
					WHERE u.[RowNum] >= @ID
					AND u.[RowNum] < @ID + @BatchSize

					;WITH
					Roc_Shopper_Segment_Members AS (SELECT	[EndDate]
													FROM [Segmentation].[Roc_Shopper_Segment_Members] sg WITH (NOLOCK)
													WHERE EXISTS (	SELECT 1
																	FROM #Updates_POS_Updater up
																	WHERE sg.[ID] = up.[ID]))

					UPDATE Roc_Shopper_Segment_Members
					SET [EndDate] = @EndDate_POS

					SET @ID = @ID + @BatchSize

					UPDATE #Updates_POS_Updater_Log SET [ID] = @ID

				END

	/*******************************************************************************************************************************************
		2.	Direct Debit
	*******************************************************************************************************************************************/
	
		/***********************************************************************************************************************
			2.1.	Fetch CustomerSegment_DD IDs of the null End Date rows of Deactivated customers
		***********************************************************************************************************************/
				
			DROP TABLE IF EXISTS #Updates_DD
			SELECT	sg.[ID]
			INTO #Updates_DD
			FROM [Segmentation].[CustomerSegment_DD] sg
			WHERE sg.[EndDate] IS NULL
			AND EXISTS (SELECT 1
						FROM #DeactivatedCustomers dc
						WHERE sg.[FanID] = dc.[FanID])
					
			CREATE CLUSTERED INDEX [CIX_ID] ON #Updates_DD ([ID])

		/***********************************************************************************************************************
			2.2.	Update the End Date of the rows fetched above
		***********************************************************************************************************************/
				
			DECLARE @EndDate_DD DATE = GETDATE()

			WHILE 1 = 1
				BEGIN

					;WITH
					Roc_Shopper_Segment_Members AS (SELECT	TOP 30000
															[EndDate]
													FROM [Segmentation].[CustomerSegment_DD] sg
													WHERE EXISTS (	SELECT 1
																	FROM #Updates_DD up
																	WHERE sg.[ID] = up.[ID])
													AND sg.[EndDate] IS NULL)

					UPDATE Roc_Shopper_Segment_Members
					SET [EndDate] = @EndDate_DD

					IF @@ROWCOUNT = 0 BREAK

				END

END
GO
