USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Segmentation].[StreamMembershipsToAWS_CheckMembershipLoad]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Segmentation].[StreamMembershipsToAWS_CheckMembershipLoad] @PublisherID INT

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Pull list of all offers for the selected publisher that need to be pushed to production
		*******************************************************************************************************************************************/
		
		--	DECLARE @PublisherID INT = 138

			DROP TABLE IF EXISTS #OfferProcessLog
			SELECT	opl.[IronOfferID]
				,	opl.[PublisherID]
				,	[ProcessedDate] = MAX(opl.[ProcessedDate])
			INTO #OfferProcessLog
			FROM [Segmentation].[OfferProcessLog] opl
			WHERE opl.[Processed] = 1
			AND opl.[PublisherID] = @PublisherID
			GROUP BY	opl.[IronOfferID]
					,	opl.[PublisherID]

		/*******************************************************************************************************************************************
			2.	Pull list of all customers for the selected publisher
		*******************************************************************************************************************************************/
		
		--	DECLARE @PublisherID INT = 138

			DROP TABLE IF EXISTS #Customer
			SELECT	DISTINCT
					cu.[CompositeID]
			INTO #Customer
			FROM [Derived].[Customer] cu
			WHERE cu.[ClubID] = @PublisherID

			CREATE CLUSTERED INDEX [CIX_CustomerID] ON #Customer ([CompositeID])
		
		/*******************************************************************************************************************************************
			3.	Fetch aggregated list of offer memberships
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #OfferMemberAddition
			SELECT	oma.[IronOfferID]
				,	oma.[StartDate]
				,	oma.[EndDate]
				,	oma.[AddedDate]
				,	[Memberships] = COUNT(*)
				,	[PushedToProduction] = 0
			INTO #OfferMemberAddition
			FROM [Segmentation].[OfferMemberAddition] oma
			WHERE EXISTS (	SELECT 1
							FROM #Customer cu
							WHERE oma.[CompositeID] = cu.[CompositeID])
			GROUP BY	oma.[IronOfferID]
					,	oma.[StartDate]
					,	oma.[EndDate]
					,	oma.[AddedDate]
		
		/*******************************************************************************************************************************************
			4.	Update list to show those that have been pushed to production
		*******************************************************************************************************************************************/

			UPDATE oma
			SET oma.[PushedToProduction] = 1
			FROM #OfferMemberAddition oma
			INNER JOIN #OfferProcessLog opl
				ON oma.[IronOfferID] = opl.[IronOfferID]
				AND opl.[ProcessedDate] > oma.[AddedDate]
		
		/*******************************************************************************************************************************************
			5.	If offers remain that have not been sent to production, send email alert
		*******************************************************************************************************************************************/

			IF (SELECT COUNT(*) FROM #OfferMemberAddition WHERE [PushedToProduction] = 0) > 0
				BEGIN
				
				--	DECLARE @PublisherID INT = 138

					DECLARE	@EmailRecipients VARCHAR(250)
						,	@EmailSubject VARCHAR(100)
						,	@EmailBody VARCHAR(250)
						,	@PublisherName VARCHAR(100)

					SELECT @PublisherName = [PublisherName]
					FROM [WH_AllPublishers].[Derived].[Publisher]
					WHERE [PublisherID] = @PublisherID

					SELECT	@EmailRecipients = 'event-nr67nlok@dtdg.eu; Reward LSS <rewardlss@rewardinsight.com>;DataOperations@RewardInsight.com'
						,	@EmailSubject = 'Segmentation Quality Check Failure - ' + @PublisherName
						,	@EmailBody = 'For the segmentation push for ' + @PublisherName + ', there are offer memberships that have not been pushed to production, please check [' + DB_NAME() + '].[Segmentation].[StreamMembershipsToAWS_CheckMembershipLoad].'

					EXEC [msdb].[dbo].[sp_send_dbmail]	@profile_name = 'Administrator'
													,	@recipients = @EmailRecipients
													,	@subject = @EmailSubject
													,	@body = @EmailBody
													,	@body_format = 'TEXT'
													,	@exclude_query_output = 1

				END

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
