USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[WAS005_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[WAS005_PreSelection_sProc]
AS
BEGIN

	IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
	CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
	INSERT INTO #FB_rbs
	SELECT	CINID, FanID
	FROM	WH_NWG.Derived.Customer C
	JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
	WHERE	C.CurrentlyActive = 1
			AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)
	        AND NOT EXISTS (SELECT * FROM WH_NWG.Derived.Cards ca WHERE ca.CreditOrDebit LIKE 'Cr%' AND   CAST(GETDATE() AS DATE) BETWEEN ca.StartDate AND ISNULL(ca.EndDate, '3000-01-01') AND   ca.CustomerGUID = c.CustomerGUID)
	
	
	IF OBJECT_ID('[WH_NWG].[Selections].[WAS005_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[WAS005_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[WAS005_PreSelection]
	FROM #FB_rbs fb

END
GO
