USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[AZF051_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[AZF051_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	CINID, FanID
INTO	#FB
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
                FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.SourceUID = ds.SourceUID)

DROP TABLE IF EXISTS #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	[Trans].[ConsumerCombination] CC
WHERE	BrandID IN (21,312,379,425,485 )						

DROP TABLE IF EXISTS #Trans
SELECT	CT.CINID as CINID
		,COUNT(CT.CINID) AS Txn
INTO	#Trans
FROM	[Trans].[ConsumerTransaction] CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate > DATEADD(MONTH, -6, GETDATE())
		AND Amount > 0
GROUP BY CT.CINID

DROP TABLE IF EXISTS Sandbox.SandeshG.RBS_Amazon_Fresh_200324
SELECT	CINID
INTO Sandbox.SandeshG.RBS_Amazon_Fresh_200324
FROM  #Trans

DROP TABLE IF EXISTS [Selections].[AZF051_PreSelection]
SELECT FanID
INTO [Selections].[AZF051_PreSelection]
FROM #FB fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.SandeshG.RBS_Amazon_Fresh_200324  st
				WHERE fb.CINID = st.CINID)

END
GO
