USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[MOR233_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[MOR233_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FinalSelection

SELECT    [PartnerID]
     ,    [ShopperSegmentTypeID]
     ,    [FanID]
INTO #FinalSelection
FROM [WH_NWG].Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = 4263
AND [ShopperSegmentTypeID] IN (7,8,9)						-- Update Segment Type ID for Selection (Tactical) offers


IF OBJECT_ID('[WH_NWG].[Selections].[MOR233_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[MOR233_PreSelection]
SELECT	FanID
INTO	[WH_NWG].[Selections].[MOR233_PreSelection]
FROM	#FinalSelection

				
END

GO
