USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[JE010_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [Selections].[JE010_PreSelection_sProc]
AS
BEGIN

--------------------------------------------------------------
--------------------------------------------------------------
--*********************NatWest*******************************
--------------------------------------------------------------
--------------------------------------------------------------

IF OBJECT_ID('Sandbox.TaherD.JustEat_MUK_NW') IS NOT NULL
    DROP TABLE Sandbox.TaherD.JustEat_MUK_NW;

SELECT
    C.FanID,
    CL.CINID
INTO Sandbox.TaherD.JustEat_MUK_NW
FROM WH_NWG.Derived.Customer C
JOIN WH_NWG.Derived.CINList CL
    ON CL.CIN = C.SourceUID
WHERE C.CurrentlyActive = 1
    AND C.City IN (
        'Leeds',
        'Glasgow',
        'Manchester',
        'Nottingham',
        'Bristol',
        'Leicester'
    )
    AND NOT EXISTS (
        SELECT 1
        FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds
        WHERE ds.SourceUID = C.SourceUID
    );

CREATE CLUSTERED INDEX CIX_JustEat_MUK_NW_FanID
ON Sandbox.TaherD.JustEat_MUK_NW (FanID);

SELECT COUNT(*) AS CustomerCount
FROM Sandbox.TaherD.JustEat_MUK_NW;


	IF OBJECT_ID('[WH_NWG].[Selections].[JE010_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[JE010_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[JE010_PreSelection]
	FROM Sandbox.TaherD.JustEat_MUK_NW

END
GO
