USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[VTR045_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[VTR045_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	CINID,C.FanID
INTO	#FB
FROM	[Derived].[Customer]  C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
--and AccountType IS NOT NULL
CREATE CLUSTERED INDEX ix_CINID on #FB(CINID)

DROP TABLE IF EXISTS #CC
SELECT ConsumerCombinationID
INTO	#CC
FROM	[Trans].[ConsumerCombination]  CC
WHERE	BrandID IN (1826,2864,1284,1312,2464,935,1737,1754,1023,1415)	--LNER, National rail enquiries, Trainpal, Trip.com, Omio, Trainline, Thameslink, South Western Rail, North Western Rail, Great Western Rail, Avanti west Coast, Scot Rail

DROP TABLE IF EXISTS #Trans
SELECT	F.CINID
INTO	#Trans
FROM	[Trans].[ConsumerTransaction] CT
JOIN	#FB F ON F.CINID = CT.CINID
JOIN	#CC C 	ON C.ConsumerCombinationID = CT.ConsumerCombinationID
WHERE	TranDate > CONVERT(DATE, DATEADD(MONTH, -24, GETDATE()))
		AND Amount > 0
GROUP BY F.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans(CINID)

DROP TABLE IF EXISTS Sandbox.CameronJ.VM_VirginTrains_CompSteal130922
SELECT	CINID
INTO	Sandbox.CameronJ.VM_VirginTrains_CompSteal130922
FROM	#Trans

DROP TABLE IF EXISTS [Selections].[VTR045_PreSelection]
	SELECT FanID
	INTO [Selections].[VTR045_PreSelection]
	FROM #FB fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.CameronJ.VM_VirginTrains_CompSteal130922 st
					WHERE fb.CINID = st.CINID)

END
GO
