USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[MOR253_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[MOR253_PreSelection_sProc]
AS
BEGIN

	DROP TABLE IF EXISTS [Selections].[MOR253_PreSelection]
	SELECT FanID
	INTO [Selections].[MOR253_PreSelection]
	FROM [Derived].[Customer]
	WHERE [CurrentlyActive] = 1

END
GO
