USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[NAK001_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[NAK001_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
--AND		SourceUID NOT IN (SELECT SourceUID FROM [Derived].[Customer_DuplicateSourceUID]) 
AND NOT EXISTS (SELECT 1 
                FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.SourceUID = ds.SourceUID)

DROP TABLE IF EXISTS #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN  (246,2648) -- laithwaites, sunday times

DROP TABLE IF EXISTS #trans_rbs
SELECT  FanID, CT.CINID
INTO	#Trans_rbs
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-12,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)

DROP TABLE IF EXISTS Sandbox.JosephS.RBS_NakedWine_compsteal12_3542 --3991961
SELECT	FanID, CINID																													
INTO	Sandbox.JosephS.RBS_NakedWine_compsteal12_3542
FROM	#FB_rbs
WHERE	FANID NOT IN (SELECT FANID FROM #Trans_rbs)

DROP TABLE IF EXISTS [Selections].[NAK001_PreSelection]
SELECT	fb.FanID
INTO [Selections].[NAK001_PreSelection]
FROM #FB_rbs fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.JosephS.RBS_NakedWine_compsteal12_3542 sb
				WHERE fb.CINID = sb.CINID)

END;
GO
