USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[UE043_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[UE043_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs
SELECT	CINID, FanID
INTO	#FB_rbs
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])
CREATE CLUSTERED INDEX ix_CINID on #FB_rbs(FanID)

DROP TABLE IF EXISTS #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
INTO	#CC_rbs
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN  (2009,1122)		-- Deliveroo 2009, Just Eat 1122
CREATE CLUSTERED INDEX ix_ConsumerCombinationID on #CC_rbs(ConsumerCombinationID)

DROP TABLE IF EXISTS #trans_rbs
SELECT  FanID, CT.CINID
INTO	#Trans_rbs
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= CONVERT(DATE, DATEADD(MONTH, -12, GETDATE()))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)

DROP TABLE IF EXISTS Sandbox.rukank.RBS_UberEats_Comp_Steal_20062023		-- 1,020,188 (20.06.2023)
SELECT	FanID, CINID																													
INTO	Sandbox.rukank.RBS_UberEats_Comp_Steal_20062023
FROM	#Trans_rbs
GROUP BY FanID, CINID

DROP TABLE IF EXISTS [Selections].UE043_PreSelection
Select FanID
INTO [Selections].UE043_PreSelection
FROM [Derived].[Customer] cu
WHERE EXISTS (	SELECT 1
				FROM Sandbox.rukank.RBS_UberEats_Comp_Steal_20062023 s
				INNER JOIN [Derived].[CINList] cl
					ON s.CINID = cl.CINID
				WHERE cu.SourceUID = cl.CIN)

END
GO
