USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[CampaignExecution_Loop_DD]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****************************************************************************************************
Modified Log:

Change No:	Name:			Date:			Description of change:
1.			Rory Francis	2018-05-02		Staging.CampaignSetup_DDS to 
											Selections.ROCShopperSegment_PreSelection_AL

2.			Rory Francis	2018-05-03		Adding in process to use priority flag to dedupe while
											pulling Selections
											
****************************************************************************************************/
/*
Update Date		Updated By		Update
2018-05-02		Rory Francis	Warehouse.Staging.CampaignSetup_DDS to Warehouse.Selections.ROCShopperSegment_PreSelection_AL
2018-05-03		Rory Francis	Adding in process to use priority flag to dedupe while pulling Selections
*/

CREATE PROCEDURE [Selections].[CampaignExecution_Loop_DD]	@RunType BIT
														,	@EmailDate VARCHAR(30)
AS
BEGIN

	SET NOCOUNT ON

	/*******************************************************************************************************************************************
		1. Prepare parameters for sProc to run
	*******************************************************************************************************************************************/

	--	DECLARE @RunType BIT = 1, @EmailDate VARCHAR(30) = '2024-09-05'
		
		DECLARE @Today DATETIME
			  , @NewCampaign BIT
			  , @LoopStartTime DATETIME
			  , @LoopEndTime DATETIME
			  , @LoopLengthSeconds INT
			  , @RunID INT
			  , @MaxID INT
			  , @Qry1 NVARCHAR(max)
			  , @Qry2 NVARCHAR(max)
			  , @Time DATETIME
			  , @Msg VARCHAR(2048)

	/*******************************************************************************************************************************************
		2. Prepare campaigns to run through for Selection loop
	*******************************************************************************************************************************************/
	
			/***********************************************************************************************************************
				2.1. Store all camapigns to be run in this cycle
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #AllCampaigns
				SELECT *
				INTO #AllCampaigns
				FROM [Selections].[CampaignSetup_DD]
				WHERE EmailDate = @EmailDate
				AND ReadyToRun = 1

			/***********************************************************************************************************************
				2.2. Find all partners with a new campaign
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #PartnersWithNewCampaign
				SELECT PartnerID
					 , MAX(CONVERT(INT, NewCampaign)) AS NewCampaign_Partner
				INTO #PartnersWithNewCampaign
				FROM #AllCampaigns
				GROUP BY PartnerID

			/***********************************************************************************************************************
				2.3. Store all camapigns to be run in this execution
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #CampaignsToRun
				SELECT	cs.*
					,	ROW_NUMBER() OVER (ORDER BY CASE WHEN rp.[ID] IS NULL THEN 0 ELSE 1 END, pwnc.NewCampaign_Partner DESC, cs.PartnerID, cs.PriorityFlag ASC, cs.ID) AS RunID
				INTO #CampaignsToRun
				FROM Selections.CampaignSetup_DD cs
				LEFT JOIN #PartnersWithNewCampaign pwnc
					ON cs.PartnerID = pwnc.PartnerID
				LEFT JOIN [WH_AllPublishers].[Selections].[CampaignSetup_ReplicatedPartners] rp
					ON cs.[PartnerID] = rp.[SecondaryPartnerID]
				WHERE EmailDate = @EmailDate
				AND SelectionRun = 0
				AND ReadyToRun = 1

				SELECT	StartDate
					,	EndDate
					,	CampaignName
					,	ClientServicesRef
					,	OfferID
					,	Gender
					,	AgeRange
					,	DriveTimeMins
					,	LiveNearAnyStore
					,	SocialClass
					,	sProcPreSelection
					,	OutputTableName
					,	NotIn_TableName1
					,	NotIn_TableName2
					,	MustBeIn_TableName1
					,	MustBeIn_TableName2
					,	MarketableByEmail
					,	CustomerBaseOfferDate
					,	SelectedInAnotherCampaign
					,	DeDupeAgainstCampaigns
					,	CampaignID_Include
					,	CampaignID_Exclude
					,	Throttling
					,	RandomThrottle
					,	ControlGroupPercentage
					,	PriorityFlag
					,	ThrottleType
					,	[FreqStretch_TransCount]
				FROM #CampaignsToRun ctr
				ORDER BY RunID

				IF @RunType = 0 RETURN

	/*******************************************************************************************************************************************
		3. Add campaigns to table to allow partner dedupe
	*******************************************************************************************************************************************/
	
		--Synchronize the target table with refreshed data from source table
		MERGE [Selections].[CampaignExecution_OutputTables] AS TARGET
		USING #AllCampaigns AS SOURCE 
		ON (TARGET.[PreSelection_ALS_ID] = SOURCE.[ID]) 

		--When records are matched, update the records if there is any change
		WHEN MATCHED
		AND TARGET.[OutputTableName] != SOURCE.[OutputTableName]
		OR TARGET.[PriorityFlag] != SOURCE.[PriorityFlag]
		OR TARGET.[InPartnerDedupe] != 0
		THEN UPDATE
		SET	TARGET.[OutputTableName] = SOURCE.[OutputTableName]
		,	TARGET.[PriorityFlag] = SOURCE.[PriorityFlag]
		,	TARGET.[InPartnerDedupe] = 0

		--When no records are matched, insert the incoming records from source table to target table
		WHEN NOT MATCHED BY TARGET
		THEN INSERT ([PreSelection_ALS_ID], [PartnerID], [OutputTableName], [PriorityFlag], [InPartnerDedupe], [RowNumber])
		VALUES (	SOURCE.[ID]
				,	SOURCE.[PartnerID]
				,	SOURCE.[OutputTableName]
				,	SOURCE.[PriorityFlag]
				,	0
				,	NULL)

		--When there is a row that exists in target and same record does not exist in source then delete this record target
		WHEN NOT MATCHED BY SOURCE
		THEN DELETE;

		;WITH Updater AS (	SELECT	[RowNumber]
								,	[NewRowNumber] = ROW_NUMBER() OVER (ORDER BY [PartnerID], [PriorityFlag])
							FROM [Selections].[CampaignExecution_OutputTables])

		 UPDATE Updater
		 SET [RowNumber] = [NewRowNumber]

	/*******************************************************************************************************************************************
		4.	Prepare variable to input into individual Selection sProc
	*******************************************************************************************************************************************/

		SELECT @MaxID = MAX([RunID])
			 , @Today = GETDATE()
			 , @RunID = 1
		FROM #CampaignsToRun

		DECLARE	@PartnerID CHAR(4)
			,	@StartDate VARCHAR(10)
			,	@EndDate VARCHAR(10)
			,	@CampaignName VARCHAR (250)
			,	@ClientServicesRef VARCHAR(10)
			,	@OfferID VARCHAR(40)
			,	@PriorityFlag INT
			,	@Throttling VARCHAR(200)
			,	@RandomThrottle CHAR(1)
			,	@MarketableByEmail CHAR(1)
			,	@Gender CHAR(1)
			,	@AgeRange VARCHAR(7)
			,	@DriveTimeMins CHAR(3)
			,	@LiveNearAnyStore BIT
			,	@SocialClass VARCHAR(5)
			,	@OutletSector CHAR(6)
			,	@CustomerBaseOfferDate VARCHAR(10)
			,	@SelectedInAnotherCampaign VARCHAR(20)
			,	@DeDupeAgainstCampaigns VARCHAR(50)
			,	@CampaignID_Include CHAR(3)
			,	@CampaignID_Exclude CHAR(3)
			,	@sProcPreSelection NVARCHAR(150)
			,	@OutputTableName VARCHAR (100)
			,	@NotIn_TableName1 VARCHAR(100)
			,	@NotIn_TableName2 VARCHAR(100)
			,	@NotIn_TableName3 VARCHAR(100)
			,	@NotIn_TableName4 VARCHAR(100)
			,	@MustBeIn_TableName1 VARCHAR(100)
			,	@MustBeIn_TableName2 VARCHAR(100)
			,	@MustBeIn_TableName3 VARCHAR(100)
			,	@MustBeIn_TableName4 VARCHAR(100)
			,	@CampaignTypeID INT

			,	@OutputTableNamePartnerDedupe VARCHAR (100)
			,	@AlternatePartnerOutputTable VARCHAR(150)
			,	@PreviouslyRanPartnerID INT = 0
			
			,	@FreqStretch_TransCount INT
			,	@ControlGroupPercentage INT
			
			,	@ThrottleType CHAR(1)
			,	@PublisherID INT
			

	/*******************************************************************************************************************************************
		5.	Loop through each of the campaigns and run Selections
	*******************************************************************************************************************************************/
	
		WHILE @RunID <= @MaxID 
			BEGIN

				SET @LoopStartTime = GETDATE()

			/***********************************************************************************************************************
				5.1.	Parametrise entries from CampaignSetup_DD
			***********************************************************************************************************************/

				IF EXISTS (SELECT 1 FROM #CampaignsToRun WHERE [RunID] = @RunID)
					BEGIN
						SELECT	 @PartnerID = [PartnerID]
							,	 @StartDate = [StartDate] 
							,	 @EndDate = [EndDate]
							,	 @CampaignName = [CampaignName]
							,	 @ClientServicesRef = [ClientServicesRef]
							,	 @OfferID = [OfferID]
							,	 @PriorityFlag = [PriorityFlag]
							,	 @Throttling = [Throttling]
							,	 @RandomThrottle = [RandomThrottle]
							,	 @MarketableByEmail = [MarketableByEmail]
							,	 @Gender = [Gender]
							,	 @AgeRange = [AgeRange]
							,	 @DriveTimeMins = [DriveTimeMins]
							,	 @LiveNearAnyStore = [LiveNearAnyStore]
							,	 @SocialClass = [SocialClass]
							,	 @CustomerBaseOfferDate = [CustomerBaseOfferDate]
							,	 @SelectedInAnotherCampaign = [SelectedInAnotherCampaign]
							,	 @DeDupeAgainstCampaigns = [DeDupeAgainstCampaigns]
							,	 @CampaignID_Include = [CampaignID_Include]
							,	 @CampaignID_Exclude = [CampaignID_Exclude]
							,	 @sProcPreSelection = [sProcPreSelection]
							,	 @OutputTableName = LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']'
							,	 @NotIn_TableName1 = [NotIn_TableName1]
							,	 @NotIn_TableName2 = [NotIn_TableName2]
							,	 @NotIn_TableName3 = [NotIn_TableName3]
							,	 @NotIn_TableName4 = NotIn_TableName4
							,	 @MustBeIn_TableName1 = [MustBeIn_TableName1]
							,	 @MustBeIn_TableName2 = [MustBeIn_TableName2]
							,	 @MustBeIn_TableName3 = [MustBeIn_TableName3]
							,	 @MustBeIn_TableName4 = [MustBeIn_TableName4]
							,	 @NewCampaign = [NewCampaign]
							,	 @FreqStretch_TransCount = FreqStretch_TransCount
							,	 @ControlGroupPercentage = ControlGroupPercentage
							,	 @AlternatePartnerOutputTable = CASE
																	WHEN RIGHT(LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']', 1) = ']' THEN LEFT(LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']', LEN(LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']') - 1) + '_APR]'
																	ELSE LEFT([OutputTableName], LEN([OutputTableName]) - 1) + ']' + '_APR'
																END
							,	@ThrottleType = [ThrottleType]
							,	@PublisherID = [PublisherID]
						FROM #CampaignsToRun
						WHERE @RunID = [RunID]

			/***********************************************************************************************************************
				5.2.	If loop runs to new partner then truncate dedupe table
			***********************************************************************************************************************/

				IF @PartnerID != @PreviouslyRanPartnerID
					BEGIN

						SELECT @Qry1 = [PartnerName]
						FROM [Derived].[Partner] pa
						WHERE [PartnerID] = @PreviouslyRanPartnerID

						TRUNCATE TABLE [Selections].[CampaignExecution_PartnerDedupe]

						UPDATE [Selections].[CampaignExecution_OutputTables]
						SET [InPartnerDedupe] = 0

					END	--	IF @PartnerID != @PreviouslyRanPartnerID

			/***********************************************************************************************************************
				5.3.	Populate CampaignCode_Selections_PartnerDedupe table with all customers already selected for this partner
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #PartnerDedupe_OfferIDs
				SELECT	[IronOfferID] = iof.[Item]
				INTO #PartnerDedupe_OfferIDs
				FROM #AllCampaigns ac
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (ac.[OfferID], ',') iof
				WHERE [PartnerID] = @PartnerID
				AND [PriorityFlag] < @PriorityFlag
					
				INSERT INTO [Selections].[CampaignExecution_PartnerDedupe] ([PartnerID]
																		,	[CompositeID])
				SELECT	[PartnerID] = @PartnerID
					,	[CompositeID]
				FROM [Segmentation].[OfferMemberAddition] oma
				WHERE EXISTS (	SELECT 1
								FROM #PartnerDedupe_OfferIDs pd
								WHERE oma.[IronOfferID] = pd.[IronOfferID])

				UPDATE STATISTICS [Selections].[CampaignExecution_PartnerDedupe]

			/***********************************************************************************************************************
				5.4.	Exec Selection for individual campaign
			***********************************************************************************************************************/

				EXEC [Selections].[CampaignExecution_IndividualCampaign_DD]	@PartnerID
																		,	@StartDate
																		,	@EndDate
																		,	@CampaignName
																		,	@ClientServicesRef
																		,	@OfferID
																		,	@Throttling
																		,	@RandomThrottle
																		,	@MarketableByEmail
																		,	@Gender
																		,	@AgeRange
																		,	@DriveTimeMins
																		,	@LiveNearAnyStore
																		,	@SocialClass
																		,	@CustomerBaseOfferDate
																		,	@SelectedInAnotherCampaign
																		,	@DeDupeAgainstCampaigns
																		,	@CampaignID_Include
																		,	@CampaignID_Exclude
																		,	@OutputTableName
																		,	@NotIn_TableName1
																		,	@NotIn_TableName2
																		,	@NotIn_TableName3
																		,	@NotIn_TableName4
																		,	@MustBeIn_TableName1
																		,	@MustBeIn_TableName2
																		,	@MustBeIn_TableName3
																		,	@MustBeIn_TableName4
																		,	@ControlGroupPercentage
																		,	@ThrottleType
																		,	@FreqStretch_TransCount
																		,	@PublisherID
	
			/***********************************************************************************************************************
				5.5.	Insert the Selections counts for the campaign into the [Selections].[CampaignExecution_SelectionCounts] table
			***********************************************************************************************************************/

			--	DECLARE @OfferID VARCHAR(100) = '1,2,3'

				DROP TABLE IF EXISTS #SelectionCount_OfferIDs
				SELECT	[IronOfferID] = iof.[Item]
				INTO #SelectionCount_OfferIDs
				FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@OfferID, ',') iof
				
				DROP TABLE IF EXISTS #SelectionCount
				SELECT	[ClientServicesRef] = @ClientServicesRef
					,	[OfferID] = [IronOfferID]
					,	[CountSelected] = COUNT(1)
				INTO #SelectionCount
				FROM [Segmentation].[OfferMemberAddition] oma
				WHERE EXISTS (	SELECT 1
								FROM #SelectionCount_OfferIDs sc
								WHERE oma.[IronOfferID] = sc.[IronOfferID])
				GROUP BY	[IronOfferID]

				DELETE sc
				FROM [Selections].[CampaignExecution_SelectionCounts] sc
				WHERE sc.[EmailDate] = @EmailDate
				AND EXISTS (	SELECT 1
								FROM #SelectionCount_OfferIDs sco
								WHERE sc.[IronOfferID] = sco.[IronOfferID])

				INSERT INTO [Selections].[CampaignExecution_SelectionCounts] (	[EmailDate]
																			,	[OutputTableName]
																			,	[IronOfferID]
																			,	[CountSelected]
																			,	[RunDateTime]
																			,	[NewCampaign]
																			,	[ClientServicesRef])
				SELECT	[EmailDate] = @EmailDate
					,	[OutputTableName] = @OutputTableName
					,	[IronOfferID] = sc.[OfferID]
					,	[CountSelected] = sc.[CountSelected]
					,	[RunDateTime] = GETDATE()
					,	[NewCampaign] = @NewCampaign
					,	[ClientServicesRef] = sc.[ClientServicesRef]
				FROM #SelectionCount sc

			/***********************************************************************************************************************
				5.6.	Update the [Selections].[CampaignSetup_POS] table to show the Selection has ran
			***********************************************************************************************************************/

				UPDATE cs
				SET [SelectionRun] = 1
				FROM #CampaignsToRun ctr
				INNER JOIN [Selections].[CampaignSetup_DD] cs
					ON ctr.[ID] = cs.[ID]
				WHERE @RunID = ctr.[RunID]
							   
			/***********************************************************************************************************************
				5.7.	Update the previously ran partner variable to prepare for next loop
			***********************************************************************************************************************/

				SET @PreviouslyRanPartnerID = @PartnerID


			/***********************************************************************************************************************
				5.8.	If the partner being looped has an alternate partner record then replicate the Selection for that record
			***********************************************************************************************************************/

				IF @PartnerID IN (	SELECT [PrimaryPartnerID]
									FROM [WH_AllPublishers].[Selections].[CampaignSetup_ReplicatedPartners] rp
									WHERE COALESCE(rp.[EndDate], '9999-12-31') > @EmailDate)	--	Ideal World, KitBag
					BEGIN

					--	DECLARE @OfferID VARCHAR(100) = '27447,27447,00000,00000,00000,00000', @PublisherID INT = 132, @EmailDate DATE = '2025-03-20'
					
						DROP TABLE IF EXISTS #PrimaryPartnerOffers
						SELECT	DISTINCT
								[PartnerID] = o.[PartnerID]
							,	[OfferID] = iof.[Item]
						INTO #PrimaryPartnerOffers
						FROM [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (@OfferID, ',') iof
						INNER JOIN [WH_AllPublishers].[Derived].[Offer] o
							ON iof.[Item] = o.[IronOfferID]
							AND o.[PublisherID] = @PublisherID
			
						DROP TABLE IF EXISTS #SecondaryPartnerOffers
						SELECT	DISTINCT
								rpo.[PrimaryPartnerID]
							,	rpo.[SecondaryPartnerID]
							,	rpo.[PrimaryIronOfferID]
							,	rpo.[SecondaryIronOfferID]
						INTO #SecondaryPartnerOffers
						FROM #PrimaryPartnerOffers ppo
						INNER JOIN [WH_AllPublishers].[Selections].[CampaignSetup_ReplicatedPartners_Offers] rpo
							ON ppo.[OfferID] = rpo.[PrimaryIronOfferID]
						INNER JOIN [WH_AllPublishers].[Derived].[Offer] o
							ON rpo.[SecondaryIronOfferID] = o.[IronOfferID]
							AND o.[PublisherID] = @PublisherID
						WHERE COALESCE(rpo.[EndDate], '9999-12-31') > @EmailDate
												
						DROP TABLE IF EXISTS #SecondaryPartnerOfferMembers
						SELECT	DISTINCT
								[CompositeID] = oma.[CompositeID]
							,	[OfferID] = spo.[SecondaryIronOfferID]
							,	[StartDate] = oma.[StartDate]
							,	[EndDate] = oma.[EndDate]
						INTO #SecondaryPartnerOfferMembers
						FROM [Segmentation].[OfferMemberAddition] oma
						INNER JOIN #SecondaryPartnerOffers spo
							ON oma.[IronOfferID] = spo.[PrimaryIronOfferID]
						WHERE EXISTS (	SELECT 1
										FROM [Derived].[Customer] cu
										WHERE oma.[CompositeID] = cu.[CompositeID]
										AND cu.[ClubID] = @PublisherID)
						
						INSERT INTO [Segmentation].[OfferMemberAddition]
						SELECT	[CompositeID]
							,	[OfferID]
							,	[StartDate]
							,	[EndDate]
							,	[Date] = GETDATE()
						FROM #SecondaryPartnerOfferMembers spom
						WHERE NOT EXISTS (	SELECT 1
											FROM [Segmentation].[OfferMemberAddition] oma
											WHERE spom.[CompositeID] = oma.[CompositeID]
											AND spom.[OfferID] = oma.[IronOfferID])
						ORDER BY	[OfferID]

						DELETE sc
						FROM [Selections].[CampaignExecution_SelectionCounts] sc
						WHERE sc.[EmailDate] = @EmailDate
						AND EXISTS (	SELECT 1
										FROM #SecondaryPartnerOfferMembers spom
										WHERE spom.[OfferID] = sc.[IronOfferID])

						INSERT INTO [Selections].[CampaignExecution_SelectionCounts] (	[EmailDate]
																					,	[OutputTableName]
																					,	[IronOfferID]
																					,	[CountSelected]
																					,	[RunDateTime]
																					,	[NewCampaign]
																					,	[ClientServicesRef])
						SELECT	[EmailDate] = @EmailDate
							,	[OutputTableName] = @OutputTableName
							,	[IronOfferID] = spom.[OfferID]
							,	[CountSelected] = COUNT(DISTINCT spom.[CompositeID])
							,	[RunDateTime] = GETDATE()
							,	[NewCampaign] = @NewCampaign
							,	[ClientServicesRef] = @ClientServicesRef
						FROM #SecondaryPartnerOfferMembers spom
						GROUP BY	spom.[OfferID]

						INSERT INTO [Selections].[CampaignExecution_TableNames] ([TableName])
						SELECT @AlternatePartnerOutputTable

						UPDATE cs
						SET [SelectionRun] = 1
						FROM #CampaignsToRun ctr
						INNER JOIN [WH_AllPublishers].[Selections].[CampaignSetup_ReplicatedPartners] rp
							ON ctr.[PartnerID] = rp.[PrimaryPartnerID]
						INNER JOIN #CampaignsToRun ctr2
							ON rp.[SecondaryPartnerID] = ctr2.[PartnerID]
							AND ctr.[PublisherID] = ctr2.[PublisherID]
						INNER JOIN [Selections].[CampaignSetup_DD] cs
							ON ctr2.[ID] = cs.[ID]
						WHERE @RunID = ctr.[RunID]
						AND COALESCE(rp.[EndDate], '9999-12-31') > @EmailDate

					END	--	IF @PartnerID IN (4805)

			/***********************************************************************************************************************
				5.9.	Prepare for next loop
			***********************************************************************************************************************/

						SELECT @RunID = MIN([RunID])
						FROM #CampaignsToRun ctr
						WHERE [RunID] > @RunID
						AND EXISTS (SELECT 1
									FROM [Selections].[CampaignSetup_DD] cs
									WHERE ctr.[ID] = cs.[ID]
									AND cs.[SelectionRun] = 0)
		
				END	--	5.1 IF EXISTS (SELECT 1 FROM #CampaignsToRun WHERE [RunID] = @RunID)


		/***********************************************************************************************************************
			5.10.	Table clear down
		***********************************************************************************************************************/

					TRUNCATE TABLE [Selections].[CampaignExecution_PartnerDedupe]

					UPDATE [Selections].[CampaignExecution_OutputTables]
					SET [InPartnerDedupe] = 0

			END	--	8. WHILE @RunID <= @MaxID

	/*******************************************************************************************************************************************
		7. Display all counts for all Selections run with email date
	*******************************************************************************************************************************************/

		SELECT *
		FROM [Selections].[CampaignExecution_SelectionCounts]
		WHERE [EmailDate] = @EmailDate
		ORDER BY	[RunDateTime]
				,	[EmailDate]
				,	[OutputTableName]
				,	[IronOfferID]

END
GO
