USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[HAV048_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[HAV048_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	CINID
		,FanID
		,AgeCurrent
INTO #FB
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])
--and AgeCurrent >= 55

DROP TABLE IF EXISTS #CC
SELECT	CC.BrandID
		,ConsumerCombinationID
INTO #CC
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN (1495)

DECLARE @DATE_24 DATE = dateadd(month,-24,getdate())

DROP TABLE IF EXISTS #shoppers
select  ct.CINID
INTO #shoppers
from [Trans].[ConsumerTransaction] ct
join #CC cc
	on ct.ConsumerCombinationID = cc.ConsumerCombinationID
join #FB fb
	on ct.CINID = fb.CINID
where trandate >= @DATE_24
and amount > 0
group by ct.CINID

DECLARE @DATE_36 DATE = dateadd(month,-36,getdate())

DROP TABLE IF EXISTS Sandbox.bastienc.havenreengage
select  ct.CINID
INTO Sandbox.bastienc.havenreengage
from [Trans].[ConsumerTransaction] ct
join #CC cc
	on ct.ConsumerCombinationID = cc.ConsumerCombinationID
join #FB fb
	on ct.CINID = fb.CINID
where trandate >= @DATE_36
and amount > 0
and ct.cinid not in (select * from #shoppers)
group by ct.CINID

DROP TABLE IF EXISTS [Selections].[HAV048_PreSelection]
SELECT	fb.FanID
INTO [Selections].[HAV048_PreSelection]
FROM #FB fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.bastienc.havenreengage sb
				WHERE fb.CINID = sb.CINID)


END;
GO
