USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[JE017_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[JE017_PreSelection_sProc]
AS
BEGIN

--SELECT * FROM WH_AllPublishers.Trans.Brand WHERE BrandName LIKE '%just%'


-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 1122


-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands

SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand
WHERE	BRANDID IN (1122,2009,2518)
		-- just eat 1122, deliveroo 2009, uber eats 2518



-------------------------------------------------------------------------------------
----RBS - Shopper - Low SoW - GROUP B
-------------------------------------------------------------------------------------

IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs

CREATE TABLE #FB_rbs
(
	CINID int not null primary key,
	FanID int
)

INSERT INTO #FB_rbs

SELECT
	CL.CINID,
	C.FanID

FROM WH_NWG.Derived.Customer C

JOIN WH_NWG.Derived.CINList CL
	ON CL.CIN = C.SourceUID

WHERE C.CurrentlyActive = 1

AND NOT EXISTS
(
	SELECT 1
	FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds
	WHERE ds.SourceUID = C.SourceUID
)

AND EXISTS
(
	SELECT 1
	FROM Sandbox.TaherD.JustEat_ABSplit_RBS AB
	WHERE AB.CINID = CL.CINID
	AND AB.AB_Group = 'B'
)



IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs

CREATE TABLE #CC_rbs
(
	BrandID int,
	ConsumerCombinationID int not null primary key
)

INSERT INTO #CC_rbs

SELECT
	CC.BrandID,
	ConsumerCombinationID

FROM WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)

WHERE CC.BrandID IN
(
	SELECT BrandID
	FROM #brands
)



IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs

SELECT
	FanID,
	CT.CINID,

	1.0 *
	(
		CAST
		(
			SUM
			(
				CASE
					WHEN BrandID = @main_brand_id
					THEN Amount
					ELSE 0
				END
			)
			AS FLOAT
		)
		/
		NULLIF(SUM(Amount),0)
	) AS SoW,

	MAX
	(
		CASE
			WHEN BrandID = @main_brand_id
			AND TranDate >= DATEADD(MONTH,-3,CAST(GETDATE() AS DATE))
			THEN 1
			ELSE 0
		END
	) AS BrandShopper,

	COUNT(1) AS Transactions

INTO #Trans_rbs

FROM WH_NWG.Trans.ConsumerTransaction ct

JOIN #CC_rbs cc
	ON ct.ConsumerCombinationID = cc.ConsumerCombinationID

JOIN #FB_rbs fb
	ON ct.CINID = fb.CINID

WHERE TranDate >= DATEADD(MONTH,-6,CAST(GETDATE() AS DATE))
AND Amount > 0

GROUP BY
	FanID,
	CT.CINID


CREATE CLUSTERED INDEX ix_CINID
ON #Trans_rbs(FanID)



IF OBJECT_ID('Sandbox.TaherD.JustEat_LowSoW_rbs_B') IS NOT NULL
	DROP TABLE [Sandbox].[TaherD].[JustEat_LowSoW_rbs_B]

SELECT
	FanID,
	CINID

INTO [Sandbox].[TaherD].[JustEat_LowSoW_rbs_B]

FROM #Trans_rbs

WHERE BrandShopper = 1
AND SoW <= 0.3

GROUP BY
	FanID,
	CINID

	IF OBJECT_ID('[WH_NWG].[Selections].[JE017_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[JE017_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[JE017_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM [Sandbox].[TaherD].[JustEat_LowSoW_rbs_B]  st
					WHERE fb.CINID = st.CINID)

END
GO
