USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[WAT005_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[WAT005_PreSelection_sProc]
AS
BEGIN

	


/*
	FILL THESE IN
*/
declare @schema_name sysname = 'josephS' --add the name of your personal sandbox schema
declare @table_name varchar(max) = 'Waterstones_Compsteal_040723' --publishers will be appended so leave them off
declare @comp_steal_months int = 12 --months to look back for comp steal
declare @comp_brandids varchar(max) = '438,492,3474'
declare	@PartnerID VARCHAR(max) = 5118
/*Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9*/
declare @bau_segments varchar(max) = ''
declare @bespoke_segments varchar(max) = '7'
-----------------------------------------------------------------------------------
/*
	!
	DON'T CHANGE THESE
	!
*/
declare @table_name_rbs sysname = concat(@table_name,'_rbs')
declare @table_name_bc sysname = concat(@table_name,'_bc')
declare @table_name_vm sysname = concat(@table_name,'_vm')

declare @QualifiedName_rbs sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
declare @QualifiedName_bc sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_bc)
declare @QualifiedName_vm sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)

declare @sql_rbs_drop nvarchar(max)
declare @sql_bc_drop nvarchar(max)
declare @sql_vm_drop nvarchar(max)

declare @sql_rbs_create nvarchar(max)
declare @sql_bc_create nvarchar(max)
declare @sql_vm_create nvarchar(max)

declare @sql_rbs_selections nvarchar(max)
declare @sql_bc_selections nvarchar(max)
declare @sql_vm_selections nvarchar(max)

declare @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
declare @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
declare @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0
;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
select distinct BrandID
into #comp_brands
from [WH_AllPublishers].[Trans].[Brand] b
where charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------
/*RBS SELECTION*/

IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
SELECT	CINID, FanID
INTO	#FB_rbs
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1 FROM [Derived].[Customer_DuplicateSourceUID] ds WHERE c.[SourceUID] = ds.[SourceUID])
--AND		agecurrent between 18 and 35
CREATE CLUSTERED INDEX ix_CINID on #FB_rbs(FanID)
;

IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
SELECT	CC.BrandID	,ConsumerCombinationID
INTO	#CC_rbs
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN (select brandid from #comp_brands)
CREATE CLUSTERED INDEX ix_ConsumerCombinationID on #CC_rbs(ConsumerCombinationID)
;

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
INTO	#Trans_rbs
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)
;

DROP TABLE IF EXISTS #AirtimeOverlap

SELECT c.FanID
INTO #AirtimeOverlap
FROM [SLC_REPL]..Pan p1
INNER JOIN [SLC_REPL].[dbo].[PaymentCard] pc
ON p1.PaymentCardID = pc.ID
INNER JOIN [SLC_REPL]..[Fan] f1 
ON p1.UserID = f1.ID 
AND f1.ClubID IN (144)
INNER JOIN [WH_NWG].[WHB].[Inbound_Cards] ca
ON pc.[PaymentCardUID] = ca.[ExternalCardID]
INNER JOIN WH_NWG.Derived.Customer C
ON ca.CustomerGUID = C.CustomerGUID
;

IF OBJECT_ID(@QualifiedName_rbs) IS NOT NULL
BEGIN
	SET @sql_rbs_drop = 'DROP TABLE ' + @QualifiedName_rbs
	EXEC (@sql_rbs_drop)
END

SET @sql_rbs_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_rbs
	+ ' FROM #Trans_rbs GROUP BY FanID, CINID'
EXEC (@sql_rbs_create)
;
-----------------------------------------------------------------------------------

-----------------------------------------------------------------------------------
/*SELECTIONS FOR OPS PROCESS*/

/* RBS */

IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
;
create table #SegmentAssignment_RBS (FanID int)
;
SET @sql_rbs_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_rbs
;
insert into #SegmentAssignment_RBS
exec (@sql_rbs_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_RBS') IS NOT NULL DROP TABLE #FinalSelection_RBS
;
create table #FinalSelection_RBS (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])
end

DROP TABLE IF EXISTS [Selections].[WAT005_PreSelection]

SELECT [FanID]
INTO [Selections].[WAT005_PreSelection]
FROM #FinalSelection_RBS FB
WHERE NOT EXISTS (SELECT 1
				  FROM #AirtimeOverlap  st
				  WHERE fb.FanID = st.FanID)

			
END
GO
