USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[WA247_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[WA247_PreSelection_sProc]
AS
BEGIN


-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 485

-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (292,21,379,425,2541,5,254,312)						-- Waitrose 292, Asda 21, Sainsburys 379, Tesco 425, Amazon Fresh 2541, Aldi 5, Lidl 254, Waitrose 485,Ocado 312
-------------------------------------------------------------------------------------
----RBS - Shopper - Low Spender
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)
	

IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #brands))

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID, sum(amount) total_spend
		,COUNT(1) as Transactions
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.CaraC.RBS_Waitrose_LoW_Spender_10122024') IS NOT NULL DROP TABLE Sandbox.CaraC.RBS_Waitrose_LoW_Spender_10122024		-- 923,690 (28.10.2024)
SELECT	FanID, CINID																													
INTO	Sandbox.CaraC.RBS_Waitrose_LoW_Spender_10122024
FROM	#Trans_rbs
WHERE	total_spend >= 720 AND total_spend < 1200					 
GROUP BY FanID, CINID

--IF OBJECT_ID('Sandbox.CaraC.RBS_Waitrose_Mid_Spender_10122024') IS NOT NULL DROP TABLE Sandbox.CaraC.RBS_Waitrose_LoW_Spender_10122024		-- 923,690 (28.10.2024)
--SELECT	FanID, CINID																													
--INTO	Sandbox.CaraC.RBS_Waitrose_Mid_Spender_10122024
--FROM	#Trans_rbs
--WHERE	total_spend >= 1200 AND total_spend <= 1680			 
--GROUP BY FanID, CINID
--
--IF OBJECT_ID('Sandbox.CaraC.RBS_Waitrose_High_Spender_10122024') IS NOT NULL DROP TABLE Sandbox.CaraC.RBS_Waitrose_LoW_Spender_10122024		-- 923,690 (28.10.2024)
--SELECT	FanID, CINID																													
--INTO	Sandbox.CaraC.RBS_Waitrose_High_Spender_10122024
--FROM	#Trans_rbs
--WHERE	total_spend >= 1680 	 
--GROUP BY FanID, CINID



-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -- Declare Partner ID -- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --
DECLARE	@PartnerID VARCHAR(500) = 4265


-- RBS:
-- For Selection cases, UPDATE THE SANDBOX BELOW
IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
SELECT	FanID
INTO	#SegmentAssignment_RBS
FROM	Sandbox.CaraC.RBS_Waitrose_LoW_Spender_10122024



--[ShopperSegmentTypeID] (meaning customer Segment Type ID):	Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9

---- BAU (NO Selection code needed)
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (7, 8)					-- Update Segment Type ID for BAU offers


UNION ALL

 
-- Segments with BESPOKE Selection code
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
--INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (9)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])

	IF OBJECT_ID('[WH_NWG].[Selections].[WA247_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[WA247_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[WA247_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM #FinalSelection_RBS  st
					WHERE fb.FanID = st.FanID)

END
GO
