USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[YOU017_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[YOU017_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	CINID, FanID
INTO	#FB
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])

DROP TABLE IF EXISTS #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	[Trans].[ConsumerCombination] CC
WHERE	BrandID IN (528)						

DROP TABLE IF EXISTS #Trans
SELECT	CT.CINID as CINID, fanid
		,COUNT(CT.CINID) AS Txn
INTO	#Trans
FROM	[Trans].[ConsumerTransaction] CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate > DATEADD(MONTH, -6, GETDATE())
		AND Amount > 0
GROUP BY CT.CINID, fanid

DROP TABLE IF EXISTS Sandbox.SandeshG.RBS_YOURSSHOPPER_290724
SELECT	CINID, fanid
INTO Sandbox.SandeshG.RBS_YOURSSHOPPER_290724
FROM  #Trans
where Txn <= 5

-- RBS:

-- ALL SEGMENTS: 

-- !!!!!!!!! -- Declare Partner ID -- !!!!!!!!! --
DECLARE	@PartnerID VARCHAR(500) = 5050

DROP TABLE IF EXISTS #SegmentAssignment_RBS
SELECT	FanID
INTO	#SegmentAssignment_RBS
FROM	Sandbox.SandeshG.RBS_YOURSSHOPPER_290724



--[ShopperSegmentTypeID] (meaning customer Segment Type ID):	Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9

---- BAU (NO Selection code needed)
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
INTO #FinalSelection_RBS
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (7, 8)					-- Update Segment Type ID for BAU offers

UNION ALL

-- Segments with BESPOKE Selection code
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
--INTO #FinalSelection_RBS
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (9)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])

DROP TABLE IF EXISTS [Selections].[YOU017_PreSelection]
	SELECT FanID
	INTO [Selections].[YOU017_PreSelection]
	FROM #FinalSelection_RBS
END
GO
