USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[TR146_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[TR146_PreSelection_sProc]
AS
BEGIN



-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 1023

-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand B
JOIN	WH_AllPublishers.Trans.BrandSECTOR BS ON BS.SectorID = B.SectorID	
WHERE	SectorName LIKE '%Transportation%'	AND CategoryID = 26	
		AND BrandID NOT IN (1177,1277)														-- EXCLUDE:		1177 Oyster Student, 1277 TFL
-------------------------------------------------------------------------------------
----RBS 
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs_low_sow') IS NOT NULL DROP TABLE #FB_rbs_low_sow
CREATE TABLE #FB_rbs_low_sow (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs_low_sow
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)



IF OBJECT_ID('tempdb..#CC_rbs_low_sow') IS NOT NULL DROP TABLE #CC_rbs_low_sow
CREATE TABLE #CC_rbs_low_sow (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs_low_sow
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #brands))



IF OBJECT_ID('tempdb..#trans_rbs_low_sow') IS NOT NULL DROP TABLE #trans_rbs_low_sow
SELECT  FanID, CT.CINID
		,1.0 * (CAST(SUM(CASE WHEN BrandID = @main_brand_id THEN Amount ELSE 0 END )as float) / NULLIF(SUM(Amount),0)) AS SoW
		,MAX(CASE WHEN BrandID = @main_brand_id AND TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date)) THEN 1 ELSE 0 END) BrandShopper
		,MAX(CASE WHEN BrandID = @main_brand_id AND TranDate >= DATEADD(MONTH,-12,cast(GETDATE() as date)) THEN 1 ELSE 0 END) Lapsed_Shopper
INTO	#Trans_rbs_low_sow
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs_low_sow cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs_low_sow fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-12,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs_low_sow(FanID)


IF OBJECT_ID('Sandbox.RukanK.RBS_Trainline_Acquire_20250328') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_Trainline_Acquire_20250328			-- 32,962 (19.02.2025)
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_Trainline_Acquire_20250328
FROM	#Trans_rbs_low_sow
WHERE	Lapsed_Shopper <> 1
GROUP BY FanID, CINID

IF OBJECT_ID('Sandbox.RukanK.RBS_Trainline_Lapsed_20250328') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_Trainline_Lapsed_20250328			-- 32,962 (19.02.2025)
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_Trainline_Lapsed_20250328
FROM	#Trans_rbs_low_sow
WHERE	BrandShopper <> 1
		AND Lapsed_Shopper = 1
GROUP BY FanID, CINID

IF OBJECT_ID('Sandbox.RukanK.RBS_Trainline_LoW_SoW_20250328') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_Trainline_LoW_SoW_20250328			-- 32,962 (19.02.2025)
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_Trainline_LoW_SoW_20250328
FROM	#Trans_rbs_low_sow
WHERE	BrandShopper = 1
		AND SoW < 0.50	
GROUP BY FanID, CINID


DROP TABLE IF EXISTS #Final

SELECT FanID
INTO #Final
FROM Sandbox.RukanK.RBS_Trainline_Acquire_20250328

UNION ALL 

SELECT FanID
FROM Sandbox.RukanK.RBS_Trainline_Lapsed_20250328

UNION ALL 

SELECT FanID
FROM Sandbox.RukanK.RBS_Trainline_LoW_SoW_20250328



IF OBJECT_ID('[WH_NWG].[Selections].[TR146_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[TR146_PreSelection]
SELECT FanID
INTO [WH_NWG].[Selections].[TR146_PreSelection]
FROM #Final

END
GO
