USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[EE004_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[EE004_PreSelection_sProc]
AS
BEGIN

------------------------------------------------------------------------------------
----RBS - EE store
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID) 


IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC
WHERE	CC.mid = '1632091'



IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)

-------------------------------------------------------------------------------------
----RBS - EE DD
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB') IS NOT NULL DROP TABLE #FB
SELECT	C.FanID
,CINID
INTO	#FB
FROM	Derived.Customer C
JOIN WH_NWG.derived.MFDD_Households hh ON c.FanID = hh.FanID
join Wh_NWG.derived.CINList cin on c.SourceUID = cin.CIN
WHERE C.CurrentlyActive = 1
		AND c.SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID)
CREATE CLUSTERED INDEX ix_CINID on #FB(FANID)


IF OBJECT_ID('tempdb..#CC') IS NOT NULL DROP TABLE #CC
SELECT	CC.BrandID
		,CC.[ConsumerCombinationID_DD]
INTO	#CC
FROM	wh_nwg.trans.ConsumerCombination_DD CC
WHERE	CC.BrandID IN (1007
)
CREATE CLUSTERED INDEX ix_ConsumerCombinationID on #CC([ConsumerCombinationID_DD])


IF OBJECT_ID('tempdb..#compsteal') IS NOT NULL DROP TABLE #compsteal
SELECT DISTINCT FB.FANID
INTO	#compsteal
FROM	WH_NWG.Trans.ConsumerTransaction_DD ct
JOIN	#CC CC ON CT.[ConsumerCombinationID_DD] = CC.[ConsumerCombinationID_DD]
JOIN	#FB FB ON CT.FanID = FB.FanID
WHERE	TranDate >= DATEADD(MONTH,-12,GETDATE())
		AND Amount > 0
GROUP BY  FB.FANID
CREATE CLUSTERED INDEX ix_CINID on #compsteal(FANID)

--combine

IF OBJECT_ID('Sandbox.JosephS.RBS_EE_DD_Shop_06122024') IS NOT NULL DROP TABLE Sandbox.JosephS.RBS_EE_DD_Shop_06122024
SELECT	FanID, CINID																													
INTO	Sandbox.JosephS.RBS_EE_DD_Shop_06122024
FROM	#FB_rbs
WHERE CINID NOT IN (SELECT CINID FROM #Trans_rbs)
AND FANID IN (SELECT FANID FROM #compsteal)


	IF OBJECT_ID('[WH_NWG].[Selections].[EE004_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[EE004_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[EE004_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.JosephS.RBS_EE_DD_Shop_06122024  st
					WHERE fb.CINID = st.CINID)

END
GO
