USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[EXO005_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[EXO005_PreSelection_sProc]
AS
BEGIN

--SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%currys%'
--SELECT TOP 10 * FROM WH_AllPublishers.Trans.Brand WHERE Brandname LIKE '%virgin%'
IF OBJECT_ID('Sandbox.CaraC.NWG_exclude_VHshopper') IS NOT NULL DROP TABLE Sandbox.CaraC.NWG_exclude_VHshopper
SELECT	distinct cl.CINID ,FanID
INTO Sandbox.CaraC.NWG_exclude_VHshopper
	FROM	WH_NWG.Derived.Customer C
	JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
	left JOIN	(select cinid 
				from WH_NWG.Trans.ConsumerTransaction ct 
				JOIN	WH_NWG.Trans.ConsumerCombination cc ON ct.consumercombinationid = cc.consumercombinationid
				where  ct.trandate >= DATEADD(MONTH, -12, CAST(GETDATE() AS DATE))
				and brandid in ('477','726'))exclu ON exclu.CinID = cl.CinID
	WHERE	C.CurrentlyActive = 1
	AND		exclu.CinID is null 
	AND		SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID)
	

	IF OBJECT_ID('[WH_NWG].[Selections].[EXO005_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[EXO005_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[EXO005_PreSelection]
	FROM Sandbox.CaraC.NWG_exclude_VHshopper  

END
GO
