USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[AMA006_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[AMA006_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	[FanID]
INTO #FB
FROM [Derived].[Customer] C
WHERE 1 = 2

DROP TABLE IF EXISTS [Selections].AMA006_PreSelection
Select FanID
INTO [Selections].AMA006_PreSelection
FROM  #FB

END
GO
