USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[MAC024_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[MAC024_PreSelection_sProc]
AS
BEGIN

/*
	FILL THESE IN
*/
declare @schema_name sysname = 'JosephS' --add the name of your personal sandbox schema
declare @table_name varchar(max) = 'Mac_compsteal_01072025' --publishers will be appended so leave them off
declare @comp_steal_months int = 12 --months to look back for comp steal
declare @comp_brandids varchar(max) = '57,265,759,933,1086,1364,1365,1366,1456,1458,1459,1542,1544,1545,1567,1568,1569,1571,1572,1634,1691,1704,1777,1858,1881,2017,2018,2098,2176,2179,2195,2198,2262,2318,2321,2374,2459,2466,2467,2642,2643,2644,2645,2654,2661,2662,2667,2687,2726,2749,2839,2840,2841,2842,2921,2922,2923,2924,2925,2927,2928,2930,2931,2932,2933,2934,2935,2936,2937,2938,2999,3022,3023,3029,3032,3044,3115,3118,3121,3122,3123,3128,3135,3144,3159,3195,3198,3205,3206,3207,3248,3249,3276,3278,3343,3344,3345,3381,3401,3453,3459,3489,3490,3503,3507,3522,3554,3560,3564,3659,3665,3667,3674,3680,3697,3698,3699,3700,3701,3702,3704,3705,3713,3726,3729,3730,3731,3732,3733,3734,3736,3738,3739,3740,3741,3742,3743,3751,3752,3753,3754,3755,3756,3757,3758,3759,3760,3786,3787,3805,3844,3930,3946,4033,4070,4142,4149,4281,4300,4307,4320,4321,4322,4323,4331,4334,4343,4344,4359,6042,6206,6274,6295,6364,6721,6771,6787,6788,6789,6790,6794,6837,6898,6903,6911' --Charlotte Tilbury,Fenty Beauty,Hourglass Cosmetics,Huda Beauty,NARS
declare	@PartnerID VARCHAR(max) = 4713
/*Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9*/
declare @bau_segments varchar(max) = '8,9'
declare @bespoke_segments varchar(max) = '7'
-----------------------------------------------------------------------------------
/*
	!
	DON'T CHANGE THESE
	!
*/
declare @table_name_rbs sysname = concat(@table_name,'_rbs')
declare @table_name_bc sysname = concat(@table_name,'_bc')
declare @table_name_vm sysname = concat(@table_name,'_vm')
declare @table_name_barclaysblue sysname = concat(@table_name,'_barclaysblue')
declare @table_name_monzo sysname = concat(@table_name,'_monzo')

declare @QualifiedName_rbs sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
declare @QualifiedName_bc sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_bc)
declare @QualifiedName_vm sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)
declare @QualifiedName_barclaysblue sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_barclaysblue)
declare @QualifiedName_monzo sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_monzo)

declare @sql_rbs_drop nvarchar(max)
declare @sql_bc_drop nvarchar(max)
declare @sql_vm_drop nvarchar(max)
declare @sql_barclaysblue_drop nvarchar(max)
declare @sql_monzo_drop nvarchar(max)

declare @sql_rbs_create nvarchar(max)
declare @sql_bc_create nvarchar(max)
declare @sql_vm_create nvarchar(max)
declare @sql_barclaysblue_create nvarchar(max)
declare @sql_monzo_create nvarchar(max)

declare @sql_rbs_selections nvarchar(max)
declare @sql_bc_selections nvarchar(max)
declare @sql_vm_selections nvarchar(max)
declare @sql_barclaysblue_selections nvarchar(max)
declare @sql_monzo_selections nvarchar(max)

declare @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
declare @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
declare @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
select distinct BrandID
into #comp_brands
from [WH_AllPublishers].[Trans].[Brand] b
where charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------

/*
	RBS
*/

/*RBS SELECTION*/

IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1 FROM [Derived].[Customer_DuplicateSourceUID] ds WHERE c.[SourceUID] = ds.[SourceUID])
;

IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (brandid int, consumercombinationid int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID	,ConsumerCombinationID
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN (select brandid from #comp_brands);

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
CREATE TABLE #trans_rbs (fanid int, cinid int not null primary key)
INSERT INTO #trans_rbs
SELECT  FanID, CT.CINID
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
;

IF OBJECT_ID(@QualifiedName_rbs) IS NOT NULL
BEGIN
	SET @sql_rbs_drop = 'DROP TABLE ' + @QualifiedName_rbs
	EXEC (@sql_rbs_drop)
END

SET @sql_rbs_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_rbs
	+ ' FROM #Trans_rbs GROUP BY FanID, CINID'
EXEC (@sql_rbs_create)
;
-----------------------------------------------------------------------------------

/* RBS SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
;
create table #SegmentAssignment_RBS (FanID int)
;
SET @sql_rbs_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_rbs
;
insert into #SegmentAssignment_RBS
exec (@sql_rbs_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_RBS') IS NOT NULL DROP TABLE #FinalSelection_RBS
;
create table #FinalSelection_RBS (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])
end
;

DROP TABLE IF EXISTS [Selections].[MAC024_PreSelection]
SELECT	FanID
INTO [Selections].[MAC024_PreSelection]
FROM #FinalSelection_RBS

END;
GO
