USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[UBE005_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[UBE005_PreSelection_sProc]
AS
BEGIN

-----------------------------------------------------------------------------------
-- RBS
-----------------------------------------------------------------------------------


IF OBJECT_ID('tempdb..#FB') IS NOT NULL DROP TABLE #FB
SELECT	CINID, FanID
INTO	#FB_RBS
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM WH_NWG.Derived.Customer_DuplicateSourceUID) 
AND AGECURRENT >= 35

IF OBJECT_ID('tempdb..#EXISTING_UBER_CUS_RBS') IS NOT NULL DROP TABLE #EXISTING_UBER_CUS_RBS
SELECT	DISTINCT CT.CINID 
INTO	#EXISTING_UBER_CUS_RBS
FROM	WH_NWG.Trans.ConsumerTransaction CT
JOIN	WH_NWG.Trans.ConsumerCombination CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
WHERE	TranDate > DATEADD(MONTH, -60, GETDATE()) -- 5 YEARS FOR RBS
		AND Amount > 0
		AND CC.BRANDID IN (2518) -- EXCLUDE UBER EATS


IF OBJECT_ID('Sandbox.SandeshG.RBS_UBER_OVER35') IS NOT NULL DROP TABLE Sandbox.SandeshG.RBS_UBER_OVER35
SELECT DISTINCT	CINID, FanID
INTO Sandbox.SandeshG.RBS_UBER_OVER35
FROM  #FB_RBS
where cinid not in (select cinid from #EXISTING_UBER_CUS_RBS)


	IF OBJECT_ID('[WH_NWG].[Selections].[UBE005_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[UBE005_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[UBE005_PreSelection]
	FROM #FB_RBS fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.SandeshG.RBS_UBER_OVER35  st
					WHERE fb.CINID = st.CINID)

END
GO
