USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[CampaignExecution_IndividualCampaign_POS]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************************************
Title:			CampaignSetup_Selection_IndividualCampaign_POS
Author:			Rory Francis
Creation Date:	2019-02-05
Purpose:		Looped selection of an indivdual Point of Sale Offer
-----------------------------------------------------------------------------------------------------
Modified Log:

Change No:	Name:			Date:			Description of change:

			
****************************************************************************************************/

CREATE PROCEDURE [Selections].[CampaignExecution_IndividualCampaign_POS]	@PartnerID CHAR(4)
																	,	@StartDate VARCHAR(10)
																	,	@EndDate VARCHAR(10)
																	,	@CampaignName VARCHAR (250)
																	,	@ClientServicesRef VARCHAR(10)
																	,	@OfferID VARCHAR(40)
																	,	@Throttling VARCHAR(200)
																	,	@RandomThrottle CHAR(1)
																	,	@MarketableByEmail VARCHAR(10)
																	,	@Gender VARCHAR(10)
																	,	@AgeRange VARCHAR(7)
																	,	@DriveTimeMins CHAR(3)
																	,	@LiveNearAnyStore CHAR(1)
																	,	@SocialClass VARCHAR(5)
																	,	@CustomerBaseOfferDate VARCHAR(10)
																	,	@SelectedInAnotherCampaign VARCHAR(20)
																	,	@DeDupeAgainstCampaigns VARCHAR(50)
																	,	@CampaignID_Include CHAR(3)
																	,	@CampaignID_Exclude CHAR(3)
																	,	@OutputTableName VARCHAR (100)
																	,	@NotIn_TableName1 VARCHAR(100)
																	,	@NotIn_TableName2 VARCHAR(100)
																	,	@NotIn_TableName3 VARCHAR(100)
																	,	@NotIn_TableName4 VARCHAR(100)
																	,	@MustBeIn_TableName1 VARCHAR(100)
																	,	@MustBeIn_TableName2 VARCHAR(100)
																	,	@MustBeIn_TableName3 VARCHAR(100)
																	,	@MustBeIn_TableName4 VARCHAR(100)
																	,	@NewCampaign CHAR(1)
																	,	@FreqStretch_TransCount INT
																	,	@ControlGroupPercentage INT
																	,	@ThrottleType CHAR(1)
																	,	@PublisherID INT

AS
BEGIN

/*

DECLARE @TestID INT = (SELECT MIN(ID) FROM [Selections].[CampaignSetup_POS] WHERE PartnerID = (SELECT MIN(PartnerID) FROM Selections.CustomerBase cb) AND EmailDate > GETDATE())


DECLARE @PartnerID CHAR(4)
	, @StartDate VARCHAR(10)
	, @EndDate VARCHAR(10)
	, @CampaignName VARCHAR (250)
	, @ClientServicesRef VARCHAR(10)
	, @OfferID VARCHAR(40)
	, @Throttling VARCHAR(200)
	, @RandomThrottle CHAR(1)
	, @MarketableByEmail VARCHAR(10)
	, @Gender VARCHAR(10)
	, @AgeRange VARCHAR(7)
	, @DriveTimeMins CHAR(3)
	, @LiveNearAnyStore CHAR(1)
	, @SocialClass VARCHAR(5)
	, @CustomerBaseOfferDate VARCHAR(10)
	, @SelectedInAnotherCampaign VARCHAR(20)
	, @DeDupeAgainstCampaigns VARCHAR(50)
	, @CampaignID_Include CHAR(3)
	, @CampaignID_Exclude CHAR(3)
	, @OutputTableName VARCHAR (100)
	, @NotIn_TableName1 VARCHAR(100)
	, @NotIn_TableName2 VARCHAR(100)
	, @NotIn_TableName3 VARCHAR(100)
	, @NotIn_TableName4 VARCHAR(100)
	, @MustBeIn_TableName1 VARCHAR(100)
	, @MustBeIn_TableName2 VARCHAR(100)
	, @MustBeIn_TableName3 VARCHAR(100)
	, @MustBeIn_TableName4 VARCHAR(100)
	, @NewCampaign CHAR(1)
	, @FreqStretch_TransCount INT
	, @ControlGroupPercentage INT
	, @ThrottleType CHAR(1)
	, @PublisherID INT



SELECT @PartnerID = PartnerID
	 , @StartDate = StartDate
	 , @EndDate = EndDate
	 , @CampaignName = CampaignName
	 , @ClientServicesRef = ClientServicesRef
	 , @OfferID = OfferID
	 , @Throttling = Throttling
	 , @ThrottleType = ThrottleType
	 , @RandomThrottle = RandomThrottle
	 , @MarketableByEmail = MarketableByEmail
	 , @Gender = Gender
	 , @AgeRange = AgeRange
	 , @DriveTimeMins = DriveTimeMins
	 , @LiveNearAnyStore = LiveNearAnyStore
	 , @SocialClass = SocialClass
	 , @CustomerBaseOfferDate = CustomerBaseOfferDate
	 , @SelectedInAnotherCampaign = SelectedInAnotherCampaign
	 , @DeDupeAgainstCampaigns = DeDupeAgainstCampaigns
	 , @CampaignID_Include = CampaignID_Include
	 , @CampaignID_Exclude = CampaignID_Exclude
	 , @OutputTableName = OutputTableName
	 , @NotIn_TableName1 = NotIn_TableName1
	 , @NotIn_TableName2 = NotIn_TableName2
	 , @NotIn_TableName3 = NotIn_TableName3
	 , @NotIn_TableName4 = NotIn_TableName4
	 , @MustBeIn_TableName1 = MustBeIn_TableName1
	 , @MustBeIn_TableName2 = MustBeIn_TableName2
	 , @MustBeIn_TableName3 = MustBeIn_TableName3
	 , @MustBeIn_TableName4 = MustBeIn_TableName4
	 , @NewCampaign = NewCampaign
	 , @FreqStretch_TransCount = FreqStretch_TransCount
	 , @ControlGroupPercentage = ControlGroupPercentage
	 , @PublisherID = PublisherID
FROM [Selections].[CampaignSetup_POS]
WHERE ID = 55796

*/

	/*******************************************************************************************************************************************
		1.	Prepare parameters for script
	*******************************************************************************************************************************************/
	
		DECLARE @StoredProcedureName VARCHAR(100) = COALESCE(OBJECT_NAME(@@PROCID), 'CampaignExecution_IndividualCampaign_POS')
			,	@RowsAffected INT
			,	@Query VARCHAR(MAX)

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

		DECLARE	@SQLCode NVARCHAR(MAX)
			,	@Time DATETIME
			,	@SSMS BIT = NULL
			,	@Msg VARCHAR(2048)

		DECLARE @SocialClassFilter VARCHAR(10) = @SocialClass 

		IF @MarketableByEmail = '' SET @MarketableByEmail = '0,1'
		IF @Gender = '' SET @Gender = 'U,M,F'
		IF @AgeRange = '' SET @AgeRange = '0-999'
		IF @SocialClass = '' SET @SocialClass = 'AB-DE'

		DECLARE @Offer1 INT
			  , @Offer2 INT
			  , @Offer3 INT
			  , @Offer4 INT
			  , @Offer5 INT
			  , @Offer6 INT
			  , @ShopperSegments VARCHAR(15)
			  , @ShopperSegment VARCHAR(15) = 7
			  , @MustBeIn_TableCount INT = 0
			  , @Dedupe BIT = 1
			  , @HomemoverDate DATE = DATEADD(day, -31, @StartDate)
			  , @ActivatedDate DATE = DATEADD(day, -31, @StartDate)
			  , @EndDateTime DATETIME = DATEADD(second, -1, CONVERT(DATETIME, DATEADD(day, 1, @EndDate)))
			  , @AgeRange_Min INT = LEFT(@AgeRange, CHARINDEX('-', @AgeRange) - 1)
			  , @AgeRange_Max INT = RIGHT(@AgeRange, LEN(@AgeRange) - CHARINDEX('-', @AgeRange))
			  , @SocialClass_Min VARCHAR(5) = LEFT(@SocialClass, CHARINDEX('-', @SocialClass) - 1)
			  , @SocialClass_Max VARCHAR(5) = RIGHT(@SocialClass, LEN(@SocialClass) - CHARINDEX('-', @SocialClass))
			  , @TotalCustomers INT = (SELECT COUNT(*) FROM [Derived].[Customer])
			  , @IsThrottleApplied INT = 0
			  , @FreqStretch_TransDate DATE = DATEADD(day, -364, @StartDate)
			  , @ControlGroupEndDate DATE = (SELECT MAX([EndDate]) FROM [Selections].[CampaignSetup_POS] WHERE [ClientServicesRef] = @ClientServicesRef)
			  
	/*******************************************************************************************************************************************
		2.	Create tables to hold details previously held in comma seperated column
	*******************************************************************************************************************************************/
			
			/***********************************************************************************************************************
				2.1.	Offer details
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #OfferIDs
				CREATE TABLE #OfferIDs ([ShopperSegmentTypeID] INT
									,	[IronOfferID] INT
									,	[Throttling] BIGINT);

				;WITH
				OfferIDs AS (	SELECT	[ShopperSegmentTypeID] = '7,8,9,10,11,12'
									,	[IronOfferID] = @OfferID
									,	[Throttling] = @Throttling)

				INSERT INTO #OfferIDs (	[ShopperSegmentTypeID]
									,	[IronOfferID]
									,	[Throttling])
				SELECT	[ShopperSegmentTypeID] = sst.[Item]
					,	[IronOfferID] = iof.[Item]
					,	[Throttling] =	CASE
											WHEN thr.[Item] = 0 THEN @TotalCustomers
											ELSE thr.[Item]
									   END
				FROM OfferIDs
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (ShopperSegmentTypeID, ',') sst
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (IronOfferID, ',') iof
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (Throttling, ',') thr
				WHERE sst.[ItemNumber] = iof.[ItemNumber]
				AND iof.[ItemNumber] = thr.[ItemNumber]
				AND iof.[Item] != 0

				SET @RowsAffected = @@ROWCOUNT;
		
				CREATE CLUSTERED INDEX [CIX_ShopperSegmentTypeID] ON #OfferIDs ([ShopperSegmentTypeID])
			
					/***********************************************************************************************************************
						2.1.1.	If PartnerID does not match the PartnerID linked to each offer then exit
					***********************************************************************************************************************/
					
							IF EXISTS (SELECT 1
									   FROM #OfferIDs o
									   INNER JOIN [WH_AllPublishers].[Derived].[Offer] o2
										   ON o.[IronOfferID] = o2.[IronOfferID]
										   AND o2.[PartnerID] != @PartnerID)
								BEGIN
									PRINT 'PartnerID linked to campaign does not match the PartnerID the selected offers have been set up under'
									RETURN
								END
			
					/***********************************************************************************************************************
						2.1.2.	Check whether there is any throttling
					***********************************************************************************************************************/
			
						SELECT @IsThrottleApplied = CASE WHEN SUM([Throttling]) = COUNT(*) * @TotalCustomers THEN 0 ELSE 1 END
						FROM #OfferIDs

				SET @msg = 'Loaded #OfferIDs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

			/***********************************************************************************************************************
				2.2.	Gender details
			***********************************************************************************************************************/

			--	DECLARE	@Gender VARCHAR(10) = 'M'

				DROP TABLE IF EXISTS #Gender
				CREATE TABLE #Gender ([Gender] VARCHAR(1));

				;WITH
				Gender AS (SELECT	[Gender] = @Gender)
				
				INSERT INTO #Gender ([Gender])
				SELECT	[Gender] = [Item]
				FROM Gender
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] ([Gender], ',') ge

				SET @RowsAffected = @@ROWCOUNT;
				SET @RowsAffected = @RowsAffected + @@ROWCOUNT;
		
				CREATE CLUSTERED INDEX [CIX_Gender] on #Gender ([Gender])
			
			/***********************************************************************************************************************
				2.3.	Marketable By Email details
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #MarketableByEmail
				CREATE TABLE #MarketableByEmail ([MarketableByEmail] VARCHAR(1));

				;WITH
				MarketableByEmail AS (SELECT	[MarketableByEmail] = @MarketableByEmail)
				
				INSERT INTO #MarketableByEmail ([MarketableByEmail])
				SELECT	[MarketableByEmail] = [Item]
				FROM MarketableByEmail
				CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] ([MarketableByEmail], ',') mbe

				SET @RowsAffected = @RowsAffected + @@ROWCOUNT;
				
				CREATE CLUSTERED INDEX [CIX_MarketableByEmail] on #MarketableByEmail ([MarketableByEmail])
			
			/***********************************************************************************************************************
				2.3.	Age range details
			***********************************************************************************************************************/

				DROP TABLE IF EXISTS #AgeRanges
				SELECT @AgeRange_Min AS AgeCurrent
				INTO #AgeRanges

				;WITH
				AgeTally AS (	SELECT [ID] = ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1
								FROM [sys].[tables])

				INSERT INTO #AgeRanges
				SELECT	[AgeCurrent] = [ID]
				FROM AgeTally
				WHERE [ID] BETWEEN @AgeRange_Min AND @AgeRange_Max

				SET @RowsAffected = @RowsAffected + @@ROWCOUNT;

				CREATE CLUSTERED INDEX [CIX_AgeCurrent] ON #AgeRanges ([AgeCurrent])
			
			/***********************************************************************************************************************
				2.4.	Social class details
			***********************************************************************************************************************/
			
				DROP TABLE IF EXISTS #SocialClass
				SELECT	DISTINCT
						cc.[Social_Class]
				INTO #SocialClass
				FROM [WH_AllPublishers].[Derived].[CAMEO_CODE] cc
				WHERE cc.[Social_Class] BETWEEN @SocialClass_Min AND @SocialClass_Max
				
				SET @RowsAffected = @RowsAffected + @@ROWCOUNT;

				CREATE CLUSTERED INDEX [CIX_Social_Class] ON #SocialClass ([Social_Class])

				SET @msg = 'Loaded Demographic data [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

	/*******************************************************************************************************************************************
		3.	Find customers already on or previously an offer for this partner
	*******************************************************************************************************************************************/
	
		/***********************************************************************************************************************
			3.1.	Fetch all customers that are currently have an existing offer membership for this partner
		***********************************************************************************************************************/

					/***********************************************************************************************************************
						3.1.1.	Fetch all live offers for this partner
					***********************************************************************************************************************/

						DROP TABLE IF EXISTS #LiveOfferPerPartner
						SELECT	o.[IronOfferID]
						INTO #LiveOfferPerPartner
						FROM [WH_AllPublishers].[Derived].[Offer] o
						WHERE [PartnerID] = @PartnerID
						AND (o.[EndDate] > @StartDate OR o.[EndDate] IS NULL)
						AND o.[IsSignedOff] = 1

						SET @RowsAffected = @@ROWCOUNT;

						CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #LiveOfferPerPartner ([IronOfferID])

						SET @msg = 'Loaded #LiveOfferPerPartner [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
						EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg
	
					/***********************************************************************************************************************
						3.1.2.	Fetch all customers assigned offers for this partner
					***********************************************************************************************************************/

						DROP TABLE IF EXISTS #CustomersOnOfferAlready
						SELECT	iom.[CompositeID]
						INTO #CustomersOnOfferAlready
					--	FROM [Derived].[IronOfferMember] iom
						FROM [Warehouse].[Relational].[IronOfferMember] iom
						WHERE iom.[EndDate] > @StartDate
						AND EXISTS (SELECT 1
									FROM #LiveOfferPerPartner lopp
									WHERE iom.[IronOfferID] = lopp.[IronOfferID])

						SET @RowsAffected = @@ROWCOUNT;

					--	INSERT INTO #CustomersOnOfferAlready
					--	SELECT	iom.[CompositeID]
					--	FROM [Derived].[IronOfferMember] iom
					--	WHERE iom.[EndDate] IS NULL
					--	AND EXISTS (SELECT 1
					--				FROM #LiveOfferPerPartner lopp
					--				WHERE iom.[IronOfferID] = lopp.[IronOfferID])
					--
					--	SET @RowsAffected = @RowsAffected + @@ROWCOUNT;

						CREATE CLUSTERED INDEX [CIX_CompositeID] ON #CustomersOnOfferAlready (CompositeID)

						SET @msg = 'Loaded #CustomersOnOfferAlready [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
						EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg
	
		/***********************************************************************************************************************
			3.2.	Fetch control group customers
		***********************************************************************************************************************/
			
			DROP TABLE IF EXISTS #ControlGroupCustomers
			SELECT	cu.[CompositeID]
			INTO #ControlGroupCustomers
			FROM [WH_AllPublishers].[Selections].[ControlGroupMembers_InProgram] cg
			INNER JOIN [Derived].[Customer] cu
				ON cg.[FanID] = cu.[FanID]
			WHERE cg.[PartnerID] = @PartnerID
			AND cg.[EndDate] >= @StartDate
			OPTION(RECOMPILE)

			SET @RowsAffected = @@ROWCOUNT;
			
			CREATE CLUSTERED INDEX [CIX_CompositeID] ON #ControlGroupCustomers ([CompositeID]) WITH (DATA_COMPRESSION = ROW, FILLFACTOR = 80, SORT_IN_TEMPDB = ON)

			SET @msg = 'Loaded #ControlGroupCustomers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg
			
		/*******************************************************************************************************************************************
			3.3.	Exec competitior steal campaigns where required
		*******************************************************************************************************************************************/
	
			--IF @CampaignID_Include != ''
			--	BEGIN
			--		EXEC [Selections].[Partner_GenerateTriggerMember] @CampaignID_Include
			--	END

			--IF @CampaignID_Exclude != ''
			--	BEGIN
			--		EXEC [Selections].[Partner_GenerateTriggerMember] @CampaignID_Exclude
			--	END

		/*******************************************************************************************************************************************
			3.4.	If campaign is targeting universe of previous campaign then fetch those customers
		*******************************************************************************************************************************************/
		
			IF @SelectedInAnotherCampaign != ''
				BEGIN
				
					/***********************************************************************************************************************
						3.4.1.	Create table storing each ClientServiceReference to build universe from
					***********************************************************************************************************************/
	
						DROP TABLE IF EXISTS #SelectedInAnotherCampaign
						CREATE TABLE #SelectedInAnotherCampaign (	[ClientServicesRef] VARCHAR(250)
																,	[IronOfferID] INT);
	
						;WITH
						SelectedInAnotherCampaign AS (SELECT	[ClientServicesRef] = @SelectedInAnotherCampaign)
					
						INSERT INTO #SelectedInAnotherCampaign ([ClientServicesRef]
															,	[IronOfferID])
						SELECT	[ClientServicesRef] = mbe.[Item]
							,	[IronOfferID] = htm.[IronOfferID]
						FROM SelectedInAnotherCampaign
						CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] ([ClientServicesRef], ',') mbe
						INNER JOIN [Derived].[IronOffer_Campaign_HTM] htm
							ON mbe.[Item] = htm.[ClientServicesRef]
	
						CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #SelectedInAnotherCampaign ([IronOfferID])
					
								
					/***********************************************************************************************************************
						3.4.2.	Store customers that have been previously exposed to the given campaigns
					***********************************************************************************************************************/
	
						DROP TABLE IF EXISTS #SelectedInAnotherCampaignCustomers
						SELECT	DISTINCT
								iom.[CompositeID]
						INTO #SelectedInAnotherCampaignCustomers
					--	FROM [Derived].[IronOfferMember] iom
						FROM [Warehouse].[Relational].[IronOfferMember] iom
						WHERE EXISTS (SELECT 1
									  FROM #SelectedInAnotherCampaign siac
									  Where iom.[IronOfferID] = siac.[IronOfferID])

						SET @RowsAffected = @@ROWCOUNT;
				
					/***********************************************************************************************************************
						3.4.3.	Add in customers that have joined since that point if there's a welcome offer running
					***********************************************************************************************************************/

						IF EXISTS (SELECT 1 FROM #OfferIDs WHERE [ShopperSegmentTypeID] = 10)
							BEGIN

								INSERT INTO #SelectedInAnotherCampaignCustomers
								SELECT	c.[CompositeID]
								FROM [Derived].[Customer] c
								WHERE c.[RegistrationDate] > @ActivatedDate

							END
	
						CREATE CLUSTERED INDEX [CIX_CompositeID] ON #SelectedInAnotherCampaignCustomers ([CompositeID]) WITH (DATA_COMPRESSION = ROW, FILLFACTOR = 80, SORT_IN_TEMPDB = ON)

						SET @msg = 'Loaded #SelectedInAnotherCampaignCustomers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
						EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg
					
				END	--	IF @SelectedInAnotherCampaign != ''


		/*******************************************************************************************************************************************
			3.5.	Find customers previously selected in this campaign
		*******************************************************************************************************************************************/
		
			IF @CustomerBaseOfferDate IS NOT NULL
				BEGIN
		
					/***********************************************************************************************************************
						3.5.1.	Fetch all offers that have run in this campaign
					***********************************************************************************************************************/
	
						DROP TABLE IF EXISTS #ExistingUniverseOffers
						SELECT	DISTINCT
								o.[IronOfferID]
						INTO #ExistingUniverseOffers
						FROM [WH_AllPublishers].[Derived].[Offer] o
						INNER JOIN [Derived].[IronOffer_Campaign_HTM] htm
							ON o.[IronOfferID] = htm.[IronOfferID]
						WHERE htm.[ClientServicesRef] = @ClientServicesRef
	
						CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #ExistingUniverseOffers ([IronOfferID])
		
					/***********************************************************************************************************************
						3.5.2.	Fetch all customers that have been assigned any of the previous offers
					***********************************************************************************************************************/
	
						DROP TABLE IF EXISTS #ExistingUniverse
						SELECT	eu.[CompositeID]
						INTO #ExistingUniverse
						FROM [Selections].[CampaignExecution_ExistingUniverse] eu
						WHERE EXISTS (SELECT 1
									  FROM #ExistingUniverseOffers euo
									  WHERE eu.[IronOfferID] = euo.[IronOfferID]
									  AND eu.[StartDate] = @CustomerBaseOfferDate)
	
						SET @RowsAffected = @@ROWCOUNT;
				
					/***********************************************************************************************************************
						3.5.3.	Add in customers that have joined since that point if there's a welcome offer running
					***********************************************************************************************************************/

						IF EXISTS (SELECT 1 FROM #OfferIDs WHERE [ShopperSegmentTypeID] = 10)
							BEGIN

								INSERT INTO #ExistingUniverse
								SELECT	c.[CompositeID]
								FROM [Derived].[Customer] c
								WHERE c.[RegistrationDate] > @ActivatedDate

							END

	
						CREATE CLUSTERED INDEX [CIX_CompositeID] ON #ExistingUniverse ([CompositeID]) WITH (DATA_COMPRESSION = ROW, FILLFACTOR = 80, SORT_IN_TEMPDB = ON)
						
						SET @msg = 'Loaded #ExistingUniverse [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
						EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg
					
				END	--	IF @CustomerBaseOfferDate IS NOT NULL



		/*******************************************************************************************************************************************
			3.6.	Find customers living within designated drivetime
		*******************************************************************************************************************************************/
				
			IF @LiveNearAnyStore = 1 AND @DriveTimeMins != ''
				BEGIN
		
					/***********************************************************************************************************************
						3.6.1.	Fetch all postal sectors of the stores for this partner
					***********************************************************************************************************************/

						DROP TABLE IF EXISTS #PostalSectors
						SELECT	DISTINCT
								o.[PostalSector]
						INTO #PostalSectors
						FROM [WH_AllPublishers].[Derived].[Outlet] o
						WHERE o.[PartnerID] = @PartnerID
						AND o.[Status] = 1
		
					/***********************************************************************************************************************
						3.6.2.	Fetch all customers within desginated drive time of the previous postal sectors
					***********************************************************************************************************************/
					
						DROP TABLE IF EXISTS #CustomersWithinDrivetime
						SELECT	DISTINCT
								cu.[CompositeID]
						INTO #CustomersWithinDrivetime
						FROM [Derived].[Customer] cu
						WHERE EXISTS (	SELECT 1
										FROM [WH_AllPublishers].[Derived].[DriveTimeMatrix] dtm
										INNER JOIN #PostalSectors ps
											ON dtm.[ToSector] = ps.[PostalSector]
											AND dtm.[DriveTimeMins] <= @DriveTimeMins
										WHERE cu.[PostalSector] = dtm.[FROMSector])
							
						CREATE CLUSTERED INDEX [CIX_CompositeID] ON #CustomersWithinDrivetime ([CompositeID])

						SET @RowsAffected = @@ROWCOUNT;
						
						SET @msg = 'Loaded #CustomersWithinDrivetime [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
						EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END	--	IF @LiveNearAnyStore = 1 AND @DriveTimeMins != ''

	/*******************************************************************************************************************************************
		4.	Build customer base exclusions
	*******************************************************************************************************************************************/
			
		/***********************************************************************************************************************
			4.1.	Create Exclusions table
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #CustomersToExclude
			CREATE TABLE #CustomersToExclude ([CompositeID] BIGINT)

			CREATE CLUSTERED INDEX [CIX_Comp] ON #CustomersToExclude ([CompositeID]) WITH (FILLFACTOR = 70)
			
		/***********************************************************************************************************************
			4.2.	Customers already assigned in selections
		***********************************************************************************************************************/

			INSERT INTO #CustomersToExclude
			SELECT	[CompositeID]
			FROM [Selections].[CampaignExecution_PartnerDedupe] pd
			WHERE NOT EXISTS (	SELECT 1
								FROM #CustomersToExclude cte
								WHERE pd.[CompositeID] = cte.[CompositeID])

			SET @RowsAffected = @@ROWCOUNT;
						
			SET @msg = 'Loaded #CustomersToExclude from [CampaignExecution_PartnerDedupe] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg
			
		/***********************************************************************************************************************
			4.3.	Gender details
		***********************************************************************************************************************/

			IF @Gender != 'U,M,F'
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE NOT EXISTS (	SELECT 1
										FROM #Gender ge
										WHERE cb.[Gender] = ge.[Gender])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #Gender [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.4.	Marketable By Email details
		***********************************************************************************************************************/
				
			IF @MarketableByEmail != '0,1'
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE NOT EXISTS (	SELECT 1
										FROM #MarketableByEmail mbe
										WHERE cb.[MarketableByEmail] = mbe.[MarketableByEmail])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #MarketableByEmail [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.5.	Age range details
		***********************************************************************************************************************/
				
			IF @AgeRange != '0-999'
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE NOT EXISTS (	SELECT 1
										FROM #AgeRanges ar
										WHERE cb.[AgeCurrent] = ar.[AgeCurrent])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #AgeRanges [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.6.	Social class details
		***********************************************************************************************************************/
				
			IF @SocialClass != 'AB-DE'
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer_PII] cb
					WHERE NOT EXISTS (	SELECT 1
										FROM [WH_AllPublishers].[Derived].[CAMEO] ca
										INNER JOIN [WH_AllPublishers].[Derived].[CAMEO_CODE] cc
											ON cc.[CAMEO_CODE] = ca.[CAMEO_CODE]
										INNER JOIN #SocialClass sc
											ON cc.[Social_Class] = sc.[Social_Class]
										WHERE cb.[Postcode] = ca.[Postcode])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #SocialClass [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.7.	Fetch all customers that are currently have an existing offer membership for this partner
		***********************************************************************************************************************/
				
			IF (SELECT COUNT(*) FROM #CustomersOnOfferAlready) > 0
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE EXISTS (	SELECT 1
									FROM #CustomersOnOfferAlready cooa
									WHERE cb.[CompositeID] = cooa.[CompositeID])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #CustomersOnOfferAlready [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.8.	Fetch control group customers
		***********************************************************************************************************************/
				
			IF (SELECT COUNT(*) FROM #ControlGroupCustomers) > 0
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE EXISTS (	SELECT 1
									FROM #ControlGroupCustomers cgc
									WHERE cb.[CompositeID] = cgc.[CompositeID])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #ControlGroupCustomers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.9.	Exec competitior steal campaigns where required - Include
		***********************************************************************************************************************/
				
			--IF @CampaignID_Include != ''
			--	BEGIN
				
			--		INSERT INTO #CustomersToExclude
			--		SELECT	[CompositeID]
			--		FROM [Relational].[Customer] cb
			--		WHERE NOT EXISTS (	SELECT 1
			--							FROM [Relational].[PartnerTrigger_Members] ptm
			--							WHERE cb.[FanID] = ptm.[FanID]
			--							AND ptm.[CampaignID] = @CampaignID_Include)
			--		AND NOT EXISTS (	SELECT 1
			--							FROM #CustomersToExclude cte
			--							WHERE cb.[CompositeID] = cte.[CompositeID])
						
			--		INSERT INTO [Selections].[CampaignExecution_Log]
			--		SELECT	[StoredProcedureName] = 'CampaignSetup_Selection_IndividualCampaign_POS'
			--			,	[Step] = 'Build customer base exclusions'
			--			,	[Action] = 'Exec competitior steal campaigns where required - Include'
			--			,	[PartnerID] = @PartnerID
			--			,	[ClientServicesRef] = @ClientServicesRef
			--			,	[OfferID] = @OfferID
			--			,	[Date] = GETDATE()

			--	END
			
		/***********************************************************************************************************************
			4.10.	Exec competitior steal campaigns where required - Exclude
		***********************************************************************************************************************/
				
			--IF @CampaignID_Exclude != ''
			--	BEGIN
				
			--		INSERT INTO #CustomersToExclude
			--		SELECT	[CompositeID]
			--		FROM [Relational].[Customer] cb
			--		WHERE EXISTS (	SELECT 1
			--						FROM [Relational].[PartnerTrigger_Members] ptm
			--						WHERE cb.[FanID] = ptm.[FanID]
			--						AND ptm.[CampaignID] = @CampaignID_Exclude)
			--		AND NOT EXISTS (	SELECT 1
			--							FROM #CustomersToExclude cte
			--							WHERE cb.[CompositeID] = cte.[CompositeID])
						
			--		INSERT INTO [Selections].[CampaignExecution_Log]
			--		SELECT	[StoredProcedureName] = 'CampaignSetup_Selection_IndividualCampaign_POS'
			--			,	[Step] = 'Build customer base exclusions'
			--			,	[Action] = 'Exec competitior steal campaigns where required - Exclude'
			--			,	[PartnerID] = @PartnerID
			--			,	[ClientServicesRef] = @ClientServicesRef
			--			,	[OfferID] = @OfferID
			--			,	[Date] = GETDATE()

			--	END
			
		/***********************************************************************************************************************
			4.11.	If campaign is targeting universe of previous campaign then fetch those customers
		***********************************************************************************************************************/
				
			IF @SelectedInAnotherCampaign != ''
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE NOT EXISTS (	SELECT 1
										FROM #SelectedInAnotherCampaignCustomers siac
										WHERE cb.[CompositeID] = siac.[CompositeID])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #SelectedInAnotherCampaignCustomers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.12.	Add in customers that have joined since that point if there's a welcome offer running
		***********************************************************************************************************************/
				
			IF @CustomerBaseOfferDate IS NOT NULL
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE NOT EXISTS (	SELECT 1
										FROM #ExistingUniverse eu
										WHERE cb.[CompositeID] = eu.[CompositeID])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #ExistingUniverse [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.13.	Find customers living within designated drivetime
		***********************************************************************************************************************/
				
			IF @LiveNearAnyStore = 1 AND @DriveTimeMins != ''
				BEGIN
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE NOT EXISTS (	SELECT 1
										FROM #CustomersWithinDrivetime eu
										WHERE cb.[CompositeID] = eu.[CompositeID])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #CustomersWithinDrivetime [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END
			
		/***********************************************************************************************************************
			4.14.	Fetch customers from the MustBeIn tables
		***********************************************************************************************************************/

			IF OBJECT_ID(@MustBeIn_TableName1) IS NOT NULL SET @MustBeIn_TableCount = @MustBeIn_TableCount + 1
			IF OBJECT_ID(@MustBeIn_TableName2) IS NOT NULL SET @MustBeIn_TableCount = @MustBeIn_TableCount + 1
			IF OBJECT_ID(@MustBeIn_TableName3) IS NOT NULL SET @MustBeIn_TableCount = @MustBeIn_TableCount + 1
			IF OBJECT_ID(@MustBeIn_TableName4) IS NOT NULL SET @MustBeIn_TableCount = @MustBeIn_TableCount + 1

			IF @MustBeIn_TableCount > 0
				BEGIN

					DROP TABLE IF EXISTS #MustBeIn_TableName_Temp
					CREATE TABLE #MustBeIn_TableName_Temp (FanID BIGINT)

					IF OBJECT_ID(@MustBeIn_TableName1) IS NOT NULL
						BEGIN
							SET @SQLCode = 'INSERT INTO #MustBeIn_TableName_Temp SELECT [FanID] FROM ' + @MustBeIn_TableName1
							EXEC (@SQLCode)
						END

					IF OBJECT_ID(@MustBeIn_TableName2) IS NOT NULL
						BEGIN
							SET @SQLCode = 'INSERT INTO #MustBeIn_TableName_Temp SELECT [FanID] FROM ' + @MustBeIn_TableName2
							EXEC (@SQLCode)
						END

					IF OBJECT_ID(@MustBeIn_TableName3) IS NOT NULL
						BEGIN
							SET @SQLCode = 'INSERT INTO #MustBeIn_TableName_Temp SELECT [FanID] FROM ' + @MustBeIn_TableName3
							EXEC (@SQLCode)
						END

					IF OBJECT_ID(@MustBeIn_TableName4) IS NOT NULL
						BEGIN
							SET @SQLCode = 'INSERT INTO #MustBeIn_TableName_Temp SELECT [FanID] FROM ' + @MustBeIn_TableName4
							EXEC (@SQLCode)
						END

					DROP TABLE IF EXISTS #MustBeIn_TableName
					SELECT [FanID]
					INTO #MustBeIn_TableName
					FROM #MustBeIn_TableName_Temp
					GROUP BY FanID
					HAVING COUNT(1) = @MustBeIn_TableCount
					OPTION (RECOMPILE);

					CREATE CLUSTERED INDEX CIX_MustBeIn_FanID ON #MustBeIn_TableName ([FanID])
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE NOT EXISTS (	SELECT 1
										FROM #MustBeIn_TableName mbi
										WHERE cb.[FanID] = mbi.[FanID])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #MustBeIn_TableName [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END	--	IF @MustBeIn_TableCount > 0
			
		/***********************************************************************************************************************
			4.15.	Fetch customers from the NotIn tables
		***********************************************************************************************************************/

			IF LEN(@NotIn_TableName1 + @NotIn_TableName2 + @NotIn_TableName3 + @NotIn_TableName4) > 0
				BEGIN

					DROP TABLE IF EXISTS #NotIn_TableName
					CREATE TABLE #NotIn_TableName (FanID BIGINT)

					IF OBJECT_ID(@NotIn_TableName1) IS NOT NULL
						BEGIN
							SET @SQLCode = 'INSERT INTO #NotIn_TableName SELECT FanID FROM ' + @NotIn_TableName1
							EXEC (@SQLCode)
						END

					IF OBJECT_ID(@NotIn_TableName2) IS NOT NULL
						BEGIN
							SET @SQLCode = 'INSERT INTO #NotIn_TableName SELECT FanID FROM ' + @NotIn_TableName2
							EXEC (@SQLCode)
						END

					IF OBJECT_ID(@NotIn_TableName3) IS NOT NULL
						BEGIN
							SET @SQLCode = 'INSERT INTO #NotIn_TableName SELECT FanID FROM ' + @NotIn_TableName3
							EXEC (@SQLCode)
						END

					IF OBJECT_ID(@NotIn_TableName4) IS NOT NULL
						BEGIN
							SET @SQLCode = 'INSERT INTO #NotIn_TableName SELECT FanID FROM ' + @NotIn_TableName4
							EXEC (@SQLCode)
						END
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE EXISTS (	SELECT 1
									FROM #NotIn_TableName ni
									WHERE cb.[FanID] = ni.[FanID])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #NotIn_TableName [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

			END	--	IF LEN(@NotIn_TableName1 + @NotIn_TableName2 + @NotIn_TableName3 + @NotIn_TableName4) > 0
			
		/***********************************************************************************************************************
			4.16.	Remove customers that have meet the designated amount of purchases per campaign
		***********************************************************************************************************************/
	
			IF @FreqStretch_TransCount > 0
				BEGIN

					DROP TABLE IF EXISTS #CustomersWithMultipleTrans
					SELECT	pt.[FanID]
						,	pt.[IronOfferID]
						,	[ValidTransactions]	=	SUM(CASE
															WHEN [TransactionAmount] > 0 THEN 1
															ELSE -1
													   END)
					INTO #CustomersWithMultipleTrans
					FROM [Derived].[PartnerTrans] pt
					WHERE EXISTS (SELECT 1
								  FROM #OfferIDs iof
								  WHERE pt.[IronOfferID] = iof.[IronOfferID])
					GROUP BY	pt.[IronOfferID]
							,	pt.[FanID]
					HAVING COUNT(1) >= @FreqStretch_TransCount
					OPTION (RECOMPILE);

					DELETE
					FROM #CustomersWithMultipleTrans
					WHERE ValidTransactions < @FreqStretch_TransCount
					OPTION (RECOMPILE);
				
					INSERT INTO #CustomersToExclude
					SELECT	[CompositeID]
					FROM [Derived].[Customer] cb
					WHERE EXISTS (	SELECT 1
									FROM #CustomersWithMultipleTrans cwmt
									WHERE cb.[FanID] = cwmt.[FanID])
					AND NOT EXISTS (	SELECT 1
										FROM #CustomersToExclude cte
										WHERE cb.[CompositeID] = cte.[CompositeID])

					SET @RowsAffected = @@ROWCOUNT;
						
					SET @msg = 'Loaded #CustomersToExclude from #CustomersWithMultipleTrans [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
					EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				END	--	IF @FreqStretch_TransCount > 0

	/*******************************************************************************************************************************************
		5.	Build customer base
	*******************************************************************************************************************************************/

		/***********************************************************************************************************************
			5.1.	Fetch Customer Base
		***********************************************************************************************************************/
				
			DROP TABLE IF EXISTS #CustomerBase_MyRewards
			SELECT	cu.[FanID]
				 ,	cu.[CompositeID]
				 ,	sg.[ShopperSegmentTypeID]
				 ,	[ControlGroupCustomer] = 0
			INTO #CustomerBase_MyRewards
			FROM [Derived].[Customer] cu
			INNER JOIN [Segmentation].[Roc_Shopper_Segment_Members] sg
				ON cu.[FanID] = sg.[FanID]
			WHERE sg.[PartnerID] = @PartnerID
			AND sg.[EndDate] IS NULL
			AND cu.[ClubID] = @PublisherID
			AND NOT EXISTS (	SELECT 1
								FROM #CustomersToExclude cte
								WHERE cu.[CompositeID] = cte.[CompositeID])
			OPTION (RECOMPILE)

			SET @RowsAffected = @@ROWCOUNT;
						
			SET @msg = 'Loaded #CustomerBase_MyRewards [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

			CREATE CLUSTERED INDEX CIX_FanID ON #CustomerBase_MyRewards ([ShopperSegmentTypeID], [FanID]) WITH (DATA_COMPRESSION = PAGE, FILLFACTOR = 80, SORT_IN_TEMPDB = ON)
			--CREATE NONCLUSTERED INDEX IX_Comp_Seg ON #CustomerBase_MyRewards (CompositeID) INCLUDE ([ShopperSegmentTypeID]) WITH (DATA_COMPRESSION = PAGE, FILLFACTOR = 80, SORT_IN_TEMPDB = ON)
			--CREATE NONCLUSTERED INDEX IX_Seg_CompFanControl ON #CustomerBase_MyRewards ([ShopperSegmentTypeID]) INCLUDE (FanID, CompositeID, ControlGroupCustomer) WITH (DATA_COMPRESSION = PAGE, FILLFACTOR = 80, SORT_IN_TEMPDB = ON)

		/***********************************************************************************************************************
			5.2.	Update ShopperSegmentTypeID
		***********************************************************************************************************************/
			
			/***********************************************************************************************************************
				5.2.1.	Update welcome details
			***********************************************************************************************************************/

			--	IF EXISTS (SELECT 1 FROM #OfferIDs WHERE [ShopperSegmentTypeID] = 10)
			--		BEGIN
			--
			--			UPDATE cb
			--			SET cb.[ShopperSegmentTypeID] = 10
			--			FROM #CustomerBase_MyRewards cb
			--			WHERE cb.[ShopperSegmentTypeID] NOT IN (10, 11, 12)
			--			AND EXISTS (SELECT 1
			--						FROM [Derived].[Customer] cu
			--						WHERE cb.[CompositeID] = cu.[CompositeID]
			--						AND cu.[RegistrationDate] > @ActivatedDate)
			--			OPTION (RECOMPILE);
			--
			--		END

			
			/***********************************************************************************************************************
				5.2.2.	Update birthday details
			***********************************************************************************************************************/

			--	IF EXISTS (SELECT 1 FROM #OfferIDs WHERE [ShopperSegmentTypeID] = 11)
			--		BEGIN
			--
			--			UPDATE cb
			--			SET cb.[ShopperSegmentTypeID] = 11
			--			FROM #CustomerBase_MyRewards cb
			--			WHERE cb.[ShopperSegmentTypeID] NOT IN (10, 11, 12)
			--			AND EXISTS (SELECT 1
			--						FROM [Derived].[Customer_PII] cu
			--						WHERE cb.[CompositeID] = cu.[CompositeID]
			--						AND FLOOR(DATEDIFF(dd, DOB, @StartDate) / 365.25) != FLOOR(DATEDIFF(dd, DOB, @EndDate) / 365.25))
			--			OPTION (RECOMPILE);
			--
			--		END

			
			/***********************************************************************************************************************
				5.2.3.	Update homemover details
			***********************************************************************************************************************/

			--	IF EXISTS (SELECT 1 FROM #OfferIDs WHERE [ShopperSegmentTypeID] = 12)
			--		BEGIN
			--
			--			UPDATE cb
			--			SET cb.[ShopperSegmentTypeID] = 12
			--			FROM #CustomerBase_MyRewards cb
			--			WHERE cb.[ShopperSegmentTypeID] NOT IN (10, 11, 12)
			--			AND EXISTS (SELECT 1
			--						FROM [Derived].[Customer] cu
			--						INNER JOIN [Derived].[Customer_HomemoverDetails] hm
			--							ON cu.[FanID] = hm.[FanID]
			--						WHERE cb.[CompositeID] = cu.[CompositeID]
			--						AND hm.[LoadDate] >= @HomemoverDate)
			--			OPTION (RECOMPILE);
			--
			--		END

		/***********************************************************************************************************************
			5.3.	Remove credit card customers from time of day offers
		***********************************************************************************************************************/

			DROP TABLE IF EXISTS #TimeOfDayOffers
			SELECT	DISTINCT
					pcr.[IronOfferID]
			INTO #TimeOfDayOffers
			FROM [Derived].[IronOffer_PartnerCommissionRule] pcr
			WHERE pcr.[TimeOfDayOffer] = 1
			AND EXISTS (SELECT 1
						FROM #OfferIDs o
						WHERE pcr.[IronOfferID] = o.[IronOfferID])

			IF (SELECT COUNT(*) FROM #TimeOfDayOffers) > 0
				BEGIN
					DELETE cb
					FROM #CustomerBase_MyRewards cb
					INNER JOIN #OfferIDs o
						ON cb.[ShopperSegmentTypeID] = o.[ShopperSegmentTypeID]
					WHERE EXISTS (	SELECT 1
									FROM #TimeOfDayOffers tod
									WHERE o.[IronOfferID] = tod.[IronOfferID])
					AND EXISTS (	SELECT 1
									FROM [Derived].[Customer] cu
									WHERE cb.[FanID] = cu.[FanID]
									AND cu.[IsCredit] = 1)
				END

	/*******************************************************************************************************************************************
		6.	Output to assign offers and apply throttling if required
	*******************************************************************************************************************************************/	

		IF @IsThrottleApplied = 1 AND @ThrottleType = '%'
			BEGIN
				DROP TABLE IF EXISTS #ThrottleUpdate
				SELECT	oi.[ShopperSegmentTypeID]
					,	oi.[Throttling]
					,	[Customers] = COUNT(DISTINCT cb.[FanID])
				INTO #ThrottleUpdate
				FROM #OfferIDs oi
				INNER JOIN #CustomerBase_MyRewards cb
				   ON oi.[ShopperSegmentTypeID] = cb.[ShopperSegmentTypeID]
				GROUP BY	oi.[ShopperSegmentTypeID]
						,	oi.[Throttling]

				UPDATE oi
				SET oi.[Throttling] = oi.[Throttling] * tu.[Customers] / 100.0
				FROM #OfferIDs oi
				INNER JOIN #ThrottleUpdate tu
					ON oi.[ShopperSegmentTypeID] = tu.[ShopperSegmentTypeID]

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Updated throttle numbers on #OfferIDs [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

			END

		DROP TABLE IF EXISTS #Selection
		CREATE TABLE #Selection (	[FanID] BIGINT
								,	[CompositeID] BIGINT
								,	[ShopperSegmentTypeID] INT
								,	[IronOfferID] INT
								,	[StartDate] DATETIME
								,	[EndDate] DATETIME)


		IF @IsThrottleApplied = 0
			BEGIN

				INSERT INTO #Selection
				SELECT	cb.[FanID]
					,	cb.[CompositeID]
					,	cb.[ShopperSegmentTypeID]
					,	iof.[IronOfferID]
					,	@StartDate
					,	@EndDateTime
				FROM #CustomerBase_MyRewards cb
				INNER JOIN #OfferIDs iof
					ON cb.[ShopperSegmentTypeID] = iof.[ShopperSegmentTypeID]
				WHERE [ControlGroupCustomer] = 0

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Insert to #Selection - @IsThrottleApplied = 0 [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

			END

		IF @IsThrottleApplied = 1 AND @RandomThrottle = 0
			BEGIN

				INSERT INTO #Selection
				SELECT	[FanID]
					,	[CompositeID]
					,	[ShopperSegmentTypeID]
					,	[IronOfferID]
					,	@StartDate
					,	@EndDateTime
				FROM (	SELECT	cb.[FanID]
							,	cb.[CompositeID]
							,	cb.[ShopperSegmentTypeID]
							,	iof.[IronOfferID]
							,	iof.[Throttling]
							,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY iof.[IronOfferID] ORDER BY cr.[EngagementRank] ASC) 
						FROM #CustomerBase_MyRewards cb
						INNER JOIN #OfferIDs iof
							ON cb.[ShopperSegmentTypeID] = iof.[ShopperSegmentTypeID]
						LEFT JOIN [Report].[EngagementScore] cr
							ON cb.[FanID] = cr.[FanID]
						WHERE [ControlGroupCustomer] = 0
						) cb
				WHERE [RowNum] <= [Throttling]

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Insert to #Selection - @IsThrottleApplied = 1 AND @RandomThrottle = 0 [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

			END

			
		IF @IsThrottleApplied = 1 AND @RandomThrottle = 1
			BEGIN

				INSERT INTO #Selection
				SELECT	[FanID]
					,	[CompositeID]
					,	[ShopperSegmentTypeID]
					,	[IronOfferID]
					,	@StartDate
					,	@EndDateTime
				FROM (	SELECT	cb.[FanID]
							,	cb.[CompositeID]
							,	cb.[ShopperSegmentTypeID]
							,	iof.[IronOfferID]
							,	iof.[Throttling]
							,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY iof.[IronOfferID] ORDER BY ABS(CHECKSUM(NewID())) ASC)
						FROM #CustomerBase_MyRewards cb
						INNER JOIN #OfferIDs iof
							ON cb.[ShopperSegmentTypeID] = iof.[ShopperSegmentTypeID]
						WHERE [ControlGroupCustomer] = 0) cb
				WHERE [RowNum] <= [Throttling]

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Insert to #Selection - @IsThrottleApplied = 1 AND @RandomThrottle = 1 [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

			END


	/*******************************************************************************************************************************************
		7.	Create in programme control group
	*******************************************************************************************************************************************/
	
		IF @ControlGroupPercentage > 0
			BEGIN

				DECLARE @AcquireCount INT = ((SELECT COUNT(*) FROM #Selection WHERE [ShopperSegmentTypeID] = 7) * 1.000 / 100) * @ControlGroupPercentage
					  , @LaspsedCount INT = ((SELECT COUNT(*) FROM #Selection WHERE [ShopperSegmentTypeID] = 8) * 1.000 / 100) * @ControlGroupPercentage
					  , @ShopperCount INT = ((SELECT COUNT(*) FROM #Selection WHERE [ShopperSegmentTypeID] = 9) * 1.000 / 100) * @ControlGroupPercentage
					  , @WelcomeCount INT = ((SELECT COUNT(*) FROM #Selection WHERE [ShopperSegmentTypeID] = 10) * 1.000 / 100) * @ControlGroupPercentage
					  , @HomemoverCount INT = ((SELECT COUNT(*) FROM #Selection WHERE [ShopperSegmentTypeID] = 11) * 1.000 / 100) * @ControlGroupPercentage
					  , @BirthdayCount INT = ((SELECT COUNT(*) FROM #Selection WHERE [ShopperSegmentTypeID] = 12) * 1.000 / 100) * @ControlGroupPercentage

				IF EXISTS (SELECT 1 FROM #OfferIDs WHERE [IronOfferID] = 25076)
					BEGIN
						
						SET @AcquireCount = ((SELECT COUNT(*) FROM #Selection WHERE [ShopperSegmentTypeID] = 7) * 1.000 / 100) * 5

					END
					 
				DROP TABLE IF EXISTS #ControlGroup_Setup
				CREATE TABLE #ControlGroup_Setup (	[FanID] BIGINT
												,	[ShopperSegmentTypeID] TINYINT
												,	[IronOfferID] INT
												,	[ControlGroupCount] BIGINT
												,	[ControlGroupOrder] TINYINT);

				CREATE CLUSTERED INDEX CIX_FanID ON #ControlGroup_Setup ([FanID]) WITH (FILLFACTOR = 70)

				INSERT INTO #ControlGroup_Setup
				SELECT	cb.[FanID]
					,	cb.[ShopperSegmentTypeID]
					,	iof.[IronOfferID]
					,	[ControlGroupCount] =	CASE
													WHEN cb.[ShopperSegmentTypeID] = 7 THEN @AcquireCount
													WHEN cb.[ShopperSegmentTypeID] = 8 THEN @LaspsedCount
													WHEN cb.[ShopperSegmentTypeID] = 9 THEN @ShopperCount
													WHEN cb.[ShopperSegmentTypeID] = 10 THEN @WelcomeCount
													WHEN cb.[ShopperSegmentTypeID] = 11 THEN @HomemoverCount
													WHEN cb.[ShopperSegmentTypeID] = 12 THEN @BirthdayCount
												END
					,	[ControlGroupOrder] = 1
				FROM #CustomerBase_MyRewards cb
				INNER JOIN #OfferIDs iof
					  ON cb.[ShopperSegmentTypeID] = iof.[ShopperSegmentTypeID]
				WHERE cb.[ControlGroupCustomer] = 1

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Insert to #ControlGroup_Setup - [ControlGroupCustomer] = 1 [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				INSERT INTO #ControlGroup_Setup
				SELECT	cb.[FanID]
					,	cb.[ShopperSegmentTypeID]
					,	iof.[IronOfferID]
					,	[ControlGroupCount] =	CASE
													WHEN cb.[ShopperSegmentTypeID] = 7 THEN @AcquireCount
													WHEN cb.[ShopperSegmentTypeID] = 8 THEN @LaspsedCount
													WHEN cb.[ShopperSegmentTypeID] = 9 THEN @ShopperCount
													WHEN cb.[ShopperSegmentTypeID] = 10 THEN @WelcomeCount
													WHEN cb.[ShopperSegmentTypeID] = 11 THEN @HomemoverCount
													WHEN cb.[ShopperSegmentTypeID] = 12 THEN @BirthdayCount
											   END
					,	[ControlGroupOrder] = 2
				FROM #CustomerBase_MyRewards cb
				INNER JOIN #OfferIDs iof
					  ON cb.[ShopperSegmentTypeID] = iof.[ShopperSegmentTypeID]
				WHERE NOT EXISTS (SELECT 1
								  FROM #Selection s
								  WHERE cb.[FanID] = s.[FanID])
				AND NOT EXISTS (SELECT 1
								FROM #ControlGroup_Setup cgs
								WHERE cb.[FanID] = cgs.[FanID])

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Insert to #ControlGroup_Setup - [ControlGroupCustomer] = 2 [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				INSERT INTO #ControlGroup_Setup
				SELECT	[FanID]
					,	[ShopperSegmentTypeID]
					,	[IronOfferID]
					,	[ControlGroupCount] =	CASE
													WHEN [ShopperSegmentTypeID] = 7 THEN @AcquireCount
													WHEN [ShopperSegmentTypeID] = 8 THEN @LaspsedCount
													WHEN [ShopperSegmentTypeID] = 9 THEN @ShopperCount
													WHEN [ShopperSegmentTypeID] = 10 THEN @WelcomeCount
													WHEN [ShopperSegmentTypeID] = 11 THEN @HomemoverCount
													WHEN [ShopperSegmentTypeID] = 12 THEN @BirthdayCount
											   END
					,	[ControlGroupOrder] = 3
				FROM #Selection s
				WHERE NOT EXISTS (	SELECT 1
									FROM #ControlGroup_Setup cgs
									WHERE s.[FanID] = cgs.[FanID])

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Insert to #ControlGroup_Setup - [ControlGroupCustomer] = 3 [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				DROP TABLE IF EXISTS #ControlGroup
				SELECT	[PartnerID] = @PartnerID
					,	[ClientServicesRef] = @ClientServicesRef
					,	[IronOfferID]
					,	[ShopperSegmentTypeID]
					,	[StartDate] = @StartDate
					,	[EndDate] = @ControlGroupEndDate
					,	[FanID]
				INTO #ControlGroup
				FROM (SELECT	[FanID]
						   ,	[ShopperSegmentTypeID]
						   ,	[IronOfferID]
						   ,	[ControlGroupCount]
						   ,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY [ShopperSegmentTypeID] ORDER BY [ControlGroupOrder], ABS(CHECKSUM(NEWID())) ASC)
					  FROM #ControlGroup_Setup) cg
				WHERE [RowNum] <= [ControlGroupCount]

				CREATE CLUSTERED INDEX [CIX] ON #ControlGroup ([PartnerID], [ClientServicesRef], [FanID])

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Insert to #ControlGroup [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

				DELETE s
				FROM #Selection s
				WHERE EXISTS (SELECT 1
							  FROM #ControlGroup cg
							  WHERE s.[FanID] = cg.[FanID])

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Remove #ControlGroup customer from #Selection [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg
				
				IF EXISTS (	SELECT 1
							FROM [WH_AllPublishers].[Selections].[ControlGroupMembers_InProgram]
							WHERE [ClientServicesRef] = @ClientServicesRef
							AND [PartnerID] = @PartnerID)
					BEGIN

						DELETE ipcg
						FROM [WH_AllPublishers].[Selections].[ControlGroupMembers_InProgram] ipcg
						WHERE ipcg.[ClientServicesRef] = @ClientServicesRef
						AND ipcg.[StartDate] = @StartDate
						AND ipcg.[PublisherID] = @PublisherID
						OPTION (RECOMPILE);

						SET @RowsAffected = @@ROWCOUNT;
						
						SET @msg = 'Remove existing entries from [ControlGroupMembers_InProgram] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
						EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

					END

				INSERT INTO [WH_AllPublishers].[Selections].[ControlGroupMembers_InProgram] (	[PublisherID]
																							,	[PartnerID]
																							,	[ClientServicesRef]
																							,	[IronOfferID]
																							,	[ShopperSegmentTypeID]
																							,	[StartDate]
																							,	[EndDate]
																							,	[FanID]
																							,	[PercentageTaken]
																							,	[ExcludeFromAnalysis])
				SELECT	[PublisherID] = @PublisherID
					,	cgn.[PartnerID]
					,	cgn.[ClientServicesRef]
					,	cgn.[IronOfferID]
					,	cgn.[ShopperSegmentTypeID]
					,	cgn.[StartDate]
					,	cgn.[EndDate]
					,	cgn.[FanID]
					,	[PercentageTaken] = @ControlGroupPercentage
					,	[ExcludeFromAnalysis] = 0
				FROM #ControlGroup cgn
				WHERE NOT EXISTS (	SELECT 1
									FROM [WH_AllPublishers].[Selections].[ControlGroupMembers_InProgram] cne
									WHERE cgn.[FanID] = cne.[FanID]
									AND cgn.[PartnerID] = cne.[PartnerID]
									AND cgn.[ClientServicesRef] = cne.[ClientServicesRef]
									AND @StartDate BETWEEN cne.[StartDate] AND cne.[EndDate])
				OPTION (RECOMPILE);

				SET @RowsAffected = @@ROWCOUNT;
						
				SET @msg = 'Load to [ControlGroupMembers_InProgram] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg
				
			END	--	IF @ControlGroupPercentage > 0


	/*******************************************************************************************************************************************
		9.	Insert to [Selections].[CampaignExecution_TableNames]
	*******************************************************************************************************************************************/
	
		INSERT INTO [Selections].[CampaignExecution_TableNames] (	[TableName]
																,	[ClientServicesRef])
		SELECT	@OutputTableName
			,	@ClientServicesRef

		SET @RowsAffected = @@ROWCOUNT;
						
		SET @msg = 'Load to [CampaignExecution_TableNames] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

	/*******************************************************************************************************************************************
		10.	Insert to [iron].[OfferMemberAddition]
	*******************************************************************************************************************************************/

		DECLARE @GETDATE DATETIME = GETDATE()

		INSERT INTO [Segmentation].[OfferMemberAddition]
		SELECT	[CompositeID]
			 ,	[IronOfferID]
			 ,	[StartDate]
			 ,	[EndDate]
			 ,	[Date] = @GETDATE
		FROM #Selection
		ORDER BY	[IronOfferID]
				,	[StartDate]
		OPTION (RECOMPILE);

		SET @RowsAffected = @@ROWCOUNT;
						
		SET @msg = 'Load to [OfferMemberAddition] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] 'CampaignExecution_IndividualCampaign_POS', @msg

	/*******************************************************************************************************************************************
		11.	Drop all temp tables
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #OfferIDs
		DROP TABLE IF EXISTS #Gender
		DROP TABLE IF EXISTS #MarketableByEmail
		DROP TABLE IF EXISTS #LiveOfferPerPartner
		DROP TABLE IF EXISTS #CustomersOnOfferAlready
		DROP TABLE IF EXISTS #CustomerBase_MyRewards
		DROP TABLE IF EXISTS #SelectedInAnotherCampaign
		DROP TABLE IF EXISTS #SelectedInAnotherCampaignCustomers
		DROP TABLE IF EXISTS #ExistingUniverseOffers
		DROP TABLE IF EXISTS #ExistingUniverse
		DROP TABLE IF EXISTS #PostalSectors
		DROP TABLE IF EXISTS #CustomersWithinDrivetime
		DROP TABLE IF EXISTS #MustBeIn_TableName_Temp
		DROP TABLE IF EXISTS #MustBeIn_TableName
		DROP TABLE IF EXISTS #NotIn_TableName
		DROP TABLE IF EXISTS #CustomersWithMultipleTrans
		DROP TABLE IF EXISTS #Selection
		DROP TABLE IF EXISTS #ControlGroup_Setup
		DROP TABLE IF EXISTS #ControlGroup
		DROP TABLE IF EXISTS #TopPartnerOffer
		DROP TABLE IF EXISTS #ROCShopperSegment_SeniorStaffAccounts

END


GO
