USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[EE009_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[EE009_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #CustomersToAssign
SELECT	rf.[CustomerGUID]
INTO #CustomersToAssign
FROM [Derived].[MFDD_ResponseFiles] rf
INNER JOIN [WH_AllPublishers].[Selections].[MFDD_ResponseFileAssignment] rfa
	ON rf.[PartnerID] = rfa.[PartnerID]
	AND rf.[CustomerStatus] = rfa.[CustomerStatus]
WHERE rf.[PartnerID] = 5404
AND rfa.[DestinationOfferGUID] IN ('A01C6293-EEFA-4227-84CD-19E7678F6F37', '1F248BED-1D0D-46C2-9C60-85E3EC6BB97A')

DROP TABLE IF EXISTS [Selections].[EE009_PreSelection]
SELECT cu.[FanID]
INTO [Selections].[EE009_PreSelection]
FROM [Derived].[Customer] cu
WHERE EXISTS (	SELECT 1
				FROM #CustomersToAssign cta
				WHERE cu.[CustomerGUID] = cta.[CustomerGUID])
				
END
GO
