USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[VUE005_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[VUE005_PreSelection_sProc]
AS
BEGIN

-----------------------------------------------------------------------------------
-- RBS
-----------------------------------------------------------------------------------

DECLARE @RunDate DATE = '2025-08-15'
DECLARE @Rank int;
DECLARE @RankEnd int;
DECLARE @PivotReturn varchar(max);
DECLARE @EXC varchar(max);
DECLARE @EXC2 varchar(max);

DROP TABLE IF EXISTS #AccountType;
DROP TABLE IF EXISTS #AccountProduct;
DROP TABLE IF EXISTS #Product;

CREATE TABLE #AccountType(
	ProductName VARCHAR(100)
	,BankAccountProductCode VARCHAR(2)
	,BankAccountProductName VARCHAR(100)
	,BankAccountProductID INT PRIMARY KEY)

CREATE TABLE #AccountProduct(
	CustomerGUID char(36)
	,ProductName varchar(100)
--	,ProductCode varchar(2)
	,ProductValue INT
	)

CREATE TABLE #Product(
	ProductName varchar(100)
	,RowRank int)

INSERT INTO #AccountType

SELECT
	CASE WHEN bap.BankAccountProductID = -1 THEN bap.BankAccountProductName
		 WHEN bap.BankAccountProductID IN (1,35) THEN 'Charge Card'
		 WHEN bap.BankAccountProductName LIKE 'Rew%' THEN bap.BankAccountProductName
	     WHEN bap.BankAccountProductName LIKE '%Sav%' THEN 'Savings Account'
		 WHEN bap.BankAccountProductID = 37 THEN bap.BankAccountProductName
		 ELSE 'CashbackPlus' END
	,CASE WHEN bap.BankAccountProductID = -1 THEN bap.BankAccountProductCode
		 WHEN bap.BankAccountProductID IN (1,35) THEN 'CH'
		 WHEN bap.BankAccountProductName LIKE 'Rew%' THEN bap.BankAccountProductCode
	     WHEN bap.BankAccountProductName LIKE '%Sav%' THEN 'SA'
		 WHEN bap.BankAccountProductID = 37 THEN bap.BankAccountProductCode
		 ELSE 'CP' END
	,bap.BankAccountProductName
	,bap.BankAccountProductID

FROM WH_NWG.Derived.BankAccountProduct bap

WHERE bap.BankAccountProductID <> -1

INSERT INTO #AccountProduct

SELECT
	bacl.CustomerGUID
	,ISNULL(cp.CardProductDescription,bap.ProductName) ProductName
--	,ISNULL(CAST(cp.CardProductID AS varchar(2)),bap.BankAccountProductCode) ProductCode
	,1
	
FROM WH_NWG.Derived.BankAccountCustomerLinks bacl 
LEFT JOIN WH_NWG.Derived.Cards c
  ON c.AccountGUID = bacl.BankAccountGUID
  AND c.CardProductID IS NOT NULL
  AND @RunDate BETWEEN c.StartDate AND ISNULL(c.EndDate,'3000-01-01')
LEFT JOIN WH_NWG.Derived.BankAccountTypeHistory bath
  ON   bacl.BankAccountGUID = ISNULL(bath.BankAccountGUID,c.AccountGUID)
  AND  @RunDate BETWEEN bath.StartDate AND ISNULL(bath.EndDate,'3000-01-01')
LEFT JOIN WH_NWG.Derived.BankAccountSubProduct basp
  ON   basp.BankAccountSubProductID = bath.BankAccountSubProductID
  AND  basp.BankAccountSubProductCode NOT IN ('N', 'X')
LEFT JOIN #AccountType bap
  ON   bap.BankAccountProductID = bath.BankAccountProductID
LEFT JOIN WH_NWG.Derived.CardProduct cp
  ON   cp.CardProductID = c.CardProductID

WHERE @RunDate BETWEEN bacl.StartDate AND ISNULL(bacl.EndDate,'3000-01-01')

GROUP BY 	bacl.CustomerGUID
	,ISNULL(cp.CardProductDescription,bap.ProductName) 
--	,ISNULL(CAST(cp.CardProductID AS varchar(2)),bap.BankAccountProductCode)

DELETE FROM #AccountProduct
WHERE ProductName IS NULL

drop table Sandbox.CaraC.RBS_cardtype 

select CINID,FANID
into Sandbox.CaraC.RBS_cardtype 
from #AccountProduct ct
join	WH_NWG.Derived.Customer C on ct.customerGUID = C.customerGUID
			JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
		where productname not in ('Reward Platinum Account','Reward Black Account','Reward Black Account')




	IF OBJECT_ID('[WH_NWG].[Selections].[VUE005_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[VUE005_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[VUE005_PreSelection]
	FROM Sandbox.CaraC.RBS_cardtype

END
GO
