USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[AMA007_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[AMA007_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #IronOfferMember
SELECT	DISTINCT 
		[CustomerGUID]
INTO #IronOfferMember
FROM [Derived].[IronOfferMember] iom
WHERE iom.[IronOfferID] IN (-25207, -25209)
AND iom.[StartDate] >= '2024-09-05'

DROP TABLE IF EXISTS #Customers
SELECT	cu.[CustomerGUID]
	,	cu.[FanID]
	,	cl.[CINID]
INTO #Customers
FROM [Derived].[Customer] cu
INNER JOIN [Derived].[CINList] cl
	ON cu.[SourceUID] = cl.[CIN]
WHERE EXISTS (	SELECT 1
				FROM #IronOfferMember iom
				WHERE cu.[CustomerGUID] = iom.[CustomerGUID])
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE cu.[SourceUID] = ds.[SourceUID]
				AND ds.[EndDate] IS NULL)
AND NOT EXISTS (SELECT 1
				FROM [Derived].[PartnerTrans] pt
				WHERE cu.[CustomerGUID] = pt.[CustomerGUID]
				AND pt.[IronOfferID] IN (-25208, -25210))

CREATE CLUSTERED INDEX [CIX_CINID] ON #Customers ([CINID])

DROP TABLE IF EXISTS #Outlet									
SELECT	[MerchantID]
	,	[MerchantNarrative] = [MerchantNarrative] + '%'
INTO #Outlet
FROM [WH_AllPublishers].[Derived].[Outlet] o
WHERE o.[PartnerID] = 5024
AND o.[Status] = 1

CREATE CLUSTERED INDEX [CIX_MID] ON #Outlet ([MerchantID])

DROP TABLE IF EXISTS #CC
SELECT	distinct cc.[ConsumerCombinationID]
--	,	cc.[MID]
--	,	cc.[Narrative]
INTO #CC
FROM [Trans].[ConsumerCombination] cc
INNER JOIN #Outlet o
	ON cc.[MID] = o.[MerchantID]
--	AND cc.[Narrative] LIKE o.[MerchantNarrative]
--ORDER BY	cc.[MID]
--		,	cc.[Narrative]

DROP TABLE IF EXISTS #CT
SELECT	ct.[ConsumerCombinationID]
	,	ct.[CINID]
	,	ct.[Amount]
	,	ct.[TranDate]
	,	c.Fanid
INTO #CT
FROM [Trans].[ConsumerTransaction] ct
INNER JOIN #CC CC ON Ct.consumercombinationid=cc.consumercombinationid
INNER JOIN #CUSTOMERS C ON ct.cinid=c.cinid
WHERE ct.[TranDate] >= '2024-09-05'

DROP TABLE IF EXISTS #CT_PricePoint
SELECT	ct.[ConsumerCombinationID]
	,	ct.[CINID]
	,	ct.[Amount]
	,	ct.[TranDate]
	,	[FanID]
INTO #CT_PricePoint
FROM #CT ct
WHERE ct.[Amount] IN (3.99,4.49,4.99,5.99,6.99,7.99,10.99)

DROP TABLE IF EXISTS #FinalOutput
SELECT	DISTINCT ct.FanID
--	,	[TranDate_Payment3] = ct3.[TranDate]
--	,	[Amount_Payment3] = ct3.[Amount]
INTO #FinalOutput
FROM #CT_PricePoint ct
INNER JOIN #CT_PricePoint ct2
	ON ct.[CINID] = ct2.[CINID]
	AND ct.[Amount] = ct2.[Amount]
	AND DAY(ct.[TranDate]) = DAY(ct2.[TranDate])
	AND EOMONTH(ct.[TranDate]) = EOMONTH(DATEADD(MONTH, -1, ct2.[TranDate]))
--LEFT JOIN #CT_PricePoint ct3
--	ON ct.[CINID] = ct3.[CINID]
--	AND ct.[Amount] = ct3.[Amount]
--	AND DAY(ct.[TranDate]) = DAY(ct3.[TranDate])
--	AND EOMONTH(ct.[TranDate]) = EOMONTH(DATEADD(MONTH, -2, ct3.[TranDate]))

IF OBJECT_ID('[WH_NWG].[Selections].[AMA007_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[AMA007_PreSelection]
SELECT FanID
INTO [WH_NWG].[Selections].[AMA007_PreSelection]
FROM #FinalOutput

END
GO
