USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[ADV001_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[ADV001_PreSelection_sProc]

AS
BEGIN

IF OBJECT_ID('tempdb..#FB_RBS') IS NOT NULL DROP TABLE #FB_RBS
SELECT	C.FanID,CINID
INTO	#FB_RBS
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)
CREATE CLUSTERED INDEX ix_FanID on #FB_RBS(FANID)

--This is all customers that have ever had an airtime card that are on NW/RBS
DROP TABLE IF EXISTS #AirtimeOverlap

SELECT c.FanID
INTO #AirtimeOverlap
FROM [SLC_REPL]..Pan p1
INNER JOIN [SLC_REPL].[dbo].[PaymentCard] pc
ON p1.PaymentCardID = pc.ID
INNER JOIN [SLC_REPL]..[Fan] f1 
ON p1.UserID = f1.ID 
AND f1.ClubID IN (144)
INNER JOIN [WH_NWG].[WHB].[Inbound_Cards] ca
ON pc.[PaymentCardUID] = ca.[ExternalCardID]
INNER JOIN WH_NWG.Derived.Customer C
ON ca.CustomerGUID = C.CustomerGUID


IF OBJECT_ID('[WH_NWG].[Selections].[ADV001_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[ADV001_PreSelection]
SELECT FanID
INTO [WH_NWG].[Selections].[ADV001_PreSelection]
FROM #FB_RBS fb
WHERE NOT EXISTS (SELECT 1
				  FROM #AirtimeOverlap  st
				  WHERE fb.FanID = st.FanID)


END
GO
