USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[RIN003_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[RIN003_PreSelection_sProc]
AS
BEGIN

	IF OBJECT_ID('[Sandbox].[ChrisN].[RING]') IS NOT NULL DROP TABLE [Sandbox].[ChrisN].[RING]

	select distinct ct.CINID,  c.FANID
	INTO [Sandbox].[ChrisN].[RING]
	    from WH_NWG.Derived.CINList CINLIST 
	  JOIN WH_NWG.Derived.Customer C ON C.SourceUID = CINLIST.CIN
	  join   (select distinct CINID
	      FROM  WH_NWG.Trans.ConsumerCombination cc                   
	      inner join WH_NWG.Trans.ConsumerTransaction ct on ct.consumercombinationid = cc.consumercombinationid
	      where trandate >= DATEADD(day,-112, GETDATE())
	      and amount >0)ct on ct.cinid = CINLIST.CINID
	  join (select distinct fanid 
	    from WH_NWG.Derived.AppLogins 
	    where loginTypeID = 1 
	    and TrackDate >= DATEADD(MONTH,-1, GETDATE()) )app on app.fanid = c.fanid 
	  join (select distinct fanid 
	    from WH_NWG.Derived.EmailEvent
	    where EmailEventCodeID IN (1301)
	    and Eventdate >= DATEADD(MONTH,-1, GETDATE()) )email on email.fanid = c.fanid 
	  where AgeCurrent <70
	group by ct.CINID,  c.FANID

IF OBJECT_ID('[WH_NWG].[Selections].[RIN003_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[RIN003_PreSelection]
SELECT	FanID
INTO	[WH_NWG].[Selections].[RIN003_PreSelection] 
FROM	[Sandbox].[ChrisN].[RING] P
WHERE EXISTS (SELECT 1 
			  FROM Sandbox.ChrisN.NWG_AOD_10K K
			  WHERE P.FanID = K.FanID)


END

GO
