USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[ENT033_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[ENT033_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	CINID, FanID
INTO	#FB
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL
	ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])

CREATE CLUSTERED INDEX [CINID_CCID] ON #FB ([CINID])

DROP TABLE IF EXISTS #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	[Trans].[ConsumerCombination] CC
WHERE	BrandID IN (27,1370,673,1547)							-- Kate Spade, Mulberry, Coach, Burberry and Smythson

CREATE CLUSTERED INDEX [CIX_CCID] ON #CC ([ConsumerCombinationID])

DROP TABLE IF EXISTS #Trans
SELECT	CT.CINID as CINID
        ,FanID 
		,COUNT(CT.CINID) AS Txn
INTO	#Trans
FROM	[Trans].[ConsumerTransaction] CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate > CONVERT(DATE, DATEADD(MONTH, -12, GETDATE()))
		and Amount > 0
GROUP BY CT.CINID,FanID 

DROP TABLE IF EXISTS Sandbox.LeoP.RBS_Enterprise150822
SELECT	CINID, fanID
INTO Sandbox.LeoP.RBS_Enterprise150822
FROM  #Trans
--WHERE Txn >= 3

DROP TABLE IF EXISTS [Selections].ENT033_PreSelection
Select FanID
INTO [Selections].ENT033_PreSelection
FROM  Sandbox.LeoP.RBS_Enterprise150822


END
GO
