USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[ID001_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[ID001_PreSelection_sProc]
AS
BEGIN

IF OBJECT_ID('tempdb..#FB') IS NOT NULL DROP TABLE #FB
SELECT	CINID, FanID
INTO	#FB
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID) 

-- CARD TRANSACTIONS
IF OBJECT_ID('tempdb..#CC') IS NOT NULL DROP TABLE #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	WH_NWG.Trans.ConsumerCombination CC
WHERE	BrandID IN (1007,7271,2311,310,4130,7302,3441,447,3448)						

IF OBJECT_ID('tempdb..#Trans') IS NOT NULL DROP TABLE #Trans
SELECT	CT.CINID as CINID, FanID
		,COUNT(CT.CINID) AS Txn
INTO	#Trans
FROM	WH_NWG.Trans.ConsumerTransaction CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate > DATEADD(MONTH, -12, GETDATE())
		AND Amount > 0
GROUP BY CT.CINID, FanID

-- DD TRANSACTIONS
IF OBJECT_ID('tempdb..#CC_DD') IS NOT NULL DROP TABLE #CC_DD
SELECT	  CC.ConsumerCombinationID_DD AS ConsumerCombinationID_DD
INTO	#CC_DD 
FROM	WH_NWG.Trans.ConsumerCombination_DD CC
WHERE	BrandID IN (1007,7271,2311,310,4130,7302,3441,447,3448)						

IF OBJECT_ID('tempdb..#Trans_DD') IS NOT NULL DROP TABLE #Trans_DD
SELECT	F.CINID AS CINID, F.FanID
		,COUNT(CT.FanID) AS Txn
INTO	#Trans_DD
FROM	WH_NWG.Trans.ConsumerTransaction_DD CT
JOIN	#CC_DD CC ON CT.ConsumerCombinationID_DD = CC.ConsumerCombinationID_DD
JOIN	#FB F ON F.FanID = CT.FanID
WHERE	TranDate > DATEADD(MONTH, -12, GETDATE())
		AND Amount > 0
GROUP BY F.CINID, F.FanID


DROP TABLE Sandbox.SandeshG.ID_MOBILE_COMPSTEAL;

WITH CTE_DATA AS (
SELECT DISTINCT CINID, FanID FROM #Trans
UNION 
SELECT DISTINCT CINID, FanID FROM #Trans_DD
) SELECT CINID, FanID INTO  Sandbox.SandeshG.ID_MOBILE_COMPSTEAL 
FROM CTE_DATA 


IF OBJECT_ID('[WH_NWG].[Selections].[ID001_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[ID001_PreSelection]
SELECT FanID
INTO [WH_NWG].[Selections].[ID001_PreSelection]
FROM #FB fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.SandeshG.ID_MOBILE_COMPSTEAL  st
				WHERE fb.CINID = st.CINID)

				
END

GO
