USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[UE055_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[UE055_PreSelection_sProc]
AS
BEGIN

--------------------------------------------------------------------------------------------------
-- RBS
--------------------------------------------------------------------------------------------------

IF OBJECT_ID('tempdb..#FB') IS NOT NULL DROP TABLE #FB
SELECT	CINID, FanID
INTO	#FB
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID) 

AND		(PostalSector IN (SELECT ToSector
							FROM Warehouse.Relational.DriveTimeMatrix DTM
							WHERE	FromSector IN (
'WV12 5',
'NG1 7',
'B63 4',
'WV4 6',
'B68 0',
'DY4 7',
'WV1 1',
'NG5 4',
'BB5 3',
'NG2 2',
'BB5 1',
'DY5 2',
'WV1 4',
'DY8 2',
'NG8 7',
'WV2 2',
'NG10 4',
'NG1 2',
'B20 2',
'B18 6',
'WS5 7',
'DY3 2',
'BB3 3',
'NG5 2',
'B65 0',
'DY4 8',
'B68 9',
'BB1 4',
'NG8 4',
'NG4 3',
'DY1 2',
'WV11 1',
'NG3 2',
'B15 1',
'NG15 9',
'B16 0',
'WS3 5',
'BB2 4',
'BB5 0',
'B66 2',
'WV10 4',
'B70 1',
'B64 6',
'BB2 3',
'WV6 8',
'WS2 0',
'NG8 5',
'NG5 5',
'B62 9',
'B18 4',
'WS3 4',
'NG1 4',
'DY1 1',
'WV2 1',
'B65 4',
'BB3 0',
'WV3 8',
'NG5 9',
'NG1 1',
'NG7 6',
'WS5 4',
'WV1 2',
'NG9 3',
'NG6 7',
'NG9 0',
'WS4 1',
'DY5 4',
'NG4 1',
'WV6 9',
'B21 2',
'WS2 9',
'NG2 5',
'NG8 2',
'B69 2',
'WV13 3',
'NG1 3',
'DY2 0',
'NG10 3',
'B17 0',
'DY8 3',
'NG6 0',
'DY8 5',
'DY2 9',
'WV1 4',
'BB1 8',
'DY1 3',
'B16 1',
'WS1 4',
'WV10 7',
'BB1 5',
'WS1 3',
'DY3 3',
'B63 1',
'B66 1',
'DY6 8',
'DY6 9',
'B62 8',
'B71 2',
'BB1 1',
'BB2 2',
'NG11 7',
'B63 3',
'NG5 3',
'NG11 8',
'B18 7',
'WS5 2',
'NG7 2',
'WV10 8',
'NG7 1',
'WS3 3',
'B21 9',
'BB6 7',
'NG4 4',
'BB5 6',
'DY3 4',
'BB6 6',
'wv1 3',
'WS3 2',
'NG1 5',
'NG10 1',
'NG9 2',
'WV3 9',
'BB1 9',
'B62 0',
'WV2 4',
'NG11 0',
'DY6 0',
'NG3 5',
'DY4 0',
'WV1 2',
'NG7 3',
'NG7 4',
'DY8 1',
'DY8 4',
'B67 5',
'BB1 6',
'B15 3',
'B66 4',
'NG1 1',
'NG2 7',
'WS3 1',
'NG2 6',
'NG2 1',
'WV6 0',
'WV2 3',
'WS10 7',
'NG5 6',
'NG8 3',
'B18 5',
'WS10 9',
'WV8 2',
'WV13 2',
'B67 7',
'WS1 1',
'BB3 1',
'NG10 5',
'WV3 0',
'B65 9',
'B66 5',
'WV14 9',
'NG5 7',
'WV4 4',
'B69 1',
'B21 0',
'BB5 5',
'BB5 2',
'NG11 9',
'NG3 6',
'BB2 6',
'NG8 6',
'B71 4',
'B68 8',
'NG11 2',
'B69 3',
'BB1 7',
'B15 2',
'WS5 3',
'BB3 2',
'WS5 9',
'B16 9',
'B17 9',
'NG3 3',
'BB5 4',
'DY2 7',
'NG2 3',
'WV12 4',
'NG15 8',
'NG3 1',
'WS5 8',
'WS2 8',
'WV14 6',
'B17 8',
'NG9 1',
'WS1 2',
'WV13 1',
'NG9 8',
'NG10 2',
'NG9 6',
'NG5 1',
'WV9 5',
'NG1 6',
'DY6 7',
'B70 9',
'NG7 7',
'BB2 1',
'B63 2',
'DY1 5',
'B70 6',
'WV10 6',
'B65 8',
'NG9 4',
'WV10 9',
'NG9 7',
'NG3 7',
'B16 8',
'WV14 8',
'B71 1',
'B67 6',
'DY3 1',
'WV4 5',
'WV10 0',
'B64 5',
'B66 3',
'B71 3',
'WS4 2',
'NG6 9',
'WV1 3',
'WV14 0',
'DY5 1',
'BB2 7',
'WS10 5',
'NG9 5',
'WS10 8',
'WS2 7',
'NG1 5',
'NG8 1',
'B70 7',
'B70 0',
'B64 9',
'NG7 5',
'BB1 2',
'BB6 8',
'WV1 1',
'B20 3',
'WV14 7',
'DY4 9',
'NG15 6',
'B21 8',
'NG15 0',
'DY5 3',
'NG2 4',
'B69 4',
'B16 2',
'BB2 5',
'NG11 6',
'NG15 7',
'NG4 2',
'WS10 0',
'NG6 8',
'WV6 7',
'BB1 3',
'WV3 7',
'WV8 1',
'WV11 3',
'B64 7',
'DY1 4',
'WV11 2',
'NG5 8',
'B70 8',
'B20 1',
'NG3 4',
'DY2 8'

												  )
							AND DriveDistMiles <= 3

							))


IF OBJECT_ID('Sandbox.SandeshG.RBS_Uber_GeoTargeted_3Miles') IS NOT NULL DROP TABLE Sandbox.SandeshG.RBS_Uber_GeoTargeted_3Miles
SELECT	CINID, FANID
INTO Sandbox.SandeshG.RBS_Uber_GeoTargeted_3Miles
FROM  #FB

	IF OBJECT_ID('[WH_NWG].[Selections].[UE055_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[UE055_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[UE055_PreSelection]
	FROM #FB fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.SandeshG.RBS_Uber_GeoTargeted_3Miles  st
					WHERE fb.CINID = st.CINID)

END
GO
