USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[YO!030_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[YO!030_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs	-- 1,002,587  (20.06.2023)
SELECT	CINID, FanID
INTO	#FB_rbs
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])
and agecurrent>=35 
and agecurrent<=54

DROP TABLE IF EXISTS #CC_rbs
CREATE TABLE #CC_rbs (brandid int, consumercombinationid int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID	,ConsumerCombinationID
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN (1436,2440,1077,1066,6473,2535);

DROP TABLE IF EXISTS #trans_rbs
CREATE TABLE #trans_rbs (fanid int, cinid int not null primary key)
INSERT INTO #trans_rbs
SELECT  FanID, CT.CINID
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-12,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID

DROP TABLE IF EXISTS Sandbox.JosephS.Yosushi_010224_RBS
SELECT	FanID, CINID																													
INTO	Sandbox.JosephS.Yosushi_010224_RBS
FROM	#Trans_rbs
GROUP BY FanID, CINID

DROP TABLE IF EXISTS [Selections].[YO!030_PreSelection]
	SELECT FanID
	INTO [Selections].[YO!030_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.JosephS.Yosushi_010224_RBS  st
					WHERE fb.CINID = st.CINID)

END
GO
