USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[TR139_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[TR139_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs
SELECT	CINID, FanID
INTO	#FB_rbs
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])
--AND c.Region like 'London'
and c.AgeCurrent >= 18
and c.AgeCurrent <=35
CREATE CLUSTERED INDEX ix_CINID on #FB_rbs(FanID)

DROP TABLE IF EXISTS Sandbox.SandeshG.RBS_Trainline_young_251023
SELECT	FanID, CINID																													
INTO	Sandbox.SandeshG.RBS_Trainline_young_251023
FROM	#FB_rbs
GROUP BY FanID, CINID

DROP TABLE IF EXISTS [Selections].TR139_PreSelection
Select FanID
INTO [Selections].TR139_PreSelection
FROM  #FB_rbs fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.SandeshG.RBS_Trainline_young_251023 st
				WHERE fb.CINID = st.CINID)

END
GO
