USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[BIC054_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[BIC054_PreSelection_sProc]
AS
BEGIN

/*
	FILL THESE IN
*/
declare @schema_name sysname = 'YaninaM' --add the name of your personal sandbox schema
declare @table_name varchar(max) = 'Bicester_london_081223' --publishers will be appended so leave them off
declare @comp_steal_months int = 12 --months to look back for comp steal
declare	@PartnerID VARCHAR(max) = 4938
/*Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9*/
declare @bau_segments varchar(max) = NULL
declare @bespoke_segments varchar(max) = '7,8,9'
-----------------------------------------------------------------------------------
/*
	!
	DON'T CHANGE THESE
	!
*/
declare @table_name_rbs sysname = concat(@table_name,'_rbs')
declare @table_name_bc sysname = concat(@table_name,'_bc')
declare @table_name_vm sysname = concat(@table_name,'_vm')
declare @table_name_barclaysblue sysname = concat(@table_name,'_barclaysblue')
declare @table_name_monzo sysname = concat(@table_name,'_monzo')

declare @QualifiedName_rbs sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
declare @QualifiedName_bc sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_bc)
declare @QualifiedName_vm sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)
declare @QualifiedName_barclaysblue sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_barclaysblue)
declare @QualifiedName_monzo sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_monzo)

declare @sql_rbs_drop nvarchar(max)
declare @sql_bc_drop nvarchar(max)
declare @sql_vm_drop nvarchar(max)
declare @sql_barclaysblue_drop nvarchar(max)
declare @sql_monzo_drop nvarchar(max)

declare @sql_rbs_create nvarchar(max)
declare @sql_bc_create nvarchar(max)
declare @sql_vm_create nvarchar(max)
declare @sql_barclaysblue_create nvarchar(max)
declare @sql_monzo_create nvarchar(max)

declare @sql_rbs_selections nvarchar(max)
declare @sql_bc_selections nvarchar(max)
declare @sql_vm_selections nvarchar(max)
declare @sql_barclaysblue_selections nvarchar(max)
declare @sql_monzo_selections nvarchar(max)

declare @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
declare @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;




/*
	RBS
*/

/*RBS SELECTION*/

IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM Warehouse.Staging.Customer_DuplicateSourceUID)
AND PostalSector IN ('BR1 1','BR1 2','BR1 3','BR1 4','BR1 5','BR1 9','BR2 0','BR2 6','BR2 7','BR2 8','BR2 9','BR3 1','BR3 2','BR3 3','BR3 4','BR3 5','BR3 6','BR3 9','BR4 0','BR4 4','BR4 9','BR5 1','BR5 2','BR5 3','BR5 4','BR6 0','BR6 1','BR6 6','BR6 7','BR6 8','BR6 9','BR7 5','BR7 6','BR7 9','BR8 6','BR8 7','BR8 8','CM13 3','CM14 5','CM23 3','CR0 0','CR0 1','CR0 2','CR0 3','CR0 4','CR0 5','CR0 6','CR0 7','CR0 8','CR0 9','CR2 0','CR2 1','CR2 2','CR2 3','CR2 4','CR2 5','CR2 6','CR2 7','CR2 8','CR2 9','CR3 0','CR3 1','CR3 2','CR3 3','CR3 5','CR3 6','CR3 9','CR4 1','CR4 2','CR4 3','CR4 4','CR4 6','CR4 7','CR4 8','CR4 9','CR44 1','CR44 2','CR5 1','CR5 2','CR5 3','CR5 9','CR6 9','CR7 6','CR7 7','CR7 8','CR7 9','CR8 1','CR8 2','CR8 3','CR8 4','CR8 5','CR8 9','CR9 0','CR9 1','CR9 2','CR9 3','CR9 4','CR9 5','CR9 6','CR9 7','CR9 8','CR9 9','CR90 9','DA1 3','DA1 4','DA1 5','DA14 4','DA14 5','DA14 6','DA15 0','DA15 7','DA15 8','DA15 9','DA16 1','DA16 2','DA16 3','DA17 5','DA17 6','DA17 9','DA18 4','DA5 1','DA5 2','DA5 3','DA5 9','DA6 7','DA6 8','DA7 4','DA7 5','DA7 6','DA7 9','DA8 1','DA8 2','DA8 3','DA8 9','E1 0','E1 1','E1 2','E1 3','E1 4','E1 5','E1 6','E1 7','E1 8','E1 9','E10 5','E10 6','E10 7','E10 9','E11 1','E11 2','E11 3','E11 4','E11 9','E12 5','E12 6','E12 9','E13 0','E13 3','E13 8','E13 9','E14 0','E14 1','E14 2','E14 3','E14 4','E14 5','E14 6','E14 7','E14 8','E14 9','E15 1','E15 2','E15 3','E15 4','E15 9','E16 1','E16 2','E16 3','E16 4','E16 9','E17 0','E17 3','E17 4','E17 5','E17 6','E17 7','E17 8','E17 9','E18 1','E18 2','E18 9','E1W 1','E1W 2','E1W 3','E1W 9','E2 0','E2 2','E2 6','E2 7','E2 8','E2 9','E20 1','E20 2','E20 3','E3 2','E3 3','E3 4','E3 5','E3 9','E4 0','E4 6','E4 7','E4 8','E4 9','E5 0','E5 5','E5 8','E5 9','E6 1','E6 2','E6 3','E6 4','E6 5','E6 6','E6 7','E6 9','E7 0','E7 7','E7 8','E7 9','E77 1','E8 1','E8 2','E8 3','E8 4','E8 9','E9 5','E9 6','E9 7','E9 9','E98 1','EC1A 1','EC1A 2','EC1A 4','EC1A 7','EC1A 9','EC1M 3','EC1M 4','EC1M 5','EC1M 6','EC1M 7','EC1N 2','EC1N 6','EC1N 7','EC1N 8','EC1P 1','EC1R 0','EC1R 1','EC1R 3','EC1R 4','EC1R 5','EC1V 0','EC1V 1','EC1V 2','EC1V 3','EC1V 4','EC1V 7','EC1V 8','EC1V 9','EC1Y 0','EC1Y 1','EC1Y 2','EC1Y 4','EC1Y 7','EC1Y 8','EC2A 1','EC2A 2','EC2A 3','EC2A 4','EC2M 1','EC2M 2','EC2M 3','EC2M 4','EC2M 5','EC2M 6','EC2M 7','EC2N 1','EC2N 2','EC2N 3','EC2N 4','EC2P 2','EC2R 5','EC2R 6','EC2R 7','EC2R 8','EC2V 5','EC2V 6','EC2V 7','EC2V 8','EC2Y 5','EC2Y 8','EC2Y 9','EC3A 1','EC3A 2','EC3A 3','EC3A 4','EC3A 5','EC3A 6','EC3A 7','EC3A 8','EC3B 0','EC3M 1','EC3M 2','EC3M 3','EC3M 4','EC3M 5','EC3M 6','EC3M 7','EC3M 8','EC3N 1','EC3N 2','EC3N 3','EC3N 4','EC3P 3','EC3R 5','EC3R 6','EC3R 7','EC3R 8','EC3V 0','EC3V 1','EC3V 3','EC3V 4','EC3V 9','EC4A 1','EC4A 2','EC4A 3','EC4A 4','EC4M 4','EC4M 5','EC4M 6','EC4M 7','EC4M 8','EC4M 9','EC4N 1','EC4N 4','EC4N 5','EC4N 6','EC4N 7','EC4N 8','EC4P 4','EC4R 0','EC4R 1','EC4R 2','EC4R 3','EC4R 9','EC4V 2','EC4V 3','EC4V 4','EC4V 5','EC4V 6','EC4Y 0','EC4Y 1','EC4Y 7','EC4Y 8','EC4Y 9','EC50 0','EC50 1','EC50 3','EC50 4','EC50 5','EC50 6','EC50 9','EC88 1','EC88 2','EC88 3','EC88 4','EC88 5','EC88 6','EC88 7','EC88 8','EC88 9','EN1 1','EN1 2','EN1 3','EN1 4','EN1 8','EN1 9','EN2 0','EN2 6','EN2 7','EN2 8','EN2 9','EN3 4','EN3 5','EN3 6','EN3 7','EN4 0','EN4 8','EN4 9','EN5 1','EN5 2','EN5 3','EN5 4','EN5 5','EN5 9','EN6 1','EN6 2','EN6 5','EN7 3','EN7 5','EN8 7','EN8 8','EN9 1','HA0 1','HA0 2','HA0 3','HA0 4','HA0 9','HA1 1','HA1 2','HA1 3','HA1 4','HA1 9','HA2 0','HA2 2','HA2 5','HA2 6','HA2 7','HA2 8','HA2 9','HA3 0','HA3 3','HA3 5','HA3 6','HA3 7','HA3 8','HA3 9','HA4 0','HA4 4','HA4 6','HA4 7','HA4 8','HA4 9','HA5 1','HA5 2','HA5 3','HA5 4','HA5 5','HA5 9','HA6 1','HA6 2','HA6 3','HA6 9','HA7 1','HA7 2','HA7 3','HA7 4','HA7 9','HA8 0','HA8 4','HA8 5','HA8 6','HA8 7','HA8 8','HA8 9','HA9 0','HA9 1','HA9 6','HA9 7','HA9 8','HA9 9','IG1 1','IG1 2','IG1 3','IG1 4','IG1 8','IG1 9','IG11 0','IG11 1','IG11 7','IG11 8','IG11 9','IG2 6','IG2 7','IG3 8','IG3 9','IG4 5','IG5 0','IG6 1','IG6 2','IG6 3','IG7 4','IG7 5','IG7 6','IG8 0','IG8 1','IG8 7','IG8 8','IG8 9','IG9 5','IG9 6','KT1 1','KT1 2','KT1 3','KT1 4','KT1 9','KT17 2','KT17 3','KT18 7','KT19 9','KT2 5','KT2 6','KT2 7','KT22 0','KT3 3','KT3 4','KT3 5','KT3 6','KT3 9','KT4 7','KT4 8','KT4 9','KT5 8','KT5 9','KT6 4','KT6 5','KT6 6','KT6 7','KT7 0','KT8 9','KT9 1','KT9 2','KT9 9','N1 0','N1 1','N1 2','N1 3','N1 4','N1 5','N1 6','N1 7','N1 8','N1 9','N10 1','N10 2','N10 3','N10 9','N11 1','N11 2','N11 3','N11 9','N12 0','N12 2','N12 7','N12 8','N12 9','N13 4','N13 5','N13 6','N13 9','N14 4','N14 5','N14 6','N14 7','N14 9','N15 3','N15 4','N15 5','N15 6','N15 9','N16 0','N16 1','N16 5','N16 6','N16 7','N16 8','N16 9','N17 0','N17 1','N17 6','N17 7','N17 8','N17 9','N18 1','N18 2','N18 3','N18 9','N19 3','N19 4','N19 5','N19 9','N1C 4','N1P 1','N1P 2','N2 0','N2 2','N2 8','N2 9','N20 0','N20 2','N20 8','N20 9','N21 1','N21 2','N21 3','N21 9','N22 4','N22 5','N22 6','N22 7','N22 8','N22 9','N3 1','N3 2','N3 3','N3 9','N4 1','N4 2','N4 3','N4 4','N4 9','N5 1','N5 2','N5 9','N6 4','N6 5','N6 6','N6 9','N7 0','N7 1','N7 6','N7 7','N7 8','N7 9','N8 0','N8 1','N8 7','N8 8','N8 9','N81 1','N9 0','N9 1','N9 7','N9 8','N9 9','NW1 0','NW1 1','NW1 2','NW1 3','NW1 4','NW1 5','NW1 6','NW1 7','NW1 8','NW1 9','NW10 0','NW10 1','NW10 2','NW10 3','NW10 4','NW10 5','NW10 6','NW10 7','NW10 8','NW10 9','NW11 0','NW11 1','NW11 6','NW11 7','NW11 8','NW11 9','NW1W 7','NW1W 8','NW1W 9','NW2 1','NW2 2','NW2 3','NW2 4','NW2 5','NW2 6','NW2 7','NW2 9','NW26 9','NW3 1','NW3 2','NW3 3','NW3 4','NW3 5','NW3 6','NW3 7','NW3 9','NW4 1','NW4 2','NW4 3','NW4 4','NW4 9','NW5 1','NW5 2','NW5 3','NW5 4','NW5 9','NW6 1','NW6 2','NW6 3','NW6 4','NW6 5','NW6 6','NW6 7','NW6 9','NW7 0','NW7 1','NW7 2','NW7 3','NW7 4','NW8 0','NW8 1','NW8 6','NW8 7','NW8 8','NW8 9','NW9 0','NW9 1','NW9 4','NW9 5','NW9 6','NW9 7','NW9 8','NW9 9','RM1 1','RM1 2','RM1 3','RM1 4','RM10 7','RM10 8','RM10 9','RM11 1','RM11 2','RM11 3','RM12 3','RM12 4','RM12 5','RM12 6','RM12 9','RM13 0','RM13 7','RM13 8','RM13 9','RM14 1','RM14 2','RM14 3','RM14 9','RM15 4','RM2 5','RM2 6','RM3 0','RM3 3','RM3 7','RM3 8','RM3 9','RM4 1','RM5 2','RM5 3','RM50 1','RM50 2','RM50 4','RM6 4','RM6 5','RM6 6','RM7 0','RM7 1','RM7 7','RM7 8','RM7 9','RM8 1','RM8 2','RM8 3','RM9 4','RM9 5','RM9 6','RM9 9','SE1 0','SE1 1','SE1 2','SE1 3','SE1 4','SE1 5','SE1 6','SE1 7','SE1 8','SE1 9','SE10 0','SE10 1','SE10 8','SE10 9','SE11 4','SE11 5','SE11 6','SE11 9','SE12 0','SE12 2','SE12 8','SE12 9','SE13 5','SE13 6','SE13 7','SE13 9','SE14 5','SE14 6','SE14 9','SE15 1','SE15 2','SE15 3','SE15 4','SE15 5','SE15 6','SE15 9','SE16 1','SE16 2','SE16 3','SE16 4','SE16 5','SE16 6','SE16 7','SE16 9','SE17 1','SE17 2','SE17 3','SE17 9','SE18 1','SE18 2','SE18 3','SE18 4','SE18 5','SE18 6','SE18 7','SE18 9','SE19 1','SE19 2','SE19 3','SE19 9','SE1P 4','SE1P 5','SE2 0','SE2 8','SE2 9','SE20 7','SE20 8','SE20 9','SE21 7','SE21 8','SE21 9','SE22 0','SE22 2','SE22 8','SE22 9','SE23 1','SE23 2','SE23 3','SE23 9','SE24 0','SE24 4','SE24 9','SE25 4','SE25 5','SE25 6','SE25 9','SE26 4','SE26 5','SE26 6','SE26 9','SE27 0','SE27 7','SE27 9','SE28 0','SE28 8','SE28 9','SE3 0','SE3 3','SE3 7','SE3 8','SE3 9','SE4 1','SE4 2','SE4 9','SE5 0','SE5 5','SE5 7','SE5 8','SE5 9','SE6 1','SE6 2','SE6 3','SE6 4','SE6 9','SE7 7','SE7 8','SE7 9','SE8 3','SE8 4','SE8 5','SE8 9','SE9 1','SE9 2','SE9 3','SE9 4','SE9 5','SE9 6','SE9 9','SE99 7','SM1 1','SM1 2','SM1 3','SM1 4','SM1 9','SM2 5','SM2 6','SM2 7','SM3 2','SM3 8','SM3 9','SM4 4','SM4 5','SM4 6','SM4 9','SM5 1','SM5 2','SM5 3','SM5 4','SM5 9','SM6 0','SM6 6','SM6 7','SM6 8','SM6 9','SM7 1','SM7 3','SW10 0','SW10 1','SW10 9','SW11 1','SW11 2','SW11 3','SW11 4','SW11 5','SW11 6','SW11 7','SW11 8','SW11 9','SW12 0','SW12 2','SW12 8','SW12 9','SW13 0','SW13 3','SW13 8','SW13 9','SW14 7','SW14 8','SW14 9','SW15 1','SW15 2','SW15 3','SW15 4','SW15 5','SW15 6','SW15 9','SW16 1','SW16 2','SW16 3','SW16 4','SW16 5','SW16 6','SW16 9','SW17 0','SW17 1','SW17 6','SW17 7','SW17 8','SW17 9','SW18 1','SW18 2','SW18 3','SW18 4','SW18 5','SW18 9','SW19 1','SW19 2','SW19 3','SW19 4','SW19 5','SW19 6','SW19 7','SW19 8','SW19 9','SW1A 0','SW1A 1','SW1A 2','SW1E 5','SW1E 6','SW1H 0','SW1H 9','SW1P 1','SW1P 2','SW1P 3','SW1P 4','SW1P 9','SW1V 1','SW1V 2','SW1V 3','SW1V 4','SW1W 0','SW1W 8','SW1W 9','SW1X 0','SW1X 1','SW1X 7','SW1X 8','SW1X 9','SW1Y 4','SW1Y 5','SW1Y 6','SW2 1','SW2 2','SW2 3','SW2 4','SW2 5','SW2 9','SW20 0','SW20 2','SW20 8','SW20 9','SW3 1','SW3 2','SW3 3','SW3 4','SW3 5','SW3 6','SW3 9','SW4 0','SW4 4','SW4 6','SW4 7','SW4 8','SW4 9','SW5 0','SW5 5','SW5 9','SW6 1','SW6 2','SW6 3','SW6 4','SW6 5','SW6 6','SW6 7','SW6 9','SW7 1','SW7 2','SW7 3','SW7 4','SW7 5','SW7 9','SW8 1','SW8 2','SW8 3','SW8 4','SW8 5','SW8 9','SW9 0','SW9 1','SW9 6','SW9 7','SW9 8','SW9 9','SW95 9','SW99 0','TN14 7','TN16 1','TN16 2','TN16 3','TN16 9','TW1 1','TW1 2','TW1 3','TW1 4','TW1 9','TW10 3','TW10 5','TW10 6','TW10 7','TW11 0','TW11 1','TW11 8','TW11 9','TW12 1','TW12 2','TW12 3','TW12 9','TW13 4','TW13 5','TW13 6','TW13 7','TW13 9','TW14 0','TW14 8','TW14 9','TW15 1','TW19 6','TW19 7','TW2 5','TW2 6','TW2 7','TW3 1','TW3 2','TW3 3','TW3 4','TW3 9','TW4 5','TW4 6','TW4 7','TW5 0','TW5 9','TW6 1','TW6 2','TW6 3','TW7 4','TW7 5','TW7 6','TW7 7','TW7 9','TW8 0','TW8 1','TW8 8','TW8 9','TW9 1','TW9 2','TW9 3','TW9 4','TW9 9','UB1 1','UB1 2','UB1 3','UB1 9','UB10 0','UB10 8','UB10 9','UB11 1','UB18 7','UB18 9','UB2 4','UB2 5','UB3 1','UB3 2','UB3 3','UB3 4','UB3 5','UB3 9','UB4 0','UB4 8','UB4 9','UB5 4','UB5 5','UB5 6','UB5 9','UB6 0','UB6 7','UB6 8','UB6 9','UB7 0','UB7 7','UB7 8','UB7 9','UB8 1','UB8 2','UB8 3','UB8 9','UB9 4','UB9 5','UB9 6','W1 3','W10 4','W10 5','W10 6','W10 9','W11 1','W11 2','W11 3','W11 4','W11 9','W12 0','W12 2','W12 6','W12 7','W12 8','W12 9','W13 0','W13 3','W13 8','W13 9','W14 0','W14 4','W14 8','W14 9','W1A 0','W1A 1','W1A 2','W1A 3','W1A 4','W1A 5','W1A 6','W1A 7','W1A 8','W1A 9','W1B 1','W1B 2','W1B 3','W1B 4','W1B 5','W1C 1','W1C 2','W1D 1','W1D 2','W1D 3','W1D 4','W1D 5','W1D 6','W1D 7','W1F 0','W1F 7','W1F 8','W1F 9','W1G 0','W1G 6','W1G 7','W1G 8','W1G 9','W1H 0','W1H 1','W1H 2','W1H 3','W1H 4','W1H 5','W1H 6','W1H 7','W1H 8','W1H 9','W1J 0','W1J 5','W1J 6','W1J 7','W1J 8','W1J 9','W1K 1','W1K 2','W1K 3','W1K 4','W1K 5','W1K 6','W1K 7','W1M 0','W1M 1','W1M 2','W1M 3','W1M 4','W1M 5','W1M 6','W1M 7','W1M 8','W1M 9','W1N 0','W1N 1','W1N 2','W1N 3','W1N 4','W1N 5','W1N 6','W1N 7','W1N 8','W1N 9','W1P 0','W1P 1','W1P 2','W1P 3','W1P 4','W1P 5','W1P 6','W1P 7','W1P 8','W1P 9','W1R 0','W1R 1','W1R 2','W1R 3','W1R 4','W1R 5','W1R 6','W1R 7','W1R 8','W1R 9','W1S 1','W1S 2','W1S 3','W1S 4','W1T 1','W1T 2','W1T 3','W1T 4','W1T 5','W1T 6','W1T 7','W1U 1','W1U 2','W1U 3','W1U 4','W1U 5','W1U 6','W1U 7','W1U 8','W1V 0','W1V 1','W1V 2','W1V 3','W1V 4','W1V 5','W1V 6','W1V 7','W1V 8','W1V 9','W1W 5','W1W 6','W1W 7','W1W 8','W1X 0','W1X 1','W1X 2','W1X 3','W1X 4','W1X 5','W1X 6','W1X 7','W1X 8','W1X 9','W1Y 0','W1Y 1','W1Y 2','W1Y 3','W1Y 4','W1Y 5','W1Y 6','W1Y 7','W1Y 8','W1Y 9','W2 1','W2 2','W2 3','W2 4','W2 5','W2 6','W2 7','W3 0','W3 3','W3 6','W3 7','W3 8','W3 9','W4 1','W4 2','W4 3','W4 4','W4 5','W4 9','W5 1','W5 2','W5 3','W5 4','W5 5','W5 9','W6 0','W6 6','W6 7','W6 8','W6 9','W7 1','W7 2','W7 3','W7 9','W8 4','W8 5','W8 6','W8 7','W8 9','W9 1','W9 2','W9 3','W9 4','WC1A 1','WC1A 2','WC1A 5','WC1A 9','WC1B 3','WC1B 4','WC1B 5','WC1E 6','WC1E 7','WC1H 0','WC1H 8','WC1H 9','WC1N 1','WC1N 2','WC1N 3','WC1R 4','WC1R 5','WC1V 6','WC1V 7','WC1X 0','WC1X 8','WC1X 9','WC2A 1','WC2A 2','WC2A 3','WC2B 4','WC2B 5','WC2B 6','WC2B 8','WC2E 7','WC2E 8','WC2E 9','WC2H 0','WC2H 7','WC2H 8','WC2H 9','WC2N 4','WC2N 5','WC2N 6','WC2R 0','WC2R 1','WC2R 2','WC2R 3','WC99 0','WC99 9','WD2 1','WD23 1','WD3 1','WD3 2','WD3 8','WD6 2')

;

;

IF OBJECT_ID(@QualifiedName_rbs) IS NOT NULL
BEGIN
	SET @sql_rbs_drop = 'DROP TABLE ' + @QualifiedName_rbs
	EXEC (@sql_rbs_drop)
END

SET @sql_rbs_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_rbs
	+ ' FROM #FB_rbs GROUP BY FanID, CINID'
EXEC (@sql_rbs_create)
;
-----------------------------------------------------------------------------------

/* RBS SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
;
create table #SegmentAssignment_RBS (FanID int)
;
SET @sql_rbs_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_rbs
;
insert into #SegmentAssignment_RBS
exec (@sql_rbs_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_RBS') IS NOT NULL DROP TABLE #FinalSelection_RBS
;
create table #FinalSelection_RBS (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])
end
;

DROP TABLE IF EXISTS [Selections].[BIC054_PreSelection]
SELECT FanID
INTO [Selections].[BIC054_PreSelection]
FROM #FinalSelection_RBS

END
GO
