USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[LUX003_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[LUX003_PreSelection_sProc]
AS
BEGIN



IF OBJECT_ID('[Sandbox].[CaraC].[Gatwick120Min]') IS NOT NULL DROP TABLE [Sandbox].[CaraC].[Gatwick120Min]		
	     SELECT CINID,FanID
		 into [Sandbox].[CaraC].[Gatwick120Min]
	 FROM  WH_NWG.Derived.Customer C 
		JOIN WH_NWG.Derived.CINList CL 	ON CL.CIN = C.SourceUID
		JOIN WH_AllPublishers.Derived.DriveTimeMatrix dtm on c.PostalSector=dtm.FromSector
						WHERE C.CurrentlyActive = 1
						and DriveTimeMins < 120 AND toSector in ('RH6 0')

	IF OBJECT_ID('[WH_NWG].[Selections].[LUX003_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[LUX003_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[LUX003_PreSelection]
	FROM [Sandbox].[CaraC].[Gatwick120Min]

END
GO
