USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[EE008_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[EE008_PreSelection_sProc]
AS
BEGIN

	DROP TABLE IF EXISTS #CC
	SELECT	cc.[ConsumerCombinationID_DD]
	INTO #CC
	FROM [Trans].[ConsumerCombination_DD] cc
	WHERE cc.[OIN] = '445287'

	CREATE CLUSTERED INDEX [CIX_CCID] ON #CC ([ConsumerCombinationID_DD])

	DROP TABLE IF EXISTS #CT
	SELECT	ct.[BankAccountID]
		,	ct.[FanID]
		,	[TranDate] = MAX(ct.[TranDate])
	INTO #CT
	FROM [Trans].[ConsumerTransaction_DD] ct
	WHERE EXISTS (	SELECT 1
					FROM #CC cc
					WHERE ct.[ConsumerCombinationID_DD] = cc.[ConsumerCombinationID_DD])
	AND ct.[TranDate] >= DATEADD(MONTH, -12, GETDATE())
	GROUP BY	ct.[BankAccountID]
			,	ct.[FanID]

	DROP TABLE IF EXISTS #BT_Customers
	SELECT	DISTINCT
			ct.[FanID]
	INTO #BT_Customers
	FROM #CT ct

	CREATE CLUSTERED INDEX [CIX_FanID] ON #BT_Customers ([FanID])

	DROP TABLE IF EXISTS #BT_BankAccounts
	SELECT	bai.[BankAccountGUID]
	INTO #BT_BankAccounts
	FROM #CT ct
	INNER JOIN [WHB].[BankAccountIDs] bai
		ON ct.[BankAccountID] = bai.[BankAccountID]

	CREATE CLUSTERED INDEX [CIX_BankAccountGUID] ON #BT_BankAccounts ([BankAccountGUID])

	DROP TABLE IF EXISTS #BT_Households
	SELECT	mf.[HouseholdID]
	INTO #BT_Households
	FROM [Derived].[MFDD_Households] mf
	INNER JOIN #BT_Customers bt
		ON mf.[FanID] = bt.[FanID]

	CREATE CLUSTERED INDEX [CIX_HHID] ON #BT_Households ([HouseholdID])

	INSERT INTO #BT_Households
	SELECT	mf.[HouseholdID]
	FROM [Derived].[MFDD_Households] mf
	INNER JOIN #BT_BankAccounts bt
		ON mf.[BankAccountGUID] = bt.[BankAccountGUID]
	WHERE NOT EXISTS (	SELECT 1
						FROM #BT_Households bthh
						WHERE mf.[HouseholdID] = bthh.[HouseholdID])					

	DROP TABLE IF EXISTS #BT_CustomerGUIDs
	SELECT	cu.[CustomerGUID]
	INTO #BT_CustomerGUIDs
	FROM [Derived].[MFDD_Households] mf
	INNER JOIN [Derived].[Customer] cu
		ON mf.[FanID] = cu.[FanID]
	WHERE EXISTS (	SELECT 1
					FROM #BT_Households bthh
					WHERE mf.[HouseholdID] = bthh.[HouseholdID])

	DROP TABLE IF EXISTS #BankAccountNominees
	SELECT	DISTINCT
			ban.[CustomerGUID]
	INTO #BankAccountNominees
	FROM [Derived].[BankAccountNominees] ban
	WHERE ban.[EndDate] IS NULL
	AND EXISTS (SELECT 1
				FROM [Derived].[BankAccounts] ba
				WHERE ba.[BankAccountStatusID] = 1
				AND ban.[BankAccountGUID] = ba.[BankAccountGUID])
	AND EXISTS (SELECT 1
				FROM [Derived].[Customer] cu
				WHERE cu.[CurrentlyActive] = 1
				AND ban.[CustomerGUID] = cu.[CustomerGUID])

	DROP TABLE IF EXISTS [Selections].[EE008_PreSelection]
	SELECT cu.[FanID]
	INTO [Selections].[EE008_PreSelection]
	FROM [Derived].[Customer] cu
	WHERE EXISTS (	SELECT 1
					FROM #BankAccountNominees ban
					WHERE cu.[CustomerGUID] = ban.[CustomerGUID])
	AND NOT EXISTS (SELECT 1
					FROM #BT_CustomerGUIDs cg
					WHERE cu.[CustomerGUID] = cg.[CustomerGUID])

END
GO
