USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[NAK005_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[NAK005_PreSelection_sProc]
AS
BEGIN

-------------------------------------------------------------------------------------
----RBS - Acquie & Lapsed & Shopper
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)



IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  (246)



IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-12,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.RukanK.RBS_NakedWines_excl_Laithwaites_20241025') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_NakedWines_excl_Laithwaites_20241025
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_NakedWines_excl_Laithwaites_20241025
FROM	#FB_rbs
WHERE	FANID NOT IN (SELECT FANID FROM #Trans_rbs)
GROUP BY FanID, CINID


-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -- Declare Partner ID -- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --
DECLARE	@PartnerID VARCHAR(500) = 5237


-- RBS:
-- For Selection cases, UPDATE THE SANDBOX BELOW
IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
SELECT	FanID
INTO	#SegmentAssignment_RBS
FROM	Sandbox.RukanK.RBS_NakedWines_excl_Laithwaites_20241025


-- Segments with BESPOKE Selection code
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (7,8,9)					
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])

DROP TABLE IF EXISTS [Selections].[NAK005_PreSelection]
SELECT FanID
INTO [Selections].[NAK005_PreSelection]
FROM  #SegmentAssignment_RBS

END
GO
