USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[JE011_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[JE011_PreSelection_sProc]
AS
BEGIN

--------------------------------------------------------------
--------------------------------------------------------------
--*********************NatWest*******************************
--------------------------------------------------------------
--------------------------------------------------------------

IF OBJECT_ID('Sandbox.TaherD.JustEat_Shadow_NW') IS NOT NULL
    DROP TABLE Sandbox.TaherD.JustEat_Shadow_NW;

SELECT
    C.FanID,
    CL.CINID
INTO Sandbox.TaherD.JustEat_Shadow_NW
FROM WH_NWG.Derived.Customer C
JOIN WH_NWG.Derived.CINList CL
    ON CL.CIN = C.SourceUID
WHERE C.CurrentlyActive = 1
    AND C.City IN (
        'Cardiff',
        'Aberdeen',
        'Birmingham',
        'Newcastle',
        'Portsmouth',
        'Sheffield'
    )
    AND NOT EXISTS (
        SELECT 1
        FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds
        WHERE ds.SourceUID = C.SourceUID
    );

CREATE CLUSTERED INDEX CIX_JustEat_Shadow_NW_FanID
ON Sandbox.TaherD.JustEat_Shadow_NW (FanID);

SELECT COUNT(*) AS CustomerCount
FROM Sandbox.TaherD.JustEat_Shadow_NW;

	IF OBJECT_ID('[WH_NWG].[Selections].[JE011_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[JE011_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[JE011_PreSelection]
	FROM Sandbox.TaherD.JustEat_Shadow_NW

END
GO
