USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[WA243_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[WA243_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs
SELECT	CINID,FanID
INTO	#FB_rbs
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])
CREATE CLUSTERED INDEX ix_CINID on #FB_rbs(CINID)

DROP TABLE IF EXISTS #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
INTO	#CC_rbs
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN  (292,21,379,425,2541,5,254,485)		-- Morrisons 292, Asda 21, Sainsburys 379, Tesco 425, Amazon Fresh 2541, Aldi 5, Lidl 254, Waitrose 485
CREATE CLUSTERED INDEX ix_ConsumerCombinationID on #CC_rbs(ConsumerCombinationID)

DROP TABLE IF EXISTS #trans_rbs
SELECT  CT.CINID,FanID
		,1.0 * (CAST(SUM(CASE WHEN BrandID = 485 THEN Amount ELSE 0 END )as float) / NULLIF(SUM(Amount),0)) AS SoW
		,MAX(CASE WHEN BrandID = 485 AND TranDate >= DATEADD(MONTH,-3,GETDATE()) THEN 1 ELSE 0 END) BrandShopper
		,COUNT(1) as Transactions
INTO	#Trans_rbs
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= CAST(DATEADD(MONTH,-3,GETDATE()) AS DATE)
		AND amount > 0
GROUP BY ct.CINID,FanID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(CINID)

DROP TABLE IF EXISTS Sandbox.CaraC.RBS_Waitrose_LoW_SoW_08012024	-- 
SELECT	CINID	,FanID																												
INTO	Sandbox.CaraC.RBS_Waitrose_LoW_SoW_08012024
FROM	#Trans_rbs
WHERE	BrandShopper = 1
		AND SoW <= 0.30
		--AND Transactions >= 15
GROUP BY CINID,FanID

DROP TABLE IF EXISTS [Selections].[WA243_PreSelection]
SELECT FanID
INTO [Selections].[WA243_PreSelection]
FROM Sandbox.CaraC.RBS_Waitrose_LoW_SoW_08012024

END
GO
