USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[LEG030_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[LEG030_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #cc
CREATE TABLE #cc (consumercombinationid int not null primary key, brandid int, brandname varchar(50))
insert into #cc
select cc.consumercombinationid, cc.brandid, b.brandname
from WH_NWG.Trans.ConsumerCombination cc
inner join WH_AllPublishers.Trans.Brand b on cc.brandid=b.brandid
where --cc.brandid in ('23','539','336','298','40')
 sectorid in (41)
-------------------------------------------------------------------------------------------------------------
--select MAX(trandate) from WH_NWG.Trans.ConsumerTransaction ct
--select count(distinct CINID) 
--from WH_NWG.Trans.ConsumerTransaction cc
--where year(trandate) = 2024 and month(trandate) = 12 

set transaction isolation level read uncommitted
declare @SoWstartdate date =  dateadd(day, 1, dateadd(month, -12, (getdate())))
declare @startdate date =  dateadd(day, 1, dateadd(month, -6, (getdate())))
declare @enddate date = dateadd(day, -10, getdate())
declare @brandid as INT = 2089

DROP TABLE IF EXISTS #temp_ttl
select ct.cinid, count(*) as ttltransactions, sum(ct.amount) as ttlspend,  DATEDIFF(day, MAX(trandate),dateadd(day, -10, getdate())) Recency
into #temp_ttl
from WH_NWG.Trans.ConsumerTransaction ct
inner join #cc cc on ct.consumercombinationid=cc.consumercombinationid
where ct.trandate between @startdate and @enddate
and ct.amount>0
group by ct.cinid


DROP TABLE IF EXISTS #temp_brand
select ct.cinid, cc.brandname, count(*) as brand_transactions, sum(ct.amount) as brand_spend,
sum(ct.amount)/sum(sum(ct.amount)) over (partition by ct.cinid) as percentage_of_spend, DATEDIFF(day, MAX(trandate),dateadd(day, -10, getdate())) brand_Recency, brandid
into #temp_brand
from WH_NWG.Trans.ConsumerTransaction ct
inner join #cc cc on ct.consumercombinationid=cc.consumercombinationid
where ct.trandate between @startdate and @enddate
and ct.amount>0
group by ct.cinid, cc.brandname, brandid

DROP TABLE IF EXISTS #temp_brand_pre
select ct.cinid, cc.brandname, count(*) as brand_transactions_pre, sum(ct.amount) as brand_spend_pre,
sum(ct.amount)/sum(sum(ct.amount)) over (partition by ct.cinid) as percentage_of_spend, brandid
into #temp_brand_pre
from WH_NWG.Trans.ConsumerTransaction ct
inner join #cc cc on ct.consumercombinationid=cc.consumercombinationid
where ct.trandate between @SoWstartdate and @startdate
and ct.amount>0
group by ct.cinid, cc.brandname, brandid

DROP TABLE IF EXISTS #temp_recency
select ct.cinid, cc.brandname, brandid, ct.trandate ,
LAG(trandate) OVER (PARTITION BY ct.cinid ORDER BY trandate) AS prev_transaction
into #temp_recency
from WH_NWG.Trans.ConsumerTransaction ct
inner join #cc cc on ct.consumercombinationid=cc.consumercombinationid
where ct.trandate between @startdate and @enddate
and ct.amount>0
group by ct.cinid, cc.brandname, brandid, ct.trandate 

drop table if exists #SoW
select cinid, percentage_of_spend*100 Sow
into #SoW
from #temp_brand t
where brandid = @brandid
group by cinid, percentage_of_spend

drop table if exists #SoW_pre
select cinid, percentage_of_spend*100 Sow_pre
into #SoW_pre
from #temp_brand_pre t
where brandid = @brandid
group by cinid, percentage_of_spend

DROP TABLE IF EXISTS #temp_mainbrand
select cinid, brand_Recency, brand_transactions,percentage_of_spend, brand_spend
into #temp_mainbrand
from #temp_brand
where brandid = @brandid
group by cinid, brand_Recency, brand_transactions,percentage_of_spend, brand_spend

DROP TABLE IF EXISTS #temp_mainbrand_pre
select cinid, brand_transactions_pre, brand_spend_pre
into #temp_mainbrand_pre
from #temp_brand_pre
where brandid = @brandid
group by cinid, brand_transactions_pre, brand_spend_pre
-----------------------------------------------------------------------------------------------------------------------------------------
drop table if exists #SoW_YoY
select a.CINID, 
case when Sow_pre - Sow <= 0.2 then 'lapsing' else 'gaining' end as lapsed_group
into #SoW_YoY
from #SOW a
join #SoW_pre b on a.CINID = b.CINID
group by 
 a.CINID, 
case when Sow_pre - Sow <= 0.2 then 'lapsing' else 'gaining' end 

DROP TABLE IF EXISTS #temp_ttl_2
select ct.CINID, ttltransactions, ttlspend,Recency, lapsed_group
into #temp_ttl_2
from #temp_ttl ct
Left join #SoW_YoY YoY on ct.CINID = YoY.CINID 
join #temp_brand brand on brand.CINID = ct.cinid 
where brandid = @brandid
group by ct.CINID, ttltransactions, ttlspend,Recency,  brand_recency, lapsed_group

-------------------------------------------------------------------------------------------------------------------------------------
--- Total Spend
drop table if exists #TTLSpend_tier
select top 1* 
into #TTLSpend_tier
from 
(select 
  percentile_disc(0.75) within group(order by ttlspend) over () as VIP_Spend,
  percentile_disc(0.60) within group(order by ttlspend) over () as Potential_Spend,
  percentile_disc(0.40) within group(order by ttlspend) over () as Core_Spend,
  percentile_disc(0.20) within group(order by ttlspend) over () as Low_Spend
from #temp_ttl)a

--- Transaction Frequency
drop table if exists #Transaction_tier
select top 1* 
into #Transaction_tier
from 
(select 
  percentile_disc(0.80) within group(order by brand_transactions) over () as VIP_Brand_trx,
  percentile_disc(0.60) within group(order by brand_transactions) over () as Potential_Brand_trx,
  percentile_disc(0.40) within group(order by brand_transactions) over () as Core_Brand_trx,
  percentile_disc(0.20) within group(order by brand_transactions) over () as Low_Brand_trx
from #temp_brand)a

-- SOW
drop table if exists #SoW_tier
select top 1* 
into #SoW_tier
from 
(select 
  percentile_disc(0.60) within group(order by sow) over () as VIP_SOW,
  percentile_disc(0.50) within group(order by sow) over () as Potential_SOW,
  percentile_disc(0.40) within group(order by sow) over () as Core_SOW,
  percentile_disc(0.30) within group(order by sow) over () as Low_SOW
from #SOW)a

--Recency
drop table if exists #SoW_recency
select top 1* 
into #SoW_recency
from 
(select 
  percentile_disc(0.20) within group(order by DATEDIFF(day, prev_transaction, trandate)) over () as VIP_Freq,
  percentile_disc(0.40) within group(order by DATEDIFF(day, prev_transaction, trandate)) over () as Potential_Freq,
  percentile_disc(0.60) within group(order by DATEDIFF(day, prev_transaction, trandate)) over () as Core_Freq,
  percentile_disc(0.80) within group(order by DATEDIFF(day, prev_transaction, trandate)) over () as Low_Freq
from #temp_recency)a


-------------------------------------------------------------------------------------------------------------
-- declare
declare @vip_spend numeric(12,8) = (select vip_spend from #TTLSpend_tier)
declare @Potential_Spend numeric(12,8) = (select Potential_Spend from #TTLSpend_tier)
declare @Core_Spend numeric(12,8) = (select Core_Spend from #TTLSpend_tier)
declare @Low_Spend numeric(12,8) = (select Low_Spend from #TTLSpend_tier)

declare @VIP_Freq numeric(12,8) = (select VIP_Freq from #SoW_recency)
declare @Potential_Freq numeric(12,8) = (select Potential_Freq from #SoW_recency)
declare @Core_Freq numeric(12,8) = (select Core_Freq from #SoW_recency)
declare @Low_Freq numeric(12,8) = (select Low_Freq from #SoW_recency)

declare @VIP_SOW numeric(12,8) = (select VIP_SOW/100 from #SoW_tier)
declare @Potential_SOW numeric(12,8) = (select Potential_SOW/100 from #SoW_tier)
declare @Core_SOW numeric(12,8) = (select Core_SOW/100 from #SoW_tier)
declare @Low_SOW numeric(12,8) = (select Low_SOW/100 from #SoW_tier)

declare @VIP_Brand_trx numeric(12,8) = (select VIP_Brand_trx from #Transaction_tier)
declare @Potential_Brand_trx numeric(12,8) = (select Potential_Brand_trx from #Transaction_tier)
declare @Core_Brand_trx numeric(12,8) = (select Core_Brand_trx from #Transaction_tier)
declare @Low_Brand_trx numeric(12,8) = (select Low_Brand_trx from #Transaction_tier)

drop table if exists #ShopperSegmentationSelection
Select #temp_ttl_2.CINID
into #ShopperSegmentationSelection
from #temp_ttl_2
join #temp_mainbrand on #temp_ttl_2.CINID = #temp_mainbrand.CINID
where ttlspend >= @Potential_Spend and percentage_of_spend< @VIP_SOW 
group by #temp_ttl_2.CINID 

 IF OBJECT_ID('tempdb..#FB') IS NOT NULL DROP TABLE #FB
		SELECT	C.FanID
		INTO	#FB
		FROM	WH_NWG.Derived.Customer C
		INNER JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
		INNER JOIN	#ShopperSegmentationSelection segment on CL.CINID = segment.CINID
		WHERE	C.CurrentlyActive = 1
				AND SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID)



DROP TABLE IF EXISTS [Selections].[LEG030_PreSelection]
	SELECT FanID
	INTO [Selections].[LEG030_PreSelection]
	FROM #FB

END
GO
