USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[HAV047_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[HAV047_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	CINID
		,FanID
		,AgeCurrent
INTO #FB
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])
--and AgeCurrent >= 55

DROP TABLE IF EXISTS #CC
SELECT	CC.BrandID
		,ConsumerCombinationID
INTO #CC
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN (2203,3465,3466,3467,3469,3470,3471,3473,1093,2625,1504)

DECLARE @DATE_36 DATE = DATEADD(MONTH,-36,GETDATE())

DROP TABLE IF EXISTS Sandbox.bastienc.havencompsteal
select  ct.CINID
INTO Sandbox.bastienc.havencompsteal
from [Trans].[ConsumerTransaction] ct
join #CC cc
	on ct.ConsumerCombinationID = cc.ConsumerCombinationID
join #FB fb
	on ct.CINID = fb.CINID
where trandate >= @DATE_36
and amount > 0
group by ct.CINID

DROP TABLE IF EXISTS [Selections].[HAV047_PreSelection]
SELECT FanID
INTO [Selections].[HAV047_PreSelection]
FROM #FB fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.bastienc.havencompsteal hcs
				WHERE fb.CINID = hcs.CINID)

END
GO
