USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[DEL038_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[DEL038_PreSelection_sProc]
AS
BEGIN

DECLARE @LAGGEDCURRENTDATE DATE;
SET @LAGGEDCURRENTDATE = DATEADD(DAY, -6, GETDATE());
SELECT @LAGGEDCURRENTDATE AS LaggedCurrentDate;

-- Calculate the start date (56 days before the lagged current date)
DECLARE @STARTDATE DATE;
SET @STARTDATE = DATEADD(DAY, -56, @LAGGEDCURRENTDATE);
SELECT @STARTDATE AS StartDate;

-- Calculate the end date (lagged current date - 1 for inclusive range)
DECLARE @ENDDATE DATE;
SET @ENDDATE = DATEADD(DAY, -1, @LAGGEDCURRENTDATE);
SELECT @ENDDATE AS EndDate;
--==========================================RBS================================================================================================
DROP TABLE IF EXISTS #cc
SELECT ConsumerCombinationID, BrandName,cc.brandid into #cc FROM WH_NWG.trans.ConsumerCombination cc
INNER JOIN WH_AllPublishers.trans.brand b
on cc.BrandID = b.BrandID
WHERE 1=1 
and cc.BrandID in (2009,1122,2518,129)


    -- Step 1: Calculate the total spend per customer per month
    DROP TABLE IF EXISTS #monthlyspend
	SELECT 
        cinid,
        SUM(amount) AS total_spend
		,count(*) as Transactions
		into #monthlyspend
    FROM #cc c 
	INNER JOIN  WH_NWG.trans.consumertransaction ct
	on c.consumercombinationid = ct.consumercombinationid 
	WHERE 1=1 
	and trandate between @STARTDATE and @ENDDATE
    GROUP BY 
        cinid
		
		; 

	--Work out the SOW for each customer 
	DECLARE @main_brand_id INT = 2009
	DROP TABLE IF EXISTS #SOW
	SELECT 
        cinid
        ,1.0 * (CAST(SUM(CASE WHEN BrandID = @main_brand_id THEN Amount ELSE 0 END )as float) / NULLIF(SUM(Amount),0)) AS SoW
		into #SOW
    FROM #cc c 
	INNER JOIN  WH_NWG.trans.consumertransaction ct
	on c.consumercombinationid = ct.consumercombinationid 
	WHERE 1=1 
	and trandate between @STARTDATE and @ENDDATE
    GROUP BY 
        cinid
    -- Step 2: Flag months where spend is above 250
	DROP TABLE IF EXISTS #above250
    SELECT 
        cinid
		into #above250
    FROM 
        #monthlyspend
    WHERE 
        total_spend > 500
		and transactions > 2
    
-- Step 3: Count customers who have spent above 250 in 3 or more months
DROP TABLE IF EXISTS sandbox.brandonw.deliveroo_KOBE_RBS
SELECT 
    a.cinid
	,sow
 into sandbox.brandonw.deliveroo_KOBE_RBS
 FROM 
   #above250 a
   INNER JOIN #SOW s
   on a.cinid = s.cinid
WHERE 1=1
and sow <= 0.5

DROP TABLE IF EXISTS sandbox.brandonw.deliveroo_KOBE_RBS_FAN
SELECT fanid,kr.cinid into sandbox.brandonw.deliveroo_KOBE_RBS_FAN FROM sandbox.brandonw.deliveroo_KOBE_RBS kr
INNER JOIN  WH_NWG.derived.cinlist cl
on kr.cinid = cl.cinid
INNER JOIN WH_NWG.derived.customer c
on cl.cin = C.sourceuid

If Object_ID('WH_NWG.Selections.DEL038_PreSelection') Is Not Null Drop Table WH_NWG.Selections.DEL038_PreSelectionSelect FanIDInto WH_NWG.Selections.DEL038_PreSelectionFrom sandbox.brandonw.deliveroo_KOBE_RBS_FAN

END
GO
