USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[AT130_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[AT130_PreSelection_sProc]
AS
BEGIN


declare @main_brand_id int = 1463
-- all brands list
drop table if exists #brands
select brandid
into #brands
from WH_AllPublishers.Trans.Brand
where brandid in (1463) 
-------------------------------------------------------------------------------------
----RBS - Shopper - Low SoW
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)


IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC
WHERE	CC.BrandID IN  ((select brandid from #brands))

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
		,COUNT(CT.CINID) as Transactions
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-12,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)

IF OBJECT_ID('Sandbox.RukanK.RBS_ATG_Nursery') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_ATG_Nursery
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_ATG_Nursery
FROM	#Trans_rbs
WHERE	Transactions >= 3
GROUP BY FanID, CINID
							
-- ALL SEGMENTS: 
--SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%ambass%'


-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -- Declare Partner ID -- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --
DECLARE	@PartnerID VARCHAR(500) = 4580


-- RBS:
-- For Selection cases, UPDATE THE SANDBOX BELOW
IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
SELECT	FanID
INTO	#SegmentAssignment_RBS
FROM	Sandbox.RukanK.RBS_ATG_Nursery



--[ShopperSegmentTypeID] (meaning customer Segment Type ID):	Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9
-- Segments with BESPOKE Selection code
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (9)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])

UNION ALL


---- BAU (NO Selection code needed)
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
--INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (7, 8, 9)					-- Update Segment Type ID for BAU offers

IF OBJECT_ID('[WH_NWG].[Selections].[AT130_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[AT130_PreSelection]
SELECT	FanID
INTO	[WH_NWG].[Selections].[AT130_PreSelection]
FROM	#FinalSelection_RBS

							
							

END
GO
