USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[HON024_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:  <Rory Francis>
-- Create date: <2020-08-24>
-- Description: < sProc to run preselection code per camapign >
-- =============================================
CREATE PROCEDURE [Selections].[HON024_PreSelection_sProc]
AS
BEGIN

/*
	FIND YOUR COMP BRANDS
*/
with t1 as (
select *
from Warehouse.Relational.Brand
where (
brandname like '%gourmet burger%'
	or brandname like '%five%guys%'
	or brandname like '%wagamama%'
		or brandname like '%nando%'
	or brandname like '%franco%'

	))

select
	STRING_AGG(brandid,',') as brandid,
	STRING_AGG(brandname,',') as brandname
from t1
;
-----------------------------------------------------------------------------------
/*
	FIND PARTNERID
*/
SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%honest%'
;
-----------------------------------------------------------------------------------
/*
	FILL THESE IN
*/
declare @schema_name sysname = 'YaninaM' --add the name of your personal sandbox schema
declare @table_name varchar(max) = 'HonestBurger_compsteal_120224' --publishers will be appended so leave them off
declare @comp_steal_months int = 12 --months to look back for comp steal
declare @comp_brandids varchar(max) = '2240,2436,1098,298,1077'
declare	@PartnerID VARCHAR(max) = 5142
/*Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9*/
declare @bau_segments varchar(max) = '8,9'
declare @bespoke_segments varchar(max) = '7'
-----------------------------------------------------------------------------------
/*
	!
	DON'T CHANGE THESE
	!
*/
declare @table_name_rbs sysname = concat(@table_name,'_rbs')
declare @table_name_bc sysname = concat(@table_name,'_bc')
declare @table_name_vm sysname = concat(@table_name,'_vm')
declare @table_name_barclaysblue sysname = concat(@table_name,'_barclaysblue')
declare @table_name_monzo sysname = concat(@table_name,'_monzo')

declare @QualifiedName_rbs sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
declare @QualifiedName_bc sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_bc)
declare @QualifiedName_vm sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)
declare @QualifiedName_barclaysblue sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_barclaysblue)
declare @QualifiedName_monzo sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_monzo)

declare @sql_rbs_drop nvarchar(max)
declare @sql_bc_drop nvarchar(max)
declare @sql_vm_drop nvarchar(max)
declare @sql_barclaysblue_drop nvarchar(max)
declare @sql_monzo_drop nvarchar(max)

declare @sql_rbs_create nvarchar(max)
declare @sql_bc_create nvarchar(max)
declare @sql_vm_create nvarchar(max)
declare @sql_barclaysblue_create nvarchar(max)
declare @sql_monzo_create nvarchar(max)

declare @sql_rbs_selections nvarchar(max)
declare @sql_bc_selections nvarchar(max)
declare @sql_vm_selections nvarchar(max)
declare @sql_barclaysblue_selections nvarchar(max)
declare @sql_monzo_selections nvarchar(max)

declare @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
declare @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
declare @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
select distinct BrandID
into #comp_brands
from Warehouse.Relational.Brand b
where charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------

/*
	RBS
*/

/*RBS SELECTION*/

IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM WH_NWG.Derived.Customer_DuplicateSourceUID) 
;

IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (brandid int, consumercombinationid int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID	,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC
WHERE	CC.BrandID IN (select brandid from #comp_brands);

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
CREATE TABLE #trans_rbs (fanid int, cinid int not null primary key)
INSERT INTO #trans_rbs
SELECT  FanID, CT.CINID
FROM	Warehouse.Relational.ConsumerTransaction_MyRewards ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
;

IF OBJECT_ID(@QualifiedName_rbs) IS NOT NULL
BEGIN
	SET @sql_rbs_drop = 'DROP TABLE ' + @QualifiedName_rbs
	EXEC (@sql_rbs_drop)
END

SET @sql_rbs_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_rbs
	+ ' FROM #Trans_rbs GROUP BY FanID, CINID'
EXEC (@sql_rbs_create)
;
-----------------------------------------------------------------------------------

/* RBS SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
;
create table #SegmentAssignment_RBS (FanID int)
;
SET @sql_rbs_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_rbs
;
insert into #SegmentAssignment_RBS
exec (@sql_rbs_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_RBS') IS NOT NULL DROP TABLE #FinalSelection_RBS
;
create table #FinalSelection_RBS (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [WH_NWG].[Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [WH_NWG].[Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])
end
;

If Object_ID('WH_NWG.Selections.HON024_PreSelection') Is Not Null Drop Table WH_NWG.Selections.HON024_PreSelection
Select FanID
Into WH_NWG.Selections.HON024_PreSelection
FROM  #FinalSelection_RBS


END

GO
