USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[CLA042_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[CLA042_PreSelection_sProc]
AS
BEGIN


DROP TABLE IF EXISTS #brands
SELECT	BRANDID		INTO	#brands		FROM	WH_AllPublishers.Trans.Brand b
JOIN	WH_AllPublishers.Trans.BranDSECTOR BS ON BS.SECTORID = B.SECTORID
WHERE	SECTORNAME = 'Beauty Products' 
		AND BRANDNAME <> 'Clarins'
-------------------------------------------------------------------------------------
----RBS - Comp Steal
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs_V1 (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs_V1
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)



IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #brands))



IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
--		,COUNT(1) as Transactions
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs_V1 fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.RukanK.RBS_Clarins_Sector_Comp_Steal_20250128') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_Clarins_Sector_Comp_Steal_20250128		-- 2,273,354 (28.01.2025)
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_Clarins_Sector_Comp_Steal_20250128
FROM	#Trans_rbs
--WHERE	Transactions >= 2
--		AND SoW <= 0.30					-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
GROUP BY FanID, CINID



-- *************************************************************************************************
--		NURSERY OFFER ONLY

--SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%greggs%'
--SELECT TOP 10 * FROM Derived.SchemeTrans WHERE PartnerID = 4532 AND TranDate > '2020-01-01'

DECLARE	@PartnerID VARCHAR(500)		= 5039
DECLARE	@StartDate DATE				= '2024-01-01'
--DECLARE	@EndDate DATE				= '2024-12-31'

DECLARE	@BrandID INT				= (select BrandID  FROM WH_NWG.Derived.Partner WHERE partnerID = @PartnerID)
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
--IRON OFFER LIST--
IF OBJECT_ID('tempdb..#IronOfferIDs') IS NOT NULL DROP TABLE #IronOfferIDs
SELECT	o.IronOfferID  INTO	#IronOfferIDs 
FROM	WH_AllPublishers.Derived.SchemeTrans st
JOIN	WH_AllPublishers.Derived.Publisher P ON P.PublisherID = ST.PublisherID
JOIN	WH_AllPublishers.Derived.Partner R ON st.[PartnerID] = r.[PartnerID]
JOIN	WH_AllPublishers.Derived.Offer O	ON O.IronOfferID = ST.IronOfferID AND O.[OfferID] = st.[OfferID]
WHERE	ST.RetailerID = @PartnerID		AND CAST(TranDate AS DATE)  >=  @StartDate			AND CAST(O.StartDate AS DATE)  >=  @StartDate			AND IsRetailerReport = 1 
		AND SegmentName IN ('Acquisition','Lapsed')
GROUP BY o.IRONOFFERID
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_RBS_V2') IS NOT NULL DROP TABLE FB_RBS_V2
SELECT	C.FanID
		,CINID
INTO	#FB_RBS_V2
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)
CREATE CLUSTERED INDEX ix_FanID on #FB_RBS_V2(FANID)


IF OBJECT_ID('tempdb..#Responders_RBS') IS NOT NULL DROP TABLE #Responders_RBS		
SELECT	T.FanID, C.CINID	--, SegmentName				--, count(t.FanID) txn
INTO	#Responders_RBS
FROM	WH_AllPublishers.Derived.SchemeTrans t
JOIN	#FB_RBS_V2 c on t.fanid = c.fanid
JOIN	#IronOfferIDs O	ON  O.IronOfferID = t.IronOfferID
WHERE	t.RetailerID = @PartnerID
		AND TranDate >= @StartDate								-- TranDate BETWEEN @StartDate and @EndDate
		AND Spend > 0
		AND t.PublisherID = 132
GROUP BY T.FanID, C.CINID		--, SegmentName
CREATE CLUSTERED INDEX ix_cinid on #Responders_RBS(cinid)


IF OBJECT_ID('Sandbox.RukanK.RBS_Clarins_Nursery_20250210') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_Clarins_Nursery_20250210
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_Clarins_Nursery_20250210
FROM	#Responders_RBS
GROUP BY FanID, CINID

DROP TABLE IF EXISTS #Union

SELECT FanID 
INTO #Union
FROM Sandbox.RukanK.RBS_Clarins_Sector_Comp_Steal_20250128
UNION
SELECT FanID 
FROM Sandbox.RukanK.RBS_Clarins_Nursery_20250210

-- ALL SEGMENTS: 
--SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%CLARI%'

-- RBS:
-- For Selection cases, UPDATE THE SANDBOX BELOW
IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
SELECT	FanID
INTO	#SegmentAssignment_RBS
FROM	#Union



--[ShopperSegmentTypeID] (meaning customer Segment Type ID):	Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9

-- BAU (NO Selection code needed)
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (9)					-- Update Segment Type ID for BAU offers


UNION ALL

 
-- Segments with BESPOKE Selection code
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
--INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (7,8)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])


IF OBJECT_ID('[WH_NWG].[Selections].[CLA042_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[CLA042_PreSelection]
SELECT	FanID
INTO	[WH_NWG].[Selections].[CLA042_PreSelection]
FROM	#FinalSelection_RBS

				
END

GO
