USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[CLA023_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [Selections].[CLA023_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	CINID, FanID
INTO	#FB
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])

DROP TABLE IF EXISTS #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	[Trans].[ConsumerCombination] CC
WHERE	BrandID IN (1858,2459,2098,2643,3759,57	,1459,1570,1542,1458)							-- Competitors: Marks & Spencer, John Lewis, Next, Lookiero

DROP TABLE IF EXISTS #Trans
SELECT	CT.CINID as CINID
		,COUNT(CT.CINID) AS Txn
		,FanID
INTO	#Trans
FROM	[Trans].[ConsumerTransaction] CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate > DATEADD(MONTH, -6, GETDATE())
		AND Amount > 0
GROUP BY CT.CINID
		,FanID

DROP TABLE IF EXISTS Sandbox.SandeshG.RBS_Clarins_CompSteal03102023
SELECT	FanID
INTO Sandbox.SandeshG.RBS_Clarins_CompSteal03102023
FROM  #Trans

DROP TABLE IF EXISTS [Selections].CLA023_PreSelection
Select FanID
INTO [Selections].CLA023_PreSelection
FROM  Sandbox.SandeshG.RBS_Clarins_CompSteal03102023

END
GO
