USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[DIS037_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[DIS037_PreSelection_sProc]
AS
BEGIN

-----------------------------------------------------------------------------------
-- RBS
-----------------------------------------------------------------------------------


IF OBJECT_ID('tempdb..#FB') IS NOT NULL DROP TABLE #FB
SELECT	CINID, FanID
INTO	#FB
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID) 


IF OBJECT_ID('tempdb..#CC') IS NOT NULL DROP TABLE #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	WH_NWG.Trans.ConsumerCombination CC
WHERE	BrandID IN (2838)						

IF OBJECT_ID('tempdb..#Trans') IS NOT NULL DROP TABLE #Trans
SELECT	CT.CINID as CINID, FanID
		,COUNT(*) AS Txn
INTO	#Trans
FROM	WH_NWG.Trans.ConsumerTransaction CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate > DATEADD(MONTH, -6, GETDATE())
		AND Amount = '14.99'
GROUP BY CT.CINID, FanID
--HAVING COUNT(*) >= 6 


IF OBJECT_ID('Sandbox.SandeshG.RBS_DisneyPlus_2026_Tier3') IS NOT NULL DROP TABLE Sandbox.SandeshG.RBS_DisneyPlus_2026_Tier3
SELECT	CINID, FanID
INTO Sandbox.SandeshG.RBS_DisneyPlus_2026_Tier3
FROM  #Trans



	IF OBJECT_ID('[WH_NWG].[Selections].[DIS037_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[DIS037_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[DIS037_PreSelection]
	FROM #FB fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.SandeshG.RBS_DisneyPlus_2026_Tier3  st
					WHERE fb.CINID = st.CINID)

END
GO
