USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[SU024_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[SU024_PreSelection_sProc]
AS
BEGIN

-- declare the main brand
declare @main_brand_id int = 414

-------------------------------------------------------------------------------------
----RBS 
-------------------------------------------------------------------------------------

IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID WHERE EndDate IS NULL)

IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC
WHERE	CC.BrandID IN  ((414))

-------------------------------------------------------------------------------------
----OFFLINE 
----------

IF OBJECT_ID('tempdb..#Trans_OFFLINE') IS NOT NULL DROP TABLE #Trans_OFFLINE
SELECT  FanID, CT.CINID
INTO	#Trans_OFFLINE
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-2,cast(GETDATE() as date))
		--AND amount > 0
		and ct.cardholderpresentdata=0 
GROUP BY FanID, CT.CINID


-------------------------------------------------------------------------------------
----ONLINE 
----------

IF OBJECT_ID('tempdb..#Trans_ONLINE') IS NOT NULL DROP TABLE #Trans_ONLINE
SELECT  FanID, CT.CINID
INTO	#Trans_ONLINE
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-2,cast(GETDATE() as date))
		--AND amount > 0
		and ct.cardholderpresentdata<>0 
GROUP BY FanID, CT.CINID


--TOTAL
IF OBJECT_ID('Sandbox.SandeshG.RBS_INSTORE_SPENDERS030924') IS NOT NULL DROP TABLE Sandbox.SandeshG.RBS_INSTORE_SPENDERS030924
SELECT	FanID, CINID							--			455402																			
INTO	Sandbox.SandeshG.RBS_INSTORE_SPENDERS030924
FROM	#Trans_OFFLINE
WHERE	CINID NOT IN (SELECT CINID FROM #Trans_ONLINE) -- 455,142
 

IF OBJECT_ID('tempdb..#FinalSelection_RBS') IS NOT NULL DROP TABLE #FinalSelection_RBS
;
create table #FinalSelection_RBS (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)

insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = 5254
AND [ShopperSegmentTypeID] IN (8)					-- Update Segment Type ID for BAU offers


-- Segments with BESPOKE Selection code
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = 5254
AND [ShopperSegmentTypeID] IN (9)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM Sandbox.SandeshG.RBS_INSTORE_SPENDERS030924 sa
			WHERE sg.[FanID] = sa.[FanID])


DROP TABLE IF EXISTS [Selections].[SU024_PreSelection]
SELECT FanID
INTO [Selections].[SU024_PreSelection]
FROM #FinalSelection_RBS 

END

GO
