USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[ASD001_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[ASD001_PreSelection_sProc]
AS
BEGIN

--SELECT * FROM WH_AllPublishers.Trans.Brand 	WHERE BrandName LIKE '%London%'


-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 21

-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (292, 21, 379, 425,     5,  254)

			-- Morrisons 292, Asda 21, Sainsburys 379, Tesco 425, Amazon Fresh 2541, Aldi 5, Lidl 254, Waitrose 485
-------------------------------------------------------------------------------------
----RBS - Shopper - Low SoW
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)



IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #brands))



IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
		,1.0 * (CAST(SUM(CASE WHEN BrandID = @main_brand_id THEN Amount ELSE 0 END )as float) / NULLIF(SUM(Amount),0)) AS SoW
		,MAX(CASE WHEN BrandID = @main_brand_id AND TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date)) THEN 1 ELSE 0 END) BrandShopper
		,COUNT(1) as Transactions
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.CaraC.RBS_Asda_Low_SOW_2025') IS NOT NULL DROP TABLE Sandbox.CaraC.RBS_Asda_Low_SOW_2025
SELECT	FanID, CINID																													
INTO	Sandbox.CaraC.RBS_Asda_Low_SOW_2025
FROM	#Trans_rbs
WHERE	BrandShopper = 1
		AND SoW <= 0.30					-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
GROUP BY FanID, CINID




SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%asda%'


-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -- Declare Partner ID -- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --
DECLARE	@PartnerID VARCHAR(500) = 5399


-- RBS:
-- For Selection cases, UPDATE THE SANDBOX BELOW
IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
SELECT	FanID
INTO	#SegmentAssignment_RBS
FROM		Sandbox.CaraC.RBS_Asda_Low_SOW_2025



--[ShopperSegmentTypeID] (meaning customer Segment Type ID):	Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9

---- BAU (NO Selection code needed)
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (7, 8)					-- Update Segment Type ID for BAU offers


UNION ALL

 
-- Segments with BESPOKE Selection code
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
--INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (9)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])

DROP TABLE IF EXISTS [Selections].[ASD001_PreSelection]
SELECT	FanID
INTO [Selections].[ASD001_PreSelection]
FROM #FinalSelection_RBS


END;
GO
