USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[JE014_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[JE014_PreSelection_sProc]
AS
BEGIN

/*==============================================================
    JUST EAT A/B SPLIT - RBS
==============================================================*/

DECLARE @ExperimentSeed VARCHAR(100) = '|RBS_JUSTEAT_AB_V1';


---------------------------------------------------------------
---CREATE MASTER RBS A/B SPLIT
---------------------------------------------------------------

DROP TABLE IF EXISTS Sandbox.TaherD.JustEat_ABSplit_RBS;

SELECT
    CL.CINID,
    C.FanID,

    CASE
        WHEN ABS(
            CONVERT(
                BIGINT,
                SUBSTRING(
                    HASHBYTES(
                        'SHA2_256',
                        CONCAT(CL.CINID, @ExperimentSeed)
                    ),
                    1,
                    8
                )
            )
        ) % 2 = 0
        THEN 'A'
        ELSE 'B'
    END AS AB_Group

INTO Sandbox.TaherD.JustEat_ABSplit_RBS

FROM WH_NWG.Derived.Customer C

JOIN WH_NWG.Derived.CINList CL
    ON CL.CIN = C.SourceUID

WHERE C.CurrentlyActive = 1;

	IF OBJECT_ID('[WH_NWG].[Selections].[JE014_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[JE014_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[JE014_PreSelection]
	FROM Sandbox.TaherD.JustEat_ABSplit_RBS
    WHERE AB_Group = 'B'

END
GO
