USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[IHE005_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[IHE005_PreSelection_sProc]
AS
BEGIN

	DROP TABLE IF EXISTS [WH_NWG].[Selections].[IHE005_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[IHE005_PreSelection]
	FROM [Derived].[Customer] fb
	WHERE fb.[CurrentlyActive] = 1

END
GO
