USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[SAI003_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[SAI003_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS [Selections].[SAI003_PreSelection]
SELECT	[FanID]
INTO [Selections].[SAI003_PreSelection]
FROM [Sandbox].[JosephS].[Sains_Phase_two_selection_v2]
WHERE T_C = 'T'

END;
GO
