USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[MOS051_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[MOS051_PreSelection_sProc]
AS
BEGIN

--	FIND YOUR COMP BRANDS --


--select * from WH_AllPublishers.Trans.Brand
--where (
--brandname like '%exodus%' --1541 -- p.id 4583
--or brandname like '%exodus%' --2714 --partnerid 4787
--or brandname like '%contiki%' -- 1546 --partnerid 4584
--or brandname like '%Explore%' --3810
--or brandname like '%road%' 	)--481

-----------------------------------------------------------------------------------
--	FIND PARTNERID  --
--  SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%intrepid%'
-----------------------------------------------------------------------------------
--	FILL THESE IN  --
DECLARE @schema_name sysname				= 'AnnetteM' 
DECLARE @table_name varchar(max)			= 'Moss_excl_CT_compsteal_20251203' 
DECLARE @comp_steal_months int				= 24 --months to look back for comp steal
DECLARE @comp_brandids varchar(max)			= '411,1806,366,6883,195,417'	--Charles Tyrwhitt,Suits Direct, Slaters Menswear, Reiss, Suit Supply, Skopes Menswear, Hawes & Curtis
DECLARE @CT_brandid varchar(max)			= '83'
DECLARE	@PartnerID VARCHAR(max)				= 5207
/*		Acquire Segment 7, Lapsed Segment 8, Shopper Segment 9			*/
DECLARE @bau_segments varchar(max)			= '9'
DECLARE @bespoke_segments varchar(max)		= '7,8'
-----------------------------------------------------------------------------------
-- !		DON'T CHANGE THESE	! 

DECLARE @table_name_rbs sysname = concat(@table_name,'_rbs')
DECLARE @table_name_bc sysname = concat(@table_name,'_bc')
DECLARE @table_name_vm sysname = concat(@table_name,'_vm')
DECLARE @table_name_barclaysblue sysname = concat(@table_name,'_barclaysblue')
DECLARE @table_name_monzo sysname = concat(@table_name,'_monzo')

DECLARE @QualifiedName_rbs sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
DECLARE @QualifiedName_bc sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_bc)
DECLARE @QualifiedName_vm sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)
DECLARE @QualifiedName_barclaysblue sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_barclaysblue)
DECLARE @QualifiedName_monzo sysname		= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_monzo)

DECLARE @sql_rbs_drop nvarchar(max)
DECLARE @sql_bc_drop nvarchar(max)
DECLARE @sql_vm_drop nvarchar(max)
DECLARE @sql_barclaysblue_drop nvarchar(max)
DECLARE @sql_monzo_drop nvarchar(max)

DECLARE @sql_rbs_create nvarchar(max)
DECLARE @sql_bc_create nvarchar(max)
DECLARE @sql_vm_create nvarchar(max)
DECLARE @sql_barclaysblue_create nvarchar(max)
DECLARE @sql_monzo_create nvarchar(max)

DECLARE @sql_rbs_selections nvarchar(max)
DECLARE @sql_bc_selections nvarchar(max)
DECLARE @sql_vm_selections nvarchar(max)
DECLARE @sql_barclaysblue_selections nvarchar(max)
DECLARE @sql_monzo_selections nvarchar(max)

DECLARE @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
DECLARE @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
DECLARE @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
SELECT	DISTINCT BrandID
into	#comp_brands
from	WH_AllPublishers.Trans.Brand b
where	charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------

/*
	RBS
*/

/*RBS SELECTION*/

IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)
;


IF OBJECT_ID('tempdb..#CC_CT_rbs') IS NOT NULL DROP TABLE #CC_CT_rbs
CREATE TABLE #CC_CT_rbs (brandid int, consumercombinationid int not null primary key)
INSERT INTO #CC_CT_rbs
SELECT	CC.BrandID	,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID = @CT_brandid;

IF OBJECT_ID('tempdb..#trans_CT_rbs') IS NOT NULL DROP TABLE #trans_CT_rbs
CREATE TABLE #trans_CT_rbs (fanid int, cinid int not null primary key)
INSERT INTO #trans_CT_rbs
SELECT  FanID, CT.CINID
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_CT_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID


IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (brandid int, consumercombinationid int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID	,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN (select brandid from #comp_brands);

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
CREATE TABLE #trans_rbs (fanid int, cinid int not null primary key)
INSERT INTO #trans_rbs
SELECT  FanID, CT.CINID
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND amount > 0
		AND CT.CINID NOT IN (SELECT DISTINCT CINID FROM #trans_CT_rbs)
GROUP BY FanID, CT.CINID
;



IF OBJECT_ID(@QualifiedName_rbs) IS NOT NULL
BEGIN
	SET @sql_rbs_drop = 'DROP TABLE ' + @QualifiedName_rbs
	EXEC (@sql_rbs_drop)
END

SET @sql_rbs_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_rbs
	+ ' FROM #Trans_rbs GROUP BY FanID, CINID'
EXEC (@sql_rbs_create)
;


	IF OBJECT_ID('[WH_NWG].[Selections].[MOS051_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[MOS051_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[MOS051_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.AnnetteM.Moss_excl_CT_compsteal_20251203_rbs  st
					WHERE fb.CINID = st.CINID)

END
GO
