USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[CampaignExecution_AssignTopOfferstoSeniorStaff]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[CampaignExecution_AssignTopOfferstoSeniorStaff] @EmailDate DATE

AS
BEGIN
	
	SET NOCOUNT ON

/*******************************************************************************************************************************************
	1. Store Customers to be updated, all live offers & the top offer per retailer
*******************************************************************************************************************************************/

--	DECLARE @EmailDate DATE = '2025-12-15'

	DROP TABLE IF EXISTS #PrioritisedCustomerAccounts
	SELECT	pca.*
		,	cu.[ClubID]
	INTO #PrioritisedCustomerAccounts
	FROM [Selections].[PrioritisedCustomerAccounts] pca
	INNER JOIN [Derived].[Customer] cu
		ON pca.[FanID] = cu.[FanID]
	WHERE cu.[CurrentlyActive] = 1
	AND pca.[EndDate] IS NULL
	
	DROP TABLE IF EXISTS #CampaignSetup
	SELECT	[PartnerID] = iof.[PartnerID]
		,	[IronOfferID] = iof.[IronOfferID]
		,	[StartDate] = cs.[StartDate]
		,	[EndDate] = cs.[EndDate]
		,	iof.[ClubID]
	INTO #CampaignSetup
	FROM [Selections].[CampaignSetup_POS] cs
	CROSS APPLY [Warehouse].[dbo].[il_SplitDelimitedStringArray] (cs.OfferID, ',') ss
	INNER JOIN [Derived].[IronOffer] iof
		ON ss.[Item] = iof.[IronOfferID] 
	WHERE cs.[StartDate] = @EmailDate
	
	INSERT INTO #CampaignSetup
	SELECT	[PartnerID] = iof.[PartnerID]
		,	[IronOfferID] = iof.[IronOfferID]
		,	[StartDate] = cs.[StartDate]
		,	[EndDate] = cs.[EndDate]
		,	iof.[ClubID]
	FROM [Selections].[CampaignSetup_DD] cs
	CROSS APPLY [Warehouse].[dbo].[il_SplitDelimitedStringArray] (cs.OfferID, ',') ss
	INNER JOIN [Derived].[IronOffer] iof
		ON ss.[Item] = iof.[IronOfferID] 
	WHERE cs.[StartDate] = @EmailDate

	CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #CampaignSetup ([IronOfferID])

	DROP TABLE IF EXISTS #OfferMember_IOM
	SELECT	DISTINCT
			[IronOfferID]
	INTO #OfferMember_IOM
--	FROM [Derived].[IronOfferMember] iom
	FROM [Warehouse].[Relational].[IronOfferMember] iom
	WHERE iom.[EndDate] > @EmailDate
	AND iom.[StartDate] > DATEADD(DAY, -60, @EmailDate)
	AND EXISTS (SELECT 1
				FROM #CampaignSetup cs
				WHERE iom.[IronOfferID] = cs.[IronOfferID])

	DROP TABLE IF EXISTS #OfferMember_OMA
	SELECT	DISTINCT
			[IronOfferID]
	INTO #OfferMember_OMA
	FROM [Segmentation].[OfferMemberAddition] oma
	WHERE EXISTS (	SELECT 1
					FROM #CampaignSetup cs
					WHERE oma.[IronOfferID] = cs.[IronOfferID])
	
	DROP TABLE IF EXISTS #OfferMember
	SELECT	DISTINCT
			[IronOfferID]
	INTO #OfferMember
	FROM (	SELECT	DISTINCT
					[IronOfferID]
			FROM #OfferMember_IOM
			UNION ALL
			SELECT	DISTINCT
					[IronOfferID]
			FROM #OfferMember_OMA) om

	DROP TABLE IF EXISTS #Offers
	SELECT	[ClubID] = iof.[ClubID]
		,	[PartnerID] = iof.[PartnerID]
		,	[PartnerName] = pa.[PartnerName]
		,	[IronOfferID] = iof.[IronOfferID]
		,	[IronOfferName] = iof.[IronOfferName]
		,	[StartDate] = cs.[StartDate]
		,	[EndDate] = cs.[EndDate]
		,	[OfferRank] = ROW_NUMBER() OVER (PARTITION BY iof.[PartnerID], iof.[ClubID] ORDER BY iof.[TopCashBackRate] DESC, iof.[IronOfferName], iof.[IronOfferID])
	INTO #Offers
	FROM [Derived].[IronOffer] iof
	LEFT JOIN [Derived].[Partner] pa
		ON iof.[PartnerID] = pa.[PartnerID]
	INNER JOIN #CampaignSetup cs
		ON iof.[IronOfferID] = cs.[IronOfferID]
		AND iof.[ClubID] = cs.[ClubID]
	WHERE iof.[EndDate] > @EmailDate
	AND EXISTS (SELECT 1
				FROM #OfferMember om
				WHERE iof.[IronOfferID] = om.[IronOfferID])

	DROP TABLE IF EXISTS #TopOffers
	SELECT	[ClubID]
		,	[PartnerID]
		,	[PartnerName]
		,	[IronOfferID]
		,	[IronOfferName]
		,	[StartDate]
		,	[EndDate]
	INTO #TopOffers
	FROM #Offers
	WHERE OfferRank = 1
	
	DROP TABLE IF EXISTS #PrioritisedCustomerAccounts_ExistingMemberships
	SELECT	*
	INTO #PrioritisedCustomerAccounts_ExistingMemberships
--	FROM [Derived].[IronOfferMember] iom
	FROM [Warehouse].[Relational].[IronOfferMember] iom
	WHERE iom.[EndDate] > @EmailDate
	AND iom.[StartDate] > DATEADD(DAY, -60, @EmailDate)
	AND EXISTS (SELECT 1
				FROM #PrioritisedCustomerAccounts pca
				WHERE iom.[CompositeID] = pca.[CompositeID])

/*******************************************************************************************************************************************
	2. Remove all offer memberships asigned through the normal process
*******************************************************************************************************************************************/

	DELETE oma
	FROM [Segmentation].[OfferMemberAddition] oma
	INNER JOIN #PrioritisedCustomerAccounts cu
		ON oma.CompositeID = cu.CompositeID
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[IronOffer_BFO_Eligibility] bfo
						WHERE oma.[IronOfferID] = bfo.[IronOfferID])
	AND EXISTS (SELECT 1
				FROM #CampaignSetup cs
				INNER JOIN [Derived].[IronOffer] iof
					ON cs.[PartnerID] = iof.[PartnerID]
				WHERE oma.[IronOfferID] = iof.[IronOfferID])

/*******************************************************************************************************************************************
	3. Assign the selected customers a memberships for each offer
*******************************************************************************************************************************************/

	DROP TABLE IF EXISTS #NewMemberships
	SELECT	[CompositeID] = pca.[CompositeID]
		,	[IronOfferID] = cs.[IronOfferID]
		,	[StartDate] = cs.[StartDate]
		,	[EndDate] = DATEADD(second, -1, CONVERT(DATETIME, DATEADD(day, 1, cs.[EndDate])))
		,	[PartnerID] = cs.[PartnerID]
	INTO #NewMemberships
	FROM #CampaignSetup cs
	CROSS JOIN #PrioritisedCustomerAccounts pca
	WHERE EXISTS (	SELECT 1
					FROM #TopOffers tpo
					WHERE tpo.IronOfferID = cs.IronOfferID
					AND tpo.[ClubID] = cs.[ClubID])
	AND pca.[ClubID] = cs.[ClubID]
	GROUP BY	pca.[CompositeID]
			,	cs.[IronOfferID]
			,	cs.[StartDate]
			,	cs.[EndDate]
			,	cs.[PartnerID]

	INSERT INTO [Segmentation].[OfferMemberAddition]
	SELECT	[CompositeID]
		,	[IronOfferID]
		,	[StartDate]
		,	[EndDate]
		,	GETDATE()
	FROM #NewMemberships nm
	WHERE NOT EXISTS (	SELECT 1
						FROM #PrioritisedCustomerAccounts_ExistingMemberships em
						INNER JOIN [Derived].[IronOffer] iof
							ON em.[IronOfferID] = iof.[IronOfferID]
						WHERE nm.[CompositeID] = em.[CompositeID]
						AND nm.[PartnerID] = iof.[PartnerID])
	ORDER BY nm.[IronOfferID]

END

GO
