USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[LON012_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[LON012_PreSelection_sProc]
AS
BEGIN

-- Nursery offer bespoke code:
-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 2692

-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (2692)						-- Morrisons 292, Asda 21, Sainsburys 379, Tesco 425, Amazon Fresh 2541, Aldi 5, Lidl 254, Waitrose 485
-------------------------------------------------------------------------------------
----RBS - NURSERY
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)



IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #brands))



IF OBJECT_ID('tempdb..#trans_rbs1') IS NOT NULL DROP TABLE #trans_rbs1
SELECT  FanID, CT.CINID
INTO	#Trans_rbs1
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate BETWEEN DATEADD(DAY,-730,cast(GETDATE() as date)) AND DATEADD(DAY,-91,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs1(FanID)

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate BETWEEN DATEADD(DAY,-90,cast(GETDATE() as date)) AND DATEADD(DAY,-14,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.RukanK.RBS_LTS_Nursery_18112024') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_LTS_Nursery_18112024		-- 1,627 (28.10.2024)
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_LTS_Nursery_18112024
FROM	#Trans_rbs
WHERE	FanID NOT IN (SELECT FanID FROM #Trans_rbs1)
GROUP BY FanID, CINID

DECLARE	@PartnerID VARCHAR(500) = 5052


-- RBS:
-- For Selection cases, UPDATE THE SANDBOX BELOW
IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
SELECT	FanID
INTO	#SegmentAssignment_RBS
FROM	Sandbox.RukanK.RBS_LTS_Nursery_18112024



--[ShopperSegmentTypeID] (meaning customer Segment Type ID):	Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9

---- BAU (NO Selection code needed)
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (7, 8)					-- Update Segment Type ID for BAU offers


UNION ALL

 
-- Segments with BESPOKE Selection code
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
--INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (9)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])


DROP TABLE IF EXISTS [Selections].[LON012_PreSelection]
SELECT FanID
INTO [Selections].[LON012_PreSelection]
FROM #FinalSelection_RBS

END
GO
