USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[AMC007_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[AMC007_PreSelection_sProc]
AS
BEGIN

--SELECT * FROM WH_AllPublishers.Trans.Brand 	WHERE brandname LIKE '%312%'


-- DECLARE THE MAIN BRAND
--DECLARE @main_brand_id INT = 6896

-- ALL BRANDS LIST
DROP TABLE IF EXISTS #competitors
SELECT	BRANDID
INTO	#competitors
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (21,379,425,485,312)			-- Asda 21, Sainsburys 379, Tesco 425, Waitrose 485, Ocado 312
-------------------------------------------------------------------------------------
----RBS - Shopper - Low SoW
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)



IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
SELECT	CC.BrandID	, MID	,ConsumerCombinationID
INTO	#CC_rbs
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #competitors))
		OR MID IN ('372730561886','350866000156182')


IF OBJECT_ID('tempdb..#trans_AMAZON3P') IS NOT NULL DROP TABLE #trans_AMAZON3P
SELECT  FanID, CT.CINID
INTO	#Trans_AMAZON3P
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
JOIN	WH_NWG.Trans.ConsumerCombination CC on ct.ConsumerCombinationID = cc.ConsumerCombinationID
WHERE	TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date))
		AND amount > 0
		AND MID IN ('372730561886','350866000156182')
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_AMAZON3P(FanID)


IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
		,1.0 * (CAST(SUM(CASE WHEN MID IN ('372730561886','350866000156182') THEN Amount ELSE 0 END )as float) / NULLIF(SUM(Amount),0)) AS SoW
		,COUNT(1) as Transactions
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.RukanK.AmazonFresh3P_HighSOW_20250221') IS NOT NULL DROP TABLE Sandbox.RukanK.AmazonFresh3P_HighSOW_20250221			-- 2,922 (26.11.2024)
SELECT	R.FanID, R.CINID																													
INTO	Sandbox.RukanK.AmazonFresh3P_HighSOW_20250221
FROM	#Trans_rbs R
JOIN	#Trans_AMAZON3P TP ON TP.FANID = R.FanID
WHERE	SoW >= 0.80					-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
GROUP BY R.FanID, R.CINID


--select * from Sandbox.RukanK.AmazonFresh3P_HighSOW_20250221


If Object_ID('WH_NWG.Selections.AMC007_PreSelection') Is Not Null Drop Table WH_NWG.Selections.AMC007_PreSelectionSelect FanIDInto WH_NWG.Selections.AMC007_PreSelectionFrom Sandbox.RukanK.AmazonFresh3P_HighSOW_20250221

END
GO
