USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[DIS024_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [Selections].[DIS024_PreSelection_sProc]
AS
BEGIN

-- declare the main brand
declare @main_brand_id int = 2838
-- all brands list
drop table if exists #brands
select brandid
into #brands
from Warehouse.Relational.brand
where brandid in (2838) 

-------------------------------------------------------------------------------------
----RBS - Shopper - Low SoW
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	Derived.Customer C
JOIN	Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM Derived.Customer_DuplicateSourceUID) 


IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	Trans.ConsumerCombination CC
WHERE	CC.BrandID IN  ((select brandid from #brands))



IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
INTO	#Trans_rbs
FROM	Warehouse.Relational.ConsumerTransaction_MyRewards ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-13,cast(GETDATE() as date))
		AND amount > 10.99
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.JosephS.RBS_DISNEYPLUS_LAPSED_06122023') IS NOT NULL DROP TABLE Sandbox.JosephS.RBS_DISNEYPLUS_LAPSED_06122023
SELECT	FanID, CINID																													
INTO	Sandbox.JosephS.RBS_DISNEYPLUS_LAPSED_06122023
FROM	#FB_rbs
	WHERE 	FANID NOT IN (SELECT fanid FROM #Trans_rbs)		-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
GROUP BY FanID, CINID



IF OBJECT_ID('[WH_NWG].[Selections].[DIS024_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[DIS024_PreSelection]
SELECT FanID
INTO [WH_NWG].[Selections].[DIS024_PreSelection]
FROM Sandbox.JosephS.RBS_DISNEYPLUS_LAPSED_06122023

END


GO
