USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[MOR248_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[MOR248_PreSelection_sProc]
AS
BEGIN

-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 292
DECLARE @Asda_brand_id INT = 21
DECLARE @Aldi_brand_id INT = 5
-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (379)						-- Morrisons 292, Asda 21, Sainsburys 379, Tesco 425, Amazon Fresh 2541, Aldi 5, Lidl 254, Waitrose 485
-------------------------------------------------------------------------------------
----RBS - Sainsburys Shoppers
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)

-- 1.1 Find Sainsburys CCs

IF OBJECT_ID('tempdb..#CC_rbs_Sain') IS NOT NULL DROP TABLE #CC_rbs_Sain
CREATE TABLE #CC_rbs_Sain (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs_Sain
SELECT	CC.BrandID, ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID = 379

-- 1.2 Sainsburys Shoppers 3 months

IF OBJECT_ID('tempdb..#trans_rbs_Sain3') IS NOT NULL DROP TABLE #trans_rbs_Sain3
SELECT  FanID, CT.CINID
INTO	#Trans_rbs_Sain3
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs_Sain cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs_Sain3(FanID)


-- 2.1 Write selection of Sainsburys shoppers

IF OBJECT_ID('Sandbox.AnnetteM.RBS_Morrisons_Sains_Shoppers_20251119') IS NOT NULL DROP TABLE Sandbox.AnnetteM.RBS_Morrisons_Sains_Shoppers_20251119		
SELECT	FanID, CINID																													
INTO	Sandbox.AnnetteM.RBS_Morrisons_Sains_Shoppers_20251119
FROM	#Trans_rbs_Sain3
GROUP BY FanID, CINID

	IF OBJECT_ID('[WH_NWG].[Selections].[MOR248_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[MOR248_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[MOR248_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.AnnetteM.RBS_Morrisons_Sains_Shoppers_20251119  st
					WHERE fb.CINID = st.CINID)

END
GO
