USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[CLA024_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[CLA024_PreSelection_sProc]
AS
BEGIN
 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET NOCOUNT ON;

DROP TABLE IF EXISTS #FB;
CREATE TABLE #FB (FanID INT, CINID INT); CREATE CLUSTERED INDEX ix_FanID on #FB (FANID);

INSERT INTO #FB (FanID, CINID)
SELECT C.FanID, CINID
FROM [Derived].[Customer] C
JOIN [Derived].[CINList] CL
	ON CL.CIN = C.SourceUID
WHERE C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])
AND C.AgeCurrent >= 25
and c.AgeCurrent <= 40
 
DROP TABLE IF EXISTS #Bespoke_RBS_age
SELECT	t.CINID,FanID
INTO	#Bespoke_RBS_age
FROM	#FB T
GROUP BY T.CINID,FanID		

DROP TABLE IF EXISTS [Selections].CLA024_PreSelection
Select FanID
INTO [Selections].CLA024_PreSelection
FROM  #Bespoke_RBS_age


END
GO
