USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[SSN_PartnerDedupe]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[SSN_PartnerDedupe] @EmailDate DATE
AS
BEGIN

--DECLARE @EmailDate DATE

--SELECT	@EmailDate = MIN([EmailDate])
--FROM [Selections].[CampaignSetup_POS]
--WHERE [EmailDate] >= CONVERT(DATE, GETDATE() - 1)

DROP TABLE IF EXISTS #CampaignSetup_POS
SELECT	[PartnerID]
INTO #CampaignSetup_POS
FROM [Selections].[CampaignSetup_POS]
WHERE [EmailDate] = @EmailDate

DROP TABLE IF EXISTS #CampaignSetup_PartnerDataDedupe
SELECT	[ID] = ROW_NUMBER() OVER (ORDER BY [ID])
	,	[PartnerID]
	,	[TableName]
INTO #CampaignSetup_PartnerDataDedupe
FROM [WH_AllPublishers].[Selections].[CampaignSetup_PartnerDataDedupe] pdd
WHERE pdd.[EndDate] IS NULL
AND EXISTS (SELECT 1
			FROM #CampaignSetup_POS cs
			WHERE pdd.[PartnerID] = cs.[PartnerID])

DROP TABLE IF EXISTS #PartnerDedupe
CREATE TABLE #PartnerDedupe (	[ID] INT IDENTITY
							,	[PartnerID] INT
							,	[FanID] INT)

DECLARE	@Query VARCHAR(MAX)
	,	@TableName VARCHAR(255)
	,	@PartnerID INT = 1
	,	@ID INT = 1

WHILE 1 = 1
	BEGIN

		SELECT	@TableName = [TableName]
			,	@PartnerID = [PartnerID]
		FROM #CampaignSetup_PartnerDataDedupe
		WHERE [ID] = @ID

		IF @@ROWCOUNT = 0 BREAK

		SET @Query = '
		INSERT INTO #PartnerDedupe
		SELECT	[PartnerID] = ' + CONVERT(VARCHAR(10), @PartnerID) + '
			,	[FanID]
		FROM ' + @TableName + ' pd
		WHERE EXISTS (	SELECT 1
						FROM [Derived].[Customer] cu
						WHERE pd.[FanID] = cu.[FanID])'

		EXEC(@Query)

		SET @ID = @ID + 1

	END
	
DROP TABLE IF EXISTS [Selections].[SSN_PartnerDedupe_Customers]
SELECT	[PartnerID]
	,	[FanID]
INTO [Selections].[SSN_PartnerDedupe_Customers]
FROM #PartnerDedupe pd

END

GO
