USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[MOR257_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[MOR257_PreSelection_sProc]
AS
BEGIN

-------------------------------------------------------------------------------------
----RBS - Find Regional Customers
-------------------------------------------------------------------------------------
-- 1.1 Write out fan base
drop table if exists #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)
-- 1.2 Create MID table
drop table if exists #MIDLocation1
create table #MIDLocation1 (MID VARCHAR(50), Postcode VARCHAR(50))
insert into #MIDLocation1
values
('73885303','WA72'),
('73885803','CW47'),
('73886453','CW124'),
('73904483','CW111'),
('73916063','CW98'),
('73918423','CH664'),
('73923193','CW71'),
('73923273','CW72'),
('73924903','WA27'),
('73930983','CH661'),
('73931873','CW13'),
('73932183','CW16'),
('73933993','WA20'),
('73937973','CW26'),
('73938603','CW100'),
('73939413','CH13'),
('94074793','CW55'),
('94075423','CW27'),
('8715903','WA51'),
('415273','WA87'),
('415853','WA89'),
('32592185','CH654'),
('11390725','SK102'),
('11393995','WA50'),
('11383015','CW13'),
('11375755','CW13'),
('11368465','CW14'),
('11375175','CW98'),
('11382045','ST73'),
('73954303','WA36'),
('73954643','CH662'),
('73963133','WA84'),
('73963893','WA83'),
('73964023','CH15'),
('73965593','WA72'),
('73981793','WA75'),
('73983653','CH48'),
('73994263','CH22'),
('30185733','CH655'),
('73915413','CA145'),
('73916223','CA289'),
('73917453','CA24'),
('73928143','CA27'),
('73931373','LA158'),
('30445823','LA129'),
('11396825','CA289'),
('11374865','CA13'),
('11373215','CA143'),
('11369435','CA145'),
('30190163','LA77'),
('30194643','LA127'),
('73893163','SK75'),
('73914603','WN34'),
('73935013','SK56'),
('73936243','M332'),
('73941593','SK83'),
('73942063','M456'),
('73942483','SK42'),
('30442493','M154'),
('30444013','BL33'),
('30445323','WA32'),
('30446053','M270'),
('94074373','WN23'),
('94075003','WN36'),
('8716973','WN24'),
('415433','M53'),
('412423','WN11'),
('413233','M229'),
('413313','M12'),
('413493','M154'),
('27620145','SK66'),
('48749724','M147'),
('11373135','BL26'),
('11388305','BL99'),
('11375595','BL82'),
('11386605','M90'),
('11387335','BL13'),
('11370465','M405'),
('11372585','OL103'),
('11380425','M242'),
('11388065','BL96'),
('11369935','M359'),
('11368205','WN59'),
('11391795','M460'),
('11372245','SK57'),
('11373895','SK43'),
('11369695','SK45'),
('11370385','WN50'),
('11371935','SK57'),
('11385055','M347'),
('11375335','M297'),
('11378425','SK164'),
('11375415','SK144'),
('11389295','WN72'),
('11369195','M416'),
('73953913','M280'),
('73963713','M460'),
('73978723','M225'),
('30197313','OL161'),
('73919153','LA31'),
('73923853','BB89'),
('73925553','PR19'),
('73925713','BB72'),
('73928303','LA15'),
('73933313','FY12'),
('73934043','L394'),
('73936903','PR251'),
('73938943','PR26'),
('73941673','FY60'),
('30444353','FY20'),
('30444433','FY39'),
('30445243','FY37'),
('8716553','PR58'),
('416163','PR254'),
('11389955','BB95'),
('11384905','FY39'),
('11390565','PR41'),
('11388565','PR16'),
('11392345','LA12'),
('11380345','FY30'),
('11388225','FY41'),
('11396165','FY15'),
('11367995','FY14'),
('11385395','PR269'),
('73963393','WN87'),
('73963633','WN86'),
('73963973','PR71'),
('73986823','WN89'),
('73998743','FY51'),
('73915833','CH613'),
('73923693','L358'),
('73924583','PR99'),
('73931293','CH422'),
('73934623','L311'),
('73935773','CH433'),
('73935853','CH611'),
('73935933','CH454'),
('30443043','PR86'),
('30446133','PR86'),
('20470325','CH439'),
('11392425','CH494'),
('11390805','WA91'),
('11385135','WA92'),
('11392185','WA92'),
('11373395','L157'),
('11379155','WA93'),
('11385555','WA104'),
('11383515','WA104'),
('11391375','PR85'),
('11395195','CH426'),
('11390645','L345'),
('11396085','L45'),
('11377295','PR99'),
('11390485','WN40'),
('11368705','WA93'),
('11371695','L138'),
('73962323','L160'),
('73962903','L126'),
('73963213','L106'),
('73984963','CH430'),
('73990943','PR82'),
('30185493','CH628'),
('30189973','CH478'),
('30192443','WA94'),
('73908123','G349'),
('73910963','IV361'),
('73914023','DG126'),
('73914283','AB548'),
('73918003','PA345'),
('73921313','IV212'),
('73921493','IV27'),
('73921573','IV149'),
('73921653','IV23'),
('73921733','AB561'),
('73921813','AB387'),
('73922043','KW147'),
('73922463','KA309'),
('73922543','IV361'),
('73922883','EH68'),
('73926783','AB118'),
('73928063','KA91'),
('73928223','EH234'),
('73930303','EH218'),
('73930803','DD48'),
('73932763','AB158'),
('73933493','EH510'),
('73934383','KA120'),
('73935273','ML42'),
('73936403','KA80'),
('73936823','KA136'),
('73937473','DD100'),
('73938283','ML118'),
('73938363','ML117'),
('73938443','ML36'),
('73939753','KY112'),
('73940443','KA215'),
('73941093','FK70'),
('73941173','KA227'),
('73941753','FK81'),
('30444273','FK27'),
('30445403','G742'),
('30445163','KA80'),
('30446213','ML39'),
('94075343','AB515'),
('8717023','AB436'),
('8717443','PA20'),
('417393','ML30'),
('414543','ML52'),
('414623','AB526'),
('20470585','FK95'),
('416243','ML20'),
('416323','PA169'),
('21150975','KA269'),
('22948175','ML15'),
('25921845','KY114'),
('25906375','KW126'),
('35009285','DD22'),
('35650335','PH62'),
('73943873','PA11'),
('73943953','G513'),
('73944263','AB228'),
('73944503','DD82'),
('73945733','AB125'),
('73945813','EH221'),
('73946123','EH497'),
('73946383','EH217'),
('73946543','AB123'),
('73946623','AB167'),
('73946703','AB422'),
('73947013','DD11'),
('73947193','G717'),
('73947773','G848'),
('73947853','G536'),
('73948243','AB125'),
('73948823','G760'),
('73948903','PA318'),
('73949473','KY11'),
('73949633','EH42'),
('11395435','KY114'),
('11372905','KA32'),
('11393735','ML84'),
('11382385','KY59'),
('11372745','AB422'),
('11394965','AB421'),
('11383855','KY114'),
('11373055','AB242'),
('11374025','G735'),
('11372405','KY59'),
('11369515','G821'),
('11377375','DD114'),
('11394705','DD114'),
('11375915','AB451'),
('11370625','TD11'),
('11393655','IV170'),
('11393155','TD60'),
('11386865','TD98'),
('11378005','TD86'),
('11374285','ML30'),
('11391535','AB419'),
('11387595','KY74'),
('11389875','PA308'),
('11387675','KY76'),
('11381075','FK14'),
('11378345','KW148'),
('11367735','FK28'),
('11383195','FK103'),
('11378185','ML15'),
('11368965','KY50'),
('11376565','AB124'),
('11385895','ML118'),
('11386525','G727'),
('11367575','G821'),
('11380765','G830'),
('11375095','IV306'),
('11377455','KY147'),
('11395775','IV301'),
('11379575','ML110'),
('11382465','G823'),
('11370885','KA182'),
('11374105','KY14'),
('11372665','DD24'),
('11381995','DD39'),
('11386105','KY85'),
('11369015','KY82'),
('11383935','KY83'),
('11371435','EH421'),
('11370965','KA269'),
('11370705','DG27'),
('73978223','EH76'),
('73987553','AB419'),
('30196183','PA237'),
('30196683','G38'),
('30197573','PH73'),
('73890653','SL63'),
('73896673','RG48'),
('11370205','RG421'),
('11377035','RG193'),
('11378265','SL21'),
('73968423','RG178'),
('73969493','RG16'),
('73989093','RG127'),
('73993953','RG73'),
('73999053','RG128'),
('73999133','RG120'),
('30192103','RG303'),
('30192283','RG53'),
('32592005','BN266'),
('11376725','TN395'),
('11372825','BN229'),
('73970923','BN35'),
('73972463','TN56'),
('73978803','BN85'),
('73987053','BN412'),
('30185313','BN220'),
('30188743','BN71'),
('73900163','PO142'),
('73901713','PO144'),
('73907993','BH256'),
('73908043','SO456'),
('73908203','SO316'),
('73908463','GU350'),
('73909853','GU179'),
('73911773','SO418'),
('73913893','PO160'),
('73918763','PO119'),
('73922963','SO165'),
('73924323','PO62'),
('73926103','BH255'),
('73928563','SO403'),
('73928643','BH255'),
('73929453','SO190'),
('73930643','SP104'),
('73931033','RG263'),
('73938863','PO123'),
('94075683','GU113'),
('414963','RG238'),
('11390145','PO130'),
('11378505','SO186'),
('73959513','BH241'),
('73982003','PO76'),
('73988783','SO509'),
('73990603','PO141'),
('73992143','SO408'),
('73992983','RG226'),
('73995653','SP101'),
('30186203','GU513'),
('30187353','GU358'),
('73885483','W68'),
('73886113','DA38'),
('73889383','TN103'),
('73890233','TN120'),
('73890573','ME58'),
('73892933','ME206'),
('73895443','ME89'),
('73896593','ME160'),
('73912663','ME22'),
('73913633','TN11'),
('73914863','ME159'),
('73917793','BR87'),
('73919233','TN262'),
('73922623','ME172'),
('73924083','TN235'),
('30441923','TN299'),
('94075503','ME45'),
('415513','TN299'),
('11380005','DA15'),
('11381575','ME102'),
('11371355','ME45'),
('11371775','CT126'),
('11394465','TN133'),
('73971153','TN92'),
('73972123','DA37'),
('73972623','TN156'),
('73973513','DA130'),
('73973853','ME142'),
('73973933','ME158'),
('73982343','DA124'),
('73982503','DA118'),
('73985193','TN235'),
('73993373','ME12'),
('73993793','ME122'),
('73997193','CT79'),
('73887003','SE30'),
('73889463','CR00'),
('73889543','CR00'),
('73896173','SW130'),
('73899683','CR00'),
('73905453','N33'),
('73906003','BR51'),
('73908623','KT64'),
('73909193','SE29'),
('73912903','BR27'),
('73913713','TN163'),
('73915913','DA158'),
('8718093','DA82'),
('73972963','CR51'),
('73973193','RM94'),
('73973273','CR00'),
('73973773','KT91'),
('73978063','BR66'),
('73982763','CR08'),
('73984543','CR09'),
('73990783','BR68'),
('73993453','HA49'),
('30183873','E46'),
('73897303','GU151'),
('73900823','GU254'),
('73908383','RH67'),
('414883','RH76'),
('73986163','GU11'),
('73990443','GU47'),
('73992483','GU104'),
('73993873','KT211'),
('73996703','GU237'),
('30185813','KT185'),
('30186543','GU213'),
('73886613','RH118'),
('73893083','RH118'),
('73901393','RH104'),
('73901973','RH162'),
('73909693','BN68'),
('30442153','RH103'),
('11367655','BN148'),
('73970183','BN126'),
('73970503','RH149'),
('73970763','RH204'),
('73985433','RH163'),
('30184683','RH110'),
('30195953','BN113'),
('73913133','CH71'),
('73918683','NP253'),
('73923773','CF372'),
('73923933','CF390'),
('73924403','CF375'),
('73924743','LL670'),
('73925973','CH66'),
('73927173','LL718'),
('73927253','LL606'),
('73927593','SA174'),
('73928983','LL413'),
('73929533','LL588'),
('73930063','CF240'),
('73930223','LL138'),
('73937133','LL652'),
('73937393','CF433'),
('73938023','CH54'),
('73939173','SA708'),
('73939253','SA715'),
('73939913','LL139'),
('73940103','NP183'),
('73943373','LL547'),
('94074453','CF729'),
('25805015','NP76'),
('28946175','SA731'),
('11394885','CF237'),
('11380505','LL120'),
('11371515','LL151'),
('11379735','CF828'),
('11376485','SA84'),
('73958463','CF104'),
('73963473','LL163'),
('73964283','LL127'),
('73982923','NP207'),
('73993033','CF644'),
('73998903','CF312'),
('30183293','CF158'),
('30195533','CF141'),
('73968843','GL155'),
('30187513','HR27'),
('30194563','HR11'),
('36058095','SY12'),
('11391455','SY131'),
('11380265','SY111'),
('11382125','SY109'),
('1794312','E48'),
('8222952','BD58'),
('8222960','BD108'),
('8222978','BD89'),
('8222986','BD215'),
('8223000','LS197'),
('8223018','BD37'),
('8223034','LS28'),
('8223042','LS279'),
('8223067','HU178'),
('8223075','LS102'),
('8223091','LS185'),
('8386534','WA86'),
('8223687','WA93'),
('8223695','M350'),
('8223703','NG185'),
('8223711','WV140'),
('8223745','DL12'),
('8223752','S433'),
('1530054','M300'),
('8223760','S605'),
('8223778','NG316'),
('8223786','DN211'),
('8223794','OL104');
drop table if exists #MIDLocation2
create table #MIDLocation2 (MID VARCHAR(50), Postcode VARCHAR(50))
insert into #MIDLocation2
values
('8223802','WF29'),
('8223810','WF11'),
('8223828','NE126'),
('8223836','LS208'),
('8223844','SK165'),
('8223851','BB15'),
('8223869','S661'),
('8223877','DL147'),
('8223885','PR22'),
('8223893','WF160'),
('8223919','CA30'),
('8223927','BL11'),
('8223935','PE92'),
('8223943','SR68'),
('8223950','NG241'),
('8223968','TF11'),
('8223976','ST15'),
('8223992','WF84'),
('8224008','S62'),
('8224016','OL164'),
('8222689','LE673'),
('8222697','LA96'),
('8222713','BD231'),
('8222721','OL97'),
('8222739','TS177'),
('8222747','BL14'),
('8222754','PR73'),
('8222762','S601'),
('8222770','LN67'),
('8222788','WS29'),
('8222796','NE299'),
('8222804','HG27'),
('8222812','FY42'),
('8222820','NG42'),
('8222838','SY14'),
('8222846','CV32'),
('8222853','DN163'),
('8222861','WA46'),
('1359538','S359'),
('8300022','B772'),
('8222879','LA44'),
('8386518','DN377'),
('8222895','YO113'),
('8222903','CW73'),
('8222911','DE214'),
('8328734','HD58'),
('4435327','TS103'),
('2760999','IP15'),
('3340080','CF634'),
('3340015','PE113'),
('1676311','BS107'),
('4125282','RM175'),
('2516623','NR191'),
('3340122','NP109'),
('3339983','NE323'),
('2536480','LS53'),
('3339991','B100'),
('4435368','NE61'),
('4435285','EN11'),
('3558467','M343'),
('1676287','LA142'),
('4435293','NP235'),
('1500503','SA127'),
('1676295','L252'),
('1676329','S701'),
('3234689','MK44'),
('1345438','NN11'),
('1515386','S208'),
('1102656','SR32'),
('4435277','PE301'),
('1962133','BB97'),
('1775196','WA102'),
('1697663','OX165'),
('1634393','HU106'),
('1697564','YO519'),
('1794346','HU93'),
('2129120','LS226'),
('2761039','NN168'),
('1658731','S730'),
('1770130','DA82'),
('1770148','DN227'),
('2129138','NR11'),
('2761054','NN84'),
('2122448','KA12'),
('4435319','CB236'),
('2516631','SK142'),
('2761070','CW13'),
('8280901','NG68'),
('1102664','SK30'),
('8280927','DN58'),
('8328718','DL14'),
('8233363','DE142'),
('1962166','SG63'),
('2129112','ST59'),
('1356732','TS37'),
('2761088','LL182'),
('3262235','SA17'),
('3104643','CH21'),
('4185690','TS248'),
('3104569','HG42'),
('3104536','PR81'),
('3219946','FK15'),
('3982493','G523'),
('3104460','LS134'),
('5200183','L242'),
('3982501','PA11'),
('3982543','ME22'),
('3982550','GL44'),
('5399555','BS130'),
('3502200','WF118'),
('5351853','DD48'),
('6183453','NE52'),
('5813852','EH51'),
('3982469','ML30'),
('5748819','M458'),
('3982527','EH546'),
('4788303','PR253'),
('3923257','G349'),
('5437736','WS107'),
('1065597','MK91'),
('5351861','YO317'),
('5295860','PA58'),
('4923454','CF110'),
('5043716','TN61'),
('4788311','DE119'),
('3982840','AB245'),
('3856945','ML69'),
('3982584','FK101'),
('4089330','IV170'),
('4089280','DD111'),
('4089249','KA72'),
('8733875','NP443'),
('4089397','ML41'),
('3856986','TD151'),
('3857133','G821'),
('3328564','DG12'),
('3735735','G758'),
('3982758','G744'),
('3735743','EH52'),
('4159372','EH107'),
('3856895','EH177'),
('3982857','EH87'),
('3369030','EH129'),
('4089587','PH336'),
('4089660','G131'),
('3856846','G697'),
('3982592','G642'),
('4089348','G727'),
('3493756','G431'),
('4089215','KY75'),
('3856739','PA151'),
('4089637','TD99'),
('4089538','IV23'),
('4089629','AB514'),
('3982790','KA308'),
('1439947','E161'),
('3856911','PA26'),
('3982709','PH15'),
('4089413','AB421'),
('3982766','KY168'),
('4289427','KA203'),
('3982907','FK77'),
('3982659','DG98'),
('3856952','KA106'),
('4089595','ML27'),
('3856796','NE661'),
('3856713','DL128'),
('4399044','NE241'),
('3530755','DH85'),
('1065599','W52'),
('3328465','NE49'),
('3530508','NE258'),
('3530821','SK179'),
('4398947','SK230'),
('4399051','CH656'),
('4218525','BL23'),
('3344223','L393'),
('3493871','CA117'),
('3493723','SK62'),
('3530870','SK57'),
('4089645','M274'),
('3996576','FY53'),
('4398897','OL146'),
('3982873','CH480'),
('3390242','CA287'),
('3530706','CA143'),
('3735750','YO164'),
('3530557','S403'),
('3982816','YO177'),
('4089744','HD95'),
('3530474','YO84'),
('3530524','S87'),
('4089603','YO243'),
('3857018','DE561'),
('3328549','NN188'),
('3530441','LE101'),
('3369089','LE27'),
('4089223','LE114'),
('4089686','LE131'),
('3493731','NN36'),
('4089827','NG26'),
('3530896','NG163'),
('4089314','SY233'),
('4369815','WS98'),
('3328523','B603'),
('4218780','WS73'),
('3530516','WS110'),
('3493996','B347'),
('3530649','CV58'),
('3493707','WR111'),
('3530714','HR11'),
('3856879','DY67'),
('4089355','ST135'),
('3530482','HR68'),
('3344264','WS137'),
('3369022','WR141'),
('4089447','CW55'),
('3982667','ST53'),
('3493780','B980'),
('4218681','HR97'),
('4218640','B459'),
('3856994','WS152'),
('3390291','B913'),
('3982733','ST158'),
('4089512','CV379'),
('4218624','WS11'),
('3982576','LL571'),
('4326278','LD37'),
('4218707','LL551'),
('4218814','CF831'),
('4218467','CF145'),
('4089371','SA312'),
('4218657','LL298'),
('4196549','LL163'),
('4089561','SA612'),
('4398814','SA111'),
('3982881','NR349'),
('4218475','SS80'),
('3493749','CO169'),
('3856820','CO151'),
('3530540','NR279'),
('4289468','IP224'),
('4399069','SS26'),
('3530862','NR218'),
('3530458','IP112'),
('4208195','SS72'),
('3857117','CO124'),
('3982691','NR337'),
('4089835','CM96'),
('3344249','PE46'),
('3982915','PE253'),
('4089728','CM82'),
('3530680','HP202'),
('4326377','CT13'),
('4218384','CR36'),
('4379202','ME58'),
('4218665','RM107'),
('4379210','CT195'),
('4218590','DA118'),
('3857141','HA54'),
('3369055','HP135'),
('3530961','LU71'),
('4326336','W39'),
('1530019','NW18'),
('4326427','NW18'),
('4398939','N76'),
('4326385','N134'),
('4218889','SE155'),
('3328622','NW96'),
('4399085','W128'),
('3996584','E151'),
('3982568','SE288'),
('4326302','N226'),
('4089785','IG101'),
('4196556','ME159'),
('3856937','DA146'),
('3494010','AL14'),
('4218830','SM11'),
('3390283','AL71'),
('3982774','BA16'),
('4326294','EX392'),
('4218749','PL312'),
('4218541','TA63'),
('4089694','BS163'),
('4398863','EX238'),
('4089850','GL513'),
('4218723','BA69'),
('4399002','PL143'),
('4379228','TR72'),
('4089652','TQ47'),
('4398913','TR183'),
('4245072','PL35'),
('4089876','PL97'),
('4218673','TR153'),
('3856861','TA11'),
('4218442','PL199'),
('4218863','GL208'),
('4218806','EX166'),
('4218616','TQ95'),
('4089504','BA129'),
('4089322','BS247'),
('4326195','BA99'),
('3982618','BS375'),
('4208203','BA202'),
('3530490','RG218'),
('4399119','RG121'),
('4089777','DT64'),
('3328507','SN146'),
('4398970','SN101'),
('6572481','DN146'),
('4089868','GU140'),
('4218392','PO121'),
('4218558','TN341'),
('3530748','PO89'),
('4089546','PO301'),
('4399028','RH89'),
('4089769','PO35'),
('4089819','RG20'),
('4089710','RH27'),
('4398988','PO369'),
('4245064','BN251'),
('3369014','SN251'),
('4196580','SO408'),
('4326344','DT35'),
('3493863','GU216'),
('6649107','CV64'),
('6649073','TA246'),
('5003996','NW90'),
('4089520','G414'),
('4369807','G116'),
('8481764','M11'),
('3996592','EH548'),
('3982808','NE611'),
('1698700','TW88'),
('4218376','M210'),
('3982782','PR42'),
('6736557','NR67'),
('4089611','LE174'),
('6806426','WD62'),
('6806418','NE332'),
('6806350','M111'),
('3856804','CW121'),
('4326419','WR98'),
('6806392','PR56'),
('3856721','TF93'),
('4089231','SY163'),
('6806368','BB67'),
('4218533','WV95'),
('4363883','CT65'),
('1100599','KT138'),
('7444953','NP190'),
('7444920','EH487'),
('4326229','N165'),
('4425781','SW191'),
('4326252','BR51'),
('7444995','PE28'),
('1439946','SY114'),
('7445018','LL137'),
('5961040','LS260'),
('5784244','DT117'),
('4379244','PO211'),
('5809215','LL652'),
('3591286','GU511'),
('7112394','DN33'),
('4218855','RG413'),
('7112402','WF101'),
('5345384','PA87'),
('5778287','NR316'),
('6806384','CH54'),
('6235733','CT162'),
('6380224','WV131'),
('6235758','DA161'),
('5880240','NG119'),
('6028658','UB77'),
('7112428','NE226'),
('4399390','GX111'),
('1091431','S103'),
('7774383','M139'),
('1773437','EX57'),
('8022060','NP75'),
('1021555','CF239'),
('8763567','IP76'),
('6028666','NG198'),
('6235766','DH33'),
('6235741','HX28'),
('1088708','DH32'),
('6143424','TW80'),
('6143572','BN21'),
('1084059','SS89'),
('6143465','SE58'),
('6143333','ST101'),
('6143622','CM14'),
('6143341','SS177'),
('6143580','KY49'),
('1621377','G642'),
('6143630','EX171'),
('6143358','PE389'),
('6143531','PA238'),
('7112519','BL26'),
('1613507','BA11'),
('6143549','EX47'),
('6143481','WA67'),
('6143291','TQ71'),
('6143655','ML117'),
('7112626','B797'),
('1613508','CM33'),
('7444946','WN74'),
('7445075','CH452'),
('1056999','EH221'),
('7445067','PE140'),
('7445042','NG177'),
('7488547','G40'),
('7332521','LU55'),
('6271654','ME137'),
('7513914','PO14'),
('6143598','CR42'),
('1626246','NE139'),
('8733867','HX59'),
('6143432','GL60'),
('6649099','BH256'),
('6143440','SY111'),
('8256232','B168'),
('8256224','BN236'),
('8801946','CV313'),
('8733800','HA14'),
('8733792','CW109'),
('8733784','B461'),
('8715104','GU111'),
('8733776','B263'),
('8733768','OL130'),
('8733842','NR322'),
('1017040','PR21'),
('8733834','ME103'),
('8733826','BA51'),
('8733818','TQ149'),
('8733750','TF35'),
('8763559','DN45'),
('1061717','NE215'),
('1017044','EN118'),
('1018412','ME115'),
('1017041','CF818'),
('6169148','SK121'),
('1018411','GL11'),
('1015399','CR04'),
('1017043','S802'),
('1017042','KY11'),
('3982725','HU151'),
('7141321','B276'),
('1026490','WD188'),
('4218483','SY217'),
('6143457','BL09'),
('6143499','SG85'),
('6143309','SG175'),
('1004742','MK429'),
('8801953','BN177'),
('6143556','SE171'),
('1026489','SN33'),
('3982923','TS146'),
('1065601','BH316'),
('6143663','BN111'),
('6143317','ME206'),
('6143507','CT91'),
('8022059','PE274'),
('6143515','AB315'),
('1469333','NE650'),
('1439948','S446'),
('6143382','LN119'),
('6143564','L312'),
('6143390','CF399'),
('1065596','NR180'),
('1471660','LE38'),
('1471658','NR319'),
('1471659','B302'),
('1496604','G847'),
('1496605','SR79'),
('1496602','S446'),
('1026488','OX183'),
('1092088','DE75'),
('6649081','CH48'),
('6169130','BA133'),
('1551265','L328'),
('5784939','DY101'),
('5361134','SA149'),
('5526173','G466'),
('6806343','LS83');
-- 1.3 Union MID table
drop table if exists #MIDLocation
create table #MIDLocation (MID VARCHAR(50), Postcode VARCHAR(50))
insert into #MIDLocation
SELECT * FROM #MIDLocation1
UNION ALL
SELECT * FROM #MIDLocation2
-- 1.4 Write Distinct list of morrisons postcodes
drop table if exists #ShopPostcode
create table #ShopPostcode ( Postcode VARCHAR(50))
insert into #ShopPostcode
select distinct PostCode
from #MIDLocation
-- 2.1 Create Drive Time Table only Shop Postcodes on Both Sides
drop table if exists #DriveTimeShops
create table #DriveTimeShops (FromSector VARCHAR(50), ToSector VARCHAR(50), DriveTimeMins Decimal(10,2))
insert into #DriveTimeShops
select REPLACE(FromSector, ' ', '') as FromSector,
		REPLACE(ToSector, ' ', '') as ToSector,
		DriveTimeMins
FROM WH_AllPublishers.Derived.DriveTimeMatrix
WHERE DriveTimeMins IS NOT NULL
	AND REPLACE(ToSector, ' ', '') IN (SELECT DISTINCT Postcode from #MIDLocation)
	AND REPLACE(FromSector, ' ', '') IN (SELECT DISTINCT Postcode from #MIDLocation)
-- 2.2 Add Ranks to Drive Time Table
drop table if exists #DriveTimeRank
create table #DriveTimeRank (FromSector VARCHAR(50), ToSector VARCHAR(50), DriveTimeMins Decimal(10,2), RN INT)
insert into #DriveTimeRank
select REPLACE(FromSector, ' ', '') as FromSector,
		REPLACE(ToSector, ' ', '') as ToSector,
		DriveTimeMins,
		ROW_NUMBER() OVER (
          PARTITION BY ToSector
          ORDER BY DriveTimeMins ASC, FromSector ASC
      ) AS rn
from #DriveTimeShops
-- 2.3 Filter for closest 30 stores
drop table if exists #DriveTime30
create table #DriveTime30 (ShopPostcode VARCHAR(50), GroupPostcode VARCHAR(50), DriveTimeMins Decimal(10,2), RN INT)
insert into #DriveTime30
select FromSector, ToSector, DriveTimeMins, RN
from #DriveTimeRank
where rn < 31
	and ToSector = 'CH48'
SELECT * FROM #DriveTime30
-- 3.1 Create Drive Time Table - Customer
drop table if exists #DriveTimes
create table #DriveTimes (FromSector VARCHAR(50), ToSector VARCHAR(50), DriveTimeMins Decimal(10,2))
insert into #DriveTimes
select REPLACE(FromSector, ' ', '') as FromSector,
		REPLACE(ToSector, ' ', '') as ToSector,
		DriveTimeMins
from WH_AllPublishers.Derived.DriveTimeMatrix
Where DriveTimeMins < 20
-- 3.2 Possible Customer Postcodes within 20 minute drive times of stores
drop table if exists #CustomerPostcodes
create table #CustomerPostcodes (CustPostcode VARCHAR(50), ShopPostcode VARCHAR(50))
insert into #CustomerPostcodes
select FromSector as CustPostcode,
	ToSector as ShopPostcode
from #DriveTimes dt
INNER JOIN #ShopPostcode sp on sp.Postcode = dt.ToSector
--select * from #CustomerPostcodes where ShopPostcode = 'PA58'
-- 3.3 Join possible customer postcodes onto group postcodes
drop table if exists #CustomerPostcodesGroup
create table #CustomerPostcodesGroup (GroupPostcode VARCHAR(50), CustPostcode VARCHAR(50))
insert into #CustomerPostcodesGroup
select GroupPostcode, CustPostcode
from #DriveTime30 dt
join #Customerpostcodes cp on cp.ShopPostcode = dt.ShopPostCode
group by GroupPostcode, CustPostcode
select * from #CustomerPostcodesGroup
-- 4.1 Bring in Customer table
drop table if exists #CustTable
create table #CustTable (CINID int, Region varchar(50), PostalSector varchar(50))
insert into #CustTable
select cin.CINID, ct.Region, REPLACE(ct.PostalSector, ' ', '') as PostalSector
from wh_nwg.derived.cinlist cin
inner join wh_nwg.derived.customer ct on ct.SourceUID=cin.CIN
where len(postalsector)>0
select top 100 * from #CustTable
-- 4.2 Find Targettable Customers for each group
drop table if exists #AddressableCust
create table #AddressableCust (ShopPostcode VARCHAR(50), CustPostcode VARCHAR(50), CINID int)
insert into #AddressableCust
SELECT cp.GroupPostcode, cp.CustPostcode, ct.cinid
from #CustomerPostcodesGroup as cp
LEFT JOIN #CustTable as ct
ON cp.CustPostcode = ct.PostalSector
select distinct custpostcode from #AddressableCust
-- 5.1 Consumer Combinations for Morrisons
drop table if exists #MorrCC
create table #MorrCC (ConsumerCombinationID int not null primary key, BrandID int, BrandName varchar(50), MID varchar(50))
insert into #MorrCC
select cc.ConsumerCombinationID, cc.BrandID, br.BrandName, cc.MID
from WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
left join Warehouse.Relational.Brand br on br.BrandID = cc.BrandID
WHERE cc.BrandID = 292
-- 5.2 Morrisons In Store Transactions
drop table if exists #MorrTrans
create table #MorrTrans (trandate date, tranmonth date, amount decimal(10,2), cinid int, BrandID int, BrandName varchar(50), MID varchar(50), IsOnline int, PostCode varchar(50))
insert into #MorrTrans
select ct.trandate, EOMONTH(ct.trandate) as tranmonth, ct.amount, ct.cinid, cc.BrandID, cc.BrandName, cc.MID, IsOnline, ml.Postcode
from WH_NWG.trans.consumertransaction ct
inner join #MorrCC cc on ct.ConsumerCombinationID=cc.ConsumerCombinationID
left join #MIDLocation ml on ml.MID = cc.MID
where ct.amount > 0
and trandate between '2025-01-01' and '2025-12-31'
and isonline = 0
-- 5.3 Sum Morrisons Customer Sales by MID
drop table if exists #MorrCustMid
create table #MorrCustMid (cinid int,  MID varchar(50), amount decimal(10,2), rn int)
insert into #MorrCustMid
select CINID, MID, sum(amount),
        ROW_NUMBER() OVER (
            PARTITION BY CINID
            ORDER BY SUM(Amount) DESC
        ) AS rn
from #MorrTrans
Group by cinid, mid
-- 5.4 Take top MID for each customer and join shop Postcode
drop table if exists #MorrCustTopMid
create table #MorrCustTopMid (cinid int,  StorePostcode varchar(50), CustPostcode varchar(50), GroupPostcode varchar(50))
insert into #MorrCustTopMid
select mm.cinid, ml.postcode, ct.PostalSector, dt.GroupPostcode
from #MorrCustMid mm
left join #MIDLocation ml on ml.MID = mm.MID
left join #CustTable ct on ct.CINID = mm.cinid
left join #DriveTime30 dt on dt.ShopPostcode = ml.Postcode
where mm.rn = 1
group by mm.cinid, postcode, PostalSector, GroupPostcode
-- 5.5 Addressable customers through top mid
drop table if exists #AddressableCustMid
create table #AddressableCustMid (ShopPostcode VARCHAR(50), CustPostcode VARCHAR(50), CINID int)
insert into #AddressableCustMid
select GroupPostcode, CustPostcode, cinid
from #MorrCustTopMid
where GroupPostcode = 'CH48'
group by GroupPostcode, CustPostcode, cinid
-- 6.1 All addressable customers
drop table if exists #AddressableCustAll
create table #AddressableCustAll (ShopPostcode VARCHAR(50), CustPostcode VARCHAR(50), CINID int)
insert into #AddressableCustAll
select ShopPostcode, CustPostcode, cinid
from #AddressableCustMid
union
select ShopPostcode, CustPostcode, cinid
from #AddressableCust
select count(distinct cinid) from #AddressableCustAll where CINID IS NOT NULL

-- 6.2 Write Final Table
IF OBJECT_ID('Sandbox.AnnetteM.RBS_Morrisons_NW_Trial_202600226') IS NOT NULL DROP TABLE Sandbox.AnnetteM.RBS_Morrisons_NW_Trial_202600226		-- 925,153 (06.01.2025), 888,662 (11.12.2024), 923,690 (28.10.2024)
SELECT	ac.cinid, Fanid 																												
INTO	Sandbox.AnnetteM.RBS_Morrisons_NW_Trial_202600226
FROM	#AddressableCustAll ac
JOIN #FB_rbs fb on fb.cinid = ac.cinid
WHERE ac.CINID IS NOT NULL
group by ac.cinid, fanid

	IF OBJECT_ID('[WH_NWG].[Selections].[MOR257_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[MOR257_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[MOR257_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.AnnetteM.RBS_Morrisons_NW_Trial_202600226  st
					WHERE fb.CINID = st.CINID)

END
GO
