USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[SU021_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [Selections].[SU021_PreSelection_sProc]
AS
BEGIN


-- declare the main brand
declare @main_brand_id int = 414

-------------------------------------------------------------------------------------
----RBS 
-------------------------------------------------------------------------------------

DROP TABLE IF EXISTS #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])

DROP TABLE IF EXISTS #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN  ((414))

-------------------------------------------------------------------------------------
----OFFLINE 
----------

DROP TABLE IF EXISTS #Trans_OFFLINE
SELECT  FanID, CT.CINID
INTO	#Trans_OFFLINE
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-2,cast(GETDATE() as date))
		--AND amount > 0
		and ct.cardholderpresentdata=0 
GROUP BY FanID, CT.CINID


-------------------------------------------------------------------------------------
----ONLINE 
----------

DROP TABLE IF EXISTS #Trans_ONLINE
SELECT  FanID, CT.CINID
INTO	#Trans_ONLINE
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-2,cast(GETDATE() as date))
		--AND amount > 0
		and ct.cardholderpresentdata<>0 
GROUP BY FanID, CT.CINID


--TOTAL
DROP TABLE IF EXISTS Sandbox.JosephS.RBS_NoneOfflineSpenders_12M_130624
SELECT	FanID, CINID							--			455402																			
INTO	Sandbox.JosephS.RBS_NoneOfflineSpenders_12M_130624
FROM	#Trans_OFFLINE
WHERE	CINID NOT IN (SELECT CINID FROM #Trans_ONLINE) -- 455,142
 

DROP TABLE IF EXISTS #FinalSelection_RBS;
create table #FinalSelection_RBS (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)

insert INTO #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = 5254
AND [ShopperSegmentTypeID] IN (8)					-- Update Segment Type ID for BAU offers


-- Segments with BESPOKE Selection code
insert INTO #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM [Segmentation].[Roc_Shopper_Segment_Members] sg
WHERE [EndDate] IS NULL
AND [PartnerID] = 5254
AND [ShopperSegmentTypeID] IN (9)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM Sandbox.JosephS.RBS_NoneOfflineSpenders_12M_130624 sa
			WHERE sg.[FanID] = sa.[FanID])

DROP TABLE IF EXISTS [Selections].[SU021_PreSelection]
SELECT FanID
INTO [Selections].[SU021_PreSelection]
FROM #FinalSelection_RBS 

END
GO
