USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[MOR228_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[MOR228_PreSelection_sProc]
AS
BEGIN

IF OBJECT_ID('[WH_NWG].[Selections].[MOR228_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[MOR228_PreSelection]
SELECT	FanID
INTO	[WH_NWG].[Selections].[MOR228_PreSelection]
FROM	[Derived].[Customer]
WHERE 1 = 2

END
GO
