USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[AddOffersTo_IronOffer_Campaign_HTM]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[AddOffersTo_IronOffer_Campaign_HTM] @EmailDate DATE

AS
BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

--	DECLARE @EmailDate DATE = '2024-09-05'

	DROP TABLE IF EXISTS #CampaignSetup
	SELECT	cs.[PartnerID]
		,	cs.[ClientServicesRef]
		,	cs.[StartDate]
		,	[IronOfferID] = iof.[Item]
	INTO #CampaignSetup
	FROM [Selections].[CampaignSetup_POS] cs
	CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (cs.[OfferID], ',') iof
	WHERE cs.[EmailDate] = @EmailDate

	INSERT INTO #CampaignSetup
	SELECT	cs.[PartnerID]
		,	cs.[ClientServicesRef]
		,	cs.[StartDate]
		,	[IronOfferID] = iof.[Item]
	FROM [Selections].[CampaignSetup_DD] cs
	CROSS APPLY [WH_AllPublishers].[dbo].[il_SplitDelimitedStringArray] (cs.[OfferID], ',') iof
	WHERE cs.[EmailDate] = @EmailDate
	
	DROP TABLE IF EXISTS #Offers
	SELECT	DISTINCT
			[ClientServicesRef] = cs.[ClientServicesRef]
		,	[PartnerID] = iof.[PartnerID]
		,	[EPOCU] = NULL
		,	[HTMSegment] = NULL
		,	[IronOfferID] = iof.[IronOfferID]
		,	[CashBackRate] = NULL
		,	[CommissionRate] = NULL
		,	[BaseOfferID] = NULL
		,	[Base_CashbackRate] = NULL
		,	[Base_CommissionRate] = NULL
		,	[AboveBase] = NULL
		,	[isConditionalOffer] = 0
	INTO #Offers
	FROM [Derived].[IronOffer] iof
	INNER JOIN #CampaignSetup cs
		ON iof.[IronOfferID] = cs.[IronOfferID]
	WHERE EXISTS (	SELECT 1
					FROM [Segmentation].[OfferMemberAddition] oma
					WHERE iof.[IronOfferID] = oma.[IronOfferID])
	ORDER BY	iof.[IronOfferID]


	INSERT INTO [Derived].[IronOffer_Campaign_HTM]
	SELECT	[ClientServicesRef]
		,	[PartnerID]
		,	[EPOCU]
		,	[HTMSegment]
		,	[IronOfferID]
		,	[CashBackRate]
		,	[CommissionRate]
		,	[BaseOfferID]
		,	[Base_CashbackRate]
		,	[Base_CommissionRate]
		,	[AboveBase]
		,	[isConditionalOffer]
	FROM #Offers o
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[IronOffer_Campaign_HTM] htm
						WHERE o.[IronOfferID] = htm.[IronOfferID])

END
GO
