USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[GRG028_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[GRG028_PreSelection_sProc]
AS
BEGIN

--SELECT * FROM WH_AllPublishers.Trans.Brand 	WHERE BrandName LIKE '%avanti%'


-- DECLARE THE MAIN BRAND
--DECLARE @main_brand_id INT = 292

-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (278,1076,101,354,407,75)						-- McDonald’s 278, KFC 1076, 75	Caffe Nero
--101	Costa
--2608	Gails Bakery
--914	Greggs
--354	Pret a Manger
--407	Starbucks
-------------------------------------------------------------------------------------
----RBS - Comp Steal
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)



IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #brands))



IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
		,COUNT(1) as Transactions
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.RukanK.RBS_Greggs_new_Comp_Steal_11072025') IS NOT NULL DROP TABLE Sandbox.RukanK.RBS_Greggs_new_Comp_Steal_11072025
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_Greggs_new_Comp_Steal_11072025
FROM	#Trans_rbs
WHERE	Transactions >= 2
--		AND SoW <= 0.30					
GROUP BY FanID, CINID

	DROP TABLE IF EXISTS [WH_NWG].[Selections].[GRG028_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[GRG028_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.RukanK.RBS_Greggs_new_Comp_Steal_11072025  st
					WHERE fb.[CINID] = st.[CINID])

END
GO
