USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[AMC009_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [Selections].[AMC009_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #competitors
SELECT	BRANDID
INTO	#competitors
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (21,379,425,485,312)			-- Asda 21, Sainsburys 379, Tesco 425, Waitrose 485, Ocado 312
-------------------------------------------------------------------------------------
----RBS - Shopper - Low SoW
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)



IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
SELECT	CC.BrandID	, MID	,ConsumerCombinationID
INTO	#CC_rbs
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #competitors))
		OR MID IN ('372730561886','350866000156182')


IF OBJECT_ID('tempdb..#trans_AMAZON3P') IS NOT NULL DROP TABLE #trans_AMAZON3P
SELECT  FanID, CT.CINID
INTO	#Trans_AMAZON3P
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
JOIN	WH_NWG.Trans.ConsumerCombination CC on ct.ConsumerCombinationID = cc.ConsumerCombinationID
WHERE	TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date))
		AND amount > 0
		AND MID IN ('372730561886','350866000156182')
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_AMAZON3P(FanID)


IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
		,1.0 * (CAST(SUM(CASE WHEN MID IN ('372730561886','350866000156182') THEN Amount ELSE 0 END )as float) / NULLIF(SUM(Amount),0)) AS SoW
		,COUNT(1) as Transactions
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)


IF OBJECT_ID('Sandbox.RukanK.AmazonFresh3P_lowSOW_20241126') IS NOT NULL DROP TABLE Sandbox.RukanK.AmazonFresh3P_lowSOW_20241126			-- 19,840 (26.11.2024)
SELECT	R.FanID, R.CINID																													
INTO	Sandbox.RukanK.AmazonFresh3P_lowSOW_20241126
FROM	#Trans_rbs R
JOIN	#Trans_AMAZON3P TP ON TP.FANID = R.FanID
WHERE	SoW < 0.80					-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
GROUP BY R.FanID, R.CINID

-- ALL SEGMENTS: 
--SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%amazon%'


-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -- Declare Partner ID -- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --
DECLARE	@PartnerID VARCHAR(500) = 5255


-- RBS:
-- For Selection cases, UPDATE THE SANDBOX BELOW
IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
SELECT	FanID
INTO	#SegmentAssignment_RBS
FROM	Sandbox.RukanK.AmazonFresh3P_lowSOW_20241126



--[ShopperSegmentTypeID] (meaning customer Segment Type ID):	Acquire Segment = 7, Lapsed Segment = 8, Shopper Segment = 9

---- BAU (NO Selection code needed)

DROP TABLE IF EXISTS #FinalSelection_RBS

SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (7, 8)					-- Update Segment Type ID for BAU offers


UNION ALL

 
-- Segments with BESPOKE Selection code
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
--INTO #FinalSelection_RBS
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (9)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])

DROP TABLE IF EXISTS Selections.AMC009_PreSelection
Select FanID
Into Selections.AMC009_PreSelection
From #FinalSelection_RBS


END
GO
