USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[CLA028_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  <Rory Francis>
-- Create date: <2020-09-04>
-- Description: < sProc to run preselection code per camapign >
-- =============================================
CREATE  PROCEDURE [Selections].[CLA028_PreSelection_sProc]
AS
BEGIN




/*-------------------------------------
RBS - Bespoke - USE Warehouse
-------------------------------------*/
 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; -- Use this when querying data warehouse

SET NOCOUNT ON;

DECLARE @TimeStart DATETIME = GETDATE(), @time DATETIME, @RowsAffected INT;

--EXEC Prototype.oo_TimerMessage_V2 'STARTED', @RowsAffected, @time OUTPUT;

 
---------------------------------------------------------------------------------------------------------------------------------------

-- To find brand ID, input brand name -- 

---------------------------------------------------------------------------------------------------------------------------------------
 
		--SELECT * FROM Warehouse.Relational.Brand 	WHERE BrandName LIKE '%CLARINS%'
 
		SET @RowsAffected = @@ROWCOUNT 

		--EXEC Prototype.oo_TimerMessage_V2 'BrandName', @RowsAffected, @time OUTPUT

---------------------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------------------

	-- input custom Acquire and Lapsed lengths --

    DECLARE @AcquireLength INT       = 12

    DECLARE @LapsedLength INT		 = 6

    DECLARE @Monthstocheck INT       = 60                -- motnhs to go back for checking trends

    DECLARE @BrandID INT             = 1567

	DECLARE	@NurseryOfferJump INT	 = 1				 -- Month Diff btw transaction dates for a customer to join Nursery offer
 
	DECLARE	@BrandName varchar(500)		= (SELECT BrandName FROM warehouse.Relational.Brand WHERE BrandID = @BrandID)
 
	--	DECLARE @SELECTION_table TABLE (CINID INT NOT NULL)	INSERT INTO @SELECTION_table                                                        

	--	SELECT CINID

	--	FROM Sandbox.RukanK.Morrisons_Aldi_Lidl_03012023
 
---------------------------------------------------------------------------------------------------------------------------------------

-- Populate Full Active Base of RBS Customers 

---------------------------------------------------------------------------------------------------------------------------------------

		IF OBJECT_ID('tempdb..#FB') IS NOT NULL DROP TABLE #FB;

		CREATE TABLE #FB (FanID INT, CINID INT); CREATE CLUSTERED INDEX ix_FanID on #FB (FANID);

		INSERT INTO #FB (FanID, CINID)

			SELECT C.FanID, CINID

			FROM derived.Customer C

			JOIN derived.CINList CL 

				ON CL.CIN = C.SourceUID

			WHERE C.CurrentlyActive = 1

				AND NOT EXISTS (SELECT 1 FROM derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)

				AND C.AgeCurrent >= 25 and  c.AgeCurrent <= 40

				--AND c.SourceUID NOT IN (SELECT SourceUID FROM Staging.Customer_DuplicateSourceUID);

        SET @RowsAffected = @@ROWCOUNT 

		--EXEC Prototype.oo_TimerMessage_V2 '#FB', @RowsAffected, @time OUTPUT
 
		IF OBJECT_ID('tempdb..#Bespoke_RBS_age') IS NOT NULL DROP TABLE #Bespoke_RBS_age

        SELECT	t.CINID,FanID

        INTO	#Bespoke_RBS_age

        FROM	#FB T

        GROUP BY T.CINID,FanID		



If Object_ID('WH_NWG.Selections.CLA028_PreSelection') Is Not Null Drop Table WH_NWG.Selections.CLA028_PreSelection
Select FanID
Into WH_NWG.Selections.CLA028_PreSelection
FROM  #Bespoke_RBS_age



END
GO
