USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[BIC061_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:  <Rory Francis>
-- Create date: <2020-08-24>
-- Description: < sProc to run preselection code per camapign >
-- =============================================
CREATE PROCEDURE [Selections].[BIC061_PreSelection_sProc]
AS
BEGIN


WITH CTE AS (
SELECT *
FROM WH_AllPublishers.Trans.Brand						-- Asda, Coop, M&S and Sainsbury’s 
WHERE (
	--	brandname like '%pret%' 
	-- or brandname like '%itsu%' 
	-- or 
	BrandID in ( 192, 194, 386,211,2017,3610,2783,3569,2935,2660,4280,2751,3596,4832,2108,3555,2978,3578,2644,3453,3278,3580,3455,6829,2633,2753,3585,3560,2265,1883,1459,1795,6825,875,3565,3515,6827,423,3347,3601,574,3597,2107,1707,3613,4831,3588,
1346,3277,3570,2507,2252,2875,3554,243,252,3562,572,3571,2160,3589,2292,3603,3612,1436,
2971,3274,2655,3340,3490,83,3342,3024,1567,3557,3590,7066,3595,3561,3888,1480,6830,1542,
3599,7,2731,3047,2679,88,3568,4050,1343,2662,3275,2921,2639,2874,366,2319,416,3576,668,
2665,3567,325,3581,3564,1226,3566,2732,2263,2730,2782,2463,3600,3598,2748,3582,2781,2946,
6826,3584,2434,6828,3563,2643,3602,3572,3577,435,937,2955,3559,3491,3606,3492,2757,3489,
532,3609,3707,2085,3892,3075,514,3573,3591,1235,3592,3594,3296,3605,2967,3587,2093,3604,
2198,2784,1546,3586,3579,3611,3538,2690,3593,2754,3556,32,3539,1651,3608,3574)

	))
 
SELECT
	STRING_AGG(brandid,',') as brandid,
	STRING_AGG(brandname,',') as brandname
FROM CTE

-----------------------------------------------------------------------------------
--	FIND PARTNERID  --
--  SELECT TOP 10 * FROM WH_NWG.Derived.Partner WHERE PartnerName LIKE '%pret%'

-----------------------------------------------------------------------------------
--	FILL THESE IN  --

DECLARE @schema_name sysname				= 'CaraC' --add the name of your personal sandbox schema
DECLARE @table_name varchar(max)			= 'Bicester_080925' --publishers will be appended so leave them off
DECLARE @comp_steal_months int				= 12 --months to look back for comp steal
DECLARE @comp_brandids varchar(max)			=  ('192, 194, 386,211,2017,3610,2783,3569,2935,
2660,4280,2751,3596,4832,2108,3555,2978,2644,3453,3278,3580,3455,6829,2633,2753,3585,3560,2265,
1883,1459,1795,6825,875,3565,3515,6827,423,3347,3601,574,3597,2107,1707,3613,4831,3588,
1346,3277,3570,2507,2252,2875,3554,243,252,3562,572,3571,2160,3589,2292,3603,3612,1436,
2971,3274,2655,3340,3490,83,3342,3024,1567,3557,3590,3595,3561,3888,1480,6830,1542,
3599,7,2731,3047,2679,88,3568,4050,1343,2662,3275,2921,2639,2874,366,2319,416,3576,
2665,3567,325,3581,3564,1226,3566,2732,2263,2730,2782,2463,3600,3598,2748,3582,2781,2946,
6826,3584,2434,6828,3563,2643,3602,3572,3577,435,937,2955,3559,3491,3606,3492,2757,3489,
532,3609,3707,2085,3892,3075,514,3573,3591,1235,3592,3594,3296,3605,2967,3587,2093,3604,
2198,2784,1546,3586,3579,3611,3538,2690,3593,2754,3556,32,3539,1651,3608,3574')
DECLARE	@PartnerID VARCHAR(max)				= 4938
/*		Acquire Segment 7, Lapsed Segment 8, Shopper Segment 9			*/
DECLARE @bau_segments varchar(max)			= '8,9'
DECLARE @bespoke_segments varchar(max)		= '7'
-----------------------------------------------------------------------------------
-- !		DON'T CHANGE THESE	! 

DECLARE @table_name_rbs sysname = concat(@table_name,'_rbs')
DECLARE @table_name_bc sysname = concat(@table_name,'_bc')
DECLARE @table_name_vm sysname = concat(@table_name,'_vm')
DECLARE @table_name_barclaysblue sysname = concat(@table_name,'_barclaysblue')
DECLARE @table_name_monzo sysname = concat(@table_name,'_monzo')

DECLARE @QualifiedName_rbs sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_rbs)
DECLARE @QualifiedName_bc sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_bc)
DECLARE @QualifiedName_vm sysname			= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_vm)
DECLARE @QualifiedName_barclaysblue sysname = quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_barclaysblue)
DECLARE @QualifiedName_monzo sysname		= quotename('Sandbox') + '.' + quotename(@schema_name) + '.' + quotename(@table_name_monzo)

DECLARE @sql_rbs_drop nvarchar(max)
DECLARE @sql_bc_drop nvarchar(max)
DECLARE @sql_vm_drop nvarchar(max)
DECLARE @sql_barclaysblue_drop nvarchar(max)
DECLARE @sql_monzo_drop nvarchar(max)

DECLARE @sql_rbs_create nvarchar(max)
DECLARE @sql_bc_create nvarchar(max)
DECLARE @sql_vm_create nvarchar(max)
DECLARE @sql_barclaysblue_create nvarchar(max)
DECLARE @sql_monzo_create nvarchar(max)

DECLARE @sql_rbs_selections nvarchar(max)
DECLARE @sql_bc_selections nvarchar(max)
DECLARE @sql_vm_selections nvarchar(max)
DECLARE @sql_barclaysblue_selections nvarchar(max)
DECLARE @sql_monzo_selections nvarchar(max)

DECLARE @comp_ids varchar(max) = ',' + replace(@comp_brandids,' ','') + ','
DECLARE @bau_seg_ids varchar(max) = ',' + replace(@bau_segments,' ','') + ','
DECLARE @bespoke_seg_ids varchar(max) = ',' + replace(@bespoke_segments,' ','') + ','
-----------------------------------------------------------------------------------
;

/*CREATE BAU & BESPOKE SEGMENTS LOOKUP TABLE*/

IF OBJECT_ID('tempdb..#bau_segments_table') IS NOT NULL DROP TABLE #bau_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bau_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bau_seg_ids) > 0
;

IF OBJECT_ID('tempdb..#bespoke_segments_table') IS NOT NULL DROP TABLE #bespoke_segments_table;
with t as(
select top 10 
	ROW_NUMBER() over(order by number) as segment
from master..spt_values
)
select segment
into #bespoke_segments_table
from t
where charindex(',' + CAST(segment as nvarchar(20)) + ',', @bespoke_seg_ids) > 0


;
-----------------------------------------------------------------------------------
/*CREATE COMPETITOR BRAND TABLE*/

IF OBJECT_ID('tempdb..#comp_brands') IS NOT NULL DROP TABLE #comp_brands;
SELECT	DISTINCT BrandID
into	#comp_brands
from	WH_AllPublishers.Trans.Brand b
where	charindex(',' + CAST(b.brandid as nvarchar(20)) + ',', @comp_ids) > 0
;
-----------------------------------------------------------------------------------

/*
	RBS
*/

/*RBS SELECTION*/

IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)
;

IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (brandid int, consumercombinationid int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID	,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN (select brandid from #comp_brands);

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
CREATE TABLE #trans_rbs (fanid int, cinid int not null primary key)
INSERT INTO #trans_rbs
SELECT  FanID, CT.CINID
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-@comp_steal_months,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
;

IF OBJECT_ID(@QualifiedName_rbs) IS NOT NULL
BEGIN
	SET @sql_rbs_drop = 'DROP TABLE ' + @QualifiedName_rbs
	EXEC (@sql_rbs_drop)
END

SET @sql_rbs_create = 
	'SELECT	FanID, CINID INTO ' 
	+ @QualifiedName_rbs
	+ ' FROM #Trans_rbs GROUP BY FanID, CINID'
EXEC (@sql_rbs_create)
;
-----------------------------------------------------------------------------------

/* RBS SEGMENTATION */

IF OBJECT_ID('tempdb..#SegmentAssignment_RBS') IS NOT NULL DROP TABLE #SegmentAssignment_RBS
;
create table #SegmentAssignment_RBS (FanID int)
;
SET @sql_rbs_selections = 
	'SELECT	DISTINCT FanID FROM ' 
	+ @QualifiedName_rbs
;
insert into #SegmentAssignment_RBS
exec (@sql_rbs_selections)
;
IF OBJECT_ID('tempdb..#FinalSelection_RBS') IS NOT NULL DROP TABLE #FinalSelection_RBS
;
create table #FinalSelection_RBS (PartnerID int, ShopperSegmentTypeID smallint, FanID int)

-- BAU (NO Selection code needed)
if(exists(select 1 from #bau_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bau_segments_table)					-- Update Segment Type ID for BAU offers
end

-- Segments with BESPOKE Selection code
if(exists(select 1 from #bespoke_segments_table))
begin
insert into #FinalSelection_RBS
SELECT    [PartnerID]
    ,    [ShopperSegmentTypeID]
    ,    [FanID]
FROM WH_NWG.Segmentation.Roc_Shopper_Segment_Members sg
WHERE [EndDate] IS NULL
AND [PartnerID] = @PartnerID
AND [ShopperSegmentTypeID] IN (select * from #bespoke_segments_table)						-- Update Segment Type ID for Selection (Tactical) offers
AND EXISTS (SELECT 1
			FROM #SegmentAssignment_RBS sa
			WHERE sg.[FanID] = sa.[FanID])
end
;

If Object_ID('WH_NWG.Selections.BIC061_PreSelection') Is Not Null Drop Table WH_NWG.Selections.BIC061_PreSelection
Select FanID
Into WH_NWG.Selections.BIC061_PreSelection
FROM  #FinalSelection_RBS


END

GO
