USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[AT118_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[AT118_PreSelection_sProc]
AS
BEGIN

-------------------------------------------------------------------------------------
----RBS
-------------------------------------------------------------------------------------

declare @main_brand_id int = 1463
-- all brands list
drop table if exists #brands
select brandid
INTO #brands
from WH_AllPublishers.Trans.Brand
where brandid in (1463) 
-------------------------------------------------------------------------------------
----RBS - Shopper - Low SoW
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)


IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC
WHERE	CC.BrandID IN  ((select brandid from #brands))

IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
		,COUNT(CT.CINID) as Transactions
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-12,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)

DROP TABLE IF EXISTS Sandbox.RukanK.RBS_ATG_Nursery
SELECT	FanID, CINID																													
INTO	Sandbox.RukanK.RBS_ATG_Nursery
FROM	#Trans_rbs
WHERE	Transactions >= 3
GROUP BY FanID, CINID

	DROP TABLE IF EXISTS [Selections].[AT118_PreSelection]
	SELECT FanID
	INTO [Selections].[AT118_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.RukanK.RBS_ATG_Nursery st
					WHERE fb.CINID = st.CINID)

END
GO
