USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[KRI027_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[KRI027_PreSelection_sProc]
AS
BEGIN

-------------------------------------------------------------------------------------
----RBS
-------------------------------------------------------------------------------------

DROP TABLE IF EXISTS #FB
SELECT	CINID, FanID
INTO	#FB
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])

DROP TABLE IF EXISTS #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	[Trans].[ConsumerCombination] CC
WHERE	BrandID IN (446, 917, 942, 1122, 2492, 2493, 2518, 3685, 3650)							-- Thorntons, Millies Cookies, Hotel Chocolat, Just Eat, Lolas Cupcake, Humming Bird Bakery, Uber Eats, Wafflemeister, Tim Hortons

DROP TABLE IF EXISTS #Trans
SELECT	CT.CINID as CINID
		,COUNT(CT.CINID) AS Txn
INTO	#Trans
FROM	[Trans].[ConsumerTransaction] CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate > CAST(DATEADD(MONTH, -12, GETDATE())AS DATE)
		and Amount > 0
GROUP BY CT.CINID

DROP TABLE IF EXISTS Sandbox.JosephS.RBS_KK_CompSteal08032023
SELECT	CINID
INTO Sandbox.JosephS.RBS_KK_CompSteal08032023
FROM  #Trans

DROP TABLE IF EXISTS [Selections].[KRI027_PreSelection]
SELECT	fb.FanID
INTO [Selections].[KRI027_PreSelection]
FROM #FB fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.JosephS.RBS_KK_CompSteal08032023 sb
				WHERE fb.CINID = sb.CINID)

END;
GO
