USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[BHM025_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[BHM025_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB
SELECT	CINID, FanID
INTO	#FB
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND		SourceUID NOT IN (SELECT SourceUID FROM [Derived].[Customer_DuplicateSourceUID]) 
--AND		Gender = 'M'
CREATE CLUSTERED INDEX ix_CINID on #FB(CINID)

DROP TABLE IF EXISTS #CC
SELECT	  CC.ConsumerCombinationID AS ConsumerCombinationID
INTO	#CC 
FROM	[Trans].[ConsumerCombination] CC
WHERE	BrandID IN (31,113,161,244,476,1127,1128,1129,1472,2060,2149,2253,2517,3056,3626,3627,3629,3630)			
-- Competitors: Bannatyne Fitness,David Lloyd,DW Fitness First,LA Fitness,Virgin Active,Total Fitness,Pure Gym,The Gym,DW Fitness Clubs,Anytime Fitness,Nuffield Health,Gymbox,PayAsUGym,Technogym,Thirdspace,Easy Gyms,1Rebel,JD Gyms)

DROP TABLE IF EXISTS #Trans
SELECT	CT.CINID 
INTO	#Trans
FROM	[Trans].[ConsumerTransaction] CT
JOIN	#CC CC ON CT.ConsumerCombinationID = CC.ConsumerCombinationID
JOIN	#FB F ON F.CINID = CT.CINID
WHERE	TranDate < CONVERT(DATE, DATEADD(MONTH, -12, GETDATE()))
		AND Amount > 0
GROUP BY CT.CINID

DROP TABLE IF EXISTS Sandbox.JosephS.RBS_boohoomangymgoers28102022 --112912
SELECT	CINID
INTO Sandbox.JosephS.RBS_boohoomangymgoers28102022
FROM  #Trans
WHERE CINID NOT IN(SELECT * FROM Sandbox.JosephS.RBS_boohoolapsed28102022)
AND CINID NOT IN(SELECT * FROM  Sandbox.JosephS.RBS_boohooshoppers28102022)

DROP TABLE IF EXISTS [Selections].BHM025_PreSelection
Select FanID
INTO [Selections].BHM025_PreSelection
FROM  [Derived].[Customer] cu
WHERE EXISTS (	SELECT 1
				FROM Sandbox.JosephS.RBS_boohoomangymgoers28102022 s
				INNER JOIN [Derived].[CINList] cl
					ON s.CINID = cl.CINID
				WHERE cu.SourceUID = cl.CIN)

END
GO
