USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[HN072_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[HN072_PreSelection_sProc]
AS
BEGIN

	DROP TABLE IF EXISTS [Selections].[HN072_PreSelection]
	SELECT FanID
	INTO [Selections].[HN072_PreSelection]
	FROM [Derived].[Customer] fb
	WHERE 1 = 2

END
GO
