USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[WA241_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[WA241_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
JOIN	[WH_AllPublishers].[Derived].[CAMEO] D ON D.Postcode = C.PostCode
JOIN	[WH_AllPublishers].[Derived].[CAMEO_CODE] E ON E.CAMEO_CODE = D.CAMEO_CODE
JOIN	[WH_AllPublishers].[Derived].[CAMEO_CODE_GROUP] F ON E.CAMEO_CODE_GROUP = F.CAMEO_CODE_GROUP
WHERE	C.CurrentlyActive = 1 and F.Social_Class in ('AB')
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])

DROP TABLE IF EXISTS #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID, ConsumerCombinationID
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN  (312,379,275)

DROP TABLE IF EXISTS #trans_rbs
SELECT  FanID, CT.CINID
INTO	#Trans_rbs
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)

DROP TABLE IF EXISTS Sandbox.CaraC.RBS_WaitroseCameoAB
SELECT	FanID, CINID																													
INTO	Sandbox.CaraC.RBS_WaitroseCameoAB
FROM	#Trans_rbs
--WHERE	BrandShopper = 1
		--AND SoW <= 0.30					-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
GROUP BY FanID, CINID


DROP TABLE IF EXISTS [Selections].[WA241_PreSelection]
SELECT FanID
INTO [Selections].[WA241_PreSelection]
FROM Sandbox.CaraC.RBS_WaitroseCameoAB

END
GO
