USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[EE010_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[EE010_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #CustomersToAssign
SELECT	rf.[CustomerGUID]
INTO #CustomersToAssign
FROM [Derived].[MFDD_ResponseFiles] rf
INNER JOIN [WH_AllPublishers].[Selections].[MFDD_ResponseFileAssignment] rfa
	ON rf.[PartnerID] = rfa.[PartnerID]
	AND rf.[CustomerStatus] = rfa.[CustomerStatus]
WHERE rf.[PartnerID] = 5404
AND rfa.[DestinationOfferGUID] IN ('E3CCC7DC-0919-41C0-AFA4-46F9A54E30FD', 'A414E183-851F-4CDA-94DD-80B66E830E76', 'E3CCC7DC-0919-41C0-AFA4-46F9A54E30FD', 'A414E183-851F-4CDA-94DD-80B66E830E76')

DROP TABLE IF EXISTS [Selections].[EE010_PreSelection]
SELECT cu.[FanID]
INTO [Selections].[EE010_PreSelection]
FROM [Derived].[Customer] cu
WHERE EXISTS (	SELECT 1
				FROM #CustomersToAssign cta
				WHERE cu.[CustomerGUID] = cta.[CustomerGUID])

END
GO
