USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[MOR249_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[MOR249_PreSelection_sProc]
AS
BEGIN


--SELECT * FROM WH_AllPublishers.Trans.Brand 	WHERE BrandName LIKE '%avanti%'


-- DECLARE THE MAIN BRAND
DECLARE @main_brand_id INT = 292
DECLARE @Sainsburys_brand_id INT = 379
-- ALL BRANDS LIST
DROP TABLE IF EXISTS #brands
SELECT	BRANDID
INTO	#brands
FROM	WH_AllPublishers.Trans.Brand 
WHERE	BRANDID IN (292,21,379,425,2541,5,254,485)						-- Morrisons 292, Asda 21, Sainsburys 379, Tesco 425, Amazon Fresh 2541, Aldi 5, Lidl 254, Waitrose 485
-------------------------------------------------------------------------------------
----RBS - Shopper - Low SoW - Asda Customers
-------------------------------------------------------------------------------------
IF OBJECT_ID('tempdb..#FB_rbs') IS NOT NULL DROP TABLE #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	WH_NWG.Derived.Customer C
JOIN	WH_NWG.Derived.CINList CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
		AND NOT EXISTS (SELECT 1 FROM WH_NWG.Derived.Customer_DuplicateSourceUID ds WHERE ds.SourceUID = c.SourceUID)


IF OBJECT_ID('tempdb..#CC_rbs') IS NOT NULL DROP TABLE #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	WH_NWG.Trans.ConsumerCombination CC WITH (NOLOCK)
WHERE	CC.BrandID IN  ((select brandid from #brands))


IF OBJECT_ID('tempdb..#trans_rbs') IS NOT NULL DROP TABLE #trans_rbs
SELECT  FanID, CT.CINID
		,1.0 * (CAST(SUM(CASE WHEN BrandID = @main_brand_id THEN Amount ELSE 0 END )as float) / NULLIF(SUM(Amount),0)) AS SoW
		,MAX(CASE WHEN BrandID = @main_brand_id AND TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date)) THEN 1 ELSE 0 END) BrandShopper
		,MAX(CASE WHEN BrandID = @Sainsburys_brand_id AND TranDate >= DATEADD(MONTH,-3,cast(GETDATE() as date)) THEN 1 ELSE 0 END) Sainsburys_customer
INTO	#Trans_rbs
FROM	WH_NWG.Trans.ConsumerTransaction ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= DATEADD(MONTH,-6,cast(GETDATE() as date))
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)

-- 2.1 Bring in Customer table
drop table if exists #CustTable
create table #CustTable (CINID int, Region varchar(50), Gender varchar(50), AgeCurrentBandText varchar(50))
insert into #CustTable
select cin.CINID, ct.Region, ct.Gender, ct.AgeCurrentBandText
from wh_nwg.derived.cinlist cin
inner join wh_nwg.derived.customer ct on ct.SourceUID=cin.CIN
WHERE ct.Region = 'East of England'
	OR ct.Region = 'London'
	OR ct.Region = 'South East'
	or ct.Region = 'South West'


IF OBJECT_ID('Sandbox.AnnetteM.RBS_Morrisons_LoW_SoW_Sains_20251120') IS NOT NULL DROP TABLE Sandbox.AnnetteM.RBS_Morrisons_LoW_SoW_Sains_20251120		-- 925,153 (06.01.2025), 888,662 (11.12.2024), 923,690 (28.10.2024)
SELECT	FanID, CINID																													
INTO	Sandbox.AnnetteM.RBS_Morrisons_LoW_SoW_Sains_20251120
FROM	#Trans_rbs
WHERE	BrandShopper = 1
		AND SoW <= 0.30					-- For Low SoW, use SoW <= 0.30 (for Medium SoW, then SoW > 0.30 AND SoW <= 0.60), (for High SoW, then SoW > 0.60)
		AND Sainsburys_customer = 1
		AND CINID IN (SELECT DISTINCT CINID FROM #CustTable)
GROUP BY FanID, CINID


	IF OBJECT_ID('[WH_NWG].[Selections].[MOR249_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[MOR249_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[MOR249_PreSelection]
	FROM #FB_rbs fb
	WHERE EXISTS (	SELECT 1
					FROM Sandbox.AnnetteM.RBS_Morrisons_LoW_SoW_Sains_20251120  st
					WHERE fb.CINID = st.CINID)

END
GO
