USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[GRG009_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Selections].[GRG009_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])

DROP TABLE IF EXISTS #CC_rbs
CREATE TABLE #CC_rbs (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	[Trans].[ConsumerCombination] CC
WHERE	CC.BrandID IN  (278,354,409,1076,101,75,407)		-- McDonald’s 278, Pret 354, Subway 409, KFC 1076, Costa 101, Caffe Nero 75 and Starbucks 407

DROP TABLE IF EXISTS #trans_rbs
SELECT  FanID, CT.CINID		,COUNT(*) as Transactions
INTO	#Trans_rbs
FROM	[Trans].[ConsumerTransaction] ct
JOIN	#CC_rbs cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= CAST(DATEADD(MONTH,-3,cast(GETDATE() as date)) AS DATE)
		AND amount > 0
GROUP BY FanID, CT.CINID
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs(FanID)

DROP TABLE IF EXISTS Sandbox.SandeshG.RBS_Greggs_2times_080524	-- 926,712
SELECT	FanID, CINID																													
INTO	 Sandbox.SandeshG.RBS_Greggs_2times_080524
FROM	#Trans_rbs
WHERE	Transactions >= 2

GROUP BY FanID, CINID

DROP TABLE IF EXISTS [Selections].[GRG009_PreSelection]
SELECT	[FanID]
INTO [Selections].[GRG009_PreSelection]
FROM #FB_rbs fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.SandeshG.RBS_Greggs_2times_080524 st
				WHERE fb.[CINID] = st.[CINID])

END
GO
