USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[TES006_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[TES006_PreSelection_sProc]
AS
BEGIN

DECLARE @ScoreMonth date = (SELECT MAX(ScoreMonth) FROM Warehouse.InsightArchive.NW_EngagementScoreHistory esh)
 
	DROP TABLE IF EXISTS Sandbox.brandonw.NW_TESCO_22_11

    SELECT 
    	cu.[FanID]
    	,cu.CompositeID
    	,cin.CINID
    	,cu.ClubID
    	,cu.ActivatedDate
    	,CASE WHEN s.CustomerSegment LIKE '%v%' 
    		THEN 'Premier' 
    		ELSE 'Core' END Segment
    	,esh.OngoingMerchantTrans
    	,esh.OngoingLogIns
    	,esh.EngagementScore
    	,ROW_NUMBER() OVER(ORDER BY  esh.OngoingMerchantTrans DESC, esh.OngoingLogIns DESC, esh.EngagementScore DESC) Engagement_Rank
    INTO Sandbox.brandonw.NW_TESCO_22_11
    FROM [Warehouse].[Relational].[Customer] cu
    LEFT JOIN Warehouse.InsightArchive.NW_EngagementScoreHistory esh
    	ON esh.ScoreMonth = @ScoreMonth
    	AND esh.FanID = cu.FanID
    LEFT JOIN Warehouse.Relational.CINList cin
    	ON cin.CIN = cu.SourceUID	
    JOIN Warehouse.[SmartEmail].[TriggerEmailDailyFile_Calculated] tedf
        ON cu.FanID = tedf.FanID
        AND (tedf.IsCredit = 1 OR tedf.IsDebit = 1)
    JOIN Warehouse.Relational.Customer_RBSGSegments s
    	ON s.FanID = cu.FanID
    	AND s.EndDate IS NULL
    	AND s.CustomerSegment NOT LIKE '%v%' -- Removing Non-Core Customers
    WHERE 1 = 1
    	AND cu.ClubID = 132 -- NatWest ClubID
    	AND cu.CurrentlyActive = 1
    	AND LEN(cu.PostCode) >= 3
    	AND NOT EXISTS (SELECT 1
                    FROM Warehouse.[Relational].[SmartFocusUnsubscribes] sfdun
                    WHERE cu.FanID = sfdun.FanID
                    AND sfdun.EndDate IS NULL)
     
    AND esh.OngoingMerchantTrans >= 1
    AND esh.OngoingLogIns >= 1
    AND CINID IS NOT NULL


	IF OBJECT_ID('[Selections].[TES006_PreSelection]') IS NOT NULL DROP TABLE [Selections].[TES006_PreSelection]
	SELECT FanID
	INTO [Selections].[TES006_PreSelection]
	FROM Sandbox.brandonw.NW_TESCO_22_11 fb


END
GO
