USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[YOU019_PreSelection_sProc]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Selections].[YOU019_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])


-- RBS ACQUIRE OFFERS
drop table IF EXISTS #OFFER_RESPONDERS_rbs
SELECT DISTINCT FanID
INTO #OFFER_RESPONDERS_rbs
FROM WH_AllPublishers.Derived.SchemeTrans
WHERE IronOfferID IN (30196,30197,30293,30296) 

DROP TABLE IF EXISTS Sandbox.SandeshG.RBS_YOURS_NURSERY
SELECT	CINID,O.FanID
INTO Sandbox.SandeshG.RBS_YOURS_NURSERY
from #OFFER_RESPONDERS_rbs O 
JOIN #FB_rbs B ON O.FanID = B.FanID

DROP TABLE IF EXISTS [Selections].[YOU019_PreSelection]
SELECT FanID
INTO [Selections].[YOU019_PreSelection]
FROM #FB_rbs fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.SandeshG.RBS_YOURS_NURSERY  st
				WHERE fb.CINID = st.CINID)

END
GO
