USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[BAN008_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[BAN008_PreSelection_sProc]
AS
BEGIN

--CREATE PROCEDURE insightarchive.grocerypack_loyalty_sp as
/*SELECT * FROM WH_AllPublishers.Trans.Brand 
where brandid in (1110)
WHERE	brandName LIKE '%lidl%' or
		brandName LIKE '%asda%' or
		brandName LIKE '%aldi%' or 
		brandName LIKE '%mo%' or 
		brandName LIKE '%costa%' or
		brandName LIKE '%blank street%' or
		brandName LIKE '%black sheep%' or
		brandName LIKE '%watch house%' or
		brandName LIKE '%Paul%' or
		brandName LIKE '%Ole%' or
		brandName LIKE '%Gails%' 

*/

--Loyalty----------------------------------------------------------------------------------------------------
DROP TABLE IF EXISTS #cc
CREATE TABLE #cc (consumercombinationid int not null primary key, brandid int, brandname varchar(50))
insert into #cc
select cc.consumercombinationid, cc.brandid, b.brandname
from WH_NWG.Trans.ConsumerCombination cc
inner join WH_AllPublishers.Trans.Brand b on cc.brandid=b.brandid
where cc.brandid in  (1110,915,133,218,19, 346, 437, 11)	

 --sectorid in (41)
-------------------------------------------------------------------------------------------------------------
--select MAX(trandate) from WH_NWG.Trans.ConsumerTransaction ct
--select count(distinct CINID) 
--from WH_NWG.Trans.ConsumerTransaction cc
--where year(trandate) = 2024 and month(trandate) = 12 

set transaction isolation level read uncommitted
declare @SoWstartdate date =  dateadd(day, 1, dateadd(month, -9, (getdate())))
declare @startdate date =  dateadd(day, 1, dateadd(month, -6, (getdate())))
declare @enddate date = dateadd(day, -10, getdate())
declare @brandid as INT = 1110

DROP TABLE IF EXISTS #temp_ttl
select ct.cinid, count(*) as ttltransactions, sum(ct.amount) as ttlspend,  DATEDIFF(day, MAX(trandate),dateadd(day, -10, getdate())) Recency
into #temp_ttl
from WH_NWG.Trans.ConsumerTransaction ct
inner join #cc cc on ct.consumercombinationid=cc.consumercombinationid
where ct.trandate between @startdate and @enddate
and ct.amount>0
group by ct.cinid


DROP TABLE IF EXISTS #temp_brand
select ct.cinid, cc.brandname, count(*) as brand_transactions, sum(ct.amount) as brand_spend,
sum(ct.amount)/sum(sum(ct.amount)) over (partition by ct.cinid) as percentage_of_spend, DATEDIFF(day, MAX(trandate),dateadd(day, -10, getdate())) brand_Recency, brandid
into #temp_brand
from WH_NWG.Trans.ConsumerTransaction ct
inner join #cc cc on ct.consumercombinationid=cc.consumercombinationid
where ct.trandate between @startdate and @enddate
and ct.amount>0
group by ct.cinid, cc.brandname, brandid

DROP TABLE IF EXISTS #temp_brand_pre
select ct.cinid, cc.brandname, count(*) as brand_transactions_pre, sum(ct.amount) as brand_spend_pre,
sum(ct.amount)/sum(sum(ct.amount)) over (partition by ct.cinid) as percentage_of_spend, brandid
into #temp_brand_pre
from WH_NWG.Trans.ConsumerTransaction ct
inner join #cc cc on ct.consumercombinationid=cc.consumercombinationid
where ct.trandate between @SoWstartdate and @startdate
and ct.amount>0
group by ct.cinid, cc.brandname, brandid

DROP TABLE IF EXISTS #temp_recency
select ct.cinid, cc.brandname, brandid, ct.trandate ,
LAG(trandate) OVER (PARTITION BY ct.cinid ORDER BY trandate) AS prev_transaction
into #temp_recency
from WH_NWG.Trans.ConsumerTransaction ct
inner join #cc cc on ct.consumercombinationid=cc.consumercombinationid
where ct.trandate between @startdate and @enddate
and ct.amount>0
group by ct.cinid, cc.brandname, brandid, ct.trandate 

drop table if exists #SoW
select cinid, percentage_of_spend*100 Sow
into #SoW
from #temp_brand t
where brandid = @brandid
group by cinid, percentage_of_spend

drop table if exists #SoW_pre
select cinid, percentage_of_spend*100 Sow_pre
into #SoW_pre
from #temp_brand_pre t
where brandid = @brandid
group by cinid, percentage_of_spend

DROP TABLE IF EXISTS #temp_mainbrand
select cinid, brand_Recency, brand_transactions,percentage_of_spend, brand_spend
into #temp_mainbrand
from #temp_brand
where brandid = @brandid
group by cinid, brand_Recency, brand_transactions,percentage_of_spend, brand_spend

DROP TABLE IF EXISTS #temp_mainbrand_pre
select cinid, brand_transactions_pre, brand_spend_pre
into #temp_mainbrand_pre
from #temp_brand_pre
where brandid = @brandid
group by cinid, brand_transactions_pre, brand_spend_pre
-----------------------------------------------------------------------------------------------------------------------------------------
drop table if exists #SoW_YoY
select a.CINID, 
case when Sow_pre - Sow <= 0.1 then 'lapsing' else 'gaining' end as lapsed_group
into #SoW_YoY
from #SOW a
join #SoW_pre b on a.CINID = b.CINID
group by 
 a.CINID, 
case when Sow_pre - Sow <= 0.1 then 'lapsing' else 'gaining' end 

DROP TABLE IF EXISTS #temp_ttl_2
select ct.CINID, ttltransactions, ttlspend,Recency, lapsed_group
into #temp_ttl_2
from #temp_ttl ct
Left join #SoW_YoY YoY on ct.CINID = YoY.CINID 
join #temp_brand brand on brand.CINID = ct.cinid 
where brandid = @brandid
group by ct.CINID, ttltransactions, ttlspend,Recency,  brand_recency, lapsed_group

-------------------------------------------------------------------------------------------------------------------------------------
--- Total Spend
drop table if exists #TTLSpend_tier
select top 1* 
into #TTLSpend_tier
from 
(select 
  percentile_disc(0.75) within group(order by ttlspend) over () as VIP_Spend,
  percentile_disc(0.60) within group(order by ttlspend) over () as Potential_Spend,
  percentile_disc(0.40) within group(order by ttlspend) over () as Core_Spend,
  percentile_disc(0.20) within group(order by ttlspend) over () as Low_Spend
from #temp_ttl)a

--- Transaction Frequency
drop table if exists #Transaction_tier
select top 1* 
into #Transaction_tier
from 
(select 
  percentile_disc(0.80) within group(order by brand_transactions) over () as VIP_Brand_trx,
  percentile_disc(0.60) within group(order by brand_transactions) over () as Potential_Brand_trx,
  percentile_disc(0.40) within group(order by brand_transactions) over () as Core_Brand_trx,
  percentile_disc(0.20) within group(order by brand_transactions) over () as Low_Brand_trx
from #temp_brand)a

-- SOW
drop table if exists #SoW_tier
select top 1* 
into #SoW_tier
from 
(select 
  percentile_disc(0.80) within group(order by sow) over () as VIP_SOW,
  percentile_disc(0.60) within group(order by sow) over () as Potential_SOW,
  percentile_disc(0.40) within group(order by sow) over () as Core_SOW,
  percentile_disc(0.20) within group(order by sow) over () as Low_SOW
from #SOW)a

--Recency
drop table if exists #SoW_recency
select top 1* 
into #SoW_recency
from 
(select 
  percentile_disc(0.20) within group(order by DATEDIFF(day, prev_transaction, trandate)) over () as VIP_Freq,
  percentile_disc(0.40) within group(order by DATEDIFF(day, prev_transaction, trandate)) over () as Potential_Freq,
  percentile_disc(0.60) within group(order by DATEDIFF(day, prev_transaction, trandate)) over () as Core_Freq,
  percentile_disc(0.80) within group(order by DATEDIFF(day, prev_transaction, trandate)) over () as Low_Freq
from #temp_recency)a


-------------------------------------------------------------------------------------------------------------
-- declare
declare @vip_spend numeric(12,8) = (select vip_spend from #TTLSpend_tier)
declare @Potential_Spend numeric(12,8) = (select Potential_Spend from #TTLSpend_tier)
declare @Core_Spend numeric(12,8) = (select Core_Spend from #TTLSpend_tier)
declare @Low_Spend numeric(12,8) = (select Low_Spend from #TTLSpend_tier)

declare @VIP_Freq numeric(12,8) = (select VIP_Freq from #SoW_recency)
declare @Potential_Freq numeric(12,8) = (select Potential_Freq from #SoW_recency)
declare @Core_Freq numeric(12,8) = (select Core_Freq from #SoW_recency)
declare @Low_Freq numeric(12,8) = (select Low_Freq from #SoW_recency)

declare @VIP_SOW numeric(12,8) = (select VIP_SOW/100 from #SoW_tier)
declare @Potential_SOW numeric(12,8) = (select Potential_SOW/100 from #SoW_tier)
declare @Core_SOW numeric(12,8) = (select Core_SOW/100 from #SoW_tier)
declare @Low_SOW numeric(12,8) = (select Low_SOW/100 from #SoW_tier)

declare @VIP_Brand_trx numeric(12,8) = (select VIP_Brand_trx from #Transaction_tier)
declare @Potential_Brand_trx numeric(12,8) = (select Potential_Brand_trx from #Transaction_tier)
declare @Core_Brand_trx numeric(12,8) = (select Core_Brand_trx from #Transaction_tier)
declare @Low_Brand_trx numeric(12,8) = (select Low_Brand_trx from #Transaction_tier)

drop table if exists [Sandbox].[CaraC].[b&M_shopperSegment_271125_rbs]
Select #temp_ttl_2.CINID, 
case  
	 when ttlspend >= @vip_spend and percentage_of_spend>= @VIP_SOW then 'Champion' 
	 when ttlspend >= @vip_spend and percentage_of_spend< @VIP_SOW then 'Premium' --and  brand_transactions >= @Core_Brand_trx then 'Premium'
	 when ttlspend between @Potential_Spend and @vip_spend and percentage_of_spend between @Potential_SOW and @VIP_SOW and brand_transactions >= @Core_Brand_trx then 'Premium'
	 when ttlspend >= @Core_Spend and lapsed_group in ('lapsing') then 'lapsing'
	 when ttlspend >= @Core_Spend and lapsed_group not in ('lapsing') then 'Loyalty builder'
	 else 'Occasional' end segment
into [Sandbox].[CaraC].[b&M_shopperSegment_271125_rbs]
from #temp_ttl_2
join #temp_mainbrand on #temp_ttl_2.CINID = #temp_mainbrand.CINID
--where brand_transactions >12
group by 
#temp_ttl_2.CINID, 
case 
	-- when brand_transactions between 48 and 72  then 'Champion Freq'
	 when ttlspend >= @vip_spend and percentage_of_spend>= @VIP_SOW then 'Champion' 
	 when ttlspend >= @vip_spend and percentage_of_spend< @VIP_SOW then 'Premium' --and  brand_transactions >= @Core_Brand_trx then 'Premium'
	 when ttlspend between @Potential_Spend and @vip_spend and percentage_of_spend between @Potential_SOW and @VIP_SOW and brand_transactions >= @Core_Brand_trx then 'Premium'
	 when ttlspend >= @Core_Spend and lapsed_group in ('lapsing') then 'lapsing'
	 when ttlspend >= @Core_Spend and lapsed_group not in ('lapsing') then 'Loyalty builder'
	 else 'Occasional' end


--select a.CINID, FANID from [Sandbox].[CaraC].[b&M_shopperSegment_271125_rbs] a
--					JOIN	WH_NWG.Derived.CINList CL on CL.CINID = a.cinid
--					join 	WH_NWG.Derived.Customer C ON CL.CIN = C.SourceUID
--		where segment in ('Premium')


--select a.CINID, FANID from [Sandbox].[CaraC].[b&M_shopperSegment_271125_rbs] a
--					JOIN	WH_NWG.Derived.CINList CL on CL.CINID = a.cinid
--					join 	WH_NWG.Derived.Customer C ON CL.CIN = C.SourceUID
--		where segment in ('Loyalty builder')

--select a.CINID, FANID from [Sandbox].[CaraC].[b&M_shopperSegment_271125_rbs] a
--					JOIN	WH_NWG.Derived.CINList CL on CL.CINID = a.cinid
--					join 	WH_NWG.Derived.Customer C ON CL.CIN = C.SourceUID
--		where segment in ('lapsing')

/*
	 select count (distinct cinid), segment from [Sandbox].[CaraC].[b&M_shopperSegment_271125_rbs] group by segment
	 select * from #SoW_recency
	 select * from #SoW_tier
	 select * from #TTLSpend_tier
	 select * from #Transaction_tier
	 

	 select COUNT(distinct m.cinid) customers, sum (brand_transactions) no_transactions, avg(percentage_of_spend)SoW, sum(brand_spend)spendwithyou, segment
	 from #temp_mainbrand m
	 join [Sandbox].[CaraC].[iceland_shopperSegment_020925_rbs]  s on m.CINID = s.cinid
	 group by segment

	  select COUNT(distinct m.cinid) customers, sum (ttltransactions) no_transactions, sum(ttlspend)ttl_spend, segment
	 from #temp_ttl m
	 join [Sandbox].[CaraC].[iceland_shopperSegment_020925_rbs]  s on m.CINID = s.cinid
	 group by segment
	 

*/

	IF OBJECT_ID('[WH_NWG].[Selections].[BAN008_PreSelection]') IS NOT NULL DROP TABLE [WH_NWG].[Selections].[BAN008_PreSelection]
	SELECT FanID
	INTO [WH_NWG].[Selections].[BAN008_PreSelection]
	from [Sandbox].[CaraC].[b&M_shopperSegment_271125_rbs] a
					JOIN	WH_NWG.Derived.CINList CL on CL.CINID = a.cinid
					join 	WH_NWG.Derived.Customer C ON CL.CIN = C.SourceUID
		where segment in ('Loyalty builder')

END
GO
