USE [WH_NWG]
GO
/****** Object:  StoredProcedure [Selections].[GRG011_PreSelection_sProc]    Script Date: 8/25/2026 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Selections].[GRG011_PreSelection_sProc]
AS
BEGIN

DROP TABLE IF EXISTS #FB_rbs
CREATE TABLE #FB_rbs (CINID int not null primary key, FanID int)
INSERT INTO #FB_rbs
SELECT	CINID, FanID
FROM	[Derived].[Customer] C
JOIN	[Derived].[CINList] CL ON CL.CIN = C.SourceUID
WHERE	C.CurrentlyActive = 1
AND NOT EXISTS (SELECT 1
				FROM [Derived].[Customer_DuplicateSourceUID] ds
				WHERE c.[SourceUID] = ds.[SourceUID])




IF OBJECT_ID('tempdb..#CC_rbs_mc') IS NOT NULL DROP TABLE #CC_rbs_mc
CREATE TABLE #CC_rbs_mc (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs_mc
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	Trans.ConsumerCombination CC
WHERE	CC.BrandID IN  (278)		-- McDonald’s 278, KFC 1076, Costa 101

IF OBJECT_ID('tempdb..#trans_rbs_mc') IS NOT NULL DROP TABLE #trans_rbs_mc
SELECT  FanID, CT.CINID		,COUNT(*) as Transactions
INTO	#trans_rbs_mc
FROM	Trans.ConsumerTransaction ct
JOIN	#CC_rbs_mc cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= CAST(DATEADD(MONTH,-3,cast(GETDATE() as date)) AS DATE)
		AND amount > 0
GROUP BY FanID, CT.CINID
HAVING COUNT(*) >= 3
CREATE CLUSTERED INDEX ix_CINID on #trans_rbs_mc(FanID)

--------------------------------------------------

IF OBJECT_ID('tempdb..#CC_rbs_kfc') IS NOT NULL DROP TABLE #CC_rbs_kfc
CREATE TABLE #CC_rbs_kfc (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs_kfc
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	Trans.ConsumerCombination CC
WHERE	CC.BrandID IN  (1076)		-- KFC 1076

IF OBJECT_ID('tempdb..#Trans_rbs_kfc') IS NOT NULL DROP TABLE #Trans_rbs_kfc
SELECT  FanID, CT.CINID		,COUNT(*) as Transactions
INTO	#Trans_rbs_kfc
FROM	Trans.ConsumerTransaction ct
JOIN	#CC_rbs_kfc cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= CAST(DATEADD(MONTH,-3,cast(GETDATE() as date)) AS DATE)
		AND amount > 0
GROUP BY FanID, CT.CINID
HAVING COUNT(*) >= 2
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs_kfc(FanID)


--------------------------------------------------

IF OBJECT_ID('tempdb..#CC_rbs_costa') IS NOT NULL DROP TABLE #CC_rbs_costa
CREATE TABLE #CC_rbs_costa (BrandID int, ConsumerCombinationID int not null primary key)
INSERT INTO #CC_rbs_costa
SELECT	CC.BrandID		,ConsumerCombinationID
FROM	Trans.ConsumerCombination CC
WHERE	CC.BrandID IN  (101)		-- Costa 101

IF OBJECT_ID('tempdb..#Trans_rbs_costa') IS NOT NULL DROP TABLE #Trans_rbs_costa
SELECT  FanID, CT.CINID		,COUNT(*) as Transactions
INTO	#Trans_rbs_costa
FROM	Trans.ConsumerTransaction ct
JOIN	#CC_rbs_costa cc on ct.ConsumerCombinationID = cc.ConsumerCombinationID
JOIN	#FB_rbs fb 	on ct.CINID = fb.CINID
WHERE	TranDate >= CAST(DATEADD(MONTH,-3,cast(GETDATE() as date)) AS DATE)
		AND amount > 0
GROUP BY FanID, CT.CINID
HAVING COUNT(*) >= 2
CREATE CLUSTERED INDEX ix_CINID on #Trans_rbs_costa(FanID)
--------------------------------------------------

IF OBJECT_ID('Sandbox.SandeshG.RBS_Greggs_CompSteal_Mcdonalds_20240807') IS NOT NULL DROP TABLE Sandbox.SandeshG.RBS_Greggs_CompSteal_Mcdonalds_20240807	-- 719,389 (07.08.2024)
SELECT	FanID, CINID																													
INTO	 Sandbox.SandeshG.RBS_Greggs_CompSteal_Mcdonalds_20240807
FROM	(  
select FanID, CINID from #Trans_rbs_MC
UNION
SELECT FanID, CINID FROM #Trans_rbs_KFC
UNION
SELECT FanID, CINID FROM #Trans_rbs_COSTA) A



DROP TABLE IF EXISTS [Selections].[GRG011_PreSelection]
SELECT	[FanID]
INTO [Selections].[GRG011_PreSelection]
FROM #FB_rbs fb
WHERE EXISTS (	SELECT 1
				FROM Sandbox.SandeshG.RBS_Greggs_CompSteal_Mcdonalds_20240807 st
				WHERE fb.[CINID] = st.[CINID])

END
GO
