USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Events_Lookups_Update]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_Events_Lookups_Update]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Populate the lookup tables used in the output table
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				1.1.	[BrazeExports_Canvas]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_Canvas] ([CanvasGUID]
																		,	[CanvasName])
				SELECT	DISTINCT
						[CanvasGUID] = bc.[canvas_id]
					,	[CanvasName] = bc.[canvas_name]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[canvas_id] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_Canvas] dt
								WHERE bc.[canvas_id] = dt.[CanvasGUID])
				ORDER BY	1

			/*******************************************************************************************************************************************
				1.2.	[BrazeExports_CanvasVariation]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_CanvasVariation] (	[CanvasGUID]
																					,	[CanvasName]
																					,	[CanvasVariationGUID]
																					,	[CanvasVariationName])
				SELECT	DISTINCT
						[CanvasGUID] = bc.[canvas_id]
					,	[CanvasName] = bc.[canvas_name]
					,	[CanvasVariationGUID] = bc.[canvas_variation_id]
					,	[CanvasVariationName] = bc.[canvas_variation_name]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[canvas_id] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_CanvasVariation] dt
								WHERE bc.[canvas_id] = dt.[CanvasGUID]
								AND bc.[canvas_variation_id] = dt.[CanvasVariationGUID])
				ORDER BY	1

			/*******************************************************************************************************************************************
				1.3.	[BrazeExports_CanvasSteps]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_CanvasSteps] (	[CanvasGUID]
																				,	[CanvasName]
																				,	[CanvasVariationGUID]
																				,	[CanvasVariationName]
																			
																				,	[CanvasStepGUID]
																				,	[CanvasStepName]
																				,	[ProgressionType]
																				,	[NextCanvasStepGUID])
				SELECT	DISTINCT
						[CanvasGUID] = bc.[canvas_id]
					,	[CanvasName] = bc.[canvas_name]
					,	[CanvasVariationGUID] = bc.[canvas_variation_id]
					,	[CanvasVariationName] = bc.[canvas_variation_name]

					,	[CanvasStepGUID] = bc.[canvas_step_id]
					,	[CanvasStepName] = bc.[canvas_step_name]
					,	[ProgressionType] = bc.[progression_type]
					,	[NextCanvasStepGUID] = bc.[next_step_id]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[canvas_step_id] IS NOT NULL
				AND bc.[progression_type] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_CanvasSteps] ds
								WHERE bc.[canvas_id] = ds.[CanvasGUID]
								AND bc.[canvas_variation_id] = ds.[CanvasVariationGUID]
								AND bc.[canvas_step_id] = ds.[CanvasStepGUID]
								AND bc.[progression_type] = ds.[ProgressionType]
								AND bc.[next_step_id] = ds.[NextCanvasStepGUID])
				ORDER BY	1
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_CanvasSteps] (	[CanvasGUID]
																				,	[CanvasName]
																				,	[CanvasVariationGUID]
																				,	[CanvasVariationName]
																			
																				,	[CanvasStepGUID]
																				,	[CanvasStepName]
																				,	[ProgressionType]
																				,	[NextCanvasStepGUID])
				SELECT	DISTINCT
						[CanvasGUID] = bc.[canvas_id]
					,	[CanvasName] = bc.[canvas_name]
					,	[CanvasVariationGUID] = bc.[canvas_variation_id]
					,	[CanvasVariationName] = bc.[canvas_variation_name]

					,	[CanvasStepGUID] = bc.[canvas_step_id]
					,	[CanvasStepName] = bc.[canvas_step_name]
					,	[ProgressionType] = bc.[progression_type]
					,	[NextCanvasStepGUID] = bc.[next_step_id]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[canvas_step_id] IS NOT NULL
				AND bc.[progression_type] IS NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_CanvasSteps] ds
								WHERE bc.[canvas_id] = ds.[CanvasGUID]
								AND bc.[canvas_variation_id] = ds.[CanvasVariationGUID]
								AND bc.[canvas_step_id] = ds.[CanvasStepGUID])
				ORDER BY	1
				
				UPDATE cs
				SET cs.[NextCanvasStepName] = csn.[CanvasStepName]
				FROM [WH_AllPublishers].[CRM].[BrazeExports_CanvasSteps] cs
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_CanvasSteps] csn
					ON cs.[CanvasGUID] = csn.[CanvasGUID]
					AND cs.[CanvasVariationGUID] = csn.[CanvasVariationGUID]
					AND cs.[NextCanvasStepGUID] = csn.[CanvasStepGUID]
				WHERE cs.[NextCanvasStepName] IS NULL

			/*******************************************************************************************************************************************
				1.4.	[BrazeExports_Conversion]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_Conversion] ([Behaviour]
																			,	[Window_Seconds]
																			,	[Type]
																			,	[Event])
				SELECT	DISTINCT
						[Behaviour] = bc.[conversion_behavior]
					,	[Window_Seconds] = JSON_VALUE(bc.[conversion_behavior], '$.window')
					,	[Type] = JSON_VALUE(bc.[conversion_behavior], '$.type')
					,	[Event] = JSON_VALUE(bc.[conversion_behavior], '$.custom_event_name')
				FROM [Inbound].[Braze_Currents] bc
				INNER JOIN [Inbound].[S3FileNames_Braze] fn
					ON bc.[FileID] = fn.[FileID]
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventChannels] ec
					ON fn.[EventChannelID] = ec.[EventChannelID]
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventTypes] et
					ON fn.[EventTypeID] = et.[EventTypeID]
				WHERE bc.[conversion_behavior] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_Conversion] con
								WHERE bc.[conversion_behavior] = con.[Behaviour])
				ORDER BY	bc.[conversion_behavior]

			/*******************************************************************************************************************************************
				1.5.	[BrazeExports_Campaigns]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_Campaigns] (	[CampaignGUID]
																			,	[CampaignName])
				SELECT	[CampaignGUID] = CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id])
					,	[CampaignName] = MAX(bc.[campaign_name])
				FROM [Inbound].[Braze_Currents] bc
				INNER JOIN [Inbound].[S3FileNames_Braze] fn
					ON bc.[FileID] = fn.[FileID]
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventChannels] ec
					ON fn.[EventChannelID] = ec.[EventChannelID]
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventTypes] et
					ON fn.[EventTypeID] = et.[EventTypeID]
				WHERE bc.[campaign_id] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_Campaigns] c
								WHERE CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id]) = c.[CampaignGUID])
				GROUP BY	CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id])

			/*******************************************************************************************************************************************
				1.6.	[BrazeExports_MessageVariation]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_MessageVariation] (	[CampaignGUID]
																					,	[CampaignName]
																					,	[MessageVariationGUID]
																					,	[MessageVariationName])
				SELECT	[CampaignGUID] = CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id])
					,	[CampaignName] = MAX(bc.[campaign_name])
					,	[MessageVariationGUID] = CONVERT(UNIQUEIDENTIFIER, bc.[message_variation_id])
					,	[MessageVariationName] = MAX(bc.[message_variation_name])
				FROM [Inbound].[Braze_Currents] bc
				INNER JOIN [Inbound].[S3FileNames_Braze] fn
					ON bc.[FileID] = fn.[FileID]
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventChannels] ec
					ON fn.[EventChannelID] = ec.[EventChannelID]
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventTypes] et
					ON fn.[EventTypeID] = et.[EventTypeID]
				WHERE bc.[message_variation_id] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_MessageVariation] mv
								WHERE CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id]) = mv.[CampaignGUID]
								AND CONVERT(UNIQUEIDENTIFIER, bc.[message_variation_id]) = mv.[MessageVariationGUID])
				GROUP BY	CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id])
						,	CONVERT(UNIQUEIDENTIFIER, bc.[message_variation_id])
						
			/*******************************************************************************************************************************************
				1.7.	[BrazeExports_StateChangeSource]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_StateChangeSource]
				SELECT	DISTINCT
						[StateChangeSource] = bc.[state_change_source]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[state_change_source] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_StateChangeSource] dt
								WHERE bc.[state_change_source] = dt.[StateChangeSource])
				ORDER BY	1

			/*******************************************************************************************************************************************
				1.8.	[BrazeExports_SubscriptionStatus]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_SubscriptionStatus]
				SELECT	DISTINCT
						[SubscriptionStatus] = bc.[subscription_status]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[subscription_status] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_SubscriptionStatus] dt
								WHERE bc.[subscription_status] = dt.[SubscriptionStatus])
				ORDER BY	1

			/*******************************************************************************************************************************************
				1.9.	[BrazeExports_Channel]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_Channel]
				SELECT	DISTINCT
						[Channel] = bc.[channel]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[channel] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_Channel] dt
								WHERE bc.[channel] = dt.[Channel])
				ORDER BY	1

			/*******************************************************************************************************************************************
				1.10.	[BrazeExports_Links]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_Links] (	[CampaignGUID]
																		,	[CampaignName]
																		,	[MessageVariationGUID]
																		,	[MessageVariationName]
																		,	[CanvasGUID]
																		,	[CanvasName]
																		,	[LinkReference]
																		,	[LinkAlias]
																		,	[LinkURL])
				SELECT	DISTINCT
						[CampaignGUID] = CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id])
					,	[CampaignName] = bc.[campaign_name]
					,	[MessageVariationGUID] = CONVERT(UNIQUEIDENTIFIER, bc.[message_variation_id])
					,	[MessageVariationName] = bc.[message_variation_name]
					,	[CanvasGUID] = bc.[canvas_id]
					,	[CanvasName] = bc.[canvas_name]
					,	[LinkReference] = bc.[link_id]
					,	[LinkAlias] = bc.[link_alias]
					,	[LinkURL] = bc.[url]
				FROM [Inbound].[Braze_Currents] bc
				INNER JOIN [Inbound].[S3FileNames_Braze] fn
					ON bc.[FileID] = fn.[FileID]
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventChannels] ec
					ON fn.[EventChannelID] = ec.[EventChannelID]
				INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventTypes] et
					ON fn.[EventTypeID] = et.[EventTypeID]
				WHERE bc.[link_id] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_Links] lin
								WHERE CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id]) = lin.[CampaignGUID]
								AND CONVERT(UNIQUEIDENTIFIER, bc.[message_variation_id]) = lin.[MessageVariationGUID]
								AND bc.[link_id] = lin.[LinkReference]
								AND bc.[link_alias] = lin.[LinkAlias]
								AND bc.[url] = lin.[LinkURL])
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_Links] lin
								WHERE CONVERT(UNIQUEIDENTIFIER, bc.[canvas_id]) = lin.[CanvasGUID]
								AND bc.[link_id] = lin.[LinkReference]
								AND bc.[link_alias] = lin.[LinkAlias]
								AND bc.[url] = lin.[LinkURL])
				ORDER BY	bc.[campaign_name]
						,	CONVERT(UNIQUEIDENTIFIER, bc.[campaign_id])

			/*******************************************************************************************************************************************
				1.11.	[BrazeExports_BounceReason]
			*******************************************************************************************************************************************/

				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_BounceReason]
				SELECT	DISTINCT
						[BounceReason] = bc.[bounce_reason]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[bounce_reason] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_BounceReason] ua
								WHERE bc.[bounce_reason] = ua.[BounceReason])
				ORDER BY	bc.[bounce_reason]

			/*******************************************************************************************************************************************
				1.12.	[BrazeExports_DeferralReason]
			*******************************************************************************************************************************************/
			
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_DeferralReason]
				SELECT	DISTINCT
						[DeferralReason] = bc.[deferral_reason]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[deferral_reason] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_DeferralReason] ua
								WHERE bc.[deferral_reason] = ua.[DeferralReason])
				ORDER BY	bc.[deferral_reason]

			/*******************************************************************************************************************************************
				1.13.	[BrazeExports_BotClickReason]
			*******************************************************************************************************************************************/
			
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_BotClickReason]
				SELECT	DISTINCT
						[BotClickReason] = bc.[suspected_bot_click_reason]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[suspected_bot_click_reason] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_BotClickReason] ua
								WHERE bc.[suspected_bot_click_reason] = ua.[BotClickReason])
				ORDER BY	bc.[suspected_bot_click_reason]

			/*******************************************************************************************************************************************
				1.14.	[BrazeExports_UserAgents]
			*******************************************************************************************************************************************/
			
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_UserAgents]
				SELECT	DISTINCT
						[UserAgent] = bc.[user_agent]
					,	[DeviceOS] = bc.[device_os]
					,	[DeviceClass] = bc.[device_class]
					,	[Browser] = bc.[browser]
					,	[MachineOpen] =	CASE
											WHEN bc.[machine_open] = 'true' THEN 1
											ELSE 0
										END
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[user_agent] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_UserAgents] ua
								WHERE bc.[user_agent] = ua.[UserAgent])
				ORDER BY	bc.[user_agent]

			/*******************************************************************************************************************************************
				1.15.	[BrazeExports_MessageExtras]
			*******************************************************************************************************************************************/
		
				INSERT INTO [WH_AllPublishers].[CRM].[BrazeExports_MessageExtras] (	[MessageExtras])
				SELECT	DISTINCT
						[MessageExtras] = bc.[message_extras]
				FROM [Inbound].[Braze_Currents] bc
				WHERE bc.[message_extras] IS NOT NULL
				AND NOT EXISTS (SELECT 1
								FROM [WH_AllPublishers].[CRM].[BrazeExports_MessageExtras] ds
								WHERE bc.[message_extras] = ds.[MessageExtras])
				ORDER BY	1

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
