USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_OfferCollateral]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[PartnersOffers_OfferCollateral]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
	
		/*******************************************************************************************************************************************
			1.	Store temp table containing the latest OfferCollateral
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #OfferCollateral
			SELECT	oc.[OfferCollateralID]
				,	oc.[Payload]
				,	js.[OfferGUID]
				,	js.[LanguageCode]
				,	js.[Publisher]
				,	js.[OfferType]
				,	js.[RetailerID]
				,	js.[RetailerName]
				,	js.[OfferTitle]
				,	js.[OfferDescription]
				,	js.[OfferMarketingRate]
				,	js.[StartDate]
				,	js.[EndDate]
				,	js.[RetailerURL]
				,	js.[RetailerURL_Text]
				,	js.[OfferImageURL]
				,	js.[OfferImageURL_Hero]
				,	js.[OfferImageURL_Logo]
				,	[CreatedDate] = TRY_CONVERT(DATETIME, TRY_CONVERT(DATETIMEOFFSET, js.[CreatedDate]))
				,	[ModifiedDate] = TRY_CONVERT(DATETIME, TRY_CONVERT(DATETIMEOFFSET, js.[ModifiedDate]))
			INTO #OfferCollateral
			FROM [WHB].[Inbound_OfferCollateral] oc
			CROSS APPLY OPENJSON(oc.[Payload]) WITH (	[OfferGUID] UNIQUEIDENTIFIER '$.offer_id'
													,	[LanguageCode] VARCHAR(4) '$.language_code'
													,	[Publisher] VARCHAR(50) '$.publisher'
													,	[OfferType] VARCHAR(5) '$.offer_type'
													,	[RetailerID] UNIQUEIDENTIFIER '$.retailer_id'
													,	[RetailerName] NVARCHAR(50) '$.retailer_name'
													,	[OfferTitle] VARCHAR(255) '$.offer_title'
													,	[OfferDescription] VARCHAR(255) '$.offer_description'
													,	[OfferMarketingRate] VARCHAR(255) '$.offer_marketing_rate'
													,	[StartDate] VARCHAR(255) '$.start_date'
													,	[EndDate] VARCHAR(255) '$.end_date'
													,	[RetailerURL] VARCHAR(255) '$.retailer_url'
													,	[RetailerURL_Text] VARCHAR(255) '$.retailer_url_text'
													,	[OfferImageURL] VARCHAR(255) '$.offer_image_url'
													,	[OfferImageURL_Hero] VARCHAR(255) '$.offer_hero_image_url'
													,	[OfferImageURL_Logo] VARCHAR(255) '$.offer_logo_image_url'
													,	[CreatedDate] VARCHAR(255) '$.created_on'
													,	[ModifiedDate] VARCHAR(255) '$.modified') js
			WHERE ISJSON(oc.[Payload]) = 1
			ORDER BY	oc.[FileName]

		/*******************************************************************************************************************************************
			2.	Merge the latest data with the final table, updating newly modified data or inserting new data
		*******************************************************************************************************************************************/
		
			MERGE [WH_AllPublishers].[Derived].[OfferCollateral] AS TGT
			USING #OfferCollateral SRC
			   ON TGT.[OfferCollateralID] = SRC.[OfferCollateralID]

			WHEN MATCHED
				AND TGT.[ModifiedDate] < SRC.[ModifiedDate]
				OR TGT.[ModifiedDate] IS NULL
			THEN UPDATE SET
				  TGT.[Payload]				= SRC.[Payload]
				, TGT.[OfferGUID]			= SRC.[OfferGUID]
				, TGT.[LanguageCode]		= SRC.[LanguageCode]
				, TGT.[Publisher]			= SRC.[Publisher]
				, TGT.[OfferType]			= SRC.[OfferType]
				, TGT.[RetailerID]			= SRC.[RetailerID]
				, TGT.[RetailerName]		= SRC.[RetailerName]
				, TGT.[OfferTitle]			= SRC.[OfferTitle]
				, TGT.[OfferDescription]	= SRC.[OfferDescription]
				, TGT.[OfferMarketingRate]	= SRC.[OfferMarketingRate]
				, TGT.[StartDate]			= SRC.[StartDate]
				, TGT.[EndDate]				= SRC.[EndDate]
				, TGT.[RetailerURL]			= SRC.[RetailerURL]
				, TGT.[RetailerURL_Text]	= SRC.[RetailerURL_Text]
				, TGT.[OfferImageURL]		= SRC.[OfferImageURL]
				, TGT.[OfferImageURL_Hero]	= SRC.[OfferImageURL_Hero]
				, TGT.[OfferImageURL_Logo]	= SRC.[OfferImageURL_Logo]
				, TGT.[CreatedDate]			= SRC.[CreatedDate]
				, TGT.[ModifiedDate]		= SRC.[ModifiedDate]

			WHEN NOT MATCHED BY TARGET
			THEN INSERT (	[OfferCollateralID]
						,	[Payload]
						,	[OfferGUID]
						,	[LanguageCode]
						,	[Publisher]
						,	[OfferType]
						,	[RetailerID]
						,	[RetailerName]
						,	[OfferTitle]
						,	[OfferDescription]
						,	[OfferMarketingRate]
						,	[StartDate]
						,	[EndDate]
						,	[RetailerURL]
						,	[RetailerURL_Text]
						,	[OfferImageURL]
						,	[OfferImageURL_Hero]
						,	[OfferImageURL_Logo]
						,	[CreatedDate]
						,	[ModifiedDate])
			VALUES (SRC.[OfferCollateralID]
				,	SRC.[Payload]
				,	SRC.[OfferGUID]
				,	SRC.[LanguageCode]
				,	SRC.[Publisher]
				,	SRC.[OfferType]
				,	SRC.[RetailerID]
				,	SRC.[RetailerName]
				,	SRC.[OfferTitle]
				,	SRC.[OfferDescription]
				,	SRC.[OfferMarketingRate]
				,	SRC.[StartDate]
				,	SRC.[EndDate]
				,	SRC.[RetailerURL]
				,	SRC.[RetailerURL_Text]
				,	SRC.[OfferImageURL]
				,	SRC.[OfferImageURL_Hero]
				,	SRC.[OfferImageURL_Logo]
				,	SRC.[CreatedDate]
				,	SRC.[ModifiedDate]);

		/*******************************************************************************************************************************************
			3.	Load data where the payload isn't conforming to satndard json and therefore cannot be extracted
		*******************************************************************************************************************************************/

			INSERT INTO [WH_AllPublishers].[Derived].[OfferCollateral] ([OfferCollateralID]
																	,	[Payload])
			SELECT	[OfferCollateralID]
				,	[Payload]
			FROM [WHB].[Inbound_OfferCollateral] oc
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Derived].[OfferCollateral] oc2
								WHERE oc.[OfferCollateralID] = oc2.[OfferCollateralID])
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
