USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_Login_Update]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Inbound_Login_Update] @FileNameDate DATE = NULL

AS
BEGIN

	IF @FileNameDate IS NULL SET @FileNameDate = GETDATE()

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Login'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Login'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Login'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]
					
			CREATE CLUSTERED INDEX [CIX_All] ON #FilesToProcess ([LoadDate], [FileName])

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[LoginGUID]
				,	i.[CustomerGUID]
				,	i.[ExternalCustomerID]
				,	i.[LoginDateTime]
				,	i.[LoginInformation]
				,	i.[IP]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[Login] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[LoginGUID]
					,	i.[CustomerGUID]
					,	i.[ExternalCustomerID]
					,	i.[LoginDateTime]
					,	i.[LoginInformation]
					,	i.[IP]
					,	i.[CreatedAt]
					,	i.[UpdatedAt]

			CREATE CLUSTERED INDEX [CIX_All] ON #Inbound ([LoginDateTime], [CustomerGUID])
			CREATE NONCLUSTERED INDEX [IX_Ext] ON #Inbound ([ExternalCustomerID]) INCLUDE ([CustomerGUID])

			DROP TABLE IF EXISTS #CustomerExternalID
			SELECT	[ExternalID]
				,	[CustomerGUID]
			INTO #CustomerExternalID
			FROM [WHB].[Inbound_CustomerExternalIDs] cei
			WHERE EXISTS (	SELECT 1
							FROM #Inbound i
							WHERE cei.[ExternalID] = i.[ExternalCustomerID])

			CREATE CLUSTERED INDEX [CIX_All] ON #CustomerExternalID ([ExternalID], [CustomerGUID])

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #InsertedID
			CREATE TABLE #InsertedID ([ID] BIGINT);

			INSERT INTO [WHB].[Inbound_Login] (	[InboundID]
											,	[LoginGUID]
											,	[CustomerGUID]
											,	[LoginDateTime]
											,	[LoginInformation]
											,	[IP]
											,	[CreatedAt]
											,	[UpdatedAt]
											,	[LoadDate]
											,	[FileName])
			OUTPUT inserted.[InboundID] INTO #InsertedID([ID])
			SELECT	i.[ID]
				,	i.[LoginGUID]
				,	[CustomerGUID] = COALESCE(cei.[CustomerGUID], i.[CustomerGUID])
				,	i.[LoginDateTime]
				,	i.[LoginInformation]
				,	i.[IP]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[LoadDate]
				,	i.[FileName]
			FROM #Inbound i
			OUTER APPLY (	SELECT	TOP 1
									cei.[CustomerGUID]
							FROM #CustomerExternalID cei
							WHERE i.[ExternalCustomerID] = cei.[ExternalID]
							ORDER BY cei.[CustomerGUID]) cei
			WHERE NOT EXISTS (	SELECT 1
								FROM [WHB].[Inbound_Login] il
								WHERE COALESCE(cei.[CustomerGUID], i.[CustomerGUID]) = il.[CustomerGUID]
								AND i.[LoginDateTime] = il.[LoginDateTime])
			AND COALESCE(cei.[CustomerGUID], i.[CustomerGUID]) IS NOT NULL
			ORDER BY	i.[LoginDateTime]
					,	i.[CustomerGUID]

		/*******************************************************************************************************************************************
			5.	Deleted the data that was inserted from the Inbound table
		*******************************************************************************************************************************************/

			DELETE i
			FROM [Inbound].[Login] i
			WHERE EXISTS (	SELECT 1
							FROM #InsertedID ii
							WHERE i.[ID] = ii.[ID])

		/*******************************************************************************************************************************************
			6.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'Login' AND [FileProcessed] = 0) > 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
