USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_OfferMember_Refresh]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_CustomerPush_OfferMember_Refresh]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Find the latest date a customer has had memberships updated
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #IronOfferMember_Customer
			SELECT	mem.[CustomerGUID]
				,	[ModifiedDate] = MAX([AddedDate])
			INTO #IronOfferMember_Customer
			FROM [CRM].[IronOfferMember_Memberships] mem
			GROUP BY	mem.[CustomerGUID]

			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #IronOfferMember_Customer ([CustomerGUID])

		/*******************************************************************************************************************************************
			2.	Update the latest date a customer has had memberships updated
		*******************************************************************************************************************************************/
	
			UPDATE cu
			SET cu.[ModifiedDate] = mem.[ModifiedDate]
			FROM #IronOfferMember_Customer mem
			INNER JOIN [CRM].[IronOfferMember_Customer] cu
				ON mem.[CustomerGUID] = cu.[CustomerGUID]
				AND mem.[ModifiedDate] > cu.[ModifiedDate]

			INSERT INTO [CRM].[IronOfferMember_Customer]
			SELECT	mem.[CustomerGUID]
				,	mem.[ModifiedDate]
				,	[LastPushedToBraze] = NULL
			FROM #IronOfferMember_Customer mem
			WHERE NOT EXISTS (	SELECT 1
								FROM [CRM].[IronOfferMember_Customer] cu
								WHERE mem.[CustomerGUID] = cu.[CustomerGUID])

		/*******************************************************************************************************************************************
			3.	Archive data from the [CRM].[IronOfferMember] table
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				3.1.	Find the [IronOfferMember_OfferDetailID] entry for expired memberships
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #IronOfferMember_OfferDetail_ToRemove
				SELECT	od.[IronOfferMember_OfferDetailID]
					,	od.[OfferGUID]
					,	od.[StartDate]
					,	od.[EndDate]
				INTO #IronOfferMember_OfferDetail_ToRemove
				FROM [CRM].[IronOfferMember_OfferDetail] od
				WHERE od.[EndDate] < GETDATE()
				AND EXISTS (SELECT 1
							FROM [CRM].[IronOfferMember_Memberships] mem
							WHERE od.[IronOfferMember_OfferDetailID] = mem.[IronOfferMember_OfferDetailID])

				CREATE CLUSTERED INDEX [CIX_OfferDetailID] ON #IronOfferMember_OfferDetail_ToRemove ([IronOfferMember_OfferDetailID])
				
			/*******************************************************************************************************************************************
				3.2.	Find the customers with expired memberships
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #IronOfferMember_OfferDetail_ToRemove_Customers
				SELECT	DISTINCT
						mem.[CustomerGUID]
				INTO #IronOfferMember_OfferDetail_ToRemove_Customers
				FROM [CRM].[IronOfferMember_Memberships] mem
				WHERE EXISTS (	SELECT 1
								FROM #IronOfferMember_OfferDetail_ToRemove tr
								WHERE mem.[IronOfferMember_OfferDetailID] = tr.[IronOfferMember_OfferDetailID])

				CREATE CLUSTERED INDEX [CIX_OfferDetailID] ON #IronOfferMember_OfferDetail_ToRemove_Customers ([CustomerGUID])
	
				UPDATE cu
				SET cu.[ModifiedDate] = GETDATE()
				FROM #IronOfferMember_OfferDetail_ToRemove_Customers mem
				INNER JOIN [CRM].[IronOfferMember_Customer] cu
					ON mem.[CustomerGUID] = cu.[CustomerGUID]

			/*******************************************************************************************************************************************
				3.3.	Remove memberships that have expired
			*******************************************************************************************************************************************/

				WHILE 1 = 1
					BEGIN

						;WITH
						DELETER AS (	SELECT	TOP 500000 *
									--	SELECT COUNT(*)
										FROM [CRM].[IronOfferMember_Memberships] mem
										WHERE EXISTS (	SELECT 1
														FROM #IronOfferMember_OfferDetail_ToRemove tr
														WHERE mem.[IronOfferMember_OfferDetailID] = tr.[IronOfferMember_OfferDetailID])
														)

						DELETE
						FROM DELETER

						IF @@ROWCOUNT = 0 BREAK

					END

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

RETURN 0

GO
