USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[CRM_TargetingHistory_Insert]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[CRM_TargetingHistory_Insert]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	/*******************************************************************************************************************************************
			1.		Find most recent Email Send Date & associated LionSendIDs
	*******************************************************************************************************************************************/

		DECLARE	@EmailSendDate DATE
			,	@Today DATE = GETDATE()
		
		SELECT	@EmailSendDate = MAX([EmailSendDate])
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [Scheme] = 'MyRewards'
		AND [EmailType] LIKE 'Newsletter%'
		AND [EmailSendDate] < @Today

		DROP TABLE IF EXISTS #EmailSendID
		SELECT	DISTINCT
				[EmailSendID] = [ID]
			,	[EmailSendDate]
			,	[EmailType]
			,	[EmailTypeID] = 3
			,	[CommChannelID] = 1
			,	[Variant] = CASE
								WHEN [EmailType] LIKE '% - Sample' THEN 0
								WHEN [EmailType] LIKE '% - Full Generic' THEN 1
								ELSE 2
							END
		INTO #EmailSendID
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [Scheme] = 'MyRewards'
		AND [EmailType] LIKE 'Newsletter%'
		and [EmailSendDate] = @EmailSendDate

		SELECT *
		FROM [WH_AllPublishers].[Email].[EmailSend]
		WHERE [Scheme] = 'MyRewards'
		AND [EmailType] LIKE 'Newsletter%'
		and [EmailSendDate] = @EmailSendDate

	/*******************************************************************************************************************************************
			2.		Load data if required
	*******************************************************************************************************************************************/

		IF NOT EXISTS (	SELECT 1
						FROM [CRM].[TargetingHistory] th
						WHERE EXISTS (	SELECT 1
										FROM #EmailSendID es
										WHERE th.[SendID] = es.[EmailSendID]))

			BEGIN

		/***************************************************************************************************************************************
			2.1.	Fetch offer details
		***************************************************************************************************************************************/

			/***************************************************************************************************************************************
				2.1.1.	Fetch Earn
			***************************************************************************************************************************************/
		
				DROP TABLE IF EXISTS #EarnOffers
				SELECT	[EmailSendID] = op.[LionSendID]
					,	op.[CompositeID]
					,	[Earn_OfferID_Hero] = op.[1]
					,	[Earn_OfferID_1] = op.[2]
					,	[Earn_OfferID_2] = op.[3]
					,	[Earn_OfferID_3] = op.[4]
					,	[Earn_OfferID_4] = op.[5]
					,	[Earn_OfferID_5] = op.[6]
					,	[Earn_OfferID_6] = op.[7]
				INTO #EarnOffers
				FROM (	SELECT	ls.[LionSendID]
							,	ls.[CompositeID]
							,	ls.[ItemRank]
							,	ls.[ItemID]
						FROM [Email].[NominatedLionSendComponent] ls
						WHERE EXISTS (	SELECT 1
										FROM #EmailSendID es
										WHERE ls.[LionSendID] = es.[EmailSendID])) ls
				PIVOT(MIN(ls.[ItemID]) FOR ls.[ItemRank] IN ([1], [2], [3], [4], [5], [6], [7])) op

				CREATE CLUSTERED INDEX [CIX_IDCompo] ON #EarnOffers ([EmailSendID], [CompositeID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch Earn'

			/***************************************************************************************************************************************
				2.1.2.	Fetch Burn
			***************************************************************************************************************************************/
				
				DROP TABLE IF EXISTS #BurnOffers
				SELECT	[EmailSendID] = op.[LionSendID]
					,	op.[CompositeID]
					,	[Burn_OfferID_Hero] = op.[1]
					,	[Burn_OfferID_1] = op.[2]
					,	[Burn_OfferID_2] = op.[3]
					,	[Burn_OfferID_3] = op.[4]
					,	[Burn_OfferID_4] = op.[5]
				INTO #BurnOffers
				FROM (	SELECT	ls.[LionSendID]
							,	ls.[CompositeID]
							,	ls.[ItemRank]
							,	ro.[RedemptionPartnerGUID]
						FROM [Email].[NominatedLionSendComponent_RedemptionOffers] ls
						INNER JOIN [Derived].[RedemptionOffers] ro
							ON ls.[ItemID] = ro.[RedeemID]
						WHERE EXISTS (	SELECT 1
										FROM #EmailSendID es
										WHERE ls.[LionSendID] = es.[EmailSendID])) ls
				PIVOT(MIN(ls.[RedemptionPartnerGUID]) FOR ls.[ItemRank] IN ([1], [2], [3], [4], [5])) op

				CREATE CLUSTERED INDEX [CIX_IDCompo] ON #BurnOffers ([EmailSendID], [CompositeID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch Burn'

			/***************************************************************************************************************************************
				2.1.3.	Combine Earn & Burn and Enrich with email data
			***************************************************************************************************************************************/
				
				DROP TABLE IF EXISTS #Offers
				SELECT	eo.[EmailSendID]
					,	es.[EmailType]
					,	[PublisherID] = cu.[ClubID]
					,	[CustomerSegment] = cu.[AccountType]
					,	cu.[CustomerGUID]
					,	cu.[FanID]
					,	eo.[CompositeID]
					,	cl.[CINID]
					,	eo.[Earn_OfferID_Hero]
					,	eo.[Earn_OfferID_1]
					,	eo.[Earn_OfferID_2]
					,	eo.[Earn_OfferID_3]
					,	eo.[Earn_OfferID_4]
					,	eo.[Earn_OfferID_5]
					,	eo.[Earn_OfferID_6]
					,	bo.[Burn_OfferID_Hero]
					,	bo.[Burn_OfferID_1]
					,	bo.[Burn_OfferID_2]
					,	bo.[Burn_OfferID_3]
					,	bo.[Burn_OfferID_4]
					,	es.[EmailSendDate]
					,	es.[EmailTypeID]
					,	es.[CommChannelID]
					,	es.[Variant]
				INTO #Offers
				FROM #EarnOffers eo
				INNER JOIN #EmailSendID es
					ON eo.[EmailSendID] = es.[EmailSendID]
				LEFT JOIN #BurnOffers bo
					ON eo.[EmailSendID] = bo.[EmailSendID]
					AND eo.[CompositeID] = bo.[CompositeID]
				INNER JOIN [Derived].[Customer] cu
					ON eo.[CompositeID] = cu.[CompositeID]
				LEFT JOIN [Derived].[CINList] cl
					ON cu.[SourceUID] = cl.[CIN]
					AND NOT EXISTS (SELECT 1
									FROM [Derived].[Customer_DuplicateSourceUID] ds
									WHERE cl.[CIN] = ds.[SourceUID])

				CREATE CLUSTERED INDEX [CIX_CustomerGUIDEmailSendDate] ON #Offers ([CustomerGUID], [EmailSendDate])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Combine Earn & Burn and Enrich with email data'

		/***************************************************************************************************************************************
			2.2.	Fetch customers marketing status at the time of send
		***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Marketable
				SELECT	mbe.[CustomerGUID]
					,	mbe.[MarketableByEmail]
					,	mbe.[EmailTracking]
				INTO #Marketable
				FROM [Derived].[Customer_MarketableByEmailStatus] mbe
				WHERE EXISTS (	SELECT 1
								FROM #Offers o
								WHERE mbe.[CustomerGUID] = o.[CustomerGUID]
								AND o.[EmailSendDate] BETWEEN mbe.[StartDate] AND COALESCE(mbe.[EndDate], '9999-12-31'))

				CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Marketable ([CustomerGUID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch customers marketing status'

		/***************************************************************************************************************************************
			2.3.	Fetch customers balance at the time of send
		***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Balances
				SELECT	cb.[CustomerGUID]
					,	cb.[CashbackAvailable]
				INTO #Balances
				FROM [Derived].[Customer_CashbackBalances] cb
				WHERE EXISTS (	SELECT 1
								FROM #Offers o
								WHERE cb.[CustomerGUID] = o.[CustomerGUID]
								AND o.[EmailSendDate] BETWEEN cb.[StartDate] AND COALESCE(cb.[EndDate], '9999-12-31'))

				CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Balances ([CustomerGUID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch customers balance'

		/***************************************************************************************************************************************
			2.4.	Fetch customers Fallow status at the time of send
		***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #FallowSelection
				SELECT	fs.[CustomerGUID]
					,	fs.[FallowFlag]
				INTO #FallowSelection
				FROM [Derived].[FallowSelection] fs
				WHERE EXISTS (	SELECT 1
								FROM #Offers o
								WHERE fs.[CustomerGUID] = o.[CustomerGUID]
								AND o.[EmailSendDate] BETWEEN fs.[StartDate] AND COALESCE(fs.[EndDate], '9999-12-31'))

				CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #FallowSelection ([CustomerGUID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch customers Fallow status'

		/***************************************************************************************************************************************
			2.5.	Insert to final table
		***************************************************************************************************************************************/

				INSERT INTO [CRM].[TargetingHistory] (	[FanID]
													,	[CustomerGUID]
													,	[CompositeID]
													,	[CINID]
													,	[ClubID]
													,	[CustomerSegment]
													,	[SendDate]
													,	[ReportingWindowClose]
													,	[CycleStartDate]
													,	[Marketability]
													,	[EmailTracking]
													,	[CashbackAvailable]
													,	[SendID]
													,	[SendTypeID]
													,	[CommChannelID]
													,	[Variant]
													,	[ControlFlag]
													,	[Earn_OfferID_1]
													,	[Earn_OfferID_2]
													,	[Earn_OfferID_3]
													,	[Earn_OfferID_4]
													,	[Earn_OfferID_5]
													,	[Earn_OfferID_6]
													,	[Earn_OfferID_7]
													,	[Burn_OfferID_1]
													,	[Burn_OfferID_2]
													,	[Burn_OfferID_3]
													,	[Burn_OfferID_4]
													,	[Burn_OfferID_5]
													,	[AddedDate])
				SELECT	o.[FanID]
					,	o.[CustomerGUID]
					,	o.[CompositeID]
					,	o.[CINID]
					,	o.[PublisherID]
					,	o.[CustomerSegment]
					,	o.[EmailSendDate]
					,	[ReportingWindowClose] = DATEADD(DAY, 13, o.[EmailSendDate])
					,	[CycleStartDate] = hcd.[StartDate]
					,	[Marketablility] = m.[MarketableByEmail]
					,	[EmailTracking] = m.[EmailTracking]
					,	b.[CashbackAvailable]
					,	o.[EmailSendID]
					,	o.[EmailTypeID]
					,	o.[CommChannelID]
					,	o.[Variant]
					,	[FallowFlag] = COALESCE(fs.[FallowFlag], 0)
					,	o.[Earn_OfferID_Hero]
					,	o.[Earn_OfferID_1]
					,	o.[Earn_OfferID_2]
					,	o.[Earn_OfferID_3]
					,	o.[Earn_OfferID_4]
					,	o.[Earn_OfferID_5]
					,	o.[Earn_OfferID_6]
					,	o.[Burn_OfferID_Hero]
					,	o.[Burn_OfferID_1]
					,	o.[Burn_OfferID_2]
					,	o.[Burn_OfferID_3]
					,	o.[Burn_OfferID_4]
					,	[AddedDate] = GETDATE()
				FROM #Offers o
				LEFT JOIN #Marketable m
					ON o.[CustomerGUID] = m.[CustomerGUID]
				LEFT JOIN #Balances b
					ON o.[CustomerGUID] = b.[CustomerGUID]
				LEFT JOIN [WH_AllPublishers].[Derived].[HalfCycleDates] hcd
					ON o.[EmailSendDate] BETWEEN hcd.[StartDate] AND hcd.[EndDate]
				LEFT JOIN #FallowSelection fs
					ON o.[CustomerGUID] = fs.[CustomerGUID]
				WHERE NOT EXISTS (	SELECT 1
									FROM [CRM].[TargetingHistory] th
									WHERE o.[FanID] = th.[FanID]
									AND o.[EmailSendDate] = th.[SendDate]
									AND o.[EmailSendID] = th.[SendID]
									AND o.[EmailTypeID] = th.[SendTypeID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Insert to final table'

			END	--	SELECT 1 FROM [CRM].[TargetingHistory] th WHERE EXISTS (	SELECT 1 FROM #EmailSendID es WHERE th.[SendID] = es.[EmailSendID])
		
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
