USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_Accounts_Refresh]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_CustomerPush_Accounts_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DROP TABLE IF EXISTS #BankAccountCustomerLinks;
	;WITH
	BankAccounts_Customer_Deduper AS (	SELECT	bacl.[CustomerGUID]			
											,	bacl.[BankAccountGUID]
											,	bacl.[AccountRelationship]
											,	[AccountNominee] = CASE WHEN ban.[CustomerGUID] IS NOT NULL THEN 1 ELSE 0 END
											,	bacl.[StartDate]
											,	[RowNumber] = ROW_NUMBER() OVER (PARTITION BY bacl.[CustomerGUID], bacl.[BankAccountGUID] ORDER BY bacl.[StartDate] DESC, bacl.[AccountRelationship])
										FROM [WHB].[Braze_CustomerPush] cp
										INNER HASH JOIN [Derived].[BankAccountCustomerLinks] bacl		
											ON cp.[CustomerGUID] = bacl.[CustomerGUID]
										LEFT JOIN [Derived].[BankAccountNominees] ban
											ON bacl.[BankAccountGUID] = ban.[BankAccountGUID]
											AND bacl.[CustomerGUID] = ban.[CustomerGUID]
											AND ban.[EndDate] IS NULL
										WHERE bacl.[EndDate] IS NULL)
	SELECT	[BankAccountGUID]
		,	[CustomerGUID]
		,	[AccountRelationship]
		,	[AccountNominee]
		,	[StartDate]
	INTO #BankAccountCustomerLinks
	FROM BankAccounts_Customer_Deduper
	WHERE [RowNumber] = 1;

	CREATE CLUSTERED INDEX [CIX_GUIDs] ON #BankAccountCustomerLinks ([BankAccountGUID], [CustomerGUID]);

	DROP TABLE IF EXISTS #BankAccountTypeHistory;
	SELECT	bath.[BankAccountGUID]
		,	bat.[BankAccountTypeName]
		,	bap.[BankAccountProductCode]
		,	bap.[BankAccountProductName]
		,	basp.[BankAccountSubProductCode]
		,	basp.[BankAccountSubProductName]
		,	bath.[StartDate]
	INTO #BankAccountTypeHistory
	FROM (SELECT DISTINCT [BankAccountGUID] FROM #BankAccountCustomerLinks) bac	
	INNER hash JOIN [Derived].[BankAccountTypeHistory] bath
		ON bath.[BankAccountGUID] = bac.[BankAccountGUID]
	LEFT JOIN [Derived].[BankAccountType] bat
		ON bath.[BankAccountTypeID] = bat.[BankAccountTypeID]
	LEFT JOIN [Derived].[BankAccountProduct] bap
		ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
	LEFT JOIN [Derived].[BankAccountSubProduct] basp
		ON bath.[BankAccountSubProductID] = basp.[BankAccountSubProductID]
	WHERE bath.[EndDate] IS NULL;

	CREATE CLUSTERED INDEX [CIX_GUID] ON #BankAccountTypeHistory ([BankAccountGUID]);

	DECLARE @LastDateEntry DATE;
	SELECT @LastDateEntry = MAX([DirectDebit_LastDate])
	FROM [Derived].[MostRecentDD_ByBankAccount];

	DROP TABLE IF EXISTS #DirectDebit_LastDate;
	SELECT	ct.[BankAccountID]
		,	[DirectDebit_LastDate] = MAX(ct.[TranDate])
	INTO #DirectDebit_LastDate
	FROM [Trans].[ConsumerTransaction_DD] ct
	WHERE ct.[TranDate] >= CAST(DATEADD(DAY,1,EOMONTH(DATEADD(MONTH,-2,@LastDateEntry))) AS DATE) -- First day of last month, last year
	GROUP BY	ct.[BankAccountID];

	CREATE UNIQUE CLUSTERED INDEX [UCIX_BankAccountID] ON #DirectDebit_LastDate ([BankAccountID]);

	UPDATE t 
	SET [DirectDebit_LastDate] = s.[DirectDebit_LastDate]
	FROM [Derived].[MostRecentDD_ByBankAccount] t
	INNER JOIN #DirectDebit_LastDate s 
		ON s.[BankAccountID] = t.[BankAccountID] 
	WHERE t.[DirectDebit_LastDate] != s.[DirectDebit_LastDate] 
	OR t.[DirectDebit_LastDate] IS NULL;

	INSERT INTO [Derived].[MostRecentDD_ByBankAccount] ([BankAccountID]
													,	[DirectDebit_LastDate])
	SELECT	s.[BankAccountID]
		,	s.[DirectDebit_LastDate] 
	FROM #DirectDebit_LastDate s
	LEFT JOIN [Derived].[MostRecentDD_ByBankAccount] t 
		ON t.[BankAccountID] = s.[BankAccountID]
	WHERE t.[BankAccountID] IS NULL;

	DROP TABLE IF EXISTS #Braze_CustomerPush_Accounts;
	SELECT	tl.[CustomerGUID]
		,	tl.[AccountType]
		,	tl.[AccountName]
		,	tl.[Nominee]
		,	tl.[AddedDate]
		,	tl.[DirectDebit]
		,	tl.[DirectDebitRemoved]
		,	tl.[LoyaltyAccount]
		,	tl.[CardStatus]
		,	tl.[NewRegistration]
		,	[HashValue] = HASHBYTES('SHA2_256', CONCAT_WS('|',
													CONVERT(VARCHAR(1), tl.[Nominee])
												,	CONVERT(CHAR(10), tl.[AddedDate], 126)
												,	CONVERT(VARCHAR(1), tl.[DirectDebit])
												,	CONVERT(VARCHAR(1), tl.[DirectDebitRemoved])
												,	CONVERT(VARCHAR(1), tl.[LoyaltyAccount])
												,   tl.[CardStatus]
												,	CONVERT(VARCHAR(1), tl.[NewRegistration])
												)
											)
	INTO #Braze_CustomerPush_Accounts
	FROM (	SELECT	ba.[CustomerGUID]
				,	[AccountType] = CONVERT(VARCHAR(15), COALESCE(ba.[AccountType], 'Unknown'))
				,	[AccountName] = CONVERT(VARCHAR(255), COALESCE(ba.[AccountName], 'Unknown'))
				,	[Nominee] = CONVERT(BIT, MAX(ba.[AccountNominee]))
				,	[AddedDate] = CONVERT(DATE, MIN(ba.[StartDate_CustomerLink]))
				,	[DirectDebit] = CONVERT(BIT, MAX(CASE WHEN ba.[DirectDebit_LastDate] IS NOT NULL THEN 1 ELSE 0 END))
				,	[DirectDebitRemoved] = CONVERT(BIT, CASE WHEN MAX(ba.[DirectDebit_LastDate]) < DATEADD(MONTH, -3, GETDATE()) THEN 1 ELSE 0 END)
				,	[LoyaltyAccount] = CONVERT(BIT, MAX(CASE WHEN ba.[BankAccountProductCode] IN ('QA', 'QB', 'QC', 'QD', 'QE') OR ba.[CardType] = 'credit' THEN 1 ELSE 0 END))
				,	[CardStatus] = CONVERT(BIT, MAX(ba.[CardStatus]))
				,	[NewRegistration] = CONVERT(BIT, CASE WHEN MIN(cu.[RegistrationDate]) = MIN(ba.[StartDate_CustomerLink]) THEN 1 ELSE 0 END)
			FROM (	SELECT	DISTINCT
							bacl.[CustomerGUID]
						,	[AccountType] = CASE
											WHEN COALESCE(ca.[CreditOrDebit], bath.[BankAccountTypeName]) = 'current' THEN 'Current Account'
											WHEN COALESCE(ca.[CreditOrDebit], bath.[BankAccountTypeName]) = 'debit' THEN 'Current Account'
											WHEN COALESCE(ca.[CreditOrDebit], bath.[BankAccountTypeName]) = 'credit' THEN 'Credit Card'
										END
						,	[AccountName] = COALESCE(bath.[BankAccountProductName], cp.[CardProductDescription])
						,	bath.[BankAccountProductCode]
						,	bacl.[AccountNominee]
						,	[StartDate_CustomerLink] = bacl.[StartDate]
						,	[CardType] = ca.[CreditOrDebit]
						,	[CardStatus] = CASE WHEN ca.[CardStatusID] = 1 THEN 1 ELSE 0 END
						,	[DirectDebit_LastDate] = ld.[DirectDebit_LastDate]
					FROM #BankAccountTypeHistory bath
					INNER JOIN #BankAccountCustomerLinks bacl
						ON bath.[BankAccountGUID] = bacl.[BankAccountGUID]
					LEFT JOIN [Derived].[Cards] ca
						ON bath.[BankAccountGUID] = ca.[AccountGUID]
					LEFT JOIN [Derived].[CardProduct] cp
						ON ca.[CardProductID] = cp.[CardProductID]
					LEFT JOIN [WHB].[BankAccountIDs] bai
						ON bath.[BankAccountGUID] = bai.[BankAccountGUID]
					LEFT JOIN [Derived].[MostRecentDD_ByBankAccount] ld 
						ON ld.[BankAccountID] = bai.[BankAccountID]	) ba
			INNER JOIN [Derived].[Customer] cu
				ON ba.[CustomerGUID] = cu.[CustomerGUID]
			GROUP BY	ba.[CustomerGUID]
					,	CONVERT(VARCHAR(15), COALESCE(ba.[AccountType], 'Unknown'))
					,	CONVERT(VARCHAR(255), COALESCE(ba.[AccountName], 'Unknown'))) tl
	WHERE tl.[AccountType] IS NOT NULL
	AND tl.[AccountName] IS NOT NULL;

	CREATE UNIQUE CLUSTERED INDEX [UCIX_BankAccountID] ON #Braze_CustomerPush_Accounts ([CustomerGUID], [AccountType], [AccountName]);
				
	MERGE [WHB].[Braze_CustomerPush_Accounts] TGT
	USING #Braze_CustomerPush_Accounts SRC
		ON TGT.[CustomerGUID] = SRC.[CustomerGUID]
		AND TGT.[AccountType] = SRC.[AccountType]
		AND TGT.[AccountName] = SRC.[AccountName]

	WHEN MATCHED
		AND TGT.[HashValue] != SRC.[HashValue]
	THEN UPDATE
		SET	TGT.[Nominee] = SRC.[Nominee]
		,	TGT.[AddedDate] = SRC.[AddedDate]
		,	TGT.[DirectDebit] = SRC.[DirectDebit]
		,	TGT.[DirectDebitRemoved] = SRC.[DirectDebitRemoved]
		,	TGT.[LoyaltyAccount] = SRC.[LoyaltyAccount]
		,	TGT.[CardStatus] = SRC.[CardStatus]
		,	TGT.[NewRegistration] = SRC.[NewRegistration]
		,	TGT.[HashValue] = SRC.[HashValue]
		,	TGT.[ModifiedDate] = GETDATE()

	WHEN NOT MATCHED
		THEN INSERT (	[CustomerGUID]
					,	[AccountType]
					,	[AccountName]
					,	[Nominee]
					,	[AddedDate]
					,	[DirectDebit]
					,	[DirectDebitRemoved]
					,	[LoyaltyAccount]
					,	[CardStatus]
					,	[NewRegistration]
					,	[HashValue]
					,	[ModifiedDate]
					,	[LastPushedToBraze])
		VALUES (SRC.[CustomerGUID]
			,	SRC.[AccountType]
			,	SRC.[AccountName]
			,	SRC.[Nominee]
			,	SRC.[AddedDate]
			,	SRC.[DirectDebit]
			,	SRC.[DirectDebitRemoved]
			,	SRC.[LoyaltyAccount]
			,	SRC.[CardStatus]
			,	SRC.[NewRegistration]
			,	SRC.[HashValue]
			,	GETDATE()	--	[ModifiedDate]
			,	NULL);		--	[LastPushedToBraze]

END

RETURN 0


GO
