USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[AllPublishers_Customer_Archive]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[AllPublishers_Customer_Archive]	@ExecutionType VARCHAR(50) = 'Month'
													,	@ExecutionDateStart DATE = NULL
													,	@ExecutionDateEnd DATE = NULL
													,	@PublisherID INT = 132
AS
BEGIN

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/

	--	DECLARE @ExecutionDateStart DATE = GETDATE(), @ExecutionDateEnd DATE = GETDATE()
	--	DECLARE @ExecutionType VARCHAR(50) = 'Day', @ExecutionDateStart DATE = '2025-08-28', @ExecutionDateEnd DATE = '2025-08-28'
	--	DECLARE @ExecutionType VARCHAR(50) = 'Quarter', @ExecutionDateStart DATE = '2022-07-01', @ExecutionDateEnd DATE = '2022-09-30'
	--	DECLARE @ExecutionType VARCHAR(50) = 'Financial Year', @ExecutionDateStart DATE = '2023-04-01', @ExecutionDateEnd DATE = '2024-03-31'

		IF @ExecutionDateStart IS NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd IS NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType

	/*******************************************************************************************************************************************
		2.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/

		DECLARE @Date_Customer DATE
			,	@StartDate_Customer DATE
			,	@EndDate_Customer DATE

		SELECT	@Date_Customer = [CalendarDate]
			,	@StartDate_Customer = [StartDate]
			,	@EndDate_Customer = [EndDate]
		FROM #Dates

		DROP TABLE IF EXISTS #Customers
		SELECT	[PublisherID] = cu.[ClubID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
			,	cu.[SourceUID]
			,	cl.[CINID]
			,	cu.[MarketableByEmail]
			,	cu.[MarketableByPush]
			,	cu.[EmailTracking]
			,	[EOM_RegistrationDate] = EOMONTH(cu.[RegistrationDate])
			,	[EOM_DeactivatedDate] = EOMONTH(ISNULL(cu.[DeactivatedDate], '2099-01-31'))
			,	cu.[CurrentlyActive]
		INTO #Customers
		FROM [Derived].[Customer] cu
		LEFT JOIN [Derived].[CINList] cl
			ON cu.[SourceUID] = cl.[CIN]
		WHERE cu.[RegistrationDate] <= @EndDate_Customer
			AND (	cu.[DeactivatedDate] >= @StartDate_Customer
				OR	cu.[DeactivatedDate] IS NULL)
		AND cu.[ClubID] = @PublisherID;

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID]);

	/*******************************************************************************************************************************************
		3.	Fetch customer marketable flags in the period in the period
	*******************************************************************************************************************************************/
	
		DECLARE @Date_Marketable DATE

		SELECT @Date_Marketable = MAX([CalendarDate])
		FROM #Dates

		DROP TABLE IF EXISTS #MarketableFlags
		SELECT	ms.[CustomerGUID]
			,	[MarketableByEmail] = MAX(CONVERT(INT, ms.[MarketableByEmail]))
			,	[MarketableByPush] = MAX(CONVERT(INT, ms.[MarketableByPush]))
			,	[EmailTracking] = MAX(CONVERT(INT, ms.[EmailTracking]))
		INTO #MarketableFlags
		FROM [Derived].[Customer_MarketableByEmailStatus] ms
		WHERE @Date_Marketable BETWEEN ms.[StartDate] AND COALESCE(ms.[EndDate], '9999-12-31')
		AND EXISTS (SELECT 1
					FROM #Customers cu
					WHERE ms.[CustomerGUID] = cu.[CustomerGUID])
		GROUP BY ms.[CustomerGUID];
		
		CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #MarketableFlags ([CustomerGUID]);

	/*******************************************************************************************************************************************
		4.	Fetch Bank Accounts within the period
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
			4.1.	Fetch Bank Account and Customer Links
		*******************************************************************************************************************************************/
	
			DECLARE @Date_BankAccount_Customer DATE

			SELECT @Date_BankAccount_Customer = MAX([CalendarDate])
			FROM #Dates
		
			DROP TABLE IF EXISTS #BankAccounts_Customer;
			CREATE TABLE #BankAccounts_Customer (	[BankAccountGUID] UNIQUEIDENTIFIER
												,	[CustomerGUID] UNIQUEIDENTIFIER
												,	[Nominee] BIT)

			CREATE CLUSTERED INDEX [CIX_BankAccountGUID] ON #BankAccounts_Customer ([BankAccountGUID], [CustomerGUID]);

			INSERT INTO #BankAccounts_Customer
			SELECT	bacl.[BankAccountGUID]
				,	bacl.[CustomerGUID]
				,	[Nominee] = COALESCE(nom.[Nominee], 0)
			FROM [Derived].[BankAccountCustomerLinks] bacl
			INNER JOIN [Derived].[BankAccounts] ba 
				ON bacl.[BankAccountGUID] = ba.[BankAccountGUID]
			OUTER APPLY (	SELECT	TOP(1)
									[Nominee] = 1
							FROM [Derived].[BankAccountNominees] ban
							WHERE bacl.[CustomerGUID] = ban.[CustomerGUID] 
							AND bacl.[BankAccountGUID] = ban.[BankAccountGUID]
							AND @Date_BankAccount_Customer BETWEEN ban.[StartDate] AND COALESCE(ban.[EndDate], '9999-01-01')) nom
			WHERE @Date_BankAccount_Customer BETWEEN bacl.[StartDate] AND COALESCE(bacl.[EndDate], '9999-01-01')
			AND @Date_BankAccount_Customer BETWEEN ba.[OpenedDate] AND COALESCE(ba.[ClosedDate], '9999-01-01')
			AND ba.[BankAccountStatusID] = 1
			AND EXISTS (SELECT 1
						FROM #Customers cu
						WHERE bacl.[CustomerGUID] = cu.[CustomerGUID])
			ORDER BY	bacl.[BankAccountGUID];

		/*******************************************************************************************************************************************
			4.2.	Fetch Bank Account details
		*******************************************************************************************************************************************/
	
			DECLARE @Date_BankAccount_Bank DATE

			SELECT @Date_BankAccount_Bank = MAX([CalendarDate])
			FROM #Dates
		
			DROP TABLE IF EXISTS #BankAccounts_Bank;
			CREATE TABLE #BankAccounts_Bank (	[BankAccountGUID] UNIQUEIDENTIFIER
											,	[BankAccountProductCode] VARCHAR(2)
											,	[CurrentAccount] BIT)

			CREATE UNIQUE CLUSTERED INDEX [CIX_BankAccountGUID] ON #BankAccounts_Bank ([BankAccountGUID])

			INSERT INTO #BankAccounts_Bank
			SELECT	bath.[BankAccountGUID]
				,	[BankAccountProductCode] = MAX(bap.[BankAccountProductCode])
				,	[CurrentAccount] = MAX(CASE WHEN bat.[BankAccountTypeName] = 'current' THEN 1 ELSE 0 END)
			FROM [Derived].[BankAccountTypeHistory] bath
			LEFT JOIN [Derived].[BankAccountType] bat
				ON bath.[BankAccountTypeID] = bat.[BankAccountTypeID]
			LEFT JOIN [Derived].[BankAccountProduct] bap
				ON bath.[BankAccountProductID] = bap.[BankAccountProductID]
				AND bath.[BankAccountProductID] IN (17, 18, 19, 20, 21)	--	QA to QE
			WHERE @Date_BankAccount_Bank BETWEEN bath.[StartDate] AND COALESCE(bath.[EndDate], '9999-01-01')
			AND EXISTS (SELECT 1
						FROM #BankAccounts_Customer bac
						WHERE bath.[BankAccountGUID] = bac.[BankAccountGUID])
			GROUP BY	bath.[BankAccountGUID]
			ORDER BY	bath.[BankAccountGUID];

		/*******************************************************************************************************************************************
			4.3.	Combine Bank Account details
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #BankAccountsCustomer
			SELECT	bac.[CustomerGUID]
				,	[Nominee] = MAX(CONVERT(INT, bac.[Nominee]))
				,	[BankAccountProductCode] = MAX(bab.[BankAccountProductCode])
				,	[CurrentAccount] = MAX(CONVERT(INT, bab.[CurrentAccount]))
			INTO #BankAccountsCustomer
			FROM #BankAccounts_Customer bac
			INNER JOIN #BankAccounts_Bank bab
				ON bac.[BankAccountGUID] = bab.[BankAccountGUID]
			GROUP BY	bac.[CustomerGUID]
				
			CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerGUID] ON #BankAccountsCustomer ([CustomerGUID])

	/*******************************************************************************************************************************************
		5.	Fetch Cards within the period
	*******************************************************************************************************************************************/
	
		DECLARE @Date_Cards DATE

		SELECT @Date_Cards = MAX([CalendarDate])
		FROM #Dates
		
		DROP TABLE IF EXISTS #CardsCustomer
		SELECT	ca.[CustomerGUID]
			,	[CreditCard] = 1
			,	[CardProductDescription] = MIN(cp.[CardProductDescription])
		INTO #CardsCustomer
		FROM [Derived].[Cards] ca
		INNER JOIN [Derived].[CardProduct] cp
			ON ca.[CardProductID] = cp.[CardProductID]
		WHERE @Date_Cards BETWEEN ca.[StartDate] AND COALESCE(ca.[EndDate], '9999-01-01')
		AND ca.[CreditOrDebit] = 'Credit'
		AND ca.[CardStatusID] IN (1, 7)
		AND EXISTS (SELECT 1
					FROM #Customers cu
					WHERE ca.[CustomerGUID] = cu.[CustomerGUID])
		GROUP BY	ca.[CustomerGUID];

		CREATE UNIQUE CLUSTERED INDEX [CIX_CustomerGUID] ON #CardsCustomer ([CustomerGUID])

	/*******************************************************************************************************************************************
		6.	Fetch back book customers
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #BackBook
		SELECT	DISTINCT
				cei.[CustomerGUID]
		INTO #BackBook
		FROM [WHB].[Inbound_CustomerExternalIDs] cei
		WHERE cei.[ExternalIDSource] = 'backbook'
		AND cei.[ActiveTo] IS NULL
		AND EXISTS (SELECT 1
					FROM #Customers cu
					WHERE cei.[CustomerGUID] = cu.[CustomerGUID]);

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #BackBook ([CustomerGUID])

	/*******************************************************************************************************************************************
		7.	Combine data sources
	*******************************************************************************************************************************************/
	
		DECLARE @Date_Output DATE
			,	@StartDate_Output DATE
			,	@EndDate_Output DATE

		SELECT	@Date_Output = [CalendarDate]
			,	@StartDate_Output = [StartDate]
			,	@EndDate_Output = [EndDate]
		FROM #Dates

		DROP TABLE IF EXISTS #CustomerBankCard
		SELECT	[CalendarDate] = @Date_Output
			,	[StartDate] = @StartDate_Output
			,	[EndDate] = @EndDate_Output
			,	cu.[PublisherID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
			,	cu.[SourceUID]
			,	cu.[CINID]
			,	[MarketableByEmail] = ISNULL(mf.[MarketableByEmail], 0)
			,	[MarketableByPush] = ISNULL(mf.[MarketableByPush], 0)
			,	[EmailTracking] = ISNULL(mf.[EmailTracking], 0)
			,	cu.[EOM_RegistrationDate]
			,	cu.[EOM_DeactivatedDate]
			,	cu.[CurrentlyActive]
			,	[Nominee] = ISNULL(bac.[Nominee], 0)
			,	[CurrentAccount] = ISNULL(bac.[CurrentAccount], 0)
			,	[CreditCard] = ISNULL(cc.[CreditCard], 0)
			,	bac.[BankAccountProductCode]
			,	cc.[CardProductDescription]
			,	[ProductType] =	CASE
									WHEN ISNULL(cc.[CreditCard], 0) = 1 AND ISNULL(bac.[CurrentAccount], 0) = 0 THEN 'CC Only'
									WHEN ISNULL(cc.[CreditCard], 0) = 1 AND ISNULL(bac.[CurrentAccount], 0) = 1 THEN 'Both PCA & CC'
									WHEN ISNULL(cc.[CreditCard], 0) = 0 AND ISNULL(bac.[CurrentAccount], 0) = 1 THEN 'PCA Only'
									ELSE 'Unknown'
								END
			,	[AccountType_Debit] =	CASE
											WHEN bac.[BankAccountProductCode] = 'QA' THEN 'Reward Account (QA)'
											WHEN bac.[BankAccountProductCode] = 'QB' THEN 'Reward Account - Premier (QB)'
											WHEN bac.[BankAccountProductCode] = 'QC' THEN 'Reward Silver Account (QC)'
											WHEN bac.[BankAccountProductCode] = 'QD' THEN 'Reward Platinum Account (QD)'
											WHEN bac.[BankAccountProductCode] = 'QE' THEN 'Reward Black Account (QE)'
											WHEN bac.[CustomerGUID] IS NOT NULL AND bb.[CustomerGUID] IS NOT NULL THEN 'Cashback Plus'
											ELSE 'Unknown'
										END
			,	[AccountType_Credit] = COALESCE(cc.[CardProductDescription], 'Unknown')
		INTO #CustomerBankCard
		FROM #Customers cu
		LEFT JOIN #MarketableFlags mf
			ON cu.[CustomerGUID] = mf.[CustomerGUID]
		LEFT JOIN #BankAccountsCustomer bac
			ON cu.[CustomerGUID] = bac.[CustomerGUID]
		LEFT JOIN #CardsCustomer cc
			ON cu.[CustomerGUID] = cc.[CustomerGUID]
		LEFT JOIN #BackBook bb
			ON cu.[CustomerGUID] = bb.[CustomerGUID]

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #CustomerBankCard ([PublisherID], [CalendarDate], [StartDate], [EndDate])

	/*******************************************************************************************************************************************
		8.	Delete existing data for the period
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #DeleteBatcher;
		SELECT	[LoopID] = ROW_NUMBER() OVER (ORDER BY d.[PublisherID], d.[CalendarDate], d.[StartDate], d.[EndDate])
			,	d.[PublisherID]
			,	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
		INTO #DeleteBatcher
		FROM #CustomerBankCard d
		GROUP BY	d.[PublisherID]
				,	d.[CalendarDate]
				,	d.[StartDate]
				,	d.[EndDate];

		CREATE UNIQUE CLUSTERED INDEX [UCIX_LoopID] ON #DeleteBatcher ([LoopID]);

		DECLARE	@LoopID INT = 1
			,	@CalendarDate DATE
			,	@StartDate DATE
			,	@EndDate DATE
			,	@ThisBatchRowcount INT = 0;

		WHILE 1 = 1
			BEGIN

				SELECT	@PublisherID = [PublisherID]
					,	@CalendarDate = [CalendarDate]
					,	@StartDate = [StartDate]
					,	@EndDate = [EndDate]
				FROM #DeleteBatcher
				WHERE [LoopID] = @LoopID;

				IF @@ROWCOUNT = 0 BREAK;

				DELETE ca
				FROM [WH_AllPublishers].[Report].[Customer_Archive] ca 
				WHERE ca.[PublisherID] = @PublisherID
				AND ca.[CalendarDate] = @CalendarDate
				AND ca.[MonthStart] = @StartDate 
				AND ca.[MonthEnd] = @EndDate 
				OPTION (RECOMPILE);

				SET @LoopID = @LoopID + 1

			END

	/*******************************************************************************************************************************************
		9.	Insert new data for the period
	*******************************************************************************************************************************************/
	
		INSERT INTO [WH_AllPublishers].[Report].[Customer_Archive] WITH (TABLOCKX) ([CalendarDate]
																				,	[MonthStart]
																				,	[MonthEnd]
																				,	[PublisherID]
																				,	[CustomerGUID]
																				,	[FanID]
																				,	[SourceUID]
																				,	[CINID]
																				,	[MarketableByEmail]
																				,	[MarketableByPush]
																				,	[EmailTracking]
																				,	[EOM_RegistrationDate]
																				,	[EOM_DeactivatedDate]
																				,	[CurrentlyActive]
																				,	[Nominee]
																				,	[CurrentAccount]
																				,	[CreditCard]
																				,	[BankAccountProductCode]
																				,	[CardProductDescription]
																				,	[ProductType]
																				,	[AccountType_Debit]
																				,	[AccountType_Credit])
		SELECT	cbc.[CalendarDate]
			,	cbc.[StartDate]
			,	cbc.[EndDate]
			,	cbc.[PublisherID]
			,	cbc.[CustomerGUID]
			,	cbc.[FanID]
			,	cbc.[SourceUID]
			,	cbc.[CINID]
			,	cbc.[MarketableByEmail]
			,	cbc.[MarketableByPush]
			,	cbc.[EmailTracking]
			,	cbc.[EOM_RegistrationDate]
			,	cbc.[EOM_DeactivatedDate]
			,	cbc.[CurrentlyActive]
			,	cbc.[Nominee]
			,	cbc.[CurrentAccount]
			,	cbc.[CreditCard]
			,	cbc.[BankAccountProductCode]
			,	cbc.[CardProductDescription]
			,	cbc.[ProductType]
			,	cbc.[AccountType_Debit]
			,	cbc.[AccountType_Credit]
		FROM #CustomerBankCard cbc
		ORDER BY	cbc.[PublisherID]
				,	cbc.[CalendarDate]
				,	cbc.[StartDate]
				,	cbc.[EndDate];

	/*******************************************************************************************************************************************
		10.	Mark as updated
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Customer_Archive_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] = @PublisherID

END
GO
