USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Events_Redemptions_Upload_MarkUploaded]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Braze_Events_Redemptions_Upload_MarkUploaded]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;

	UPDATE st
	SET st.[PushedToBraze] = 1
	FROM [WHB].[Braze_EventPush_Redemption] st
	INNER JOIN [WHB].[Braze_CustomerPush] cp
		ON st.[CustomerGUID] = cp.[CustomerGUID]
	WHERE st.[PushedToBraze] = 0;
							
END

RETURN 0
GO
