USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[AllPublishers_Customer_Redemptions]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[AllPublishers_Customer_Redemptions]	@ExecutionType VARCHAR(50) = 'Day'
														,	@ExecutionDateStart DATE = NULL
														,	@ExecutionDateEnd DATE = NULL
														,	@PublisherID INT = 132
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = GETDATE(), @ExecutionDateEnd DATE = GETDATE()
	--	DECLARE @ExecutionType VARCHAR(10) = 'Year', @ExecutionDateStart DATE = '2024-01-01', @ExecutionDateEnd DATE = '2024-12-31'

		IF @ExecutionDateStart = NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd = NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType

	/*******************************************************************************************************************************************
		2.	Fetch aggregate of retailer earnings within the period
	*******************************************************************************************************************************************/
	
		/*******************************************************************************************************************************************
			2.1.	Fetch all redemptions within the period
		*******************************************************************************************************************************************/

			DECLARE @Start_Redemptions DATE
				,	@End_Redemptions DATE

			SELECT	@Start_Redemptions = DATEADD(DAY, -1, MIN([StartDate]))
				,	@End_Redemptions = DATEADD(DAY, 1, MAX([EndDate]))
			FROM #Dates

			DROP TABLE IF EXISTS #Redemptions
			SELECT	r.[CustomerGUID]
				,	r.[FanID]
				,	r.[RedemptionType]
				,	r.[RedemptionPartnerGUID]
				,	r.[RedemptionOfferGUID]
				,	r.[CashbackUsed]
				,	r.[CashbackEarned]
				,	r.[TransactionGUID]
				,	r.[RedeemedDate]
			INTO #Redemptions
			FROM [Derived].[Redemptions] r
			WHERE EXISTS (	SELECT 1
							FROM #Dates d
							WHERE r.[RedeemedDate] >= d.[StartDate]
							AND r.[RedeemedDate] < DATEADD(DAY, 1, d.[EndDate]))
			AND r.[Cancelled] = 0
			AND r.[RedeemedDate] > @Start_Redemptions
			AND r.[RedeemedDate] < @End_Redemptions
			AND EXISTS (SELECT 1
						FROM [Derived].[Customer] cu
						WHERE r.[CustomerGUID] = cu.[CustomerGUID]
						AND cu.[ClubID] = @PublisherID)
			OPTION(RECOMPILE);
			
			CREATE CLUSTERED INDEX [CIX_TransactionGUID] ON #Redemptions ([TransactionGUID])
			
		/*******************************************************************************************************************************************
			2.2.	Join to Bank Account Type and aggregate
		*******************************************************************************************************************************************/
			
			/*******************************************************************************************************************************************
				2.2.1	Fetch all MatchTrans entries for the redemptions
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #MatchedTransactions
				SELECT	mt.[TransactionGUID]
					,	mt.[AccountGUID]
				INTO #MatchedTransactions
				FROM [WHB].[Inbound_MatchedTransactions] mt
				WHERE EXISTS (	SELECT 1
								FROM #Redemptions r
								WHERE mt.[TransactionGUID] = r.[TransactionGUID])
				OPTION (RECOMPILE);

				CREATE CLUSTERED INDEX [CIX_AccountGUID] ON #MatchedTransactions ([AccountGUID])
			
			/*******************************************************************************************************************************************
				2.2.2	Fetch all Bank Account History for the redemptions
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #BankAccountTypeHistory
				SELECT	[ID] = MIN(bath.[ID])
					,	mt.[TransactionGUID]
					,	bath.[BankAccountProductID]
					,	bath.[StartDate]
					,	[EndDate] = COALESCE(bath.[EndDate], '9999-12-31')
				INTO #BankAccountTypeHistory
				FROM [Derived].[BankAccountTypeHistory] bath
				INNER JOIN #MatchedTransactions mt
					ON bath.[BankAccountGUID] = mt.[AccountGUID]
				WHERE bath.[BankAccountProductID] IN (49, 50, 51, 52, 53, 54, 55, 56)	--	'Savings Account'
				GROUP BY	mt.[TransactionGUID]
						,	bath.[BankAccountProductID]
						,	bath.[StartDate]
						,	COALESCE(bath.[EndDate], '9999-12-31')
				OPTION(RECOMPILE);

				CREATE CLUSTERED INDEX [CIX_AccountGUID] ON #BankAccountTypeHistory ([TransactionGUID], [StartDate], [EndDate])

				DELETE bath
				FROM #BankAccountTypeHistory bath
				INNER JOIN #BankAccountTypeHistory bath2
					ON bath.[TransactionGUID] = bath2.[TransactionGUID]
					AND bath.[EndDate] BETWEEN bath2.[StartDate] AND bath2.[EndDate]
				WHERE bath.[ID] != bath2.[ID]
				OPTION(RECOMPILE);
			
			/*******************************************************************************************************************************************
				2.2.3	Fetch all Bank Account History for the redemptions
			*******************************************************************************************************************************************/
			
				DROP TABLE IF EXISTS #RedemptionsAgg
				SELECT	d.[CalendarDate]
					,	d.[StartDate]
					,	d.[EndDate]
					,	r.[CustomerGUID]
					,	r.[FanID]
					,	r.[RedemptionType]
					,	r.[RedemptionPartnerGUID]
					,	r.[RedemptionOfferGUID]
					,	bath.[BankAccountProductID]
					,	[Redemptions] = COUNT(DISTINCT r.[TransactionGUID])
					,	[CashbackUsed] = SUM(r.[CashbackUsed])
					,	[CashbackEarned] = SUM(r.[CashbackEarned])
					,	[FirstRedemption] = MIN(r.[RedeemedDate])
					,	[LastRedemption] = MAX(r.[RedeemedDate])
				INTO #RedemptionsAgg
				FROM #Redemptions r
				INNER JOIN #Dates d
					ON CONVERT(DATE, r.[RedeemedDate]) BETWEEN d.[StartDate] AND d.[EndDate]
				LEFT JOIN #BankAccountTypeHistory bath
					ON r.[TransactionGUID] = bath.[TransactionGUID]
					AND r.[RedeemedDate] BETWEEN bath.[StartDate] AND bath.[EndDate]
				GROUP BY	d.[CalendarDate]
						,	d.[StartDate]
						,	d.[EndDate]
						,	r.[CustomerGUID]
						,	r.[FanID]
						,	r.[RedemptionType]
						,	r.[RedemptionPartnerGUID]
						,	r.[RedemptionOfferGUID]
						,	bath.[BankAccountProductID]
				OPTION(RECOMPILE);

				CREATE CLUSTERED INDEX [CIX_RedemptionOfferGUID] ON #RedemptionsAgg ([RedemptionOfferGUID])
				CREATE NONCLUSTERED INDEX [IX_CustomerGUID] ON #RedemptionsAgg ([CustomerGUID])

	/*******************************************************************************************************************************************
		3.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Customers
		SELECT	[PublisherID] = cu.[ClubID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
		INTO #Customers
		FROM [Derived].[Customer] cu
		WHERE EXISTS (	SELECT 1
						FROM #RedemptionsAgg ra
						WHERE cu.[CustomerGUID] = ra.[CustomerGUID])
				
		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID])

	/*******************************************************************************************************************************************
		4.	Delete existing data for the period
	*******************************************************************************************************************************************/
	
		DELETE cr
		FROM [WH_AllPublishers].[Report].[Customer_Redemptions] cr
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cr.[CalendarDate] = d.[CalendarDate]
						AND cr.[MonthStart] = d.[StartDate]
						AND cr.[MonthEnd] = d.[EndDate])
		AND cr.[PublisherID] = @PublisherID

	/*******************************************************************************************************************************************
		5.	Load new redemptions for the period
	*******************************************************************************************************************************************/
	
		INSERT INTO [WH_AllPublishers].[Report].[Customer_Redemptions]
		SELECT	ra.[CalendarDate]
			,	ra.[StartDate]
			,	ra.[EndDate]
			,	cu.[PublisherID]
			,	ra.[CustomerGUID]
			,	ra.[FanID]
			,	ra.[RedemptionType]
			,	ra.[RedemptionPartnerGUID]
			,	rp.[PartnerName]
			,	ra.[RedemptionOfferGUID]
			,	ro.[TradeUp_CashbackRequired]
			,	[AccountType] =	CASE
									WHEN ra.[BankAccountProductID] IN (49, 50, 51, 52, 53, 54, 55, 56) THEN 'Savings Account'
									WHEN ra.[RedemptionType] = 'Pay Bank' THEN 'Current Account'
								END
			,	[Redemptions] = SUM(ra.[Redemptions])
			,	[CashbackUsed] = SUM(ra.[CashbackUsed])
			,	[CashbackEarned] = SUM(ra.[CashbackEarned])
			,	[FirstRedemption] = MIN(ra.[FirstRedemption])
			,	[LastRedemption] = MAX(ra.[LastRedemption])
		FROM #RedemptionsAgg ra
		INNER JOIN #Customers cu
			ON ra.[CustomerGUID] = cu.[CustomerGUID]
		LEFT JOIN [Derived].[RedemptionOffers] ro
			ON ra.[RedemptionOfferGUID] = ro.[RedemptionOfferGUID]
		LEFT JOIN [Derived].[RedemptionPartners] rp
			ON ra.[RedemptionPartnerGUID] = rp.[RedemptionPartnerGUID]
		GROUP BY	ra.[CalendarDate]
				,	ra.[StartDate]
				,	ra.[EndDate]
				,	cu.[PublisherID]
				,	ra.[CustomerGUID]
				,	ra.[FanID]
				,	ra.[RedemptionType]
				,	ra.[RedemptionPartnerGUID]
				,	rp.[PartnerName]
				,	ra.[RedemptionOfferGUID]
				,	ro.[TradeUp_CashbackRequired]
				,	CASE
						WHEN ra.[BankAccountProductID] IN (49, 50, 51, 52, 53, 54, 55, 56) THEN 'Savings Account'
						WHEN ra.[RedemptionType] = 'Pay Bank' THEN 'Current Account'
					END

	/*******************************************************************************************************************************************
		6.	Mark as updated
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Redemptions_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] = @PublisherID

END




GO
