USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Customer_MFDD_Household]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [WHB].[Customer_MFDD_Household]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = COALESCE(OBJECT_NAME(@@PROCID), 'Manual')
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	/*******************************************************************************************************************************************
		1.	Fetch all currently active customers and bank accounts they are currently linked to
	*******************************************************************************************************************************************/
		
		DROP TABLE IF EXISTS #BankAccountUsers
		SELECT	cu.[CustomerGUID]
			,	cu.[SourceUID]
			,	cu.[FanID]
			,	bacl.[BankAccountGUID]
			,	[HouseholdID] = DENSE_RANK() OVER (ORDER BY bacl.[BankAccountGUID])
		INTO #BankAccountUsers
		FROM [Derived].[Customer] cu
		INNER JOIN [Derived].[BankAccountCustomerLinks] bacl
			ON cu.[CustomerGUID] = bacl.[CustomerGUID]
			AND (	bacl.[EndDate] IS NULL
				OR	bacl.[EndDate] > DATEADD(DAY, -56, GETDATE())
				)

		SET @RowsAffected = @@ROWCOUNT;

		CREATE CLUSTERED INDEX [CIX_HouseholdSource] ON #BankAccountUsers ([HouseholdID], [SourceUID]) -- 00:00:00
		CREATE INDEX [IX_BankAccountHousehold] ON #BankAccountUsers ([BankAccountGUID], [HouseholdID]) -- 00:00:01

		SET @msg = 'Loaded rows to #BankAccountUsers [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/*******************************************************************************************************************************************
		4. Find the minimum HouseholdID that each customer and then bank is attached to and use this as the customers new HouseholdID,
		   repeat this process until there are no more updates to be made
	*******************************************************************************************************************************************/

		DECLARE	@UpdateNumber INT = 1
			,	@RowCount INT = 1


		WHILE @RowCount > 0
			BEGIN
		
				SET @RowCount = 0

				;WITH
				Updater_SourceUID AS (	SELECT	[CustomerGUID]
								  			,	[BankAccountGUID]
								  			,	[HouseholdID]
								  			,	[MinHouseholdID] = MIN([HouseholdID]) OVER (PARTITION BY [CustomerGUID])
										FROM #BankAccountUsers b)

				UPDATE Updater_SourceUID
				SET [HouseholdID] = [MinHouseholdID]
				WHERE [MinHouseholdID] < [HouseholdID]
			
				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = CONVERT(VARCHAR(2), @UpdateNumber) + ' - SourceUID - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

				SET @RowCount = @RowCount + @RowsAffected
			
				;WITH
				Updater_BankAccountID AS (	SELECT	[CustomerGUID]
								  				,	[BankAccountGUID]
								  				,	[HouseholdID]
								  				,	[MinHouseholdID] = MIN([HouseholdID]) OVER (PARTITION BY [BankAccountGUID])
											FROM #BankAccountUsers b)

				UPDATE Updater_BankAccountID
				SET [HouseholdID] = [MinHouseholdID]
				WHERE [MinHouseholdID] < [HouseholdID]
			
				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = CONVERT(VARCHAR(2), @UpdateNumber) + ' - BankAccountID - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

				SET @RowCount = @RowCount + @RowsAffected

				SET @UpdateNumber = @UpdateNumber + 1

			END

	/*******************************************************************************************************************************************
		4. Rank the remaining household IDs and use the new ranking to give incremental IDs
	*******************************************************************************************************************************************/

		;WITH
		Updater_HouseholdID AS (SELECT	[FanID]
									,	[SourceUID]
									,	[BankAccountGUID]
									,	[HouseholdID]
									,	[RankedHouseholdID] = DENSE_RANK() OVER (ORDER BY [HouseholdID])
								FROM #BankAccountUsers b)

		UPDATE Updater_HouseholdID
		SET [HouseholdID] = [RankedHouseholdID]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Household IDs reordered - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/*******************************************************************************************************************************************
		5. Insert the results into a holding table
	*******************************************************************************************************************************************/

		TRUNCATE TABLE [WHB].[MFDD_Households]
		INSERT INTO [WHB].[MFDD_Households] (	[FanID]
											,	[SourceUID]
											,	[BankAccountGUID]
											,	[HouseholdID])
		SELECT	[FanID]
			,	[SourceUID]
			,	[BankAccountGUID]
			,	[HouseholdID]
		FROM #BankAccountUsers
		ORDER BY	[SourceUID]
			
		SET @RowsAffected = @@ROWCOUNT;
		SET @msg = 'Loaded to [WHB].[MFDD_Households] - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	/*******************************************************************************************************************************************
		6. Update and insert to live table
	*******************************************************************************************************************************************/

		DECLARE @Date DATE = GETDATE()

		/***********************************************************************************************************************
			6.1. Update EndDate for customers that are no longer active
		***********************************************************************************************************************/

			--	EndDate customers no longer attached to a bank account

				UPDATE mf
				SET mf.[EndDate] = @Date
				FROM [Derived].[MFDD_Households] mf
				WHERE mf.[EndDate] IS NULL
				AND NOT EXISTS (SELECT 1
								FROM [WHB].[MFDD_Households] mf_n
								WHERE mf.[BankAccountGUID] = mf_n.[BankAccountGUID]
								AND mf.[FanID] = mf_n.[FanID])

				SET @RowsAffected = @@ROWCOUNT;

			--	EndDate customers no longer attached to any bank account

				UPDATE mf
				SET mf.[EndDate] = @Date
				FROM [Derived].[MFDD_Households] mf
				WHERE mf.[EndDate] IS NULL
				AND NOT EXISTS (SELECT 1
								FROM [WHB].[MFDD_Households] mf_n
								WHERE mf.[FanID] = mf_n.[FanID])

				SET @RowsAffected = @RowsAffected + @@ROWCOUNT;

			--	EndDate bank accounts no longer attached to any customer

				UPDATE mf
				SET mf.[EndDate] = @Date
				FROM [Derived].[MFDD_Households] mf
				WHERE mf.[EndDate] IS NULL
				AND NOT EXISTS (SELECT 1
								FROM [WHB].[MFDD_Households] mf_n
								WHERE mf.[BankAccountGUID] = mf_n.[BankAccountGUID])

				SET @RowsAffected = @RowsAffected + @@ROWCOUNT;
			
				SET @msg = 'Ended closed entries from [Derived].[MFDD_Households] - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***********************************************************************************************************************
			6.2. Find new customers
		***********************************************************************************************************************/	
	
			-- Find new bank accounts & customers

				;WITH
				NewEntries AS  (SELECT	[ID]
									,	[FanID]
									,	[SourceUID]
									,	[BankAccountGUID]
									,	[HouseholdID]
									,	[NewHouseholdID] = DENSE_RANK() OVER (ORDER BY [HouseholdID]) + (SELECT COALESCE(MAX([HouseholdID]), 0) FROM [Derived].[MFDD_Households])
								FROM [WHB].[MFDD_Households] mf_n
								WHERE NOT EXISTS (SELECT 1
												  FROM [Derived].[MFDD_Households] mf
												  WHERE mf.[BankAccountGUID] = mf_n.[BankAccountGUID]
												  AND mf.[FanID] = mf_n.[FanID]
												  AND mf.[EndDate] IS NULL))

				INSERT INTO [Derived].[MFDD_Households] (	[FanID]
														,	[SourceUID]
														,	[BankAccountGUID]
														,	[HouseholdID]
														,	[StartDate]
														,	EndDate)
				SELECT	[FanID]
					 ,	[SourceUID]
					 ,	[BankAccountGUID]
					 ,	[NewHouseholdID]
					 ,	[StartDate] = @Date
					 ,	[EndDate] = NULL
				FROM NewEntries

				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = 'Inserted new entries [Derived].[MFDD_Households] - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***********************************************************************************************************************
			6.3. Find households that have split in two
		***********************************************************************************************************************/

			--	Find households that have split

				DROP TABLE IF EXISTS #Split
				SELECT	[ID] = CONVERT(INT, m.[ID])
					,	m.[FanID]
					,	m.[SourceUID]
					,	m.[BankAccountGUID]
					,	m.[HouseholdID]
					,	m.[StartDate]
					,	m.[EndDate]
				INTO #Split
				FROM [Derived].[MFDD_Households] m
				WHERE EXISTS (	SELECT mf.[HouseholdID]
								FROM [Derived].[MFDD_Households] mf
								INNER JOIN [WHB].[MFDD_Households] mf_n
						  			ON mf.[BankAccountGUID] = mf_n.[BankAccountGUID]
								WHERE mf.[EndDate] IS NULL
								AND m.[HouseholdID] = mf.[HouseholdID]
								GROUP BY mf.[HouseholdID]
								HAVING COUNT(DISTINCT mf_n.[HouseholdID]) > 1)
							
				INSERT INTO #Split
				SELECT	m.[ID]
					,	m.[FanID]
					,	m.[SourceUID]
					,	m.[BankAccountGUID]
					,	m.[HouseholdID]
					,	m.[StartDate]
					,	m.[EndDate]
				FROM [Derived].[MFDD_Households] m
				WHERE EXISTS (	SELECT mf.[HouseholdID]
								FROM [Derived].[MFDD_Households] mf
								INNER JOIN [WHB].[MFDD_Households] mf_n
						  			ON mf.[FanID] = mf_n.[FanID]
								WHERE mf.[EndDate] IS NULL
								AND m.[HouseholdID] = mf.[HouseholdID]
								GROUP BY mf.[HouseholdID]
								HAVING COUNT(DISTINCT mf_n.[HouseholdID]) > 1)
				AND NOT EXISTS (SELECT 1
								FROM #Split s
								WHERE m.[ID] = s.[ID])

				DROP TABLE IF EXISTS #Split_NewFile
				SELECT	mf_n.[ID]
					,	mf_n.[FanID]
					,	mf_n.[SourceUID]
					,	mf_n.[BankAccountGUID]
					,	mf_n.[HouseholdID]
				INTO #Split_NewFile
				FROM [WHB].[MFDD_Households] mf_n
				WHERE EXISTS (SELECT 1
							  FROM #Split sp
							  WHERE mf_n.[BankAccountGUID] = sp.[BankAccountGUID])
				UNION
				SELECT	mf_n.[ID]
					,	mf_n.[FanID]
					,	mf_n.[SourceUID]
					,	mf_n.[BankAccountGUID]
					,	mf_n.[HouseholdID]
				FROM [WHB].[MFDD_Households] mf_n
				WHERE EXISTS (SELECT 1
							  FROM #Split sp
							  WHERE mf_n.[FanID] = sp.[FanID])

				DROP TABLE IF EXISTS #SplitComparison
				SELECT	mf.[ID]
					,	mf.[HouseholdID]
					,	mf.[BankAccountGUID]
					,	mf.[FanID]
					,	mf.[StartDate]
					,	mf.[EndDate]
					,	[ID_New] = mf_n.[ID]
					,	[HouseholdID_New] = mf_n.[HouseholdID]
					,	[BankAccountGUID_New] = mf_n.[BankAccountGUID]
					,	[FanID_New] = mf_n.[FanID]
					,	[MinHouseholdID_New] = MIN(mf_n.[HouseholdID]) OVER (PARTITION BY mf.[HouseholdID])
				INTO #SplitComparison
				FROM #Split mf
				INNER JOIN #Split_NewFile mf_n
					ON mf.[FanID] = mf_n.[FanID]
					OR mf.[BankAccountGUID] = mf_n.[BankAccountGUID]
				WHERE mf.[EndDate] IS NULL

				UPDATE mf
				SET mf.[EndDate] = @Date
				FROM [Derived].[MFDD_Households] mf
				WHERE EXISTS (SELECT 1
							  FROM #SplitComparison sc
							  WHERE [HouseholdID_New] != [MinHouseholdID_New]
							  AND mf.[ID] = sc.[ID])

				;WITH
				NewEntries AS  (SELECT	mf.[ID]
									,	mf.[FanID]
									,	mf.[SourceUID]
									,	mf.[BankAccountGUID]
									,	mf.[HouseholdID]
									,	[NewHouseholdID] = DENSE_RANK() OVER (ORDER BY [HouseholdID]) + (SELECT COALESCE(MAX([HouseholdID]), 0) FROM [Derived].[MFDD_Households])
								FROM [WHB].[MFDD_Households] mf
								WHERE EXISTS (SELECT 1
											  FROM #SplitComparison sc
											  WHERE [HouseholdID_New] != [MinHouseholdID_New]
											  AND mf.[ID] = sc.[ID]))

				INSERT INTO [Derived].[MFDD_Households] (	[FanID]
														,	[SourceUID]
														,	[BankAccountGUID]
														,	[HouseholdID]
														,	[StartDate]
														,	[EndDate])
				SELECT	[FanID]
					,	[SourceUID]
					,	[BankAccountGUID]
					,	[HouseholdID] = [NewHouseholdID]
					,	[StartDate] = @Date
					,	[EndDate] = NULL
				FROM NewEntries

				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = 'Updated entries households that have split [Derived].[MFDD_Households] - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***********************************************************************************************************************
			6.4. Find households that have merged
		***********************************************************************************************************************/

			--	Find households that have merged
	
				DROP TABLE IF EXISTS #Merge_NewFile
				SELECT	mf.[ID]
					,	mf.[FanID]
					,	mf.[SourceUID]
					,	mf.[BankAccountGUID]
					,	mf.[HouseholdID]
				INTO #Merge_NewFile
				FROM [WHB].[MFDD_Households] mf
				WHERE [HouseholdID] IN (SELECT mf_n.[HouseholdID]
									  FROM [Derived].[MFDD_Households] mf
									  INNER JOIN [WHB].[MFDD_Households] mf_n
						  				  ON mf.[BankAccountGUID] = mf_n.[BankAccountGUID]
									  WHERE mf.[EndDate] IS NULL
									  GROUP BY mf_n.[HouseholdID]
									  HAVING COUNT(DISTINCT mf.[HouseholdID]) > 1
									  UNION
									  SELECT mf_n.[HouseholdID]
									  FROM [Derived].[MFDD_Households] mf
									  INNER JOIN [WHB].[MFDD_Households] mf_n
						  				  ON mf.[FanID] = mf_n.[FanID]
									  WHERE mf.[EndDate] IS NULL
									  GROUP BY mf_n.[HouseholdID]
									  HAVING COUNT(DISTINCT mf.[HouseholdID]) > 1)
								  
				DROP TABLE IF EXISTS #Merge
				SELECT	mf_n.[ID]
					,	mf_n.[FanID]
					,	mf_n.[SourceUID]
					,	mf_n.[BankAccountGUID]
					,	mf_n.[HouseholdID]
					,	mf_n.[StartDate]
					,	mf_n.[EndDate]
				INTO #Merge
				FROM [Derived].[MFDD_Households] mf_n
				WHERE EXISTS (SELECT 1
							  FROM #Merge_NewFile sp
							  WHERE mf_n.[BankAccountGUID] = sp.[BankAccountGUID])
				UNION
				SELECT	mf_n.[ID]
					,	mf_n.[FanID]
					,	mf_n.[SourceUID]
					,	mf_n.[BankAccountGUID]
					,	mf_n.[HouseholdID]
					,	mf_n.[StartDate]
					,	mf_n.[EndDate]
				FROM [Derived].[MFDD_Households] mf_n
				WHERE EXISTS (SELECT 1
							  FROM #Merge_NewFile sp
							  WHERE mf_n.[FanID] = sp.[FanID])

				DROP TABLE IF EXISTS #MergeComparison
				SELECT	mf.[ID]
					,	mf.[HouseholdID]
					,	mf.[BankAccountGUID]
					,	mf.[FanID]
					,	mf.[SourceUID]
					,	mf.[StartDate]
					,	mf.[EndDate]
					,	mf.[ID_New]
					,	mf.[HouseholdID_New]
					,	mf.[BankAccountGUID_New]
					,	mf.[FanID_New]
					,	[MinHouseholdID_New] = MIN(mf.[HouseholdID]) OVER (PARTITION BY mf.[HouseholdID_New])
				INTO #MergeComparison
				FROM (	SELECT	mf.[ID]
							,	mf.[HouseholdID]
							,	mf.[BankAccountGUID]
							,	mf.[FanID]
							,	mf.[SourceUID]
							,	mf.[StartDate]
							,	mf.[EndDate]
							,	[ID_New] = mf_n.[ID]
							,	[HouseholdID_New] = mf_n.[HouseholdID]
							,	[BankAccountGUID_New] = mf_n.[BankAccountGUID]
							,	[FanID_New] = mf_n.[FanID]
						FROM #Merge mf
						INNER JOIN #Merge_NewFile mf_n
							ON mf.[FanID] = mf_n.[FanID]
						WHERE mf.[EndDate] IS NULL
						UNION
						SELECT	mf.[ID]
							,	mf.[HouseholdID]
							,	mf.[BankAccountGUID]
							,	mf.[FanID]
							,	mf.[SourceUID]
							,	mf.[StartDate]
							,	mf.[EndDate]
							,	[ID_New] = mf_n.[ID]
							,	[HouseholdID_New] = mf_n.[HouseholdID]
							,	[BankAccountGUID_New] = mf_n.[BankAccountGUID]
							,	[FanID_New] = mf_n.[FanID]
						FROM #Merge mf
						INNER JOIN #Merge_NewFile mf_n
							ON mf.[BankAccountGUID] = mf_n.[BankAccountGUID]
						WHERE mf.[EndDate] IS NULL) mf
	
				UPDATE mf
				SET mf.[EndDate] = @Date
				FROM [Derived].[MFDD_Households] mf
				WHERE EXISTS (SELECT 1
							  FROM #MergeComparison mc
							  WHERE [HouseholdID] != [MinHouseholdID_New]
							  AND mf.[ID] = mc.[ID])

				INSERT INTO [Derived].[MFDD_Households] (	[FanID]
														,	[SourceUID]
														,	[BankAccountGUID]
														,	[HouseholdID]
														,	[StartDate]
														,	[EndDate])
				SELECT	DISTINCT
						[FanID]
					,	[SourceUID]
					,	[BankAccountGUID]
					,	[MinHouseholdID_New]
					,	[StartDate] = @Date
					,	[EndDate] = NULL
				FROM #MergeComparison
				WHERE [HouseholdID] != [MinHouseholdID_New]

				SET @RowsAffected = @@ROWCOUNT;
				SET @msg = 'Updated entries households that have joined [Derived].[MFDD_Households] - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		/***********************************************************************************************************************
			6.5. Remove entries that have been added and then immediately merged today
		***********************************************************************************************************************/

			DELETE
			FROM [Derived].[MFDD_Households]
			WHERE [StartDate] = [EndDate]
			AND [StartDate] IS NOT NULL

			SET @RowsAffected = @@ROWCOUNT;
			SET @msg = 'Remove entries where the Start Date matches the EndDate [Derived].[MFDD_Households] - [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
