USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[AllPublishers_Customer_Balances]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[AllPublishers_Customer_Balances]	@ExecutionType VARCHAR(50) = 'Day'
													,	@ExecutionDateStart DATE = NULL
													,	@ExecutionDateEnd DATE = NULL
													,	@PublisherID INT = 132
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = GETDATE(), @ExecutionDateEnd DATE = GETDATE()
	--	DECLARE @ExecutionType VARCHAR(10) = 'Year', @ExecutionDateStart DATE = '2024-01-01', @ExecutionDateEnd DATE = '2024-12-31'
	--	DECLARE @ExecutionType VARCHAR(10) = 'Quarter', @ExecutionDateStart DATE = '2025-01-01', @ExecutionDateEnd DATE = '2025-03-31'

		IF @ExecutionDateStart IS NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd IS NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType

	/*******************************************************************************************************************************************
		2.	Fetch Cashback Balances within the period
	*******************************************************************************************************************************************/
	
		DECLARE @Date_Balance DATE

		SELECT @Date_Balance = MAX([CalendarDate])
		FROM #Dates

		DROP TABLE IF EXISTS #CashbackBalances
		SELECT	cb.[CustomerGUID]
			,	cb.[CashbackPending]
			,	cb.[CashbackAvailable]
			,	cb.[CashbackLTV]
			,	cb.[StartDate]
			,	[EndDate] = COALESCE(cb.[EndDate], '9999-12-31')
		INTO #CashbackBalances
		FROM [Derived].[Customer_CashbackBalances] cb
		WHERE @Date_Balance >= cb.[StartDate]
		AND (@Date_Balance <= cb.[EndDate] OR cb.[EndDate] IS NULL)
		AND EXISTS (SELECT 1
					FROM [Derived].[Customer] cu
					WHERE cb.[CustomerGUID] = cu.[CustomerGUID]
					AND cu.[ClubID] = @PublisherID)

		CREATE CLUSTERED INDEX [CIX_CustomerGUID_Dates] ON #CashbackBalances ([CustomerGUID], [StartDate], [EndDate])

	/*******************************************************************************************************************************************
		3.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Customers
		SELECT	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
			,	[PublisherID] = cu.[ClubID]
			,	cb.[CustomerGUID]
			,	cu.[FanID]
			,	cb.[CashbackPending]
			,	cb.[CashbackAvailable]
			,	cb.[CashbackLTV]
		INTO #Customers
		FROM #CashbackBalances cb
		INNER JOIN [Derived].[Customer] cu
			ON cb.[CustomerGUID] = cu.[CustomerGUID]
		CROSS JOIN #Dates d
		WHERE cu.[ClubID] = @PublisherID

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID])

	/*******************************************************************************************************************************************
		4.	Compare to end table to fetch delta to load
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #PublisherIDs
		SELECT	DISTINCT
				[PublisherID]
		INTO #PublisherIDs
		FROM #Customers

		CREATE CLUSTERED INDEX [CIX_PublisherID] ON #PublisherIDs ([PublisherID])
	
		DROP TABLE IF EXISTS #Customers_Diff;
		WITH
		Customer_Balances AS (	SELECT	cb.[CalendarDate]
									,	cb.[MonthStart]
									,	cb.[MonthEnd]
									,	cb.[PublisherID]
									,	cb.[CustomerGUID]
									,	cb.[FanID]
									,	cb.[CashbackPending]
									,	cb.[CashbackAvailable]
									,	cb.[CashbackLTV]
								FROM [WH_AllPublishers].[Report].[Customer_Balances] cb
								WHERE EXISTS (	SELECT 1
												FROM #Dates d
												WHERE cb.[CalendarDate] = d.[CalendarDate]
												AND cb.[MonthStart] = d.[StartDate]
												AND cb.[MonthEnd] = d.[EndDate])
								AND cb.[PublisherID] = @PublisherID)
		SELECT	cu.[CalendarDate]
			,	cu.[StartDate]
			,	cu.[EndDate]
			,	cu.[PublisherID]
			,	cu.[CustomerGUID]
			,	cu.[FanID]
			,	cu.[CashbackPending]
			,	cu.[CashbackAvailable]
			,	cu.[CashbackLTV]
		INTO #Customers_Diff
		FROM #Customers cu
		EXCEPT
		SELECT	cb.[CalendarDate]
			,	cb.[MonthStart]
			,	cb.[MonthEnd]
			,	cb.[PublisherID]
			,	cb.[CustomerGUID]
			,	cb.[FanID]
			,	cb.[CashbackPending]
			,	cb.[CashbackAvailable]
			,	cb.[CashbackLTV]
		FROM Customer_Balances cb

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers_Diff ([CustomerGUID])

	/*******************************************************************************************************************************************
		5.	Delete existing data for the period
	*******************************************************************************************************************************************/
		
		DELETE cb
		FROM [WH_AllPublishers].[Report].[Customer_Balances] cb
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cb.[CalendarDate] = d.[CalendarDate]
						AND cb.[MonthStart] = d.[StartDate]
						AND cb.[MonthEnd] = d.[EndDate])
		AND EXISTS (	SELECT 1
						FROM #Customers_Diff cd
						WHERE cb.[CustomerGUID] = cd.[CustomerGUID])
		AND cb.[PublisherID] = @PublisherID

	/*******************************************************************************************************************************************
		6.	Load new balances for the period
	*******************************************************************************************************************************************/
	
		INSERT INTO [WH_AllPublishers].[Report].[Customer_Balances] (	[CalendarDate]
																	,	[MonthStart]
																	,	[MonthEnd]
																	,	[PublisherID]
																	,	[CustomerGUID]
																	,	[FanID]
																	,	[CashbackPending]
																	,	[CashbackAvailable]
																	,	[CashbackLTV])
		SELECT	cd.[CalendarDate]
			,	cd.[StartDate]
			,	cd.[EndDate]
			,	cd.[PublisherID]
			,	cd.[CustomerGUID]
			,	cd.[FanID]
			,	cd.[CashbackPending]
			,	cd.[CashbackAvailable]
			,	cd.[CashbackLTV]
		FROM #Customers_Diff cd

	/*******************************************************************************************************************************************
		6.	Mark as updated
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Balances_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] = @PublisherID

END

GO
