USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[BankAccounts_BankAccountTypeHistory]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[BankAccounts_BankAccountTypeHistory]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
	
		/*******************************************************************************************************************************************
			1.	Populate the [BankAccountTypeHistory] table
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #Inbound_BankAccountTypeHistory
			SELECT	DISTINCT
					bath.[BankAccountGUID]
				,	bath.[BankAccountTypeID]
				,	bath.[BankAccountProductID]
				,	bath.[BankAccountSubProductID]
				,	bath.[StartDate]
				,	bath.[EndDate]
			INTO #Inbound_BankAccountTypeHistory
			FROM [WHB].[Inbound_BankAccountTypeHistory] bath
			WHERE bath.[LoadDate] > DATEADD(WEEK, -1, GETDATE())

			CREATE CLUSTERED INDEX [CIX_BankStart] ON #Inbound_BankAccountTypeHistory ([BankAccountGUID], [StartDate])
			
			MERGE [Derived].[BankAccountTypeHistory] target									-- Destination table
			USING #Inbound_BankAccountTypeHistory source									-- Source table
			ON target.[BankAccountGUID] = source.[BankAccountGUID]							-- Match criteria
			AND target.[StartDate] = source.[StartDate]										-- Match criteria

			WHEN MATCHED THEN																-- If matched, update to new value
				UPDATE SET	target.[BankAccountTypeID] = source.[BankAccountTypeID]
						,	target.[BankAccountProductID] = source.[BankAccountProductID]
						,	target.[BankAccountSubProductID] = source.[BankAccountSubProductID]
						,	target.[EndDate] = source.[EndDate]

			WHEN NOT MATCHED THEN															-- If not matched, add new rows
				INSERT ([BankAccountGUID]
					,	[BankAccountTypeID]
					,	[BankAccountProductID]
					,	[BankAccountSubProductID]
					,	[StartDate]
					,	[EndDate])
				VALUES (source.[BankAccountGUID]
					,	source.[BankAccountTypeID]
					,	source.[BankAccountProductID]
					,	source.[BankAccountSubProductID]
					,	source.[StartDate]
					,	source.[EndDate]);
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
