USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Customer_GoodwillAdjustments]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
--	Author:			Rory Francis
--	Create date:	Jan 1st 2021
--	Description:	Fetch the latest Goodwill data
					
--	Updates:		

-- =============================================

CREATE PROCEDURE [WHB].[Customer_GoodwillAdjustments] @RunDate DATE = NULL

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1. Fetch all events that have occured since the last run
		*******************************************************************************************************************************************/
		
		--	DECLARE @RunDate DATE = GETDATE()

			DROP TABLE IF EXISTS #GoodwillData
			SELECT	[CustomerGUID] = cm.[CustomerGUID]
				,	[OriginalCustomerGUID] = td.[CustomerGUID]
				,	[FanID] = cu.[CustomerID]
				,	[GoodwillAmount] = td.[GoodwillAmount]
				,	[GoodwillDateTime] = td.[GoodwillDateTime]
				,	[GoodwillType] =	CASE
										WHEN td.[GoodwillAmount] < 0 THEN 'Reduction'
										ELSE 'Addition'
									END
				,	[AddedDate] = td.[LoadDate]
			INTO #GoodwillData
			FROM [WHB].[Inbound_Goodwill] td
			INNER JOIN [Derived].[CustomerMerges] cm
				ON td.[CustomerGUID] = cm.[OriginalCustomerGUID]
				AND cm.[EndDate] IS NULL
			INNER JOIN [WHB].[Inbound_Customers] cu
				ON cm.[CustomerGUID] = cu.[CustomerGUID]
			WHERE CONVERT(DATE, td.[GoodwillDateTime]) <= @RunDate

			CREATE CLUSTERED INDEX CIX_GoodwillDateTime ON #GoodwillData (GoodwillDateTime)
			
		/*******************************************************************************************************************************************
			3. Insert all GoodwillTypes that do not currently exist in [Derived].[GoodwillTypes]
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[GoodwillTypes]
			SELECT	DISTINCT
					[GoodwillType]
			FROM #GoodwillData gwd
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[GoodwillTypes] gwt
								WHERE gwd.[GoodwillType] = gwt.[GoodwillType])

		/*******************************************************************************************************************************************
			4. Update events for merged customers
		*******************************************************************************************************************************************/
					
			UPDATE bag
			SET bag.[CustomerGUID] = cm.[CustomerGUID]
			,	bag.[FanID] = cu.[CustomerID]
			FROM [Derived].[BalanceAdjustments_Goodwill] bag
			INNER JOIN [Derived].[CustomerMerges] cm
				ON bag.[CustomerGUID] = cm.[OriginalCustomerGUID]
				AND cm.[EndDate] IS NULL
			INNER JOIN [WHB].[Inbound_Customers] cu
				ON cm.[CustomerGUID] = cu.[CustomerGUID]
			WHERE bag.[CustomerGUID] != cm.[CustomerGUID]

		/*******************************************************************************************************************************************
			5. Insert all events that do not currently exist in [Derived].[AppLogins]
		*******************************************************************************************************************************************/
		
			INSERT INTO [Derived].[BalanceAdjustments_Goodwill] (	[CustomerGUID]
																,	[FanID]
																,	[GoodwillAmount]
																,	[GoodwillDateTime]
																,	[GoodwillTypeID]
																,	[AddedDate])
			SELECT	[CustomerGUID] = gwd.[CustomerGUID]
				,	[FanID] = gwd.[FanID]
				,	[GoodwillAmount] = gwd.[GoodwillAmount]
				,	[GoodwillDateTime] = gwd.[GoodwillDateTime]
				,	[GoodwillTypeID] = gwt.[GoodwillTypeID]
				,	[AddedDate] = MIN(gwd.[AddedDate])
			FROM #GoodwillData gwd
			INNER JOIN [Derived].[GoodwillTypes] gwt
				ON gwd.GoodwillType = gwt.GoodwillType
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[BalanceAdjustments_Goodwill] bag
								WHERE gwd.[CustomerGUID] = bag.[CustomerGUID]
								AND gwd.[GoodwillAmount] = bag.[GoodwillAmount]
								AND gwd.[GoodwillDateTime] = bag.[GoodwillDateTime])
			GROUP BY	gwd.[CustomerGUID]
					,	gwd.[OriginalCustomerGUID]
					,	gwd.[FanID]
					,	gwd.[GoodwillAmount]
					,	gwd.[GoodwillDateTime]
					,	gwt.[GoodwillTypeID]
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
