USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_SubscriptionGroups_Refresh]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_CustomerPush_SubscriptionGroups_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DROP TABLE IF EXISTS #MarketableStatus;
	SELECT	mbe.[CustomerGUID]
		,	[Flag] = 'MarketableByEmail'
		,	[Value] = mbe.[MarketableByEmail]
		,	mbe.[StartDate]
		,	mbe.[EndDate]
	INTO #MarketableStatus
	FROM (	SELECT	mbe.[CustomerGUID]
				,	mbe.[MarketableByEmail]
				,	mbe.[StartDate]
				,	mbe.[EndDate]
				,	[StatusRank] = ROW_NUMBER() OVER (PARTITION BY mbe.[CustomerGUID], mbe.[MarketableByEmail] ORDER BY mbe.[StartDate] DESC)
			FROM [Derived].[Customer_MarketableByEmailStatus_MarketableByEmail] mbe
			INNER JOIN [WHB].[Braze_CustomerPush] bclc
				ON mbe.[CustomerGUID] = bclc.[CustomerGUID]) mbe
	WHERE mbe.[StatusRank] = 1;

	INSERT INTO #MarketableStatus
	SELECT	mbe.[CustomerGUID]
		,	[Flag] = 'MarketableByPush'
		,	[Value] = mbe.[MarketableByPush]
		,	mbe.[StartDate]
		,	mbe.[EndDate]
	FROM (	SELECT	mbe.[CustomerGUID]
				,	mbe.[MarketableByPush]
				,	mbe.[StartDate]
				,	mbe.[EndDate]
				,	[StatusRank] = ROW_NUMBER() OVER (PARTITION BY mbe.[CustomerGUID], mbe.[MarketableByPush] ORDER BY mbe.[StartDate] DESC)
			FROM [Derived].[Customer_MarketableByEmailStatus_MarketableByPush] mbe
			INNER JOIN [WHB].[Braze_CustomerPush] bclc
				ON mbe.[CustomerGUID] = bclc.[CustomerGUID]) mbe
	WHERE mbe.[StatusRank] = 1;
	
	CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #MarketableStatus ([CustomerGUID], [Flag], [Value])

	MERGE [WHB].[Braze_CustomerPush_SubscriptionGroups] TGT
	USING #MarketableStatus SRC
		ON TGT.[CustomerGUID] = SRC.[CustomerGUID]
		AND TGT.[Flag] = SRC.[Flag]
		AND TGT.[Value] = SRC.[Value]

	WHEN MATCHED
		AND TGT.[StartDate] != SRC.[StartDate]
	THEN UPDATE
		SET	TGT.[StartDate] = SRC.[StartDate]
		,	TGT.[EndDate] = SRC.[EndDate]
		,	TGT.[ModifiedDate] = GETDATE()
		,	TGT.[LastPushedToBraze] = NULL

	WHEN NOT MATCHED
		THEN INSERT (	[CustomerGUID]
					,	[Flag]
					,	[Value]
					,	[StartDate]
					,	[EndDate]
					,	[ModifiedDate]
					,	[LastPushedToBraze])
		VALUES (SRC.[CustomerGUID]
			,	SRC.[Flag]
			,	SRC.[Value]
			,	SRC.[StartDate]
			,	SRC.[EndDate]
			,	GETDATE()	--	[ModifiedDate]
			,	NULL);		--	[LastPushedToBraze]

END

RETURN 0
GO
