USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_PartnerCommissionRule]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
CREATE PROCEDURE [WHB].[PartnersOffers_PartnerCommissionRule]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Reload PartnerCommissionRule Data
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #PartnerCommissionRule_Inbound
			SELECT	DISTINCT
					[PCR_ID] = NULL
				,	[OfferDetailGUID] = iofd.[OfferDetailGUID]
				,	oi.[PartnerID]
				,	[TypeID] = 1	--	Marketing
				,	[RewardType] =	CASE
										WHEN iofd.[IsBounty] = 0 THEN 'Percentage'
										ELSE 'Bounty'
									END
				,	[CommissionRate] = iofd.[MarketingRate]
				,	iofd.[Override]
				,	[Status] = iof.[OfferStatusID]
				,	[Priority] = iof.[PrioritisationScore]
				,	[DeletionDate] = NULL
				,	[MaximumUsesPerFan] = NULL
				,	[NumberofPriorTransactions] = NULL
				,	[MinimumBasketSize] =	CASE
												WHEN iofd.[MinimumSpendAmount] = 0.00 AND iofd.[MaximumSpendAmount] = 0.00 THEN NULL
												ELSE iofd.[MinimumSpendAmount]
											END
				,	[MaximumBasketSize] =	CASE
												WHEN iofd.[MinimumSpendAmount] = 0.00 AND iofd.[MaximumSpendAmount] = 0.00 THEN NULL
												ELSE iofd.[MaximumSpendAmount]
											END
				,	[Channel] = iof.[OfferChannelID]
				,	[ClubID] = oi.[PublisherID]
				,	oi.[IronOfferID]
				,	[OutletID] = NULL
				,	[CardHolderPresence] = NULL
				,	iofd.[OfferCap]
				,	[TimeOfDayOffer] =	CASE
											WHEN iofd.[BoostedStartTime] IS NOT NULL THEN 1
											ELSE 0
										END
				,	iofd.[BoostedStartTime]
				,	iofd.[BoostedEndTime]
				,	[BoostedWeekdays] =	STUFF(	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Sunday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Monday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Tuesday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Wednesday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Thursday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Friday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Saturday]), '0') 
											, 1, 0, '')
			INTO #PartnerCommissionRule_Inbound
			FROM [WHB].[Inbound_Offer] iof
			INNER JOIN [WHB].[Inbound_OfferDetail] iofd
				ON iof.[OfferGUID] = iofd.[OfferGUID]
			INNER JOIN [WH_AllPublishers].[Derived].[OfferIDs] oi
				ON CONVERT(VARCHAR(64), iof.[OfferGUID]) = oi.[OfferCode]
			WHERE EXISTS (	SELECT 1
							FROM [Derived].[IronOffer] iof
							WHERE oi.[IronOfferID] = oi.[IronOfferID])
			AND oi.[PartnerID] != 5033

			INSERT INTO #PartnerCommissionRule_Inbound
			SELECT	DISTINCT
					[PCR_ID] = NULL
				,	[OfferDetailGUID] = iofd.[OfferDetailGUID]
				,	oi.[PartnerID]
				,	[TypeID] = 2	--	Billing
				,	[RewardType] =	CASE
										WHEN iofd.[IsBounty] = 0 THEN 'Percentage'
										ELSE 'Bounty'
									END
				,	[CommissionRate] = iofd.[BillingRate]
				,	iofd.[Override]
				,	[Status] = iof.[OfferStatusID]
				,	[Priority] = iof.[PrioritisationScore]
				,	[DeletionDate] = NULL
				,	[MaximumUsesPerFan] = NULL
				,	[NumberofPriorTransactions] = NULL
				,	[MinimumBasketSize] =	CASE
												WHEN iofd.[MinimumSpendAmount] = 0.00 AND iofd.[MaximumSpendAmount] = 0.00 THEN NULL
												ELSE iofd.[MinimumSpendAmount]
											END
				,	[MaximumBasketSize] =	CASE
												WHEN iofd.[MinimumSpendAmount] = 0.00 AND iofd.[MaximumSpendAmount] = 0.00 THEN NULL
												ELSE iofd.[MaximumSpendAmount]
											END
				,	[Channel] = iof.[OfferChannelID]
				,	[ClubID] = oi.[PublisherID]
				,	oi.[IronOfferID]
				,	[OutletID] = NULL
				,	[CardHolderPresence] = NULL
				,	iofd.[OfferCap]
				,	[TimeOfDayOffer] =	CASE
											WHEN iofd.[BoostedStartTime] IS NOT NULL THEN 1
											ELSE 0
										END
				,	iofd.[BoostedStartTime]
				,	iofd.[BoostedStartTime]
				,	[BoostedWeekdays] =	STUFF(	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Sunday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Monday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Tuesday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Wednesday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Thursday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Friday]), '0')
											+	ISNULL('' + CONVERT(VARCHAR(1), iofd.[Saturday]), '0') 
											, 1, 0, '')
			FROM [WHB].[Inbound_Offer] iof
			INNER JOIN [WHB].[Inbound_OfferDetail] iofd
				ON iof.[OfferGUID] = iofd.[OfferGUID]
			INNER JOIN [WH_AllPublishers].[Derived].[OfferIDs] oi
				ON CONVERT(VARCHAR(64), iof.[OfferGUID]) = oi.[OfferCode]
			WHERE EXISTS (	SELECT 1
							FROM [Derived].[IronOffer] iof
							WHERE oi.[IronOfferID] = oi.[IronOfferID])
			AND oi.[PartnerID] != 5033

			MERGE [Derived].[IronOffer_PartnerCommissionRule] target		-- Destination table
			USING #PartnerCommissionRule_Inbound source								-- Source table
				ON target.[OfferDetailGUID] = source.[OfferDetailGUID]				-- Match criteria
				AND target.[TypeID] = source.[TypeID]
				AND target.[ClubID] = source.[ClubID]				

				-- Match criteria

			WHEN MATCHED THEN
				UPDATE SET	target.[OfferDetailGUID]			= source.[OfferDetailGUID]				-- If matched, update to new value
						,	target.[PartnerID]					= source.[PartnerID]					-- If matched, update to new value
						,	target.[TypeID]						= source.[TypeID]						-- If matched, update to new value
						,	target.[RewardType]					= source.[RewardType]					-- If matched, update to new value
						,	target.[CommissionRate]				= source.[CommissionRate]				-- If matched, update to new value
						,	target.[Status]						= source.[Status]						-- If matched, update to new value
						,	target.[Override]					= source.[Override]						-- If matched, update to new value
						,	target.[Priority]					= source.[Priority]						-- If matched, update to new value
						,	target.[DeletionDate]				= source.[DeletionDate]					-- If matched, update to new value
						,	target.[MaximumUsesPerFan]			= source.[MaximumUsesPerFan]			-- If matched, update to new value
						,	target.[NumberofPriorTransactions]	= source.[NumberofPriorTransactions]	-- If matched, update to new value
						,	target.[MinimumBasketSize]			= source.[MinimumBasketSize]			-- If matched, update to new value
						,	target.[MaximumBasketSize]			= source.[MaximumBasketSize]			-- If matched, update to new value
						,	target.[Channel]					= source.[Channel]						-- If matched, update to new value
						,	target.[ClubID]						= source.[ClubID]						-- If matched, update to new value
						,	target.[IronOfferID]				= source.[IronOfferID]					-- If matched, update to new value
						,	target.[OutletID]					= source.[OutletID]						-- If matched, update to new value
						,	target.[CardHolderPresence]			= source.[CardHolderPresence]			-- If matched, update to new value
						,	target.[OfferCap]					= source.[OfferCap]						-- If matched, update to new value
						,	target.[TimeOfDayOffer]				= source.[TimeOfDayOffer]
						,	target.[BoostedStartTime]			= source.[BoostedStartTime]
						,	target.[BoostedEndTime]				= source.[BoostedEndTime]
						,	target.[BoostedWeekdays]			= source.[BoostedWeekdays]
			WHEN NOT MATCHED THEN													-- If not matched, add new rows
				INSERT ([OfferDetailGUID]
					,	[PartnerID]
					,	[TypeID]
					,	[RewardType]
					,	[CommissionRate]
					,	[Status]
					,	[Override]
					,	[Priority]
					,	[DeletionDate]
					,	[MaximumUsesPerFan]
					,	[NumberofPriorTransactions]
					,	[MinimumBasketSize]
					,	[MaximumBasketSize]
					,	[Channel]
					,	[ClubID]
					,	[IronOfferID]
					,	[OutletID]
					,	[CardHolderPresence]
					,	[OfferCap]
					,	[TimeOfDayOffer]
					,	[BoostedStartTime]
					,	[BoostedEndTime]
					,	[BoostedWeekdays])
				VALUES (source.[OfferDetailGUID]
					,	source.[PartnerID]
					,	source.[TypeID]
					,	source.[RewardType]
					,	source.[CommissionRate]
					,	source.[Status]
					,	source.[Override]
					,	source.[Priority]
					,	source.[DeletionDate]
					,	source.[MaximumUsesPerFan]
					,	source.[NumberofPriorTransactions]
					,	source.[MinimumBasketSize]
					,	source.[MaximumBasketSize]
					,	source.[Channel]
					,	source.[ClubID]
					,	source.[IronOfferID]
					,	source.[OutletID]
					,	source.[CardHolderPresence]
					,	source.[OfferCap]
					,	source.[TimeOfDayOffer]
					,	source.[BoostedStartTime]
					,	source.[BoostedEndTime]
					,	source.[BoostedWeekdays]);

		/*******************************************************************************************************************************************
			2.	Index Maint
		*******************************************************************************************************************************************/
		
			ALTER INDEX ALL ON [Derived].[IronOffer_PartnerCommissionRule] REBUILD
			ALTER INDEX ALL ON [Derived].[IronOffer_PartnerCommissionRule] REORGANIZE
			
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
