USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Attributes_MarkUploaded]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Braze_Attributes_MarkUploaded]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;

	UPDATE st
	SET st.[LastPushedToBraze] = GETDATE()
	FROM [WHB].[Braze_CustomerPush] st
	WHERE st.[ModifiedDate] > st.[LastPushedToBraze]
	OR st.[LastPushedToBraze] IS NULL;
							
END

RETURN 0

GO
