USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_Refresh]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_CustomerPush_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;

	DROP TABLE IF EXISTS #Derived_Customer;
	SELECT	cu.[CustomerGUID]
		,   cu.[FanID]
		,	cu.[ClubID]
		,	[id] = cei.[ExternalID]
		,	[title] = cu.[Title]
		,	[first_name] = cup.[FirstName]
		,	[last_name] = cup.[LastName]
		,	[gender] = cu.[Gender]
		,	[email] =	CASE
							WHEN cu.[Hardbounced] = 1 THEN NULL
							WHEN cu.[EmailStructureValid] = 0 THEN NULL
							WHEN cup.[Email] = '' THEN NULL
							WHEN cup.[Email] = 'NoAccountCustomer@RewardInsight.com' THEN NULL
							ELSE cup.[Email]
						END
		,	[dob] = cup.[DOB]
		,	[postcode_region] = UPPER(cu.[PostCodeDistrict])
		,	[postcode_inwardcode] = RIGHT(RTRIM(COALESCE(cup.[Postcode], '')), 3)
		,	[customer_product_type] =	CASE
											WHEN cu.[IsCredit] = 1 AND cu.[IsDebit] = 1 THEN 'Both'
											WHEN cu.[IsCredit] = 1 THEN 'Credit'
											WHEN cu.[IsDebit] = 1 THEN 'Debit'
											ELSE 'Unknown'
										END
		,	[registration_date] = cu.[RegistrationDate]
		,	[brand] =	CASE
							WHEN cu.[ClubID] = 132 THEN 'NW'
							WHEN cu.[ClubID] = 138 THEN 'RBS'
							ELSE pu.[PublisherName]
						END
		,	[customer_segment] = cu.[AccountType]
		,	[email_click_tracking_disabled] = cu.[EmailTracking]
		,	[email_subscribe] =	CASE
									WHEN cu.[MarketableByEmail] = 1 THEN 'opted_in'
									WHEN ic.[MarketableByEmail] = 1 THEN 'subscribed'
									WHEN cu.[MarketableByEmail] = 0 THEN 'unsubscribed'
									ELSE 'unsubscribed'
								END
		,	[available_cashback_balance] = cu.[CashbackAvailable]
		,	[pending_cashback_balance] = cu.[CashbackPending]
		,	[lifetime_cashback_balance] = cu.[CashbackLTV]
		,	[preferred_language_code] = ic.[PreferredLanguageCode]
	INTO #Derived_Customer
	FROM [Derived].[Customer] cu
	INNER JOIN [WHB].[Inbound_Customers] ic
		ON cu.[CustomerGUID] = ic.[CustomerGUID]
	INNER JOIN [WHB].[Inbound_CustomerExternalIDs] cei
		ON cu.[CustomerGUID] = cei.[CustomerGUID]
		AND cei.[ExternalIDSource] = 'Email'
	INNER JOIN [Derived].[Customer_PII] cup
		ON cu.[CustomerGUID] = cup.[CustomerGUID]
	INNER JOIN [WH_AllPublishers].[Derived].[Publisher] pu
		ON cu.[ClubID] = pu.[PublisherID]
	WHERE cu.[CurrentlyActive] = 1;

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Derived_Customer ([CustomerGUID]);

	DECLARE @CalendarYearStart DATE = DATEFROMPARTS(YEAR(GETDATE()), '01', '01');

	DROP TABLE IF EXISTS #YearlyEarnings;
	SELECT	cu.[CustomerGUID] 
		,	[Earnings] = ISNULL(SUM(tr.[Earning]), 0)
	INTO #YearlyEarnings
	FROM #Derived_Customer cu
	LEFT JOIN [Finance].[dbo].[Customer] fcu
		ON cu.[FanID] = fcu.[SourceID]
		AND cu.[ClubID] = fcu.[PublisherID]
		AND fcu.[PublisherID] IN (132, 138)
	LEFT JOIN [Finance].[dbo].[Transactions] tr
		ON fcu.[CustomerID] = tr.[CustomerID]
		AND fcu.[PublisherID] = tr.[PublisherID]
		AND tr.[TranDate] >= @CalendarYearStart
		AND tr.[EligibleDate] < GETDATE()
	GROUP BY cu.[CustomerGUID];

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #YearlyEarnings ([CustomerGUID]);

	DROP TABLE IF EXISTS #Redemptions
	SELECT	crl.[CustomerGUID]
		,	[redemption_cash_to_account] = MAX(CASE WHEN crl.[RetailerName] = 'Current Account' THEN crl.[LastRedeemedDate] END)
		,	[redemption_cash_to_credit_card] = MAX(CASE WHEN crl.[RedemptionType] = 'Pay Card' THEN crl.[LastRedeemedDate] END)
		,	[redemption_cash_to_savings] = MAX(CASE WHEN crl.[RetailerName] = 'Savings Account' THEN crl.[LastRedeemedDate] END)
	INTO #Redemptions
	FROM [CRM].[Braze_CustomerRedemptionsLog] crl
	WHERE EXISTS (	SELECT 1
					FROM #Derived_Customer cu
					WHERE crl.[CustomerGUID] = cu.[CustomerGUID])
	AND crl.[RedemptionType] IN ('Pay Bank', 'Pay Card')
	AND crl.[Retailername] IN ('Current Account', 'Savings Account', 'Pay Card', 'Cash to credit card')
	GROUP BY	crl.[CustomerGUID]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Redemptions ([CustomerGUID]);

	DROP TABLE IF EXISTS #CustomerBehavioural_FirstEarnLog
	SELECT	fel.[CustomerGUID]
		,	[FirstDD] = MIN(CASE WHEN fel.[TransactionType] = 'Direct Debit' THEN fel.[TransactionDate] ELSE NULL END)
		,	[FirstML] = MIN(CASE WHEN fel.[TransactionType] = 'Mobile Login' THEN fel.[TransactionDate] ELSE NULL END)
	INTO #CustomerBehavioural_FirstEarnLog
	FROM [CRM].[Braze_CustomerBehavioural_FirstEarnLog] fel
	WHERE fel.[TransactionType] IN ('Direct Debit', 'Mobile Login')
	GROUP BY	fel.[CustomerGUID]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #CustomerBehavioural_FirstEarnLog ([CustomerGUID]);

	DROP TABLE IF EXISTS #CustomerBehaviouralMonthlyLog
	SELECT	ml.[CustomerGUID]
		,	[CashbackEarned] = SUM(ml.[CashbackEarned])
	INTO #CustomerBehaviouralMonthlyLog
	FROM [CRM].[Braze_CustomerBehaviouralMonthlyLog] ml
	WHERE ml.[TransactionMonth] > DATEADD(YEAR, -1, GETDATE())
	GROUP BY ml.[CustomerGUID]

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #CustomerBehaviouralMonthlyLog ([CustomerGUID]);

	TRUNCATE TABLE [WHB].[Braze_CustomerPush_Staging];
	INSERT INTO [WHB].[Braze_CustomerPush_Staging] WITH (TABLOCKX) ([CustomerGUID]
																,	[id]
																,	[title]
																,	[first_name]
																,	[last_name]
																,	[gender]
																,	[email]
																,	[dob]
																,	[postcode_region]
																,	[postcode_inwardcode]
																,	[customer_product_type]
																,	[registration_date]
																,	[brand]
																,	[customer_segment]
																,	[email_click_tracking_disabled]
																,	[email_subscribe]
																,	[available_cashback_balance]
																,	[pending_cashback_balance]
																,	[lifetime_cashback_balance]
																,	[yearly_cashback_balance]
																,	[redemption_cash_to_account]
																,	[redemption_cash_to_credit_card]
																,	[redemption_cash_to_savings]
																,	[first_bfo_mobile_login]
																,	[first_bfo_dd]
																,	[bfo_product_benefits]
																,	[mosaic_lifestage_name]
																,	[preferred_language_code])
	SELECT	cu.[CustomerGUID]
		,	cu.[id]
		,	cu.[title]
		,	cu.[first_name]
		,	cu.[last_name]
		,	cu.[gender]
		,	cu.[email]
		,	cu.[dob]
		,	cu.[postcode_region]
		,	cu.[postcode_inwardcode]
		,	cu.[customer_product_type]
		,	cu.[registration_date]
		,	cu.[brand]
		,	cu.[customer_segment]
		,	cu.[email_click_tracking_disabled]
		,	cu.[email_subscribe]
		,	cu.[available_cashback_balance]
		,	cu.[pending_cashback_balance]
		,	cu.[lifetime_cashback_balance]
		,	[yearly_cashback_balance] = ye.[Earnings]
		,	re.[redemption_cash_to_account]
		,	re.[redemption_cash_to_credit_card]
		,	re.[redemption_cash_to_savings]
		,	[first_bfo_mobile_login] = cbf.[FirstML]
		,	[first_bfo_dd] = cbf.[FirstDD]
		,	[bfo_product_benefits] = cbml.[CashbackEarned]
		,	[mosaic_lifestage_name] = ms.[h_lifestage_name]
		,	cu.[preferred_language_code]
	FROM #Derived_Customer cu
	LEFT JOIN #YearlyEarnings ye
		ON cu.[CustomerGUID] = ye.[CustomerGUID]
	LEFT JOIN #Redemptions re
		ON cu.[CustomerGUID] = re.[CustomerGUID]
	LEFT JOIN #CustomerBehavioural_FirstEarnLog cbf
		ON cu.[CustomerGUID] = cbf.[CustomerGUID]
	LEFT JOIN #CustomerBehaviouralMonthlyLog cbml
		ON cu.[CustomerGUID] = cbml.[CustomerGUID]
	LEFT JOIN [Derived].[nw_cinid_mosaic] ms
		ON cu.[FanID] = ms.[FanID]
	ORDER BY cu.[CustomerGUID];
	
	DROP TABLE IF EXISTS #Braze_CustomerPush_Staging
	SELECT	cps.[CustomerGUID]
		,	cps.[id]
		,	cps.[title]
		,	cps.[first_name]
		,	cps.[last_name]
		,	cps.[gender]
		,	cps.[email]
		,	cps.[dob]
		,	cps.[postcode_region]
		,	cps.[postcode_inwardcode]
		,	cps.[customer_product_type]
		,	cps.[registration_date]
		,	cps.[brand]
		,	cps.[customer_segment]
		,	cps.[email_click_tracking_disabled]
		,	cps.[email_subscribe]
		,	cps.[available_cashback_balance]
		,	cps.[pending_cashback_balance]
		,	cps.[lifetime_cashback_balance]
		,	cps.[yearly_cashback_balance]
		,	cps.[redemption_cash_to_account]
		,	cps.[redemption_cash_to_credit_card]
		,	cps.[redemption_cash_to_savings]
		,	cps.[first_bfo_mobile_login]
		,	cps.[first_bfo_dd]
		,	cps.[bfo_product_benefits]
		,	cps.[mosaic_lifestage_name]
		,	cps.[preferred_language_code]
		,	[HashValue] = HASHBYTES('SHA2_256', CONCAT_WS('|'	,	cps.[CustomerGUID]																,   cps.[id]																,   cps.[title]																,   cps.[first_name]																,   cps.[last_name]																,   cps.[gender]																,   cps.[email]																,   CONVERT(CHAR(10), cps.[dob], 126)																,   cps.[postcode_region]																,   cps.[postcode_inwardcode]																,   cps.[customer_product_type]																,   CONVERT(CHAR(10), cps.[registration_date], 126)																,   cps.[brand]																,   cps.[customer_segment]																,   CONVERT(VARCHAR(50), cps.[email_click_tracking_disabled])																,   cps.[email_subscribe]																,   cps.[available_cashback_balance]																,   cps.[pending_cashback_balance]																,   cps.[lifetime_cashback_balance]																,   CONVERT(VARCHAR(50), cps.[yearly_cashback_balance])																,   CONVERT(CHAR(10), cps.[redemption_cash_to_account], 126)																,   CONVERT(CHAR(10), cps.[redemption_cash_to_credit_card], 126)																,   CONVERT(CHAR(10), cps.[redemption_cash_to_savings], 126)																,   CONVERT(CHAR(10), cps.[first_bfo_mobile_login], 126)																,   CONVERT(CHAR(10), cps.[first_bfo_dd], 126)																,   CONVERT(VARCHAR(50), cps.[bfo_product_benefits])
																,   CONVERT(VARCHAR(50), cps.[preferred_language_code])																,	cps.[mosaic_lifestage_name]															)
										)
	INTO #Braze_CustomerPush_Staging
	FROM [WHB].[Braze_CustomerPush_Staging] cps

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #Braze_CustomerPush_Staging ([CustomerGUID], [HashValue])

	UPDATE cp
	SET	cp.[id] = cps.[id]
	,	cp.[title] = cps.[title]
	,	cp.[first_name] = cps.[first_name]
	,	cp.[last_name] = cps.[last_name]
	,	cp.[gender] = cps.[gender]
	,	cp.[email] = cps.[email]
	,	cp.[dob] = cps.[dob]
	,	cp.[postcode_region] = cps.[postcode_region]
	,	cp.[postcode_inwardcode] = cps.[postcode_inwardcode]
	,	cp.[customer_product_type] = cps.[customer_product_type]
	,	cp.[registration_date] = cps.[registration_date]
	,	cp.[brand] = cps.[brand]
	,	cp.[customer_segment] = cps.[customer_segment]
	,	cp.[email_click_tracking_disabled] = cps.[email_click_tracking_disabled]
	,	cp.[email_subscribe] = cps.[email_subscribe]
	,	cp.[available_cashback_balance] = cps.[available_cashback_balance]
	,	cp.[pending_cashback_balance] = cps.[pending_cashback_balance]
	,	cp.[lifetime_cashback_balance] = cps.[lifetime_cashback_balance]
	,	cp.[yearly_cashback_balance] = cps.[yearly_cashback_balance]
	,	cp.[redemption_cash_to_account] = cps.[redemption_cash_to_account]
	,	cp.[redemption_cash_to_credit_card] = cps.[redemption_cash_to_credit_card]
	,	cp.[redemption_cash_to_savings] = cps.[redemption_cash_to_savings]
	,	cp.[first_bfo_mobile_login] = cps.[first_bfo_mobile_login]
	,	cp.[first_bfo_dd] = cps.[first_bfo_dd]
	,	cp.[bfo_product_benefits] = cps.[bfo_product_benefits]
	,	cp.[mosaic_lifestage_name] = cps.[mosaic_lifestage_name]
	,	cp.[preferred_language_code] = cps.[preferred_language_code]
	,	cp.[HashValue] = cps.[HashValue]
	,	cp.[ModifiedDate] = GETDATE()
	FROM #Braze_CustomerPush_Staging cps
	INNER JOIN [WHB].[Braze_CustomerPush] cp
		ON cps.[CustomerGUID] = cp.[CustomerGUID]
		AND cps.[HashValue] != cp.[HashValue]

	INSERT INTO [WHB].[Braze_CustomerPush] WITH (TABLOCKX) ([CustomerGUID]
														,	[id]
														,	[title]
														,	[first_name]
														,	[last_name]
														,	[gender]
														,	[email]
														,	[dob]
														,	[postcode_region]
														,	[postcode_inwardcode]
													--	,	[mosaic] = ''	--	?
														,	[customer_product_type]
														,	[registration_date]
														,	[brand]
														,	[customer_segment]
													--	,	[account] = '[]'	--	#BankAccount
													--	,	[email_subscribe] --	Braze
														,	[email_click_tracking_disabled]
														,	[email_subscribe]
														,	[available_cashback_balance]
														,	[pending_cashback_balance]
														,	[lifetime_cashback_balance]
														,	[yearly_cashback_balance]
													--	,	[balance_history] = Braze
													--	,	[subscription_groups] = '[]'	--	#MarketableByEmailStatus
													--	,	[normal_offers] = '[]'	--	#EarnOffers / #BurnOffers
													--	,	[solus_offers] = '[]'	--	#SOLUS
													--	,	[lastsent_normal] --	Braze
													--	,	[lastsent_solus] --		Braze
													--	,	[sector_spend] = '[]'	--	#Sector
													--	,	[control_group] = '[]'	---	?	
														,	[redemption_cash_to_account]
														,	[redemption_cash_to_credit_card]
														,	[redemption_cash_to_savings]
														,	[first_bfo_mobile_login]
														,	[first_bfo_dd]
														,	[bfo_product_benefits]
														,	[mosaic_lifestage_name]
														,	[preferred_language_code]
														,	[HashValue]
														,	[ModifiedDate])
	SELECT	cps.[CustomerGUID]
		,	cps.[id]
		,	cps.[title]
		,	cps.[first_name]
		,	cps.[last_name]
		,	cps.[gender]
		,	cps.[email]
		,	cps.[dob]
		,	cps.[postcode_region]
		,	cps.[postcode_inwardcode]
		,	cps.[customer_product_type]
		,	cps.[registration_date]
		,	cps.[brand]
		,	cps.[customer_segment]
		,	cps.[email_click_tracking_disabled]
		,	cps.[email_subscribe]
		,	cps.[available_cashback_balance]
		,	cps.[pending_cashback_balance]
		,	cps.[lifetime_cashback_balance]
		,	cps.[yearly_cashback_balance]
		,	cps.[redemption_cash_to_account]
		,	cps.[redemption_cash_to_credit_card]
		,	cps.[redemption_cash_to_savings]
		,	cps.[first_bfo_mobile_login]
		,	cps.[first_bfo_dd]
		,	cps.[bfo_product_benefits]
		,	cps.[mosaic_lifestage_name]
		,	cps.[preferred_language_code]
		,	cps.[HashValue]
		,	[ModifiedDate] = GETDATE()
	FROM #Braze_CustomerPush_Staging cps
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_CustomerPush] cp
						WHERE cps.[CustomerGUID] = cp.[CustomerGUID])

	EXEC [WHB].[Braze_CustomerPush_SampleCustomers_Refresh]
							
END

RETURN 0

GO
