USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_Retail_Refresh]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_EventPush_Retail_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/*******************************************************************************************************************************************
		1.	Fetch the most recent transactions that have not already been processed
	*******************************************************************************************************************************************/

		DECLARE @ID BIGINT

		SELECT	@ID = ISNULL(MAX([MaxID]), 0)
		FROM [WHB].[Braze_EventPush_Retail_Log]

		DROP TABLE IF EXISTS #PartnerTrans;
		SELECT	pt.[ID]
			,	pt.[CustomerGUID]
			,	pt.[PartnerID]
			,	pt.[MerchantID]
			,	pt.[OIN]
			,	pt.[TransactionAmount]
			,	pt.[CashbackEarned]
			,	pt.[TransactionDate]
			,	pt.[IronOfferID]
			,	pt.[TransactionGUID]
			,	mt.[AccountGUID]
			,	mt.[CardGUID]
		INTO #PartnerTrans
		FROM (	SELECT	st.[ID]
					,	st.[CustomerGUID]
					,	st.[PartnerID]
					,	st.[MerchantID]
					,	st.[OIN]
					,	st.[TransactionAmount]
					,	st.[CashbackEarned]
					,	st.[TransactionDate]
					,	st.[IronOfferID]
					,	st.[TransactionGUID]
					,	st.[ExternalTransactionID]
				FROM [Derived].[PartnerTrans] st
				WHERE st.[ID] > @ID) pt
		INNER JOIN [WHB].[Inbound_MatchedTransactions] mt
			ON pt.[TransactionGUID] = mt.[TransactionGUID]
			AND (pt.[ExternalTransactionID] = mt.[TransactionExternalID] OR mt.[TransactionExternalID] IS NULL);

	/*******************************************************************************************************************************************
		2.	Enrich the data with types
	*******************************************************************************************************************************************/
				
		DROP TABLE IF EXISTS #PartnerTransEnriched;
		SELECT	pt.[ID]
			,	pt.[CustomerGUID]
			,	[TransactionType] =	CASE
										WHEN LEN(COALESCE(pt.[OIN], '')) > LEN(COALESCE(pt.[MerchantID], '')) THEN 'MFDD'
										ELSE 'PCLO'
									END
			,	[AccountType] = CASE WHEN cp.[CardProductDescription] = 'Travel Credit' THEN 'Travel Credit' ELSE 'Standard' END
			,	pt.[PartnerID]
			,	[OfferGUID] = iof.[HydraOfferID]
			,	pt.[TransactionAmount]
			,	pt.[CashbackEarned]
			,	pt.[TransactionDate]
			,	pt.[TransactionGUID]
			,	[FirstEarn] = 0
		INTO #PartnerTransEnriched
		FROM #PartnerTrans pt
		INNER JOIN [Derived].[Customer] cu
			ON pt.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
			ON pt.[PartnerID] = pa.[PartnerID]
		INNER JOIN [Derived].[IronOffer] iof
			ON pt.[IronOfferID] = iof.[IronOfferID]
			AND cu.[ClubID] = iof.[ClubID]
		LEFT JOIN (SELECT	ca.[CardGUID]
						,	[CardProductID] = MAX(ca.[CardProductID])
					FROM [Derived].[Cards] ca
					GROUP BY ca.[CardGUID]) ca
			ON pt.[CardGUID] = ca.[CardGUID]
		LEFT JOIN [Derived].[CardProduct] cp
			ON ca.[CardProductID] = cp.[CardProductID]

	/*******************************************************************************************************************************************
		3.	Identify any instances of a customers having their first instance of a specific transaction type and flag them
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #FirstEarn
		SELECT	[ID]
		INTO #FirstEarn
		FROM (	SELECT	[ID]
					,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY [CustomerGUID], [AccountType] ORDER BY [TransactionDate], [ID])
				FROM #PartnerTransEnriched pte
				WHERE NOT EXISTS (	SELECT 1
									FROM [CRM].[Braze_CustomerRetail_FirstEarnLog] fel
									WHERE pte.[CustomerGUID] = fel.[CustomerGUID]
									AND pte.[AccountType] = fel.[AccountType])) fe
		WHERE fe.[RowNum] = 1

		UPDATE pte
		SET pte.[FirstEarn] = 1
		FROM #PartnerTransEnriched pte
		WHERE EXISTS (	SELECT 1
						FROM #FirstEarn fe
						WHERE pte.[ID] = fe.[ID])

	/*******************************************************************************************************************************************
		4.	Load all new transactions to final table for push to Braze
	*******************************************************************************************************************************************/

		INSERT INTO [WHB].[Braze_EventPush_Retail] WITH (TABLOCKX) ([ID]
																,	[CustomerGUID]
																,	[TransactionType]
																,	[AccountType]
																,	[PartnerID]
																,	[OfferGUID]
																,	[TransactionAmount]
																,	[CashbackEarned]
																,	[TransactionDate]
																,	[FirstEarn]
																,	[PushedToBraze])
		SELECT	pte.[ID]
			,	pte.[CustomerGUID]
			,	pte.[TransactionType]
			,	pte.[AccountType]
			,	pte.[PartnerID]
			,	pte.[OfferGUID]
			,	pte.[TransactionAmount]
			,	pte.[CashbackEarned]
			,	pte.[TransactionDate]
			,	pte.[FirstEarn]
			,	[PushedToBraze] = 0
		FROM #PartnerTransEnriched pte
		WHERE pte.[TransactionDate] > DATEADD(MONTH, -3, GETDATE())
		AND NOT EXISTS (	SELECT 1
							FROM [WHB].[Braze_EventPush_Retail] epr
							WHERE pte.[ID] = epr.[ID]);

	/*******************************************************************************************************************************************
		5.	Update all aggregated values for the customer
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Braze_CustomerRetailLog
		SELECT	epr.[CustomerGUID]
			,	epr.[TransactionType]
			,	epr.[PartnerID]
			,	[Spend] = SUM(epr.[TransactionAmount])
			,	[CashbackEarned] = SUM(epr.[CashbackEarned])
			,	[FirstTransactionDate] = MIN(CONVERT(DATE, epr.[TransactionDate]))
			,	[LastTransactionDate] = MAX(CONVERT(DATE, epr.[TransactionDate]))
			,	[MaxID] = MAX(epr.[ID])
		INTO #Braze_CustomerRetailLog
		FROM #PartnerTransEnriched epr
		WHERE NOT EXISTS (	SELECT 1
							FROM [CRM].[Braze_CustomerRetailLog] crl
							WHERE epr.[CustomerGUID] = crl.[CustomerGUID]
							AND epr.[TransactionType] = crl.[TransactionType]
							AND epr.[PartnerID] = crl.[PartnerID]
							AND crl.[MaxID] > epr.[ID])
		GROUP BY	epr.[CustomerGUID]
				,	epr.[TransactionType]
				,	epr.[PartnerID]

		CREATE CLUSTERED INDEX [CIX_CustomerTypePartner] ON #Braze_CustomerRetailLog ([CustomerGUID], [TransactionType], [PartnerID])

		MERGE [CRM].[Braze_CustomerRetailLog] TGT
		USING #Braze_CustomerRetailLog SRC
			ON TGT.[CustomerGUID] = SRC.[CustomerGUID]
			AND TGT.[TransactionType] = SRC.[TransactionType]
			AND TGT.[PartnerID] = SRC.[PartnerID]

		WHEN MATCHED
		THEN UPDATE
			SET	TGT.[Spend] = SRC.[Spend] + TGT.[Spend]
			,	TGT.[CashbackEarned] = SRC.[CashbackEarned] + TGT.[CashbackEarned]
			,	TGT.[FirstTransactionDate] = CASE WHEN SRC.[FirstTransactionDate] < TGT.[FirstTransactionDate] THEN SRC.[FirstTransactionDate] ELSE TGT.[FirstTransactionDate] END
			,	TGT.[LastTransactionDate] = CASE WHEN SRC.[LastTransactionDate] > TGT.[LastTransactionDate] THEN SRC.[LastTransactionDate] ELSE TGT.[LastTransactionDate] END
			,	TGT.[MaxID] = SRC.[MaxID]
			,	TGT.[ModifiedDate] = GETDATE()

		WHEN NOT MATCHED
			THEN INSERT (	[CustomerGUID]
						,	[TransactionType]
						,	[PartnerID]
						,	[Spend]
						,	[CashbackEarned]
						,	[FirstTransactionDate]
						,	[LastTransactionDate]
						,	[MaxID]
						,	[ModifiedDate])
			VALUES (SRC.[CustomerGUID]
				,	SRC.[TransactionType]
				,	SRC.[PartnerID]
				,	SRC.[Spend]
				,	SRC.[CashbackEarned]
				,	SRC.[FirstTransactionDate]
				,	SRC.[LastTransactionDate]
				,	SRC.[MaxID]
				,	GETDATE());

	/*******************************************************************************************************************************************
		6.	Store instances of customers first earnings for future runs to be able to identify new instances
	*******************************************************************************************************************************************/

		INSERT INTO [CRM].[Braze_CustomerRetail_FirstEarnLog]
		SELECT	[CustomerGUID]
			,	[AccountType]
			,	[TransactionGUID]
			,	[TransactionDate]
			,	[AddedDate] = GETDATE()
		FROM #PartnerTransEnriched pte
		WHERE pte.[FirstEarn] = 1
		AND NOT EXISTS (SELECT 1
						FROM [CRM].[Braze_CustomerRetail_FirstEarnLog] fel
						WHERE pte.[CustomerGUID] = fel.[CustomerGUID]
						AND pte.[AccountType] = fel.[AccountType])
		ORDER BY	[CustomerGUID]
				,	[AccountType]
				,	[TransactionDate]

	/*******************************************************************************************************************************************
		7.	Update customers max ID log
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #CustomerLog;
		SELECT	bte.[CustomerGUID]
			,	[MaxID] = MAX(bte.[ID])
		INTO #CustomerLog
		FROM #PartnerTransEnriched bte
		GROUP BY bte.[CustomerGUID];

		CREATE CLUSTERED INDEX [CIX_CustomerGUIDID] ON #CustomerLog ([CustomerGUID], [MaxID]);

		UPDATE epl
		SET epl.[MaxID] = cl.[MaxID]
		FROM #CustomerLog cl
		INNER JOIN [WHB].[Braze_EventPush_Retail_Log] epl
			ON cl.[CustomerGUID] = epl.[CustomerGUID];

		INSERT INTO [WHB].[Braze_EventPush_Retail_Log]
		SELECT	cl.[CustomerGUID]
			,	cl.[MaxID]
		FROM #CustomerLog cl
		WHERE NOT EXISTS (	SELECT 1
							FROM [WHB].[Braze_EventPush_Retail_Log] epl
							WHERE cl.[CustomerGUID] = epl.[CustomerGUID]);

END

RETURN 0
GO
