USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_Attributes_SubscriptionGroups_Upload_MarkUploaded]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Braze_Attributes_SubscriptionGroups_Upload_MarkUploaded]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT OFF;

	UPDATE st
	SET st.[LastPushedToBraze] = GETDATE()
	FROM [WHB].[Braze_CustomerPush_SubscriptionGroups] st
	INNER JOIN [WHB].[Braze_CustomerPush] cp
		ON st.[CustomerGUID] = cp.[CustomerGUID]
	WHERE st.[ModifiedDate] > st.[LastPushedToBraze]
	OR	st.[LastPushedToBraze] IS NULL;
							
END

RETURN 0
GO
