USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_Offer_Update]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Inbound_Offer_Update] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Offer'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Offer'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Offer'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[IronOfferID]
				,	i.[OfferGUID]
				,	i.[OfferName]
				,	i.[StartDate]
				,	i.[EndDate]
				,	i.[RetailerGUID]
				,	i.[PublisherGUID]
				,	i.[OfferChannelID]
				,	i.[CurrencyID]
				,	[OfferDetailGUID] = MAX(i.[OfferDetailGUID])
				,	i.[PrioritisationScore]
				,	i.[OfferStatusID]
				,	i.[CreatedDate]
				,	i.[UpdatedDate]
				,	i.[PublishedDate]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[Offer] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[IronOfferID]
					,	i.[OfferGUID]
					,	i.[OfferName]
					,	i.[StartDate]
					,	i.[EndDate]
					,	i.[RetailerGUID]
					,	i.[PublisherGUID]
					,	i.[OfferChannelID]
					,	i.[CurrencyID]
					,	i.[PrioritisationScore]
					,	i.[OfferStatusID]
					,	i.[CreatedDate]
					,	i.[UpdatedDate]
					,	i.[PublishedDate]

			;WITH
			DELETER AS (	SELECT	[OfferGUID]
								,	[RowNumber] = ROW_NUMBER() OVER (PARTITION BY [OfferGUID] ORDER BY [CreatedDate], [UpdatedDate], [PublishedDate], [ID])
							FROM #Inbound)

			DELETE
			FROM DELETER
			WHERE [RowNumber] > 1
			
			DROP TABLE IF EXISTS #NewGUIDs
			SELECT	o.[OfferGUID]
			INTO #NewGUIDs
			FROM #Inbound o
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Derived].[OfferIDs] oi
								WHERE CONVERT(VARCHAR(64), o.[OfferGUID]) = oi.[OfferCode])
			AND o.[OfferGUID] IS NOT NULL

			INSERT INTO [WH_AllPublishers].[Derived].[OfferIDs]
			SELECT	DISTINCT
					ppl.[PartnerID]
				,	[PublisherID] = pl.[ClubID]
				,	[PublisherID_RewardBI] = pl.[ClubID]
				,	[OfferCode] = iof.[OfferGUID]
				,	[OfferIDTypeID] = 2	--	Bank Scheme Import to DIMAIN
				,	[ImportDate] = GETDATE()
			FROM [WHB].[Inbound_Offer] iof
			LEFT JOIN [SLC_REPL].[hydra].[PublisherLink] pl
				ON iof.[PublisherGUID] = pl.[HydraPublisherID]
			INNER JOIN [SLC_REPL].[hydra].[PartnerPublisherLink] ppl
				ON iof.[RetailerGUID] = ppl.[HydraPartnerID]
	--			AND iof.[PublisherGUID] = ppl.[HydraPublisherID]
				AND NOT EXISTS (SELECT 1
								FROM [SLC_REPL].[dbo].[Partner] pa
								WHERE ppl.[PartnerID] = pa.[ID]
								AND pa.[Name] LIKE '%amex%')
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Derived].[OfferIDs] oi
								WHERE oi.[OfferIDTypeID] IN (2, 4)
								AND iof.[OfferGUID] = oi.[OfferCode]
								AND pl.[ClubID] = oi.[PublisherID]
								AND pl.[ClubID] = oi.[PublisherID_RewardBI])
			AND iof.[IronOfferID] IS NULL
			AND EXISTS (SELECT 1
						FROM #NewGUIDs ng
						WHERE iof.[OfferGUID] = ng.[OfferGUID])

			DROP TABLE IF EXISTS #OfferGUIDs
			SELECT	[IronOfferID]
				,	[OfferGUID] = CONVERT(UNIQUEIDENTIFIER, [OfferCode])
			INTO #OfferGUIDs
			FROM [WH_AllPublishers].[Derived].[OfferIDs] oi
			WHERE EXISTS (	SELECT 1
							FROM #Inbound iof
							WHERE CONVERT(VARCHAR(64), iof.[OfferGUID]) = oi.[OfferCode])

			UPDATE i
			SET i.[IronOfferID] = og.[IronOfferID]
			FROM #Inbound i
			INNER JOIN #OfferGUIDs og
				ON i.[OfferGUID] = og.[OfferGUID]
				
		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
				
			MERGE [WHB].[Inbound_Offer] target											-- Destination table
			USING #Inbound source													-- Source table
			ON target.[OfferGUID] = source.[OfferGUID]									-- Match criteria
			
			WHEN MATCHED THEN															-- If matched, update to new value
				UPDATE SET	target.[InboundID] = source.[ID]
						,	target.[IronOfferID] = source.[IronOfferID]
						,	target.[OfferGUID] = source.[OfferGUID]
						,	target.[OfferName] = source.[OfferName]
						,	target.[StartDate] = source.[StartDate]
						,	target.[EndDate] = source.[EndDate]
						,	target.[RetailerGUID] = source.[RetailerGUID]
						,	target.[PublisherGUID] = source.[PublisherGUID]
						,	target.[OfferChannelID] = source.[OfferChannelID]
						,	target.[CurrencyID] = source.[CurrencyID]
						,	target.[OfferDetailGUID] = source.[OfferDetailGUID]
						,	target.[PrioritisationScore] = source.[PrioritisationScore]
						,	target.[OfferStatusID] = source.[OfferStatusID]
						,	target.[CreatedDate] = source.[CreatedDate]
						,	target.[UpdatedDate] = source.[UpdatedDate]
						,	target.[PublishedDate] = source.[PublishedDate]
						,	target.[LoadDate] = source.[LoadDate]
						,	target.[FileName] = source.[FileName]


			WHEN NOT MATCHED THEN														-- If not matched, add new rows
				INSERT ([InboundID]
					,	[IronOfferID]
					,	[OfferGUID]
					,	[OfferName]
					,	[StartDate]
					,	[EndDate]
					,	[RetailerGUID]
					,	[PublisherGUID]
					,	[OfferChannelID]
					,	[CurrencyID]
					,	[OfferDetailGUID]
					,	[PrioritisationScore]
					,	[OfferStatusID]
					,	[CreatedDate]
					,	[UpdatedDate]
					,	[PublishedDate]
					,	[LoadDate]
					,	[FileName])
				VALUES (source.[ID]
					,	source.[IronOfferID]
					,	source.[OfferGUID]
					,	source.[OfferName]
					,	source.[StartDate]
					,	source.[EndDate]
					,	source.[RetailerGUID]
					,	source.[PublisherGUID]
					,	source.[OfferChannelID]
					,	source.[CurrencyID]
					,	source.[OfferDetailGUID]
					,	source.[PrioritisationScore]
					,	source.[OfferStatusID]
					,	source.[CreatedDate]
					,	source.[UpdatedDate]
					,	source.[PublishedDate]
					,	source.[LoadDate]
					,	source.[FileName]);

		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'Offer' AND [FileProcessed] = 0) > 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END





GO
