USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_Customers_GenerateFanID]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Inbound_Customers_GenerateFanID]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1. Fetch the latest date that events have been loaded
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #CustomersTemp
			SELECT	cu.[CustomerGUID]
				,	cu.[CustomerID]
				,	cu.[BankID]
				,	[LoadDate] = MIN(cu.[LoadDate])
			INTO #CustomersTemp
			FROM [Inbound].[Customers] cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Derived].[CustomerIDs] ci
								WHERE cu.[CustomerGUID] = TRY_CONVERT(UNIQUEIDENTIFIER, ci.[CustomerID]))
			GROUP BY	cu.[CustomerGUID]
					,	cu.[CustomerID]
					,	cu.[BankID]

			CREATE CLUSTERED INDEX [CIX_CustomerID] ON #CustomersTemp ([CustomerID], [BankID])
			
			DROP TABLE IF EXISTS #Customers
			SELECT	[CustomerGUID]
				,	[CustomerGUID_Var] = CONVERT(VARCHAR(64), [CustomerGUID])
				,	[PublisherID]
				,	[ImportDate]
				,	[CompositeID] = COALESCE([CompositeID_SLC], [CompositeID_Bank])
				,	[FanID] = [FanID_SLC]
			INTO #Customers
			FROM (	SELECT	[CustomerGUID]
						,	[PublisherID] =	CASE
												WHEN cu.[BankID] = 2 THEN 138
												WHEN cu.[BankID] = 1 THEN 132
											END
						,	[ImportDate] = MIN(cu.[LoadDate])
						,	[CompositeID_SLC] = fa.[CompositeID]
						,	[CompositeID_Bank] = (ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) * -1)
						,	[FanID_SLC] = fa.[ID]
					FROM #CustomersTemp cu
					LEFT JOIN [SLC_REPL].[dbo].[Fan] fa
						ON cu.[CustomerID] = fa.[ID]
					GROUP BY	[CustomerGUID]
							,	CASE
									WHEN cu.[BankID] = 2 THEN 138
									WHEN cu.[BankID] = 1 THEN 132
								END
							,	fa.[CompositeID]
							,	fa.[ID]) cu

			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID])
			
			UPDATE STATISTICS [WH_AllPublishers].[Derived].[CustomerIDs]

			SET IDENTITY_INSERT [WH_AllPublishers].[Derived].[CustomerIDs] ON

			INSERT INTO [WH_AllPublishers].[Derived].[CustomerIDs] ([FanID]
																,	[PublisherID]
																,	[PublisherID_RewardBI]
																,	[CustomerID]
																,	[CustomerIDTypeID]
																,	[ImportDate]
																,	[CompositeID])
			SELECT	cu.[FanID]
				,	cu.[PublisherID]
				,	[PublisherID_RewardBI] = cu.[PublisherID]
				,	[CustomerID] = cu.[CustomerGUID]
				,	[CustomerIDTypeID] = 2
				,	cu.[ImportDate]
				,	cu.[CompositeID]
			FROM #Customers cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Derived].[CustomerIDs] ci
								WHERE cu.[CustomerGUID_Var] = ci.[CustomerID]
								AND cu.[PublisherID] = ci.[PublisherID])
			AND cu.[FanID] IS NOT NULL
			
			SET IDENTITY_INSERT [WH_AllPublishers].[Derived].[CustomerIDs] OFF

			BEGIN TRAN
				
				DECLARE @MinCompositeID INT

				SELECT	@MinCompositeID = MIN([CompositeID])
				FROM [WH_AllPublishers].[Derived].[CustomerIDs] WITH (UPDLOCK, HOLDLOCK);

				INSERT INTO [WH_AllPublishers].[Derived].[CustomerIDs]
				SELECT	[PublisherID] = cu.[PublisherID]
					,	[PublisherID_RewardBI] = cu.[PublisherID]
					,	[CustomerID] = cu.[CustomerGUID]
					,	[CustomerIDTypeID] = 2
					,	[ImportDate] = cu.[ImportDate]
					,	[CompositeID] = (ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) * -1) + @MinCompositeID
				FROM #Customers cu
				WHERE NOT EXISTS (	SELECT 1
									FROM [WH_AllPublishers].[Derived].[CustomerIDs] ci
									WHERE cu.[CustomerGUID_Var] = ci.[CustomerID]
									AND cu.[PublisherID] = ci.[PublisherID])
				AND cu.[FanID] IS NULL
				
			COMMIT TRAN

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END














GO
