USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_IronOfferMember]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

*/

CREATE PROCEDURE [WHB].[PartnersOffers_IronOfferMember] @RunDate DATE = NULL
AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	Find the latest Offer Memberships that have been assigned
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				1.1.	Find the latest Welcome Offer Memberships that have been assigned
			*******************************************************************************************************************************************/
			
			--	DECLARE @RunDate DATE = GETDATE()

				DECLARE @TwoDaysAgo DATE = DATEADD(DAY, -2, @RunDate)

				DROP TABLE IF EXISTS #WelcomeIronOfferMembers
				SELECT	[OfferGUID] = wiom.[OfferGUID]
					,	[IronOfferID] = iof.[IronOfferID]
					,	[CustomerGUID] = wiom.[CustomerGUID]
					,	[CompositeID] = cu.[CompositeID]
					,	[StartDate] = wiom.[StartDate]
					,	[EndDate] = wiom.[EndDate]
					,	[ImportDate] = MIN(wiom.[LoadDate])
				INTO #WelcomeIronOfferMembers
				FROM [WHB].[Inbound_WelcomeIronOfferMembers] wiom
				INNER JOIN [Derived].[IronOffer] iof
					ON wiom.[OfferGUID] = iof.[HydraOfferID]
				INNER JOIN [Derived].[Customer] cu
					ON wiom.[CustomerGUID] = cu.[CustomerGUID]
				WHERE @TwoDaysAgo < wiom.[LoadDate]
				AND iof.IsSignedOff = 1
				GROUP BY	wiom.[OfferGUID]
						,	iof.[IronOfferID]
						,	wiom.[CustomerGUID]
						,	cu.[CompositeID]
						,	wiom.[StartDate]
						,	wiom.[EndDate]
			
				INSERT INTO #WelcomeIronOfferMembers
				SELECT	[OfferGUID] = wiom.[OfferGUID]
					,	[IronOfferID] = iof.[IronOfferID]
					,	[CustomerGUID] = wiom.[CustomerGUID]
					,	[CompositeID] = cu.[CompositeID]
					,	[StartDate] = wiom.[ExtendedStartDate]
					,	[EndDate] = wiom.[ExtendedEndDate]
					,	[ImportDate] = MIN(wiom.[LoadDate])
				FROM [WHB].[Inbound_WelcomeIronOfferMembers] wiom
				INNER JOIN [Derived].[IronOffer] iof
					ON wiom.[OfferGUID] = iof.[HydraOfferID]
				INNER JOIN [Derived].[Customer] cu
					ON wiom.[CustomerGUID] = cu.[CustomerGUID]
				WHERE @TwoDaysAgo < wiom.[LoadDate]
				AND wiom.[ExtendedStartDate] IS NOT NULL
				AND wiom.[ExtendedEndDate] IS NOT NULL
				AND (	wiom.[PushedToProduction] IS NULL
					OR	wiom.[PushedToProduction] = 1)
				GROUP BY	wiom.[OfferGUID]
						,	iof.[IronOfferID]
						,	wiom.[CustomerGUID]
						,	cu.[CompositeID]
						,	wiom.[ExtendedStartDate]
						,	wiom.[ExtendedEndDate]

				CREATE CLUSTERED INDEX [CSX_Dates] ON #WelcomeIronOfferMembers ([StartDate], [EndDate])
				CREATE NONCLUSTERED INDEX [IX_DatesGUIDs_All] ON #WelcomeIronOfferMembers ([StartDate], [EndDate], [OfferGUID], [CustomerGUID]) INCLUDE ([IronOfferID], [CompositeID], [ImportDate])

			/*******************************************************************************************************************************************
				1.2.	Find the latest Bank Funded Offer Memberships that have been assigned
			*******************************************************************************************************************************************/

			--	DECLARE @RunDate DATE = GETDATE() DECLARE @TwoDaysAgo DATE = DATEADD(DAY, -2, @RunDate)

				DROP TABLE IF EXISTS #BankFundedIronOfferMembers
				SELECT	[OfferGUID] = wiom.[OfferGUID]
					,	[IronOfferID] = iof.[IronOfferID]
					,	[CustomerGUID] = wiom.[CustomerGUID]
					,	[CompositeID] = cu.[CompositeID]
					,	[StartDate] = wiom.[StartDate]
					,	[EndDate] = wiom.[EndDate]
					,	[ImportDate] = MIN(wiom.[LoadDate])
				INTO #BankFundedIronOfferMembers
				FROM [Inbound].[BankFundedIronOfferMembers] wiom
				INNER JOIN [Derived].[IronOffer] iof
					ON wiom.[OfferGUID] = iof.[HydraOfferID]
				INNER JOIN [Derived].[Customer] cu
					ON wiom.[CustomerGUID] = cu.[CustomerGUID]
				WHERE @TwoDaysAgo < wiom.[LoadDate]
				AND iof.IsSignedOff = 1
				GROUP BY	wiom.[OfferGUID]
						,	iof.[IronOfferID]
						,	wiom.[CustomerGUID]
						,	cu.[CompositeID]
						,	wiom.[StartDate]
						,	wiom.[EndDate]

				CREATE CLUSTERED INDEX [CSX_Dates] ON #BankFundedIronOfferMembers ([StartDate], [EndDate])
				CREATE NONCLUSTERED INDEX [IX_DatesGUIDs_All] ON #BankFundedIronOfferMembers ([StartDate], [EndDate], [OfferGUID], [CustomerGUID]) INCLUDE ([IronOfferID], [CompositeID], [ImportDate])

			/*******************************************************************************************************************************************
				1.3.	Find the latest Segmented Offer Memberships that have been assigned
			*******************************************************************************************************************************************/
		
			--	DECLARE @RunDate DATE = GETDATE() DECLARE @TwoDaysAgo DATE = DATEADD(DAY, -2, @RunDate)

				DROP TABLE IF EXISTS #OfferProcessLog
				SELECT	opl.[IronOfferID]
					,	[ImportDate] = MIN(opl.[ProcessedDate])
				INTO #OfferProcessLog
				FROM [Segmentation].[OfferProcessLog] opl
				WHERE @TwoDaysAgo < ProcessedDate
				AND opl.[IsUpdate] = 0
				AND opl.[Processed] = 1
				GROUP BY	opl.[IronOfferID]

				CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #OfferProcessLog ([IronOfferID])

				DROP TABLE IF EXISTS #SegmentedIronOfferMember
				CREATE TABLE #SegmentedIronOfferMember ([OfferGUID] [uniqueidentifier] NOT NULL
													,	[IronOfferID] [int] NOT NULL
													,	[CustomerGUID] [uniqueidentifier] NOT NULL
													,	[CompositeID] [bigint] NULL
													,	[StartDate] [datetime] NOT NULL
													,	[EndDate] [datetime] NULL
													,	[ImportDate] [datetime] NULL)

				CREATE CLUSTERED INDEX [CIX_GUIDsDates] ON #SegmentedIronOfferMember ([IronOfferID], [CompositeID], [StartDate])
		
				INSERT INTO #SegmentedIronOfferMember
				SELECT	[OfferGUID] = iof.[HydraOfferID]
					,	oma.[IronOfferID]
					,	cu.[CustomerGUID]
					,	oma.[CompositeID]
					,	oma.[StartDate]
					,	oma.[EndDate]
					,	[ImportDate] = MIN(oma.[AddedDate])
				FROM [Segmentation].[OfferMemberAddition] oma
				INNER JOIN [Derived].[IronOffer] iof
					ON oma.[IronOfferID] = iof.[IronOfferID]
				INNER JOIN [Derived].[Customer] cu
					ON oma.[CompositeID] = cu.[CompositeID]
					AND iof.[ClubID] = cu.[ClubID]
				WHERE EXISTS (	SELECT 1
								FROM #OfferProcessLog opl
								WHERE oma.[IronOfferID] = opl.[IronOfferID])
				GROUP BY	iof.[HydraOfferID]
						,	oma.[IronOfferID]
						,	cu.[CustomerGUID]
						,	oma.[CompositeID]
						,	oma.[StartDate]
						,	oma.[EndDate]
				ORDER BY	oma.[IronOfferID]
						,	oma.[StartDate]
						,	oma.[EndDate]

		/*******************************************************************************************************************************************
			2.	Split out the rows that need to be added [Derived].[IronOfferMember]
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				2.1.	Pull a list of [IronOfferID]s
			*******************************************************************************************************************************************/

				DROP TABLE IF EXISTS #OfferMembers_IronOfferID_All
				SELECT	iof.[IronOfferID]
					,	iom.[StartDate]
				INTO #OfferMembers_IronOfferID_All
				FROM [Derived].[IronOffer] iof
				CROSS APPLY (	SELECT	[StartDate] = MIN(iom.[StartDate])
								FROM #WelcomeIronOfferMembers iom
								WHERE iof.[HydraOfferID] = iom.[OfferGUID]
								GROUP BY iom.[OfferGUID]) iom

				INSERT INTO #OfferMembers_IronOfferID_All
				SELECT	iof.[IronOfferID]
					,	iom.[StartDate]
				FROM [Derived].[IronOffer] iof
				CROSS APPLY (	SELECT	[StartDate] = MIN(iom.[StartDate])
								FROM #BankFundedIronOfferMembers iom
								WHERE iof.[HydraOfferID] = iom.[OfferGUID]
								GROUP BY iom.[OfferGUID]) iom

				INSERT INTO #OfferMembers_IronOfferID_All
				SELECT	iof.[IronOfferID]
					,	iom.[StartDate]
				FROM [Derived].[IronOffer] iof
				CROSS APPLY (	SELECT	[StartDate] = MIN(iom.[StartDate])
								FROM #SegmentedIronOfferMember iom
								WHERE iof.[IronOfferID] = iom.[IronOfferID]
								GROUP BY iom.[IronOfferID]) iom

				DROP TABLE IF EXISTS #OfferMembers_IronOfferID
				SELECT	om.[IronOfferID]
					,	[StartDate] = MIN(om.[StartDate])
				INTO #OfferMembers_IronOfferID
				FROM #OfferMembers_IronOfferID_All om
				GROUP BY	om.[IronOfferID]

				CREATE UNIQUE CLUSTERED INDEX [UCIX_IronOfferID] ON #OfferMembers_IronOfferID ([IronOfferID])

			/*******************************************************************************************************************************************
				2.2.	Fetch memberships that have not loaded to [Derived].[IronOfferMember]
			*******************************************************************************************************************************************/

				DECLARE @MinStart DATE = DATEADD(DAY, -1, (SELECT MIN([StartDate]) FROM #OfferMembers_IronOfferID))

				DROP TABLE IF EXISTS #IronOfferMember
				SELECT	wiom.[OfferGUID]
					,	wiom.[IronOfferID]
					,	wiom.[CustomerGUID]
					,	wiom.[CompositeID]
					,	wiom.[StartDate]
					,	wiom.[EndDate]
					,	wiom.[ImportDate]
				INTO #IronOfferMember
				FROM #WelcomeIronOfferMembers wiom
				WHERE NOT EXISTS (	SELECT 1
									FROM [Warehouse].[Relational].[IronOfferMember] iom WITH (NOLOCK)
									INNER JOIN #OfferMembers_IronOfferID om
										ON iom.[IronOfferID] = om.[IronOfferID]
									WHERE wiom.[IronOfferID] = iom.[IronOfferID]
									AND wiom.[CompositeID] = iom.[CompositeID]
									AND wiom.[StartDate] = iom.[StartDate]
									AND wiom.[EndDate] = iom.[EndDate]
									AND iom.[StartDate] > @MinStart)

				INSERT INTO #IronOfferMember
				SELECT	biom.[OfferGUID]
					,	biom.[IronOfferID]
					,	biom.[CustomerGUID]
					,	biom.[CompositeID]
					,	biom.[StartDate]
					,	biom.[EndDate]
					,	biom.[ImportDate]
				FROM #BankFundedIronOfferMembers biom
				WHERE NOT EXISTS (	SELECT 1
									FROM [Warehouse].[Relational].[IronOfferMember] iom WITH (NOLOCK)
									INNER JOIN #OfferMembers_IronOfferID om
										ON iom.[IronOfferID] = om.[IronOfferID]
									WHERE biom.[IronOfferID] = iom.[IronOfferID]
									AND biom.[CompositeID] = iom.[CompositeID]
									AND biom.[StartDate] = iom.[StartDate]
									AND biom.[EndDate] = iom.[EndDate]
									AND iom.[StartDate] > @MinStart)

				INSERT INTO #IronOfferMember
				SELECT	siom.[OfferGUID]
					,	siom.[IronOfferID]
					,	siom.[CustomerGUID]
					,	siom.[CompositeID]
					,	siom.[StartDate]
					,	siom.[EndDate]
					,	siom.[ImportDate]
				FROM #SegmentedIronOfferMember siom
				WHERE NOT EXISTS (	SELECT 1
									FROM [Warehouse].[Relational].[IronOfferMember] iom WITH (NOLOCK)
									INNER JOIN #OfferMembers_IronOfferID om
										ON iom.[IronOfferID] = om.[IronOfferID]
									WHERE siom.[IronOfferID] = iom.[IronOfferID]
									AND siom.[CompositeID] = iom.[CompositeID]
									AND siom.[StartDate] = iom.[StartDate]
									AND siom.[EndDate] = iom.[EndDate]
									AND iom.[StartDate] > @MinStart)

				CREATE CLUSTERED INDEX [CIX_GUIDs] ON #IronOfferMember ([IronOfferID], [OfferGUID], [CustomerGUID], [CompositeID])

		/*******************************************************************************************************************************************
			3.	Insert the latest Welcome Offer Memberships to [CRM].[IronOfferMember]
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				3.1.	Insert the latest Offer Details
			*******************************************************************************************************************************************/

				INSERT INTO [CRM].[IronOfferMember_OfferDetail] (	[OfferGUID]
																,	[StartDate]
																,	[EndDate]
																,	[AddedDate])
				SELECT	DISTINCT
						iom.[OfferGUID]
					,	iom.[StartDate]
					,	iom.[EndDate]
					,	[AddedDate] = GETDATE()
				FROM #IronOfferMember iom
				WHERE NOT EXISTS (	SELECT 1
									FROM [CRM].[IronOfferMember_OfferDetail] od
									WHERE iom.[OfferGUID] = od.[OfferGUID]
									AND iom.[StartDate] = od.[StartDate]
									AND iom.[EndDate] = od.[EndDate])

			/*******************************************************************************************************************************************
				3.2.	Insert the latest Offer Memberships
			*******************************************************************************************************************************************/
	
				INSERT INTO [CRM].[IronOfferMember_Memberships] (	[IronOfferMember_OfferDetailID]
																,	[CustomerGUID]
																,	[AddedDate])
				SELECT	od.[IronOfferMember_OfferDetailID]
					,	iom.[CustomerGUID]
					,	[AddedDate] = GETDATE()
				FROM #IronOfferMember iom
				CROSS APPLY (	SELECT	od.[IronOfferMember_OfferDetailID]
								FROM [CRM].[IronOfferMember_OfferDetail] od
								WHERE iom.[OfferGUID] = od.[OfferGUID]
								AND iom.[StartDate] = od.[StartDate]
								AND iom.[EndDate] = od.[EndDate]) od
				ORDER BY	od.[IronOfferMember_OfferDetailID]

			/*******************************************************************************************************************************************
				3.3.	Mark customer as updated
			*******************************************************************************************************************************************/
					
				UPDATE cu
				SET cu.[ModifiedDate] = GETDATE()
				FROM [CRM].[IronOfferMember_Customer] cu
				WHERE EXISTS (	SELECT 1
								FROM #IronOfferMember iom
								WHERE cu.[CustomerGUID] = iom.[CustomerGUID])

		/*******************************************************************************************************************************************
			4.	Insert the latest Welcome Offer Memberships to [Derived].[IronOfferMember]
		*******************************************************************************************************************************************/
	
			DECLARE	@RowNo INT = 1
				,	@RowCount INT
				,	@RowCount_Total BIGINT = (SELECT COUNT(*) FROM #IronOfferMember)
				,	@RowCount_Inserted BIGINT = 0

			SET @RowCount = 1300000 -- CJM migration / removes two sorts from the plan
			SET @RowNo = 1

			WHILE @RowCount = 1300000
				BEGIN

					;WITH
					IronOfferMember_MissingRows AS (SELECT TOP(@RowCount) * 
													FROM #IronOfferMember
													ORDER BY [IronOfferID])

					DELETE
					FROM IronOfferMember_MissingRows
					OUTPUT DELETED.IronOfferID
						 , DELETED.CompositeID
						 , DELETED.StartDate
						 , DELETED.EndDate
						 , DELETED.ImportDate
					INTO [Warehouse].[Relational].[IronOfferMember]
					OPTION (OPTIMIZE FOR (@RowCount = 1500000)) 

					SET @RowCount = @@ROWCOUNT
					SET @RowCount_Inserted = @RowCount_Inserted + @RowCount
					SET @RowNo = @RowNo + 1
					
					IF (SELECT @RowNo % 10) = 0 AND (SELECT @RowCount_Total - @RowCount_Inserted) > 15000000
						BEGIN
							UPDATE STATISTICS #IronOfferMember
						END
				END

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
