USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_Behavioural_Refresh]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_EventPush_Behavioural_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ID BIGINT

	SELECT	@ID = ISNULL(MAX([MaxID]), 0)
	FROM [WHB].[Braze_EventPush_Behavioural_Log]

	DROP TABLE IF EXISTS #BankTransEnriched;
	SELECT	bt.[ID]
		,	bt.[CustomerGUID]
		,	mtt.[MatchedTransactionTypeName]
		,	btd.[Description]
		,	[TransactionType] =	CASE
									WHEN bt.[TransactionTypeID] = 11 THEN 'Mobile Login'
									WHEN bt.[TransactionTypeID] = 8 AND btd.[Description] LIKE 'Direct Debit - reward earned - %' THEN 'Direct Debit'
									ELSE btd.[Description]
								END
		,	bt.[TransactionAmount]
		,	bt.[CashbackEarned]
		,	bt.[TransactionGUID]
		,	[TranDateTime] = CONVERT(DATETIME, bt.[TranDate]) + CONVERT(DATETIME, bt.[TranTime])
		,	[FirstEarn] = 0
	INTO #BankTransEnriched
	FROM (	SELECT	bt.[ID]
				,	bt.[CustomerGUID]
				,	bt.[TransactionTypeID]
				,	bt.[TransactionAmount]
				,	bt.[CashbackEarned]
				,	bt.[TransactionGUID]
				,	bt.[TranDate]
				,	bt.[TranTime]
				,	bt.[DescriptionID]
			FROM [Derived].[BankTrans] bt
			WHERE bt.[ID] > @ID
			AND bt.[TransactionTypeID] IN (8, 11)) bt
	LEFT JOIN [WHB].[Inbound_MatchedTransactionTypes] mtt
		ON bt.[TransactionTypeID] = mtt.[MatchedTransactionTypeID]
	LEFT JOIN [Derived].[BankTrans_Description] btd
		ON bt.[DescriptionID] = btd.[DescriptionID];

	CREATE CLUSTERED INDEX [CIX_CustomerGUIDTranType] ON #BankTransEnriched ([CustomerGUID], [TransactionType]);

	DROP TABLE IF EXISTS #BankTransAgg
	SELECT	bt.[CustomerGUID]
		,	bt.[TransactionType]
		,	[TransactionMonth] = DATEADD(MONTH, -1, DATEADD(DAY, 1, EOMONTH(bt.[TranDateTime])))
		,	[TransactionAmount] = SUM(bt.[TransactionAmount])
		,	[CashbackEarned] = SUM(bt.[CashbackEarned])
		,	[FirstTransactionDate] = MIN(CONVERT(DATE, bt.[TranDateTime]))
		,	[LastTransactionDate] = MAX(CONVERT(DATE, bt.[TranDateTime]))
	INTO #BankTransAgg
	FROM #BankTransEnriched bt
	GROUP BY	bt.[CustomerGUID]
			,	bt.[TransactionType]
			,	DATEADD(MONTH, -1, DATEADD(DAY, 1, EOMONTH(bt.[TranDateTime])))

	CREATE CLUSTERED INDEX [CIX_MonthCustomerGUIDTranType] ON #BankTransAgg ([TransactionMonth], [CustomerGUID], [TransactionType]);

	DROP TABLE IF EXISTS #FirstEarn
	SELECT	[ID]
	INTO #FirstEarn
	FROM (	SELECT	[ID]
				,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY [CustomerGUID], [TransactionType] ORDER BY [TranDateTime], [ID])
			FROM #BankTransEnriched pte
			WHERE NOT EXISTS (	SELECT 1
								FROM [CRM].[Braze_CustomerBehavioural_FirstEarnLog] fel
								WHERE pte.[CustomerGUID] = fel.[CustomerGUID]
								AND pte.[TransactionType] = fel.[TransactionType])) fe
	WHERE fe.[RowNum] = 1

	UPDATE pte
	SET pte.[FirstEarn] = 1
	FROM #BankTransEnriched pte
	WHERE EXISTS (	SELECT 1
					FROM #FirstEarn fe
					WHERE pte.[ID] = fe.[ID])
					
	DROP TABLE IF EXISTS #CustomerLog;
	SELECT	bte.[CustomerGUID]
		,	[MaxID] = MAX(bte.[ID])
	INTO #CustomerLog
	FROM #BankTransEnriched bte
	GROUP BY bte.[CustomerGUID];

	CREATE UNIQUE CLUSTERED INDEX [UCIX_CustomerGUID] ON #CustomerLog ([CustomerGUID]);
	
	INSERT INTO [WHB].[Braze_EventPush_Behavioural] WITH (TABLOCKX) (	[ID]
																	,	[CustomerGUID]
																	,	[TransactionType]
																	,	[TransactionAmount]
																	,	[CashbackEarned]
																	,	[TranDateTime]
																	,	[FirstEarn]
																	,	[PushedToBraze])
	SELECT	bte.[ID]
		,	bte.[CustomerGUID]
		,	bte.[TransactionType]
		,	bte.[TransactionAmount]
		,	bte.[CashbackEarned]
		,	bte.[TranDateTime]
		,	bte.[FirstEarn]
		,	[PushedToBraze] = 0
	FROM #BankTransEnriched bte
	WHERE bte.[TranDateTime] > DATEADD(MONTH, -3, GETDATE())
	AND NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_EventPush_Behavioural] epb
						WHERE bte.[ID] = epb.[ID]);

	MERGE [CRM].[Braze_CustomerBehaviouralLog] TGT
	USING (	SELECT	bta.[CustomerGUID]
				,	bta.[TransactionType]
				,	[Spend] = SUM(bta.[TransactionAmount])
				,	[CashbackEarned] = SUM(bta.[CashbackEarned])
				,	[FirstTransactionDate] = MIN(CONVERT(DATE, bta.[FirstTransactionDate]))
				,	[LastTransactionDate] = MAX(CONVERT(DATE, bta.[LastTransactionDate]))
			FROM #BankTransAgg bta
			GROUP BY	bta.[CustomerGUID]
					,	bta.[TransactionType]) SRC
		ON TGT.[CustomerGUID] = SRC.[CustomerGUID]
		AND TGT.[TransactionType] = SRC.[TransactionType]

	WHEN MATCHED
	THEN UPDATE
		SET	TGT.[Spend] = SRC.[Spend] + TGT.[Spend]
		,	TGT.[CashbackEarned] = SRC.[CashbackEarned] + TGT.[CashbackEarned]
		,	TGT.[FirstTransactionDate] = CASE WHEN SRC.[FirstTransactionDate] < TGT.[FirstTransactionDate] THEN SRC.[FirstTransactionDate] ELSE TGT.[FirstTransactionDate] END
		,	TGT.[LastTransactionDate] = CASE WHEN SRC.[LastTransactionDate] > TGT.[LastTransactionDate] THEN SRC.[LastTransactionDate] ELSE TGT.[LastTransactionDate] END
		,	TGT.[ModifiedDate] = GETDATE()

	WHEN NOT MATCHED
		THEN INSERT (	[CustomerGUID]
					,	[TransactionType]
					,	[Spend]
					,	[CashbackEarned]
					,	[FirstTransactionDate]
					,	[LastTransactionDate]
					,	[ModifiedDate])
		VALUES (SRC.[CustomerGUID]
			,	SRC.[TransactionType]
			,	SRC.[Spend]
			,	SRC.[CashbackEarned]
			,	SRC.[FirstTransactionDate]
			,	SRC.[LastTransactionDate]
			,	GETDATE());

	MERGE [CRM].[Braze_CustomerBehaviouralMonthlyLog] TGT
	USING (	SELECT	bta.[CustomerGUID]
				,	bta.[TransactionMonth]
				,	bta.[TransactionType]
				,	[Spend] = SUM(bta.[TransactionAmount])
				,	[CashbackEarned] = SUM(bta.[CashbackEarned])
			FROM #BankTransAgg bta
			GROUP BY	bta.[CustomerGUID]
					,	bta.[TransactionMonth]
					,	bta.[TransactionType]) SRC
		ON TGT.[CustomerGUID] = SRC.[CustomerGUID]
		AND TGT.[TransactionType] = SRC.[TransactionType]
		AND TGT.[TransactionMonth] = SRC.[TransactionMonth]

	WHEN MATCHED
	THEN UPDATE
		SET	TGT.[Spend] = SRC.[Spend] + TGT.[Spend]
		,	TGT.[CashbackEarned] = SRC.[CashbackEarned] + TGT.[CashbackEarned]
		,	TGT.[ModifiedDate] = GETDATE()

	WHEN NOT MATCHED
		THEN INSERT (	[CustomerGUID]
					,	[TransactionMonth]
					,	[TransactionType]
					,	[Spend]
					,	[CashbackEarned]
					,	[ModifiedDate])
		VALUES (SRC.[CustomerGUID]
			,	SRC.[TransactionMonth]
			,	SRC.[TransactionType]
			,	SRC.[Spend]
			,	SRC.[CashbackEarned]
			,	GETDATE());

	INSERT INTO [CRM].[Braze_CustomerBehavioural_FirstEarnLog]
	SELECT	[CustomerGUID]
		,	[TransactionType]
		,	[TransactionGUID]
		,	[TranDateTime]
		,	[AddedDate] = GETDATE()
	FROM #BankTransEnriched pte
	WHERE pte.[FirstEarn] = 1
	AND NOT EXISTS (SELECT 1
					FROM [CRM].[Braze_CustomerBehavioural_FirstEarnLog] fel
					WHERE pte.[CustomerGUID] = fel.[CustomerGUID]
					AND pte.[TransactionType] = fel.[TransactionType])
	ORDER BY	[CustomerGUID]
			,	[TransactionType]
			,	[TranDateTime]

	UPDATE epl
	SET epl.[MaxID] = c.[MaxID]
	FROM [WHB].[Braze_EventPush_Behavioural_Log] epl
	INNER JOIN #CustomerLog c 
		ON c.CustomerGUID = epl.CustomerGUID;

	INSERT INTO [WHB].[Braze_EventPush_Behavioural_Log] (	[CustomerGUID]
														,	[MaxID])
	SELECT	cl.[CustomerGUID]
		,	cl.[MaxID]
	FROM #CustomerLog cl
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_EventPush_Behavioural_Log] epl
						WHERE cl.[CustomerGUID] = epl.[CustomerGUID]) 
	ORDER BY cl.[CustomerGUID];

END
GO
