USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Emails_EmailEvents]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Emails_EmailEvents] @RunDate DATE = NULL

AS

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
	,	@msg VARCHAR(200)
	,	@RowsAffected INT
	,	@Query VARCHAR(MAX)

EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

BEGIN TRY

/*******************************************************************************************************************************************
		1.	Populate all Email Events
*******************************************************************************************************************************************/

	/***************************************************************************************************************************************
		1.1.	Fetch all new Email Events
	***************************************************************************************************************************************/
		
		DECLARE @MinID BIGINT
			,	@MaxID BIGINT

		SELECT	@MinID = MIN(ee.[EventID])
			,	@MaxID = MAX(ee.[EventID]) - 10000000
		FROM [Warehouse].[Relational].[EmailEvent] ee

		DROP TABLE IF EXISTS #EmailEvent
		CREATE TABLE #EmailEvent (	[EventID] BIGINT
								,	[EventDateTime] DATETIME
								,	[EventDate] DATE
								,	[FanID] BIGINT
								,	[CompositeID] BIGINT
								,	[CampaignKey] NVARCHAR(8)
								,	[EmailEventCodeID] INT)

		INSERT INTO #EmailEvent
		SELECT	[EventID] = ee.[ID]
			,	[EventDateTime] = ee.[Date]	--The date field is actually a datetime field
			,	[EventDate] = ee.[Date]	--The date field is actually a datetime field
			,	ee.[FanID]
			,	cu.[CompositeID]
			,	ee.[CampaignKey]
			,	ee.[EmailEventCodeID]
		FROM [SLC_REPL].[dbo].[EmailEvent] ee
		INNER JOIN [Derived].[Customer] cu
			ON ee.[FanID] = cu.[FanID]
		WHERE NOT EXISTS (	SELECT 1
							FROM [Warehouse].[Relational].[EmailEvent] ee_r
							WHERE ee.[ID] = ee_r.[EventID])
		AND ee.[ID] > @MaxID

		DROP TABLE IF EXISTS #BrazeExports_Campaigns
		SELECT	ca.[CampaignID]
			,	ca.[CampaignGUID]
			,	ca.[CampaignName]
			,	[CampaignKey] = LEFT(CONVERT(NVARCHAR(36), ca.[CampaignGUID]), 8)
		INTO #BrazeExports_Campaigns
		FROM [WH_AllPublishers].[CRM].[BrazeExports_Campaigns] ca

		CREATE CLUSTERED INDEX [CIX_CampaignID] ON #BrazeExports_Campaigns ([CampaignID])
			
		INSERT INTO #EmailEvent
		SELECT	[EventID] = ee.[ID] * -1
			,	ee.[EventDateTime]
			,	[EventDate] = ee.[EventDateTime]
			,	cu.[FanID]
			,	cu.[CompositeID]
			,	ca.[CampaignKey]
			,	[EmailEventCodeID] =	CASE
											WHEN ee.[EventTypeID] = 27 THEN 1301
											WHEN ee.[EventTypeID] = 30 THEN 303
											WHEN ee.[EventTypeID] = 23 THEN 605
											WHEN ee.[EventTypeID] = 29 THEN 701
											WHEN ee.[EventTypeID] = 22 THEN 702
											WHEN ee.[EventTypeID] = 25 THEN 910
											WHEN ee.[EventTypeID] = 24 THEN 666
										END
		FROM [CRM].[Events_Email] ee
		INNER JOIN [Derived].[Customer] cu
			ON ee.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [WH_AllPublishers].[CRM].[BrazeExports_EventTypes] et
			ON ee.[EventTypeID] = et.[EventTypeID]
		LEFT JOIN #BrazeExports_Campaigns ca
			ON ee.[CampaignID] = ca.[CampaignID]
		WHERE ee.[EventTypeID] IN (27, 30, 23, 29, 22, 25, 24)
		AND NOT EXISTS (	SELECT 1
							FROM [Warehouse].[Relational].[EmailEvent] ee_r
							WHERE ee.[ID] * -1 = ee_r.[EventID])
		AND ee.[CampaignID] IS NOT NULL
	--	AND ee.[ID] < @MinID

		INSERT INTO [Warehouse].[Relational].[EmailEvent] (	[EventID]
														,	[EventDateTime]
														,	[EventDate]
														,	[FanID]
														,	[CompositeID]
														,	[CampaignKey]
														,	[EmailEventCodeID])
		SELECT	ee.[EventID]
			,	ee.[EventDateTime]
			,	ee.[EventDate]
			,	ee.[FanID]
			,	ee.[CompositeID]
			,	ee.[CampaignKey]
			,	ee.[EmailEventCodeID]
		FROM #EmailEvent ee

/*******************************************************************************************************************************************
		2.	Populate all Email Campaigns
*******************************************************************************************************************************************/

	Truncate table [Warehouse].[Relational].[EmailCampaign]	

	SET IDENTITY_INSERT [Warehouse].[Relational].[EmailCampaign] ON

	Insert into	[Warehouse].[Relational].[EmailCampaign] (ID,CampaignKey,EmailKey,CampaignName,[Subject],SendDateTime,SendDate	)
	select	ec.ID as ID,
			ec.CampaignKey as CampaignKey,
			ec.EmailKey as EmailKey,
			ec.CampaignName as CampaignName,
			ec.Subject as [Subject],
			ec.SendDate						as SendDateTime,
			cast(ec.SendDate as date)		as SendDate
	from	[SLC_REPL].dbo.[EmailCampaign] ec
	where	ec.CampaignKey in (select distinct CampaignKey from [Warehouse].[Relational].EmailEvent)
			and ec.SendDate >= '1 Jan 2012'	
	order by 	ec.SendDate
	
	Insert into	[Warehouse].[Relational].[EmailCampaign] (ID,CampaignKey,EmailKey,CampaignName,[Subject],SendDateTime,SendDate	)
	SELECT	[ID] = ca.[CampaignID] * -1
		,	ca.[CampaignKey]
		,	[EmailKey] = NULL
		,	ca.[CampaignName]
		,	[Subject] = NULL
		,	[SendDateTime] = GETDATE()
		,	[SendDate] = GETDATE()
	FROM #BrazeExports_Campaigns ca

	SET IDENTITY_INSERT [Warehouse].[Relational].[EmailCampaign] OFF

	-- log it
	SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[EmailCampaign] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

/*******************************************************************************************************************************************
		3.	Populate all Email Event Codes
*******************************************************************************************************************************************/
	
--	TRUNCATE TABLE [Derived].[EmailEventCode]

	INSERT INTO	[Warehouse].[Relational].[EmailEventCode] ([EmailEventCodeID]
										,	[EmailEventDesc])	
	SELECT	[EmailEventCodeID] = [ID]
		,	[EmailEventDesc] = [Name]
	FROM [SLC_REPL].dbo.[EmailEventCode] eec
	WHERE EXISTS (	SELECT 1
					FROM [Warehouse].[Relational].[EmailEvent] ee
					WHERE ee.EmailEventCodeID = eec.[ID])
	AND NOT EXISTS (SELECT 1
					FROM [Warehouse].[Relational].[EmailEventCode] eec2
					WHERE eec.[ID] = eec2.[EmailEventCodeID])

	-- log it
	SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[EmailEventCode] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

	RETURN 0; -- normal exit here

END TRY
BEGIN CATCH		
		
	-- Grab the error details
	SELECT  
		@ERROR_NUMBER = ERROR_NUMBER(), 
		@ERROR_SEVERITY = ERROR_SEVERITY(), 
		@ERROR_STATE = ERROR_STATE(), 
		@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
		@ERROR_LINE = ERROR_LINE(),   
		@ERROR_MESSAGE = ERROR_MESSAGE();
	SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

	IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
	-- Insert the error INTO the ErrorLog
	INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
	VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

	-- Regenerate an error to return to caller
	SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
	RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

	-- Return a failure
	RETURN -1;
END CATCH

RETURN 0; -- should never run
















GO
