USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_IronOffer]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[PartnersOffers_IronOffer]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
	
		/*******************************************************************************************************************************************
			1.	Create an IronOfferID for all new Offers that have been received
		*******************************************************************************************************************************************/
			
			INSERT INTO [WH_AllPublishers].[Derived].[OfferIDs]
			SELECT	DISTINCT
					pai.[PartnerID]
				,	pui.[PublisherID]
				,	[PublisherID_RewardBI] = pui.[PublisherID]
				,	[OfferCode] = iof.[OfferGUID]
				,	[OfferIDTypeID] = 2	--	Bank Scheme Import to DIMAIN
				,	[ImportDate] = GETDATE()
			FROM [WHB].[Inbound_Offer] iof
			INNER JOIN [WH_AllPublishers].[WHB].[PublisherIDs] pui
				ON iof.[PublisherGUID] = pui.[PublisherGUID]
			INNER JOIN [WH_AllPublishers].[WHB].[PartnerIDs] pai
				ON iof.[RetailerGUID] = pai.[PartnerGUID]
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Derived].[OfferIDs] oi
								WHERE CONVERT(VARCHAR(64), iof.[OfferGUID]) = oi.[OfferCode])

		/*******************************************************************************************************************************************
			2.	Populate the [Derived].[IronOffer] table
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #CommissionType
			SELECT	oi.[IronOfferID]
				,	[CommissionType] = MAX(	CASE 
												WHEN [IsBounty] = 1 THEN 'Cashback'
												WHEN [IsBounty] = 0 THEN 'Rate'
											END)
			INTO #CommissionType
			FROM [WHB].[Inbound_OfferDetail] od
			INNER JOIN [WH_AllPublishers].[Derived].[OfferIDs] oi
				ON CONVERT(VARCHAR(64), od.[OfferGUID]) = oi.[OfferCode]
			GROUP BY oi.[IronOfferID]

			DROP TABLE IF EXISTS #OfferGUIDs
			SELECT	[IronOfferID]
				,	[PartnerID]
				,	[PublisherID]
				,	[PublisherID_RewardBI]
				,	[OfferCode] = CONVERT(UNIQUEIDENTIFIER, [OfferCode])
				,	[OfferIDTypeID]
			INTO #OfferGUIDs
			FROM [WH_AllPublishers].[Derived].[OfferIDs] oi
			WHERE EXISTS (	SELECT 1
							FROM [WHB].[Inbound_Offer] iof
							WHERE CONVERT(VARCHAR(64), iof.[OfferGUID]) = oi.[OfferCode])

			TRUNCATE TABLE [Derived].[IronOffer]
			INSERT INTO [Derived].[IronOffer] (	[IronOfferID]
											,	[IronOfferName]
											,	[HydraOfferID]
											,	[StartDate]
											,	[EndDate]
											,	[PartnerID]
											,	[IsAboveTheLine]
											,	[AutoAddToNewRegistrants]
											,	[IsDefaultCollateral]
											,	[IsSignedOff]
											,	[AreEligibleMembersCommitted]
											,	[AreControlMembersCommitted]
											,	[IsTriggerOffer]
											,	[TopCashBackRate]
											,	[SegmentName]
											,	[ClubID]
											,	[EarningType])
			SELECT	DISTINCT
					[IronOfferID] = CONVERT(INT, oi.[IronOfferID])
				,	[IronOfferName] = CONVERT(NVARCHAR(200), iof.[OfferName])
				,	[HydraOfferID] = COALESCE(iof.[OfferGUID], oi.[OfferCode])
				,	[StartDate] = CONVERT(DATETIME, iof.[StartDate])
				,	[EndDate] = CONVERT(DATETIME, iof.[EndDate])
				,	[PartnerID] = CONVERT(INT, oi.[PartnerID])
				,	[IsAboveTheLine] = NULL
				,	[AutoAddToNewRegistrants] = NULL
				,	[IsDefaultCollateral] = NULL
				,	[IsSignedOff] =	CASE
										WHEN [OfferStatusID] = 5 THEN 0
										ELSE 1
									END
				,	[AreEligibleMembersCommitted] = NULL
				,	[AreControlMembersCommitted] = NULL
				,	[IsTriggerOffer] = NULL
				,	[TopCashBackRate] = NULL
				,	[SegmentName] =	CASE
										WHEN iof.[OfferName] LIKE '%Lapsed%' THEN 'Lapsed'
										WHEN iof.[OfferName] LIKE '%Lasped%' THEN 'Lapsed'
										WHEN iof.[OfferName] LIKE '%Acquire%' THEN 'Acquire'
										WHEN iof.[OfferName] LIKE '%Welcome%' THEN 'Welcome'
										WHEN iof.[OfferName] LIKE '%Shopper%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Nursery%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Lapsing%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Universal%' THEN 'Universal'
									END
				,	[ClubID] = oi.[PublisherID]
				,	ct.[CommissionType]
			FROM [WHB].[Inbound_Offer] iof
			INNER JOIN #OfferGUIDs oi
				ON iof.[OfferGUID] = oi.[OfferCode]
				AND iof.[IronOfferID] = oi.[IronOfferID]
			LEFT JOIN #CommissionType ct
				ON CONVERT(INT, oi.[IronOfferID]) = ct.[IronOfferID]

			INSERT INTO [Derived].[IronOffer] (	[IronOfferID]
											,	[IronOfferName]
											,	[HydraOfferID]
											,	[StartDate]
											,	[EndDate]
											,	[PartnerID]
											,	[IsAboveTheLine]
											,	[AutoAddToNewRegistrants]
											,	[IsDefaultCollateral]
											,	[IsSignedOff]
											,	[AreEligibleMembersCommitted]
											,	[AreControlMembersCommitted]
											,	[IsTriggerOffer]
											,	[TopCashBackRate]
											,	[SegmentName]
											,	[ClubID]
											,	[EarningType])
			SELECT	DISTINCT
					[IronOfferID] = CONVERT(INT, oi.[IronOfferID])
				,	[IronOfferName] = CONVERT(NVARCHAR(200), iof.[OfferName])
				,	[HydraOfferID] = COALESCE(iof.[OfferGUID], oi.[OfferCode])
				,	[StartDate] = CONVERT(DATETIME, iof.[StartDate])
				,	[EndDate] = CONVERT(DATETIME, iof.[EndDate])
				,	[PartnerID] = CONVERT(INT, oi.[PartnerID])
				,	[IsAboveTheLine] = NULL
				,	[AutoAddToNewRegistrants] = NULL
				,	[IsDefaultCollateral] = NULL
				,	[IsSignedOff] =	CASE
										WHEN [OfferStatusID] = 5 THEN 0
										ELSE 1
									END
				,	[AreEligibleMembersCommitted] = NULL
				,	[AreControlMembersCommitted] = NULL
				,	[IsTriggerOffer] = NULL
				,	[TopCashBackRate] = NULL
				,	[SegmentName] =	CASE
										WHEN iof.[OfferName] LIKE '%Lapsed%' THEN 'Lapsed'
										WHEN iof.[OfferName] LIKE '%Lasped%' THEN 'Lapsed'
										WHEN iof.[OfferName] LIKE '%Acquire%' THEN 'Acquire'
										WHEN iof.[OfferName] LIKE '%Welcome%' THEN 'Welcome'
										WHEN iof.[OfferName] LIKE '%Shopper%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Nursery%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Lapsing%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Universal%' THEN 'Universal'
									END
				,	[ClubID] = oi.[PublisherID]
				,	ct.[CommissionType]
			FROM [WHB].[Inbound_Offer] iof
			INNER JOIN #OfferGUIDs oi
				ON iof.[OfferGUID] = oi.[OfferCode]
			LEFT JOIN #CommissionType ct
				ON CONVERT(INT, oi.[IronOfferID]) = ct.[IronOfferID]
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[IronOffer] iof2
								WHERE iof.[IronOfferID] = iof2.[IronOfferID])

			INSERT INTO [Derived].[IronOffer] (	[IronOfferID]
											,	[IronOfferName]
											,	[HydraOfferID]
											,	[StartDate]
											,	[EndDate]
											,	[PartnerID]
											,	[IsAboveTheLine]
											,	[AutoAddToNewRegistrants]
											,	[IsDefaultCollateral]
											,	[IsSignedOff]
											,	[AreEligibleMembersCommitted]
											,	[AreControlMembersCommitted]
											,	[IsTriggerOffer]
											,	[TopCashBackRate]
											,	[SegmentName]
											,	[ClubID]
											,	[EarningType])
			SELECT	DISTINCT
					[IronOfferID] = CONVERT(INT, oi.[IronOfferID])
				,	[IronOfferName] = CONVERT(NVARCHAR(200), iof.[OfferName])
				,	[HydraOfferID] = COALESCE(iof.[OfferGUID], oi.[OfferCode])
				,	[StartDate] = CONVERT(DATETIME, iof.[StartDate])
				,	[EndDate] = CONVERT(DATETIME, iof.[EndDate])
				,	[PartnerID] = CONVERT(INT, oi.[PartnerID])
				,	[IsAboveTheLine] = NULL
				,	[AutoAddToNewRegistrants] = NULL
				,	[IsDefaultCollateral] = NULL
				,	[IsSignedOff] =	CASE
										WHEN [OfferStatusID] = 5 THEN 0
										ELSE 1
									END
				,	[AreEligibleMembersCommitted] = NULL
				,	[AreControlMembersCommitted] = NULL
				,	[IsTriggerOffer] = NULL
				,	[TopCashBackRate] = NULL
				,	[SegmentName] =	CASE
										WHEN iof.[OfferName] LIKE '%Lapsed%' THEN 'Lapsed'
										WHEN iof.[OfferName] LIKE '%Lasped%' THEN 'Lapsed'
										WHEN iof.[OfferName] LIKE '%Acquire%' THEN 'Acquire'
										WHEN iof.[OfferName] LIKE '%Welcome%' THEN 'Welcome'
										WHEN iof.[OfferName] LIKE '%Shopper%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Nursery%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Lapsing%' THEN 'Shopper'
										WHEN iof.[OfferName] LIKE '%Universal%' THEN 'Universal'
									END
				,	[ClubID] = oi.[PublisherID]
				,	ct.[CommissionType]
			FROM [WHB].[Inbound_Offer] iof
			INNER JOIN [WH_AllPublishers].[Derived].[OfferIDs] oi
				ON iof.[IronOfferID] = oi.[IronOfferID]
			LEFT JOIN #CommissionType ct
				ON CONVERT(INT, oi.[IronOfferID]) = ct.[IronOfferID]
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[IronOffer] iof2
								WHERE iof.[IronOfferID] = iof2.[IronOfferID])

			UPDATE [Derived].[IronOffer]
			SET [EndDate] = CONVERT(DATETIME, CONVERT(DATE, [EndDate])) + '23:59:59'
			WHERE CONVERT(TIME, [EndDate]) != '23:59:59.0000000' 

			UPDATE [Derived].[IronOffer]
			SET [StartDate] = DATEADD(HOUR, 1, [StartDate])
			WHERE CONVERT(TIME, [StartDate]) = '23:00:00.000'

		/*******************************************************************************************************************************************
			3.	Fetch Cashback Rate
		*******************************************************************************************************************************************/

			UPDATE iof
			SET [TopCashbackRate] = [TCBR]
			FROM [Derived].[IronOffer] iof
			CROSS APPLY (	SELECT MAX(MarketingRate) AS TCBR
							FROM [WHB].[Inbound_OfferDetail] iofd
							WHERE iof.[HydraOfferID] = iofd.[OfferGUID]) x
			WHERE iof.[TopCashbackRate] IS NULL


		/*******************************************************************************************************************************************
			4.	Work Out Campaign Type
		*******************************************************************************************************************************************/

			UPDATE i
			SET [CampaignType] = 'Tactical Campaign'
			FROM [Derived].[IronOffer] as i

		/*******************************************************************************************************************************************
			5.	Remove expired unsigned off offers
		*******************************************************************************************************************************************/

			DELETE iof
			FROM [Derived].[IronOffer] iof
			WHERE iof.[IsAboveTheLine] = 0 
			AND iof.[IsDefaultCollateral] = 0 
			AND iof.[IsSignedOff] = 0 
			AND iof.[IsTriggerOffer] = 0
			AND iof.[EndDate] < GETDATE()

		/*******************************************************************************************************************************************
			6.	Index Maint
		*******************************************************************************************************************************************/
		
			ALTER INDEX ALL ON [Derived].[IronOffer] REBUILD
			ALTER INDEX ALL ON [Derived].[IronOffer] REORGANIZE
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
















GO
