USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[CustomerSegmentation]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[CustomerSegmentation]
AS

BEGIN

DECLARE @EmailDate DATE

SELECT @EmailDate = MIN([EmailDate])
FROM (	SELECT	cs.[EmailDate]
		FROM [Selections].[CampaignSetup_POS] cs
		WHERE cs.[SelectionRun] = 0
		AND cs.[ReadyToRun] = 1
		AND cs.[EndDate] > GETDATE()
		UNION ALL
		SELECT	cs.[EmailDate]
		FROM [Selections].[CampaignSetup_DD] cs
		WHERE cs.[SelectionRun] = 0
		AND cs.[ReadyToRun] = 1
		AND cs.[EndDate] > GETDATE()) cs

EXEC [Segmentation].[Segmentation_CloseDeactivatedCustomers]

EXEC [Segmentation].[Segmentation_Loop_POS] @EmailDate

END

GO
