USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[__AllPublishers_Customer_Earnings_CJM_Applied]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[__AllPublishers_Customer_Earnings_CJM_Applied]	@ExecutionType VARCHAR(50) = 'Month'
													,	@ExecutionDateStart DATE = NULL
													,	@ExecutionDateEnd DATE = NULL
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over 00:00:00
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = GETDATE(), @ExecutionDateEnd DATE = GETDATE()
	--	DECLARE @ExecutionType VARCHAR(10) = 'Month', @ExecutionDateStart DATE = '2025-01-01', @ExecutionDateEnd DATE = '2025-01-31'; set nocount off
	--	DECLARE @ExecutionType VARCHAR(10) = 'Year', @ExecutionDateStart DATE = '2024-01-01', @ExecutionDateEnd DATE = '2024-12-31'

		IF @ExecutionDateStart = NULL SET @ExecutionDateStart = GETDATE()
		IF @ExecutionDateEnd = NULL SET @ExecutionDateEnd = GETDATE()

		DROP TABLE IF EXISTS #DatesInput
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate])

		DROP TABLE IF EXISTS #Dates
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE)

		INSERT INTO #Dates
		EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType

		--select * from #Dates

	/*******************************************************************************************************************************************
		3.	Fetch aggregate of retailer earnings within the period		00:00:02 - 00:00:32
	*******************************************************************************************************************************************/
	
		DECLARE @MinDate_ST DATE
			,	@MaxDate_ST DATE

		SELECT	@MinDate_ST = MIN([StartDate])
			,	@MaxDate_ST = MAX([EndDate])
		FROM #Dates

		DROP TABLE IF EXISTS #Earnings_Retailer;
		SELECT	st.[FanID]
			,	st.[PartnerID]
			,	[Refund] =	CASE
								WHEN COALESCE(st.[Spend], 0) < 0 THEN 1
								ELSE 0
							END
			,	[Transactions] = COUNT(DISTINCT st.[ID])
			,	[Spend] = SUM(st.[Spend])
			,	[CashbackEarned] = SUM(st.[RetailerCashback])
			,	[Investment] = SUM(st.[Investment])
			,	[FirstTransaction] = MIN(st.[TranDate])
			,	[LastTransaction] = MAX(st.[TranDate])
		INTO #Earnings_Retailer
		FROM [WH_AllPublishers].[Derived].[SchemeTrans] st
		--WHERE CONVERT(DATE, st.[TranDate]) BETWEEN @MinDate_ST AND @MaxDate_ST
		WHERE st.[TranDate] BETWEEN @MinDate_ST AND @MaxDate_ST
			AND st.[IsRetailerReport] = 1
			AND st.[PublisherID] IN (132)
		GROUP BY	st.[FanID]
				,	st.[PartnerID]
				,	CASE
						WHEN COALESCE(st.[Spend], 0) < 0 THEN 1
						ELSE 0
					END;
		-- (594250 rows affected) / 00:00:18

		CREATE CLUSTERED INDEX [CIX_CustomerGUID_Dates] ON #Earnings_Retailer ([FanID]);



	/*******************************************************************************************************************************************
		4.	Fetch aggregate of bank earnings within the period		00:00:19 - 00:07:42
	*******************************************************************************************************************************************/

		DECLARE @MinDate_BT DATE
			,	@MaxDate_BT DATE

		SELECT	@MinDate_BT = MIN([StartDate])
			,	@MaxDate_BT = MAX([EndDate])
		FROM #Dates

		DROP TABLE IF EXISTS #Earnings_Bank;
		SELECT	bt.[FanID]
			,	bt.[TransactionTypeID]
			,	bt.[DescriptionID]
			,	[Refund] =	CASE
								WHEN COALESCE(bt.[TransactionAmount], 0) < 0 THEN 1
								ELSE 0
							END
			,	[Transactions] = COUNT(DISTINCT bt.[TransactionGUID])
			,	[Spend] = SUM(bt.[TransactionAmount])
			,	[CashbackEarned] = SUM(bt.[CashbackEarned])
			,	[FirstTransaction] = MIN(bt.[TranDate])
			,	[LastTransaction] = MAX(bt.[TranDate])
		INTO #Earnings_Bank
		FROM [Derived].[BankTrans] bt
		--WHERE CONVERT(DATE, bt.[TranDate]) BETWEEN @MinDate_BT AND @MaxDate_BT
		WHERE bt.[TranDate] BETWEEN @MinDate_BT AND @MaxDate_BT
		GROUP BY	bt.[FanID]
				,	bt.[TransactionTypeID]
				,	bt.[DescriptionID]
				,	CASE
						WHEN COALESCE(bt.[TransactionAmount], 0) < 0 THEN 1
						ELSE 0
					END;
		-- (5,055,848 rows affected) / 00:05:02

		CREATE CLUSTERED INDEX [CIX_CustomerGUID_Dates] ON #Earnings_Bank ([FanID]);





	/*******************************************************************************************************************************************
		2.	Fetch list of customers active in the period	00:00:02 - 00:00:05
	*******************************************************************************************************************************************/
/*
		DROP TABLE IF EXISTS #Customers;
		WITH distinct_FanIDs AS (
			SELECT DISTINCT FanID FROM #Earnings_Bank UNION SELECT FanID FROM #Earnings_Retailer
		)
		SELECT	cu.[CustomerGUID]
			,	cu.[FanID]
			,	cu.[PublisherID]
		INTO #Customers
		FROM [WH_AllPublishers].[Derived].[Customer] cu
		INNER JOIN distinct_FanIDs f 
			ON f.FanID = cu.FanID;
		-- (2,531,823 rows affected) / 00:00:05

		CREATE CLUSTERED INDEX cx_FanID ON #Customers (FanID);
*/


		/*******************************************************************************************************************************************
		3.	Join and aggregate the two data sets	00:00:22 - 00:00:22
		*******************************************************************************************************************************************/
		DROP TABLE IF EXISTS #Earnings_Aggregated;
		SELECT	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
			,	cu.[PublisherID]
			,	cu.[CustomerGUID]
			,	er.[FanID]
			,	[EarningSource] = 'Retailer'
			,	[EarningTypeID] = pa.[RetailerID]
			,	[EarningRetailer] =	pa.[RetailerName]
			,	er.[Refund]
			,	[Transactions] = SUM(er.[Transactions])
			,	[Spend] = SUM(er.[Spend])
			,	[CashbackEarned] = SUM(er.[CashbackEarned])
			,	[Investment] = SUM(er.[Investment])
			,	[FirstTransaction] = MIN(er.[FirstTransaction])
			,	[LastTransaction] = MAX(er.[LastTransaction])
		INTO #Earnings_Aggregated
		FROM #Earnings_Retailer er
		--INNER JOIN #Customers cu
		INNER JOIN [WH_AllPublishers].[Derived].[Customer] cu
			ON er.[FanID] = cu.[FanID]
		INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
			ON er.[PartnerID] = pa.[PartnerID]
		CROSS JOIN #Dates d
		GROUP BY	d.[CalendarDate]
				,	d.[StartDate]
				,	d.[EndDate]
				,	cu.[PublisherID]
				,	cu.[CustomerGUID]
				,	er.[FanID]
				,	pa.[RetailerID]
				,	pa.[RetailerName]
				,	er.[Refund];
		-- (625,524 rows affected) / 00:00:14



		INSERT INTO #Earnings_Aggregated (
			CalendarDate, StartDate, EndDate, PublisherID, CustomerGUID,
			FanID, EarningSource, EarningTypeID, EarningRetailer, Refund,
			Transactions, Spend, CashbackEarned,
			Investment, FirstTransaction, LastTransaction		
		)
		SELECT	d.[CalendarDate]
			,	d.[StartDate]
			,	d.[EndDate]
			,	cu.[PublisherID]
			,	cu.[CustomerGUID]
			,	eb.[FanID]
			,	[EarningSource] = 'Bank'
			,	[EarningTypeID] = eb.[DescriptionID]
			,	[EarningRetailer] =	CASE
										WHEN btd.[Description] LIKE 'Direct Debit - reward earned - %' THEN 'Direct Debit'
										WHEN btd.[Description] LIKE 'Mobile Login - reward earned - %' THEN 'Mobile Login'
										ELSE btd.[Description]
									END
			,	eb.[Refund]
			,	[Transactions] = SUM(eb.[Transactions])
			,	[Spend] = SUM(eb.[Spend])
			,	[CashbackEarned] = SUM(eb.[CashbackEarned])
			,	[Investment] = SUM(eb.[CashbackEarned])
			,	[FirstTransaction] = MIN(eb.[FirstTransaction])
			,	[LastTransaction] = MAX(eb.[LastTransaction])
		FROM #Earnings_Bank eb
		-- INNER JOIN #Customers cu
		INNER JOIN [WH_AllPublishers].[Derived].[Customer] cu
			ON eb.[FanID] = cu.[FanID]
		LEFT JOIN [Derived].[BankTrans_Description] btd
			ON eb.[DescriptionID] = btd.[DescriptionID]
		CROSS JOIN #Dates d
		GROUP BY	d.[CalendarDate]
				,	d.[StartDate]
				,	d.[EndDate]
				,	cu.[PublisherID]
				,	cu.[CustomerGUID]
				,	eb.[FanID]
				,	eb.[DescriptionID]
				,	CASE
						WHEN btd.[Description] LIKE 'Direct Debit - reward earned - %' THEN 'Direct Debit'
						WHEN btd.[Description] LIKE 'Mobile Login - reward earned - %' THEN 'Mobile Login'
						ELSE btd.[Description]
					END
				,	eb.[Refund];
		-- (5,055,848 rows affected) / 00:00:21


	/*******************************************************************************************************************************************
		5.	Delete existing data for the period 00:02:48
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #ToDelete;
		CREATE TABLE #ToDelete (BatchNo INT, ID INT);
		DECLARE @BatchNo INT = 1, @BatchSize INT = 1000000;

		INSERT INTO #ToDelete (BatchNo, ID)
		SELECT 
			1 + (ROW_NUMBER() OVER(ORDER BY ID)-1) / @BatchSize,
			ce.ID
		FROM [WH_AllPublishers].[Report].[Customer_Earnings] ce
		WHERE ce.[PublisherID] IN (132, 138)
			AND EXISTS (	
				SELECT 1
				FROM #Dates d
				WHERE ce.[CalendarDate] = d.[CalendarDate]
				AND ce.[MonthStart] = d.[StartDate]
				AND ce.[MonthEnd] = d.[EndDate])			 
		ORDER BY ce.[ID];
		-- (5,650,098 rows affected) / 00:00:14

		CREATE UNIQUE CLUSTERED INDEX ucx_Stuff ON #ToDelete (BatchNo, ID);



		WHILE 1 = 1 BEGIN;

			DELETE ce
			FROM [WH_AllPublishers].[Report].[Customer_Earnings] ce
			INNER JOIN #ToDelete td 
				ON td.ID = ce.ID
			WHERE td.BatchNo = @BatchNo;		

			IF @@ROWCOUNT <  @BatchSize BREAK;

			SET @BatchNo = @BatchNo + 1;

		END;
		-- 00:02:34




	/*******************************************************************************************************************************************
		6.	Load new retailer earnings for the period 00:02:44
	*******************************************************************************************************************************************/
	
		INSERT INTO [WH_AllPublishers].[Report].[Customer_Earnings] WITH (TABLOCKX)
			(CalendarDate, MonthStart, MonthEnd, PublisherID, CustomerGUID,
			FanID, EarningSource, EarningTypeID, EarningRetailer, Refund,
			Transactions, Spend, CashbackEarned,
			Investment, FirstTransaction, LastTransaction)
		SELECT
			CalendarDate, StartDate, EndDate, PublisherID, CustomerGUID,
			FanID, EarningSource, EarningTypeID, EarningRetailer, Refund,
			Transactions, Spend, CashbackEarned,
			Investment, FirstTransaction, LastTransaction
		FROM #Earnings_Aggregated
		ORDER BY CalendarDate, StartDate, EndDate
		-- (5,572,507 rows affected) / 00:02:38





	/*******************************************************************************************************************************************
		8.	Mark as updated 00:00:00
	*******************************************************************************************************************************************/

		UPDATE cel
		SET cel.[LastUpdated_Customer] = GETDATE()
		,	cel.[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Earnings_Log] cel
		WHERE EXISTS (	SELECT 1
						FROM #Dates d
						WHERE cel.[CalendarDate] = d.[CalendarDate]
						AND cel.[PeriodStart] = d.[StartDate]
						AND cel.[PeriodEnd] = d.[EndDate])
		AND cel.[PublisherID] IN (132, 138)

END



GO
