USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Customer_AppLogins]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Customer_AppLogins] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY


		/*******************************************************************************************************************************************
			1. Fetch all events that have occured since the last run
		*******************************************************************************************************************************************/

		--	DECLARE @RunDate DATE = GETDATE()
		
			DROP TABLE IF EXISTS #Inbound_Login
			SELECT	TOP 5000000 *
			INTO #Inbound_Login
			FROM [WHB].[Inbound_Login] l
			ORDER BY l.[ID] DESC
			
			CREATE CLUSTERED INDEX CIX_FanTypeDate ON #Inbound_Login ([CustomerGUID], [LoginDateTime])

			DROP TABLE IF EXISTS #TrackingData
			SELECT	DISTINCT
					[CustomerGUID] = l.[CustomerGUID]
				,	[TrackDate] = l.[LoginDateTime]
				,	[FanData] = l.[LoginInformation]
				,	[LoginTypeID] =	CASE
										WHEN l.[FileName] LIKE '%_DIMAIN_Logins_%.csv' THEN 1
										WHEN l.[FileName] LIKE '%.NCMP.MLE.NWB.%.TXT' THEN 3
										WHEN l.[FileName] LIKE '%.NCMP.MLE.RBS.%.TXT' THEN 3
									END
			INTO #TrackingData
			FROM #Inbound_Login l
			WHERE l.[CustomerGUID] IS NOT NULL
			AND l.[LoginDateTime] IS NOT NULL
			AND NOT EXISTS (	SELECT 1
								FROM [Derived].[AppLogins] al
								WHERE l.[LoginDateTime] = al.[TrackDate]
								AND l.[CustomerGUID] = al.[CustomerGUID])
						
			CREATE CLUSTERED INDEX CIX_FanTypeDate ON #TrackingData ([CustomerGUID], [TrackDate])
			CREATE NONCLUSTERED INDEX IX_FanData ON #TrackingData ([CustomerGUID])

		/*******************************************************************************************************************************************
			3. Insert all events that do not currently exist in [Derived].[AppLogins]
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[AppLogins] (	[FanID]		
											,	[CustomerGUID]
											,	[TrackTypeID]
											,	[TrackDate]
											,	[LoginInfoID]
											,	[FanData]
											,	[LoginTypeID])
			SELECT	[FanID] = cu.[FanID]		
				,	[CustomerGUID] = td.[CustomerGUID]
				,	[TrackTypeID] = 0
				,	[TrackDate] = td.[TrackDate]
				,	[LoginInfoID] = NULL	--	li.[LoginInfoID]
				,	[FanData] = td.[FanData]
				,	td.[LoginTypeID]
			FROM #TrackingData td
			INNER JOIN [WHB].[Customer] cu
				ON td.[CustomerGUID] = cu.[CustomerGUID]

		/*******************************************************************************************************************************************
			4.	Update the LoginInfoID where missing from existing entries
		*******************************************************************************************************************************************/

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
