USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[__PopulateSCDs_CustomerRBSGSegments_Archived]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[__PopulateSCDs_CustomerRBSGSegments_Archived]
AS
BEGIN

	INSERT INTO [Derived].[Customer_RBSGSegments]
	SELECT	DISTINCT
			[CustomerGUID] = fc.[MemberUID]
		,	cah.[FanID]
		,	cah.[CustomerSegment]
		,	cah.[StartDate]
		,	cah.[EndDate]
	FROM [SLC_REPL].[dbo].[FanCredentials] fc
	INNER JOIN [Warehouse].[Relational].[Customer_RBSGSegments] cah
		ON fc.[FanID] = cah.[FanID]
	WHERE NOT EXISTS (	SELECT 1
						FROM [Derived].[Customer_RBSGSegments] cah2
						WHERE fc.[MemberUID] = cah2.[CustomerGUID]
						AND cah.[CustomerSegment] = cah2.[CustomerSegment]
						AND cah.[StartDate] = cah2.[StartDate])

END

GO
