USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[__AllPublishers_Customer_Action_CJM_Archived]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[__AllPublishers_Customer_Action_CJM_Archived]	@ExecutionType VARCHAR(50) = 'Day'
													,	@ExecutionDateStart DATE = NULL
													,	@ExecutionDateEnd DATE = NULL
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	/*******************************************************************************************************************************************
		1.	Grab date range to calculate over
	*******************************************************************************************************************************************/
		
	--	DECLARE @ExecutionType VARCHAR(10) = 'Day', @ExecutionDateStart DATE = GETDATE(), @ExecutionDateEnd DATE = GETDATE()
	--	DECLARE @ExecutionType VARCHAR(10) = 'Year', @ExecutionDateStart DATE = '2024-01-01', @ExecutionDateEnd DATE = '2024-12-31'

		DECLARE @msg varchar(8000), @RowsAffected BIGINT, @time datetime, @SSMS BIT;
		SET @msg = 'Start process [AllPublishers_Customer_Action_CJM] (' + @ExecutionType + ')';
		EXEC dbo.sp_TimerMessage2 @msg, NULL, @time OUTPUT, @SSMS OUTPUT;

		IF @ExecutionDateStart = NULL SET @ExecutionDateStart = GETDATE();
		IF @ExecutionDateEnd = NULL SET @ExecutionDateEnd = GETDATE();

		DROP TABLE IF EXISTS #DatesInput;
		SELECT	[ExecutionType] = @ExecutionType
			,	cal.[CalendarDate]
		INTO #DatesInput
		FROM [WH_AllPublishers].[Derived].[Calendar] cal
		WHERE cal.[CalendarDate] BETWEEN @ExecutionDateStart AND @ExecutionDateEnd;

		CREATE CLUSTERED INDEX [CIX_Date] ON #DatesInput ([CalendarDate]);

		DROP TABLE IF EXISTS #Dates;
		CREATE TABLE #Dates (	[CalendarDate] DATE
							,	[StartDate] DATE
							,	[EndDate] DATE);

		INSERT INTO #Dates
			EXEC [WH_AllPublishers].[Report].[BankingReports_DateRange_Fetch] @ExecutionType;

		SELECT	@ExecutionDateStart = [StartDate]
			,	@ExecutionDateEnd = [EndDate]
		FROM #Dates;							
		EXEC dbo.sp_TimerMessage2 'Setup',NULL, @time OUTPUT, @SSMS OUTPUT;


		DROP TABLE IF EXISTS #ActionSource;
		SELECT [ActionSource]
		INTO #ActionSource
		FROM [WH_AllPublishers].[Monitor].[Action_Log] al
		WHERE [PeriodStart] = @ExecutionDateStart
		AND [PeriodEnd] = @ExecutionDateEnd
		AND [PublisherID] IN (132, 138)
		AND [ActionSource] IN ('Email', 'Login')
		AND (	[Match_Customer] = 0
			OR	[Match_Bank] = 0
			OR	[Reviewed] = 0);
		EXEC dbo.sp_TimerMessage2 '#ActionSource', @@ROWCOUNT, @time OUTPUT, @SSMS OUTPUT;

		DECLARE @Email BIT = 0
			,	@Login BIT = 0;
			
		SELECT	@Email = 1
		FROM #ActionSource
		WHERE [ActionSource] = 'Email';

		SELECT	@Login = 1
		FROM #ActionSource
		WHERE [ActionSource] = 'Login';

		--- TESTING ONLY ------------------------
		SELECT	@Email = 1, @Login = 1;
		--- TESTING ONLY ------------------------

		SET @msg = 'Email = ' + CAST(@Email AS VARCHAR(1)) + ', Login = ' + CAST(@Login AS VARCHAR(1));

		EXEC dbo.sp_TimerMessage2 @msg, NULL, @time OUTPUT, @SSMS OUTPUT;


	/*******************************************************************************************************************************************
		2.	Fetch list of customer active in the period
	*******************************************************************************************************************************************/
		DROP TABLE IF EXISTS #Customers;
		SELECT PublisherID = ClubID, CustomerGUID, FanID = MIN(FanID)
		INTO #Customers
		FROM [Derived].[Customer] 
		GROUP BY ClubID, CustomerGUID;
		SET @RowsAffected = @@ROWCOUNT;

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Customers ([CustomerGUID]);
		EXEC dbo.sp_TimerMessage2 '#Customers', @RowsAffected, @time OUTPUT, @SSMS OUTPUT;
		-- 4,253,586 / 00:00:08

			
	/*******************************************************************************************************************************************
		3.	Fetch aggregate of email events within the period
	*******************************************************************************************************************************************/
	DECLARE @Date_Email DATE
			,	@StartDate_Email DATE
			,	@EndDate_Email DATE;

		SELECT	@Date_Email = [CalendarDate]
			,	@StartDate_Email = [StartDate]
			,	@EndDate_Email = [EndDate]
		FROM #Dates;
		
		DROP TABLE IF EXISTS #Customer_Action;
		SELECT	cu.[PublisherID]
			,	[CalendarDate] = @Date_Email
			,	[StartDate] = @StartDate_Email
			,	[EndDate] = @EndDate_Email
			,	e.[CustomerGUID]
			,	cu.[FanID]
			,	[ActionSource] = 'Email'
			,	[ActionTypeID] = CASE WHEN e.[EmailEventCodeID] IS NULL THEN NULL ELSE e.[EmailEventCodeID] END -- ###
			,	[ActionType] = eec.[EmailEventDesc]
			,	[Actions] = e.[Emails]
			,	[FirstAction] = e.[FirstEmail]
			,	[LastAction] = e.[LastEmail]
		INTO #Customer_Action
		FROM (		
			SELECT
					ee.[CustomerGUID]
				,	ee.[EmailEventCodeID]
				,	[Emails] = COUNT(DISTINCT ee.[EventID])
				,	[FirstEmail] = MIN(ee.[EventDateTime])
				,	[LastEmail] = MAX(ee.[EventDateTime])
			FROM [Derived].[EmailEvent] ee
			WHERE ee.[EventDate] >= @StartDate_Email AND ee.[EventDate] < DATEADD(DAY, 1, @EndDate_Email)		 
			GROUP BY	ee.[CustomerGUID]
					,	ee.[EmailEventCodeID] 		
		) e
		LEFT JOIN [Derived].[EmailEventCode] eec
			ON e.[EmailEventCodeID] = eec.[EmailEventCodeID]
		INNER JOIN #Customers cu
			ON e.[CustomerGUID] = cu.[CustomerGUID]
		WHERE @Email = 1
		OPTION (RECOMPILE);
		EXEC dbo.sp_TimerMessage2 '#Customer_Action Emails', @@ROWCOUNT, @time OUTPUT, @SSMS OUTPUT;


	/*******************************************************************************************************************************************
		4.	Fetch aggregate of logins within the period
	*******************************************************************************************************************************************/
	DECLARE @Date_Login DATE
			,	@StartDate_Login DATE
			,	@EndDate_Login DATE;

		SELECT	@Date_Login = [CalendarDate]
			,	@StartDate_Login = [StartDate]
			,	@EndDate_Login = [EndDate]
		FROM #Dates;

		INSERT INTO #Customer_Action
			(PublisherID, CalendarDate, StartDate, EndDate,  
			CustomerGUID, FanID, ActionSource, ActionTypeID, ActionType, Actions, FirstAction, LastAction)
		SELECT	cu.[PublisherID]
			,	[CalendarDate] = @Date_Login
			,	[StartDate] = @StartDate_Login
			,	[EndDate] = @EndDate_Login
			,	l.[CustomerGUID]
			,	cu.[FanID]
			,	[ActionSource] = 'Login'
			,	[ActionTypeID] = l.[LoginTypeID]
			,	[ActionType] =	CASE
									WHEN l.[LoginTypeID] = 0 THEN 'Web Login'
									WHEN l.[LoginTypeID] = 1 THEN 'Mobile Login'
									WHEN l.[LoginTypeID] = 2 THEN 'Login'
									WHEN l.[LoginTypeID] = 3 THEN 'Login'
									WHEN l.[LoginTypeID] IS NULL THEN 'Login'
								END
			,	l.[Logins]
			,	l.[FirstLogin]
			,	l.[LastLogin]
		FROM (
			SELECT	
					al.[CustomerGUID]
				,	al.[LoginTypeID]
				,	[Logins] = COUNT(al.[ID])
				,	[FirstLogin] = MIN(al.[TrackDate])
				,	[LastLogin] = MAX(al.[TrackDate])
			FROM [Derived].[AppLogins] al
			WHERE al.[TrackDate] >= @StartDate_Login AND al.[TrackDate] < DATEADD(DAY, 1, @EndDate_Login)		
			GROUP BY	al.[CustomerGUID]
					,	al.[LoginTypeID] 
		) l
		INNER JOIN #Customers cu
			ON l.[CustomerGUID] = cu.[CustomerGUID]
		WHERE @Login = 1
		OPTION (RECOMPILE);
		EXEC dbo.sp_TimerMessage2 '#Customer_Action Logins', @@ROWCOUNT, @time OUTPUT, @SSMS OUTPUT;


	/*******************************************************************************************************************************************
		5.	Delete existing login data for the period and reload
	*******************************************************************************************************************************************/
		DROP TABLE IF EXISTS #DeleteBatcher;
		SELECT 
			rn = ROW_NUMBER() OVER (ORDER BY x.PublisherID, d.CalendarDate, d.StartDate, d.EndDate),
			x.PublisherID, d.CalendarDate, d.StartDate, d.EndDate
		INTO #DeleteBatcher
		FROM #Dates d
		CROSS JOIN (SELECT PublisherID = 132 UNION ALL SELECT 138) x
		GROUP BY x.PublisherID, d.CalendarDate, d.StartDate, d.EndDate;
		SET @RowsAffected = @@ROWCOUNT;

		
		DECLARE @rn INT = 1, @PublisherID INT, @CalendarDate DATE, @StartDate DATE, @EndDate DATE, @ThisBatchRowcount INT = 0;
		SET @RowsAffected = 0;
		WHILE 1 = 1 BEGIN

			SELECT @PublisherID = PublisherID, @CalendarDate = CalendarDate, @StartDate = StartDate, @EndDate = EndDate FROM #DeleteBatcher WHERE rn = @rn;
			IF @@ROWCOUNT = 0 BREAK;

			IF @Email = 1 BEGIN
				DELETE FROM [WH_AllPublishers].[Report].[Customer_Action_CJM] 
				WHERE PublisherID = @PublisherID
					AND CalendarDate = @CalendarDate  
					AND MonthStart = @StartDate
					AND MonthEnd = @EndDate
					AND ActionSource = 'Email'
				OPTION (RECOMPILE);
				SET @ThisBatchRowcount = @ThisBatchRowcount + @@ROWCOUNT;
			END
			IF @Login = 1 BEGIN
				DELETE FROM [WH_AllPublishers].[Report].[Customer_Action_CJM] 
				WHERE PublisherID = @PublisherID
					AND CalendarDate = @CalendarDate  
					AND MonthStart = @StartDate
					AND MonthEnd = @EndDate
					AND ActionSource = 'Login'
				OPTION (RECOMPILE);
				SET @ThisBatchRowcount = @ThisBatchRowcount + @@ROWCOUNT;
			END

			SET @RowsAffected = @RowsAffected + @ThisBatchRowcount; 
			
			SET @rn = @rn + 1;
		END

		EXEC dbo.sp_TimerMessage2 'DELETE', @RowsAffected, @time OUTPUT, @SSMS OUTPUT;
		

	/*******************************************************************************************************************************************
		6.	Load new Email data for the period
	*******************************************************************************************************************************************/
		INSERT INTO [WH_AllPublishers].[Report].[Customer_Action_CJM] WITH (TABLOCKX)
			(PublisherID, CalendarDate, MonthStart, MonthEnd,  
			CustomerGUID, FanID, ActionSource, ActionTypeID, ActionType, Actions, FirstAction, LastAction)
		SELECT PublisherID, CalendarDate, StartDate, EndDate,  
			CustomerGUID, FanID, ActionSource, ActionTypeID, ActionType, Actions, FirstAction, LastAction
		FROM #Customer_Action
		ORDER BY PublisherID, CalendarDate, StartDate, EndDate;
		EXEC dbo.sp_TimerMessage2 'INSERT', @@ROWCOUNT, @time OUTPUT, @SSMS OUTPUT;


	/*******************************************************************************************************************************************
		7.	Mark as updated
	*******************************************************************************************************************************************/
		UPDATE cel
			SET [LastUpdated_Customer] = GETDATE()
			,	[RemovedFromDIMAINDate] = NULL
		FROM [WH_AllPublishers].[Monitor].[Action_Log] cel
		INNER JOIN #DeleteBatcher d 
			ON d.PublisherID = cel.[PublisherID]
			AND d.[CalendarDate] = cel.[CalendarDate] 
			AND d.[StartDate] = cel.[PeriodStart] 
			AND d.[EndDate] = cel.[PeriodEnd];
		EXEC dbo.sp_TimerMessage2 'Mark as updated', @@ROWCOUNT, @time OUTPUT, @SSMS OUTPUT;

END


RETURN 0
GO
