USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_Cards_Update]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Inbound_Cards_Update] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Cards'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Cards'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'Cards'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

			CREATE CLUSTERED INDEX [CIX_All] ON #FilesToProcess ([LoadDate], [FileName])

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[CustomerGUID]
				,	i.[ExternalCustomerID]
				,	i.[AccountGUID]
				,	i.[CardGUID]
				,	i.[ExternalCardID]
				,	i.[ExternalCardSource]
				,	i.[CardProductID]
				,	i.[CardTypeID]
				,	i.[CreditOrDebit]
				,	i.[Expiry]
				,	i.[NameOnCard]
				,	i.[BinRange]
				,	i.[PanLastFour]
				,	i.[HashedPan]
				,	i.[CardStopCode]
				,	i.[IsReward]
				,	i.[IssuerCountryCode]
				,	i.[CardStatusID]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[Version]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[Cards] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[CustomerGUID]
					,	i.[ExternalCustomerID]
					,	i.[AccountGUID]
					,	i.[CardGUID]
					,	i.[ExternalCardID]
					,	i.[ExternalCardSource]
					,	i.[CardProductID]
					,	i.[CardTypeID]
					,	i.[CreditOrDebit]
					,	i.[Expiry]
					,	i.[NameOnCard]
					,	i.[BinRange]
					,	i.[PanLastFour]
					,	i.[HashedPan]
					,	i.[CardStopCode]
					,	i.[IsReward]
					,	i.[IssuerCountryCode]
					,	i.[CardStatusID]
					,	i.[CreatedAt]
					,	i.[UpdatedAt]
					,	i.[Version]

			CREATE CLUSTERED INDEX [CIX_All] ON #Inbound ([CardGUID])

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
		
			MERGE [WHB].[Inbound_Cards] target											-- Destination table
			USING #Inbound source														-- Source table
			ON target.[CardGUID] = source.[CardGUID]									-- Match criteria

			WHEN MATCHED THEN															-- If matched, update to new value
				UPDATE SET	target.[InboundID] = source.[ID]
						,	target.[CustomerGUID] = source.[CustomerGUID]
						,	target.[ExternalCustomerID] = source.[ExternalCustomerID]
						,	target.[AccountGUID] = source.[AccountGUID]
						,	target.[CardGUID] = source.[CardGUID]
						,	target.[ExternalCardID] = source.[ExternalCardID]
						,	target.[ExternalCardSource] = source.[ExternalCardSource]
						,	target.[CardProductID] = source.[CardProductID]
						,	target.[CardTypeID] = source.[CardTypeID]
						,	target.[CreditOrDebit] = source.[CreditOrDebit]
						,	target.[Expiry] = source.[Expiry]
						,	target.[NameOnCard] = source.[NameOnCard]
						,	target.[BinRange] = source.[BinRange]
						,	target.[PanLastFour] = source.[PanLastFour]
						,	target.[HashedPan] = source.[HashedPan]
						,	target.[CardStopCode] = source.[CardStopCode]
						,	target.[IsReward] = source.[IsReward]
						,	target.[IssuerCountryCode] = source.[IssuerCountryCode]
						,	target.[CardStatusID] = source.[CardStatusID]
						,	target.[CreatedAt] = source.[CreatedAt]
						,	target.[UpdatedAt] = source.[UpdatedAt]
						,	target.[Version] = source.[Version]
						,	target.[LoadDate] = source.[LoadDate]
						,	target.[FileName] = source.[FileName]


			WHEN NOT MATCHED THEN															-- If not matched, add new rows
				INSERT ([InboundID]
					,	[CustomerGUID]
					,	[ExternalCustomerID]
					,	[AccountGUID]
					,	[CardGUID]
					,	[ExternalCardID]
					,	[ExternalCardSource]
					,	[CardProductID]
					,	[CardTypeID]
					,	[CreditOrDebit]
					,	[Expiry]
					,	[NameOnCard]
					,	[BinRange]
					,	[PanLastFour]
					,	[HashedPan]
					,	[CardStopCode]
					,	[IsReward]
					,	[IssuerCountryCode]
					,	[CardStatusID]
					,	[CreatedAt]
					,	[UpdatedAt]
					,	[Version]
					,	[LoadDate]
					,	[FileName])
				VALUES (source.[ID]
					,	source.[CustomerGUID]
					,	source.[ExternalCustomerID]
					,	source.[AccountGUID]
					,	source.[CardGUID]
					,	source.[ExternalCardID]
					,	source.[ExternalCardSource]
					,	source.[CardProductID]
					,	source.[CardTypeID]
					,	source.[CreditOrDebit]
					,	source.[Expiry]
					,	source.[NameOnCard]
					,	source.[BinRange]
					,	source.[PanLastFour]
					,	source.[HashedPan]
					,	source.[CardStopCode]
					,	source.[IsReward]
					,	source.[IssuerCountryCode]
					,	source.[CardStatusID]
					,	source.[CreatedAt]
					,	source.[UpdatedAt]
					,	source.[Version]
					,	source.[LoadDate]
					,	source.[FileName]);

		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'Cards' AND [FileProcessed] = 0) > 0

		/*******************************************************************************************************************************************
			6.	Load new Card GUIDs
		*******************************************************************************************************************************************/

			INSERT INTO [WH_AllPublishers].[Derived].[CardGUIDs]
			SELECT	DISTINCT
					ic.[CustomerGUID]
				,	ic.[CardGUID]
			FROM [WHB].[Inbound_Cards] ic
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Derived].[CardGUIDs] cg
								WHERE ic.[CardGUID] = cg.[CardGUID]
								AND ic.[CustomerGUID] = cg.[CustomerGUID])
			AND ic.[CardGUID] IS NOT NULL
			AND ic.[CustomerGUID] IS NOT NULL

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
