USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Customer_MarketableByEmailStatus]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Customer_MarketableByEmailStatus] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1. Fetch all customer information where there has been a change in status from the previous day
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Customer_Changes
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CurrentlyActive]
				,	[Hardbounced]
				,	[Unsubscribed]
				,	[EmailStructureValid]
				,	[MarketableByEmail]
				,	[EmailTracking]
				,	[MarketableByPush]
			INTO #Customer_Changes
			FROM [WHB].[Customer] cus
			EXCEPT
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CurrentlyActive]
				,	[Hardbounced]
				,	[Unsubscribed]
				,	[EmailStructureValid]
				,	[MarketableByEmail]
				,	[EmailTracking]
				,	[MarketableByPush]
			FROM [Derived].[Customer] cus
		
			DROP TABLE IF EXISTS #Customer
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CurrentlyActive]
				,	[Hardbounced]
				,	[Unsubscribed]
				,	[EmailStructureValid]
				,	[MarketableByEmail]
				,	[EmailTracking]
				,	[MarketableByPush]
				,	[MarketableByEmailType] =	CASE
													WHEN [CurrentlyActive] = 0								THEN 'Not Emailable'
													WHEN [Hardbounced] = 1									THEN 'Not Emailable'
													WHEN [EmailStructureValid] = 0							THEN 'Not Emailable'
													WHEN [Unsubscribed] = 1									THEN 'Service Emails Only'
													WHEN [MarketableByEmail] = 1							THEN 'Marketable'
													WHEN [MarketableByEmail] = 0							THEN 'Service Emails Only'
													WHEN [EmailTracking] = 0								THEN 'Service Emails Only'
												END
			INTO #Customer
			FROM #Customer_Changes

			CREATE CLUSTERED INDEX CIX_FanID ON #Customer ([CustomerGUID])
			

		/*******************************************************************************************************************************************
			2. For customers who have had a change in status, update [Derived].[Customer_MarketableByEmailStatus]
		*******************************************************************************************************************************************/
		
			--DECLARE @RunDate DATE = GETDATE()
			DECLARE @EndDate DATE = DATEADD(DAY, -1, @RunDate)

			UPDATE mesd
			SET mesd.[EndDate] = @EndDate
			FROM [Derived].[Customer_MarketableByEmailStatus] mesd
			WHERE mesd.[EndDate] IS NULL
			AND EXISTS (SELECT 1
						FROM #Customer cu
						WHERE mesd.[CustomerGUID] = cu.[CustomerGUID])
			AND NOT EXISTS (SELECT 1
							FROM #Customer cu
							WHERE mesd.[CustomerGUID] = cu.[CustomerGUID]
							AND cu.[CurrentlyActive] = mesd.[CurrentlyActive]
							AND cu.[Hardbounced] = mesd.[Hardbounced]
							AND cu.[Unsubscribed] = mesd.[Unsubscribed]
							AND cu.[EmailStructureValid] = mesd.[EmailStructureValid]
							AND cu.[MarketableByEmail] = mesd.[MarketableByEmail]
							AND cu.[EmailTracking] = mesd.[EmailTracking]
							AND cu.[MarketableByPush] = mesd.[MarketableByPush])


		/*******************************************************************************************************************************************
			3. For new customers or customers who have had a change in status, insert to [Derived].[Customer_MarketableByEmailStatus]
		*******************************************************************************************************************************************/

			--DECLARE @RunDate DATE = GETDATE()

			INSERT INTO [Derived].[Customer_MarketableByEmailStatus] (	[FanID]		
																	,	[CustomerGUID]
																	,	[CurrentlyActive]
																	,	[Hardbounced]
																	,	[Unsubscribed]
																	,	[EmailStructureValid]
																	,	[MarketableByEmail]
																	,	[EmailTracking]
																	,	[MarketableByPush]
																	,	[MarketableByEmailType]
																	,	[StartDate]
																	,	[EndDate])
			SELECT	[FanID]		
				,	[CustomerGUID]
				,	[CurrentlyActive]
				,	[Hardbounced]
				,	[Unsubscribed]
				,	[EmailStructureValid]
				,	[MarketableByEmail]
				,	[EmailTracking]
				,	[MarketableByPush]
				,	[MarketableByEmailType]
				,	[StartDate] = @RunDate
				,	[EndDate] = NULL
			FROM #Customer cu
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_MarketableByEmailStatus] mesd
								WHERE cu.[CustomerGUID] = mesd.[CustomerGUID]
								AND mesd.[EndDate] IS NULL)

			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
