USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[BankAccounts_BankAccounts]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[BankAccounts_BankAccounts]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	
		/*******************************************************************************************************************************************
			1.	Populate the [BankAccounts] table
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #Inbound_BankAccounts
			SELECT	DISTINCT
					ba.[BankAccountGUID]
				,	ba.[SortCode]	
				,	[AccountNumber] =	CASE
											WHEN ba.[AccountNumber] = '' THEN ''
											ELSE '*****' + RIGHT(ba.[AccountNumber], 3)
										END	
				,	ba.[BankID]
				,	ba.[CurrencyCode]
				,	ba.[NomineeLastChanged]
				,	ba.[OpenedDate]
				,	ba.[ClosedDate]
				,	ba.[BankAccountStatusID]
			INTO #Inbound_BankAccounts
			FROM [WHB].[Inbound_BankAccounts] ba
			WHERE ba.[LoadDate] > DATEADD(WEEK, -1, GETDATE())

			CREATE CLUSTERED INDEX [CIX_BankAccountGUID] ON #Inbound_BankAccounts ([BankAccountGUID])
			
			MERGE [Derived].[BankAccounts] target									-- Destination table
			USING #Inbound_BankAccounts source												-- Source table
			ON target.[BankAccountGUID] = source.[BankAccountGUID]							-- Match criteria

			WHEN MATCHED THEN																-- If matched, update to new value
				UPDATE SET	target.[SortCode] = source.[SortCode]
						,	target.[AccountNumber] = source.[AccountNumber]
						,	target.[BankID] = source.[BankID]
						,	target.[CurrencyCode] = source.[CurrencyCode]
						,	target.[NomineeLastChanged] = source.[NomineeLastChanged]
						,	target.[OpenedDate] = source.[OpenedDate]
						,	target.[ClosedDate] = source.[ClosedDate]
						,	target.[BankAccountStatusID] = source.[BankAccountStatusID]

			WHEN NOT MATCHED THEN															-- If not matched, add new rows
				INSERT ([BankAccountGUID]
					,	[SortCode]
					,	[AccountNumber]
					,	[BankID]
					,	[CurrencyCode]
					,	[NomineeLastChanged]
					,	[OpenedDate]
					,	[ClosedDate]
					,	[BankAccountStatusID])
				VALUES (source.[BankAccountGUID]
					,	source.[SortCode]
					,	source.[AccountNumber]
					,	source.[BankID]
					,	source.[CurrencyCode]
					,	source.[NomineeLastChanged]
					,	source.[OpenedDate]
					,	source.[ClosedDate]
					,	source.[BankAccountStatusID]);
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END













GO
