USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[PartnersOffers_MFDDResponseFiles]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[PartnersOffers_MFDDResponseFiles]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY
	
		/*******************************************************************************************************************************************
			1.	Create lookup for file name to partner
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #FileNameLookup
			SELECT	[PartnerID] = 5404
				,	[FileNameLookup] = 'EE_%'
			INTO #FileNameLookup
	
		/*******************************************************************************************************************************************
			2.	Fetch new entries
		*******************************************************************************************************************************************/
			
			DROP TABLE IF EXISTS #MFDD_ResponseFiles
			SELECT	fnl.[PartnerID]
				,	[TransactionGUID] = rf.[RewardTransactionId]
				,	rf.[SortCode]
				,	rf.[MaskedAccountNumber]
				,	[CustomerGUID] = rf.[RewardNomineeId]
				,	rf.[OIN]
				,	rf.[Narrative]
				,	rf.[Amount]
				,	rf.[TranDate]
				,	rf.[YearPart]
				,	rf.[PartialPostcode]
				,	[CustomerStatus] = rf.[EECustomerStatus]
				,	rf.[ValidationDescription]
			INTO #MFDD_ResponseFiles
			FROM [WHB].[Inbound_MFDD_ResponseFiles] rf
			INNER JOIN #FileNameLookup fnl
				ON rf.[FileName] LIKE fnl.[FileNameLookup]
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[MFDD_ResponseFiles] mf
								WHERE rf.[RewardTransactionId] = mf.[TransactionGUID])
			AND NOT EXISTS (	SELECT 1
								FROM [Derived].[MFDD_ResponseFiles] mf
								WHERE fnl.[PartnerID] = mf.[PartnerID]
								AND rf.[RewardNomineeId] = mf.[CustomerGUID])
	
		/*******************************************************************************************************************************************
			3.	Fetch bank accounts
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #BankAccounts
			SELECT	DISTINCT
					ba.[BankAccountGUID]
				,	bacl.[CustomerGUID]
				,	ba.[AccountNumber]
				,	ba.[SortCode]
			INTO #BankAccounts
			FROM [Derived].[BankAccounts] ba
			INNER JOIN [Derived].[BankAccountCustomerLinks] bacl
				ON ba.[BankAccountGUID] = bacl.[BankAccountGUID]
			WHERE EXISTS (	SELECT 1
							FROM #MFDD_ResponseFiles rf
							WHERE ba.[SortCode] = rf.[SortCode]
							AND ba.[AccountNumber] = rf.[MaskedAccountNumber])
			AND bacl.[EndDate] IS NULL
	
		/*******************************************************************************************************************************************
			4.	Load to final table
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[MFDD_ResponseFiles]
			SELECT	rf.[PartnerID]
				,	rf.[TransactionGUID]
				,	[BankAccountGUID] = MAX(ba.[BankAccountGUID])
				,	rf.[CustomerGUID]
				,	rf.[OIN]
				,	rf.[Narrative]
				,	rf.[Amount]
				,	rf.[TranDate]
				,	rf.[CustomerStatus]
				,	rf.[ValidationDescription]
				,	[AddedDate] = GETDATE()
			FROM #MFDD_ResponseFiles rf
			LEFT JOIN #BankAccounts ba
				ON rf.[CustomerGUID] = ba.[CustomerGUID]
				AND rf.[MaskedAccountNumber] = ba.[AccountNumber]
				AND rf.[SortCode] = ba.[SortCode]
			GROUP BY	rf.[PartnerID]
					,	rf.[TransactionGUID]
					,	rf.[CustomerGUID]
					,	rf.[OIN]
					,	rf.[Narrative]
					,	rf.[Amount]
					,	rf.[TranDate]
					,	rf.[CustomerStatus]
					,	rf.[ValidationDescription]
	
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END














GO
