USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_PushNotifications_Refresh]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_EventPush_PushNotifications_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ID BIGINT

	SELECT	@ID = ISNULL(MAX([MaxID]), 0)
	FROM [WHB].[Braze_EventPush_PushNotifications_Log]
	
	DROP TABLE IF EXISTS #PushNotificationsEnriched;
	SELECT	st.[ID]
		,	cu.[CustomerGUID]
		,	st.[JourneyID]
		,	st.[PushID]
		,	st.[SendDate]
		,	[Journey] =	CASE
							WHEN st.[JourneyID] = 1 THEN 'Active Earner'
							WHEN st.[JourneyID] = 2 THEN 'Dormant Redeemer'
							WHEN st.[JourneyID] = 3 THEN 'Programme Reminder'
							ELSE 'Unknown'
						END
		,	[Push] =	CASE
							WHEN st.[JourneyID] = 1 AND st.[PushID] = 2 THEN 'Balance Reminder'
							WHEN st.[JourneyID] = 1 AND st.[PushID] = 3 THEN 'Retail Confirmation'
							ELSE 'Unknown'
						END
	INTO #PushNotificationsEnriched
	FROM [Push].[PushSendHistory] st
	INNER JOIN [Derived].[Customer] cu
		ON st.[CustomerID] = cu.[SourceUID]
	WHERE st.[ControlFlag] = 0
	AND st.[ID] > @ID;
				
	DROP TABLE IF EXISTS #CustomerLog;
	SELECT	re.[CustomerGUID]
		,	[MaxID] = MAX(re.[ID])
	INTO #CustomerLog
	FROM #PushNotificationsEnriched re
	GROUP BY	re.[CustomerGUID];
	
	CREATE CLUSTERED INDEX [CIX_CustomerGUIDID] ON #CustomerLog ([CustomerGUID], [MaxID]);

	INSERT INTO [WHB].[Braze_EventPush_PushNotifications] WITH (TABLOCK) (	[CustomerGUID]
																		,	[Journey]
																		,	[Push]
																		,	[SendDate]
																		,	[PushedToBraze])
	SELECT	r.[CustomerGUID]
		,	r.[Journey]
		,	r.[Push]
		,	r.[SendDate]
		,	[PushedToBraze] = 0
	FROM #PushNotificationsEnriched r;

	UPDATE epl
	SET epl.[MaxID] = cl.[MaxID]
	FROM [WHB].[Braze_EventPush_PushNotifications_Log] epl 
	INNER JOIN #CustomerLog cl 
		ON cl.[CustomerGUID] = epl.[CustomerGUID];

	INSERT INTO [WHB].[Braze_EventPush_PushNotifications_Log] WITH (TABLOCK)
	SELECT	cl.[CustomerGUID]
		,	cl.[MaxID]
	FROM #CustomerLog cl
	WHERE NOT EXISTS (	SELECT 1
						FROM [WHB].[Braze_EventPush_PushNotifications_Log] epl
						WHERE cl.[CustomerGUID] = epl.[CustomerGUID])

END

RETURN 0
GO
