USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_MissingTransaction_Update]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Inbound_MissingTransaction_Update] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

			UPDATE [Inbound].[MissingTransaction]
			SET [Description] = (   SELECT 
											CASE 
												WHEN PATINDEX('%[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%', [Description]) > 0
												THEN 
													SUBSTRING([Description], 1, PATINDEX('%[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%', [Description]) - 1) +
													'XXXXXXXXXXXXXXXX' +
													SUBSTRING([Description], 
														PATINDEX('%[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%', [Description]) + 16, 
														LEN([Description]))
												WHEN PATINDEX('%[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]%', [Description]) > 0
												THEN 
													SUBSTRING([Description], 1, PATINDEX('%[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]%', [Description]) - 1) +
													'XXXXXXXXXXXXXXXX' +
													SUBSTRING([Description], 
														PATINDEX('%[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]%', [Description]) + 19, 
														LEN([Description]))
												ELSE [Description]
											END
									)
			WHERE [Description] LIKE '%[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]%'
			OR [Description] LIKE '%[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%'

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'MissingTransaction'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'MissingTransaction'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'MissingTransaction'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[MissingTransactionID]
				,	i.[CustomerGUID]
				,	i.[TransactionDate]
				,	i.[TransactionMethod]
				,	i.[PanLastFour]
				,	i.[TransactionValue]
				,	i.[OfferGUID]
				,	i.[PartnerGUID]
				,	i.[PartnerOutletLocation]
				,	i.[Description]
				,	i.[EstimatedReward]
				,	i.[Status]
				,	i.[Comment]
				,	[EmailResponseID] = TRY_CONVERT(UNIQUEIDENTIFIER, i.[EmailResponseID])
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[Version]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[MissingTransaction] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[MissingTransactionID]
					,	i.[CustomerGUID]
					,	i.[TransactionDate]
					,	i.[TransactionMethod]
					,	i.[PanLastFour]
					,	i.[TransactionValue]
					,	i.[OfferGUID]
					,	i.[PartnerGUID]
					,	i.[PartnerOutletLocation]
					,	i.[Description]
					,	i.[EstimatedReward]
					,	i.[Status]
					,	i.[Comment]
					,	TRY_CONVERT(UNIQUEIDENTIFIER, i.[EmailResponseID])
					,	i.[CreatedAt]
					,	i.[UpdatedAt]
					,	i.[Version]

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
		
			MERGE [WHB].[Inbound_MissingTransaction] target									-- Destination table
			USING #Inbound source															-- Source table
			ON target.[MissingTransactionID] = source.[MissingTransactionID]				-- Match criteria

			WHEN MATCHED THEN																-- If matched, update to new value
				UPDATE SET	target.[InboundID] = source.[ID]
						,	target.[MissingTransactionID] = source.[MissingTransactionID]
						,	target.[CustomerGUID] = source.[CustomerGUID]
						,	target.[TransactionDate] = source.[TransactionDate]
						,	target.[TransactionMethod] = source.[TransactionMethod]
						,	target.[PanLastFour] = source.[PanLastFour]
						,	target.[TransactionValue] = source.[TransactionValue]
						,	target.[OfferGUID] = source.[OfferGUID]
						,	target.[PartnerGUID] = source.[PartnerGUID]
						,	target.[PartnerOutletLocation] = source.[PartnerOutletLocation]
						,	target.[Description] = source.[Description]
						,	target.[EstimatedReward] = source.[EstimatedReward]
						,	target.[Status] = source.[Status]
						,	target.[Comment] = source.[Comment]
						,	target.[EmailResponseID] = source.[EmailResponseID]
						,	target.[CreatedAt] = source.[CreatedAt]
						,	target.[UpdatedAt] = source.[UpdatedAt]
						,	target.[Version] = source.[Version]
						,	target.[LoadDate] = source.[LoadDate]
						,	target.[FileName] = source.[FileName]


			WHEN NOT MATCHED THEN															-- If not matched, add new rows
				INSERT ([InboundID]
					,	[MissingTransactionID]
					,	[CustomerGUID]
					,	[TransactionDate]
					,	[TransactionMethod]
					,	[PanLastFour]
					,	[TransactionValue]
					,	[OfferGUID]
					,	[PartnerGUID]
					,	[PartnerOutletLocation]
					,	[Description]
					,	[EstimatedReward]
					,	[Status]
					,	[Comment]
					,	[EmailResponseID]
					,	[CreatedAt]
					,	[UpdatedAt]
					,	[Version]
					,	[LoadDate]
					,	[FileName])
				VALUES (source.[ID]
					,	source.[MissingTransactionID]
					,	source.[CustomerGUID]
					,	source.[TransactionDate]
					,	source.[TransactionMethod]
					,	source.[PanLastFour]
					,	source.[TransactionValue]
					,	source.[OfferGUID]
					,	source.[PartnerGUID]
					,	source.[PartnerOutletLocation]
					,	source.[Description]
					,	source.[EstimatedReward]
					,	source.[Status]
					,	source.[Comment]
					,	source.[EmailResponseID]
					,	source.[CreatedAt]
					,	source.[UpdatedAt]
					,	source.[Version]
					,	source.[LoadDate]
					,	source.[FileName]);

		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'MissingTransaction' AND [FileProcessed] = 0) > 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END








GO
