USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Transactions_PartnerTrans]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Transactions_PartnerTrans]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	/*******************************************************************************************************************************************
			1.	[Inbound].[Transactions]
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #FilesToProcess
		SELECT	[FileID] = f.[ID]
			,	[LoadDate] = f.[LoadDate]
			,	[FileName] = f.[FileName]
		INTO #FilesToProcess
		FROM [WHB].[Inbound_Files] f
		WHERE f.[TableName] = 'MatchedTransactions'
	
		SET DATEFIRST 1; --set the first day of the week to Monday. This influences the return value of DATEPART()


		--get default paymentmethodID config
		DECLARE @defaultPaymentMethodID int
		select @defaultPaymentMethodID = PublisherDefaultPaymentID from [WH_AllPublishers].[Derived].[Publisher] where PublisherDatabase = DB_NAME()
	
		DROP TABLE IF EXISTS #IronOffer_SpendStretch;
		SELECT	[IronOfferID] = iof.[IronOfferID]
			,	[MinimumBasketSize] = MIN(pcr.[MinimumBasketSize])
		INTO #IronOffer_SpendStretch
		FROM [Derived].[IronOffer] iof
		INNER JOIN [Derived].[IronOffer_PartnerCommissionRule] pcr
			ON iof.[IronOfferID] = pcr.[IronOfferID]
		WHERE pcr.[TypeID] = 1
		AND pcr.[DeletionDate] IS NULL
		AND pcr.[MinimumBasketSize] IS NOT NULL
		GROUP BY	iof.[IronOfferID]

		CREATE CLUSTERED INDEX [CIX_IronOfferID] ON #IronOffer_SpendStretch ([IronOfferID])

		DECLARE @ID BIGINT

		SELECT	@ID = MAX([ID]) - 25000000
		FROM [WHB].[Inbound_MatchedTransactions] mt

		DROP TABLE IF EXISTS #Inbound_MatchedTransactions
		SELECT	tr.[DescriptionID]
			,	tr.[TransactionTypeID]
			,	tr.[TransactionGUID]
			,	[transactionexternalid] = COALESCE(tr.[transactionexternalid], tr.[TransactionGUID])
			,	tr.[CustomerGUID]
			,	tr.[CardGUID]
			,	tr.[OfferGUID]
			,	tr.[MerchantID]
			,	tr.[OIN]
			,	tr.[Price]
			,	tr.[NetAmount]
			,	tr.[CashbackEarned]
			,	tr.[TransactionDate]
			,	tr.[TransactionClearingDate]
			,	tr.[CommissionRate]
			,	tr.[MatchedDate]
			,	tr.[LoadDate]
			,	tr.[FileName]
			,	[TransID] = tr.[InboundID]
			,	[MatchedTransactionsID] = tr.[ID]
		INTO #Inbound_MatchedTransactions
		FROM [WHB].[Inbound_MatchedTransactions] tr
		WHERE 1 = 1
		AND tr.[ID] > @ID
		AND tr.[TransactionTypeID] IN (1, 7, 13)
		AND tr.[RetailerGUID] IS NOT NULL
		AND NOT EXISTS (	SELECT 1
							FROM [Derived].[PartnerTrans] pt
							WHERE tr.[TransactionGUID] = pt.[TransactionGUID]
							AND COALESCE(tr.[transactionexternalid], tr.[TransactionGUID]) = pt.[ExternalTransactionID])

		DELETE mt
		FROM #Inbound_MatchedTransactions mt
		WHERE mt.[TransactionTypeID] = 13
		AND EXISTS (SELECT 1
					FROM [Derived].[BankTrans_Description] btd
					WHERE mt.[DescriptionID] = btd.[DescriptionID]
					AND btd.[Description] LIKE '% - First Transaction')


		DROP TABLE IF EXISTS #Transactions
		SELECT	tr.[TransactionGUID]
			,	tr.[transactionexternalid]
			,	tr.[CustomerGUID]
			,	tr.[CardGUID]
			,	tr.[OfferGUID]
			,	tr.[MerchantID]
			,	tr.[OIN]
			,	tr.[Price]
			,	tr.[NetAmount]
			,	tr.[CashbackEarned]
			,	tr.[TransactionDate]
			,	[EligibleDate] = tr.[TransactionClearingDate]
			,	[ActivationDays] = DATEDIFF(DAY, tr.[TransactionDate], tr.[TransactionClearingDate])
			,	tr.[CommissionRate]
			,	tr.[MatchedDate]
			,	tr.[TransID]
			,	tr.[MatchedTransactionsID]
			,	[FileID] = ftp.[FileID]
			,	tr.[FileName]
			,	tr.[LoadDate]
			, TransactionTypeID
		INTO #Transactions
		FROM #Inbound_MatchedTransactions tr
		INNER JOIN #FilesToProcess ftp
			ON tr.[FileName] = ftp.[FileName]
			AND tr.[LoadDate] = ftp.[LoadDate]

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Transactions ([CustomerGUID])
		CREATE NONCLUSTERED INDEX [IX_MerchantID] ON #Transactions ([MerchantID])
		CREATE NONCLUSTERED INDEX [IX_All] ON #Transactions ([LoadDate]) INCLUDE ([TransactionGUID],[CustomerGUID],[MerchantID],[Price],[TransactionDate],[OfferGUID],[CashbackEarned],[CommissionRate],[MatchedDate])

		DROP TABLE IF EXISTS #RetailOutlet
		SELECT	[PartnerID]
			,	[MerchantID]
			,	[IsOnline] = CONVERT(BIT, MAX(CONVERT(INT, [IsOnline])))
			,	[OutletID] = MIN([OutletID])
		INTO #RetailOutlet
		FROM [WH_AllPublishers].[Derived].[Outlet] o
		WHERE EXISTS (	SELECT	1
						FROM #Transactions tr
						WHERE o.[MerchantID] = tr.[MerchantID])
		AND o.[Status] = 1
		AND o.[MerchantID] != ''
		GROUP BY	[PartnerID]
				,	[MerchantID]
				
		INSERT INTO #RetailOutlet
		SELECT	[PartnerID]
			,	[MerchantID]
			,	[IsOnline] = CONVERT(BIT, MAX(CONVERT(INT, [IsOnline])))
			,	[OutletID] = MIN([OutletID])
		FROM [WH_AllPublishers].[Derived].[Outlet] o
		WHERE EXISTS (	SELECT	1
						FROM #Transactions tr
						WHERE o.[MerchantID] = tr.[MerchantID])
		AND NOT EXISTS (SELECT 1
						FROM #RetailOutlet ro
						WHERE o.[PartnerID] = ro.[PartnerID]
						AND o.[MerchantID] = ro.[MerchantID])
		AND o.[Status] = 0
		AND o.[MerchantID] != ''
		GROUP BY	[PartnerID]
				,	[MerchantID]

		CREATE CLUSTERED INDEX [CIX_MerchantID] ON #RetailOutlet ([MerchantID])
		
		DROP TABLE IF EXISTS #DirectDebitOriginator
		SELECT	[DirectDebitOriginatorID] = ddo.[ID]
			,	[OIN] = ddo.[OIN]
		INTO #DirectDebitOriginator
		FROM [SLC_REPL].[dbo].[DirectDebitOriginator] ddo
		WHERE EXISTS (	SELECT	1
						FROM #Transactions tr
						WHERE ddo.[OIN] = tr.[OIN])

		CREATE CLUSTERED INDEX [CIX_OIN] ON #DirectDebitOriginator ([OIN])

		DROP TABLE IF EXISTS #PartnerTrans
		SELECT	DISTINCT
				[FileID] = tr.[FileID]
			,	[TransactionGUID] = tr.[TransactionGUID]
			,	[ExternalTransactionID] = tr.[transactionexternalid]
			,	[FanID] = cu.[FanID]
			,	[CustomerGUID] = cu.[CustomerGUID]
			,	[PartnerID] = iof.[PartnerID]
			,	[MerchantID] = tr.[MerchantID]
			,	[OIN] = tr.[OIN]
			,	[OutletID] = COALESCE(CONVERT(INT, ro.[OutletID]), -1)
			,	[DirectDebitOriginatorID] = NULL
			,	[IsOnline] = ro.[IsOnline]
			,	[CardholderPresentData] = NULL
			,	[TransactionAmount] = tr.[Price]
			,	[ExtremeValueFlag] = 0
			,	[TransactionDate] = CONVERT(DATETIME2(0), tr.[TransactionDate])
			,	[AddedDate] = tr.[LoadDate]
			,	[AffiliateCommissionAmount] = tr.[NetAmount]
			,	[CommissionChargable] = tr.[NetAmount]
			,	[CashbackEarned] = tr.[CashbackEarned]
			,	[IronOfferID] = iof.[IronOfferID]
			,	[OfferGUID] = tr.[OfferGUID]
			,	[ActivationDays] = tr.[ActivationDays]
			,	[AboveBase] =	CASE
								WHEN ss.[MinimumBasketSize] IS NULL THEN NULL
								WHEN ss.[MinimumBasketSize] < tr.[Price] THEN 1
								ELSE 0
							END
			,	[PaymentMethodID] = CASE
										WHEN ca.[CreditOrDebit] = 'Credit' THEN 1
										WHEN ca.[CreditOrDebit] = 'Debit' THEN 0
										WHEN tr.[OIN] IS NOT NULL THEN 2
										ELSE 3
									END
			,	tr.[TransID]
			,	tr.[MatchedTransactionsID]
		INTO #PartnerTrans
		FROM #Transactions tr
		INNER JOIN [WHB].[Inbound_Cards] ca
			ON tr.[CardGUID] = ca.[CardGUID]
		INNER JOIN [Derived].[Customer] cu
			ON tr.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [Derived].[IronOffer] iof
			ON tr.[OfferGUID] = iof.[HydraOfferID]
		LEFT JOIN #RetailOutlet ro
			ON tr.[MerchantID] = ro.[MerchantID]
			AND iof.[PartnerID] = ro.[PartnerID]
		LEFT JOIN #IronOffer_SpendStretch ss
			ON iof.[IronOfferID] = ss.[IronOfferID]
		WHERE tr.[OIN] IS NULL

		INSERT INTO #PartnerTrans
		SELECT	DISTINCT
				[FileID] = tr.[FileID]
			,	[TransactionGUID] = tr.[TransactionGUID]
			,	[ExternalTransactionID] = tr.[transactionexternalid]
			,	[FanID] = cu.[FanID]
			,	[CustomerGUID] = cu.[CustomerGUID]
			,	[PartnerID] = iof.[PartnerID]
			,	[MerchantID] = tr.[MerchantID]
			,	[OIN] = tr.[OIN]
			,	[OutletID] = COALESCE(CONVERT(INT, ro.[OutletID]), -1)
			,	[DirectDebitOriginatorID] = NULL
			,	[IsOnline] = 0
			,	[CardholderPresentData] = NULL
			,	[TransactionAmount] = tr.[Price]
			,	[ExtremeValueFlag] = 0
			,	[TransactionDate] = CONVERT(DATETIME2(0), tr.[TransactionDate])
			,	[AddedDate] = tr.[LoadDate]
			,	[AffiliateCommissionAmount] = tr.[NetAmount]
			,	[CommissionChargable] = tr.[NetAmount]
			,	[CashbackEarned] = tr.CashbackEarned
			,	[IronOfferID] = iof.[IronOfferID]
			,	[OfferGUID] = tr.[OfferGUID]
			,	[ActivationDays] = tr.[ActivationDays]
			,	[AboveBase] =	CASE
									WHEN ss.[MinimumBasketSize] IS NULL THEN NULL
									WHEN ss.[MinimumBasketSize] < tr.[Price] THEN 1
									ELSE 0
								END
			,	[PaymentMethodID] = CASE
										WHEN ca.[CreditOrDebit] = 'Credit' THEN 1
										WHEN ca.[CreditOrDebit] = 'Debit' THEN 0
										WHEN tr.[OIN] IS NOT NULL THEN 2
										ELSE 3
									END
			,	tr.[TransID]
			,	tr.[MatchedTransactionsID]
		FROM #Transactions tr
		LEFT JOIN [WHB].[Inbound_Cards] ca
			ON tr.[CardGUID] = ca.[CardGUID]
		INNER JOIN [Derived].[Customer] cu
			ON tr.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [Derived].[IronOffer] iof
			ON tr.[OfferGUID] = iof.[HydraOfferID]
		LEFT JOIN #IronOffer_SpendStretch ss
			ON iof.[IronOfferID] = ss.[IronOfferID]
		LEFT JOIN #RetailOutlet ro
			ON tr.[MerchantID] = ro.[MerchantID]
			AND iof.[PartnerID] = ro.[PartnerID]
		WHERE tr.[OIN] IS NULL
		AND NOT EXISTS (	SELECT 1
							FROM #PartnerTrans pt
							WHERE tr.[TransactionGUID] = pt.[TransactionGUID]
							AND tr.[TransactionExternalId] = pt.[ExternalTransactionID]
							AND tr.[OfferGUID] = pt.[OfferGUID])
			

				INSERT INTO #PartnerTrans
		SELECT	DISTINCT
				[FileID] = tr.[FileID]
			,	[TransactionGUID] = tr.[TransactionGUID]
			,	[ExternalTransactionID] = tr.[TransactionExternalId]
			,	[FanID] = cu.[FanID]
			,	[CustomerGUID] = cu.[CustomerGUID]
			,	[PartnerID] = iof.[PartnerID]
			,	[MerchantID] = tr.[MerchantID]
			,	[OIN] = tr.[OIN]
			,	[OutletID] = NULL
			,	[DirectDebitOriginatorID] = ddo.[DirectDebitOriginatorID]
			,	[IsOnline] = 0
			,	[CardholderPresentData] = NULL
			,	[TransactionAmount] = tr.[Price]
			,	[ExtremeValueFlag] = 0
			,	[TransactionDate] = CONVERT(DATETIME2(0), tr.[TransactionDate])
			,	[AddedDate] = tr.[LoadDate]
			,	[AffiliateCommissionAmount] = tr.[NetAmount]
			,	[CommissionChargable] = tr.[NetAmount]
			,	[CashbackEarned] = tr.[CashbackEarned]
			,	[IronOfferID] = iof.[IronOfferID]
			,	[OfferGUID] = tr.[OfferGUID]
			,	[ActivationDays] = tr.[ActivationDays]
			,	[AboveBase] =	CASE
									WHEN ss.[MinimumBasketSize] IS NULL THEN NULL
									WHEN ss.[MinimumBasketSize] < tr.[Price] THEN 1
									ELSE 0
								END
			,	[PaymentMethodID] = 2
			,	tr.[TransID]
			,	tr.[MatchedTransactionsID]
		FROM #Transactions tr
		INNER JOIN [Derived].[Customer] cu
			ON tr.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [Derived].[IronOffer] iof
			ON tr.[OfferGUID] = iof.[HydraOfferID]
		INNER JOIN #DirectDebitOriginator ddo
			ON tr.[OIN] = ddo.[OIN]
		LEFT JOIN #IronOffer_SpendStretch ss
			ON iof.[IronOfferID] = ss.[IronOfferID]
		WHERE tr.[OIN] IS NOT NULL
		AND NOT EXISTS (	SELECT 1
							FROM #PartnerTrans pt
							WHERE tr.[TransactionGUID] = pt.[TransactionGUID]
							AND tr.[TransactionExternalId] = pt.[ExternalTransactionID]
							AND tr.[OfferGUID] = pt.[OfferGUID])


		INSERT INTO #PartnerTrans
		SELECT	DISTINCT
				[FileID] = tr.[FileID]
			,	[TransactionGUID] = tr.[TransactionGUID]
			,	[ExternalTransactionID] = tr.[TransactionExternalId]
			,	[FanID] = cu.[FanID]
			,	[CustomerGUID] = cu.[CustomerGUID]
			,	[PartnerID] = iof.[PartnerID]
			,	[MerchantID] = tr.[MerchantID]
			,	[OIN] = tr.[OIN]
			,	[OutletID] = NULL
			,	[DirectDebitOriginatorID] = COALESCE(ddo.[DirectDebitOriginatorID], -1)
			,	[IsOnline] = 0
			,	[CardholderPresentData] = NULL
			,	[TransactionAmount] = tr.[Price]
			,	[ExtremeValueFlag] = 0
			,	[TransactionDate] = CONVERT(DATETIME2(0), tr.[TransactionDate])
			,	[AddedDate] = tr.[LoadDate]
			,	[AffiliateCommissionAmount] = tr.[NetAmount]
			,	[CommissionChargable] = tr.[NetAmount]
			,	[CashbackEarned] = tr.[CashbackEarned]
			,	[IronOfferID] = iof.[IronOfferID]
			,	[OfferGUID] = tr.[OfferGUID]
			,	[ActivationDays] = tr.[ActivationDays]
			,	[AboveBase] =	CASE
									WHEN ss.[MinimumBasketSize] IS NULL THEN NULL
									WHEN ss.[MinimumBasketSize] < tr.[Price] THEN 1
									ELSE 0
								END
			,	[PaymentMethodID] = 2
			,	tr.[TransID]
			,	tr.[MatchedTransactionsID]
		FROM #Transactions tr
		INNER JOIN [Derived].[Customer] cu
			ON tr.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [Derived].[IronOffer] iof
			ON tr.[OfferGUID] = iof.[HydraOfferID]
		--INNER JOIN #DirectDebitOriginator ddo
		--	ON tr.[OIN] = ddo.[OIN]
		LEFT JOIN #DirectDebitOriginator ddo
			ON tr.[OIN] = ddo.[OIN]
		LEFT JOIN #IronOffer_SpendStretch ss
			ON iof.[IronOfferID] = ss.[IronOfferID]
		WHERE tr.[OIN] IS NOT NULL
		AND TransactionTypeID = 13
		AND NOT EXISTS (	SELECT 1
							FROM #PartnerTrans pt
							WHERE tr.[TransactionGUID] = pt.[TransactionGUID]
							AND tr.[TransactionExternalId] = pt.[ExternalTransactionID]
							AND tr.[OfferGUID] = pt.[OfferGUID])

		

		CREATE CLUSTERED INDEX [CIX_FileIDRowNum] ON #PartnerTrans ([FileID], [TransactionGUID], [ExternalTransactionID])

		--Flag the extreme values on the transactions
		
		DROP TABLE IF EXISTS #ExtremeValues
		SELECT	pt.[FileID]
			,	pt.[TransactionGUID]
			,	pt.[ExternalTransactionID]
			,	pt.[PartnerID]
			,	pt.[TransactionAmount]
			,	[ValuePercentile] = NTILE(100) OVER (PARTITION BY [PartnerID] ORDER BY [TransactionAmount])
		INTO #ExtremeValues
		FROM #PartnerTrans pt
		ORDER BY [PartnerID];

		CREATE CLUSTERED INDEX [CIX_FileIDRowNum] ON #ExtremeValues ([FileID], [TransactionGUID], [ExternalTransactionID])
		CREATE NONCLUSTERED INDEX [IX_Value_IncFileRow] ON #ExtremeValues ([ValuePercentile]) INCLUDE ([FileID],[TransactionGUID], [ExternalTransactionID])
				
		UPDATE pt
		SET pt.[ExtremeValueFlag] = 1
		FROM #PartnerTrans pt
		INNER JOIN #ExtremeValues ev
			ON pt.[FileID] = ev.[FileID]
			AND pt.[TransactionGUID] = ev.[TransactionGUID]
			AND pt.[ExternalTransactionID] = ev.[ExternalTransactionID]
		WHERE ev.[ValuePercentile] NOT BETWEEN 6 AND 95;		--Top and bottom 5% of transactions are flagged as extreme values
		
		DROP TABLE IF EXISTS #PartnerTransDupes
		SELECT	[ExternalTransactionID]
			,	[TransactionGUID]
			,	[FirstAddedDate] = MIN([AddedDate])
		INTO #PartnerTransDupes
		FROM #PartnerTrans pt
		GROUP BY	[ExternalTransactionID]
				,	[TransactionGUID]
		HAVING COUNT(*) > 1

		DELETE pt
		FROM #PartnerTrans pt
		WHERE EXISTS (	SELECT 1
						FROM #PartnerTransDupes ptd
						WHERE pt.[TransactionGUID] = ptd.[TransactionGUID]
						AND pt.[ExternalTransactionID] = ptd.[ExternalTransactionID]
						AND pt.[AddedDate] != ptd.[FirstAddedDate])
						
		DROP TABLE IF EXISTS #PartnerTransFileIDs
		SELECT	[FileID]
			,	[MaxRowNum] = MAX([RowNum])
		INTO #PartnerTransFileIDs
		FROM [Derived].[PartnerTrans]
		GROUP BY	[FileID]

		CREATE CLUSTERED INDEX [CIX_FileIDRowNum] ON #PartnerTransFileIDs ([FileID], [MaxRowNum])
			   
		INSERT INTO [Derived].[PartnerTrans]
		SELECT	[FileID] = pts.[FileID]
			,	[RowNum] = COALESCE(ptf.[MaxRowNum], 0) + ROW_NUMBER() OVER (PARTITION BY pts.[FileID] ORDER BY pts.[TransactionGUID], pts.[ExternalTransactionID])
			,	[FanID] = pts.[FanID]
			,	[CustomerGUID] = pts.[CustomerGUID]
			,	[OriginalCustomerGUID] = pts.[CustomerGUID]
			,	[PartnerID] = pts.[PartnerID]
			,	[OIN] = pts.[OIN]
			,	[MerchantID] = pts.[MerchantID]
			,	[OutletID] = pts.[OutletID]
			,	[DirectDebitOriginatorID] = pts.[DirectDebitOriginatorID]
			,	[IsOnline] = pts.[IsOnline]
			,	[CardholderPresentData] = pts.[CardholderPresentData]
			,	[TransactionAmount] = pts.[TransactionAmount]
			,	[ExtremeValueFlag] = pts.[ExtremeValueFlag]
			,	[TransactionDate] = pts.[TransactionDate]
			,	[AddedDate] = pts.[AddedDate]
			,	[AffiliateCommissionAmount] = pts.[AffiliateCommissionAmount]
			,	[CommissionChargable] = pts.[CommissionChargable]
			,	[CashbackEarned] = pts.[CashbackEarned]
			,	[IronOfferID] = pts.[IronOfferID]
			,	[OfferGUID] = pts.[OfferGUID]
			,	[ActivationDays] = pts.[ActivationDays]
			,	[AboveBase] = pts.[AboveBase]
			,	[PaymentMethodID] = COALESCE(pts.[PaymentMethodID], @defaultPaymentMethodID, 3)
			,	[TransactionGUID] = pts.[TransactionGUID]
			,	[ExternalTransactionID] = pts.[ExternalTransactionID]
			,	pts.[TransID]
			,	pts.[MatchedTransactionsID]
		FROM #PartnerTrans pts
		LEFT JOIN #PartnerTransFileIDs ptf
			ON pts.[FileID] = ptf.[FileID]
		ORDER BY	pts.[FileID]
				,	[RowNum]
				,	[TransactionDate]

		UPDATE pt
		SET pt.[CustomerGUID] = cu.[CustomerGUID]
		,	pt.[FanID] = cu.[FanID]
		FROM [Derived].[PartnerTrans] pt
		INNER JOIN [Derived].[CustomerMerges] cm
			ON pt.[CustomerGUID] = cm.[OriginalCustomerGUID]
		INNER JOIN [Derived].[Customer] cu
			ON cm.[CustomerGUID] = cu.[CustomerGUID]
		WHERE cm.[EndDate] IS NULL
		AND pt.[CustomerGUID] != cm.[CustomerGUID]

		-- log it
		SET @RowsAffected = @@ROWCOUNT;SET @msg = 'Loaded rows to [Derived].[PartnerTrans] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, @msg

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END

GO
