USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_Transactions_Update]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Inbound_Transactions_Update]

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @ProcessName VARCHAR(50), @Activity VARCHAR(200), @time DATETIME = GETDATE(), @SSMS BIT, @RowsAffected INT

	SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Start'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

	BEGIN TRY

		WHILE (SELECT COUNT(*) FROM [WHB].[Transaction_Files] f WHERE [TableName] = 'Transactions' AND [FileProcessed] = 0) > 0
			BEGIN

				/*******************************************************************************************************************************************
					1.	Fetch files that haven't been processed
				*******************************************************************************************************************************************/
				
					DROP TABLE IF EXISTS #FilesToProcess_FileName
					SELECT	[FileName] = MAX([FileName])
					INTO #FilesToProcess_FileName
					FROM [WHB].[Transaction_Files] f
					WHERE [TableName] = 'Transactions'
					AND [FileProcessed] = 0

					CREATE UNIQUE CLUSTERED INDEX [CIX_FileNameLoadDate] ON #FilesToProcess_FileName ([FileName])
					
					DROP TABLE IF EXISTS #FilesToProcess
					SELECT	TOP 1000
							[FileID] = [ID]
						,	[LoadDate]
						,	[FileName]
					INTO #FilesToProcess
					FROM [WHB].[Transaction_Files] f
					WHERE [TableName] = 'Transactions'
					AND [FileProcessed] = 0
					AND EXISTS (SELECT 1
								FROM #FilesToProcess_FileName ftp
								WHERE f.[FileName] = ftp.[FileName])
					ORDER BY	[LoadDate]
							,	[ID]
							
					SET @RowsAffected = @@ROWCOUNT;
					
					CREATE UNIQUE CLUSTERED INDEX [CIX_FileNameLoadDate] ON #FilesToProcess ([LoadDate], [FileName])

					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Fetch files [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

												
				/*******************************************************************************************************************************************
					2.	Fetch latest Transactions file to be processed
				*******************************************************************************************************************************************/
				
					DROP TABLE IF EXISTS #Inbound_Transactions
					SELECT	t.[ID]
						,	t.[RowNum]
						,	t.[BankID]
						,	t.[TransactionID]
						,	t.[TransactionReferenceNumber]
						,	t.[CustomerGUID]
						,	t.[ExternalCustomerID]
						,	t.[BankAccountGUID]
						,	t.[CardGUID]
						,	t.[TransactionDate]
						,	t.[TransactionTime]
						,	t.[Amount]
						,	t.[CurrencyCode]
						,	t.[MerchantID]
						,	t.[MerchantDBAName]
						,	t.[OriginatorID]
						,	t.[MerchantCountry]
						,	t.[MerchantCategoryCode]
						,	t.[MerchantAddress]
						,	t.[MerchantCity]
						,	t.[MerchantState]
						,	t.[MerchantPostalCode]
						,	t.[CardholderPresent]
						,	t.[ProcessCode]
						,	t.[PostStatus]
						,	t.[CardInputMode]
						,	t.[ReversalInd]
						,	t.[TokenTransactionIndicator]
						,	t.[TokenRequesterID]
						,	t.[PaymentTypeID]
						,	t.[DPAN]
						,	t.[AuthCode]
						,	t.[IsValidTransaction]
						,	t.[LoadDate]
						,	t.[FileName]
					INTO #Inbound_Transactions
					FROM [Inbound].[Transactions] t WITH (NOLOCK)
					INNER JOIN #FilesToProcess_FileName ftp
						ON t.[FileName] = ftp.[FileName]
					OPTION (RECOMPILE)
							
					SET @RowsAffected = @@ROWCOUNT;

					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load Transactions from [Inbound].[Transactions] to #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					CREATE CLUSTERED INDEX [CIX_ID] ON #Inbound_Transactions ([ID])
					CREATE NONCLUSTERED INDEX [IX_All] ON #Inbound_Transactions ([RowNum], [BankID], [FileName])
					
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Index #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					UPDATE #Inbound_Transactions
					SET [TransactionID] = NULL
					WHERE [TransactionID] = '0000000000000'
					AND [TransactionReferenceNumber] IS NOT NULL
					
					SET @RowsAffected = @@ROWCOUNT;
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Set [TransactionID] to NULL when "0000000000000" in #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					;WITH
					Inbound_Transactions_Deleter AS (	SELECT [RowNumber_Delete] = ROW_NUMBER() OVER(PARTITION BY [FileName], [BankID], [RowNum] ORDER BY [ID] DESC)
														FROM #Inbound_Transactions)

					DELETE
					FROM Inbound_Transactions_Deleter
					WHERE [RowNumber_Delete] > 1

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Delete duplicates from #Inbound_Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					DROP TABLE IF EXISTS #Transactions
					SELECT	[ID] = MIN(i.[ID])
						,	[FileID] = ftp.[FileID]
						,	[TransactionID] = COALESCE(i.[TransactionReferenceNumber], i.[TransactionID], '')
						,	[RowNum] = ROW_NUMBER() OVER (PARTITION BY ftp.[FileID] ORDER BY COALESCE(i.[BankID], i.[RowNum], ''))
						,	[CustomerGUID] = i.[CustomerGUID]
						,	[ExternalCustomerID] = i.[ExternalCustomerID]
						,	[BankAccountGUID] = i.[BankAccountGUID]
						,	[CardGUID] = i.[CardGUID]
						,	[TransactionDate] = i.[TransactionDate]
						,	[TransactionTime] = i.[TransactionTime]
						,	[Amount] = i.[Amount]
						,	[CurrencyCode]= COALESCE(i.[CurrencyCode], '')
						,	[MerchantID] = COALESCE(i.[MerchantID], '')
						,	[Narrative] = MAX(COALESCE(i.[MerchantDBAName], ''))
						,	[OriginatorID] = COALESCE(MAX(i.[OriginatorID]), '')
						,	[MerchantCountry] = COALESCE(i.[MerchantCountry], '')
						,	[MerchantCategoryCode] = COALESCE(i.[MerchantCategoryCode], '')
						,	[MerchantAddress] = MAX(COALESCE([MerchantAddress], ''))
						,	[MerchantCity] = COALESCE(MAX(i.[MerchantCity]), MAX(i.[MerchantAddress]), '')
						,	[MerchantState] = COALESCE(i.[MerchantState], '')
						,	[MerchantPostalCode] = COALESCE(MAX(i.[MerchantPostalCode]), '')
						,	[CardholderPresent] = i.[CardholderPresent]
						,	[ProcessCode] = i.[ProcessCode]
						,	[PostStatus] = i.[PostStatus]
						,	[CardInputMode] = i.[CardInputMode]
						,	[ReversalInd] = i.[ReversalInd]
						,	[TokenTransactionIndicator] = MAX(i.[TokenTransactionIndicator])
						,	[TokenRequesterId] = i.[TokenRequesterId]
						,	[PaymentTypeID] = i.[PaymentTypeID]
						,	[DPAN] = i.[DPAN]
						,	[AuthCode] = i.[AuthCode]
						,	[IsValidTransaction] = MAX(i.[IsValidTransaction])
						,	[LoadDate] = MIN(i.[LoadDate])
						,	[FileName] = i.[FileName]
						,	[BankID] = i.[BankID]
						,	i.[TransactionReferenceNumber]
						,	[SourceRowNum] = i.[RowNum]
					INTO #Transactions
					FROM #Inbound_Transactions i
					INNER JOIN #FilesToProcess ftp
						ON i.[FileName] = ftp.[FileName]
					--	AND i.[LoadDate] = ftp.[LoadDate]
					WHERE TRY_CONVERT(DATETIME, [TransactionDate]) IS NOT NULL
					GROUP BY	ftp.[FileID]
							,	COALESCE(i.[TransactionReferenceNumber], i.[TransactionID], '')
							,	i.[CustomerGUID]
							,	i.[ExternalCustomerID]
							,	i.[BankAccountGUID]
							,	i.[CardGUID]
							,	i.[TransactionDate]
							,	i.[TransactionTime]
							,	i.[Amount]
							,	COALESCE(i.[CurrencyCode], '')
							,	COALESCE(i.[MerchantID], '')
							,	COALESCE(i.[MerchantCountry], '')
							,	COALESCE(i.[MerchantCategoryCode], '')
							,	COALESCE(i.[MerchantState], '')
							,	i.[CardholderPresent]
							,	i.[ProcessCode]
							,	i.[PostStatus]
							,	i.[CardInputMode]
							,	i.[ReversalInd]
							,	i.[TokenRequesterId]
							,	i.[PaymentTypeID]
							,	i.[DPAN]
							,	i.[AuthCode]
							,	i.[FileName]
							,	i.[BankID]
							,	i.[TransactionReferenceNumber]
							,	i.[RowNum]
					OPTION (RECOMPILE)

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load Transactions from #Inbound_Transactions to #Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
												
				/*******************************************************************************************************************************************
					3.	Remove duplicate transactions
				*******************************************************************************************************************************************/

					DROP TABLE IF EXISTS #Dupes
					SELECT	[TransactionID]
						,	[MerchantID]
						,	[MerchantCategoryCode]
						,	[TransactionDate]
						,	[TransactionTime]
						,	[Amount]
						,	[CustomerGUIDs] = COUNT(DISTINCT [CustomerGUID])
						,	[CardGUIDs] = COUNT(DISTINCT [CardGUID])
						,	[MinID] = MIN([ID])
					INTO #Dupes
					FROM #Transactions
					GROUP BY	[TransactionID]
							,	[MerchantID]
							,	[MerchantCategoryCode]
							,	[TransactionDate]
							,	[TransactionTime]
							,	[Amount]
					HAVING COUNT(*) > 1

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Identify Dupes in #Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
					
					INSERT INTO [WHB].[Inbound_Transactions_ToExclude]
					SELECT	[ID]
						,	[FileID]
						,	[TransactionID]
						,	[RowNum]
						,	[CustomerGUID]
						,	[ExternalCustomerID]
						,	[BankAccountGUID]
						,	[CardGUID]
						,	[TransactionDate]
						,	[TransactionTime]
						,	[Amount]
						,	[CurrencyCode]
						,	[MerchantID]
						,	[Narrative]
						,	[OriginatorID]
						,	[MerchantCountry]
						,	[MerchantCategoryCode]
						,	[MerchantCity]
						,	[MerchantState]
						,	[MerchantPostalCode]
						,	[CardholderPresent]
						,	[ProcessCode]
						,	[PostStatus]
						,	[CardInputMode]
						,	[ReversalInd]
						,	[TokenTransactionIndicator]
						,	[TokenRequesterId]
						,	[PaymentTypeID]
						,	[LoadDate]
						,	[FileName]
					FROM #Transactions t
					WHERE EXISTS (	SELECT 1
									FROM #Dupes d
									WHERE t.[TransactionID] = d.[TransactionID]
									AND t.[MerchantID] = d.[MerchantID]
									AND t.[MerchantCategoryCode] = d.[MerchantCategoryCode]
									AND t.[TransactionDate] = d.[TransactionDate]
								--	AND t.[TransactionTime] = d.[TransactionTime]
									AND t.[Amount] = d.[Amount])
					AND NOT EXISTS (SELECT 1
									FROM #Dupes d
									WHERE t.[ID] = d.[MinID])
					ORDER BY [TransactionID]

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Store Dupes in [WHB].[Inbound_Transactions_ToExclude] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					DELETE t
					FROM #Transactions t
					WHERE EXISTS (	SELECT 1
									FROM [WHB].[Inbound_Transactions_ToExclude] tte
									WHERE t.[ID] = tte.[ID]
									AND t.[TransactionID] = tte.[TransactionID]
									)

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Delete Dupes from #Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					CREATE CLUSTERED INDEX [CIX_GUID] ON #Transactions ([FileID], [TransactionID], [MerchantID], [Amount])

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Index #Transactions [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				/*******************************************************************************************************************************************
					4.	Check max RowNum that may have been loaded for the FileID
				*******************************************************************************************************************************************/

					DROP TABLE IF EXISTS #RowNums
					SELECT	t.[FileID]
						,	[RowNum] = MAX([RowNum])
					INTO #RowNums
					FROM [WHB].[Inbound_Transactions] t
					WHERE EXISTS (	SELECT 1
									FROM #FilesToProcess ftp
									WHERE t.[FileID] = ftp.[FileID])
					GROUP BY	t.[FileID]

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Get the Max [RowNum] per file from [WHB].[Inbound_Transactions] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				/*******************************************************************************************************************************************
					5.	Load to table
				*******************************************************************************************************************************************/

					DROP TABLE IF EXISTS #Inbound_Transactions_ToLoad
					SELECT	[BatchID] = 1 + (ROW_NUMBER() OVER (ORDER BY t.[FileID], t.[RowNum]) - 1) / 3000000
						,	[FileID] = t.[FileID]
						,	[RowNum] = t.[RowNum] + COALESCE(rn.[RowNum], 0)
						,	[TransactionID] = t.[TransactionID]
						,	[CustomerGUID] = t.[CustomerGUID]
						,	[ExternalCustomerID] = t.[ExternalCustomerID]
						,	[BankAccountGUID] = t.[BankAccountGUID]
						,	[CardGUID] = t.[CardGUID]
						,	[TransactionDate] = t.[TransactionDate]
						,	[TransactionTime] = t.[TransactionTime]
						,	[Amount] = t.[Amount]
						,	[CurrencyCode]= t.[CurrencyCode]
						,	[MerchantID] = t.[MerchantID]
						,	[Narrative] = t.[Narrative]
						,	[OriginatorID] = t.[OriginatorID]
						,	[MerchantCountry] = t.[MerchantCountry]
						,	[MerchantCategoryCode] = t.[MerchantCategoryCode]
						,	[MerchantCity] = t.[MerchantCity]
						,	[MerchantState] = t.[MerchantState]
						,	[MerchantPostalCode] = t.[MerchantPostalCode]
						,	[CardholderPresent] = t.[CardholderPresent]
						,	[ProcessCode] = t.[ProcessCode]
						,	[PostStatus] = t.[PostStatus]
						,	[CardInputMode] = t.[CardInputMode]
						,	[ReversalInd] = t.[ReversalInd]
						,	[TokenTransactionIndicator] = t.[TokenTransactionIndicator]
						,	[TokenRequesterId] = t.[TokenRequesterId]
						,	[PaymentTypeID] = t.[PaymentTypeID]
						,	[DPAN] = t.[DPAN]
						,	[AuthCode] = t.[AuthCode]
						,	[IsValidTransaction] = CASE WHEN t.[IsValidTransaction] = 'False' THEN 0 ELSE 1 END
						,	[LoadDate] = t.[LoadDate]
						,	[FileName] = t.[FileName]
						,	[BankID] = t.[BankID]
						,	[MerchantAddress] = t.[MerchantAddress]
						,	[SourceRowNum] = t.[SourceRowNum]
						,	[TransactionReferenceNumber] = t.[TransactionReferenceNumber]
					INTO #Inbound_Transactions_ToLoad
					FROM #Transactions t
					LEFT JOIN #RowNums rn
						ON t.[FileID] = rn.[FileID]
					WHERE NOT EXISTS (	SELECT 1
										FROM [WHB].[Inbound_Transactions] it
										WHERE t.[TransactionID] = it.[TransactionID]
										AND t.[MerchantID] = it.[MerchantID]
										AND t.[Amount] = it.[Amount])

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Fetch new transactions from #Transactions to #Inbound_Transactions_ToLoad [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					CREATE CLUSTERED INDEX [CIX_FileRow] ON #Inbound_Transactions_ToLoad ([BatchID], [FileID], [RowNum])

					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Fetch new transactions from #Transactions to #Inbound_Transactions_ToLoad [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					DELETE t					
					FROM #Inbound_Transactions_ToLoad t WITH(INDEX([CIX_FileRow]))
					WHERE EXISTS (	SELECT 1
									FROM [WHB].[Inbound_Transactions] it WITH(INDEX([CIX_FileRow]))
									WHERE t.[FileID] = it.[FileID]
									AND t.[RowNum] = it.[RowNum])
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Delete rows already loaded from #Inbound_Transactions_ToLoad [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
				
					DECLARE @BatchID INT = (SELECT MIN([BatchID]) FROM #Inbound_Transactions_ToLoad)
						,	@BatchID_Max INT = (SELECT MAX([BatchID]) FROM #Inbound_Transactions_ToLoad)

					WHILE @BatchID <= @BatchID_Max
						BEGIN

							INSERT INTO [WHB].[Inbound_Transactions] (	[FileID]
																	,	[RowNum]
																	,	[TransactionID]
																	,	[CustomerGUID]
																	,	[ExternalCustomerID]
																	,	[BankAccountGUID]
																	,	[CardGUID]
																	,	[TransactionDate]
																	,	[TransactionTime]
																	,	[Amount]
																	,	[CurrencyCode]
																	,	[MerchantID]
																	,	[Narrative]
																	,	[OriginatorID]
																	,	[MerchantCountry]
																	,	[MerchantCategoryCode]
																	,	[MerchantCity]
																	,	[MerchantState]
																	,	[MerchantPostalCode]
																	,	[CardholderPresent]
																	,	[ProcessCode]
																	,	[PostStatus]
																	,	[CardInputMode]
																	,	[ReversalInd]
																	,	[TokenTransactionIndicator]
																	,	[TokenRequesterId]
																	,	[PaymentTypeID]
																	,	[DPAN]
																	,	[AuthCode]
																	,	[IsValidTransaction]
																	,	[LoadDate]
																	,	[FileName]
																	,	[BankID]
																	,	[MerchantAddress]
																	,	[SourceRowNum]
																	,	[TransactionReferenceNumber])
							SELECT	t.[FileID]
								,	t.[RowNum]
								,	t.[TransactionID]
								,	t.[CustomerGUID]
								,	t.[ExternalCustomerID]
								,	t.[BankAccountGUID]
								,	t.[CardGUID]
								,	t.[TransactionDate]
								,	t.[TransactionTime]
								,	t.[Amount]
								,	t.[CurrencyCode]
								,	t.[MerchantID]
								,	t.[Narrative]
								,	t.[OriginatorID]
								,	t.[MerchantCountry]
								,	t.[MerchantCategoryCode]
								,	t.[MerchantCity]
								,	t.[MerchantState]
								,	t.[MerchantPostalCode]
								,	t.[CardholderPresent]
								,	t.[ProcessCode]
								,	t.[PostStatus]
								,	t.[CardInputMode]
								,	t.[ReversalInd]
								,	t.[TokenTransactionIndicator]
								,	t.[TokenRequesterId]
								,	t.[PaymentTypeID]
								,	t.[DPAN]
								,	t.[AuthCode]
								,	t.[IsValidTransaction]
								,	t.[LoadDate]
								,	t.[FileName]
								,	t.[BankID]
								,	t.[MerchantAddress]
								,	t.[SourceRowNum]
								,	t.[TransactionReferenceNumber]
							FROM #Inbound_Transactions_ToLoad t WITH(INDEX([CIX_FileRow]))
							WHERE t.[BatchID] = @BatchID
						--	AND NOT EXISTS (	SELECT 1
						--						FROM [WHB].[Inbound_Transactions] it WITH(INDEX([CIX_FileRow]))
						--						WHERE t.[FileID] = it.[FileID]
						--						AND t.[RowNum] = it.[RowNum])
							ORDER BY	t.[BatchID]
									,	t.[FileID]
									,	t.[RowNum]
									
							SET @RowsAffected = @@ROWCOUNT
							SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load rows to [WHB].[Inbound_Transactions] [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
							
							SET @BatchID = @BatchID + 1;

						END

				/*******************************************************************************************************************************************
					6.	Log to table
				*******************************************************************************************************************************************/
													
					DROP TABLE IF EXISTS #FileCounts
					SELECT	ftp.[FileID]
						,	ftp.[FileName]
						,	ftp.[LoadDate]
						,	[DataSource] = 'Inbound'
						,	[Entries] = COUNT(DISTINCT COALESCE([TransactionReferenceNumber], [TransactionID]))
					INTO #FileCounts
					FROM #FilesToProcess ftp
					INNER JOIN [Inbound].[Transactions] t
						ON t.[FileName] = ftp.[FileName]
					--	AND t.[LoadDate] = ftp.[LoadDate]
					WHERE COALESCE(t.[IsValidTransaction], 'True') = 'True'
					GROUP BY	ftp.[FileID]
							,	ftp.[FileName]
							,	ftp.[LoadDate]
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Store row counts from [Inbound].[Transactions] for this file [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

					INSERT INTO #FileCounts
					SELECT	ftp.[FileID]
						,	ftp.[FileName]
						,	ftp.[LoadDate]
						,	[DataSource] = 'WHB'
						,	[Entries] = COUNT(DISTINCT [TransactionID])
					FROM #FilesToProcess ftp
					INNER JOIN [WHB].[Inbound_Transactions] it
						ON it.[FileID] = ftp.[FileID]
					--	AND it.[LoadDate] = ftp.[LoadDate]
					WHERE it.[IsValidTransaction] = 1
					GROUP BY	ftp.[FileID]
							,	ftp.[FileName]
							,	ftp.[LoadDate]
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Store row counts from [WHB].[Inbound_Transactions] for this file [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
					
					DROP TABLE IF EXISTS #FileCounts_ToLoad
					SELECT	ftp.[FileID]
						,	ftp.[FileName]
						,	ftp.[LoadDate]
						,	[Imported_RowCount] = COALESCE(MAX(CASE WHEN fc.[DataSource] = 'WHB' THEN fc.[Entries] ELSE 0 END), 0)
						,	[Total_RowCount] = COALESCE(MAX(CASE WHEN fc.[DataSource] = 'Inbound' THEN fc.[Entries] ELSE 0 END), 0)
					INTO #FileCounts_ToLoad
					FROM #FilesToProcess ftp
					LEFT JOIN #FileCounts fc
						ON ftp.[FileID] = fc.[FileID]
						AND ftp.[FileName] = fc.[FileName]
						AND ftp.[LoadDate] = fc.[LoadDate]
					GROUP BY	ftp.[FileID]
							,	ftp.[FileName]
							,	ftp.[LoadDate]
					HAVING COALESCE(MAX(CASE WHEN fc.[DataSource] = 'Inbound' THEN fc.[Entries] ELSE 0 END), 0) > 0
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Join row counts from [WHB] & [Inbound] for this file [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
							
					MERGE [MIDI].[FilesToProcess] target		-- Destination table
					USING #FileCounts_ToLoad source				-- Source table
					ON target.[FileID] = source.[FileID]		-- Match criteria
					AND target.[FileName] = source.[FileName]	-- Match criteria
					AND target.[LoadDate] = source.[LoadDate]	-- Match criteria

					WHEN MATCHED THEN
						UPDATE SET	target.[Total_RowCount] = source.[Total_RowCount]	-- If matched, update to new value
								,	target.[Imported_RowCount] = source.[Imported_RowCount]		-- If matched, update to new value
								,	target.[Imported_Date] = GETDATE()		-- If matched, update to new value

					WHEN NOT MATCHED THEN					-- If not matched, add new rows
						INSERT ([FileID]
							,	[FileName]
							,	[LoadDate]
							,	[Total_RowCount]
							,	[Imported_RowCount]
							,	[Imported_Date])
						VALUES (source.[FileID]
							,	source.[FileName]
							,	source.[LoadDate]
							,	source.[Total_RowCount]
							,	source.[Imported_RowCount]
							,	GETDATE());
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Load row counts from [WHB] & [Inbound] for this file [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

				/*******************************************************************************************************************************************
					7.	Update [WHB].[Transaction_Files]
				*******************************************************************************************************************************************/

					UPDATE i
					SET i.[FileProcessed] = 1
					FROM [WHB].[Transaction_Files] i
					WHERE EXISTS (	SELECT 1
									FROM #FilesToProcess ftp
									WHERE i.[ID] = ftp.[FileID]
									AND i.[FileName] = ftp.[FileName]
									AND i.[LoadDate] = ftp.[LoadDate])
									
					SET @RowsAffected = @@ROWCOUNT
					SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Mark file as processed [' + CAST(@RowsAffected AS VARCHAR(10)) + ']'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT

			END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Transaction_Files] f WHERE [TableName] = 'Transactions' AND [FileProcessed] = 0) > 0		
			
		SET @Activity = ISNULL(OBJECT_NAME(@@PROCID),'SSMS') + ' - Finish'; EXEC [Monitor].[ProcessLogger] 'MIDI', @Activity, @time OUTPUT, @SSMS OUTPUT
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END


GO
