USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_MatchedTransactions_Update]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Inbound_MatchedTransactions_Update] @FileNameDate DATE = NULL

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	IF @FileNameDate IS NULL SET @FileNameDate = GETDATE()

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'MatchedTransactions'

			--DECLARE @MinFileNameDate DATE

			--SELECT	@MinFileNameDate = MIN([FileNameDate])
			--FROM #Inbound_Files
			--WHERE [FileProcessed] = 0

			--UPDATE f
			--SET f.[FileProcessed] = 0
			--FROM #Inbound_Files ift
			--INNER JOIN [WHB].[Inbound_Files] f
			--	ON ift.[ID] = f.[ID]
			--WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'MatchedTransactions'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/
		
		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'MatchedTransactions'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			/***************************************************************************************************************************************
				3.1.	Assign parameters
			***************************************************************************************************************************************/

				DECLARE @LoadDate DATETIME
					,	@FileName VARCHAR(60)

				SELECT	@LoadDate = [LoadDate]
					,	@FileName = [FileName]
				FROM #FilesToProcess

			/***************************************************************************************************************************************
				3.2.	Load all entries for the File
			***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Inbound_Temp
				SELECT	*
				INTO #Inbound_Temp
				FROM [Inbound].[MatchedTransactions] i WITH(NOLOCK)
				WHERE i.[FileName] = @FileName
				AND i.[LoadDate] = @LoadDate

				CREATE CLUSTERED INDEX [CIX_TransactionIDs] ON #Inbound_Temp ([TransactionGUID], [TransactionExternalID])

				UPDATE #Inbound_Temp
				SET [BinRange] = NULL
				,	[DPan] = NULL
				,	[AuthCode] = NULL
				WHERE LEN([AuthCode]) > 10

			/***************************************************************************************************************************************
				3.3.	Dedupe file
			***************************************************************************************************************************************/

				;WITH
				Duplicates AS (	SELECT	[TransactionGUID]
									,	[TransactionExternalID]
								FROM #Inbound_Temp
								GROUP BY	[TransactionGUID]
										,	[TransactionExternalID]
								HAVING COUNT(*) > 1),

				Ranked AS (		SELECT	[ID]
									,	[TransactionGUID]
									,	[TransactionExternalID]
									,	[EntryRank] = ROW_NUMBER() OVER (PARTITION BY [TransactionGUID], [TransactionExternalID] ORDER BY [CreatedAt] DESC, [UpdatedAt] DESC, [LoadDate] DESC, [ID] DESC)
								FROM #Inbound_Temp it
								WHERE EXISTS (	SELECT 1
												FROM Duplicates d
												WHERE it.[TransactionGUID] = d.[TransactionGUID]
												AND (	it.[TransactionExternalID] = d.[TransactionExternalID]
													OR (it.[TransactionExternalID] IS NULL AND d.[TransactionExternalID] IS NULL)
													)
												))

				DELETE it
				FROM #Inbound_Temp it
				WHERE EXISTS (	SELECT 1
								FROM Ranked r
								WHERE it.[ID] = r.[ID]
								AND r.[EntryRank] > 1)

			/***************************************************************************************************************************************
				3.4.	Clean deduped file
			***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Inbound
				SELECT	i.[ID]
					,	i.[Description]
					,	[DescriptionID] = NULL
					,	i.[TransactionGUID]
					,	[TransactionExternalID_Original] = i.[TransactionExternalID]
					,	[TransactionExternalID] =	CASE
														WHEN i.[TransactionExternalID] IS NULL THEN NULL
														WHEN TRY_CONVERT(UNIQUEIDENTIFIER, i.[TransactionExternalID]) IS NOT NULL THEN i.[TransactionExternalID]
														ELSE CONVERT(UNIQUEIDENTIFIER, HASHBYTES('MD5', i.[TransactionExternalID]))
													END
					,	i.[TransactionTypeID]
					,	[TransactionTypeID_Original] = i.[TransactionTypeID]
					,	i.[CustomerGUID]
					,	i.[CustomerExternalID]
					,	i.[NomineeCustomerID]
					,	i.[AccountGUID]
					,	i.[CardGUID]
					,	i.[MaskedCardNumber]
					,	i.[RetailerGUID]
					,	i.[IronOfferID]
					,	i.[OfferGUID]
					,	i.[OfferDetailGUID]
					,	i.[MerchantID]
					,	i.[OIN]
					,	i.[MCC]
					,	i.[OfferRate]
					,	i.[CommissionRate]
					,	i.[TransactionDate]
					,	i.[TransactionClearingDate]
					,	i.[Cleared]
					,	i.[Price]
					,	i.[CashbackEarned]
					,	i.[NetAmount]
					,	i.[VatAmount]
					,	i.[GrossAmount]
					,	i.[VatRate]
					,	i.[CurrencyCode]
					,	i.[CardInputMode]
					,	i.[BinRange]
					,	i.[DPan]
					,	i.[AuthCode]
					,	i.[ARN]
					,	i.[MatchedDate]
					,	i.[CreatedAt]
					,	i.[UpdatedAt]
					,	i.[Version]
					,	i.[LoadDate]
					,	i.[FileName]
				INTO #Inbound
				FROM #Inbound_Temp i

				CREATE CLUSTERED INDEX [CIX_TransactionIDs] ON #Inbound ([TransactionGUID], [TransactionExternalID])

		/*******************************************************************************************************************************************
			4.	Roll up partial refunds to a single transaction
		*******************************************************************************************************************************************/

			/***************************************************************************************************************************************
				4.1.	Store the entries that are refunds
			***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Inbound_Refunds
				SELECT *
				INTO #Inbound_Refunds
				FROM #Inbound
				WHERE [TransactionTypeID] = 7

				CREATE CLUSTERED INDEX [CIX_TransactionExternalID] ON #Inbound_Refunds ([TransactionExternalID])

			/***************************************************************************************************************************************
				4.2.	Combine the positive and negative elements of the refund to net out and recalculate how much the customer actually spent
			***************************************************************************************************************************************/

				UPDATE i
				SET i.[Price] = i.[Price] + ir.[Price]
				,	i.[CashbackEarned] = i.[CashbackEarned] + ir.[CashbackEarned]
				,	i.[NetAmount] = i.[NetAmount] + ir.[NetAmount]
				,	i.[VatAmount] = i.[VatAmount] + ir.[VatAmount]
				,	i.[GrossAmount] = i.[GrossAmount] + ir.[GrossAmount]
				,	i.[TransactionTypeID] = ir.[TransactionTypeID_Original]
				FROM #Inbound i
				INNER JOIN #Inbound_Refunds ir
					ON i.[TransactionExternalID] = ir.[TransactionExternalID]
					AND i.[CustomerGUID] = ir.[CustomerGUID]
					AND i.[OfferGUID] = ir.[OfferGUID]
					AND i.[TransactionTypeID_Original] = 1

			/***************************************************************************************************************************************
				4.3.	Remove the positive element of the refund, leaving the negative element that has been recalculated
			***************************************************************************************************************************************/

				DELETE i
				FROM #Inbound i
				WHERE EXISTS (	SELECT 1
								FROM #Inbound i2
								INNER JOIN #Inbound_Refunds ir
									ON i2.[TransactionExternalID] = ir.[TransactionExternalID]
									AND i2.[CustomerGUID] = ir.[CustomerGUID]
									AND i2.[OfferGUID] = ir.[OfferGUID]
									AND i2.[TransactionTypeID_Original] = 1
									AND i.[ID] = ir.[ID])

		/*******************************************************************************************************************************************
			5.	Remove entries with invalid Customer External IDs
		*******************************************************************************************************************************************/

			DELETE i
			FROM #Inbound i
			WHERE LEN(i.[CustomerExternalID]) > 12

			INSERT INTO [WHB].[Inbound_MatchedTransactions_TranExtID]
			SELECT	i.[TransactionExternalID_Original]
				,	i.[TransactionExternalID]
			FROM #Inbound i
			WHERE NOT EXISTS (	SELECT 1
								FROM [WHB].[Inbound_MatchedTransactions_TranExtID] mt
								WHERE i.[TransactionExternalID_Original] = mt.[TransactionExternalID_Original])
			AND i.[TransactionExternalID_Original] IS NOT NULL

		/*******************************************************************************************************************************************
			6.	Store any new descriptions that have come through and then assign the Description ID linked to it
		*******************************************************************************************************************************************/

			INSERT INTO [Derived].[BankTrans_Description] ([Description])
			SELECT	DISTINCT
					mt.[Description]
			FROM #Inbound mt
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[BankTrans_Description] mtd
								WHERE mt.[Description] = mtd.[Description])

			UPDATE i
			SET i.[DescriptionID] = mtd.[DescriptionID]
			FROM #Inbound i
			INNER JOIN [Derived].[BankTrans_Description] mtd
				ON COALESCE(i.[Description], '') = mtd.[Description]

		/*******************************************************************************************************************************************
			7.	Store new transactions that have not been loaded previously
		*******************************************************************************************************************************************/

			/***************************************************************************************************************************************
				7.1.	Store fully new transactions
			***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Inbound_New
				SELECT	[ID] = CONVERT(INT, i.[ID])
					,	i.[Description]
					,	i.[DescriptionID]
					,	i.[TransactionGUID]
					,	i.[TransactionExternalID_Original]
					,	i.[TransactionExternalID]
					,	i.[TransactionTypeID]
					,	i.[CustomerGUID]
					,	i.[CustomerExternalID]
					,	i.[NomineeCustomerID]
					,	i.[AccountGUID]
					,	i.[CardGUID]
					,	i.[MaskedCardNumber]
					,	i.[RetailerGUID]
					,	i.[IronOfferID]
					,	i.[OfferGUID]
					,	i.[OfferDetailGUID]
					,	i.[MerchantID]
					,	i.[OIN]
					,	i.[MCC]
					,	i.[OfferRate]
					,	i.[CommissionRate]
					,	i.[TransactionDate]
					,	i.[TransactionClearingDate]
					,	i.[Cleared]
					,	i.[Price]
					,	i.[CashbackEarned]
					,	i.[NetAmount]
					,	i.[VatAmount]
					,	i.[GrossAmount]
					,	i.[VatRate]
					,	i.[CurrencyCode]
					,	i.[CardInputMode]
					,	i.[BinRange]
					,	i.[DPan]
					,	i.[AuthCode]
					,	i.[ARN]
					,	i.[MatchedDate]
					,	i.[CreatedAt]
					,	i.[UpdatedAt]
					,	i.[Version]
					,	i.[LoadDate]
					,	i.[FileName]
				INTO #Inbound_New
				FROM #Inbound i
				WHERE NOT EXISTS (	SELECT 1
									FROM [WHB].[Inbound_MatchedTransactions] mt
									WHERE i.[TransactionGUID] = mt.[TransactionGUID])

			/***************************************************************************************************************************************
				7.2.	Store new full refund transactions
			***************************************************************************************************************************************/

				/***********************************************************************************************************************************
					7.2.1.	Fetch transactions that have an existing GUID entry in the [WHB] table
				***********************************************************************************************************************************/
				
					DROP TABLE IF EXISTS #Inbound_MatchedTransactions
					SELECT	mt.[TransactionGUID]
						,	mt.[TransactionExternalID]
						,	mt.[TransactionTypeID]
						,	mt.[OfferGUID]
						,	mt.[Price]
						,	mt.[UpdatedAt]
					INTO #Inbound_MatchedTransactions
					FROM (	SELECT	mt.[TransactionGUID]
								,	mt.[TransactionExternalID]
								,	mt.[TransactionTypeID]
								,	mt.[OfferGUID]
								,	mt.[Price]
								,	mt.[UpdatedAt]
							FROM [WHB].[Inbound_MatchedTransactions] mt WITH (NOLOCK)
							WHERE EXISTS (	SELECT 1
											FROM #Inbound i
											WHERE i.[TransactionGUID] = mt.[TransactionGUID])) mt

					CREATE CLUSTERED INDEX [CIX_TransactionIDs] ON #Inbound_MatchedTransactions ([TransactionGUID], [TransactionExternalID])

				/***********************************************************************************************************************************
					7.2.2.	Store new transactions that are full [Price] inverse of an existing transaction and haven't been loaded previously
				***********************************************************************************************************************************/
			
					INSERT INTO #Inbound_New
					SELECT	i.[ID]
						,	i.[Description]
						,	i.[DescriptionID]
						,	i.[TransactionGUID]
						,	i.[TransactionExternalID_Original]
						,	i.[TransactionExternalID]
						,	i.[TransactionTypeID]
						,	i.[CustomerGUID]
						,	i.[CustomerExternalID]
						,	i.[NomineeCustomerID]
						,	i.[AccountGUID]
						,	i.[CardGUID]
						,	i.[MaskedCardNumber]
						,	i.[RetailerGUID]
						,	i.[IronOfferID]
						,	i.[OfferGUID]
						,	i.[OfferDetailGUID]
						,	i.[MerchantID]
						,	i.[OIN]
						,	i.[MCC]
						,	i.[OfferRate]
						,	i.[CommissionRate]
						,	i.[TransactionDate]
						,	i.[TransactionClearingDate]
						,	i.[Cleared]
						,	i.[Price]
						,	i.[CashbackEarned]
						,	i.[NetAmount]
						,	i.[VatAmount]
						,	i.[GrossAmount]
						,	i.[VatRate]
						,	i.[CurrencyCode]
						,	i.[CardInputMode]
						,	i.[BinRange]
						,	i.[DPan]
						,	i.[AuthCode]
						,	i.[ARN]
						,	i.[MatchedDate]
						,	i.[CreatedAt]
						,	i.[UpdatedAt]
						,	i.[Version]
						,	i.[LoadDate]
						,	i.[FileName]
					FROM (	SELECT *
							FROM #Inbound i
							WHERE i.[TransactionTypeID] = 7
							AND EXISTS (	SELECT 1
											FROM #Inbound_MatchedTransactions mt WITH (NOLOCK)
											WHERE i.[TransactionGUID] = mt.[TransactionGUID]
											AND mt.[TransactionTypeID] = 1
											AND i.[Price] != 0
											AND i.[Price] = mt.[Price] * -1)) i
					WHERE NOT EXISTS (	SELECT 1
										FROM #Inbound_MatchedTransactions mt WITH (NOLOCK)
										WHERE i.[TransactionExternalID] = mt.[TransactionExternalID]
										AND i.[OfferGUID] = mt.[OfferGUID]
										AND mt.[TransactionTypeID] = 7)

					CREATE CLUSTERED INDEX [CIX_MatchedTransactionID] ON #Inbound_New ([TransactionGUID], [TransactionExternalID])

		/*******************************************************************************************************************************************
			8.	Store existing transactions that have been updated
		*******************************************************************************************************************************************/
						
			DROP TABLE IF EXISTS #Inbound_Existing
			SELECT	[ID] = CONVERT(INT, i.[ID])
				,	i.[Description]
				,	i.[DescriptionID]
				,	i.[TransactionGUID]
				,	i.[TransactionExternalID_Original]
				,	i.[TransactionExternalID]
				,	i.[TransactionTypeID]
				,	i.[CustomerGUID]
				,	i.[CustomerExternalID]
				,	i.[NomineeCustomerID]
				,	i.[AccountGUID]
				,	i.[CardGUID]
				,	i.[MaskedCardNumber]
				,	i.[RetailerGUID]
				,	i.[IronOfferID]
				,	i.[OfferGUID]
				,	i.[OfferDetailGUID]
				,	i.[MerchantID]
				,	i.[OIN]
				,	i.[MCC]
				,	i.[OfferRate]
				,	i.[CommissionRate]
				,	i.[TransactionDate]
				,	i.[TransactionClearingDate]
				,	i.[Cleared]
				,	i.[Price]
				,	i.[CashbackEarned]
				,	i.[NetAmount]
				,	i.[VatAmount]
				,	i.[GrossAmount]
				,	i.[VatRate]
				,	i.[CurrencyCode]
				,	i.[CardInputMode]
				,	i.[BinRange]
				,	i.[DPan]
				,	i.[AuthCode]
				,	i.[ARN]
				,	i.[MatchedDate]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[Version]
				,	i.[LoadDate]
				,	i.[FileName]
			INTO #Inbound_Existing
			FROM #Inbound i
			WHERE EXISTS (	SELECT 1
							FROM #Inbound_MatchedTransactions mt WITH (NOLOCK)
							WHERE i.[TransactionGUID] = mt.[TransactionGUID]
							AND i.[TransactionExternalID] = mt.[TransactionExternalID]
							AND i.[UpdatedAt] > mt.[UpdatedAt])
						
			INSERT INTO #Inbound_Existing
			SELECT	i.[ID]
				,	i.[Description]
				,	i.[DescriptionID]
				,	i.[TransactionGUID]
				,	i.[TransactionExternalID_Original]
				,	i.[TransactionExternalID]
				,	i.[TransactionTypeID]
				,	i.[CustomerGUID]
				,	i.[CustomerExternalID]
				,	i.[NomineeCustomerID]
				,	i.[AccountGUID]
				,	i.[CardGUID]
				,	i.[MaskedCardNumber]
				,	i.[RetailerGUID]
				,	i.[IronOfferID]
				,	i.[OfferGUID]
				,	i.[OfferDetailGUID]
				,	i.[MerchantID]
				,	i.[OIN]
				,	i.[MCC]
				,	i.[OfferRate]
				,	i.[CommissionRate]
				,	i.[TransactionDate]
				,	i.[TransactionClearingDate]
				,	i.[Cleared]
				,	i.[Price]
				,	i.[CashbackEarned]
				,	i.[NetAmount]
				,	i.[VatAmount]
				,	i.[GrossAmount]
				,	i.[VatRate]
				,	i.[CurrencyCode]
				,	i.[CardInputMode]
				,	i.[BinRange]
				,	i.[DPan]
				,	i.[AuthCode]
				,	i.[ARN]
				,	i.[MatchedDate]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[Version]
				,	i.[LoadDate]
				,	i.[FileName]
			FROM #Inbound i
			WHERE EXISTS (	SELECT 1
							FROM #Inbound_MatchedTransactions mt WITH (NOLOCK)
							WHERE i.[TransactionGUID] = mt.[TransactionGUID]
							AND i.[TransactionExternalID] IS NULL
							AND mt.[TransactionExternalID] IS NULL
							AND i.[UpdatedAt] > mt.[UpdatedAt])

			CREATE CLUSTERED INDEX [CIX_MatchedTransactionID] ON #Inbound_Existing ([TransactionGUID], [TransactionExternalID])

		/*******************************************************************************************************************************************
			9.	Insert new data to [WHB]
		*******************************************************************************************************************************************/

			INSERT INTO [WHB].[Inbound_MatchedTransactions] (	[InboundID]
															,	[DescriptionID]
															,	[TransactionGUID]
															,	[TransactionExternalID]
															,	[TransactionTypeID]
															,	[CustomerGUID]
															,	[CustomerExternalID]
															,	[NomineeCustomerID]
															,	[AccountGUID]
															,	[CardGUID]
															,	[MaskedCardNumber]
															,	[RetailerGUID]
															,	[IronOfferID]
															,	[OfferGUID]
															,	[OfferDetailGUID]
															,	[MerchantID]
															,	[OIN]
															,	[MCC]
															,	[OfferRate]
															,	[CommissionRate]
															,	[TransactionDate]
															,	[TransactionClearingDate]
															,	[Cleared]
															,	[Price]
															,	[CashbackEarned]
															,	[NetAmount]
															,	[VatAmount]
															,	[GrossAmount]
															,	[VatRate]
															,	[CurrencyCode]
															,	[CardInputMode]
															,	[BinRange]
															,	[DPan]
															,	[AuthCode]
															,	[ARN]
															,	[MatchedDate]
															,	[CreatedAt]
															,	[UpdatedAt]
															,	[Version]
															,	[LoadDate]
															,	[FileName])
			SELECT	i.[ID]
				,	i.[DescriptionID]
				,	i.[TransactionGUID]
				,	i.[TransactionExternalID]
				,	i.[TransactionTypeID]
				,	i.[CustomerGUID]
				,	i.[CustomerExternalID]
				,	i.[NomineeCustomerID]
				,	i.[AccountGUID]
				,	i.[CardGUID]
				,	i.[MaskedCardNumber]
				,	i.[RetailerGUID]
				,	i.[IronOfferID]
				,	i.[OfferGUID]
				,	i.[OfferDetailGUID]
				,	i.[MerchantID]
				,	i.[OIN]
				,	i.[MCC]
				,	i.[OfferRate]
				,	i.[CommissionRate]
				,	i.[TransactionDate]
				,	i.[TransactionClearingDate]
				,	i.[Cleared]
				,	i.[Price]
				,	i.[CashbackEarned]
				,	i.[NetAmount]
				,	i.[VatAmount]
				,	i.[GrossAmount]
				,	i.[VatRate]
				,	i.[CurrencyCode]
				,	i.[CardInputMode]
				,	i.[BinRange]
				,	i.[DPan]
				,	i.[AuthCode]
				,	i.[ARN]
				,	i.[MatchedDate]
				,	i.[CreatedAt]
				,	i.[UpdatedAt]
				,	i.[Version]
				,	i.[LoadDate]
				,	i.[FileName]
			FROM #Inbound_New i

		/*******************************************************************************************************************************************
			10.	Insert new data to [WHB]
		*******************************************************************************************************************************************/

			/*******************************************************************************************************************************************
				10.1.	Where [TransactionExternalID] is not null
			*******************************************************************************************************************************************/
		
				MERGE [WHB].[Inbound_MatchedTransactions] target						-- Destination table
				USING (	SELECT *														-- Source table
						FROM #Inbound_Existing											-- Source table
						WHERE [TransactionExternalID] IS NOT NULL) source				-- Source table
				ON target.[TransactionGUID] = source.[TransactionGUID]					-- Match criteria
				AND target.[TransactionExternalID] = source.[TransactionExternalID]		-- Match criteria
			
				WHEN MATCHED AND target.[UpdatedAt] < source.[UpdatedAt]				-- If matched, update to new value
				THEN
					UPDATE SET	target.[InboundID] = source.[ID]
							,	target.[DescriptionID] = source.[DescriptionID]
							,	target.[TransactionTypeID] = source.[TransactionTypeID]
							,	target.[CustomerGUID] = source.[CustomerGUID]
							,	target.[CustomerExternalID] = source.[CustomerExternalID]
							,	target.[NomineeCustomerID] = source.[NomineeCustomerID]
							,	target.[AccountGUID] = source.[AccountGUID]
							,	target.[CardGUID] = source.[CardGUID]
							,	target.[MaskedCardNumber] = source.[MaskedCardNumber]
							,	target.[RetailerGUID] = source.[RetailerGUID]
							,	target.[IronOfferID] = source.[IronOfferID]
							,	target.[OfferGUID] = source.[OfferGUID]
							,	target.[OfferDetailGUID] = source.[OfferDetailGUID]
							,	target.[MerchantID] = source.[MerchantID]
							,	target.[OIN] = source.[OIN]
							,	target.[MCC] = source.[MCC]
							,	target.[OfferRate] = source.[OfferRate]
							,	target.[CommissionRate] = source.[CommissionRate]
							,	target.[TransactionDate] = source.[TransactionDate]
							,	target.[TransactionClearingDate] = source.[TransactionClearingDate]
							,	target.[Cleared] = source.[Cleared]
							,	target.[Price] = source.[Price]
							,	target.[CashbackEarned] = source.[CashbackEarned]
							,	target.[NetAmount] = source.[NetAmount]
							,	target.[VatAmount] = source.[VatAmount]
							,	target.[GrossAmount] = source.[GrossAmount]
							,	target.[VatRate] = source.[VatRate]
							,	target.[CurrencyCode] = source.[CurrencyCode]
							,	target.[CardInputMode] = source.[CardInputMode]
							,	target.[BinRange] = source.[BinRange]
							,	target.[DPan] = source.[DPan]
							,	target.[AuthCode] = source.[AuthCode]
							,	target.[ARN] = source.[ARN]
							,	target.[MatchedDate] = source.[MatchedDate]
							,	target.[CreatedAt] = source.[CreatedAt]
							,	target.[UpdatedAt] = source.[UpdatedAt]
							,	target.[Version] = source.[Version]
							,	target.[LoadDate] = source.[LoadDate]
							,	target.[FileName] = source.[FileName];

			/*******************************************************************************************************************************************
				10.2.	Where [TransactionExternalID] is null
			*******************************************************************************************************************************************/
		
				MERGE [WHB].[Inbound_MatchedTransactions] target						-- Destination table
				USING (	SELECT *														-- Source table
						FROM #Inbound_Existing											-- Source table
						WHERE [TransactionExternalID] IS NULL) source					-- Source table
				ON target.[TransactionGUID] = source.[TransactionGUID]					-- Match criteria
			
				WHEN MATCHED AND target.[UpdatedAt] < source.[UpdatedAt]				-- If matched, update to new value
				THEN
					UPDATE SET	target.[InboundID] = source.[ID]
							,	target.[DescriptionID] = source.[DescriptionID]
							,	target.[TransactionTypeID] = source.[TransactionTypeID]
							,	target.[CustomerGUID] = source.[CustomerGUID]
							,	target.[CustomerExternalID] = source.[CustomerExternalID]
							,	target.[NomineeCustomerID] = source.[NomineeCustomerID]
							,	target.[AccountGUID] = source.[AccountGUID]
							,	target.[CardGUID] = source.[CardGUID]
							,	target.[MaskedCardNumber] = source.[MaskedCardNumber]
							,	target.[RetailerGUID] = source.[RetailerGUID]
							,	target.[IronOfferID] = source.[IronOfferID]
							,	target.[OfferGUID] = source.[OfferGUID]
							,	target.[OfferDetailGUID] = source.[OfferDetailGUID]
							,	target.[MerchantID] = source.[MerchantID]
							,	target.[OIN] = source.[OIN]
							,	target.[MCC] = source.[MCC]
							,	target.[OfferRate] = source.[OfferRate]
							,	target.[CommissionRate] = source.[CommissionRate]
							,	target.[TransactionDate] = source.[TransactionDate]
							,	target.[TransactionClearingDate] = source.[TransactionClearingDate]
							,	target.[Cleared] = source.[Cleared]
							,	target.[Price] = source.[Price]
							,	target.[CashbackEarned] = source.[CashbackEarned]
							,	target.[NetAmount] = source.[NetAmount]
							,	target.[VatAmount] = source.[VatAmount]
							,	target.[GrossAmount] = source.[GrossAmount]
							,	target.[VatRate] = source.[VatRate]
							,	target.[CurrencyCode] = source.[CurrencyCode]
							,	target.[CardInputMode] = source.[CardInputMode]
							,	target.[BinRange] = source.[BinRange]
							,	target.[DPan] = source.[DPan]
							,	target.[AuthCode] = source.[AuthCode]
							,	target.[ARN] = source.[ARN]
							,	target.[MatchedDate] = source.[MatchedDate]
							,	target.[CreatedAt] = source.[CreatedAt]
							,	target.[UpdatedAt] = source.[UpdatedAt]
							,	target.[Version] = source.[Version]
							,	target.[LoadDate] = source.[LoadDate]
							,	target.[FileName] = source.[FileName];

		/*******************************************************************************************************************************************
			11.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'MatchedTransactionTypes' AND [FileProcessed] = 0) > 0

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
