USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Customer_EmailChange]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Customer_EmailChange] @RunDate DATE = NULL

AS
BEGIN

	SET @RunDate = COALESCE(@RunDate, GETDATE())

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	DECLARE @msg VARCHAR(200), @RowsAffected INT;


	EXEC [Monitor].[ProcessLog_Insert] 'Customer_EmailChange', 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1. This pulls through the address data for anyone that has had their email changed since last run
		*******************************************************************************************************************************************/

			IF OBJECT_ID('tempdb..#EmailAddressChanges') IS NOT NULL DROP TABLE #EmailAddressChanges
			SELECT	[CustomerGUID] = cus.[CustomerGUID]
				,	[FanID] = cus.[FanID]
				,	[Email] = cup.[Email]
			INTO #EmailAddressChanges
			FROM [WHB].[Customer] cus
			INNER JOIN [Derived].[Customer_PII] cup
				ON cus.[FanID] = cup.[FanID]
			WHERE COALESCE(cus.[Email], '') != COALESCE(cup.[Email], '')

			CREATE CLUSTERED INDEX CIX_GUID ON #EmailAddressChanges ([CustomerGUID])

		/*******************************************************************************************************************************************
			2. Insert this data to permanent table
		*******************************************************************************************************************************************/

		--	DECLARE @RunDate DATE = '2022-02-09'

			INSERT INTO [Derived].[Customer_EmailAddressChanges] (	[FanID]
																,	[CustomerGUID]
																,	[OriginalCustomerGUID]
																,	[Email]
																,	[DateChanged])

			SELECT	[FanID] = eac.[FanID]
				,	[CustomerGUID] = eac.[CustomerGUID]
				,	[OriginalCustomerGUID] = eac.[CustomerGUID]
				,	[Email] = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', [Email]), 2)
				,	[DateChanged] = @RunDate
			FROM #EmailAddressChanges eac
			WHERE NOT EXISTS (	SELECT 1
								FROM [Derived].[Customer_EmailAddressChanges] ceac
								WHERE eac.[CustomerGUID] = ceac.[CustomerGUID]
								AND ceac.DateChanged = @RunDate)
	
			EXEC [Monitor].[ProcessLog_Insert] 'Customer_EmailChange', 'Finished'

			RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] (ErrorDate, ProcedureName, ErrorLine, ErrorMessage, ErrorNumber, ErrorSeverity, ErrorState)
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END







GO
