USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_CustomerPush_BalanceHistory_Refresh]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_CustomerPush_BalanceHistory_Refresh]
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	/*  -- 1,699,430,000 rows
	--DROP INDEX [IX_GUIDEnd_Start] ON [Derived].[Customer_CashbackBalances];
	CREATE NONCLUSTERED INDEX [IX_GUIDEnd_Start_new] ON [Derived].[Customer_CashbackBalances]
		(CustomerGUID ASC, StartDate)
		INCLUDE(CashbackAvailable, CashbackPending, CashbackLTV, EndDate) 
		WITH (FILLFACTOR = 70, DATA_COMPRESSION=PAGE) 
		ON [WH_NWG_indexes];

		-- 1,701,860,000
	*/


	TRUNCATE TABLE [WHB].[Braze_CustomerPush_BalanceHistory];
	INSERT INTO [WHB].[Braze_CustomerPush_BalanceHistory] WITH (TABLOCKX)
		([CustomerGUID], [CashbackAvailable], [CashbackPending], [CashbackLTV], [Date])
	SELECT 
		bclc.[CustomerGUID],
		cb.[CashbackAvailable],
		cb.[CashbackPending],
		cb.[CashbackLTV],
		--cb.[StartDate],
		cb.[EndDate]
	FROM [WHB].[BrazeCustomers_LoadController] bclc
	INNER JOIN [WHB].[Braze_CustomerPush] cp
		ON bclc.[CustomerGUID] = cp.[id]
	CROSS APPLY (
		SELECT TOP(5)	
			cb.[CashbackAvailable],
			cb.[CashbackPending],
			cb.[CashbackLTV],
			cb.[StartDate],
			cb.[EndDate]
		FROM [Derived].[Customer_CashbackBalances] cb -- 1,699,430,000
		WHERE cb.[CustomerGUID] = bclc.[CustomerGUID]
			AND cb.[EndDate] IS NOT NULL
		ORDER BY cb.[StartDate] DESC
	) cb
	ORDER BY bclc.[CustomerGUID];
	-- (4,672,888 rows affected) / 00:13:15
	-- (4,672,888 rows affected) / 00:00:35
				
END



RETURN 0


GO
