USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Inbound_CardCustomerMapping_Update]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [WHB].[Inbound_CardCustomerMapping_Update] @FileNameDate DATE

AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

		/*******************************************************************************************************************************************
			1.	If there is an unprocessed file then set all following files as unprocessed
		*******************************************************************************************************************************************/

			UPDATE [Inbound].[CardCustomerMapping]
			SET [AccountNumber] = RIGHT('********' + RIGHT([AccountNumber], 3), 8)
			WHERE [AccountNumber] NOT LIKE '%*%'

			DROP TABLE IF EXISTS #Inbound_Files
			SELECT	[ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
				,	[FileProcessed]
			INTO #Inbound_Files
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'CardCustomerMapping'

			DECLARE @MinFileNameDate DATE

			SELECT	@MinFileNameDate = MIN([FileNameDate])
			FROM #Inbound_Files
			WHERE [FileProcessed] = 0

			UPDATE f
			SET f.[FileProcessed] = 0
			FROM #Inbound_Files ift
			INNER JOIN [WHB].[Inbound_Files] f
				ON ift.[ID] = f.[ID]
			WHERE ift.[FileNameDate] >= @MinFileNameDate

	WHILE (	SELECT COUNT(*)
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'CardCustomerMapping'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate) > 0
		BEGIN

		/*******************************************************************************************************************************************
			2.	Fetch files that haven't been processed
		*******************************************************************************************************************************************/

		--	DECLARE @FileNameDate DATE = DATEADD(WEEK, -0, GETDATE())

			DROP TABLE IF EXISTS #FilesToProcess
			SELECT	TOP 1
					[FileID] = [ID]
				,	[FileName]
				,	[FileNameDate]
				,	[LoadDate]
			INTO #FilesToProcess
			FROM [WHB].[Inbound_Files] f
			WHERE [TableName] = 'CardCustomerMapping'
			AND [FileProcessed] = 0
			AND [FileNameDate] <= @FileNameDate
			ORDER BY	[FileNameDate]
					,	[ID]

			CREATE CLUSTERED INDEX [CIX_All] ON #FilesToProcess ([LoadDate], [FileName])
			
		/*******************************************************************************************************************************************
			3.	Fetch latest file to be processed
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #Inbound
			SELECT	[ID] = MAX(i.[ID])
				,	i.[BankID]
				,	[PublisherID] = CASE
										WHEN i.[BankID] = '0365' THEN 138
										WHEN i.[BankID] = '0278' THEN 132
									END
				,	i.[CardGUID]
				,	i.[ExternalCustomerID]
				,	i.[CardStatusID]
				,	[AccountNumber] = MAX(i.[AccountNumber])
				,	i.[SortCode]
				,	i.[BinRange]
				,	i.[PanLastFour]
				,	[LoadDate] = MAX(i.[LoadDate])
				,	[FileName] = MAX(i.[FileName])
			INTO #Inbound
			FROM [Inbound].[CardCustomerMapping] i
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE i.[FileName] = ftp.[FileName]
							AND i.[LoadDate] = ftp.[LoadDate])
			GROUP BY	i.[BankID]
					,	i.[CardGUID]
					,	i.[ExternalCustomerID]
					,	i.[CardStatusID]
					,	i.[SortCode]
					,	i.[BinRange]
					,	i.[PanLastFour]

			CREATE CLUSTERED INDEX [CIX_All] ON #Inbound ([CardGUID])

			;WITH
			DELETER AS (SELECT	*
							,	[RN] = ROW_NUMBER() OVER (PARTITION BY i.[CardGUID] ORDER BY i.[ExternalCustomerID] DESC)
						FROM #Inbound i
						WHERE i.[SortCode] = '000000'
						AND i.[BinRange] = '000000'
						AND i.[PanLastFour] = '0000')

			DELETE
			FROM DELETER
			WHERE [RN] > 1

			;WITH
			DELETER2 AS (SELECT	*
							,	[RN] = ROW_NUMBER() OVER (PARTITION BY i.[CardGUID] ORDER BY i.[ExternalCustomerID] DESC)
						FROM #Inbound i)

			DELETE
			FROM DELETER2
			WHERE [RN] > 1

		/*******************************************************************************************************************************************
			4.	Use the latest Balance file to update the WHB version of the table
		*******************************************************************************************************************************************/
		
			MERGE [WHB].[Inbound_CardCustomerMapping] target											-- Destination table
			USING #Inbound source														-- Source table
			ON target.[CardGUID] = source.[CardGUID]									-- Match criteria

			WHEN MATCHED THEN															-- If matched, update to new value
				UPDATE SET	target.[InboundID] = source.[ID]
						,	target.[BankID] = source.[BankID]
						,	target.[PublisherID] = source.[PublisherID]
						,	target.[CardGUID] = source.[CardGUID]
						,	target.[ExternalCustomerID] = source.[ExternalCustomerID]
						,	target.[CardStatusID] = source.[CardStatusID]
						,	target.[AccountNumber] = source.[AccountNumber]
						,	target.[SortCode] = source.[SortCode]
						,	target.[BinRange] = source.[BinRange]
						,	target.[PanLastFour] = source.[PanLastFour]
						,	target.[LoadDate] = source.[LoadDate]
						,	target.[FileName] = source.[FileName]


			WHEN NOT MATCHED THEN															-- If not matched, add new rows
				INSERT ([InboundID]
					,	[BankID]
					,	[PublisherID]
					,	[CardGUID]
					,	[ExternalCustomerID]
					,	[CardStatusID]
					,	[AccountNumber]
					,	[SortCode]
					,	[BinRange]
					,	[PanLastFour]
					,	[LoadDate]
					,	[FileName])
				VALUES (source.[ID]
					,	source.[BankID]
					,	source.[PublisherID]
					,	source.[CardGUID]
					,	source.[ExternalCustomerID]
					,	source.[CardStatusID]
					,	source.[AccountNumber]
					,	source.[SortCode]
					,	source.[BinRange]
					,	source.[PanLastFour]
					,	source.[LoadDate]
					,	source.[FileName]);

		/*******************************************************************************************************************************************
			5.	Mark the file as Processed
		*******************************************************************************************************************************************/

			UPDATE f
			SET [FileProcessed] = 1
			FROM [WHB].[Inbound_Files] f
			WHERE EXISTS (	SELECT 1
							FROM #FilesToProcess ftp
							WHERE f.ID = ftp.[FileID]
							AND f.[LoadDate] = ftp.[LoadDate])

		END	--	WHILE (SELECT COUNT(*) FROM [WHB].[Inbound_Files] f WHERE TableName = 'CardCustomerMapping' AND [FileProcessed] = 0) > 0

		/*******************************************************************************************************************************************
			6.	Load new Card GUIDs
		*******************************************************************************************************************************************/

			INSERT INTO [WH_AllPublishers].[Derived].[CardGUIDs]
			SELECT	DISTINCT
					cei.[CustomerGUID]
				,	ic.[CardGUID]
			FROM [WHB].[Inbound_CardCustomerMapping] ic
			INNER JOIN [WHB].[Inbound_CustomerExternalIDs] cei
				ON ic.[ExternalCustomerID] = cei.[ExternalID]
			WHERE NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Derived].[CardGUIDs] cg
								WHERE ic.[CardGUID] = cg.[CardGUID]
								AND cei.[CustomerGUID] = cg.[CustomerGUID])
			AND ic.[CardGUID] IS NOT NULL
			AND cei.[CustomerGUID] IS NOT NULL

		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'
		
		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
		SELECT  
			@ERROR_NUMBER = ERROR_NUMBER(), 
			@ERROR_SEVERITY = ERROR_SEVERITY(), 
			@ERROR_STATE = ERROR_STATE(), 
			@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
			@ERROR_LINE = ERROR_LINE(),   
			@ERROR_MESSAGE = ERROR_MESSAGE();
		SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
		INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
		VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
		SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
		RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END





GO
