USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[CRM_TargetingHistory_Trigger_Insert]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[CRM_TargetingHistory_Trigger_Insert]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	/*******************************************************************************************************************************************
			1.		Find most recent Email Send Date & associated SendIDs
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
				1.1.		Add entry if it doesn't already exist
		*******************************************************************************************************************************************/

			INSERT INTO [WH_AllPublishers].[Email].[EmailSend]
			SELECT	DISTINCT
					[Scheme] = 'MyRewards'
				,	[EmailType] = 'Trigger - Redemption Reminder'
				,	[EmailSendDate] = ec.[SendDate]
				,	[CreatedAt] = GETDATE()
				,	[CreatedBy] = SYSTEM_USER
				,	[TotalMembers] = NULL
			FROM [Derived].[EmailCampaign] ec
			WHERE ec.[CampaignName] LIKE '%RedemptionReminderMilestone%'
			AND ec.[SendDate] >= DATEADD(WEEK, -2, GETDATE())
			AND EXISTS (	SELECT 1
							FROM [Derived].[EmailEvent] ee
							WHERE ec.[CampaignKey] = ee.[CampaignKey])
			AND NOT EXISTS (	SELECT 1
								FROM [WH_AllPublishers].[Email].[EmailSend] es
								WHERE es.[Scheme] = 'MyRewards'
								AND es.[EmailType] = 'Trigger - Redemption Reminder'
								AND es.[EmailSendDate] = ec.[SendDate])

		/*******************************************************************************************************************************************
				1.2.		Fetch details of entry
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #EmailSendID
			SELECT	DISTINCT
					[EmailSendID] = [ID]
				,	[EmailSendDate]
				,	[EmailType]
				,	[EmailTypeID] = 2
				,	[CommChannelID] = 1
				,	[Variant] = 1
			INTO #EmailSendID
			FROM [WH_AllPublishers].[Email].[EmailSend] es
			WHERE [Scheme] = 'MyRewards'
			AND [EmailType] LIKE 'Trigger - Redemption Reminder'
			AND NOT EXISTS (SELECT 1
							FROM [CRM].[TargetingHistory] th
							WHERE es.[ID] = th.[SendID])

			CREATE CLUSTERED INDEX [CIX_EmailSendID] ON #EmailSendID ([EmailSendID])
			CREATE NONCLUSTERED INDEX [IX_EmailSendDate] ON #EmailSendID ([EmailSendDate])

	/*******************************************************************************************************************************************
			2.		Load data if required
	*******************************************************************************************************************************************/

		IF EXISTS (	SELECT 1
					FROM #EmailSendID)

			BEGIN

		/***************************************************************************************************************************************
			2.1.	Fetch targeted customers
		***************************************************************************************************************************************/

			/***************************************************************************************************************************************
				2.1.1.	Fetch the list of customers assigned from DIMAIN2 to receive the trigger
			***************************************************************************************************************************************/
				
				DROP TABLE IF EXISTS #Trigger_RedemptionReminderCustomers
				SELECT	[EmailSendDate] = rrc.[Date]
					,	rrc.[FanID]
					,	rrc.[CustomerGUID]
				INTO #Trigger_RedemptionReminderCustomers
				FROM [Email].[Trigger_RedemptionReminderCustomers] rrc
				WHERE EXISTS (	SELECT 1
								FROM #EmailSendID es
								WHERE rrc.[Date] = es.[EmailSendDate])

				CREATE CLUSTERED INDEX [CIX_FanDate] ON #Trigger_RedemptionReminderCustomers ([FanID], [EmailSendDate])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch Customers Assigned'

			/***************************************************************************************************************************************
				2.1.2.	Fetch email events from the delivery
			***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #EmailCampaign
				SELECT	DISTINCT
						ec.[CampaignKey]
					,	ec.[CampaignName]
					,	ec.[SendDate]
					,	es.[EmailSendID]
				INTO #EmailCampaign
				FROM [Derived].[EmailCampaign] ec
				INNER JOIN #EmailSendID es
					ON ec.[SendDate] = es.[EmailSendDate]
				WHERE ec.[CampaignName] LIKE '%milestone%'

				CREATE CLUSTERED INDEX [CIX_KeyDate] ON #EmailCampaign ([CampaignKey], [SendDate])
			
				DECLARE @Date_EE DATE

				SELECT @Date_EE = MIN([EmailSendDate])
				FROM #EmailSendID

				DROP TABLE IF EXISTS #Trigger_RedemptionReminderCustomers_Sent
				SELECT	DISTINCT
						ee.[CustomerGUID]
					,	ec.[SendDate]
					,	ec.[EmailSendID]
				INTO #Trigger_RedemptionReminderCustomers_Sent
				FROM [Derived].[EmailEvent] ee
				INNER JOIN #EmailCampaign ec
					ON ee.[CampaignKey] = ec.[CampaignKey]
				WHERE EXISTS (	SELECT 1
								FROM #Trigger_RedemptionReminderCustomers rrc
								WHERE ee.[FanID] = rrc.[FanID]
								AND ec.[SendDate] = rrc.[EmailSendDate])
				AND ee.[EmailEventCodeID] = 910
				AND ee.[EventDate] >= @Date_EE

				CREATE CLUSTERED INDEX [CIX_IDCompo] ON #Trigger_RedemptionReminderCustomers_Sent ([EmailSendID], [CustomerGUID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch Customers Emailed'

			/***************************************************************************************************************************************
				2.1.3.	Combine Earn & Burn and Enrich with email data
			***************************************************************************************************************************************/
				
				DROP TABLE IF EXISTS #Offers
				SELECT	es.[EmailSendID]
					,	es.[EmailType]
					,	[PublisherID] = cu.[ClubID]
					,	[CustomerSegment] = cu.[AccountType]
					,	cu.[CustomerGUID]
					,	cu.[FanID]
					,	cu.[CompositeID]
					,	cl.[CINID]
					,	[Earn_OfferID_Hero] = NULL
					,	[Earn_OfferID_1] = NULL
					,	[Earn_OfferID_2] = NULL
					,	[Earn_OfferID_3] = NULL
					,	[Earn_OfferID_4] = NULL
					,	[Earn_OfferID_5] = NULL
					,	[Earn_OfferID_6] = NULL
					,	[Burn_OfferID_Hero] = NULL
					,	[Burn_OfferID_1] = NULL
					,	[Burn_OfferID_2] = NULL
					,	[Burn_OfferID_3] = NULL
					,	[Burn_OfferID_4] = NULL
					,	es.[EmailSendDate]
					,	es.[EmailTypeID]
					,	es.[CommChannelID]
					,	es.[Variant]
				INTO #Offers
				FROM #Trigger_RedemptionReminderCustomers_Sent rrc
				INNER JOIN #EmailSendID es
					ON rrc.[EmailSendID] = es.[EmailSendID]
				INNER JOIN [Derived].[Customer] cu
					ON rrc.[CustomerGUID] = cu.[CustomerGUID]
				LEFT JOIN [Derived].[CINList] cl
					ON cu.[SourceUID] = cl.[CIN]
					AND NOT EXISTS (SELECT 1
									FROM [Derived].[Customer_DuplicateSourceUID] ds
									WHERE cl.[CIN] = ds.[SourceUID])

				CREATE CLUSTERED INDEX [CIX_CustomerGUIDEmailSendDate] ON #Offers ([CustomerGUID], [EmailSendDate])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Enrich with email data'

		/***************************************************************************************************************************************
			2.2.	Fetch customers marketing status at the time of send
		***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Marketable
				SELECT	mbe.[CustomerGUID]
					,	mbe.[MarketableByEmail]
					,	mbe.[EmailTracking]
					,	o.[EmailSendID]
				INTO #Marketable
				FROM [Derived].[Customer_MarketableByEmailStatus] mbe
				INNER JOIN #Offers o
					ON mbe.[CustomerGUID] = o.[CustomerGUID]
					AND o.[EmailSendDate] BETWEEN mbe.[StartDate] AND COALESCE(mbe.[EndDate], '9999-12-31')

				CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Marketable ([CustomerGUID], [EmailSendID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch customers marketing status'

		/***************************************************************************************************************************************
			2.3.	Fetch customers balance at the time of send
		***************************************************************************************************************************************/

				DROP TABLE IF EXISTS #Balances
				SELECT	cb.[CustomerGUID]
					,	cb.[CashbackAvailable]
					,	o.[EmailSendID]
				INTO #Balances
				FROM [Derived].[Customer_CashbackBalances] cb
				INNER JOIN #Offers o
					ON cb.[CustomerGUID] = o.[CustomerGUID]
					AND o.[EmailSendDate] BETWEEN cb.[StartDate] AND COALESCE(cb.[EndDate], '9999-12-31')

				CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Balances ([CustomerGUID], [EmailSendID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch customers balance'

		/***************************************************************************************************************************************
			2.5.	Insert to final table
		***************************************************************************************************************************************/

				INSERT INTO [CRM].[TargetingHistory] (	[FanID]
													,	[CustomerGUID]
													,	[CompositeID]
													,	[CINID]
													,	[ClubID]
													,	[CustomerSegment]
													,	[SendDate]
													,	[ReportingWindowClose]
													,	[CycleStartDate]
													,	[Marketability]
													,	[EmailTracking]
													,	[CashbackAvailable]
													,	[SendID]
													,	[SendTypeID]
													,	[CommChannelID]
													,	[Variant]
													,	[ControlFlag]
													,	[Earn_OfferID_1]
													,	[Earn_OfferID_2]
													,	[Earn_OfferID_3]
													,	[Earn_OfferID_4]
													,	[Earn_OfferID_5]
													,	[Earn_OfferID_6]
													,	[Earn_OfferID_7]
													,	[Burn_OfferID_1]
													,	[Burn_OfferID_2]
													,	[Burn_OfferID_3]
													,	[Burn_OfferID_4]
													,	[Burn_OfferID_5]
													,	[AddedDate])
				SELECT	o.[FanID]
					,	o.[CustomerGUID]
					,	o.[CompositeID]
					,	o.[CINID]
					,	o.[PublisherID]
					,	o.[CustomerSegment]
					,	o.[EmailSendDate]
					,	[ReportingWindowClose] = DATEADD(DAY, 13, o.[EmailSendDate])
					,	[CycleStartDate] = hcd.[StartDate]
					,	[Marketablility] = m.[MarketableByEmail]
					,	[EmailTracking] = m.[EmailTracking]
					,	b.[CashbackAvailable]
					,	o.[EmailSendID]
					,	o.[EmailTypeID]
					,	o.[CommChannelID]
					,	o.[Variant]
					,	[FallowFlag] = 0
					,	o.[Earn_OfferID_Hero]
					,	o.[Earn_OfferID_1]
					,	o.[Earn_OfferID_2]
					,	o.[Earn_OfferID_3]
					,	o.[Earn_OfferID_4]
					,	o.[Earn_OfferID_5]
					,	o.[Earn_OfferID_6]
					,	o.[Burn_OfferID_Hero]
					,	o.[Burn_OfferID_1]
					,	o.[Burn_OfferID_2]
					,	o.[Burn_OfferID_3]
					,	o.[Burn_OfferID_4]
					,	[AddedDate] = GETDATE()
				FROM #Offers o
				LEFT JOIN #Marketable m
					ON o.[EmailSendID] = m.[EmailSendID]
					AND o.[CustomerGUID] = m.[CustomerGUID]
				LEFT JOIN #Balances b
					ON o.[EmailSendID] = b.[EmailSendID]
					AND o.[CustomerGUID] = b.[CustomerGUID]
				LEFT JOIN [WH_AllPublishers].[Derived].[HalfCycleDates] hcd
					ON o.[EmailSendDate] BETWEEN hcd.[StartDate] AND hcd.[EndDate]
				WHERE NOT EXISTS (	SELECT 1
									FROM [CRM].[TargetingHistory] th
									WHERE o.[FanID] = th.[FanID]
									AND o.[EmailSendDate] = th.[SendDate]
									AND o.[EmailSendID] = th.[SendID]
									AND o.[EmailTypeID] = th.[SendTypeID])
												
				EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Insert to final table'

			END	--	SELECT 1 FROM [CRM].[TargetingHistory] th WHERE EXISTS (	SELECT 1 FROM #EmailSendID es WHERE th.[SendID] = es.[EmailSendID])
		
			EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
