USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[CRM_ResultsHistory_Insert]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[CRM_ResultsHistory_Insert]
AS
BEGIN

	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @ERROR_NUMBER INT, @ERROR_SEVERITY INT, @ERROR_STATE INT, @ERROR_PROCEDURE VARCHAR(100), @ERROR_LINE INT, @ERROR_MESSAGE VARCHAR(200);
	
	DECLARE @StoredProcedureName VARCHAR(100) = OBJECT_NAME(@@PROCID)
		,	@msg VARCHAR(200)
		,	@RowsAffected INT
		,	@Query VARCHAR(MAX)

	EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Started'

	BEGIN TRY

	/*******************************************************************************************************************************************
			1.		Find most recent Email Sends to be reported on
	*******************************************************************************************************************************************/
	
		DECLARE	@Today DATE = GETDATE()
			,	@ResultsDelay_Days INT = 3

		DECLARE @ResultsDelay_Date DATE = DATEADD(DAY, @ResultsDelay_Days, @Today)

		DROP TABLE IF EXISTS #SendIDs
		SELECT	DISTINCT
				[SendID]
			,	[SendDate]
			,	[ReportingWindowClose]
		INTO #SendIDs
		FROM [CRM].[TargetingHistory] th
		WHERE @ResultsDelay_Date <= th.[ReportingWindowClose]

		CREATE CLUSTERED INDEX [CIX_SendID] ON #SendIDs ([SendID])
				
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Find most recent Email Sends'

	/*******************************************************************************************************************************************
			2.		Fetch all targeted customers
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #TargetingHistory
		SELECT	[SendID]
			,	[SendDate]
			,	[ReportingWindowClose]
			,	[ClubID]
			,	[CustomerGUID]
			,	[FanID]
			,	[ControlFlag]
			,	[Earn_OfferID_1]
			,	[Earn_OfferID_2]
			,	[Earn_OfferID_3]
			,	[Earn_OfferID_4]
			,	[Earn_OfferID_5]
			,	[Earn_OfferID_6]
			,	[Earn_OfferID_7]
			,	[Burn_OfferID_1]
			,	[Burn_OfferID_2]
			,	[Burn_OfferID_3]
			,	[Burn_OfferID_4]
			,	[Burn_OfferID_5]
		INTO #TargetingHistory
		FROM [CRM].[TargetingHistory] th
		WHERE EXISTS (	SELECT 1
						FROM #SendIDs s
						WHERE th.[SendID] = s.[SendID])

		CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #TargetingHistory ([CustomerGUID])
		CREATE NONCLUSTERED INDEX [IX_CustomerGUID] ON #TargetingHistory ([CustomerGUID], [SendID], [SendDate], [ReportingWindowClose]) INCLUDE ([Burn_OfferID_1], [Burn_OfferID_2], [Burn_OfferID_3], [Burn_OfferID_4], [Burn_OfferID_5])
		CREATE NONCLUSTERED INDEX [IX_FanID] ON #TargetingHistory ([FanID], [SendID], [SendDate], [ReportingWindowClose]) INCLUDE ([Earn_OfferID_1], [Earn_OfferID_2], [Earn_OfferID_3], [Earn_OfferID_4], [Earn_OfferID_5], [Earn_OfferID_6], [Earn_OfferID_7])
		
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch all targeted customers'
												
	/*******************************************************************************************************************************************
			3.		Fetch Control Proportions
	*******************************************************************************************************************************************/
				
		DROP TABLE IF EXISTS #GroupProportion
		SELECT	[SendID]
			,	[ControlFlag]
			,	[GroupProportion] = SUM(1.0) / SUM(SUM(1.0)) OVER(PARTITION BY [SendID])
		INTO #GroupProportion
		FROM #TargetingHistory
		GROUP BY	[SendID]
				,	[ControlFlag]
		ORDER BY	[SendID]
				,	[ControlFlag]
				
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch Control Proportions'

	/*******************************************************************************************************************************************
			4.		Fetch Login Data
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
				4.1.		Fetch Data by Day
		*******************************************************************************************************************************************/
				
			DECLARE @StartDate_Login DATE
				,	@EndDate_Login DATE

			SELECT	@StartDate_Login = MIN([SendDate])
				,	@EndDate_Login = MAX([ReportingWindowClose])
			FROM #SendIDs

			DROP TABLE IF EXISTS #AppLogins_All
			SELECT	[TrackDate] = CONVERT(DATE, al.[TrackDate])
				,	al.[CustomerGUID]
				,	[Logins] = COUNT(*)
			INTO #AppLogins_All
			FROM [Derived].[AppLogins] al
			WHERE EXISTS (	SELECT 1
							FROM #TargetingHistory th
							WHERE al.[CustomerGUID] = th.[CustomerGUID])
			AND CONVERT(DATE, al.[TrackDate]) BETWEEN @StartDate_Login AND @EndDate_Login
			AND al.[LoginTypeID] = 1
			GROUP BY	CONVERT(DATE, al.[TrackDate])
					,	al.[CustomerGUID]

			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #AppLogins_All ([CustomerGUID], [TrackDate])

		/*******************************************************************************************************************************************
				4.2.		Aggregate by Send ID
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #AppLogins
			SELECT	th.[SendID]
				,	th.[CustomerGUID]
				,	[LogInConverted] = 1
				,	[Logins] = COUNT(1)
				,	[Logins_Overal] = SUM(al.[Logins])
			INTO #AppLogins
			FROM #AppLogins_All al
			INNER JOIN #TargetingHistory th
				ON al.[CustomerGUID] = th.[CustomerGUID]
				AND al.[TrackDate] BETWEEN th.[SendDate] AND th.[ReportingWindowClose]
			GROUP BY	th.[SendID]
					,	th.[CustomerGUID]

			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #AppLogins ([CustomerGUID], [SendID])
												
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch Login Data'

	/*******************************************************************************************************************************************
			5.		Fetch Retailer Matched Transactions
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
				5.1.		Fetch Data by Day
		*******************************************************************************************************************************************/
				
			DECLARE @StartDate_MatchedTrans DATE
				,	@EndDate_MatchedTrans DATE

			SELECT	@StartDate_MatchedTrans = MIN([SendDate])
				,	@EndDate_MatchedTrans = MAX([ReportingWindowClose])
			FROM #SendIDs

			DROP TABLE IF EXISTS #PartnerTrans_All
			SELECT	[TranDate] = CONVERT(DATE, pt.[TransactionDate])
				,	pt.[FanID]
				,	pt.[IronOfferID]
				,	[TransactionAmount] = SUM(pt.[TransactionAmount])
				,	[CashbackEarned] = SUM(pt.[CashbackEarned])
				,	[Transactions] = COUNT(*)
			INTO #PartnerTrans_All
			FROM [Derived].[PartnerTrans] pt
			WHERE EXISTS (	SELECT 1
							FROM #TargetingHistory th
							WHERE pt.[FanID] = th.[FanID])
			AND CONVERT(DATE, pt.[TransactionDate]) BETWEEN @StartDate_MatchedTrans AND @EndDate_MatchedTrans
			AND pt.[CashbackEarned] > 0
			GROUP BY	CONVERT(DATE, pt.[TransactionDate])
					,	pt.[FanID]
					,	pt.[IronOfferID]

			CREATE CLUSTERED INDEX [CIX_FanID] ON #PartnerTrans_All ([FanID], [TranDate], [IronOfferID])

		/*******************************************************************************************************************************************
				5.2.		Aggregate by Send ID
		*******************************************************************************************************************************************/

			DROP TABLE IF EXISTS #PartnerTrans
			SELECT	th.[SendID]
				,	th.[CustomerGUID]
				,	[SpendConverted] = 1
				,	[Spend] = SUM(pt.[TransactionAmount])
				,	[Cashback] = SUM(pt.[CashbackEarned])
				,	[Transactions] = SUM(pt.[Transactions])
				,	[SpendOffersConverted] = CONCAT(MAX(CASE WHEN pt.[IronOfferID] = th.[Earn_OfferID_1] THEN '1' ELSE '-' END)
												,	MAX(CASE WHEN pt.[IronOfferID] = th.[Earn_OfferID_2] THEN '2' ELSE '-' END)
												,	MAX(CASE WHEN pt.[IronOfferID] = th.[Earn_OfferID_3] THEN '3' ELSE '-' END)
												,	MAX(CASE WHEN pt.[IronOfferID] = th.[Earn_OfferID_4] THEN '4' ELSE '-' END)
												,	MAX(CASE WHEN pt.[IronOfferID] = th.[Earn_OfferID_5] THEN '5' ELSE '-' END)
												,	MAX(CASE WHEN pt.[IronOfferID] = th.[Earn_OfferID_6] THEN '6' ELSE '-' END)
												,	MAX(CASE WHEN pt.[IronOfferID] = th.[Earn_OfferID_7] THEN '7' ELSE '-' END)
													)
			INTO #PartnerTrans
			FROM #PartnerTrans_All pt
			INNER JOIN #TargetingHistory th
				ON pt.[FanID] = th.[FanID]
				AND pt.[TranDate] BETWEEN th.[SendDate] AND th.[ReportingWindowClose]
				AND pt.[IronOfferID] IN (th.[Earn_OfferID_1], th.[Earn_OfferID_2], th.[Earn_OfferID_3], th.[Earn_OfferID_4], th.[Earn_OfferID_5], th.[Earn_OfferID_6], th.[Earn_OfferID_7])
			GROUP BY	th.[SendID]
					,	th.[CustomerGUID]

			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #PartnerTrans ([CustomerGUID], [SendID])
												
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch Retailer Matched Transactions'

	/*******************************************************************************************************************************************
			6.		Fetch Redemptions
	*******************************************************************************************************************************************/

		/*******************************************************************************************************************************************
				6.1.		Fetch Data by Day
		*******************************************************************************************************************************************/
				
			DECLARE @StartDate_Redemptions DATE
				,	@EndDate_Redemptions DATE

			SELECT	@StartDate_Redemptions = MIN([SendDate])
				,	@EndDate_Redemptions = MAX([ReportingWindowClose])
			FROM #SendIDs

			DROP TABLE IF EXISTS #Redemptions_All
			SELECT	[RedeemedDate] = CONVERT(DATE, r.[RedeemedDate])
				,	r.[CustomerGUID]
				,	r.[RedemptionType]
				,	r.[RedemptionPartnerGUID]
				,	r.[RedemptionOfferGUID]
				,	[CashbackUsed] = SUM(r.[CashbackUsed])
				,	[CashbackEarned] = SUM(r.[CashbackEarned])
				,	[Redemptions] = COUNT(*)
			INTO #Redemptions_All
			FROM [Derived].[Redemptions] r
			WHERE EXISTS (	SELECT 1
							FROM #TargetingHistory th
							WHERE r.[CustomerGUID] = th.[CustomerGUID])
			AND CONVERT(DATE, r.[RedeemedDate]) BETWEEN @StartDate_Redemptions AND @EndDate_Redemptions
			AND r.[CashbackUsed] > 0
			GROUP BY	CONVERT(DATE, r.[RedeemedDate])
					,	r.[CustomerGUID]
					,	r.[RedemptionType]
					,	r.[RedemptionPartnerGUID]
					,	r.[RedemptionOfferGUID]

			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Redemptions_All ([CustomerGUID], [RedeemedDate], [RedemptionPartnerGUID], [RedemptionOfferGUID])

		/*******************************************************************************************************************************************
				6.2.		Aggregate by Send ID - Overall
		*******************************************************************************************************************************************/
		
			DROP TABLE IF EXISTS #Redemptions
			SELECT	th.[SendID]
				,	th.[CustomerGUID]
				,	[RedemptionConverted] = 1
				,	[Redemptions] = SUM(r.[Redemptions])
				,	[RedemptionValue] = SUM(r.[CashbackUsed])
				,	[General_eGiftCardConverted] = MAX(CASE WHEN r.[RedemptionType] = 'Trade Up' THEN 1 ELSE 0 END)
				,	[General_eGiftCardRedemptions] = SUM(CASE WHEN r.[RedemptionType] = 'Trade Up' THEN 1 ELSE 0 END)
				,	[General_eGiftCardValue] = MAX(CASE WHEN r.[RedemptionType] = 'Trade Up' THEN r.[CashbackUsed] ELSE 0 END)
				,	[CashbackEarned] = SUM(r.[CashbackEarned])
			INTO #Redemptions
			FROM #Redemptions_All r
			INNER JOIN #TargetingHistory th
				ON r.[CustomerGUID] = th.[CustomerGUID]
				AND r.[RedeemedDate] BETWEEN th.[SendDate] AND th.[ReportingWindowClose]
			GROUP BY	th.[SendID]
					,	th.[CustomerGUID]

			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #Redemptions ([CustomerGUID], [SendID])

		/*******************************************************************************************************************************************
				6.3.		Aggregate by Send ID - Exposed offers
		*******************************************************************************************************************************************/
				
			DROP TABLE IF EXISTS #FocusRedemptions
			SELECT	th.[SendID]
				,	th.[CustomerGUID]
				,	[Focus_eGiftCardConverted] = 1
				,	[Focus_eGiftCardRedemptions] = SUM(r.[Redemptions])
				,	[Focus_eGiftCardValue] = SUM(r.[CashbackUsed])

				,	[RedemptionOffersConverted] = CONCAT(	MAX(CASE WHEN r.[RedemptionPartnerGUID] = th.[Burn_OfferID_1] THEN '1' ELSE '-' END)
													   ,	MAX(CASE WHEN r.[RedemptionPartnerGUID] = th.[Burn_OfferID_2] THEN '2' ELSE '-' END)
													   ,	MAX(CASE WHEN r.[RedemptionPartnerGUID] = th.[Burn_OfferID_3] THEN '3' ELSE '-' END)
													   ,	MAX(CASE WHEN r.[RedemptionPartnerGUID] = th.[Burn_OfferID_4] THEN '4' ELSE '-' END)
													   ,	MAX(CASE WHEN r.[RedemptionPartnerGUID] = th.[Burn_OfferID_5] THEN '5' ELSE '-' END)
													   )
			INTO #FocusRedemptions
			FROM #Redemptions_All r
			INNER JOIN #TargetingHistory th
				ON r.[CustomerGUID] = th.[CustomerGUID]
				AND r.[RedeemedDate] BETWEEN th.[SendDate] AND th.[ReportingWindowClose]
				AND r.[RedemptionPartnerGUID] IN (th.[Burn_OfferID_1], th.[Burn_OfferID_2], th.[Burn_OfferID_3], th.[Burn_OfferID_4], th.[Burn_OfferID_5])
			GROUP BY	th.[SendID]
					,	th.[CustomerGUID]

			CREATE CLUSTERED INDEX [CIX_CustomerGUID] ON #FocusRedemptions ([CustomerGUID], [SendID])
												
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Fetch Redemptions'
			
	/*******************************************************************************************************************************************
			7.		Remove existing data from final table
	*******************************************************************************************************************************************/
		
		DELETE rh
		FROM [CRM].[ResultsHistory] rh
		WHERE EXISTS (	SELECT 1
						FROM #SendIDs s
						WHERE rh.[SendID] = s.[SendID])
												
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Remove existing data from final table'

	/*******************************************************************************************************************************************
			8.		Load to final table
	*******************************************************************************************************************************************/

		INSERT INTO [CRM].[ResultsHistory]
		SELECT	th.[FanID]
			,	th.[CustomerGUID]
			,	th.[ClubID]
			,	th.[SendDate]
			,	th.[SendID]
			,	th.[ControlFlag]
			,	gp.[GroupProportion]
			,	[LogInConverted] = ISNULL(al.[LogInConverted], 0)
			,	[LogIns] = ISNULL(al.[LogIns], 0)
			,	[SpendConverted] = ISNULL(pt.[SpendConverted], 0)
			,	[SpendOffersConverted] = ISNULL(pt.[SpendOffersConverted], '-------')
			,	[Spend] = ISNULL(pt.[Spend], 0)
			,	[Transactions] = ISNULL(pt.[Transactions], 0)
			,	[Cashback] = ISNULL(pt.[Cashback], 0) + ISNULL(r.[CashbackEarned], 0)
			,	[RedemptionConverted] = ISNULL(r.[RedemptionConverted], 0)
			,	[Redemptions] = ISNULL(r.[Redemptions], 0)
			,	[RedemptionValue] = ISNULL(r.[RedemptionValue], 0)
			,	[General_eGiftCardConverted] = ISNULL(r.[General_eGiftCardConverted], 0)
			,	[General_eGiftCardRedemptions] = ISNULL(r.[General_eGiftCardRedemptions], 0)
			,	[General_eGiftCardValue] = ISNULL(r.[General_eGiftCardValue], 0)
			,	[RedemptionOffersConverted] = ISNULL(fr.[RedemptionOffersConverted], '-----')
			,	[Focus_eGiftCardConverted] = ISNULL(fr.[Focus_eGiftCardConverted], 0)
			,	[Focus_eGiftCardRedemptions] = ISNULL(fr.[Focus_eGiftCardRedemptions], 0)
			,	[Focus_eGiftCardValue] = ISNULL(fr.[Focus_eGiftCardValue], 0)
			,	[AddedDate] = GETDATE()
		FROM #TargetingHistory th
		LEFT JOIN #AppLogins al
			ON th.[SendID] = al.[SendID]
			AND th.[CustomerGUID] = al.[CustomerGUID]
		LEFT JOIN #PartnerTrans pt
			ON th.[SendID] = pt.[SendID]
			AND th.[CustomerGUID] = pt.[CustomerGUID]
		LEFT JOIN #Redemptions r
			ON th.[SendID] = r.[SendID]
			AND th.[CustomerGUID] = r.[CustomerGUID]
		LEFT JOIN #FocusRedemptions fr
			ON th.[SendID] = fr.[SendID]
			AND th.[CustomerGUID] = fr.[CustomerGUID]
		LEFT JOIN #GroupProportion gp
			ON th.[SendID] = gp.[SendID]
			AND th.[ControlFlag] = gp.[ControlFlag]
		WHERE al.[CustomerGUID] IS NOT NULL
		OR pt.[CustomerGUID] IS NOT NULL
		OR r.[CustomerGUID] IS NOT NULL
		OR fr.[CustomerGUID] IS NOT NULL
												
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Insert to final table'
		
		EXEC [Monitor].[ProcessLog_Insert] @StoredProcedureName, 'Finished'

		RETURN 0; -- normal exit here

	END TRY
	BEGIN CATCH		
		
		-- Grab the error details
			SELECT  
				@ERROR_NUMBER = ERROR_NUMBER(), 
				@ERROR_SEVERITY = ERROR_SEVERITY(), 
				@ERROR_STATE = ERROR_STATE(), 
				@ERROR_PROCEDURE = ERROR_PROCEDURE(),  
				@ERROR_LINE = ERROR_LINE(),   
				@ERROR_MESSAGE = ERROR_MESSAGE();
			SET @ERROR_PROCEDURE = ISNULL(@ERROR_PROCEDURE, OBJECT_NAME(@@PROCID))

			IF @@TRANCOUNT > 0 ROLLBACK TRAN;
			
		-- Insert the error into the ErrorLog
			INSERT INTO [Monitor].[ErrorLog] ([ErrorDate], [ProcedureName], [ErrorLine], [ErrorMessage], [ErrorNumber], [ErrorSeverity], [ErrorState])
			VALUES (GETDATE(), @ERROR_PROCEDURE, @ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @ERROR_SEVERITY, @ERROR_STATE);	

		-- Regenerate an error to return to caller
			SET @ERROR_MESSAGE = 'Error ' + CAST(@ERROR_NUMBER AS VARCHAR(6)) + ' in [' + @ERROR_PROCEDURE + '] at Line ' + CAST(@ERROR_LINE AS VARCHAR(6)) + '; ' + @ERROR_MESSAGE; 
			RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE);  

		-- Return a failure
			RETURN -1;

	END CATCH

	RETURN 0; -- should never run

END
GO
