USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_TriggerEmails_Refresh]    Script Date: 8/25/2026 9:45:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_EventPush_TriggerEmails_Refresh]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/*******************************************************************************************************************************************
		1.	Fetch customers set up for the mobile dormancy email
	*******************************************************************************************************************************************/

		DECLARE @ExecutionDate DATE = GETDATE()
		
		DROP TABLE IF EXISTS #Trigger_MobileDormantCustomers
		SELECT	mdc.[FanID]
			,	mdc.[CustomerGUID]
			,	[SendDate] = mdc.[MobileDormantDate]
		INTO #Trigger_MobileDormantCustomers
		FROM [Email].[Trigger_MobileDormantCustomers] mdc
		WHERE mdc.[MobileDormantDate] = @ExecutionDate

	/*******************************************************************************************************************************************
		2.	Fetch customers set up for the product monitoring email
	*******************************************************************************************************************************************/

	--	DECLARE @ExecutionDate DATE = GETDATE()
		
		DROP TABLE IF EXISTS #Trigger_ProductMonitoringCustomers
		SELECT	pmc.[CustomerGUID]
			,	pmc.[AccountType]
			,	pmc.[TriggerType]
			,	[SendDate] = pmc.[Date]
		INTO #Trigger_ProductMonitoringCustomers
		FROM [Email].[Trigger_ProductMonitoringCustomers] pmc
		WHERE pmc.[Date] = @ExecutionDate

	/*******************************************************************************************************************************************
		3.	Fetch customers set up for the welcome email
	*******************************************************************************************************************************************/

	--	DECLARE @ExecutionDate DATE = GETDATE()
		
		DROP TABLE IF EXISTS #Trigger_WelomeEmailCustomers
		SELECT	wec.[CustomerGUID]
			,	wec.[WelcomeEmailCode]
			,	wec.[WelcomeEmail]
			,	[SendDate] = wec.[Date]
		INTO #Trigger_WelomeEmailCustomers
		FROM [Email].[Trigger_WelomeEmailCustomers] wec
		WHERE wec.[Date] = @ExecutionDate
		
	/*******************************************************************************************************************************************
		4.	Combine emails
	*******************************************************************************************************************************************/
	
		DROP TABLE IF EXISTS #Trigger_Customers
		SELECT	pmc.[CustomerGUID]
			,	[TriggerEmail] = 'Product Monitoring'
			,	[TriggerEmailVariation] = 'Product Monitoring - ' + pmc.[TriggerType] + ' - ' + pmc.[AccountType]
			,	pmc.[SendDate]
		INTO #Trigger_Customers
		FROM #Trigger_ProductMonitoringCustomers pmc
		
		INSERT INTO #Trigger_Customers
		SELECT	mdc.[CustomerGUID]
			,	[TriggerEmail] = 'Mobile Dormancy'
			,	[TriggerEmailVariation] = 'Mobile Dormancy'
			,	mdc.[SendDate]
		FROM #Trigger_MobileDormantCustomers mdc
		
		INSERT INTO #Trigger_Customers
		SELECT	wec.[CustomerGUID]
			,	[TriggerEmail] = 'Welcome Email'
			,	[TriggerEmailVariation] = wec.[WelcomeEmail]
			,	wec.[SendDate]
		FROM #Trigger_WelomeEmailCustomers wec

	/*******************************************************************************************************************************************
		5.	Load all new transactions to final table for push to Braze
	*******************************************************************************************************************************************/

		INSERT INTO [WHB].[Braze_EventPush_TriggerEmail] WITH (TABLOCKX) (	[CustomerGUID]
																		,	[TriggerEmail]
																		,	[TriggerEmailVariation]
																		,	[SendDate]
																		,	[PushedToBraze])
		SELECT	tc.[CustomerGUID]
			,	tc.[TriggerEmail]
			,	tc.[TriggerEmailVariation]
			,	tc.[SendDate]
			,	[PushedToBraze] = 0
		FROM #Trigger_Customers tc
		WHERE NOT EXISTS (	SELECT 1
							FROM [WHB].[Braze_EventPush_TriggerEmail] epte
							WHERE tc.[CustomerGUID] = epte.[CustomerGUID]
							AND tc.[TriggerEmail] = epte.[TriggerEmail]
							AND tc.[TriggerEmailVariation] = epte.[TriggerEmailVariation]
							AND tc.[SendDate] = epte.[SendDate]);

END

RETURN 0
GO
