USE [WH_NWG]
GO
/****** Object:  StoredProcedure [WHB].[Braze_EventPush_Retail_Yearly_Refresh]    Script Date: 8/21/2026 4:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [WHB].[Braze_EventPush_Retail_Yearly_Refresh]	@StartDate DATE
															,	@EndDate DATE
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/*******************************************************************************************************************************************
		1.	Fetch the transactions from within the date range
	*******************************************************************************************************************************************/

	--	DECLARE @StartDate DATE = '2025-01-01', @EndDate DATE = '2025-12-31'

		DROP TABLE IF EXISTS #PartnerTrans;
		SELECT	pt.[ID]
			,	pt.[CustomerGUID]
			,	pt.[PartnerID]
			,	pt.[MerchantID]
			,	pt.[OIN]
			,	pt.[TransactionAmount]
			,	pt.[CashbackEarned]
			,	pt.[TransactionDate]
			,	pt.[IronOfferID]
			,	pt.[TransactionGUID]
			,	mt.[AccountGUID]
			,	mt.[CardGUID]
		INTO #PartnerTrans
		FROM (	SELECT	st.[ID]
					,	st.[CustomerGUID]
					,	st.[PartnerID]
					,	st.[MerchantID]
					,	st.[OIN]
					,	st.[TransactionAmount]
					,	st.[CashbackEarned]
					,	st.[TransactionDate]
					,	st.[IronOfferID]
					,	st.[TransactionGUID]
					,	st.[ExternalTransactionID]
				FROM [Derived].[PartnerTrans] st
				WHERE st.[TransactionDate] >= @StartDate
				AND CONVERT(DATE, st.[TransactionDate]) < @EndDate) pt
		INNER JOIN [WHB].[Inbound_MatchedTransactions] mt
			ON pt.[TransactionGUID] = mt.[TransactionGUID]
			AND (pt.[ExternalTransactionID] = mt.[TransactionExternalID] OR mt.[TransactionExternalID] IS NULL);

	/*******************************************************************************************************************************************
		2.	Enrich the data with types
	*******************************************************************************************************************************************/
				
		DROP TABLE IF EXISTS #PartnerTransEnriched;
		SELECT	pt.[ID]
			,	pt.[CustomerGUID]
			,	[TransactionType] =	CASE
										WHEN LEN(COALESCE(pt.[OIN], '')) > LEN(COALESCE(pt.[MerchantID], '')) THEN 'MFDD'
										ELSE 'PCLO'
									END
			,	[AccountType] = CASE WHEN cp.[CardProductDescription] = 'Travel Credit' THEN 'Travel Credit' ELSE 'Standard' END
			,	pt.[PartnerID]
			,	[OfferGUID] = iof.[HydraOfferID]
			,	pt.[TransactionAmount]
			,	pt.[CashbackEarned]
			,	pt.[TransactionDate]
			,	pt.[TransactionGUID]
			,	[FirstEarn] = 0
		INTO #PartnerTransEnriched
		FROM #PartnerTrans pt
		INNER JOIN [Derived].[Customer] cu
			ON pt.[CustomerGUID] = cu.[CustomerGUID]
		INNER JOIN [WH_AllPublishers].[Derived].[Partner] pa
			ON pt.[PartnerID] = pa.[PartnerID]
		INNER JOIN [Derived].[IronOffer] iof
			ON pt.[IronOfferID] = iof.[IronOfferID]
			AND cu.[ClubID] = iof.[ClubID]
		LEFT JOIN (SELECT	ca.[CardGUID]
						,	[CardProductID] = MAX(ca.[CardProductID])
					FROM [Derived].[Cards] ca
					GROUP BY ca.[CardGUID]) ca
			ON pt.[CardGUID] = ca.[CardGUID]
		LEFT JOIN [Derived].[CardProduct] cp
			ON ca.[CardProductID] = cp.[CardProductID]

	/*******************************************************************************************************************************************
		3.	Update all aggregated values for the customer
	*******************************************************************************************************************************************/

		DROP TABLE IF EXISTS #Braze_CustomerRetailLog
		SELECT	epr.[CustomerGUID]
			,	epr.[TransactionType]
			,	epr.[PartnerID]
			,	[Spend] = SUM(epr.[TransactionAmount])
			,	[CashbackEarned] = SUM(epr.[CashbackEarned])
			,	[FirstTransactionDate] = MIN(CONVERT(DATE, epr.[TransactionDate]))
			,	[LastTransactionDate] = MAX(CONVERT(DATE, epr.[TransactionDate]))
		INTO #Braze_CustomerRetailLog
		FROM #PartnerTransEnriched epr
		GROUP BY	epr.[CustomerGUID]
				,	epr.[TransactionType]
				,	epr.[PartnerID]

		CREATE CLUSTERED INDEX [CIX_CustomerTypePartner] ON #Braze_CustomerRetailLog ([CustomerGUID], [TransactionType], [PartnerID])

		TRUNCATE TABLE [CRM].[Braze_CustomerRetailLog_Yearly]
		INSERT INTO [CRM].[Braze_CustomerRetailLog_Yearly]
		SELECT	crl.[CustomerGUID]
			,	crl.[TransactionType]
			,	crl.[PartnerID]
			,	crl.[Spend]
			,	crl.[CashbackEarned]
			,	crl.[FirstTransactionDate]
			,	crl.[LastTransactionDate]
			,	[ModifiedDate] = GETDATE()
			,	[LastPushedToBraze] = NULL
		FROM #Braze_CustomerRetailLog crl

END

RETURN 0
GO
